[2022-05-13 23:45] nate-wandb commented on #3591
@etaoxing Thank you for the clarifications! I'll pass this on to our engineering team and follow up if they have any additional questions or if they are able to implement these asks in the product.

[2022-05-14 09:01] rohan-paul opened #3661 "Can not run in Ubuntu - getting "cannot import name '_psutil_linux' from partially initialized module 'psutil'""
### Describe the bug

As soon as I run `import wandb` get below error

[code]

### Additional Files

_No response_

### Environment

WandB version:

OS: Ubuntu 20.04

Python version: 3.9.12.64

### Additional Context

_No response_

[2022-05-14 13:22] ishitamed19 commented on #3148
@ramit-wandb Hi! Has there been any progress on this issue? I too am facing the same problem, wherein if I try watching the parameters of the model which is initialized using `torch.hit.script`, then the following error is thrown:
[code]

[2022-05-14 17:26] akbir commented on #753
+1 this would be helpful

[2022-05-15 00:21] kptkin commented on #3148
Hello @ishitamed19, thanks for your question. Unfortunately, we currently don't support `watch` with scripted modules, since we use `register_forward_hook` under the hood to track the parameters and torch does not support registering hooks on scripted modules as you can see from the error: `RuntimeError: register_forward_hook is not supported on ScriptModules`.

We are thinking of alternative ways

[2022-05-15 05:08] alexeyfsk opened #3663 "[CLI]: Launch - Missing Kubernetes Dependency"
### Describe the bug

The package is missing the Kubernetes dependency imported by `wandb/sdk/launch/builder/kaniko.py`.

Separately running `pip install kubernetes` resolves the issue.

[code]

### Additional Files

_No response_

### Environment

WandB version: `0.12.16`

OS: `MacOS 12.3.1`

Python version: `3.10. 3`

Versions of relevant libraries: `N/A`

### Additional Context

_No response_

[2022-05-15 08:03] Programmer-RD-AI opened #3664 "[CLI]: IndexError: too many indices for array: array is 0-dimensional, but 1 were indexed"
### Describe the bug

[code]

[code]

### Additional Files

_No response_

### Environment

WandB version: 0.12.15

OS: Ubuntu

Python version: 3.8

Versions of relevant libraries:

### Additional Context

_No response_

[2022-05-15 09:55] yc-cui opened #3665 "wandb.config is empty when I use hyperparameter sweeps[Q]"
I'm a beginner with wandb. It's a convenient tool and I like it. However, when I try the hyperparameter sweeps, I encouter a problem. I have no idea why the config is empty. The simple version of my code is as follows. As you can see, it's quite readable:
[code]
The sweep config is like:
[code]
However, I got this problem:
[code]
I tried printing the wandb.config, but I got `{}`.
following [2854#i

[2022-05-16 10:23] allanchan339 opened #3666 "[Q] passing arguments as a list for wandb sweeps"
I have tried to use sweep for some parameter tuning. I have some args. as a list. For example patch_size==[2,4]
I have modified the args parser for customized action as follow so that I can parse a string like "2 4"
[code]
However, when sweep agents start to work, sweeps send command as
[code]

While I expect to receive an command as
[code]

Last but not least, here is my yaml.

[code]

[2022-05-16 11:58] itssimon opened #3667 "[Feature]: Handle SIGTERM in sweep agent"
### Description

We run W&B sweeps on Kubernetes using AWS Spot instances. When these are about to be terminated by AWS, the AWS Node Termination Handler will drain the affected node, signalling to all running pods on that node to terminate gracefully using the SIGTERM signal.

Our training script handles this signal by stopping training, saving a checkpoint, finishing up logging to W&B and exitin

[2022-05-16 14:12] sofiapvcp commented on #753
+1

[2022-05-16 19:59] ramit-wandb commented on #3661
Hi Rohan,

Could you run the following 2 commands and retry this?

[code]

This should likely resolve this error.

Thanks,
Ramit

[2022-05-16 20:03] rohan-paul commented on #3661
Thanks v.much. That solved it...

[2022-05-16 20:39] ramit-wandb commented on #3665
Hi @cuiyc2000,

I'm sorry this is happening to you. Could you share the `debug.log` and `debug-internal.log` files associated with one of the runs where this is happening? It will give us some more visibility into your issue and will allow me to provide you better assistance.

Thanks,
Ramit

[2022-05-16 22:20] samuela opened #3670 "[Q] [docs] What's the difference b/w `wandb.log_artifact(*, name='foo')` and `wandb.Artifact('foo')`?"
According to https://docs.wandb.ai/guides/artifacts#quickly-log-your-first-artifact, it's possible to set the `Artifact` `name` in a `log_artifact` call. But according to https://docs.wandb.ai/guides/artifacts#log-a-new-version, this can also be done with `wandb.Artifact('foo')`. (Same goes for `type`.)

What is the difference between these two? Why are there two seemingly equivalent ways to accom

[2022-05-16 22:37] ramit-wandb commented on #3664
Hey @Programmer-RD-AI,

Thank you for reaching out to us. I noticed that the full stack trace was not present in the description above, I would highly appreciate it if you could share the full stack trace with us. Additionally, if you could share a minimal reproduction of this error as a script or a colab, that would be great as well.

Just to get us started on the debugging process, could you sha

[2022-05-16 23:12] ramit-wandb commented on #3666
Hi @allanchan339,

I looked into this, and I'm not sure I understand where you are facing an error over here. The reason you are not seeing the names `TwinsSVT_group_sweep` and `TwinsSVT_1d_group` is because the sweep config has defined `experiment_name` as `sweep` and `model_name` as `model`. I would suggest changing those to the correct names for this to take effect.

As for the args being passe

[2022-05-16 23:14] samuela opened #3672 "[CLI]: `Artifact.download()` fails silently when `wandb.init(..., mode="disabled")`"
### Describe the bug

`Artifact.download()` fails silently when wandb is `init`'d with `mode="disabled"`. I would expect that `mode="disabled"` would disable logging, but not silently prohibit the use of `Artifact`s.

How does one use an Artifact without logging or creating a new `wandb.Run`?

[code]

[code]

### Additional Files

_No response_

### Environment

WandB version: 0.12.11

OS: Ubuntu

[2022-05-16 23:30] samuela commented on #3672
Confirmed on 0.12.16 (latest version at time of writing) as well

[2022-05-16 23:35] ramit-wandb commented on #3667
Hi @itssimon,

Thank you for your feature request! I definitely see how this could be useful for you and other members of the W&B community. I'll go ahead and make an internal ticket to track this request - I'll keep you posted as I hear any news about the status of this request.

Thanks,
Ramit

[2022-05-17 01:46] Programmer-RD-AI commented on #3664
Hi,
I resolved this issue. Thanks. Best regards

[2022-05-17 05:14] allanchan339 commented on #3666
I am sorry that I have a bug in the args parser. It is fixed already. @ramit-wandb Thank you for the help.

[2022-05-17 05:39] vanpelt commented on #3670
Specifying a name in log_artifact is a shortcut.  The first argument to log_artifact is either an already defined artifact, created with wandb.Artifact (that will already have a name so the name argument would be ignored), or a file path.  When you pass a file path to log_artifact, it will construct the artifact and call add_file or add_dir.  So:

[code]

Is equivalent to:

[code]

[2022-05-17 06:31] samuela commented on #3670
Which method is preferred?

(IMHO it is v confusing when an API offers multiple ways of accomplishing a single thing.)

[2022-05-17 08:09] armanhar commented on #3672
Hey @samuela, by using wandb.init(mode="disabled") you will make wandb act like a NOOP which is used for testing your code. So this is expected behavior.

[2022-05-17 08:16] samuela commented on #3672
This is very confusing though since my tests expect to be able to receive files from `Artifact.download`. How should one test code that uses Artifacts?

I was under the impression that `mode="disabled"` acts as a sort of read-only mode. How does one accomplish a read-only mode `wandb.init`?

[2022-05-17 08:25] Jeffrey28 commented on #3659
[workspace link][(url](https://wandb.ai/jeffrey28/Intersection_Sumo_0001?workspace=user-jeffrey28)). You can find it here

[2022-05-17 08:28] Jeffrey28 commented on #3659
Right now I am trying wandb local. Though it also has many Incomprehensible issues in Ubuntu 20.04. But it works well in my macos desktop.

[2022-05-17 19:05] GeoffNN opened #3678 "[Q] Is it possible to load a run config without resuming a run?"
I'm trying to load model weights using `wandb.restore` for a run from a while back, but for this I need to load the `wandb.config` to initialize a model with the right architecture before loading the weights. Is there a way to do that similar to `wandb.restore`, without using `wandb.init(resume=True, run_id=...)` ?

[2022-05-17 20:23] ramit-wandb commented on #3405
Hi @karttikeya,

We have an internal ticket to resolve such an issue where we try to reestablish the connection with wandb using sync. I'll increase the priority on that feature for you.

Thanks,
Ramit

[2022-05-17 20:51] adefossez commented on #3424
@vanpelt thanks for looking into this. In my case, the extra bits would necessarily mean that I have to keep track somewhere of the version count.
However, most of my backend is just files on NFS, not a fancy dB, because it is the easiest to have on our research cluster, so keeping track of version number is not easy. I can't prevent the end user from deleting entire experiment folders, and later

[2022-05-18 00:44] ramit-wandb commented on #3625
Hey Giorgio,

Apologies for the delay here. I looked through your debug files, and unfortunately there does not seem to be anything that stands out. One quick question: Is it possible that your code is making calls to `wandb` after your call to `wandb.finish()`? That would be one way through which this error could occur.

Additionally, just to understand the behavior of this error, is this error h

[2022-05-18 01:00] ramit-wandb commented on #3678
Hi @GeoffNN,

You should be able to get the relevant files and config through our [Public API](https://docs.wandb.ai/guides/track/public-api-guide) as well. [This example](https://docs.wandb.ai/guides/track/public-api-guide#download-all-files-from-a-run) allows you to download your files from a given run, and similarly, you should be able to get your config through the API as:

[code]

Thanks,
Ram

[2022-05-18 02:36] vanpelt commented on #3670
If you're only logging a single directory as an artifact and don't need to specify additional metadata the one line approach is preferred to simplify your code.

If you need to add multiple files, directories, or tables the first approach is the only way.

[2022-05-18 03:45] jlehrer1 opened #3680 "[CLI]: `run.history()` missing nearly all data when logging with PyTorch Lightning"
### Describe the bug

When logging metrics to Wandb.ai with PyTorch Lightning's `WandbLogger` object and then fetching run history with `wandb.Api().run("...")`, nearly all data is missing from the returned `DataFrame`.

[code]

Interestingly, I am logging train metrics and validation metrics in precisely the same way. In fact the exact same logging method is being called in my PyTorch Lightning d

[2022-05-18 03:49] vanpelt commented on #3680
`.history` returns samples from the raw history.  If you want the full resolution history you should use [.scan_history](https://docs.wandb.ai/guides/track/public-api-guide#get-unsampled-metric-data)

[2022-05-18 10:34] nicofirst1 opened #3681 "[CLI]: Cannot log pytorch model with artifacts"
### Describe the bug

I'm trying to log my PyTorch model with an artifact, but i keep getting this error
`wandb: ERROR Error while calling W&B API: json: cannot unmarshal string into Go value of type map[string]interface {} (<Response [500]>)`

While it is labeled as error it does not raise any Exception, so the program continues but nothing is logged after that.

This is my python script
[code]

[2022-05-18 13:23] pierclgr opened #3682 "[CLI]: Wandb syncs different local runs to the same web app run"
### Describe the bug

I have a python code that, by using CPU only, creates an augmented training dataset. After this code is executed and completed, another python code starts a regular training on GPUs using the augmented dataset. wandb.init() is called in this last code, not in the augmentation one.

I also have a bash script that runs the augmentation script followed by the training script and

[2022-05-18 14:05] nicofirst1 commented on #3681
I found the error.
The metadata filed does not accept anything that is not a string.
I don't know if I missed some doc where this was specified or not, but it would be useful to have either a warning or an implicit cast of the kind
`metadata={k:str(v) for k,v in metadata.items()}`

[2022-05-18 15:10] ramit-wandb commented on #3547
Ah, I'm sorry to hear that. I'll report this to our engineering team and let you know how we can proceed over here.

Thanks,
Ramit

[2022-05-18 18:41] janosh opened #3684 "[Feature]: String replace across entire run data"
### Description

It's possible to rename individual fields like the name of a run via

[code]

This leaves other fields like `config.model` containing `foo` unchanged.

### Suggested Solution

Would be nice if there was a method to do string replacement across all data associated with a run.

Something like `JSON.stringify(all_run_data).replaceAll('old_str', 'new_str')`.

### Alternatives

_No res

[2022-05-18 20:18] pasassi opened #3685 "[Q] Problem with Proxy Scheme"
Hi, I would like to use wandb in my office computer at the university. Here we are behind a Proxy and when I try to login from the terminal I get the following error:

[code]
Thanks for your help!

[2022-05-18 20:45] vanpelt commented on #3682
Hey @pierclgr how are you calling `wandb.init`?  The only way I can think of runs being overwritten in the web app is if you're specifying an `id`.  The id must be unique for every run.  If any jobs shared the same `id` they would overwrite eachother.

[2022-05-18 20:47] vanpelt commented on #3682
The id is also set by the sweep agent in the WANDB_RUN_ID environment variable.  If your single agent is actually doing multiple runs you might need to unset the environment before spawning in new processes.  Here's a simple helper function to do that.

[code]

[2022-05-18 20:48] vanpelt commented on #3681
Thanks for reporting the bug!  We'll ensure we sanitize this on the client side.

[2022-05-18 21:42] MBakirWB commented on #3685
Hi Pasassi,

Our python library uses the python requests library for accessing our API. That library respects the standard proxy configuration environment variables, `HTTPS_PROXY` and `HTTP_PROXY`. Our script will use the proxy specified in these variables if they're set in the environment.

[2022-05-18 22:42] MBakirWB commented on #3684
Hi @janosh ,

Thank you for writing in. To make sure I understood you feature request, you would like to be able to pass a single string for all variables associated with the run object? .

[2022-05-18 23:38] vanpelt commented on #3684
This would be really tricky and error prone.  I assume you would only want to replace keys in the values of config or potentially the display name.  Just replacing all instances regardless of structure could easily get you in trouble.  Can you share more about the specific user story that's causing this to be a regular experience for you?

[2022-05-19 00:02] vanpelt commented on #3672
@samuela `mode="disabled"` returns mocked objects and prevents all network communication.  Since there's no way for us to know what you were actually downloading in this case you'll need add code to check if wandb is disabled (`if run.disabled:`) and then write some fixture data or custom file you can use for your assertions.

Can you share more about exactly what you're trying to accomplish?  If

[2022-05-19 00:27] vanpelt commented on #3424
@adefossez yeah it's complicated.  What about using wandb as the state storage system.  You could add something like "generations" to your config.  And then do something like:

[code]

[2022-05-19 03:33] samuela commented on #3672
Thanks for your response @vanpelt! I'm trying to accomplish something like the following: `step1.py` trains a model and saves the weights to an `Artifact`. `step2.py` loads said `Artifact` and does some downstream processing -- say fine-tuning on a held-out dataset or some evaluation of the model.

I'd like both scripts to have a `--dry-mode/--test` flag that tests the scripts (using the same code

[2022-05-19 03:36] samuela commented on #3672
Only tangentially related: The [wandb.init docs](https://docs.wandb.ai/ref/python/init) do not explain the differences between `mode="online"`, `mode="offline"`, and `mode="disabled"`.

[2022-05-19 06:37] balloch commented on #2801
What does this mean? this is causing trouble for me too

[2022-05-19 06:55] janosh commented on #3684
@vanpelt After looking through all the uploaded files for a run I think you're right. Updating strings in `config.yaml` and the display name are definitely the most important.

[code]

Though doing the replacement in HTML/JSON files uploaded to `media/*` would also be nice.

The use case is changing the names of hyper-parameters after the fact. E.g. two people working in a team logging runs with t

[2022-05-19 09:36] laralex commented on #1768
@klarakaleb You're a life-saver!

However, when I ran your snippet, I faced a "chesum invalid" assertion error. Solved it by using `ds.scan_data()` instead
[code]

[2022-05-19 11:29] BlinkDL opened #3687 "[CLI]: The loss curve keeps jumping around when there are lots of entries"
### Describe the bug

Please take a look at https://wandb.ai/blinkdl/RWKV-v2-RNN-Pile

Watch the latest run for 10 minutes and you will see the loss curve keeps jumping around.

Adding a EMA of 0.99 does not help.

### Additional Files

_No response_

### Environment

WandB version: 0.12.16

OS: Ubuntu 20

Python version: 3.9.9

### Additional Context

_No response_

[2022-05-19 12:21] pierclgr commented on #3682
I'm not specifying an id in wandb.init(). I'm trying to use the helper function that you gave to me, I'll keep you updated. Thanks :)

[2022-05-19 13:44] piraka9011 opened #3688 "[Feature]: Discord Webhook Alert"
### Description

An alert mechanism for Discord, just like Slack.

### Suggested Solution

I'm currently using something like this to send webhook alerts to Discord that behaves similar to the Slack alert.
Would be great if there was native integration in WandB for this.

[code]

### Alternatives

_No response_

### Additional Context

Happy to contribute, just need pointers on where this would li

[2022-05-19 13:47] pasassi commented on #3685
I have both variables set to the corresponding proxy. It was needed to run `pip` for example.

[2022-05-19 16:26] ramit-wandb commented on #3312
Hi @zimmer-m, @Hzzone!

The confirmation modal I described in the above message is ready. We are just getting ready to perform some testing, I'll let you know when this is deployed and ready to use!

Thanks!
Ramit

[2022-05-19 17:18] ramit-wandb commented on #3640
Hi @xy9485,

Could you share a link to the workspace where you see this? I'll share this with some folks in here and let you know next steps on how we can resolve this.

Thanks,
Ramit

[2022-05-19 17:27] vanpelt commented on #3685
They must have a "scheme", I.e. http:// or https://

[2022-05-19 18:01] pasassi commented on #3685
Thanks, I was having the following problem, my variables were set like this:

[code]

I included the "scheme" at the beginning and the problem was fixed:

[code]

[2022-05-19 18:18] ramit-wandb commented on #3687
Hi @BlinkDL,

Are you talking about the sharp spikes present in the graph? They seem to be coming from the fact that your gradients seem to be exploding, taking your loss to NaN. Your model seems to be logging a NaN loss, you might want to look into why that is happening.

Thanks,
Ramit

[2022-05-19 18:37] BlinkDL commented on #3687
No. Not the NaNs. Spend 10 minutes watching the latest run, and you will find the loss curve changes a lot after each update: https://wandb.ai/blinkdl/RWKV-v2-RNN-Pile/runs/3fo1pedl?workspace=user-

[2022-05-19 18:46] ramit-wandb commented on #3688
Hi @piraka9011!

Thanks for reaching out! We already have an internal request tracking this feature, but a timeline for this has not been established yet. If you would like to contribute, we have a contributing guide available [here](https://github.com/wandb/client/blob/master/CONTRIBUTING.md) to start off. Looks like `wandb/sdk/wandb_alerts.py` looks like a good place to start contributing.

Than

[2022-05-19 19:01] ash0ts commented on #3282
Hello @vadimkantorov,

We've made multiple updates in our latest releases of `wandb`. Can you update your version and see if these problems persist? Thank you!

[2022-05-19 19:07] ramit-wandb commented on #3547
Hi @eito-fis,

Quick question, how was this metric logged? Was this metric placed into the run using `run.summary[key]=value` instead of `run.log({key, value})`? This could be one potential reason for you to see this bug.

Thanks,
Ramit

[2022-05-19 19:40] ash0ts commented on #3512
​Hi @philippart-s ,

We wanted to follow up with you regarding your support request as we have not heard back from you. Please let us know if we can be of further assistance or if your issue has been resolved.
​
Best,
Anish
​

[2022-05-19 19:41] ash0ts commented on #3572
​Hi @Msameim181 ,

We wanted to follow up with you regarding your support request as we have not heard back from you. Please let us know if we can be of further assistance or if your issue has been resolved.
​
Best,
Anish
​

[2022-05-19 20:15] ramit-wandb commented on #3455
Ah, I see what you mean. Currently, there is no way to switch step out for another metric, since we use step to internally track when a metric is logged. If you really need to make sure that you see epoch at the bottom of your metric, for now I will suggest only making one call to `wandb.log` per epoch, so that step = epoch for all steps. This way, you will be able to see the epochs as needed.

Th

[2022-05-19 20:53] ash0ts commented on #3601
Hello @zplizzi,

Just wanted to check in to see if there any other suggestions that you would also like to see implemented regarding this.
Thank you!

[2022-05-19 20:55] zplizzi commented on #3601
nope, just fixing this would be great

On Thu, May 19, 2022 at 4:53 PM Anish Shah ***@***.***> wrote:

[2022-05-19 21:33] nate-wandb commented on #3387
@bruzwen were you able to try the above solution or do you have a link to the workspace where I can investigate this further?

[2022-05-19 21:36] philippart-s commented on #3512
Hi,
Sorry I'm travelling this week but I will try your proposition next week and give you the result.

[2022-05-19 21:59] nate-wandb commented on #3638
@ManiadisG Yes, I think this is the issue. Are you deleting a run and then quickly starting a new run with a same `run_id`? When you delete a run you actually have a few days to recover the run so it still exists on our database. This would cause this error if you tried to run to the same `run_id` again.

I understand if you have incorporated setting the `run_id` as a part of your workflow but thi

[2022-05-20 08:35] finlay96 commented on #2953
Hi there, seeing if there is any update on this feature request, as it would be really useful to have! Thanks

[2022-05-20 16:12] ramit-wandb commented on #2953
Hi there, unfortunately there has been no movement here as of now - this is planned to be implemented in the future, but a concrete timeline has not been established for it yet.

[2022-05-20 18:55] nate-wandb commented on #3591
Hi @etaoxing, I wanted to see if this solution would work for you in this case:

If you upload a 3D object multiple times to the same name it will actually show up in the UI with a step slider where you could scroll through each step.

So in this example you could iterate through each "frame" in your 3D scene and log it to the same name with `wandb.log()` and then use the step slider to visualize

[2022-05-20 21:17] samuela opened #3690 "[Q] How does `wandb.log` work with JAX's asynchronous dispatch?"
Many frameworks like JAX utilize [asynchronous dispatch](https://jax.readthedocs.io/en/latest/async_dispatch.html) for improved accelerator utilization. How does this work with `wandb.log`? If I log a metric on every batch does that have the effect of blocking execution until the logged metric's `DeviceArray` becomes available?

There's also the question of buffering network requests. Does every `

[2022-05-20 21:22] samuela commented on #3690
PyTorch follows a similar lazy execution model: https://pytorch.org/docs/stable/notes/cuda.html#asynchronous-execution

[2022-05-20 21:27] samuela commented on #3690
TF also has a similar concept: https://jonathan-hui.medium.com/tensorflow-eager-execution-v-s-graph-tf-function-6edaa870b1f1

[2022-05-21 08:55] AntonioLopardo opened #3692 "[App]: Range selector doesn't work on grouped runs on web app"
### Current Behavior

The range selector to switch between Min/Max, Std Dev, Std Err and  Sampels in grouped bar plots doesn't work on my project. We are using pykeen, a library to train models on knowledge graphs, and it logs a lot of metrics, so we end up with 450 charts on the  web interface. The bar plots initially worked without issues, but soon after we started using grouped runs to run mode

[2022-05-21 09:55] xy9485 opened #3693 "[Feature]: Zoom in/out charts"
### Description

I wonder if charts can be zoomed in and out like in Tensorboard by holding alt and then scrolling?
Sometimes I don't want the whole chart is fullfilled by those curves and zooming out a bit makes it more good looking.

### Suggested Solution

If this function is missing, I'm looking forward to seeing it in the feature.

### Alternatives

_No response_

### Additional Context

_No

[2022-05-22 04:30] siddk opened #3694 "[CLI] Breaking: `wandb.init()` crashes main Process w/ PyTorch TPU VMs on Google Cloud"
### Describe the bug

When using the new TPU VM paradigm on Google Cloud with the default PyTorch VMs (in this case, the `tpu-vm-pt.11` image), W&B completely fails. Running `wandb.init()` results in a `Aborted (core dumped)`.

I was able to trace this back to the core TPU code in the library here and specifically this function [`is_tpu_available()`](https://github.com/wandb/client/blob/master/wan

[2022-05-22 09:24] richardrl commented on #3639
@armanhar Thanks, I will try that.

[2022-05-22 15:54] nicolas-dufour opened #3696 "[CLI]: Image not getting logged when restart and offline mode"
### Describe the bug

I'm running experiments on a cluster with offline mode.  At the end of the training, i log some images on a test set. When i do not have to restart the training, everything works fine. After restarting, however, the images aren't logged any more.
I'm using wandb 0.12.4 and pytorch lightning 1.6.0

I've inspected the log folder and images are indeed logged in the wandb folder,

[2022-05-22 16:50] Msameim181 commented on #3572
No, nothing changed.
I tried these:
[code]

```wandb.tensorboard.patch(root_logdir="./tensorboard")```
and
```wandb.tensorboard.patch(root_logdir=f"./tensorboard/{run_name}")```

[2022-05-23 01:20] cuiyc2000 commented on #3665
[code]

Not good, no debug-internal.log in my computer.

[2022-05-23 06:26] GunjanPatel1108 opened #3697 "[Q]Hyper-parameter optimization for YOLOR"
How can i integrate wandb sweeps for hyper parameter optimization in yolor? Where can i add agent and should i need to create different .yaml file for defining hyper parameter? https://github.com/wandb

[2022-05-23 19:41] ramit-wandb commented on #3692
Hi @AntonioLopardo,

I'm sorry you are facing this issue. Could you share a link to the workspace where you see this so that I can investigate further and report this to our engineering team?

[2022-05-23 19:49] ramit-wandb commented on #3696
Hi @nicolas-dufour,

I'm sorry this is happening to you. Since you mentioned you do see these runs in your `wandb` folder, could you try running `wandb sync path/to/run/folder` as a first step at debugging this and checking if the images show up as expected in the run?

Additionally, it would be a great help if you could send me a link to a affected run, the associated `debug.log` and `debug-inter

[2022-05-23 20:26] MBakirWB commented on #3693
@xy9485 ,

Thank you for writing in. Scrolling and zooming into charts is currently supported, see this example [workspace](https://wandb.ai/wandb/plots) for functionality. In the   `Charts` panel you can highlight a region on of the line plots to zoom into. In the `Custom Charts` (see [here](https://docs.wandb.ai/ref/app/features/custom-charts) for our guide on custom charts) panel you can use yo

[2022-05-23 20:26] ramit-wandb commented on #3694
Hi @siddk!

I'm sorry you are facing this issue. Could you run the following 2 lines of code in the same environment as a first test:

[code]

I would like to see where exactly this error is coming from.

Thanks,
Ramit

[2022-05-23 20:30] siddk commented on #3694
Hey @ramit-wandb

[code]

It's definitely just the `tensorflow` dependency.

[2022-05-23 22:29] MBakirWB commented on #2074
@vishhvak ,

Thank you for writing in. We are not currently aware of any major issues with the latest release that prevents users from using `wandb.login() `or `wandb.init()`. Can you please share any error messages from your jupyter cells or from browser console.  Also please try uninstalling / reinstalling wandb to see if that provides a quick fix.

[2022-05-24 00:15] GeoffNN commented on #3678
This worked, thank you!

[2022-05-24 01:32] yc-cui opened #3700 "[CLI]: wandb: Network error (SSLError), entering retry loop."
### Describe the bug

weird problem, just

[code]
and I got
[code]
However, yesterday the code is running approciately. I didn't use any proxy in my computer.

### Additional Files

_No response_

### Environment

WandB version: 0.12.16

OS: Centos 7.6

Python version: 3.7.6

### Additional Context

_No response_

[2022-05-24 05:54] ramit-wandb commented on #3547
Hi @eito-fis,

Yes, I talked to some engineers on our end and looks like updating metrics directly through `wandb.summary` does not allow some keys to not form. As a test, could you try running `wandb.log` for this metric on another run and try again? I would like to confirm that this is the root cause.

We are looking into how we can resolve this formally, but if this is the issue, this might be

[2022-05-24 12:09] nate-wandb commented on #3387
Hi All, since we haven't heard back I'll go ahead and close this ticket on our side but feel to comment and tag me if you would like reopen this issue and we'll be happy to look into it more.

Thank you,
Nate

[2022-05-24 12:52] nate-wandb commented on #3697
Hi @GunjanPatel1108, you would have to define the hyperparameters in a .yaml file in the format used for sweeps. Here are some [examples](https://github.com/wandb/examples/tree/master/examples/keras/keras-cnn-fashion). Your model would have to be set to take any arguments that are going to be passed in from your sweep.yaml.

Next `wandb sweep sweep.yaml` from the command line.

Followed by `wandb

[2022-05-24 13:21] nate-wandb commented on #3646
Hi @pilviosol,
We were not able to replicate the issue. Could you possibly share a complete minimal replication for the issue? Perhaps in a Colab? Also, just to clarify, you are talking about the `AssertionError` correct? Not the `wandb` error?

Thank you,
Nate

[2022-05-24 13:36] ManiadisG commented on #3638
Hi @nate-wandb, thank you for checking.

No, I believe this is not the source of the problem, as it happened again this week (fortunately for our discussion) in a project that had not been active for over a month. Also, I am quite certain that I had increased the index past those of previous runs, so that exact run_id could not have been used previously.

From my experience with the issue, it look

[2022-05-24 15:07] ash0ts commented on #3572
Hello @Msameim181,

Are you able to provide a reproducible minimal example for us to look at? I am unable to run into the issues you mentioned with our various Tensorboard syncing methods.

Thank you!

[2022-05-24 15:42] nate-wandb commented on #3600
Hi @lemmersj, sorry for the delay on this. The 429 Network errors are being caused by rate limiting coming from our servers. [Here ](https://docs.wandb.ai/guides/track/limits)is some information on what our limits are and how to stay under them.

If it is necessary for you to log this often, another option would be to use `wandb.init(mode='offline')` and then sync your run folders with `wandb sync

[2022-05-24 19:27] Msameim181 commented on #3572
Sure,
These are the codes that I'm using in my projects:
WandB logger: [link](https://github.com/Msameim181/RSNA-Bone-Age/blob/main/utils/wandb_logger.py)
TensorBoard logger: [link](https://github.com/Msameim181/RSNA-Bone-Age/blob/main/utils/tensorboard_logger.py)

[2022-05-24 19:38] lemmersj commented on #3600
Hi Nate,

Thanks for the response. I will certainly take the number of sweeps and rate at which I'm sending data into account in future development.

Would you mind clarifying for me how the 429 errors lead to the issue where jobs continue to run after the agent (and therefore Slurm) has ended? Since it concerns shared resources, I'd like to have a bit more detail as to what's happening in case I

[2022-05-24 20:07] vanpelt commented on #3700
The error looks like clock skew.  Can you be sure the time is correct on whatever server you're connecting from?

[2022-05-25 02:26] firstelfin opened #3701 "[Q]Why wandb.watch(model, log="all") is not effective?"
`wandb.watch (model, log="all")` does not display weights and parameters, but only a blank box, and the following errors will be caused during training:
* wandb: ERROR Summary data exceeds maximum size of 10.4MB. Dropping it.
* wandb: ERROR Dropped streaming file chunk (see wandb/debug-internal.log)
ERROR:root:dropped chunk 413 Client Error: Request Entity Too Large for url:
* Exception: The wandb

[2022-05-25 02:33] cuiyc2000 commented on #3665
solved, shouldn't use `wandb.init()` in `__init__`

[2022-05-25 02:34] cuiyc2000 commented on #3700
sorry for my mistake. Indeed it's clock skew. @vanpelt @nate-wandb

[2022-05-25 05:55] rachmadionl opened #3702 "[CLI]: Hyperparameter Sweeps doesn't Work for Nested Configs if wandb is Run Locally"
### Describe the bug

When I tried nested configurations for hyperparmater sweeps locally, it returns `Invalid sweep config: invalid hyperparameter` error.
EDIT: I could run sweep with nested configuration if wandb is run from **cloud**. Apparently this bug appears only when I run wandb **locally**.

[code]

[code]

### Additional Files

The config files above was taken from the example here: http

[2022-05-25 09:21] allanchan339 opened #3703 "[Q] Cant find the checkpoint when using sweep"
Hi,
I am currently using a sweep to tune the batch size.
The sweep is written as :

[code]

The sweep run as something like this:
[code]
After a while, the log become
[code]

Therefore, I try to run a command manually:
[code]
It work fine. The log in wandb shows:
[code]
![image](https://user-images.githubusercontent.com/38370649/170228731-3a3c606a-016d-45bb-b060-d9d28bbfbf8b.png)

I have no idea w

[2022-05-25 09:44] tom-andersson opened #3704 "[CLI]: Save media images with leading zeros in local wandb dir to preserve logging order"
### Describe the bug

Currently, media logged to `wandb` appear to be saved locally in something like the following format: `<wandb_dir>/<run_id>/files/media/images/<media_name>_<step>_<media_id>.png`.

The issue is that the `<step>` part of the file name is just a plain integer. This means that when ordered alphabetically (as is the default in most systems), the files are not in the order they ar

[2022-05-25 11:42] armanhar commented on #3704
Hi @tom-andersson, thanks for the suggestion. I will file a ticket for your engineering team, so that they can consider this.

[2022-05-25 11:48] armanhar commented on #3702
Hey @rachmadionl, we started supporting nested configs recently, so it may be the case that the local version is not yet updated. I'll double-check and let you know.

[2022-05-25 12:31] HallerPatrick opened #3705 "[CLI]: RecursionError when printing vars on run object"
### Describe the bug

When accessing a run object through the API and calling the built-in `vars` function on it, and printing the result, it causes some infinite recursion logic.

Snippet comparabale to [docs](https://docs.wandb.ai/guides/track/log/logging-faqs#how-can-i-access-the-data-logged-to-my-runs-directly-and-programmatically):
[code]

[code]

### Additional Files

_No response_

### Envi

[2022-05-25 15:49] nate-wandb commented on #3701
Hi @firstelfin, sorry that you are encountering this issue. Histograms can get quite large and there is a cap of 10.4MB per each logging call. If you need to `log='all'` then I would recommend specifying `wandb.init(mode="offline")` and then using `wandb sync` (documentation found [here](https://docs.wandb.ai/ref/cli/wandb-sync)) to upload the run folder after the run has completed.

As far as the

[2022-05-25 16:03] jerofad commented on #1554
Hi seems this issues isn't fixed yet. I was also wondering why the plot using `wandb pr_curve` was not informative. What's the work -around  for this?

[2022-05-25 16:16] ramit-wandb commented on #3640
Hi @xy9485,

I wanted to follow up here - were you able to get the link where this issue is prevalent or were you able to resolve this? Please let us know if we can be of further assistance.

Thanks,
Ramit

[2022-05-25 19:54] ash0ts commented on #3512
I'm glad to hear that @philippart-s. Happy experimenting 🧑‍💻!

[2022-05-25 20:27] MBakirWB commented on #3705
Hi @HallerPatrick ,

I'll be glad to look into this for you. I am able to replicate the error on my end and will need time to review it. Are you attempting to print a specific attribute(s) of `run? In the mean time you could also utilize `print(dir(run))`.

[2022-05-25 20:43] MBakirWB commented on #3424
HI @adefossez ,

Following up this thread. Please let us know if you have any questions and/or require further assistance or feedback.

[2022-05-25 20:55] MBakirWB commented on #3670
Hi @samuela ,

We are closing this thread out. Please do reach out again if you require further assistance.

[2022-05-25 21:03] MBakirWB commented on #3682
Hi @pierclgr,

Reaching back out regarding this support request, do you have any updates or require further assistance?

[2022-05-25 21:10] MBakirWB commented on #3685
Hi @pasassi ,

I'm glad you were able to get this addressed. I will be closing this out but please do reach out again if you require additional support.

[2022-05-25 21:26] MBakirWB commented on #3680
Hi @jlehrer1,

I will be closing this out. Please do reach out again if you require additional support or assistance.

[2022-05-25 22:04] ramit-wandb commented on #3703
Hi @allanchan339,

That's very odd. Could you share the debug.log and debug-internal.log files associated to the run where this is happening? It will give us better visibility into this issue, and we will be able to assist you better.

These files should be present in the `wandb` folder in the directory where you ran your sweep agent.

Thanks,
Ramit

[2022-05-26 03:11] allanchan339 commented on #3703
The debug.log
[code]

[2022-05-26 03:12] allanchan339 commented on #3703
The debug internal log
[code]

[2022-05-26 03:15] allanchan339 commented on #3703
OK ... Second trial of the sweep.

The debug.log
[code]

The debug internal log
[code]

[2022-05-26 04:11] Dicer-Zz opened #3707 "[Q] How to reference previously defined variables in sweep's config.yaml"
What do I do if I need the variables to be related to previously defined variables in config.yaml?

For example, I have a variable that is the path to the output folder, and I want this to be related to some method that I defined earlier, like:

[code]

What should I do?

[2022-05-26 09:54] armanhar commented on #3707
Hey @Dicer-Zz, checking if this is possible.

[2022-05-26 14:19] armanhar commented on #3702
Hey @rachmadionl, I can confirm that the local versions don't yet support the feature. You can expect a new version of W&B Local next month which should include the update regarding nested configs.

[2022-05-26 17:50] HallerPatrick commented on #3705
Hey @MBakirWB,

I tried to look into the API through the python console to look at the dict of a `run` object. Out of habit am using `vars` instead of `dir`. This is probably not a urgent bug, I just wanted to let you know :)

[2022-05-26 18:02] zahidmb commented on #3531
Hi,
I am sorry for the late reply.

Yes, it is exactly what I want to do however in my scenario, **model A and model B have a different wandb.inti(...)**.

More specifically, these models are usually **trained separately** using different scripts. So, in my scenario, i am still unable to plot different models having different 'run' means wanb.init(....).

[2022-05-26 21:59] MBakirWB commented on #3681
Hi @nicofirst1 ,

We have documented this bug and will update you when it is addressed. Thank-you!

[2022-05-26 22:57] MBakirWB commented on #3693
Hi @xy9485 ,

I hope you were successful in being able to zoom in/out of charts. I will be closing this out, but please do reach out again if you have require any assistance with our platform.

[2022-05-26 23:01] ramit-wandb commented on #3694
Hey @siddk,

This looks like a tensorflow internal issue to me, which we can not fix on our end. I would suggest raising this to the tensorflow team [here](https://github.com/tensorflow/tensorflow/issues).

Thanks,
Ramit

[2022-05-26 23:21] AlanConstantine opened #3717 "[CLI]: Key Error in wandb.config when using wandb.sweep and wandb.agent for parameters tuning in pytorch"
### Describe the bug

wandb.config sometimes can not access the parameters when using wandb.sweep and wandb.agent, I followed this [instruction](https://colab.research.google.com/github/wandb/examples/blob/master/colabs/pytorch/Organizing_Hyperparameter_Sweeps_in_PyTorch_with_W%26B.ipynb#scrollTo=ZTRavPmr6cwU) as well as the [document](https://docs.wandb.ai/guides/sweeps/python-api) but still enco

[2022-05-27 01:58] Dicer-Zz commented on #3707
OK, so is there a recommended way to implement this requirement?

[2022-05-27 06:13] firstelfin commented on #3701
Hi @nate-wandb,  thank you for your reminder. According to your and @Angelica's tips, I have made the following attempts:
|Operation|Out iteration|Offline|Log_freq|Criterion|Visible|Error|
|---|---|---|---|---|---|---|
|epx1|1|1|1|1|True| |
|exp2|1|0|1|1|True| |
|exp3|0|0|1|1|True|Error1|
|exp4|0|0|1|0|True| |
|exp5|0|0|0|1|True|Error1|

**Experiment description**
* **Error1**: wandb: ERROR Summar

[2022-05-27 09:28] claudio9russo7 commented on #3319
@ramit-wandb

[2022-05-27 11:59] armanhar commented on #3672
@samuela sorry about the late response. I'll update the docs to include the descriptions for the different modes. As for the use-case you mentioned, that is currently not possible so I'd suggest using the workaround you mentioned.

[2022-05-27 12:13] awf commented on #2981
The documentation [here](https://docs.wandb.ai/guides/data-vis/log-tables#add-data) also caused me to believe that `add_data` did something.

And here https://docs.wandb.ai/guides/data-vis/log-tables#log-a-table-to-a-run

Please do fix the doc if the actual fix is going to take time.

[2022-05-27 12:15] awf commented on #2981
The specific use-case of interest to me is to log ~100 numbers (layer statistics, say) per minibatch.

[2022-05-27 12:34] pkuderov commented on #2282
@anmolmann Could you, please, point me where in the docs such division is actually recommended?

I also would like to find discussions on the topic as I don't get such choice and want to see any pros of selecting CLI approach with the sweep ID copy-and-paste shenanigans over clean Python API. So, if you can point me to the right direction, I'd be grateful!

[2022-05-27 13:39] Tomiinek opened #3719 "[Q] Moving runs between projects"
Hello, I have two projects: `a` and `b`

I would like to pull a run with ID `12345678` from `a` and push to `b` (because of archiving), is something like this possible? Or, is it possible to move a run from one project to another project using CLI or API?

I tried something but I did not figure out the right way to do so. First, I created a directory and initialized it with `wandb init -e me -p b

[2022-05-27 15:25] nate-wandb commented on #3697
Hi @GunjanPatel1108 I wanted to see if you had a chance to try the above solution or if there was anything I could help clarify?

[2022-05-27 16:05] pilviosol commented on #3646
Hi,
I cannot retrive the logs and the error since the day after the error
disappeared and then I deleted the “runs” to clear space. Anyway now
everything is working fine.

Thank you, bye
Il giorno ven 27 mag 2022 alle 17:24 nate-wandb ***@***.***>
ha scritto:

[2022-05-27 17:17] ash0ts commented on #3319
@claudio9russo7

Unfortunately, we don't have a fix out yet with our integration for versions 0.12.10+. We have a fix in the works that would allow this to work but would change certain naming conventions in our integration that we haven't committed to yet: https://github.com/AyushExel/yolov5/tree/resume_fix. We will let you know as soon as this is completed!

[2022-05-27 17:29] claudio9russo7 commented on #3319
@ash0ts Thank you very much for the reply. So i will continue to use 0.12.10 in the meantime. Thanks

[2022-05-27 17:37] ramit-wandb commented on #3696
​Hi @nicolas-dufour,

We wanted to follow up with you regarding your support request as we have not heard back from you. Please let us know if we can be of further assistance or if your issue has been resolved.

Best,
Weights & Biases
​

[2022-05-27 17:38] jmhb0 opened #3720 "[Feature]: embedding projector - display image sprites similar to tensorboard"
### Description

The embedding projector currently displays scatterplots, and if the data have an associated image, you can view them  by hovering over each data point, like the digits example here ([here](https://wandb.ai/timssweeney/toy_datasets/reports/Feature-Report-W-B-Embeddings-Projector--VmlldzoxMjg2MjY4#digits-dataset-(1797-records-x-64-dimensions---10-class-classification-w/-media))).

B

[2022-05-27 17:48] ramit-wandb commented on #3717
Hi @AlanConstantine,

That is definitely very odd. Would it be possible for you to share a reproduction of this issue as a Google Colab Notebook? It will help me start off my investigation on my end.

Additionally, the `debug.log` and `debug-internal.log` files associated with the affected runs would be very helpful.

As for The `TypeError` you see, it might be possible that your call to your PyTo

[2022-05-27 17:51] ramit-wandb commented on #3719
Hi @Tomiinek,

We have a guide on our documentation on how to move runs between projects. [Here](https://docs.wandb.ai/ref/app/features/teams#move-runs-to-a-team) is a section to our docs regarding this for your convenience.

Thanks,
Ramit

[2022-05-27 21:16] ramit-wandb commented on #3625
​Hi Giorgio, since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-05-28 01:09] AlanConstantine commented on #3717
I reopened my Jupyter and it runs normally now. But as for the ```TypeError```, if my function args missing "src", how can it run and finish the first round? (Actually, I check with my function and I am sure I have passed the "src").
Anyway, I just figured out this bug, thank you!

[2022-05-28 05:26] Tomiinek commented on #3719
@ramit-wandb Thanks for your prompt reply.

However, it does not seem to answer my question. I can move the runs via the client GUI, but:

I am thinking of automation of run archiving during model deployment.

[2022-05-28 07:57] chinoll opened #3723 "[Q] How to continue recording data after the status of wandb changes to crash?"
The network on my GPU server crashed for a period of time, and then my wandb status became crash, but the process did not crash. How can I make wandb continue to record data?

[2022-05-28 10:41] MohamedOsman1998 commented on #1453
hey guys i still run into this to this day, seems likely with longer runs, I think it is the resampling that you guys are doing but it also happens with data-points that are fewer than 5k for sure, just as @6etacat reports. What kind of fix did you guys arrive at because this is definitely still an ongoing issue for me

[2022-05-28 19:20] jin0g commented on #2039
I'm facing the same problem using the latest version of wandb. My internet environment gets worse every night, and just at that time my Python program seems to stop responding "wandb: Network error (ConnectionError), entering retry loop", I would like to if we could offer any solution.

[2022-05-28 22:30] KacperKazan commented on #1093
Hi, I've also arrived here by searching how to log media objects by epoch rather than step. This custom x-axis feature in the media panel would really be useful!

[2022-05-29 01:41] cuiyc2000 opened #3725 "[Q] How to continue run the unfinished specific sweep?"
I have several successful runs in a sweep. However, somehow I encountered a failed run for some unknown error. It's hanging for waiting the job, so I killed the process. How could I continue the run only using the unfinished config without restart the whole sweep?  I'll be very grateful for your help.

[2022-05-29 06:23] MohamedOsman1998 commented on #1453
For anyone googling this, I fixed this by editing the charts and reverting to the original step on the x axis instead of any other metric like wall time or a user defined step, which I had been using.

[2022-05-29 07:34] mcourteaux opened #3726 "[Feature]: Quick log-scale toggle for x-axis."
### Description

Seeing progress in the later stages of learning is often more interesting to inspect on a log-scale for the step/epoch.

### Suggested Solution

In the x-axis selector widget on top (next to the search panels field), have a quick toggle for making the horizontal axis logarithmic.

### Alternatives

Right now, I have to go manually set every chart manually on log-scale for the x-ax

[2022-05-29 11:42] azinonos commented on #3455
Hi @ramit-wandb , sorry for the late response. To be honest this hasn't really been resolved, the issue still remains that a) You can use a custom x-axis with the epochs and b) when you log things independently, you can't sort those images in a specific order. These would be features for wandb to implement.

[2022-05-30 01:47] vgoklani commented on #2007
<bounce>

[2022-05-30 12:46] ayulockin commented on #3646
Thanks for the update @pilviosol. If you find any issue please reopen this issue.

[2022-05-30 13:26] AntonioLopardo commented on #3692
Sorry for not answering earlier, I made new plot and now they work the chart auto-generated by wandb when logging metrics still have this issue. How can I share the workspace?

[2022-05-30 14:38] realCrush commented on #3343
Same issue.

[2022-05-31 03:35] armanhar commented on #1093
Thanks for writing in @KacperKazan, I'll notify you once we have any updates on this.

[2022-05-31 07:05] armanhar commented on #3726
Hey @mcourteaux, thanks for the suggestion! I'll file a ticket for your request.

[2022-05-31 09:00] David-Biggs opened #3728 "[Q] How to plot val losses during training?"
Thanks for an awesome tool!! I have a question regarding plotting validation losses:

val/loss is not an option in the drop-down menu for adding a pane:

![image](https://user-images.githubusercontent.com/64862726/171134791-6c07f60c-1679-45b4-b5b2-9677f004280e.png)

But the val losses are logged.  A section of the output.log file is shown below where the val losses are highlighted:

![image](https

[2022-05-31 11:46] SvetoslavKuzmanov opened #3729 "[Feature]: Allow for python client to work with run groups"
### Description

In the web client a user is able to add a `tag` for an existing run group. It would be nice for the python client to be able to query such groups. For example if a group represents a pipeline of runs (load -> process -> train -> evaluate) a user might want to tag such pipeline with `experiment` tag when the pipeline is finished. And later query all  groups (pipelines) with the `ex

[2022-05-31 13:16] lesliewandb commented on #3343
Hi @realCrush, I have further increased the priority on this ticket. I'll let you know if I have any updates

[2022-05-31 13:19] realCrush commented on #3343
Thank you Leslie😊

[2022-05-31 15:23] neilfendley commented on #1700
+1

[2022-05-31 16:41] MBakirWB commented on #2074
Hi @vishhvak ,

As we have not heard back from you, I will be closing out this thread. Please do reach out again if you run into additional issues with out latest release.

Regards,

Mohammad

[2022-05-31 17:19] nate-wandb commented on #3720
Hi @jmhb0, thank you for all the details in your request. I'll submit this to our engineering team and follow up with you once they have had a chance to look over the request.

[2022-05-31 18:20] ramit-wandb commented on #3455
Hi @azinonos,

I have created a feature request to allow for custom sliders for a given media object. I'll keep you updated on the status of its progress!

Thanks,
Ramit

[2022-05-31 19:22] nate-wandb commented on #3638
Hi @ManiadisG, could you show an example of what one of your `run_id`'s looks like so I can try to replicate the issue?

You are saying that if a `run_id` has the same non-numerical prefix then that prefix cannot be used again? For example if you used "testrun1" then you could not use "testrun2"?

Thank you,
Nate

[2022-05-31 19:34] ramit-wandb commented on #3640
​Hi @xy9485 , since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-05-31 19:55] ManiadisG commented on #3638
Hi @nate-wandb.

I just tested this on a project that has been inactive for about a month, with a prefix that started throwing this error around March.

The prefix of the `run_id` is _neg_cont_. The full `run_id` is then _neg_cont_XXXX_, where _XXXX_ is a number that increases with each run. I just tried _neg_cont_0125_ to _neg_cont_0130_, none of which existed previously and all threw the same er

[2022-05-31 20:23] ramit-wandb commented on #3723
Hi @chinoll,

Thanks for writing in! If your process was still active, your metrics should be stored locally in your `wandb` folder. You should be able to use `wandb sync` in order to sync your run to the cloud. As a first step, could you try that?

Thanks,
Ramit

[2022-05-31 20:24] nate-wandb commented on #3638
@ManiadisG, is there any chance that those `run_id`'s existed at any point in that project? I just tested both of the `run_id`'s you sent and didn't have any issue running to those id's which leads me to believe that the issue is specific to using those id's with your project.

These `run_id`'s may persist for longer than 7 days. That was just my hypothesis based on the fact that you can recover r

[2022-05-31 22:48] ManiadisG commented on #3638
@nate-wandb I tried an arbitrarily large suffix and it worked.

In my code the XXXX suffix increases incrementaly by reading existing runs locally or in the cloud. It finds the biggest suffix XXXX and adds 1. Somehow, after each failed run, the increment also fails. So, for instance, after I try _neg_cont_0130_ and it throws an error, it primes _neg_cont_0131_ to also fail, despite 0131 never havi

[2022-05-31 22:50] MBakirWB commented on #3682
Hi @pierclgr ,

As we have not heard back from you, we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-05-31 23:00] ramit-wandb commented on #3729
Hi @SvetoslavKuzmanov,

We allow for retrieving individual groups as follows:

[code]

Does this not work for your use case? Please let me know if you are looking for something specific.

Thanks,
Ramit

[2022-05-31 23:20] samuela commented on #3690
Indeed, I am observing a near 2x slowdown when calling `wandb.log` between every batch. Is this performance gotcha documented anywhere?

[2022-05-31 23:30] ramit-wandb commented on #3725
Hi @cuiyc2000,

You should simply be able to call `wandb agent` the way you did before to continue your sweep.

[2022-05-31 23:55] vanpelt commented on #3638
@ManiadisG there's nothing fancy going on in our backend that could explain this behavior.  You'll receive a 409 conflict if an id is already in our DB, or if two process simultaneously try to update the same id.  Is it possible you have multiple threads or parallel processes that are doing this increment at the same time?

[2022-06-01 00:05] vanpelt commented on #3690
@samuela we do not block on any network calls.  When `wandb.init` is called we spawn a separate process on the same machine you're logging from which queues and batches requests asynchronously streaming them to our server.

When you call `wandb.log` we need to know what values you're logging so if you pass tensors to `wandb.log` we attempt to materialize them which could incur a slowdown as data i

[2022-06-01 00:09] vanpelt commented on #3690
Specifically for JAX [we call](https://github.com/wandb/client/blob/b67be917facb1ccac993a7898c72c00cb8a6aad9/wandb/util.py#L472-L475) `jax.device_get(obj)` if a value in call to `wandb.log` is a JAX tensor.  You can find other examples of [materializing lazy tensors here](https://github.com/wandb/client/blob/b67be917facb1ccac993a7898c72c00cb8a6aad9/wandb/util.py#L575-L599).

[2022-06-01 00:55] samuela commented on #3690
Thanks for explaining @vanpelt! This def helps me navigate using wandb appropriately. I'll stick to only calling `wandb.log` at the end of epochs for now.

[2022-06-01 01:40] rachmadionl commented on #3702
@armanhar understood, I'll be waiting for the next version to release then! I'll close the issue for now.

[2022-06-01 06:54] adefossez commented on #3424
Storing state in wandb is possible however it still breaks the predictability of wandb ids without calling first its API.
I still think it is a strange choice not to have any support for deletion of the history, especially since the init API let us reuse an ID with "resume=false". Why provide this resume=false possibility if the support for it is broken ? If resume = false then clearly the metrics

[2022-06-01 09:23] dongzhuoyao commented on #1093
really need it, pls prioritize this feature.

[2022-06-01 10:10] SvetoslavKuzmanov commented on #3729
@ramit-wandb Thanks for the response, but the request is about using tags on groups of runs.

[2022-06-01 17:27] samgelman opened #3733 "[Q] Disable symlinks "latest-run""
Hi! I'm using HTCondor, and the "latest-run" directory symlink is causing problems with file transfer. Is there a way to disable or prevent W&B from creating this symlink? Thanks!

[2022-06-01 20:12] anmolmann commented on #3572
@Msameim181 , Could you try syncing to new run id: `wandb sync [PATH] --id new_run_id`?
- Generate the new run id via `wandb.util.generate_id()` first.

[2022-06-02 05:13] vansin opened #3737 "[Q] Could wandb give some discount for mmdetection user to Subscriptions, and support the Alipay to pay?"
Could wandb give some discount for mmdetection user to Subscriptions, and support the Alipay to pay?

[2022-06-02 07:10] David-Biggs commented on #3728
Hi @nate-wandb, thanks for following up.

When I wrote the issue I could not find val/loss in the dropdown. However, a few days later, it appeared.

Thanks again!

[2022-06-02 07:19] cuiyc2000 commented on #3725
If I delete a run, is wandb gonna rerun it with its config？

[2022-06-02 07:44] chinoll commented on #3723
thanks,

[2022-06-02 08:14] armanhar commented on #3733
Hey @samgelman, I believe it is not possible. But I'll file a ticket for an option to disable the symlink creation.

[2022-06-02 10:08] Msameim181 commented on #3572
Yes, I stored all of the runs log files, Also ```tfevents```.

So, I chose one of the previous runs, I looked for ```run_id``` from the runs page.
The run link: https://wandb.ai/rsna-bone-age/Bone-Age-RSNA/runs/1uy2gz0y
The command:
[code]

And still nothing on the run page:
![image](https://user-images.githubusercontent.com/25700939/171607028-ba5756c2-6e5c-4d92-8e5a-ebc4e961b6e2.png)

Any idea?

[2022-06-02 10:13] Msameim181 commented on #3572
Yes, I stored all of the runs log files, Also ```tfevents```.

So, I chose one of the previous runs, I looked for ```run_id``` from the runs page.
The run link: https://wandb.ai/rsna-bone-age/Bone-Age-RSNA/runs/1uy2gz0y
The command:
[code]

And still nothing on the run page:
![image](https://user-images.githubusercontent.com/25700939/171607028-ba5756c2-6e5c-4d92-8e5a-ebc4e961b6e2.png)

Any idea?

[2022-06-02 11:40] zxy960307 commented on #1589
I also want to know how to solve

[2022-06-02 13:30] BlinkDL commented on #3687
Could you downsample the loss using a box filter instead of simple subsampling?

[2022-06-02 17:01] ramit-wandb commented on #3694
​Hi @siddk, since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-06-02 20:43] ramit-wandb commented on #3696
​Hi @nicolas-dufour, since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-06-02 20:45] #3696 closed

[2022-06-02 21:21] ramit-wandb commented on #3692
Hey @AntonioLopardo,

You can share the workspace by simply sharing the link you use to access the workspace. We should be able to look into it then.

Thanks,
Ramit

[2022-06-02 21:56] samgelman commented on #3733
Thanks for filing a ticket. Having this option would definitely makes things easier for me!

[2022-06-02 22:07] #3717 closed

[2022-06-02 22:27] kptkin commented on #1994
@zplizzi glad to hear that this solved your issue. Btw we have a pre-release where we have service activated by default if you want to try it out: https://docs.wandb.ai/guides/track/advanced/distributed-training#wandb-service-beta

[2022-06-02 22:48] ramit-wandb commented on #3737
Hi @vansin,

I saw the team mmdetection consists of users with Academic Emails. Is this for an Academic or Commercial purpose?

[2022-06-03 00:17] vansin commented on #3737
most of users are Academic purpose

[2022-06-03 15:48] rahulsiripurapu opened #3741 "[App]: Filter option "NOT IN" doesn't work correctly"
### Current Behavior

Within a particular group, selecting the filter option "NOT IN" with a set of options doesn't show any run. But using each of the options individually with "is not" works.

### Expected Behavior

The runs shown for  "NOT IN a,b,c" should be same as "is not a"+"is not b"+"is not c"

### Steps To Reproduce

_No response_

### Screenshots

_No response_

### Environment

OS: Mac

[2022-06-03 22:08] siddk commented on #3694
Closing - as @ramit-wandb suggested, this seems to be a Tensorflow/core TPU VM issue.

It'd be nice to enable/document this fix for others though:

[code]

[2022-06-04 03:45] anil-gurbuz opened #3743 "[CLI]:"
### Describe the bug

Last 3 lines of dict_from_config_file(filename, must_exist=False): function expects ["value"] as second level key in config.yml files. I believe that's a bug as removing ["value"] part in the code got it working.

[code]

[code]

### Additional Files

config.yml file below

[config.zip](https://github.com/wandb/client/files/8836957/config.zip)

### Environment

WandB version:

[2022-06-04 12:25] zahidmb commented on #3531
Thanks for your reply. I am not sure whether I perfectly got your point or not. What I understood is that I can resume a previous run so the next run will resume its `__step_` value from the end of the last run.

However, in my scenario,

1. I have already **completed models training** means all models have **finished their runs**. So, how can I change the values of a completed/finished run (means

[2022-06-04 23:42] drscotthawley commented on #2981
Hi Just to chime in:
 I found this page because I'm trying to use the [Embeddings Projector](https://docs.wandb.ai/ref/app/features/panels/weave/embedding-projector) but am noticing that my embeddings aren't updating as my model trains (unlike all the other graphs & media I log). Instead only the first set of embeddings is displayed. And unlike the Audio media, there's no "Step=" slider under the

[2022-06-06 08:36] benjamincburns commented on #3597
@dmitryduev has there been any progress on this issue?

If it helps any, it seems to be an issue related to pynvml and NVIDIA drivers later than version 472.12. That is, any package that calls `pynvml.nvmlInit` seems to cause a BSOD for me. This includes tools like `nvitop`, etc.

[2022-06-06 10:07] armanhar commented on #3741
Hey @rahulsiripurapu, thanks for writing in. We are aware of this issue. I'll bump up the priority of the ticket and notify you once there are updates on this.

[2022-06-06 12:11] benjamincburns commented on #3597
@dmitryduev on further investigation, I think the issue is that the `wandb` sdk bundles an old version of `pynvml` in `wandb.vendor.pynvml`. Rather than bundling the old version, `wandb` should instead depend on [`nvidia-ml-py`](https://pypi.org/project/nvidia-ml-py/) which is maintained by nvidia and updated regularly (last update was 19 May 2022).

[2022-06-06 12:24] nate-wandb commented on #3591
Hi @etaoxing, thank you for the additional context. I'll put in this feature request with our engineering team and follow up with you if this gets selected for development.

[2022-06-06 19:08] MBakirWB commented on #3705
Hi @HallerPatrick ,

We have identified the bug that causes this recursion. Thanks again for bringing it to our attention. I will be submitting a ticket to our engineering team to address and will update you when a fix is in place.

Regards,

Mohammad

[2022-06-06 19:10] ramit-wandb commented on #3725
Depends on the search strategy - if you were using a `grid` search, yes the agent will create a run for the exact same run configuration (since a grid search is an exhaustive search of your config). `bayes` and `random` search sample from a distribution, so there is a probability to run the same config, but for most configs to control a neural network, the chance of you reaching the same config is

[2022-06-06 21:00] ramit-wandb commented on #3687
I'll definitely go ahead and create a feature request for this.

[2022-06-06 22:20] Manalelaidouni opened #3748 "[CLI]: KeyError: '__getstate__' when running code with Wandb"
### Describe the bug

I get this error while trying to iterate over the Dataloader object while using WandB, my code runs fine when I don't use WandB (set `use_wandb` to `False`).

This is not relevant to the [[Multi-GPU training with wandb](https://github.com/wandb/client/issues/2007)](https://github.com/wandb/client/issues/2007) ticket since I’m training on a single GPU.

Indexing  `train_datase

[2022-06-06 22:47] ramit-wandb commented on #3719
Hey @Tomiinek,

This is currently not possible through the API or CLI. This is a planned feature for the future, and I have increased the priority on it for you.

Thanks,
Ramit

[2022-06-07 02:37] guglielmocamporese opened #3751 "wandb mobile/desktop app?"
Are you planning to develop a mobile/desktop app for wandb? The iOS app for iPhone/iPad/Mac would be awesome!

[2022-06-07 07:22] armanhar commented on #3751
Hey @guglielmocamporese, while we are not working on it at the moment, we have an internal ticket tracking this request. I'll bump up its priority. I will notify you about updates on this.

[2022-06-07 07:58] firstelfin opened #3752 "[Q]What does the bracket mark of abscissa mean?"
# Desc
In **charts**, bracket marks appear on the abscissa of the icon, as shown in the following figure. What does this mean?
![image](https://user-images.githubusercontent.com/36871890/172327344-aa871500-966e-4812-82be-385621af6b08.png)

Is this marking caused by the presence of Nan in the data?

[2022-06-07 14:20] nate-wandb commented on #3743
HI @anil-gurbuz thank you for reporting. I believe this is because we expect the `config.yml` to be in the following single-nested format with `value` as a key in the second level:
[code]
Are you able to correctly access all of your config values with your edit to the codebase? For example, does `wandb.config.global.data.real_batch_size` return 128? I would imagine you cannot access these deeper n

[2022-06-07 15:34] anmolmann commented on #3572
Thanks for the additional context @Msameim181.
[1] is the code you're tracking in this particular run already instrumented with Tensorboard calls? I'm suspecting it might not be the case. Reason i'm asking: The intended use of the `sync_tensorboard` flag is to easily align code instrumented with Tensorboard specific calls directly to the W&B workspace - [here](https://github.com/wandb/examples/blo

[2022-06-07 23:33] MBakirWB commented on #3752
Hi @firstelfin ,

Thank you for writing in. Based on the approximate location of the mark reflecting (2601 Nan) label it might be. Can you please provide a link to your workspace and I can take a look.

[2022-06-07 23:53] matekrk commented on #994
Yes, I can confirm that it persists with the newer versions.

[2022-06-08 01:08] firstelfin commented on #3752
@MBakirWB Hello, after confirming that the data is Nan, the workspace has been deleted. I'm very sorry that we can't provide a link for you to view.

[2022-06-08 08:31] ManiadisG commented on #3638
I will close this issue as I  think the cause of the problem has been found. Many thanks for your help!

[2022-06-08 09:32] anil-gurbuz commented on #3743
Hi Nate,

Thanks for the response. I see what you mean.

I can access up to final level with "." notation -- i.e wandb.config.test_unit --  though final key value pair is only accessiable as a dictionary i.e -- wandb.config.test_unit["model"] --

Also, it logs those configs correctly to project page as well.

[2022-06-08 09:39] AndreaBrg commented on #3088
@ramit-wandb Is there any update on this request? I think it would be very useful.

[2022-06-08 10:17] carloalbertobarbano commented on #3088
+1 from me also, it would be very useful to group multiple projects belonging to the same work into folders or some hierarchical structure. Related to https://github.com/wandb/client/issues/3077

[2022-06-08 10:58] tylerganter opened #3756 "[CLI]: ROC Curve clips remaining points"
### Describe the bug

`wandb.plot.roc_curve()` will clip the remaining points in an illogical way when the data exceeds `chart_limit = wandb.Table.MAX_ROWS`. This is problematic particularly because it forces the user to use less data for evaluation, as opposed to subsampling the true/false positive rates after computing them with all data.

### Additional Files

_No response_

### Environment

N/

[2022-06-08 11:20] hv10 commented on #3348
Again: sorry for the late reply. The issue I was facing stems from the mkl-version of numpy - when using an environment without mkl the issue subsides.

As the issue is not within wandb I am going to close the issue now.

[2022-06-08 11:20] #3348 closed

[2022-06-08 12:29] lesliewandb commented on #3748
Hi, the __getstate__ method does not exist and that is why there is an issue using `iterator = iter(train_loader)`. Can you use an explicit type cast to a dict as dict(wandb.config) and see if this helps?

[2022-06-08 15:00] armanhar commented on #3707
Hey @Dicer-Zz, apologies about the late response. Currently there is no way to achieve this, but I've filed a ticket for our engineering team to consider adding the functionality. I will keep you updated when we have something.

[2022-06-08 15:47] albertfgu opened #3758 "[CLI]: wandb.init fails with JAX GPU memory preallocation"
### Describe the bug

By default, JAX [preallocates](https://jax.readthedocs.io/en/latest/gpu_memory_allocation.html) 90% of GPU memory when it starts. This fraction can be toggled with a command line flag. I found that the default setting causes `wandb.init` to error, despite still having a substantial amount of memory left.

I apologize for being unable to provide a minimal code snippet, but I'l

[2022-06-08 17:45] tomaszpietruszka-globality commented on #982
@nate-wandb @sydholl the PR has been closed w/o merging - the functionality is still not there in 0.12.17 - or even RCs of 0.13.

Would you happen to have an ETA for a solution?

[2022-06-08 18:56] tileb1 opened #3760 "[Q] Programmatically set color of run"
Hello,

Following the doc, I was not able to find whether or not it is possible to set the color of a run programmatically: https://docs.wandb.ai/ref/app/features/panels/run-colors. From what I understand, the colors are locally scoped so I guess this is not an option?

Can you confirm this? If so, would you be willing to add this to the api by specifying the pair (scope, run_id)?

Thanks in advan

[2022-06-08 19:57] MBakirWB commented on #3752
@firstelfin ,

Not a problem. If you ever run across this issues again, please do reach out.

Regards,

Mohammad

[2022-06-08 20:34] loganlebanoff commented on #3572
Could it be that `sync_tensorboard` doesn't work on Windows? I got this [example](https://github.com/wandb/examples/blob/master/examples/tensorboard/tensorboard-tf2-gradienttape/train.py) to work on Linux (the TF tab shows up in the wandb UI) , but it doesn't work on Windows for me (the TF tab doesn't show up). I used a fresh python environment with wandb==0.12.17 and tensorflow/tensorboard==2.9.1

[2022-06-08 20:38] nate-wandb commented on #3497
Hi @iamhatesz, our engineering team has merged a fix for this and it will be available in the next release of W&B. Thank you for bringing this to our attention!

[2022-06-08 21:09] datasith commented on #2074
Experiencing this issue at the moment, fwiw.

[2022-06-09 00:22] anmolmann commented on #3572
@loganlebanoff , it seems like you might be right. @Msameim181 , could you please confirm once if this is the case? I couldn't replicate the issue on my end.
Also, If you could your environment? Then, I'll try again to replicate it on my end and also, file a bug report & ask help from our eng team.

[2022-06-09 00:51] ramit-wandb commented on #3756
Hi @tylerganter,

Thanks for reaching out to us. There is already a planned feature to make allow for different methods of sampling from our web UI. This should let you resample data as desired from the UI. I'll let you know once this feature is implemented.

Thanks,
Ramit

[2022-06-09 04:01] Taehee-K opened #3762 "[App]: "Delete run" alertbox not closing on enter"
### Current Behavior

When trying to delete a run in a project, an alertbox pops up with a message that this action will affect all pages, including reports. In order to proceed with deleting run, the user have to click on the `Delete run` to confirm. Usually with this popup boxes the user can select options using direction keys & enter but here, it will only close with the click of mouse.

### Ex

[2022-06-09 05:20] armanhar commented on #3760
Hi! This is not possible at the moment. I'll file a ticket for your request

[2022-06-09 05:31] ramit-wandb commented on #3531
Hey @zahidmb,

Ah, I apologize if I was not specific enough. For a run that has already been completed, I'm afraid there is no way to alter the `step` variable associated to a run. But, for all future runs, the following pattern can be followed:

[code]

This should allow you to offset your step by the previous run's steps so that they are arranged in the desired manner.

Thanks,
Ramit

[2022-06-09 05:35] ramit-wandb commented on #3729
I see. I agree that that is useful, and I will go ahead and ticket this internally so that this can be implemented in a future update.

Thanks,
Ramit

[2022-06-09 05:44] khawar-islam opened #3763 "[Q] wandb pytorch: top1 accuracy per class"
I have 5 classes in validation set and i want to draw a graph based on top1 results per class in validation loop using wandb . I have tried a single accuracy graph based on the average of 5 classes and it works fine but i want to do a separate way like top1 accuracy for each class. I am unable to achieve, are there any way to achieve it?

[code]

[2022-06-09 08:07] Msameim181 commented on #3572
@anmolmann, Well, I'm using Windows 10 in my case. I didn't try on Linux, so the Theory is half true on my side.
Environment:
Python==3.9.0
wandb==0.12.14
tensorboard==2.8.0
torch==1.11.0+cu113

[2022-06-09 11:05] vadimkantorov commented on #3282
Hi! I haven't tried since then. I would consider the problem solved if the (2) and (3) are solved. I'll rename the issue to reflect this.

[2022-06-09 13:41] tfederico commented on #675
Any progress with this feature? As far as I can see it's not possible yet

[2022-06-09 14:32] EmilienDupont opened #3764 "[Q] Private project, public run"
Hi,

We used wandb for a research project and as part of publishing the paper we would like to make the runs we used in the paper public. However, from searching it seems like if we want to make a run public, we need to make the entire project public (including runs which are not relevant to the paper). Is this correct? Is there any way to make a single run within a private project public?

Thank

[2022-06-09 16:46] ash0ts commented on #3282
@vadimkantorov

Thank you for all the context you provided. I formalized this feature request in a JIRA ticket for our engineering team to take a look at. Let me know if you have any additional ideas!

[2022-06-09 16:46] zplizzi opened #3766 "[Feature]: Include logs from multiple processes in one run"
### Description

I have a training setup that involves multiple processes running simultaneously (i'm doing RL, so I have processes playing a game, a process training the model, processes loading data, etc). I would like to collect metrics from all of them, and be able to see them all in the same wandb run. I don't think this is possible currently, afaik? I've seen y'all suggest calling `wandb.ini

[2022-06-09 18:20] tileb1 commented on #3760
Hey @armanhar, thanks for the reply! Can you let me know once you have a timeline for this feature? Thanks

[2022-06-09 19:48] MBakirWB commented on #2074
@datasith ,

Thank you for writing in. I will take note of the reemergence of this issue. We released a client (0.12.18) update today. Please update to the latest version. If are still encountering issues with your login, let us know and we will take a closer look.

[2022-06-09 20:19] MBakirWB commented on #3762
Hi @Taehee-K ,

Thank you for writing in. I was able to duplicate this issue and also wasn't able to use the direction keys to make selections. I could however 'Tab' through the buttons to select either 'Cancel' or 'Delete Run' and hit 'Enter' to confirm my selection. I will submit to our eng team for review.

[2022-06-09 22:07] ramit-wandb commented on #3764
Hey Emilien,

No, you can not make a single run public while keeping the project private. You can, however create a [Report](https://docs.wandb.ai/guides/reports/reports-walkthrough), add information to it and then share that report with users who do not have access to the project.

Thanks,
Ramit

[2022-06-09 22:49] zahidmb commented on #3531
Hi,
Thanks for your reply. For new runs, I would follow it. I got it that there is no straightforward way to change the `step` variable. However, I was just wondering if there is any workaround to do so.

Like is it possible to download/export the run in .csv then modify the history data and then import it back to wandb.... or something like this???

Another question/suggestion:
Why wandb doesn't

[2022-06-10 01:03] Taehee-K opened #3773 "[App]: Abnormal Behavior when writing a report using Korean input methods"
### Current Behavior

I think this is an extension of #3525, the abnormal behavior happening to Korean characters along with Chinese and Japanese.
When trying to type in Korean (using MacOS Monterey) on the report page, the following abnormal behaviors happen:
1. Location of the cursor will suddenly change to different places on the line
2. The characters will be duplicated erratically

### Expect

[2022-06-10 01:06] vanpelt commented on #3729
Hey @SvetoslavKuzmanov we'll keep the request open as I understand you'd like first class support for groups, but you can do this with the existing API:

[code]

[2022-06-10 02:15] MBakirWB commented on #3766
@zplizzi ,

That is correct,  parallel processes will be logged into separate different "runs" that can be grouped into a single experiment. They cannot be merged together into a single run . There are three methods to set grouping, see [here](https://docs.wandb.ai/guides/track/advanced/grouping#use-cases). Setting the group parameter in `wandb.init() `in your script, setting a group environment v

[2022-06-10 06:14] armanhar commented on #3773
Hey @Taehee-K, thanks for flagging this. I'll file a ticket for this bug.

[2022-06-10 09:00] SvetoslavKuzmanov commented on #3729
Hey @vanpelt, thanks for the suggested solution. But from what I see this requires to add tags to all runs in a group, which doesn't seem optimal. Instead I would like to work with the following structure, and be able to directly query all runs of `experiment_xyz` and work with those runs for example.

<img width="703" alt="Screenshot 2022-06-10 at 11 55 02" src="https://user-images.githubusercont

[2022-06-10 11:11] EmilienDupont commented on #3764
Hey Ramit,

Thank you for your reply! Is there any plan to add this feature?

In my experience, this workflow is super common in ML research (at least at universities):

1. You work on a private wandb project for your research
2. When you are ready to publish you want to share all the trained models from the paper, without having to share all the failed experiments with bugs or potential follow up

[2022-06-10 15:50] nate-wandb commented on #3600
Hi @lemmersj,
Are you still seeing this after using `mode="offline"`? A few W&B processes will still continue to attempt to upload the results until they are successful, even if the main process has been killed. If you would like to kill these processes you can use `pkill -9 wandb` but this will prevent your data from showing up in the UI until you run `wandb sync` later.

Thank you,
Nate

[2022-06-10 16:05] armanhar commented on #3760
@tileb1 sure, I'll notify you when there are updates on this.

[2022-06-10 16:56] vanpelt commented on #3729
@SvetoslavKuzmanov gotcha, yeah that's not currently supported natively by the backend.  A slight modification to my script would do it though:

[code]

[2022-06-10 17:09] SvetoslavKuzmanov commented on #3729
@vanpelt The problem that I'm facing is with the filter if I do:

[code]

I get 0, this is for the example above. The case is that I don't know the exact name of the run group and I wan't to avoid tagging all runs in the group. Tags are applied to the group not the runs.

[2022-06-10 18:19] albertfgu opened #3779 "[App]: Images not being logged"
### Current Behavior

I'm logging images once per epoch very simply with
[code]
`samples` is a numpy array of shape `(32, 28, 28, 3)`

In the web interface, instead of showing the images it's showing this:
![image](https://user-images.githubusercontent.com/8164679/173125867-243f02da-e518-437d-aa35-ea1f17b22bb1.png)

The same thing happens if I log a single image.

The images do show up as assets a

[2022-06-10 19:05] ramit-wandb commented on #3088
Hi,

Unfortunately, work on this has not started yet. I'll ping the folks responsible for this and increase the priority on this issue.

Thanks,
Ramit

[2022-06-10 20:35] anmolmann commented on #3572
Did you get a chance to try this out on Linux platform with WSL on your Windows instead?

[2022-06-11 02:41] zplizzi commented on #3766
Let me know if the use case I described above isn't clear.

Using groups to solve this problem works ok, but has some limitations. Most obviously, I can now no longer use the group feature for what it was actually intended for (grouping multiple logically independent runs together for analysis), if I'm already using it to combine processes within one run. But also if I'm using groups in this way,

[2022-06-11 04:41] Tikquuss opened #3785 "[Feature]: Export multiple images as video animation"
### Description

Export multiple images as video animation.

I noticed that the panels containing the images do not have the "Export panel" option.
It would be interesting to add this option in order to allow the user :
- in addition to being able to scroll and click to download an image at a given step, to download all the images in one click: when the number of steps is too high it becomes diffi

[2022-06-11 07:35] Msameim181 commented on #3572
I think I could try. Why don't you give me a couple of days, to see what I can do? I'll give you the update shortly. Thanks.

[2022-06-11 09:47] Msameim181 commented on #3572
Yes, It seems about right. On WSL works perfectly. the TF tab appears on the new run page

![image](https://user-images.githubusercontent.com/25700939/173182740-98b017a6-4004-42b3-a1c2-e8c15199ea4c.png)

Also, the TB logs seem to find a way to be in main page charts (It's a little odd but okay).

![image](https://user-images.githubusercontent.com/25700939/173182714-ec31236d-5036-4f1c-ab8e-e10bd156

[2022-06-11 18:26] tileb1 commented on #3760
@armanhar great, thanks!

[2022-06-11 21:37] joseph-bae opened #3787 "[App]: Images not appearing as a possible media key."
### Current Behavior

When trying to add a panel with images across epochs, the following appears:
![image](https://user-images.githubusercontent.com/62440391/173205641-5395933a-6e47-4ed3-8d22-a7a08e4d03ec.png)

I'm not sure why this would be since the image files are appearing in the media folder on the web app:
![image](https://user-images.githubusercontent.com/62440391/173205662-98f75d1b-70ab-4

[2022-06-12 09:03] janosh opened #3788 "[Feature]: wandb.plot.scatter() with error bars"
### Description

Some models try to estimate their own uncertainty while predicting the target. Or you have an ensemble of models and want to visualize the spread over members. Would be great if such uncertainty estimates could be visualized with `wandb.plot.scatter()`.

### Suggested Solution

Add a `y_err` kwarg to `wandb.plot.scatter()`.

### Alternatives

Can be done with `matplotlib` and `plo

[2022-06-12 14:17] wengzehang commented on #2139
Any update/solution for changing the font text thickness?

[2022-06-12 14:26] wengzehang commented on #2139
It doesn't make any sense to zoom in. I just want the text to be thicker, so that the downloaded figure will be clearer. You have provided a function to change the font size, small/medium/large/auto, but how to change the thickness (bold).

[2022-06-12 15:57] zplizzi opened #3789 "[Feature]: Don't automatically add new columns to the wandb project page"
### Description

When I run a run that logs new metrics (ie metric keys that weren't in the previous runs in that project), those metrics will be automatically added to the project's "Table" view. This is quite frustrating since I usually manually set up my project's columns as I want them - and then often I'll add a bunch of metrics to my runs, and they'll all immediately clog up my project table

[2022-06-12 16:04] zplizzi opened #3790 "[App]: Media doesn't display correctly in project page if some runs don't have media"
### Current Behavior

I have 5 runs, only one of which logged media (a video). I expect that the one video would fill the entire available size, but it seems that it's scaled to leave room for the other runs that didn't log any media. See the example:
<img width="1072" alt="image" src="https://user-images.githubusercontent.com/5598968/173242125-e9d5292f-3fe2-4e56-a202-4d4979651635.png">

This come

[2022-06-12 23:51] ramit-wandb commented on #3703
Hey @allanchan339,

Apologies for the delay here. Looking at your logs, nothing seems to be breaking in `wandb` that should cause this error. Your traceback seems to suggest that it is your Pytorch Lightning trainer that is unable to find your checkpoint file. Is it a possibility that your checkpoint file is being deleted/rewritten when your program starts up?

Thanks,
Ramit

[2022-06-13 03:31] allanchan339 commented on #3703
Seems no. I can still start the training/ testing with the same command, typing commands to the terminal manually. It runs perfectly. The problem is triggered when using wandb sweep.

I have written a simple os.system() to run a model like sweep, with no problem triggered.

[2022-06-13 06:05] jin0g opened #3791 "[Q] Can sweep explore the parameters of the list argument?"
I have a program that receives the arguments of the list with the following argument parser. Is it possible to explore this in a sweep.yaml? The program itself has a variable number of arguments, but when exploring it, it is enough about a fixed number of arguments. I would like to do a Bayesian search for each argument.

Parser part of a Python script:
[code]

Example of execution on command line

[2022-06-13 06:38] ahadda5 commented on #3037
@yasarniyazoglu seen the same thing in jupyter. how did you overcome it?

[2022-06-13 08:26] armanhar commented on #3785
Hey @Tikquuss, thanks for the suggestion. I'll open a ticket so our engineering team can consider adding this functionality in the future.

[2022-06-13 10:51] 05MrTom opened #3792 "TypeError: list indices must be integers or slices, not float .How to get rid of it"

[2022-06-13 10:54] 05MrTom commented on #3792
![Screenshot (1)](https://user-images.githubusercontent.com/87299828/173338786-407f5a4b-421f-4b29-89fb-d8903d956091.png)

[2022-06-13 22:13] Manalelaidouni commented on #3748
Hey, thanks a lot!  casting `wandb.config` to a dictionary worked.

To not break my code by maintaining access to `wandb.config` keys using a dot instead of [ ] notation, I  used DotMap package.

[2022-06-14 01:13] MBakirWB commented on #3787
@joseph-bae ,

We will take a look at this for you. Can you please provide a link to the workspace you are experiencing this issue.

[2022-06-14 09:28] AntonioLopardo commented on #3692
Sorry for not getting back to you earlier but the problem is still there. Here my workspace https://wandb.ai/eth_ai_center_kg_project/W2V_for_KGs?workspace=user-antoniolopardo
The problem is on the auto-generated charts for metrics like both.realistic.hits_at_5, when we try to change the range selectors in these plots it doesn't work. Generating new plots works, and that's what we ended up doing b

[2022-06-14 13:14] lesliewandb commented on #3788
Hi, at the moment you can add error bars in our [custom charts using vega](https://docs.wandb.ai/ref/app/features/custom-charts). However, I'll create this feature request ticket for you and keep you updated on it

[2022-06-14 13:18] AlexanderMelde opened #3797 "[CLI]: support network architectures with multiple inputs"
### Describe the bug

Some Network architectures have multiple input layers of various shapes. Keras supports this, but the WandbCallback function throws a ValueError whenever data for such a network is passed to the parameters `training_data` or `validation_data`.

[code]

I have created a minimal failing example using the [vgg8_arcface](https://github.com/4uiiurz1/keras-arcface/blob/master/archs

[2022-06-14 13:42] AlexanderMelde commented on #3797
Looking at the wandb source code, i think the error comes from trying to log the data as images.
The input is assumed to be just an image, and not two inputs, with one being an image and the other being a label (one hot encoded).

When logging the image,
https://github.com/wandb/client/blob/a339333b3ee93864daf416f04c1501186dffac5c/wandb/integration/keras/keras.py#L748
`test_data` is simply set to

[2022-06-14 15:19] lesliewandb commented on #3791
Hi, thank you for giving me your current .yaml file. For each of your parameters, can you specify the distribution for example

[code]

[2022-06-14 18:04] ramit-wandb commented on #1627
Hi! Since there has not been much activity on this issue recently, I'll close this out. In case you still face issues with this, please let us know and we can continue the conversation.

[2022-06-14 18:23] ramit-wandb commented on #3531
Hi Zahid,

Unfortunately not, the run history for any given run is immutable - you can not go back into a run and change its history. We also do allow you to change your X Axis to any logged metric - but in order to do so, the X-axis metric and the Y-axis metric has to be logged at the same step. This is done to ensure that your metrics are synchronized correctly. If you are not seeing the option

[2022-06-14 22:24] GrahamboJangles opened #3803 "[CLI]: subprocess.CalledProcessError: Command returned non-zero exit status 1."
### Describe the bug

I'm trying to run `wandb server start` in Windows 10 through the CMD and I get this error:

[code]
I've tried running with and without admin.

### Additional Files

_No response_

### Environment

WandB version: v4.9.0 in the GUI

OS: Windows 10

Python version: 3.10.4

Versions of relevant libraries: I don't know which libraries are relevant

### Additional Context

_No resp

[2022-06-14 22:27] vanpelt commented on #3803
Hey @GrahamboJangles the error looks like a permission error.  Can you try running the following from an admin console and share any errors returned?

[code]

[2022-06-14 22:32] GrahamboJangles commented on #3803
@vanpelt `Template parsing error: template: :1: unclosed action`

[2022-06-14 22:59] richardrl opened #3804 "[Feature]: Mass delete runs"
### Description

It is very common while debugging code to perform many runs, which may be a few seconds long, but which ultimately fail due to code bugs.

### Suggested Solution

There are two options for 'getting rid' of these erroneous runs.

One, we can disable WANDB with environment option. This is horrible because it messes up the workflow significantly and adds a very annoying switching cos

[2022-06-15 03:55] armanhar commented on #3733
Hey @samgelman, you can do this by initializing the run like this: `wandb.init(settings=wandb.Settings(symlink=False))`

[2022-06-15 04:03] #3733 closed

[2022-06-15 07:49] HilaManor commented on #1700
+1

[2022-06-15 08:16] armanhar commented on #1700
Thanks everyone, I'll bump up the priority for the request.

[2022-06-15 09:29] armanhar commented on #3804
Hey @richardrl, have you tried [tagging the runs](https://docs.wandb.ai/ref/app/features/tags#how-to-add-tags) you do for testing? Once you do that you can then filter out all the runs that don't have the test tag and delete those
<img width="482" alt="Screen Shot 2022-06-15 at 13 29 10" src="https://user-images.githubusercontent.com/89597668/173794420-182b61f3-3ae8-4440-9b4a-ecb6a61d7dab.png">
.

[2022-06-15 20:17] vanpelt commented on #3803
@GrahamboJangles I would try with double quotes instead of single quotes.  Also, what version of docker are you running?  You may need to upgrade your version of docker.

[code]

[2022-06-15 21:51] GrahamboJangles commented on #3803
@vanpelt `docker version` returns
[code]
`docker inspect wandb/local --format "{{json .RepoDigests}}"` returns
[code]

[2022-06-15 22:12] ramit-wandb commented on #3764
Hi Emilien,

Thank you for your response! I'm curious - did the report method not work for you? You should be able to select specific runs without exposing your whole private project. I would like to understand what did not work for you so that I can make a feature request that better resolves this problem.

Thanks,
Ramit

[2022-06-16 01:45] ramit-wandb commented on #3737
Hi @vansin,

If the users on your team are academic users, W&B is free of charge to use already. If you are using W&B for a commercial purpose though, we do not have any discounts.

Thanks,
Ramit

[2022-06-16 04:09] anmolmann commented on #2486
@ranshadmi, this issue has been fixed. Also, we can't reproduce this issue in our latest [cli v0.12.18](https://github.com/wandb/client/releases/tag/v0.12.18). Please let us know if you're still encountering this issue.

[2022-06-16 09:06] armanhar commented on #2139
Hey @wengzehang, there are no updates on this yet. I'll bump up the priority of the ticket and keep you notify of any updates.

[2022-06-16 12:46] EmilienDupont commented on #3764
Hi Ramit,

Thanks for getting back to me! The report option works well for sharing charts related to the runs which is definitely useful. However, we want to share saved model weights as well as artifacts saved during (or after) the run. Is there a way to expose these through a report? I tried to look through the documentation but could not find this.

Thank you!

[2022-06-16 13:55] janosh opened #3811 "[Feature]: Add profile setting toggle to always delete artifacts when deleting runs"
### Description

When deleting a run, the prompt whether to delete the run's artifacts along with it become tedious over time.

![Screen Shot 2022-06-16 at 14 52 48](https://user-images.githubusercontent.com/30958850/174085866-a946df82-d38d-4d5f-948c-a01e71e43d14.png)

### Suggested Solution

Would be nice if there was a toggle in the profile settings to always delete artifacts with runs.

### Alt

[2022-06-16 16:38] #3725 closed

[2022-06-16 19:53] ZeyuSun opened #3812 "[Feature]: Select runs to show in the plot"
### Description

In the wandb dashboard, when I edit a line plot, I want to visualize only some of the runs. Right now, I can only select "Max runs to show", but it does not allow me to select which runs to show.

### Suggested Solution

Instead of "max runs to show", ask users which specific runs to show.

### Alternatives

_No response_

### Additional Context

_No response_

[2022-06-16 22:58] MBakirWB commented on #3811
@janosh , thank you for writing in with this request. I will document it internally for review. When I have an update I will let you know.

Regards,

Mohammad

[2022-06-16 23:32] MBakirWB commented on #3758
@albertfgu , thank you for information and we appreciate you dissecting it down to a specific version of wandb. We will review and provide relevant feedback. From your latest comment it appears this issue has been addressed in [annotated-s4](https://github.com/srush/annotated-s4) with your latest commits, but if you do run into additional problems, please reply to this thread.

[2022-06-17 00:52] khawar-islam commented on #3763
There are five classes in my code and i want to look the top1 and top5 accuracy of each class separately. I mean that there are two charts, first one is for top1 accuracy that contains five classes with top1 accuracy and similarly second chart for top5 accuracy. I have tried to implement but it draw only one graph.

[code]

Code Result:
[code]
Results in wandb::
![image](https://user-images.github

[2022-06-17 01:36] Tikquuss opened #3815 "[Feature]: Showing first x runs & Pagination"
### Description

* When one exports as an image a panel containing several runs, the mention _`Showing first x runs`_ remains on the final image (see figure below), which harms for example the visual rendering of the figures of scientific articles.

![wd1 1](https://user-images.githubusercontent.com/49171640/174204367-b83ec233-c973-4b89-84cf-565f35a23b3e.png)

* The pagination disappears when one

[2022-06-17 10:04] armanhar commented on #3804
​Hi @richardrl, I wanted to follow up on this request. Please let us know if we can be of further assistance or if your issue has been resolved.
​

[2022-06-17 10:18] moahaimen commented on #2425
hi all i am new in object detection and in yolov5 i am training it in colab but when i see tensorboard charts i get confused how can i read the values of these charts please i need to know the value of each drawing thank you
![image](https://user-images.githubusercontent.com/30658799/174279145-d1cba59c-2fad-41f2-a2c8-a01a57f8545a.png)
****
**
![image](https://user-images.githubusercontent.com/3065

[2022-06-17 14:53] pkuderov commented on #3555
Any workaround for sweeps? For example something like this caused me troubles:

[code]

Very unexpected bug. I want to emphasise on how easily it could plague the code while staying unnoticed.

[2022-06-17 15:45] miguelvalente commented on #3590
@armanhar Any updates on this issue?

[2022-06-17 17:21] alexcoca commented on #2699
That would be much appreciated

[2022-06-17 18:21] kptkin commented on #3134
Closing the issue as it seems that @dmandair issues are resolved.

[2022-06-17 18:21] #3134 closed

[2022-06-17 18:35] #1994 closed

[2022-06-17 19:20] MBakirWB commented on #3812
@ZeyuSun , thank you for writing in with this feature request. I have added your request for engineering to review. If any updates arise I will provide an update in this thread.

Regards,

Mohammad

[2022-06-17 22:04] MBakirWB commented on #3815
@Tikquuss , thank you for writing in with your feature request on image exports. I will create a feature request for our engineering team to review. I will report back here with any updates.

Regards,

Mohammad

[2022-06-19 03:43] moahaimen commented on #2425
I am honored with your answers,
thank you very much, I appreciate it
 I am new in this field I am also a Ph.D. student, I just began the
research a month ago I need your help if you can, I have other questions,
as you said in the letter which I will quote" As of the losses: cls_loss is
"class loss", "box _loss" is box loss, and "objectness loss" is object
loss. I think it just measures the loss re

[2022-06-19 10:37] RobRomijnders opened #3818 "[Feature]: Show sweep id on email for failed run"
### Description

WandB has great feature of sending emails when a run failed. However, it is hard to find which sweep the run was part of. Please include this in the email.

Details:
This weekend I started multiple sweeps. Now I got an email saying 'Run failed -- <run-name>'. However, how do I find out which sweep this run was part of? Could this be included in the email?

### Suggested Solution

[2022-06-19 16:28] lucakbetter commented on #2802
Has there been a resolution to this problem?

[2022-06-19 16:54] Wilann commented on #2802
Don't think so

[2022-06-20 00:05] jin0g commented on #3791
@lesliewandb Thanks very much for your reply. But this solution did not bring me a solution.

This is because wandb interprets argument names as they are, but ArgumentParser actually requires that arguments be passed as a list. When I run it, I get the following error:

[code]

Does anyone have another solution for this?

thank you.

[2022-06-20 06:04] richardrl commented on #3804
@armanhar This is also not a great solution.... I guess I could use an argparse argument to set the test tag, then mass delete using the tag. But is there no way to do what I want retroactively by filtering on the run time?

[2022-06-20 07:18] Msameim181 commented on #3572
I was trying to use this on WSL to sync tensorboard to wandb, But nothing. The status goes to sync and uploading data, but No results.

![image](https://user-images.githubusercontent.com/25700939/174546059-48932e38-8f6c-4e63-a82b-0b53e72c4547.png)

![image](https://user-images.githubusercontent.com/25700939/174546109-fccc9f5d-82ab-4cab-a7a0-5ba1e9bdd810.png)

[2022-06-20 09:08] maxencewynen opened #3819 "[App]: PAGE_FAULT_IN_NONPAGED_AREA Win10 blue screen of death error with pytorch lightning"
### Current Behavior

Hi!

Everytime I try to run pytorch lightning with a wandb logger, my (windows 10) computer crashes and displays a PAGE_FAULT_IN_NONPAGED_AREA error (see attached image).
![Image d’iOS](https://user-images.githubusercontent.com/17831504/174565932-4948bdd6-9acf-4335-b045-95a11b9efa9f.jpg)

### Expected Behavior

No crash

### Steps To Reproduce

This is the basic file I run, h

[2022-06-20 09:52] jin0g commented on #3791
I decided to accept arguments like `--number[2]` in ArgumentParser by creating the following preprocessor:

[code]

Thanks.

[2022-06-20 13:32] YerePhy opened #3821 "[Feature]:"
### Description

Hi,

I don't find nothing clear about logging new tables (or logging whatever in general) to an existing and finished run. I would like to be able to run my trianing in a remote machine and then in my local machine log new tables to the run created in the remote machine which is supposed to be finished.

### Suggested Solution

I want to be able to compute metrics (for example) an

[2022-06-21 00:48] lemmersj commented on #3600
Hi @nate-wandb,

Since (in this case) I'm instantiating the logger through pytorch_lightning.logger.WandbLogger, I didn't use wandb.init(mode="offline") as suggested, but used "wandb off" as part of my slurm launch script.

The 429 errors are resolved, but the more critical issue of jobs continuing to run is not. The wandb-service and the python script remain active despite the slurm job being kil

[2022-06-21 01:30] aapowadi commented on #1487
I would love to see this feature as well.

[2022-06-21 07:36] miguelvalente commented on #3590
This behaviour does not happen with Firefox!

[2022-06-21 07:43] samuela opened #3823 "Cannot create an Artifact with 7 files of size 975244241 bytes"
I have the following script:
[code]
Running this script I see the following error:
[code]
which is incorrect, considering I have more than enough free space left on disk to fit the files. I've also replicated this on machine with terabytes of disk space left, and still see the same error.

I'm running with the following `shell.nix`:
[code]
In short: I'm running on NixOS 22.05, wandb client version

[2022-06-21 07:48] samuela opened #3824 "[CLI]: `WANDB_DIR` env. var. does not affect the location of the `artifacts/` directory"
I specifically set `WANDB_DIR` so that I can avoid downloading large files on expensive file storage, and instead place them onto cheaper local storage. Why then does the wandb client still download gigabytes of files into the `~/my/project/artifacts` directory? What environment variable do I set to affect where wandb stores these heavyweight files?

AFAIU I don't see any relevant variable in the

[2022-06-21 09:44] janosh commented on #3070
Not stale.

[2022-06-21 10:06] janosh commented on #2400
I think the `wandb.Table.from_json()` step is not necessary. This works as well:

[code]

[2022-06-21 15:25] nate-wandb commented on #3600
Hi @lemmersj,
Could you possibly share the `debug.log`  and `debug-internal.log` files from the local run directory on your training machine?

The `pytorch_lightning.logger.WandbLogger` has the argument `offline=` which can be set to `True` if you wanted to try the run with `wandb` in offline mode.

Are you logging any large data such as histograms or images that may be taking a while to upload up

[2022-06-21 16:54] MBakirWB commented on #3787
Hi @joseph-bae ,

Since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

Regards,

Mohammad

[2022-06-21 18:41] armanhar commented on #3590
Hey @miguelvalente, the team is currently working on a fix. I'll let you know once it is merged.

[2022-06-21 21:22] MBakirWB commented on #3729
Hi @SvetoslavKuzmanov ,

Thank you for the follow-up, I will loop in @vanpelt to continue the conversation.

[2022-06-21 22:51] MBakirWB commented on #3823
Hi @samuela ,

Thank-you for writing in about this. Can you please share the `debug.log` and `debug-internal.log` files associated with this crash, these files should be present in a folder called wandb relative to the directory where these runs were initiated. You can email them to me directly to mohammad.bakir@wandb.com.

In the meantime can you please provide a response to the following:

Are y

[2022-06-21 23:12] EhssanD opened #3827 "[CLI]: Sweep nested parameters"
### Describe the bug

The grid search does not work properly with nested config. It fails to iterate over possible values and never ends.

[code]
[code]

### Additional Files

_No response_

### Environment

WandB version: 0.12.18

OS: Ubuntu 18.04

Python version: 3.8.12

### Additional Context

_No response_

[2022-06-21 23:29] MBakirWB commented on #3779
Hi @albertfgu ,

Thank you for writing in and providing a code example, and I'm glad you were able to visualize your images eventually. Can you please provide a link to your workspace, I'd like to review more closely. Thanks!

[2022-06-21 23:43] MBakirWB commented on #3818
Hi @RobRomijnders ,

Thank you for writing in with this feature request. I will submit it to engineering for review. When I have an update, I will reach out with the details.

Regards,

Mohammad

[2022-06-22 00:38] MBakirWB commented on #3819
Hi @maxencewynen

I’ll be glad to look into this for you. We will need some additional information before we can proceed to troubleshoot. Please provide me with the following:

- Is your code running any containers
- Debug logs (internal-debug.log and debug.log) found in your wandb run directory
- Any additional details would be great for us to isolate the issue.

[2022-06-22 02:16] #2486 closed

[2022-06-22 03:36] martinabeleda opened #3830 "[CLI]: Can't find a run using only `run_id`"
### Describe the bug

Based on the documentation for `wandb.api.public.Api` I expect that I could find a run given only the `run_id` if the entity and project are set in `api.settings`:

When I try do to exactly that, I get an error:

[code]

From the logs, we can see that the path is resolved incorrectly, with the `run_id` in place of the project name.

[code]

We can confirm this behaviour by ca

[2022-06-22 08:39] maxzw commented on #2825
I have the same problem at this moment. I'm running hpo on a SLURM cluster and do not have permission to change these mentioned values. Are there any other options to resolving this issue?

[2022-06-22 09:22] adefossez commented on #3424
@vanpelt  @MBakirWB  Pinging on this. I guess I made it too complex in a way the first time I described my issue.

`wandb.init` allows to give `resume=False` as an argument, to indicate not to resume the previous run. If a previous run existed, its metrics will still appear in the UI. The metrics will be slowly overwritten, one epoch by one epoch, as the new run progresses. This is quite confusing

[2022-06-22 10:00] armanhar commented on #3830
Hey Martin, thanks for flagging this. I'll reproduce the issue on my end and file a ticket.

[2022-06-22 10:08] armanhar commented on #3827
Hey @EhssanD, thanks for flagging this. I'll try to reproduce this and get back to you.

[2022-06-22 11:54] dkoguciukml commented on #1252
Hi,

the problem is still not solved for wandb==0.12.16. Initializing with `wandb.init(dir=tempfile.gettempdir())` is only a workaround, which is not possible in our case. And only downgrading to W&B to 0.9.7 as @timothybrooks suggested helped, but of course, we would like to keep up to date. Any plans of addressing it?

Best,
Daniel

[2022-06-22 13:41] dkoguciukml commented on #1252
Great, thank you <3

[2022-06-22 15:29] martinabeleda commented on #3830
@armanhar I was working on a fix for this but a little unsure about what the expected behaviour should be if parse path is called without project set. I've added some tests in https://github.com/wandb/client/pull/3832 to try to clarify the expected behaviour. Let me know if that is correct and I can go ahead with implementation

[2022-06-22 17:28] nate-wandb commented on #3743
Hi @anil-gurbuz,
You're welcome! I wanted to follow up on this and ask if you found that reformatting your sweep.yaml solved the issue for you or if you still feel that we should address this as a bug?

Thank you,
Nate

[2022-06-22 17:29] vanpelt commented on #3424
@adefossez understood, we're working on a specific feature for this usecase.  We're planning to add a method like `run.rewind(...)` that will allow you to got to a specific step and overwrite all data moving forward.

[2022-06-22 18:42] ramit-wandb commented on #3792
Hi @05MrTom,

This error does not seem to be stemming from `wandb`. Could you check by disabling `wandb`?

Thanks,
Ramit

[2022-06-22 18:49] TanyaChutani opened #3833 "[App]: Unable to save model artifacts via subclassing the model class (Tensorflow 2.9)"
### Current Behavior

 Unable to save model artifacts via subclassing the model class (Tensorflow 2.9).

WandB version - 0.12.18

### Expected Behavior

_No response_

### Steps To Reproduce

Google colab notebook link - https://colab.research.google.com/drive/1NYPvOElO6qnI8_H3W53ab4peJFQ5YMeU?usp=sharing

### Screenshots

<img width="1717" alt="Screenshot 2022-06-23 at 12 18 05 AM" src="https://u

[2022-06-22 19:26] ash0ts commented on #3555
Unfortunately, the only workaround at this moment is to ensure you typecast the variables from the sweep to the desired type. Our engineers are aware of this issue and have found the root cause. We will update this thread once a fix is made!

[2022-06-22 19:38] ramit-wandb commented on #3703
Hey @allanchan339, I can't seem to see any other errors here. I think it would be great if I can inspect your code in order to find the source of this error. Would you be open to sharing your code at support@wandb.com?

[2022-06-22 21:40] MBakirWB commented on #3819
@maxencewynen,

Thank you for the info. Taking it a step back we have to isolate the issue to either being a wandb or windows related error.

Starting with wandb,

1. Assuming that you followed these[ installation instructions](https://pytorch.org/get-started/locally/) for pytorch, try running your code without wandb and see if the error persists.
2. Additionally, can you try the given snippet?

[

[2022-06-22 22:45] maxencewynen commented on #3819
So I already have a code working with pytorch and pytorch lightning, like previously stated the error only occurs when trying to integrate wandb into my code. I never had any such incidents within the several months I used this PC to do deep learning.

This might very well be a windows issue, but it is very coincidental that the error really only occurs when running wandb.

Here you'll find a zip

[2022-06-23 04:25] samuela commented on #3824
Also, what is the difference between `~/my/project/artifacts` and `~/.cache/wandb/artifacts`?

[2022-06-23 09:59] YerePhy commented on #3821
Hi @MBakirWB,

Definitely I should get more familiar with Weaves, thanks for pointing that out ;).

[2022-06-23 15:39] tylerganter commented on #3756
@ramit-wandb could you just use my PR (#3757)? It's already implemented and I solved a more pertinent issue with PR curves...

[2022-06-23 16:16] InfluenceFunctional commented on #2005
Didn't realize I wanted this feature until I rebuilt my config around nested namespaces, to find it all wasted effort!

[2022-06-23 16:33] willleeney commented on #2005
@InfluenceFunctional Here's my solution by just parsing the command line from wandb sweeps, using omegaconf to hold my config... this might be horrible to some as a solution so adapt as you need :)

[code]

[2022-06-23 19:38] armanhar commented on #3827
Hey @EhssanD, are you using the Local version of W&B or the public one?

[2022-06-23 20:00] willleeney commented on #2005
@pkuderov @InfluenceFunctional

As I said, adapt it as you need. I put the solution here because your solution wasn't simple enough to copy paste but replace the if statement with this and it'll probably work?

If you have an improvement can you just post what you would replace my function with...?

[code]

[2022-06-23 20:25] MBakirWB commented on #3833
HI @TanyaChutani , thank-you for writing in. We will review the provided details and get back to you soon.

[2022-06-23 21:16] zahidmb commented on #3531
I got it that there is no way to modify the saved runs history. Thanks.

[2022-06-23 23:35] MBakirWB commented on #1787
@jvlmdr, can you please provide a link to your workspace for review. Thanks.

[2022-06-23 23:47] MBakirWB commented on #2825
@maxzw, thank-you for writing in. This bug is still being addressed. We will update the community here once a fix has been implemented.
Regards

[2022-06-24 00:15] jjahanip commented on #3700
**TLDR:** `pip install pip-system-certs`

I got the same error on Windows and I noticed it is because of my network's firewall SSL decryption [[ref]](https://levelup.gitconnected.com/fixing-your-ssl-verify-errors-in-python-71c2201db4b2). The reference recommended `python-certifi-win32`, but it throws `Permission Denied` error and [this](https://stackoverflow.com/a/72647960) suggested `pip-system-c

[2022-06-24 02:52] Minxiangliu opened #3837 "[Q]How to export a table with image content?"
I am training a segmentation model and display the validation results in a table, I can see the results from wandb, but I want to download all the images, I can't find any exporting place here, can someone please help me?

![image](https://user-images.githubusercontent.com/30144428/175452682-e440788b-79c2-4b70-9ce2-a3c04fab12f4.png)

[2022-06-24 06:29] pkuderov commented on #2005
@willleeney Sorry, I didn't mean to criticise your solution — I agree that simpler code snippets are more likely to help people. My solution contains almost entire pipeline, so it requires additional time to catch :)

As for an improvement, here's how I parse string values (from my post above):

[code]

[2022-06-24 11:01] mnbucher commented on #3045
I've runned into the same issue when running my code on Google Colab after restarting the kernel. At least for me the problem was due to authentication issues (maybe some failure when caching the auth token as I restarted the kernel, was and somehow was already logged in, but wandb.init() failed). I could solve it by running:

`!wandb login --relogin`

When working locally, the "!" char may be omi

[2022-06-24 11:20] ssemeniuta opened #3838 "[Q] Is it possible to disable ssl check on wandb.init()?"
When trying to do `wandb.init(...)` inside our corp ML platform, I get this error - `ssl.SSLError: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)`

The error is expected because of how the platform is set up and I have no control over it. I'm wondering if it is possible to disable this check?  In my usecase I'm ok with reduced security for the sake of simpler usage.

Thank

[2022-06-24 11:45] piraka9011 opened #3839 "[Q] Why does the artifact download use threads (multiprocessing.dummy) instead of pools?"
I have large datasets of audio files (500+GB) that is stored in S3.
Currently, my dataset in W&B is just a manifest file (JSON lines) with a reference to the audio file name and its label.
I download the files based on the audio file name from S3 using `boto3` and `multiprocessing.Pool` which takes ~10-15 min. when using an EC2 instance w/ 96 cores/processes in the same region as my S3 bucket.

I

[2022-06-24 12:04] JGameCreation opened #3840 "[Feature]: Sort by smoothed metric"
### Description

Sometimes the measurement of a metric can be a quite noisy estimate of the true value. In the plots this can be accounted for using smoothing. However, if you want to find the best run, it's not possible to sort by a smoothed metric.

### Suggested Solution

I would suggest to add a smoothing button in the sort menu that allows for sorting by a smoothed version of that metric.

##

[2022-06-24 13:19] BraveDistribution opened #3841 "[Q] Syncing multiple offline runs with common id as one run."
Hello,

wandb sync doesn't append runs (or combine runs) into one when common id is passed.

The problem is that we are working on a cluster that gives us allocation for 3 hours per one job. When the job ends, I have to allocate a new instance and continue training. As a result of this, 4 different wandb offline runs were created.

Current structure:

~/only_chamfer_loss

only_chamfer_loss has 4 d

[2022-06-24 15:09] armanhar commented on #3804
​Hi @richardrl , I wanted to follow up on this request. Please let us know if we can be of further assistance or if your issue has been resolved.
​

[2022-06-24 17:50] ramit-wandb commented on #3837
Hi @Minxiangliu,

You can use the `get()` call to a table to download the `wandb.Table` object, which can then be used to extract the images from it. Here is an example on how you can do this: https://docs.wandb.ai/guides/data-vis/log-tables#access-tables-programmatically

Thanks,
Ramit

[2022-06-24 21:38] ramit-wandb commented on #3840
Hi @JGameCreation,

Thank you for your feature request! I'll share this with our engineering team and I will keep you posted on the status of this request.

Thanks,
Ramit

[2022-06-25 02:14] youngjae-avikus opened #3844 "[Q] How can I add config from an already existing project?"
Hello
For example, I want to include the value of the inference result in the training wandb project in the table
If I just write the code of inference, wandb shows a new project-name, how do I make it possible?

[2022-06-25 19:13] richardrl commented on #3804
@armanhar Once you filter that way, you can still only delete 20 runs at a time, no?

[2022-06-26 15:49] nilsleh opened #3845 "[CLI]: wandb login in GithubAction workflow for unit tests"
### Describe the bug

As my code contains several features using wandb and I want to conduct tests in my CI workflow with GithubActions, I am trying to use `wandb login` in the `.github/workflow` script, however even after setting secret github variables and trying both approaches of `wandb login API_KEY` and setting the environment variable, the login is unsuccessful. Unfortunately, the debug log

[2022-06-26 17:36] adefossez commented on #3424
That sounds perfect, looking forward to the release!

[2022-06-26 17:42] archilk opened #3846 "[Q] Does resume='auto' always rerun a crashed run even if I pass a new 'id' in init?"
Let's say, in my train script, I call my init function as follows:

`wandb.init(entity='me', config=run_config, id=wandb.util.generate_id(), resume='auto')`

Now let's say run with id "run-id-1" crashes, and this script is run again. Will it now do a new run with "run-id-2" or resume "run-id-1"?

PS: Thanks for this amazing tool. It's everything I've ever needed.

[2022-06-27 01:35] Co1lin opened #3848 "[Q] Difference between `wandb.require('service')` and `wandb.require(experiment='service')`"
In [document about wandb service](https://github.com/wandb/client/blob/master/docs/dev/wandb-service-user.md), it says for `spawn` multiprocessing, we should use `wandb.require('service')` in the main process. But in "General usage" section, it is `wandb.require(experiment='service')`. I also found that `wandb.require` has two arguments, 'requirement' and 'experiment' . What's the difference betwe

[2022-06-27 03:28] kptkin commented on #3848
Currently, there shouldn't be any difference, and any way you specify this would do the same thing, though `requirement` will take precedence over `experiment` as you can see from this line: https://github.com/wandb/client/blob/master/wandb/sdk/wandb_require.py#L77

Hope this helps!

[2022-06-27 13:50] lesliewandb commented on #3841
Hi @BraveDistribution, so what I'm understanding from your post is that you are trying to combine all of your offline runs into a single run, but in the process of doing this the runs are replacing one another instead of getting appended? I see that you are using wandb.init and WandbLogger in the same script, can you show me how you are using both of them? Are you just using init by itself when tr

[2022-06-27 14:50] lesliewandb commented on #3839
Hi @piraka9011, you are correct that we have hardcoded for there to be 32 threads within multiprocessing.dummy.Pool. Because of the 96 processes you have through boto3 and we've got a limit of 32, this will bottleneck the number of processes and slow down the upload process and cause your upload speed to be about 3 times as slow. This slowness is partly due to the metadata extraction within Artifa

[2022-06-27 15:29] alvarobartt opened #3851 "[Feature]: Enable GitHub Discussions in this repository"
### Description

So this issue is basically to request the creation of a Discussions page in GitHub for this repository, this is a feature that GitHub moved out of beta last August 2021 as described at https://github.blog/changelog/2021-08-17-github-discussions-is-now-out-of-beta/, and it's something really useful so that the community members can have a place to ask questions, share ideas, etc.

[2022-06-27 17:00] jphdotam commented on #982
This would be immensely useful. Currently this is one of several problems making WandB sweeps with DDP tricky.
To get the whole thing working across multiple processes with a nested config, I store my replaced keys in dot notation e.g.

[code]

Then update the config with the sweep values, but being careful to stop the non-rank-zero processes from creating new WandB runs:

[code]

Where update con

[2022-06-27 17:53] tchaton opened #3852 "[Feature]: Enable replacing Run by SweepRun"
### Description

I am trying to create a Wandb Sweep where I control the Sample Generation.

The Sweeps package is quite rigid and it seems to be controlled only from the SweepController.

I would like to be able to replace Run by SweepRun where I add my own sampled parameters.
Using the SweepRun, I can log my models, etc... and find the beautiful Sweep UI from Wandb.

### Suggested Solution

Make

[2022-06-27 19:06] ramit-wandb commented on #3312
Hi @zimmer-m, @Hzzone!

The confirmation modal is ready to use and is now live at wandb.ai, which will confirm that you want to delete an active run before going ahead and doing so. I'm going to close this issue out for now, but if you face any issues while using this, please respond to this thread and I will be glad to assist.

[2022-06-27 19:56] furkan-celik opened #3854 "[App]: Can't see logged images in charts UI"
### Current Behavior

I am using wandb to report my generative model's progress. With a fixed intervals of steps (let's say for every 100 epoch), I want to log a set of sampled images. However, when I run the code below for this, generated images are saved as a file in the wandb web app instead of showing up as a part of UI. How can I fix this?

I also tried to submit images by giving each a diffe

[2022-06-27 20:14] MBakirWB commented on #3844
HI @youngjae-avikus , thank you for writing in. Can you please clarify what you are attempting to do as it isn't clear from the message posted. When you wrote you want to add a "config" from an existing project to a new one, are you attempting to use our API to fetch a specific run configuration and manually add/use it for another run?

Thanks

[2022-06-27 20:54] MBakirWB commented on #3845
Hi @nilsleh , thank you for writing in.

Can you uninstall and reinstall wandb and see if that helps? If not, please respond to the following:

What are the contents of your .netrc file [ cat ~/.netrc  ]
If you set the WANDB_API_KEY env var you don't need wandb.login . Can you run this without the wandb.login call?

[2022-06-27 21:37] MBakirWB commented on #3846
Hi @archilk, please [see this document](https://docs.wandb.ai/guides/track/advanced/resuming) on specifics of resuming runs for your particular use case. Please let me know if you have any questions after reviewing. Thanks.

[2022-06-27 21:45] nilsleh commented on #3845
Installation happens in the virtual environment of github Actions, so I'm not sure how I would uninstall and reinstall wandb there. I have tried both just setting the env variable or wandb login.

If I change the workflow yaml file like this

[code]
I get the following:
`cat: /home/runner/.netrc: No such file or directory`

If I just run wandb login:
[code]
I get the following:
`wandb.errors.Usage

[2022-06-27 22:24] mcourteaux opened #3855 "[Feature]: Improve usefullness of outlier removal for auto-scaling."
### Description

Right now, it does a reasonable job in finding a range where most data sits (using quantiles, I assume), but always drops a little bit of useful data around it. The reason the current approach fails is because if you have NO outliers, it still considers for example quatiles 5% and 95% for the auto range boundaries, which just assumes 10% of your data is outliers. This is obviously

[2022-06-27 22:42] albertfgu commented on #3779
Are you able to access this workspace? https://wandb.ai/hazy-research/s4?workspace=user-albert

I'm not sure it's helpful anymore because I manually added the right panels. The "samples" panel was giving me issues originally.

[2022-06-27 22:44] albertfgu commented on #3758
The issue was addressed due to a workaround, but I think there is still an underlying issue. Based on my experience, I think a quite minimal program such as
[code]
will fail on many systems.

[2022-06-28 05:08] ayulockin commented on #3845
Hey @nilsleh can you give this method a try: https://github.com/ayulockin/wandb2kaggle/blob/65203f07249b1e52bec153bab10fc7524b3b0675/.github/workflows/main.yml#L18

[2022-06-28 06:47] youngjae-avikus commented on #3844
@MBakirWB

For example, I want to measure the model inference time after model training and add(logging) the config (or like table) to the existing project,
so do I have to specify the `run_id` when I run `wandb.init`?

[2022-06-28 07:39] nilsleh commented on #3845
That worked! Thank you both so much for the fast response!

[2022-06-28 08:46] adnenabdessaied commented on #1179
Hey! I ran into a similar issue.
I am using pytorch DDP to train and I launch wandb on rank 0 when sweeping over some hyperparameters. The process runs without any issues until the run is completed and the metrics are synced. Then, all of them are mapped to <null> in the parallel coordinate graph. However, I can still see the charts of the same metrics being correctly displayed.
I noticed two inte

[2022-06-28 08:51] bycn opened #3858 "[App]: Silly bug, adding emoji to notes causes 500 error"
### Current Behavior

Silly bug, adding emoji to notes in wandb.init(notes="emojihere")causes 500 error

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Screenshots

_No response_

### Environment

OS: Linux

Browsers: N/A

Version: N/A

### Additional Context

_No response_

[2022-06-28 09:27] samedii opened #3859 "[CLI]: Crash on init when starting with guild"
### Describe the bug

[code]

[code]

### Additional Files

_No response_

### Environment

WandB version: 0.12.19

OS: Ubuntu 20.04.4 LTS

Python version: 3.8.8

Versions of relevant libraries: guild 0.8.1

### Additional Context

_No response_

[2022-06-28 09:41] nilsleh commented on #3845
Actually, the tests all run and pass now. However, I receive `Error: Process completed with exit code 255.`. This did not happen before.

[2022-06-28 11:34] armanhar commented on #3858
Hey there, thanks for flagging this. I'll reproduce this and file a ticket.

[2022-06-28 11:36] samedii commented on #3859
Added PR for dockerpycreds https://github.com/shin-/dockerpy-creds/pull/15 but should be unrelated to the main issue of the pdb hack stopping running via guild.

[2022-06-28 11:39] armanhar commented on #3851
Hey @alvarobartt, we created a discourse for our community. Here is the link: https://community.wandb.ai

[2022-06-28 13:08] nilsleh commented on #994
Also encountering this issue:
[code]

[2022-06-28 14:12] youngjae-avikus commented on #1700
+1

[2022-06-28 14:45] mancunian1792 opened #3861 "[CLI]: Wandb login within Airflow task throws multiprocessing error."
### Describe the bug

I have an airflow script that tries to log the metrics of an evaluation model to wandb. I had to make use of login programmatically because the airflow environment (MWAA - AWS) is a managed server instance that changes every time a dependency is changed.

Below is a sample airflow task where I test out if wandb works correctly.

[code]

I just use the above task in a DAG. It

[2022-06-28 16:38] Jarvis-K opened #3862 "My runs has large upstream_diff.patch, how can I avoid this? [Q]"
I am using the wandb to track my running. However, it automatically tracks the code and has a large upstream_diff.patch. This happens even if I committed and pushed my code to my git. I am wondering how can I avoid this ?

[2022-06-28 17:57] RamitGoolry commented on #3792
​Hi @05MrTom, since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!
​

[2022-06-28 19:52] jncasey commented on #3332
This seems to be fixed with the release of pytorch 1.12

[2022-06-28 20:03] MBakirWB commented on #3819
Hi @maxencewynen ,

I analyze the dumpfile and the crash is attributed to Nvidia. The crashing module is `nvlddmkm`, a display driver stopped responding, , see attached image.

I did a preliminary search online and got a few hits on addressing this issue, [example](https://www.technewstoday.com/fix-nvlddmkm-sys-error-in-windows/)

![BlueScreenCrash](https://user-images.githubusercontent.com/104453

[2022-06-28 20:54] RamitGoolry commented on #3854
Hi @furkan-celik,

Could you share a link to the project where this happens for you? I'll have a look.

Thanks,
Ramit

[2022-06-28 21:24] furkan-celik commented on #3854
Hi,

Thank you for reaching out. However, since the project is private, I wouldn't prefer to disclose it over a public medium. Is it possible to provide it over a secure/private medium?

Thank you

[2022-06-28 23:32] youngjae-avikus opened #3865 "[Q] Can set a conditional statement or something when wandb sweep?"
Dear All!

After configuring wandb sweep.yaml, I proceed with sweep after creating an agent
The batch size is fixed, but when it is a specific optimizer (adam), the gpu pops
So just in case, can I set a condition statement to lower the batch for a specific optimizer?
Or is there another wandb internal device?

Thank you!

[2022-06-28 23:34] vanpelt commented on #3845
Hmm, it seems like the runner is removing the temporary directory out from underneath the script.  I'm not sure about your specific tests, but you might want to try setting the `WANDB_MODE=off` environment variable.  This will stub out all of the wandb calls and not actually hit any of our api's which is usually what you want for automated unit tests.

[2022-06-28 23:41] vanpelt commented on #3838
If you're still stuck with SSL errors, you can disable TLS verification but it's not secure.  You do this by setting the environment variable `WANDB_INSECURE_DISABLE_SSL=true`

[2022-06-29 05:24] Nintorac opened #3867 "[App]: bump gql"
### Current Behavior

Currently GQL is pinned to `0.2.0` this has the dependency requirement `graphql-core>=0.5.0,<2`. This dependency is incompatible with Dagster.

Any harm in bumping this to `0.3.0` or even `3.3.0` if it is compatible?

[2022-06-29 07:16] nilsleh commented on #3845
If I do the following:
[code]
the `Error: Process completed with exit code 255` persists. Basically, the pytests I constructed are to launch a training job and then retrieve configurations and metrics from the local `wandb` directory in the save directory to check if training is running as intended.

[2022-06-29 11:57] DaBihy opened #3868 "[App]: Builtin presets problem."
### Current Behavior

All charts using built-in methods `wandb.plot` are not working anymore in all my projects. It was working just fine until 2 days ago all the charts started showing me the error in the screenshot.

I tried to create a custom one from the query but it didn't work

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Screenshots

![image](https://user

[2022-06-29 11:58] ssemeniuta commented on #3838
Thank you for the suggestion, but in my case the problem is not in libs - there is some kind of an issue with certificates in our system.

This helped, thank you!

[2022-06-29 14:07] lesliewandb commented on #3855
Hi @mcourteaux, thank you for bringing this to our attention. Are you running into this when clicking on the "Remove Outliers in Chart Scaling" button or when using our scikit-learn integration?

[2022-06-29 15:49] lesliewandb commented on #3861
Hi @mancunian1792, thank you for bringing this to our attention. Can you try setting `os.environ["WANDB_START_METHOD"] = "thread"` and seeing if this is able to help?

[2022-06-29 16:36] lesliewandb commented on #3862
Hi @Jarvis-K, you can turn code saving off by going into [settings](https://wandb.ai/settings) and making sure that 'Enable code saving in your personal account' under 'Project Defaults' is turned off.

[2022-06-29 17:36] Jarvis-K commented on #3862
Thanks! This solves my problem and I will close the issue.

[2022-06-29 18:14] DaBihy commented on #3868
@ash0ts
Here is the link for an example: https://wandb.ai/bihy/ConvEntionROC2?workspace=user-bihy

Thank you.

[2022-06-29 18:28] MBakirWB commented on #1787
@jvlmdr, since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-06-29 18:46] MBakirWB commented on #3779
@albertfgu , thank you for sharing the workspace. I will attempt to reproduce on my end today and provide feedback.

[2022-06-29 19:33] MBakirWB commented on #3865
Hi @youngjae-avikus ,

Thank-you for writing in with your question. At this time we do not have conditional sweep configuration. We plan to release this in the future. In the meantime the best method would be to calculate the batch sizes from inside your script. If you know the batch sizes you want to use, you should be able to set up a conditional statement to assign batch sizes according to the

[2022-06-29 21:01] Nintorac commented on #3867
I was on an old wandb client for some reason

[2022-06-29 21:30] kptkin commented on #3858
Hey @bycn,
Thanks a lot of reporting the issue. After talking to our backend team, it seems that our database doesn't currently support passing emojis as notes. We are working on upgraded to our backend, that hopefully should resolve this issue. We will keep you updated as things change.

[2022-06-30 09:15] miguelvalente opened #3872 "[CLI]: Have to call API twice to get wanted information"
### Describe the bug

When I make a single call nothing gets returned.

![image](https://user-images.githubusercontent.com/39302216/176639697-4bb2127f-e312-4793-a0e2-6a59cf24e03a.png)

[code]

### Additional Files

_No response_

### Environment

WandB version:  0.12.18

OS: Arch Linux

Python version: 3.10.4

Versions of relevant libraries:

### Additional Context

_No response_

[2022-06-30 09:49] armanhar commented on #3804
Hey @richardrl, apologies about the delay on this. No, you can select all the runs and then deleted those runs in bulk in the UI.
<img width="478" alt="Screen Shot 2022-06-30 at 13 47 30" src
<img width="437" alt="Screen Shot 2022-06-30 at 13 47 42" src="https://user-images.githubusercontent.com/89597668/176647693-c8c21a6d-bbea-47ca-8536-6ef06e5dcb66.png">
="https://user-images.githubusercontent.c

[2022-06-30 12:15] ludwigwinkler opened #3873 "[Feature]: Custom LineSeries"
### Description

Hi,

I have multiple runs which share the config value 'length' (basically a hyperparameter) with different values (in my case 16, 32, 128, 256).

I would now like to plot the values of 'NN' and 'iFFT' on the y-axis with 'length' providing the x-axis.

Unfortunately, wandb only let's me pick a single value to plot as shown in the field 'lineVal', but I want two or more values to b

[2022-06-30 13:20] lminer opened #3874 "[CLI]: log gradients broken for subclassed keras models"
### Describe the bug

For tensorflow keras, the WandbCallback cannot log gradients for a subclassed model. This due to the following line: https://github.com/wandb/client/blob/master/wandb/integration/keras/keras.py#L513, which accesses `model.inputs` which is `None` in the case of a subclassed model. Instead, probably the easiest thing is to accept an extra argument that provides input dimensions

[2022-06-30 16:16] vanpelt commented on #3824
@samuela by default when you call .download on an artifacts it's writes that data to the current directory.  You can override what directory download writes to with the root argument of that method.

All artifact data is written through the cache.  You can change the location of the cache with the WANDB_CACHE_DIR environment variable.

[2022-06-30 16:24] lesliewandb commented on #3841
Hi again @BraveDistribution, do you still need help with this?

[2022-06-30 16:25] PiotrDabkowski opened #3875 "[App]: Long captions are clipped in UI."
### Current Behavior

Long audio captions are clipped and there is no way to see them in full (likely also applies to other media, but did not test).
They are also not centered and look weirdly offset to the right, and are clipped in both, beginning and end:
<img width="1626" alt="image" src="https://user-images.githubusercontent.com/4052440/176728311-631948ba-653c-4654-8866-390fe0abd830.png">

Th

[2022-06-30 19:18] ramit-wandb commented on #3872
Hi @miguelvalente,

Our API lazily loads runs as they are accessed, which is why you were not seeing anything on the first call through the debugger. Could you try iterating through the runs once just to confirm if you are able to print the names / run id's for all of the runs? If you can, the API is working fine.

[2022-06-30 20:25] MBakirWB commented on #3823
@samuela ,

Thank you for providing all the requested items and providing clarification that you directly running on a VM. I did escalate this to our engineering team to take a closer look. Once I have feedback I will update you immediately.

[2022-06-30 20:49] Exr0n opened #3876 "[Feature]: Alternate Sweep/Early Stopping Algorithms eg. ASHA"
### Description

When researching ML tuning libraries, it seemed that many people recommended [ray tune](https://www.ray.io/ray-tune) had because it had advanced sweep algorithms, like [ASHA](https://blog.ml.cmu.edu/2018/12/12/massively-parallel-hyperparameter-optimization/) and Population-based Training. I'm wondering if there is interest or plans to support more complex algorithms?

Right now, W

[2022-06-30 21:33] ramit-wandb commented on #3874
Hi @lminer,

Thanks for bringing this to our notice. I'll let our engineers know about this, and we should have this resolved. Would you happen to have a minimal script to reproduce this issue?

[2022-06-30 22:18] samuela commented on #3823
Size in which dimension?

How are Docker or MinIO relevant here? I'm not using containers in any way.

[2022-06-30 22:24] samuela commented on #3823
The gist linked above was run on a m6a.large instance with 166G available on `/`, more than enough to store the artifact.

[2022-06-30 22:46] ramit-wandb commented on #3873
Hi @ludwigwinkler,

I'm not sure how exactly you intend your data to be represented. Could you plot a small example in matplotlib so that me and our engineering team could get a better sense for what you are looking for?

Thanks,
Ramit

[2022-06-30 22:56] MBakirWB commented on #3823
Thanks for the clarification @samuela , I do recognize my mistake now in misinterpreting your initial/subsequent submissions. You are running wandb client on an EC2 instance.

Revisiting earlier comments, we recommend for users today to have 2x the space to upload the artificat as we write through the cache. Please revisit the second suggestion regarding the cache directory which can be overridden

[2022-07-01 00:00] MBakirWB commented on #3844
@youngjae-avikus ,

To log to an existing run that has finished you need to [reinitialize the old run](https://docs.wandb.ai/guides/track/advanced/resuming) and proviode the actual run id, `wandb.init(id=run_id) `.

Please let us know if you have additional questions.

[2022-07-01 00:02] MBakirWB commented on #3846
Hi @archilk l, since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-07-01 06:37] richardrl commented on #3804
@armanhar If you click "select all runs", that deletes all the runs in the project. I want to delete all the runs that have runtime < 1 minute, which is very different from deleting all runs overall

[2022-07-01 07:53] armanhar commented on #3875
Hey @PiotrDabkowski, can you share a code snippet you used for logging the audio file? Also which wandb version are you using?

[2022-07-01 09:36] EmilienDupont commented on #3764
Hi Ramit,

Thank you and sorry for the slow reply on my end! To give further context, our ideal use case is that, given a path to a wandb run, the user can programmatically download a model using e.g.

[code]

and download some artifact from that run using e.g.

[code]

As an example from our codebase, [this script](https://github.com/EmilienDupont/coinpp/blob/main/reconstruction.py) requires us t

[2022-07-01 09:55] DaBihy commented on #3868
@ash0ts  any solution for the problem?

[2022-07-01 10:21] thiyagu-lily opened #3877 "[App]: DDP processes not able to access artifacts when wandb initialized only in main process"
### Current Behavior

When wandb.init is called only in the main process, the child processes initialized by ddp dont have access to the wandb run

### Expected Behavior

_No response_

### Steps To Reproduce

_No response_

### Screenshots

_No response_

### Environment

OS:

Browsers:

Version:

### Additional Context

_No response_

[2022-07-01 12:36] miguelvalente commented on #3872
@ramit-wandb
PS:
Forgot to confirm what you said. Yes indeed it works as expected.

![image](https://user-images.githubusercontent.com/39302216/176895736-2c866844-4bcf-4408-bb49-a10a4ae4d2dd.png)

[2022-07-01 12:38] mcourteaux commented on #3855
Yes, I'm talking about the "Remove Outliers in Chart Scaling" button. I have another way to think of this: remove outliers assumes you have outliers, always. Instead, I think it is more useful that it tries to only remove outliers if you have any. This feature is useful, but when you filter down on runs that don't have outliers, the range it finds becomes not useful as it cuts off useful data.

[2022-07-01 15:57] nate-wandb commented on #3600
Hi @lemmersj,
This looks like a bug. It looks like when we try to save your Conda environment it is causing an error. Once that error occurs something goes wrong and W&B gets stuck. I'll report this to our engineering team.

It looks like the error is caused but W&B not being able to find your conda folder. Is there any reason to believe this has been renamed from "conda" or if there is any other

[2022-07-01 16:23] lemmersj commented on #3600
Hi @nate-wandb,

I have conda loaded through the modules package (e.g., _module load miniconda3_ prior to calling my script). The exact details of how this package works are beyond my expertise, but it might be relevant.

Additionally, I load the environment itself through the absolute filepath (/network_drive/username/conda_envs/env_name) instead of allowing conda to resolve it automatically, mea

[2022-07-01 17:25] ramit-wandb commented on #3703
Hi @allanchan339, since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!
​

[2022-07-01 19:04] MBakirWB commented on #3876
@Exr0n ,

Thank you for writing in with this feature request.

At this time we are looking into expanding this functionality and working towards releasing a feature that allows users to implement their own hyperparameter search algorithms. This will take time to launch but we will update W&B users when available. I have added your details to our internal tracking system, I'll be to sure to followu

[2022-07-02 00:04] MBakirWB commented on #3877
Hi @thiyagu-lily, can you please expand on your post and what you are attempting to access.It would be great if you can provide us with sample code of how you are using DDP and logging to runs.

Please see this [document](https://docs.wandb.ai/guides/track/advanced/distributed-training#logging-distributed-training-experiments-with-w-and-b) on our recommended methods of using DDP, including advance

[2022-07-02 02:06] MBakirWB commented on #3833
Hi @TanyaChutani ,

Apologies for the delay on this. After review, this error is not directly attribute to Wandb but rather Tensorflow or Keras where tensors aren't being serialized to JSON, potentially your optimizer. This is similar to the known issue reported [here](https://github.com/tensorflow/addons/issues/2446) in the Tensorflow Addons Github. I was able to find a few stackoverflow hits on

[2022-07-02 17:48] Waterkin opened #3882 "[Q] How to sweep with multiple GPU"
Hi,
I have 8 GPUs that are able to load wandb agent, how can I utilize them?
In https://wandb.ai/site/articles/multi-gpu-sweeps, I have learned command `CUDA_VISIBLE_DEVICES=0 wandb agent SWEEP_ID`
So can I use the following command to sweep 8 runs at the same time?
`CUDA_VISIBLE_DEVICES=0 wandb agent SWEEP_ID`
`CUDA_VISIBLE_DEVICES=1 wandb agent SWEEP_ID`
`CUDA_VISIBLE_DEVICES=2 wandb agent SWEEP

[2022-07-02 18:15] levan92 opened #3883 "[Q] Sweep with each sweep run on multi-gpu DDP"
Hi, I am using sweep, but each sweep training run is on 4 GPUs in a DDP training mode.

I need to have access to `wandb.config` in all 4 processes, in order to update the hyperparameters given by the sweep server to all 4 processes of each training run.

I do understand that according to ur [documentation on DDP](https://docs.wandb.ai/guides/track/advanced/distributed-training), you recommend 2 wa

[2022-07-02 18:19] levan92 commented on #3883
Update: I tried second DDP method (aka, init for other 3 processes as well), and as expected, it didn't work, error log below:

[code]

Any idea how I can do this otherwise?

[2022-07-03 08:13] HaoLiuHust opened #3884 "[Q] How to transfer runs between two wandb instance?"
for example my first wandb instance server(physical server) has reinstalled OS, so I have to reinstall wandb.  After reinstall wandb, I want to recover the runs logs. Is there a way?  my wandb has setup with s3 and mysql, is it will automaticly recover with the same s3 and mysql?

[2022-07-03 13:12] TanyaChutani commented on #3833
Understood, thanks for a quick response to my query. Appreciated.

[2022-07-03 16:59] AbraGanz commented on #3788
Would also love to see this!

[2022-07-03 18:46] abwilf opened #3885 "[Q] Intentionally Crashing (For Factorized Sweep Grid Search)"
Hi there,

My question is this: from within a python script being run from within a wandb sweep, I'd like to be able to send a signal to the server saying that the program temporarily "crashed the agent", _but continue to run the agent on different runs in this same sweep_. The reason for this is kind of involved and I think not entirely necessary for you to understand, but if you'd like here it i

[2022-07-04 07:45] kayvane1 opened #3886 "[Feature]: Support for Artifact.add_reference(HuggingFace Hub id)"
### Description

The current implementation of Artifacts supports remote storage on cloud providers such as AWS and GCP as well as natively providing a local file path to files in local storage to log and store remotely on 🏋️‍♀️ W&B.

As part of the model training process in the HuggingFace Ecosystem it is now common to automatically push a model to the HuggingFace Hub due to the integrated functi

[2022-07-05 00:06] samuela commented on #3823
Following your advice I have set `WANDB_CACHE_DIR=/tmp` and have verified that I have a generous amount more than the 2x  space reportedly necessary to upload the artifact, but I'm still seeing the same error:
[code]

How should I proceed from here?

[2022-07-05 00:18] samuela commented on #3823
I'm also seeing this issue when setting WANDB_DIR and WANDB_CACHE_DIR to `/efs/tmp` which has exabytes of storage available...

[2022-07-05 01:15] jarridrb commented on #1179
Want to note that I'm getting a similar issue as well.  I can look into it more in the next few days to post more details, but the short version of things is that I have a number of runs which have their summary metrics filled while training progresses, but once the trial has finished the summary metrics disappear similar to the images above.  I'm using the `wandb` integration with Ray Tune which

[2022-07-05 01:50] samuela commented on #3823
FWIW this is an issue specific to wandb since
[code]
errors out but
[code]
works fine.

[2022-07-05 05:50] yuvalkirstain opened #3888 "[Feature]: Ability to merge old runs with a new run"
### Description

Hi,

Sometimes one trains a model for a long time, and this process takes several runs. It would be nice if one could merge old runs with an existing run. I know that there is an option to resume an old run, but sometimes a user might prefer to keep the code simpler and merge the runs themselves through the UI (which is what I am asking for).

Thank you :)

### Suggested Solution

[2022-07-05 09:29] adamdowse opened #3889 "Custom Vega Plots Crashing[App]:"
### Current Behavior

When adding a custom plot panel I can get around the bug of not being able to access the run history keys by selecting 'summary' first, selecting the keys and then switching to history(). However, inside the edit tab any changes to the code I make crashes the app. Specifically adding a comma causes the crash most often.

Any help or a fix for the vega implementation would be

[2022-07-05 13:47] ManiadisG opened #3890 "[Q] Logging metrics for previous steps / Resetting a run's step"
As far as I can tell, the default behaviour of wandb is that you can only log metrics forwards, not backwards. That is, if a metric is logged for step _t_, logs made for step _t-1_ are ignored.

Is it possible to overcome this? Specifically, I want to have two distinct training runs (with non-overlapping metrics other than what wandb logs by default such as device-related measurements) and log the

[2022-07-05 14:04] stephano41 opened #3891 "How to automatically choose which parameters and metric to create parallel coordinate chart?"
Wondering how to automatically choose which parameters and metric to create parallel coordinate chart from within python code, so that I don't need to create one for every single group run I do.

So far have tried logging parameters as config, doesn't automatically make a parallel coordinate chart

[2022-07-05 15:40] ValentinKoch opened #3892 "[Q] Wandbcallback keras models get overwritten"
Hi, im not sure how exactly this happens but my models that I am saving online keep getting overwritten by newer models if saving with wandbcallback, seems like its happening even between projects. My code looks roughly like this:

wandb_run=wandb.init(config=params,project="xxx")
wandb_callback=WandbCallback( log_weights=True)

 model.fit(.... ,callbacks=[wandb_callback])

when restoring model:

[2022-07-05 16:40] MBakirWB commented on #3819
HI @maxencewynen , since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-07-05 19:00] MBakirWB commented on #3803
@GrahamboJangles ,

Have you downloaded the Linux Kernel Update package per the WSL 2 error window? If yes, are you still experiencing errors with launching your Docker container?

[2022-07-05 19:04] MBakirWB commented on #3882
HI @Waterkin,

Thank-you for writing in with your question. Wandb supports distributed training through several methods listed [here](https://docs.wandb.ai/guides/track/advanced/distributed-training) in our documents, additionally our wandb service feature, see [here](https://docs.wandb.ai/guides/track/advanced/distributed-training#wandb-service), enhanced distributed training and addresses common

[2022-07-05 19:38] JulesGM opened #3893 "[App]: problem in the doc"
### Current Behavior

https://docs.wandb.ai/guides/track/advanced/resuming#resuming-guidance
In the sub title next to "1." and "2." there are weird `` characters. I feel like maybe these subtitles are broken.

![Screen Shot 2022-07-05 at 3 33 40 PM](https://user-images.githubusercontent.com/3231217/177402327-bd2af57e-6305-4c31-9b58-360d060b458f.png)
![Screen Shot 2022-07-05 at 3 33 46 PM](https://

[2022-07-05 19:42] MBakirWB commented on #3884
Hi @HaoLiuHust,

Thank-you for writing in. I have a few questions,

- Are you using wandb local or cloud?
- When you reinstalled OS, did you do full reformat prior to reinstalling wandb?
- When you configured your initial S3 and MySQL, was your data ported to AWS or did your maintain data storage locally?

[2022-07-05 19:57] nranabhat commented on #3244
I'm having a related issue. I'm able to use  `best_loss = sweep.best_run().summary_metrics['loss']` to find the lowest value of loss (float value) in a given sweep. The problem is that I believe `wandb.log()` is not updating wandb fast enough before `sweep.best_run().summary_metrics['loss']` is executed. This leads to a _KeyError('loss')_ exception on the first epoch. I've tried using the `commit=

[2022-07-05 19:59] ramit-wandb commented on #3854
Absolutely! You can reach out at support@wandb.com and we can continue the conversation there! I'll close out this issue for now and will follow up on your email. Please link to this issue in your email.

[2022-07-05 20:01] nranabhat opened #3894 "[Q] How to make sure wandb.log() updates wandb before moving onto new code?"
I'm having a related issue to #3244. I'm able to use best_loss = sweep.best_run().summary_metrics['loss'] to find the lowest value of loss (float value) in a given sweep. The problem is that I believe wandb.log() is not updating wandb fast enough before sweep.best_run().summary_metrics['loss'] is executed. This leads to a KeyError('loss') exception on the first epoch. I've tried using the commit=t

[2022-07-05 20:22] kptkin commented on #3756
This change went out in the latest release (0.12.21) thanks @tylerganter for the contribution!

[2022-07-05 22:14] MBakirWB commented on #3779
Hi @albertfgu ,

I was able to utilize your code to log images correctly to the Media panel. From above I do recognize you manually readjusted your panels for the correct output (I was able to see this in your workspace). I'll be marking this closed. Please do reach out again with additional support requests.

[2022-07-05 22:29] MBakirWB commented on #3886
@kayvane1,

Thank-you for writing in with a feature request and providing an example. I will document this internally and update you when our team has any feedback.

Regards,

Mohammad

[2022-07-06 00:12] ramit-wandb commented on #3885
Hi @abwilf,

Interesting question! I think the tags feature of our runs could work here. If there was a run I would want to crash, I would follow the following pattern:

[code]

Please let me know if you have any other questions, hope this helps!

[2022-07-06 00:15] #3792 closed

[2022-07-06 00:34] MBakirWB commented on #3889
Hi @adamdowse , thank-you for writing in. We know of the bug that is causing custom chart crashes. We will be releasing a fix this week. I will update you when the fix is deployed.

[2022-07-06 06:14] sanealytics opened #3896 "[CLI]: All run names are offline_Run_Name on the dashboard"
### Describe the bug

Wandb has been working fine for me (version 0.12.11).
I used offline mode to test things by setting the variable `WANDB_MODE=offline`.
Then when I unset it and ran normally, all my dashboard run names are offline_Run_Name.

This does not happen from another box (see screenshot).

I deleted my wandb directory, ran `wandb sync --sync-all --include-synced`, and also re-logged in

[2022-07-06 09:12] armanhar commented on #3888
Hey Yuval, thanks for the suggestion. I'll file a ticket for this feature request and message you when we have updates.

[2022-07-06 12:47] lesliewandb commented on #3788
I have added your request to the ticket also @AbraGanz

[2022-07-06 12:59] lesliewandb commented on #3763
Hi @khawar-islam , since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-07-06 14:15] lesliewandb commented on #3891
Hi @stephano41, the parameters come from your .yaml file when you create your [Sweep](https://docs.wandb.ai/guides/sweeps). Can you show me how you are currently creating your Sweep?

[2022-07-06 14:33] lesliewandb commented on #3841
Since we haven't heard back from you, I'm going to close this ticket. But feel free to reopen if you're still experiencing this!

[2022-07-06 15:24] abwilf commented on #3885
Thank you, Ramit!  Worked like a charm.

[2022-07-06 17:19] nate-wandb commented on #3892
Hi @ValentinKoch,
Can you show how you are saving your model? Are you using `wandb.save()`? The `log_weights` argument of WandbCallback will log the histogram of the weights but this is not an actual .h5 model weights file.

Thank you,
Nate

[2022-07-06 17:34] MBakirWB commented on #3865
@youngjae-avikus, since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-07-06 17:55] ValentinKoch commented on #3892
Ah yes, you are right. Actually its also done by WandbCallback, its default initialization has save_model=True, which I do not change. This saves the .h5 model file.
Was just looking at the implementation of the WandbCallback class, maybe its that line:

 self.model.save(self.filepath, overwrite=True)

line 964 in https://github.com/wandb/client/blob/a339333b3ee93864daf416f04c1501186dffac5c/wandb/

[2022-07-06 20:59] ramit-wandb commented on #3872
Hey @miguelvalente,

`len(self.runs)` should give the expected number of runs.

Thanks,
Ramit

[2022-07-06 22:02] lesliewandb commented on #3894
Hi @nranabhat, after your first wandb.log call, can you put in a sleep function? This will be able to help make sure that everything is logged properly before sweep.best_run().summary_metrics['loss'] is executed.

[2022-07-07 00:12] ramit-wandb commented on #3896
Hi @sanealytics,

Could you share a link to the project affected? I'll have a look into this.

Thanks,
Ramit

[2022-07-07 01:11] HaoLiuHust commented on #3884
Thanks for your reply.
* I am using wandb local with docker
* no, it's not full reformat
* the S3 is a local ceph cluster

[2022-07-07 01:14] vanpelt commented on #3884
If you point the new server to the same s3 bucket all you'll need to restore is the MySQL data which would be on the original docker volume (unless you also pointed the original to an external MySQL).

[2022-07-07 01:22] HaoLiuHust commented on #3884
thanks, I got it

[2022-07-07 05:45] stephano41 commented on #3891
Ah I see, I've been using wandb as the wandb mixin to log ray tune trials as detailed in the ray tune documentation. Is there anyway to manually define it without creatimg an actual sweep?

[2022-07-07 07:30] Ji4chenLi opened #3905 "[Q] Changing X-axis results in empty figure"
Hi,

Thank you so much for constructing such an amazing repo!

Currently, I encountered an issue that the line plots do not show correctly after I change the value for the X-axis. As is shown below, both `Metrics/EnvironmentSteps` and `Metrics/AverageReturn` are plotted correctly with the `x-axis = global_steps`
![image](https://user-images.githubusercontent.com/44934137/177716530-37b549ba-d9b5-44

[2022-07-07 07:45] miguelvalente commented on #3872
@ramit-wandb Thanks!

[2022-07-07 08:14] urosjarc opened #3906 "Analyzing hyperparameters without actually performing sweep [Q]"
Hy, I’m in love with wandb, but I have a problem…

I have a simple question…

How can I analyze hyperparameters…As seen in this picture, without actually creating a sweep.

In my own code…

![68747470733a2f2f692e696d6775722e636f6d2f5455333451465a2e706e67](https://user-images.githubusercontent.com/8678755/177725197-17a0cb23-36b0-4f63-aa73-f50e631cdec2.png)

I’m preforming learning and for every mod

[2022-07-07 09:09] Ji4chenLi commented on #3905
Fixed the issues. This issue is encountered when I am trying to use `wandb.tensorboard.patch` to sync the `tensorboard` results to `wandb`.

The key is that Wandb seems to rely on its internal `_steps` to judge if two vectors can be combined (e.g., `Metrics/EnvironmentSteps` and `Metrics/AverageReturn`) to create a plot.

As is mentioned in [Metrics/EnvironmentSteps and Metrics/AverageReturn](http

[2022-07-07 09:38] armanhar commented on #3905
Hey @Ji4chenLi, glad you figured it out. Let me know if you have any further issues.

[2022-07-07 11:57] ManiadisG commented on #3890
Hi @armanhar. So is there no way to revisit previous steps? Not even if the goal is to overwrite them?

[2022-07-07 13:26] adamdowse commented on #3889
This is great thank you, so far it's working perfectly!

[2022-07-07 15:19] zimmer-m commented on #2005
This should be reopened! Would love to have the feature to start sweeps in a nested way.

[2022-07-07 19:59] Ji4chenLi commented on #3905
Thank you so much!

[2022-07-07 22:08] armanhar commented on #3827
Hey @EhssanD, could you update your client to the latest version and notify me if the issue persists?

[2022-07-08 03:42] armanhar commented on #3830
Hey @martinabeleda, apologies about the delay on this. I'll double-check with the team on the expected behavior and let you know.

[2022-07-08 06:41] urosjarc commented on #3906
Hy I have contact wandb support and they teach me how to create hyperparameter graphs without actually performing a sweep. In the project dashboard, I missed "Parameter Importance" and the "Parallel Coordinates" panels, by clicking on the "+ Add Panel" button in the dashboard. You guys should add those 2 graphs by default since it's really easy to miss those options in the project dashboard.

I wo

[2022-07-08 06:56] sanealytics commented on #3896
Thanks @ramit-wandb I sent it on an email on support, as I feel uncomfortable sharing the link publicly.
Regards.

[2022-07-08 07:13] David-Biggs opened #3910 "[Q] Is it possible to plot metric where epochs is on the x-axis in mmDetection?"
Thanks for the awesome tool!!

I am training multiple models each with a different training dataset size. I want to evaluate each model's performance . At the moment I seem only to be able to plot step (iteration) on the x-axis. This is not ideal as the smaller datasets would train for fewer steps, see the screenshot below.

(This is due to the following formula `num_itterations = (num_epochs*num_

[2022-07-08 08:37] ArnolFokam opened #3911 "[CLI]: Can't find port file when using wandb.require("service")"
### Describe the bug

When running the code snippet below using **WanDB** + **PyTorchLightning** on SLURM. The code crashes randomly for most if not all runs.

[code]

[code]

### Additional Files

_No response_

### Environment

WandB version: 0.12.20

OS: Ubuntu 18.04.6 LTS

Python version: 3.8

Versions of relevant libraries:
PyTorch: 1.12.0
PyTorch Lightning: 1.6.4

### Additional Context

- T

[2022-07-08 10:03] stephano41 opened #3912 "wandb.sklearn.plot_confusion_matrix cannot find confusion_matrix_0_xxxxxxxx.table.json"
### Describe the bug

I am using  pytorch lightning with the wandb logger from pytorch lightning. In my lightning module at test_epoch_end I have:

[code]
where target is a list containing:
[code]

and preds is:
[code]
However, when I run trainer.test() (which calls test_epoch_end)
i get the error:
[code]
where `C:\\Users\\Steven\\OneDrive - University of Adelaide\\Python Scripts\\GRF_hip_outcomes

[2022-07-08 20:07] asrafulashiq commented on #2005
Same here. I would love to see this feature, as I use hydra as config files where there are lots of nested configs.

[2022-07-08 22:20] MBakirWB commented on #3803
Hi @GrahamboJangles , since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-07-09 01:37] GrahamboJangles commented on #3803
@MBakirWB Hi, sorry for the long response-time. I have installed the Linux Kernal Update per the error window using `wsl_update_x64.msi`, and I had to run it as administrator after doing so to get it to work.

[2022-07-09 02:19] ejmejm commented on #1700
+1

[2022-07-09 19:04] phtu-cs commented on #3854
I had the same issue. Images are not showing in Media section.

[2022-07-10 07:00] mcourteaux commented on #3855
Example: this range is useless:
![image](https://user-images.githubusercontent.com/845012/178134655-3fa9922f-3264-40da-a3a3-deb574d68c83.png)
So, I enable outlier removal for chart scaling:
![image](https://user-images.githubusercontent.com/845012/178134678-d0dc9412-8c35-4b69-b3f8-73a0091f81f1.png)
Now it zooms in to the more useful range, but always cuts away the most recent values, as those are

[2022-07-10 14:55] smorad commented on #736
Just wanted to bump this once more, this would be ideal to have in the web interface. The weave solution works for plots but cannot be used when looking at tables. Furthermore, many libraries that wrap Wandb in a generic logger class will usually not provide access to the Wandb instance, preventing users from calling `define_metric`.

[2022-07-10 17:25] levan92 commented on #3883
Hi, any updates on this?

[2022-07-11 11:56] nate-wandb commented on #3600
Hi @lemmersj,
I've reported this as a bug so that we can handle the exception where we can't find the Conda env. This is strange that though that this only shows up occasionally. Are all of your runs using this same flow of importing the Conda environment in this way?

My guess is that this is raising the error on every run but it isn't causing the run to hang every time. Could you possibly send t

[2022-07-11 12:44] nate-wandb commented on #3910
Hi @David-Biggs,
Would you prefer to only log your metric every epoch or are you looking to change the way it is visualized in the UI?

If you would like to only log once per epoch, could you share your training script and I can help you with this?

The other option would be to change the scale in the UI using the expressions tab. For instance you could do something like the following:
<img width=

[2022-07-11 13:33] jokleinn opened #3916 "[FR]: Allow skipping new FLOP calculation"
### Description

Since the recent W&B update that added FLOPs calculation, #3817, I now get:

Filling my output. I know that my model is designed in a nonstandard way, and this is likely to be the cause of the underlying exception that is being caught and thrown away.

### Suggested Solution

I ask that a boolean constructor argument `calc_flops` -- default True, to preserve existing behavior -- f

[2022-07-11 16:07] nate-wandb commented on #3911
Hi @ArnolFokam, could you possibly send the `debug.log` and `debug-internal.log` files for a run that crashed? These can be found in the local run folder on the training machine.

Will a certain node always lead to this crash? Are there other nodes that usually successful?

Thank you,
Nate

[2022-07-11 16:13] nate-wandb commented on #3912
Hi @stephano41, it looks like you are setting your root directory as a network drive correct? This often causes these sort of errors as these can become temporarily unaccessible. Would it work for you to set the root dir to a local drive and then transfer runs over to your network drive upon completion of the run?

Thank you,
Nate

[2022-07-11 18:05] brianhenn opened #3917 "[App]: sweep UI - axis range hides all runs and can't be found or removed"
### Current Behavior

On the app's Sweep workspace page, I got into a state where all runs are hidden and there's no way I can tell to get out of it.  The error message states that a range on a parallel coordinates or scatter plot is hiding the run, for every run. However, I could not find any such ranges on my plots to remove. I tried deleting all of the panels, but the filter remains. No way to

[2022-07-11 18:13] brianhenn commented on #3917
OK, after a lot of time clicking around, I realized that it is possible to remove the range restriction (whatever it was) by clicking on the eye at next to 'Name' at left and then clicking 'visualize all'. This restored the runs.

However, it is certainly still unexpected (a bug IMO) that when a panel with a restricted range is deleted it does not remove the overall range restriction.

And it also

[2022-07-12 00:00] ash0ts commented on #3868
Hello @DaBihy,

I apologize for the delay on this. It seems during one of our upgrades we mistakingly removed some of our Vega Specs. We intend having these back in soon. I apologize for the delay and inconvenience!

[2022-07-12 00:06] ramit-wandb commented on #3916
HI @jokleinn,

Thank you for your suggestion. I'll pass this on to our engineering team to be implemented and will keep you posted on the status of this.

Thanks,
Ramit

[2022-07-12 03:13] stephano41 commented on #3912
Hi @nate-wandb thank you for your response, I tried a few things and eventually disabling the path length limit on my windows machine made it work

[2022-07-12 05:22] MBakirWB commented on #3877
Hi @thiyagu-lily,

Since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-07-12 05:23] MBakirWB commented on #3882
Hi @Waterkin , since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-07-12 05:48] David-Biggs commented on #3910
Hi @nate-wandb , thanks for your reply.

I am hoping to log my metrics every epoch. I have runs which train for the same number of epochs but each run has a different number of steps per epoch. I am using sweeps and training in MMDetection.

Here is my training script:
`def train():`
 `----with wandb.init() as run:`
        `--------wandbconfig = wandb.config`
        `--------cfg.optimizer.lr = w

[2022-07-12 06:15] thiyagu-lily commented on #3877
hi @MBakirWB
sorry missed the update!

Im trying to call wandb init from rank0, but my code needs to access artifacts from wandb. So the non rank0 processes are not able to access the artifacts. I want to do this, to prevent duplicate runs for the same configuration!

[2022-07-12 07:51] armanhar commented on #3804
Hey @richardrl, apologies about the delay. "Select all runs" only selects that runs that are not filtered out. By default if you select all the runs, it will select the runs in the current page. "Select all runs" is used to select the runs on all the pages. In the screenshots below you can see that:

<img width="488" alt="Screen Shot 2022-07-12 at 11 45 55" src="https://user-images.githubuserconte

[2022-07-12 07:53] armanhar commented on #3875
Hey @PiotrDabkowski, ​I wanted to follow up on this request. Please let us know if we can be of further assistance or if your issue has been resolved.
​

[2022-07-12 08:33] PiotrDabkowski commented on #3875
Thank you, here is the code to log the 4 second, silent audio, with a very long caption. You will see that the caption is cut in the UI.

`wandb.log(dict(audio=wandb.Audio(np.zeros(4*22050), 22050, caption=100*"Very long caption."))`

Wandb version: 0.12.21 (latest). The issue is on the web client UI side, as the text is logged fine, and is present in the HTML of the site, but it is simply not bei

[2022-07-12 15:50] lesliewandb commented on #3852
Hi @tchaton, since you haven't responded I'm going to close out this ticket. However, if you still want to create this feature request please let me know!

[2022-07-12 15:53] #3852 closed

[2022-07-12 16:51] jacobwjs commented on #2005
Add me to the list of people wanting this feature :)

[2022-07-12 18:30] #3872 closed

[2022-07-12 19:16] ramit-wandb commented on #3854
Hi Nobita,

Could you share the following information -

1) A link to your project page
2) The version of `wandb` you are currently using
3) If possible, a minimal code snippet reproducing this issue?

I'll have a look into this for you

[2022-07-12 19:43] #3893 closed

[2022-07-12 20:07] MBakirWB commented on #1554
Hi @jerofad, this is currently not an anticipated change. Once there has been movement, I'll be sure to provide an update here. Thanks.

[2022-07-12 22:18] LiuCMU opened #3921 "wandb.plot.histogram only contains part of the data points"
Hi, thanks for this excellent product!

 I tried to log a histogram, but find that the plot only contains part of the data points. Here are my steps: Firstly I created a wandb `Table` object with the data that I want to plot. Then I use `wandb.plot.histogram` to plot the data. But I find the histogram only contains part of the data in the Table object.

The code is as follows,
[code]

Here is the

[2022-07-13 02:39] lesliewandb commented on #3855
Hi @mcourteaux, thank you so much for the images they help a lot in understanding the feature request. I'll create a ticket for this and let you know if there are any updates from our engineering team.

[2022-07-13 05:37] armanhar commented on #3827
Hey @EhssanD, ​I wanted to follow up on this request. Please let us know if we can be of further assistance or if your issue has been resolved.
​

[2022-07-13 07:27] janosh commented on #3684
@MBakirWB Thanks It'd be interesting to know if it's possible to update JSON files under `media/`.

[2022-07-13 08:14] armanhar commented on #3890
Hey @ManiadisG, no, at the moment this is not possible.

[2022-07-13 10:10] SioGilroy opened #3922 "TypeError: __init__() got an unexpected keyword argument 'box_keys'"
I followed the tutorial in the video https://www.youtube.com/watch?v=5h5UtLau3Vc, however, I am getting this error. I am using Google Collab

Traceback (most recent call last):
  File "train.py", line 667, in <module>
    main(opt)
  File "train.py", line 562, in main
    train(opt.hyp, opt, device, callbacks)
  File "train.py", line 91, in train
    loggers = Loggers(save_dir, weights, opt, hyp,

[2022-07-13 10:20] alvarobartt opened #3923 "[Feature]: Some improvements for `wandb.apis.public.File.download`"
### Description

Hi! 🤗 After testing a little bit `wandb`'s Public API with Python, I've found out that there are some things that could be potentially improved for `wandb.apis.public.File` (reference at https://docs.wandb.ai/ref/python/public-api/file).

- `wandb.apis.public.File` can either be a file or a directory, but when calling the `.download` method of a directory we receive an exception s

[2022-07-13 11:58] ArnolFokam commented on #3911
Hi @nate-wandb

This error occurs when ```wandb.init``` is called. Therefore, the wandb folder is not yet created.

In my case, I can confirm that this error occurs when the cluster is very slow. Also, this error is related to ```wandb.require('service')```. I say this because when I downgraded wandb to remove the automatic execution of that snippet on Pytorch Lightning, everything worked fine.

T

[2022-07-13 13:06] stephano41 commented on #3906
@MBakirWB Is it possible to create these panels (parallel coordinate and hyperparameter importance) from the client API instead of the App UI? As it is quite tedious when one runs multiple hyperparameter tuning experiments and have to select the config for these tables each time.

I get that you could probably mess around with Vega until you get the right colour and values with Vega, but is there

[2022-07-13 14:17] BenCrulis commented on #3513
Hi,
I had a similar issue, some of the runs from the grid search crash at random in the beginning (before logging any value). The reason for the crash also seems to be connection issues but I'm not really worrying about that for now.

I would be more interested in having the still running agents automatically detect if some runs are missing.

Waiting for runs to finish or manually pausing and resu

[2022-07-13 15:33] vanpelt commented on #3684
@janosh this isn't supported in any official way.  We'll take this ticket as a feature request for changing the names of logged parameters after the fact.

[2022-07-13 15:46] ercanburak opened #3926 "[Feature Request]: Allow multiple workspaces per user with stored layouts"
### Description

Currently, there is one workspace per user for each project. Sometimes I require two (or more) different layouts with different plots, to examine different aspects of my runs. As far as I know, this can only be achieved by modifying the layout manually each time. A similar problem also exists on the Table page of a project, where one can require two (or more) different sets of col

[2022-07-13 16:26] ash0ts commented on #3868
@DaBihy
We fixed the issue 🎉! Thank you for the patience. I confirmed with your provided workspace.

[2022-07-13 20:15] MBakirWB commented on #3877
Hi @thiyagu-lily,

Thank-you for getting back to me. You are correct that you can't access multiple artificats during multiprocessing. When access an artifcat a new run is initiallized while you use that specific run. We don't allow or multiple runs to be initialized/in progress for the same artifact. You would see this error `Duplicate entry {} for key 'unique_artifact_collection_membership_versi

[2022-07-13 20:24] MBakirWB commented on #3823
HI @samuela , following up on this. Do you still require support on this issue? Thanks

[2022-07-13 21:13] ramit-wandb commented on #3854
Hi @furkan-celik, Looks like your images might not be being logged because they never reach the condition to `log`. The frequency of logging is set to 100, but I can see for some of your runs they stop earlier. Are you calling `wandb.save` on these images? This would explain why they show up in the files tab. I would recommend increasing the frequency of logging to make sure that they do log corre

[2022-07-13 21:26] samuela commented on #3823
Unfortunately I don't have bandwidth to continue tracking this down, but happy to help if you have any issues running the reproduction steps

[2022-07-13 21:40] furkan-celik commented on #3854
Do I need to call wandb.save() explicitly? I thought having wandb.log() is enough. And even if I go into a run with images, there is no image pane that I can add.

We can't do anything about making sure runs log images because some of them runs out of memory before 0th step completed. We are already logging some images after first step is finished but memory needs adjustment over several step. If

[2022-07-13 21:42] furkan-celik commented on #3854
wandb.log({f"examples_{i}": wandb.Image(image) for i, image in enumerate(images)}, step=self.step + self.resume_step) wandb.log({"examples": [wandb.Image(image) for i, image in enumerate(images)]}, step=self.step + self.resume_step)

These are just code snippets for logging images as I said earlier and we only  call wandb.save over detailed log files

[2022-07-13 22:14] vanpelt commented on #3823
@samuela `artifact.new_file` will create the file in the current working directory and then write through the cache.  If you set WANDB_CACHE_DIR to the large volume and call `os.chdir` before calling new_file to a large volume it should work.

We should consider staging these new files in WANDB_DIR in the future by default but I think that's what's happening.

[2022-07-13 23:12] lesliewandb commented on #3922
Hi @SioGilroy, can you send me a code snippet of how you implemented wandb.init please? Also, can you let me know which version of wandb you are using? If you are not using our latest version (0.12.21) can you upgrade to it and see if that is able to fix this?

[2022-07-13 23:53] ramit-wandb commented on #3883
Hi @levan92,

Thanks for writing in! Looking at the traceback you sent for Method 2, It seems like multiple W&B processes are writing to one file, which is why you are facing this error.

I would recommend actually using just a single Rank 0 process and establish a form of synchronized interprocess communication channel in order to get this working in the best way possible. This way, you can share

[2022-07-14 00:10] vedantroy opened #3928 "[Q] How to aggregate metrics on the client before logging?"
I currently do the following to try to reduce the amount of syncing to the server (I noticed calling `wandb.log` without doing this slowed down my training runs by 2x):

[code]

The idea is to commit the logs around once every hundred steps.
But I don't think that this is what is actually happening. How would I do what I'm trying to do?

[2022-07-14 08:28] ManiadisG commented on #3890
Ok, thank you very much for the clarification!

[2022-07-14 11:48] miraodasilva opened #3930 "[App]: Legend is bugged"
### Current Behavior

![image](https://user-images.githubusercontent.com/17463598/178975439-7f564d36-e4d5-48ea-850c-8d2e9f219ef0.png)

(Some parts are censored since this is a private project)
The legend is bugged: these little hollow squares appear rather than the little lines that should appear normally. Has been happening on all my plots for a while now, no idea why.

### Expected Behavior

Lin

[2022-07-14 12:07] alvarobartt opened #3931 "`wandb.save` doesn't upload empty files to `wandb` server"
As`wandb.save` doesn't uplopad the empty files to the `wandb` remote, I'd suggest you to add a warning message in case the file is empty so as to let the user know that the file won't be uploaded.

https://github.com/wandb/client/blob/a339333b3ee93864daf416f04c1501186dffac5c/wandb/sdk/wandb_run.py#L1353-L1443

To calculate the file size if it exists you can just `os.path.getsize(path)` as describe

[2022-07-14 13:50] nate-wandb commented on #3926
Hi @ercanburak, thank you for the feature request! This is a project we are currently working on. The goal would to be allow workspace "templates" that could be switched between and also shared across different projects. I'm not entirely sure the design of saving the "state" of filters, grouping, and columns in the table tab but I will add your feedback around this to the feature request.

I'll fo

[2022-07-14 14:36] Waterkin opened #3932 "[Q] What is diff.patch?"
Hi,
It takes up a lot of my storage, can I cancel these backups?

[2022-07-14 18:29] vanpelt commented on #3932
It's a unified diff of all un-commited changes in your git repository.  We generate this by default so that we can restore your working source directory to reproduce the run.  You can set the `WANDB_DISABLE_CODE` environment variable to true to prevent us saving your code, or you can disable it on the `/settings` page for your account or team.

[2022-07-14 19:58] ramit-wandb commented on #3873
Hi @ludwigwinkler, since we have not heard back from you we are going to close this request. If you would like to re-open the conversation, please let us know!

[2022-07-14 22:16] MBakirWB commented on #3921
Hi @lukas,

We allow up to 10K data points to be displayed in our charts. There is discussion of increasing this value for specific use cases. We do set an initial limit to how many points are displayed on a graph (`500 points`). To increase this value, you can do so directly from the Data Source column in the edit charts panel, setting `Limit` value, see image below.
![ChartLimit](https://user-im

[2022-07-14 22:47] ramit-wandb commented on #3931
Hi @alvarobartt,

Thanks for the suggestion! I'll pass it on to the engineering team to be added in a future version.

Thanks,
Ramit

[2022-07-14 22:57] ramit-wandb commented on #3928
Hi Vedant,

Could you explain how this is not working? I'm not sure I understand the issue you are facing here

[2022-07-15 00:31] LiuCMU commented on #3921
Thank you very much for the explanation!

One thing that would be interesting to know: When the number of data points exceeds the limit, does wandb randomly sample 10k data points, or just take the last/first 10k data points?

Thanks!

[2022-07-15 01:13] Waterkin commented on #3932
Thanks for your reply, Pelt.
After I disabled it, the diff.patch files still exists. Is there a way to choose all diff.patch and delete them?

[2022-07-15 03:13] Waterkin commented on #3932
It seems difficult to delete all diff.patch in my storage while they takes up 100GB.

[2022-07-15 03:13] Jadiker opened #3935 "[CLI]: WANDB_LOG_MODEL environment variable doesn't work"
### Describe the bug

Following [this](https://docs.wandb.ai/guides/integrations/huggingface#turn-on-model-versioning) and setting the environment variable `WANDB_LOG_MODEL=true` didn't upload the model.

`WANDB_LOG_MODEL=true`

N/A (no traceback, the environment variable seemed to be ignored)

### Additional Files

_No response_

### Environment

WandB version: 0.12.21

OS: Linux (5.14.0-1038-oem

[2022-07-15 06:07] alvarobartt commented on #3931
Cool @ramit-wandb, I can fill a PR to add that if applicable!

[2022-07-15 12:56] miraodasilva commented on #3930
Sure, here is the link to the project https://wandb.ai/eldorado/avse?workspace=user-miraodasilva .

[2022-07-15 14:46] nicolas-dufour opened #3936 "[App]: Video logged in media folder but not displayed in Media"
### Current Behavior

Hi,
I have an error where some videos are logged in at each step and do get recorded in the media folder.
However, when trying to display them in the media object they do not appear. Only the first two (or first depending of the log) do get displayed.

On another run they do get displayed with a slider to select between steps

### Expected Behavior

Been able to display all v

[2022-07-15 15:00] luxiya01 opened #3937 "[CLI]: Unable to log images of type torch.uint8"
### Describe the bug

When trying to log images of type `torch.uint8`, e.g. images loaded by `torchvision.io.read_image`, wandb gives the following runtime error:
`RuntimeError: result type Float can't be cast to the desired output type Byte`

It seems like that the `Image` class attempts to convert all torch tensors using the `make_grid` function from torchvision with `normalization=True`, but a

[2022-07-15 16:25] #3873 closed

[2022-07-15 18:42] veronica320 commented on #1439
+1, any update on this?

[2022-07-15 21:56] MBakirWB commented on #3917
Hi @brianhenn ,

Thank-you for writing in about your experience. You are correct in that when you select a region of any chart you effectively filter to the runs that were selected. This results in the "closed eye" icon next to run names in the UI. Selecting the eye next to "Name" does provide you with several options, which does include "Visualize All" as you indicated.

After selecting the regio

[2022-07-15 23:33] MBakirWB commented on #3935
Hi @Jadiker ,

`WANDB_LOG_MODEL` is part of the integration code for Hugging Face, see [here](https://huggingface.co/docs/transformers/main_classes/callback#transformers.integrations.WandbCallback), and [here](https://github.com/huggingface/transformers/blob/v4.20.1/src/transformers/integrations.py#L555). Are you seeing any error when using setting `WANDB_LOG_MODEL=true`. If possible, please produ

[2022-07-16 01:07] MBakirWB commented on #3937
Hi @luxiya01 ,

Thank you for writing in. Upon review, this error is not attributed to wandb but rather to the torchvision `make_grid` function in utils, see [here](https://github.com/pytorch/vision/blob/3db30442a52e250c569ba131485fc432c8300f16/torchvision/utils.py#L24). When wandb reads in your image in via [`_initlize_from_data()`](https://github.com/wandb/private-client/blob/225c28f6f62519b6acc

[2022-07-16 11:49] #2963 closed

[2022-07-16 17:55] Guptajakala opened #3942 "[Q] How to download multiple files of a run?"
![image](https://user-images.githubusercontent.com/40518028/179366606-6ab3bc8c-b5c2-4889-ac35-c49970727a29.png)
If I go to the UI of a run, I can only click the download button for one file. What if I want to download the whole `/root/media/images` folder? Is there a way to do that either in UI, or with command line?

[2022-07-16 21:08] UmaisZahid commented on #3405
This issue still exists btw - it's making wandb nearly unusable. Runs are classified as crashed despite still running. Even running wandb sync afterwards or during just returns "wandb: No runs to be synced. wandb: NOTE: use wandb sync --clean to delete {some amount of} synced runs from local directory."

[2022-07-17 02:25] LuoXin-s opened #3943 "[Q] How wandb implement automatically call run.finish when the script exits?"
How wandb implement automatically call `run.finish()` when the script exits? I have not found relevant logic in the source code.

And if I call `wandb.finish()` manually, how wandb set `record_writer_thread.stopped` so it will not stuck in infinite loop? I can see `backend.cleanup()` called `wandb_process.join()`, but how wandb_process to finish itself?

[2022-07-17 11:01] alvarobartt opened #3944 "`wandb.apis.public.Run.upload_file` overwrites the file if already exists in `wandb` remote"
So the default behavior of https://docs.wandb.ai/ref/python/public-api/run#upload_file is to upload the file without taking into consideration whether that file was already there or not, so it's not actually checking whether the file exists in the `wandb` remote or not, it's just uploading it.

Shouldn't this be handled through a parameter `replace: bool = False` just like for https://docs.wandb.a

[2022-07-17 11:02] alvarobartt commented on #3944
As I've already modified the logic/behavior of `wandb.apis.public.Run.upload_file` in https://github.com/wandb/client/pull/3929, in case this is something to consider adding, we should do it over the following code:

[2022-07-17 12:09] #3868 closed

[2022-07-17 13:14] David-Biggs commented on #3910
Hi @nate-wandb ,

Just following on this.

Many thanks,
David

[2022-07-18 08:09] TheodoreWolf opened #3946 "[Q] C:\Users\MyName\anaconda3\envs\ML\python.exe: can't find '__main__' module in '' when running wandb agent on terminal"
Hi, I started a hyperparam sweep on a notebook to get a feel for how it works but I had to pause it. I would like to continue running this run through my terminal by running the command given in the info tab of my sweep. But every time I try to run this command, I see that I get the correct sweep configuration that comes through but then when it tries to run I get the following
error C:\Users\MyNa

[2022-07-18 11:06] armanhar commented on #3942
Hey @Guptajakala, you can use our [Public API](https://docs.wandb.ai/guides/track/public-api-guide?q=public+) for that. Let me know if you have further questions.

[2022-07-18 11:13] armanhar commented on #3932
Hey @Waterkin, you can use the [Public API](https://docs.wandb.ai/guides/track/public-api-guide?q=public+#delete-all-files-with-a-given-extension-from-a-run) to delete all the diff patches in a project.

[2022-07-18 16:30] bhakti-visotrust opened #3949 "[Q] Visualizing results using wandb when running distributed training in AWS Sagemaker"
I'm running training in Sagemaker -
[code]

and in my script `train.py` I'm initiating wandb :
[code]

this throws an error
`ErrorMessage ":FileExistsError: [Errno 17] File exists: '/opt/ml/code/wandb/run-20220718_162530-huggingface-pytorch-training-2022-07-18-16-18-11-461-algo-1/run-huggingface-pytorch-training-2022-07-18-16-18-11-461-algo-1.wandb'`

Setting a group for all runs isn't working her

[2022-07-18 17:43] ramit-wandb commented on #3874
​Hi @lminer,

We wanted to follow up with you regarding your support request as we have not heard back from you. Please let us know if we can be of further assistance or if your issue has been resolved.

Best,
Weights & Biases
​

[2022-07-18 18:22] Guptajakala commented on #3942
Hi @armanhar, is the python api the only way to do that? I'm wondering if there is a more simple way instead of writing a dedicated python script for it.

[2022-07-18 19:46] ramit-wandb commented on #3931
Sure! We happily accept PRs, it would be awesome if you could submit a PR. One of our enigneers could review it.

[2022-07-18 23:53] ramit-wandb commented on #3946
Hi @TheodoreWolf,

Could you share the steps you took to reach this error? I'll help look into this for you

[2022-07-19 02:44] LuoXin-s commented on #3943
@ramit-wandb Oh, thank you for your response.
Could you please explain to me the second question I asked?

[2022-07-19 09:56] Peter-Varga08 opened #3953 "[CLI]:"
### Describe the bug

Upon trying to log an artifact (let's say, `artifact_2`) of a certain artifact name that shares the same artifact name with a different artifact type, e.g. `artifact_1.name='pos_neg'`, `artifact_1.type='vocabulary'`, `artifact_2.name='pos_neg'`, `artifact_2.type='model'`, the `wandb.log_artifact()` function returns a ValueError due to expecting the same type for `artifact_2`

[2022-07-19 10:27] nicolas-dufour commented on #3936
@nate-wandb Hiu, yeah sorry, i ahd deleted it by error, i reproduced it here: https://wandb.ai/nicolas-dufour/torchrl/runs/btslaz6v?workspace=user-nicolas-dufour

[2022-07-19 10:30] ma-chengcheng opened #3954 "[Q]I try to insert 'plotly' to 'table', but only shown text."

[2022-07-19 10:32] ma-chengcheng commented on #3954
`wandb.init('test')
N = 5
menMeans = (20, 35, 30, 35, 27)
womenMeans = (25, 32, 34, 20, 25)
menStd = (2, 3, 4, 1, 2)
womenStd = (3, 5, 2, 3, 3)
ind = np.arange(N)  # the x locations for the groups
width = 0.35  # the width of the bars: can also be len(x) sequence

p1 = plt.bar(ind, menMeans, width, yerr=menStd)
p2 = plt.bar(ind, womenMeans, width,
             bottom=menMeans, yerr=womenStd)

plt.

[2022-07-19 13:09] armanhar commented on #3827
Hey @EhssanD, since we have not heard back from you, I'll be closing this ticket. Please feel free to message me if you are still experiencing this issue.

[2022-07-19 15:47] MBakirWB commented on #3877
HI @thiyagu-lily, I will be marking this matter closed. Please let us know if you'd like to re-open the conversation.

[2022-07-19 16:25] lesliewandb commented on #3421
Hi @nbren12, Congrats, this feature is going to be included in our next update on August 2nd!

[2022-07-19 16:40] drscotthawley opened #3955 "[App]: Point clouds no longer offer 3D view"
### Current Behavior

Reposting from https://community.wandb.ai/t/point-clouds-no-longer-3d-viewable/2770

Point cloud view no longer offers the "X" in the upper right on mouseover to offer transition from full 3D view (e..g. rotations supported).
This used to work. But now the X is gone.

Here's [my example](https://wandb.ai/drscotthawley/dubstep-diffgan).   Arg. LINK FAILURE: In the WandB run pa

[2022-07-19 19:40] MBakirWB commented on #3949
Hi @bhakti-visotrust ,we will review and get back to you soon. Thanks

[2022-07-19 20:10] nbren12 commented on #3421
@lesliewandb Great! Thanks.

[2022-07-19 22:20] ramit-wandb commented on #3883
Yup, they should work. You want to make sure you broadcast config and you communicate the logs to rank 0.

[2022-07-19 22:45] MBakirWB commented on #3953
Hi @Peter-Varga08 , we don't allow for logging artifacts of different types using the same name.

I understand the inconvenience that comes with this with having to use the same descriptions multiple times, do you have a specific of why are doing this vs assigning a different name to an artifact of a different type?

[2022-07-20 00:34] dmitryduev commented on #965
We added a simple `WandbCallback` for [CatBoost](https://catboost.ai/) in #2975 back in `wandb==0.12.11`.

[2022-07-20 02:58] sephmard commented on #3525
Hello @lwaekfjlk! We appreciate your patience. My awesome colleague @altay has been investigating this and we believe the issue to be resolved. Can you please test this and confirm on your side when you have a chance?

[2022-07-20 03:12] lwaekfjlk commented on #3525
Awesome! Yes, this bug has been fixed. Thank you for that!

[2022-07-20 04:34] 1208zuyi commented on #3922
HI @SioGilroy Have you solve the problem? Because I got that error too.

[2022-07-20 04:36] 1208zuyi commented on #3922
HI @SioGilroy, have you solve the problem? Because I also got that error. Just wanted to ask if there is a solution.