[2020-11-06 14:30] tyomhak commented on #1466
Hey @MrCull , thank you for reporting! Pretty awesome tool you got there! Definitely getting a star!

@cvphelps we need to fix some links in our Readme!

[2020-11-06 14:33] tyomhak commented on #1465
Hey @Yannik1337 , thank you for the suggestion!
cc @vanpelt

[2020-11-06 14:41] tyomhak commented on #1471
Hi @stathius , thanks for reporting this issue. We're looking into this.

[2020-11-06 15:40] tomsercu commented on #1233
+1 for supporting hydra / OmegaConf configs! See also #1052
@varun19299 did you set something up that's working for you? I'm implementing now with hydra controlling the command line and hyperparam sweeps, and using wandb purely for logging, tracking, visualizing. Would love to hear your experience / MWEs

[2020-11-06 16:09] varun19299 commented on #1233
I'm presently converting it to a dictionary, as suggested by @omry above (https://github.com/wandb/client/issues/1233#issuecomment-693205205).

I too use a similar setup: hydra takes care of all the config management, logging, working directories, hyperparam sweeps and multi-runs; with W&B for logging and visualisation.

The slight annoyance is that hyper-param sweeps can easily swamp the project

[2020-11-06 16:12] varun19299 commented on #1052
@vanpelt Hydra also supports hyper-param sweeps through AxSweeper and Nevergrad.

Would it be possible to extend W&B to support usage of external sweep tools in the panel?

[2020-11-06 19:14] chrischoy commented on #1409
Can confirm that downgrading to 0.10.8 as @hechmik suggested worked for me.

`!pip install --upgrade wandb==0.10.8`

[2020-11-06 19:56] raubitsj commented on #1409
@chrischoy @hechmik @bahrkd
We are trying to reproduce the problem.   If possible, can you provide the `debug.log` and `debug-internal.log` should tell us what was special about your environment.

The files are in the `wandb/run-RUNSPEC/` directory

[2020-11-06 20:03] raubitsj commented on #1052
We have added alternative command line parsing and documented it here:
[code]

[2020-11-06 20:05] raubitsj commented on #1052
@varun19299 , I am closing this issue, we do have some plans to integrate with other sweep tools in the future.   If you want to make a new feature request we can track your request.

[2020-11-06 20:05] #1052 closed

[2020-11-06 21:28] cvphelps commented on #1465
Hi, thanks for this feature request, good idea.

[2020-11-06 21:54] cvphelps commented on #1457
Hi thanks for the 10.7 backtrace, could you please share the one from 10.8 as well?

[2020-11-06 22:00] cvphelps commented on #1453
Hi @6etacat could you please email vanpelt@wandb.com to set up a quick call so we can get this fixed for you

[2020-11-06 22:05] cvphelps commented on #1450
Hi there, we don't support this right now but you can filter in the table in the UI and get all the runs and remove them at once with "select all" in a bulk delete. We're hoping this is a quick workaround for now, and we'd like to support this in the future

[2020-11-06 22:19] #1466 closed

[2020-11-06 22:30] miraodasilva commented on #1450
I see, looking forward to this feature in the future. Thanks a lot for your time.

[2020-11-07 01:48] chrischoy commented on #1409
Hmm I was wrong, I got this error again with 0.10.8

[code]

[code]

[2020-11-07 02:52] raubitsj commented on #1408
This is fixed in 0.10.9

[2020-11-07 02:52] #1408 closed

[2020-11-07 02:53] raubitsj commented on #1403
This was fixed in 0.10.9

[2020-11-07 02:53] #1403 closed

[2020-11-07 03:00] raubitsj commented on #1409
@chrischoy , thank you for continuing to investigate, We will focus on using pytorch lightning to reproduce.
Unfortunately there doesnt look like anything suspicious on the logs that you posted.

[2020-11-07 06:08] lminer commented on #1461
@tyomhak it's still there. I can't seem to spin up a tensorboard instance.

[2020-11-07 23:03] vanpelt commented on #1461
@lminer can you link me to a run that you logged with `sync_tensorboard=True` that doesn't have tensorboard available?

[2020-11-07 23:25] lminer commented on #1461
@vanpelt Here's one: https://wandb.ai/lminer/separate/runs/2qfyd3us?workspace=user-lminer

[2020-11-07 23:29] vanpelt commented on #1461
Hmm, it looks like it picked up some metrics but never synced the tfevent files.  It's still running so I would imagine it will eventually upload them.  Can you send the `debug-internal.log` in the wandb directory once it finishes to vanpelt@wandb.com?

[2020-11-07 23:31] lminer commented on #1461
Sure! Where is the log dumped to?

[2020-11-08 05:50] pcyin commented on #1409
I also encountered this issue. For me, it's not related to pytorch-lighting (although it's a dependency), but Azure ML. I have a docker image that runs perfectly fine on local machine, but throws this error when I submitted it to Azure ML. The contents of `debug.log` and `debug-internal.log` look similar as posted above.

[2020-11-08 22:37] pcyin commented on #1409
Update: it seems the default `timeout` value for `ret = backend.interface.communicate_run(run, timeout=30)` at `wand_init.py` is not enough for entertain compute environment. Increasing it to `200` solved the issue for me. Hope the timeout value could be configurable.

[2020-11-09 07:51] tyomhak commented on #1471
I believe by default it is supposed to log only gradients, but you can change it by using argument log.
Please see the documentation ([here](https://docs.wandb.com/library/integrations/pytorch#options)) for more details.

[2020-11-09 11:30] stathius commented on #1471
I am using the log='all' argument.

On Mon, Nov 9, 2020 at 9:51 AM Artyom Hakobyan <notifications@github.com>
wrote:

[2020-11-09 18:41] #1378 closed

[2020-11-09 20:34] vanpelt commented on #1461
In the `wandb` directory relative to where you python file is.

[2020-11-09 23:25] lminer commented on #1461
@vanpelt just sent it to you via email

[2020-11-09 23:39] parasj commented on #1457
Hi @tyomhak and @cvphelps, thanks for getting back to me. To clarify, the backtrace I shared is from 10.8 where I get the error. I am attaching all the traces from four wandb versions, and it appears the issue is localized to 10.8. I'm closing this issue since it seems like the bug was fixed.

<details>
<summary>On wandb 10.3, backtrace</summary>
<br>
<pre>
wandb agent --count 1 cfq/sweep_mcd1_ber

[2020-11-09 23:39] #1457 closed

[2020-11-10 14:01] felixkreuk commented on #1253
Latest version of wandb is not working with ipdb for me as well.

[2020-11-11 03:13] quebin31 opened #1481 "Unexpected and malformed update config object with key `wandb_version` when resuming run, not originally included in the pushed config."
**Python version:** `3.8`
**Wandb version:** `0.10.10`
**OS:** Linux

**Sample code failing:**
[code]

By the stack trace output it seems that it's failing on `wandb.init`.

**Output/stacktrace:**
[code]

[2020-11-11 03:19] lukas commented on #1471
Hm, I tried to replicate this by setting log='all' in https://github.com/wandb/examples/blob/master/examples/pytorch/pytorch-cnn-mnist/main.py and it seemed to work as intended, logging both parameters and gradients - could you try that with your setup

[2020-11-11 18:32] quebin31 commented on #1481
**Update:** I think I found the culprit, here:

https://github.com/wandb/client/blob/788b24639343d6bc7514aa9d33c4d7b56e73a780/wandb/sdk/wandb_run.py#L617-L623

https://github.com/wandb/client/blob/788b24639343d6bc7514aa9d33c4d7b56e73a780/wandb/sdk/lib/config_util.py#L27-L31

When I try to resume a run the API seems to be downloading the stored config for it, but the `run_obj.config.update` seems t

[2020-11-11 19:02] vanpelt commented on #1481
Hey @quebin31 are you reading the wandb generated `config.yaml` in your example with `args.config`?  We automatically populate config on resume, and will always load a file named `config-defaults.yaml` if it exists.  You should never need to manually load our YAML.

If you can share a little more about what's inside of `args.config` and what you're trying to accomplish we can get you sorted.

[2020-11-11 19:10] quebin31 commented on #1481
Thanks for the help, I'm not reading the generated `wandb` config, my script works in two ways:

1. Receives a path on  `args.config` with my own values (like epochs, seed, etc) when training.
2. Doesn't receive anything on `args.config`, therefore its value is `None` and uses an `id` and resumes an old run.

[2020-11-11 21:49] quebin31 commented on #1481
I've also noticed that `config.yaml` generated by `wandb` when resuming the run contains the `wandb_version` twice, note that I'm not touching this file at all.

[2020-11-11 22:36] vanpelt commented on #1481
Yep, this definitely looks like a bug.  We'll get a fix out in the next release.

[2020-11-12 03:36] tomsercu commented on #1314
Hi folks, I'm still  seeing this issue if you do more than 2 runs with multirun. See [this gist](https://gist.github.com/tomsercu/72acb8a435afcda0043ba351536d821a ), where i adapted @borisdayma 's example to make it a bit more verbose.
System: Python 3.7.9, wandb 0.10.10, hydra 1.0.3.

You can see the output is printed in the first 2 runs but disappears for the 3d (and all consecutive) runs.
Outpu

[2020-11-12 05:04] vanpelt commented on #1481
Hey @quebin31 I just attempted to reproduce this and was unable to.  Here's is my simple script:

[code]

You can run this file without any arguments and hit CTRL+C after a second or two.  Then run it with `python resume.py update` to have it mock the updating of the config.  I'm mystified how your config object ended up with `wandb_version` in the top level of your config.  Can you link me to a r

[2020-11-12 07:30] maria-korosteleva opened #1486 "Is it possible to force upload of a newly created artifact without finishing the run?"
wandb version: 10.0.9
Python: 3.6.12
OS: Win 10

The workflow of my work with artifacts looks like this: I'm uploading multiple versions of an artifact during DL training, and then at the end of the script, I want to get a version of this artifact with a certain label.

Like this:
[code]

When I use `run.finish()`, the artifact that gets downloaded is the one expected: `Test-checkpoint-v2`
If I do

[2020-11-12 11:48] glenn-jocher commented on #764
I'm going to +1 this thread. **I think `wandb off` should do what it says**, and shut it off completely. My current workaround is `pip uninstall wandb` when I want to be sure it's not logging, since I'm confused by the variety of other options, none of which seem to simply turn it off easily.

I think this applicable to a variety of situations, i.e. debugging small issues that may cause you to run

[2020-11-12 13:01] quebin31 commented on #1481
When I start a fresh new run, the `config.yaml` inside the run directory is just fine, the problem occurs when I try to resume a run from the cloud using an `id` and `resume = 'must'`. In my case, I tried this on another machine and the run just seems to resume normally, and the downloaded `config.yaml` is just okay.

[2020-11-12 14:17] maxzzze commented on #844
I am still experiencing the same issue in the original post after running the pre release install

[2020-11-12 15:58] borisdayma commented on #844
@maxzzze Can you confirm which version of `fastai` you are using?

[2020-11-12 16:33] maxzzze commented on #844
@borisdayma I dont see `fastai` installed

[2020-11-12 16:44] EliaCereda opened #1487 "Sweeps: Conditional parameters"
It seems to me that there is currently no way to define a sweep where some parameters depends on another one, is it correct?

What I have in mind is something like this example from `hyperopt` ([source](https://github.com/hyperopt/hyperopt/wiki/FMin#22-a-search-space-example-scikit-learn)):

[code]

At the moment this is not support by neither the "standard" sweeps nor by the beta Ray Tune sweeps,

[2020-11-12 16:53] borisdayma commented on #844
Oh sorry I thought it was a fastai related issue.
In that case how do you save your files? Do you have a simple demo?
In particular I'm interested to know if it's when you log images/data visualization or if it's when logging models.

[2020-11-12 16:55] maxzzze commented on #844
@borisdayma I just now switched from using `optuna` to `ray` and I am not experiencing any issues like this one anymore.

Im tunning transformers 3.5.0 now but was experiencing the above issue before using transformers 3.4.0 (optuna again).

[2020-11-12 17:39] vanpelt commented on #1486
Hey @maria-korosteleva the artifact begins uploading the moment you call `log_artifact`.  When `run.finish` is called we block your process while all artifacts finish downloading.  We will eventually add a method for you to call in your process to wait for the upload to complete, but until then you can use a `try/catch` in a loop with a `time.sleep(5)` and attempt query the artifact with `api.arti

[2020-11-12 18:09] vanpelt commented on #764
Hey @glenn-jocher we're going to address this in the next release hopefully tomorrow.  We're deprecating `wandb on` and `wandb off`, there will now be 4 commands:

* `wandb online`, `WANDB_MODE=online` or `wandb.init(mode="online")` - runs in online mode, the default
* `wandb offline`, `WANDB_MODE=offline` or `wandb.init(mode="offline")` - runs in offline mode, writes all data to disk for later sy

[2020-11-12 18:12] vanpelt commented on #1481
So strange, if you see this again, or can provide a reproducable piece of code we can ensure this double `wandb_version` issue never happens.

[2020-11-12 18:26] langan7 commented on #1210
I have the same problem. I downgraded OpenCV and I'm still getting segfault...

[2020-11-12 18:49] glenn-jocher commented on #764
@vanpelt ah that sounds like a good improvement, I think this will help a lot!

[2020-11-12 19:35] oliviersalaun opened #1488 "OSError: Could not find a suitable TLS CA certificate bundle, invalid path"
wandb            0.10.10
Python 3.8.3
Debian GNU/Linux 9 (stretch)

Hello,

It seems that whenever I have a model running after a certain number of hours or iterations (in my case, it's beyond 13 hours), my script gets a problem related to some TLS CA certificate. So far, I have not found an issue similar to mine in this repository. I run my script inside a tmux pane. The output is shown below. Fo

[2020-11-12 20:36] vanpelt commented on #1488
Our library uses certifi to provide an updated list of root certificates.  It storing the certificate at:

`/u/salaunol/anaconda3/envs/cuda101/lib/python3.8/site-packages/certifi/cacert.pem`

 It looks like their's an issue with this certificate.  It's either:

1. somehow disappeared and no longer exists on the filesystem because the virtual env was updated / removed
2. somehow you're using an old

[2020-11-12 20:59] oliviersalaun commented on #1488
Sure. I ran your command, it gave :
`2020.04.05.2`
Then I did the upgrade, it is now :
`2020.11.08`

I also did the same on `pip3` just in case, it replaced `certifi-2020.6.20` with `certifi-2020.11.8`.

Am I supposed to update `certifi` frequently ?

[2020-11-12 21:57] vanpelt commented on #1488
The certificates should be valid for at least 1 year so it seems like something else happened in your environment.  If this happens again, you should ensure that the `/u/salaunol/anaconda3/envs/cuda101/lib/python3.8/site-packages/certifi/cacert.pem` still exists on your file system.

[2020-11-12 22:01] vanpelt commented on #1488
If this keeps happening, you can just copy `cacert.pem` into your current working directory and write code as described in the first answer here: https://stackoverflow.com/questions/46119901/python-requests-cant-find-a-folder-with-a-certificate-when-converted-to-exe

[2020-11-12 22:02] vanpelt commented on #1488
I should note, you should remove the `if hasattr(sys, "frozen"):` check and just always do it.  Would be good to understand the root cause, I think the file is getting moved or deleted in your environment.

[2020-11-12 22:57] oliviersalaun commented on #1488
Ok, many thanks for your help!

[2020-11-12 23:16] vanpelt commented on #1488
Closing for now, please re-open if you keep hitting this!

[2020-11-12 23:16] #1488 closed

[2020-11-13 02:20] maria-korosteleva commented on #1486
@vanpelt thank you for your comment! Now I have a better idea of how it works.
Unfortunately, the last case is the one I meet most often in practice, but I think I can reuse your suggested workaround by requesting a specific version to be uploaded instead of just the latest 🤔

[2020-11-13 08:07] maria-korosteleva commented on #1486
@vanpelt thank you for the tip!
I was able to use your suggestion to combat the last issue as well -- I just needed to request a specific version (I expect to be the last one) instead of the 'latest' tag. =)

[2020-11-13 08:52] maria-korosteleva opened #1491 "Error when Adding an artifact to a finished run"
wandb version: 10.0.9
Python version: 3.6.12
OS: Win10

I'm running some evaluation on the model after the run is finished and trying to upload the results as an artifact attached to this run.

I'm creating an artifact as described in the docs:
[code]

But I'm getting an error:
[code]

Is this use-case supported?

[2020-11-13 08:52] maria-korosteleva commented on #1491
UPD: Looking at the discussion in issue #1371, I need to create a new run, upload an artifact, and then link the artifact to the old run.
But may I request a better error message for this case?? It confusing, and leads me to the un-existing function..

[2020-11-13 13:02] stathius commented on #1409
I have the same problems when running on cluster. Works fine locally. wandb 0.10.9

[2020-11-13 16:12] vanpelt commented on #1491
Yep, agreed this is confusing.  We want to do the work to make this case actually work.  In the mean time how does this sound?

[2020-11-13 17:28] nsfabina opened #1493 "WandB client error when tuple used in sweeps config"
**Python version**: 3.7
**Wandb versions tested**: 0.10.6 to 0.10.10
**OS**: Linux

**Summary**:  Wandb sweep agents will run once and then error out on all subsequent runs. The observed error is the anaconda 400 / graphql 500 error that I've seen here frequently, but the nested error is the common numpy error that goes something like "boolean from array makes no sense, use np.all or np.any". It w

[2020-11-13 18:29] sarapapi commented on #1461
Hi, how did you solve it?
I have the same problem here

[2020-11-13 21:13] cvphelps commented on #1493
Hi there, thanks for reporting this issue! It's a good idea, and we'll add to our backlog

[2020-11-13 21:19] cvphelps commented on #1487
Hi Elia, right now this is not well supported (have you tried the ray tune beta with this? do you get an error?) It's a good idea and we'll add to the backlog of tickets.

[2020-11-13 21:21] nsfabina commented on #1493
No problem, I'm great at breaking things. Thanks and have a good day.

On Fri, Nov 13, 2020 at 3:13 PM Carey Phelps <notifications@github.com>
wrote:

[2020-11-14 02:40] maria-korosteleva commented on #1491
@vanpelt I think it's just what's needed. Thank you!

[2020-11-14 05:35] timothyjlaurent opened #1496 "Artifacts logged with the same name but of different type crash wandb server"
This has bit me several times. I have some generic artifact name, `foo-bert`, I've logged a `foo-bert` of type `tokenizer`. If I log a type `model` `foo-bert` the wandb server dies and my jupyter notebook is irrecoverable and must be restarted.

[2020-11-14 09:26] EliaCereda commented on #1487
With the Ray Tune beta, if you create a sweep with a configuration such as the above, everything is set up correctly. When you start the agent, though

[2020-11-14 12:32] EliaCereda commented on #1487
This gist produces a sweep configuration that demonstrates the issue: https://gist.github.com/EliaCereda/149f125232e6d53e9eca83bc91608047

Steps to reproduce:
1. Create a sweep with `python raytune-nested-test.py`
2. Start the agent using the ID returned by the script `wandb agent #####`
3. See the command line arguments supplied to the script

[code]

[2020-11-14 17:58] kouroshHakha commented on #1403
I tested this, and it seems that
[code]
returns the correct content only if I still do a `wandb.init(project='fake_project')` before all of this. I can provide more info if you need to an example to debug.

[2020-11-14 18:15] vanpelt commented on #1403
Hey @kouroshHakha an example / more info would be helpful.  Specifically what content does it return that isn't "correct"?

[2020-11-14 18:36] kouroshHakha commented on #1403
It's kinda hard to re-create the setup I have but I'll try to explain. The project that I want to grab the model_config yaml file from has a lot of runs in it. Each have their own `model_config.yaml` that will be used to setup the architecture upon loading. Specifically I'm trying to grab the yaml file for `blooming-lake-99` in [this screen shot](https://ibb.co/QDWNMwx).
However when I passed the

[2020-11-14 21:31] stas00 opened #1498 "wandb loads a very outdated `prompt_toolkit` - breaks other ipython modules"
Currently `wandb` supplies a very outdated `prompt_toolkit` ver 1.0.15 (current is 3.0.8) and messes up with `sys.path` in `util.vendor_setup` by adding `wandb/vendor/` to it. And pushing it first :(

This results in:

[code]

I recommend:
1. please remove 'prompt_toolkit` from your source code - there is dependencies for that. there is no way you will be remembering to keep it up-to-date and the

[2020-11-14 21:52] timothyjlaurent commented on #1491
[code]

[2020-11-14 22:33] timothyjlaurent commented on #1491
After struggling with logging and using the artifact in the 'historical' run I couldn't see the artifact in the ui neither linked to the original run or in the artifact panel for the app. So I created a new run and logged and and used the model there, now I see 2 new model versions in the new run, but not in the artifact view.

Additionally the artifact got new versions so deduping failed

![image

[2020-11-14 22:41] timothyjlaurent commented on #1491
So i can navigate to the link from the run artifact interface, but it doesn't show up in the side bar:
![image](https://user-images.githubusercontent.com/2000204/99158406-572dec80-2687-11eb-8ddb-f4430e8a89e5.png)

Also note there are now:
-  2 'latest' model
- v3, the real latest isn't one of them

[2020-11-14 22:42] timothyjlaurent commented on #1491
After clearing up the duplicate latests I can see them all:

![image](https://user-images.githubusercontent.com/2000204/99158439-a7a54a00-2687-11eb-8bbb-03a73cea45b4.png)

[2020-11-14 22:43] timothyjlaurent commented on #1491
Ha So with v2 the latest, if I try to delete v3 it says
![image](https://user-images.githubusercontent.com/2000204/99158463-d15e7100-2687-11eb-97f2-1144f4681944.png)

[2020-11-14 23:08] timothyjlaurent opened #1499 "Hugging Face: Transformers isn't logging config"
I'm working with 🤗  Transformers library.  I'm using the normal trainer - I can see gradient metrics being sent but I don't see any config parameters

![image](https://user-images.githubusercontent.com/2000204/99158755-26e84d00-268b-11eb-9b37-3cd3ac97105a.png)

![image](https://user-images.githubusercontent.com/2000204/99158758-2cde2e00-268b-11eb-9e7d-674aee89e3c7.png)

Looking at the code it seem

[2020-11-15 15:08] andyljones commented on #1026
@vanpelt 's advice silences the log messages, but not the 'Logging results to' lines. For that you have to install PR #1495, a la

[code]

Hopefully it'll make its way into the release soon! Anyway, with this codebase,

[code]
[code]

is mercifully, finally silent.

[2020-11-15 23:48] berlino opened #1500 "API: Get the group of a run from the api"
Hi, there:

   I use the Grouping feature a lot with the wandb web, because it helps me group separate train  and eval for the same experiment (very nice!). However, it seems that the group information (also job_type etc) of run can not be found/access from Api.run.  I'm wondering if it is possible to do so?

Thanks!

[2020-11-16 06:18] ehu-ai commented on #1498
I also ran into this error when I try to use `ipdb` package for debugging.

[2020-11-16 15:15] Odrec opened #1501 "Python: Trying to resume sweep after crashing due to CUDA memory error"
I am running sweeps on a project with simpletransformers. After running some sweeps the program fails with this

[code]

So I am trying to resume by loading the previos sweep id and calling again the function

`wandb.agent(sweep_id, function=lambda: self.train(train_args))`

This is how the sweep is configured

[code]

But when I try to resume using the id I get this error

[code]

As you can see

[2020-11-16 16:40] EliaCereda opened #1502 "Adding artifacts to finished runs: graph view is not updated"
I'm adding artifacts to a number of finished runs through the API: I have a second script, distinct from the training script that created the runs, to generate the artifacts and link them to the corresponding run.

For this purpose, the second script creates a new run, with job type `generate_artifacts`, generates the artifacts, logs them with `wandb.log_artifact(...)` and waits until they finish

[2020-11-16 17:10] vanpelt commented on #1501
You can specify the "project" keyword in your call to `wandb.agent`

[2020-11-16 18:19] annirudh commented on #1502
The reason you're not seeing the training runs reflected in the graph is because when you call `log_artifact` from the `generate_run`, we log an output link from `generate_run` to that artifact. Later, when you call `run.log_artifact` from the training run it produces a second output link, but for the purposes of the graph only the very first output link is considered.

What would you like your gr

[2020-11-16 18:25] annirudh commented on #1491
We'll be releasing a fix for this issue this week. I'll circle back on this thread when the fix is live.

Currently, there's a backend limitation where the most recent (but not necessarily the artifact marked `latest`) cannot be deleted for dedupe purposes. This limitation doesn't need to be in place, so we'll be getting rid of it this week.

[2020-11-16 18:27] EliaCereda commented on #1502
Thanks for the reply. My confusion came from the fact that I'd seen one method behave in one way and one in another, but it appears that I'm not able to replicate this anymore.

What you describe makes sense. Although showing both output links would've been more intuitive to me, it's not a big deal. Fortunately, the part that really interests me is seeing the artifact in the list of logged artifac

[2020-11-16 19:26] vanpelt commented on #1491
Can you check your environment and see of `WANDB_MODE` is set to "dryrun" or "offline"?  If you run `wandb on` you must run it in the same directory as your script.  We write a settings file to `./wandb/settings` that may be setting the mode to off.

[2020-11-16 19:29] vanpelt commented on #1491
To understand what's happening here, can you share some code on exactly how you were calling **use** and **log** artifact?

[2020-11-16 20:14] stas00 opened #1503 "py38 deprecation warnings"
Please kindly fix these for py38:
[code]

Thank you!

[2020-11-17 00:53] tyomhak commented on #1496
Hey @timothyjlaurent , thanks for reporting.
@annirudh can you please take a look?

[2020-11-17 00:54] tyomhak commented on #1498
Hi @stas00 , thank you very much for reporting!

[2020-11-17 00:58] tyomhak commented on #1503
Hey @stas00 , thank you for reporting this.
@vanpelt  can you please take a look?

[2020-11-17 01:00] tyomhak commented on #1499
Hi @timothyjlaurent , have you set the env variable WANDB_WATCH equal to 'all'?

[2020-11-17 01:10] tyomhak commented on #1500
Hey! Thanks for using the feature!
Not sure if API supports that. @vanpelt can you help here?

[2020-11-17 04:31] vanpelt commented on #1403
Hey @kouroshHakha there are 2 differences between the calling restore after `wandb.init` and without.  See [here](https://github.com/wandb/client/blob/master/wandb/sdk/wandb_run.py#L1750).

1. When called after wandb init, we'll use `wandb.run.path` to generate the $username/$project/$run_id and store the file in `wandb.run.dir` by default.
2. When called before wandb init you must pass the path,

[2020-11-17 05:14] tirkarthi opened #1504 "Deprecation warnings due to invalid escape sequences in Python 3.8"
Deprecation warnings are raised due to invalid escape sequences. This can be fixed by using raw strings or escaping the literals. pyupgrade also helps in automatic conversion : https://github.com/asottile/pyupgrade/ . Some of it is due to vendored libraries which needs an upgrade.

[code]

[2020-11-17 07:29] Odrec commented on #1247
I am also having a similar problem. I tried it with older versions and now with 0.10.10 and still the same problem that the GPU runs out of memory on the 3rd or 4th run of the sweep

[2020-11-17 12:55] IsCoelacanth opened #1507 "WandB-Logger drops all the logged values in training step for PyTorch Lightning"
train-step:
[code]
and on epoch end it logs the Precision and recall.
after the validation step. I get a ` wandb: WARNING Step must only increase in log calls.  Step 379 < 380; dropping {train-loss: 0.494, 'train-precision': 0.9, 'train-recall': 1, 'epoch': 1}`

WandB version: 0.10.10
PyTorch-Lightning: 1.0.6

[2020-11-17 16:44] #1504 closed

[2020-11-17 17:42] borisdayma commented on #1507
Hi @IsCoelacanth
How are you logging the other parameters (precision and recall)?

[2020-11-17 18:12] annirudh commented on #1496
I'm able to reproduce the issue. I can confirm that the notebook hangs once the mismatch error is thrown, and that the only way to proceed is to restart the kernel.

Given the severity of the bug, we're prioritizing a fix for this issue.

[2020-11-17 18:16] lminer commented on #1461
Never solved it. @vanpelt did you ever get a chance to check this out?

[2020-11-17 18:49] vanpelt commented on #1461
Hey @lminer my colleague @KyleGoyette is looking into this this week.  If you could share some code or a colab that would be helpful.

Looking at the run you linked to I can see all metrics on the dashboard...  When syncing tensorboard being logged directly to S3 we don't save the tfevent file with us because it only exists in your bucket so we can't upload it to our cloud.

[2020-11-17 20:10] lminer commented on #1461
It's hard for me to share any code since this is for work. I didn't realize the issue with the tfevent file. Maybe the solution is to create a new `Tensorboard` callback that subclasses the tf.keras one and logs to two locations: s3 and a temporary local directory.

[2020-11-18 08:38] Yannik1337 opened #1516 "TensorBoard: Embeddings visualization not supported yet"
For a project, I create some .tsv files. They are saved within the TensorBoard dir. When this directory is e.g. /tensorboard/run20201711/, the files are saved under this directory. The attached screenshot shows such logging structure.

![tree-view dir](https://user-images.githubusercontent.com/50734087/99505549-416b4080-2981-11eb-8b13-2c2c6be08b9c.png)

I then check to see if I can visualize these

[2020-11-18 17:19] timothyjlaurent commented on #1499
No, but I can.

That didn't help:

![image](https://user-images.githubusercontent.com/2000204/99564371-331c2500-297f-11eb-9b00-216560a18157.png)

[2020-11-18 17:25] timothyjlaurent commented on #1491
Not set to either

Ok --

[code]

[code]

[2020-11-18 19:01] vanpelt commented on #1516
You can use `wandb.save`: https://docs.wandb.com/library/save or just write the files into `wandb.run.dir`.

[2020-11-18 19:57] vanpelt commented on #1491
Hey @timothyjlaurent for the suspicious offline run error, there's either a file at `./wandb/settings` relative to your script that has disabled = true in it (you can run `wandb on` from the same directory as your script to renable wandb).  Or the WANDB_MODE env variable is set.

Regarding the versions showing up in the run, but not in the artifact page.  We will likely need to hop on a quick scre

[2020-11-18 20:23] nivha opened #1519 "wandb: ERROR Error while calling W&B API: Error 1406: Data too long for column 'group_name' at row 1 (<Response [500]>)"
It seems like there's a limit on the group name length. Length 152 works, Length 162 gets the above error message (Didn't try to serach the exact number where it fails)

If it's possible to extend the limit that would be great. Otherwise, would be nice to have a more informative error message.

Thanks.

[2020-11-18 20:51] vanpelt commented on #1519
The group_name has a maximum length of 128 characters (I think this could be more bytes with unicode).  We'll look into better error messages and the possibility to increase or do something smarter in the client library.

[2020-11-18 21:43] drozzy commented on #764
Yes, this was rally a pita for me, i wrote my own if-else statements.
The `mode="disabled"` would be awesome!

[2020-11-18 22:01] glenn-jocher commented on #764
Can confirm this is working better now.

`wandb enabled` and `wandb disabled` seem to behave well and as expected with YOLOv5 :)

[2020-11-18 22:12] borisdayma commented on #1499
You may not have enough steps. Try changing `logging_steps` (see [TrainingArguments](https://huggingface.co/transformers/main_classes/trainer.html#trainingarguments))

[2020-11-18 23:34] vanpelt commented on #764
Awesome!  We just deployed this feature with `wandb==0.10.11`, anyone finding this can upgrade with `pip install wandb --upgrade`.  This version now supports the `wandb enabled` and `wandb disabled` CLI commands as well as passing `mode="disabled"` or `mode="enabled"` to `wandb.init`.  _(You can also just set the `WANDB_MODE` environment variable)_

[2020-11-18 23:34] #764 closed

[2020-11-19 06:32] Yannik1337 commented on #1516
Thanks, this solves my problem. Did not know about this feature!

[2020-11-19 06:59] Yannik1337 commented on #1516
Edit: While W&B does now successfully sync the files to cloud, when using TensorBoard via your web interface, I can't load the embeddings.

Following structure is present after the run:
![tree](https://user-images.githubusercontent.com/50734087/99632089-ef87f080-2a3c-11eb-8d2c-a69e3900a162.png)

And this is the screen it greets me with when checking the embeddings:
![embeddings](https://user-image

[2020-11-19 09:25] nivha commented on #1519
The reason I used long group name to begin with, is because I wanted to plot train-loss of different epochs on the same plot (say I have about 10 epochs). The only way I found to do it was to ```wandb.init(group='experiment-name', name='epoch#', reinit=True)``` every epoch, and since group-name holds the name for the whole experiment I wanted it to have an indicative name with all relevant paramet

[2020-11-19 12:22] carloalbertobarbano opened #1523 "Host info through client API"
Is there a way to retrieve system details such as hostname and GPU type through the wandb.Api for a Run object? I couldn't find it on the docs.

[2020-11-19 14:48] farizrahman4u commented on #1493
Got a script to reproduce? Following works for me:

[code]

[2020-11-19 15:39] nsfabina commented on #1493
Hey, sorry, I don't have a script to reproduce. This is all embedded within a more complex set of scripts and it'd take a little longer to pull it all out. I can confirm that your script works for me locally and I will make a note to revisit this when time permits and see if I can pull out the relevant lines of code to reproduce.

Until then, there are actually a limited set of differences between

[2020-11-19 15:54] vanpelt commented on #1519
Hey @nivha you can hash the parameters using something like `md5`.  The group name doesn't need to be human readable because you can search or filter by the actual parameters in the UI if you're logging them to config.  See this stack overflow for different ways to hash the parameters: https://stackoverflow.com/questions/5884066/hashing-a-dictionary

[2020-11-19 16:59] ethanluoyc commented on #1233
+1 for this.

[2020-11-19 19:11] nivha commented on #1519
I think the poblem is mostly UI related, if you want I can open a new issue (btw if I wanted to use a non-human readable group name I could just use your ```wandb.util.generate_id()``` function, no need for fancy hashing).

Anyways, if I want to track the progress of train-loss of different epochs plotted on the same graph (say train-loss per batch/iteration) the only way I found was to reinit wan

[2020-11-19 20:44] ethanluoyc opened #1525 "Unable to launch multiple runs with Joblib"
Hi, thanks for the awesome library. I found it really helpful for my research!

However I have encountered some issues with trying to launch multiple runs with joblib.

[code]
This will error with the following exception.
[code]

Changing joblib's backend to multiprocessing also causes an error.
[code]

My workflow consists of sweeping over hyper-parameters with hydra. This currently blocks me fro

[2020-11-19 21:39] raubitsj commented on #1525
@ethanluoyc

Thanks for reporting this.   As a temporary workaround until we fix this you can do:
[code]

The only other change is that you will need in your sample script is to change wandb.finish() to wandb.join()

We are using a different approach in 0.10.x that appears to be conflicting with joblib's multiprocessing implementations.

[2020-11-19 22:00] ethanluoyc commented on #1525
This works! Thanks for the workaround :) Feel free to close this when the issue is addressed in a later version.

[2020-11-20 00:14] isaacrob commented on #1507
I have this issue too! PyTorch Lightning resets step to 0 at the start of a new epoch, but wandb expects step to keep increasing and seems to ignore that we're on a new epoch. I don't know how to resolve this, it seems like a mismatch of expectations for the behavior of step.

[2020-11-20 01:10] borisdayma commented on #1507
@isaacrob step works as expected with me (increasing even when changing epoch). See [this colab](https://colab.research.google.com/drive/16d1uctGaw2y9KhGBlINNTsWpmlXdJwRW)

[2020-11-20 01:14] vanpelt commented on #1519
Hey @nivha you should be able to just use wandb.log in a training loop:

[code]

Then you can view the loss plotted against batch or epoch by using the "x-axis" option in the UI.

[2020-11-20 01:19] isaacrob commented on #1507
Interesting. Another issue I'm facing is that epochs is being logged as a chart, with per-step reporting and everything, which doesn't make any sense and doesn't seem to be happening in your notebook based off the screenshot. Here's a screenshot of mine:
![Screenshot from 2020-11-19 17-17-30](https://user-images.githubusercontent.com/6684952/99743817-4e745680-2a8b-11eb-9ffa-73edb5c2ec43.png)

I wo

[2020-11-20 01:24] borisdayma commented on #1507
Yes epoch is now a constant (it comes directly from Pytorch Lightning) though it should increase over time.
It looks like you only have one epoch, unless you try to reset the logger at each epoch.

See what I get from the colab I shared: [W&B run](https://wandb.ai/borisd13/MNIST/runs/1tjej3u4?workspace=user-borisd13)

[2020-11-20 01:31] isaacrob commented on #1507
Ok so that's not it. Like OP I'm getting this warning at the end of my first validation batch:
wandb: WARNING Step must only increase in log calls.  Step 199 < 201; dropping {'val_cls_loss': 1.3014671802520752, 'val_box_loss': 0.9644062519073486, 'val_masking_loss': 0.544899582862854, 'val_tot_loss': 2.8107728958129883, 'epoch': 0}.
and I don't see any metrics related to validation show up online,

[2020-11-20 01:53] isaacrob commented on #1507
Fixed it! I was calling `trainer.logger.experiment.log` in a callback and apparently this increases the step unless `commit` is set to `False`, in which case it gets group with the next logging message sent via PyTorch Lightning. Subtle bug! Everything's ok now and working as expected :) thanks for your help @borisdayma. Hope @IsCoelacanth was able to resolve their issue too!

[2020-11-20 11:01] IsCoelacanth commented on #1507
hey, @borisdayma there's a callback on validation completion which logs the metrics calculated using SKLearn metrics. same way @isaacrob mentioned.
setting `commit = False` removes the warning but behaves the same way as mentioned by Isaac.

[2020-11-20 12:12] oliviersalaun opened #1526 "Run state reported as "crashed", but the execution is still running fine"
Python 3.7.6
wandb version 0.10.10
Debian GNU/Linux 9 (stretch)

Hello,

I have an ongoing run whose state is reported as "crashed" in wandb interface. However, I checked my terminal and the script is still running fine. The "crashed" state appeared 2h10m after the launch of the script and the script is still running at the moment I am posting this message. It is expected to last around 37 hours.

[2020-11-20 16:13] hobogalaxy commented on #1370
@vanpelt Hi, this still hasn't been patched yet or am I wrong? Because I still get  "OSError: symbolic link privilege not held" when calling wandb.save()

[2020-11-20 18:44] vanpelt commented on #1370
Hey @hobogalaxy we didn't push a symlinking fix to wandb.save in the last release.  For now I suggest either writing your files directly to `wandb.run.dir` and then calling wandb.save, or manually copying the files into `wandb.run.dir` before calling wandb.save.

[2020-11-20 21:10] cvphelps commented on #1526
Hi Olivier, thanks for reporting this. I see this happening when a machine has an unstable internet connection. This means the process can no longer talk to our servers — at the very end of the run, it would try to sync and would hang. If you stop and resume, this might be a good workaround.

Could you share a url to this run? There are no known bugs in this area right now.

[2020-11-20 21:18] cvphelps commented on #1523
Hi Carlo, thanks for asking about this. We have these metrics in the backend but they're not exposed via the API right now. This will be made available as part of our CLI roadmap, but will be a month or so out.

[2020-11-20 21:36] #1501 closed

[2020-11-21 12:05] Pharaun85 opened #1529 "Problems loggin data with sweep"
Hello
I'm working with wandb in the optimization of a network and since I updated to the last version I found some problems with the sweep that I didn't find before.
My code runs like this:
[code]

The thing is that if I launch the code without a sweep works fine and all the folds are logged as a different run but grouped by, and the F1_max and F1_mean are logged too. However, if I create a sweep

[2020-11-21 18:07] kamo-naoyuki opened #1530 "Two level logs"
I'd like to log the values at two levels, I mean,

[code]

However, it shows "wandb: WARNING Step must only increase in log calls".
Is there a way to control two level values?

[2020-11-21 18:43] oliviersalaun commented on #1526
Here is the url : https://wandb.ai/osalaun/full_verdict_prediction/runs/dv1042ix

Your suggestion in such a case would be to let the run complete itself, then run `wandb sync`, is that correct?

[2020-11-21 22:24] nsidn98 commented on #1357
This is working well now with large file sizes. Thanks a lot!

[2020-11-21 22:24] #1357 closed

[2020-11-21 22:28] nsidn98 opened #1531 "CLI: Offline sync of large files prints lots of terminal noise"
I am running my code on a remote cluster that does not have internet access while executing the code. Hence, I have to `scp` the files to my local system and then sync them. The issue with this is that whenever I try to sync large files(>400MB), a huge string of the metrics logged in at each time step gets printed out on the terminal. Would it be possible to suppress that?

My wandb version 0.10.1

[2020-11-21 22:47] vanpelt commented on #1530
Hey @kamo-naoyuki instead of specifying step, you can log the different steps as separate metrics:

[code]

Then in the ui you can choose different x-axis to visualize your metrics.

[2020-11-21 22:49] vanpelt commented on #1531
Can you share a screen shot or terminal output of what you're seeing?  Is this happening when you run `wandb sync` or when you are `scp`'ing the data?

[2020-11-21 22:59] nsidn98 commented on #1531
![Screenshot 2020-11-22 at 4 28 20 AM](https://user-images.githubusercontent.com/25846064/99889426-fac85f80-2c7a-11eb-93fd-069af1db25e6.png)
The above screenshot is just a small part of the whole thing which is printed. Actually, similar chunks are printed for other metrics as well(validation losses, etc.). This happens when I run `wandb sync`

[2020-11-21 23:09] vanpelt commented on #1531
Are there any other error messages surrounding these?

[2020-11-21 23:12] nsidn98 commented on #1531
No, it just keeps on printing these lines for a long time.

[2020-11-21 23:30] kamo-naoyuki commented on #1530
Looks good. Thank you.
I think it's better if some grouping can be done to control different steps.

[2020-11-21 23:35] lukas commented on #1526
yes - wandb sync should fix the immediate issue. Do you have an unstable internet connection? Are you able to reproduce this issue? It would help a lot with the debugging.

[2020-11-21 23:36] lukas commented on #1530
I'm note sure I understand your suggestion - how would you like this to work?

[2020-11-21 23:41] kamo-naoyuki commented on #1530
For example,

[code]

Now different categories values are shown in the same level in the UI.

[2020-11-22 02:37] timothyjlaurent commented on #1499
So the config is supposed to log before any steps get taken, the _metrics_ were getting logged, though. Currently I'm manually logging the config so I don't lose it.

I tried setting `WANDB_WATCH=all` but that stopped logging any _metrics_  --- and it ran for hours so there were plenty of steps.

So maybe the metrics aren't getting logged because the run is reiniting, I'm manually init a run to se

[2020-11-22 03:10] vanpelt commented on #1499
Hey @timothyjlaurent, if you can get access to the `WandbCallback` instance, that's being passed to the `Trainer` you can set the `wandb_callback_instance._initialized = True` attribute so that the trainer doesn't create a new run after you manually called `wandb.init`.  We're looking into better ways to support this in a future release.

[2020-11-22 08:38] nivha commented on #1519
I'm sorry but I just can't figure out how to do it.
Here's my code like you suggested:

[code]

Here's what I see in the UI:
![Capture](https://user-images.githubusercontent.com/7469704/99898942-3d575f80-2cae-11eb-8711-70f1177d3e24.PNG)

And using the x-axis option int the UI I get this, for "batch":
![Capture](https://user-images.githubusercontent.com/7469704/99898960-59f39780-2cae-11eb-9579-721b

[2020-11-22 12:48] oliviersalaun commented on #1526
As far as I know the internet connection is fine and I am unable to reproduce the issue. My script ended up crashing after 34 hours of running, but the `wandb sync` did not update the runtime that is still stuck at 2h10. It just said `wandb: No runs to be synced.`

[2020-11-22 14:09] nivha opened #1532 "AttributeError: '_EarlyLogger' object has no attribute 'warn'"
Reproducible in my notebook:

[code]

Results in the error in the title

[2020-11-22 18:26] stathius opened #1534 "Pytorch lightning LearningRateMonitor does not work with wandb"
## 🐛 Bug

Wandb rejects the logging of the learning rate. I guess this is because Lightning keeps another step index for epoch-wide metrics like LR.

[code]

My code:
[code]

### Environment

python 3.7
ubuntu 18.04
pytorch-lightning 1.0.7
wandb 1.0.11

[2020-11-22 18:26] stathius commented on #1534
https://github.com/PyTorchLightning/pytorch-lightning/issues/4811

[2020-11-23 02:36] chrischoy commented on #1498
Thanks!

Importing ipykernel first

[code]

solved the problem.

[2020-11-23 06:43] Yannik1337 opened #1535 "Question: What happens when a sweep's run crushes?"
I work with W&B with Keras/TF. When I run my models, I use a ModelCheckpoint() callback to ensure fault tolerance. When I now run a sweep, I create a directory on my disk, named after the current run, e.g. `dir_name = wand.run.name`.
Under this directory I periodically save the model weights.

What happens when a run crashes (due to whatever reasons), is it run again **with the same name** so I ca

[2020-11-23 09:40] #1534 closed

[2020-11-23 13:11] efirdc commented on #1409
Also just encountered this issue for the first time. Using version 0.10.10, running on a cluster and not using pytorch lighting. I havent encountered it again after implementing the changes recommended by @chrischoy and @pcyin.

[2020-11-23 16:51] vanpelt commented on #1535
Hey @Yannik1337 to resume crashed runs you'll need to configure your run with resuming using one of the methods as described here: https://docs.wandb.com/library/resuming

[2020-11-23 16:51] #1535 closed

[2020-11-23 17:14] ariG23498 commented on #1532
Hey @nivha
It would be great if you posted the entire stack trace for people to take a look at.

[2020-11-23 17:18] dreamflasher commented on #1498
Any update on this @shawnlewis ?

[2020-11-23 17:35] vanpelt commented on #1498
@dreamflasher I *believe we fixed this in the most recent release 0.10.11, but I haven't personally confirmed this.  Can you give it a try and provide a snippet if it's still not working for you?

[2020-11-23 18:20] borisdayma commented on #1499
@timothyjlaurent can you clarify a few items:
* Are you using HuggingFace hyper-parameters search feature?
* Are you calling `wandb.init` prior to the `Trainer` or after?
* Are you explicitly setting `reinit` parameter? When setting to `True` it will close any existing run and start a new one.

You can see in your W&B interface if 2 runs have been created and what has been logged on each (config a

[2020-11-23 18:29] raubitsj commented on #1532
This should have been fixed with 0.10.11?    Can you verify it is still a problem with the latest release.

[2020-11-23 19:33] miraodasilva commented on #1532
I had this exact issue on 0.10.8. I can confirm that, for me, upgrading to 0.10.11 solved it.

[2020-11-23 19:38] miraodasilva opened #1537 "Custom Chart: Simplified gradient visualization"
Hi everyone,

Once again, I'd like to say I'm a big fan of this tool, and the more I use it the more I like it. Regarding weight, bias and gradient visualization, I checked some guides and saw that using log="all" in wand.init allows you to visualize these values over time. However, in my case (and my network is not even that large), I get 224 weights and gradients to look through. This is ok, but

[2020-11-23 19:40] tyomhak commented on #1529
Hi @Pharaun85 , thank you for flagging this. We're looking into it. What was the last version of wandb that this code worked with?
Also, can you share what OS you're running the sweep on?

cc @raubitsj

[2020-11-23 20:11] pedrocolon93 opened #1538 "Update tracked parameters late in training"
Hi there! I was just wondering if there was any way to update a model whose parameters have been unfrozen after starting training (i.e. at iteration N, I set requires_grad = True and give it a .grad value). If I do this, the unlocked parameters are not displayed in the visualization.

Thanks!

[2020-11-23 22:47] timothyjlaurent commented on #1499
I'm calling `wandb.init(reinit=True)` before `Trainer`.

and I don't see any config. I believe that if I call it without `reinit=True` then the config will log properly from the `Trainer`, in both of these cases, the loss and gradients will log into wandb.

currently I'm updating the config myself with `wandb.config.update`

If I set `WANDB_WATCH=all` though, I don't get any metrics... This is wit

[2020-11-23 23:39] borisdayma commented on #1499
For info why do you use `reinit=True`?
Its purpose is mainly to close any previous open run (if available) and start a new one.

For allowing logging config automatically on a manually edited run, we will need to update HuggingFace integration though I think it's a reasonable modification.

As for the watch method, it needs to be further investigated.
I did an experiment on GLUE with a Bert model

[2020-11-24 00:05] borisdayma commented on #1507
When you set `commit=False` or when you explicitly set a `step`, the values are aggregated and sent only when step increments (or at the end of the run) so you don't see them immediately in the dashboard.

Here is the logic:
* `wandb.log(dict, step=50)`
called automatically by `WandLogger` during training and validation
* **Option 1**: manual call to `wandb.log(my_dict)`
this will log at step 50,

[2020-11-24 02:09] ariG23498 commented on #1538
Hey @pedrocolon93 could it be possible for us to look at the code and the dashboard screeenshots? It would be a whole lot easier for people to help you if they could see where the probelm was. Thanks!

[2020-11-24 03:39] mohamedr002 commented on #1370
Thanks for your response, but what can I do if I am syncing tensorboard, will I do this for each file I save from tensorboard?

[2020-11-24 07:18] ariG23498 commented on #1537
Hey @miraodasilva
Are you talking about **224** individual plots for weights, bias and gradient visualization? This means that you are actually working with `224 * 3 = 672` plots all together.
With a wholistic approach of visualization could you elaborate on what you mean here?

I am not certain about your way of approaching the problem. If there are 224 individual models, then your present state

[2020-11-24 08:52] astariul-colanim opened #1542 "Display labels on the x axis"
I'm trying to display a simple bar chart with labels being on the x-axis, but I can't find the way to do it.

I do the following :

[code]

But the displayed chart is empty :

![image](https://user-images.githubusercontent.com/43774355/100070799-b1942d80-2e7d-11eb-9889-bfffd75fe5a2.png)

---

If I change and put the labels on the y-axis, it works perfectly :

[code]

![image](https://user-images.g

[2020-11-24 09:37] nivha commented on #1532
Hey @raubitsj indeed fixed in 0.10.11 as @miraodasilva said.
@ariG23498 since it's already fixed I think we can just forget about it (?)

[2020-11-24 09:37] #1532 closed

[2020-11-24 10:04] Pharaun85 commented on #1529
Thanks for your response. I was using version 0.10.4 and now I use 0.10.11
The OS version is Ubuntu 18.04.4
Also, I don't know if it matters, but the metric that I use in the sweep is F1_mean.
Thanks

[2020-11-24 13:01] rjdp opened #1543 "Setup issue: proxy not forwarding headers properly when trying to use artifacts with local wandb"
`
ERROR   Thread-34 :1030531 [internal_api.py:upload_file():1212] upload_file exception
400 Client Error: Bad Request for url:
`

upon debugging for actual response body, I got :

[code]

* response status code:  `400`

by the way this is a kubernetes install where the requests are proxied via a standalone (non-k8s) nginx load balancer, (nginx server sits infront of k8s cluster, forwarding request

[2020-11-24 15:48] vanpelt commented on #1543
Hey @rjdp this is indicating your proxy is not forwarding all of the headers to our container.  In production settings we would connect the local instance to an external cloud storage bucket such as S3 or GCS which would bypass your proxy.  In your current setup all data is stored in the container and the instance will stop working if it runs out of disk space.  Have you spoken to anyone at W&B ab

[2020-11-24 15:58] vanpelt commented on #1370
If you just set the logdir for your tensorboard writers to wandb.run.dir it will not attempt to symlink anything.

[2020-11-24 16:54] staceysv commented on #1542
Thanks for using custom charts! The default histogram called via `wandb.plot.bar` uses horizontal bars. It sounds like you're looking for a chart with vertical bars. The easiest way to change the bar orientation is to edit the definition of the chart.
I wrote a report to describe this use case which you may find helpful: [how to extend a custom preset](https://wandb.ai/wandb/plots/reports/Extend-a

[2020-11-25 00:39] astariul-colanim commented on #1542
@staceysv, that's exactly what I wanted !

Thank you for the very detailed answer. I read the doc, but I didn't understand I can save Vega config and reuse it in Python.

Your answer clarified everything :)

[2020-11-25 00:39] #1542 closed

[2020-11-25 04:36] ariG23498 commented on #305
Hey @anthonytec2 did you happen to find a solution to the issue you had mentioned?
The current wandb version is `0.10.11`. It would be great if you could check and reply to this thread. Being dormant for more than a year now, it could be better if we know about the issue and close the thread if it is solved.
CC: @raubitsj

[2020-11-25 05:51] cvphelps commented on #1519
Hi Nivha, thanks for explaining your question so thoroughly. I'd recommend having a different metric name for each of your epochs, like 'loss-1', 'loss-2', etc. Then in the UI, click edit on a line plot — next to Y-axes, select multiple options to get them all to show up on the same chart.

Here's an example in [Colab](https://colab.research.google.com/drive/1FIVURdVCnpuc3u-e3LPa_T43_4-Rhah4?usp=s

[2020-11-25 07:25] Yannik1337 opened #1546 "Integration: Project renaming breaks TensorBoard loading"
**Describe the bug**
I am using TF 2.3.1 and wandb 0.10.10., and Safari.

I log the data via the TensorBoard callback for keras, and set sync_tensorboard to True. With this settings, everything worked fine the last days. I did not change anything.
As of today, I can not visualize the logged data in TB, this is also for some older logs I did (weeks ago). It says no data, but I can recall using this

[2020-11-25 07:32] ariG23498 commented on #1546
Thanks for the issue!
I am tagging @cvphelps here so that she can help you with the problem of exhausting the quota (if at all it is the issue here).

[2020-11-25 07:38] ariG23498 commented on #330
Hey @MasterScrat
Did you happen to find a solution to the problem? The thread has gone stale over a year. It would be great if you could give us your feedback on the issue.
CC: @cvphelps @vanpelt

[2020-11-25 08:06] rjdp commented on #1543
Thanks @vanpelt , I checked again and confirmed all incoming headers are being forwarded (which is [default](https://nginx.org/en/docs/http/ngx_http_proxy_module.html#proxy_pass_request_headers) in nginx when proxy passing). I am currently pursuing to get it running and evaluate it by running few experiments after which I will look forward for licence. really appreciate the utitlity of wandb and y

[2020-11-25 08:23] cvphelps commented on #1546
Hi Yannik, thanks. Right now the storage quota doesn't interfere with the app functioning, so this shouldn't be an issue for the TensorBoard instance spinning up.

Are you saying that you looked at this exact run previously, and now you're not seeing tensorboard work for this very same run? Could you please share a link to the run so we can investigate further?

[2020-11-25 10:07] Yannik1337 commented on #1546
I looked at this run [https://wandb.ai/p_j/b4w/runs/3hjyhqar](https://wandb.ai/p_j/b4w/runs/3hjyhqar) some 30 days ago, and remember seeing stuff visualized. Now it says I have no data logged.

A run from this morning did finish correctly, no errors reported [https://wandb.ai/p_j/b4w/runs/2t13v1dg](https://wandb.ai/p_j/b4w/runs/2t13v1dg). When spinning up TensorBoard, it can not find any data logg

[2020-11-25 16:33] lminer opened #1547 "Default Data Logging: Include the average time per epoch"
It would be nice to have a metric somewhere that shows how long each epoch takes. Then I could compare runs by their average speed. You do have duration right now, but I often run jobs for differing numbers of epochs so it isn't quite the same thing.

[2020-11-25 16:40] lminer opened #1548 "Add ability to archive runs"
After I've run an experiment on a hyperparameter over a set of runs, it's helpful to be able to hide those runs as they get in the way when I'm trying to search for a run that I am currently using. It would be nice to have an "archive" tag that you could hide from searches unless you explicitly ask to search within archived runs.

[2020-11-25 17:31] vanpelt commented on #1548
Hey @lminer theres a couple options with the current interface.  For sweeps specifically you can add a filter in your workspace to exclude all runs that are in specific sweeps.

The other option is to bulk add a tag such has "archived" to any runs you no longer want to see and add a filter which excludes runs with this tag enabled by default.

Lastly, if you can always delete runs you never wish t

[2020-11-25 17:57] cvphelps commented on #1547
Thanks for the suggestion, this is an interesting idea. You could achieve this in a visualization by using a custom chart, pulling in the total run time, and dividing by the number of epochs. Then you could have a bar chart to compare average epoch time across runs in your project.

[2020-11-25 17:58] cvphelps commented on #1543
Thanks for sharing the fix, I'll close this for now.

[2020-11-25 18:06] lminer commented on #1548
Thanks for the suggested workaround. I'll definitely use it!

I do still think it would be nice to have the archive functionality as a basic feature. As a parallel, you could make an archive tag in gmail and use that instead of the archive button, but it is such a fundamental use case that it makes sense to build it into the UI.

[2020-11-25 19:07] rjdp commented on #1543
@cvphelps sorry for the misunderstanding, I meant to clarify that all request headers were already being forwarded (as thats default behaviour in nginx). the issue still persists. I also tried a running wandb-local outside of kubernetes cluster. I ran following on the server and proxy passed request to 8080 from nginx.

`
docker run --rm -d -v wandb:/vol -p 8080:8080 --name wandb-local wandb/local

[2020-11-25 22:08] cvphelps commented on #364
Closing for now as the snippet provided is good enough. Please upvote if other folks want this encapsulated directly in the client.

[2020-11-25 22:08] #364 closed

[2020-11-25 22:09] cvphelps commented on #395
Closing for now. Please upvote if other folks want this feature supported directly in the client.

[2020-11-25 22:09] #395 closed

[2020-11-25 22:10] cvphelps commented on #386
This was fixed with 0.9.x, but broken again in 0.10.x. Keeping this open until we can deduplicate this pdb issue.

[2020-11-25 22:29] vanpelt commented on #1543
Hey @rjdp can you shell into the container and run the following command?

[code]

While this is running, then attempt to create an artifact in a python shell and paste the output here from the docker container in this ticket.

[2020-11-25 23:33] rjdp commented on #1543
i have collected the logs in [this](https://gist.github.com/rjdp/42604eb5dcfb935c59c9845a40da2860) gist

[2020-11-25 23:34] rjdp commented on #1543
Hey @vanpelt , I have collected the logs here in [this](https://gist.github.com/rjdp/42604eb5dcfb935c59c9845a40da2860) gist. Thanks

[2020-11-25 23:58] rjdp opened #1551 "CLI: wandb.login() with custom host prints wrong link to wandb.ai/authorize"
**Describe the bug**
On running following, it prompts to get token from wandb.ai/authorize instead of wand.mydomain.com/authorize
`
wandb.login(host="https://wandb.mydomain.com", relogin=False)
`
In colab notebook I had to run following, and this worked as expected
`
 !wandb login --host=https://wandb.mydomain.com
`

Here is the screenshot

![Screenshot 2020-11-26 at 5 26 23 AM](https://user-image

[2020-11-26 00:02] vanpelt commented on #1547
@lminer the trickiest part of this is wandb has no notion of an "epoch" built into it's logging.  We have a notion of "step" but users generally log metrics at multiple time steps per epoch.  We could look for a metric named "epoch" and extract the time between the increments but that's a little tricky.

Since you likely want to able to sort of filter by this I would suggest the simplest solution

[2020-11-26 00:03] tyomhak commented on #1551
Hi, thanks for flagging this!

[2020-11-26 00:05] vanpelt commented on #1543
Hey @rjdp looking at those logs, it seems by the time the request makes it to minio, the request body has been removed and has a content-length of 0.  This is likely due to your proxy droping post bodies that are larger than the default nginx max post body size which is 1mb.  You can set the following directive in the server block of your nginx proxy which should fix this:

[code]

[2020-11-26 00:08] lminer commented on #1547
The `wandb.log` option would only work in a custom training loop so I guess I'd have to write my own custom callback that writes to tensorboard. If you have a notion of "step", would average time per step be a possible metric to log? That's essentially the same thing.

[2020-11-26 08:34] astariul-colanim opened #1553 "Custom chart : How to ensure the whole chart is visible ?"
I created a custom chart, using an existing Vega chart example, at `astariul/radar`.

But the chart does not appear entirely :

![image](https://user-images.githubusercontent.com/43774355/100326328-277acf00-300d-11eb-8d40-19dcf652f74d.png)

You can see it in [this report](https://wandb.ai/astariul/project/reports/Untitled-Report--VmlldzozMzg0ODA).

<details>
<summary>Click here to view the full Ve

[2020-11-26 09:00] rjdp commented on #1543
Thanks @vanpelt , issue persists after using above nginx config update (you may reproduce this by having nginx infront of wandb-local, in my case nginx and wandb-local are on different servers), i will switch to using non nginx local deployment for now.

[2020-11-26 10:25] frederico-klein commented on #1176
I've encountered this problem when trying to save runs to a samba mount.

In my case I should have turned symlinks for users when mounting the share (with the `mfsymlinks` option. [See this question](https://superuser.com/questions/1337257/clients-cant-create-symlinks-on-samba-share) ).

Just leaving this here in case someone else runs into this issue.

[2020-11-26 13:18] ariG23498 commented on #1553
I am tagging @KyleGoyette here for a quicker solution.
Thanks for the issue.

[2020-11-26 14:06] Yannik1337 commented on #1546
I have a guess: I log the same runs to a new project, and they can be visualized without problems.
**Now, I recall renaming the old project some time ago.**
Might this infer on your side with something? This could be a clue to the solution.

[2020-11-26 14:24] ariG23498 commented on #340
Hey @Microsheep due to the inactivity of this thread it is only fair if we knew whether you have the fix for your solution by now. We would rather want this thread closed if the solution to your issues are met. Cheers :smile:

[2020-11-26 15:53] bminixhofer opened #1554 "Make number of samples to plot in pr_curve customizable"
**Requested feature**
Currently the number of points to plot when using `wandb.plot.pr_curve` is hardcoded to 20:

https://github.com/wandb/client/blob/488f6db75b36b2d44a0cb5a770040408487d05aa/wandb/plot/pr_curve.py#L70-L81

This is a bit frustrating because it leads to a very bad curve in some cases:

<img width="826" alt="image" src="https://user-images.githubusercontent.com/13353204/100370935-5

[2020-11-26 17:14] ariG23498 commented on #357
Hey @elliotwaite
I tried recreating your code as follows:
[code]

My observations:
1. The `writer.close()` is an important piece of code that is left out in your code snippet. When I used your code snippet the tensorboard integration in colab and weights and biases would not even recognise any event files that are logged.
2. The warning that you have pointed out to are no longer prevalent. I did n

[2020-11-26 17:33] ariG23498 commented on #1554
Hey @bminixhofer thanks for the issue!
I think @cvphelps would be able to help you here.

On the other hand I think this issue is already acknowledged with the [custom chart visualization](https://docs.wandb.com/app/features/custom-charts) that wandb has recently released. If you want to take a look and customise the `pr_curve` with `vega specs` untill a reviewer comes in to check with the issue f

[2020-11-26 20:11] vanpelt commented on #1543
We're actually running nginx inside of the docker container so we know it works when properly configured.  I would try copying the example here:

https://docs.min.io/docs/setup-nginx-proxy-with-minio.html

You can also check your nginx access or error logs to see if it's truncating the post bodies.

[2020-11-27 06:48] Yannik1337 commented on #1546
Update: Have it confirmed, renaming breaks the TensorBoard.
Run below snippet in Colab once:

[code]

Afterwards, **rename project "test_a" to e.g. "test_b" in the GUI**.
Now, check the TensorBoard feature for this run again in the GUI. It does not work anymore.

As a second step, re-run the code snippet again, changing the project in init to "test_b". This visualization will fail too, albeit it w

[2020-11-27 07:19] ariG23498 commented on #380
Hey @Avuerro
I have tried out doing the same and it works fine for me.
Could you please check and see whether the same problem still persists?
The thread has gone stale and we would like to close this if the issue has been resolved! :smile:

[2020-11-27 07:24] ariG23498 commented on #398
Hey @yaroslavvb
Could you check if the issue still persists?
I think the logs now do not have overlapping text anymore. Due to the thread going stale, we could do with closing this issue if the behaviour is no longer noticed.

[2020-11-27 07:27] ariG23498 commented on #409
Hey @yaroslavvb
I think this issue does not persist any more. I went into the project and found nothing of the sorts of `8vl4zj29`.
If you think the solution to your issue has been achieved, could you please report?
CC: @cvphelps @vanpelt

[2020-11-27 07:31] ariG23498 commented on #427
Hey @dreamflasher
I think due to the fact that [https://pytorch.org/docs/stable/_modules/torch/utils/tensorboard/writer.html#SummaryWriter](SummaryWriter) takes the `log_dir` as the directory in which the tf event files would log, wandb would not have any way to figuring out the name of the directory. It would be beneficial to use either the `init` as you mentioned, or using `filename` as a variab

[2020-11-27 12:49] nsidn98 commented on #1531
Any updates on this?

[2020-11-28 13:05] ariG23498 commented on #443
Hey @yaroslavvb I think the present version of wandb does support system metric logging.
![image](https://user-images.githubusercontent.com/36856589/100516221-6d1fcf00-31a8-11eb-89c4-9cfb15bd14b8.png)

Feel free to close this if the feature request meets.
CC: @cvphelps

[2020-11-29 01:54] acauquil commented on #1493
Hi, I'm having the same issue using a `.yaml` file for the sweep. Here is my config :
[code]
Here is an example of parsed values by the agent
[code]
I tried to escape the comma, same results.

[2020-11-29 13:34] Microsheep commented on #340
Hi @ariG23498, I think we can close this issue for now.

To prevent collisions under `/tmp/` for different users on shared servers, we have already adopted guidelines to set directories according to usernames.
[code]

The original question mainly occurs when setting up the environment for the first time.
We opted to add the environment variable `WANDB_DIR` even for `wandb login`.

[2020-11-29 13:34] #340 closed

[2020-11-29 16:10] koaning opened #1556 "CLI: Silent mode is not silent"
**Describe the bug**

I'm running `wandb` with `os.environ["WANDB_SILENT"] = "true"` but I'm still seeing this output;

![image](https://user-images.githubusercontent.com/1019791/100547177-8f2b5700-3265-11eb-9310-477bcfac341c.png)

There's a lot less output with the environment variable set this way. But I wouldn't call it silent. Is it possible to turn this off too or is this a bug?

This was run

[2020-11-30 02:55] elliotwaite commented on #357
Got it. Thanks for following up on this. I have stopped using the Tensorboard integration and now just use the wandb backend directly, so this issue is no longer affecting me and I don't have Tensorboard installed anymore to test this code. Feel free to close this issue if it is resolved or not affecting others.

[2020-11-30 10:15] zimmer-m opened #1557 "Custom Charts: Add grouping feature"
Hey

**What I want to do**: After completely training a model (and logging all
kind of metrics to wandb) I want to do several computations and plot
custom line plots. I did so using wandb.log and wandb.plot.line
functions as illustrated in the Documentation. In the end, I want to
have various runs, each of which did plot this function, and I want to
compare these function.

**The problem**: When I

[2020-11-30 16:53] cvphelps commented on #437
We believe this is resolved with an upgrade to the 0.10.x release.

[2020-11-30 16:53] #437 closed

[2020-11-30 17:02] vanpelt commented on #1493
@nsfabina we're going to support tuples in the next release of our client library due out later this week.  We'll update this ticket once it's released.

[2020-11-30 17:04] vanpelt commented on #1556
Thanks for the bug report, we'll fix this in a future release.

[2020-11-30 17:29] cvphelps commented on #1557
Hi Max, thanks for filing a ticket. I saw your email during the Thanksgiving holidays as well — we currently don't support grouping in custom charts but I've added this ticket to the top of our backlog for the project!

[2020-11-30 18:26] miraodasilva commented on #1537
Hi, really sorry for the late response.

I have 232 parameter plots (weights and biases) and corresponding 232 gradient plots (weights and biases). This corresponds to every single weight and bias in my (moderately sized, nothing colossal) model. My point was that if I want to check if gradients are flowing properly it is effectively impossible to do so at a glance. Going through 232 plots is feas

[2020-11-30 20:28] nsfabina commented on #1493
Great, I'm glad this worked out here. Thanks for your help.

On Mon, Nov 30, 2020 at 11:03 AM Chris Van Pelt <notifications@github.com>
wrote:

[2020-11-30 21:38] cvphelps commented on #1557
Hi there Max, for the moment here are some rough workarounds:
1. Vega: Specify the grouping inside the vega spec itself
2. Export API: Download logged data to your Python notebook and then log a new 'evaluation' run to W&B where you log the average for yourself

We'd also like to make this possible in the app itself!

[2020-11-30 21:40] zimmer-m commented on #1557
Hey Carey, thanks for the answers, but found a workaround myself. I just decided to log several metrics using wandb.log after training and then creating the plots I need "by hand" in the webinterface, takes me 2 minutes of extra work but grouping works just fine :+1:

[2020-12-01 01:27] timothyjlaurent commented on #1499
My understanding that `reinit=True` was used if there was something downstream (like the Traininer logic) where init will be run again. If I don't use it, then the run I start where I use artifacts, etc, gets closed and a new run starts when I initialize the trainer.

My models have been BERT sized or smaller

[2020-12-01 02:40] cvphelps commented on #1557
Hi Max, good point, that's a very reasonable approach as well.

[2020-12-01 02:43] cvphelps commented on #1554
Hi @bminixhofer I wanted to mention that you can create your own custom preset and log to it directly from your script. For example, you could take the default PR curve, create a new vega spec, and then log to that custom named spec from your script.

Here's a walkthrough example of how to create your own personal preset: https://wandb.ai/wandb/plots/reports/Extend-a-Preset-Histogram-Bins--Vmlldzo

[2020-12-01 02:44] #357 closed

[2020-12-01 03:11] #409 closed

[2020-12-01 03:15] cvphelps commented on #1554
Hi @bminixhofer thanks for offering to put up a PR, that would be awesome! Cc'ing my colleague @KyleGoyette here to weigh in on what would make sense for this fix.

[2020-12-01 03:25] #443 closed

[2020-12-01 03:27] #427 closed

[2020-12-01 03:28] #398 closed

[2020-12-01 03:40] cvphelps commented on #1537
Hi Rodrigo, I see your suggestion on how to visualize these more effectively. Would you be interested in trying our Custom Charts feature to explore your logged gradients?

https://docs.wandb.com/app/features/custom-charts

Something like this, from your linked [discussion](https://discuss.pytorch.org/t/check-gradient-flow-in-network/15063/7) might be possible.

![image](https://user-images.github

[2020-12-01 03:42] cvphelps commented on #1531
Hi there, could you please share some code/files we could try to reproduce this issue? We'd like to get you a fix but I haven't been able to get this to happen on my own projects.

[2020-12-01 03:47] cvphelps commented on #1200
Hi there,I believe this is fixed in our latest release `0.10.x`. Could you please kindly try the update and reopen this ticket if it's still a problem.

[2020-12-01 03:47] #1200 closed

[2020-12-01 03:48] #563 closed

[2020-12-01 04:03] ariG23498 opened #1562 "Tensorboard: PyTorch writer.add_scalars() does not work as intented."
I tried the code as follows:
[code]

My observations:
1. There is a warning that I face with my implementation which is as follows:
[code]
I have tried figuring out the `root_dir` parameter, due to the unavailability of a docstring or documentation, I was not able to remove the warning.
2. If we ignore the warning the tensorboard integration in wandb does not really work like the one in colab.
|Th

[2020-12-01 04:51] ariG23498 commented on #366
Hey @vukovicnikola does the problem still persist with the latest release of wandb ie. `wandb, version 0.10.11`

Due to the fact that this issue has gone stale, it would be great to know more about it and try to come up with a fix as soon as possible. :smile:
CC: @cvphelps

[2020-12-01 06:14] ariG23498 commented on #444
Hey @Huizerd
I was going through the old issues and stumbled upon this one.
I am not sure whether you have the solution to the problem yet, so I would make some comments here.
You would notice that in the `sweep.yml` there is a key named `program`. In your case that has the value of `vertical.py`
[code]
This is the file that the `agent` runs each time while using the sweep configuration. I think y

[2020-12-01 07:45] ariG23498 commented on #444
Hey @Huizerd
I have tried reproducing the errors and have made myself a project that has three components namely
- train.py
- config.yml
- sweep.yml

### train.py
This file holds the training logic. I have tried keeping this file as simple as possible
[code]
We need the `init` inside this script so that the sweep agent can initialize the run everytime and log the values in the UI

### config.yml
[

[2020-12-01 07:47] bnapora commented on #961
Having a similar issue using fastai v1:
learn = Learner(data, model, loss_func=crit, callback_fns=[BBMetrics, ShowGraph, WandbCallback], metrics=[voc])
-train model
learn.export()
AttributeError: Can't pickle local object 'TorchGraph.hook_torch_modules.<locals>.backward_hook'

Only solution is to disable wandb callback when creating learner.  Then can export model without error.

[2020-12-01 07:54] Huizerd commented on #444
Hi @ariG23498, thanks for cleaning this up! I have to admit I have a hard time remembering what the problem was about exactly, but your suggestions make sense and should solve it (I ended up never using sweep again for some reason). As far as I'm concerned, we can close this now, and when I'll experience issues in the future again I'll just come back here and look at it :) Thanks!

[2020-12-01 07:54] #444 closed

[2020-12-01 10:59] bminixhofer commented on #1554
Adapting the method to my needs I also noticed that `binarized_y_true` is assigned to but never used - not sure if this leads to any bugs. So maybe you should take a look at that as well.

My proposed fix would be making `samples` a keyword argument with default value 20 and removing the part with `binarized_y_true` altogether as I don't think it's needed. I'll just go ahead and open a PR with tho

[2020-12-01 14:13] ariG23498 commented on #460
Hey @itssimon @yaroslavvb
I think wandb has imbibed this feature in the UI.

![image](https://user-images.githubusercontent.com/36856589/100751397-46160700-340d-11eb-9bf7-c7624fb9a447.png)
Here I have created the tag `good` and can filter the runs along with tags.
I hope we can close this feature request :smile:
CC: @cvphelps

[2020-12-01 14:15] ariG23498 commented on #458
Hey @gismo07
This ticket has gone stale
Would you help us in determining whether this ticket is still relevant?

[2020-12-01 14:20] ariG23498 commented on #468
Hey @yaroslavvb
Is this ticket still relevant?
Could you give this a go with the latest release of wandb?
:smile:

[2020-12-01 14:30] nsidn98 commented on #1531
Can I email the log folder drive link to reproduce the error?

[2020-12-01 15:04] vanpelt commented on #1562
You just need to call wandb.tensorboard.patch(root_logdir=x) the root logdir is the directory that tensorboard is using as its logdir.  I'm not sure what the default is, maybe os.getcwd but you can also specify a logdir directly in the SummaryWriter instance.

[2020-12-01 15:21] ariG23498 commented on #1562
I tried with this code snippet:
[code]
The file structure the SummaryWriter creates is as follows:
![image](https://user-images.githubusercontent.com/36856589/100759328-7f9f4000-3416-11eb-902d-1c58a3a70b98.png)

Here I did mention the root_logdir but the warning still prevails.

[2020-12-01 15:33] ariG23498 commented on #1562
Hey @vanpelt
I tried doing this
[code]

And this does not seem to supress the warnings anyway but the wandb is able to get the event files and the folder structure.
![image](https://user-images.githubusercontent.com/36856589/100761042-6f886000-3418-11eb-80a8-7e3298df2d83.png)
![image](https://user-images.githubusercontent.com/36856589/100760956-57b0dc00-3418-11eb-8d00-c35569a3730d.png)

The tensor

[2020-12-01 20:04] vanpelt commented on #961
Hey @bnapora you can set the `WANDB_WATCH=false` environment variable to just diable the gradient logging which is causing the pickle error.  We'll look into making `wandb.watch` properly support pickling.

[2020-12-01 20:12] vanpelt commented on #1531
Sure, send them to `vanpelt@wandb.com`

[2020-12-01 22:30] bnapora commented on #961
@vanpelt That worked.  Was able to export model without having to disable the wandb callback

[2020-12-01 22:31] KyleGoyette commented on #1553
I'm looking into this, it seems that radially facetted plots are quite tricky for sizing with Vega. It should be noted that Vega is working on adding a top down support for autosizing plots with facets in the near future. In the meantime, I'll try to find a suitable workaround for you.

[2020-12-02 01:43] j-min opened #1565 "wandb.init fails when a parent directory has '.git' file"
**Describe the bug**
`wandb.init` fails with the error below.
[code]
It seems to have trouble getting [settings.program_relpath](https://github.com/wandb/client/blob/41ea7537efb50e63471874941904b3d223d6c6b1/wandb/sdk/wandb_settings.py#L784).
Maybe it is related to recent OS upgrade to Ubuntu 20.04

**To Reproduce**

[code]
[code]
**Expected behavior**
Runs normally. This actually runs without any

[2020-12-02 03:06] #330 closed

[2020-12-02 03:08] #305 closed

[2020-12-02 03:10] #366 closed

[2020-12-02 03:11] #460 closed

[2020-12-02 03:12] #458 closed

[2020-12-02 03:21] #465 closed

[2020-12-02 03:22] #468 closed

[2020-12-02 03:27] ariG23498 commented on #469
Hey @yaroslavvb
I think this issue is resolved now
![image](https://user-images.githubusercontent.com/36856589/100824535-56b19600-347c-11eb-8b24-c99216a56116.png)

[2020-12-02 03:27] #469 closed

[2020-12-02 04:52] mohamedr002 commented on #1236
This also worked for me. Thank you

[2020-12-02 05:12] ariG23498 commented on #476
Hey @umgupta
Could you check if the issue is resolved with the newest version of wandb (0.10.11)

Due to the inactivity of the thread we would like to close it if the issue is resolved :smiley:

[2020-12-02 05:28] ariG23498 commented on #478
Hey @vanpelt
I think this issue is not yet resolved
![image](https://user-images.githubusercontent.com/36856589/100831944-ce87bc80-348c-11eb-8bb6-3bf95a911668.png)

CC: @cvphelps

[2020-12-02 05:53] borisdayma commented on #1499
Thanks a lot for those details.
In this case, you should not have to use `reinit=True` and it should not affect the rest of your program.

[2020-12-02 06:19] ariG23498 commented on #493
I tried reproducing the problem with the following code snippet:
[code]
Somehow `wandb` is unable to patch the tensorboard to the `logdir` I suggest here.

On the other hand I tried modifying the code and used `torch.utils.tensorboard.SummaryWriter()`
[code]
This worked fine for me.
My best guesses would be some complication with the `tensorboardX` integration.

[2020-12-02 06:54] j-min commented on #1565
I found the cause. This is not a linux issue.
Actually `/.git` has been added recently in my server (probably by server admin).
and [this line](https://github.com/wandb/client/blob/41ea7537ef/wandb/sdk/lib/git.py#L26) does not raise `exc.InvalidGitRepositoryError`.

I could make a hotfix by adding a line `raise exc.InvalidGitRepositoryError`.
But this was very hard to debug, since I never guessed

[2020-12-02 07:08] vanpelt commented on #1565
Hey @j-min can you try setting the "WANDB_DISABLE_CODE" environment variable to "true"?  That should prevent us from querying the git repository.

[2020-12-02 07:09] ariG23498 commented on #501
Hey @dreamflasher
Could you explain on the feature request a little more?

How would you envision to use the sweep with the python interface that you are talking about? Pseudocode would do just fine here. Knowing the specifications can help others to look into the ticket a little better I suppose. :smile:

[2020-12-02 07:11] vanpelt commented on #501
This is actually supported now: https://docs.wandb.com/sweeps/python-api

[2020-12-02 07:11] #501 closed

[2020-12-02 07:15] ariG23498 commented on #504
Hey @yaroslavvb
Thanks for the ticket.
For more details about the limits of logging we have a detailed page on this: https://docs.wandb.com/library/limits

CC: @cvphelps

[2020-12-02 07:17] dreamflasher commented on #501
Amazing! Exactly as I imagined @vanpelt! thank you.

[2020-12-02 07:49] zimmer-m opened #1566 "[Potential bug] Grouping changes x values in unexpected way"
**Describe the bug**
**What I do is the following**: I train a model for 200 epochs and log several metrics (like train.accuracy, test.accuracy..) using wandb.log and everything works as expected. I do not pass a different step argument than the default. Then after training, I save the model and loop over a list of desired sparsities: self.desired_sparsities = [0, 0.3, 0.5, 0.7, 0.9, 0.95, 0.98].

[2020-12-02 08:44] Yannik1337 opened #1567 "AlreadyExistsError() when a Sweep run throws OOM error"
I am using Kubernetes. In the container I call my python script. The following excerpts are the parts where the sweep starts:

[code]
and later in the script

[code]

When the first sweep run -- due to hyperparameter settings that exceed the boundaries -- throws an OOM error, the further ones are throwing these errors:

...
Run k7jsol3b errored: AlreadyExistsError()
wandb: ERROR Run k7jsol3b error

[2020-12-02 10:58] zimmer-m commented on #1566
Not sure if this is of any help, but I was able to circumvent the problem by plotting finetune.test.accuracy vs step (instead of vs. desired_sparsity). Then I selected desired_sparsity as the X-Axis-Expression, and not the values are at least correct. It would be nice of someone could elaborate on what is happening here, as I seem to have some misunderstandings of the core functionality of lineplo

[2020-12-02 15:23] j-min commented on #1565
I tried adding `os.environ['WANDB_DISABLE_CODE']='True'`.
It still results in error as below,
since [this line](https://github.com/wandb/client/blob/41ea7537ef/wandb/sdk/internal/meta.py#L101) also calls `self._git.root`.
[code]

[2020-12-02 16:02] vanpelt commented on #504
We've since made improvements to caching and print warnings when limits are exceeded.

[2020-12-02 16:02] #504 closed

[2020-12-02 17:04] vanpelt commented on #1567
Hey @Yannik1337, can you try removing the `reinit=True` argument?  You will also likely want to call `wandb.finish()` at the end of the `train()` function, although I think we'll automatically finish the run for you in this mode.

[2020-12-02 20:31] BruceWen120 commented on #1409
I encountered the same problem with version 0.10.11.

The error appeared to have occurred when `wandb.init` was called.

Weirdly though, I am initiating several runs within the script, and this error only occurred in the second run, after the first run was finished. I doubt the compute environment would have changed much.

[2020-12-02 22:18] cvphelps commented on #1024
This works with the new cli, `pip install wandb` version 0.10+. To get your API key go to wandb.ai/authorize.

[2020-12-02 22:18] #1024 closed

[2020-12-03 01:46] tyomhak commented on #1566
Hey @zimmer-m , thanks for writing in. @cvphelps can you please help here?

[2020-12-03 03:51] ariG23498 commented on #476
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 03:51] #476 closed

[2020-12-03 03:53] ariG23498 commented on #520
Hey @prash-p
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 03:53] #520 closed

[2020-12-03 03:55] ariG23498 commented on #537
Hey @yaroslavvb
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 03:55] #537 closed

[2020-12-03 03:57] ariG23498 commented on #544
Hey @KeAWang
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 03:57] #544 closed

[2020-12-03 03:58] ariG23498 commented on #547
Hey @yaroslavvb
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen. :smile:

[2020-12-03 03:58] #547 closed

[2020-12-03 03:59] ariG23498 commented on #549
Hey @yaroslavvb
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 03:59] #549 closed

[2020-12-03 04:01] ariG23498 commented on #551
Hey @yaroslavvb
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:01] #551 closed

[2020-12-03 04:05] ariG23498 commented on #554
Hey @numpee @psinger
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:05] #554 closed

[2020-12-03 04:06] ariG23498 commented on #555
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen. :smile:

[2020-12-03 04:06] #555 closed

[2020-12-03 04:08] ariG23498 commented on #562
Hey @alberduris
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:08] #562 closed

[2020-12-03 04:09] ariG23498 commented on #571
Hey @Danmou
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:09] #571 closed

[2020-12-03 04:10] ariG23498 commented on #574
Hey @mlmu
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:10] #574 closed

[2020-12-03 04:11] ariG23498 commented on #577
Hey @altay
I think you have met your solution
Closing this as the ticket is stale :smile:

[2020-12-03 04:11] #577 closed

[2020-12-03 04:13] ariG23498 commented on #580
Hey @THSWind
Is the issue resolved?
We would like to close stale tickets. :smile:

[2020-12-03 04:14] ariG23498 commented on #589
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:14] #589 closed

[2020-12-03 04:16] ariG23498 commented on #598
Hey @Danmou
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:16] #598 closed

[2020-12-03 04:18] ariG23498 commented on #601
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:18] #601 closed

[2020-12-03 04:19] ariG23498 commented on #602
Hey @yaroslavvb
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:19] #602 closed

[2020-12-03 04:20] ariG23498 commented on #605
Hey @yaroslavvb
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:20] #605 closed

[2020-12-03 04:20] ariG23498 commented on #622
Hey @yaroslavvb
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:20] #622 closed

[2020-12-03 04:21] ariG23498 commented on #632
Hey @DNGros
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:21] #632 closed

[2020-12-03 04:22] ariG23498 commented on #637
Hey @mboratko
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:22] #637 closed

[2020-12-03 04:23] ariG23498 commented on #650
Hey @vict0rsch
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:23] #650 closed

[2020-12-03 04:24] ariG23498 commented on #652
Hey @aidangomez
Thanks for the lovely explanation.
I am closing this ticket due to the inactivity. In the past year we've majorly reworked the CLI and UI for Weights & Biases. Please comment to reopen.

[2020-12-03 04:24] #652 closed

[2020-12-03 04:25] ariG23498 commented on #655
Hey @Danmou
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:25] #655 closed

[2020-12-03 04:27] ariG23498 commented on #664
Hey @tshrjn
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:27] #664 closed

[2020-12-03 04:28] #667 closed

[2020-12-03 04:31] ariG23498 commented on #672
Hey @phucnsp
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:31] #672 closed

[2020-12-03 04:38] ariG23498 commented on #675
Hey @prash-p
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:39] ariG23498 commented on #676
Hey @lemonad
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:39] #676 closed

[2020-12-03 04:39] ariG23498 commented on #679
Hey @vwxyzjn
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:39] #679 closed

[2020-12-03 04:40] ariG23498 commented on #687
Hey @YahngSungho
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:40] #687 closed

[2020-12-03 04:41] ariG23498 commented on #708
Hey @HansPinckaers
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:41] #708 closed

[2020-12-03 04:42] ariG23498 commented on #711
Hey @seangtkelley
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:42] #711 closed

[2020-12-03 04:45] ariG23498 commented on #713
Hey @charan223
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:45] #713 closed

[2020-12-03 04:45] ariG23498 commented on #716
Hey @bguisard
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:45] #716 closed

[2020-12-03 04:46] ariG23498 commented on #724
Hey @kushalarora
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:46] #724 closed

[2020-12-03 04:48] ariG23498 commented on #729
Hey @haimat
Thanks for the solution. :+1:
I am closing this ticket as of now. Please comment to reopen.

[2020-12-03 04:48] #729 closed

[2020-12-03 04:49] ariG23498 commented on #748
Hey @DanieleMarchei
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:49] #748 closed

[2020-12-03 04:50] ariG23498 commented on #749
Thanks for the ticket @dkloving
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:50] #749 closed

[2020-12-03 04:52] ariG23498 commented on #785
Hey @stathius
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:52] #785 closed

[2020-12-03 04:53] ariG23498 commented on #800
Hey @tjiagoM
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 04:53] #800 closed

[2020-12-03 05:04] ariG23498 commented on #805
Hey @syorami
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing this issue as there is a fix to it (as you mentioned). Please comment to reopen.

[2020-12-03 05:04] #805 closed

[2020-12-03 05:05] ariG23498 commented on #817
Hey @BenedictWilkinsAI
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 05:05] #817 closed

[2020-12-03 05:07] ariG23498 commented on #821
Hey folks,
Would love to hear your feedback on the custom viz feature.
It would be helpful if one could also send in feedback related to this ticket. :smile:

[2020-12-03 05:08] ariG23498 commented on #822
Hey @prash-p
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 05:08] #822 closed

[2020-12-03 05:08] ariG23498 commented on #838
Hey @eugeneware
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 05:08] #838 closed

[2020-12-03 05:14] ariG23498 commented on #843
Hey @timothybrooks
I think you have the solution to the ticket.
We are closing this issue due to the inactivity of the thread. Please feel free to reopen it if need be.

[2020-12-03 05:14] #843 closed

[2020-12-03 05:16] ariG23498 commented on #855
Hey @dreamflasher
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 05:17] ariG23498 commented on #859
Hey @ecatkins
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 05:17] #859 closed

[2020-12-03 05:18] ariG23498 commented on #864
Hey @intermx-rwalden
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 05:18] #864 closed

[2020-12-03 05:19] ariG23498 commented on #867
Hey @fwilliams
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 05:19] #867 closed

[2020-12-03 06:13] ariG23498 commented on #869
Hey @YantianZha
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:13] #869 closed

[2020-12-03 06:16] ariG23498 commented on #876
Hey @shamoons
We are closing this issue as the provided reply by @mfts makes sense and is the probable solution to the ticket.
Please feel free to reopen it for futher queries related to this ticket.

[2020-12-03 06:16] #876 closed

[2020-12-03 06:17] ariG23498 commented on #879
Hey @vanpelt @lukas
We are closing this issue due to the inactivity of the thread. Please feel free to reopen it if a similar issue arises. Cheers! :smile:

[2020-12-03 06:17] #879 closed

[2020-12-03 06:20] ariG23498 commented on #892
Hey @noncuro
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:20] #892 closed

[2020-12-03 06:20] ariG23498 commented on #901
Hey @andrijazz
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:20] #901 closed

[2020-12-03 06:21] ariG23498 commented on #903
Hey @Yumin-Sun-00
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:21] #903 closed

[2020-12-03 06:22] ariG23498 commented on #905
Hey @LuposX
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:22] #905 closed

[2020-12-03 06:22] ariG23498 commented on #906
Hey @Yumin-Sun-00
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:22] #906 closed

[2020-12-03 06:23] ariG23498 commented on #907
Hey @Yumin-Sun-00
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:23] #907 closed

[2020-12-03 06:25] dreamflasher commented on #855
Please reopen

[2020-12-03 06:25] ariG23498 commented on #908
Hey @Yumin-Sun-00
We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:25] #908 closed

[2020-12-03 06:25] ariG23498 commented on #911
Hey @rahulvigneswaran
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:25] #911 closed

[2020-12-03 06:29] ariG23498 commented on #919
Hey @bknyaz
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:30] ariG23498 commented on #920
Hey @Yumin-Sun-00
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:30] #920 closed

[2020-12-03 06:31] ariG23498 commented on #938
Hey @dreamflasher
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:32] ariG23498 commented on #945
Hey @sff1019
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:32] #945 closed

[2020-12-03 06:33] dreamflasher commented on #938
Please reopen

[2020-12-03 06:33] ariG23498 commented on #948
Hey @dreamflasher
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:33] ariG23498 commented on #954
Hey @dreamflasher
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:34] ariG23498 commented on #957
Hey folks
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:34] #957 closed

[2020-12-03 06:36] ariG23498 commented on #958
Hey @chrisdonahue
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:36] #958 closed

[2020-12-03 06:37] ariG23498 commented on #959
Hey @bkkaggle
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:37] #959 closed

[2020-12-03 06:39] ariG23498 commented on #961
Hey folks we are closing this issue as the thread has a probable solution listed and is also going stale due to the inactivity.

[2020-12-03 06:39] #961 closed

[2020-12-03 06:41] ariG23498 commented on #966
Hey @bml1g12
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:41] ariG23498 commented on #971
Hey @neomatrix369
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:41] #971 closed

[2020-12-03 06:42] ariG23498 commented on #973
Hey @b0hd4n
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:42] #973 closed

[2020-12-03 06:42] ariG23498 commented on #980
Hey @bsridatta
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:42] #980 closed

[2020-12-03 06:43] ariG23498 commented on #981
Hey @neomatrix369
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:43] #981 closed

[2020-12-03 06:43] ariG23498 commented on #987
Hey @AljoSt
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:43] #987 closed

[2020-12-03 06:44] ariG23498 commented on #988
Hey @tshrjn
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:44] #988 closed

[2020-12-03 06:46] ariG23498 commented on #999
Hey @zkx741481546
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:46] #999 closed

[2020-12-03 06:46] ariG23498 commented on #1001
Hey @qixiong-wang
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:46] #1001 closed

[2020-12-03 06:46] dreamflasher commented on #954
Please reopen

[2020-12-03 06:46] ariG23498 commented on #1005
Hey @hadyelsahar
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:46] #1005 closed

[2020-12-03 06:47] dreamflasher commented on #948
Please reopen

[2020-12-03 06:47] ariG23498 commented on #1012
Hey @kcajf
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:47] #1012 closed

[2020-12-03 06:48] ariG23498 commented on #1014
Hey @dreamflasher
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:48] #1014 closed

[2020-12-03 06:48] ariG23498 commented on #1015
Hey @neomatrix369
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:48] #1015 closed

[2020-12-03 06:50] ariG23498 commented on #1019
Hey @jotterbach
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:50] #1019 closed

[2020-12-03 06:51] ariG23498 commented on #1022
Hey @ninastijepovic
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:51] #1022 closed

[2020-12-03 06:52] ariG23498 commented on #1030
Hey @tomginsberg
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:52] #1030 closed

[2020-12-03 06:53] ariG23498 commented on #1033
Hey folks in the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing some stale issues. Please comment to reopen.

[2020-12-03 06:53] #1033 closed

[2020-12-03 06:54] ariG23498 commented on #1034
Hey @mojesty
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:54] #1034 closed

[2020-12-03 06:54] ariG23498 commented on #1035
Hey @bluesky314
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:54] #1035 closed

[2020-12-03 06:55] ariG23498 commented on #1038
Hey @umgupta
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:55] #1038 closed

[2020-12-03 06:55] ariG23498 commented on #1039
Hey @umgupta
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:55] #1039 closed

[2020-12-03 06:56] ariG23498 commented on #1044
Hey @noncuro
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:56] #1044 closed

[2020-12-03 06:56] ariG23498 commented on #1045
Hey @dreamflasher
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:56] #1045 closed

[2020-12-03 06:58] ariG23498 commented on #1047
Hey @dreamflasher
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:58] #1047 closed

[2020-12-03 06:58] ariG23498 commented on #1050
Hey @rmrao
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 06:58] #1050 closed

[2020-12-03 07:00] ariG23498 commented on #1053
Hey @minhtriet
Due to the inactivity of the thread and the solution being found we are closing this thread. Please feel free to reopen this is need be. :smile:

[2020-12-03 07:00] #1053 closed

[2020-12-03 07:00] ariG23498 commented on #1055
Hey @kengz
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 07:00] #1055 closed

[2020-12-03 07:00] ariG23498 commented on #1057
Hey @umgupta
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-03 07:00] #1057 closed

[2020-12-03 13:10] nsidn98 commented on #1531
@vanpelt I have sent a drive link to the log files to `vanpelt@wandb.com`

[2020-12-03 16:46] miraodasilva commented on #1537
@cvphelps Sure, I will try to implement this ASAP and let you know. Thanks.

[2020-12-03 16:50] miraodasilva opened #1572 "Getting url from run using python library."
**Problem or Use Case**
I would like to keep wandb silent, but print only the run/project URLs. I can get them for the log and print them but that doesnt seem like a very elegant solution.

**Suggested Solution**
 I would like to access these urls for my run using the python library. I took a look at the docs for environment variable and config and I could not find this. I'm pretty sure there is a

[2020-12-03 19:04] farizrahman4u commented on #1567
@Yannik1337 I was unable to reproduce the error. This is the code I used:

[code]

Are there any key differences between this and your setup?

[2020-12-03 20:40] neomatrix369 commented on #1015
Thanks for letting me know, I trust the raised issue is fixed in the newer version, I haven't played with it yet look forward to it.

[2020-12-03 20:41] neomatrix369 commented on #971
Does it mean this feedback has been integrated into the Dashboard or CLI? How can I find out? The above enhancements would be great to have and also improves UI/UX for all users.

[2020-12-04 00:05] vanpelt commented on #971
Hey @neomatrix369 we now handle these un-renderable in a much cleaner way.  Give it a try and let us know if you have other suggestions for improving it further.

[2020-12-04 00:19] neomatrix369 commented on #971
Ok cool @vanpelt I will soon have a look at it, a couple of projects may need some visualisations (and I will use W&B for them)

[2020-12-04 00:20] vanpelt commented on #1572
Hey @miraodasilva you can call `wandb.run.get_url()` after you've called wandb.init:

https://github.com/wandb/client/blob/master/wandb/sdk/wandb_run.py#L492

[2020-12-04 00:20] #1572 closed

[2020-12-04 00:33] vanpelt commented on #954
@dreamflasher you can do this today by clicking "Create Report" in a workspace and choosing the section or tables you want to share.  Then the report itself can be shared with a private sharing link.  Can you describe what makes this not work for your usecase?

[2020-12-04 00:40] vanpelt commented on #1531
Thanks, I've received and the ticket will be prioritized in the backlog.

[2020-12-04 05:13] ariG23498 commented on #1566
Hey @zimmer-m
I was able to reproduce your issue.
## The code
[code]

This is a minimal implementation of your issue. I am considering 10 epochs and then later iterating over the `desired_sparsities`.

## Web-interface
The link to the project page: https://wandb.ai/repro/grouping

**My observations**:
- Line Plots are perfectly fine without grouping. I have made two kinds of line plots, one where

[2020-12-04 05:35] ariG23498 commented on #1058
Hey @evfro
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen.

[2020-12-04 05:35] #1058 closed

[2020-12-04 05:36] ariG23498 commented on #1059
Hey folks
Due to the availability of a solution and inactivity of the thread we are closing this ticket.
In the past year we've majorly reworked the CLI and UI for Weights & Biases. Please comment to reopen. :smile:

[2020-12-04 05:36] #1059 closed

[2020-12-04 05:37] ariG23498 commented on #1062
Hey @ShaneSmiskol
We are closing this issue due to the inactivity of the thread. Please feel free to open it if the issue persists :smile:

[2020-12-04 05:37] #1062 closed

[2020-12-04 05:38] ariG23498 commented on #1064
Hey @concretevitamin
Could you check if the issue still persists?
We would like to close state threads as we move along :smile:

[2020-12-04 05:39] ariG23498 commented on #1067
Hey @Merlin55
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen. :smile:

[2020-12-04 05:39] #1067 closed

[2020-12-04 05:39] ariG23498 commented on #1072
Hey @jarednielsen
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen. :smile:

[2020-12-04 05:39] #1072 closed

[2020-12-04 05:40] ariG23498 commented on #1074
Hey @tshrjn
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen. :smile:

[2020-12-04 05:40] #1074 closed

[2020-12-04 05:41] ariG23498 commented on #1075
Hey @tshrjn
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen. :smile:

[2020-12-04 05:41] #1075 closed

[2020-12-04 05:42] ariG23498 commented on #1078
Hey @sebastian-sosa
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing issues older than 6 months. Please comment to reopen. :smile:

[2020-12-04 05:42] #1078 closed

[2020-12-04 05:46] ariG23498 commented on #1082
Hey @dreamflasher
Could you let us know whether we could close this ticket?

[2020-12-04 05:48] ariG23498 commented on #1086
Hey @jarednielsen
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing stale issues. Please comment to reopen. :smile:

[2020-12-04 05:48] #1086 closed

[2020-12-04 05:49] ariG23498 commented on #1093
Hey folks
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing stale issues. Please comment to reopen. :smile:

[2020-12-04 05:50] ariG23498 commented on #1094
Hey @itssimon
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing stale issues. Please comment to reopen. :smile:

[2020-12-04 05:50] #1094 closed

[2020-12-04 05:51] ariG23498 commented on #1107
Hey @umgupta
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing stale issues. Please comment to reopen. :smile:

[2020-12-04 05:51] #1107 closed

[2020-12-04 05:51] ariG23498 commented on #1110
Hey @kaglowka
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing stale issues. Please comment to reopen. :smile:

[2020-12-04 05:51] #1110 closed

[2020-12-04 05:53] ariG23498 commented on #1128
Hey @maria-korosteleva
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing stale issues. Please comment to reopen. :smile:

[2020-12-04 05:53] #1128 closed

[2020-12-04 05:53] ariG23498 commented on #1129
Hey @EricCousineau-TRI
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing stale issues. Please comment to reopen. :smile:

[2020-12-04 05:54] ariG23498 commented on #1133
Hey folks
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing stale issues. Please comment to reopen. :smile:

[2020-12-04 05:54] #1133 closed

[2020-12-04 05:54] ariG23498 commented on #1139
Hey @kevinkwshin
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing stale issues. Please comment to reopen. :smile:

[2020-12-04 05:54] #1139 closed

[2020-12-04 05:56] ariG23498 commented on #1144
Hey @jarednielsen
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing stale issues. Please comment to reopen. :smile:

[2020-12-04 05:57] ariG23498 commented on #1149
Hey @dicicch
In the past year we've majorly reworked the CLI and UI for Weights & Biases. We're closing stale issues. Please comment to reopen.

[2020-12-04 05:57] #1149 closed

[2020-12-04 06:42] serg06 commented on #1139
I use regular Pytorch + wandb (not Lightning), but I was able to fix this issue recently in my code, so I'll post the solution here: I just encapsulated all the top-level stuff (besides imports, functions, and class definitions) in `if __name__ == '__main__':`. I even had to stick the `wandb.init` and `wandb.config` stuff under there.

[2020-12-04 08:21] mswedrowski opened #1575 "Cannot access settings tab in web application"
**Describe the bug**
I'm not sure whether it is the right place to report this bug, however, I cannot find any option to report a bug directly via the web page.Whenever I try to access settings tab ( https://wandb.ai/settings ) I receive an error "_Cannot query field "slackClientID" on type "ServerInfo"_ ". There is an option to refresh the page, but whenever I try to refresh prompt appears again.

[2020-12-04 08:48] ariG23498 commented on #1156
Hey @brentschroeter
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing inactivate threads for the time being. Please comment to reopen. :smile:

[2020-12-04 08:48] #1156 closed

[2020-12-04 09:16] ariG23498 commented on #1159
Hey @tom-andersson
I tried reproducing the code. I found a simple synatx error in your code snippet otherwise the code seems to be doing what is expected.
## Train.py
[code]
## Sweep.yml
[code]
## Code error
[code]
The parameter should have been `allow_val_change` instead of `allow_val_changes`.

When I use the `allow_val_change=True` the print statements seem to be printing out the different para

[2020-12-04 09:16] #1159 closed

[2020-12-04 10:00] zimmer-m commented on #1566
Thanks for the MWE, appreciate it!

[2020-12-04 10:26] Yannik1337 commented on #1567
I think I traced back the problem to *sigh* TensorFlow. Clearing GPU memory is sadly a struggle with it so far.
Different to the above setup, I instantiate my TF/Keras model in the train() method and thus block VRAM. This means each time a new model is created - which is correct, since the model's architecture might drastically change (e.g. more convolutions, more dense layers,..).

One solution I

[2020-12-04 12:59] ariG23498 commented on #1164
Hey @pedrocolon93
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing inactivate threads for the time being. Please comment to reopen. :smile:

[2020-12-04 12:59] #1164 closed

[2020-12-04 13:00] ariG23498 commented on #1165
Hey @bibbygoodwin
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing inactivate threads for the time being. Please comment to reopen. :smile:

[2020-12-04 13:00] #1165 closed

[2020-12-04 13:00] ariG23498 commented on #1167
Hey @maria-korosteleva
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing inactivate threads for the time being. Please comment to reopen. :smile:

[2020-12-04 13:02] ariG23498 commented on #1173
Hey @yukw777
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing inactivate threads for the time being. Please comment to reopen. :smile:

[2020-12-04 13:02] #1173 closed

[2020-12-04 13:02] ariG23498 commented on #1177
Hey @vwxyzjn
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing inactivate threads for the time being. Please comment to reopen. :smile:

[2020-12-04 13:04] ariG23498 commented on #1185
Hey @FordUniver
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing inactivate threads for the time being. Please comment to reopen. :smile:

[2020-12-04 13:04] #1185 closed

[2020-12-04 13:04] ariG23498 commented on #1188
Hey @karanpathak
In the past few months we've majorly reworked the CLI and UI for Weights & Biases. We're closing inactivate threads for the time being. Please comment to reopen. :smile:

[2020-12-04 13:04] #1188 closed

[2020-12-04 14:47] cvcore commented on #1575
same problem here. Tried with 2 different accounts.

[2020-12-04 17:47] vanpelt commented on #1567
Hey @Yannik1337, one approach is to start the sweep agent on a machine that has access to `kubectl` and can talk to your kubernetes cluster.  Then the script that the agent executes could launch a pod into the cluster with the appropriate hyper-parameters in an environment variable or mounted into the container.

Another potentially simpler approach is to you run 2 process in your pod.  The main p

[2020-12-04 17:48] vanpelt commented on #1575
Sorry about this, we fixed the issue 2 hours ago it was a bad deploy.

[2020-12-04 17:48] #1575 closed

[2020-12-04 21:34] miraodasilva commented on #1572
Thanks! I could not find this in the docs (I guess it's probably there but I missed it).

[2020-12-04 23:46] cvphelps commented on #1543
Hey there, we don't have bandwidth to support custom configuration questions for free installs of W&B local. Closing this for now.

[2020-12-04 23:46] #1543 closed

[2020-12-05 00:22] cvphelps commented on #1538
Closing for now, we can reopen with further details

[2020-12-05 00:22] #1538 closed

[2020-12-05 09:16] maria-korosteleva commented on #1167
The issue is still there, unfortunately

![image](https://user-images.githubusercontent.com/6837635/101238804-bb2a5a80-36f3-11eb-86e7-958aad754343.png)

[2020-12-05 13:44] Yannik1337 commented on #1567
Hey @vanpelt , thank you for your help. The sweep is now running- I have used your web GUI to create a sweep and then run an agent from my .yaml file.

As a sidenote, I log a metric with wandb.log({"A metric":123}). Note the spaces: They result in an GraphQL 500 error:

500 response executing GraphQL.
{"errors":[{"message":"anaconda 400 error: {\"code\":400,\"message\":\"ValueError: nan is not in

[2020-12-05 13:44] #1567 closed

[2020-12-05 14:24] ariG23498 commented on #1167
I am reopening the issue
Thanks for the reply
CC: @cvphelps

[2020-12-05 15:02] jopo666 opened #1579 "Wandb only terminates one process when using DDP."
**Describe the bug**

Each time I run a sweep (one or multiple runs per agent), some processes are left running (these hog 100% the processor they're assigned to and eat up RAM). The data from GPUs is not cleared after finishing a sweep, leading to  `CUDA out of memory` error.  Afterwards I need to kill all processes individually. After stopping the sweep I get this error.

`/home/jpohjone/minicon

[2020-12-06 02:56] YKX-A commented on #1122
The same problem when my network return **an empty dict** `{}`, but ok when there is at least one content in the dict!

[2020-12-06 20:04] MLBurnham commented on #1247
I'm also having this issue. Roughly 10% of memory (1 gig) isn't being released between runs. I'm using version 0.10.12 on ubuntu 20.04 with cuda 11.0. you can clearly see the leak in successive runs in the attached screenshot.
![Screenshot from 2020-12-06 15-02-49](https://user-images.githubusercontent.com/41241150/101291070-306d5c80-37d4-11eb-8274-cc55dea58498.png)

[2020-12-06 23:57] SamGalanakis commented on #1370
`save_model_path = wandb.run.dir+wandb.run.name+".pt"`
    `torch.save(save_state_dict,save_model_path)`
    `wandb.save(save_model_path)`

`Exception has occurred: OSError
[WinError 1314] A required privilege is not held by the client: 'C:\\code\\flow_change\\wandb\\run-20201207_005152-rbk0gfx9\\filesfanciful-salad-27.pt' -> 'C:\\code\\flow_change\\wandb\\run-20201207_005152-rbk0gfx9\\files\\file

[2020-12-07 00:18] seanswyi opened #1581 "Using W&B with PDB causes navigation and control keys to not work."
**Describe the bug**
Using the Python Debugger along with W&B causes the interactive shell of the debugger to malfunction. It works, but you can no longer use keys like backspace, <kbd>CTRL</kbd> + <kbd>(something)</kbd>, etc.

**To Reproduce**
Reproduction is fairly simple. Just add a `import pdb; pdb.set_trace()` anywhere in your code, and when the script returns the  PDB interactive shell just

[2020-12-07 01:19] vwxyzjn commented on #1177
Hi @ariG23498, thanks for letting me know. However, I still feel this feature is quite helpful for improving reproducibility. Any chance you could reopen the ticket? Thanks.

[2020-12-07 04:25] ariG23498 commented on #1177
Hey @vwxyzjn
Thanks for the reply
I will be reopening this ticket.

[2020-12-07 05:20] ariG23498 commented on #1581
Hey @seanswyi
I tried reproducing your issue in my system

**System Config**
- OS: Ubuntu 18.04
- Version: 0.10.12

**Code Used**
[code]
**Issues**
I did **not** find any probelm while using `backspace`. The only problem that I face is with the navigation keys. The `left`, `right`, `up` and `down` arrows seem to be outputting `^[[D`, `^[[C`, `^[[A` and `^[[B` respectively.

[2020-12-07 05:41] seanswyi commented on #1581
Hey @ariG23498 thanks for helping out. It's interesting how you're not getting the same error, as when I type backspace I get `^H`.

[2020-12-07 05:58] ariG23498 commented on #1537
Hey @miraodasilva
If `custom charts` solved your problem would you let us know so that we can close this ticket?
:smile:

[2020-12-07 06:38] ariG23498 commented on #1529
Hey @Pharaun85
I have seemed to reproduce your errors. I have made myself a simple implementation of the code that you shared, focussing mainly on the grouping problem that you have mentioned.

The link to the wandb project: https://wandb.ai/repro/sweep_group

## Train.py
[code]

## Sweep.yml
[code]

My observation is similar to yours:
- Without `sweep` the python script `train.py` runs as usual.

[2020-12-07 06:43] ariG23498 commented on #1519
Hey @nivha
We are closing this issue has a workaround. Please feel free to reopen the issue if the suggested workaround does not work for you. :smile:

[2020-12-07 06:43] #1519 closed

[2020-12-07 10:53] Pharaun85 commented on #1529
Thank you very much for answering.
I think that the only difference I find is that in my case the group_id has the same name both in the training loop and in the final evaluation execution to group all the kfold of a single run together with its average metric. This name only changes when the sweep launches another execution of the train.py since it is the system time.

[code]

[2020-12-07 11:36] miraodasilva commented on #1537
No worries, I will close it. Currently I am bit busy but once I implement I will post it here, might be useful for someone else/as a potential feature. Thanks a lot.

[2020-12-07 11:36] #1537 closed

[2020-12-07 13:25] bjabot12 commented on #1302
I also have this problem, with version 0.10.12. First iteration of training works, but then second iteration fails and produces the mentioned error message for all runs after that. Tried with adding `export LANG=C.UTF-8` , but nothing changed.

[2020-12-07 15:44] ethanabrooks opened #1584 "`wandb sweep --update` does not behave as expected."
**Describe the bug**
`wandb sweep --update` throws a usage error when all arguments are provided.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The documentation for `wandb sweep --update` is pretty sparse, so I'm not exactly sure... I was actually running this to see what it would do. But it looks like I am feeding it all the required arguments, so I would expec

[2020-12-07 15:50] ariG23498 commented on #1516
Hey @YanickSchraner
I tried reproducing your issue.

I [followed this tutorial](https://www.tensorflow.org/tensorboard/tensorboard_projector_plugin) and made the `tsv` files.
While following the tutorial, I have changed slightly and used `logs/` as the directiry where the checkpoints and tsv files are created. Due to the fact that wandb tensorboard get triggered only in the presence of tfevents, I

[2020-12-07 16:37] ethanabrooks commented on #1584
Ok. Adding some print statements to `cli.py`, it looks like the correct way to do this would be:
[code]
where `ethanabrooks` is my username (wasn't clear on that), `fchbf5b5` is the sweep id, and `refactor.yaml` is the name of config file. Can I help add some documentation for these?

[2020-12-07 17:13] vanpelt commented on #1302
Hey @bjabot12 can you try setting all of these environment variables:

[code]

Additionally if you can provide the `debug.log` from the `wandb` directory relative your script that would be helpful.

[2020-12-07 17:13] ariG23498 commented on #1584
Hey @ethanabrooks
We are sorry about the problems that you had to face.
You can pass the entity and the project name in the sweep yaml file itself.
[code]
The sweep id is what you need to provide as an argument for the sweep to resume.
Actually in the [docs](https://docs.wandb.com/ref/cli#wandb-sweep) we have it mentioned that the `--update` will update a `pending sweep`. This means that it update

[2020-12-08 02:08] ShuteLee opened #1587 "How to copy a RUN from one project to another?"
**Problem or Use Case**
How to copy a RUN from one project to another?

[2020-12-08 02:18] cvphelps commented on #1587
Hi @ShuteLee here's the details from our Documentation https://docs.wandb.com/app/features/sidebar#move-runs-between-projects

To move runs from one project to another:

1. Expand the table
2. Click the checkbox next to the runs  you want to move
3. Click move and select the destination project

![how to move runs in weights and biases ui](https://user-images.githubusercontent.com/6355078/10142977

[2020-12-08 02:18] #1587 closed

[2020-12-08 02:20] ShuteLee commented on #1587
It works, Thank you very much

[2020-12-08 03:30] elbaro opened #1589 "Warn about large summary by mistake"
**Problem or Use Case**
I had a bug in my script that `wandb.log` very large array. wandb hanged at `wandb: - 0.00MB of 0.09MB uploaded (0.00MB deduped)` and timed out. (The array was larger than 0.09MB) Also the web page for the run didn't load.

**Suggested Solution**
Please warn or crash if the metric is larger than w&b can handle. Crash is better because w&b will not work normally.

**Addition

[2020-12-08 04:00] ariG23498 commented on #1502
Hey @EliaCereda
Would it be okay to close this ticket as the issue has been addressed? :smile:

[2020-12-08 04:40] ariG23498 commented on #1486
Hey @maria-korosteleva
Would you like to close the issue if the suggested solution helps you? :smile:

[2020-12-08 04:44] ariG23498 commented on #1589
Thanks for the ticket @elbaro :smile:

[2020-12-08 04:57] ariG23498 commented on #1487
Hey @EliaCereda
Thanks for the gist
That will help in tracking the issues mentioned by you. :smile:

[2020-12-08 05:04] maria-korosteleva commented on #1486
@ariG23498 oh, right, the suggested solutions helps in most cases, thanks!

[2020-12-08 05:04] #1486 closed

[2020-12-08 05:08] ariG23498 commented on #1481
Hey @quebin31
Did you happen to find a solution to the ticket?
The ticket is going stale and it would be great if you could let us know about any persisting errors :smile:

[2020-12-08 05:10] quebin31 commented on #1481
It didn't happen again, so I guess it's already fixed.

[2020-12-08 05:10] ariG23498 commented on #1471
Hey @stathius
Did you happen to find the solution to the issue?
It would be great for us if we could close the stale threads if the solution has already been achieved. :smile:

[2020-12-08 05:19] ariG23498 commented on #1481
Thanks for the reply
Closing this issue :+1:

[2020-12-08 05:19] #1481 closed

[2020-12-08 10:06] EliaCereda commented on #1502
Yes, thanks again for your support.

[2020-12-08 10:06] #1502 closed

[2020-12-08 10:23] bjabot12 commented on #1302
This fixed it for me!

Thank you, @vanpelt!

[2020-12-08 10:55] stathius commented on #1471
Hi @ariG23498 not really but it's fine to close it.

[2020-12-08 11:35] #1471 closed

[2020-12-08 17:11] ethanabrooks commented on #1584
I see. Thanks for the recommendation. Is there a place in the documentation where it explains what `entity` is?

[2020-12-08 20:01] rafaljanwojcik commented on #1409
Hello, I encountered the same problem on Google Colab, in wandb.init - below I shared notebook with only the code that is causing the error:
https://colab.research.google.com/drive/1j0Du8R76dbC897f3LKW6fWbH_ZPt2K_3?usp=sharing

[2020-12-08 20:22] vanpelt commented on #1584
`entity` is your username or a team name: https://docs.wandb.com/ref/init-1#wandb-sdk-wandb_init

[2020-12-08 21:42] vanpelt commented on #1409
Hey @rafaljanwojcik I took a look at your colab and wasn't able to reproduce.  When in colab you should be calling `wandb.login()` so that you don't expose your api key.  I've made a simple colab below, can you modify this colab to produce the error you're seeing?

https://colab.research.google.com/drive/1Lh11bXKbtROf1qQbP_4m8gsy_eAZC47C?usp=sharing

[2020-12-08 22:08] rafaljanwojcik commented on #1409
Hello @vanpelt , thanks for responding so quickly. I managed to solve this issue - the problem was my fault actually, as I passed wrong value of the entity parameter - after fixing it everything is ok

[2020-12-09 01:29] seanswyi opened #1591 "Attempting to log metrics per epoch returns a "step must increase" warning."
**Describe the bug**
Apologies if the title is a bit ambiguous. I'm also not entirely sure if this is a "bug," but am hoping that someone can help out. Currently I'm training and evaluating my model with two loops, one outer loop for epochs and one inner loop for the batched data.

I want to log separate plots for my metrics _per epoch_ (e.g., one line plot for epoch 1, another for epoch 2, etc.)

[2020-12-09 01:42] cvphelps commented on #1591
Hi @seanswyi, thanks for reaching out. We recommend not setting step here, because it needs to always increase. Why do you want a separate chart for each epoch? Most of our users plot a time series and have this all on a single chart.

If you want different metrics for each epoch, name your metrics loss_epoch_1, loss_epoch_2, etc.

If you want to plot your metrics against different x-axes, you can

[2020-12-09 01:45] tyomhak commented on #1591
Hey @seanswyi  , thanks for writing in!
The step you are setting in wandb.log is used internally, to track the history of the logs done. This means that each consecutive step must not be smaller than the previous one.

For your case I would suggest using a separate metric (lets call it 'custom_step') for tracking the step, and pass it as a common metric to the wandb.log function. Something like th

[2020-12-09 01:49] tyomhak commented on #1579
Hi @jopo666 , thanks for filing this issue! We're looking into it — a reproducible script would be very much appreciated!

[2020-12-09 01:54] seanswyi commented on #1591
@cvphelps @tyomhak Thanks for the quick responses guys. I guess the reason why I wanted to plot separately for each epoch is because I wanted to compare how the metrics change from epoch to epoch by overlaying the plots on top of each other. Plotting the metrics as one large time series made it a little more difficult to do this, so I was wondering if there was an internal way I could achieve that

[2020-12-09 01:54] #1591 closed

[2020-12-09 05:00] cvphelps commented on #1591
Thanks @seanswyi , to be clear, if you have different metric names for each — loss_1 loss_2 etc, then you can overlay those lines on a single line plot in the UI by clicking edit on a chart and adding multiple y-axes.

[2020-12-09 14:07] prash-p commented on #821
@ariG23498 I'm not sure how to do a histogram plot still.

In my code I am doing:
`wandb.log({"Dice": wandb.Histogram(np.asarray(dice))})`

But when adding a custom viz. on the website, I don't see a full histogram - just options for 10%, 25%, etc.

[2020-12-09 16:20] vanpelt commented on #821
Hey @prash-p if you want to use our custom charts feature you can log custom histograms with:

[code]

[2020-12-09 16:21] miraodasilva opened #1593 "Shutil same file error"
**Describe the bug**
Shutil same file error

**To Reproduce**
Log input audio at beginning of every epoch with
[code]
**Expected behavior**
Logged without issues.

**Screenshots**
![image](https://user-images.githubusercontent.com/17463598/101655999-20ef4d00-3a3a-11eb-808c-15f7ccf5ba75.png)

**Operating System**
 - OS: Ubuntu 20.04
 - Browser chrome
 - Wandb Version 0.10.11

**Additional context**

[2020-12-09 16:30] vanpelt commented on #1584
Sorry about that, we're reworking our documentation and that link disappeared.  Entity is either your username or the name of a team that you are a member of.

[2020-12-09 16:35] vanpelt commented on #1593
Hey @miraodasilva we'll need to get a fix in for the underlying issue, but until then you can fix this by not logging the same audio multiple times.  You could log these inputs once in their own media panel and then if you want to associate predictions or other media to them you can log a `wandb.Table` with different columns at each step.

[2020-12-09 16:57] tssweeney commented on #1593
Hey @miraodasilva we are digging into this now. Two questions:

1. Do you mind logging your audio outside of the array? (ie. `wandb.log({"Input Audio": wandb.Audio(...)})`)
2. Do you mind sharing some context around this call? The error seems to imply that the same audio file is being logged to the same key for the same training step. Are you perhaps making this same call a few lines prior with `c

[2020-12-09 16:58] miraodasilva commented on #1593
Hi! Sure, no problem. However I am only logging once per epoch and I am shuffling the dataset so it should not be the same file. I'm not sure what's going on honestly. I will get back to you if I have any more info.

[2020-12-09 17:02] miraodasilva commented on #1593
Actually, I am investigating this as we speak. The last training step should have commit=False to allow for further validation logs within the same step. If I am accidentally doing this in the penultimate step rather than the last, that could certainly be an issue. The concrete line was
[code]

[2020-12-09 17:11] tssweeney commented on #1593
This seems like a possible lead (I am not sure how your loop is constructed, but the condition shared may be suspect). By chance, does your `logs` object contain an `Input Audio` key?

[2020-12-09 17:16] miraodasilva commented on #1593
It does, yes. The concrete line is
[code]

[2020-12-09 17:23] tssweeney commented on #1593
Ok, just so we are on the same page, this is how I understand the logic to be:
[code]

If you don't mind sharing explicitly the key code blocks of interest, I think we can get to the bottom of this.

[2020-12-09 17:25] miraodasilva commented on #1593
I think a rather large problem is the fact that I was accidentally initializing the logs to an empty dict outside the training loop, so logs were accumulated for the entire loop.

[2020-12-09 17:26] miraodasilva commented on #1593
So basically the logs = {} was above the first line, rather than on the second line, as you show.

[2020-12-09 17:27] miraodasilva commented on #1593
That would mean I am accumulating a huge log throughout the entire epoch. However it would contain only one audio given that I add the audio to the log only on iteration 0.

[2020-12-09 17:39] tssweeney commented on #1593
Do you mind sharing your code snippet? I have a few hypotheses and it might be easier to discuss your concrete implementation.

[2020-12-09 17:49] miraodasilva commented on #1593
Unfortunately I can't, as this is a project still in development and that would imply releasing the main training loop.

[2020-12-09 17:57] miraodasilva commented on #1593
One thing I should mention, below I am Saving a video with the same audio:
[code]

[2020-12-09 17:57] vanpelt commented on #1593
Even some basic pseudo code with random data that reproduces this issue would be really helpful.

[2020-12-09 18:26] miraodasilva commented on #1593
Ok here is a tear down of what's going on. The loop is something along these lines:
[code]
**Consequence:**
Same audio and video are logged every single iteration. By printing the log items every time this is clear
![image](https://user-images.githubusercontent.com/17463598/101670637-52bcdf80-3a4b-11eb-890b-eeff9550d844.png)
So it is logging the same video and audio over and over and over again. H

[2020-12-09 18:29] miraodasilva commented on #1593
BTW I checked and the commit=False is only true on the last iteration, so this is working as intended.

[2020-12-09 18:38] tssweeney commented on #1593
Thank you for this very detailed breakdown - we appreciate your time helping to characterize the bug. It sounds like you have a workaround by moving the `logs` initialization call? Is that correct? We will continue to look into this and get back to you with any details.

[2020-12-09 18:42] miraodasilva commented on #1593
Yep, insanity in terms of logging thousands of file is fixed by moving that line. Which makes sense.

To reproduce this I would suggest trying to log the same audio and video file 100,000 times or something like that, and see if it gives off a similar bug.

No worries btw, thanks so much for the awesome tool, I think it's really great. And ofc thanks for your time.

[2020-12-09 18:44] prash-p commented on #822
@ariG23498 This would still be a nice feature to have

[2020-12-09 19:01] tssweeney commented on #1593
Awesome, glad to hear you can continue with your work! Thanks for the kind feedback - we are always here to help. Please let us know if you run into further issues.

[2020-12-09 20:56] #1593 closed

[2020-12-10 10:55] seanswyi opened #1594 "`wandb.watch(model)` is not logging gradients."
**Describe the bug**
The title is pretty much the issue, but when I call `wandb.watch(model)` after instantiating my model the gradients are not showing up on my dashboard.

I've successfully used `wandb.watch` with other models, and its this particular case that seems to be the problem, so I'm pretty sure this isn't exactly a "bug," but I believe that I'm misunderstanding how watching models shou

[2020-12-10 11:02] seanswyi commented on #1594
My apologies. For some reason the code I was actually running locally had this commented out. I'll close the Issue.

[2020-12-10 11:02] #1594 closed

[2020-12-10 12:09] pandorica-opens opened #1595 "Logging the same matplotlib plot twice"
Suppose we have plotted something using matplotlib and we attempted to log it a second time (without or with some minor changes)

[code]

however in that case we would get an error.

To reproduce the behavior just add  ```wandb.log({"Same data": plt})``` after this line of code: https://github.com/wandb/examples/blob/99b14889fc3d67967a9898fc4c12d66c5016f81e/examples/scikit/scikit-iris/train.py#L45

[2020-12-10 13:11] emadboctorx opened #1596 "api_key not configured OSX Big Sur - PyCharm"
**Describe the bug**

Unable to run `wandb.init()` from PyCharm - macOS Big Sur

**To Reproduce**
[in PyCharm**]

[code]

**OUT:**

[code]

It runs fine from the terminal (same interpreter python 3.8.6)

[code]

**Expected behavior**

Same behavior as the terminal.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Operating System**
 - OS: macOS 11.0.1 (Big Sur)
 - V

[2020-12-10 14:26] dreamflasher opened #1597 "fastai2 integration"
**Describe the bug**
The integration with fastai was moved to fastai with fastai2. Nevertheless, I'd aprecciate if you could have a look at the implementation, because currently it's broken. You introduce a breaking change in your API by increasing the step counter with every log call (now one needs to explicitly turn `commit=False` off, in order to have the original behaviour). I tried to fix thi

[2020-12-10 17:36] jklaise opened #1598 "float32 numbers in wandb.Table get displayed with full precision even when rounded"
**Describe the bug**
When logging a `pandas` dataframe that has `float32` columns via `wandb.Table`, the dashboard expands the numbers to full precision even if the numbers have been rounded to a few decimal places for display purposes. This does not happen if the `dtype` is `float64`.

**To Reproduce**
[code]

**Expected behavior**
Rounding on the dashboard is respected for `float32` numbers just

[2020-12-10 18:18] borisdayma commented on #1597
Hi @dreamflasher ,

Do you have any reproducible code you could share so that we can see the issue?
Providing the step explicitly ensures we associate validation and training data to the correct step.

[2020-12-10 22:39] miraodasilva opened #1601 "Shut up moviepy"
When using wandb.Video, moviepy prints
[code]
It also prints the following warning (don't know if this is wandb or moviepy)
[code]
I'm a sucker for a clean terminal output so I would like to suppress all of these. I can of course add code to do this but it's a bit messy. Is there a silent flag for this, or something similar?

I have the latest wandb and moviepy versions on pip, btw.

Thanks a lot

[2020-12-11 04:19] ariG23498 commented on #1601
Hey @miraodasilva
Thanks for the ticket.
Could you go through this [FAQ](https://docs.wandb.com/library/technical-faq#how-do-i-stop-wandb-from-writing-to-my-terminal-or-my-jupyter-notebook-output) and let us know if the solution provided helps. :smile:

[2020-12-11 04:45] ariG23498 commented on #1598
Hey @jklaise
Thanks for the ticket
I can reproduce your issue and it does seem to be a problem

## Code
[code]

## Screenshots
### Terminal
![image](https://user-images.githubusercontent.com/36856589/101863338-7726d200-3b99-11eb-8187-287f974068bd.png)
_The numbers are rounded to two decimal places_

### Wandb
![image](https://user-images.githubusercontent.com/36856589/101863010-4a72ba80-3b99-11eb-

[2020-12-11 04:58] ariG23498 commented on #1596
Hey @emadboctorx
Thanks for the ticket.
We will get into this as soon as possible.
Until then, the workaround would be to run `wandb login` in your terminal and authorize yourself. This will add a `~/.netrc` file in your system that has your api-key. After this, `wandb.init()` would work as required.

Let us know if this solves the issue.
Your concern about the different behaviours in the script a

[2020-12-11 05:39] ariG23498 commented on #1595
Hey @pandorica-opens
Thanks for the ticket.
There are two ways you could overcome this issue:
## Image
With the custom `wandb.Image` datatype that we provide you can wrap the `plt plot` into an Image and then log it.
[code]
![image](https://user-images.githubusercontent.com/36856589/101867396-0b486780-3ba1-11eb-883e-82e3d0c6da3f.png)

## plt
Considering you want to plot the matplotlib plots as it

[2020-12-11 09:44] dreamflasher commented on #1597
Let's close this issue in favor of the one over at fastai.

[2020-12-11 09:44] #1597 closed

[2020-12-11 09:49] emadboctorx commented on #1596
Yes, it solves the problem

[2020-12-11 11:43] ariG23498 commented on #1596
Closing this issue. Please feel free to reopen it if need be.

[2020-12-11 11:43] #1596 closed

[2020-12-11 13:30] miraodasilva commented on #1601
Hi,

Thanks for the response. I assume you are referring to setting `os.environ["WANDB_SILENT"] = "true"`. I always do this but it does remove this specific terminal output. Perhaps since it comes from moviepy, not wandb libraries themselves.

[2020-12-11 14:10] ethanabrooks opened #1602 "Discrepancy between scatter plot and custom plot"
**Describe the bug**
There seems to be a discrepancy between scatter plots generated using "Scatter plot" and those generated using "Custom chart".
The scatter chart looks accurate but the scatter plot seems to have a much larger number of runs.

**To Reproduce**
This seems to happen with any set of runs that I launch. Please let me know if you have trouble reproducing on your end and I can create

[2020-12-11 14:15] ethanabrooks opened #1603 "Scatter plot does not correctly compute running average line"
**Describe the bug**
The running average line appears to be off, based on visual inspection. It looks like points which correspond to the same x-value are being assigned to different x-values and therefore not being aggregated in the same mean.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a sweep.
2. Click on the '+' in a panel to create a scatter plot. Plot a hyperparameter against

[2020-12-11 14:30] ethanabrooks commented on #1602
Did a little more investigation and realized that the custom chart is pulling data from all of my runs, not just the current sweep. Sorry for the confusion. I must have the missed the part of the documentation where it indicates that this is the case.

[2020-12-11 14:30] #1602 closed

[2020-12-11 17:13] cvphelps commented on #1594
Haha thanks Sean :)

[2020-12-11 17:24] #1584 closed

[2020-12-11 17:29] vanpelt commented on #1601
Hey @miraodasilva a quick fix for now is to create the video files yourself and pass a path to `wandb.Video` instead of the raw  numpy data.  We'll look into making the default behavior more quiet.

[2020-12-11 18:26] miraodasilva commented on #1601
No worries, I just suppressed all stdout during the call to wandv.video. Thanks.

[2020-12-11 19:02] cvphelps opened #1605 "CLI: TensorBoard no longer working in 0.10.+"
[From Ben in the W&B Forum](https://wb-forum.slack.com/archives/CL4V2QE59/p1607509654442500):

I recently upgraded from a somewhat outdated 0.9.* wandb version and noticed that sync_tensorboard doesn't work for me anymore from version 0.10.0 on. I see that the release notes mention some Tensorboard-related fixes here and there, but the issue also exists in the newest 0.10.12 version, so those fixe

[2020-12-11 23:12] cvphelps commented on #1603
Hi Ethan, thanks for sharing this request. Could you please share a link to the page where you're seeing this?

[2020-12-11 23:52] harritaylor opened #1608 "Issue logging seaborn / plt plot via wandb.log()"
**Describe the bug**

When I attempt to log a seaborn scatterplot to weights and biases I get the following error:
[code]

**To Reproduce**

[code]

**Expected behavior**

Logging the plot to wandb interface in plotly format

**Operating System**
 - OS: MacOS
 - Browser: Chrome

**Additional context**
This seems to be happening with the example given [here](https://www.kaggle.com/lavanyashukla01/v

[2020-12-12 01:54] ariG23498 commented on #1608
Hey @harritaylor
I tried reproducing the error, but everything checks out fine for me.
## Code
[code]

## Screenshot
![image](https://user-images.githubusercontent.com/36856589/101969565-eb6d7e00-3c4a-11eb-9c51-1bd580842242.png)

Hope this helps.

[2020-12-12 14:58] ethanabrooks commented on #1603
Of course!
This is a share of the graph: https://wandb.ai/ethanabrooks/ppo/reports/Shared-panel-20-12-12-09-12-86--VmlldzozNjMwNjg?highlightShare?accessToken=j1momsqhzjmg4v1fyagbkpg6sx73s4fx3niatuuu3tcp5yz51gf5zk67i71n6939
This is the sweep workspace: https://wandb.ai/ethanabrooks/ppo/sweeps/mq70zyt3?workspace=user-ethanabrooks

[2020-12-12 22:11] dan-r95 commented on #702
If anyone stumbles over this issue when searching for a way to bulk delete runs in the UI, this is  [possible](https://docs.wandb.com/app/features/sidebar#bulk-select-runs) :fire: 😄

[2020-12-14 05:33] juneskiafc opened #1609 "Image overlap when logging"
**Describe the bug**
When I log multiple images with the same key, the images show up in the UI as overlapped.

**To Reproduce**
Steps to reproduce the behavior:
1. Log image with same key over multiple steps
2. See images from those steps shown in UI as one image, each image overlapped on top of each other.

**Expected behavior**
Each step should have one image that I can see with the step slider

[2020-12-14 09:18] kaiwenw opened #1610 "Multi-GPU sweep fails to create a second agent with 400 error"
**Describe the bug**
Multi-GPU sweep fails to create a second agent with error attached. The first agent starts as expected.
The sweep ID is `qnjyxjtu`.

**To Reproduce**
Steps to reproduce the behavior:
CUDA_VISIBLE_DEVICES=0 wandb agent kaiwenw/CartPole-v0/qnjyxjtu
CUDA_VISIBLE_DEVICES=1 wandb agent kaiwenw/CartPole-v0/qnjyxjtu

**Expected behavior**
Expect two agents to start, and both log to t

[2020-12-14 16:32] kaiwenw commented on #1610
Update: I may have found the error..
One field in my config is a list, so in YAML I specified:
[code]
but that didn't work..

Is there a way to specify a categorical distribution of lists of values?

[2020-12-14 16:52] vanpelt commented on #1609
Hey @juneskiafc can you share a snippet of code showing how you're logging the images?  Also a link to a run with this behavior would be helpful for debugging.

[2020-12-14 18:44] juneskiafc commented on #1609
heatmap = sns.heatmap(data=confmat_df, annot=True, fmt='.3f')
trainer.logger.experiment.log({f"confmat": wandb.Image(heatmap.get_figure())}, commit=False)

Unfortunately cannot share the run, unless there's a way to share one specific run without making the whole project public?

[2020-12-14 19:47] vanpelt commented on #1609
Hey @juneskiafc can you try logging the figure directly without wrapping it in a image?  Also, if you can provide a small snippet with dummy data populated in `confmat_df` we can likely reproduce.

[2020-12-14 20:08] ludwigwinkler opened #1611 "Wrong Column/Key Names"
**Describe the bug**
The names of the columns in the table view are wrongly displayed.
The charts are correctly named though.

Here are a couple of screenshots:
![Screenshot 2020-12-14 at 21 03 45](https://user-images.githubusercontent.com/29676773/102129752-28ef2880-3e50-11eb-81fc-cf7b01e4267a.png)
![Screenshot 2020-12-14 at 21 04 06](https://user-images.githubusercontent.com/29676773/102129765-2

[2020-12-14 20:08] joshmyersdean commented on #1409
Hello!

I also receive this issue using wandb `10.12`. It was working fine until recently

[2020-12-15 00:28] iantheconway commented on #1605
I'm also missing some metrics in WANDB that I see in my tensorboard. These metrics used to show up in wandb with an earlier version, I believe.

wandb==0.10.12
tensorflow==2.3.1
tensorboard==2.4.0

[2020-12-15 01:48] juneskiafc commented on #1609
If I try to log the image without wrapping it with wandb.Image, I get some weird errors related to mpl_to_plotly being deprecated. I do get a plotly plot in the UI, though, but it's missing all the nice colors of the seaborn heatmap.

I'll get back to you with a minimal reproducible example.

[2020-12-15 02:24] juneskiafc commented on #1609
[code]

[2020-12-15 02:34] juneskiafc commented on #1609
Never mind, I got it! I just have to clear the current active matplotlib figure with plt.clf() before creating the heatmap.

[2020-12-15 02:34] #1609 closed

[2020-12-15 03:01] ariG23498 commented on #1611
Hey @ludwigwinkler
Thanks for the ticket.
It would be great if you could share a basic implementation and a public project with us, so that our team could reproduce the issue themselves.

I am tagging @cvphelps on this ticket for more help. :smile:

[2020-12-15 03:04] ariG23498 commented on #1608
Hey @harritaylor
We are closing this issue as of now.
Please feel free to open this if the issue persists. :smile:

[2020-12-15 03:04] #1608 closed

[2020-12-15 03:23] ariG23498 commented on #1610
Hey @kaiwenw
I think [docs on config.yml](https://docs.wandb.com/sweeps/configuration#distributions) should help you with this.
Let us know if that helped.
If not, could you help us with the `sweep.yml` file and a basic script to implement your problem? :smile:

[2020-12-15 08:33] cccntu opened #1612 "Weird behavior of typing after wandb.init()"
**Describe the bug**
See this example:
[code]
**To Reproduce**
Steps to reproduce the behavior:
see above

A clear and concise description of what you expected to happen.
`x is typing.Optional[bool]` should be true right after `wandb.init()`, which is true in python 3.7.9

**Operating System**
 - OS: ubuntu
 - Version 18
**Additional context**
I tired python 3.8.3 and 3.8.5, the result is the same

[2020-12-15 13:01] jopo666 commented on #1579
Found the/a bug!

When I'm using DistributedDataParallel (DDP) to distribute jobs across 4 GPUs and kill **a sweep** with either `ctrl+C` or within my training script (I've implemented my own early stopping), wandb only terminates the main process initiated by DDP and leaves the other 3 running. I'm guessing this also happens when a sweep is using the `hyperband` method, as terminating a sweep is

[2020-12-15 16:05] vanpelt commented on #1609
Awesome, glad to hear you figured it out!

[2020-12-15 18:24] bnapora opened #1613 "TypeError: 'bool' object is not callable when used with FastAI v1"
Using wandb callback for fastai v1 get "TypeError: 'bool' object is not callable'" error.  When WandbCallback is removed then error disappears.  This error is appearing after recently upgrading wandb version (not sure which version but I believe it was when upgrading from 0.10.10 to 0.10.11...currently using 0.10.12) (Note: I downgraded wandb back to 0.10.9 but error still persists.)

**Wandb Setu

[2020-12-16 02:49] borisdayma commented on #1613
Hi @bnapora,

You shouldn't use `wandb.watch = False`, you just need to use `partial(WandbCallback, input_type='images', log=None)`

See here for more details:
https://docs.wandb.com/integrations/fastai/v1

[2020-12-16 11:29] harritaylor commented on #1608
@ariG23498 thanks for getting back to me, apologies I didn't reply sooner - I only got back to work today.
I think it was something to do with my environment -- with a fresh conda env it works fine. Sorry!

[2020-12-16 12:38] #1292 closed

[2020-12-16 12:41] ariG23498 commented on #1297
Hey folks,
We are closing this issue due to the inactivity of the thread. Please comment to reopen. :smile:

[2020-12-16 12:45] ariG23498 commented on #1302
Hey folks,
As the solution is found we are closing this issue. Feel free to reopen this ticket is the issue persists. :smile:

[2020-12-16 12:50] ariG23498 commented on #1320
Hey @sneakyPad
We are closing this issue due to inactivity. As @borisdayma has said, logging in pytorch lightning has changed, it would be great if you use it and report back to us.
Please feel free to reopen this issue if the ticket still persists.

[2020-12-16 12:50] #1320 closed

[2020-12-16 12:55] ariG23498 commented on #1348
Hi @alexmirrington
Could you please let us know if the issue still persists?
We have had quite a few upgrade with the package lately. :smile:

[2020-12-16 12:56] ariG23498 commented on #1349
Hey @alexmirrington
We are closing this issue due to the inactivity. Please feel free to reopen if the issue still persists. :smile:

[2020-12-16 12:56] #1349 closed

[2020-12-16 12:59] ariG23498 commented on #1372
Hey @gismo07
Would you let us know whether you face the same issue? We have had some upgrades recently to take care of some issues.

[2020-12-16 13:02] ariG23498 commented on #1374
Hey @habichta
Could you let us know if the issue is tackled with?
We are closing this issue due to inactivity of the thread. Please feel free to reopen this ticket if the issue persists. :smile:

[2020-12-16 13:02] #1374 closed

[2020-12-16 13:02] #1379 closed

[2020-12-16 13:04] ariG23498 commented on #1380
Hey @GarrettLee
We are closing this ticket due to the inactivity.
Please feel free to reopen if your issue still persists. :smile:

[2020-12-16 13:04] #1380 closed

[2020-12-16 13:06] ariG23498 commented on #1398
Hey @prasannapkr
We are closing this ticket due to the inactivity. Please feel free to reopen this if the issue still persists with the latest version of wandb. :smile:

[2020-12-16 13:06] #1398 closed

[2020-12-16 15:20] #1551 closed

[2020-12-16 15:23] raubitsj commented on #1551
will go out in 0.10.13 release

[2020-12-16 18:09] #1562 closed

[2020-12-16 18:10] raubitsj commented on #1562
This fix will go out in the 0.10.13 release

[2020-12-16 21:25] ethanabrooks opened #1620 "Allow `wandb.init` to set `wandb.run.dir`."
**Problem or Use Case**
I am working with `wandb` and [`hydra`](https://hydra.cc/). Like `wandb`, `hydra` creates a new output directory unique to each run. I would like to unite my `wandb` output directory and `hydra` output directory -- for one, I would like to be able to save my `hydra` `config.yaml` to wandb.ai because it includes _all_ of the parameters (including defaults) and not just the o

[2020-12-16 22:02] vanpelt commented on #1620
Hey @ethanabrooks setting `dir` in wandb.init will control the `base_dir`.  You can call `wandb.save("config.yaml")` or simply write a file to `wandb.run.dir` after calling `wandb.init`.  Manually specifying the absolute directory would cause errors if init is called multiple times in the same directory.  There are low level ways to control the naming scheme of the sub directories we create, but d

[2020-12-16 22:42] fteufel commented on #1302
Hi,
still doesn't do it for me.
[code]
So ascii codec instead of latin-1 now. Problem seems to be hard to fix on Scientific Linux.

[2020-12-16 22:46] ethanabrooks commented on #1620
The `hydra` config doesn't get written to a directory of your choosing. It gets created automatically at, for example, `outputs/2020-12-16/15-50-04/.hydra/config.yaml`. This may inspire me to start an issue with `hydra` as well 😒

A program using `hydra` can programmatically access `outputs/2020-12-16/15-50-04/` as `os.getcwd()`. However, if I use `wandb.init(dir=os.getcwd())`, then `wandb.run.dir

[2020-12-16 23:07] vanpelt commented on #1620
`wandb.save` will look in `os.getcwd()` for any files [by default](https://github.com/wandb/client/blob/master/wandb/sdk/wandb_run.py#L861).  I think you want to call `wandb.save("config.yaml", base_path=".hydra/config.yaml")` assuming `os.getcwd()` is the hydra directory in your script.

[2020-12-17 00:59] ethanabrooks commented on #1620
I wrote a minimal script that might help us discuss this:
[code]
When I run it:
[code]

[2020-12-17 01:04] ethanabrooks commented on #1620
To fix this, I had to specify the full path to the config file:
[code]
This avoids the error, but still selects the wrong files:
[code]

[2020-12-17 07:15] kargarisaac opened #1622 "Resume training and plot"
Hello,

I have a run that is terminated in the middle of Training and now I want to resume the training. I didn't set `resume=True` in `wandb.init()` but saved the model separately using PyTorch. IS it possible to load and resume the previous plot?

Thank you

[2020-12-17 11:49] ariG23498 commented on #1622
Hey @kargarisaac
The resuming that we offer as of now is documented here: https://docs.wandb.com/library/resuming

CC: @cvphelps for any further help on the sdk.

[2020-12-17 11:55] ariG23498 commented on #1620
Hey @ethanabrooks
Do you think it would be okay to close the issue if the solution is obtained?

[2020-12-17 11:57] ariG23498 commented on #1613
Hey @bnapora
It would be great if you could report back with your implementation :smile:.As @borisdayma has suggested a solution that should work in the case, we are closing this issue. Please feel free to comment to reopen this ticket if the issue persists.

[2020-12-17 11:57] #1613 closed

[2020-12-17 13:09] ariG23498 commented on #1612
Hey @cccntu
I tried reproducing the above issue, but did not face the problem.
The only thing I did differently was to have an active internet connection while using the `wandb.init()` command.

[2020-12-17 13:20] cccntu commented on #1612
@ariG23498 Thanks. But I only used offline mode for a smaller output size. My result is the same with active internet connection. I will try to reproduce it and share more environment details.

[2020-12-17 13:36] cccntu commented on #1612
I cannot reproduce the bug with a new conda environment on the same machine. It's probably that the environment is broken somehow. Any idea on how to fix a broken environment?

[2020-12-17 15:24] ariG23498 commented on #1612
Hey @cccntu
What I can suggest you here is to have a fresh environment and then check if the issue persists. I am keeping this issue open till some time.

[2020-12-17 16:07] ethanabrooks commented on #1620
@ariG23498 the solution is not obtained. Neither of those scripts produce the desired result. The first script throws an error. The second script identifies the wrong files:
[code]
instead of `/Users/ethanbrooks/ppo/outputs/2020-12-16/20-11-04/.hydra/config.yaml`.

[2020-12-17 17:20] vidalmaxime commented on #1507
I am having the same issue (with the latest versions of pytorchlightning/wandb), although I do not have any manual logging/callbacks: `wandb: WARNING Step must only increase in log calls.  Step 116 < 117; dropping {'train_loss': 0.8560853600502014, 'prec': 0.3888888955116272, 'dist_acc': 0.013888888992369175,...}`
My training and validation steps are the following:

[code]
If I stop logging in the

[2020-12-17 17:55] borisdayma commented on #1507
@vidalmaxime Does it work if you don't provide the `on_epoch` arg? I believe it should be set automatically for you (though in that case it would probably be `True`).
Also can you confirm you have latest version of Pytorch Lightning?

If those are the 2 only places where you log to `wandb`, it should have logged at the correct step.

I see you return values at `validation_step`, are you logging ot

[2020-12-17 18:12] vidalmaxime commented on #1507
Without the `on_epoch` arg, the issue persists.  PytorchLightning version is 1.1.1. Nothing logged at `validation_epoch_end`.

I'm also using Hydra if that could be the cause ?

[2020-12-17 18:19] borisdayma commented on #1507
No it should still work unless you're logging other values through there.
You can also take a look at your dashboard and verify that all the metrics logged are the ones you expect.

I just run [an example] and it seemed to work all fine.

[2020-12-17 18:46] vidalmaxime commented on #1507
On wandb dashboard, the validation metrics look fine, but the training metrics stop after a number of steps.
I get the warnings starting on epoch 3. Not sure...

[2020-12-17 18:47] vanpelt commented on #1622
@kargarisaac the .wandb file is a protobuffer file that we write to from this library.  If you are feeling ambitious you could check the source code in this repo and reverse engineer it, but I don't suggest going down that path.  Using the official resuming api to add data to a run is the way to go.

[2020-12-17 18:58] vanpelt commented on #1620
Hey @ethanabrooks calling `wandb.save` on a file outside of the runs directory symlinks it into the run directory.  Those paths are the sym-linked paths.  If you look at the contents of `config.yaml` it should be hydra config.

I'm thinking there may be another problem however.  We keep our own config.yaml file that may confuse our logic if its format changes.  The most full proof way to save the

[2020-12-17 18:59] vanpelt commented on #1620
If you don't call `wandb.save` we will sync the file when the run finishes.  Calling `wandb.save` tells us to upload the file immediately but it's not required.  All files in the `wandb.run.dir` are automatically synced.

[2020-12-17 19:00] ethanabrooks commented on #1620
I see. The symlink solution should work. Thank you.

[2020-12-17 19:00] #1620 closed

[2020-12-17 21:19] kargarisaac commented on #1622
@ariG23498 @vanpelt Thank you for your answer. I think for resume, I need to set it to true. I cannot use it for my current available runs without `resume=True`, right? I used api and read data using history() for the moment to plot it using python and seaborn for example. My current run terminated after 40 hrs and I don't want to run from scratch. On the other hand I have my other runs in wandb a

[2020-12-17 22:44] farizrahman4u commented on #1581
I'm working on this (will take some time). In the mean time you can set environment variable `WANDB_CONSOLE="off"` as a workaround.

[2020-12-18 00:54] nsidn98 commented on #1531
@vanpelt Are there any updates on this?

[2020-12-18 00:56] seanswyi commented on #1581
@farizrahman4u Thanks for the tip! This will save my team and me some headache. :) Just one question though. Would you by any chance happen to know if setting this environment variable would potentially cause any unwanted behavior/problems? For example if it may affect other environment variables or system behavior, etc.

When I tested it there didn't seem to be any problems, but I'd just like to

[2020-12-18 01:28] alexmirrington commented on #1348
Hi @ariG23498,

I've been working on other portions of my code base lately but when I get back to data visualisations I will let you know. Hopefully, I'll have a solid answer by the end of the week

[2020-12-18 01:49] vanpelt commented on #1531
@nsidn98 we have a branch that should fix this.  You can install it locally by running the following:

`pip install --upgrade git+git://github.com/wandb/client.git@fr_sync_fix#egg=wandb`

This should go out in the next official release early next week, thanks for your patience on this one.

[2020-12-18 01:55] vanpelt commented on #1581
Hey @seanswyi the only impact this will have on your environment is how we render output to the terminal.  By setting the console to wrap you may see messages starting with `wandb:` interspersed with the output that you're writing to the terminal.  Behind the scenes there's some rather complicated logic to enable our sub-process to synchronously write lines to your processes output.  That's what w

[2020-12-18 02:28] nsidn98 commented on #1531
Thanks a lot for looking into this and fixing it!

[2020-12-18 02:28] #1531 closed

[2020-12-18 03:04] kaixin96 commented on #1249
Is there any updates on this issue?

[2020-12-18 03:37] vanpelt commented on #1249
Hey @kaixin96 apologies for not updating this ticket.  This was fixed in version 0.10.6 on Oct. 15th: https://github.com/wandb/client/blob/master/CHANGELOG.md#0106-october-15-2020

[2020-12-18 03:37] #1249 closed

[2020-12-18 05:15] ariG23498 commented on #1250
Hey folks
We are closing this ticket due to the inactivity. The PR that is said to fix the solution has been merged to the repo. We hope that solved the problem. Please feel free to reopen the issue if the issue persists. :smile:

[2020-12-18 05:15] #1250 closed

[2020-12-18 05:20] ariG23498 commented on #1252
Hey @timothybrooks
Does this issue still persist in your system? We have the latest release as `0.10.12`. Thanks for the help in advance :smile:

[2020-12-18 05:26] ariG23498 commented on #1268
Hey @farizrahman4u would you like to look into this? I have noticed a recent PR of yours that was merged that dealt with the silent mode. An update here would be great. :smile:

[2020-12-18 05:28] ariG23498 commented on #1269
Hey @laxels thanks for the video :smile:
We are closing this issue as it has gone stale and the issue has been resolved with the version upgrades. @collinmccarthy please feel free to open this if the issue still persists in your system.

[2020-12-18 05:28] #1269 closed

[2020-12-18 05:32] ariG23498 commented on #1287
Hey @samarth4149
Thanks for the ticket. Could you check if the issue still persists? #1409 seems to have a solution to the backend communication problem with just upgrading to the latest version. Do keep us posted :smile:

[2020-12-18 05:36] farizrahman4u commented on #1268
@ariG23498 It has been fixed in master and will make it to the upcoming `0.10.3` release. Users can also pip install the current state of master with `python -m pip install git+https://www.github.com/wandb/client.git@master` if they wish to not wait for the release.

[2020-12-18 05:52] ariG23498 commented on #1268
I am closing this issue as the solution is going to make an appearance in the next release
We can reopen it if there is a further persisting issue.

[2020-12-18 05:52] #1268 closed

[2020-12-18 07:39] vanpelt commented on #1622
@kargarisaac to manually resume an existing run you should run `wandb.init(id="YOUR_RUN_ID", project="YOUR_PROJECT", resume="must")` then you can make calls to wandb.log that will append metrics to that run as documented here: https://docs.wandb.com/library/resuming

[2020-12-18 08:29] bnapora commented on #1613
Sorry for tardy response.  I misunderstood solution in #961 which said to use WANDB_WATCH=False to solve issue, and instead used wandb.watch = False.  After adding WANDB_WATCH=False I'm able to make a successful run.  Thanks for the quick and timely response.

[2020-12-18 11:29] kargarisaac commented on #1622
@vanpelt great. Thank you for your help.

[2020-12-18 11:29] #1622 closed

[2020-12-18 12:40] samarth4149 commented on #1287
Yes, it seems [this](https://github.com/wandb/client/issues/1409#issuecomment-723371808) was the best workaround. [This](https://github.com/wandb/client/issues/1409#issuecomment-723676136) was also helpful.

[2020-12-18 12:40] #1287 closed

[2020-12-18 22:11] tssweeney commented on #1598
Hello @jklaise thank you for the report. I looked into this and would like to share some learnings.

Numpy’s float32 is lower precision than python’s internal float (64) representation. So when the float32 is eventually materialized, it is cast to a float, resulting in the tailing garbage. This is a canonical floating point issue. The reason that the dataframe printout shows a rounded float32 is b

[2020-12-18 23:19] cvphelps commented on #1611
HI Ludwig, could you please share some sample code so we can repro here

[2020-12-19 13:59] jonashaag opened #1626 ""Step must only increase in log calls" when adding W&B logger after some training"
**Describe the bug**

First time W&B user here. I added the `WandbLogger` to my PyTorch-Lightning project using the default settings, ie. `Trainer(logger=WandbLogger())`. Note that I'm resuming training from a checkpoint (didn't use W&B logger before).

I'm getting lots of warnings like `wandb: WARNING Step must only increase in log calls.  Step 47 < 270952; dropping {'loss': -2.309272527694702}`

[2020-12-19 16:41] jklaise commented on #1598
@tssweeney that's some nice detective work!

It's not a big issue for me to cast to `float64` before logging, but I think this step should be reflected in the documentation as it's not obvious what is happening and how to fix it. I think this may come up quite often as with deep learning the tensors are almost always `float32` and when converting to `numpy` or `pandas` users would hit the same iss

[2020-12-19 20:46] borisdayma commented on #1626
How do you log your metrics? Do you use `self.log`?
Also do you have some validation metrics logged? If so are you trying to log them at the batch level or are they aggregated and logged at the end?

[2020-12-19 21:53] ternaus commented on #1626
Same story.

Pytorch Lightning: `1.1.2rc1`
Wandb: `0.10.12`

No validation.

Logging with `self.log(...)`

Get errors like: `wandb: WARNING Step must only increase in log calls.  Step 49 < 60049; dropping {'l1_step': 0.10998408496379852, 'feature_matching_step': 0.19095762073993683, 'lpips_step': 0.2102833241224289, 'gan_step': 0.7236597537994385, 'total_loss_step': 4.846053123474121, 'discriminat

[2020-12-19 23:10] mhillebrand opened #1627 "[HuggingFace] AttributeError("'str' object has no attribute 'item'",)"
**Describe the bug**
I get this error every time I try fine tuning BERT with W&B: `AttributeError("'str' object has no attribute 'item'",)` ...whether it's [your example in Google Colab](https://colab.research.google.com/drive/1SQ-FOgji8AiyrQ08sIVfDiA8OUw4bC12?usp=sharing#scrollTo=JL9OqcavmYVb) or it's my own fine-tuning experiment with my own machine & dataset.

**To Reproduce**
1. Go to https://

[2020-12-20 00:29] borisdayma commented on #1626
It is most likely due to the logging of validation metrics at different steps.
Can you try to comment them out?

If it works, you can use directly `wandb.log(my_dict, commit=False)`

I'm looking into a way to allow more flexibility with logging at different stages.

[2020-12-20 01:28] ternaus commented on #1626
I do not have a validation step.

I think the issue is on the Pytorch Lightning side. I do not have this issue with version 1.0.8

[2020-12-20 01:29] borisdayma commented on #1626
You could look at your logged graphs and see what metrics are logged with such a high step.

[2020-12-20 02:13] sff1019 opened #1628 "CLI: Feature to import metrics from a previous training run directly instead of creating a training run to upload the data"
**Problem or Use Case**
There are times where I would like to visualize and save my training results on wandb that were created without using wandb. However, the only possible way currently is to create a "fake" run and load the table in a for-loop.

**Suggested Solution**
Add a feature where we can load an external file or dataframe (e.g. csv, JSON, pandas.DataFrame) to wandb directly. Below is a

[2020-12-20 03:15] vanpelt commented on #1627
In this specific case the error was due to a change in the API from transformers 3.X to transformers 4.X.  We'll update the colab, in the mean time if anyone else reaches this error you can explicitly install transformers==3.5.1 for this example to work.

[2020-12-20 03:18] vanpelt commented on #942
This is coming in the next release 0.10.13 early next week.

[2020-12-20 03:18] #942 closed

[2020-12-20 03:19] vanpelt commented on #926
@ayushjaiswal so sorry for the delayed response on this.  You can select a custom x-axis in the UI for an individual chart or all charts.

[2020-12-20 03:19] #926 closed

[2020-12-20 03:20] vanpelt commented on #709
This is fixed in the 0.10.x series of our library.

[2020-12-20 03:20] #709 closed

[2020-12-20 03:24] dreamflasher commented on #496
Push

[2020-12-20 03:25] dreamflasher commented on #507
Push

[2020-12-20 03:25] dreamflasher commented on #937
Push

[2020-12-20 03:25] dreamflasher commented on #939
Push

[2020-12-20 03:26] dreamflasher commented on #943
Push

[2020-12-20 07:34] raubitsj commented on #943
@dreamflasher
This has been completely rewritten in 0.10.x.
The replacement command is:wandb sync --clean

Is this still a problem for you?

[2020-12-20 08:56] jonashaag commented on #1626
I use [Asteroid](https://github.com/asteroid-team/asteroid/) with default settings. Here's the log code:

https://github.com/asteroid-team/asteroid/blob/1dc1c130f5c8a108fa1e285ed8c194e11ad1ed27/asteroid/engine/system.py#L116
https://github.com/asteroid-team/asteroid/blob/1dc1c130f5c8a108fa1e285ed8c194e11ad1ed27/asteroid/engine/system.py#L128
https://github.com/asteroid-team/asteroid/blob/1dc1c130f

[2020-12-21 03:16] maria-korosteleva commented on #1193
`.cache` is still never cleaned up,  wandb v.0.10.12

[2020-12-21 03:21] maria-korosteleva commented on #1369
Double-checked today.
It seems to have become worse: the summary metrics neither appear in the initial list now when I try to search for them explicitly! 😢

Old filters based on the summary metrics seem to be working
![image](https://user-images.githubusercontent.com/6837635/102735975-d1235680-4354-11eb-97c1-7e53433052a7.png)

[2020-12-21 04:44] ariG23498 commented on #1247
Hey @MLBurnham thanks for the update
Could you share a simple working script with us so that we can reproduce this issue?
Thanks is advance :smile:

[2020-12-21 04:59] ariG23498 commented on #1369
Hey @maria-korosteleva
If I am able to get your issue correctly, the metrics of the sweep is neither showing in the initial list nor when you type it yourself in the text field.
Could you check whether the metrics that you are looking for, are present in the `overview` page of the sweep?

If you seem to find the metrics, could you send our way a minimal implementation of this ticket?
Thanks in adv

[2020-12-21 05:45] cvphelps commented on #1605
Thanks @iantheconway, could you please share a repro script and a link to the page where you're seeing metrics missing? We'd like to track this one down and get in a fix.

[2020-12-21 05:48] #1227 closed

[2020-12-21 06:03] toosyou commented on #1184
I believe this issue has been solved. Thank devs for all the hard works!
[code]
now correctly outputs
[code]

[2020-12-21 11:52] barnybug opened #1632 "sklearn plot_summary_metrics doesn't work on text"
I'm trying to use the sklearn plots on a text classification model (`HashingVectorizer` -> `LinearSVC`).

Unfortunately most are disallowed because of this assertion in `test_missing`:
https://github.com/wandb/client/blob/11ee41a3a95a9e3ab6cc69d1137377273c6bdbf6/wandb/sklearn/utils.py#L139

I'm sure some could still be used fine - `plot_summary_metrics` for example, only passes X_train/X_test thro

[2020-12-21 13:33] vidalmaxime commented on #1507
Reverting to pytorch-lightning 1.0.8 fixes it :/

[2020-12-21 15:47] vasudev-sharma opened #1634 "WandbCallback import error with older versions of TensorFlow and Keras"
**Describe the bug**
Whenever I try to import `WandbCallback` via this line `from wandb.keras import WandbCallback`, I run into a bug; `module tensorflow has no attribute 'function'`. I'm pretty sure this bug has to do with the **tensorflow** and **keras** version as when I upgraded my tensorflow and keras to latest build, the error log given below no longer appears. Unfortunately, I can't upgrade

[2020-12-21 16:57] vanpelt commented on #1634
@vs74 we'll fix this in a future release.  The bug was introduced in 0.10.12, so for now if you run `pip install wandb==0.10.11` it should work.  You may also be able to upgrade your tensorflow to 1.15 which will work with the latest version of our library but not require you to upgrade to tensorflow 2.0.

[2020-12-21 16:57] borisdayma commented on #1507
If it does not get resolved, feel free to share your code and maybe we can see where it comes from.

[2020-12-21 17:05] vs74 commented on #1634
Thank you @vanpelt  for the quick turnaround. Unfortunately, I can upgrade to tensorFlow to 1.15, but will definetly try out your suggestion `(pip install wandb==0.10.11`) and will let you know if it doesn't work out.

[2020-12-22 02:04] maria-korosteleva commented on #1369
Hi @ariG23498
As of today, summary metrics do not show up in **any filters**, neither for sweeps nor for the project main dashboard (the screenshot in my previous message is from the project dashboard).

I have the impression that this problem is on the web-UI side, so could you explain what do you want to see as "a minimal implementation"?

To give you a more detailed example, here is the sweep,

[2020-12-22 03:30] varun19299 commented on #1525
Are bar plots supported in wandb==0.9.7?

[2020-12-22 04:02] ariG23498 commented on #1369
Hey @maria-korosteleva
I ran a sweep myself. I have also taken a snap of the hyperprams and the summary metrics that I sweep over.
![image](https://user-images.githubusercontent.com/36856589/102847510-83801a00-4438-11eb-8d12-2646203a6742.png)

In the filter section I indeed am able to view the hyperparams and the summary metrics.
![image](https://user-images.githubusercontent.com/36856589/10284740

[2020-12-22 04:21] vanpelt commented on #1525
@varun19299  Yes, all versions of the wandb library supports bar charts.  Just click the "+" button on your dashboard and choose bar chart.

[2020-12-22 04:22] varun19299 commented on #1525
But wandb.plot.bar doesn't exist in 0.9.7.

[2020-12-22 04:27] vanpelt commented on #1525
Ahh, yes customer plots are only available in the 0.10.x seiries.  You can plot any scalar summary metrics as bar plots with 0.9.7.  i.e. `wandb.log({"bar_1": 1, "bar_2": 4})` could be logged as a bar chart in the dashboard.  Are you using joblib as well?  We hope to have a fix for joblib in the 0.10.x series in early 2021.

[2020-12-22 04:32] vanpelt commented on #1369
@maria-korosteleva we just deployed a fix to the frontend that was preventing some of the values from displaying.  I've confirmed in your sweep that `best_valid_loss` now displays in new filters.  Sorry about that.

[2020-12-22 04:32] #1369 closed

[2020-12-22 04:35] varun19299 commented on #1525
Sounds good :).

I'm currently converting Matplotlib bar plots to an image as a hackish fix.

Out of curiosity: what is the source for this error?

[2020-12-22 04:44] vanpelt commented on #1525
Our library uses multiprocessing to isolate our metrics reporting from your user process, it seems they way we're using multi-processing isn't playing nicely with joblib.

[2020-12-22 05:27] vanpelt commented on #1525
I was able to reproduce the issue and made a hot fix.  We'll need to put this through some more rigorous testing, but if @varun19299 or @ethanluoyc want to give joblib a try with 0.10.x you can install my hotfix branch with:

[code]

[2020-12-22 05:29] varun19299 commented on #1525
Thanks a lot! I'll give it a try.

[2020-12-22 06:38] varun19299 commented on #1525
This works fine!

[2020-12-23 00:21] cvphelps commented on #660
Hi @pauli31 closing for now. Could you ping @ariG23498 if this is still happening and he'll reopen this ticket :)

[2020-12-23 00:21] #660 closed

[2020-12-23 04:41] TusharNimbhorkar commented on #1272
@vanpelt @ecatkins @raubitsj
Facing the same issue. Is there any update on this?

[2020-12-23 05:21] vanpelt commented on #1272
Hey @TusharNimbhorkar what version of tensorboard are you using / how are you instantiating your SummaryWriter?

[2020-12-23 08:11] kenmbkr opened #1639 "watch() sometimes does not log the gradients"
**Describe the bug**
I am training a generative adversarial network. Without adversarial training, the gradients of the generator is logged. With adversarial training, the gradients of the generator is not logged.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/AliaksandrSiarohin/first-order-model
2. Add the following at [line 71](https://github.com/AliaksandrSiarohi

[2020-12-23 12:37] TusharNimbhorkar commented on #1272
@vanpelt
Version:
`tensorboard==2.4.0`
`tensorboardX==2.1`

I am using tensorboardX's SummaryWriter. I have installed `tensorboard` because wandb gives me error without it.

Command to instantiating SummaryWriter:
`writer = SummaryWriter(output_folder)`

[2020-12-23 15:31] vanpelt commented on #1272
@TusharNimbhorkar we just made a branch that addresses support for tboardx, it will go out with in the next release.  You can use it now but installing wandb with:

[code]

[2020-12-24 02:32] maria-korosteleva commented on #1369
Yep, I'm able to find my summary metrics in the filters now! Thank you, @vanpelt!!

I don't think the infinite scroll is there though =( I still don't see summary metrics in the initial list of properties I can filter by (before I start searching).

[2020-12-24 21:23] dennisobrien commented on #1409
I ran into a similar issue.  In my case, explicitly including `protobuf` in my requirements.txt solved the problem.  (Why this was missing, I'm still not sure, but my python environment was in a weird state, some packages installed by root, some by the user.)

There were a few clues that the `wandb` backend process was not running on my system.
- While there was a `debug.log` file (written by the

[2020-12-25 01:27] cvphelps commented on #1639
Hi @kenmbkr thanks for writing in and including a reproducible script, that's awesome! We are on Christmas holidays right now but will get back to this after vacation. One thing I've seen in the past is that there aren't enough iterations on certain models, and since the gradients aren't logged every step, the interval might be too large to pick up the other pieces of training.

[2020-12-25 01:32] cvphelps commented on #1632
Hi Barnaby thanks for your message, agreed this is something we should address in the client. For context, we are transitioning our focus to the Custom Charts feature which is a little more configurable and less restrictive than the legacy sklearn features. Would you like to give Custom Charts a try?

https://docs.wandb.com/app/features/custom-charts

https://docs.wandb.com/library/log#custom-char

[2020-12-25 01:34] cvphelps commented on #1628
Hi Hanna, thanks for this great suggestion! You're right, the current recommendation is to load your data in via a dummy run. In the future we can build support for a better import tool.

[2020-12-25 02:27] patrickmineault opened #1643 "Attempting to access summary that is numpy array fails with 'Api' object has no attribute 'download_url'"
**Describe the bug**
When using the API, attempting to access a `summary` element that is a numpy array fails with error `'Api' object has no attribute 'download_url'`. This is because the internal API has a `download_urls` function, but no `download_url`. You need to create a function `download_url` in `wandb/apis/internal.py`.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected

[2020-12-26 03:34] seanswyi opened #1644 "Workspace: Filter gradient histogram charts or sort by type"
**Problem or Use Case**
I frequently use `wandb.watch` to observe my model's gradients throughout the training process to make sure training is properly taking place. I thought that it would be convenient if there was a filter function for us to be able to choose which gradients we want to view, considering that there are typically hundreds or thousands of these histogram plots. For example, it wo

[2020-12-26 14:39] SamPruden commented on #1234
@leopd's writeup of this issue is excellent. Is there any progress on this @cvphelps? I'm trying to work out if I should build around the WandB sweeping or the beta Ray Tune sweeping, which I'm hoping won't have this problem.

@leopd, just to add to your suggestions about using the mean instead, would a smoothed/lowpassed comparison at the comparison point maybe be a good option? Equivalently, a w

[2020-12-26 20:17] kengz opened #1645 "Conda-installed CLI 0.10.12 throwing TypeError: 'module' object is not callable"
**Describe the bug**
wandb cli is throwing `TypeError: 'module' object is not callable` when running `wandb login` and `wandb sweep sweepfile.yaml`

**To Reproduce**
Steps to reproduce the behavior:
1. Setup Conda environment with python 3.9.1, on Ubuntu 18.04. Install wandb 0.10.12 via conda
2. Run `wandb login` from within the conda environment

**Expected behavior**
CLI wandb should be callable

[2020-12-27 16:03] viyx commented on #1192
Is it fixed?
I have the same issue

wandb, version 0.10.12

[2020-12-28 01:12] kenmbkr commented on #1639
@cvphelps Thank you for your suggestions and wish you have a wonderful holiday. I am aware that `wandb.watch()` has a `log_freq` option default to 1,000. As a quick experiment, I set the `log_freq` to 10 but still, the gradients are not logged. Hope this information would be helpful for looking into the issue.

[2020-12-28 04:08] ariG23498 commented on #1645
Hey @kengz
I don't think we support package installation via conda.
I suppose after building your conda environment, you could install the `wandb` package using `pip` inside your conda env.
[code]

After following these steps, I think it would be possible for you to do the CLI specific tasks. :smile:
Let me know if there is a persisting issue.

[2020-12-28 04:30] ariG23498 commented on #1643
Hey @patrickmineault
I tried reproducing the ticket.

## Observation
[code]
Now that I have the run object I tried doing a `run.summary`. I noticed that it is not a numpy array but a dictionary.
[code]
After visualizing the dictionary I tried accessing the `loss`
[code]

Link to the project: https://wandb.ai/arig23498/errors

Let us know if the isuue persists. :smile:

[2020-12-28 17:10] TusharNimbhorkar commented on #1272
@vanpelt
Thank you this fixed worked. Any idea when the next release is scheduled?

[2020-12-28 17:43] salmanmashayekh commented on #1133
Hey! How can we customize the logging frequency in the new CLI/UI?

[2020-12-28 20:05] MohammedAljahdali commented on #1192
I have an offline run, because of my slow internet connection the wandb sync did not complete the first time. I tried to run it now, because my connection is better, but it was bugged because some data was uploaded in the first sync. I deleted the run from my account. And now I can not sync the run again, because of already used name issue.

[2020-12-28 21:27] viyx commented on #1192
@vanpelt Could you please clarify if this is fixed?

[2020-12-28 22:09] vanpelt commented on #1192
@viyx @MohammedAljahdali we're looking into a longer term fix here.  In the mean time, you can specify a new unique id using the `wandb sync --id=XXXXX` command.  A quick and easy way to get a new unique id is: `python -c "import wandb; print(wandb.util.generate_id())"`

[2020-12-29 12:19] MohammedAljahdali opened #1647 "wandb sync did not successfully run"
**Describe the bug**
I had period of bad internet connection and all of my runs would crash in wandb after few 5 - 60 min, while the run is still executing on my machine. Then I started doing my runs offline, but currently I have been trying for while to sync my offline and no run have been successfully synced.

Last sync I got this error message:
[code]
This is the message in the link:
{"error":"

[2020-12-29 22:29] viyx opened #1648 "Flag WANDB_DISABLE_CODE doesn't work properly."
**Describe the bug**

From [docs](https://docs.wandb.ai/library/environment-variables) we can see:

I add the flag and commitid disappear from run overview. But I still can see commit information on actions button.

**To Reproduce**

1. Go to 'run overview'
2. Click on button in upper-right corner
3. Select 'View code'
4. Select 'You can find your commit here on GitHub.'

**Expected behavior**
Sen

[2020-12-29 22:49] patrickmineault commented on #1643
This only happens when the saved data contains a numpy array that is sufficiently large - scalars don't trigger the bug. Minimalist example:

[code]

Wait a little bit, then run:

[code]

A public summary that contains a large enough array to trigger the bug is located at `pmin/test/2plca8g1`.

[2020-12-30 09:52] jawadSajid commented on #1239
I keep getting this error when I run this:

  docker run --rm -d -v wandb:/vol -p 8080:8080 --network host --name wandb-local wandb/local

![error](https://user-images.githubusercontent.com/51077637/103343708-80c39b80-4aae-11eb-8f40-04dcbe1af546.png)

[2020-12-30 11:36] yanaiela opened #1650 "Secondary Sorting"
**Problem or Use Case**
The sorting mechanism allow for multiple sorting fields, but I couldn't figure out the sorting logic behind it. It seems like it just picks one of the fields to sort by.

I would expect that it would function as a secondary, third, etc. sorting.
E.g. first sorting by the first field, and then within the equal values of the first field, it would sort by the second field, etc

[2020-12-30 15:27] reymondzzzz commented on #1247
I have same problem. It happens after training and validation before new epoch. I don't log gradients and parameters, only metrics. Memory doesn't leak on all gpu. See screenshot(1 epoch =~24.5hours). Second time it was on 4th epoch and I have out of memory.
<img width="750" alt="image" src="https://user-images.githubusercontent.com/15812493/103363594-83cd8480-4acc-11eb-88d6-987e608a2c21.png">
 Us

[2020-12-30 15:43] reymondzzzz opened #1651 "Out of memory if logging gradients with HalfTensor"
I train big model and want logging gradients. I use FP16 in torch. One layer has 180kk params. I think that reason is https://github.com/wandb/client/blob/58405877a36beaba556cce31de304527b5245aa6/wandb/wandb_torch.py#L168-L170
Tensor was coped and upconvert in Float on gpu memory. Comment is not actual. Now HalfTensor can be used on cpu.
https://pytorch.org/docs/stable/tensors.html

`
tensor = ten

[2020-12-30 16:42] vanpelt commented on #1239
We'll need the debug bundle.  You can access it at http://13.92.184.80/system-admin from the menu in the upper right corner.  You can email this to vanpelt@wandb.com

[2020-12-30 16:47] vanpelt commented on #1650
Hey @yanaiela the logic should be as you described.  We sort in the order you specify, so for example:

![image](https://user-images.githubusercontent.com/17/103368020-5dcbc400-4a7b-11eb-817d-047e8cfc6d0d.png)

In the case above we first sort everything by "Created At" in descending order, then for any rows that have the same "Created At" value we sort by "decay" in descending order.

If you can s