[2021-05-12 17:37] ayulockin opened #2192 "[CLI] Can't save model, h5py returned error:"
**Description**
W&B shows this warning when a Keras model uses a layer that's not part of Keras sequential or Functional APIs.

My model definition is:
[code]
Since I have used a transformer model which is not part of sequential or functional API, serializing the model using the `h5` format is potentially throwing this warning.

**Wandb features**
I am using Keras `WandbCallback()`.

**How to repr

[2021-05-12 17:44] roshan-k-patel commented on #2186
Thanks @ariG23498, Is there any possibility that you would be able to manually get me the roc and precision-recall curve csv data for both of those runs as i need them rather urgently? Thank you

[2021-05-12 17:51] ariG23498 commented on #2192
Hey @ayulockin
Thanks for the clean code and the issue. We will try to track it internally.

[2021-05-12 18:06] adrnswanberg commented on #2186
Hi Roshan,

The data for these graphs is available to you in the 'Files' tab. Just pull up one of your runs, navigate to the 'Files' tab (the last one on the left-hand menu), and click into 'media/table'.

[2021-05-12 18:37] roshan-k-patel commented on #2186
Thank you!

[2021-05-12 18:37] #2186 closed

[2021-05-12 21:44] pbontrager commented on #802
@vanpelt Thanks for the suggestion. It didn't seem to help in this case but I'm excited to hear about the work on multiprocessing. I guess my issue has more to do with me trying to switch back and fourth between multiple trials in the same script and just using multiprocessing as a crutch to allow the multiple wandb.inits to coexist in the same script, so multiprocessing fixes might not help.

[2021-05-13 05:37] LunaJang commented on #2190
I tried to install different version of wand with
'pip install --upgrade git+git://github.com/wandb/client.git@kyle/tboard_sync_fix#egg-wandb'

but it didn't work for me.

maybe there is a problem with ''step''

I just solved it by load tfevents file and copy that logs into wandb run.

[2021-05-13 07:12] imyhxy commented on #1777
Still can not delete local files from web API now. :boom:

[2021-05-13 15:40] patrickjohncyh commented on #1500
Hi! I'm also wondering if this feature is supported!

[2021-05-13 17:38] vanpelt commented on #1777
@imyhxy can you describe what error your seeing or share a screenshot?

[2021-05-13 20:47] andravin commented on #2100
@zxhuang97 I experienced the same issue you reported multiple times, using versions 0.10.24 through 0.10.28. Basically every training run from my workstation that lasted more than ~16 hours would be marked "crashed" even though training continued just fine.

I shared console output and log files with support multiple times for different versions. Support told me that 0.10.28 should have fixed the

[2021-05-13 20:58] zxhuang97 commented on #2100
@andravin Hi, I got an email this morning that prompts me to update wandb to 0.10.30.

I have launched a few more experiments. Hope this time the problem is fully solved ;(

[2021-05-13 23:26] adrnswanberg commented on #2100
Hi folks, thanks for writing in here. As you said, network programming is hard :(

For 0.10.30, we conducted a bunch of disaster testing (found new and interesting ways to break our staging deployment) and validated that 0.10.30 was resilient to all kinds of failures (where previous versions hadn't been). I'm hopeful you'll see much better results here, but please do let us know if you still run i

[2021-05-14 07:03] tyomhak commented on #1752
Hey everyone! Can you please update to the latest version (0.10.30), and let us know if the error persists?

[2021-05-14 09:11] dreamflasher commented on #948
I am using Carey's workaround, but for this you need to go to the sweep view first, copy the sweep ID, and then change the filter. Could you add a link the the sweep view to each sweep that just does that? (Link back to the project view, changing the sweep filter to itself)

[2021-05-14 09:16] dreamflasher commented on #939
Thank you, unfortunately, this doesn't work for us, because we need two levels of grouping. We already use the grouping for cross-validation, so we are already doing the workaround. It would be great if you could implement the more integrated solution you were talking about!

[2021-05-14 14:29] oliviersalaun commented on #2181
@ariG23498 The data I use is confidentiel, so I cannot show an implementation with it.

@vanpelt The directory seems to be the answer, I added the argument `weights_save_path` in the trainer:

[code]

[2021-05-14 14:29] #2181 closed

[2021-05-14 18:36] #2187 closed

[2021-05-14 19:19] cvphelps commented on #2191
Thanks for reporting this! The issue is that Plotly is not maintaining their converter to JSON well. We can't fix this on our side since it's a plotly bug, but if you log the plot as an image we will render that faithfully.

[2021-05-14 19:43] cvphelps commented on #2182
Hi @konstantinjdobler it does look like you're getting rate limited. Could you please try logging predictions with our new Artifacts feature to visualize examples: https://docs.wandb.ai/guides/data-vis

[2021-05-14 21:47] teufelweich opened #2198 "[App] Segmentation Masks aren't shown"
**Describe the bug**
I'm logging images, their predicted segmentation and the ground truth during the end of a validation epoch (PyTorch Lightning).
They probably get synced to my local WandB server, but are not displayed on the web app. I'm only getting "This run didn't log any images for key".

I've found the path to the temporary folder where the PNGs inside the `<wandb.sdk.data_types.Image obj

[2021-05-16 11:54] PhilippS893 opened #2200 "[Q] Invalid hyperparameter service response (<Response [500]>)"
Dear all, we have recently tried to run sweeps on local machines as well as on colab and encountered the following error:

With wandb version 0.10.30

[code]

This interestingly occurs after all sweeps finished. This Error also seems to persist indefinetly such that the program (or cell in Colab) does not terminate. Is this an issue from our side since something in the 'client.py' appears to go wr

[2021-05-16 13:28] hv10 opened #2201 "[CLI] Updating Dict Values in Config not reflected in Web App"
**Description**
When updating a dictionary based value of the wandb.config of a run, the change is reflected in the script of the run but not in the web app.

**Wandb features**
wandb.init()
wandb.config
wandb.config.update()

**How to reproduce**
[code]
Console Output:
[code]
Screenshot showing that the cfg value was not updated in Web App:

![2021-05-16-152345_841x234_scrot](https://user-images.

[2021-05-16 14:06] konstantinjdobler commented on #2182
I believe to have found the source of the error, as documented in https://bugs.python.org/issue43743

On some Linux Distros (alpine and in my case centOS) there is a bug resulting in `BlockingIOError` when trying to copy files larger than 65536. The recommended fix is to fall back to another copy procedure by doing
[code]
I'm currently testing if it is sufficient to do this code in my training scr

[2021-05-16 14:11] konstantinjdobler commented on #2182
Since the problem occurs in the python client rather than the Webapps, I've changed the title accordingly. Feel free to also change the label @cvphelps

[2021-05-17 10:37] konstantinjdobler commented on #2182
@ariG23498 @cvphelps Unfortunately it is not sufficient to put the `shutil` fix into my own training script, I have to patch the actual `wandb` code to get it working, specifically `wandb/filesync/step_checksum.py`. The fix itself is easy, but I _really_ don't want to have to do it manually on my machines all the time.

Is it possible to insert the fix under an if-statement based on the current op

[2021-05-17 12:16] farizrahman4u commented on #1500
`group` and `job_type` attributes are available for `Api.run`.

[2021-05-17 12:16] #1500 closed

[2021-05-17 14:32] ariG23498 commented on #2201
Hey @hv10
I tried reproducing the issue and had the following solution for it:
[code]

This does not fail and also updates the config of the run.

![image](https://user-images.githubusercontent.com/36856589/118506244-c7a6ea80-b74a-11eb-829a-b2cc1ad7c0c4.png)

[2021-05-17 14:32] #2201 closed

[2021-05-17 14:33] ariG23498 commented on #2200
Hey @PhilippS893
Thanks for the ticket. We will be looking into it internally. We will also try providing updates as soon as we have something.

[2021-05-17 14:48] ariG23498 commented on #2198
Hey @teufelweich
In your code you seem to have missed the quotes around the `title` that you are loggin.
Could you check if that is the problem?
[code]

[2021-05-18 05:49] ariG23498 commented on #2190
Hey @LunaJang
Can you elaborate on your workaround?

[2021-05-18 05:54] KyleGoyette commented on #2190
Also @LunaJang could you elaborate on how this new version did not work for you?

[2021-05-18 06:40] ariG23498 commented on #2179
Hey, @oldenstreeter I have tried reproducing your code with the data that you have sent in.
## Version
1. wandb: wandb, version 0.10.30
2. tensorflow: 2.5.0
3. OS: Ubuntu 20.04.2 LTS

## Code
[code]

I have used the data that you had sent in. I did not find any issue with the implementation.
![image](https://user-images.githubusercontent.com/36856589/118603855-1350a700-b7d2-11eb-8232-580f7e02deb5.

[2021-05-18 06:40] #2179 closed

[2021-05-18 09:04] teufelweich commented on #2198
What quotes do you mean? `title` is an argument of my function and contains a `string`.
[code]
When calling the function, I'm setting `title='val/Predictions'` as you can see in the screenshot of the WandB app.

[2021-05-18 09:27] ariG23498 commented on #2198
Makes sense!
Could you send in a colab of a minimal implementation?

[2021-05-18 10:22] rafi-cohen opened #2202 "[App] `NaN` values are ignored in graphs"
**Describe the bug**
Logged data points that contain a value of `NaN` are simply ignored in graphs, as if they weren't logged at all. This is misleading, and makes it easy to miss the `NaN` values.

**To Reproduce**
Steps to reproduce the behavior:
1. Use `wandb.log` to log some values, where some of them are `NaN`
2. Look at graph on website
3. No indication of `NaN` values on graph

For example,

[2021-05-18 19:01] oscarclivio commented on #2183
Hi @cvphelps . Sorry for the delay in responding. It did block this sweep as it succeeds in finding a run but not until a few minutes. So at a speed much slower than usual.

[2021-05-18 19:28] andravin commented on #2100
Just a quick note.. I have been unable to test 0.10.30 because the workstation that frequently produced the error with earlier versions broke last week and could take another week to repair.

I otherwise run on Amazon on EC2 spot instances, and have never produced the error there with any version of the client. Not sure if the different behavior on EC2 is because of different networking or simply

[2021-05-18 20:04] MehmetKUTAN commented on #1627
When running the Bert algorithm, I have the same problem, I get the AttributeError ("'str' object has no attribute 'item'",) error in the loss.item () statement.  solution: Since there is an unequaled value to the total_train_loss value, When I set the value for "loss" I did "return_dict = False". Problem solved.

[2021-05-18 20:53] teufelweich commented on #2198
Well... as I expected running the example on colab with your hosted WandB instance I'm not experiencing this issue:
Results: https://wandb.ai/teufelweich/seg-test/runs/a77q2zn8
Colab: https://colab.research.google.com/drive/1nRbNMvpaVujmxLc2tpklPtxQsIN_6yfK?usp=sharing

I've also tried the exact same code on my local WandB instance and have the issue as described above. Maybe you could try it with

[2021-05-19 03:36] ariG23498 commented on #2198
That is interesting.

Could you send in a zip file of the images and masked prediction that you are using in this colab notebook? It would be easier for me to iterate on a specifically smaller version of the entire dataset that way.

Thanks

[2021-05-19 06:32] ariG23498 commented on #2202
Hey @rafi-cohen
Thanks for the ticket. I have directed this issue to the concerned dev team. We will update as soon as we have something regarding this. 😄

[2021-05-19 07:12] teufelweich commented on #2198
Sure. I thought they would stay inside the colab. 🤷🏻‍♂️
Because I don't know if I have the rights to distribute these images, I've put a password on the zip and send the password to your gmail adress.
[segm-mask.zip](https://github.com/wandb/client/files/6506552/segm-mask.zip)

[2021-05-19 07:57] ariG23498 commented on #2198
Thanks for the update!
I am trying to repro this, will update as soon as I have something! 😄

[2021-05-19 16:59] kfkelvinng commented on #1738
It is instead a Pytorch-lightning problem https://github.com/PyTorchLightning/pytorch-lightning/issues/981

[2021-05-19 17:10] #2191 closed

[2021-05-20 04:27] kargarisaac commented on #1831
Hi,
Any update on this?

[2021-05-20 15:06] hv10 commented on #2201
Sadly the proposed solution did not work for me. Nonetheless adding the `allow_val_change=True` keyword parameter to `run.config.update` did work, which is also fine in my case as I do not change but only add a new value.

[2021-05-20 19:07] dasturge commented on #1579
I also have this issue, I am using nn.DataParallel (only one system), with 4 gpus, also noticed that when I kill a sweep it will not kill the spawned workers and they will simply hang indefinitely while reserving GPU memory.

Environment:
ubuntu 16.04  running tmux
GCC 9.3.0
python: 3.8.10
wandb: '0.10.30'
env:
- conda
- pytorch
- ignite

details:
running a sweep using 4 GPUs with nn.DataParallel

[2021-05-20 19:55] eric-mitchell opened #2207 "[CLI] Process saving to NFS hangs, possibly related to wandb client"
**Description**
Long-running jobs regularly hang without an identifiable cause. The jobs do not crash or complete; they become stuck, waiting on I/O (process state S/Sl). `strace` suggests wandb _might_ be involved, maybe something specific to wandb + NFS.

**Wandb features**
Currently using `wandb.init`, `wandb.log`, `wandb.watch`.

**How to reproduce**
Very difficult to reproduce; cause unknown.

[2021-05-21 15:28] ariG23498 commented on #2207
Hey @eric-mitchell
Thanks for the detailed issue. We will be tracking it internally.

[2021-05-21 19:53] cvphelps commented on #2202
@rafi-cohen what do other libraries do when representing NaNs on graphs? Could you share an example?

[2021-05-21 19:58] cvphelps commented on #2200
@PhilippS893 we tracked down an issue related to this and believe it has been resolved. Closing this ticket, please reopen if there are still problems.

[2021-05-21 19:58] #2200 closed

[2021-05-21 22:03] eric-mitchell commented on #2207
@ariG23498 I should also note in case it's helpful, I'm seeing an error along the lines of:

`wandb: Network error resolved after 0:06:01.586198, resuming normal operation.`

showing up in a lot of the logs for the runs in which this issue occurs.

[2021-05-22 05:34] myaisv opened #2210 "[CLI] Logging dataframe will rasie an exception"
**Description**
Logging a table with DataFrame will casue an exception in wandb 0.10.30 ( but version 0.10.11 is ok ):
Code:

[code]

Exception:

[code]

**Wandb features**
wandb.log()

**Environment**
- OS: Ubuntu 20.04
- Python Version: 3.8.5

[2021-05-23 10:16] dreamflasher commented on #2183
I can confirm this bug.

[2021-05-23 12:29] rafi-cohen commented on #2202
@cvphelps I haven't used other libraries before, but I just tried to produce a similar example on TensorBoard (using [tensorboardX](https://github.com/lanpa/tensorboardX)), and this is the result:
![image](https://user-images.githubusercontent.com/77580049/119260028-9fe7d480-bbd9-11eb-91f5-826a10ea4c9d.png)
Hovering over a `NaN` value clearly indicates that it's a `NaN`. These values also seem to

[2021-05-23 18:14] teufelweich commented on #2198
Hey :)
I think it is a broader issue, since I stumbled into the same behavior for `wandb.plot_table()`
![image](https://user-images.githubusercontent.com/33784413/119271774-4399aa80-bc03-11eb-81f9-249fe451e114.png)
I have not verified this on your hosted instance, but the coincidence seems pretty clear to me.

[2021-05-23 20:40] dunnkers commented on #1186
For anyone stumbling on this error, but does not have any conflicting filenames; I had the same type of error:

[code]

→ Which was somehow fixed by re-installing wandb:

[code]
👍🏻

[2021-05-24 10:32] dreamflasher opened #2211 "[Feature] Add sweep controls to sweep overview"
**Is your feature request related to a problem? Please describe.**
I regularly want to control multiple sweeps at once, and it's cumbersome to click into each individually.

**Describe the solution you'd like**
In the sweep overview add all buttons that are in sweep control and make them work for all selected sweeps.

[2021-05-24 14:48] marcosfelt opened #2212 "[CLI] Tensorboard not working in Jupyter notebooks"
**Description**
Running the tensorboard patch in a notebook causes an error that tensorboard is not installed, even when it is.

**Wandb features**
`wandb.tensorboard.patch(save=False, tensorboardX=True)`

**How to reproduce**
![image](https://user-images.githubusercontent.com/25933639/119364879-4a79f900-bca7-11eb-8a34-390b35bea11a.png)

**Environment**
- OS: Linux nvcr.io/nvidia/pytorch:20.11-py3

[2021-05-24 14:53] marcosfelt commented on #2212
Nevermind, restarting the notebook fixed this.

[2021-05-24 14:53] #2212 closed

[2021-05-25 01:04] vanpelt commented on #2207
Hey @eric-mitchell both of these errors indicate you are having networking issues both to the NFS share and to the W&B server.  We retry all network requests to the W&B server so that should be fine, but I would suggest using a non networked filesystem for the wandb directory.

When you call `wandb.init` you can specify the `dir` argument or you can set the WANDB_DIR environment variable to a path

[2021-05-25 01:13] adrnswanberg commented on #1862
Hi Maria, can you confirm whether this worked for you?

[2021-05-25 01:21] vanpelt commented on #2210
@myaisv this is an error with the way we're passing around settings.  Are you running this against our cloud hosted server or a server that you're running yourself?  This generally happens if you call `wandb.login()` from within jupyter notebook instead of logging in the host machine.  Can you try running `wandb login` from the command line to configure the machine and see if this error is still o

[2021-05-25 01:33] adrnswanberg commented on #1869
Hi there, sorry to hear about these issues. Does anyone on this thread have a minimal code sample that reproduces this issue? We're a little stumped here -- it definitely looks like Python's tempfile module (which is what we're using under the hood) is failing here.

One suspicion: are any of these examples making use of multiprocessing? I think I've read that tempfiles can misbehave if used from

[2021-05-25 02:40] JacobARose opened #2216 "Best Practices for logging image predictions while referencing only the original version-controlled artifact media files[Q]"
This references tssweeney's PR here: #1438

### Overview

I have a question about the best way to implement this as a workflow. I'd like to repeatedly log predictions on a version-controlled test set of images with class labels, while:

A. Ensuring that the prediction tables correctly associate any subsequent predictions on sample X with unique ID X_id across multiple evaluations of different mode

[2021-05-25 03:02] eric-mitchell commented on #2207
@vanpelt thanks for the recommendation- I'll give this a try and report back.

[2021-05-25 03:49] vanpelt commented on #2216
Hey @JacobARose the best way to accomplish this is to use a [wandb.JoinedTable](https://docs.wandb.ai/guides/data-vis/tables#join-tables).  In this scenario your artifact structure would look like:

[code]

An example set of artifacts that leverages joined tables can be [found here](https://wandb.ai/stacey/cshanty/artifacts/analysis/synth_summary/0af204744b98ae0469cf/files).

Sometimes creating ID

[2021-05-25 06:33] JacobARose commented on #2216
@vanpelt Ahh thank you!! Enjoying the humor in the fact that, in the few hours since posting this issue, I had actually come across the webinar that you of all people presented some time last year that briefly described this exact strategy. I'm excited to try it out this week and will mention any other issues I run into on this page. I'm also eager to hear more detail about @tssweeney 's method of

[2021-05-25 07:06] mjohenneken commented on #1869
I try to think of a code example but it's hard to tell where the issue comes I ran this could a few times but the issue was not occurring.

[code]
When writing up this example I noticed that I have to wrap the pyplot object into a wandb.Image or install plotly (as stated by a console message). Does this still create a tempfile?

[2021-05-25 12:38] emanuelevivoli commented on #1487
hi, any news?

[2021-05-25 16:35] tssweeney commented on #2216
Hey @JacobARose: thanks for the engaging discussion. Perhaps I can share a bit more of how the underpinnings work which will shed light on some different options that can be applied.

1. Artifact Version Data Deduplication: If two versions of the same artifact have a file located in the same path, with the same sha256 digest, then only one copy is stored in the backend file store. This happens aut

[2021-05-25 22:10] Vildnex opened #2218 "AttributeError: 'NoneType' object has no attribute '_global_run_stack'"
**Description**
I am using PTAN library with an A3C model and I am trying to work with **wandb sweep** but I've encountered some weird problems, and I am not sure if it's a bug regarding sweep (because if I am going to use just a simple model without any threads involving is going to work properly) or I am doing something wrong.

**How to reproduce**

_**training function:**_
[code]

**main functi

[2021-05-25 23:43] vanpelt commented on #2218
What version of the wandb library are you using?  You should be calling `wandb.init` inside of the train function that the agent is executing.  Also, the lambda that `wandb.agent` calls will receive the current config from the specific agent so you should likely pass that through by just using the train function itself, i.e.

[code]

[2021-05-25 23:46] vanpelt commented on #1869
Yes, wandb.Image creates a tempfile.  If you can get an example that reproduces itself and details about your python environment we can likely find the root cause.

[2021-05-26 03:28] #2100 closed

[2021-05-26 09:43] maria-korosteleva commented on #1862
Hi @adrnswanberg
The problem has not reproduced for a while, so I hope it is resolved. The issue was unstable though, and I don't run as many experiments lately as I used to, so I'm not 100% sure

[2021-05-26 14:43] wizard1203 opened #2221 "How to quickly delete the output.log files? And how to choose not uploading output.log files?"
Hi, when I conduct experiments, I print too many things out. So I have many output.log files, each of them is 60MB to 400MB large in every run. I want to delete these output.log files but not the wandb-summary.json files.

1.  How could I quickly delete these output.log files? I have run thousands of experiments, it is too difficult to manually choose them and delete.
2. Could I choose not to uplo

[2021-05-26 18:08] vanpelt commented on #2218
@Vildnex sweep agents are designed to create multiple runs in side of wandb.  A single agent will execute the train function for each trial defined in your sweep.  Each trial should call wandb.init and you can not run multiple wandb.init in the same process across many threads.  If you want to have many trials running in parallel, you should start multiple processes.

This is made easiest by using

[2021-05-26 19:48] vanpelt commented on #2221
Hey @wizard1203 you can use our api to delete the files:

[code]

You can set the WANDB_IGNORE_GLOBS environment variable to "output.log" which should prevent that file from being uploaded.  Unfortunately there's currently a bug that uploads that file even when the environment variable is set.  I'm working on a fix which should come in the next release.

[2021-05-27 20:30] #2097 closed

[2021-05-28 08:45] nbortych opened #2232 "[CLI] Wandb does not log wandb.Histogram"
**Description**
I am trying to log a histogram and even the simplest examples do not work. However, logging scalars work.

**Wandb features + How to reproduce**

`
wandb.log({"histogram": wandb.Histogram([1,2,3])})
`
The above line does not log anything and does not give any errors. If I submit a np_histogram, it also fails. Logging integers work.

**Environment**
- OS: Mac OS Catalina 10.15.5
- E

[2021-05-28 12:18] chenbong opened #2233 "[CLI] When using torch.multiprocessing.spawn(), `wandb` will stuck after main code is finished"
**Description**
When using multiprocessing.spawn(), wandb will block at the end of the program.

**Wandb features**

**How to reproduce**
origin, this script works well:
[code]
this origin script can successfully exit.

---
add wandb, will stuck after main code is finished:
[code]

after add wandb, this script will be stuck at:
[code]

if using `group` method to use wandb, also stuck:
[code]
[code

[2021-05-28 12:46] dreamflasher opened #2234 "[Feature] Allow resume at specified step"
**Is your feature request related to a problem? Please describe.**
Runs crash randomly, we do checkpointing every 50 epochs, and currently it's not possible to specify that we want to resume at epoch 250.

**Describe the solution you'd like**
Add epoch/step parameter to wandb.init(resume=True), that will override any future logged steps.

[2021-05-28 12:48] dreamflasher opened #2235 "[App] Allow resume run in sweep"
**Describe the bug**
https://docs.wandb.ai/guides/track/advanced/resuming "Note that resuming a run which was executed as part of a Sweep is not supported."

[2021-05-28 16:16] tyomhak commented on #2234
Hey @dreamflasher , thank you for the request. Unfortunately it's currently not possible, but it's definitely in our plans.

[2021-05-28 17:15] dannygoldstein commented on #2235
This is now supported as of 0.10.31, please see the docs here: https://docs.wandb.ai/guides/track/advanced/resuming#preemptible-sweeps

[2021-05-28 17:15] #2235 closed

[2021-05-28 18:20] dreamflasher commented on #2235
That's amazing! Now we're looking forward to be able to do good resuming. Even something hacky would be great to work with, I think the basic would be: being able to specify the start step (at which one has a checkpoint) and I guess checkpointing could be hacked around?

[2021-05-28 18:29] dreamflasher opened #2236 "[Feature] Informing the algorithm it's in resume state"
**Is your feature request related to a problem? Please describe.**
We are working a lot with preemptive instances, so we need a way to checkpoint and resume runs from checkpoints.

**Describe the solution you'd like**
Thank you for implementing resumable sweep runs: https://docs.wandb.ai/guides/track/advanced/resuming#preemptible-sweeps
Eventually we want this: ```As of version 0.10.31, requeued p

[2021-05-28 18:39] raubitsj commented on #2236
@dreamflasher I think preemptible sweeps does support resuming right now (We are still testing this and will update the documentation when it is verified)

So this means that you end up resuming from the last step that was successfully logged.   What I think you need is a way to "rewind" back to the step of your last checkpoint.

For now I think you can emulate this behavior by logging your own st

[2021-05-28 18:48] dreamflasher commented on #2236
Thank you, that's already very helpful. But how would the algorithm know that it should start at a certain step count?

[2021-05-28 19:26] raubitsj commented on #2236
I was thinking it would be something like this:
[code]

[2021-05-28 19:33] vanpelt commented on #2235
@dreamflasher today when you resume, we'll initialize the step of the logger to the last step reported in the previous run.  We have plans to let you `rewind` that step to the previous checkpoint.  But until then you can use a seperate key in your calls to `wandb.log` with the step instead of the native `step` keyword arg of `wandb.log`.  i.e.

[code]

This should allow you to essentially "rewind"

[2021-05-28 19:44] vanpelt commented on #2232
I just tried this and was able to see a histogram in my workspace.  Can you share a link to the specific run that isn't displaying a histogram for you?  Also, a histogram is generally more useful when it's summarizing a larger vector.  Have you tried passing `np.random.uniform(size=1000)` to wandb.Histogram?

[2021-05-28 19:59] raubitsj commented on #2236
Everything but `run.rewind()` should work now.

So the workaround is without rewind() is:
[code]

[2021-05-28 22:56] eric-mitchell commented on #2207
Closing because

    wandb.init(..., dir=tempfile.mkdtemp())`

seems to have solved the problem. [This issue](https://github.com/wandb/client/issues/340) also suggests using

    username = pwd.getpwuid(os.getuid()).pw_name
    wandb.init(..., dir=f"/tmp/wandb_{username}"`

Thank you for the help @vanpelt and @ariG23498!

[2021-05-28 22:56] #2207 closed

[2021-05-29 14:39] zjp9574 opened #2238 "能不能支持手机查看训练过程？[Q]"
能不能支持手机查看训练过程？

[2021-05-29 15:33] Vildnex commented on #2218
I am not sure if I did explain my problem correctly... But... I don't need multiple agents, each one on a diff thread. I need just one. This is how the A3C algorithm works, with multiple environments and by default with multiple threads. Because of this reason, I don't want to call wandb agent SWEEP_ID & multiple times, and also I don't have to call the init function inside of train function, the

[2021-05-29 15:58] versae opened #2239 "[App] Confusion matrix widget mixes up data when there are several confussion matrices available"
**Describe the bug**
I regularly use sweep to run experiments. And in cases where confusion matrices are useful, I log the proper data. However, when visualizing it, confusion matrices data is shown all at once, making it really hard to read anything (even when only one run is selected as visualized).

**To Reproduce**
Run a sweep and log a confusion matrix when evaluating the model:
[code]

**Exp

[2021-05-29 17:05] Alina9 commented on #1297
I have the same problem. My version is 0.10.31

[2021-05-29 17:26] dreamflasher commented on #2236
Thank you very much! That's amazing, I am glad to see that it's basically already possible.

[2021-05-29 19:37] vanpelt commented on #2218
The issue is calling wandb sdk methods in multiple process / threads.  The SDK is intended to work within the same process context.  If you only log from the same process / thread as you call wandb.init everything should work fine.

[2021-05-29 19:39] vanpelt commented on #1297
Sorry for the delayed response.  We're actively working on a fix for this.

[2021-05-30 10:34] ashok-arjun commented on #2234
Hey @dreamflasher you can always specify the `step` in `wandb.log` as

`wandb.log(dict, step=iteration)`

You can save the iteration also in the model `.pth` file, and when you're retrieving a model to resume a run, you can also retrieve the `iteration` and set it in your code before starting any wandb logging

[2021-05-30 10:39] ashok-arjun opened #2240 "[Feature]"
**Is your feature request related to a problem? Please describe.**
When I'm working on multiple projects, I would like to use multiple W&B teams/accounts. But the `wandb login client_key` sets the client key globally and does not allow it to change inside directories.

In contrast, `git` allows having local config files that contain the username and account, which gets recorded for every commit.

[2021-05-30 15:15] Vildnex commented on #2218
Ok, thx for clarifying this :D. I understand the problem now and I will try to fix it. I will close this issue now

[2021-05-30 15:15] #2218 closed

[2021-05-31 08:34] nbortych commented on #2232
Thanks a lot for a quick reply. I just saw by going inside the run-level workspace that the histogram is being displaced there, but not at the project level. It makes sense since I guess it's hard to display multiple histograms in the same graph.
Sorry for bothering and thanks for pointing me to finding the issue!

[2021-05-31 08:34] #2232 closed

[2021-05-31 16:01] NumberChiffre opened #2241 "[Q] How to update wandb.plot.histogram iteratively?"
Hello Everyone,

I'm looking to update wandb.plot.histogram() for every k steps during training. It seems every time I can wandb.log() on the table, it just overwrites previous steps. I was wondering if there's a way to append the existing histogram other than saving previous steps locally.

Thanks in advance!

[2021-05-31 16:10] waltsims commented on #1893
I am also getting this error. Not sure why. I have tried to run `wandb sync --id <id>` but there is nothing to sync. I am currently not able to use wandb

[2021-05-31 20:35] KhushalB commented on #1156
@ariG23498 this issue is still there. Experienced it while trying to init as anonymous on a kaggle kernel

[2021-05-31 22:53] konstantinjdobler opened #2242 "[CLI] Save files with wandb.save without the folder structure"
**Description**
When I call e.g.  `wandb.save(config.results_dir + "latest_checkpoint.pth")` the entire folder structure will be saved. This can be annoying if I want to restore files or inspect them online in some cases. Is there a way to only store the file without the folder structure in wandb?

[2021-06-01 08:15] GiulioMat commented on #1526
I experienced the same problem with 0.10.31, but by applying the changes that @lucas-emery illustrated in `wandb\sdk\internal\datastore.py` it finally worked. Thank you!

[2021-06-01 11:57] wizard1203 commented on #2221
Thank you very much. I will try this.

[2021-06-01 12:38] wizard1203 commented on #2221
Thanks! It works well !  @vanpelt

[2021-06-01 12:38] #2221 closed

[2021-06-01 23:54] xvr-hlt commented on #1771
Is there any progress on this? Also running in to the issue

[2021-06-02 16:39] manestay commented on #1893
I am also getting this issue, just starting today (it was working fine before today). I am using huggingface transformers, and my wandb call is
`wandb.init(project=proj_name, name=exp_name)`. I tried passing in `id=wandb.util.generate_id()`, but it still gives Error 1062.

[2021-06-02 16:44] waltsims commented on #1893
It seems I had some zombie processes from wandb still running on my machine. I restarted my machine and things seem to be working once again.

[2021-06-02 18:50] tyomhak commented on #2238
We don't have a dedicated app, but you can always use a mobile internet browser for viewing your workspace :)

[2021-06-02 19:22] konstantinjdobler commented on #1771
I am also experiencing this issue!

[2021-06-02 19:45] tyomhak commented on #2240
Hey @ashok-arjun , thank you for the request!

[2021-06-03 09:48] nicolas-dufour commented on #1297
Hi,
I have the same problem. I can't sync while training. My usecase is to run a job on a SLURM cluster which blocks outside connections. However, i can login through sshfs on a computer that got netwrok access.
Would it be possible to change the mode to online once in the sshfs folder, while the job keeps running on the cluster?

Thanks

[2021-06-03 16:38] tyomhak commented on #2242
Hey @konstantinjdobler , as far as I'm aware it's not possible yet. Thank you for the feature request :)

[2021-06-03 17:32] vanpelt commented on #1771
@xvr-hlt @konstantinjdobler we're working on a fix for this and hope to include it in the next release.

[2021-06-03 17:36] vanpelt commented on #2240
Hey @ashok-arjun if you want to configure multiple teams / account you can use environment variables instead of the `wandb login` command.  Simply set `WANDB_API_KEY` to the account you want to use in your environment and everything will work.  If you're using bash you could create a simple script to update your current shell environment, or you can do it directly in python by setting `os.environ[

[2021-06-03 17:38] konstantinjdobler commented on #2242
Hey @tyomhak, I have indeed just found a way to do this after inspecting the wandb source code. The following snippet does what I want:
[code]
It's easy enough to do once you know it, but I had to go digging to find it and it is not really intuitive. I can open a PR if you want to turn it into an additional argument for `wandb.save`, otherwise this should probably be added to the documentation of

[2021-06-03 17:51] konstantinjdobler opened #2251 "[CLI] RuntimeError: OrderedDict mutated during iteration"
I am getting a `RuntimeError: OrderedDict mutated during iteration` error whenever I try to do _any forward_ calls with a model that I have previously called `wandb.watch` on. **This does not happen when I do not call `wandb.watch` on the model**. I have manually tested all wandb versions from `0.10.27` and upwards and can confirm that this error only starts to appear in `0.10.30` and is not fixed

[2021-06-03 20:31] mmwebster commented on #736
Still not available? A derived metrics features would be extremely useful. Or at least being able to apply basic min/max/avg to a run's logged metric values, rather than just min/max/avg across runs' summary values

[2021-06-03 21:08] vanpelt commented on #736
@mmwebster totally agree.  We're hard at work on a new system that will eventually support this and there are some exciting possibilities it will unlock.   Unfortunately we don't currently have a timeline for exposing this in the experiments table but we'll update this ticket when we do.

[2021-06-03 21:10] vanpelt commented on #736
I'll also add that we've introduced a new metric api that makes this easy for future runs: https://docs.wandb.ai/ref/python/run#define_metric

For instance you could call `run.define_metric("acc", summary="max")` and this will automatically store both the latest and the max value in the summary for filtering.

[2021-06-03 21:42] mmwebster commented on #736
@vanpelt Fantastic, looking forward to it! And thanks for mentioning `define_metric()`, that's actually really useful

[2021-06-04 16:13] cvphelps commented on #2251
Hi @konstantinjdobler thanks for reporting this. @borisdayma could you please take a look.

[2021-06-04 16:21] cvphelps commented on #2241
@NumberChiffre I recommend using wandb.Histogram() instead, this allows you to see all steps in one histogram

[2021-06-04 16:25] tyomhak commented on #2239
Hey @versae , thanks for reporting this. We're looking into it.

[2021-06-04 16:28] tyomhak commented on #2233
Hey @chenbong , can you check if adding `wandb.finish()` at the end of main main code fixes the issue?

[2021-06-04 16:30] tyomhak commented on #2211
Hey @dreamflasher , thanks for the request :)

[2021-06-04 16:41] dreamflasher opened #2252 "[Feature] Make sweep controls available via API"
**Is your feature request related to a problem? Please describe.**
I want to programatically resume a sweep (eg. after it's finished, some runs fail, I want to delete the runs via the api and then resume the run). Also I want to know the current run state via the API.

**Describe the solution you'd like**
Give access to sweep status and controls via API.

[2021-06-04 17:41] vanpelt commented on #2252
Hey @dreamflasher the latest library exposes this in [the CLI](https://github.com/wandb/client/blob/master/wandb/cli/cli.py#L643-L666).  You can run:

[code]

[2021-06-04 20:14] dreamflasher commented on #2252
That's the CLI and not the API. Also it doesn't include getting the current status. Could you reopen?

[2021-06-04 21:33] vanpelt commented on #2252
Sorry @dreamflasher.  That code is calling our internal api: https://github.com/wandb/client/blob/master/wandb/apis/internal.py#L105-L118

We should port it into our public api I'll keep this open.

[2021-06-05 12:31] chenbong commented on #2233
Yes, if I add `wandb.finish()`, it works well. Thanks your reply.

[2021-06-05 12:32] #2233 closed

[2021-06-06 14:08] minhlong94 commented on #1832
+1 for this feature

[2021-06-06 20:07] GeraldCSC opened #2255 "[CLI] Recursion error when saving a numpy array with dtype float 128"
**Description**
Hi there, there seems to be a bug when trying to log a np.float128 array onto wandb. It ends up giving a "RecursionError: maximum recursion depth exceeded in comparison" error. Code to reproduce it is attached below.

**Wandb features**
wandb.log and init.

**How to reproduce**
[code]

**Environment**
Weights and Biases version: 0.10.31
Python version: 3.9.5

[2021-06-06 20:37] mjohenneken opened #2256 "Boxplot wrong range in reports[App]"
**Describe the bug**
A picture says more than a thousand words.

The position and range of the vertical boxplot is plotted wrong. In the first screenshot, the range of the green plot is visible.

**To Reproduce**
It's not clear to me why it happens.
- Originally the issue was on two plots. I managed to fix one by deleting it and recreating it.
- Reloading of the page does not help
- Maybe a numeri

[2021-06-07 07:38] vib2810 opened #2258 "Client: "Step must only increase in log calls" solution is to not set "step""
**Description**
- When you stop the wandb script, the step count is always one number higher than the epoch count (I log values at every epoch).![image](https://user-images.githubusercontent.com/35529327/120993023-c9d7f400-c7a0-11eb-9465-1c89b3375b31.png) (Here step=3 but the last log was at epoch=step=2)
- This is because of wandb.watch() which logs values at step=3 even though no value is logged

[2021-06-07 16:20] cinjon opened #2259 "[Q] Is it possible to recursively upload a tensorboard directory?"
I don't see a way to do this in the docs, but could just be missing it.

[2021-06-07 18:07] vanpelt commented on #2255
Hey @GeraldCSC we've fixed this and hope to get a new release out with the fix this week.

[2021-06-07 18:12] vanpelt commented on #2258
Hey @vib2810 we suggest not using the `step` argument in this case.  You can log a custom step as one of the metrics in your wandb.log calls.  A future release may support steps going back in time, but currently does not.

[2021-06-07 18:20] vanpelt commented on #2259
`wandb sync path_to_tensorboard_dir`.  If you have multiple experiments, you'll want to call `wandb sync` for each experiment directory.  You can also do this via python with:

[code]

[2021-06-07 18:20] #2259 closed

[2021-06-07 18:21] vanpelt commented on #2259
Here's a link to the SDK method: https://github.com/wandb/client/blob/master/wandb/apis/public.py#L259

[2021-06-07 18:28] GeraldCSC commented on #2255
thank you!

[2021-06-07 18:47] epwalsh commented on #2251
I'm seeing this as well using our W&B training callback in AllenNLP with `watch_model=True`.

![image](https://user-images.githubusercontent.com/8812459/121072347-f3375680-c785-11eb-8449-ff4bfdd72fad.png)

[2021-06-07 18:47] maivincent commented on #2183
I am experiencing the same bug on a very big sweep. It happens once the number of runs is higher than 3000 (around 3200 or 3300).

[2021-06-07 18:53] dannygoldstein commented on #2183
@tsholmes redeploying your backend changes to sweeps with some rate limiting would fix this

[2021-06-07 18:54] #2255 closed

[2021-06-07 19:05] dannygoldstein commented on #2183
@maivincent we have figured out the issue here and are working on a fix. we
have to update some things on our backend. we hope to have this ready soon
for a future release.

[2021-06-07 19:43] cwaubert commented on #1081
After upgrading from 0.10.30 to 0.10.31 I am running into the same problem:
- end of run in not detected hence my program won't finish

[2021-06-07 21:33] vanpelt commented on #1081
@cwaubert can you try adding `wandb.finish()` in your loop or use a context block, i.e.

[code]

[2021-06-08 03:52] vib2810 commented on #2258
Hey @vanpelt thanks for the response.
So what you are suggesting is
`wanbd.log({epoch=.., others values to log}`
Since no step argument is given, it will log at the next step. Although this will create an offset between epoch and step, but ya is a possible temporary fix.
Looking forward to allowing logging at past steps as well
Thankyou

[2021-06-08 07:17] cwaubert commented on #1081
@vanpelt thanks for the quick response! That seems to work for single runs.
However, I am trying to run a sweep and here it won't change from one run to the next. Works like a charm with 0.10.30 though!

[2021-06-08 18:52] vanpelt commented on #1081
This sounds like a regression.  Can you send us a minimal example that reproduces this problem?

[2021-06-09 07:38] yllgl opened #2265 "[Q]How to run self-hosting using Singularity?"
I want to run W&B locally, Could anybody give me an example for self-hosting using Singularity, not docker? I can't install docker on my computer because I'm not an administrator, but Singularity is availiable. I learn that Singularity could run docker image. So if possible, I want somebody to help me to use Singualrity to run self-hosting.

[2021-06-09 10:18] Skerre commented on #1153
I once tried to run wandb in my jupyter notebook file and since then this error pops up in every other context. Inside of spyder, it will give me the same error, somehow assuming that wandb is connected with jupyter notebook, but it isnt.
I deleted wandb multiple times, i tried to find and delete every logfile there is, every folder I could see. I also reinstalled urllib3 and requests multiple tim

[2021-06-09 14:35] YigitDemirag commented on #280
I am starting getting the same error
[code]

[2021-06-09 15:30] karolpiczak opened #2266 "[Feature] Option to fetch history rows with undefined keys"
I don't see an efficient way to get a history object for a number of runs where the desired keys might not be available in some of the runs.

One option is to fetch all keys and filter locally, which is especially impractical for media types which I don't need in many situations. An alternative approach requires an accurate knowledge of run/key mapping and building from smaller queries. Unfortunat

[2021-06-09 15:41] jsbroks commented on #280
@YigitDemirag Issue is fixed. You can check https://status.wandb.com/ for status updates.

[2021-06-09 15:57] vanpelt commented on #1213
@alekhka you can run `wandb sync --clean`

[2021-06-09 15:58] vanpelt commented on #2265
Hey @yllgl we don't officially support singularity.  You should be able to follow existing tutorials on running docker containers in singularity however.

[2021-06-09 16:00] vanpelt commented on #1153
@Skerre this error is actually not related to querying for the notebook name.  Python is unable to verify the security of the connection to api.wandb.ai.  This usually indicates you're running behind a proxy that is intercepting the traffic and invalidating the SSL certificate.  Do you know if there is a proxy running in your environment?

[2021-06-09 17:22] yqsony commented on #2251
We had a same issue when running in 0.10.30. We had to revert back to an earlier version.

[2021-06-09 17:23] ishandutta0098 opened #2268 "[CLI] Wandb Taking significantly long time to execute code"
# Description
I have been performing multiple experiments by running my code with and without wandb integration and I see a significant  difference in code execution time when I integrate wandb. I am working on a Multilingual Text Classification Problem using mBERT with Mixed Precision and Multi-GPU training using Huggingface Accelerator.

**Here are my experiments:**
[code]

# Program Engine
[cod

[2021-06-09 17:29] yqsony opened #2269 "[CLI] Error while calling W&B API: Error 1213: Deadlock found when trying to get lock"
**Description**
I was running a pytorch training session for three days. There seemed to be a network issue last night. But the wandb crashed when it tried to resume network connection

wandb: Network error (ReadTimeout), entering retry loop.
wandb: Network error resolved after 0:11:03.206268, resuming normal operation.
wandb: ERROR Error while calling W&B API: Error 1213: Deadlock found when tryi

[2021-06-09 17:52] borisdayma commented on #2251
Just letting you know it's being worked on. Hopefully we'll have a fix for next week.

[2021-06-10 01:20] borisdayma commented on #2251
To all, I didn't have your specific example so could not test against it.

Feel free to check against PR #2271 to see if this fixes your issue :crossed_fingers:

[2021-06-10 01:54] yllgl commented on #2265
Could I run self-hosting without root?
I think it's a huge problem because I'm not administrator.

[2021-06-10 03:47] yllgl commented on #2265
Could you tell me which file I should run if I'm in containers? I use singularity shell to run wandb, and want to run wandb manually.
[code]

[2021-06-10 08:36] richardrl commented on #1016
Just saw too many connections error in the dashboard

![image](https://user-images.githubusercontent.com/5181990/121493079-74b8ff80-c9a5-11eb-857b-3ac27610e925.png)

[2021-06-10 11:23] #2265 closed

[2021-06-10 11:48] Skerre commented on #1153
@vanpelt I don't know of any proxies, the machine is currently not located within my reach but what confused me was the fact that it worked 3 days ago, the first time I tried, but the day after not anymore.

[2021-06-10 12:40] shivamiitgoa commented on #1370
Following code works fine for me on windows 10.

[code]

[2021-06-10 14:34] ishandutta0098 opened #2275 "[CLI] ValueError: You can only call `wandb.watch` once per model."
# Description
I am training a multilingual BERT model with HuggingFace Aceelerator and wandb integration. The code gives a `ValueError` when I run it on a single GPU. I have only 1 instance of the model, then why do I get this error?

# Error
[code]

# Program Engine
[code]

# Environment
- Jupyter Lab
- Python 3.6.10 :: Anaconda, Inc.
- GPU:  Quadro RTX 6000
- wandb, version 0.10.31

[2021-06-10 18:56] vanpelt commented on #2275
@ishandutta0098 you can only call `wandb.watch` once per model.  Because you're calling `train_fn` multiple times in a loop, which then calls `wandb.watch` on the model, the second iteration of your loop triggers this error.  You can move your call to `wandb.watch` outside of the loop.

[2021-06-10 19:12] vanpelt commented on #2132
Hey everyone,

We just released 0.10.32 of our library that should address the issues around syncing offline runs.  I'm going to close this issue but please add comments with any errors you may be seeing with the latest release of the library.

[2021-06-10 19:13] vanpelt commented on #2130
Hey everyone,

We just released 0.10.32 of our library that should address the issues around syncing offline runs.  I'm going to close this issue but please add comments with any errors you may be seeing with the latest release of the library.

[2021-06-10 19:13] #2130 closed

[2021-06-10 19:13] vanpelt commented on #1297
Hey everyone,

We just released 0.10.32 of our library that should address the issues around syncing offline runs.  I'm going to close this issue but please add comments with any errors you may be seeing with the latest release of the library.

[2021-06-10 19:15] vanpelt commented on #2251
Hey everyone,

We just released 0.10.32 of our library that should address this issue.  I'm going to close this issue for now but please feel free to add comments with any errors you continue to see with the most recent release of the library.

[2021-06-10 19:15] #2251 closed

[2021-06-10 19:44] vanpelt commented on #2268
@ishandutta0098 `wandb.watch` adds hooks to your model which will impact execution time.  To limit the performance impact we default the `log_freq` argument of wandb.watch to 1000.  Since you've changed it to 10 it will query all of the weights in the network every 10 iterations which will have a big performance impact.  Either remove your call to wandb.watch or increase the `log_freq`.  If you're

[2021-06-10 19:44] #2268 closed

[2021-06-10 19:49] vanpelt commented on #2269
Thanks for reporting, we'll look into the root cause.  What version of wandb were you running?  You can run `wandb sync path_to_run_directory` to push any unstreamed metrics to the server.

[2021-06-10 19:59] vanpelt commented on #1016
@richardrl we had an outage last night that caused these errors.  Everything should be functioning properly now.

[2021-06-10 20:01] vanpelt commented on #1395
@cinjon unfortunately we do not support adding new history metrics to historic runs.  The best thing to do would be to use our public api to pull down the old metrics and create a new run with all of the metrics and checkpoints logged.

[2021-06-10 23:42] yqsony commented on #2269
I was running it in 0.10.28. Yes, I was able to upload the data later by Wandb sync. Thanks, -Quan

[2021-06-11 07:11] soumickmj commented on #1526
I am facing this same issue with 0.10.32
However, after running wandb sync, it worked.
But this can only sync the data, but not resume the run.
One training is going on for 24 hours, wandb crashed after 3. I could sync now. But this will continue for few more hours and I would like to see it live in the running state on my wandb account. Any suggestions? Thanks.

[2021-06-11 07:48] Skerre commented on #1153
Works. Thanks

[2021-06-11 09:59] konstantinjdobler commented on #1771
Checking to see if this fix made it into the 0.10.32 release @vanpelt

[2021-06-11 15:44] vanpelt commented on #1771
It did not make it into the latest release, we expect better multi processing support in the next release.  You can likely set the WANDB_START_METHOD=thread environment variable to fix this specific issue.

[2021-06-11 17:37] cvphelps commented on #2266
@karolpiczak you're right, currently we only return rows with _all_ instead of _any_ of the keys present. Thank you for suggesting this improvement. We're not going to address this soon, but we'll keep in our backlog.

[2021-06-11 19:17] cvphelps commented on #2256
Oof thanks for reporting this

[2021-06-11 19:51] manuel-delverme opened #2281 "[CLI] Sweep creation name parameter"
Usage: wandb sweep [OPTIONS] CONFIG_YAML_OR_SWEEP_ID

  Create a sweep

Options:
  -p, --project TEXT  The project of the sweep.
  -e, --entity TEXT   The entity scope for the project.
  --controller        Run local controller
  --verbose           Display verbose output
  --name BOOLEAN      Set sweep name
  --program BOOLEAN   Set sweep program
  --update TEXT       Update pending sweep
  --sto

[2021-06-11 19:55] cvphelps commented on #2256
@mjohenneken could you please share a link to the page where this box plot issue was showing up for you?

[2021-06-12 07:20] mjohenneken commented on #2256
I shared the panel via mail

[2021-06-12 22:41] joelrorseth commented on #2265
Hey @yllgl, thanks for raising this issue. I am also trying to self-host using Singularity, which is my only option given that sweeps are not supported in offline mode, and that my HPC system is not connected to internet. I feel like this issue deserves more attention, as I'm sure many researchers will use wandb with offline HPC systems.

I was able to create a Singularity image (eg. `wandb.sif`)

[2021-06-13 02:56] yllgl commented on #2265
@joelrorseth make sure your error is the same as me. If not, I can't help you.
[code]
As you can see, the main error is `Read-only file system` error. So all you should do is to make the file system writable.
Firstly, check you could run command `singularity shell wandb.sif` successfully. For me , it can only run in compute node, otherwise an error occurs when running in login node.
All you need i

[2021-06-13 21:36] joelrorseth commented on #2265
@yllgl Thanks for the quick reply! Yes this is exactly the error I am getting, `OSError: [Errno 30] Read-only file system:`.

I tried your steps, which all work just fine, expect for copying those fives directories to `/tmp` in Step 2. Since I don't have sudo access on my HPC system, I get permission denied errors when copying several files located within `/etc` and `/var`. Did you experience this

[2021-06-13 22:00] manuel-delverme commented on #507
+1 to this, i've we think in base 10, not e :D

[2021-06-14 00:28] NguyenAnhTien opened #2282 "[CLI] Integrate Wandb SWEEP into Python Script Error"
**Description**
I tried to integrate Wandb sweep into Python script. Inside my script, I call
wandb.agent(sweep_id, train(), count=5) with the following configuration
sweep_config = {
            'method': 'random',
            'metric' : {
                'name' : 'loss',
                'goal' : 'minimize'
            },
            'parameters' : {
                'optimizer': {

[2021-06-14 06:08] AntivistRock commented on #2092
@JohnnyC08, I found the solution for KFold problem. It is not 100% great, but it is good according to the documentation. In fact CV example requres to start sweeps by these commands:

So, you need to make your oun `.yaml` file with your hyperparameters and name of your `.py` script with sweep code (it is easy enough, there is the [example](https://github.com/wandb/examples/blob/master/examples/wan

[2021-06-14 07:23] Fitz13009 opened #2284 "Distinguish network with labels when watch more than one networks gradients and weights"
Hi,

I am asking for this new feature because I got quite confused when I watch multiple networks at the same time in one run. In my case there are 4 different networks (nn.Modules) and each of them have multiple Linear Layers. Thus when I look at e.g. the gradients in the dashboard, there will be 30+ figures without meaningful caption on it.

**Describe the solution you'd like**
Add one more func

[2021-06-14 08:12] yllgl commented on #2265
After running first time will delete /home/wandb files automatically, I don't know if it will delete other files. So I copy those `/etc`,`/home`... directories again when running second time. And I upload `/etc`,`/var` for you. I think it will help. If not, I have no idea.
[var_etc.zip](https://github.com/wandb/client/files/6646624/var_etc.zip)

[2021-06-14 08:38] bsridatta commented on #1081
This seems to be resolved in 10.32

[2021-06-14 10:43] jaideepheer opened #2285 "[App] Team admin can set himself to Member and lock out team Admin settings (even when he is the only person in team)"
**Describe the bug**
Create a new team.
Goto team settings page.
In the invite text box, write your own username and select 'Member' in the dropdown.
Click Invite.
Weep and cry.

**Expected behavior**
Don't let team Admins be this stupid.

**Additional context**
I did this to my team and now I want to fix it, pls help.

[2021-06-14 11:21] diegoquintanav opened #2286 "Got `AttributeError: 'NoneType' object has no attribute 'entity'` when using artifacts in offline mode [CLI]"
**Description**
Hello! I wish to use an artifact in offline mode that I have downloaded previously, and I'm getting an error, described below.

I am debugging a model, and pushing and pulling data from `wandb` is not necessary since these runs are not meant to be analyzed. I'm using the use_artifact method in my training method, but in offline mode, this is not possible. The dataset:v1 is already

[2021-06-14 13:42] MartFire commented on #2132
Hi, it still not working for me with 0.10.32.
Now I have the error
`.wandb file is empty (header is 0 bytes instead of the expected 7)`

[2021-06-14 17:37] jimona commented on #675
yeap, modifying fontsize would be very useful when sharing reports with C-level staff.

[2021-06-14 17:43] tyomhak commented on #2285
Hey @jaideepheer , thank you for reporting this. We'll get this fixed.
Can you please write in through the web app chat-box with the your team details, so we could fix your case directly?

[2021-06-14 17:44] vanpelt commented on #2285
Hey @jaideepheer if you give us the team name and your username our support staff can fix your issue.  We'll also be tracking this bug to make the UI more clear here.

[2021-06-14 17:50] vanpelt commented on #2132
@MartFire yep, that used to throw an exception and an ugly error.  Now we print a warning saying nothing has been synced yet, and retrying again should start syncing once the data's been flushed to disk.

[2021-06-14 17:52] tyomhak commented on #2281
Hey @manuel-delverme , can you please share the details on how you got this? Also, which wandb version are you using?

[2021-06-14 17:58] MandiZhao commented on #2286
Looks like without context manager, the entity and project names aren't being auto-added, this should be fixed but one current work-around is specifying the full path to your desired artifact:
[code]

[2021-06-14 18:40] vanpelt commented on #2282
Hey @NguyenAnhTien can you share the errors / stack trace you're actually seeing?  We generally only recommend using `wandb.agent` inside of jupyter notebooks.  Ideally you would specify the python program to run in your sweep.yaml and then run `wandb agent XXX` from the command line.

If running from the command line isn't an option, you could try setting the WANDB_START_METHOD=thread.

[2021-06-14 18:45] vanpelt commented on #2281
This llkes a bug, we should change this line to be `default=None` instead of `default=False`

[2021-06-14 18:51] vanpelt commented on #2284
Thanks for the feature request, we'll track it here.

[2021-06-14 18:53] manuel-delverme commented on #2281
I'm not able to reproduce it myself, but it was in a bug report for my repo (https://github.com/ministry-of-silly-code/experiment_buddy/)
![image](https://user-images.githubusercontent.com/1309922/121943527-f74d1080-cd51-11eb-8278-48e13a63b138.png)

https://github.com/wandb/client/commit/b653c333680a71b77956dfd9b39a95798d719c8c#diff-7a44f7c1d012d75ecf9ae33152ba567bdf056ba3998cc86948298cd34508b564

[2021-06-14 18:59] jaideepheer commented on #2285
Hi, I have provided my details via the chat app. I'll provide them here too,

My username is: jaideep (https://wandb.ai/jaideep)
The team with the problem is: https://wandb.ai/teams/rcai

I created another team to reproduce this and have ended up in the same
situation there, https://wandb.ai/temp_team

I have created an issue on GH for the same:
https://github.com/wandb/client/issues/2285

On Mon,

[2021-06-14 19:14] vanpelt commented on #2285
Just fixed the `rcai` team!

[2021-06-14 19:26] jaideepheer commented on #2285
Yes `rcai` is fixed, thanks.
Could you also fix [`temp_team`](https://wandb.ai/temp_team), same issue.

[2021-06-14 21:26] vanpelt commented on #2285
Done

[2021-06-14 21:27] jaideepheer commented on #2285
Thank you.
Should I close this issue?

[2021-06-14 21:31] vanpelt commented on #2285
Let's keep it open so we can prevent users from getting into this state in the future.

[2021-06-15 04:25] honguyenhaituan opened #2290 "[App] Visualize bbox wrong"
**Describe the bug**
The visualize bbox image in wandb don't correct when image has different size.

**To Reproduce**
Steps to reproduce the behavior:
1. I change code yolov5 to save the original image
[code]
[code]
[code]
2. Click see "Bounding Box Debugger/Images" on the web

**Expected behavior**
The bbox correct visualize in each image.

**Screenshots**

![image](https://user-images.githubuser

[2021-06-15 08:12] diegoquintanav commented on #2286
@MandiZhao in both cases (context and without context manager) I get  `' '` from `run.entity`. However, I tried `diegoquintana/camper/camper-aggregate:v1"` (assuming my entity is my username), and it downloads a copy in `$cwd` and it does not reuse the file already present in `. This happens only if I don't specify `project` and `entity` in `run`.

[code]

I guess that I was expecting that the `di

[2021-06-15 08:37] MauritsBleeker opened #2292 "[Q] Huge .wandb file?"
![Schermafbeelding 2021-06-15 om 10 31 11](https://user-images.githubusercontent.com/44800747/122020165-d07bf200-cdc4-11eb-855c-6eb6d2da7586.png)

Hello all,

I have a question about the *.wand file in the local .wandb folder. In my opinion, it is way too big for what it should be? It is ~ 6GB, for only one experiment/run.

I log some statistics every 10th iteration, including the gradients. Are t

[2021-06-15 08:39] MauritsBleeker commented on #2292
Also, is there a (within wandb) way to delete the local file when training is done?

[2021-06-15 10:47] diegoquintanav commented on #2286
I found a way to achieve b), but it's clunky

[code]

It still does not work offline though :(

[2021-06-15 16:54] LucaUrbinati44 commented on #2179
I have the EXACT same issue `AttributeError: 'NoneType' object has no attribute 'item'` with the same traceback:
![traceback](https://user-images.githubusercontent.com/25516806/122092637-7140d080-ce0a-11eb-9a59-a5b5bb194c6a.jpg)

In accordance with this issue [https://github.com/wandb/client/issues/724](url), I also experience this: `This doesn't happen all the time but randomly like 1 out of 3 ti

[2021-06-15 19:08] vanpelt commented on #2179
@LucaUrbinati44 thanks for the report.  We'll be pushing a fix in the next release, next week.

[2021-06-15 19:30] vanpelt commented on #2292
`.wandb` contains a detailed transaction log of all data logged.  It's usually in the 10's to 100's of megabytes.  We generally suggest you log metrics no more frequently than once per second.   Depending on the speed of your network, 10 forward passes is likely too frequent.  Gradients should generally be logged once every 10-60 seconds as it will add overhead to your training script to pass that

[2021-06-15 19:30] #2292 closed

[2021-06-15 19:39] jsbroks commented on #2290
Hi @honguyenhaituan, sadly this is a known issue.

We have plans to fix this but currently it requires a large underlining change. You should be seeing an [warning message](https://github.com/wandb/client/pull/1477) when logging images of different sizes.

Alternatively you can give [tables](https://docs.wandb.ai/guides/data-vis) a try which should not have the same issue.

[2021-06-15 19:48] MauritsBleeker commented on #2292
Thanks

[2021-06-15 20:02] d3sm0 opened #2296 "[CLI] wandb.cli.cli.sweep name parameters requires a boolean"
**Description**
The default option for `--name` seems to be False, this cause the type of the name argument for the sweep cli command `--name` to be boolean. It appears that this might refuse any other non boolean type for the `--name` argument, for example a string.

https://github.com/wandb/client/blob/5a65037a435cbc8a885ab78fe5f23b8d7e10f5d2/wandb/cli/cli.py#L639

**Wandb features**
`wandb swee

[2021-06-15 21:48] ryanstout commented on #1227
I'm still seeing this issue, has this been fixed? Thanks!

[2021-06-16 02:14] cvphelps commented on #2256
Hi @mjohenneken what email did you send your repro to? Could you please message support@wandb.com?

[2021-06-16 12:43] 7Z0nE opened #2299 "[CLI] wandb.agent() does not pass config parameter to train function"
**Description**
I am trying to run a sweep using the python sweeps api but wand fails with an erro upon calling wandb.agent(...)

**Script output**
[code]

**Script (for reproduction)**
[code]
**Environment**
- OS: [Linux version 5.12.10-arch1-1 (linux@archlinux)]
- Environment: [conda]
- Python Version: [eg. 3.9]
- wandb version: [0.10.32]

[2021-06-16 16:47] vanpelt commented on #2299
This is correct.  Instead of passing in config as an argument you can access it via `wandb.config` or `wandb.run.config`.  You should be calling `wandb.init` inside of your `train` function.  After which you'll be able to access the current trials config.

[2021-06-16 16:47] #2299 closed

[2021-06-16 22:26] vanpelt commented on #1227
@ryanstout can you share the stack trace that you're seeing and the version of wandb you're using?

[2021-06-17 12:56] 7Z0nE commented on #2299
Thanks a lot for clearing this up!

[2021-06-17 13:10] artur-deluca opened #2303 "[Q] Is there a way to merge sweeps?"
Hello everyone,

I've executed two random sweeps with the same set of hyperparameters. I was wondering if it's possible to bundle their runs and analyze them all at once as a single sweep.

Thanks in advance!

[2021-06-18 00:47] Sun-Rider opened #2304 "[CLI] Repetitive print "W&B offline, running your script from this directory will only write metadata locally.""
**Description**
**When using the wandb for the pytorch ddp, it continues print out the same sentence over and over again.**
Here is the output log:

W&B offline, running your script from this directory will only write metadata locally.
W&B offline, running your script from this directory will only write metadata locally.
W&B offline, running your script from this directory will only write metadata

[2021-06-18 01:23] Sun-Rider commented on #2304
The problem sovled by claim offline within master rank, stupid me....
[code]

[2021-06-18 01:23] #2304 closed

[2021-06-18 07:07] qsh-zh opened #2305 "[Feature] access run hostname through wandb.api"
**Is your feature request related to a problem? Please describe.**
get details about one run

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-06-18 08:52] diegoquintanav opened #2307 "[CLI] (Sweep API) `wandb.errors.UsageError: 400 Bad Request: Failed to decode JSON object: Expecting property name enclosed in double quotes`"
**Description**
I have this sweep config

[code]

**Wandb features**
[code]

produces

[code]

**How to reproduce**
Try to produce a sweep id with the config provided.

I don't know how to debug it, It seems to be coming from https://github.com/wandb/client/blob/c4548d3871c4cbdd8c253e46c912c95205bbc7f6/wandb/sdk/internal/internal_api.py#L1243 or https://github.com/wandb/client/blob/c4548d3871c4cbd

[2021-06-18 13:57] 7Z0nE opened #2308 "[CLI] Sweep on SLURM sbatch error: signal only works in main thread of the main interpreter"
**Description**
Running a sweep agent from a python script with wandb.agent results in a correct call of the training function but then at some point an error occurs:
[code]

I noticed this error only occurs from an sbatch. Running the sweep from an srun works fine!
`signal only works in main thread of the main interpreter` is still printed to std out but there is no error and the training script

[2021-06-20 09:25] RishalAggarwal commented on #1226
Hey, just wanted to check if there is a way now to check our storage

[2021-06-21 05:23] NumberChiffre commented on #2241
@cvphelps Thanks for the reply, I did use `wandb.Histogram()`. For my specific case, I have a step counter that aggregates many episodes (in reinforcement learning term), and another step counter that keeps track of episode counts, then another to keep track of the number of steps (an episode has many steps). I think its easier to just store the episode/step data and plot them in Matplotlib then p

[2021-06-21 05:23] #2241 closed

[2021-06-21 06:05] honguyenhaituan opened #2309 "[CLI] Log grid image with wrong color"
**Description**
I want to log a grid Image make by torchvision.utils.make_grid but the visualize image doesn't have the right color.

**Wandb Image**

**How to reproduce**
Fist I write log image like this:
[code]
and the resulting image
![image](https://user-images.githubusercontent.com/85393497/122713950-b9d80e00-d290-11eb-9be6-922298f78af7.png)
Then so I change the way init Image by the path:
[c

[2021-06-21 09:26] jh-yi commented on #1226
HI, I think you can check it here: https://wandb.ai/subscriptions

[2021-06-21 17:17] tyomhak commented on #2296
Hey @d3sm0 , I just tried the line below (with wandb 0.10.32), and it worked just fine:

`wandb sweep --name "sweep_name" config.yaml`

Can you try changing the single quotes around your sweep name to double quotes? Maybe that's causing the issue?

[2021-06-21 17:18] KyleGoyette commented on #2190
Hi @LunaJang Can you try syncing with a wandb version >= 0.10.31 and let us know if that has solved your issue?

[2021-06-21 17:28] vanpelt commented on #2309
@honguyenhaituan this is an issue with your data / `make_grid` it looks like your data isn't normalized in the same way across the different images you're displaying the in the grid.  Either make them all between 0 and 1 or 0 and 255

[2021-06-21 17:28] #2309 closed

[2021-06-21 17:41] tyomhak commented on #2303
Hey @artur-deluca , I think there's a couple of things you could do:

1. Create a [Report](https://docs.wandb.ai/guides/reports), and add the runs from both sweeps to the run set.

or

2. Seed a new Sweep ([docs](https://docs.wandb.ai/guides/sweeps/existing-project#seed-a-new-sweep-with-existing-runs)) with the runs from both of your sweeps that you want to join.

[2021-06-21 20:42] #2042 closed

[2021-06-22 07:42] Flunzmas opened #2314 "[Feature] Sort charts/media by name/creation time"
**Is your feature request related to a problem? Please describe.**

_(might be related to #1644 and #1650)_

I am training probabilistic generative models. During every epoch of my training procedure, I am logging images to WandB with a filename that goes something like `'%04d_prediction.png' % epoch` (so the epoch number is prepended with some trailing zeros), and in the client it becomes hard to

[2021-06-22 13:19] diegoquintanav commented on #2307
The error disappears when I change the key `"N"` in `"parameters"` to anything else e.g. `"name"`. `"n"` also raises the error. :man_shrugging:

[2021-06-22 17:12] LucaUrbinati44 commented on #1409
I had the same problem on a cluster, while on a local pc I don't experience it.

wandb version: 0.10.32

These are the wand logs:

debug.log
[code]

debug-internal.log
[code]

[2021-06-22 19:19] vanpelt commented on #1409
@LucaUrbinati44 can you try running your code with the `WANDB_START_METHOD=thread` env variable set?

[2021-06-23 07:45] richardrl opened #2315 "[Feature] OR logic for Filters"
**Is your feature request related to a problem? Please describe.**
I find myself needing an OR operation between filters all the time. It's very hard to select runs otherwise.

**Describe the solution you'd like**
In the filter screen, if I click checkmarks next to two filters, it does an AND operation between the filters. But for example, I want to find all runs that are "status=running" or "name

[2021-06-23 09:50] LucaUrbinati44 commented on #2179
I solved by creating my own callback instead of using WandbCallback():

[code]

[2021-06-23 09:58] LucaUrbinati44 commented on #1409
@vanpelt could you explain me where I should add this line of code, please? At the beginning of my script after `import wandb` or in another place? Thank you.

So far I solved this issue by using @chrischoy's solution with the `while True`.

[2021-06-23 13:57] vwxyzjn opened #2316 "[App] No longer can use the relative time as the x-axis"
**Describe the bug**
Hello, reporting a bug here. It seems that in the newer version of the wandb client, I could no longer use the relative time as the x-axis.
![bug](https://user-images.githubusercontent.com/5555347/123109073-edd63f00-d408-11eb-8cf7-9ac73004f8a4.gif)

**To Reproduce**
Steps to reproduce the behavior:
Here is a notebook that reproduces it:

1. Go to https://colab.research.google.

[2021-06-23 15:09] nsfabina opened #2317 "[CLI] Parsing hyperparam config appears to be broken in 0.10.32, works in 0.10.29"
**Description**
Parsing of hyperparam configs for sweeps appears to be broken in 0.10.32. I reverted to 0.10.29 and it works again. Don't know in which bugfix version the error was introduced. Here are the warnings I get:

[code]

Side-note 1:  I've seen config-parsing bugs fairly regularly in the wandb client. I've reported some in the past and I had actually pinned wandb at a much earlier versio

[2021-06-23 17:23] lukas commented on #2256
I believe that @altay fixed this by upgrading our plotting library - thanks so much for flagging this and please reopen if it is not fixed on your end.

[2021-06-23 17:23] #2256 closed

[2021-06-23 19:58] tyomhak commented on #2305
Hey @qshzh , thank you for the feature request :)

[2021-06-23 21:19] tyomhak commented on #2315
Hey @richardrl , thank you for the feature request! We'll bump up the priority for this feature.

[2021-06-23 21:27] tyomhak commented on #2317
Hey @nsfabina , thank you for reporting! cc @raubitsj @dannygoldstein

[2021-06-24 03:59] Tom-python0121 opened #2322 "make test failed about wandb@0.10.31 or wandb@0.10.32"
I'm having a test problem:
### Steps to reproduce the issue
[code]
Can you help me with it?

### Information on your system
[root@centos8 client-0.10.31]# pip3 --version
pip 21.1.2 from /usr/local/lib/python3.6/site-packages/pip (python 3.6)
[root@centos8 client-0.10.31]# spack debug report
* **Spack:** 0.16.1-1624-a0b5dcca3c
* **Python:** 3.6.8
* **Platform:** linux-centos8-aarch64
* **Concretize

[2021-06-24 07:23] Sun-Rider opened #2323 "[Feature] show the historical curves based on the same step."
I'm a beginner of the wandb, and I'm wondering is it possible to synchronize all the steps of the existing curves. From the observation, when I log the values based on the batch size, the existing curves might be really different. As you can see from the figure below,

![temp](https://user-images.githubusercontent.com/33716428/123219643-46423500-d50c-11eb-8a43-4cb39ba93504.png)

It will be nice if

[2021-06-24 18:33] vanpelt commented on #2323
@Sun-Rider if you're logging metrics at different intervals you can log a seperate metric as a unifying step.  Then you can choose a custom x-axis for all of your charts with the "X->" Icon in the upper right of your workspace or for individual metrics by editing the chart.  By default we increment our step counter every time you call `wandb.log`.  If you don't want us to increment that counter yo

[2021-06-24 18:33] #2323 closed

[2021-06-24 20:23] artur-deluca commented on #2303
Great! Thanks, @tyomhak

[2021-06-24 20:23] #2303 closed

[2021-06-24 20:36] vanpelt commented on #2322
We haven't seen this before.  It looks like your tox environment got corrupted somehow.  Can you try running: `tox -e mypy --recreate`

[2021-06-25 02:02] Tom-python0121 commented on #2322
@vanpelt
I tried it over and over and it kept reporting errors.
[code]
Do you have any good solutions?

[2021-06-25 03:21] vanpelt commented on #2322
I would suggest installing [pyenv](https://github.com/pyenv/pyenv) and creating a new environment in python 3.7 or 3.8.  Then then install tox and try running make test from there.

[2021-06-25 12:50] RobertCsordas commented on #2296
I have exactly the same issue. Changing the default=False to default=None solved it. I was running wandb 0.10.32, python 3.9, manjaro linux.

[2021-06-25 14:51] honguyenhaituan commented on #2309
@vanpelt I see in the data_types.py have this line (1685 - 1687)
[code]

And this is a description of torch.utils.make_grid
[code]
Then the problem occurs when my Image in the range [0, 1] but max and min does not equal to 1 and 0.

[2021-06-25 15:37] MatthewGleeson opened #2327 "[Q] Logging multiple models' performances when they depend on each other"
So I'm running experiments with probabilistic neural networks, where I first train a 'prior' neural network and then use this prior to train a 'posterior' neural network(whose performance is dependent on the prior). As such, I have 2 neural networks whose performances depend on sets of overlapping parameters, which I would like to evaluate as 2 separate networks but as a single Experiment.

I've c

[2021-06-25 18:01] tyomhak commented on #2314
Hey @Flunzmas, thank you for the feature request :)

[2021-06-25 18:04] tyomhak commented on #2316
Hey @vwxyzjn , thank you for reporting this issue. We're looking into it.

[2021-06-25 18:17] tyomhak commented on #2327
Hey @MatthewGleeson , I think an alternative solution to yours would be separating the metrics into sections, one for each network. Something like this:

[code]

This will automatically separate the metric charts into sections in the UI, like this (ignore the values):
![Screen Shot 2021-06-25 at 10 17 01 PM](https://user-images.githubusercontent.com/16812535/123468642-19247e00-d603-11eb-9981-c7402

[2021-06-25 18:26] tyomhak commented on #2308
Hey @7Z0nE , thanks for reporting.

re: As soon as I have found the time to create a simple reproduction script I will update the issue.
That would be great!

Also, can you confirm if this is the case with the latest wandb version?

[2021-06-25 18:55] dannygoldstein commented on #2317
Hi @nsfabina, what is happening here is that when you upsert a sweep schema, our backend validates it against a jsonschema to make sure it is properly formatted. Currently the JSONschema expects min/max limits for uniformly distributed parameters to be specified as floats instead of integers. This is to enable schema type inference. For example, on the backend,

`{min: 0, max:10}` parses to a para

[2021-06-25 18:56] dannygoldstein commented on #2317
https://github.com/wandb/sweeps/blob/master/tests/test_schema.py
https://github.com/wandb/sweeps/blob/master/tests/test_validation.py

[2021-06-25 19:12] nsfabina commented on #2317
Hey @dannygoldstein

I agree that your PR fixes the immediate issue here, but I think you've missed something about my issue that could potentially cause other problems. Your reply suggests that I've passed in integers and this is the root of the problem. This is incorrect. My config has floats in Python, e.g., `{'distribution': 'uniform', 'min': -20.0, 'max': -18.0}`. When the config is passed to

[2021-06-25 20:26] MatthewGleeson commented on #2327
Thanks for the tip @tyomhak ! I think your solution solves my current problems so I'll mark the issue as closed.

[2021-06-25 20:26] #2327 closed

[2021-06-25 21:07] vanpelt commented on #2309
@honguyenhaituan this code path is only reached if you pass a torch tensor into `wandb.Image`, if you want more control over how the images are created just call `vis_util.make_grid` yourself and pass a PIL image into `wandb.Image`.  We're just trying to do the most sane thing when we see a pytorch tensor, and according to the [docs](https://pytorch.org/vision/stable/utils.html#torchvision.utils.m

[2021-06-25 21:13] vanpelt commented on #2327
You could also consider creating two seperate W&B runs and using [grouping](https://docs.wandb.ai/guides/track/advanced/grouping) to combine them into a single experiment.

[2021-06-25 21:20] dannygoldstein commented on #2317
Hi @nsfabina thanks for following up !

I dug into this and found that it is actually a manifestation of this issue with a yaml library we use on our backend to parse sweep configs:

https://github.com/go-yaml/yaml/issues/430

I will put in a fix asap and let you know when it is in.

Thanks!

[2021-06-25 21:53] nsfabina commented on #2317
Cool, I’m glad we could figure this out. Thanks for your patience and your
help. Have a good weekend.

On Fri, Jun 25, 2021 at 16:21 Danny Goldstein ***@***.***>
wrote:

[2021-06-26 08:20] Tom-python0121 commented on #2322
@vanpelt It didn't work.The same error is reported.
[code]

[2021-06-26 11:28] mjohenneken opened #2329 "[App] Bar Chart Design Issue and Legend missing in Boxplot"
**Describe the bug**
The design of bar charts seems to have changed recently. The run_name is now displayed above the bars in the color of the run. While I think it is a valid way to label bar charts, I would argue that this is a less common way of doing it. But, I'm okay if the decision was made that this should be the new design. The old design allows for more runs in the same horizontal space.

[2021-06-26 11:30] mjohenneken commented on #2329
I might add that the display of 0 (DSM) looks odd as well

[2021-06-26 16:27] chanmi168 commented on #1608
@harritaylor Do you mind sharing your matplotlib and plotly versions? Thank you!

[2021-06-27 22:24] xjh19971 opened #2330 "[CLI] Get error when using wandb with multiprocessing package"
**Description**
With wandb, when I am using multiprocessing.Pool related function, it reports that it cannot find a corresponding function in my program.

**Wandb features**
wandb.init(), wandb.agent()

**How to reproduce**
Unfortunately, I cannot share the scripts, but I will describe the program's structure for you and let me know if you need more information.

[code]
The error message is:
[code

[2021-06-27 22:34] #2330 closed

[2021-06-28 07:54] evfro opened #2331 "[Q] How to programmatically launch runs belonging to specific sweep"
Following the example in https://github.com/wandb/client/issues/1063#issuecomment-635444635, I'd like to not just create multiple runs in the project, but also to assign them to different sweeps. A use-case scenario: each sweep corresponds to a different model with its own unique set of hyperparameters.

I tried local controller functionality, but it seems to work only with "offline" sweeps, e.g.

[2021-06-28 14:49] MatthewGleeson opened #2332 "[Q] Avoid logging to local filesystem but continue sending logs to W&B servers"
I'm running multiple training jobs on a computing cluster, which writes script outputs/W&B logs to my home directory. The cluster runs into problems when many compute nodes simultaneously try to create, read, or delete files in home directories, which causes jobs to fail. I'm experiencing this problem when I run more than a few training jobs with W&B logging.

I think my problem is that each W&B j

[2021-06-28 14:55] vanpelt commented on #2332
You can set the WANDB_DIR environment variable or the dir keyword argument of wandb.init to write to an ephemeral disk such as /tmp.  For disaster recovery and buffering reasons we need to be able to write to disk.

[2021-06-28 18:49] shawnlewis opened #2333 "[App] Issue sync test"
Testing internal issue syncing.

[2021-06-28 18:59] brett-daley commented on #1566
I have the same issue. I'm plotting a certain metric every 5000 steps. When the runs aren't group, the x-values are correct:
![MicrosoftTeams-image (8)](https://user-images.githubusercontent.com/20010659/123689299-11422500-d821-11eb-82bb-4c8f35de7019.png)
But when I group them, the x-values change to fractional values that don't align with the 5000 tick marks:
![MicrosoftTeams-image (9)](https://u

[2021-06-28 19:07] #2333 closed

[2021-06-28 21:40] MatthewGleeson commented on #2332
Thanks for the tip! I was able to get it working that way.

[2021-06-28 21:40] #2332 closed

[2021-06-29 00:12] NaRuecker commented on #1971
@GillesJ : I'm having exactly the same issue, after following the same tutorial. Could you figure out what was going wrong?
@ariG23498: I don't have any dots in the parameters... please, see below.

sweep_config = {
    "name": "trial 1",
    "method": "bayes",
    "metric": {"name": "accuracy", "goal": "maximize"},
    "parameters": {
        "num_train_epochs": {"min": 3, "max": 20},
        "le

[2021-06-29 00:31] dannygoldstein commented on #1971
hi @NaRuecker,

I believe this is due to your mixing of float and int types in `learning_rate`,

Please try changing

`{"min":0, "max": 0.1}` -> `{"min":0.0, "max": 0.1}`

Does that fix the issue?

[2021-06-29 00:57] vanpelt commented on #2140
This was fixed in 0.10.31

[2021-06-29 00:57] #2140 closed

[2021-06-29 01:06] vanpelt commented on #2322
Is your machine restricting access to the internet?  PyPy is unable to connect to files.pythonhosted.org to install the library.  It seems like a corporate proxy is returning a self signed certificate which python can validate.

[2021-06-29 02:11] vanpelt commented on #2331
@evfro the next release of the library due out in the next day or two should fix the interpreter issue.  In the meantime, the simplest solution may be to shell out and call agent as a seperate process.

[code]

As long as your sweep config specifies a "program" that will run the program and pass in the appropriate arguments.

[2021-06-29 02:18] vanpelt commented on #1409
@LucaUrbinati44 sorry for the delayed response.  The environment variable should be set anywhere before calling `wandb.init`.  You can set environment variables from the command line with:

[code]

Or directly in python with:

[code]

[2021-06-29 03:41] evfro commented on #2331
@vanpelt thanks for the quick answer! I'm not sure I understand correctly, by fixing "the interpreter issue" you mean it will no longer print a warning message for each run? Or do you mean that executing the line ` wandb.agent(sweepid, function=lambda: multi_run(n_runs), count=1)` will launch independent runs instead of recording everything into a single run?

[2021-06-29 15:47] vanpelt commented on #2331
@evfro I think I understand the issue now.  Sweep agents currently assume you'll launch a single run per agent.  This isn't tested, but if you want to run multiple runs you'll need to unset the run_id for every run but the first one, i.e.

[code]

[2021-06-29 19:06] evfro commented on #2331
@vanpelt that's a nice idea! Unfortunately, it seems that something still provides the same run_id to subsequent `wandb.init` calls and everything still gets logged into the first run. Do you know if there's any additional local cache of run specifications?

[2021-06-29 20:50] vanpelt commented on #2331
Hey @evfro we have an example that does something similar to what you want.  This may be helpful: https://github.com/wandb/examples/blob/master/examples/wandb-sweeps/sweeps-cross-validation/train-cross-validation.py

[2021-06-29 22:00] NaRuecker commented on #1971
@dannygoldstein : Great catch, but unfortunately same error.

[2021-06-30 07:14] vib2810wiai commented on #1227
Getting a similar issue with using joblib with wandb. The code works fine if used without wandb init and logging

With backend 'multiprocessing'
[code]
With backend 'loky'
[code]

[2021-06-30 14:37] rafi-cohen commented on #2202
Any update on this?

[2021-06-30 17:48] evfro commented on #2331
@vanpelt thanks! This code, unfortunately, doesn't do exactly what I'm trying to achieve.
When it resets env with `reset_wandb_env` function, information about `sweep_id` is gone as well. All independent runs are then grouped using the `group` argument of the `init` function (see [this line](https://github.com/wandb/examples/blob/d071f0d4ff11064a70dded91ae1cbdb62d9c2e6d/examples/wandb-sweeps/sweep

[2021-06-30 22:47] zplizzi opened #2342 "Parameters are not logged when model is watched with log='all'"
**Description**
This is the same bug as in #1471, which was closed without resolution of the problem.

When using `logger.watch(model, log='all', log_freq=1)`, the gradients are logged, but the parameters are not.

I am also using pytorch lightning, as was the author of that issue, so perhaps that's related.

**How to reproduce**

I don't have a clean way to reproduce. When I tried to reproduce th

[2021-06-30 23:37] zplizzi commented on #1917
I strongly support this. I start a ton of runs when debugging or developing, and delete most of them in batches later. I tag my good runs, but it's still way too easy to accidentally permanently delete an important run when doing these frequent clean-ups. Would love to be able to set a "deletion lock" on good runs.

[2021-07-01 00:35] #2317 closed

[2021-07-01 04:02] evfro commented on #2331
In addition to my previous post, if I change the reset command from
[code]
to
[code]
then, once again, everything gets recorded into a single run, although into the specified sweep. So, basically, we discovered only two modes:
1. multiple runs but ignored sweep_id,
2. acknowledged sweep_id but single run.

Neither solve my problem. 🙂

I still really hope that it is possible to have multiple runs t

[2021-07-01 12:34] kevinNejad opened #2344 "Wandb never resume after network error resolved [CLI]"
**Description**
The wandb logging stopped due to the HTTPError (500 Server Error: Internal server error for url ...). However, the network error resolved and "resuming normal operation" was printed out. But the log aren't updated on the web app anymore.

**Wandb features**
I am using PyTorch Lightening, with "ddp" backend. I'm also running my model on a HPC cluster.

**Environment**
- OS: [Linux]

[2021-07-01 16:11] tyomhak commented on #2296
@RobertCsordas  you're right! Mine was click==7.1.2, and after upgrading to 8.0.1 I got the same error.

I'm sharing this with the team, so we can get a fix for this.

[2021-07-01 16:22] dannygoldstein commented on #2296
This is fixed in 0.10.33

________________________________
From: Artyom Hakobyan ***@***.***>
Sent: Thursday, July 1, 2021 9:11:40 AM
To: wandb/client ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [wandb/client] [CLI] wandb.cli.cli.sweep name parameters requires a boolean (#2296)

@RobertCsordas<https://github.com/RobertCsordas> you're right! Mine was click==7.1.2, and after upgrading to 8

[2021-07-01 16:37] dannygoldstein commented on #2296
Fix here: https://github.com/wandb/client/pull/2328

[2021-07-01 16:37] #2296 closed

[2021-07-01 21:09] vanpelt commented on #2344
Hey @kevinNejad which version of the wandb client library were you using?  You can find this with `wandb --version` from the command line, or in the web UI by clicking the Overview icon in the upper left of the run page.

[2021-07-01 21:13] kevinNejad commented on #2344
@vanpelt thanks for the reply. The wandb version is 0.10.26

[2021-07-01 21:17] vanpelt commented on #2344
Thanks @kevinNejad.  This was a known issue that we fixed in [0.10.30](https://github.com/wandb/client/blob/master/CHANGELOG.md#01030-may-7-2021).  To prevent this from happening in the future be sure to run `pip install wandb --upgrade` in any environments you're running experiments in.  To fix the specific run that is missing metrics, if you can still access the directory it was run in you can f

[2021-07-01 21:17] #2344 closed

[2021-07-01 21:19] vanpelt commented on #2342
Hey Zack!  Good to know.  We recently refactored the hook logic but it looks like you're on the latest version.  Is it possible the other environment where this happened was using an older version of wandb?

[2021-07-01 21:30] zplizzi commented on #2342
Hey! The issue is definitely showing up on 0.10.33.

[2021-07-02 00:04] dannygoldstein commented on #2317
This is now fixed on the backend

[2021-07-02 01:32] vanpelt commented on #2202
Hey @rafi-cohen we haven't prioritized this fix yet.  Can you share a little more about your use-case and why the Tensorboard version of NaN rendering is important to you?

[2021-07-02 10:20] santelelle opened #2349 "[CLI] Error when trying to disable wandb"
**Description**
I am getting
`torch.nn.modules.module.ModuleAttributeError: '<my model name>' object has no attribute '_wandb_hook_names' `
when I try to disable wand either with the env variable WANDB_MODE=disabled or with wandb.init(mode='disabled')

**How to reproduce**
Minimal example
[code]

**Environment**
- Ubuntu 20.04
- Python Version: 3.7
- Pytorch version 1.7.1
- Wandb 0.10.33

[2021-07-02 17:04] cvphelps commented on #2349
@borisdayma could you please take a look

[2021-07-02 17:08] cvphelps commented on #2342
Hi @zplizzi thanks for letting us know! If you do manage to repro this, we'd love to get it fixed, but we haven't been able to track down the problem yet.

[2021-07-02 17:22] cvphelps commented on #2330
Hi there, this should be fixed in the next client release

[2021-07-02 17:48] zplizzi commented on #2342
Totally understand. Not sure I have time to track it down at the moment but I'll circle back if I do.

[2021-07-02 17:49] cvphelps commented on #2307
@diegoquintanav thank you for calling out this issue. @dannygoldstein could you please take a look? Might be related to your work on sweeps YAML validation

[2021-07-02 19:23] cvphelps commented on #2329
Thanks for your recommendation. We had to move the legend so it's legible for long names. We can look at changing the color of the text.

[2021-07-02 20:25] #2307 closed

[2021-07-02 21:12] alexandrehsd opened #2351 "[WB-5925][CLI] plot_feature_importances is plotting the features in the wrong order"
https://wandb.atlassian.net/browse/WB-5925

**Description**
The `plot_feature_importances` function is plotting the features in the wrong order because it sorts the `feature_names` array but it does not do the same to the `importances` array. Consequently, when the data is sent to the server, the `feature_names` does not match their respective importances.

**Wandb features**
This happens to the `

[2021-07-03 07:40] MartinXPN opened #2356 "[Q] The best way to plot Graphviz ovject"
Thanks for an amazing library and great work!

I'm wondering what would be the best way to plot a graphviz object in wandb?

I'm currently saving each graph (Digraph object in graphviz library) to a .png file and then log that as an image in wanbd.

Is there a better way to log graphs/graph objects?

[2021-07-03 12:11] VirajBagal opened #2357 "Getting error when using Sweep"
I have made the following sweep.yaml file:

[code]

I get the following error when I execute `wandb agent sweep-id`

[code]

[2021-07-03 19:00] nzw0301 commented on #2073
Hi, I'm a part-timer in Optuna team. We'll plan to implement W&B integration as a callback function in Optuna! Please check https://github.com/optuna/optuna/issues/2553 for more details and updates.

[2021-07-04 09:55] rafi-cohen commented on #2202
NaNs are fairly common in deep learning when things aren't working as expected.
In my case, my loss function started returning NaN mid-way through training due to an error in my end, and I wasn't aware of it because the graphs were misleading.

[2021-07-04 17:04] yuvsier opened #2359 "[bug] logging images in windows with bad dictionary keys fails without exceptions"
**Description**
In windows, calling `wandb.log({"my key: an identifier": wandb.Image(some_tensor)})` results in a successfully finished run, but the image is not uploaded.
The run summary message reports 0 media files, 0 artifacts etc., and the local directory holding the files (i.e. wandb/run-.../files/media/images) has a file with only the "my key" part and no extension with 0 Kb size.
In the ap

[2021-07-05 05:08] yllgl opened #2362 "403 response executing GraphQL."
**Description**
I just run wandb local using singularity, here is my output：
[code]
I'm able to successfully visit the website `http://localhost:8080`, everything seems ok. But when I run the following code in the notebook, an error occurs.
[code]
the output:
[code]
How could I solve this?

**Environment**
- OS: Linux gn8 3.16.56 SMP Mon Apr 23 15:52:50 CST 2018 x86_64 x86_64 x86_64 GNU/Linux
- En

[2021-07-05 12:53] santelelle opened #2363 "[App] Cannot delete a run"
**Describe the bug**
I am not able to delete a run (and relative artifacts). I am getting **context deadline exceeded**

**To Reproduce**
I tried in the following ways:

1. from workspace tab, press the 3 dots on the left of the run name -> **Delete run**. Select the checkbox **Delete ALL n output arifact(s)** and then press the button **Delete this run**
2. from table tab, same procedure
3. from

[2021-07-05 13:42] akshaykvnit opened #2364 "[Q] Turn off wandb logging for part of the code"
I'm using wandb with inbuilt tensorboard sync i.e. `wandb.init(project='project_name', sync_tensorboard=True)`. Is there a way to stop wandb from logging a specific `writer.add_...` while logging others?

For example, I have some `writer.add_scalar` and `writer.add_image` (for writing scalars like losses, metrics, etc. and visualizing images respectively). Since images take up a lot of memory and

[2021-07-05 14:59] yllgl commented on #1185
@vanpelt I encounter the same problem.
I just use wandb 0.10.33, and latest wandb/local. I use singularity to run wandb/local. I can visit wandb login page and everything seems ok. here is my running wandb/local.
[code]

however, when I use wandblogger in pytorch_lightning, there are some mistakes. My code is simple:
[code]
And error is like this:
[code]
Could anybody help me?

[2021-07-05 15:41] borisdayma commented on #2342
We use Pytorch hooks to log the parameters.

Are you doing the forward step in a non standard way (without using `model(inputs)` which uses `model.__call__()`).
If so, that could explain the issue.

There may be a way also to log the parameters manually otherwise.

[2021-07-05 19:03] zplizzi commented on #2342
Aha, that's what it was - I was calling `model.forward(inputs)` instead of `model(inputs)`. Once I changed that the parameters are being logged properly. I'll go ahead and close this issue, although it might be worth adding a note to the docs to help other people who are confused like me :) Thanks for the help troubleshooting!

[2021-07-05 19:03] #2342 closed

[2021-07-06 05:51] adnan33 commented on #1951
I am facing the same issue as well while using pytorch lightning.

[2021-07-06 18:14] chris-tkinter opened #2366 "[Feature] Remove columns from the runs table"
**Is your feature request related to a problem? Please describe.**
I have been using w&b for tracking my argparse args. However I often found that the one arg flag should be renamed or should be removed that completely. However the old arg flag still persists in the w&b ui.
For example, I think I no longer need the `folder_name` flag and would like to remove it from the w&b run tables as well. But

[2021-07-06 18:25] vanpelt commented on #1951
@adnan33 The next release of wandb due out in 1 week should fix this issue.  Until then you can try setting `os.environ["WANDB_START_METHOD"]="thread"` to see if that fixes the issue in colab.

[2021-07-06 18:30] vanpelt commented on #2362
@yllgl it looks like there's some kind of proxy in front of your wandb server that is returning a 403.  You'll need to configure the proxy to allow requests from wandb client or provide more details about how the proxy authenticates requests.

[2021-07-06 18:33] vanpelt commented on #2364
Hey @akshaykvnit currently there are no ways to control the granularity of which tensorboard events are logged.   I'm curious what kinds of memory issues you're seeing, we flush images to disk as we get them so we shouldn't cause aggresive memory pressure on your instance.

[2021-07-06 18:35] vanpelt commented on #1185
The `requests.exceptions.HTTPError: 403 Client Error: Forbidden for url: http://121.16.25.13:8080/graphql` indicates either the api key / user you're logged in as doesn't have access to this project or you have a proxy infront of the wandb server that is requiring additional authentication.  When you access the website via a browser are you prompted to login with your own authentication system?

[2021-07-06 18:37] vanpelt commented on #2356
Not currently, but we'll keep this ticket open so we can update it if we ever support digraph objects directly.

[2021-07-06 18:42] vanpelt commented on #2073
@nzw0301 this is awesome!  Let us know if we can help in any way.

[2021-07-06 18:59] vanpelt commented on #2359
Thanks for flagging this, it's indeed because of the way windows file systems work.  We'll fix this in a future release.

[2021-07-06 19:13] dannygoldstein commented on #2357
Hi Viraj,

Sorry you ran into this - when starting a sweep with `agent`, you need to pass the full sweep path,

`wandb agent vbagal/axial_disc_classification/o2v6ld0v`

rather than just the sweep name

`wandb agent o2v6ld0v`

When I run the command above ^^ I reproduce the error you are seeing.

Can you try it with the full path and let me know if that fixes it?

[2021-07-06 19:14] nzw0301 commented on #2073
@vanpelt Thank you for your kind reply! Currently, we (optuna team) are reviewing the pull request https://github.com/optuna/optuna/pull/2781 that implements wandb callback functionality for optuna. We really appreciate your comments if there are some points we're missing!

[2021-07-06 20:04] sdtblck opened #2367 "[Q] Early Stopping - Unclear documentation. What is an iteration?"
When using wandb.sweep to do early stopping, what *exactly* do min_iter / max_iter specify? The documentation is very unclear, and from looking at the code and testing with various settings I still can't determine what exactly an 'iter' is.

![Screenshot from 2021-07-06 21-59-34](https://user-images.githubusercontent.com/46172032/124659864-b73b0280-dea5-11eb-8112-9e2d5736562c.png)

The docs say it

[2021-07-06 20:32] tyomhak commented on #2363
Hey @santelelle , thank you for reporting this issue. We're looking into it.

[2021-07-06 20:52] cvphelps commented on #1553
This is still a challenge for us with Vega, and we haven't found a solution for this scale problem on our side.

[2021-07-06 22:53] william-davies commented on #1213
Hello!

I don't want to delete an entire run. But I want to delete some files associated with a run. I have deleted the files locally, but they are still present on the wandb.ai website. I tried using `wandb sync` to try to sync the online files with my local files, but I keep getting `wandb: No runs to be synced.`:

[code]

I can't see a way to delete the online files via the GUI either. Sorry fo

[2021-07-06 22:56] manuel-delverme commented on #507
Up, this is made worse by the fact the UI works in base 10

[2021-07-06 23:17] Danielohayon commented on #2357
I had the same issue and this did the trick for me.
Thanks!

[2021-07-07 00:24] vanpelt commented on #1213
You can manage the files stored inside of wandb.ai via the storage explorer accessible from your "/settings" page.  The url of the storage explorer is: `https://wandb.ai/storage/YOUR_USERNAME`

[2021-07-07 00:36] william-davies commented on #1213
Thank you so much, Chris! That worked perfectly :)

[2021-07-07 02:41] jingxixu opened #2369 "[Q] sync tensorboard step issue"
Hi,

Thanks for this amazing piece of program!

I am switching from pytorch + tensorboard to wandb. I use the argument sync_tensorboard = True in wandb.init() and then create the tensorboard summary writer. When I add a scalar to tensorboard, I can customize the global_step argument so that each metric has a different axis (sometimes being epochs, episodes, training steps, etc.). I noticed that wa

[2021-07-07 06:28] #2362 closed

[2021-07-07 06:34] yllgl opened #2370 "[Q]Why do the pictures keep changing?"
I use pytorch_lightning, and I found that trainer/global_step keeps changing in the wandb, I don't know why.
![picture](https://user-images.githubusercontent.com/23625282/124711137-4856bb80-df30-11eb-87a1-a311009bd9e1.gif)

[2021-07-07 06:38] VirajBagal commented on #2357
Hi Danny,

I tried with full path and it is working for me but there is one peculiarity!

When I use the following sweep.yaml, it works normally:

[code]

But when I use the following sweep.yaml with arguments, I get error:

[code]

The error:

[code]

How can I fix it?

The argument parser in my main.py file is the following:

[code]

Thank you in advance.

[2021-07-07 08:17] yllgl commented on #1626
@vanpelt @borisdayma how to log at the different stages? here is my code:
[code]

But it just output:
[code]
How could I log at the different stages?

[2021-07-07 13:46] GillesJ commented on #1971
Working on integrating `wandb` into another codebase now and the lack of default python stack trace makes development really difficult. The original question remains unanswered as focus shifted towards specific issues, but I still want to know:

**How can I get logging or wandb to print/log the default interpreter stack trace on error**, especially with context/line number for improved debugging?

[2021-07-07 15:05] fredguth commented on #1153
Is this printed as a warning?  I use `warnings.filterwarnings('ignore')` and still get the warning.

[2021-07-08 00:06] azespinoza commented on #1526
I'm also running into this issue with 0.10.33 and after rolling back to 0.10.29.
My scripts are executed in AWS SageMaker, python v3.16.13. The logger in W&B continues to log but won't record performance metrics after the first epoch. It will crash shortly after that while the model continues training in SageMaker.

[2021-07-08 00:10] vanpelt commented on #1526
@azespinoza are you able to access the file system on the instance?  The debug-internal.log file in the wandb directory would help us understand the root cause.

[2021-07-08 00:23] azespinoza commented on #1526
[debug-internal.log](https://github.com/wandb/client/files/6780671/debug-internal.log)

Yes, I was able to find it :) See attached.

[2021-07-08 01:12] EdwardYGLi commented on #1639
For some reason, when I tried lowering the `log_freq =10` or `log_freq=1` it only shows one step and not the entire distribution in my gradient charts.
![image](https://user-images.githubusercontent.com/44178551/124846983-cd50cd80-df4e-11eb-96b9-cb8e232011a7.png)

Please advise @cvphelps

[2021-07-08 06:42] bmabir17 opened #2371 "[CLI] TypeError: 'DataGenerator' object is not an iterator"
**Description**
I am trying to log the validation results(model output) of a classification model to wandb. My dataset is of type keras DataGenerator. And i am using the following to fit my model and call wandb
[code]
And get the following error:
[code]
**My model gets trained properly if I don't pass any parameters inside wandbCallback().**

I have also tried the following and get the same error

[2021-07-08 08:42] luifire commented on #2096
I could bypass the issue by creating a new project and uploading my logs to it. The issue never reoccurred in the new project.

[2021-07-08 08:42] #2096 closed

[2021-07-08 10:23] diegoquintanav commented on #2286
@MandiZhao any thoughts on how to use already downloaded artifacts when in offline mode?

[2021-07-08 10:36] santelelle opened #2372 "[Q] Filter by value from chart query for custom chart"
Is there any way to filter a `HistoryTable` by column value directly from the chart query?

What I am currently doing is using a filter in Vega Lite, but this requires me to save multiple version of my custom chart for different tables (The filter value is already defined as configurable **field**, but the column name changes from table to table).

[2021-07-08 12:24] nbortych commented on #1622
But how does one get the id of the run if one hasn't set the id in the init the first time when the run was starting? Is there a way to find the id in the interface somehow?

[2021-07-08 14:46] vanpelt commented on #1526
Hey @azespinoza it looks like there were invalid bytes streamed to the server that prevent the job from syncing.  Can you also access the ".wandb" file in the run directory?  That would allow us to replay the bytes in that file and see where the corruption came from.

[2021-07-08 17:19] azespinoza commented on #1526
[run-2nxds7om.wandb.zip](https://github.com/wandb/client/files/6786197/run-2nxds7om.wandb.zip)

Yes @vanpelt, I believe this is it.

[2021-07-08 21:18] vanpelt commented on #1526
Thanks @azespinoza we'll do some more digging and figure out how to handle this case properly.

[2021-07-08 21:25] vanpelt commented on #1622
@nbortych the run_id is available in the url of the run itself, or from the overview page.  I.E. https://wandb.ai/vanpelt/reproducibility/runs/3f87uku2/overview

You can find the run id in the last part of the "Run Path" attribute or from the url, `3f87uku2` in this case.

You can also access the id of the run programaticall in your script `wandb.run.id`

[2021-07-08 22:00] vanpelt commented on #2371
Our callback currently assumes the generator will adhear to the python iterator protocol.  Can you try turning your sequence into an iterator when specifying it in the callback?

[code]

[2021-07-08 23:02] samarth4149 opened #2375 "[CLI] wandb sync command line issues"
**Description**
2 options seem to have issues as described below
1. `wandb sync --include-globs <globs>` seemed to miss one folder which was synced when I simply used the command `wandb sync <globs>` (when the glob)
2. `wandb sync --no-include-synced` does not seem to have an effect and re-syncs all folders (going by the message saying "Syncing : <run_url> ...done")

**Wandb features**
command lin

[2021-07-08 23:18] ayushjain1144 commented on #2290
Hi @jsbroks,

I also faced the same issue, and after hours of debugging, I found this issue. I am using WandB Version: 0.10.33 which is the latest pip version, and it didn't throw a warning for me. It would be very useful if you add this bug description in docs till the time its not fixed. Thanks for the awesome work on wandb, really appreciate it!

[2021-07-09 02:29] abcde-1447 commented on #1608
Hi @harritaylor @chanmi168 I got the same issue, can you share your matplotlib and plotly versions?  Thanks!

[2021-07-09 02:37] abcde-1447 commented on #1608
@chanmi168 FYI I fixed this issue with following versions:

matplotlib == '3.3.3'
plotly == '5.1.0'

Hope it helps.

[2021-07-09 03:14] chanmi168 commented on #1608
@abcde-1447
Thanks so much!

[2021-07-09 07:18] nbortych commented on #1622
Thank you for the help!

[2021-07-09 13:51] thomas-happify opened #2376 "[CLI] Grid search doesn't finish the search space"
**Description**
Wandb agent stopped after `model.learning_rate` > 8e-05.
It's supposed to sweep 9*4 runs, but it only did 20 runs

**Wandb features**
`wandb sweep`

**How to reproduce**
1. Here is the sweep [yaml](https://wandb.ai/tuomasiii/specific/sweeps/93w7r8tv/overview?workspace=user-tuomasiii)
2. Here is the [Sweep](https://wandb.ai/tuomasiii/specific/sweeps/93w7r8tv?workspace=user-tuomasiii

[2021-07-09 17:07] tyomhak commented on #2370
Hey @yllgl , was the run still running when you saw this happen?
Could you share the url link to this run so we could check it out?

[2021-07-09 17:17] vanpelt commented on #2370
"trainer/global_step" is a metric that's being logged against our default auto incrementing step.  The 0 value may indicate there was no value for "trainer/global_step"in that call to `wandb.log`.  If you can share a link to a run we can further diagnose how the data is coming in.

[2021-07-09 17:40] tyomhak commented on #2366
Hey @chris-tkinter , thank you for the feature request :)

[2021-07-09 18:41] jsbroks commented on #2290
@ayushjain1144 Do you have a snippet of code I could look at for how you are logging the images? We must be missing a excution path in this warning message.

[2021-07-09 20:19] ayushjain1144 commented on #2290
Hi @jsbroks, sure here it is:

[code]

[2021-07-10 06:10] will-maclean opened #2381 "[CLI] The wandb backend process has shutdown"
**Description**
`The wandb backend process has shutdown`
When starting a simple wandb run, I get the error telling me the wandb backend process has shutdown

**Wandb features**
wandb.init() is where the code fails

**How to reproduce**
[code]

**Environment**
MacBook Air (M1, 2020)
- OS: Mac OS Big Sur 11.4
- Environment: conda env on local machine
- Python Version: Python 3.9.5

**Full Error**
[c

[2021-07-10 18:08] vanpelt commented on #2381
Hey @will-maclean can you share the `wandb/debug-internal.log` file found relative to your training script?

[2021-07-11 05:40] nero1342 opened #2382 "[Q] Custom number of columns in each Panel"
I plot 3 images, each image contains two kinds of masks (Prediction, Ground Truth).
When it was display in wandb.ai, the size of them is too small because the columns in panel here is 8 automatically. I need to go into "Edit Panel" and set the number of columns to 3 for better display.

So are there any ways to set the columns of the panels when I log them in python?

Thanks

[2021-07-11 13:25] ntudy commented on #1700
We can add boolean flags under `command`
https://docs.wandb.ai/guides/sweeps/configuration#command

![20210711212249](https://user-images.githubusercontent.com/20146770/125196919-35285080-e28e-11eb-9e00-775e3acbca5c.jpg)

[2021-07-12 09:14] will-maclean commented on #2381
[code]

[2021-07-12 09:45] loicsacre opened #2384 "[App] Unexpected value of custom step x-axis when visualising a plot from the groups"
**Describe the bug**
When visualising a plot from the groups , there is an error with the value of the custom step when going with the cursor over the line. The problem does not appear when visualising a plot directly from a run.

**Expected behavior**
The value of the custom step should correspond to what has been logged.

**Screenshots**

Here is a plot visualisation from the groups (the step sh

[2021-07-12 14:00] #2364 closed

[2021-07-12 15:45] #2376 closed

[2021-07-12 17:47] vanpelt commented on #1639
Hey @EdwardYGLi can you share a link to one of the runs that is displaying this behavior?  How many forward / backward passes are you doing in your training script?  How often are you calling `wandb.log` to stream specific metrics?

[2021-07-12 17:48] vanpelt commented on #2375
Hey @samarth4149 can you share the <globs> you used that didn't work properly?  The `--no-include-synced` flag will only skip runs that have been marked as finished.  Are you syncing runs that are in progress or only finished runs?

[2021-07-12 17:52] vwxyzjn opened #2385 "[App] Certain table names cannot be displayed in the app"
**Describe the bug**

Consider the following snippet to log some `wandb.Table` data
[code]

By running the code above, you will see a run like [this](https://wandb.ai/costa-huang/table_bug/runs/2i2wimma?workspace=user-costa-huang0, where the app does not display the table with the name `this_name_does_not_work.pt`, whereas it displays the table with the name `this_name_works`.

![image](https://us

[2021-07-12 17:54] vanpelt commented on #2382
@nero1342 currently there isn't a way to do this programmatically but we'll track this feature request here.

[2021-07-12 19:04] vanpelt commented on #2381
Hey @will-maclean this may be due to a corrupt git repositiory or other edge case in our code saving logic.  Can you try running the script with:

[code]

If that doesn't work, attempting with:

[code]

May fix the shutdown issue.  If you're still seeing this, the `debug.log` file would also be helpful.

[2021-07-12 19:54] samarth4149 commented on #2375
Thanks for the response. The command I had used was `wandb sync --include-globs vit_base_large_batch_imagenet/wandb/offline-run* --no-include-synced`. The glob corresponds to 4 runs.

1. It actually might make sense about the finished runs since 3 of the runs were marked 'failed' (they are different continuations of 1 long run on a server with time limits). So it could possibly be an edge case tha

[2021-07-13 01:46] #1971 closed

[2021-07-13 02:04] vanpelt commented on #2369
Hey @jingxixu,

With tensorboard we log custom x-axis as "global_step" for the global namespace.  If you are logging to multiple tfevent files in different folders, we'll also log a step for those namespaced metrics i.e. "val/global_step" which you can change your charts to use.  Can you share a link to one of your runs so I can verify that namespaced metrics are getting logged?

[2021-07-13 02:08] vanpelt commented on #1626
Hey @jonashaag instead of passing the "step" argument, you can log separate x-axis as separate metrics.  I.E.

[code]

Then in the UI you can choose a custom x-axis if you need to plot metrics against "val_step" for instance.  You also shouldn't be adding the "epoch" number to the key as this will create an unbounded number of charts.  You can remove `step=self.current_epoch` in the above but it's

[2021-07-13 02:15] vanpelt commented on #2384
@loicsacre when we group runs that don't have x-axis that line up exactly, we create buckets or windows across the group of runs to show values in the same "bucket".  Can you share a link to a workspace that has the grouping configured so we can verify that's what's happening here?

[2021-07-13 04:04] jingxixu commented on #2369
Hi,

I am not logging to multiple tfevent files in different folders. How do I share a link to one of my runs?

Also, any comments about

[2021-07-13 04:06] jingxixu commented on #2369
Just to clarify the metric got messed up. I pass the tensorboard writer as an argument to a member function of an object. The class of that object is defined in a different file.

[2021-07-13 07:50] maximilianreimer commented on #1817
I experienced the same issue in version 0.10.24. The run is reported as crashed but is actually still running. But when I try to run wandb sync I get the same error.

The difference here seems to be that the runs is actually still running. During the run a `ConnectionResetError: [Errno 104] Connection reset by peer` accoured. Please find the full stack trace of the exception attached.
[wandb.log](

[2021-07-13 08:46] loicsacre commented on #2384
I don't know how to share a link which would be visible to anyone, but here it is https://wandb.ai/integria/experiment-1-tf/groups/INTEGRIA-609/workspace. The only group which is set to visible is Job Type: task_1. All the runs among the group have a log every 10k 'global_step'.

[2021-07-13 10:08] GillesJ opened #2387 "[CLI] Full error backtrace not shown in stdout or logs"
**Description**
How can I get wandb to print/log the default backtrace on error, especially with context/line number for debugging?

I worked on integrating wandb into several existing codebases and the lack of default python stack traces on errors makes development really difficult. Wandb outputs by default only the Exception description str, not the line number or parent call, so it is really di

[2021-07-13 10:08] KirkHadley commented on #982
Has there been any movement on this?

[2021-07-13 11:32] will-maclean commented on #2381
Thanks for the suggestion. Unfortunately, neither of those fixes worked.

Here's the debug.log file:

[code]

[2021-07-13 11:40] epignatelli commented on #1824
Hi! What's the state of this?

[2021-07-13 13:27] karolpiczak opened #2388 "[Q] How to access color values of grouped runs in custom charts?"
Is there any way to access the color value assigned to a group when creating custom charts?

It seems like the default query is extended with color information (`color` key) in RGB format, but it corresponds to the color of a particular run in the app. However, when enabling run grouping, the colors in the app change, and it's no longer possible to maintain color consistency between custom charts

[2021-07-13 16:17] tyomhak commented on #2239
@versae , can you please try .plot for the confusion matrix, instead of the .sklearn feature, which is not compatible with cross-run comparisons?

[2021-07-13 18:02] vanpelt commented on #2369
Hey @jingxixu, tensorboard only supports logging a single "global_step" per metric.  We should capture this step value in the "global_step" x-axis.  `sync_tensorboard=True` just calls `wandb.tensorboard.patch` under the hood.  The only reason to call `wandb.tensorboard.patch` would be if you're logging to multiple tfevent files, you can specify the root log directory with the `root_logdir` argumen

[2021-07-13 18:17] vanpelt commented on #1817
Hey @maximilianreimer the specific error you're seeing seems related to a proxy that the client was connecting through.  We retry the connections for up to 2 hours, but in this case we hit the maximum number of retries which is why the run is marked as crashed.  Version 0.10.33 of the wandb library has better handling of network issues, but I'm not sure it would fix this case.

You should still be

[2021-07-13 18:23] vanpelt commented on #2384
Hey @loicsacre I've verified that discrepancy is due to the bucketing logic (W&B support staff can access private experiments for debugging purposes).  We randomly sample points from each series and when the "global_step"s that were sampled don't line up exactly we show the data that shares the same bucket.

[2021-07-13 18:47] vanpelt commented on #2387
Hey @GillesJ I'm not able to reproduce what you're describing.  What version of the wandb library are you using?  With the latest version, I'm able to run:

[code]

And I see the following as the output:

[code]

Which is the same as the output I see if I don't call `wandb.init`.  I'm assuming you're only seeing this when running `wandb agent`, or are you using `wandb.agent` in a jupyter environme

[2021-07-13 18:56] vanpelt commented on #982
Not yet but we're actively working on improvements to our sweep infrastructure.  cc @dannygoldstein

[2021-07-13 18:58] vanpelt commented on #2381
Can you also share the user logs from the `debug.log` file.  My only guess at this point is that your OS is killing the internal process due to memory pressure.  How much free memory do you have?

[2021-07-13 19:00] vanpelt commented on #1824
@epignatelli we're currently focussing our efforts on multiprocessing and haven't circled back to multithreading.  Can you share a little more about your usecase and maybe provide some example code as to what wandb api calls you want to parallelize in a single process?

[2021-07-13 19:23] ozanozyegen opened #2389 "[Q] Wandb pull files under a project"
**Description**
I can't pull runs under a project with wandb pull.

**What I did**
`wandb pull -e username -p project_name`

Received the error
`Traceback (most recent call last):
  File "e:\cache\anaconda\envs\py37_base\lib\site-packages\wandb\apis\normalize.py", line 24, in wrapper
    return func(*args, **kwargs)
  File "e:\cache\anaconda\envs\py37_base\lib\site-packages\wandb\sdk\internal\inte

[2021-07-13 21:48] vanpelt commented on #1526
We've fixed the backend to handle upto 10MB of data in a single wandb.log call.  The next release of wandb will also prevent runs from being marked as crashed if data exceeds 10MB.

[2021-07-13 21:48] #1526 closed

[2021-07-13 21:55] dannygoldstein commented on #982
this is on our roadmap, planning to get to it this quarter.

On Tue, Jul 13, 2021 at 11:56 AM Chris Van Pelt ***@***.***>
wrote:

--
Danny Goldstein
http://astro.caltech.edu/~danny

[2021-07-13 22:03] vanpelt commented on #2389
Hey @ozanozyegen you need to specify the run id of the experiment you wish to pull files from. i.e.

[code]

You can find the run_id from the overview page of a run or in the URL.

[2021-07-13 22:03] #2389 closed

[2021-07-14 07:51] Tom-python0121 commented on #2322
@vanpelt My machine has access to the internet, but it doesn't seem to work for **mypy**, I don't know why, it works quickly for other software.

[2021-07-14 07:52] Tom-python0121 commented on #2322
Have you tried to test wandb on centos 8? What are the results?

[2021-07-14 10:10] Mayur28 commented on #1526
Hi @vanpelt - I am using wandb 0.10.33 and I am experiencing a similar issue as the OP. The wandb dashboard shows that 2 of my runs have crashed, whereas when I query the high-performance cluster, it still shows that the code is executing as normal. Using the `wandb sync` was unable to resolve the issue. In light of previous comment, to the best of my knowledge, I do not think that 10MB of data is

[2021-07-14 11:33] versae commented on #2239
Thanks, @tyomhak. I was hoping to be able to *rescue* the matrices I already have from previous experiments. But I'll give it a try using `.plot()` instead in the future runs.

[2021-07-14 15:51] vanpelt commented on #2322
Hey @Tom-python0121 I just tried in docker with a fresh centos8 image and everything works.  Here are the commands I ran:

[code]

Can you see if you have a proxy conifigured in your environment?  You can check by running `env | grep PROXY`.

[2021-07-14 15:54] vanpelt commented on #1526
Hey @Mayur28 can you share the `debug-internal.log` file from one of the runs that's failing?  Also if you can share the the output on your terminal when your run `wandb sync $RUN_DIR` for one of the failing runs, that would be helpful.

[2021-07-14 16:29] Mayur28 commented on #1526
Sure! I've attached the `debug-internal.log`. Unfortunately for some reason, when I try to execute the specified command, I am encountering a network error (please see attached screenshot). To the best of my knowledge, my internet connection (as well as the high performance cluster I'm using) have a stable connection. I will certainly try the command again in a few moments and will get back to you

[2021-07-14 18:05] vanpelt commented on #1526
Hey @Mayur28 those errors indicate it can not resolve the DNS of the wandb server you're connecting to.  If you're using a cloud hosted server you can try to connect from the command line with:

[code]

It looks like either you can't connect to the internet or your DNS configuration is misconfigured somehow.

[2021-07-14 20:06] jingxixu commented on #2369
Hi, this is great thanks!

I have another question about the log function, as described here: https://docs.wandb.ai/ref/python/log.

In the description of the `step` argument, it says

What does this mean exactly? It defaults to not committing the specified step? I understand that each time I call `wandb.log` the `global_step` will be incremented automatically by default, is this `step` argument o

[2021-07-14 23:13] #2349 closed

[2021-07-14 23:56] vanpelt commented on #2369
Sorry that's unclear.  "global_step" is a tensorboard concept and automatically added as a metric that charts can use as a custom x-axis.  The "step" keyword argument of `wandb.log` is overloaded.  It's both the number of times `wandb.log` is called (when step is not specified), and an only incrementing default x-axis value that "commits" the accumulated metrics of previous calls to `wandb.log` wi

[2021-07-15 02:39] jingxixu commented on #2369
Just to make sure that I understand this correctly. If I have something like `wandb.log({"acc": 0.8}, step=1000)`, the data `{"acc": 0.8}` won't be committed until an actual commit happens. When `wandb.log({"acc": 0.9}, step=1100)` is called, all logs with step < 1100 will be committed but not this particular log itself.

[2021-07-15 03:03] jingxixu commented on #2369
I think now I understand the `wandb.log` better. Let me reiterate my original error because I still think there might still be a bug in the way wandb does tensorboard syncing.

Basically, I have two files.
- `mina.py`: the main file
-  `A.py`: where class A is defined.

In the `main.py` file

[code]

When I visualize the plots of `x, y, z` in wandb UI. I have `x` and `y` shown correctly but `z` is

[2021-07-15 03:15] Tom-python0121 commented on #2322
@vanpelt this is my proxy：
[code]

[2021-07-15 03:19] Tom-python0121 commented on #2322
but it does not work.What kind of proxy should I configure?
[code]

[2021-07-15 06:13] bmabir17 commented on #2371
@vanpelt using `iter()` gives me the following error
[code]

[2021-07-15 11:42] MatthewGleeson opened #2391 "[CLI] One Wandb-tracked run failing causes other wandb-tracked runs to fail"
**Description**
I was running 4 different experiments on an Oracle Grid Engine(aka Sun Grid Engine) cluster. This morning one of my experiments failed from running out of the memory I had allocated to it, and immediately afterwards 2 of the other experiments failed, with identical errors:

Error in atexit._run_exitfuncs:
Traceback (most recent call last):
  File "/home/mgleeson/.local/lib/python3.

[2021-07-15 11:54] corneliusboehm commented on #1934
I just reproduced this issue on `0.10.27`. From what I can tell, a fix might be swapping lines 144 and 145 here, so that the key is added to `root._json_dict` before `SummarySubDict` tries to access it in `__init__`: https://github.com/wandb/client/blob/321654aea55440622371594da9279f4e97f25607/wandb/old/summary.py#L137-L149
Something similar would also need to be done for the `update` method.

In

[2021-07-15 18:25] katieluo88 commented on #444
I'm experiencing the same issue, but I am creating the sweep using the Sweep Configuration tool on the wandb project page.

My sweep config (screenshot from the tool):
![image](https://user-images.githubusercontent.com/12839697/125837570-015ef5aa-27da-4455-bd22-e595a6b2cbda.png)

My settings for `wandb --version && python --version && uname`:

- wandb, version 0.10.33
- Python 3.7.10
- Linux

I to

[2021-07-15 21:45] abcde-1447 opened #2396 "[Q] how to log matplotlib plot without having it shown up in the jupyter notebook?"
Hi, I am trying to log dozens of matplotlib over course of training using `self.logger.experiment.log({'myFig': wandb.Image(fig)}, commit=False)`, where `fig` is a matplotlib.Figure object.  But when the training is done, all figures would automatically show up in the jupyter notebook as well, making the size of notebook unnecessarily large.  I am wondering if there is way to log all plots without

[2021-07-16 03:53] igorgad opened #2400 "[Feature] Loading wandb.Table into a Dataframe"
**Is your feature request related to a problem? Please describe.**
Nope

**Describe the solution you'd like**

Would like a `wand.Table.to_dataframe()` method to create a pandas dataframe from a wandb.Table object.

**Describe alternatives you've considered**

The following code excerpt works as expected.
[code]

Thanks,.

[2021-07-16 04:08] alvesfelipe commented on #2400
I just used this solution, and it worked for me!

Thank you @igorgad

[2021-07-16 09:07] will-maclean commented on #2381
That's all there is in the `debug.log` file. I have a 16GB machine and it doesn't get anywhere near full memory for this script

[2021-07-16 10:36] YovaKem commented on #1409
I ran into this problem as well and the above solution did not help. So I went with  @chrischoy's solution as well.

[2021-07-16 15:03] SirWyver opened #2404 "[CLI] Media data not synced locally"
**Description**
When working offline and syncing locally, media files are missing. Other logging information are shown but images for examples are not synced.
<img src="https://user-images.githubusercontent.com/19650385/125968148-d1430b03-7d89-49fc-82c6-cd2c0eb1ed80.png"  height="500">

**Wandb features**
[code]

**How to reproduce**
[code]
**Environment**
- OS: Fedora 34
- Environment: localhost

[2021-07-16 15:58] vanpelt commented on #2381
Hey @will-maclean this is really strange.  Would you be open to jumping onto a screenshare to try to debug what's happening live?  My email is vanpelt@wandb.com we can set something up first thing next week if you're available.

[2021-07-16 17:44] cvphelps commented on #2404
This looks like a high priority issue to investigate for us, thank you for reporting it. To clarify, do you mean you're using a W&B Local install instead of our hosted cloud?

[2021-07-16 17:56] tanmayshankar commented on #2404
I've been facing this issue too today, but not with the offline mode.
Wandb version 0.8.35.
Python: 3.6.9.

[2021-07-16 20:25] jingxixu commented on #2369
I just figured that it has NOTHING to do with my file structure. This bug will HAPPEN even in an SINGLE file. I have produced a very simple script to reproduce the tensorboard sync issue.

[code]

Simply run this script you will find that `matric_a` is not correctly displayed with its own customized `global_step`. Please help, I have been stuck in this for a while and it would be awesome if this t

[2021-07-16 21:00] AntivistRock commented on #2092
Hi again, I published a [repo](https://github.com/AntivistRock/Roberta-Hyperparameter-Optimization-with-Wandb-CV) with my solution, so you can check and easily reproduce it!

[2021-07-17 01:25] tyomhak commented on #2372
Hey @santelelle, not sure... let me check with the team.

[2021-07-17 01:50] tyomhak commented on #2367
Hey @sdtblck , let me ask our sweeps engineer to double check.

[2021-07-17 01:54] tyomhak commented on #2385
Hey @vwxyzjn , thanks for reporting this issue. We're looking into it.

[2021-07-17 02:00] Sun-Rider opened #2407 "[Q] Visualize the historical change of the bar chart during the training."
Hi,

I'm new to the wandb, and it is probably a basic question. But I didn't find any solution of it.

I've already have the bar-chart, and I'm wondering is there any way to visualize the change during the training (as I upload the chart based on a certain step).

![Screenshot from 2021-07-17 11-27-58](https://user-images.githubusercontent.com/33716428/126021954-17ef5127-6db5-467a-9079-560e49a7e63

[2021-07-17 22:21] emanuelevivoli opened #2408 "Agents stall in errors"
**Describe the bug**
When running agents, I got:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ''create_sweep'
2. Run locally multiple agents
3. See error appear in the agents' console logs

**Expected behavior**
The agents to run and log to wandb artifacts. Not  to crush.

**Additional context**
I read [here](https://github.com/wandb/client/issues/1323#issuecomment-704609031)

[2021-07-18 13:36] emanuelevivoli commented on #1016
[code]
I still have this issue.
How can i fix it?

[2021-07-18 14:50] viniciusdsmello commented on #1579
I also have this issue, I'm running with wandb ```wandb, version 0.11.0```. Has anyone figured out how to fix it?

[2021-07-19 03:11] AdityaKane2001 commented on #652
@vanpelt @ariG23498

Is this a part of WandB now?

[2021-07-19 08:36] SirWyver commented on #2404
Yes exactly, I'm using  W&B local install (self-hosted).
I am not sure if this is related but I pulled the latest W&B image, the build.yaml inside the docker says:
[code]
but I still get the message: "A new version of W&B local is available"

[2021-07-19 12:26] scottire opened #2409 "[App] Dragging to resize images sometimes crashes the Report page."
**Describe the bug**
In a Report, when I drag a side of an image to resize, it crashes the page sometimes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a Report with an image ([mine](https://wandb.ai/wandb/wandb_spacy_integration/reports/-insert-NLP-task-using-spaCy-and-Weights-Biases--Vmlldzo4NjM2MDk/edit))
2. Click on the side of an image
3. Drag right or left
4. See error

**Expe

[2021-07-19 17:12] forkbabu opened #2410 "[Q] How to disable wandb interface inside google colab during wandb.init()?"

[2021-07-19 17:42] vanpelt commented on #2410
[code]

[2021-07-19 17:42] #2410 closed

[2021-07-19 17:48] vanpelt commented on #2404
Hey @SirWyver there's a chance the queue wasn't properly configured in version 0.9.42.  We have a fix going out in the next release, but you can manually fix your instance by running:

[code]

[2021-07-19 17:50] vanpelt commented on #2408
Hey @emanuelevivoli this is likely due to your search parameters being too complex causing the backend to timeout.  Can you share your sweep config?

[2021-07-19 17:51] vanpelt commented on #1016
@emanuelevivoli is the error you're talking about related to the sweep issue you filed [here](https://github.com/wandb/client/issues/2408)?  Can you share the specific steps that cause your process to hang?

[2021-07-19 17:56] vanpelt commented on #652
@AdityaKane2001 you can store data directly in google cloud storage and use [artifact references](https://docs.wandb.ai/guides/artifacts/references#s3-gcs-references).

[2021-07-19 18:00] vanpelt commented on #2407
Hey @Sun-Rider can you share a link to the run in question?  You should be able to click the "gear" icon in the upper left and slide to earlier steps in the training process.  Also, calling `wandb.log({"loss": X})` as your model trains will log many points that you can use to render line plots of progress during the corse of training.

[2021-07-19 22:08] hazel-erickson opened #2413 "[CLI] wandb: ERROR Problem finishing run ValueError: I/O operation on closed file"
**Description**
At the end of the current run, I encounter this error which crashes my runtime.

**Wandb features**
Using wandb.init() and wb.log(), attempted to use wb.finish() to stop run and avoid the crash but this doesn't help.

Full error:

Traceback (most recent call last): File "/miniconda3/lib/python3.7/site-packages/wandb/sdk/wandb_run.py", line 1601, in _atexit_cleanup self._on_finish()

[2021-07-19 22:57] vanpelt commented on #2413
@hazel-erickson we'll try to reproduce in sagemaker, until then you can set the following environment variable to disable console logging:

[code]

[2021-07-19 22:59] vanpelt commented on #2369
Hey @jingxixu this case is going to be rather tricky for us to handle.  We'll try to take a look this week and see if we can come up with any workarounds, but until then the best solution is to make calls to `wandb.log` without tensorboard in this case.

[2021-07-19 23:42] hazel-erickson commented on #2413
Unfortunately setting that enviroment variable didn't stop it from crashing

[2021-07-20 01:23] pyedog1976 commented on #2407
Hi,

The run's link is [here](https://wandb.ai/pyedog1976/testing-bar-chart?workspace=user-pyedog1976).
The code I used is something like
[code]
with upload,
[code]

[2021-07-20 01:27] Sun-Rider commented on #2407
Hi, @vanpelt

The run's link is here.
The code I used is something like

        total_number = len(targets_prob.flatten(0))
        boundary = ["< 0.1", "0.1~0.2", "0.2~0.3",
                    "0.3~0.4", "0.4~0.5", "0.5~0.6",
                    "0.6~0.7", "0.7~0.8", "0.8~0.9",
                    "> 0.9"]
        rate = [torch.sum((torch.logical_and((i - 1) / 10 < targets_prob, targets_prob <

[2021-07-20 02:24] kangsan0420 opened #2415 "[Q] Sweep: Separate each run in a group"
Hi, I'm using Sweep but all runs in a group are represented as a single curve. How can I detach each run from a group so that each run can be represented to each curve?

[2021-07-20 07:46] SirWyver commented on #2404
Amazing, this fix solved the issue, thanks a lot!

[2021-07-20 07:46] #2404 closed

[2021-07-20 10:45] forkbabu commented on #2410
@vanpelt not that. I meant how to hide this website interface this specifically. The env magic u suggested just stopped me from logging results. I need to disable this since it is HTML intensive and hinders the automatic saving of the colab nb.

![Screenshot from 2021-07-20 16-13-09](https://user-images.githubusercontent.com/8037297/126311124-21a0a034-f7db-4074-be21-a20db74ae5a7.png)

[2021-07-20 11:56] tommaoer opened #2417 "[Feature] support for jittor"
Support for [jittor](https://github.com/Jittor/jittor), the Jittor is a deep learning tool that supports compile in a just-in-time manner, the code style is similar PyTorch.

[2021-07-20 14:08] vanpelt commented on #2369
Hey @jingxixu the easiest way to fix this is to use a separate writer for the metric that is using a different step.  When using multiple writers it's important to set the root root_logdir for our tensorboard syncing.  The following would work:

[code]

Then you can choose "val/global_step" as the x-axis for "metric_a".

[2021-07-20 14:10] vanpelt commented on #2413
@hazel-erickson Can you share the exception with the WANDB_CONSOLE environment variable set?  It must be set before `wandb.init` is called.  If you an provide us with a docker image or the sagemaker api calls being made we can reproduce on our end and figure out the root cause.

[2021-07-20 14:26] vanpelt commented on #2407
Hey @Sun-Rider I'm asking our internal team what they think the best solution for this is.

Until we hear back, my first thought is that this is most similar to our `wandb.Histogram` [native logger](https://docs.wandb.ai/ref/python/data-types/histogram#examples).  You would likely want to construct your own `np.histogram` with the bins configured to be your boundaries.  This allows you to visually

[2021-07-20 14:43] vanpelt commented on #2415
Hey @kangsan0420 you can remove the "group" from the table you're viewing.

![image](https://user-images.githubusercontent.com/17/126344250-1ea977e1-0990-4181-9a02-b6fc416d9536.png)

[2021-07-20 14:43] #2415 closed

[2021-07-20 14:54] vanpelt commented on #2410
Ahh, I see.

[code]

By default, if a cell returns a run object we render the wandb ui.  If you don't want us to render the UI in that case, just set the return value of `wandb.init` to a variable.  i.e. `run = wandb.init()`

[2021-07-20 14:57] vanpelt commented on #2410
@forkbabu one more thing.  If you still want to see links to the run that's created, just don't set `WANDB_SILENT`.  It sounds like your main concern is the web interface being rendered which can be fixed by setting the return value of `wandb.init` to a variable or having something else as the final line of the cell.

I will note, that the HTML which is displayed should not at all impact the savin

[2021-07-20 15:02] vanpelt commented on #2417
Thanks for the feature request @tommaoer.  You should be able to use `wandb` just fine with jittor today, are there specific things that aren't working for you which you would like us to support?  Looking at their example in the readme, wandb should work with:

[code]

[2021-07-20 15:20] tommaoer commented on #2417
Yes, it works, I have tried. But I want to monitor the distribution of learning parameters of the network, maybe the code `wandb.watch(model)'. The above code works fine in Pytorch, but it reports errors in jittor.

[2021-07-20 16:15] vanpelt commented on #2407
@Sun-Rider I heard back from the team.  You can add a slider to your bar chart by following theses steps:

1. Click the pencil icon on your chart to edit the definition.  Then select "summaryTable" in the query section and change it to "historyTable".
![image](https://user-images.githubusercontent.com/17/126358119-13119e9b-6540-4f4b-b297-5d29c2bd5cc6.png)
2. Click the "Edit" button next to "Bar Ch

[2021-07-20 17:37] tyomhak commented on #2400
Hey @igorgad , thank you for the feature request :)

[2021-07-20 18:20] tom-andersson opened #2420 "[CLI] Permission denied: '/users' on remote cluster from `wandb agent`"
I'm trying to run a sweep on a remote cluster via SLURM by executing the `wandb agent` command within a SLURM script. I'm getting a `PermissionError` because some `wandb` default directory is set to my user's home directory, but I'm unable to access `/users` via SLURM. I've tried setting `WANDB_DIR`, `WANDB_CONFIG_DIR`, and `WANDB_CACHE_DIR` environment variables before importing `wandb`, but this

[2021-07-20 18:32] tom-andersson commented on #764
@vanpelt If running a sweep, does `mode` in `wandb.init()` do anything? In my case I have `mode='disabled'` by default (controlled by a command line input to my train script), and I'm wondering if that will affect my sweeps.

[2021-07-20 18:59] raubitsj commented on #764
`disabled` mode is not compatible with sweeps as we need to know what configurations have run.   The wandb.init() call is what signals our hyperparameter algorithm that a parameter set was received by an agent.

[2021-07-20 19:03] tom-andersson commented on #764
Thank you @raubitsj, I've since edited my `sweep.yaml` to pass in the `--wandb` command to my train script which triggers `mode='online'` in `wandb.init()`:

[code]

I'm was previously getting no information sent to the web app when running sweeps, but now everything's running nicely!

[2021-07-20 20:54] jefft255 commented on #1179
I am having a very similar issue on wandb 0.11.0, Python 3.8, on compute canada doing an Optuna hyperparam optimization run (using the offline mode and syncing later). When I sync, some values are correctly drawn, but do not appear in the Table. So if I want to sort by reward achieved, I can't, even though the reward is actually being registered and plotted correctly. The weird thing is that this

[2021-07-20 21:05] vanpelt commented on #2417
I see, yes that would require custom engineering.  We'll track it for our roadmap here.

[2021-07-20 21:10] vanpelt commented on #2420
Hey @tom-andersson that specific stack trace is coming from [here](https://github.com/wandb/client/blob/master/wandb/old/settings.py#L105).  `env.CONFIG_DIR` is `WANDB_CONFIG_DIR`.  Can you ensure this is being set a writable directory.  I would suggest something like `os.environ["WANDB_CONFIG_DIR"] = "/tmp"`.

[2021-07-20 21:10] vanpelt commented on #2420
It only needs to be set before you call `wandb.init`

[2021-07-20 21:11] KirkHadley commented on #2381
Just wanted to throw in that I'm seeing a similar error, but only when wandb has been initialized in a jupyter notebook. I'm also running wandb self hosted, on a docker container.  Also, for me this is very much an intermittent error- appears to primarily happen in jupyter notebooks that have been running for a number of days, and, specifically, ones that have been idle a day or two.

Restarting t

[2021-07-20 22:46] richardrl commented on #2315
@tyomhak Hi, just wondering if there's any update here, or if there's some other way to accomplish what I want?

[2021-07-20 23:25] Sun-Rider commented on #2407
Very useful!
Thank you so much!

[2021-07-20 23:25] #2407 closed

[2021-07-21 01:02] Tom-python0121 commented on #2322
Thank you. The problem has been solved.

[2021-07-21 01:02] Tom-python0121 commented on #2322
![image](https://user-images.githubusercontent.com/77763324/126414138-10e02449-e6ad-44ee-8060-902442851742.png)

[2021-07-21 01:02] #2322 closed

[2021-07-21 02:03] tommaoer commented on #2417
Many thanks for this!

[2021-07-21 08:34] lollows opened #2422 "[CLI] urllib3>=1.26.5 in the requirements.txt can't run in my computer"
**Description**
As pointed out by [this issue](https://github.com/wandb/client/issues/2012#issue-844332707), the  wandb error `(check_hostname requires server_hostname)` occurs when urllib3>=1.26.5

**Wandb features**
I'm using PyTorch Lightning with wandb integration to log. And I also use the wandb.init() to do something else.

**How to reproduce**
1. Link to a reproducible script we can run to

[2021-07-21 09:52] Danielhp95 commented on #2357
To add to this conversation:

The current state of the official documentation state that you only need to pass the `sweep_id` to the `wandb agent` command. I suggest to change the official docs to reflect that more info is needed!

https://docs.wandb.ai/ref/cli/wandb-agent

Thanks for everything

[2021-07-21 11:02] brenerrr opened #2423 "[Feature] Resume offline runs"
Whenever I need to resume a run, I have to make sure it has been synced to the cloud before I try to resume it. It would be nice to be able to resume offline runs.

The following code demonstrates the problem. If you are running on "dryrun" mode, you will not be able to resume the run.

[code]

[2021-07-21 11:15] tom-andersson commented on #2420
Thanks for the info @vanpelt. That's weird, I already have that exact `os.environ` command before `wandb.init` in my train script. Perhaps I'm doing something stupid. In the meantime, could there be any other possible solutions?

[2021-07-21 12:10] tom-andersson commented on #2420
Update: This error only occurs when running sweeps on SLURM via `wandb agent`. I'm able to run my train script directly and log stuff to `wandb` with no problem.

Is there any way I can access `env.CONFIG_DIR` to debug?

[2021-07-21 16:27] MatthewGleeson opened #2424 "[Q] Bar chart with multiple variables on same plot"
The wandb dashboard automatically creates separate bar charts for each variable in an experiment I'm running. I want to create bar chart with 2 variables displayed on the same chart.

Is there a way to do this without writing a custom vega specification? If not, I was reading online that I need to flatten the data first, is this the correct approach?

[2021-07-21 17:49] vanpelt commented on #2381
Good to know, it seems like the long running process is causing the our backend process to get killed likely due to memory constraints.  We're working on a new release next week that should be much more robust to situations like this.

[2021-07-21 17:57] vanpelt commented on #2424
Hey @MatthewGleeson you can explicitly log a bar chart for a specific run using our [custom charts](https://docs.wandb.ai/guides/track/log#custom-charts) functionality.

[code]

[2021-07-21 17:57] #2424 closed

[2021-07-21 19:13] besbesmany opened #2425 "[Q]in yolov5 can't find validation accuracy"
I run yolov5 , I confused with many charts
I don't know where is the val accuracy chart
also what are the meaing of "cls_loss" , "box_loss", "obj_loss"
also what are "mAp_:0.5" and "mAp_:0.5:0.95"

which two of them are the training/validation accuracy ?
and
which two of them are the training/validation loss?

![1](https://user-images.githubusercontent.com/35992924/126546244-85ce5c55-636b-49f5-955

[2021-07-21 19:14] jzazo opened #2426 "[CLI] Wandb patched root_dir does not sync all tensorboard logs"
**Description**
Wandb's patched tensorboard root directory does not sync all events, such as embeddings.
Logged events such as losses are being synced (`tfevents` files). Patch command is run before wandb.init().
The tensorboard tab in the web does not appear either, even if the `.pbtxt` and `.tsv` files are copied manually.

This occurs using both TensorBoardLogger and WandbLogger within pytorch

[2021-07-21 19:20] besbesmany opened #2427 "[Q]how to save chart"
how can I save and download chart exactly?

[2021-07-21 19:28] vanpelt commented on #2426
Hey @jzazo currently our hosted tensorboard does not support the embedding plugin.  Is that the only tensorboard information that's missing for you?  Specifying `root_logdir` is only required if you write multiple tfevent files in different sub directories of the `root_logdir`

[2021-07-21 19:30] vanpelt commented on #2427
![image](https://user-images.githubusercontent.com/17/126548424-e97d9ebb-bf68-414d-8cfd-6bb6cf0eb4b2.png)

Does that make sense?

[2021-07-21 19:30] #2427 closed

[2021-07-21 19:31] vanpelt commented on #2427
You get that menu by hovering over a chart in the UI and clicking the 3 vertical dots.

[2021-07-21 19:42] besbesmany commented on #2427
Thank you so much

[2021-07-21 19:45] besbesmany opened #2428 "[Q] how to get max value of chart"
![W B Chart 7_21_2021, 9_42_17 PM](https://user-images.githubusercontent.com/35992924/126550187-43372524-8219-4493-900b-0f9293ccad83.png)

[2021-07-21 19:59] vanpelt commented on #2420
Very strange.  `env.CONFIG_DIR` can be accessed by reading `os.environ["WANDB_CONFIG_DIR"]`.  You might need to set the environment variable before executing `wandb agent`.  For example:

[code]

[2021-07-21 20:00] besbesmany opened #2430 "[Q] how to decrease steps of x access for some experiments in chart"
I want to decrease steps to 200 for x axis so all experiments have the same x axis value(steps)

![W B Chart 7_21_2021, 9_57_36 PM](https://user-images.githubusercontent.com/35992924/126552112-cc693ffe-90cf-4fbb-92ef-b4bd988360bd.png)

[2021-07-21 20:03] vanpelt commented on #2426
@jzazo I was able to get a projector plugin to load, but I had to manually save the files.  The following code should work:

[code]

I still had to choose "PROJECTOR" from the dropdown menu in the upper right corner of the tensorboard interface.  I'll investigate upgrading tensorboard as well as doing this automatically when we know the root_logdir.

[2021-07-21 20:06] metemadi commented on #2285
whoops.. did this to the "hit" team.. does someone mind fixing? thank you!

[2021-07-21 20:28] ivangrov commented on #2425
Hello! Thanks for your question.

In this case the validation accuracy is mAP, and the training and validation losses are under the "train" and "val" tabs. mAP is only being shown for the validation dataset.

In object detectors the accuracy is measured as mean average precision (or mAP). mAP takes into account how well the bounding boxes are fitting the labels as well as how accurate the predicte

[2021-07-21 21:40] jzazo commented on #2426
Thanks for the proposal! The files uploaded, but the tensorboard interface does not activate. Any way I can trigger the interface?

[2021-07-22 00:26] vanpelt commented on #2426
@jzazo yeah, you can click the dropdown in the upper right and then select "PROJECTOR".

[2021-07-22 00:27] vanpelt commented on #2426
If it's still not working for you, send me a link to the run and I can take a look.

[2021-07-22 00:31] vanpelt commented on #2428
In your script after `wandb.init` has been called, you can add the following:

[code]

That will then add a column in your workspace named "metrics/mAP_0.5.max" which you can sort or filter by.

[2021-07-22 00:31] #2428 closed

[2021-07-22 00:34] vanpelt commented on #2430
You can click the "pencil" icon in the upper right of the chart when you hover over it.  That will open the edit modal.  From there you can set the "Max" value of the "X-Axis" property to 200.

[2021-07-22 00:34] #2430 closed

[2021-07-22 00:36] vanpelt commented on #2285
@metemadi you're all good now.

[2021-07-22 00:58] vanpelt commented on #1179
Hey @jefft255 can you share a link to one of the runs this is impacting?

[2021-07-22 01:04] jefft255 commented on #1179
https://wandb.ai/jft/olqg_stationkeeping_td3_belugasweep?workspace=user-jft

It's private but I imagine you can still take a look as a developer? Otherwise how do I grant you access?

[2021-07-22 01:12] jefft255 commented on #1179
If this helps in any way, when the value is correctly displayed in the column, I can hover over it in the graph, and the numerical value will be displayed.
![image](https://user-images.githubusercontent.com/6445381/126577962-51737cac-1d5f-4926-b4df-b4da99f634a8.png)

However, when I do the same for a problematic run, hovering does not display the numerical value, it does nothing instead.
**In the

[2021-07-22 01:31] vanpelt commented on #1179
@jefft255 this definitely looks like a regression.  Can you find one of the local run directories for the runs that aren't reporting these metrics and zip it then send it to vanpelt@wandb.com?  It should be a sub directory named run-DATE-ID of the wandb directory relative to the script you ran.

[2021-07-22 01:43] jefft255 commented on #1179
Zip sent!

[2021-07-22 02:53] vanpelt commented on #1179
Hey @jefft255 i didn't get an email.  Did you send it to vanpelt@wandb.com?

[2021-07-22 03:13] jefft255 commented on #1179
Resent it, otherwise here's a OneDrive link: https://1drv.ms/u/s!Am7JVxHPejSNg-0VswGfUYHEVy4OEw?e=Z7lsF1

[2021-07-22 06:31] besbesmany commented on #2428
can I do it from https://wandb.ai/ directly without specific code in colab?

I didn't write any wandb code with yolov5 I just run this

`import wandb
`
`!python train.py --img 416 --batch 16 --epochs 100 --data data.yaml --weights yolov5s.yaml --name yolov5s_results  --cache --bbox_interval 30 --save_period 30 --device 0`

what I should use other than `wandb.init`?

is there detailed examples to h

[2021-07-22 06:32] besbesmany commented on #2430
thanks so much

[2021-07-22 10:35] jzazo commented on #2426
This is the run: https://wandb.ai/jzazo/mwe/runs/1gtw23ol
This is the generating code: https://colab.research.google.com/drive/1b4Zzsz7nAnvlp6-x_ZOyPUjXmnv8zoBP

On your wandb.ai the tensorboard tab appears, but projector shows an empty frame.

When running wandb local, the tensorboard tab does not show.
![image](https://user-images.githubusercontent.com/25750092/126626089-7bf056a8-fc07-441e-8992-

[2021-07-22 13:33] ashok-arjun opened #2434 "[Feature] Sweeps not moved when runs are moved to another project"
**Is your feature request related to a problem? Please describe.**

When I move all the runs of a project associated with a sweep to another project, the sweeps still stay in the original project with the count as 0.

**Describe the solution you'd like**

I would also like the sweeps to be moved to the other project, and linked with the corresponding runs in the project.

**Additional context**

O

[2021-07-22 13:56] tyomhak commented on #2434
Hey @ashok-arjun , thank you for the feature request! This feature is in our plans,  though we can't give an ETA yet.

As a workaround for now you could [seed a new sweep](https://docs.wandb.ai/guides/sweeps/existing-project#seed-a-new-sweep-with-existing-runs) from the moved sweep runs, to have them in a single sweep in the new project.

[2021-07-22 13:58] tyomhak commented on #2423
Hey @brenerrr , thank you for the feature request! We have this feature in our plans, but I can't give an ETA for it yet.

[2021-07-22 14:02] tyomhak commented on #2409
Hey @scottire , thanks for reporting. I'm afraid I'm unable to reproduce it as well.
Please let us know if you keep getting this crash.

[2021-07-22 16:35] vanpelt commented on #2428
You would need to modify `train.py` to add the line described after calling `wandb.init`.

[2021-07-22 16:38] vanpelt commented on #2426
Tensorboard is not supported when running the wandb/local container.  I was able to load the projector in the wandb.ai run by selecting the "PROJECTOR" value from the dropdown in the upper right:

![image](https://user-images.githubusercontent.com/17/126675874-c4065b4e-989b-4b75-9402-3e896df4ecf9.png)

[2021-07-22 16:49] jzazo commented on #2426
It didn't work in Firefox, but it did work in Edge! Thanks for checking...
Any way to integrate TB in wandb local?

Should I close this issue as there are similar issues like this one open?

[2021-07-22 17:21] vanpelt commented on #2426
We can keep this ticket open as it would be great to eventually support this natively.  Regarding tensorboard in wandb/local, it's possible we'll support it in a future release, but only when wandb/local is running in a kubernetes cluster.  The tensorboard service needs to run a seperate docker container which isn't possible from within a normal docker container unless you're running in kubernetes

[2021-07-22 17:22] besbesmany commented on #2428
I added `--upload_dataset` to `!python train.py`
I have this chart
can I  add `("metrics/mAP_0.5", summary="max") ` like in chart `runs.summary["validation dataset"]`

![5](https://user-images.githubusercontent.com/35992924/126681515-09af77d3-d4e1-403a-bf6a-ba0d4efae894.png)

[2021-07-22 17:37] jzazo commented on #2426
Ok, thanks for the clarification.

[2021-07-22 17:39] besbesmany commented on #2425
@ivangrov Thanks so much for your videos it is really helpful
if validation accuracy is mAP0.5 and mAP0.5:0.95 , where is the training accuracy how to draw it

I am still confused
I think validation accuracy is metrics/mAP0.5 and metrics/mAP0.5:0.95
what about training accuracy?
and
which two of them are the training/validation loss?
I have
train/box_loss, train/cls_loss, train/obj_loss
val/box_lo

[2021-07-22 20:33] cvphelps commented on #2315
@richardrl if you create a report with multiple run sets in a section, those run sets will operate as "OR". Here's an example from our docs. As you can see, each run set is filtering to a group of runs, which are then displayed above together on the charts.

![image](https://user-images.githubusercontent.com/6355078/126705762-e2a338ac-545e-46f1-8973-5950b179618c.png)

[2021-07-22 20:33] cvphelps commented on #2315
I'd like to note that we do have this ticket in the backlog, and would like to improve the filter UI to directly support that.

[2021-07-22 23:17] anmolmann commented on #2388
Hey @karolpiczak , If you click on the color circle O in the UI, you can change the color of the grouped runs manually.
Unfortunately for now, we're not going to be supporting syncing with custom group run colors in the near future. Thanks for your suggestion, it would be great to eventually support this. We'll track this feature request here.

[2021-07-23 05:56] anmolmann commented on #2396
Hey @abcde-1447 , you can try `plt.close()`. This will not plot the output in inline mode.

[2021-07-23 10:47] mil-ad opened #2440 "[CLI] wand.run.dir points to root (/) when running in disabled mode"
When wandb mode is set to `disabled` the `wand.run.dir` attribute points to `/`.  Is this by design or is it overlooked?

I mostly use `wandb.run.dir` to store artifacts and saving them to root is almost never what I want (and fails due permissions anyway) Doesn't it make more sense to fallback to whatever was passed to `wand.init()`s `dir` argument or CWD?

**Environment**
- OS: Linux 5.10.52-1
-

[2021-07-23 11:32] tom-andersson commented on #2420
Thanks @vanpelt. Adding the environment variable declaration to the SLURM script before running `wandb agent` hasn't fixed it. The agent command isn't getting to the point of running my train script, so it must be relying on some default config dir path before getting to my train script where I set it to a writable directory.

[2021-07-23 17:02] vanpelt commented on #2440
Hey @mil-ad when running in disabled mode we create a mocked run object that returns dummy data.  Each run actually creates it's own sub directory within the `dir` specified to `wandb.init`.  Because the run is disabled, we do not automatically create this directory.

I've created a [PR](https://github.com/wandb/client/pull/2441) that sets this to the generated directory, however that directory wo

[2021-07-23 17:04] vanpelt commented on #2420
@tom-andersson can you share the logs / stacktrace you're getting now.  You may also need to specify the `WANDB_DIR` env variable with the agent as well.

[code]

[2021-07-23 17:08] mil-ad commented on #2440
I think it makes sense that wandb is not creating that dir in disabled mode, I just think that returning `/` makes this hard to catch as it's a valid path. Perhaps returning `None` makes more sense?

[2021-07-23 17:42] vanpelt commented on #2440
Hmm, I don't like the idea of `dir` not always being a string.  What if we set it to the system temp directory?

[2021-07-23 18:20] vanpelt commented on #1179
Hey @jefft255 we did some more digging.  We still haven't found the root cause, but this issue only occurs with offline runs when an edge case is hit.  Until we find the root cause, you can manually fix the runs missing summary metrics with the following script:

[code]

[2021-07-23 18:24] vanpelt commented on #2428
@besbesmany the instructions I gave you are for modifying your local python files, not making changes in the wandb interface.  You would need to add `wandb.run.define_metric("metrics/mAP_0.5", summary="max")` to `train.py` after calling `wandb.init`.

For your "validation dataset" wandb.Table shown here, you can sort by any of the metrics logged in the table to find the individual examples that ha

[2021-07-23 18:27] vanpelt commented on #2425
@besbesmany accuracy is not measured for the training data in the default yolov5 instrumentation as this would slow down training substantially.

`train/box_loss, train/cls_loss, train/obj_loss` are the different loss values for training.
`val/box_loss, val/cls_loss, val/obj_loss` are the different loss values for validation.

YoloV5 has multiple loss values as described by @ivangrov

[2021-07-23 18:38] besbesmany commented on #2428
how to show training dataset and its accuracy in wandb

[2021-07-23 18:41] besbesmany commented on #2425
ok how to measure training accuracy , can I do that like val accuracy

[2021-07-23 19:23] ivangrov commented on #2425
Hey @besbesmany, YOLOv5 computes validation mAP (accuracy) and the validation losses automatically every epoch (and then uses that to perform early stopping and select the best weights, for example).

As @vanpelt is describing, it is not necessary to compute training mAP for every epoch as it would slow down training. Also, because the training losses are just as good of an indication that the mod

[2021-07-23 20:46] mil-ad commented on #2440
I mean, if I've specifically disabled wandb then should there even be a `wandb.run` object? let alone the `dir` attribute.  I understand that internally you might want to have a shim thing with dummy data but in terms of what gets exposed to the user it might not be the best thing.

[2021-07-23 20:57] besbesmany commented on #2428
@vanpelt if you please give me script example for yolov5
with
`wandb.init`
`wandb.run.define_metric("metrics/mAP_0.5", summary="max"`

or where to add them in train.py

[2021-07-23 21:15] vanpelt commented on #2440
The primary usecase for `WANDB_MODE=disabled` are users testing their ML projects in CI or CD.  In this case they want all of their code to execute properly and must depend on core wandb sdk methods to continue functioning, `wandb.log`, `if wandb.summary["acc"] > 0.5` etc.  If we didn't return a run object at all or broke any of our existing SDK methods the user code wouldn't be able to run.

[2021-07-23 23:14] vanpelt commented on #2428
https://github.com/ultralytics/yolov5/blob/master/train.py#L106

Add the define_metric call after the line above.  No need to call wandb.init

[2021-07-24 14:57] besbesmany commented on #2428
than you so much :)

[2021-07-24 16:25] besbesmany opened #2442 "[Q] how to draw hyperparameter chart"
I want to draw chart like this in yolov5

what should I do please?

![10](https://user-images.githubusercontent.com/35992924/126874805-7b61e649-452a-4b5a-8c90-a2e30ceb5a2a.png)

[2021-07-24 18:38] prikmm commented on #1994
@KyleGoyette Hii, any progress on this issue? I didn't use pytorch-lightning. I got this issue while using transformers and pytorch-xla.

[2021-07-24 19:36] KyleGoyette commented on #1994
@prikmm Either the next release or the release after will have a new experimental mode of running that supports this case.

[2021-07-24 20:39] besbesmany opened #2444 "[Q]wrong steps appears in all charts"
I have augmented dataset from roboflow
when i run train.py
the steps (epochs) suddenly doubled and the chart instantly and increase accuracy
the yellow line runs now at 190 epoch
yesterday orange line runs nearly to 220

but they gives double step instantly

this is my train line
!python train.py --img 416 --batch 16 --epochs 500 --data aerialRobo.yaml
  --weights yolov5x.pt --cache --project trai

[2021-07-24 22:11] mil-ad commented on #2440
Thanks for the explanation -- that makes sense. I think in case of `wandb.run.dir` it's difficult for the code to continue functioning unless you return something in `/tmp`

[2021-07-25 05:09] shaibagon commented on #1192
running wandb 0.11.0, cannot reuse deleted run names:
[code]
Is there a plan for this fix?

[2021-07-25 05:30] besbesmany commented on #2444
this the same figure in wamdb and tensorboard
the wamdb have double steps
there is a problem in wamdb chart how to solve it

![1](https://user-images.githubusercontent.com/35992924/126888834-433071d1-0521-41ff-95c1-7d51e79b6f72.png)
![W B Chart 7_25_2021, 7_16_51 AM](https://user-images.githubusercontent.com/35992924/126888836-de800b67-f5c6-492f-8968-40d699eb9b43.png)

[2021-07-25 07:47] sachinruk opened #2446 "[App] Logging image tables"
Hi all, I'm trying to log images as tables and have the following simple example which isn't working with PyTorchLightning WandbLogger. Just wondering if I'm doing anything obviously wrong. Thanks in advance.

[code]

wandb version: `'0.10.26'`

On the wandb page, all I see is this (stating "Weave expressions are limited to 25 runs. Of the first 25 runs selected, none have data to visualize for th

[2021-07-25 10:08] besbesmany opened #2447 "[Q]how to display yolov5 test result in wandb"
I run yolov5 test

[code]
where I can find result and charts of the test data like accuracy and loss, percision and recall
for object detected and output classes

[2021-07-25 15:43] besbesmany opened #2448 "[Q]can't delete runs (cannot delete artifact)"
cannot delete artifact QXJ0aWZhY3Q6MTU5NDQwMjk= as its dependent artifacts must be removed first

![2](https://user-images.githubusercontent.com/35992924/126904925-dafea6c3-6d52-4c18-8594-c87f4f18f637.png)

[2021-07-25 16:01] besbesmany commented on #2448
I solve it thank you

[2021-07-25 18:06] vanpelt commented on #2442
In your workspace, click the "+" button on the right of the screen and choose "Parallel Coordinates"

![image](https://user-images.githubusercontent.com/17/126908846-5f2e6c4d-2ceb-4c54-ab2a-aac3f8ac0b87.png)

[2021-07-25 18:06] #2442 closed

[2021-07-25 18:12] vanpelt commented on #2440
Cool, I've changed it to use `tempfile.gettempdir()` and will release next week.

[2021-07-25 18:12] #2440 closed

[2021-07-25 18:15] vanpelt commented on #1192
Hey @shaibagon currently all version of wandb do not support reusing deleted ids.  We may add support for this in the future, but it's not currently prioritized.  Until then, are you able to modify your id generation code to use a different id?

[2021-07-25 18:19] vanpelt commented on #2444
@besbesmany the default "step" with wandb increments every time `wandb.log` is called.  You can log other steps alongside metrics by adding them to the `wandb.log` calls.  It looks like we currently aren't logging an additional steps in our default yolo implementation.  I'll sync with our team about adding this to a future yolo release.

[2021-07-25 18:21] vanpelt commented on #2446
Hey @sachinruk I would definitely suggest upgrading your wandb library.  However, the issue you're seeing is likely exactly what the error message says.  In your workspace can you add some filters so that only the run which logged "test table 2" are filtered?

[2021-07-25 18:26] vanpelt commented on #2447
@besbesmany `val.py` itself would need to call `wandb.init(project="YOUR_PROJECT")` and then make calls to `wandb.log(...)` to log metrics / tables.  More documentation on our library can be found here:  https://docs.wandb.com

 I'm not familiar with `val.py` or what it does, but you can never call `wandb.init` in one process then start another python process with `python val.py` and expect it to

[2021-07-25 18:26] #2447 closed

[2021-07-25 18:26] #2448 closed

[2021-07-25 19:08] besbesmany commented on #2447
can you please give me an example of code to add wandb to disply val result and test result for yolov5 for yolo code like this

[https://colab.research.google.com/drive/1AQ64y-DV51aXRpowlw79bXanhmsYEz59?usp=sharing](url)

[2021-07-25 19:12] besbesmany commented on #2444
can you give me example of code to do that I really don't understand  how to make that
this is a yolo code , how can I make `wandb.log` steps
[https://colab.research.google.com/drive/1AQ64y-DV51aXRpowlw79bXanhmsYEz59?usp=sharing](url)

[2021-07-25 19:22] besbesmany opened #2449 "[Q]wandb.run.define_metric("metrics/mAP_0.5", summary="max") error"
Sir , I added this line
`wandb.run.define_metric("metrics/mAP_0.5", summary="max") `

after
`names = ['item'] if single_cls and len(data_dict['names']) != 1 else data_dict['names']  # class names`
in train.py

I got this error

Traceback (most recent call last):
  File "train.py", line 47, in <module>
    from utils.wandb_logging.wandb_utils import WandbLogger, check_wandb_resume
ModuleNotFoundErr

[2021-07-25 19:23] besbesmany commented on #2442
thank you sir

[2021-07-25 21:03] besbesmany opened #2450 "[Q]where I can find the summary of each run like in the figure"
where I find this data numbers in summary https://wandb.ai/

Run summary:
wandb:                 train/box_loss 0.03868
wandb:                 train/obj_loss 0.05482
wandb:                 train/cls_loss 0.05741
wandb:              metrics/precision 0.24984
wandb:                 metrics/recall 0.45605
wandb:                metrics/mAP_0.5 0.38431
wandb:           metrics/mAP_0.5:0.95 0.26096
wand

[2021-07-25 23:28] sachinruk commented on #2446
I'm afraid I don't really know what weave expressions are. sorry :(

[2021-07-26 02:09] maria-korosteleva commented on #1862
I have not seen the problem for a long time, so I figure that it's resolved with the above-mentioned solution

[2021-07-26 02:09] #1862 closed

[2021-07-26 07:27] mjohenneken commented on #1869
I cannot reproduce it currently.

[2021-07-26 11:39] possible1402 opened #2451 "The order of parameters in sweep config will influence the result"
**Description**
I used the sweep example of pytorch version [https://colab.research.google.com/github/wandb/examples/blob/master/colabs/pytorch/Organizing_Hyperparameter_Sweeps_in_PyTorch_with_W%26B.ipynb#](url) and found that if I change the order of parameters, the corresponding will be different. For example, in this example, if the 'dropout' in parameters_dict is changing from [0.3, 0.4, 0.5]

[2021-07-26 12:45] jefft255 commented on #1179
Your script works, and is a good enough fix for me for now, thank you for your help!

[2021-07-26 12:47] mtkinit commented on #1447
In my case, I tried to stop using TQDM (it was only used in 3 loops). After that, the problem with file handles disappeared.

[2021-07-26 13:50] chenshen03 opened #2453 "[Q] How to cite wandb in paper?"

[2021-07-26 14:48] vanpelt commented on #2450
These values are in the table of your workspace, or they can be viewed from the run overview page for an individual run.  You can access the run overview tab by clicking the circle icon with an i in the center on the upper left hand side of the individual run page.  The summary metrics are in the lower right of the overview page.

![image](https://user-images.githubusercontent.com/17/127009362-2a7

[2021-07-26 14:48] #2450 closed

[2021-07-26 14:50] vanpelt commented on #2446
You don't need to use weave expressions.  You just need to filter the workspace table to only include runs that actually logged "test table 2".  The filters are available in your workspace with the green filter icon:

![image](https://user-images.githubusercontent.com/17/127009671-637a2196-0341-494a-aaf2-5551162db3d9.png)

[2021-07-26 14:54] vanpelt commented on #2451
Closing as a duplicate of https://github.com/wandb/examples/issues/82

[2021-07-26 14:54] #2451 closed

[2021-07-26 14:57] vanpelt commented on #2453
https://docs.wandb.ai/company/academics#cite-weights-and-biases

[2021-07-26 14:57] #2453 closed

[2021-07-26 15:05] vanpelt commented on #2449
We would need the full traceback to debug this.  The specific error is saying when `train.py` tried to import `utils.wandb_logging` it couldn't find that module.  This could mean theres a filed named `utils.py` or a directory which doesn't actually have that module.  This specific error has nothing to do with the line you added.  I would verify that after restoring the file to what it was before y

[2021-07-26 15:59] besbesmany commented on #2450
thank you sir

[2021-07-26 16:03] besbesmany commented on #2449
do you mean you will fix `utils.py` sir or should I add something to avoid error that appears??

[2021-07-26 16:06] besbesmany commented on #2444
can you please give me colab file that contains how to call and modify `wandb.log(...)` ,`wandb.init(project="YOUR_PROJECT" `
with yolov5 , I couldn't find any full example with yolo

I still didn't use full features of  wandb
please help me

[2021-07-26 17:12] vanpelt commented on #2444
@besbesmany you won't be able to modify the way steps are logged with the default yolov5 implementation.  We'll need to release a new version of the yolov5 integration to support this.

[2021-07-26 17:13] vanpelt commented on #2449
No, @besbesmany this is an error in your code.  Unless we have the full traceback we can't know the root cause.  My guess for the root cause was an issue with your python environment or path loading a `utils.py` file that isn't the one the yolov5 library expects.  Please share the full traceback of the error, or a colab that can reproduce it if you want help debugging.

[2021-07-27 02:29] besbesmany commented on #2444
when this version will be released?

[2021-07-27 02:37] besbesmany opened #2458 "[Q]how to get accuracy for runs as in figure"
how to get accuracy column for runs in yolov5

<img width="925" alt="mail" src="https://user-images.githubusercontent.com/35992924/127086159-dba3e256-fffb-423b-9038-a960fc5905a6.png">

[2021-07-27 02:43] besbesmany commented on #2444
can I show same charts with steps divided by 2, so I can get the correct chart

[2021-07-27 05:09] shaibagon commented on #1192
@vanpelt I'll have to do that. Thank you for the reply.

[2021-07-27 05:50] ecthompson99 commented on #1156
@KhushalB did you figure out a workaround on the kaggle kernel? Running into this problem now.

[2021-07-27 08:12] KhushalB commented on #1156
@ecthompson99 setting anonymous='must' worked for me. Was not able to claim the runs from my wandb account after though.

[2021-07-27 10:06] tommasodelorenzo opened #2460 "[CLI] Report to wandb in Hugginface trainer triggers CUDA out-of-memory"
**Description**
Reporting to wandb in Huggingface `trainer` with `unilm/layoutxlm` [model](https://github.com/microsoft/unilm/tree/master/layoutlmft) get CUDA out-of-memory.
If I uninstall wandb and set `report_to = None` everything works fine.
The error is triggered in the middle of the second epoch with `batch_size = 1`, so the problem cannot be in the data used.
[code]

**Wandb features**
Huggi

[2021-07-27 15:49] vanpelt commented on #2447
What's the issue?  The colab you linked to does not call `val.py`.  The built in yolo logger should send metrics to wandb just fine.  Just be sure to call `wandb.login()` in your colab before executing `val.py` or `train.py`

[2021-07-27 16:07] vanpelt commented on #2458
I don't understand the question.  The final accuracy of each run is displayed in this image in the accuracy column.  You have a circle around the "sweep" icon but it's not clear how that's related to your question.  Can you try asking it again?

[2021-07-27 16:11] vanpelt commented on #2444
Yes, but it's not clear to me why it's important.  Can you explain to me why the actual value of the step is important to you?  I would imagine if all runs were using the same step simply being able to compare them is the important thing.

You can click the "edit" icon (pencil) when you mouse over a chart.  Then select the "Expressions" tab.  From there you can add an X-Axis expression as shown be

[2021-07-27 16:18] vanpelt commented on #2460
@tommasodelorenzo you can set the `WANDB_WATCH` environment variable to "false".  By default we monitor tensorstats in the GPU and it looks like your model / GPU memory is not large enough to handle the additional tensors required to track gradient stats.

[2021-07-27 16:36] besbesmany commented on #2444
Thank you sir for your time with me, I really appreciate this
I run several experiments with yolo5 but the error appears only in the last 4 runs

my epochs was 500 , I have nearly 9 experiments
the last 4 has that error (double steps)
so

can I do step/2 for certain charts only?
also I can't change expression to _step/2 it is not active to write,
what should I do now

![1](https://user-images.gith

[2021-07-27 16:41] besbesmany commented on #2447
is this correct

[code]
`val.py` or `train.py`

I was just coding withoud `login()`
[code]

[2021-07-27 16:47] besbesmany commented on #2458
sorry I mean accuracy tab how to get it beside name (visualized) tab

![2](https://user-images.githubusercontent.com/35992924/127194714-d9e838e3-3078-42c1-a011-4ce7f6bc4b75.png)

[2021-07-27 21:18] tommasodelorenzo commented on #2460
@vanpelt it worked! Thanks

[2021-07-27 21:18] #2460 closed

[2021-07-28 03:54] kanishk-aidash opened #2465 "[CLI] : MPI distribution fails to initialise wandb 2465"
**Description** FileExistsError when using mpi distribution with Sagemaker **Wandb features** wandb.init() **How to reproduce** 1. Link to a reproducible script we can run to see the bug ``` ============================================================= [1,1]<stdout>: [1,4]<stdout>: [1,1]<stdout>: [1,3]<stdout>:Problem at: train.py 25 <module> [1,2]<stdout>:Problem at: train.py 25 <module> [1,7]<st

[2021-07-28 08:54] ashok-arjun commented on #2434
@tyomhak That works, thank you for the help!

[2021-07-28 08:54] #2434 closed

[2021-07-28 10:33] emalgorithm opened #2467 "[CLI] Sweep API only returns 500 runs"
**Description**
When getting runs from a sweep through the python API, if the sweep has more than 500 runs, the API will only return 500 runs:
sweep = api.sweep()
runs = sweep.runs

**Environment**
- OS:  Mac OS Catalina 10.15.7
- Environment: Python file
- Python Version: 3.7

[2021-07-28 12:44] besbesmany commented on #2449
In fact I don't know how to fix the error I only add this line in train.py
`wandb.run.define_metric("metrics/mAP_0.5", summary="max")`

[2021-07-28 13:42] besbesmany opened #2468 "[Q]want to make percision/recall chart"
I want get figure like this for yolov5
![7](https://user-images.githubusercontent.com/35992924/127332534-32d5aedc-f1c9-44cd-a9b6-3c7fb551b555.png)

I get this one  how to get it percison/recall

![6](https://user-images.githubusercontent.com/35992924/127332606-4e07afd9-ed6b-46ef-bc49-e34009171f37.png)

[2021-07-28 15:09] vanpelt commented on #2444
Unfortunately there isn't a way to make the expression work for only 4 of the runs.  You'll need to run them again if you want them to be the same as the others.

To change the x-axis for a specific chart just modify the X Axis Expression.  In your screenshot you clicked "Add an expression", that's not what you want.

![image](https://user-images.githubusercontent.com/17/127347264-1e89126c-bbcc-48

[2021-07-28 15:10] vanpelt commented on #2447
[code]

[2021-07-28 15:11] vanpelt commented on #2458
Choose "Pin Column"

![image](https://user-images.githubusercontent.com/17/127347575-9f5f9524-4bf2-4782-a4d7-a1120551ea9f.png)

[2021-07-28 15:11] #2458 closed

[2021-07-28 15:27] vanpelt commented on #2465
Every call to `wandb.init` must have a unique `id`.  You're spawning 8 processes in parallel and having them all use the same id.  You likely want to change `wandb.init(id=YOUR_ID)` to `wandb.init(group=YOUR_ID)` so that each runs generates it own unique id but you'll see all runs as the part of a single group.

[2021-07-28 15:38] vanpelt commented on #2449
Send the full stacktrace and the exact commands you ran.

[2021-07-28 15:40] vanpelt commented on #2468
You would need to explicitly log this: https://docs.wandb.ai/ref/app/features/custom-charts

[2021-07-28 15:40] #2468 closed

[2021-07-28 16:22] tom-andersson commented on #2420
@vanpelt Wandb is still using the default dir in `/users` - see stack trace below
[log.txt](https://github.com/wandb/client/files/6894916/log.txt)

And this is with the following in my SLURM script:

[code]

[2021-07-28 17:16] vanpelt commented on #2420
Hey @tom-andersson are you sure they are actually set in the environment?  If the SLURM script is running bash you would need to do:

[code]

[2021-07-28 17:16] vanpelt commented on #2420
Or the following would also work:

[code]

[2021-07-28 19:38] chris-tkinter opened #2470 "[Q] How to compare config between two or more runs?"
Hi one cool feature from neptune is that we can compare the config between two or more runs, and so far I am not sure how to do the same in wandb. By comparing the config I mean comparing config in this table
![image](https://user-images.githubusercontent.com/86935669/127385225-30527a02-a7d3-42cc-b68f-5678cee5ed45.png)
Thanks!

[2021-07-28 20:31] vanpelt commented on #2470
@chris-tkinter you bet!  You can click the "+" icon in your project workspace and choose [Run Comparer](https://docs.wandb.ai/ref/app/features/panels/run-comparer) from the list of panels.

[2021-07-28 20:31] #2470 closed

[2021-07-29 01:51] Sun-Rider commented on #2444
I'm facing the same problem.

When I ran the same model for several times with some minor changes (I'm believe it wouldn't affect the log step), the charts will have some step difference...

[2021-07-29 10:20] maxhuettenrauch opened #2472 "[Q] Log multiple steps in one call / batch log"
Hi!

In my optimization, a single optimizer step is quite fast which can result in many wandb.log calls per second. Is there a way of "collecting" step data before actually submitting it to the servers? I.e. something like a log interval?

Cheers

[2021-07-29 17:13] besbesmany commented on #2468
Please Sir
I don't understand how to use your code with yolov5 documnets gives code I don't know where to put it

can you give me complete example for code of yolov5 with `wandb.plots.pr_curve`

should I put it before `train.py` and how to put it
what to put inside brackets of` wandb.plots.pr_curve()`

[2021-07-29 17:31] besbesmany commented on #2458
thank you

[2021-07-29 17:58] besbesmany commented on #2447
ok is the validation appears as a separate run  or with the same training run , is there an example in wandb of
train , val, test for the same dataset

[2021-07-30 04:51] anmolmann commented on #2467
Hi @emalgorithm , currently we've a limit set on `Api().sweep().runs` to return at most 500 runs.
However, there is a workaround which might help you with your use case. Use `wandb.Api().runs()` with specifying the sweep_id in filters:
﻿`runs = wandb.Api().runs(path="entity/project", filters={"sweep":"your_sweep_id"})`.

[2021-07-30 08:43] lollows commented on #2422
**The question** is  a proxy issue with urllib3, which didn't support HTTPS before v1.26 and would silently connect to the proxy via HTTP.
**The answer** is to change` HTTPS_PROXY=https://<host>` to be `HTTPS_PROXY=http://<host>`. For more details, please [see here](https://github.com/pypa/pip/issues/9216#issuecomment-741836058)

[2021-07-30 08:43] #2422 closed

[2021-07-30 11:13] sekeratib commented on #965
Hi, is there any activity on this issue?

It would be great indeed, to have something like this working!

`from wandb.catbooost import WandbCallback`

[2021-07-30 11:41] scottire commented on #2409
Ok, I will do. Closing for now.

[2021-07-30 11:41] #2409 closed

[2021-07-30 11:49] scottire opened #2477 "[App] Sorting by ❤️ in Reports Overview sorts by Title instead"
**Describe the bug**
On a users Overview page in the Reports section, if you try click the ❤️ column to sort by number of hearts, it instead sorts by Report Title.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [https://wandb.ai/stacey](https://wandb.ai/stacey)
2. Scroll to Reports section
3. Click ❤️ Column
4. See that it hasn't sorted by number of ❤️, it instead has sorted by title.

[2021-07-30 14:14] prash-p opened #2478 "[Q] Plot multiple 'tables' from one run on one custom chart"
Hi,

I am logging multiple tables per run using wandb.Table(). Each table stores an array of floats. I then log them using wandb.log('Table A': wandb.plot.histogram(table_a), 'Table B': wandb.plot.histogram(table_b)).

I want to plot boxplots of these tables using the Vega functionality - but I want them on the same axis (all tables from each run across multiple runs). At the moment I can only plo

[2021-07-30 15:37] vanpelt commented on #2444
@Sun-Rider every time you run `wandb.log()` we increment the "_step" counter.  If you don't want to increment the "_step" counter you can add the argument `commit=False` to your `wandb.log()` and a subsequent call to `wandb.log()` without the commit argument will increment the step.  If you want full control of your steps you can log them as seperate metrics to wandb.log.  I.E. `wandb.log({"acc":

[2021-07-30 15:43] vanpelt commented on #2472
Hey @maxhuettenrauch, you bet.  You can specify the `commit=False` method to accumulate metrics into a single step.  A simple loop could look like:

[code]

When `commit=False` we actually just maintain a dictionary and update it with the new metrics.  In the example above, only the last random value for "loss" will be reported to wandb every 100 batches.  For example, if I did:

[code]

[2021-07-30 15:43] #2472 closed

[2021-07-30 15:45] vanpelt commented on #2468
Unfortunately it's rather complicated to construct a PR curve with the Yolov5 data.  I won't be able to provide any example code for this today.  As our implementation improves in maturity this will likely happen automatically or be an option in the future.

[2021-07-30 15:47] vanpelt commented on #2447
It will be in a new run.  I don't believe we have any examples of train, val, test but I'll tag my colleague @AyushExel who may be able to point you in the right direction.

[2021-07-30 16:33] AyushExel commented on #2447
@besbesmany Hi. The default behavior is to not log validation only runs to W&B. The `WandbLogger` instance is initialized in train.py. In fact, all the calls to loggers are made on the train.py file so there isn't a clean one-liner that can work with val.py only.
I have a simple solution for your case that should not mess with other operations like train, inference.
in the val.py, add:
[code]
Chan

[2021-07-30 17:12] AyushExel commented on #2468
@besbesmany This is more of a YOLOv5 question, probably it's better to open an issue there. We log every metric that is computed, so once that metric gets computed in YOLOv5, you should be able to see it in the dashboard.

[2021-07-30 17:14] AyushExel commented on #2468
@besbesmany This seems more related to YOLOv5 than wandb. Can we open an issue there to propose the custom charts solution to this problem?

[2021-07-30 18:06] besbesmany commented on #2447
Thank you sir I will try this

[2021-07-30 18:16] besbesmany commented on #2468
yes yolov5 gives PR curve in log directory
but I want to compare PR curves for several runs together in the same chart , how to do this please?

[2021-07-30 18:23] AyushExel commented on #2468
@besbesmany I'm not sure, haven't done that before. I'll get back to you in a day or two after trying it

[2021-07-31 12:06] AyushExel commented on #2444
@Sun-Rider @besbesmany This is not intended and is definitely a bug. This was probably introduced by a revamp of logger API that went out a few days ago which unifies wandb and tb logger. Earlier `wandb.log` was called only once per epoch so your steps should always be equal to total epochs. I have filed an issue on YOLOv5 so I don't forget to fix this.
https://github.com/ultralytics/yolov5/issues

[2021-07-31 14:38] besbesmany commented on #2444
@AyushExel  when this will be solved If you can sir?
Thanks for your time with me

[2021-07-31 14:55] AyushExel commented on #2444
@besbesmany we're working on multiple features right now, so you can expect this to be fixed sometime next week. I'll let you know once the fix is merged. All you'll need to do is run `git pull` in the `yolov5/` directory.

I'm working on revamping the README for W&B integration. I'll put up a PR for it soon but if you want a short reference of things you can do with yolo ,W&B artifacts and tables

[2021-07-31 15:09] besbesmany commented on #2444
@AyushExel thank you sir
please add these features too because I get alot of errors

1- get max value of chart train.py
`wandb.run.define_metric("metrics/mAP_0.5", summary="max")` because it gives me an error
Traceback (most recent call last):
File "train.py", line 47, in
from utils.wandb_logging.wandb_utils import WandbLogger, check_wandb_resume
ModuleNotFoundError: No module named 'utils.wandb_l

[2021-07-31 15:13] AyushExel commented on #2444
@besbesmany wait, you're getting the error in the existing train script? I'm talking about point 1.
2. will be a bit of work. I'll have to ask the maintainer if he's open to doing something like that.
3. What do you mean by data accuracy exactly? Are there some metrics that we can compute? If so, please share some papers/implementations that we can use for reference

[2021-07-31 17:12] besbesmany commented on #2444
the first point Mr. @vanpelt (thanks for him alot) gives me the code to add in train.py to get max mAP it works great for 3 runs then it gives me that error (No module named 'utils.wandb_logging' ), I found this folder inside yolov5 folder but the colab couldn't see it , I don't know why ...
so if you can make max and average for mAp 0.5 , 0.5:0.95 available by default in charts

2- I need pr_curv

[2021-07-31 17:21] besbesmany opened #2482 "how to run sweeps for yolov5"
how to run sweeps for yolov5
in this code

[https://colab.research.google.com/drive/19fiDEOl3zEeLHTCLFbrnWxGahwuDx7O0#scrollTo=r4VjKui20N3j](url)

should I add
`train.py --img 416 --batch 16 --epochs 500 `
after last line in code
`wandb.agent(sweep_id, train, count=5)`

and which .yaml have parameters to change

[2021-07-31 18:22] AyushExel commented on #2444
@besbesmany Okay. 1. should be simple enough. I'll do it.
2. same as before, I'll need to ask Glenn
3. This isn't optimal. Think of how much computation and time will be required if you calculate these metrics on a train split of large datasets like coco. I agree that train metrics do provide some info but choosing the best model is generally based on a validation dataset. You may raise a feature

[2021-07-31 23:48] artem-tkachuk commented on #1523
Quick "fix" or workaround while the official feature is still not here yet: set `wandb.run.tags = ["<HOSTNAME_HERE>"]` in your script (in my case I used `os.environ["SLURM_JOB_NODELIST"]` for that placeholder) and then get it with `run.tags[0]` when getting runs data through wandb API :)

[2021-07-31 23:48] artem-tkachuk commented on #2305
Quick "fix" or workaround while the official feature is still not here yet: set `wandb.run.tags = ["<HOSTNAME_HERE>"]` in your script (in my case I used `os.environ["SLURM_JOB_NODELIST"]` for that placeholder) and then get it with `run.tags[0]` when getting runs data through wandb API :)

[2021-08-01 07:14] AyushExel commented on #2444
@besbesmany Your original issue of step counts being doubled is fixed. See latest run that I did for 3 epochs https://wandb.ai/cayush/yoloV5/runs/2fbkc326?workspace=user-cayush.
There are only 3 steps.

[2021-08-01 13:23] diegoquintanav commented on #1912
is this fixed? I'd be glad to know how to fix this :+1:

[2021-08-01 14:28] amorehead opened #2483 "Proxy Issue on GPU Cluster"
Hello.

For the past month or so, I have been training machine learning models on a GPU cluster called Summit. Previously, I reached out to Summit's support staff to enable their compute nodes to reach external web endpoints using the following proxy URLs.

export all_proxy=socks://proxy.ccs.ornl.gov:3128/
export ftp_proxy=ftp://proxy.ccs.ornl.gov:3128/
export http_proxy=http://proxy.ccs.ornl.gov:

[2021-08-01 15:34] vkostyuk opened #2484 "[CLI] wandb.init() fails with HTTPError entity <username> not found during upsertBucket"
**Description**
wandb==0.11.1
python==3.8.10
OS==Linux/Ubuntu 20.04.2 LTS

Running `wandb.init(settings=wandb.Settings(start_method="fork"))` in the beginning of a notebook or script works fine, but fails when run after setup steps with the following debug.log (I replaced my username with `<username>` everywhere below):

[code]

A few things I tried:

1. Omitting `settings=wandb.Settings(start_met

[2021-08-01 15:44] besbesmany commented on #2444
thank you sir

[2021-08-01 15:45] besbesmany commented on #2468
@AyushExel  don't forget me sir

[2021-08-01 22:51] vanpelt commented on #1912
@diegoquintanav by default `artifact.download()` will download files into a directory named `./artifacts/artifatname:version`.  This way you can download multiple artifact versions without overwriting previous ones.  If you specify `root` the artifact will be download directly into that directory so you're responsible for cleaning it up.

This ticket is about specifying the cache directory which i

[2021-08-01 22:59] vanpelt commented on #2483
Hey @amorehead this indicates your proxy stopped serving valid SSL to the libraries making requests to HTTPS services.  You can set the `WANDB_INSECURE_DISABLE_SSL=true` environment variable, however this will mean your connection isn't being verified which could open you up to an attacker.  The ultimate solution is contacting your IT administrator about configuring trusted certificates with your

[2021-08-01 23:15] vanpelt commented on #2484
Definitely a bug.  Can you try adding entity=<username> to your wandb.init call?

[2021-08-02 01:26] vkostyuk commented on #2484
I tried adding `entity=<username>` as a `wandb.init` argument -- no effect: same error as above.

[2021-08-02 03:04] amorehead commented on #2483
Thanks, @vanpelt! This gives me something to go off of for the time being. If I find out anything more (that may be relevant for others), I will let you all know

[2021-08-02 03:04] #2483 closed

[2021-08-02 07:06] maxhuettenrauch commented on #2472
Hey @vanpelt, thanks for the quick answer. I already found the `commit` option, but it's not exactly what I want. Using `commit=False` overwrites the data in the "loss" field in your example, but I actually want to keep it. But in order to keep the server communication lower, I would like to send it only every 10 iterations for example.

In your example

`
for epoch in range(100):
  for batch in r

[2021-08-02 09:20] diegoquintanav opened #2486 "[CLI] `Artifact.download()` produces files in a different directory"
**Description**
Specifying `root` dir in `artifact.download` downloads a copy in `./artifacts`

**Wandb features**
problem is reproduced in
https://colab.research.google.com/gist/diegoquintanav/99364d4a83463ad121a7fbf4deb03175/wandb_issue_1912.ipynb

**How to reproduce**
1. Go to https://colab.research.google.com/gist/diegoquintanav/99364d4a83463ad121a7fbf4deb03175/wandb_issue_1912.ipynb
2. Expect