[2021-03-08 13:57] ariG23498 commented on #1927
Hey @samsamoa
Thanks for the details.
We will look into this. 😄

[2021-03-08 14:07] ariG23498 commented on #1926
Hey @ethanabrooks
We do support sweeps from the `wandb API`.

## Initializing the sweep
[code]

## Launch agent
[code]

Docs: https://docs.wandb.ai/sweeps/python-api
Hope this solves your problem 😄

[2021-03-08 14:35] ariG23498 commented on #1929
Hey @ganitps
As far as I understand your ticket, you want to resume a stopped run that is part of a sweep. I am a little confused as to why we need another agent for this ticket?

It would be great if you shared a working snippet of the issue that you are facing. That would help us reproduce and share our insights really quickly.

[2021-03-08 14:58] ariG23498 commented on #1153
Hey @omerferhatt
The feature of `os.environ['WANDB_NOTEBOOK_NAME'] = 'name_of_the_notebook'` only exists for jupyter notebooks for the time being.
One should not find a problem with the `python console` too. With the `ipython console` setting the environment variable is not possible because we do not have a name for the interactive-python shell.
@wiseyoungbuck I did not find any problem with jupyt

[2021-03-08 15:21] ethanabrooks commented on #1926
It certainly does! I guess I missed this. Thank you!

[2021-03-08 15:21] #1926 closed

[2021-03-08 15:41] ganitps commented on #1929
Hi @ariG23498 ,
Thanks for your reply, I edited the "To Reproduce" your question was right, I dont start a new wandb agent...
like this:
run = wandb.init(project="my_project", entity="my_entitiy", config=default_config, resume="last_run_id")
print('config', wandb.config)

the output is same as default_config and not as sweep config printed on the first agent run.
but the run does resume and graphs

[2021-03-08 15:43] venkatasg commented on #1931
I'm getting the same error as well - this is with the [Simple Pytorch Integration notebook](https://colab.research.google.com/github/wandb/examples/blob/master/colabs/pytorch/Simple_PyTorch_Integration.ipynb#scrollTo=JPQG1_I8DB7U)

[2021-03-08 15:48] arvindchandel commented on #1931
@ariG23498 @venkatasg include following code and run it before running the cell, where you getting HTTP error, include User-agent as per yours setting.

from six.moves import urllib
opener = urllib.request.build_opener()
opener.addheaders = [('User-agent', 'Chrome/35.0.1916.47')]
urllib.request.install_opener(opener)

[2021-03-08 15:48] arvindchandel commented on #1931
Issue is resolve, so closing it.

[2021-03-08 15:48] #1931 closed

[2021-03-08 17:06] ariG23498 commented on #1929
Here you are passing the `default_config` to the run. This will eventually show the default config as you print the config of the run.

I tried reproducing the ticket that you had raised. A detailed walk-through is as follows 👇

## `train.py`
[code]

## `sweep.yml`
[code]

- `$ wandb sweep sweep.yml`
- Running the sweep agent
- Ctrl + C in the console to abruptly stop the sweep run.
![image](https

[2021-03-08 21:44] cvphelps commented on #1747
To get the best model file, saved as an artifact, from a sweep:
1. Run a sweep. Don't set run IDs.
2. Open the sweep page in the UI. Sort by the columns you care about to find the best run for a given metric.
3. Click on the best run, and then click on the artifact tab. Download the artifact.

@annirudh could you describe how to do this from python

[2021-03-08 21:51] annirudh commented on #1747
From the API, you could do something like this:

[code]

[2021-03-09 03:45] tshmak opened #1940 "[Feature] Sync time zone information with server"
**Is your feature request related to a problem? Please describe.**
My local machine has a wrong time-zone config. So when I ran wandb, the run was registered on the wandb server as running x hours ago, whereas it should only be a few seconds.

**Describe the solution you'd like**
I think this issue can be solved by syncing not only the time but also the time-zone (absolute time?) with the server.

[2021-03-09 05:17] ariG23498 commented on #1940
Hey @tshmak
Thank you for the feature request.

[2021-03-09 08:48] ganitps commented on #1929
Thanks @ariG23498 !!
That does solve my problem :) and now that you say it it sounds logical... 👍

[2021-03-09 08:50] #1929 closed

[2021-03-10 00:54] Tahlor commented on #1308
I often run jobs on nodes that don't have internet access, but other nodes that share the file system do have internet access. You could imagine the internet-less nodes produce outputs logs intermittently and a process on an internet node uploads these (or it's uploaded upon completion). Does any kind of functionality like this exist, or is it planned, or would it be difficult (for me) to hack? Th

[2021-03-10 04:42] cigrainger commented on #1739
I've got the same issue. Pretty tough to minimally reproduce without a WandB account. It appears the `self.logger.experiment` object is None when DDP forks.

[2021-03-10 22:58] seanswyi opened #1945 "[Feature] Also display corresponding value of x-axis along with y-axis."
**Is your feature request related to a problem? Please describe.**
My request isn't related to a problem, rather I thought it'd be convenient if the value of the x-axis (e.g., step number) would also be displayed along with the y-axis value (e.g., F1 score) on the dashboard. It's convenient that the values of the y-axis are displayed as you move along the chart, but sometimes I'd like to know at w

[2021-03-10 23:04] lukas commented on #1945
Could you post a screenshot of what you mean - in my basic graph the x-axis values show up:

![image](https://user-images.githubusercontent.com/29/110709873-c937bd80-81b1-11eb-90f2-a801c06c898a.png)

[2021-03-10 23:19] MohammedAljahdali opened #1946 "[CLI] Wandb error using PyTorch Lightning and Ray Tune"
**Description**
I am using ray tune and pytorch lightning, therefore I run multiple wandb runs in a single script. I use wandb.run.finish() at the start of the training function or using wand_mixin from ray tune to end a wandb run and start the new one. But after ending the wandb run and starting the new one I get the following error:

[code]
Moreover, wandb run ends successfully and I get the fol

[2021-03-11 00:01] seanswyi commented on #1945
Sure, I should have been more explicit in my original post. The x-axis itself also shows for me as well, but what I was referring to is something like this:
![wandb_feature_request](https://user-images.githubusercontent.com/20367759/110715261-3a29b480-8248-11eb-9017-ac4e755608fd.png)

I'm not sure if you can see it, but I edited in a "Step: 130,302" on top of the y-axis values (it's supposed to be

[2021-03-11 00:03] seanswyi commented on #1945
Oh, I didn't realize that was the value until now. Seems like a misunderstanding on my part. Thanks for the clarification, I'll close this issue.

[2021-03-11 00:03] #1945 closed

[2021-03-11 04:16] vanpelt commented on #1946
Hey @MohammedAljahdali can you upgrade your installation of wandb to the latest version with `pip install wandb --upgrade` then try setting the environment variable WANDB_START_METHOD=thread and run the script again?

[2021-03-11 10:49] MohammedAljahdali commented on #1946
Thank you @vanpelt tried what you said, and I still get the same error, however some times only this part of the error:
[code]

[2021-03-11 12:38] keni7385 commented on #939
Do you know any workaround to avoid multiprocessing? Basically, I'm interested in running each fold sequentially in the main process, by keeping the same organization with group and job_type.

Currently, I tried by just invoking a train function in the for loop without the `multiprocessing` code, but the run of the `i+1`-th fold overwrite the run of the `i`-th fold, even if the `job_type` is diffe

[2021-03-11 14:22] pkuderov commented on #1268
Hello!
Have you fixed interfering with `tqdm` output? I have `0.10.22` version and it still affects the width of tqdm progress bar in both silent and non-silent mode!

First pic, **up** - non-silent mode, **down** - silent mode. Look at how short is tqdm progress bar. Second pic - I entirely commented out wandb usage (no init, etc.) and progress bar returned to normal width. It seems that you some

[2021-03-11 19:17] farizrahman4u commented on #1268
@pkuderov This is fixed in the `fr_redir` branch and will be merged to master soon.

[2021-03-12 02:57] drozzy opened #1950 "Logging 'reward_mean' does not log it... weird"
If I try to log a dict with a key `reward_mean` it does not go though (i.e. wandb graph is empty).
However, if I change the key name to `reward_meaaaan` - it works!
[code]

<img width="1082" alt="Screen Shot 2021-03-11 at 9 56 57 PM" src="https://user-images.githubusercontent.com/140710/110885355-b3f78780-82b4-11eb-8e48-e1ffe32e9df4.png">

[2021-03-12 10:47] bhattg commented on #1308
Actually having such functionality will be great, and I agree with @Tahlor

[2021-03-12 15:56] ariG23498 commented on #1950
Hey @drozzy
I tried a simple implementation:
[code]

I did not find any problem with the UI
![image](https://user-images.githubusercontent.com/36856589/110964813-9b04da00-8379-11eb-9a61-bb59b9ba2c33.png)

[2021-03-12 16:02] stas-sl opened #1951 "Google Colab hangs on training interruption and restart"
**Description**
For complete example please see the link below. I use pytorch-lightning wandb logger, but not sure if it is the culprit. What I'm doing is I run trainer, then interrupt execution, then continue training, then interrupt again - and after that everything stops working: any subsequent cell run will hang without ability to interrupt (only reset works). Also notebook stops saving. You c

[2021-03-12 18:07] ethanabrooks commented on #1883
@nialloh23  can you say what the problem was? I am experiencing the same error.

[2021-03-12 19:01] drozzy commented on #1950
Oh ok. Thanks for checking it out. Weird. I'll let you know if it happens again.

[2021-03-12 19:01] #1950 closed

[2021-03-13 10:06] sisaman opened #1953 "[Q] Is there a way to launch and log multiple runs and sync at the end?"
I am launching multiple runs within a single script by setting reinit=True when initializing wandb and calling run.finish() at the end according to the documentation here:
https://docs.wandb.ai/library/init#how-do-i-launch-multiple-runs-from-one-script

However, each call to run.finish() takes around 3 secs on my machine, which is inefficient as my runs end pretty quickly (each run logs between 50

[2021-03-14 20:18] vanpelt commented on #1953
Hey @sisaman wandb doesn't support running many really short scripts well today.  Your best option is to use dryrun mode then just write a script that calls `subprocess.check_call(["wandb", "sync", "."])` once you've finished.

[2021-03-14 22:51] emilemathieu opened #1954 "[Q] [special characters wrongly formatted in group name]"
Hello,

Weirdly in one of my project (but not the other one), the group name does not handle special characters well. After clicking on it I get redirected to a wrongly formatted url which is saying `No metrics logged yet.`
For instance: `Group: test_+experiment=rotmnist,aug=0.00,param=amortized` yields `https://wandb.ai/.../groups/test_%2Bexperiment%3Drotmnist%2Caug%3D0.00%2Cparam%3Damortized?wor

[2021-03-15 00:03] Hongbo-Miao opened #1955 "[Q] How to correctly execute `!wandb agent SWEEP_ID` in Google Colab?"
Thanks for the awesome tool! I am trying to run Sweeps in Google Colab, however, I spent hours and cannot figure out how based on https://docs.wandb.ai/sweeps/python-api#initialize-a-sweep

I saw

`program` is usually a file like "train.py", if I run it on my local machine, that will be helpful. However, all my codes are in Google Colab code blocks.

Anyway, I did set `program` in my sweep configu

[2021-03-15 00:55] Hongbo-Miao commented on #1955
After struggling hours, I found two things.

One is when I create Sweep Configuration, I imported previous runs by click the button "Configure prior runs", however, somehow I guess previous runs (some early run results do not have certain args which I am guessing cause this bug) cause my sweep failed to run which shows the error I got in the question. If I create a new sweep without previous runs,

[2021-03-15 00:55] #1955 closed

[2021-03-15 05:34] ariG23498 commented on #1940
Hey @tshmak
We have incorporated the feature request in our UI.
![image](https://user-images.githubusercontent.com/36856589/111108058-159e4700-857e-11eb-8d32-0af558607ed9.png)
The `updated` and the `end time` fields give us the **absolute-time**. Hope this helps 😄

[2021-03-15 05:34] #1940 closed

[2021-03-15 05:45] ariG23498 commented on #1696
Hey @TusharNimbhorkar
I am closing this issue as the TB syncing is working and the issue #1782 has also been closed. Let me know if the issue persists.

[2021-03-15 05:45] #1696 closed

[2021-03-15 06:07] #1785 closed

[2021-03-15 07:01] ariG23498 commented on #1954
Hey @emilemathieu
Thanks for the bug report.

We have tried reproducing the issue and it turns out that there is a problem with special characters in the `group` parameter. With special characters in `group`, the dashboard does show the group of runs as shown below 👇
![image](https://user-images.githubusercontent.com/36856589/111114909-ee4d7700-8589-11eb-9069-d3f6e22d490a.png)

But upon clicking o

[2021-03-15 07:13] ariG23498 commented on #1951
Hey @stas-sl
Thanks for reporting this. We will be tracking this internally 😄

[2021-03-15 13:17] bashkanov opened #1956 "[Feature] Kill/stop/pause selected agents"
It would be nice to have some mechanism to either **stop** or **pause each agents** directly from the sweep control panel.
For example, we have started some sweep on 4 GPUs with 4 agents. At some point we need to free only two GPUs, but we don't want to completely interrupt our sweep and run it further with 2 remaining GPUs. After some time we could start new agents on these GPUs ones they are aga

[2021-03-15 20:20] sisaman commented on #1953
Even in the dryrun mode, run.finish() still takes a few seconds. Is that normal?

[2021-03-15 20:32] vanpelt commented on #1953
Yeah, we need to flush data to disk and restore console output.  If you just want to log a bunch of runs with summary data and not media / history you could create the runs using the public API which is far less overhead, i.e.

[code]

[2021-03-16 03:31] cs123951 opened #1961 "[Q] how to resume other data from the previous training?"
Hi,

I trained and saved a model under the directory "offline-run-20210316_100104-2ywaztas", I know the id is 2ywaztas.
The directory "offline-run-20210316_100104-2ywaztas" also includes other logs.

Now I want to resume the training process, so I used:
[code]

Error happened in the last line:
`FileNotFoundError: [Errno 2] No such file or directory: '/folder/wandb/offline-run-20210316_111531-2ywaz

[2021-03-16 04:53] vanpelt commented on #1961
The data is stored in the wandb file within the `offline-run-20210316_111531-2ywaztas` directory.  You can only access data that's been logged to a server.  You need to run `wandb sync NAME_OF_DIRECTORY` to send the data to a server.  If you resume a run from a server, you need to download the file before reading it with [wandb.restore("model-latest.pth")](https://github.com/wandb/client/blob/mast

[2021-03-16 05:25] cs123951 commented on #1961
Thank you for your quick reply.

Can I set the current training directory to be the previous one?  That is offline-run-20210316_100104-2ywaztas.  Because I want the loss curve to be continued.  For example,  suppose that I have trained the model for 200 epochs.  Then I hope the new resumed losses can append to the previous losses.

I think `wandb.restore("model-latest.pth")` can only restore model

[2021-03-16 08:52] timbmg opened #1963 "[Q] no custom x-axis (e.g. epoch) in report"
I cannot select custom x-axis in the report (only step, wall time etc.). However, in the workspace I can chose different x-axis like epoch. Is this expected or am I doing something wrong?

[2021-03-16 09:25] cs123951 commented on #1961
Besides, when I run `wandb sync NAME_OF_DIRECTORY`, I got another error:
`wandb: ERROR Error while calling W&B API: Error 1062: Duplicate entry '111531-2ywaztas' for key 'PRIMARY' (<Response [409]>)`
I have no idea how to solve this problem.

[2021-03-16 12:09] emilemathieu commented on #1954
Great! I believe that this issue is fairly new btw ~2 weeks, it worked well before.

[2021-03-16 16:08] vanpelt commented on #1961
Hey @cs123951 specifying `id="2ywaztas"` and `resume="allow"` is what allows you to resume the logs.  The error you're seeing means the run is already synced.  Simply calling `wandb.log` after init will append logs to the previous run.  In the example above you tried to read the `model-latest.pth` file.  That file will not exist because we create a new directory when resuming.

If you just need to

[2021-03-16 17:38] sisaman commented on #1953
That works better, thank you!

[2021-03-16 17:39] #1953 closed

[2021-03-16 19:40] jarivk commented on #1874
Facing same issue. Is there any workaround ?

[2021-03-16 22:52] thenewera-ru commented on #554
I think it worth adding that by saying «rolling up» you essentially mean «ignoring all the values with `commit=False`».

The only useful use-case of passing `commit=False` is when you have pipeline of sequential calculation (e.g. each batch) and you can only call all loggers in one function, one call at a time (for any reason).
For every other situation you can simply
[code]

[2021-03-17 03:01] Fez3 opened #1969 "[CLI] Trouble setting up wandb library in Windows path"
**Description**

pip install wandb installs the package, but the wandb command is not available.
Running 'wandb login' in the command line returns 'bash: wandb: command not found'
Running 'python -m wandb.cli' workaround instead returns "C:\Users\user\Anaconda3\python.exe: No module named wandb.cli.__main__; 'wandb.cli' is a package and cannot be directly executed"

**Environment**
- OS: Windows
-

[2021-03-17 08:12] cs123951 commented on #1961
Thanks, I got it~

[2021-03-17 08:12] #1961 closed

[2021-03-17 10:05] abdulsam opened #1970 "[CLI] Unable to enter API Authorization key in Jupyter notebook"
**Description**
I have entered following code in Jupyter notebook cell:

`!pip install --upgrade wandb`
`!wandb login`

The Library is installed and it is asking for my API key like shown in below image.
![Screenshot from 2021-0s3-17 15-06-22](https://user-images.githubusercontent.com/11463868/111448982-f72e7c00-8734-11eb-8d71-fbf1f7aa9fa3.png)

### **Issue**
**_I can't paste my API key there in t

[2021-03-17 10:43] GillesJ opened #1971 "[Q] Error trace with Sweeps"
I was wondering were we can obtain the error trace of the internal model with hyperoptim sweeps.

Right now all I get in logs and stdout is:
[code]

A line number or ideally a error backtrace would go a long way towards debugging complex models/configs.

[2021-03-17 14:18] ariG23498 commented on #1963
Hey @timbmg
I tried reproducing a similar scenario with the following code snippet
[code]

With this setup I can indeed query the `custom-x` parameter in the panel from reports and workspace.

A workaround for you would be to build the panel from the workspace (as you can query the custom x-axis there) and then move the panel to a report with the `Add to Report` button.
![image](https://user-image

[2021-03-17 14:20] nsidn98 opened #1972 "[CLI] Slow uploads of offline runs"
Since 16th March 2021, I have been having this issue of slow upload speeds for `wandb sync my_wand_folder` for the offline runs (takes around 2 hours for a 100 MB file) even if the internet speed is good enough for other stuff. I am not sure if this is a bug from the wandb side or if there is something wrong on my end.

**Environment**
- OS: Mac OS Mojave 10.14 (the one from where I am uploading t

[2021-03-17 14:36] ariG23498 commented on #1970
Hey @abdulsam
Thanks for the ticket. We will be tracking it internally.
For the time being some of the workarounds you could do are as follows:
- use `wandb.init()` directly instead of using `wandb login` beforehand. `wandb.init()` fires a similar interface for you to paste the API key (this is working fine).
- use `$wandb login` in a comman line interface and get your self logged in.
- in the cod

[2021-03-17 14:58] ariG23498 commented on #1969
Hey @Fez3
I am not sure about the `Git Bash` terminal.
Would you like to try the same commands with a `cmd` prompt?

[2021-03-17 15:42] vanpelt commented on #1963
Hey @timbmg can you share a link to the workspace?  It could be that we are only showing metrics that monotonically increase as options for your x-axis.

[2021-03-17 15:44] vanpelt commented on #1972
Can you share a link to an example run that took 2 hours?  Do you have tensorboard files in your run directory?  I as because that's the only thing that's changed with sync recently.

[2021-03-17 15:45] vanpelt commented on #1970
Inside of jupyter you can call `wandb.login()` and you should be prompted for your api key.  You can also call `wandb.login(key=XXXX)` if you aren't prompted but be careful as that will expose your secret key in the notebook source code which is not secure.

[2021-03-17 15:47] nsidn98 commented on #1972
Yes there are tensorboard files in that directory. I am using `torch.utils.tensorboard.SummaryWriter` with `sync_tensorboard=True`. Shall I send you the log files via email as a drive/dropbox link?

[2021-03-17 15:50] vanpelt commented on #1969
I've seen this before when users have run `conda install wandb` instead of `pip install wandb`.  It could be that your python bin directory isn't in your path.  Try to add `C:\Users\user\Anaconda3\bin` to your path as described below:

https://helpdeskgeek.com/windows-10/add-windows-path-environment-variable/

[2021-03-17 15:51] vanpelt commented on #1972
If you can create a tarball or zip of one of the run directories and send it my way that would be really helpful!  My email is vanpelt@wandb.com

[2021-03-17 15:57] nsidn98 commented on #1972
Sent the logs via email. It would be great if I could get an update here once this is resolved because I do have a lot of logs to upload on the wandboard!

[2021-03-17 16:20] Fez3 commented on #1969
The result is the same in cmd: "'wandb' is not recognized as an internal or external command,
operable program or batch file."

I have added the bin directory to path, but nothing has changed

[2021-03-17 19:03] farizrahman4u commented on #1882
I was able to reproduce the issue on Windows. A quick work around would be to right click instead of ctrl+v to paste the API key.

[2021-03-17 19:27] afiaka87 commented on #1817
Also experiencing this issue on `wandb==0.10.2`.

[2021-03-17 19:35] afiaka87 commented on #1239
For the record - I ran into this exact same issue because I accidentally ran wandb from a different conda environment than the one it was originally set up in.

[2021-03-18 02:17] hainanxzg opened #1975 "Sweep early stopping hyperband not work[CLI]"
wandb --version && python --version && uname

- Weights and Biases version: 0.10.20
- Python version: 3.6.8
- Operating System: Ubuntu 18.04 LTS

I train and test my network 10 times in a run and log `test_acc_avg` at every end of training. I set `test_acc_avg` as sweep metric and want to stop early when this run produce low `test_acc_avg`. But it seems hyperband do nothing that every run still tr

[2021-03-18 04:17] vanpelt commented on #1972
Hey @nsidn98 I found the root cause and just pushed a patch.  Hopefully this goes out in the next release, but you can install from this branch now:

[code]

[2021-03-18 05:07] nsidn98 commented on #1972
Thanks a lot for the patch @vanpelt. Do I have to install this patch in both systems (the one where I am running the experiment and the one from where I am uploading the logs) or just one is sufficient?

[2021-03-18 05:26] vanpelt commented on #1972
Just the one you're running `wandb sync` from!

[2021-03-18 05:33] nsidn98 commented on #1972
Thanks a lot for the fix, it worked!

[2021-03-18 05:33] #1972 closed

[2021-03-18 05:46] sowmyamanojna opened #1977 "[Q] Logging multiple arrays for each parameter in a sweep"
I have been trying to log multiple arrays - loss (per epoch), accuracy (per epoch), validation loss (per epoch), validation accuracy (per epoch). When I log them separately like this:
[code]
`t_*` is the OneHotEncoded `y` matrix, used for normalization.

This is what I get:
![image](https://user-images.githubusercontent.com/31937434/111578683-a1acaa80-87da-11eb-9eb7-d39f237a5f63.png)

Notice the g

[2021-03-18 15:55] vanpelt commented on #1977
@sowmyamanojna if you want to plot metrics together on the same chart you need to log them to the same step.  Every time you call `wandb.log` we create a new step by default.  If you want to combine multiple calls to wandb.log into a single step you can pass `commit=False`, i.e.

[code]

Then you can use "step" as the x-axis because those metrics are logged in the same logical wandb _step

[2021-03-18 15:55] #1977 closed

[2021-03-18 17:37] MartinHahner commented on #753
+1

[2021-03-19 01:16] rleonard1224 commented on #1720
Hi @jsbroks.  Thanks for your message.  So far I haven't been able to find a fix, but the link I posted in my last message contains a sample notebook and dataset which reproduces the error I'm getting.

[2021-03-19 01:18] jsbroks commented on #1720
@rleonard1224 Thanks for the response. I am getting the same error :(. I'll look into it and see what I can find.

[2021-03-19 01:19] rleonard1224 commented on #1720
Thanks so much @jsbroks.

[2021-03-19 02:55] jsbroks commented on #1720
If you pass `settings=wandb.Settings(start_method="thread")` into the `init` it now shows `Exception: The wandb backend process has shutdown`.

[2021-03-19 03:55] vanpelt commented on #1720
Hey guys, I'm looking into this now with the code and data from @rleonard1224.  I'll report back on what I find.

[2021-03-19 03:58] lukas commented on #1754
I also ran into this and I think we should reopen to give clearer guidance or ideally not force the user to call wandb login --cloud.

[2021-03-19 05:20] vanpelt commented on #1720
Unfortunately I wasn't able to reproduce.  Colab upgraded their CUDA to 11 and torch to 1.8, detectron only supports torch 1.7 on CUDA 11 🙃

If either of you can provide me with an updated colab that would be really helpful.  In the meantime @jsbroks it looks like the error you're seeing is from streaming content.  Can you try adding the following to your `wandb.init` call?

[code]

[2021-03-19 05:34] ariG23498 commented on #1971
Hey @GillesJ
Could you share your `sweep.yaml` file with us?
We will keep the better error loggin in mind, thanks for the ticket! 😄

[2021-03-19 05:46] ariG23498 commented on #1975
Hey @hainanxzg
Could you share the code snippet to help us reproduce the issue? That way it would be really helpful for us to give you insights into what went wrong. Thanks!

[2021-03-19 07:56] hainanxzg commented on #1975
In my train.py script:

test_acc_avg = test_f1_avg = 0
for i in range(repeats):
    test_acc, test_f1 = model.train()
    test_acc_avg += test_acc
    test_f1_avg += test_f1
    wandb.log({"test_acc_avg ": test_acc_avg / (i+1)})

[2021-03-19 10:27] vasudevgupta7 opened #1983 "Automatic login when using Colab"
**Is your feature request related to a problem? Please describe.**
When using `wandb` with Google Colab, we need to login with `wandb key` each time we run a session and will have to delete key if sharing Colab file with others.

**Describe the solution you'd like**
It would be great if wandb will automatically login to Colab (may be possible if connect gmail id and wandb somehow). But not sure if

[2021-03-19 11:23] farizrahman4u commented on #1969
@Fez3 If you did `pip install wandb`, you should add the `Scripts` directory of your python installation to path.

[2021-03-19 14:49] jsbroks commented on #1720
I was able to get it working by installing 1.7 directly:

[code]

But... thanks to @vanpelt suggestion I was able to get it working as follows:

[code]
@rleonard1224 check to see if this will fix it for you

[2021-03-19 15:46] GillesJ commented on #1971
I programmatically set the hyperparam config in the Python script as per [this tutorial](https://towardsdatascience.com/hyperparameter-optimization-for-optimum-transformer-models-b95a32b70949) with layer-wise nested parameter settings:

[code]

[2021-03-19 16:08] rleonard1224 commented on #1720
Hi @jsbroks, @vanpelt .  I'll give this a try and report back.  Thanks so much for your help.  I really appreciate it.

[2021-03-19 16:08] cvphelps commented on #1983
@vasudevgupta7 if you're logged in to wandb.ai in your browser, Colab auto-logs in. Don't run wandb.login() and you won't get prompted for an API key — you can go directly to wandb.init()

[2021-03-19 16:11] cvphelps commented on #1975
@hainanxzg the hyperband early terminator runs periodically, every few minutes, and checks what runs to terminate. This is likely why you're not seeing early termination on a very short script. @ariG23498 could you please add this note to the hyperband docs.

[2021-03-19 16:21] #1970 closed

[2021-03-19 17:59] ariG23498 commented on #1971
"params_classifier.dense.bias": {"min": 0, "max": 1e-3},
        "params_classifier.out_proj.weight": {"min": 0, "max": 1e-3},
        "params_classifier.out_proj.bias": {"min": 0, "max": 1e-3},

My guesses are the keys with the `.` are not well handled as parameter names. We automatically flatten nested parameters, so if you pass us a dictionary we will turn it into a dot-separated name. If we ha

[2021-03-19 18:18] vasudevgupta7 commented on #1983
Thanks a lot! I didn't know that earlier.

[2021-03-19 18:18] #1983 closed

[2021-03-19 18:40] cvphelps commented on #1846
@Anjum48 thanks for the feedback. As a workaround, you can set the final values that show up in the table from our Public API, so after your run has finished you can set the summary to the max or min, instead of the final value:

This example sets the accuracy of a previous run to 0.9. It also modifies the accuracy histogram of a previous run to be the histogram of numpy_array.
import wandb
api =

[2021-03-20 16:14] carloalbertobarbano opened #1987 "[Q] Local controller - stopping a sweep"
I am configuring a local controller to orchestrate my sweeps. However, I cannot find a way to stop the sweep through the python API.

[code]

How can I achieve that?

[2021-03-20 20:17] vwxyzjn opened #1988 "[CLI] URGENT! The Network Bytes Transfer Leak"
**Description**

In the latest version of `wandb=0.10.22`, the Network Bytes transferred and received appears to increase drastically compared to a previous version `wandb=0.9.5` that I had been using. See [this report](https://wandb.ai/costa-huang/cleanRL/reports/Network-Bytes--Vmlldzo1NDY2ODg) for an example.

![image](https://user-images.githubusercontent.com/5555347/111883652-1a566700-8993-11e

[2021-03-21 02:31] vwxyzjn commented on #1988
Looks like this is a problem with syncing tensorboard. Setting `wandb.tensorboard.patch(save=False)` seems to reduce the data transfer significantly.

[code]

[2021-03-21 03:15] vwxyzjn commented on #1988
Looks like this is not a problem with tensorboard specifically, but has to do with how files are synced in general. Had I recorded video through the gym interface (`monitor_gym=True`), the data transfer also explodes. Hmmm

[2021-03-21 06:11] vwxyzjn commented on #1177
https://wandb.ai/cleanrl/cleanrl.benchmark/runs/3f7o9vtj/overview?workspace=user- Already displays the command. Thanks and closing the issue.

[2021-03-21 06:11] #1177 closed

[2021-03-21 16:46] aliFrancis opened #1989 "TypeError for agentHeartbeat after a few runs in sweep"
When I start my sweep, it works fine. I spawn a few agents and they do 2 or 3 runs each. Then, they all fail with the same error:

[code]

My sweep's yaml is as follows:

[code]

As I say, the sweep does work for a few runs, and then all agents fail. If I try to restart them, they also fail with the same message, without starting a new run.

I'm using w&b with the keras callback.

Thanks,

Ali

[2021-03-21 18:59] vwxyzjn commented on #1988
Went through the `debug-internal.log` and `debug.log` and found a couple more things. It seems the problem is with the [`PolicyLive`](https://github.com/wandb/client/blob/f61308eac133b8aeb1eadf81e1412d544a297a42/wandb/filesync/dir_watcher.py#L84). Every run with the following debugging output seems to eventually blow up the data transfer.

[code]

Given the same workload, this is the network usage

[2021-03-22 00:51] vanpelt commented on #1988
Hey @vwxyzjn sorry to hear you're seeing such a large difference between these versions, I want to help get to the bottom of this ASAP.

The logic for PolicyLive should be the same in 0.9.x and 0.10.x.   PolicyLive which is what we use for tensorboard event files or any files that match calls to `wandb.save` will upload the file [atmost once every 15 seconds if the file changes](https://github.com

[2021-03-22 01:42] vwxyzjn commented on #1988
Thanks for the prompt reply. I really appreciate your help. Below is a minimal script that I came up with the reproduce the data transfer issue:

[code]

As shown in the following screenshot, the

![image](https://user-images.githubusercontent.com/5555347/111929741-a2b93280-8a8d-11eb-81da-88e16c18a2f9.png)

And adding `settings=wandb.Settings(console="off"))` also does not help. See

![image](http

[2021-03-22 10:18] aliFrancis commented on #1989
**Work around found:**

In my wandb.ai project page, I deleted some runs that had val_loss=infinity, and the agents then ran correctly.

[2021-03-22 10:18] #1989 closed

[2021-03-22 14:55] GillesJ commented on #1971
Changed the names to not include '.' but got the same error.

I have confirmed that the train() methods works just fine though, so the error is somewhere in the wandb sweep handling.

`pdb` and `pycharm` interactive debuggers don't seem to work when using `wand.agent` so it's difficult to figure out what's going on.

[2021-03-22 16:06] vanpelt commented on #1988
Thanks @vwxyzjn For now, let's change the your call to `wandb.save` and make it `wandb.save(f"models/{experiment_name}/agent.pt", policy="end")` and see if that fixes things.  We're still digging into the root cause of the difference between the versions.

[2021-03-22 16:23] raubitsj commented on #1972
This will be released in 0.10.23

[2021-03-22 17:00] mjohenneken opened #1991 "[CLI] Disable wandb does not work in unittests"
**Description**
I try to disable `wandb.log()` when executing unittests. The unittests are executed via PyCharm in a Conda environment that are both located on C:. The codebase is located on D:.

**Wandb features**

[code]
and this
[code]
fails with the same error:

[code]
I would expect no error and being able to test code that contains wandb.log() class without side effects.

**How to reproduce*

[2021-03-22 17:25] Bam4d commented on #1988
Additionally its possible that this problem is accellerated when there are multiple runs in progress (these are all on different nodes)
![image](https://user-images.githubusercontent.com/1370765/112031697-87086780-8b33-11eb-938b-a69f230eaac3.png)

[2021-03-22 17:40] vanpelt commented on #1988
@Bam4d I @vwxyzjn reports are related to upload traffic.  Your report seems connected to download traffic.  Can you share code that's causing the increase in downstream traffic?

[2021-03-22 17:41] vwxyzjn commented on #1988
@vanpelt I can confirm on my end `wandb.save(f"models/{experiment_name}/agent.pt", policy="end")` fixes the data transfer temporarily.

Btw I tested it and it seems in `0.9.5` the 21 MB model file are uploaded every 80 seconds or so, while in the `0.10.22` the model file is uploaded every second.

[2021-03-22 17:53] vwxyzjn commented on #1988
Thanks so much for looking into it @vanpelt. I don't know if it is related, but it seems some 0.10.22 runs are missing requirements.txt like https://wandb.ai/costa-huang/cleanRL/runs/27d439rk/files, whereas the 0.9.5 runs almost always store the `requirements.txt`.

[2021-03-22 17:53] vanpelt commented on #1991
This is happening because you're running a program from a different drive.  We should handle this case, but until then you can just disable our code syncing by setting `os.environ["WANDB_DISABLE_CODE"]="true"`

[2021-03-22 18:00] vanpelt commented on #1988
Thanks @vwxyzjn I'm really glad it's working now, we're going to prioritize a fix to ensure we don't save files in "live" mode so frequently.

I have runs with the latest version of the cli that contain requirements.txt, I'm not sure what's going on with your runs.  Can you send the `debug-internal.log` from one of the runs that isn't saving `requirements.txt`?

[2021-03-22 18:11] vwxyzjn commented on #1988
Thank you!

https://gist.github.com/vwxyzjn/ea9519a94c4469ad252fc1064aa94b2b, with corresponding run https://wandb.ai/costa-huang/cleanRL/runs/3c9rycrc/files?workspace=user-costa-huang. In comparison, the `requirements.txt` is present for https://wandb.ai/costa-huang/cleanRL/runs/3kymam3z/files. In both cases, I crash the process, which seems to make a difference.

I think what happens is if the p

[2021-03-22 19:34] mjohenneken commented on #1991
[code]
I tried this but the same error occurs.

[2021-03-22 23:10] amorehead commented on #1669
@vanpelt,

Do you have any ideas as to why the WANDB_CONFIG_DIR=. command is not overriding the default config dir (i.e. ~/.wandb)?

[2021-03-22 23:34] vanpelt commented on #1669
Ahh, @amorehead the error you're seeing is for the wandb artifact cache directory.  You can set that path with `export WANDB_CACHE_DIR=/...`.  We clearly need to consolidate these environment variables and make it easier to handle these cases.  Also, we should just fall back to the system temp directory in this case.

[2021-03-22 23:38] #1669 closed

[2021-03-23 03:37] nw13slx opened #1993 "[CLI] typo in wandb.sweeps.config.hyperopt.hy.loguniform function"
Hyperopt with loguniform distribution will file `Invalid sweep config: TypeError: 'NoneType' object is not callable` error.

The bug can be reproduced with the code below
[code]

Fix:
https://github.com/wandb/client/blob/13489f1fed731725a28ca46bfcf2d3494f124863/wandb/sweeps/config/hyperopt/hp.py#L23

should be
[code]

[2021-03-23 04:36] adamDhalla opened #1994 "Get "AssertionError: can only test a child process" when using distributed TPU cores via Pytorch Lightning [CLI]"
Hi All,

Having an error being thrown at me when trying to log my metrics and hyperparameters on W&B via PyTorch Lightning whilst running on 8 TPU cores.

I first initialize the Weights and Biases run and project using the Lightning  `WandbLogger`  class, which practically runs wandb.init(). That goes fine.  But then, I run the `Trainer` on 8 TPU cores, and with keyword argument 'logger=my_WandbLo

[2021-03-23 06:21] ariG23498 commented on #1971
Could you share a colab for us to reproduce this error?

[2021-03-23 10:01] GillesJ commented on #1971
Thanks for your responses. I don't have colab notebooks set up and I currently can not spare the time. Code used is from [this tutorial](https://towardsdatascience.com/hyperparameter-optimization-for-optimum-transformer-models-b95a32b70949).

[2021-03-23 14:35] ariG23498 commented on #1993
Hey @nw13slx
Thanks for the ticket. We will be looking into it.

[2021-03-23 15:52] ariG23498 commented on #1987
Hey @carloalbertobarbano
We are working on stopping sweeps programmatically. We will update the thread as we come up with the feature. CC: @farizrahman4u

[2021-03-23 16:25] PhaelIshall commented on #1507
@borisdayma I am using WANDB with pykeen (sdk) and every time I change the epoch it gives me the error of `Trying to change epoch, use wandb.config() with allow_val_change=True `

When I do that, it overwrites my results (for each epoch I am experimenting with several random seeds) and I only end up with one run saved per epoch. It was working fine a month ago or so, could I just go back to a prev

[2021-03-23 17:07] borisdayma commented on #1507
@PhaelIshall is there a run you can share?
How do you change the epoch?

[2021-03-23 17:21] raubitsj commented on #1994
@adamDhalla,
We are looking into this issue now.  We have some documentation and fixes related to DDP and multiprocess use that we are working on.

I am trying to reproduce the error, but for (based on that exception) i suggest a temporary workaround of turning the console logging off, Using env variable: `WANDB_CONSOLE=off`

[2021-03-23 18:16] #1754 closed

[2021-03-23 19:15] prash-p commented on #1994
I'm having the same error. I found another issue reported here, and this comment helped me fix the issue temporarily: https://github.com/huggingface/datasets/issues/847#issuecomment-770744567

[2021-03-23 19:19] borisdayma commented on #1507
@PhaelIshall if you're just trying to create a new W&B run within a same script, you should call `wandb.finish()` at the end of your run.

[2021-03-23 21:53] vwxyzjn opened #1997 "[CLI] Tensorboard integration bug with resetting x-axis through global_step"
**Description**

When using the tensorboard integration, the latest version `wandb==0.10.23` does not seem to handle `global_step` properly when it was reset to 0, whereas the older version of `wandb==0.9.5` seems to have recorded correctly.

Consider a simple code sample:

[code]

In particular, notice that the loss2 is recorded when the `global_step` has been reset. When visualizing, it shows li

[2021-03-24 05:23] ameet-1997 commented on #1700
Hi, are there any updates on this?

[2021-03-24 05:34] adamDhalla commented on #1994
Thanks! but -
I tried doing that - doing `WANDB_CONSOLE='off'` (I assumed putting 'off' as a string since it doesn't work the other way?). I put it right above the definition of the wandb.init(). I still got the exact same error :(.

[2021-03-24 05:35] adamDhalla commented on #1994
I'm guessing that means setting the environment variable `WAND_DISABLE=True` (setting to capital T for Python boolean)? I tried that too, right above the definition of the init(), and it also didn't seem to work - I got the same error!

[2021-03-24 06:25] adamDhalla commented on #1994
@raubitsj @prash-p I didn't write test these at the same time but just including them both in a screenshot so you can see if I messed up on any of the assumptions of the spellings of things:
![image](https://user-images.githubusercontent.com/69402866/112261173-8e5d6d00-8c28-11eb-96d1-9c0b74ad96a4.png)

If these implementations are correct, sadly they both (independently) did not solve the problem

[2021-03-24 08:20] borisdayma commented on #1994
You need to use `os.environ['WANDB_CONSOLE''] = 'off'`

[2021-03-24 14:13] prash-p commented on #1994
@adamDhalla I didn't use `WANDB_CONSOLE`=`off`. What worked for me instead was commenting out lines 517 and 518 in `site-packages/wandb/sdk/interface/interface.py` :
[code]

[2021-03-24 16:58] ameet-1997 commented on #1700
I just created a new flag called `all_boolean_args` and I pass all the boolean arguments as a comma separated list. For example,
[code]

In the code, I added the following block to handle all the boolean arguments.

[code]

It's also easy to automatically check if an argument is `store_true` or `store_false`.

[2021-03-24 17:20] raubitsj commented on #1994
@prash-p
Those lines are a safety check to make sure that the process that is storing console output is the process we are expecting, in this case it isn't (and we dont fully understand why)

Removing that check should be fine in the case of console output, but for other types of data, the code is trying to prevent a use case we haven't fully tested yet and which could lead to corrupted or incompl

[2021-03-24 17:25] adamDhalla commented on #1994
@borisdayma oh god yeah of course! Don't know what I was thinking. Still kind of a coding noob, but thank you.

[2021-03-24 17:29] prash-p commented on #1994
@raubitsj If it helps, I had this error when running my script as a notebook in vscode, using tqdm on my pytorch Dataloader. The exact same script ran without errors when running from the command line.

[2021-03-24 18:59] jwa018 commented on #1247
I'm having the same issue https://github.com/huggingface/transformers/issues/10885

[2021-03-24 19:40] JohnnyC08 opened #2000 "[Feature] Add support for running Wandb inside of a celery task"
**Is your feature request related to a problem? Please describe.**
I am building a system to trigger training jobs via celery. Out of the box. I was unable to use Wandb because celery would kill it as wandb is using multiprocessing under the hood and celery won't allow the spawning of a daemon process in a child process.

**Describe the solution you'd like**
I would love to have the solutions to e

[2021-03-24 21:29] vanpelt commented on #2000
You can set the WANDB_START_METHOD environment variable to "thread" to have us not use multiprocessing.

[2021-03-24 21:44] JohnnyC08 commented on #2000
Wow that works! Thanks! Thanks for getting back to me and for your work on this amazing library. I will close the issue.

[2021-03-24 21:44] #2000 closed

[2021-03-25 02:37] hainanxzg commented on #1975
@cvphelps Sorry, but the model.train() actrually run 20 mins.

[2021-03-25 07:10] kielnino commented on #1930
Hi @ariG23498, do you have any news about the status of this issue to share with us?

[2021-03-25 09:47] kahnchana commented on #736
Hey any idea if this has this been added?

[2021-03-25 15:40] tiborsekera commented on #1525
Hi, thanks for the hotfix, but when I try to install it, I get a bunch of dependecy errors.
![image](https://user-images.githubusercontent.com/34183854/112500427-a8ae5c80-8d88-11eb-83af-a4a05713acd4.png)

Is there a plan to include the support for multiple runs with joblib in a major wandb release?

Thanks!

[2021-03-25 18:44] vanpelt commented on #1525
Hey @tiborsekera with the current release of the client library you can set the following environment variable so all works with joblib:

`os.environ["WANDB_START_METHOD"] = "thread"`

[2021-03-26 03:38] borisdayma commented on #1247
@jwa018 With huggingface, you could try: `os.environ['WANDB_WATCH'] = 'false'`

Otherwise if you're doing a parameter search, you should check out the [sweeps documentation](https://docs.wandb.ai/sweeps) as you can structure your code to run as independent processes (not sure if it's what you do already).

[2021-03-26 07:29] ariG23498 commented on #1997
Hey @vwxyzjn
Wandb Version: **0.10.23**
I tried reproducing the issue with the code snippet that you had sent in.
This is the dashboard for the run: https://wandb.ai/repro/GH-1997
I do not see the `loss2` metric breaking in any way. In fact both the metrics start from the same point in the x-axis when I am plotting them against `global_step`.

I made a small change to the code, but that should acc

[2021-03-26 17:39] willleeney opened #2005 "[Feature] support nested parameters in .yaml config files"
I use pytorch-lightning with the wandb_logger and I am trying to get the sweep working with multiple config files. I don't use the wandb.config for my config location, instead it is stored in the model. The structure of the sweep_config.yaml is very different to my default_config files. What I would really like to be able to do is specify the full name of the parameter as it would appear in my con

[2021-03-26 21:28] cvphelps commented on #1930
HI @kielnino we're taking a look at this issue, haven't published a fix yet.

[2021-03-27 12:48] toliz commented on #1660
I am experiencing the same problem.

<img width="1388" alt="image" src="https://user-images.githubusercontent.com/14910527/112721115-dae7c780-8f0a-11eb-81d3-ae589901dc71.png">

Note that some parameters (e.g. number of layers here) seems to get fixed pretty early. From the 33 experiments conducted, the sweep used 1 layer for 31 of them, and 2 or 3 layers only once.

Of course it's not possible to

[2021-03-27 14:24] tiborsekera commented on #1525
Hi @vanpelt! This seems to work, thank you!

Just out of curiosity, is this documented somewhere and I missed it?

[2021-03-28 12:44] xbbkok commented on #1596
Thanks! Today I encountered the same problem,and this way solved it!!

[2021-03-28 18:02] abaisero opened #2006 "[App] Cannot select min/max values of log-scale parameters in parallel coordinates panel"
**Describe the bug**
When I run a sweep over a parameter with discrete values, and I choose to view that value in a parallel coordinates panel using the log-scale, I cannot select the runs with the min/max value for that parameter.  This always happens when using log-scales, and never when using linear-scales.

**To Reproduce**
Steps to reproduce the behavior:
1. Create sweep with discrete paramet

[2021-03-28 20:09] pascalfiv opened #2007 "[CLI] Multi-GPU training with wandb"
**Description**
I am trying to make my Model train on multiple GPU's following[ this blog post](https://yangkky.github.io/2019/07/08/distributed-pytorch-tutorial.html):
I'm not quite sure if i missed something with WandB while moving to Multi-GPU training. Even tough the code reached the point of spawning the processes no logs where printed up to that point. So I am unable to really get to know wh

[2021-03-29 08:41] ariG23498 commented on #2007
Hey @Synoon
Thanks for the ticket. We are trying to come up with a proper documentation of `Multi-GPU training with wandb` in the next few weeks. I will update this thread as soon as we have that.

Until then these are the following workarounds:
1. Call `wandb.init()` and `wandb.log()` from the `rank0` process only. Use the arguments to search of the rank.
2. In every process, call `wandb.init()`

[2021-03-29 08:48] ariG23498 commented on #2006
Hey @abaisero
I tried reproducing this issue. I did not find a problem when selecting the run in log scale as shown in the screenshot below 👇
![image](https://user-images.githubusercontent.com/36856589/112811079-524b6180-9099-11eb-8c12-f0890854679c.png)

System config:
- OS: macOS Big Sur
- Browser: Chrome
- Version: 89.0.4389.90 (Official Build) (arm64)

[2021-03-29 10:09] roshan-k-patel opened #2008 "[Q] Sweeping during a dry run wandb.sweep"
Hi i'm trying to sweep during a dry run (no internet) and an error keeps being thrown .

The line

 `sweep_id = wandb.sweep(sweep_config, project="basic hyperparam optimisation")`

requests http access. It is used to initialise the sweep with

`wandb.agent(sweep_id, train)`

My environment variables are set and this run works on a computer with internet (just fails as cuda runs out of memory)

os.

[2021-03-29 10:15] roshan-k-patel commented on #2008
![wandb error](https://user-images.githubusercontent.com/48667731/112822576-b29ecb00-90ba-11eb-9142-def3629177ed.PNG)

[2021-03-29 15:33] vwxyzjn commented on #1997
Hey @ariG23498 Thank you for looking into this, I can confirm this works! It appears having `wandb.tensorboard.patch(root_logdir=f'runs/{experiment_name}')` is crucial.

[2021-03-29 15:55] vanpelt commented on #2008
Hey @roshan-k-patel you can not run a sweep in offline mode.  Sweeps require access to a central sweep server to calculate the next set of parameters.  You could run a sweep agent on a machine with internet and have that agent launch sweep runs into a cluster without internet.  The other option would be to run a [self hosted ](https://docs.wandb.ai/self-hosted) server.

[2021-03-29 16:04] vanpelt commented on #2007
Hey @Synoon this specific error is from your `config` object.  Just convert **did_config** into a dictionary.  I.e.`config=dict(did_config)` and that should work fine.

[2021-03-29 17:14] abaisero commented on #2006
Same issue happens with me on

* OS: Debian
* Browser: Google-Chrome
* Version: 88.0.4324.182 (Official Build) (64-bit).

[2021-03-30 04:22] roshan-k-patel commented on #2008
Thanks for your reply @vanpelt. I have a few questions:

1.) At the end of the train function i call wandb.finish(), however i noticed some scripts used wandb.join() which is no longer in your documentation. What does join() do and should i be using this instead of finish()?

2.) I am going to try your suggestion of starting the sweep on a machine with internet and have the agent launch sweep runs

[2021-03-30 06:41] abaisero commented on #948
Is there any update on this?  I'm in the process of running many different sweeps (training multiple methods on multiple environments), and configuring each sweep workspace/view independently can be a bit overwhelming.

[2021-03-30 08:28] roshan-k-patel commented on #2008
Here's my entire script for clarity:

[code]

[2021-03-30 10:19] lollows opened #2012 "[CLI] ValueError: check_hostname requires server_hostname"
**Question: I created a new Python environment and installed wandb, but I can't even run a simple script.**. I have tested this script on colab and it works fine. Please let me know if I missed something. Thank you.

[code]
**log:**
[code]
**my env(from pycharm)**
[code]

[2021-03-30 12:20] mjohenneken opened #2013 "[App] Line legend in parallel coordinates plot is not visible"
**Describe the bug**
When exploring data in a parallel coordinates plot and pointing the cursor to a line at the bottom of the plot. The legend will be displayed below the line such that it is outside the visible area of the plot

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sweep
2. Add two runs
3. Point cursor at a line the is next to the bottom of the plot
4. See that it is not

[2021-03-30 14:21] nicolas-dufour opened #2014 "[App] Plotly animation isn't playable"
**Describe the bug**
When logging plotly animated chart, the animation is freezed to the first frame

**Expected behavior**
The plot should not be freezed to the first frame of the animation

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Operating System**
 - OS: windows
 - Browser: Chrome
 - Version: 22

[2021-03-30 15:02] vanpelt commented on #948
Hey @abaisero you can create a wandb [report](https://docs.wandb.ai/reports) in your project, then easily clone it to change which sweep you're visualizing to use as a templating system.  Would that work for your use case?

[2021-03-30 15:11] vanpelt commented on #2008
wandb.finish and wandb.join do the exact same thing.  We're planning to deprecate wandb.join and encourage all users to use wandb.finish moving forward.

2.) I am going to try your suggestion of starting the sweep on a machine with internet and have the agent launch sweep runs into a cluster. Would i just replace the whole contents of the train function with an sbatch call to my slurm workload man

[2021-03-30 15:18] vanpelt commented on #2012
This may be a [bug / issue](https://stackoverflow.com/questions/66642705/why-requests-raise-this-exception-check-hostname-requires-server-hostname) with urllib3.  Can you try running `pip install urllib3==1.25.11`?

[2021-03-30 15:21] vanpelt commented on #2014
Hey @nicolas-dufour can you provide some example code, a colab, or a screenshot of the issue?

[2021-03-30 15:23] vanpelt commented on #2013
Thanks for reporting this @mjohenneken, we're tracking it in our roadmap and will update this ticket when it's fixed.

[2021-03-30 15:29] lollows commented on #2012
Thanks a lot. That works well after running `pip install urllib3==1.25.11`

[2021-03-30 16:02] roshan-k-patel commented on #2008
Thank you, so just to clarify a few things:

If using a random or grid search instead of Bayesian, will the sweep work without internet as there's no need to poll the server for parameters?

On your second point does "This script could poll slurm for the status of the job, and automatically download the results and sync them to wandb when a job finishes or fails" qualify as "realtime", and mean a

[2021-03-30 16:35] vanpelt commented on #2008
Correct, random doesn't query a search space that mutates

Bayes should work in this case, but early stopping definitely won't.  If you have multiple agents running in parallel the timing of the search syncing the metrics will impact the bayes search space.

Sure, here's a basic example.  Let say you configure your sweep to run a program named slurm.py, there's likely no need to customize the comm

[2021-03-30 20:03] enpassanty opened #2018 "how to implement a binarized PR curve for multi-class label"
I'm using w&b to visualize results from experiments I'm running from simple transformers wrapper. It's a multi-class label. W&B displays PR curves by class but I need a binarized PR curve for the multi-class. any idea how to implement this? thanks

[2021-03-30 20:41] vanpelt commented on #2018
Hey @enpassanty you can use our [custom chart](https://docs.wandb.ai/app/features/custom-charts) functionality to create a vega spec for your use case.   You can likely [tweak](https://docs.wandb.ai/library/log#custom-presets) the existing vega spec.  You can also always manually log  a [matplotlib](https://docs.wandb.ai/library/log#matplotlib) or plotly chart.

[2021-03-30 22:34] enpassanty commented on #2018
thanks.  I was hoping for something canned.  I'll look into the custom chart docs.

[2021-03-31 00:00] Linux-cpp-lisp commented on #2005
Seconding this feature request — some nested model structures map very naturally to nested configurations, and flattening those configurations requires significant code bloat inside the model creation.

Being able to do sweeps for nested parameters without either having to add (1) all of that config-flattening logic in model building or (2) manually constructing all combinations of nested paramete

[2021-03-31 03:04] chenshen03 opened #2021 "[Q] NOAUTH Authentication required"
I ran wandb local and then got this error. I guess this should be a conflict between wandb and redis.
How can I configure wandb so that it can access redis?

<img src="https://user-images.githubusercontent.com/20432947/113084347-682f6280-9210-11eb-9647-704ec9bbbb41.png" alt="image" style="zoom:50%;" />

[2021-03-31 09:03] ariG23498 commented on #2021
Hey @chenshen03
Thanks for the ticket.
Does the documentation for [authentical for wandb local](https://docs.wandb.ai/self-hosted/local#authentication) help you with this issue?

[2021-03-31 10:58] ariG23498 commented on #1768
Hey @andrewliao11
At this moment we do not have a python API of sorts to pull the values from an offline `*.wandb` file. As @cvphelps has rightly said with the command `wandb sync --view --verbose run-<ID>.wandb` one can obtain a `txt` file from the `.wandb` file which can be later harnessed through python to get the values one needs.

On the other hand one can have an on prem [docker instance](ht

[2021-03-31 11:00] ariG23498 commented on #1765
Hey Folks,
I am closing this for lack of activity.

[2021-03-31 11:00] #1765 closed

[2021-03-31 11:10] ariG23498 commented on #1759
Hey @tvetterli-fn
We have incorporated this feature request in this [PR](https://github.com/wandb/client/commit/3d7f6b6082e077494b678532d128bcd46466de3b)

Closing this issue!

[2021-03-31 11:10] #1759 closed

[2021-03-31 11:20] ariG23498 commented on #1744
Hey @greeneggsandyaml
I tried reproducing this behaviour.
I am using `wandb.save("run.sh")` to log the `.sh` file. In the web app the shell script renders properly.
Dashboard: https://wandb.ai/repro/sh-files/runs/2vfq42fd/files/run.sh

I am closing this issue for now. Please comment to reopen 😄

[2021-03-31 11:20] #1744 closed

[2021-03-31 11:20] #1743 closed

[2021-03-31 11:24] #1714 closed

[2021-03-31 11:28] ariG23498 commented on #1698
Closing this issue due to inactivity.

[2021-03-31 11:28] #1698 closed

[2021-03-31 11:29] ariG23498 commented on #1673
Hey @zimmer-m
Could you check with the problem? I think this might have been mitigated by now!

[2021-03-31 11:30] ariG23498 commented on #1658
Closing this issue due to inactivity.

[2021-03-31 11:30] #1658 closed

[2021-03-31 12:32] borundev commented on #1690
@tyomhak anyone working on this? This is a really annoying bug and blocking bug.

[2021-03-31 12:59] SteEcker opened #2023 "wandb.sklearn.plot_summary_metrics Example"
Hi! Is the [visualization](https://wandb.ai/lavanyashukla/visualize-sklearn/reports/Visualize-Scikit-Models--Vmlldzo0ODIzNg) for scikit-learn models still supported?

In the example notebook the summary statistic variables are in the wrong order.

**To Reproduce**
The provided code `wandb.sklearn.plot_summary_metrics(model, X_train, X_test, y_train, y_test)` throws an error ("Expected 2D array, go

[2021-03-31 14:13] borundev commented on #1690
Actually I figured out the problem. It is not with wandb but with attributedict via rootpath. I have made a [pull request with the bug fix] (https://github.com/grimen/python-rootpath/pull/8).

[2021-03-31 14:13] #1690 closed

[2021-03-31 14:58] #1738 closed

[2021-03-31 15:10] ethanabrooks opened #2024 "Caption not displaying [App]"
I am logging images with the following code:
[code]
Here is what I see on the site:
![image](https://user-images.githubusercontent.com/10344742/113167360-a711e800-9211-11eb-9229-659169f424bc.png)
Why am I not able to see the "test" caption?

[2021-03-31 15:35] ethanabrooks commented on #2024
I think I may have identified the issue. The website appears to cut off the bottom of the image if they get too long. I have the following sample code:
[code]
This yields:
![image](https://user-images.githubusercontent.com/10344742/113170857-f3125c00-9214-11eb-9ee1-b201ea538057.png)
![image](https://user-images.githubusercontent.com/10344742/113170959-0de4d080-9215-11eb-8617-52eeb4dd55c6.png)

How

[2021-03-31 15:45] vanpelt commented on #2008
Only runs associated with your sweep are used to determine the next set of parameters.

[2021-03-31 15:45] #2008 closed

[2021-03-31 15:46] vanpelt commented on #2021
@chenshen03 currently our local instance doesn't support authenticated external redis.  You don't get many benefits by enabling external redis, I would just stick with our internally managed redis instance.

[2021-03-31 17:46] zimmer-m commented on #1673
Hey @ariG23498, seems to be fixed, thanks!

[2021-03-31 17:46] #1673 closed

[2021-04-01 03:31] wzhang2022 opened #2027 "[CLI] Using a non-full backward hook leads to user warning."
**Description**
A clear and concise description of the bug

**Wandb features**
`wandb.watch` and `wandb.init`.

**How to reproduce**
Run this:
[code]
Warning:
[code]

**Environment**
- OS: Windows 10
- Python Version: 3.8.8
- PyTorch Version: 1.8.0

[2021-04-01 08:05] chenshen03 commented on #2021
Thank you for your answer

[2021-04-01 08:05] #2021 closed

[2021-04-01 08:07] mjohenneken commented on #1991
My current workaround is to refactor wandb logging code out of unit-tested classes or setting flags.

[code]

[2021-04-01 13:11] yukw777 commented on #1869
I'm seeing something similar. My setup is Ubuntu + PyTorch Lightning + Hydra. I get multiple error messages of this sort:
[code]
Thankfully, it doesn't seem to crash my training. I've seen instances where the connection to the wandb servers is not severed either and logs continue to be uploaded. I've seen instances where the training continues but it's marked "crashed" on wandb.

[2021-04-01 16:18] vanpelt commented on #1991
This specific error would be fixed if your anaconda environment was on the same drive as your code.  Looking closer at the code, I believe this would work for you:

[code]

[2021-04-01 17:20] mjohenneken commented on #1991
In [this line](https://github.com/wandb/client/blob/5759bab2d11d91ae4a545a85a92c2e9938ce9c11/wandb/sdk/wandb_settings.py#L154) full_path_to_program is `'C:\\Program Files\\JetBrains\\PyCharm 2020.3.2\\plugins\\python\\helpers\\pycharm\\_jb_unittest_runner.py'` and root `'D:/workspace/thesis/raisinnet'` which can can not be expressed relative to each other. I tested with and without setting `progra

[2021-04-01 18:40] vanpelt commented on #1648
This was fixed 30 days ago, I've verified the following code indeed disables commit checks.

[code]

[2021-04-01 18:40] #1648 closed

[2021-04-01 20:01] borisdayma commented on #1869
Are your models logged?
If so the upcoming PR https://github.com/PyTorchLightning/pytorch-lightning/pull/6231 may solve it.

[2021-04-01 21:17] vanpelt commented on #1991
@mjohenneken thanks max, and apologies for all this back and forth.  I just tested this locally and confirmed it works:

[code]

Just be sure to call this before you call wandb.init when you're running tests and the error should go away.

[2021-04-02 11:33] EdwardJB opened #2031 "[Q] Some runs in a sweep have crashed. How to fix?"
Hi,

I'm running a sweep and a GPU problem caused several runs to show as "crashed" and "failed". After a reboot the sweep is running again, but those runs don't seem to have been redone.

How can I make the sweep re-do those runs? I'm tempted to delete them from the sweep via the UI. Will that help?

Thanks.

[2021-04-02 14:45] EricCousineau-TRI commented on #1129
From above, it seems that there is still a PR lingering for this builtin `json` <-> PyYAML `yaml` incompatibility.
Tracing through @timxzz's SO post, it seems there is an upstream issue and PR to fix this for PyYAML:
- Issue: https://github.com/yaml/pyyaml/issues/173
- PR: https://github.com/yaml/pyyaml/pull/174

FWIW In my code, I simply just hack around it. I'm using `dataclasses` for schema-lik

[2021-04-02 14:56] EricCousineau-TRI commented on #1129
My suggested workaround for `wandb` is to convince the JSON emitter to generate YAML 1.1-friendly floats, e.g. instead of `5e-05`, generate `5.0e-5`.

[2021-04-02 16:03] cvphelps commented on #2031
Hi Edward, yes please delete those runs from the UI and keep running the sweep.

[2021-04-02 16:06] cvphelps commented on #2027
HI @wzhang2022 thank you for reporting this issue. Did you see anything missing in the logged gradients in the UI, or was this just a warning?

[2021-04-02 16:10] cvphelps commented on #2023
Hi @SteEcker thanks for reporting this, yes you're right that's the correct order!

[2021-04-02 16:12] raubitsj commented on #2023
From the code:
[code]

[2021-04-02 18:16] cvphelps commented on #1933
@rodrigo-castellon did you try reports?

[2021-04-02 19:31] KyleGoyette commented on #1927
Hi @samsamoa, thanks for your patience on this.  Could you add `wandb.finish()` to the end of your runs that are running in subprocesses? This should solve the issue.

[2021-04-02 19:38] samsamoa commented on #1927
Thanks @KyleGoyette - this works as well, since `run_exitfuncs()` above calls `wandb.finish()`.

I'd suggest adding this example snippet to your documentation, as it took me quite a while to track down:
[code]

[2021-04-02 19:39] samsamoa commented on #1927
Thanks @KyleGoyette - this works as well, since `run_exitfuncs()` above
calls `wandb.finish()`.

I'd suggest adding this example snippet to your documentation, as it took
me quite a while to track down:
[code]

On Fri, Apr 2, 2021 at 12:31 PM KyleGoyette ***@***.***>
wrote:

[2021-04-02 20:03] gabriel-vanzandycke commented on #1757
A workaround is to set ```os.environ["WANDB_SILENT"] = "true"```

[2021-04-02 20:48] wzhang2022 commented on #2027
I only see this warning. I'm not sure what the warning means or how to avoid it. Given that wandb is using a feature of PyTorch that "is deprecated and will be removed in future versions," it seems like this is worth investigating.

[2021-04-02 22:50] vwxyzjn commented on #1988
Hi @vanpelt, I have tried to use `wandb==0.10.24` that seems to have fixed the frequent uploading issue. Thank you for the fix and I am closing the issue for now.

[2021-04-02 22:50] #1988 closed

[2021-04-03 02:39] adamDhalla commented on #1994
Any progress on this?

[2021-04-03 06:29] SteEcker commented on #2023
Hi @cvphelps,, thanks for the quick reply!

Sorry if I am missing something obvious, but when I compare the output metrics from `wandb.sklearn.plot_summary_metrics()` with _manually_ logged metrics I get different results in my dashboard.

Here is a small example of what I mean. I build a naive LR model and log the F1 score in two different ways.

[code]

Resulting in this dashboard output:

![Sum

[2021-04-03 08:33] adricarda commented on #1516
Still not working for me, while on a local version of Tensorboard everything works fine. Any updates on this?

[2021-04-03 11:08] puraminy opened #2033 "[App] wandb: ERROR Error while calling W&B API: invalid project name t5_large_5/checkpoint-60000/, cannot contain character "/" (<Response [400]>)"
**Describe the bug**
I used `simpletransformers` api and set the `project_name` to `model_name` which contained slash `/`. I logged in offline mode. Now that I want to sync the logs with wandb website it gives the following error for the name

[App] wandb: ERROR Error while calling W&B API: invalid project name t5_large_5/checkpoint-60000/, cannot contain character "/" (<Response [400]>)
How can I

[2021-04-03 13:18] feyzazeynep commented on #1627
I have the same problem, I get the AttributeError ("'str' object has no attribute 'item'",) error in the loss.item () statement. I listened to your version suggestions, but still didn't provide a solution.

[2021-04-03 19:51] feyzazeynep opened #2034 "AttributeError ("'str' object has no attribute 'item'",)"
**Description**
I get this error every time I try to tweak the BERT with W&B: AttributeError (`` object 'str' has no attribute 'element' '') ... whether it's your instance in Google Colab or your own tweaking experience own machine and dataset .
I am getting this error in Loss.item () statement. I've listened to your release suggestions, but still haven't found a solution.

**Environment**
- Envir

[2021-04-03 22:54] somedadaism opened #2035 "[Feature] Including the autogenerated name for local checkpoints of our data."
When I run wandb I get a local checkpoint of the run data ins the `wandb` directory.
The checkpoint looks like: `wandb/run-20210404_003352-qwxqi48r`
At the same time my checkpoint is uploaded to wandb and has a automatically generated name, e.g. `mild-spaceship-1`
Is there a way to automatically rename the local checkpoint to `wandb/run-mild-spaceship-1-20210404_003352-qwxqi48r`
I have looked into

[2021-04-04 09:48] nabito commented on #2027
By using wand.watch with Pytorch I can confirm see this warning as well:

"Using a non-full backward hook when the forward contains multiple autograd Nodes is deprecated and will be removed in future versions. This hook will be missing some grad_input. Please use register_full_backward_hook to get the documented behavior."

It only appears when I'm training the model.
Not sure if it's going to aff

[2021-04-04 16:08] mckinziebrandon commented on #736
Just want to point out that, although the logging solution proposed by @vanpelt works for _future_ runs, it doesn't address  what we should do for runs that have already finished. There are many of us with a _lot_ of runs that we'd like to apply this on retroactively.

[2021-04-05 01:25] cola-nicolas commented on #1122
Any update on this issue ? I'm having the same problem, and I can't find a workaround

[2021-04-05 08:31] karthi0804 commented on #386
Hi, it happens in 0.10.21 also. any workaround or fix?

[2021-04-05 10:00] wwdok commented on #1884
After calculating out these brackets, what is the next step to use them to determine when the run should be stop early ? I tried to put hyperband in my configuration, but i have run 4 times, i haven't seen any run stopped early, they all run to the end of last epoch. I would very appreciate if you could  make a video or any intuitive way that show us how to use hyperband and what is the normal run

[2021-04-05 15:26] vanpelt commented on #386
0.10.23 may have fixed this, can you try upgrading.  The other thing to try would be setting the environment variable `WANDB_CONSOLE=off`.  If it's still not working, please provide a code snippet to reproduce.

[2021-04-05 20:07] rodrigo-castellon commented on #1933
Yep, thanks for the help!

[2021-04-05 20:07] #1933 closed

[2021-04-05 21:17] tyomhak commented on #2034
Hey @feyzazeynep , can you share the full stack trace?
Also, do you think you could share a minimal example colab that reproduces this issue?

[2021-04-05 21:38] tyomhak commented on #2033
Hey @puraminy , you can us the --project setting from here: https://docs.wandb.ai/ref/cli#wandb-sync

Your command would look something like this:

wandb sync --project='project_name'   run_folder_path

[2021-04-06 02:13] karthi0804 commented on #386
I upgraded to 0.10.23 and set WANB_CONSOLE=off. Still I get this error,

[code]

[2021-04-06 06:54] vanpelt commented on #386
Thanks for the traceback @karthi0804.  We'll need to do some more digging to understand the root cause.  In the meantime there are two workarounds:

1. Try setting the following environment variable: `WANDB_START_METHOD=thread` (this will tell us to spin up threads in the current process instead of launching a separate logging process)
2. You can disable wandb entirely with `WANDB_MODE=disabled` (

[2021-04-06 07:29] karthi0804 commented on #1893
Hi i get this error after deleting a run in the dashboard which was synched before and again trying to sync. Any suggestions?

[2021-04-06 07:53] maria-korosteleva commented on #1934
Hey @vanpelt

Just letting you know that the issue is still there in 0.10.25. And both of the methods don't work (the one in the issue description and the one that you proposed).

Both fail with the same `KeyError: 'new_metric_d'`  😥

[2021-04-06 13:17] prash-p opened #2039 "[CLI] Network error (ReadTimeout), entering retry loop."
**Description**
My program just hangs after wandb cannot connect and log data. The error is `Network error (ReadTimeout), entering retry loop. See wandb/debug-internal.log for full traceback.`

**Wandb features**
wandb.log()

**Environment**
- OS: Ubuntu 18.04
- Environment: terminal on local machine
- Python Version: 3.7.10
- WandB: 0.10.24

Here is part of the debug-internal.log:
[code]

[2021-04-06 16:47] santelelle opened #2041 "[Q] logged histogram on the dashboard page"
Hi,

I would like to show a histogram logged with `wandb.log(wandb.Histogram(mydata))` on the dashboard page so that I can compare it with other runs (the visualization I already get in each specific run page is correct with [x:iterations, y:bins]).

I spent some time trying without success, is there any way to achieve this?

[2021-04-06 16:51] ArunimaB1995 opened #2042 "AttributeError: force_use_bias"

[2021-04-06 17:00] santelelle opened #2043 "[Feature] Multiple histograms [x: step, y:bin] on the same panel"
**Problem:**
I would like to track how two distributions (positive and negative classifications over scores between -1 and 1) evolve during training

**Solution I'd like:**
It would be nice if it was possible to show both of them in the same histogram plot with [x:step, y:bin] with different colors.
This would be useful to check the overlap area between the two.
The plot would be exactly like the

[2021-04-06 18:17] prash-p commented on #780
I am also having this issue.
Wandb: 0.10.25
Python: 3.7.10 and 3.6.9

[2021-04-06 18:18] prash-p commented on #2039
I believe this might be related to https://github.com/wandb/client/issues/780 but I'm not certain

[2021-04-06 19:08] vanpelt commented on #2042
Hey @ArunimaB1995, unfortuantely it looks like your report got deleted.  What error are you seeing?

[2021-04-06 19:09] vanpelt commented on #2043
Hey @santelelle you can create this manually using our [custom charts](https://docs.wandb.ai/app/features/custom-charts) functionality.

[2021-04-06 19:12] vanpelt commented on #780
We're working on improvements to our underlying sweep architecture to allow for large search spaces.  In the meantime, unfortunately the only solution is to reduce the number of tunable parameters in your sweep space.

[2021-04-06 19:16] vanpelt commented on #1893
@karthi0804 you'll need to sync the run to a new id.  When you run `wandb sync` you can specify a new run_id.  To get a new unique id you can run `wandb.util.generate_id()`

[2021-04-06 19:48] prash-p commented on #780
@vanpelt I also have this issue when I'm not running sweeps and just training a large model. Any ideas?

[2021-04-06 20:11] morganmcg1 commented on #2023
@SteEcker potentially the difference is that `wandb.sklearn.plot_summary_metrics` uses a `weighted` f1 score, you can see it [on this line here](https://github.com/wandb/client/blob/b181d10f518d356555925be21ea71f1b0c5bebdb/wandb/sklearn/__init__.py#L241)

sklearn's default averaging uses `binary` (sklearn [f1 docs here](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.f1_score.htm

[2021-04-06 21:55] vanpelt commented on #780
@prash-p we had a brief outage this morning.  Our library should continue retrying in these cases.  Can you share the output you saw in your terminal?

[2021-04-07 09:42] surfii3z opened #2046 "[CLI] The live log graph is not shown when running jupyter notebook in vscode"
**Description**
Thank you for the amazing software, I have been enjoying using wandb.

I want to show the logged graph locally in my jupyter notebook (.ipynb), so I follow this [example](https://docs.wandb.ai/integrations/jupyter). However, it would not show the plot but this instead.

![Screenshot from 2021-04-07 18-41-09](https://user-images.githubusercontent.com/38914643/113845824-d8ba1e80-97d0

[2021-04-07 12:03] vilim opened #2047 "[CLI] Subplot titles missing when using plotly"
**Description**
When logging plotly figures with subplots, the titles of subplots are not displayed.

**Wandb features**
Using wandb.log

**How to reproduce**
[code]
In a notebook/exported figure the titles for the subplot are visible:
![image](https://user-images.githubusercontent.com/3041236/113863190-aba64580-97a9-11eb-9959-9d95dae7017d.png)

However in W&B dashboard the titles are not there an

[2021-04-07 15:44] shrijan00 opened #2048 "How do you disable Weights and Biases?"
Hi,
I recently started using WandB. I know this topic has been somewhat covered previously. **[https://github.com/wandb/client/issues/764](url)**
I did look at **wandb.init(mode="disabled")**
But does it completely turns of WandB or is there any other feature to set it to disabled mode just like this WANDB_MODE=dryrun.
I'm a bit confused about how to turn it off completely. Please help.
Thank you

[2021-04-07 16:36] surfii3z commented on #2046
My guess is this line here is throwing the error:
https://github.com/wandb/client/blob/b181d10f518d356555925be21ea71f1b0c5bebdb/wandb/apis/internal_runqueue.py#L533

_Originally posted by @rchiodo in https://github.com/microsoft/vscode-jupyter/issues/5430#issuecomment-815049169_

[2021-04-07 18:24] vanpelt commented on #2048
Hey @shrijan00 here are detailed docs on wandb.init: https://docs.wandb.ai/ref/python/init

mode can be "online", "offline" or "disabled", defaults to online.

online sends data to the cloud, offline just stores data on your local machine that you can later send to the cloud by running `wandb sync` and "disabled" entirely disables all logging but stubs out all of the api methods to still be callab

[2021-04-07 18:24] #2048 closed

[2021-04-07 18:37] vanpelt commented on #2046
@surfii3z looking at your notebook I noticed calling `wandb.init` in a for loop.  Can you share why you were doing this?

This specific error is due to the way vscode serves iframes.  The `%%wandb` magic was meant to be used in a web browser where you're already logged into wandb.ai.  I'll look into ways to authenticate the iframe in vscode and update the ticket here.

[2021-04-07 21:20] fishbotics commented on #2027
Ditto here. I see this when using wandb_logger.watch in Pytorch lightning.

[2021-04-08 01:36] surfii3z commented on #2046
Hi Thank you for your quick help. In fact, the notebook is from official; wandb website and I also don't know why they do that.

By the way, when I run it locally, I removed the loop for wandb.init

[2021-04-08 10:44] daia99 opened #2051 "[App] custom charts (eg. Confusion Matrix and ROC) show "no data available""
**Describe the bug**
As of 2 days ago before making this issue, the custom charts I used no longer display data using wandb.log() in the web client.

**To Reproduce**

The following calls are used from following the docs:
-  `wandb.log({"roc" : wandb.plot.roc_curve(ground_truth,
           predictions, labels=["a", "b"])})`
- `wandb.log({"conf_mat" : wandb.plot.confusion_matrix(

[2021-04-08 10:58] ariG23498 commented on #1516
Hey @adricarda
Could you describe your issue a little better?

[2021-04-08 11:05] ariG23498 commented on #2051
Hey @daia99
Would it be possible for you to link us to a colab notebook for reproduction?

[2021-04-08 11:10] ariG23498 commented on #2047
Hey @vilim
Thanks for the ticket.
I am flagging this as an internal ticket.

[2021-04-08 11:14] ariG23498 commented on #2041
Hey @santelelle
I think you could do something like this for you task
[code]

This will sync a histogram of `mydata` and you will be able to compare the different histograms corresponding to the different runs.

Does this solve your problem?

[2021-04-08 11:50] daia99 commented on #2051
Hi @ariG23498

I looked up these notebook examples from [here](https://github.com/wandb/examples/tree/master/colabs/wandb-log):

- [Confusion Matrix](https://colab.research.google.com/github/wandb/examples/blob/master/colabs/wandb-log/Log_a_Confusion_Matrix_with_W%26B.ipynb#scrollTo=7097i45lx8sf)
- [ROC](https://colab.research.google.com/github/wandb/examples/blob/master/colabs/wandb-log/Plot_ROC_

[2021-04-08 14:19] prash-p commented on #780
@vanpelt I've included the debug log here: https://github.com/wandb/client/issues/2039
Essentially my program just freezes and there is no more output. I had this issue again just now

[2021-04-08 15:15] santelelle commented on #2043
I am using now the [custom chart](https://docs.wandb.ai/app/features/custom-charts) functionality and I am quite satisfied, but I did not figure out how to make the **plot interactive** with respect to the **"global step pointer"** (the cursor that you can move hovering with the mouse on any scalar chart and that get synced with all the other charts).

How can I access this from inside my custom c

[2021-04-08 16:36] vanpelt commented on #2035
Hey @somedadaism this is not supported.  You can create a symlink if you'd like after you've called `wandb.init`.  I'm curious what your specific use case is?  Why do you ever need to go back to that local directory after the run has completed?

[code]

[2021-04-08 17:00] KyleGoyette commented on #2043
Unfortunately, custom charts does not currently support the global step pointer that is synced with all other charts. If you logged your charts across steps, but your chart is set up such that it shows the histogram for one step at a time, you can add a step selector to your chart by going to the "Other Settings" tab in your custom chart editor page:
![image](https://user-images.githubusercontent.

[2021-04-08 17:20] santelelle commented on #2043
Thanks for the quick answer!
I've seen the option with the step selector and it does work for me, the sync would be amazing though.

As you correctly pointed out I would like to show one histogram at a time (screen attached). It would be really nice if I could update this while moving the cursor on the other plots.
Do you think this feature will be available in the near future?

PS: Are all the cu

[2021-04-08 17:26] oliviersalaun opened #2052 "[CLI] pytorch-lightning and wandb - Abnormal program exit"
Hello,

**Description**
I implemented a model with pytorch_lightning and WandLogger, but it seems wandb makes the system crash before the start of the training. The issue looks similar to this : https://github.com/wandb/client/issues/1293

**Wandb features**

I am using `WandbLogger` from `pytorch_lightning.loggers`
I was not sure whether I should use only `WandbLogger` or both `WandbLogger` and `

[2021-04-08 17:29] KyleGoyette commented on #2043
I don't believe there are current plans for this feature at this time. I'm not sure what you mean by cursor hover functions. Our custom charts Line Plot, Scatter plot and AUC support hovering using vega-lite. As do our histogram and bar charts.

[2021-04-08 17:38] vanpelt commented on #2052
Hey Oliver,

You can set the following before you instantiate your logger to fix this issue.  We'll try to reproduce and do this automatically in the future:

[code]

[2021-04-08 18:19] oliviersalaun commented on #2052
Thanks for your reply. I tried your fix.
When running the script again, it gives the following :

[code]

When re-running the script without even modifying the code (`wandb` library is not imported), the issue is reappearing and it seems there is one wandb run nested into another wandb run. I get the same result when re-executing the script several times:

Start of first and second wandb runs:

[c

[2021-04-08 21:03] vanpelt commented on #2052
Thanks Olivier, do you think you could create a colab with some simple dummy data or no data at all that reproduces this?

[2021-04-08 21:22] vanpelt commented on #2052
What I think is happening is that you're calling `wandb.init` in your main process then your trainer spawns a sub process that has your WandbLogger in it.  Since init wasn't called in the same process the Logger calls `wandb.init` again causing this issue.

What happens if you don't call wandb.init manually and just let the WandbLogger init the run?

[2021-04-09 00:32] maria-korosteleva commented on #1862
Reproduced for 0.10.20

[2021-04-09 03:50] vanpelt commented on #1862
Hey @maria-korosteleva this looks like an issue with the google protobuf library.  Can you try running `pip install --upgrade protobuf` and report back if you see this agin?

[2021-04-09 05:49] borisdayma commented on #2052
@oliviersalaun Can you update `transformers` to 4.5.0?
There was a fix added in the last version that may help here. I think `transformer` was trying to create a new run. Now it should detect there is already an existing one.

[2021-04-09 07:40] feyzazeynep commented on #2034
Hey @tyomhak, unfortunately I can't share because of company rules. I found a solution to this problem, I can share the solution.

[2021-04-09 09:14] amirDahari1 opened #2056 "[CLI] wandb: ERROR Error while calling W&B API: Error 1062: Duplicate entry '189160-gbp6y2en' for key 'PRIMARY' (<Response [409]>)"
**Description**
I get this error message on the command line, tried to reinstall wandb and without the entity in the init call, didn't help.

**Wandb features**
I call wandb with
wandb.init(project='SuperRes', config=args, name=progress_dir, entity='tldr-group')
I only log some losses and plots.

**How to reproduce**
https://github.com/amirDahari1/SuperRes/tree/develop/code/Architecture.py

**Envi

[2021-04-09 10:22] MartFire commented on #1297
Hi,

Any new about this feature ? I'm still facing the issue with the version 0.10.25

[2021-04-09 11:50] santelelle commented on #2043
Ok I got it working,

I think the issue was the _params_ definition of vega-lite v5 I was using.

A minimal example that could be useful for someone, moving the cursor on x axis changes the visualized curve:
[code]
![image](https://user-images.githubusercontent.com/10034153/114175642-741ad300-993a-11eb-93b3-fa6e3fec92fb.png)
![image](https://user-images.githubusercontent.com/10034153/114175653-797

[2021-04-09 11:51] #2043 closed

[2021-04-09 16:10] cvphelps commented on #2056
Thanks for reporting, this looks like a multiprocessing issue. Here's the workaround for now: https://docs.wandb.ai/library/distributed-training

This should be fixed in the next CLI release

[2021-04-09 19:05] tyomhak commented on #716
Hey @qshzh, unfortunately wandb doesn't support this yet, but I've updated our internal ticket to bump up the priority and show the interest for this feature.

[2021-04-09 21:18] tyomhak commented on #1556
hey @koaning, I believe this has been fixed in later wandb releases. Can you check if the issue persists for you?

[2021-04-10 09:27] oliviersalaun commented on #2052
@borisdayma I have not updated `transformers` yet, but I think I found the origin of the problem. When initializing the lightning Trainer, I passed the following arguments:
[code]
Although the machine has two GPUs, only one is actually suitable for training (the other one is just for the monitor). Still, `torch.cuda.device_count()` returns `2`.
If I manually set:
[code]
then, the problem is solved

[2021-04-10 10:06] SteEcker commented on #2023
@morganmcg1 You are correct. Thanks for the clarification!

[2021-04-10 10:06] #2023 closed

[2021-04-10 10:52] maria-korosteleva commented on #1862
I will try, thanks!

[2021-04-10 12:38] adricarda commented on #1516
Sure, sorry for the delay.
What I mean is that when generating an embedding projection with writer.add_embedding() (I am using pytorch and torch.utils.tensorboard) I can launch locally tensorboard and use the projector correctly.
All files are written in the "files" directory automatically created by wandb for the current run, so that everything is pushed on the wandb server as well.
On the other

[2021-04-10 13:20] emilemathieu commented on #1954
Would there be any update on this? :)
I'm happy to help!

[2021-04-10 23:04] surya-narayanan commented on #1698
Hi,

Trying to open this issue, since I think it might be causing a bug I am running into.

![image](https://user-images.githubusercontent.com/17240858/114286669-b9f89980-9a15-11eb-93b9-3d9c46eabe4b.png)

Here is a snippet of the warning referenced in the issue title.

My workflow is rather straightforward

-- Creating a yaml file
-- Creating wandb.init(config  = {config1: ..., config2: ...)
-- wa

[2021-04-11 00:07] surya-narayanan opened #2058 "Client hanging + Leaked Semaphores"
Hi,

My agent hangs sometimes and when I kill it, throws a warning about leaked semaphore objects.

Here is the warning:
[code]
When it runs, sometimes (sometimes other than when it hangs) produces the following warning:
[code]

This warning is referenced in https://github.com/conda/conda/issues/9589. It seems to be a Python 3.8 thing. Will try with Python 3.7.

My workflow is rather straightforwa

[2021-04-11 00:37] MinuteswithMetrics commented on #1806
@KyleGoyette I was able to get it working. Thank you!

[2021-04-11 01:36] karthi0804 commented on #1893
Thanks. It worked. I could resolve this by specifying `wandb sync --id xxxxxx`

[2021-04-11 23:10] vii33 opened #2059 "[App] Diagram x-ticks are off when providing 'step'"
**Describe the bug**
Hi, I want to display metrics gathered from a log file. The log contains the `epoch` (= `step`) and some `metric`. The metric is only calculated after a few epochs, therefore I have to set the `step` attribute explicitly.

**Problem**: When looking at the web dashboard, the step position (x-value) is _off by a changing amount_. The problem only occurs in the _project view_. Wh

[2021-04-12 02:14] nsidn98 opened #2060 "[CLI] Code and weights not getting saved on the wandboard."
I have been trying to save the code and the model weights on my project wandboard. They used to work a few months ago but have stopped. (I guess since I upgraded to the patched version mentioned [here](https://github.com/wandb/client/issues/1972#issuecomment-801609626)) but it didn't work.

I have been using:
[code]
I tried adding `os.environ['WANDB_SAVE_CODE'] = "true"` as mentioned in  [here](ht

[2021-04-12 02:39] cola-nicolas commented on #1122
Note that when I meet this problem, I also receive the following warning :

---

If I comment the line `wandb.watch(agent)`, I don't have this warning.

[2021-04-12 06:03] vanpelt commented on #2060
He @nsidn98, can you share a link to a run that doesn't have code synced?

[2021-04-12 06:06] nsidn98 commented on #2060
I am not sure about how to share links to runs from private projects.

[2021-04-12 06:06] vanpelt commented on #1122
@cola-nicolas can you share the traceback you're getting?

[2021-04-12 06:07] vanpelt commented on #2060
You can email me at vanpelt@wandb.com

[2021-04-12 06:11] cola-nicolas commented on #1122
@vanpelt

Traceback (most recent call last):
  File "main.py", line 53, in <module>
    main()
  File "main.py", line 43, in main
    trainer.run()
  File "/home/remondn/workspace/parka/parka/trainer.py", line 145, in run
    logs = self.train_step(batch_data)
  File "/home/remondn/workspace/parka/parka/trainer.py", line 35, in train_step
    log_probs, critics, rewards, masks = self.run_episode(d

[2021-04-12 06:15] nsidn98 commented on #2060
Am I supposed to email the folder which I sync to the wandboard to your email?

[2021-04-12 06:29] ariG23498 commented on #2051
Hey @daia99
I did not find any error while running the linked examples
The custom charts are well visible in the UI.
Would you like to add anything to the process that could reproduce the behaviour that you are presently seeing?

[2021-04-12 06:49] ariG23498 commented on #1516
That is interesting
Would you like to share a colab notebook for us to quickly review the whole thing and revert back to you?

[2021-04-12 06:50] ariG23498 commented on #1893
Hey @karthi0804
Glad that the issue resolved
Would you like to close the ticket?

[2021-04-12 07:09] ariG23498 commented on #2059
Hey @vii33
Thanks for the issue

For custom x-axis logging we suggest you log a custom key while logging the metrics. We do not want the user to modify the step parameter as it is internal to the way wandb works.

The code snippet that you have presented can be changed like so:
[code]

## Screenshot
![image](https://user-images.githubusercontent.com/36856589/114354584-0c5bc680-9b8c-11eb-92c2-fca84

[2021-04-12 07:15] santelelle commented on #2041
I close the issue as I solved the problem using a custom chart

[2021-04-12 07:15] #2041 closed

[2021-04-12 07:36] karthi0804 commented on #1893
But I didn't open the ticket. So I am not sure if the original problem is resolved. @zliangak should close the ticket if resolved for him.

[2021-04-12 07:46] adricarda commented on #1516
Yes, I cannot directly share my code but I will try to make a minimal reproducible example in the following days. I'll keep you posted.

[2021-04-12 08:32] chenshen03 opened #2061 "[Q] How to change the name of wandb.run.dir?"
The default name of **wandb.run.dir** is something like *run-20210412_0800-UUID*. How can I change the prefix *run-20210412_0800* to a user-custom name?

[2021-04-12 11:14] mjohenneken commented on #1991
Ok, I can run the unit tests now. To prepare a test environment this setup method can be used:

[code]

Although, log files will still be written. With this snippet, they are put into a temporary dir. I was not able to clean up afterward because the wandb process has still open file descriptors to the debug.log file even after calling `finish()`. For now, this can serve as a workaround because it'

[2021-04-12 14:50] vanpelt commented on #2060
Just the link to a run in your project.

[2021-04-12 14:53] vanpelt commented on #2061
You can symlink a new directory with your own custom name to the existing one, for example:

[code]

I'm curious, why do you want to change the name of the run directory?

[2021-04-12 14:59] nsidn98 commented on #2060
Wouldn't that link not work for you since it is a private project in wandb? An observation that I have made with this is that this happens only when I run offline jobs and then manually sync them using `wandb sync foldername`. The code, `wandb-metadata.json`, `requirements.txt` are saved in the folders but are not synced. And the `config.yaml` and `diff.patch` are not even getting saved in those f

[2021-04-12 15:02] vanpelt commented on #2060
Because I'm an administrator I can access your private project for debugging purposes if you allow me to.

[2021-04-12 15:09] nsidn98 commented on #2060
Have sent the link to your email id.

[2021-04-12 15:20] vanpelt commented on #2060
Thanks @nsidn98, I've been able to reproduce the bug.  We'll look into getting a fix implemented.

[2021-04-12 15:27] vanpelt commented on #1698
Hey @surya-narayanan the warnings likely mean somewhere in your code you're calling `wandb.config.update(...)` or `wandb.config.combine_loss = xxx`.  We warn in this case because it would override the sweep parameters.

In terms of the CUDA memory error, that can happen if you're running the agent within a single process.  Are you calling `wandb agent` from the command line, or `wandb.agent` insid

[2021-04-12 15:28] rubencart opened #2063 "[CLI] matplotlib Figure object not JSON serializable"
**Description**
[You documentation](https://docs.wandb.ai/library/log#matplotlib) says "You can pass a matplotlib pyplot or figure object to `wandb.log()`". However, when I do this, at the moment of the commit, I get the following error.

[code]

**Wandb features**
I'm calling `self.trainer.logger.experiment.log({'examples': wandb_images}, commit=False)` in a pytorch-lightning module where `wandb_

[2021-04-12 15:33] tyomhak commented on #2034
@feyzazeynep I understand. If you could share the solution that would be great!

[2021-04-12 19:34] vii33 commented on #2059
Hi @ariG23498,

thanks for the quick help, this works 👍

Still, you note [here ](https://docs.wandb.ai/library/log#incremental-logging) and [here](https://docs.wandb.ai/ref/python/log) that people can adjust the global step for logging. Maybe you guys could clarify the usage in the documentation😄

[2021-04-12 19:35] #2059 closed

[2021-04-13 09:45] gwenzek opened #2067 "[CLI] AttributeError when logging retryable connection errors"
**Description**
On connection errors I get the following stack trace:

[code]

Looking at the code it seems that  the error was just meant to be logged and retried, but here we get a crash instead.
The original error was just a `ConnectionResetError: [Errno 104] Connection reset by peer  ` (wrapped several times).

I think this has been introduced in #1586 see my comment: https://github.com/wandb/

[2021-04-13 10:44] khalilRhouma commented on #1733
Hi @cvphelps
Is there any way to delete my account on Wandb site, it is very strange that I didn't find any way to delete my account

[2021-04-13 10:53] maximilianreimer commented on #1526
Same here! The runs seems to be completely normal from all local files, but the std log, as well as, the logged values stop after some time. `wandb sync` does not fix the problem

[2021-04-13 12:52] khvmaths commented on #1994
I encounter the same error, when training ViT with torch_xla using TPUs. Any progress?

[2021-04-13 14:05] jcoholich commented on #1526
I am having the same issue right now. Wandb says the run has crashed, but it is still running fine on my workstation. I can see that the file "run-<run_ID>.wandb" is still being updated, since its timestamp is always the current time. However, running "wandb sync" just returns:

`wandb: No runs to be synced.`
`wandb: NOTE: use wandb sync --clean to delete 2 synced runs from local directory.`

Runn

[2021-04-13 14:11] jcoholich commented on #1817
I am having this same issue trying to upload from a  run that has crashed according to wandb, on wandb version 0.10.25. More context on my issue:
https://github.com/wandb/client/issues/1526#issuecomment-818763611

[2021-04-13 17:46] vanpelt commented on #2067
Thanks for this report.  We're looking into a fix ASAP.

[2021-04-14 05:56] ariG23498 commented on #2063
Hey @rubencart

I have tried reproducing the ticket. This is the [GIST](https://gist.github.com/ariG23498/dd5c0449166beac5e2bb68a11809d1a3) that is a full-fledged repro of your issue. The wandb dashboard corresponding to the GIST can be found [here]()https://wandb.ai/repro/GH-2063.

**My observations**:
1. Sending a `plt.figure` as a list is harmful as the lists are serialised and the `plt.figure`

[2021-04-14 07:16] rubencart commented on #1817
Same... is it possible to at least upload non corrupted parts of the logs?

[2021-04-14 07:53] rubencart commented on #2063
I see, thank you!

It would be useful to me if I could submit `plt.Figure` instances though and not just the `plt` object, because I'm generating multiple figures at once. Maybe I'm not understanding it correctly, but I think that if you can only submit `plt`, you'd need to generate a figure, log it, close it, generate the next one, log it,... and so on.  Is that correct? So then you wouldn't be a

[2021-04-14 15:28] raubitsj commented on #2067
Thanks for the report, this is fixed in 0.10.26.

As you found, it was a bug introduced in 0.10.24 and we are improving our testing processes to make sure we don't introduce a problem in this part of the code again.

If you have any runs impacted by the bug that ran to completion but did not sync all the data, you can use the `wandb sync` command to complete the syncing of any files or metrics whi

[2021-04-14 15:28] #2067 closed

[2021-04-14 15:46] chenshen03 commented on #2061
I just think the prefix is redundant and not easy to retrieve. Anyway, thank you for your reply.

[2021-04-14 15:46] #2061 closed

[2021-04-14 16:29] vwxyzjn opened #2070 "[Feature] Auto generate code to reproduce run"
## Overview
Currently, the `wandb` client saves an excellent collection of data for the purpose of reproducibility such as `requirements.txt`, the git repo and state, and the command that was used to run the experiments. However, it still would take leg work to reproduce the experiments: the user would need to manually clone the repo, checkout the branch, setup venv, run the experiments.

**Descri

[2021-04-14 16:59] amirDahari1 commented on #2056
I restarted PyCharm and it solved the problem for some reason.. Thanks!

[2021-04-14 17:00] #2056 closed

[2021-04-15 01:30] HaoLiuHust opened #2072 "[Q] Do we have a api that can create a project from python or command line?"
I want to intergrate wandb into a training system, when user commit a training job, then create a project for him and visualization for him

[2021-04-15 01:40] kurucan opened #2073 "Integration with Optuna [Feature]"
Is there any plans to integrate with optuna hyperparameter optimization?

[2021-04-15 06:10] gwenzek commented on #2067
Thanks for the quick fix!

[2021-04-15 07:02] cvphelps commented on #2073
Hi @kurucan we don't have plans to build a special integration with Optuna right now, but W&B logging should work out of the box with Optuna. Have you tried logging experiments from Optuna with W&B?

[2021-04-15 07:24] codeananda opened #2074 "wandb.login() hangs and then disconnects me every time I try on Google Colab"
**Description**
I've been using wandb and Google Colab successfully for the last couple of months. But over the last week, I have had so many connection issues.

One thing that has been happening all morning (the last 4 hours) is that when I run this code block, Colab hangs, then disconnects, and cannot reconnect for several minutes.

[code]

It installs wandb and does both imports fine. But it ha

[2021-04-15 08:53] LarsVaehrens commented on #1817
Facing the same issue with `wandb==0.10.26` and `python==3.7` on Ubuntu 18.04.5 LTS.

As discussed in https://github.com/wandb/client/issues/1526#issuecomment-731408684 I think my problem is caused by a (sometimes) unstable internet connection. Training continues when wandb has crashed, but when the training run ends or I terminate it early I get the message `wandb: \ 0.00MB of 0.00MB uploaded (0.

[2021-04-15 09:20] somedadaism opened #2075 "wandb changes hydra logging in an undesired manner. [CLI]"
**Description**
I try to combine `hydra` and `wandb` in a common framework.
`hydra` configures my (python, not wandb) loggers in a manner I think is convenient and allows to flexible alter them.
However the logger configurations made by `hydra` are overwritten by the `wandb.init()` function.
The issue exists in public repos too:
https://github.com/ashleve/lightning-hydra-template
is an example I c

[2021-04-15 09:30] somedadaism commented on #2035
I think the link between local wandb folder and in browser wandb is difficult to make.
Naming the local folders with the autogenerated names would make it easier to see what is what.

[2021-04-15 10:18] ariG23498 commented on #2075
Hey @somedadaism
Thanks for the issue and the repro.
We will be tracking this internally. 😄

[2021-04-15 10:23] ariG23498 commented on #2074
Hey @theadammurphy
Could you try doing `wandb.init(settings=wandb.Settings(start_method="thread"))` and report back?
We are aware of some issues with google colab, sorry for the inconvenience. I think the code above should bypass the hanging colab notebook.

[2021-04-15 10:27] ariG23498 commented on #2072
Hey @HaoLiuHust
Could you describe the problem a little better?

For the time being
[code]
this should create a project named "new-project" where "metric" is logged.

[2021-04-15 10:33] ariG23498 commented on #2070
Hey @vwxyzjn
This is a great feature. Thanks for the detailed walk-through and also the subtle issues. We will be tracking this internally. 😄

[2021-04-15 10:35] ariG23498 commented on #2058
Hey @surya-narayanan
I see that you have been replied to in the linked comment. Could you help us there?

We will be tracking this internally.

[2021-04-15 13:43] surya-narayanan commented on #1698
- Can confirm that I don't call wandb.config.update() or wandb.config.combine_loss = xx anywhere in my code.
- I am calling wandb agent from the command line
- Yes

[2021-04-15 15:51] krishnadurai commented on #2058
I'm able to reproduce this by:

1. Initializing a run
2. Logging 6 different wandb.Table tables

It seems that wandb is trying to open file handles which are not closed for each table:

[code]

[2021-04-15 15:58] krishnadurai commented on #2058
Is this related to #1447?

[2021-04-15 17:17] vanpelt commented on #2058
@krishnadurai we recently fixed a process hang bug in 0.10.26.  These warnings should be ok to ignore.  Can you try the latest version and report back any errors or tracebacks besides the warning you're seeing?

[2021-04-15 17:23] vanpelt commented on #1817
@LarsVaehrens can you share a debug-internal.log or debug.log file from one of the runs that hangs for you?  We fixed what we thought was the primary hanging issue in 0.10.26 so if you have a debug log from a run with the most recent version that would be really helpful.

[2021-04-15 17:38] vanpelt commented on #2074
We actually haven't seen this one before.  I'm not able to make it happen consistently.  For others that are coming to this issue, the brute force way to login colab without producing this hang is:`wandb.login(key="XXXXX")`.  Where key is your wandb API key from https://wandb.ai/authorize

It's important to do do this in it's own cell and not to save the notebook with your key in it to prevent oth

[2021-04-15 19:00] krishnadurai commented on #2058
@vanpelt These warnings are the only ones that appear on the terminal. Sure, I'll update my client and see if this reappears.

[2021-04-15 21:34] EdwardJB commented on #2031
Thanks!

[2021-04-15 21:34] #2031 closed

[2021-04-15 23:45] vwxyzjn commented on #2070
Thank you Aritra :)

Btw on second thought, I think although saving conda's `environment.yaml` will be ultimately helpful, conda might have some cross-platform issues... Maybe the best practice is still to do use `venv`, like

[code]

That way when reproducing it, it can be as simple as something like

[code]

[2021-04-16 00:35] cola-nicolas commented on #1122
@vanpelt
I finally could reproduce the error with a minimal example !!

Please run the following Colab : https://colab.research.google.com/drive/180DN6nFDs0QYDbZkTAx8j5Bd3tUXO4KD?usp=sharing

---

The error appears when a module returning a `dict` is wrapped in a custom module.

---

Error on Colab :

[code]

[2021-04-16 02:10] HaoLiuHust commented on #2072
thanks for your reply, I thought init must ha

[2021-04-16 02:10] #2072 closed

[2021-04-16 02:52] vanpelt commented on #2070
Hey @vwxyzjn I think the conda approach is actually really well suited for cross-platform.  We're working on deeper conda integration for some upcoming functionality as well.  Thanks again for your PR!

[2021-04-16 03:14] vanpelt commented on #1122
@cola-nicolas Thanks so much for the repro!  I was able to implement a fix in the PR listed above.  If you want to try it yourself you can install wandb with:

[code]

This should make it into the next release likely early next week.

[2021-04-16 03:45] vanpelt commented on #2060
@nsidn98 I just tried this on the most recent version of the library and it's working for me!  Can you try running `pip install wandb --upgrade` and confirm the files are getting uploaded?  One thing to note, it can take 30-60 seconds for the files to show up in the UI.

[2021-04-16 03:55] nsidn98 commented on #2060
Updated to wandb version `0.10.26`, executed `wandb sync folder_name` and then waited for a few minutes but the checkpoints, code, etc. has not been uploaded to the UI.

[2021-04-16 05:00] poliveirap commented on #1297
Hi,

Any update on this issue? I am also facing the issue (on version `0.10.21`).

[2021-04-16 06:03] cola-nicolas commented on #1122
@vanpelt Wow so fast ! 🥇
Thanks for the fix !

[2021-04-16 06:29] LarsVaehrens commented on #1817
@vanpelt yes of course. I have uploaded debug files from two runs to gists here: [run-20210414_171207-3uz7lzpx](https://gist.github.com/LarsVaehrens/0f1fd9143c8c6112c6257ccb1fb7a31b) and here [run-20210413_183005-d71yos1d](https://gist.github.com/LarsVaehrens/9057112a5600cb1637145535e422bb54). Hope that can help to narrow down the problem.

[2021-04-16 07:08] somedadaism commented on #2075
Hi there has been activity on the related hydra issue facebookresearch/hydra#1553 which I opened in parallel. It relates this behaviour to the `WANDB_START_METHOD=thread` which is required to allow multirun with hydra.

[2021-04-16 08:49] GillesJ commented on #1447
I am having the same issue and seeing the following errors in terminal:
- OSError: Too many open files
- shell is throwing leaked semaphore warnings `home/gilles/.pyenv/versions/3.8.8/lib/python3.8/multiprocessing/resource_tracker.py:216: UserWarning: resource_tracker: There appear to be 822 leaked semaphore objects to clean up at shutdown`

[2021-04-16 12:58] #1834 closed

[2021-04-16 16:12] theadammurphy commented on #2074
@ariG23498 setting `wandb.init(settings=wandb.Settings(start_method="thread"))` didn't work because I was not logged in and so nothing happened.

@vanpelt setting `wandb.login(key="XXXXX")` in its own cell seems to have worked! Thank you!

Out of interest, why does it have to be in its own cell?

[2021-04-16 17:59] vanpelt commented on #1447
Hey @GillesJ we're looking into this.  In the mean time, you can avoid this by calling `wandb agent sweep_id` from the command line and configure the sweep to execute a program that calls the `train` function.

[2021-04-16 18:01] vanpelt commented on #2074
It shouldn't actually need to be in it's own cell.  I'm still not sure why your notebook is hanging, as I can't get any other notebooks to hang.  My best guess is colab is literally looking for the word "bitcoin" in your notebook and trying to prevent users from using colab as a free mining platform.  We're still digging.

[2021-04-16 18:03] vanpelt commented on #2060
@nsidn98 can you make a tarball or zip of `folder_name` and send it to `vanpelt@wandb.com`?  Seems like there may be something about your specific data that's causing it not to sync.

[2021-04-16 18:11] nsidn98 commented on #2060
Have sent the folder zip to your email id.

[2021-04-16 19:02] vanpelt commented on #2060
@nsidn98 thanks so much.  I was able to find the bug.  It happens if you have tensorboard event files in your directory.  We'll work on a fix, but until then you can add the `--no-sync-tensorboard` flag to your `wandb sync` command and all files should be uploaded.

[2021-04-16 21:12] apjacob commented on #1297
I am still using 0.8.35, where it works.

[2021-04-17 03:58] nsidn98 commented on #2060
Thanks a lot @vanpelt. Using `--no-sync-tensorboard` worked.

[2021-04-17 03:58] #2060 closed

[2021-04-17 09:53] carloalbertobarbano commented on #1987
Hi, is there any update regarding this issue? Also, being able to configure a maximum number of runs for a sweep (without a local controller) could be a useful solution

[2021-04-17 11:48] ingambe commented on #1836
This feature has been added to WandB. Thank you 👍

[2021-04-17 11:48] #1836 closed

[2021-04-17 12:03] somedadaism commented on #2075
Hi I would like to report additional behaviour I observe:
Removing `WANDB_START_METHOD=thread` and hydra multiruns work without issues for me.
**However python logging between `hydra` and W&B remains difficult to harmonize!**
The following example works almost as expected:
[code]
The terminal output now is - as it should be:
[code]
The contenst of the hydra log are as expected:
[code]
However the

[2021-04-17 19:39] Rm1n90 commented on #1526
I have got the same issue after 23h! Any solutions?

[2021-04-18 07:57] mrluin commented on #1530
Hello @vanpelt , thanks for you code.
I have tried the case you provided, but the log of inner loop is overwirtten step-by-step that the results on UI only display the last time log. Do you have any suggestions?

[2021-04-18 08:35] bfs18 opened #2080 "[Q] Metric data exceeds maximum size of 4.1MB"
My log is not synced after 250k steps. When I sync the log manually, the following error occured.
[code]
My model is rather large, when `wandb.watch(model)` is used, the metric file would exceeds 4m soon. How to change this limit?

####################################

I think there should be some notification of exceeding limits when logging. It is very wired that wandb.ai page does not update an

[2021-04-18 10:52] mjohenneken commented on #1869
I have a similar issue. The issue is on a Machine with Windows 10 + Keras Callback+ Wandb Sweep. The same sweep was run on another Machine With Ubuntu 18.04 where it seems to work perfectly fine.

[code]

[2021-04-18 12:04] NomadicDaggy commented on #1526
I have similar issues with 0.10.24. Adding log.
[debug-internal.log](https://github.com/wandb/client/files/6331182/debug-internal.log)

[2021-04-19 00:03] cemoody commented on #386
I've gotten the same issue and I can confirm that `WANDB_START_METHOD=thread` at least avoided it!

[2021-04-19 05:36] ariG23498 commented on #1834
We do have it now
Thanks for the ticket 😄

[2021-04-19 05:49] IgorHoholko commented on #2051
@ariG23498 Absolutely the same error.
![image](https://user-images.githubusercontent.com/27057946/115187526-234e6b80-a0ec-11eb-9068-4064c873d70c.png)
![image](https://user-images.githubusercontent.com/27057946/115187551-2ea19700-a0ec-11eb-8af4-7c0b689bb92e.png)

[2021-04-19 05:53] IgorHoholko commented on #2051
When I'm trying to do this, the log takes a lot of time and produce these errors
![image](https://user-images.githubusercontent.com/27057946/115187808-a243a400-a0ec-11eb-82b2-2d1e74ac86fc.png)

[2021-04-19 08:16] theadammurphy commented on #2074
Yeah it was working great for weeks and has suddenly just stopped. I may have gone over my usage limits... but I've been using it for ~8 hours/day 4 days/week and only for training DL models so I doubt it.

Haha you know you may be onto something with the bitcoin thing.

I've switched over to Paperspace now and everything is running smoothly. I appreciate your help!

[2021-04-19 17:19] vanpelt commented on #2051
@daia99 can you share a code snippet or colab that causes this error for you?

[2021-04-19 17:22] vanpelt commented on #2051
@IgorHoholko in your screenshot you're specifying "rc_table" as the key, but it looks like you're logging the data under "rrlocc".  Also, are you able to share a colab or simple reproduction case?

[2021-04-19 17:23] tyomhak commented on #2080
Hey @bfs18 , I'm not sure if there's an option to change the limit, but you might want to change/decrease the [logging frequency](https://docs.wandb.ai/guides/integrations/pytorch#options) as a workaround for the issue.

[2021-04-19 17:47] IgorHoholko commented on #2051
@vanpelt I logged a lot of examples :) That is okay.

I can provide the page https://wandb.ai/ihoholko/masks_attributs?workspace=user-ihoholko (original one) where I have the issue.

And toy example where I have the same result:
https://wandb.ai/ihoholko/MyAwesomeConfusion?workspace=user-ihoholko
And its code to allow you to reproduce it:

[code]

#### requarements.txt

torch==1.8.1
torchvision==0

[2021-04-19 17:56] vanpelt commented on #2080
The other thing that could be causing this is logging numpy arrays or other large data structures in your calls to `wandb.log`.

[2021-04-20 00:14] cola-nicolas commented on #1122
@vanpelt  @douglasrizzo
Issue is fixed in the latest release (`0.10.27`). We can close this issue.

[2021-04-20 00:20] vanpelt commented on #1122
@cola-nicolas we decided to wait one more week to officially release this as it broke some of our regression tests that were using older version of torch.  I'll update this thread with a new branch that can be used until the official release.

[2021-04-20 01:01] raubitsj commented on #1122
@cola-nicolas the new branch for this fix can be installed with:
[code]

[2021-04-20 06:53] bfs18 opened #2089 "[Q] How to track a hard-coded config?"
Sometimes there are so many configuration options and I know an option would always be set to the same value after comparison. I don't want to complicate the global configuration parser anymore. So I prefer to copy the code and hard code the option in different copies. Such an option still needs to be tracked for comparison. What's the easiest way to do this? Is there anything like a wrapper which

[2021-04-20 06:58] bfs18 commented on #2080
Hi @tyomhak , thanks for your reply, I comment the watch line.

[2021-04-20 08:10] carloalbertobarbano commented on #1987
Great, looking forward for the next release! Thanks

[2021-04-20 12:41] toshas commented on #1383
Hi, is the issue on the roadmap?

[2021-04-20 13:36] ariG23498 commented on #2089
Hey @bfs18
By hard-coded config do you mean the configurations that are used to run the python script like 👇
`python train.py -a a -b b -c c`?

What do you mean by copying the code to different copies?

[2021-04-20 14:04] bfs18 commented on #2089
For example, I might use different dropout rates or different activation functions.
[code]
These 2 values are passed to  other functions. These 2 assignment expressions are hard coded configurations. How to track assignment expressions with `wandb.Config`?

[2021-04-20 14:12] ariG23498 commented on #2089
You could do something like
[code]

And that will update the config for your run.

[2021-04-20 14:13] #1851 closed

[2021-04-20 14:34] ariG23498 commented on #1843
Hey @aj7tesh
I have created a GIST for you where wandb can indeed log from the `log_dir` folder directly.

GIST: https://gist.github.com/ariG23498/238dfbbe5d748bfbbdbead3dd843d727

The patch:
[code]

[2021-04-20 14:34] #1843 closed

[2021-04-20 14:51] ariG23498 commented on #1828
Closing this due to inactivity.

[2021-04-20 14:51] #1828 closed

[2021-04-20 15:06] ariG23498 commented on #1826
Hey @aadityachapagain
I would like to close this ticket for the time being.
I will let you know if there is any update on this.
Thanks!

[2021-04-20 15:06] #1826 closed

[2021-04-20 19:30] fses91 commented on #1525
Hi @vanpelt, that worked for me.

[2021-04-21 00:48] borisdayma commented on #2027
This should now be fixed with https://github.com/wandb/client/pull/2077

[2021-04-21 00:50] vanpelt commented on #1525
@tiborsekera @fses91 good to hear.  We've updated our documentation here: https://docs.wandb.ai/guides/track/advanced/distributed-training#hanging-at-the-beginning-of-training

[2021-04-21 00:50] #1525 closed

[2021-04-21 05:25] ariG23498 commented on #2039
Hey @prash-p
Sorry for the late reply!

Does this problem still persist?
If yes, is this a colab related issue?

[2021-04-21 05:34] ariG23498 commented on #1849
Update -- We are working on the error and will push a fix in the next CLI release. Keeping this ticket open until then. 😃

[2021-04-21 05:39] ariG23498 commented on #1831
Hey @kargarisaac
Can you confirm this behaviour still exists?
I seem to have downloaded a loss plot from my experiment and did not visualise any black spots on it.

Could you also screenshot and let us know about the black spots in the SVG that you are seeing?

[2021-04-21 07:15] amssljc opened #2091 "[CLI] It seems that wanbd make my parallel model fail to backward my loss!?"
**Description**
I've been using wanbd for a long time, but recently when I update my code for parallel GPU training by adding only one single line code:
[code]
, there raised a ValueError:
[code]

Where ***** in path is my private content.
I'm sure it is related with wanbd, because when i run a copy of my code without wanbd but with parallel part, there is no problem.

**How to reproduce**
1. Link

[2021-04-21 07:21] AntivistRock opened #2092 "[CLI] wandb.init() hanging in the multiprocessing.Process()"
**Description**
wandb.init() hanging in the `multiprocessing.Process()` while the sweep

**Wandb features**
* [wandb Cross-Validation example](https://github.com/wandb/examples/tree/master/examples/wandb-sweeps/sweeps-cross-validation)
* [simpletransformers](https://simpletransformers.ai/) integration
* wandb.init()

**How to reproduce**
1. There is the [notebook](https://colab.research.google.com

[2021-04-21 07:22] amssljc commented on #2091
After a test, I found that it was caused by adding `wandb.watch(model)`

[code]

[2021-04-21 10:52] kargarisaac commented on #1831
Can you explain how you visualize the downloaded svg? what is the software you use? I tested again to visualize it in diagram.net in google drive but it has the black parts again:

![image](https://user-images.githubusercontent.com/24753756/115542272-c815a800-a2a8-11eb-92ba-5fd82d3359ad.png)

[2021-04-21 14:05] ariG23498 commented on #1831
Could you share the link to the chart here?

[2021-04-21 14:46] borisdayma commented on #1499
This issue should be fixed with https://github.com/huggingface/transformers/pull/10826

[2021-04-21 14:58] borisdayma commented on #1627
I believe you're using an outdated example. Please refer to [this one](https://colab.research.google.com/github/wandb/examples/blob/master/colabs/huggingface/Optimize_Hugging_Face_models_with_Weights_%26_Biases.ipynb).

Feel free if you still have any issues.

[2021-04-21 15:37] KyleGoyette commented on #1927
Hi @samsamoa we've since improved the docs here: https://docs.wandb.ai/guides/track/advanced/distributed-training#hanging-at-the-end-of-training, thanks for your advice. Closing.

[2021-04-21 15:37] #1927 closed

[2021-04-21 15:40] KyleGoyette commented on #1994
Hi @khvmaths and @adamDhalla we're working on a solution. This may require changes to the wandb logger in Pytorch-Lightning, which could take a couple weeks to get a release out. We'll let you folks know here when a branch is ready

[2021-04-21 15:47] prash-p commented on #2039
Hey, I actually downgraded wandb to 0.10.23 to avoid having this error. It wasn't related to colab/.ipynbs/jupyter, but a script I was running from the command line. It was also not straight forward to reproduce.

[2021-04-21 16:02] kargarisaac commented on #1831
The project is ongoing, so I cannot share it, but the downloaded file from wand is attached.

[W&B Chart 4_21_2021, 1_47_06 PM.zip](https://github.com/wandb/client/files/6352337/W.B.Chart.4_21_2021.1_47_06.PM.zip)

[2021-04-21 17:14] ariG23498 commented on #2092
Hey @AntivistRock
Thanks for the ticket!
We will track it internally. The colab notebook will help a lot in the process 😄

[2021-04-21 17:58] vanpelt commented on #2091
Hey @amssljc it looks like your system temporary directory is on a different drive than the wandb directory.  When you call `wandb.init` can you try specifying `dir="C:\SomeTempDirectory"` and see if you still get the error with wandb.watch?

[2021-04-21 18:00] vanpelt commented on #2027
The fix actually got pushed to the next release.  If you want to try the fix before we release next week, you can install wandb with:

`pip install --upgrade git+git://github.com/wandb/client.git@bug/issue-1122-2#egg=wandb`

[2021-04-21 22:44] Asap7772 commented on #1608
I had an issue like this because my matplotlib and plotly version is incorrect:

In particular I hit this bug when using the following versions of matplotlib/plotly versions.
matplotlib>=3.3.3
plotly>=4.12.0

[2021-04-22 06:44] luifire opened #2096 "[CLI] / [APP] First upload on an image with group fails"
**Description**
I want to do a sanity check when I start a run. That is uploading some samples out of a training batch.
However these images will not be uploaded until the end of the entire training when I add a group to them (like 'sanity/sample_1').
If I don't add a group they get uploaded right away.
My training takes up to 12 hours which is to long for me to wait. Also I sometimes stop the tra

[2021-04-22 07:03] luifire commented on #2096
I just figured out that no image with a group will be uploaded until the end of a run.

[code]

[2021-04-22 09:28] loeweX opened #2097 "[CLI] Cannot print large models with wandb"
**Description**
When logging my experiments and trying to print a large model, the program freezes mid-way into the print statement.

**Wandb features**
wandb.init()

**How to reproduce**
Minimal Example
[code]

`print(str)` works fine. `print(model)` causes the program to freeze somewhere midway into printing. Without `wandb.init()` both print statements work fine.

**Environment**
- OS: Ubuntu
-

[2021-04-22 09:40] luifire opened #2098 "[Feature] Show custom chart in all runs"
**Is your feature request related to a problem? Please describe.**
When I create a custom chart, I usually want to see this chart in all runs.
Unfortunately it is usually not shown in other runs.

Sometimes it gets copied over to the next run, but usually it doesn't.
This might be because sometimes not all metrices get upload and then charts won't be display in the current run and thus the next ru

[2021-04-22 14:04] rubencart commented on #1817
I have the same problem. Logs for the run: https://gist.github.com/rubencart/7cdc93b66db56ffd55104391c1ac7ad0.

[2021-04-22 14:13] luifire commented on #2096
One more comment:
I just realized that briefly before the '?' is shown, a small download button appears.
When you hit it, you can actually download the original image.
**So this is actually an app problem!**

Reproduce: run the script I posted, go online, if the '?' is already shown, refresh the page and press the download button on the upper right corner.
![image](https://user-images.githubuserco

[2021-04-22 18:04] zxhuang97 opened #2100 "[Q] How to deal with frequent network error (ReadTimeout)"
I started to use wandb on a cluster one month ago and it worked pretty well until recently. I usually launch multiple jobs to the cluster simultaneously, and some of them will 'crash' in the middle of training.

[code]

Although the program is still running and the log suggests that it has resumed to normal operation, the status of that job is still "crashed" on the dashboard. I know I can use `wa

[2021-04-22 20:34] vanpelt commented on #2097
We'll reproduce and work on a fix.  For now you can call `wandb.init(settings=wandb.Settings(console="off"))` and it should no longer hang.

[2021-04-22 20:37] vanpelt commented on #2100
Hey @zxhuang97 this is not good.  The error is a 500 error which indicates you may be streaming too much data, or our systems are overloaded.  We should resume training automatically.  Which version of wandb are you using?  Can you also share the `debug-internal.log` from one of the runs that exhibited this behavior?

[2021-04-22 21:12] zxhuang97 commented on #2100
Thank you for your quick response. I'm using 0.10.24. As for the data I sent, it's only a few metrics so I think it's fine. I check the log and it says something like "too many connections". As I said before, slurm may allocate multiple jobs to the same node, does it create some kind of conflict?
[code]

[2021-04-22 22:05] vanpelt commented on #2100
@zxhuang97 running multiple instances on the same machine will be fine.  We think we've found a bug in our exception handling logic and are working on a hotfix ASAP.  We patched one issue in 0.10.26 so I would suggest upgrading ASAP.  There's likely one more edge case that we'll be addressing in 0.10.28 due out first thing next week.

These errors were happening because we had a load spike in our

[2021-04-22 23:24] zxhuang97 commented on #2100
No worries. Thanks for making this useful tool for the community!

[2021-04-23 02:35] maria-korosteleva opened #2102 "[App] Missing Scrolling on Artifacts -> Files tab"
**Describe the bug**
I could not scroll to the end of the page on the Artifacts -> FIles tab, only see the top of the frame. I have to zoom out to see the end of the file list and the page switcher.

**Expected behavior**
Well, I want to scroll along the long list without a need to zoom out

**Screenshots**
Scrolling on Normal zoom just gets me this far:
![image](https://user-images.githubusercont

[2021-04-23 02:39] amssljc commented on #2091
Thanks for your reply!! It did work! However, what should I do if I want to save them (wandb directories) in other disks or somewhere is not tempdirectory such like the directory when I do not use `DataParallel(model)` code.

[2021-04-23 03:42] #2089 closed

[2021-04-23 03:42] #2080 closed

[2021-04-23 03:47] bfs18 opened #2103 "[Q] Error while logging artifacts."
When logging artifacts, the following error would occur randomly. Sometimes the artifacts would be uploaded successfully.

[code]

[code]

[2021-04-23 04:15] amssljc opened #2104 "[Feature] save code for the structure class."
**Is your feature request related to a problem? Please describe.**
I've been training a lot of pytorch models in my python project. After 100 or more models have been trained, I need to load and compare the models. However i need to save 100 and even more models class like in my scripts, which is very time consuming and cumbersome.
[code]
Therefore, if there a method that when I training the `mode

[2021-04-23 09:59] khdlr opened #2105 "[CLI] Duplicate entry [...] for key 'PRIMARY' (<Response [409]>)"
**Description**
I'm running a workflow that requires resuming of runs (evaluating different metrics some time after the initial training is over). Until yesterday, this worked like a charm using
[code]
However, this has stopped working today for some reason. The error message I am getting is:
[code]

So it looks to me like some server side code has changed regarding the resuming of previous runs.

[2021-04-23 10:01] khdlr commented on #2105
This might be related to #1893, although weirdly the error only started appearing today (2021-04-23) for me and it still worked fine yesterday (2021-04-22).

[2021-04-23 10:06] khdlr commented on #2105
Changing the `wandb.init` call to
[code]
fixes the problem, as is now documented here: https://docs.wandb.ai/guides/track/advanced/resuming

I'm assuming I was using some deprecated way of resuming, which used to work and now doesn't anymore :smile:

[2021-04-23 10:06] #2105 closed

[2021-04-23 12:56] ariG23498 commented on #2104
Hey @amssljc
One way to solve the issue is with `artifacts`. You can use the `torch.save` to get the `pickle` model and use `wandb.artifact` to save the model. On the other hand you can use `wandb.save` to save the model class which holds the architecture of model as shown.
This way you would not only get the weights of the model, but also the model class that will help you reproduce the inference

[2021-04-23 12:57] ariG23498 commented on #2103
Hey @bfs18
Thanks for the ticket. We will be tracking it internally.

[2021-04-23 12:57] ariG23498 commented on #2102
Hey @maria-korosteleva
Thanks for the bug report!
We will be tracking it internally.

[2021-04-23 12:58] ariG23498 commented on #2098
Hey @luifire

Thanks for the great feature request. I am delegating this request to our UI team! We will be tracking this internally.

[2021-04-23 14:31] tommasodelorenzo opened #2108 "wandb sweep end after first run with RuntimeError('CUDA error: device-side assert triggered')"
I am trying to use wandb sweep for hyperparameter search with simpletransformers following [this blog post](https://towardsdatascience.com/hyperparameter-optimization-for-optimum-transformer-models-b95a32b70949).
It runs perfectly for one run and then stops because of
`RuntimeError('CUDA' error: device-side assert triggered')`

Here is the code:
[code]
I am using:
pytorch 1.7.1
wandb 0.10.27
simpl

[2021-04-23 14:35] ronentk opened #2107 "[Q] Is it possible to change the location where the cache folder is created?"
Hi,
Currently the default cache folder is created for me in a directory with space limitations imposed by my organization, so my runs are failing when I try to use large artifacts. Is there a way to relocate the cache to a different directory?
Thanks!

[2021-04-23 16:41] vanpelt commented on #2103
@bfs18 are you running local behind any kind of proxy in front of your wandb/local server?  Is there a specific file that makes this happen consistently?

[2021-04-23 16:43] 2dot71mily commented on #2051
Experiencing same.

[2021-04-23 16:43] vanpelt commented on #2107
Yes, you can set the WANDB_CACHE_DIR environment variable.  If you need to reclaim space from your cache directory you can run the following as documented [here](https://docs.wandb.ai/guides/artifacts/artifacts-faqs#how-do-i-clean-up-my-local-artifact-cache).

[code]

[2021-04-23 18:09] 2dot71mily commented on #2051
Workspace shows a populated confusion matrix when older runs (anything before the most recent peach run), is selected:
![image](https://user-images.githubusercontent.com/21292059/115911911-8cebb400-a423-11eb-9304-cec2ce297c58.png)

However, when only peach run is selected:
![image](https://user-images.githubusercontent.com/21292059/115912001-a987ec00-a423-11eb-9a70-d246481b0f5e.png)

workspace: ht

[2021-04-23 18:11] vanpelt commented on #2108
@tommasodelorenzo this is because of the way huggingface allocates memory in the process.  You have 2 options.

1. switch from in process agent, to out of process.  Instead of calling `wandb.agent` you can call `wandb agent SWEEP_ID` from the command line and have it run `train.py` or whatever your script is my specifying "program" in your sweep config.  This will start each experiment in a new pr

[2021-04-23 18:16] KyleGoyette commented on #2051
You should be able to edit your query for the confusion matrix from a summaryTable to a historyTable to have the chart show. Note that if you've logged the chart several times, you'll need to select an index in the historyTable query. For it to display properly.

We've identified the source of this issue, and are working on a fix that will prevent this from happening with future runs.

[2021-04-23 18:20] 2dot71mily commented on #2051
thanks Kyle, I'm a wandb n00b. will give a try.

[2021-04-23 18:24] IgorHoholko commented on #2051
@2dot71mily could you please share some more details what you have done? :)

[2021-04-23 18:26] KyleGoyette commented on #2051
@IgorHoholko If you click the edit modal, then modify your query to look as follows:
![image](https://user-images.githubusercontent.com/13547142/115914360-b22df180-a426-11eb-9160-84f41ab63bcd.png)
For your ROC chart in this workspace:
https://wandb.ai/ihoholko/masks_attributs?workspace=user-ihoholko

It should work.

[2021-04-23 18:39] IgorHoholko commented on #2051
@KyleGoyette Yes, Thanks. It works in this way.
But Is it impossible for now to log it automatically? And what does the magic `index: 112` mean ?:) I don't see this number in the project.

[2021-04-23 18:42] 2dot71mily commented on #2051
Sorry, just seeing now @IgorHoholko. I think that index is an optional arg.. doesn't matter for us.

For me:
before:
![image](https://user-images.githubusercontent.com/21292059/115915865-cf63bf80-a428-11eb-8b9c-6455d284c6f4.png)

after:
![image](https://user-images.githubusercontent.com/21292059/115915840-c7a41b00-a428-11eb-9be1-9e2924be9fc9.png)

[2021-04-23 18:48] KyleGoyette commented on #2051
@IgorHoholko The index marks the step that you logged the table at. When you do a historyTable query, we automatically query for the steps that you logged it at:
![image](https://user-images.githubusercontent.com/13547142/115916042-1487f180-a429-11eb-8447-2505f6690c1b.png)

I just got the 112 by scrolling to the bottom of the data:
![image](https://user-images.githubusercontent.com/13547142/115916

[2021-04-23 19:06] KyleGoyette commented on #2051
@IgorHoholko We'll have a fix in an upcoming release to resolve this issue so you can log automatically again.

[2021-04-23 19:09] cvphelps commented on #2098
@luifire could you please share a link? I believe this behavior happens already, where if we can show a chart we do indeed show it across all runs.

[2021-04-23 19:11] cvphelps commented on #2096
@luifire could you please share a link to the UI for this?

[2021-04-23 19:12] cvphelps commented on #2096
It sounds like PyCharm "stop" sends a different signal than ctrl+c to our process, which could break something about setting media panel keys

[2021-04-23 23:35] #2102 closed

[2021-04-25 09:26] Pernicies27 commented on #753
+1

[2021-04-26 00:33] karthi0804 commented on #1265
Is this fixed ?

[2021-04-26 03:52] abaisero commented on #948
I suppose that could work for now, but it's still very far from ideal;  cloning a report and updating all the fields to find the correct sweep is still overwhelming and error-prone (especially since you have to refer to the sweeps by its random code)..

[2021-04-26 04:09] bfs18 commented on #2103
Hi @vanpelt Thanks for your reply.
I am using a proxy. I cannot reproduce the error consistently. However, the following error happens consistently if I add `code.delete()` after `code.wait()`.

[code]

[2021-04-26 07:14] ariG23498 commented on #1465
Hey @Yannik1337
We have updated the package and now we support `tf.data.Datset` with the `WandbCallback`.
GIST: https://gist.github.com/ariG23498/02a9cace9399324a7c299203e1614f2c

[2021-04-26 07:14] #1465 closed

[2021-04-26 08:49] luifire commented on #2098
Hi,
sorry for bothering. I am currently unable to reproduce it (and I deleted all test Runs :/  )
What happens though is that the regex for line plots did not catch all metrics.
Throughout my testing it kept on catching fewer and fewer metrices (and they existed and had the same name schema as the metrics that were collected - but I deleted the Runs :( ).
I assume that this was the actual problem

[2021-04-26 09:27] luifire commented on #2096
This also happens when I finish or when I start the a training as a shell script.

Here you can see two identical finished runs, except they are in different projects (for random reasons this seems to make a difference). In Media they show the exact same information ("samples" and "5_test")
The first displays the images, the second one doesn't.
https://wandb.ai/luifire/bug-reproduction-2/runs/r4ta

[2021-04-26 09:48] tommasodelorenzo commented on #2108
It seems that setting `model = init` is working, keeping the GPU memory consumption rather constant.
Thanks!

[2021-04-26 16:20] adamoyoung opened #2112 "Can't resolve Error 1062"
Details:
Ubuntu 16.04
wandb 0.10.27
python 3.6.13

I accidentally created two runs with the same run id (I know this is not normally possible). I now periodically receive the following error in my terminal:

`wandb: ERROR Error while calling W&B API: Error 1062: DUplicate entry '232268-lxly74ya' for key 'PRIMARY' (<Response [409]>)`

I have already tried the following:
- deleting my local wandb di

[2021-04-26 17:57] vanpelt commented on #2112
Unfortunately, you have 2 options.

1. resume the existing run by adding `resume="allow"` to your wandb.init call
2. Use a different id by calling `wandb.util.generate_id()` and passing it into wandb.init

We have plans to free up deleted run ids, but currently we soft delete the run so the id remains in our database.

[2021-04-26 18:35] adamoyoung commented on #2112
So I have already deleted the run on the dashboard, and I'm not trying to re-run anything using the duplicate run id. Despite this, I keep getting the same error pop up in my terminal. Would I still be able to resume a run after I delete it?

[2021-04-26 23:07] vanpelt commented on #2112
@adamoyoung if you send me a link to the original run we can un-delete it for you if that's what you'd like.  I'm curious if you're able to use a different id in this case?  What's making you need to use the same id as the one you once deleted?

[2021-04-26 23:13] adamoyoung commented on #2112
Hm, I don't have a link to the original run because I deleted it from my dashboard (or at least, I thought I did). To be clear, I am not trying to use that id again: rather, every time I run something on my client, it gives me this error message over and over again, like in the image below. The id that is giving me trouble is "232268-lxly74ya"

![image](https://user-images.githubusercontent.com/22

[2021-04-27 01:03] vanpelt commented on #2112
Ahh, I see.  You just need to remove the file located at: `wandb/wandb-resume.json`

[2021-04-27 01:17] adamoyoung commented on #2112
Where is this file? I deleted my entire wandb/ directory in my repo for this project (~/msms) but I was still not able to stop the messages/

[2021-04-27 01:33] vanpelt commented on #2112
If you're not setting the id argument of wandb.init, then it's either reading a file named `wandb/wandb-resume.json` (relative to your script) or you have set the WANDB_RUN_ID environment variable.  Try typing `env | grey WANDB` to see if that's set in your environment.

If all else fails, you can run `wandb.init(id=wandb.util.generate_id())` to force the run to use a new id.

[2021-04-27 01:54] adamoyoung commented on #2112
OK, I tried running another script using `wand.init(id=wand.util.generate_id())`. This script worked (as it has previously). I also deleted the entire wandb directory in my folder. However, I am still periodically getting this error.

[2021-04-27 08:04] dunnkers opened #2118 "[CLI] sklearn plot_feature_importances does not accept np.array list as attribute type"
**Description**
The sklearn integration function `plot_feature_importances` fails when using a `feature_importances` attribute of `np.array` type. e.g.

[code]

**Wandb features**
Using `plot_feature_importances` from the sklearn integration.

**How to reproduce**
1. Link to a reproducible script:
[https://colab.research.google.com/drive/1trdc-WHvhuA5UbPvG7S7jQhO0awOLQd2?usp=sharing](https://colab

[2021-04-27 09:06] tommasodelorenzo opened #2120 "[Q]is it possible to choose the name of the sweep?"
Hello, I just discovered W&B few days ago and it is lovely.
I am running sweeps for my classification model using simpletransformers.
Is there a way one can choose the name of the sweep so that each run will be easily found in the dashboard?
What I am doing now is something like
[code]
This way the sweep is correctly assigned to "my_project_name" project. However, the names of the sweep and single

[2021-04-27 12:35] gwenzek commented on #2075
I'm lost here. The fix for this issue has been reverted in #2083 and is sitting in #2085.
What's going on ?

For me wandb is currently totally unusable because of this.
[Disabling the root handler](https://github.com/wandb/client/pull/2083/files#diff-1383658fa12fa4504e0835b9f3eb487a25e35d0cfe1e064e4dd54021b155ca03R169) is totally unacceptable for a library.
If the root logger has handlers it's bec

[2021-04-27 13:08] farizrahman4u commented on #2075
@gwenzek The first PR was merged at a wrong time during our release cycle so had to be reverted. The merge automatically closed this issue. I am reopening it until the new PR gets merged.

[2021-04-27 14:47] ariG23498 commented on #2120
Hey @tommasodelorenzo

Below I have tried coding and describing the behaviour that we would notice if we use sweeps. Notice that I have taken a very minimal example to explain here.
[code]
Here the `"name":"my_name"` key value pair defines the sweep's name that will run. In the screenshot below we see that the sweep name is indeed set to `my_name`.
![image](https://user-images.githubusercontent.co

[2021-04-27 14:52] ariG23498 commented on #2118
Hey @dunnkers
Thanks for the issue and the PR.
I am tagging @raubitsj here who could guide you in the process. 😄

[2021-04-27 14:57] tommasodelorenzo commented on #2120
Hello @ariG23498

thanks for the answer. It does clarify the naming process that was a little obscure to me.
I do use the grouping-by-sweep option and there is where my question was eventually pointing to.
I'd like to have the sweeps grouped by the name I gave (if the same, than add a incremental number to it), so that I can easily recognized them when grouped.
I understand this is not possible as

[2021-04-27 15:58] ariG23498 commented on #2120
There is another workaround for the issue here:
We can use the `group` parameter in the `wandb.init` and pass the sweep name to the run. This will help us in using the grouping-by-group option which eventually will be pointing to the sweep name. This is indeed a redundant solution to the process but sure works.

I would ask for some time to confirm about the incremental naming of runs. If I come u

[2021-04-27 16:37] adamoyoung commented on #2112
Since the problem persists even after I delete the wandb directory and reinstall everything, I suspect that it is an issue on the server side, although I may be wrong.

[2021-04-27 16:54] adamoyoung commented on #2112
I tried deleting the project on the wandb dashboard, I think it solved the problem. It gave me the error message in the first screenshot below (presumably because I deleted the project, msms_pred, to which the bad run belonged). However, I noticed that after this error message was created, the previously-deleted msms_pred project was recreated on the dashboard, with the bad run being there (see se

[2021-04-27 20:34] vanpelt commented on #2112
@adamoyoung I'm really confused as to what's happening.  Are you able to run new runs now?  If not it must be one of the following issues:

1. WANDB_RUN_ID is set in your environment
2. id=XXX is being set in your script
3. A file named `wandb/wandb-resume.json` exists relative to your script

If you're still seeing this issue, have you confirmed none of these things are true?

[2021-04-28 01:35] adamoyoung commented on #2112
I was always able to run new runs, it's just that I would get the error message that I posted (https://github.com/wandb/client/issues/2112#issuecomment-827199363) in my terminal, regardless of whether or not I was running anything. This message would appear periodically even when all my wandb runs were finished.

I checked all of the things that your mentioned. The error occurred when I was not ev

[2021-04-28 02:56] vanpelt commented on #2112
Ahhh, yeah there's likely a old process that's still running.  Do a `ps aux | grep python` and find the PID then send `kill -9 $PID`.  Or you could just restart the machine.  Glad to hear it's working now 👍

[2021-04-28 02:56] #2112 closed

[2021-04-28 08:25] karthi0804 commented on #1265
@vanpelt  This completes disables the log. Is this fix in the latest release? Please let me know any other solution.

[2021-04-28 08:25] CrohnEngineer opened #2126 "[Q] Correlation for categorical values in parameter importance panel"
Hello,

I'm a newbie in using wandb, so I would like to first thank you for such an amazing tool!  It is really improving the management of my ML projects :)
I have a small question regarding the parameter importance panel of the sweeps.
I've read the [documentation](https://docs.wandb.ai/ref/app/features/panels/parameter-importance) about it, and got the difference between importance and correlat

[2021-04-28 08:28] GeoffreyChen777 commented on #1526
same here

[2021-04-28 08:31] Yannik1337 commented on #1465
Thanks for this integration!

[2021-04-28 08:40] GeoffreyChen777 commented on #1526
[code]

[2021-04-28 08:53] Yannik1337 opened #2128 "[Feature] Logging a TF model's configuration"
**Is your feature request related to a problem? Please describe.**
Not related to a problem, just for convenience I'd like to log the model's configuration (mainly aiming for kernels, kernel sizes, dense units, that kind of stuff) via `wandb.log()`. This would allow easier comparison of model architectures.

**Describe the solution you'd like**
See this MVE:

[code]
which currently throws

[code]

[2021-04-28 09:20] eembees commented on #1526
I'm experiencing this issue as well:
My local stdout logs:
[code]

But my logs on WANDB show:
[code]
and then abruptly stop.

My WANDB account also sets the run as "crashed", even though the logs above show:
[code]

[2021-04-28 13:28] qshzh commented on #1185
I encountered the same error on wandb 0.10.27 in different devices.

[2021-04-28 13:54] inigoval commented on #736
I also think this feature would be very useful.
It defeats the point of wandb if I have to rerun everything to get a maximum/minimum value when the loss curve has already been recorded.

[2021-04-28 14:33] bennevans opened #2130 "[CLI] Syncing failed during training and manually syncing"
**Description**
During training, I received the following error on 4 out of the 5 concurrent runs:
[code]

The training continues, but wandb did not continue to sync after the fact, marking the run as "crashed".
I am able to manually sync the folder, resulting in more errors, but it seems to upload evenutally.

When syncing one of the runs with `wandb sync wandb/run-20210427_234534-1mxdoulq/`, I g

[2021-04-28 15:49] KyleGoyette commented on #1806
Closing this due to inactivity and a report that my solution worked. Thanks @MinuteswithMetrics

[2021-04-28 15:49] #1806 closed

[2021-04-28 15:58] afiaka87 opened #2132 "[CLI]"
## Exception Occurs When Syncing Offline

### Involves CLI features:
- `wandb offline`
- `wandb online`
- `wandb sync`

## Reproducing the bug on wandb, version 0.10.27

### Video
Here is a video demonstrating the exact steps taken to illustrate the issue.
https://www.dropbox.com/s/0w2avv68h41uuvn/2021-04-28_10-18-49.mkv

### Script
You will need a dataset to use this script exactly. I have pre-pr

[2021-04-28 15:58] afiaka87 commented on #2132
Ultimately I was able to sync after I stopped training.

[2021-04-28 17:26] vanpelt commented on #1265
@karthi0804 I had thought we fixed this with the most recent release?  Are you still seeing this?  I'm tagging the engineer on our team @farizrahman4u that's working on console syncing issues.

[2021-04-28 18:57] vanpelt commented on #1526
I wanted to update the thread here.  We're releasing 0.10.28 this afternoon that will prevent these retries from marking runs as crashed.  Apologies for the delays on this.

[2021-04-28 19:00] vanpelt commented on #2132
Yep, there are known issues with doing an offline sync of a currently running run.  We would need implement locking semantics around the syncing process.  As a workaround, you should be able to copy the contents of your running run into a new directory and then perform the sync, although there may still be cases where the file isn't fully committed.

Can you share a little more about your use case

[2021-04-28 23:10] farizrahman4u commented on #1265
Tested just now on [Windows](https://wandb.ai/farizrahman4u/uncategorized/runs/s5eyvpsa), [Linux](https://wandb.ai/farizrahman4u/uncategorized/runs/3emjf5gu) and [Colab](https://wandb.ai/farizrahman4u/uncategorized/runs/2iviif2d). The logs are as expected. This is the test script used:

[code]

If you run into any edge cases let us know. Closing this for now.

[2021-04-29 00:27] afiaka87 commented on #2132
@vanpelt It's a distributed system. It has the unfortunate requirement that all internet i/o be done on a "login node", which does not have access to the GPU. You may then queue tasks to be run on GPU nodes which are not allowed to connect to the internet at all.

As such - I've been trying to get more frequent syncs than I would if I just waited until all 20 epochs of training fininshed by manual

[2021-04-29 06:31] afiaka87 commented on #2132
@vanpelt please see this discussion for more context https://github.com/lucidrains/DALLE-pytorch/pull/217#issuecomment-826454489

[2021-04-29 07:15] nicojahn commented on #1526
I had the same problem. Maybe it helps someone: After training completed i was able to sync each run with `wandb sync <path of the run>`.
In my case something like: `wandb sync wandb/run-20210427_131459-t13tnhmu/`

[2021-04-29 12:20] ikhlestov opened #2137 "[CLI] Missed data(media files, logs) in case of late directory creation"
**Description**
If directory for wandb run was created after `wandb.init()` call then media files from run not synced to the W&B board and there is no any wandb run text logs saved.

**Wandb features**

[code]

**How to reproduce**

just run example code as `python example.py`

[code]

Expected output:

- Table and scatter plot are displayed at the W&B dashboard
- run logs `logs/debug.log` and `lo

[2021-04-29 14:06] elisim commented on #1093
Hi, how to change the x-axis from step to epoch?

[2021-04-29 15:55] luigicampanaro opened #2138 "[Q] Multiple scalars same plot"
Hi guys,

I have a dictionary with multiple scalars computed every epoch `rewards = {'x': 0.1, 'y': 0.4, 'z': 0.5, ...}`, I'd like to log all of them in the same figure as a "multiple" line plot.

Do you have any suggestion? I tried with `wandb.plot.line_series`, but I didn't manage to achieve a behaviour similar to tensorboard's `SummaryWriter.add_scalar('Rewards', rewards (dict above), epoch (in

[2021-04-29 16:54] evfro commented on #1953
[code]

@vanpelt  strangely, if I run this snippet, runs remain in a "running" state forever and do not update runs table with the results.  Not sure what's the problem here...

[2021-04-29 18:20] fcampagnexandr opened #2139 "Ability to control default font in UI and line thickness [Feature]"
**Is your feature request related to a problem? Please describe.**
I have difficulty reading the text on the wandb UI and find the lines hard to see. The default font is just too small for me. Zooming in on a plot does not increase the font size or line thickness, it just uses more space but does not help readability.

**Describe the solution you'd like**
I am looking for the ability to control th

[2021-04-29 18:48] vanpelt commented on #2137
@ikhlestov currently when you're specifying a `dir` argument with wandb.init, that directory must already exist.  Are you able to refactor your code to create directory prior to calling wandb.init?

[2021-04-29 18:55] ikhlestov commented on #2137
@vanpelt Yes, sure, I've already made refactoring. Still it very suspicious when you have some data synced(regular log files) and others are not. Maybe it's possible to raise an exception if it is a strong requirement?

[2021-04-29 19:07] evfro commented on #1953
@vanpelt  yeah, that's what I did in the first place.
It works, but keeps printing the `signal only works in main thread of the main interpreter` warning at each run.
![image](https://user-images.githubusercontent.com/5283394/116604490-df9f0180-a936-11eb-84bc-709d90ce2b0d.png)

Even though it's not an error, I still feel uncomfortable with it.  So I started exploring other options.

The reason for

[2021-04-29 19:27] isaacmg opened #2140 "Upgrading to the new version Wandb seemed to cause a breakage of SHAP in my PyTorch code"
**Description**
Prior to upgrading to Wandb from 0.10.27 to 0.10.28 SHAP ` deep_explainer.shap_value(tensor)` ran without error. Now I receiving the below error:

[code]

Once I downgraded back to 0.10.27 the problem went away. I'm guessing this is related to the way PyTorch models are being watched by Wandb in the new ver.

**Wandb features**
Using Weights and Biases with PyTorch.

**How to repro

[2021-04-29 20:24] Ierezell opened #2141 "[Feature] Rest API"
**Is your feature request related to a problem? Please describe.**
Having a Rest api to log minimal features in every languages (NodeJs for my useCase)

**Describe the solution you'd like**
Having a Rest documentation on which (graphql) queries to make.

If graphql is needed (as seen in the source code) then it's easy to install and use it in many languages.

We would then call it to log In, get a

[2021-04-29 21:08] XikunZhang commented on #1185
I encountered the same error on wandb 0.10.28.

[2021-04-29 22:22] vanpelt commented on #2140
Yep, we changed to full_backward_hooks in wandb.watch in the latest release.  This looks like we'll need to add an option to our `wandb.watch` call that let's tell us not to use full_hooks.

[2021-04-29 22:58] zxhuang97 commented on #2100
@vanpelt Hi Chris, I have updated my wandb to 0.10.28. However, in the outrage this afternoon, all my runs crashed and they cannot resume syncing with the server.  Is it another edge case or it hasn't been fixed in 0.10.28?

[2021-04-30 00:07] raubitsj commented on #1185
@XikunZhang , im sorry about the error you experienced today.
We had a database outage for ~40 minutes which is likely when you saw this error.

During this time, any sweeps that were running likely were reporting errors, but the sweep should continue to run and it would recover at the end of the outage.

Any actively running training jobs started by the sweep should continue running during the ou

[2021-04-30 00:59] XikunZhang commented on #1185
@raubitsj Yeah it works again now. Thanks!

[2021-04-30 06:53] yhy-2000 commented on #805
I met the same problem, but just after a few minutes, it began work. (But dont forget to use "wandb login" first)

I guess maybe it is a problem caused by net speed.

[2021-04-30 07:32] rubencart commented on #1817
Still cannot sync my run with `wandb sync` because of this AssertionError with wandb version 0.10.28. This run is still running, but marked on wandb.ai as crashed.

[2021-04-30 09:45] ariG23498 commented on #2141
Hey @Ierezell
Thanks for the well thought feature request.
I will be filing a ticket for the same so that a core engineer can come ahead and update this thread better.

[2021-04-30 09:51] ariG23498 commented on #2139
Hey @fcampagnexandr
Does viewing the chart on full-screen help?
![image](https://user-images.githubusercontent.com/36856589/116679057-aebadd00-a9c7-11eb-9564-2af3dbca1d86.png)

Is the feature request only pertaining to the charts that you see in the UI?

[2021-04-30 10:04] ariG23498 commented on #2138
Hey @luigicampanaro

I have tried describing a solution to your ticket 👇
## Code
[code]

## Screenshot
### The UI we see
![image](https://user-images.githubusercontent.com/36856589/116680431-4f5dcc80-a9c9-11eb-8515-c77b9a4dfd97.png)

### Multiplot UI
We can change the y_axis of a single line plot to take all the metrics together. After we do that we can find the UI to look something like this.
![i

[2021-04-30 10:07] ariG23498 commented on #2130
Hey @bennevans
Thanks for filing a ticket with us. We will be looking into the ticket internally. If you find a reproducible code snippet later, do share it with us.

[2021-04-30 10:14] ariG23498 commented on #2128
Hey @Yannik1337
I think the `wandb.init(config=conf)` should work here.
![image](https://user-images.githubusercontent.com/36856589/116681658-e1b2a000-a9ca-11eb-8121-89950bfa7c75.png)

[2021-04-30 10:54] luigicampanaro commented on #2138
Hey @ariG23498,

thx for replying!
How can I generate the plot automatically, without having to do it by hand? This way every time I run the script and for everyone else using it, the rewards will be displayed and organised in the same way.

[2021-04-30 12:13] pragyakale opened #2143 "[App] cannot view logged video in run stats"
**Describe the bug**
Video file type is not recognized correctly

**To Reproduce**
Steps to reproduce the behavior:
1. Log a video using
`wandb.log(
  {"video": wandb.Video(numpy_array_or_path_to_video, fps=4, format="gif")})`
2. Go to run>files>Media on the browser

**Expected behavior**
Expected to see the .mp4 video

**Screenshots**

![Screenshot from 2021-04-30 14-10-47](https://user-images.gi

[2021-04-30 12:15] fcampagnexandr commented on #2139
Viewing on full screen does not help because full screen does not increase font size in my experience, so the plot uses more screen area, but readability is not improved. I would prefer font size to be configurable in charts and for other text in the UI, separately would be best.

[2021-04-30 16:47] cvphelps commented on #2104
@amssljc you can also call wandb.log_code("path/to/your/dir") which will log all the code as artifacts

[2021-04-30 16:47] #2104 closed

[2021-04-30 19:13] cvphelps commented on #2143
@pragyakale It looks like we don't have the right codec hooked up for MP4s yet, thanks for reporting this!

[2021-04-30 19:23] cvphelps commented on #2139
Hi there, could you please press `cmd` `+` on your keyboard to zoom in on the page in the browser

[2021-04-30 20:33] yhn112 commented on #1817
@vanpelt @raubitsj
Sorry to bother you this way, but this issue is very critical for some people (including our team).
If it's possible, could you please share some ideas on it, and probably we can help you with it?

[2021-04-30 21:58] vanpelt commented on #1817
@yhn112 we have plans to fix the case of syncing a run that is in 'offline' mode while it is running.  This will likely take 1-2 weeks.  We do not intend to support running `wandb sync` on an 'online' run.  If running on sync on offline runs is your usecase, we'll keep the ticket updated here.

[2021-04-30 23:27] alek5k commented on #1817
I think the majority of peoples use cases for wandb sync in this thread are from online runs that are still running but are reported as crashed and never automatically resynchronize.

There was a period of time I was experiencing a large amount of packet loss on my network which made every run go into this state (days worth of training lost and unable to synchronise).

Perhaps it could be useful t

[2021-05-01 07:52] piraka9011 commented on #1817
I don't think support for offline runs makes sense.
I would prefer the WandB team invests time in a solution for online runs since that is technically (one of) the main reason(s) to use WandB (i.e the GUI and dashboard).

While the original issue for me was from a run the crashed, I guess it would be good to re-sync runs that have lost connection, but I don't think that's the `sync` CLI command's

[2021-05-01 08:51] demegire opened #2146 "[CLI] cannot login"
**Description**
I cant login. I use the latest wandb.

I used to login with wandb.login() but that seems to be depreciated. Now I try !wandb login from my jupyter notebook but cant provide my api key as text input.

![Screenshot (462)](https://user-images.githubusercontent.com/62503047/116776856-8ee0f300-aa73-11eb-97bd-b4a44dbf60d2.png)

[2021-05-01 21:25] elaruwan commented on #1526
I'm still getting crashes from 0.10.28 as below.  My run is marked as crashed in the gui.

wandb: Network error (ReadTimeout), entering retry loop.\u2588\u2588\u2588\u2588\u2588\u2588\u2588\u258e                                                     | 1422/6742 [26:07<2:07:48,  1.44s/it]
ITERATION - sql_loss: 0.02530190, linking_loss: 0.00048823: 89152it [31:08:14,  1.19s/it]

[2021-05-02 06:17] elaruwan commented on #1526
wandb: ERROR Problem finishing run
Traceback (most recent call last):
  File "/mnt/ws/TabularSemanticParsing/lib/python3.6/site-packages/wandb/sdk/wandb_run.py", line 1532, in _atexit_cleanup
    self._on_finish()
  File "/mnt/ws/TabularSemanticParsing/lib/python3.6/site-packages/wandb/sdk/wandb_run.py", line 1668, in _on_finish
    self.history._flush()
  File "/mnt/ws/TabularSemanticParsing/lib/

[2021-05-02 06:39] elaruwan commented on #1526
So.....

If you want to sync your data and you are getting an assertion error, then commenting out all the assertions and just returning if anything is None then it actually syncs the data correctly :)

This does put it into a "running" state lol, but it works.  I managed to get over a days worth of data up.

[2021-05-02 14:35] amssljc commented on #2104
thanks for your reply, but i cant use `wandb.log_code`

This is the traceback:
[code]

my wandb version: '0.10.27'

[2021-05-03 01:21] TrinhDinhPhuc commented on #1185
I faced this problem too. My model was trained 3 days ago

[2021-05-03 05:46] ariG23498 commented on #2146
Hey @demegire
Thanks for the ticket.
I reproduced the issue in a jupyter notebook with wandb version `0.10.28`. The text field does not show at all.
![image](https://user-images.githubusercontent.com/36856589/116844388-9aadf000-ac00-11eb-8f1a-131d292c454a.png)

I have also tried doing the same in a colab notebook. There things seem to be working as usual.
![image](https://user-images.githubusercon

[2021-05-03 05:51] demegire commented on #2146
thanks, the issue is solved

[2021-05-03 05:51] #2146 closed

[2021-05-03 06:34] ariG23498 commented on #2138
Hey @luigicampanaro

I don't think that there is an automatic generation of plot workaround for the problem. Once you make the chart with all the metrics, the same setting will be used for future runs.

![image](https://user-images.githubusercontent.com/36856589/116847141-920ce800-ac07-11eb-8794-7b3bb3a1864e.png)

[2021-05-03 06:34] #2138 closed

[2021-05-03 06:36] #2128 closed

[2021-05-03 06:39] ariG23498 commented on #2120
Hey @tommasodelorenzo

The issue with incremental naming of runs is that multiple sweep agents could run the `train()` method. This way we would not be able to increment the run names properly. The workarounds I have provided are the best way to organise the runs.

Closing this issue here. Thanks for the ticket 😄

[2021-05-03 06:39] #2120 closed

[2021-05-03 06:40] ariG23498 commented on #2107
Closing this issue as has been resolved.

[2021-05-03 06:40] #2107 closed

[2021-05-03 06:40] #2108 closed

[2021-05-03 06:48] ariG23498 commented on #2098
Hey @luifire
Could you send us a `colab` that could help in the reproduction of the issue? The workspace you have shared is a read only, hence I cannot really look into the problem here.

It would be great if you could hand in a bug report as a wandb `Report`. That would help us not only reproduce it but also see what goes wrong with the regex.

[2021-05-03 06:54] NotAnyMike commented on #2143
Hi @cvphelps, any idea when will this be fixed?

[2021-05-03 07:02] ariG23498 commented on #2096
Hey @luifire

I tried reproducing the ticket by using the code snippet that you had sent in. I have provided a few changes of my own. Upon running the code I did not find any error with the images.

Changes:
- Used the `run.log` instead of `wandb.log`
- Did not use the `step` parameter as it is an internal parameter that wandb takes care of.
- Used the `finish` method to stop the run programatical

[2021-05-03 07:10] ariG23498 commented on #2052
Hey @oliviersalaun

Thanks for following up with the thread and helping with the solution. Would you like to close the thread if the issue has been resolved?

[2021-05-03 17:49] vanpelt commented on #1817
I wanted to clarify what I meant by not supporting online runs.  We want you to always be able to run `wandb sync` for online runs after they have completed (in the case that not all data was streamed to the server).  The offline support is only for enabling users to run `wandb sync` on the offline runs while they're running.

The reason for not supporting calling `wandb sync` on a currently runni

[2021-05-03 17:54] vanpelt commented on #1526
@elaruwan so sorry to hear you ended up modifying the syncing logic to get this to send data correctly.  Can you send your run directory to vanpelt@wandb.com so we can reproduce what's causing the underlying 500's and assertion failures?

If you don't have a run directory, but do have a minimal code example that can reproduce these syncing issues that would be really helpful as well.

[2021-05-03 17:55] vanpelt commented on #2104
Sorry, it's `wandb.run.log_code(".")`

[2021-05-03 17:58] vanpelt commented on #1185
Thanks for reporting @TrinhDinhPhuc, do you still have access to the run directory or the log output for the run that failed?  It's all hands on deck here at W&B to further harden our retry logic to ensure we are always able to handle network faults or server issues.

[2021-05-03 18:00] vanpelt commented on #2143
@NotAnyMike, it looks like you're logging an "mp4" video but telling us it's a "gif" video.  Can you try logging with `format="mp4"` instead of `format="gif"`?

[2021-05-03 18:23] NotAnyMike commented on #2143
It was a typo, we are using `format="mp4"`

[2021-05-03 18:37] vanpelt commented on #2143
How are you generating the mp4?  Can you share a link to the problematic run?  We're just using an HTML5 `video` tag in our web page.  If the mp4 was generated with a codec that modern browsers don't support it won't be able to play it.  A table of browsers and what codecs are supported can be [found here](https://en.wikipedia.org/wiki/HTML5_video).

[2021-05-03 20:18] #2052 closed

[2021-05-03 20:23] oliviersalaun commented on #1526
@joshmyersdean sorry for my late reply. At that time, I did not find other solution than running the experiment again.

[2021-05-04 00:27] piraka9011 commented on #1817
Makes sense @vanpelt, thanks for the clarification.

[2021-05-04 01:49] TrinhDinhPhuc commented on #1185
Yes, I still have the run directory and events.out file inside it

[2021-05-04 03:18] ariG23498 commented on #1409
Hey @Spandan-Madan
Could you see if the error still persists with the latest release of our client? The present version is `0.10.28`.

Thanks!

[2021-05-04 03:25] karthi0804 commented on #1265
I checked after upgrading. It is fixed in the latest version 0.10.28. Thanks.

[2021-05-04 03:26] ariG23498 commented on #1239
Closing this ticket for the lack of activity.
Please feel free to comment to reopen.

[2021-05-04 03:26] #1239 closed

[2021-05-04 03:28] vwxyzjn opened #2154 "[App] Artifact graph visualization bug"
**Describe the bug**

Hello, I am trying to view the graph of this artifact in the documentation: https://wandb.ai/stacey/dsviz-demo/artifacts/val_epoch_preds/val_pred_55oxnv95/e7956e9367bf5369712c/graph

but had the error `graphql: got nil for non-null "Project"`

**To Reproduce**

Steps to reproduce the behavior:
1. Go to https://wandb.ai/stacey/dsviz-demo/artifacts/val_epoch_preds/val_pred_55ox

[2021-05-04 03:52] ariG23498 commented on #1507
Hey @PhaelIshall

We are closing this ticket as the original issue has been resolved. If you see any issue persisting, would you like to open a new issue to track the same? You could also comment below to reopen this issue. Thanks.

[2021-05-04 03:52] #1507 closed

[2021-05-04 03:54] ariG23498 commented on #1314
Hey folks

Closing this issue due to inactivity.
With further issues pertaining to this ticket, please feel free to ask to reopen this thread. Thanks!

[2021-05-04 03:54] #1314 closed

[2021-05-04 04:15] cvphelps commented on #2024
Hi Ethan, sorry no one got back to you here — thanks for getting to the bottom of this issue, looks like a small CSS fix on our side.

[2021-05-04 04:18] #1409 closed

[2021-05-04 04:27] ariG23498 commented on #2154
Thanks for tagging this @vwxyzjn
We will be looking into it!

[2021-05-04 05:54] denieboy opened #2156 "[Feature] Extend Filter and Group-by for TAGs"
**Is your feature request related to a problem? Please describe.**
Would be great to filter and group the experiments by the TAGs as well.
Actually could be really cool to filter for run_names and group by that too. :)

**Describe the solution you'd like**
Filter and group the experiments by the TAGs.

**Describe alternatives you've considered**
I don't think that any alternatives exist for this.

[2021-05-04 07:16] NotAnyMike commented on #2143
We are using opencv to generate the video, save it in disk and pass the path to wandb. The codec we use is `cv2.VideoWriter_fourcc(*'MP4V')` or `mp4v`.

[2021-05-04 10:17] rafi-cohen opened #2157 "[CLI] `wandb.watch` causes `RuntimeError: Output 0 of BackwardHookFunctionBackward is a view and is being modified inplace.` during the forward pass"
**Description**
Calling `wandb.watch` on a PyTorch model causes a `RuntimeError` during the forward pass of said model. The error seems to be related to hooks:
[code]

**Wandb features**
`wandb.watch` on a PyTorch model

**How to reproduce**
Running the code below reproduces the error:
[code]
By omitting the `wandb.watch(model)` line, there are no errors and the code executes successfully.

**Envi

[2021-05-04 11:18] GillesJ commented on #1447
I don't know for sure whether it was update 0.10.28 or updating `tqdm` to latest (which I was using and some indicate this could be a problem too), but the crashes with OSError for FileDescriptor limit have stopped. I do keep getting shell warnings for leaked semaphore objects if I interrupt the training process though.

[2021-05-04 13:11] fcampagnexandr commented on #2139
Did you read the description where I explained that zooming in in the browser (cmd +) did not meet my needs?

[2021-05-04 13:30] NotAnyMike commented on #2143
@vanpelt thank you, if we change the encoding to libx264 it works,. Looks like mp4v does not work well with HTML5 video tag. Thank you. I think it is save to close this issue.

[2021-05-04 13:36] GillesJ opened #2158 "[CLI] Connection error, and we cannot find the requested files in the cached path"
**Description**
`wandb` fails on connection attempt (sometimes before training starts, sometimes after training and logging has been working fine for a few runs).
The process errors with:
`Run xxxxxxxx errored: ValueError('Connection error, and we cannot find the requested files in the cached path. Please try again or make sure your Internet connection is on.')`

I checked connection with curl + p

[2021-05-04 15:44] talesa commented on #281
Hello!
I have the same problem: despite using `wandb.save` after every epoch only the first one is uploaded immediately.
My code looks as follows:
[code]

[2021-05-04 17:30] #2143 closed

[2021-05-04 17:40] vanpelt commented on #2157
Yep, this is indeed related to the other ticket.  I'm working on [a PR ](https://github.com/wandb/client/pull/2150) to add a way to override this behavior that should land in the next release.

[2021-05-04 17:42] vanpelt commented on #1447
Thanks for the update.  We just released 0.10.29 that will give us more debugging information about the leaked semaphores (this means python thinks sub processes should still exist, but it can't find them).

[2021-05-04 17:46] vanpelt commented on #2158
Hey @GillesJ we maintain a status page at https://status.wandb.com.  We were not having an outage at this time.  Looking at your script the only error I'm seeing is around attempting to attach a signal in thread.  You could try adding `settings=wandb.Settings(console="off")` to your call to wandb.init and see if that changes anything.

Can you share another run directory or two that this is happen

[2021-05-04 19:29] vanpelt commented on #1185
Great, if you can send a tarball or zip of it to vanpelt@wandb.com that would be helpful.  We also just released wandb 0.10.29 which has much more robust retry logic.

[2021-05-04 23:21] #2075 closed

[2021-05-05 08:27] GillesJ commented on #2158
Thanks for the status page link, very handy! It seems that the connection issues were spotty on our side due to a large-scale DDoS attack on our network infrastructure.

[2021-05-05 08:27] #2158 closed

[2021-05-05 08:42] metodmove opened #2164 "Grouping matplotlib plots"
I am having issues when **grouping** (i.e., organizing plots into subfolders in the *Charts* tab) my **matplotlib plots** in `wandb.log`.

When I do not group plots

[code]

the plots are nicely displayed in the dashboard:

![image](https://user-images.githubusercontent.com/79791019/117113619-03c16f00-ad8b-11eb-8446-f2ff3e4e5056.png)

However, when I try to *group* plots (using paths)

[code]

the

[2021-05-05 08:43] pini-kop opened #2165 "[CLI] creating an artifact from s3 links requires full path and not only dataset name"
**Description**
when putting links to data stored on s3 , the -n flag requires full path, i.e {ENTITY}/{PROJECT}/{DATASET_NAME} and not only DATASET_NAME when putting local dataset

**Wandb features**
using the command line interface to create an artifact linking to s3 files

**How to reproduce**
wandb init -e {ENTITY} -p {PROJECT}
wandb artifact put -n {DATASET_NAME} -t dataset -d {DESCRIPTION} s

[2021-05-05 09:06] #2164 closed

[2021-05-05 09:07] metodmove commented on #2164
The issue was resolved, just had to wait for the run to end and after the plots appeared.

[2021-05-05 09:45] pini-kop commented on #2165
I had a '/' at the end of the bucket name - once removed everything worked.

[2021-05-05 09:45] #2165 closed

[2021-05-05 10:27] rafi-cohen commented on #2157
If I understand correctly, that PR adds an option to use `register_backward_hook` instead of `register_full_backward_hook`?
I actually believe using `register_full_backward_hook` is the correct thing to do, seeing as `register_backward_hook` is a deprecated function.

Note that on wandb version 0.10.27 the reproduction code produces the following warning:
[code]

I don't think `register_full_backw

[2021-05-05 14:14] morganmcg1 commented on #2157
I encountered this also, downgrading to torchvision 0.8.2 solved the issue for me, in case thats of any help

[Pytorch forums thread](https://discuss.pytorch.org/t/runtimeerror-module-backward-hook-for-grad-input-is-called-before-the-grad-output-one-this-happens-because-the-gradient-in-your-nn-m-odule-flows-to-the-modules-input-without-passing-through-the-modules-output/119763/8)

[2021-05-05 15:45] lucas-emery commented on #1526
I faced the same issue, 20 hours of data not synced.

I tried `wandb sync` :
[code]

I then tried syncing the specific run `wandb sync wandb\run-20210501_233758-2gqfwzad`:
[code]

I removed the assertion but it was failing in the sender.py:
[code]

record_type was None

So after reading some of the code i went back to `wandb\sdk\internal\datastore.py` and changed `scan_record(self):` from:
[code]

[2021-05-05 15:50] lucas-emery commented on #1526
Btw, this happened twice during a 240hr run. The first time I didn't realize and lost some data when i resumed the experiment. There should be a way to reenable automatic sync, or it should simple never give up and just retry in 30mins (or something like that)

[2021-05-05 16:07] vanpelt commented on #2132
Hey @afiaka87 we're working on making the offline sync more robust.  I'll also chime in the DALLE-pytorch ticket.

[2021-05-05 16:22] vanpelt commented on #1526
@lucas-emery the most recent version of wandb 0.10.30 is much more robust to network faults and issues.  You are correct, we intend the library to never get into this state and we're working hard to make it more robust.  We're also working on making the offline sync logic robust to the in progress runs.

[2021-05-05 17:12] lucas-emery commented on #1526
@vanpelt that's great to hear, I'll make sure to update after this run. Keep up the good work, your product is awesome

[2021-05-05 17:48] afiaka87 commented on #2132
I will just say this - the most advanced users of the W&B service will do word-of-mouth marketing for you if you are good to them. Ignoring concerns surrounding distributed (where effectively _all_ state of the art deep training currently takes place) is probably not a good idea and is something I've seen on the issues a lot here.

[2021-05-05 18:52] vanpelt commented on #2132
@afiaka87 we couldn't agree more.  We're actively working on better handling of more complex multi-processing environments and hope to handle the most common cases by default and provide clear instructions on how to handle more advanced scenarios.

If you have a specific distributed example that isn't working for you today, I would be happy to hop on a quick screen share or connect you with one of

[2021-05-05 19:21] afiaka87 commented on #2132
That's good to hear - I've seen more than a few comments on the issues which were outright dismissals of any proposal to support "offline". Outages - however accidental - shine a light on such things I imagine.

I appreciate the offer to screen share - but I have in fact already found a workaround on our setup for now.

Do you have a clearer picture of what will be supported? In an ideal world - I

[2021-05-05 19:26] afiaka87 commented on #2132
In terms of my specific issue - the video of the issue I provided should have all the details:
https://www.dropbox.com/s/0w2avv68h41uuvn/2021-04-28_10-18-49.mkv

[2021-05-05 23:46] GeoffNN opened #2171 "[Feature] Logging something from the optimizer state dict"
I'm working on optimizers in PyTorch, and would like to log some buffers in my optimizer. Having something like `wandb.watch` for optimizers would be a great way to understand what's going on during training.
In a PyTorch Optimizer, each parameter `p` has an associated `state` dict; using keys for logging values of this dict for each parameter would be awesome.

Example use:
```wandb.watch_opt(opt

[2021-05-06 00:49] #386 closed

[2021-05-06 01:57] GeoffNN commented on #821
Hi!
Is there a tutorial / script anywhere to compare histograms across runs, rather than across steps? I have a few runs for which I used `wandb.log({'values': wandb.Histogram(values)}`, and I'd like to plot overlapping histograms across runs.

[2021-05-06 02:50] #2157 closed

[2021-05-06 06:48] ariG23498 commented on #2047
Hey @vilim
Due to the fact that we transform matplotlib charts to plotly for the web UI, we struggle with some basic issues here and there (subplot titles is one of them).
Some workarounds for the issue:
- [custom charts](https://docs.wandb.ai/ref/app/features/custom-charts/walkthrough) is a great tool to get on top of your plotting with wandb. We provide minute control over the chart generation p

[2021-05-06 07:39] ariG23498 commented on #2156
Hey @denieboy
We do support filtering by TAGs.
![image](https://user-images.githubusercontent.com/36856589/117259957-2f685600-ae6c-11eb-9fbd-579f14e0a5a6.png)

Could you be more specific with the feature request? We would really like to help our users better.

[2021-05-06 07:52] ariG23498 commented on #821
Hey @GeoffNN
You can use our [custom chart](https://docs.wandb.ai/ref/app/features/custom-charts) tool and use a [Vega preset](https://vega.github.io/vega-lite/examples/area_density_stacked.html) to get an overlapping histogram.

[2021-05-06 08:17] ariG23498 commented on #2171
Hey @GeoffNN
The closest to a hook I can think of with optimizers is the closure that we pass in the `optimizer.step()` method. You could log the buffers as a histogram in that step.

As for the watch for optimizers, I am creating a ticket for the same and would update the thread as soon as I get any info about the same.

[2021-05-06 09:00] awsaf49 opened #2173 "How to log best metrics in Table[Q]"
In **Keras** after training only `best_epoch` & `best_loss` can be seen in the **Table**. Is there any way to log the **best result** for other metrics as well like, `best_accuracy`? Unfortunately, `WandbCallback` doesn't show the **best value** for the metrics.

[2021-05-06 12:29] denieboy commented on #2156
Opps pardon me, my bad! Brilliant, just can't stop lovin' it! :)

[2021-05-06 13:02] vilim commented on #2047
Thanks for the reply! The example above does not use matplotlib at all, it is purely a plotly chart. I am aware of the other workarounds

[2021-05-06 16:57] lucaguarro opened #2174 "Is it possible to transfer a run from one project to another (including all artifacts)?"
I realized that I had initialized my run to the wrong project after it had trained for 3 hours.
I was wondering if I could simply transfer the run from one project to another instead of having to retrain the whole model again with the correct project name. I also saved the model to the artifacts and would also like to place this in the artifacts of the corresponding project.

Is this possible?

[2021-05-06 17:44] vanpelt commented on #2174
Hey @lucaguarro you can move a run to another project in the UI.

![image](https://user-images.githubusercontent.com/17/117341883-8283de00-ae57-11eb-9b74-2381d273f8c1.png)

The artifacts will not be moved.  To add the artifact to the other project, you'll need to download the original and re-upload it.  You can do this via the command line with:

[code]

[2021-05-06 17:44] #2174 closed

[2021-05-06 17:49] shrijan00 opened #2176 "How to log ROC curve and Confusion matrix"
Hi,

I recently started using wandb, and I was trying to log the roc as well confusion matrix for a binary classification.

[code]

I receive an error i.e.
[code]

Could you please point out the right way to do it?

[2021-05-06 18:34] vanpelt commented on #2173
Hey @awsaf49 we're working on better documentation for a [new feature](https://docs.wandb.ai/ref/python/run#define_metric) that supports this.

After you call `wandb.init` you can call:

[code]

Then a new column will be added to the table named `accuracy.best`.

[2021-05-06 18:34] #2173 closed

[2021-05-06 19:09] acd424 commented on #1627
I found the the docs on migrating from previous packages useful - paragraph 4.

https://huggingface.co/transformers/migration.html

I added 'return_dict=False' to my model argument and it worked as it should.

[2021-05-06 23:51] mitchellnw commented on #1297
Any plans on fixing this?

[2021-05-07 06:31] jw3126 commented on #805
I get the same error message, not sure if the cause is related. In use wandb 0.10.29 + Python 3.6.9 local and it mostly works fine. Only when I try to log media (matplotlib plots) I get
`wandb: Network error (TransientException), entering retry loop.`
and plots don't show up in the browser. All other like charts do show up.

[2021-05-07 06:37] ariG23498 commented on #2176
Hey @shrijan00
I have tried reproducing the issue, here are my observations:
- We can use [custom charts](https://docs.wandb.ai/guides/track/log#custom-charts) preset to plot ROC with `wandb.plot.roc_curve()` and Confusion Matrix with `wandb.plot.confusion_matrix()`.
- While doing binary classification, the prediction array must be of the shape `(number_of_preds, 2)`. The `2` stands for each of th

[2021-05-07 06:37] #2176 closed

[2021-05-07 07:48] shrijan00 commented on #2176
Hi,
Thanks for your reply. I did try in the beginning to just log pyplot to wandb. I haven't tried the option you suggested but just wanted to let you know when I try to log the curve from the pyplot curve as shown below I receive this:

![image](https://user-images.githubusercontent.com/4169231/117415923-26818e00-af19-11eb-836a-c5f0cb58e5c3.png)

![image](https://user-images.githubusercontent.com

[2021-05-07 07:55] ariG23498 commented on #2176
Could you reorder the code like this 👇
[code]

Just move `wandb.log` above the `plt.show()`

[2021-05-07 07:59] shrijan00 commented on #2176
I tried the same but unfortunately, receive the same error.

![image](https://user-images.githubusercontent.com/4169231/117417635-d7d4f380-af1a-11eb-9ae3-ea75476e96f5.png)

[2021-05-07 08:03] ariG23498 commented on #2176
Could you send in a Colab notebook for me to reproduce the current issue?

[2021-05-07 08:09] shrijan00 commented on #2176
I believe either the matplotlib version is the issue or something else because tried to just plot a simple array and I receive the same error.
`
        plt.plot([1, 2, 3, 4])
        plt.ylabel("some interesting numbers")
        wandb.log({"chart": plt})`

[2021-05-07 08:34] ariG23498 commented on #2176
I don't seem to have any problem with the implementation of the above code.
![image](https://user-images.githubusercontent.com/36856589/117422152-ea602480-af3c-11eb-9eda-cd1f8ed2818e.png)

Wandb version: 0.10.29
Matplotlib version: 3.2.2

[2021-05-07 08:43] shrijan00 commented on #2176
I believe it's something related Matplotlib version. Anyway, thank you for your help. I'll try to figure it out
My Matplotlib version: 3.3.3
Wandb version: 0.10.19

[2021-05-07 13:34] andreabac3 commented on #1314
@lucmos Thank you, `WANDB_START_METHOD=thread` solve my issue.

[2021-05-07 16:13] oldenstreeter opened #2179 "[CLI] WandbCallback() NoneTypeError with python3.9.2"
**Description**
I added the quickstart steps to my tensorflow.keras model and can't run the fit function with the WandbCallback function

**Wandb features**
[code]

**Environment**
- OS: Scientific Linux 7.7 (Nitrogen)
- Python Version: 3.9.2

**Error**
[code]

[2021-05-07 16:59] vanpelt commented on #805
Hey @jw3126 can you are a colab or the actual code that is causing this for you?

[2021-05-07 17:03] vanpelt commented on #2179
@oldenstreeter we haven't seen this issue before.  Can you provide a colab or single file with dummy data and the specific version of tensorflow you're using so we can reproduce?

[2021-05-07 18:19] jw3126 commented on #805
I will try to produce a mwe.

[2021-05-07 18:30] oldenstreeter commented on #2179
Here is some sample data with a Python file with which I could reproduce the problem
[github_issue_2179.zip](https://github.com/wandb/client/files/6443604/github_issue_2179.zip)

[2021-05-08 10:26] oliviersalaun opened #2181 "[CLI] - WandB and Pytorch Lightning - PermissionError if WandB is disabled"
**Description**
I am using WandB integrated in Pytorch Lightning library. Everything works fine except when I disable wandb (I do so for debugging my code). If I enable wandb back, everything goes back to normal.

**Wandb features**
The WandB features come from the PyTorch Lightning library. More below.

**How to reproduce**
from terminal:
`wandb disabled`

The script:
[code]

**Environment**

[co

[2021-05-08 10:50] konstantinjdobler opened #2182 "[App] Logging wandb.Images loading or logging error"
**Describe the bug**
I am logging a wandb.Image at the end of every epoch. The docs state that you should log less than 50 at every step, so that should be fine. However I get the following behavior when trying to look at the Images in the wandb web app:

https://user-images.githubusercontent.com/28780372/117536429-3ec9d980-affb-11eb-8c0d-319bf098ae21.mov

Sometimes the web app also crashes like t

[2021-05-08 16:46] oscarclivio opened #2183 "[CLI] Sweep agent receiving GraphQL 500s on large project with 3000+ runs"
**Description**
Sweep agent is waiting for a job, but instead 500 errors come. Sometimes, the agent does have a job but it takes several tries to obtain it. Is it a connection error on my side? Or on the W&B servers? This error appeared today on my end.

**Wandb features**
Whether in the original sweep command, or when launching a new sweep through `wandb.agent(sweep_id, function=func)` where `swe

[2021-05-08 17:48] konstantinjdobler commented on #2182
This issue does not happen when I reduce logging to every 20 epochs

[2021-05-08 20:02] stasbel opened #2184 "[Feature] Read files with .yml extension same way wandb handle .yaml files"
**Is your feature request related to a problem? Please describe.**
WanDB doesn't allow to read (and highlight syntax) any file with .yml extension in "Files" section of your run. You can only download it.

**Describe the solution you'd like**
I want to read .yml files same way I see every .yaml file.

**Describe alternatives you've considered**
...

**Additional context**
I want to be able to read

[2021-05-09 04:22] ubiest commented on #1207
I get the same issue doing a multi-label classification with fastai
With y_probas, I get this message (I have 9 labels):
`ValueError: classes [0 1] mismatch with the labels [0 1 2 3 4 5 6 7 8] found in the data`

Whether y_probas consists of the raw probability values or it is converted into class labels as 0s and 1s (ie, the output is binarized, as suggested by @lavanyashukla above), the result i

[2021-05-09 05:31] timothybrooks opened #2185 "[Feature] Delete multiple runs at a time from the web app"
I sometimes run large sets of many runs all at once (possibly in a group, or possibly independently). Occasionally I make a mistake when launching, such as using a wrong hyperparameter, and need to terminate the runs and launch a new set. When this happens, I find myself deleting runs one-by-one on the W&B web app. It would be great if I could instead select multiple runs at once, and delete them

[2021-05-09 07:42] ariG23498 commented on #2185
Hey @timothybrooks
You can indeed select a group of runs together
![image](https://user-images.githubusercontent.com/36856589/117564130-207ddf80-b0c8-11eb-91e8-042105dd3321.png)

And then delete the group all at once. Hope this helps 😄

[2021-05-09 07:42] #2185 closed

[2021-05-09 07:49] ariG23498 commented on #2184
Hey @stasbel
Thanks for the feature request. We will track this internally.

[2021-05-10 06:08] ariG23498 commented on #2183
Hey @oscarclivio
Thanks for the report.
We will try to track it internally.

[2021-05-10 06:10] ariG23498 commented on #2182
Hey @konstantinjdobler
Could you send in a minimal colab notebook that could help us in reproducing this issue?
Thanks.

[2021-05-10 06:13] ariG23498 commented on #2181
Hey @oliviersalaun
Could you please send in a minimal implementation of the issue you are seeing? A colab notebook would be great.
Thanks.

[2021-05-10 09:33] konstantinjdobler commented on #2182
Hey @ariG23498, I just tried to reproduce the issue and I cannot do it in a Colab notebook. Likely, this is an issue tied to my hardware. I believe the issue happens when the writing of my checkpoint file has not finished when a new checkpoint is being written (and if I just increase the time between checkpointing, the issue goes away).

[2021-05-10 12:08] roshan-k-patel opened #2186 "[Q] Not able to export ROC and prevision-recall curve?"
Is exporting these graphs a paid feature only? I can export other graphs fine but there is no option to for these
<img width="1400" alt="Screenshot 2021-05-10 at 8 04 57 PM" src="https://user-images.githubusercontent.com/48667731/117656898-7e472000-b1cb-11eb-9e82-50d8f45304ed.png">

[2021-05-10 13:08] oscarclivio commented on #2183
Thanks @ariG23498 for taking care of this. Some update on my side : I realised it was applying to one of my "big" sweeps (with more than 3000 runs inside) : others are fine. I'd be happy to pass more details privately if it helps.

[2021-05-10 16:35] ariG23498 commented on #2186
Hey @roshan-k-patel
I am not sure why `exporting` not an option in your case.

![image](https://user-images.githubusercontent.com/36856589/117693485-b6eef580-b1db-11eb-8518-a74bcb432c97.png)

I can indeed confirm that this is not a paid thing.
Could you send in the link of the run?

[2021-05-10 16:37] roshan-k-patel commented on #2186
hi @ariG23498, thanks for the response, [here](https://wandb.ai/rpatel9/deberta-adv-optimisation-high-epochs?workspace=user-rpatel9) is the workbook. The two runs with these charts runs are named:
"colorful-glade-65 base mnli
classic-sound-63 large mnli"

[2021-05-10 17:37] tyomhak commented on #2186
Hey @roshan-k-patel , can you share how exactly you generated these graphs?

[2021-05-10 17:45] roshan-k-patel commented on #2186
@tyomhak, this is the script i used for those two runs with the roc curves. They are generated from the performance on the test set, might be part of the library i'm using (simpletransformers). My intention is to download the csv data and generate a nicer looking graph with pyplot or seaborn.

`# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required

[2021-05-10 18:33] charlesfrye commented on #2126
Hey @CrohnEngineer! Sorry for the delay -- I initially thought this question had a much more complex answer.

For categorical variables, we do [dummy coding](https://en.wikipedia.org/wiki/Dummy_variable_(statistics)), so that effectively each distinct possible value is treated independently. The correlation then tells you whether and in which direction choosing that value for that hyperparameter m

[2021-05-10 19:38] CrohnEngineer commented on #2126
Hey @charlesfrye ,

thank you so much for your explanation!
I have just another silly question.

In this case, strong negative impact means that using no activation _decreases_ the val-full/accuracy metric?
I want to make sure that the correlation is strictly numerical, so negative correlation means a numerical decrease in the metric considered,
I'm asking since the sweep configuration allows to i

[2021-05-10 23:43] noncuro opened #2187 "[CLI] wandb.sweep requires numpy"
**Description**
Calling `wandb.sweep()` requires numpy, but numpy isn't listed as a dependency for `wandb`

Stack trace:
[code]

**Wandb features**
`wandb.sweep()`

**How to reproduce**
Run `wandb.sweep()` without `numpy` installed

**Environment**
I'm using the Docker image `python:3.8`

This is my `pip freeze`

[code]

[2021-05-11 05:12] dannygoldstein commented on #2187
Thanks for catching this @noncuro ! I opened a PR which should hopefully solve this

[2021-05-12 04:10] vanpelt commented on #2181
@oliviersalaun the error is coming from pytorch lightning attempting to create the runs directory at `/`.  You should configure pytorch lightning to use a directory that's writable such as `/tmp`.

[2021-05-12 04:12] vanpelt commented on #802
@pbontrager we're currently working on better default handling of multiprocessing.  One thing to try is adding `settings=wandb.Settings(start_method="thread")` to your wandb.init call.

[2021-05-12 04:45] LunaJang opened #2190 "[CLI] wandb sync tensorboardX"
**Description**
I tried to sync my .tfevents files to wandb run with cmd below

`wandb sync -p <project_name> --sync-tensorboard <log_dir>`

but when I check the result on web page..

![image](https://user-images.githubusercontent.com/25239851/117919401-e3178d00-b327-11eb-9385-210d687f5b19.png)

When I checked the target.tfevents file with tensorboard, there was no problem as below.

![image](http

[2021-05-12 09:06] vildera commented on #919
Did anyone find a solution to this? I have the same problem.

[2021-05-12 11:41] mariatirindelli opened #2191 "Plotly plots not showing properly on the dashboard"
I am trying to plot a stack of images as an animation frame (example "Exploring 3-D images and timeseries with animation_frame" in https://plotly.com/python/imshow/). I can correctly plot with plotly, but when I log on wandb I see an empty space, with the sliding bar.

The code I'm running is:

[code]

And here's what I get in wandb
![Acquisisci2](https://user-images.githubusercontent.com/48152056

[2021-05-12 12:33] ariG23498 commented on #2191
Hey @mariatirindelli
Thanks for the ticket. We will be tracking this internally.

[2021-05-12 12:49] ariG23498 commented on #2190
Hey @LunaJang
I have tried reproducing the issue with the code below:
[code]
This creates a `./runs` folder that has the tfevents in them.

[code]

Let me know if there is something that I have missed.

[2021-05-12 16:06] ariG23498 commented on #2186
Hey @roshan-k-patel upon doing some digging I found out that `simpletranformers` use deprecated plotting commands. I will raise an issue with their team so that this can be taken care of. Thanks for the ticket!

[2021-05-12 17:16] KyleGoyette commented on #2190
Hi @LunaJang we have a branch that solves this issue that you can try out. If you run:
`pip install --upgrade git+git://github.com/wandb/client.git@kyle/tboard_sync_fix#egg-wandb`

then run
`wandb sync -p $YOUR_PROJECT_NAME --id $YOUR_RUN_ID --sync-tensorboard --entity=$YOUR_ENTITY path/to/logdir`

That should solve this issue.