[2020-12-30 16:52] vanpelt commented on #1247
Hey @reymondzzzz I'm assuming this is within the context of a sweep?  If you're not logging gradients I can't think of any wandb feature that would interact with GPU memory.  In the context of a sweep it could be possible that multiple processes are trying to use the same GPU if not configured properly.  We would need more information about the environment and the exact behavior to understand what

[2020-12-30 19:25] MLBurnham commented on #1247
Sorry for the slow reply. Here's the sweep script I ran. The memory leak only occurs when I run the sweep. When running the sweep I can run ~4 iterations of the model before I run out of memory. When doing a manual grid search with the out of the box simple transformers library, I can run dozens of iterations of the model back to back.

# config
sweep_config = {
    "method": "bayes",  # grid, ran

[2020-12-30 19:49] vanpelt commented on #1247
Ahh, my guess is something in the TransformerModel is holding onto gpu memory between iterations.  If you can refactor the code to use process based executions that should address the issue.  Assuming you can write the above code to a file named train.py, something like the following should work:

[code]

Then instead of calling `wandb.agent(...)` inside of python, call it from the command line: `

[2020-12-31 04:04] alexandremarcil commented on #1409
I keep getting this error while trying to run sweeps...   It was working fine yesterday.  Is there a problem with the backend?

Traceback (most recent call last):
  File "ziptorch.py", line 168, in <module>
    with wandb.init(project="test2"):
with wandb.init
"    raise UsageError(error_message)
wandb.errors.error.UsageError: Error communicating with backend"

[2020-12-31 04:31] vanpelt commented on #1409
This is the local backend which is a process on your machine.  Can you look the `wandb/debug-internal.log` and see if there are any stacktraces in it you could share here?

[2020-12-31 08:31] yanaiela commented on #1650
It doesn't work in my use case.
The view I'm using have groups, so I'm looking at runs aggregates, the first column I'm sorting by is hidden from the columns, and the secondary is not. The result is that the ordering is only based on the secondary column.

[2020-12-31 16:52] alexmirrington commented on #1348
Hi @ariG23498, The problem seems to be fixed now when using `wandb==0.10.12`, so I will close the issue :)

[2020-12-31 21:20] MadcowD commented on #736
Just wanted to bump this

[2021-01-01 19:22] kengz commented on #1610
Experiencing the same issue here while doing sweep - first run ok, after that it throws the error above.
I have something like the following in my sweep
[code]

The doc link above does not provide any clue on dealing with using list as value.

From the error it seems like the issue lies with how the call to W&B API parses the value - perhaps a guard in the API / API call that guards for list value

[2021-01-02 17:09] kengz commented on #507
Created a new PR above to add `log10_uniform` and `q_log10_uniform` since they are quite straightforward, but left out the `normal` counterparts since they aren't trivial to implement.

[2021-01-02 17:13] nhsmith85 commented on #1247
Hi @vanpelt is there another solution besides running script from command line? Using google colab for GPU access which uses notebooks, which as I understand can cause some issues with wandb sweeps.

[2021-01-02 18:31] kaiwenw opened #1654 "Show error for crashed runs in UI"
**Problem or Use Case**
Often times, I'm running a dozen processes on my AWS EC2 server, and since wandb auto-restarts after failure, it's hard to locate the backtrace of the error. While there are disk logs of wandb, I'd have to match the failed run to it, which is tedious work.

**Suggested Solution**
Upload the logs, or at least the last 500 lines of it to the wandb UI.

[2021-01-02 18:40] kaiwenw opened #1655 "Sweeps: Detect OOM and stop launching new runs"
**Problem or Use Case**
When my server runs out of disk memory, wandb's logging fails but still restarts. As a result, my sweeps will be filled with 10k failed sweeps.

**Suggested Solution**
Can we detect when this happens and auto-stop?
Perhaps a good heuristic is if runs take less than 10s and there're several rounds of sweep workers failing.
This can also be an "early stopping" knob that can b

[2021-01-03 02:05] vanpelt commented on #1247
Hey @nhsmith85 we'll look into the root cause for in process sweeps, but you should be able to run a script from colab pretty easily.  You can use the the `%%writefile train.py`.  Yo write a file, and then call `!wandb agent SWEEP_ID` from a different cell.

[2021-01-03 06:15] kaiwenw commented on #1645
@ariG23498 thanks, conda uninstalling and pip installing worked.
perhaps you guys should take down https://anaconda.org/conda-forge/wandb to prevent any future accidents?

[2021-01-03 08:05] #1645 closed

[2021-01-03 13:15] ashleve opened #1656 "Choosing aggregation function for table column"
So I've seen the similar issue came up a while ago #1380.

**Problem/Use Case**
The problem is we can't compare experiments by metrics like max accuracy achieved over the whole run, unless we log explicitly from the code what was the max accuracy.

**Suggestion**
Why not just add to table view an option to choose  aggregation function for given column?

This would make my life much easier because

[2021-01-03 15:35] ashleve opened #1657 "New table panel for constructing experiment comparisons"
**Problem or Use Case**
I'd like to be able to compose flexible table comparisons of different runs for different model types and datasets, which could be exported to latex table.

I think this would make it much easier to analise benchamark results, conduct research and write papers.

Ideally, it would be great if I could easily create something like this with graphic interface:
![image](https://

[2021-01-03 17:11] hobogalaxy opened #1658 "Saving code from the whole directory instead of just main training file"
**Problem or Use Case**
Most of the times my machine learning code is modular, containing many different files in different folders.
As such, automatically storing only main training file is not really useful for me - maybe it would be better if wandb could store more files depending on which ones user will specify?

**Suggested Solution**
Allow user to specify the directory, which would be search

[2021-01-03 17:23] hobogalaxy opened #1659 "Add button for expanding all charts in panel"
**Problem or Use Case**
So sometimes I have like 10 pages of charts in a panel and I would like to expand all of those pages.
![image](https://user-images.githubusercontent.com/43458894/103484573-1d0fda00-4df0-11eb-9890-e62588b7914b.png)
However, dragging the handle in bottom right corner to expand all of them is a little inconvenient.

**Suggested Solution**
Add somewhere a small button which wou

[2021-01-03 19:50] michalmisiewicz opened #1660 "Bayes sweep evaluates same set of parameters multiple times"
Given following configuration:
[code]

Bayes sweep evaluates same set of parameters multiple times:

![image](https://user-images.githubusercontent.com/16355374/103487347-f90ac380-4e04-11eb-81ca-f71f574187fa.png)

Is there any solution to evaluate set of parameters only once ?

[2021-01-03 22:11] vanpelt commented on #1656
Thanks @hobogalaxy we're tracking this request and hope to have a scalable solution in the future.  It requires us to maintain a separate index and do a backfill for historic runs so it's non-trivial to implement.

[2021-01-03 22:18] vanpelt commented on #1658
Hey @hobogalaxy you can actually do this today with [Artifacts](https://docs.wandb.ai/artifacts).  We'll likely make this something users can opt into with a flag in the future.  Here's in example assuming the code is in the current directory:

[code]

[2021-01-03 22:19] vanpelt commented on #1657
Thanks @hobogalaxy this is a great suggestions and it's already on the roadmap.  We hope to implement this soon!

[2021-01-03 22:24] vanpelt commented on #1660
Hey @michalmisiewicz can you share a link to the sweep?

[2021-01-03 22:41] michalmisiewicz commented on #1660
Hey @vanpelt, sure. [sweep url](https://wandb.ai/mm_magisterka/multimodal/sweeps/yjrws03e?workspace=user-mm_magisterka)

[2021-01-04 06:40] qshzh commented on #597
any update?

[2021-01-04 09:27] ira7bar commented on #493
I have experienced the same problem (using `from torch.utils.tensorboard import SummaryWriter`) and solved it by first initializing wandb and only then initializing the tensorboard writer.
There was no need for manual patching before wandb init.

[2021-01-04 13:19] barnybug commented on #1632
Hi, thanks for the pointer towards custom charts.

I've ended up simply using log statements with a few manually calculated metrics, since it's tracking the 'headline' numbers that are most valuable to us between experiments. I think it'd still be really valuable to have the 'out of the box' sklearn features - even just as a demonstration of what can be done. It's a great way to through an existin

[2021-01-04 15:05] AnxietyYoungPoet commented on #1409
@vanpelt I also received the same  issue when wandb.init() is called. Logs in  `wandb/debug-internal.log` :
[code]

[2021-01-05 01:34] kexinhuang12345 commented on #1122
Hi, I also encountered this problem, is there a workaround for that?

[2021-01-05 16:45] joe32140 opened #1663 "How to run sweeps with python module?"
I am trying to use sweeps to search for the best hyperparameters, but I encountered the problem that I can't run the python module with sweeps config like this.

`python -m models.model_name.main`

I have tried changed `program` in config into `-m models.model_name.main`
`program: -m models.DeepAverageNetwork.main`
, but it turns out to run `python "-m models.model_name.main"`  and thus fails.

I

[2021-01-05 16:58] joe32140 commented on #1663
Just found that we can edit command in yaml file like this:
[code]

Close the issue.

[2021-01-05 16:58] #1663 closed

[2021-01-06 23:03] kaiwenw opened #1667 "filter not working in sweep"
**Describe the bug**
In this sweep: https://wandb.ai/kaiwenw/CartPole-v0/sweeps/1wkxr4hg?workspace=user-kaiwenw
I'm trying to filter by `w_net_config...explicitly_normalize_to_one` to be false or true.
But the UI only shows "null" and when I type false or true, it does not apply the filter.

However, if you look at individual runs, the params are clearly false or true.

[2021-01-07 01:26] amorehead opened #1669 "The Wandb CLI does not let you override its default location for storing credentials and other configuration details"
**Problem or Use Case**
The Wandb CLI does not let you use its API to override its default location for storing credentials and other configuration details (i.e. ~/.config/wandb).

**Suggested Solution**
Add a new parameter to the Wandb CLI API's login() function (or possibly init() function) that lets users of the API dictate where they would like Wandb to store their credentials and other login

[2021-01-07 11:17] jwallat opened #1672 "Network error connecting to api.wandb.ai:443 during login"
**Describe the bug**
I am using PyTorch-Lightning and I am running multiple wandb runs on a cluster. Everything works fine for the first one or two jobs that I start. However, for later jobs, I get an HTTPS error when wandb connects to `api.wandb.ai:443`. I remember this working just fine a couple of months back.

Please find the stack trace from the debug-internal.log below:
[code]
Has anyone see

[2021-01-07 12:28] zimmer-m opened #1673 "Run comparer: Can't scroll down on Firefox"
On Ubuntu 20.04 and Firefox 84.0.1. I experience that I cannot scroll-down in the Run-Comparer, as the following GIF shows.

![scroll](https://user-images.githubusercontent.com/66726489/103892672-3e244380-50ec-11eb-9fce-6fa68efada4e.gif)

The thing is, it works great on Google Chrome. I know that this Bug report should be rather directed at Firefox then, but I figured it would still be good to ask

[2021-01-07 12:50] Javier-Jimenez99 commented on #1302
I'm getting the same error once I reinit the train script.

[2021-01-07 16:55] Kostis-S-Z commented on #675
Bump! This would be indeed useful! There have been cases when I needed bigger font sizes but couldn't find an easy solution.

[2021-01-07 18:12] vanpelt commented on #1669
@amorehead I haven't tried this but I believe you can do this by setting the `WANDB_CONFIG_DIR` environment variable.

[2021-01-07 19:55] amorehead commented on #1669
@vanpelt,

Thank you for the helpful redirection! After looking through Wandb's documentation for a while, I haven't been able to find an example of how I might declare my api_key and config_dir in a settings/config file so I do not have to execute the commands "export WANDB_API_KEY=..." and "export WANDB_CONFIG_DIR=..." in every environment I am running my script in.

[2021-01-07 20:37] vanpelt commented on #1672
Hmmm, the `Name or service not known` error indicates that our library couldn't reach your DNS server to determine what IP address to connect to.  Do you have any non-standard DNS configuration that you're aware of?  Can you make this happen consistently?

[2021-01-07 20:49] vanpelt commented on #1669
Ahh, currently that's not supported.  We only support reading your api key from a `.netrc` file in the home directory of the current user.   The simplest solution for you would be to add the following to your code, but you should never checkin api keys to source control as a matter of general best practice.

[code]

And then create a file that looks like:

[code]

The other alternative is to add "

[2021-01-07 21:14] amorehead commented on #1669
Thank you for the great suggestions. I'll look into both of them and go from there!

[2021-01-08 03:02] stas00 opened #1676 "logger noise that should be debug, and not being able to turn wandb logging off"
Just rebased transformers, needed to update `wandb` and started getting this when running hf trainer:
[code]
1. why is this info and not debug? I can't see what useful information this adds to the user of the hosting application. Turning this to DEBUG would be awesome. thanks.

2. `export WANDB_CONSOLE=off` didn't shut it off the docs suggest https://docs.wandb.ai/library/environment-variables

3.

[2021-01-08 03:07] stas00 commented on #1676
I also found a related https://github.com/wandb/client/issues/764 tried `export WANDB_MODE=off` - no difference - still getting the above log. (and those new additions aren't documented at https://docs.wandb.ai/library/environment-variables the entry is there but it doesn't say how to turn it off.

[2021-01-08 03:22] vanpelt commented on #1676
Hey @stas00 you can set `WANDB_MODE=disabled` see, https://github.com/huggingface/transformers/blob/master/src/transformers/integrations.py#L54

Those log statements should be getting written to a separate log file in `wandb/debug-internal.log`.  Do you have a custom logging setup?  Can you share a simple code snippet that reproduces this?

[2021-01-08 03:23] joshmyersdean commented on #1526
I too am randomly having this issue

[2021-01-08 03:30] stas00 commented on #1676
It's not working :( still gets logged.

This is just using a staple `examples/seq2seq/finetune_trainer.py`, nothing custom.

[code]
end of stderr:
[code]

[2021-01-08 03:34] vanpelt commented on #1676
Sorry, I misspoke.  It's `WANDB_DISABLED=true`, I should have read the code that I linked to 🙃

[2021-01-08 03:37] vanpelt commented on #1676
The docs are here: https://docs.wandb.ai/integrations/huggingface#examples

I'm still really curious how this is getting mixed in with your logs.  Can you share a repository with me so I can try to reproduce?

[2021-01-08 04:34] stas00 commented on #1676
oh, I was looking in the normal wandb docs, the HF-specific workaround worked - thank you!

It's happening on `transformers` master which you can reproduce with:

[code]

[2021-01-08 04:51] #1676 closed

[2021-01-08 06:19] joshmyersdean commented on #1526
@oliviersalaun were you ever able to resolve your issue?

[2021-01-08 10:28] jwallat commented on #1672
Did not change anything but it works today... So it does not seem to be related to wandb but my side (network/server configuration/maintenance/whatever). Thanks for your answer, though! :+1:

[2021-01-08 10:28] #1672 closed

[2021-01-08 17:16] cvphelps commented on #1651
Thanks for this suggestion. Could you share a quick script we could use to repro?

[2021-01-08 17:18] cvphelps commented on #1648
Thanks for reporting this. @ariG23498 could you please help reproduce this.

[2021-01-08 18:14] ariG23498 commented on #1648
Hey @viyx could you share the repository that you were working on while you faced this issue? That would really help me trace the problem quickly :smile:

[2021-01-08 18:33] viyx commented on #1648
Hey @ariG23498, my repo is
https://github.com/viyx/arc-nn.git -b hydra

[2021-01-08 18:59] cvphelps commented on #1673
hi @zimmer-m thanks for reporting this! What a bummer, I'm sorry to hear it's not working in Firefow.

[2021-01-08 21:04] tyomhak commented on #1667
Hey @kaiwenw , thanks for reporting. I'm taking a look.

[2021-01-08 21:08] tyomhak commented on #1667
yep, that seems to be a bug. I'm filing an internal ticket to fix this.

[2021-01-08 23:35] cvphelps commented on #1659
Hi, it sounds like what you mean is that the section containing the individual panels is paginated, only showing 3 panels right now. Is it difficult to drag down the corner of the section to see more charts?

[2021-01-08 23:39] cvphelps commented on #1657
Hi there, you can log a text table to wandb in different runs and then visualize it with the "Text Table" option in the UI.

![image](https://user-images.githubusercontent.com/6355078/104075432-0abae500-51d0-11eb-9e9e-e8aa968d4a1a.png)

[2021-01-08 23:43] cvphelps commented on #1654
Hi Kaiwen, thanks for the suggestion. We should have everything up until it crashes, but it depends on the type of crash honestly. If wandb doesn't have a chance to run our exit hooks, we might not be able to save the logs. The internal process is a child of the user process, so try to shut down gracefully. Could you tell me more about the nature of how your process is terminating?

[2021-01-08 23:53] cvphelps commented on #1650
Hi there, are you saying that you don't have a visible column that is one of the sorting columns? You might try making that column visible in the meantime, does that make the sorting work correctly for you?

[2021-01-09 03:13] ariG23498 commented on #1648
Hey @viyx
I tried reproducing this issue and here is what I did :point_down:
## Steps
- Created a repository from scratch and made an initial commit with the `readme` and `.gitignore` file. [Initial commit](https://github.com/ariG23498/wandb_bug/tree/94b85dff116da5bf8282cbab8b4a5683dd82af49)
- With this repository in hand, I created a basic `train.py` file with code to log some data in a new run.

[2021-01-09 05:03] cswinter opened #1680 "scan_history does not efficiently retrieve sparse metrics"
**Describe the bug**

Calling `scan_history` returns the very first data point but doesn't seem to make any subsequent progress.
Script seems to be stuck in wandb networking code, sample stacktrace:

[code]

The run I'm trying to download has a very large number of data points, but the requested metric is present in only 26 rows and the run page has now trouble loading it.

**To Reproduce**

My co

[2021-01-09 05:09] cswinter commented on #1680
After several minutes, it has now downloaded the second data point. I'm assuming the backend (slowly) scans over the entire set of logged values? Is there a more efficient way for me to retrieve the data while guaranteeing no sampling? (run page seems to be able to do it)

One workaround would be for me to spin up a hundred processes to download all the data I need overnight. Is that fine or would

[2021-01-09 05:20] cswinter commented on #1680
Hmm ok, `history` does seem to do what I want when setting the right `keys`. Is it guaranteed to return the full underlying dataset without any sampling/interpolation when settings the `samples` param higher than the number of data points?

[2021-01-09 08:25] viyx commented on #1648
Hey @ariG23498, thanks for the quick response and throughout repro.

I expect from the flag that no information about the code would be sent to the server at all, since I can use a private(commercial) repo.
I believe this logic is in priority.

I think no information after the first commit and execution should be sent to the servers as well as after the second one.

[2021-01-09 19:58] vanpelt commented on #1680
It looks like the issue is the shear volume of data here.  The current non-sampled history method will return all keys, which makes for a lot of bandwidth as well (if you pass `keys=` to scan_history we actually each "page").  Each request shouldn't take more than a few seconds though, I'm looking into the performance issues now.  We rate limit requests to ensure our backend can handle the load, i

[2021-01-09 21:22] vanpelt commented on #1680
Hey @cswinter I was able to reproduce the issue.  For especially sparse metrics you should definitely use the regular `history` method.  `scan_history` has to iterate over every step in the run.  Since you have 120 million steps, this is rather expensive.  The only time `history` won't work is if you have > than 10k data points for a specific metric.  The history sampling is smart enough to return

[2021-01-09 22:37] cswinter commented on #1680
Makes sense, thanks for the detailed analysis! I've started using the `history` method and it's been working well. I need much less than 10k data points so sounds it should be fine.

[2021-01-09 22:37] #1680 closed

[2021-01-09 22:41] cswinter commented on #1680
Small note: the maximum value of `_step` is about 125 million, but it is actually logged at an interval of 16384 so there should only be around 7630 datapoints which doesn't seem like that many.

[2021-01-09 23:08] vanpelt commented on #1680
Gotcha, the pagination logic for scanning the entire history needs to assume there could be a data point at every step so it needs to page across the entire 125 million which is what makes it so slow.  We're working on a big overhaul of our metrics backend so hopefully we can address this case better in the future.

[2021-01-10 09:00] kantholtz commented on #1253
Bump - because `pdb` also uses this old readline and control commands (such as C-a, C-e, C-p, etc.) don't work.

[2021-01-10 13:07] pandorica-opens opened #1683 "Not logging the None values in the wandb"
`None` values in
[code]
are not showing in the comparison table.

To reproduce, simply set any parameter (i.e. max_iter)
[code]
and try to find the column max_iter in the comparison table at:

`wandb.ai/username/projectname/table?workspace=user-username`,

where *username* is the login name and *projectname* is the name of the project that you're currently in.

I would expect the `None` values sti

[2021-01-10 17:15] qshzh commented on #698
I encountered the same issue. However, I am using sweep command line. wandb version is 0.10.12
Any suggestions?

[2021-01-11 03:40] ariG23498 commented on #1683
Hey @pandorica-opens
I tried reproducing the ticket, these are the steps that I have taken :point_down:

## Steps
- Executing the code to log some metrics
[code]

- Go to the overview page of wandb
![image](https://user-images.githubusercontent.com/36856589/104145311-78435d00-53ec-11eb-8fef-4f62bfff3ced.png)

The `max_iter` key that had `None`did get logged in the overview of the dashboard.

Let m

[2021-01-11 03:45] ariG23498 commented on #1647
Hey @MohammedAljahdali
Could you enlist the steps that you have taken to reproduce this behaviour?
Thanks! :smile:

[2021-01-11 03:49] cvphelps commented on #1644
Hi @seanswyi good feature request. Have you tried the search box at the top of the run page workspace? This might let you get the filtering you're looking for if you type "weight" or "bias" in there

[2021-01-11 03:52] cvphelps commented on #1655
Hi @kaiwenw good suggestion, we're not actively working on sweeps right now but we'll track this thoughtful request in the backlog for when we get there. For the moment, I'd suggest setting up an Alert to message you when you get a run that fails after 10 seconds!
https://docs.wandb.ai/app/features/alerts

And if you're feeling motivated and up for it, we're also excited to get PRs on this repo an

[2021-01-11 04:35] seanswyi commented on #1644
Hey @cvphelps ! Yes, I've tried using the search feature as well. Although it's usually sufficient for whatever I want to achieve, it just popped into my mind that it may be more convenient to have this filtering feature, as I'm aware that it seems if you use the search feature then your charts would disappear unless they contain the information you're trying to search for.

[2021-01-11 16:19] ignacioct opened #1686 "ValueError: I/O operation on closed file using Pytest"
**Describe the bug**
While discovering Python tests using pytest, I get the following error trace:
[code]

**To Reproduce**
I don know if it can be reproduced or it is just me, but I created a pytest file. The test is very simple and doesn't involve wandb.

**Expected behavior**
Test discovery should be made correctly

**Operating System**
 - OS: Ubuntu 20.04
 - Python 3.6.12
 - WandB  0.10.12

[2021-01-11 16:53] vanpelt commented on #1686
When you're running tests you should set `WANDB_MODE=disabled` this will prevent wandb from attempting to capture stdout / stderr. and from creating runs in your account.

[2021-01-11 17:10] ignacioct commented on #1686
Do you know where can I find that option? Or i just set that variable to disabled at the beggining of my test file?

[2021-01-11 18:03] RamanHacks commented on #1248
The issue still presists. Unable to save_code or log_model when using the latest wandb (version 0.10.12) in colab! Please help!

[2021-01-11 19:07] vanpelt commented on #1686
You can set it in your environment, or you can pass the `mode` keyword argument to wandb.init.  i.e.

[code]

[2021-01-11 19:13] vanpelt commented on #1248
Hey @RamanHacks I've confirmed save_code works with wandb.init in 0.10.12.  I'm not familiar with a `log_model` option.  Can you share a colab or some code that you're trying to execute?

[2021-01-11 19:15] RamanHacks commented on #1248
Okay! The issue is when I am using wand logger inside pytorch lightning! Only the logs get passed to wandb server not the code/model! But things work totally fine with ver:0.9.7!

[2021-01-11 19:17] vanpelt commented on #1248
That sounds like an issue with the Pytorch Lightning version, not the wandb version.  What version of PytorchLightning are you using?

[2021-01-11 19:19] RamanHacks commented on #1248
`wandb_logger = WandbLogger(name=config.WANDB_NAME,project='Named Entity Recognition', log_model=config.LOG_MODEL, save_code=True)`

** save_code=True** is the **kwarg that get passed to wandb initializer!

PL version is 1.1.3 which is the stable release as of now!

[2021-01-11 19:28] vanpelt commented on #1248
Pytorch Lightning calls model.save when it's finalized: https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/loggers/wandb.py#L191

If you can create a colab or snippet that consistently reproduces your issue along with any errors you're seeing we can get to the bottom of what's up.

[2021-01-11 20:13] ignacioct commented on #1686
Thank you so much

[2021-01-11 20:13] #1686 closed

[2021-01-12 10:27] #1612 closed

[2021-01-12 13:49] borundev opened #1690 "Cannot import wandb after importing attributedict"
**Describe the bug**

If one imports wandb *after* import attributedict there is an error. However, this doesn't happen always. I do not yet know why it doesn't happen when it doesn't, but below I give a Dockerfile that will reproduce the error

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Dockerile
[code]
2. Build the dockerfile `docker build . -t wandb_bug`
3. Run a container `d

[2021-01-12 18:10] cdancette commented on #1297
Hi,
I get the same error when I try to sync while having a job currently running.

[code]

Do you have any idea where it could come ? Could I help to debug this issue ?

[2021-01-12 18:29] vanpelt commented on #1297
Hey @cdancette syncing a run run while running is not supported.  Can you share a little more about your usecase?  One thing you could try is copying the run directory to a new directory while it's running, then sync the new directory.

[2021-01-12 18:40] cdancette commented on #1297
I'm running jobs on a slurm cluster, where nodes don't have access to internet. I'm running a lot of jobs concurrently, so I always have some jobs running. I'd like to run `wandb sync --sync-all` periodically to ensure that my online logs are up to date.

[2021-01-12 19:21] MohammedAljahdali commented on #1647
Do either an offline run, or interrupt the internet connection of an online run, until it becomes "crashed" on the website, then after the run ends on the machine (mostly ended manually), then try to sync the run data by using wandb sync <run dir>.

[2021-01-12 19:55] vanpelt commented on #1297
Can you try copying the wandb directory to a new location and then running sync?  This wasn't originally designed to work in this way so we would need to do some more work on our end to ultimately make this more robust.

[2021-01-12 21:16] michalmisiewicz opened #1693 "Sweep python agent hangs on Google Colab"
Sweep Python agent hangs on `wandb.init()` with following warning:
[code]

debug.log:
[code]
Previously the same code was working. Are you facing some issues ?

[2021-01-12 21:21] michalmisiewicz commented on #1693
Similar to #1409

[2021-01-12 21:38] vanpelt commented on #1693
Hey @michalmisiewicz can you share a colab that reproduces this?

[2021-01-12 22:37] pandorica-opens commented on #1683
Hey @ariG23498 I have taken the same steps and it indeed works, so max_iter is shown at the overview of the run as (-) at i.e. `https://wandb.ai/s6hakond/config_none/runs/14poojtn/overview` - I made this project public so you can use the link as it is. However, max_iter is still absent from the table with all runs (i.e. at https://wandb.ai/s6hakond/config_none/table?workspace=user-s6hakond) max_it

[2021-01-12 22:43] vanpelt commented on #1683
@pandorica-opens this is operating as intended.  It should become visible once any of your runs actually have a value in `max_iter`.

[2021-01-12 23:02] pandorica-opens commented on #1683
it was a bit confusing for me, but thanks for helping :)

[2021-01-12 23:02] #1683 closed

[2021-01-12 23:30] tssweeney commented on #1676
Hey folks - just following up here to ensure we are not leaking logs and cannot seem to get a repro. Tried all 6 permutations which might be applicable:
[code]

And none of these produce the leaked log. If this shows up again, I'll be happy to jump on it!

[2021-01-13 00:12] freefeynman123 opened #1695 "Problem with model logging to artifacts"
**Describe the bug**
When logging model artifact saved in .pth ot .h5 format, I encountered the following issue:

[code]

After all the model is saved in artifacts and seems to work fine, however it may be corrupted in some way and the log looks just terrible.

**To Reproduce**
[code]

**Expected behavior**
No error in log

**Operating System**
 - OS: Ubuntu (running on k8s cluster with nvidia/cud

[2021-01-13 00:12] TusharNimbhorkar opened #1696 "Problem with wandb run sync"
**Describe the bug**
The wandb run folder is not syncing. And seems to have gotten stuck(Waiting for some process to finish).
Other problem also includes the tensorboardX run is not syncing at the end of each epoch(run). So basically there is nothing on wandb.ai

**Screenshots**
![image](https://user-images.githubusercontent.com/6749360/104389542-78417b00-551a-11eb-8b65-43abfd42b0f1.png)

**Operat

[2021-01-13 02:17] stas00 commented on #1676
It was probably fixed by:
https://github.com/huggingface/transformers/commit/1c19b423bf274a465f95725a79819bf82f71329e
With the current master this one odd log line doesn't appear anymore. Instead I get a huge dump of wandb information.

[2021-01-13 04:48] tssweeney commented on #1695
Hello - thanks for the report and repro steps. On my machine I am not getting the same error. A few questions:
1. where are you seeing the error logs - in stdout or in one of the debug logs?
2. Can you share the script that produces the model leading up?
3. Which line is causing the error? is it in fact `run_train.log_artifact(artifact)`?

[2021-01-13 05:17] ariG23498 commented on #1647
Hey @MohammedAljahdali
I tried reproducing the issue.
Here is the code snippet and the steps that I have followed :point_down:

## Steps
- Create a project manually in my wandb profile. This project presently should have no runs what so ever.
- Use the following code snippet to run an offline run
[code]
- Upon running the above code snippet, the offline run executes. In the terminal itself, the co

[2021-01-13 07:43] Tiiiger commented on #1626
encountered the same issue. @jonashaag did you figure out how to deal with this?

[2021-01-13 09:47] borisdayma commented on #1626
I think the issue is at [this line](https://github.com/asteroid-team/asteroid/blob/1dc1c130f5c8a108fa1e285ed8c194e11ad1ed27/asteroid/engine/system.py#L134) and that maybe there's an issue with the step given.

Can you replace this with a call to `self.log("hp_metric", hp_metric)`?

If this does not work, you can also use https://github.com/PyTorchLightning/pytorch-lightning/pull/5351 with `sync_st

[2021-01-13 10:24] jonashaag commented on #1626
I’m dealing with it by not using W&B anymore ^^

[2021-01-13 12:44] hikmatkhan opened #1698 "Wandb agent not able to run the code (tasks was passed as argument)."
wandb: WARNING Config item 'tasks' was locked by 'sweep' (ignored update).

[2021-01-13 13:42] freefeynman123 commented on #1695
You can check the code from here https://github.com/freefeynman123/ifsl/blob/develop/MTL/models/mtl.py, especially for `MtlLearner`, is seems like the `run_train.log_artifact(artifact)` is causing the problem.

[2021-01-13 14:56] michalmisiewicz commented on #1693
The same code is working today.

[2021-01-13 21:00] radkoff opened #1699 "Updating config with ArgumentParser removes args from the parser Namespace"
**Describe the bug**
I'm using a yaml-based sweep to run a script in which I use ArgumentParser. I followed the config [instructions](https://docs.wandb.ai/ref/config) and called `update()`:

[code]

In this example `foo` is controlled by the sweep, but I also have other arguments not controlled by the sweep (which take on default values), and I'd like for all arguments to be recorded under wandb'

[2021-01-13 21:12] radkoff opened #1700 "Allow for optional boolean flags in sweeps"
**Problem or Use Case**
I'm using a yaml-based sweep config to run a script that uses ArgumentParser. Since ArgumentParser doesn't accept bool values, one of the [workarounds](https://stackoverflow.com/a/15008806/11954720) is to do the following:

[code]

In this scenario the `foo` will be False, unless `--foo` is provided. One could also add a `--no-foo` flag to make both options explicit.

I don

[2021-01-13 21:16] radkoff commented on #1700
Oh and a related problem: being able to sweep with None arg values. For an arg like `parser.add_argument('--foo', type=str, choices=['bar', 'buzz', None], default=None)`, omitting it results in a None in the parsed Namespace, but that's not possible to include in a wandb search AFAIK.

[2021-01-14 05:34] ekorman commented on #1699
I'm also having this problem on wandb version 0.10.13, but not on 0.10.12

[2021-01-14 07:09] creinders commented on #1297
I tried but unfortunately it is not working and the same error occurs

[2021-01-14 09:49] Yura32000 opened #1703 "Upgrading to 0.10.13 caused runtime error"
**Describe the bug**
I updated wandb to the latest version 0.10.13 from 0.10.12
The following line stopped to work properly.

wandb.log({'MappingFileDescription/MyDescription': wandb.Table(dataframe=df.describe())}, step=0)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

**Operating System**
 - OS: U

[2021-01-14 12:21] dreamflasher commented on #943
Thank you!

[2021-01-14 12:21] #943 closed

[2021-01-14 14:29] MohammedAljahdali commented on #1647
I think another cause is that my logs are large, becuase I am also logging the gradients and the parameters. This is my wandb code
[code]
Also, the size of the .wandb file in the run folder is almost 2 gb, I noticed something else that the images sync first and successfully.

[2021-01-14 20:07] raubitsj commented on #1699
Thank you for this report,  the behavior is a non intended side effect of some cleanups to help users avoid changing parameters that were already configured by the sweep.

We have reproduced the problem thanks to the code snippet and will make a development branch available within the next day and make a release with this fix in the next week (0.10.14)

For now, I recommend the workaround mentione

[2021-01-15 00:51] kaiwenw commented on #1667
@tyomhak  cool thanks! in the meantime is there a workaround?

[2021-01-15 00:54] kaiwenw commented on #1654
@cvphelps I'm just using a single-node GPU for training, and crashes might be due to bugs in the code (assert failures, or just RuntimeError). Which type of errors can your exit hooks handle?

Also, is everything up until it crashes available in the UI?

[2021-01-15 05:23] apjacob commented on #1297
I feel like this feature has regressed. I was on an older version ( I think 0.8) before and I was able to sync while the jobs were running without any issue. I updated to latest version and I can no longer do this and get the same error. I too use SLURM to run my sweeps and I would like to periodically sync to pull model files and check training metrics. My runs can last 2 weeks and so, this featu

[2021-01-15 05:36] raubitsj commented on #1699
Experimental fix for this issue:
[code]

[2021-01-15 12:47] creinders commented on #1297
I noticed that the buffer is not flushed to the file. Because of that the synchronization tries to read an empty file.

As a workaround, I tried to flush the data after it is written to the file.
For that, I changed
https://github.com/wandb/client/blob/769613787b8d94587838e99f2ec018bc02ae2924/wandb/sdk/internal/datastore.py#L160
to
[code]
and
https://github.com/wandb/client/blob/769613787b8d945878

[2021-01-15 14:58] ariG23498 commented on #1703
Hey @Yura32000
I happen to reproduce the ticket
This is the code that I have used:
[code]

This is what the dashboard looks like :point_down:
![image](https://user-images.githubusercontent.com/36856589/104742253-37db3a80-5770-11eb-93fe-af648928e7e8.png)

I did not happen to run into any problem whatsoever. Please let me know if I have missed on some details here.

[2021-01-15 15:04] ariG23498 commented on #1698
Hey @hikmatkhan Could you share snippets of code or the commands that you have used while you get this warning message? It would be nice if you could share your thoughts on the code or the process that you took to. We could also do with the expected working and some screenshots of the error that you are running into.

It would be really nice if you could follow [this pattern](https://github.com/wa

[2021-01-15 15:07] ariG23498 commented on #1696
Hey @TusharNimbhorkar
I am sorry for the delay. Could you also share some code snippet that could help me reproduce the issue with the latest version of wandb?
Thanks :smile:

[2021-01-15 15:21] ariG23498 commented on #1693
Hey @michalmisiewicz Would it be okay to close the issue as the problem has resolved? :smile:

[2021-01-15 15:25] ariG23498 commented on #380
Hey folks
We have added the feature request on the on boarding page :smile:
![image](https://user-images.githubusercontent.com/36856589/104745245-e0d76480-5773-11eb-8a9a-6ce7d1dea024.png)

Closing this ticket here. Please feel free to tag me and ask to reopen the ticket if need be,

[2021-01-15 15:25] #380 closed

[2021-01-15 15:43] michalmisiewicz commented on #1693
Sure

[2021-01-15 15:43] #1693 closed

[2021-01-15 17:23] cvphelps commented on #1648
Hi @viyx thanks for the clarification on expected behavior. It sounds like you want a flag that also prevents the library from capturing links to your git commit, not just a flag that prevents any code uploading to wandb servers.

[2021-01-15 17:58] vanpelt commented on #1297
Nice sleuthing!  I'll need to sync with our lead on the project, but we should be able to add these flush statements in the next release.  Regarding the duplicate key error, we're looking into solutions.  I'll ping our backend lead on this specific issue.

[2021-01-15 18:56] viyx commented on #1648
Hi @cvphelps, I expect non capturing links to source code(no commit id, no link to repo, no any info from git).
I don't know anything about source code uploading to wandb servers(I guess this is not happen because it would be strange).

[2021-01-15 21:40] tyomhak commented on #1690
Hey @borundev , thank you for reporting the issue. We're looking into it.

[2021-01-16 04:18] raubitsj commented on #1699
The fix was just released in 0.10.14:
[code]

[2021-01-16 04:18] #1699 closed

[2021-01-16 10:00] sobir-git opened #1713 "When moving a run to a new project, its logged artifacts stay in the previous project"
**Describe the bug**
When moving a run to a new project, its logged artifacts stay in the previous project.

**To Reproduce**
Steps to reproduce the behavior:

1. Log an artifact:
[code]
2. Then go to the project dashboard and move this run to another project, e.g. "test-project1".
3. Try to use the artifact in Colab (first, copy the run path and replace with variable `run_path` below):
[code]
[co

[2021-01-16 13:53] suarezjessie opened #1714 "Artifacts: Easy feature to capture all the code and certain extra files every time the model trains"
This isn't really a bug I think but is there a way to save other files being called by `train.py` file? For example, I'd also like to track `model.py` or `dataset.py` whenever I run an experiment.

[2021-01-16 18:31] cvphelps commented on #1695
Thanks, it appears this might be an issue with the particular setup you have. @ariG23498 could you please try to repro this one when you get a chance

[2021-01-16 23:33] sobir-git opened #1716 "Cannot download large artifact completely"
I am logging a large pickle file (572 mb) as an artifact. It shows well on the dashboard.. However when I try to use it in another script with `artifact.download()`, it downloads but I am not able to unpickle it. Raises the following exception:
[code]
And then I check the downloaded artifact file size in the `artifacts` local folder, it is smaller than the original (294 mb). I tried to download it

[2021-01-17 01:36] lminer commented on #1461
@vanpelt did you ever make any progress on this?

[2021-01-17 19:38] blizda commented on #1716
Same isssu reprodusing by me. I log large artifact(1,2GB) pytorch file, but wen i trying download it - artifact don't loading complitly. This issue reprodusing with all wandb versions sinse 0.10.3 to 0.10.14

example code for reprodusing
[code]

[2021-01-17 22:19] rleonard1224 opened #1720 "detectron2 and wandb"
**Describe the bug**
I'm having trouble getting weights and biases to write out the results of a detectron2 training session run from a google colab notebook.

**To Reproduce**
The block of code I was using to have detectron2 write out to weights and biases is:

##################################################################################################
%pip install wandb
wandb.login()
wandb

[2021-01-18 15:31] yangj1e commented on #1265
Any fix to this? I got the same problem.

[2021-01-18 16:06] yanaiela commented on #1650
I tried. Also when both columns are visible, it sorts by the secondary item.

[2021-01-18 23:44] #1348 closed

[2021-01-19 03:22] cvphelps commented on #1700
Hi Evan, thanks for the good suggestion. We will be returning to Sweeps to start a new batch of improvements next quarter, and I'll include your feedback in that process.

[2021-01-19 04:05] annirudh commented on #1716
Thanks for the steps to reproduce the issue. I do see that for large files, the download drops before the full file is finished downloading. The files are fully intact on our side, but our server is failing to fully transmit them. We'll push a fix.

[2021-01-19 10:52] ariG23498 commented on #1720
Hey @rleonard1224 could you link us to your `colab` notebook? This way we would be able to repo the ticket ASAP. It would be even better if you could add the wandb dashboard along with the colab notebook. :smile:

[2021-01-19 11:09] ariG23498 commented on #1714
Hey @suarezjessie
Going by the [documentation](https://docs.wandb.ai/ref/init#init), `save_code` will only save the entrypoint which is the `train.py`. To save the other files as well, I would suggest you to look into `Artifacts` that we provide as a tool. With astifacts you can not only save code but also save entire models and much more and version them according to your own experiments. :smile:

[2021-01-19 11:22] ariG23498 commented on #1713
Hey @sobir-git
Thanks for the ticket and the repro steps!
Will help flag this internally :smile:

[2021-01-19 15:28] cvphelps commented on #1713
This is a good point, thanks for reporting this. I'm thinking this is a little complicated for us, because if you have a large project that relies on a set of artifacts, you might not expect an artifact to get moved/deleted with its parent run. I'll need to think more about the behavior here — we might need to add another feature to let you move artifacts between projects, and an option when movin

[2021-01-19 17:18] vanpelt commented on #1461
@lminer we made a few fixes in recent releases that should address this.  Can you try again with the most recent release?  If it still doesn't work can you send me a link to a failed run or a snippet of code and the version of tensorboard you're using to reproduce this?

[2021-01-19 17:23] lminer commented on #1461
@vanpelt Sure. I just started this [run ](https://wandb.ai/lminer/separate/runs/2saqv766?workspace=user-lminer)on the most recent version of wandb. I'm actually not getting any metrics at all anymore. Tensorboard is 2.4.0.

[2021-01-19 18:01] vanpelt commented on #1461
The code hasn't uploaded for that run yet, it likely will when it finishes.  Are you able to make a little snippet with dummy data that can reproduce the issue?

[2021-01-19 19:33] alexiej opened #1723 "Emojis still show on AWS even if it's turn off: UnicodeEncodeError: 'ascii' codec can't encode characters in position 7-8: ordinal not in range(128)"
**Describe the bug**
When I init the second time project:

[code]

The output show the emoji "star" from the code, but on the AWS server this shows below error. I try turn off the emoji by settings but still got the error.

https://github.com/wandb/client/blob/613af063b55f7706a3ecb9ce3f622684b4d9f78f/wandb/sdk/wandb_run.py#L1227
[code]

[code]

**To Reproduce**
AWS login

**Expected behavior**
No

[2021-01-19 19:37] tyomhak commented on #1723
Hey @alexiej , thanks for reporting. We're looking into this.

[2021-01-19 22:51] lminer commented on #1461
Sure thing. I just used the example from [here](https://github.com/wandb/client/blob/75d59dcb5359b58bd8731032a691a33eae8f4b17/standalone_tests/keras_tensorboard.py), adding in an s3 path for the tensorboard logdir.

[code]

[2021-01-20 00:35] vanpelt commented on #1461
Thanks @lminer I was able to reproduce the issue and just pushed a fix.  You can try it now with: `pip install --upgrade git+git://github.com/wandb/client.git@bug/tensorboard_s3#egg=wandb`.  Let me know if you're still seeing issues, this will be included in the next release.

[2021-01-20 03:52] Haoxiang-Wang commented on #1265
Got the same problem when using pytorch-lightning & wandB. Strangely, in the first epoch, the progress bar works fine. However, after the first epoch, the bar gets messy. Don't know what's happening inside.

[2021-01-20 03:54] RyleeThompson commented on #1700
+1, this would be nice

[2021-01-20 04:34] annirudh commented on #1716
Hi @sobir-git and @blizda, just wanted to let you know that we just deployed a fix for this issue. Larger files should properly download from both the web UI and the client.

Apologies for the trouble this issue caused! Please follow up on this thread if you are still encountering download issues.

[2021-01-20 04:34] #1716 closed

[2021-01-20 05:27] vanpelt commented on #1265
@Haoxiang-Wang @yangj1e  you can set the environment variable `WANDB_CONSOLE=off` which is a temporary fix.  The next release of the library should fix this issue for good.

[2021-01-20 12:04] Yura32000 commented on #1703
--> 174     wandb.log({f'Mapping File Description/{caption}': wandb.Table(dataframe=df.describe())}, step=0)
    175
    176

~/tf24/lib/python3.6/site-packages/wandb/data_types.py in __init__(self, columns, data, rows, dataframe, dtype, optional)
    513         # Explicit dataframe option
    514         if dataframe is not None:
--> 515             self._init_from_dataframe(dataframe, columns,

[2021-01-20 12:05] Yura32000 commented on #1703
This is error I get from upgrading 0.10.12 to latest version

[2021-01-20 12:21] blizda opened #1726 "Can't download artifact from colab and another google cloud vm"
I trying to donload artifct from W&B inside colab and google cloud vm, and get error

[code]

From web ui, artifact donloading normally, from my local pc - too

colab  notebook to reprodusing: https://colab.research.google.com/drive/1WPXkW5pmCDDQ_YCc6hwaZmPmpZJcaonv?usp=sharing

full stacktrace

[code]

[2021-01-20 16:41] tssweeney commented on #1703
Hi @Yura32000 - hopefully I can help here.

Firstly, the error is claiming that the data in a particular column is of mixed type (we recently added enforcing a single type in a column). Specifically, it is saying that it got an np.int64, followed by a the value 5617 (which I suspect is a python int, or perhaps an np.int32). In any case, I agree that it is a bug as the second value should be able t

[2021-01-20 18:56] annirudh commented on #1726
Hi @blizda, we just pushed a change that makes the downloads go directly through GCS so you shouldn't experience download failures. Could you confirm whether your downloads work now?

[2021-01-20 19:08] blizda commented on #1726
Yes, now downloading works normally, thanks

[2021-01-20 19:08] #1726 closed

[2021-01-21 04:17] qshzh commented on #1314
@tomsercu  I encountered the same issue. Do you figure it out or maybe we can file a new issue?

[2021-01-21 08:23] Yura32000 commented on #1703
172 def wandb_log_mapping_file(df, caption):
    173     wandb.log({f'Mapping File/{caption}': wandb.Table(dataframe=df)}, step=0)
--> 174     wandb.log({f'Mapping File Description/{caption}': wandb.Table(dataframe=df.describe(), dtype=wandb.sdk.interface._dtypes.AnyType)}, step=0)
    175
    176

AttributeError: module 'wandb.sdk.interface' has no attribute '_dtypes'

[2021-01-21 08:23] Yura32000 commented on #1703
The fix still doesn't work

[2021-01-21 14:52] rleonard1224 commented on #1720
Hi.  Thanks for your message.  For my wandb dashboard, when I click on a run and look in the charts tab I get the message 'No metrics logged yet.'  A version of my notebook is posted below:

###########################################################################################
Install Python Packages
# install dependencies:
!pip install pyyaml==5.1
import torch, torchvision
print(torch.__vers

[2021-01-21 14:55] tomsercu commented on #1314
Nope, I have no progress on this issue.
However, the issue doesn't occur when running with hydra's `--multirun` and the **slurm launcher** (note default launcher is running things locally sequentially in the same process). Quickly looking at the `hydra/launcher=joblib`, I think this would probably avoid the issue too -- since Joblib.parallel spins up several python subprocesses.

[2021-01-21 23:11] lminer commented on #1461
Thanks. It works!

[2021-01-21 23:45] tssweeney commented on #1703
@Yura32000 - apologies for the wrong import pattern. You should be able to say:
[code]

I just validated this locally.

[2021-01-22 01:59] HaoLiuHust opened #1733 "[Feature] How to delete an user?"
Is there a way to delete an user?

[2021-01-22 02:22] cvphelps commented on #1733
Hi there, are you trying to delete a user from a team? You can remove them from the team settings page. If you go to your team page and look in the left sidebar, you'll see a small gear icon with a "Team settings" link.

[2021-01-22 11:04] freefeynman123 commented on #1695
I was working with Docker image based on nvidia/cuda:10.1-cudnn7-devel-ubuntu18.04 which comes with Python 3.6.9, after installing Python 3.8.7 and launching training with it the error disappared, so I changed my base image to  nvidia/cuda:11.1.1-cudnn8-devel-ubuntu20.04 and the error is gone. Thank you for your time, it was my setup after all.

[2021-01-22 11:04] #1695 closed

[2021-01-22 17:50] bashkanov opened #1737 "Sweeps are unable to change values from config-defaults.yaml with allow_val_change=True in wandb.init()"
**Describe the bug**
Unable to start the sweep when using local config file `config-defaults.yaml` containing some default parameters.

My issue is related to this one [#1159](https://github.com/wandb/client/issues/1159). With default parameters as dictionary passed to it works well `wandb.init()`, but when I use local config file in the root of the project `config-defaults.yaml` and the option `a

[2021-01-22 18:36] yashasvi97 commented on #473
Hi @raubitsj,
Is there a way to log only specific system metrics? like gpu performance, and temperature. Other stats like disk I/O, process CPU are not so important for my use case, and since all of the data generates a big log, it is difficult to render on the portal. An option of logging specific stats via passing arguments might be useful.

[2021-01-22 19:36] AndrewPelton opened #1738 "[CLI]"
**Description**
artifact.download() crashed the script in pytorch lightning ddp mode with more than one GPU

"None type has no attribute download"

[2021-01-22 19:37] AndrewPelton opened #1739 "artifact.download() crashed the script with more than one GPU, "None type has no attribute download""
**Description**
artifact.download() crashed the script in pytorch lightning ddp mode with more than one GPU

"None type has no attribute download"

Works fine with 1 GPU

[2021-01-22 19:58] raubitsj commented on #473
@yashasvi97 , good idea.  We are about to launch more configurable settings and we can include finer settings like you suggest.

[2021-01-22 20:10] vanpelt commented on #1738
Hey @AndrewPelton can you share the code you used to set the `artifact` variable?

[2021-01-22 20:20] AndrewPelton commented on #1738
Sure it's something like this:

from pytorch_lightning.loggers import WandbLogger
wandb_logger = WandbLogger(project=args.project, name=args.run_id, id=args.run_id)
artifact = wandb_logger.experiment.use_artifact(args.artifact, type='model')
artifact_dir = artifact.download()

[2021-01-22 21:33] vanpelt commented on #1738
Hey @AndrewPelton, that means that `args.artifact` is specifying an artifact that does not exist.  Can you share the `args.artifact` string so we can verify it actually exists?

[2021-01-22 22:20] AndrewPelton commented on #1738
I'm sure the file exists - the code works fine with a single GPU. It only crashes with multiple GPUs.

[2021-01-23 00:34] vanpelt commented on #1738
It's not a file, it's an artifact path like: "username/project/artifact_name:v21".  Can you share what the value of args.artifact is?

[2021-01-23 00:36] vanpelt commented on #1738
What could be happening is you're not including the username or project.  In mutli GPU mode `wandb.init` will only be called in the master process which sets the username and project.  The sub process wouldn't know which W&B username or project unless you specify the full path.

[2021-01-23 00:44] AndrewPelton commented on #1738
Sorry I meant artifact. I'm unable to share the specific string but it is the full artifact path in the correct format you mentioned:(username/project/artifact_name:latest)

[2021-01-23 01:12] vanpelt commented on #1738
If you can't share the specific string, we'll need a code snippet to reproduce this issue.  Can you make a small script that we could use to reproduce what you're seeing?

Looking at [the code](https://github.com/wandb/client/blob/master/wandb/sdk/wandb_run.py#L1794) I can't see how `use_artifact` would ever return `None`.

[2021-01-23 06:44] Yura32000 commented on #1703
Thanks it works now

[2021-01-23 06:44] #1703 closed

[2021-01-23 14:24] Mirofil commented on #1409
Just started having the same issue. Code was working fine previously, still runs fine on local, but there are permission errors when running on Paperspace.

`2021-01-23 14:04:39,804 INFO    MainThread:2836 [internal.py:wandb_internal():64] W&B internal server running at pid: 2836
2021-01-23 14:04:39,807 DEBUG   HandlerThread:2836 [handler.py:handle_request():55] handle_request: check_version
2021-

[2021-01-23 17:09] jacobdanovitch commented on #1738
Getting a similar error on the `use_artifact` call itself.

[code]

This doesn't work even when only using one GPU.

[2021-01-23 17:18] jacobdanovitch commented on #1738
Ah okay, got it. I was running an offline run with `WANDB_MODE=dryrun`. In that scenario, it looks like `run._run_obj == None`. I guess line 1680 of `wandb_run.py` should either be changed to:

[code]

Or it should just throw an error saying that we shouldn't be using artifacts with offline runs (not sure if this is intended to be supported).

[2021-01-23 19:10] vanpelt commented on #1409
@Mirofil the error you're seeing is `Invalid or missing api_key.`.   This could be caused by logging in with a key that does not have access to the project you're attempting to log to.  Can you try just setting the `WANDB_API_KEY` environment variable to an api key you're sure has access to the team / project you're attempting to log results to?

@AnxietyYoungPoet are you still seeing this error w

[2021-01-23 22:03] cswinter opened #1742 "`scan_history` fails to return all data"
[code]

I expect this to return the full set of data points, of which there should be around 7630 (I could be off by one).
Instead, `scan_history` seems to drop dozens of data points at the beginning of the run.
The first `_step_` should be 16384, as can be confirmed by visiting the run page.
I'm using `wandb==0.10.12`.

[2021-01-23 22:06] cswinter commented on #1742
(not sure why it labeled it `cli`, but should probably be `bug`?)

[2021-01-23 23:52] AvivSham commented on #1206
Hi all,
I'm still facing the same issue I log two different numpy arrays in my code, one of them I can see over the dashboard and the other one I can't. I also tried the trick with ```.item()``` but it didn't work for me.
I spoke with Diganta about this issue and he told me he would try to reproduce it.

[2021-01-24 00:45] vanpelt commented on #1742
Hey @cswinter when you specify `keys` to scan history we only returns rows that have those keys.  You should be able to run `scan_history` without the `keys` attribute to get every row in your history.

[2021-01-24 02:54] lucastononrodrigues opened #1743 "Can't log in "module" object is not callable"
How do I solve this problem?

Apparently, every time I try to log in it won't work for any reason whatsoever.

I could actually turn this around by just launching the code normally and then the API will ask me to log in.

When I logged in to my virtual machine it worked just fine (no type error), the only difference is that in my PC I'm using anaconda prompt as terminal.

But I need to fix this in

[2021-01-24 06:18] greeneggsandyaml opened #1744 "View .sh files in the web app [Feature]"
**Is your feature request related to a problem? Please describe.**
I love wandb. I use save_code to save my code and often view it in the online web app. However, when I save a .sh file, the web app gives "File type unknown". I obviously can download the file and view it locally -- this is what I currently do. It's not a big problem by any means, but it would be really nice to be able to view scri

[2021-01-24 08:14] vanpelt commented on #1743
@lucastononrodrigues we don't publish our library in conda currently.  We're working with conda to get the current `wandb` package that's in conda removed, it's not something we authored.  Is everything working for you now?

[2021-01-24 11:55] HaoLiuHust opened #1745 "[Feature] Is there a way to delete a run from api or command line?"
I am writing a script to use wandb, I wonder is there a way to delete a run from api or command line?

[2021-01-24 12:56] AvivSham commented on #1206
It looks like it is logged as a media plot and not as a line plot. The workaround is to create a new panel with Y-axis of the desired variable. I must say it's not convenient and it's worth investigating why does is happen.

[2021-01-24 14:18] Yura32000 opened #1746 "Execution Queue to run experiments (ablation study) on local servers"
Execution Queue to run experiments (ablation study) on local and remote servers

Currently, we use W&B paltform as the solution for the epxeriments and  history management along with visualization for our current workflow.
However, under our worklow each resercher develops an experiment on his own computer abd then launches it on local server.
Since, we have more developers than servers we need a

[2021-01-24 16:04] lucastononrodrigues commented on #1743
Yes. Thank you.

[2021-01-24 18:00] freefeynman123 opened #1747 "[CLI] Metrics of sweep runs are not shown with id in wandb.init"
**Description**
The metrics used for hyperparameter optimisation with sweeps are not logged when id is passed to `wandb.init` method. Individual runs do not show their metrics either.

**How to reproduce**
Example of a run with such bug: https://wandb.ai/freefeynman123/ifsl-MTL_sweeps/sweeps/q9fxzeuo?workspace=user-freefeynman123

The code for this project can be viewed in: https://github.com/free

[2021-01-24 22:09] cswinter commented on #1742
I see, so _every_ metric specified in `keys` has to be present, that makes sense actually. Not sure if getting a full history of every metric is feasible, but if that doesn't work I could also just request each metric I want individually.

[2021-01-24 22:09] #1742 closed

[2021-01-25 03:57] tssweeney commented on #1676
Awesome - thank you for that tip. I can confirm that before the change, the `internal process exited` log would be emitted. After the change, wand's normal output can be observed.

[2021-01-25 09:50] sirtris opened #1751 "Cannot use pytorch-lightning logger and log artifacts in the same run"
**Describe the bug**
Two different runs are created when using the pytorch-lightning logger and also logging artifacts.

**To Reproduce**
To log the version of my data set as an artifact I do:
[code]
Then I create my model and data_set class etc. (just follow the normal pytorch-lightning steps)
At the end I create the wandb pytorch-lightning logger:
`wandb_logger = WandbLogger(project='My-project'

[2021-01-25 11:16] LindaSt commented on #1507
I have a similar issue, I'm logging in the following way:

[code]

The training loss and accuracy are logged step-wise to wanddb but nothing is logged from the validation phase. I get the following warning: `wandb: WARNING Step must only increase in log calls.` (full log below). I also get one warning regarding the training at the beginning, but nothing more later on. Adding `on_step=False, on_epo

[2021-01-25 14:21] #1751 closed

[2021-01-25 16:59] nasimrahaman opened #1752 "[CLI] UsageError: Error communicating with backend"
**Description**
Some of my jobs are failing (since around yesterday) with `UsageError: Error communicating with backend`. The relevant part of the stacktrace (w.r.t an earlier version of wandb-client) is:

[code]
It appears to be from [this line](https://github.com/wandb/client/blob/0d5b1785ccadf6d275d3fb084d226b7b91506c11/wandb/sdk/wandb_init.py#L462), which in turn appears to come from a time-ou

[2021-01-25 17:22] borisdayma commented on #1507
For info https://github.com/PyTorchLightning/pytorch-lightning/pull/5351 just got merged so this problem will be fixed in next release of pytorch-lightning by using `sync_step=True`.

[2021-01-25 20:25] tyomhak commented on #1737
Hey @bashkanov , thanks for reporting this. Can you please check if the issue persists for you in the latest wandb version (0.10.15)?

[2021-01-25 20:26] tyomhak commented on #1739
Hey @AndrewPelton , thanks for reporting. Do you think you could share a minimal reproducing script for this?

[2021-01-25 20:27] tyomhak commented on #1744
Hey @greeneggsandyaml , thank you for the kind words!
I'm filing an internal ticket to support viewing .sh files in the app. Thank you for the request!

[2021-01-25 20:32] #1659 closed

[2021-01-25 20:32] tyomhak commented on #1745
Hey @HaoLiuHust , I'm afraid currently we do not support deleting runs from the API. I believe it's possible to delete runs only from your workspace at the moment.

Could you describe your use case for deleting a run from the API/command line?

[2021-01-25 20:34] greeneggsandyaml commented on #1744
Brilliant, thank you!

On Mon, Jan 25, 2021 at 3:28 PM Artyom Hakobyan <notifications@github.com>
wrote:

[2021-01-25 20:43] tyomhak commented on #1746
Thank you for the request, @Yura32000 . We're looking into it.

@vanpelt do you know if there's a fast workaround for this?

[2021-01-25 20:47] tyomhak commented on #1752
Hey @nasimrahaman , thanks for reporting this. Can you check which wandb version this is happening with?

[2021-01-25 20:57] cvphelps commented on #1713
Hi @sobir-git, following up on this conversation. Could you tell us a little more about why you're moving runs between projects? Is this an organization issue that could perhaps be addressed by adding tags instead of moving runs?

For the moment we are sticking with the existing functionality — move a run, and any output artifacts stay in the original project.

[2021-01-25 21:22] sobir-git commented on #1713
Hi @cvphelps, thanks the reply. The reason for moving runs was that I wanted to split a project into two. I had two slightly different kinds of runs that were making the dashboard complicated. So, actually the reason was to get separate dashboards for each kinds of runs. I think it's not an issue for me now, since I learned to use reports for this purpose.

[2021-01-25 21:37] davidsvaughn opened #1754 "[CLI] init fails"
`wandb --version && python --version && uname`
wandb, version 0.10.15
Python 3.8.7
Linux

**Description**
Just trying to simply run wandb.init().
I created account and copied API_KEY.
I install wandb and login from shell:
[code]
Then run python script:
[code]
And I keep getting this error.  I've tried repeatedly deleting .netrc file.... does not help....
[code]

[2021-01-25 23:25] vanpelt commented on #1754
Can you share the tail of your `wandb/debug-internal.log`?  Have you ever logged that machine into a self-hosted instance of wandb?  If so, you could try `wandb login --cloud` to ensure it's communicating with our cloud servers instead of a potentially non-existent local server.

[2021-01-26 02:17] qshzh commented on #1525
any plan to fix this in the next version?

[2021-01-26 08:47] bashkanov commented on #1737
Hi. Yes, I can confirm that with in version (0.10.15) the problem still persists.
Here are some logs:
[code]

[2021-01-26 09:52] hv10 opened #1756 "[CLI] Unable to import WandbCallback w/ Tf2.4"
**Description**
When using Tensorflow 2.4.0 the import of the keras WandbCallback results in the following error:
[code]
The issue is most likely happening because in Tf2.4 the class `TrainingLoop` can be found in `tensorflow/tensorflow/python/keras/engine/training_utils_v1.py` instead. The issue is not present at Tf2.3 or Tf2.2 (I stopped testing here).

**Wandb features**
Nothing, planned on usi

[2021-01-26 10:00] hv10 commented on #1756
On closer inspection it seems that the origin of the error is within tensorflow, if that should be the case I will remove the Issue.

[2021-01-26 10:06] hv10 commented on #1756
Issue was resolved by properly updating tensorflow. Sorry for the trouble.

[2021-01-26 10:06] #1756 closed

[2021-01-26 10:15] gabriel-vanzandycke opened #1757 "[CLI] UnicodeEncodeError: 'ascii' codec can't encode character '\u2b50'"
**Description**
Using wandb through a SLURM job, I get an `UnicodeEncodeError` on some nodes on which code is being executed (not all).
I narrowed down the issue and the character that raises the error (not obvious from the original message) is the "white medium star": `\u2b50`.

**How to reproduce**
Minimal script allowing to reproduce error: `test.py`
[code]
launched with (SLURM command):
[code]

[2021-01-26 10:24] gabriel-vanzandycke commented on #1757
a quick fix is to change the following in the final block of `_log` defined in `wandb/errors/term.py`:
[code]

[2021-01-26 10:25] gabriel-vanzandycke commented on #1757
failing characters (so far): ⭐️  🚀

[2021-01-26 10:30] joshlk commented on #452
@raubitsj has does wanadb now support support distributed training? Can you point me in the right direction as I can't find any documentation.

[2021-01-26 13:27] timellemeet opened #1758 "[CLI] Abnormal program exit in Colab when using %reset"
**Description**
Wanted to share this to save others some time. In Colab (haven't checked Jupyter) you might use `%reset -f` in combination with "run all" to rerun your notebook due to deleting *all* namespaces.

**Traceback**
[code]

**How to reproduce**
1. init
2. `%reset -f`
3. init

**Environment**
- Environment: Google Colab
- Python Version: 3.6.9

Fix:
Only clear your own namespace:
 `%reset

[2021-01-26 13:27] #1758 closed

[2021-01-26 14:09] davidsvaughn commented on #1754
Thanks @vanpelt --  that solved it!
In fact I _had_ logged into a self-hosted instance previously.
`wandb login --cloud` resolved the error.

[2021-01-26 14:10] nasimrahaman commented on #1752
Hi @tyomhak, I'm on `0.10.12`.

[2021-01-26 17:20] tyomhak commented on #1757
hey @gabriel-vanzandycke , thanks for reporting and sharing a fix! Can you please try disabling emojis like this
`wandb.init(settings=wandb.Settings(show_emoji=False), reinit=True)` , and check if that fixes the issue for you?

[2021-01-26 17:44] tyomhak commented on #1747
Hi @freefeynman123 , thanks for reporting this. We're looking into it.

[2021-01-26 17:46] tyomhak commented on #1752
Can you update to the latest version (0.10.15) and check if the issue persists?

[2021-01-26 17:47] tyomhak commented on #1737
Thanks! we're looking into this issue.

[2021-01-26 18:30] tyomhak commented on #1667
Hey @kaiwenw , sorry for the late response. Not that I'm aware of. btw right now it seems like there are runs that are successfully getting filtered — did you change the way you log this parameter?

[2021-01-26 22:17] tvetterli-fn opened #1759 "[Feature] - allow users to specify title for wandb.roc_curve and wandb"
**Is your feature request related to a problem? Please describe.**
As a user, if I log multiple ROC curves to a run, they will all have the `ROC curve` title, and I then have to go and manually update the titles via the UI.

**Describe the solution you'd like**
I would like to be able to set the title of plots programatically, by adding a `title` argument [here](https://github.com/wandb/client/blo

[2021-01-26 22:52] tyomhak commented on #1759
Hey Thomas! Thanks for the request. We have an internal ticket filed for this.

[2021-01-27 02:33] rleonard1224 commented on #1720
Hi.  Thanks for your message.  This [link](https://dadoes-my.sharepoint.com/:f:/g/personal/rick_rendered_ai/EtuBuWyynVVAkAo0L1qS5boBx9bsk-XWms0fUQx9xtMWYQ?e=UKiTp1) contains a version of the colab notebook that is generating the error message I posted above.  This link also contains the dataset that can be used to run the colab notebook.

[2021-01-27 03:06] glenn-jocher commented on #554
Unfortunately in this example if every step takes a long time (as is typical in ML workflows, i.e. 30 minutes), then the current metrics are seriously delayed from displaying in the dashboard.

[2021-01-27 04:06] kaiwenw commented on #1667
I did not change anything I think; but glad the UI is working now!

[2021-01-27 04:06] #1667 closed

[2021-01-27 07:13] raubitsj commented on #554
@glenn-jocher:
When you specify step to the log method we do not immediately commit the data so that you can add more info to that step later.   If you want it to be committed to the dashboard immediately do:
[code]

[2021-01-27 07:32] glenn-jocher commented on #554
@raubitsj ah, thanks for the tip. Is there a way to independently request a commit of the currently held data without adding additional data, i.e. perhaps `wandb.commit()` or similar?

The reason I ask is our `wandb.log(..., step=epoch)` call is in a for loop that's shared with other loggers:
[code]

[2021-01-27 15:08] gabriel-vanzandycke commented on #1757
surprisingly, it doesn't :(

[2021-01-27 16:08] johncookds opened #1762 "[CLI] Continuing to log on the same run without having to re-init"
**Is your feature request related to a problem? Please describe.**
Hi,
I am using the huggingface/transformers library, they have a WandbCallback integrated. I run a transformers script, using subprocess.call(), from a script which initializes wandb. The WandbCallback in the Huggingface/transformers Trainer creates it's own run instead of using the run which is already initialized(it actually logs

[2021-01-27 16:56] vanpelt commented on #554
@glenn-jocher we can only `commit` data once per step.  When you're specifying `step` we only commit the data when the step increases.  If you want precise control of when we commit the data, I would not specify step and instead store your x-axis in a custom metric.  For example:

[code]

Will commit tag and epoch immediately.  If you want to compare multiple metrics on the same chart: i.e. loss,

[2021-01-27 17:41] glenn-jocher commented on #554
@vanpelt thanks for the ideas! That last code snippet of yours looks interesting. I experimented with including `epochs` in the dictionary, but realized it required additional steps on the dashboard to select it as the default x axis, and also added an unwanted `epochs` (on the y axis) chart to the default dashboard as well (didn't want to confuse new users).

I was thinking of settling on this ha

[2021-01-27 18:11] johncookds commented on #1762
I've found a solution so will post it here and close the request.
The current solution is:
1. Setting the WANDB_RUN_ID environmental variable will connect the runs
2. The logging should work as is but the system metrics will double up, so you'll need to disable the system logging on one of the two init statements by passing wandb.init() the parameter:
settings=wandb.Settings(_disable_stats=True)

[2021-01-27 18:11] #1762 closed

[2021-01-28 05:30] kenmbkr opened #1765 "[Feature] Please improve the UI of the dashboard for reviewing the gradients."
**Is your feature request related to a problem? Please describe.**
When I have multiple models with hundreds of gradients, I have to keep clicking next page to find the gradients of a particular layer of a particular model in the dashboard. This is not only time consuming, but also makes it difficult to estimate the magnitudes of the layers in the same model, since the gradients do not seem to be

[2021-01-28 05:54] qshzh commented on #716
@ariG23498 I am also interested in this feature. It will be useful to find the good hyperparameters if we can run parallel jobs. Can newer version wandb support it?

[2021-01-28 09:26] rvinas commented on #1249
I'm having similar issues with version 0.10.14. The command:
`python test_yaml.py --configs CONFIG_FILE.yaml`
results in an empty `wandb.config` dict.

[2021-01-28 10:25] Dewald928 commented on #1249
I haven't tested it again.

But first try putting the contents of that config file into ```config-defaults.yaml``` and rerun it without the --configs.
If that doesn't work, try version 0.10.6.

[2021-01-28 10:32] rvinas commented on #1249
The default config file `config-defaults.yaml` works with version 0.10.15. However, the --configs argument appears to be broken (e.g. I cannot load another config file). I ended up using `argparse` and `yaml` myself to read the parameters of another config file.

[2021-01-28 13:07] danilpolkov opened #1767 "[CLI] unfinished process"
**Description**
hi, I used wandb for tracking my model training process, and accidentally delete record for running process in web app, after that every next time I tried to run new training few messages appears

wandb: Currently logged in as: danylopoliakov (use `wandb login --relogin` to force relogin)
wandb: Tracking run with wandb version 0.10.15
wandb: Syncing run snowy-puddle-6
wandb: ⭐️ Vie

[2021-01-28 14:53] andrewliao11 opened #1768 "How to access the value in `offline-run*/run-[id].wandb`"
I use wandb with dryrun and it will dump some files in `./wandb`. The file structure looks like this

[code]

I know that I can perform sync to remote or local server. Yet, is it possible to access the values in `run-<ID>.wandb` without sync to remote or local server?

[2021-01-28 15:05] andimarafioti commented on #1757
I have the same problem, the solution proposed by Gabriel works for me. Thanks mate!

[2021-01-28 17:11] vanpelt commented on #1767
Hey @danilpolkov, can you share a small snippet of code that reproduces this issue.  It's not clear to me from this description exactly what's happening.

[2021-01-28 17:31] jacobdanovitch commented on #1703
I was having this issue when trying to log a dataframe of strings that had some NaNs. I tried `.fillna('')` and now I'm just getting this:

![image](https://user-images.githubusercontent.com/17260949/106175850-963aec80-6164-11eb-9298-7c58049a2b4d.png)

Not sure what the issue is.

[2021-01-28 22:05] tyomhak commented on #1765
Hey @kenmbkr , thank you very much for the request!

[2021-01-29 02:01] chrischoy commented on #1409
I'm suddenly seeing a lot of runs are failing due to this. Even with longer timeout and multiple retries that wraps the wandb initialization. Is there an update in the backend?

I updated the wandb to the latest 0.10.15 not didn't make a difference.

[2021-01-29 02:17] chrischoy commented on #1752
I am using 0.10.15 and I recently saw all my jobs are failing due to this error on clusters.

[2021-01-29 05:44] ariG23498 commented on #1206
Hey @AvivSham
I tried reproducing the ticket and observed the following :point_down:
## Code that I used
I tried logging three runs in my project
1. `numpy` arrays
[code]
2. default `list`
[code]
3. logging the values iteratively
[code]
## A quick insight into summary metrics:
According to the [documentation of wandb](https://docs.wandb.ai/library/log#summary-metrics), there is something known as

[2021-01-29 05:49] #1461 closed

[2021-01-29 06:26] chrischoy commented on #1409
Is it possible that the error is due to the rate limit? https://docs.wandb.ai/library/limits#rate-limits If so, can the error message be more specific?

[2021-01-29 10:27] loeweX opened #1771 "Initializing wandb prevents parallel processes from throwing errors"
**Describe the bug**
When running parallel processing using torch.multiprocessing initializing wandb prevents the program from throwing errors and stopping the program.

**To Reproduce**
Minimal example:

[code]

**Expected behavior**
The program should throw an error and stop running. When I remove wandb.init() from the above example, it behaves as expected.

**Desktop (please complete the follow

[2021-01-29 10:51] tetek commented on #1409
Same here

[code]
with `wandb, version 0.10.15` working from Google Colab.

[2021-01-29 17:23] cvphelps commented on #1768
`wandb sync --view --verbose run-<ID>.wandb` gives you a text view of that file.

[2021-01-29 17:26] cvphelps commented on #1767
Hi, it sounds like you deleted a run and are trying to still log to that run. The ID persists, to allow you to undelete runs that were accidentally deleted. Please start a new run to start logging to a new ID.

If you really want to undelete — to your project overview page to undelete runs from the project:
![image](https://user-images.githubusercontent.com/6355078/106307300-694a1080-621c-11eb-9eb

[2021-01-29 17:29] andrewliao11 commented on #1768
Thanks! This would work. But is there any api to get it in csv form or something like a dictionary in python?

[2021-01-29 17:49] cvphelps commented on #1747
Thanks, we should print a warning. ID can't be changed for sweeps. The sweep has already created the ID, so you can't change it. May I ask why you are setting the ID in this scenario?

[2021-01-29 18:13] cvphelps commented on #1206
@AvivSham I would recommend using Custom Charts if you have a table of values you're logging, instead of individual scalars per step: https://docs.wandb.ai/app/features/custom-charts

[2021-01-29 20:25] cvphelps commented on #1765
Hi @kenmbkr a workaround is to use the workspace panel search box at the top of the page to find the layer you're looking for in the panel sections

[2021-01-29 21:35] cvphelps commented on #1768
Ah, do you mean accessing the logged data inside a file that is local, instead of syncing to the app first and pulling it down from the API? Could you tell me a little more about why you're trying to do that? We have self hosting if you are looking for an offline tool https://docs.wandb.ai/self-hosted

[2021-01-29 21:49] andrewliao11 commented on #1768
Yes. That's my point

I usually use wandb in offline mode to avoid any network issue. I only sync the runs when I want to compare them. At the same time, I want to my workspace as clean as possible so I only upload some of the runs.

For other runs, I would like to like them individually with my scripts. To this end, I need to access the values in `*.wandb` files. Of course, I can upload them and

[2021-01-30 03:55] jmuchovej opened #1775 "[Feature] Parallel sync"
**Is your feature request related to a problem? Please describe.**
I've recently had to do my uploads manually (incidentally left `wandb` in offline mode). In attempting to do `wandb sync --sync-all`, the client uploads each run sequentially.

I'm curious if supporting parallel uploads (at least to network saturation) would be a useful feature to others.

**Describe the solution you'd like**
Paral

[2021-01-30 06:57] danilpolkov commented on #1767
HI, I deleted experiment  while it was running, and future experiments failed to start, with messages that I added in ticket. I created new project, but still the same result occur. I don't need to undelete, I just wanted to continue tracking experiments.
So I restarted my machine and it helps.

[2021-01-30 09:31] daidew commented on #1525
This seems to have fixed the issue on my code from using multiprocessing with wandb as well.

[2021-01-30 14:08] ThomasMeli opened #1776 "[CLI] WandbCallback - 1st Epoch End - 'UnliftedInitializerVariable' object has no attribute 'is_bound'"
**Description**

When running the WandbCallback with Keras with a PlaidML backend to use an AMD gpu on a Mac in Jupyter notebook, I get the following error after the first epoch.  It looks like it is having a problem getting the learning rate from the Keras backend.

**When I took out reduce_lr_on_plateau and model_checkpoint from the callbacks, the error stopped**.  So I'm also guessing it might

[2021-01-30 14:19] ethanabrooks opened #1777 "[App] Can't delete 65.5 Gb worth of data"
**Describe the bug**
![image](https://user-images.githubusercontent.com/10344742/106358737-01f39580-62dc-11eb-80ed-72cfbe12e038.png)

**Expected behavior**
I expect the runs to be deleted.

**Operating System**
 - OS: [e.g. iOS] Big Sur version 11.1
 - Browser [e.g. chrome, safari] Chrome
 - Version [e.g. 22] Version 88.0.4324.96

[2021-01-30 14:21] stathius commented on #1199
Can we programmatically delete uploaded files?

[2021-01-30 23:18] MartFire commented on #1777
I have the same issue, it might be related to #1199
I have exceeded the 100GB limit and some of my deleted runs use many GB but I can't delete their files :(

[2021-01-31 06:36] lucastononrodrigues opened #1778 "wandb in DETR Pytorch StopIteration"
I am using the code from detr github https://github.com/facebookresearch/detr
When I use wandb I get StopIteration error for no reason whatsoever (It accuses the backbone for not working).

I set up the whole wandb init, config, watch and log.
By only removing the: wandb.watch(model_without_ddp) it works normally.

So my conclusion is that wandb.watch might be changing something inside the model?

[2021-01-31 06:59] astariul commented on #1553
Not stale

[2021-01-31 08:01] chrischoy commented on #1409
Okay, with updated rate, it did solve the problem. Unfortunately, I had to switch to comet.ml.

[2021-01-31 15:46] raubitsj commented on #1737
@bashkanov
Thanks for finding this.  We have been working to simplify how config values are set and missed the case of using config-defaults.yaml with sweeps.

We have a fix that is staged for the next release.  You can try it early with:

[code]

[2021-01-31 17:56] awsaf49 opened #1780 "Add new column after run is finished"
I'm wondering is there any way to add any new column after the run finished? Sometimes we don't have all the data while training so we need to add them after the run is finished. It will be really nice if we could simply add new columns or data even the run is finished.

[2021-01-31 21:36] timwitty commented on #1447
@alsuhr-c I wonder if it may be worth a PR for this specific issue and another separate PR/issue for the other problem you may have found. It would at least solve this definite issue.

I just tested your change one of my runs failed with a `Too Many Open Files` exception. I validated that a file was being leaked with your initial code in this issue. And then tested your change and it was no longer

[2021-01-31 21:45] alsuhr-c commented on #1447
Hi, sorry, I actually haven't worked on this as I figured out a workaround for the second issue (basically I made it so my code only opens wandb at max a few times per process) and got caught up in my research.

I had started creating a PR but couldn't set up the testing environment for wandb iirc (or something else was hard to get working on my machine) and other things came up so I forgot. I can

[2021-01-31 22:31] raubitsj commented on #1447
Thanks for the reproduction cases, we have raised the priority and will get this fixed soon.

[2021-02-01 02:33] timwitty commented on #1447
I just ran into another too many open files error similar to the second issue. Only got a little farther in my run after applying the first fix.

Looks like I'll have to either stop using wandb for similar tool or go similar route to try and fix. Not really wanting to do either.

[2021-02-01 06:32] sff1019 opened #1782 "TensorBoard not syncing with wandb"
**Describe the bug**
Tensorboard is not being synced with wandb, even when specifying `wandb.init(sync_tensorboard=True)`

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize wandb: `wandb.init(sync_tensorboard=True)`
2. Log to tensorboard using `tf.summary.scalar()`

Simple TensorFlow training script to reproduce this manner:
https://gist.github.com/sff1019/8870a9e15e95b9e469cd3419b78

[2021-02-01 09:34] bashkanov commented on #1737
Thanks. It works well now!

[2021-02-01 09:34] #1737 closed

[2021-02-01 09:55] MartFire commented on #1199
Any progress ? It's quite laborious to delete runs in the "Usage dashboard" (you have to remember their wandb run IDs) ?

[2021-02-01 09:57] mwalton opened #1783 "[CLI] api.run returns dataframe with missing rows"
I'm finding that multiple calls to api.run inexplicably return dataframes where some steps are dropped (appears to only occur at the start of the df. eg:

[code]
example (first row dropped):
![image](https://user-images.githubusercontent.com/1017968/106442734-ecb56d00-647b-11eb-8bd0-119c2381c68b.png)

[2021-02-01 11:29] johannespitz opened #1784 "Disk I/O Utilization vs Disk Utilization"
I believe this client records the disk utilization (i.e. allocated space/free space) while the W&B website reports it as Disk I/O Utilization.
This was very confusing to me.

https://github.com/wandb/client/blob/b01e637c9d7dc6674e9bb6a11f087880af56e892/wandb/sdk_py27/internal/stats.py#L266
https://psutil.readthedocs.io/en/latest/#psutil.disk_usage

[2021-02-01 12:26] ariG23498 commented on #1784
Hey @johannespitz
I am tagging along @cvphelps who can get you a better answer for this.
Thanks for the ticket :smile:

[2021-02-01 12:36] ariG23498 commented on #1783
Hey @mwalton
Thanks for the issue here
Could you help us with a reproducible code snippet here? We could also do with the knowledge of the particular `entity/project/run_id` configuration that you have used.

I have checked this on my machine and the `dataframe` seems to be fine for both the calls. I am tagging a not-reproduced tag here for the time being.

[2021-02-01 13:33] freefeynman123 commented on #1747
I thought about recovering artifact from particular run within the sweep. As I can see currently I only have access to artifacts with my entity name, without particular sweep or run name.

[2021-02-01 14:26] pietrolesci opened #1785 "Limit on the number of agents per sweep?"
**Describe the bug**
After initializing a sweep, running more than 3 agents causes an error

**To Reproduce**
Set up a sweep and run more than 3 agents

**Expected behavior**
No limit on the number of agents

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: tried on both own server running Ubuntu 18.04 and

[2021-02-01 14:27] ariG23498 commented on #1782
Hey @sff1019
Thanks for a great repro along with the ticket
I would add to the issue here that
[code]
Aslo fails to track the tfevent files

Tagging @vanpelt  for some expertise in this ticket.

[2021-02-01 14:59] ariG23498 commented on #1780
Hey @awsaf49
I think this should help you with your query: https://docs.wandb.ai/ref/export-api/examples#update-metrics-for-a-run-after-run-finished

Let me know if this helped :smile:

[2021-02-01 17:50] vanpelt commented on #1409
@chrischoy we're extremely sorry to hear the backend process is failing to launch in your cluster, we'll do everything we can to the bottom of this.

[2021-02-01 17:53] vanpelt commented on #1782
@sff1019 can you share how you're logging to tensorboard in your script if you aren't using the keras tensorboard callback?

[2021-02-01 17:55] vanpelt commented on #1782
@sff1019 never mind, I see your gist now.  We'll take a look ASAP.

[2021-02-01 17:56] vanpelt commented on #1783
Hey @mwalton `history()` returns a sampled history for performance reasons.  If you want the full history you should use `scan_history()`.

[2021-02-01 17:57] vanpelt commented on #1785
@pietrolesci this looks like an issue with your sweep configuration: `ValueError: '-4' is not in list`.  Can you share either a link to your sweep or the sweep config?

[2021-02-01 18:03] pietrolesci commented on #1785
Hi @vanpelt, thanks a lot for your swift reply. Happy to share the link to the sweep, but it's a private project. How can I best handle this? In the meantime, here is the config file

[code]

[2021-02-01 18:27] raubitsj commented on #1785
Sweep URL has been added to the internal ticket:
https://wandb.atlassian.net/browse/CLI-682

On Mon, Feb 1, 2021 at 10:03 AM Pietro Lesci <notifications@github.com>
wrote:

[2021-02-01 18:54] awsaf49 commented on #1780
@ariG23498  yes this is exactly what I was looking for, thanks 😄

[2021-02-01 18:54] #1780 closed

[2021-02-01 19:05] mwalton commented on #1783
thanks guys! @ariG23498 I wasn't able to reproduce the same behaviour I was seeing on my dataset using the entity/project/run_id you indicated; however @vanpelt 's suggestion addressed my use case. If it's of interest or useful, I could make the particular run I was having issues public so you could reproduce. I'll close for now as using `scan_history()` works. thanks again!

[2021-02-01 19:05] #1783 closed

[2021-02-01 19:23] pietrolesci commented on #1785
Hi @vanpelt, I'd like to provide further feedback. I DO think it is related to the config because I managed to instantiate >4 agents running the same sweep by simply dropping that config (i.e. "freeze_layers"). However, I previously managed to successfully run experiments using the "-4" option (present in the sweep runs). I saw the same error with all the option "-1" too that, again, I managed to

[2021-02-01 21:19] ExpectationMax opened #1787 "Resuming grid sweep does not launch missing runs"
**Describe the bug**
After removing some runs from a completed grid sweep and resuming the sweep, no new runs are passed to the agents and the sweep goes back into the complete state.

This is in contrast to the documentation which describes that the missing configurations will be launched when the sweep is resumed: https://docs.wandb.ai/sweeps/faq#rerun-grid-search

**To Reproduce**
Steps to repr

[2021-02-02 03:50] ethanabrooks opened #1793 "[App] How to get sweep information for custom chart"
I am trying to create a box chart that displays several metrics for each of several sweeps. I see that I can access my metrics using `summary` or `history` keys. I also see that the query accesses ID and name info, although those fields do not seem to be editable. Is there a way to access info about which sweep each run belong to, if any? Thank you.

[2021-02-02 03:56] cvphelps commented on #1793
Hi Ethan, great question. Could you please share a screenshot of what you're looking at?

[2021-02-02 08:10] gabriel-vanzandycke opened #1794 "[Q] Is it possible to use operators like `max`, `mean` or even a `range` in Bar chart's expressions?"
I would like to compare accuracy of different runs. However, the last entry (epoch) is not representative.

1. Bar chart's expression doesn't seem to work (the suggested `1-${summary:testing_accuracy}` doesn't work)
2. Is there a way to extract the mean or max value over the last 50 entries (epochs)?

[2021-02-02 09:06] gabriel-vanzandycke commented on #1757
@tyomhak what do you think about making a pull request with this change?

[2021-02-02 10:21] dreamflasher commented on #954
https://blog.benwinding.com/github-stale-bots/ and https://www.reddit.com/r/programming/comments/kzvryq/github_stale_bots_a_false_economy/

@vanpelt "create report" is a lot of effort if I only want to share simply the view that I am currently seeing.
Overall the UX of creating a decent view or a report is lacking a lot behind – it always starts with a huge number of columns because by default a l

[2021-02-02 10:23] potipot commented on #736
Still a needed feature

[2021-02-02 11:23] wizard1203 opened #1795 "[Feature] Is it possible to output CSV file with the changed legend names?"
I have edited the legend names of one line plot. And when I output its according CSV file, the legend names do not change, how can I output CSV file with the legend names that I want?

[2021-02-02 11:33] wizard1203 opened #1796 "[Feature] Can I calculate an expression in a more complex way?"
Can I calculate an expression in a more complex way?
For example, I want to give different metric expressions to different legends.

[2021-02-02 13:45] ethanabrooks commented on #1793
Hi Carey, Thanks for the response. This is what I am hoping to achieve:
![image](https://user-images.githubusercontent.com/10344742/106608421-61e37980-6532-11eb-93fa-4ebc266eb681.png)

Each of the labels on the X-axis corresponds to a sweep consisting of five seeds. So for example, "CoFI-S" corresponds to sweep peyca3us. The blue bar is one metric, the orange bar another, etc.

This is as far as I

[2021-02-03 10:38] cdancette commented on #1297
@vanpelt I also have this issue even when some runs are finished, I think this is because they crashed before finishing. I deleted the run and I could finish.

A good think would be to skip corrupted runs that cannot be synchronized, and at least sync the remaining ones.

I tried updating wandb to 0.10.17, but it did not solve this issue.

[2021-02-03 11:27] RGring commented on #1302
+1. This doesn't allow me to run sweeps :(

[2021-02-03 12:50] dreamflasher commented on #1082
As soon as it's fixed, sure ;)
Afaik the proposed changes are not done yet?

[2021-02-03 19:07] cdancette commented on #1297
Here is a possible fix, that I applied to my local wandb client to avoid crashes.

[2021-02-03 20:02] raubitsj commented on #1297
Thanks @cdancette ,
I think you are right that we need some way to more gracefully treat these cases as a warning. I think it might be dangerous to always treat it as a warning though.

In general, the plan was to add better support syncing of currently running runs as there are people who need this functionality to deal with networking limitations from their training jobs.  There are tradeoffs th

[2021-02-03 21:03] cdancette commented on #1297
Thanks for looking into this !

A live command would be exactly what I need as well, I am training on nodes
that don't have access to the network, and syncing from a gate server.

Le mer. 3 févr. 2021 à 21:03, Jeff Raubitschek <notifications@github.com> a
écrit :

[2021-02-03 21:15] Mahmoud-Khaled-Nasr commented on #1591
Thanks, guys @cvphelps @tyomhak  for your responses but I am facing some trouble similar to this question and would like to ask if you have a solution for me.
I will use the same code as before. The different use case I have is that I want to log the loss per epoch, so on the y-axis is the average loss for the entire epoch and another log for the loss of each batch for the epoch. I want to do this

[2021-02-03 21:39] vanpelt commented on #1591
Hey @Mahmoud-Khaled-Nasr the code you have above should achieve exactly what you need.  You'll just need to change the "x-axis" for specific charts in the UI.

[2021-02-03 21:47] farizrahman4u commented on #1447
@timwitty Do you have a reproduction case for the second issue?

[2021-02-03 22:08] Mahmoud-Khaled-Nasr commented on #1591
Oh, I have been looking wrong at this. I wanted to make the epoch the global step. I totally missed this one thanks @vanpelt

[2021-02-03 22:17] timwitty commented on #1447
@farizrahman4u Yes, I should have included it. Its very basic. I can't include the exact script. But I've provided a reasonable facsimile here. I'll run it when I have time between my current runs to validate it does reproduce the issue.

The param grid feeding to make_classification is 1600. In the past I've seen issue around 1k-1.3k runs.

- Macbook Pro 32GB RAM, Mojave.
- wandb 0.10.14 (will tr

[2021-02-04 00:18] timwitty commented on #1447
I was able to reproduce with example I gave after a little over 1100 runs generated, but got a different traceback of the too many open files exception. My try/except still did not actually catch this which doesn't make sense to me atm.

I also didn't even add anything for the below lines from the example to get the below. Perhaps if added they produce another version of this error.

[code]

Essen

[2021-02-04 06:41] ariG23498 commented on #1796
Hey @wizard1203
If I am getting you correctly you want to plot complex expression from the metrics that you have logged. For that you can look into the `Expression` section of [Line Plot docs](https://docs.wandb.ai/app/features/panels/compare-metrics#settings). You could also look into the `Legends` section of the same page for more info on the

Please feel free to write in if this does not help.

[2021-02-04 06:48] ariG23498 commented on #1795
Hey @wizard1203
Thanks for the feature request. I will get this flagged.

[2021-02-04 07:14] ariG23498 commented on #1794
Hey @gabriel-vanzandycke

When we log `summaries`, we only keep the latest value of that metric. Hence when you are using the `testing_accuracy` for bar-chart it will only show the value logged for the latest run.

When you talk about a range of entries, it is quite reasonable to use a `line-plot` where you could specify the range of epochs or entries for that matter. On the other hand, you could

[2021-02-04 07:46] ariG23498 commented on #1787
Hey @ExpectationMax
I tried reproducing the issue and these are my observations :point_down:

## Code
I have tried out with a very basic example to showcase the features of resuming the grid sweep.
`train.py`
[code]

`sweeps.yaml`
[code]

## Steps
1. With both the `train.py` and `sweeps.yaml` at hand, I ran the sweep with the command `$ wandb sweep sweeps.yaml`
2. This gives me a command to run th

[2021-02-04 07:53] ariG23498 commented on #1778
Hey @lucastononrodrigues thanks for the ticket
We will be looking into this.

[2021-02-04 07:56] ariG23498 commented on #1777
Hey Folks
We are getting into this as soon as possible
We have flagged this internally.

[2021-02-04 08:13] RGring commented on #1501
Hi.
I have problems resuming a crashed sweep. I did the following steps.

- In my sweep config, I set the same sweep name as the crashed one.
- I also use the same project name
- during wandb.init(), I set resume=True

Still it is creating a new sweep with the same name but different ids (different URL). I also tried to pass the sweep id directly to the agent: wandb.agent(<username>/<project_name>

[2021-02-04 16:11] gabriel-vanzandycke commented on #1757
Should be linked with #1723

[2021-02-04 18:36] vanpelt commented on #1501
Hey @RGring if there are still trials left in the sweep you can just start an agent with the sweep id.  The name is not what you use to start an agent, you must use the id.  On the sweep overview page you'll see the whole path:

![image](https://user-images.githubusercontent.com/17/106939100-aa3a9d00-66d4-11eb-8bfe-dab6bc3858ae.png)

If you're doing a grid search, there will only be N examples to

[2021-02-04 19:55] TusharNimbhorkar commented on #1782
@vanpelt @ariG23498 @sff1019  I am having same issue with TensorboardX #1696

[2021-02-04 20:05] RGring commented on #1501
Hi @vanpelt. Thanks for your answer. I did run a bayes optimization and wanted to resume it, i.e. continue on it. As I mentioned,  I also tried to pass the sweep id (in your example "vanpelt/retry-deadlock/aiehwvid) directly to the agent: wandb.agent(<username>/<project_name>/<sweep_name>, func) (in python). This had the same effect as reported above (another sweep with the same name, but differen

[2021-02-04 21:17] aficionadoai opened #1806 "Using sweep with TPU[Q]"
Thank  you for implementing a great tool.  I recently tried using sweep inside a Kaggle kernel and noticed that it takes a lot longer to run 1 epoch than normal model training.

For example, when I train my model using TPU and Keras, one epoch normally takes 4 minutes.  When I run sweep, it takes 30 minutes.

Is the sweep function compatible with TPU? Or, is there something else that I need to do

[2021-02-04 22:12] #1784 closed

[2021-02-04 22:15] vanpelt commented on #1501
Hey @RGring, when using the function form of the agent, you must pass in only the id instead of the full path, i.e.

[code]

Calling `.agent` will never create a new sweep.  Sweeps can only be created via the UI or via `wandb sweep` or `wandb.sweep`.  If you can provide this ticket with an exact set of steps you're try to to follow that is causing an error for you we can get to the bottom of what'

[2021-02-04 22:21] vanpelt commented on #1806
Hey @aficionadoai, running our sweep agent shouldn't impact your scripts ability to connect to the TPU.  This sounds like a configuration problem where the code that our agent is launching is either unable or not properly configured to connect to the gpu.  Could you share the code you're using to get into this state so we can take a look?

[2021-02-05 07:01] johannespitz commented on #1784
@farizrahman4u
Why did you close the issue?
As far as I can see nothing has changed. The web interface still labels the graph as I/O, while the client records free space.

At least some kind of explanation would be nice.

[2021-02-05 08:12] ariG23498 commented on #1784
Hey @johannespitz
@farizrahman4u has created a PR for this ticket yesterday. The PR is in a private repository hence cannot be tracked here.
Hope you don't mind.

[2021-02-05 08:37] johannespitz commented on #1784
Ah, thanks for the info!

[2021-02-05 09:04] RGring commented on #1501
@vanpelt Thank you very much for your help! That solved my issue. :)

[2021-02-05 09:57] butchland opened #1808 "[CLI] fastai WandbCallback triggers error when running on multi TPU cores"
**Description**
Using the fastai WandbCallback on multiple TPU cores triggers an error:
`AssertionError: can only test a child process`

**Wandb features**
fastai WandbCallback (`fastai.callback.wandb.WandbCallback`)
The error is in the wandb interface call (`wandb/sdk/interface/interface.py`) which
calls  python's `multiprocessing.process.is_alive` method which triggers the assertion
error.

**Ho

[2021-02-05 09:58] jonzarecki opened #1809 "Is it possible to visualize any hyperparameter optimization run as a "sweep"?[Q]"
I'm looking into w&b but already use optuna as my go-to hyperparam optimization library.
Is it possible to log an optuna (or any other library for that matter) search run as a sweep?

[2021-02-05 10:36] Arslan-Masood commented on #1409
I am facing the same issue, and even it is failing after multiple tries

[code]

[2021-02-05 13:32] borisdayma commented on #1808
Thanks a lot!
Tagging @morganmcg1 who had a similar issue and I believe he tried to use the rank 0 to target only master process.

[2021-02-05 14:11] tyomhak commented on #1809
Hey @jonzarecki , you want to collect runs made with optuna under a single sweep, without actually creating runs with the wandb sweep, is that right?

If that's the case, then you could do something like this:
1. Log the runs as usual, just add a tag, or a group for them, so you could easily filter and select these runs later.
2. In the project page, you can create/seed a new sweep from these runs

[2021-02-05 15:10] aficionadoai commented on #1806
@vanpelt Yes.

I used this [Colab](https://colab.research.google.com/drive/181GCGp36_75C2zm7WLxr9U2QjMXXoibt#scrollTo=aIhxl7glaJ5k) as my guide.

[code]

[2021-02-05 17:44] cvphelps commented on #1776
Hi Thomas, our Keras callback is tied to using the TensorFlow backend, so I don't believe it will work with your PlaidML backend. Could I recommend using the standard integration with wandb.init() and wandb.log()? https://docs.wandb.ai/quickstart

[2021-02-05 17:45] cvphelps commented on #1775
Hi there John, this isn't in the near term roadmap but thank you for the suggestion. We'll track this as a potential addition for our next major release.

[2021-02-05 17:52] cvphelps commented on #1767
Hi Danil, you're saying that restarting solved the issue? This is a strange one that we haven't been able to repro yet.

[2021-02-05 17:52] #1767 closed

[2021-02-05 18:00] vanpelt commented on #1409
Hey @samarth4149 we believe we have a fix for the most common cause of this issue that we will be releasing first thing next week.  You can try the branch with that fix now by running:

[code]

If running the above version does not work for you, please let us know and provide some example code and information about your environment so we can reproduce.

[2021-02-05 18:11] samarth4149 commented on #1409
Okay great, thanks! I had been using [chrischoy's workaround](https://github.com/wandb/client/issues/1409#issuecomment-723371808) which had been working fine for me.

I think someone can reopen the issue if they have problems again, but the fact that this is not reliably reproducible (probably happens due to some network errors, causing timeouts) makes this hard.

[2021-02-05 20:21] cvphelps commented on #1796
Hi there, could you describe a little more what you're trying to do, having different expressions in different legends? Could you share a screenshot or example link?

[2021-02-05 21:28] johncookds commented on #1762
Unfortunately, the summary statistics do not persist once the run is finished I assume this may be because of some overriding that the first wandb initialization is doing of the second. The second one is where the logging occurs.

[2021-02-05 21:56] vanpelt commented on #1762
Hey @johncookds, you should be able to use [resuming](https://docs.wandb.ai/library/resuming), to append metrics and system stats to existing runs.  Can you provide a code example of what you're trying to do and why it's not working?

[2021-02-05 22:28] johncookds commented on #1762
Hi so from an initial script I init wandb and set the environmental variables:
`
wandb_info = wandb.init(project='test')
os.environ["WANDB_PROJECT"] = "test"
os.environ["WANDB_RUN_ID"] =wandb_info.id
os.environ["WANDB_RESUME"] = "allow"
`

then this process calls a subprocess which is initialized as:
`
wandb_info = wandb.init(
                project=os.getenv("WANDB_PROJECT", "huggingface"),

[2021-02-05 22:41] vanpelt commented on #1762
I see, you can only resume a finished run.  You can not have two processes logging to the same run in parallel.  If you want to have multiple processes show up as the same "experiment" in our UI you should [use grouping ](https://docs.wandb.ai/library/grouping)and have each run share the same group id.

[2021-02-05 22:42] johncookds commented on #1762
Ok, that makes sense, thank you very much for the help!

[2021-02-06 03:42] leonleo997 commented on #1752
I'm getting the same issue, any update?

[2021-02-06 13:16] wizard1203 commented on #1796
@cvphelps @ariG23498

Hi, thanks for replying.
For one example, I have two lines, A and B. And I want to scale axis x of A with ratio 2, and scale axis x of B with ratio 5. This scaling ratio is not recorded in experiment config or results. It seems that I must download data and write other codes to do this.

[2021-02-06 15:55] ThomasMeli commented on #1776
That explains it.  Yeah, I'll have to use wandb.log instead of the callback.  Without PlaidML I can't use the GPU on my mac (at least as of Jan 2021), so I'll just use the manual logging.  Thanks!

[2021-02-06 15:55] #1776 closed

[2021-02-06 19:03] andrecavalcante commented on #580
Hi, @ariG23498 the error I reported above does occur for me anymore.

[2021-02-07 02:42] myaisv opened #1815 "[CLI] wandb not compatible with ipdb package"
**Description**
It is known that ```import ipdb``` after ```import wandb``` will cause a "prompt_toolkit" error, and this has been disscused in #1498

```import ipdb``` firstly and then  ```import wandb``` can be a temporary solution, but the ```print``` funcition in worker process will  cause  wandb to raise a exception.

**Wandb features**
auto collect the output of print funciton

**How to repr

[2021-02-07 05:13] hw-kim-ivan opened #1816 "[Feature] setting time interval for wandb.video"
**Is your feature request related to a problem? Please describe.**
Hello:) Is there any handling for setting time interval for wandb.video?
gif moves so fast...

**Describe the solution you'd like**
Currently, manually setting time interval on off-line(using powerpoint)

[2021-02-07 14:48] piraka9011 opened #1817 "[CLI] wandb sync fails to upload reports from crashed scripts (AssertionError)"
**Describe the bug**

If I run a script and then terminate it (ex. Ctrl-c) or it crashes for misc. reasons, I cannot use `wandb sync` to reupload the wandb logs.

[code]

**To Reproduce**

I am training a model using PyTorch Lightning.
This should be reproducible on any example with PTL.

1. Run a train script, passing the wandb logger to the PTL trainer.
[code]
2. Kill script midrun
3. Attempt to

[2021-02-07 16:41] raubitsj commented on #1817
@piraka9011 Thank you for the report.
This is something we have recently become aware of and have scheduled this for a subsequent release
(preliminary target is 0.10.19)

The issue is that the log is incomplete due to being interrupted.

There are a few parts to the fix:
1. minimize the data that might not be flushed to the disk at the time of the control-c (time and data size based flush)
2. try

[2021-02-07 18:08] piraka9011 commented on #1817
Thanks for the update. Will wait for the release!

[2021-02-08 09:51] ariG23498 commented on #1816
Hey @hw-kim-ivan
I think the [documentation for the `wandb.Video`](https://docs.wandb.ai/library/log#media) might be of use to you.

[2021-02-08 09:56] ariG23498 commented on #1815
Hey @myaisv
Thanks for the ticket!
We will be looking into this.

[2021-02-08 09:57] ariG23498 commented on #1771
Hey @loeweX
Thanks for the ticket
We will be looking into this shortly.

[2021-02-08 11:38] ariG23498 commented on #457
Hey folks,
This issue has been resolved in the present `wandb` package.
Closing this thread.
Please feel free to comment on this thread if the issue persists any longer. :smile:

[2021-02-08 11:38] #457 closed

[2021-02-08 14:42] vadimkantorov opened #1819 "Wandb.ai does not show any weights or gradients when wandb.watch called on torch.nn.DataParallel instance"
I'm using adapted https://github.com/ajabri/videowalk codebase. My wandb.ai dashboard shows logged metrics, but not weights / gradients, despite `wandb.watch(model)` was called (though on `torch.nn.DataParallel` wrapper):
![image](https://user-images.githubusercontent.com/1041752/107234912-72a95900-6a24-11eb-92d4-1f556a53827d.png)

I tried to log in to community slack, but the invite from my wandb

[2021-02-08 16:12] ariG23498 commented on #1785
Hey @pietrolesci
It looks like you have both string and number for the config values. You should make them all strings and can convert on your end if necessary.

Hope this helps! :smile:

[2021-02-08 17:20] ariG23498 commented on #473
Hey folks,
We are closing this issue as the feature request is resolved. For the finer details in settings, we are internally tracking it. :smile:

[2021-02-08 17:20] #473 closed

[2021-02-08 17:22] ariG23498 commented on #386
Hey folks,
Could you all please look into this and revert back?
We would like to close the issue if this is resolved. Thanks! :smile:

[2021-02-08 18:00] tnfru commented on #580
I get this Error too, on POP OS 20.10

[2021-02-08 19:00] kouroshHakha commented on #386
Yes, I tried 0.9.7 and pdb breakpoints behave normally there. Although I have a specific usage that does not work on 0.9.7 either.

[code]

[2021-02-08 21:20] jonzarecki commented on #1809
Yeah, seems like this is it.
Thanks! 👍

[2021-02-08 21:20] #1809 closed

[2021-02-08 22:37] KyleGoyette commented on #1793
HI @ethanabrooks it sounds like it would make sense to:
1. In the runs table, group by the config column where you logged your model type, like "CoFIS" in your example, as well as the length of the instructions for that test.
2. In the query editor, query for groupKeys
3. You can then select groupKeys as the data source for the groupKeys field, and for the label field. This should Closely approxim

[2021-02-09 01:22] ariG23498 commented on #386
Hey @kouroshHakha
Could you give the above script a try with our latest release?
`pip install --upgrade wandb` should do the trick of getting the latest release. Thanks :smile:

[2021-02-09 01:29] kouroshHakha commented on #386
I updated to 0.10.18, it still does not trace back to the failed line. However, it printed the following stuff:
[code]

[2021-02-09 01:57] vadimkantorov commented on #1819
When I call `wandb.watch(model_before_dp)`, the Gradients pane is still empty, the model structure is also whown incorrectly

[2021-02-09 05:53] ziqi-zhang commented on #386
I met a similar issue. After initialized wandb there are some problems in the interactive mode. I can not use up button (got ^[[A) or Home button. When I downgrade wandb to 0.9.7 there is no problem but in the later versions (0.10.18 and 0.10.17) the problem exists.

[2021-02-09 17:42] lewtun opened #1823 "[Q] Suppress Run summary and history in Jupyter notebook?"
Hello wandb team!

I'm using `wandb` together 🤗  `transformers` and when I use the latter's hyperparameter search I get a lot of meta info from `wandb` about each trial:

![Screen Shot 2021-02-09 at 6 34 06 pm](https://user-images.githubusercontent.com/26859204/107404006-1585d400-6b06-11eb-846a-77e064648329.png)

I also get this information whenever I call `wandb.finish()` after a run.

My questio

[2021-02-09 20:39] KyleGoyette commented on #1806
Hi @aficionadoai could you provide the code where you connect to the TPU and instantiate the strategy?

[2021-02-09 20:59] aficionadoai commented on #1806
@KyleGoyette

[code]

[2021-02-09 21:13] KyleGoyette commented on #1806
Great! Thanks @aficionadoai. Could you try moving the connection, instantiation and scope within the train function to see if that solves your issue?

[code]

[2021-02-09 21:18] aficionadoai commented on #1806
@KyleGoyette Trying right now...

[2021-02-09 22:23] KyleGoyette commented on #1806
Thanks @aficionadoai, let me know if that works for you.

[2021-02-10 01:07] cvphelps commented on #1757
Hi @gabriel-vanzandycke thanks for your help getting a solution for this, my wonderful colleague @annirudh tried a PR: https://github.com/wandb/client/pull/1484/files

Unfortunately this fix doesn't work on all platforms, but we're working to address!

[2021-02-10 08:09] ai-alanov commented on #1093
Please reopen the issue. The custom x-axis option is really needed. For example, I save images per epoch and the ability to change the x-axis from step to epoch would be great!

[2021-02-10 09:44] chisarie opened #1824 "[Q] Logging from multiple threads"
Hi, thank you very much for this amazing tool!
I have a question: when logging from different threads, I get a RuntimeError: "dictionary changed size during iteration", see also this pull request: [https://github.com/wandb/client/pull/110](https://github.com/wandb/client/pull/110).
I have found a workaround, I share it here, it might be helpful to others. The solution for me was to log with wandb

[2021-02-10 13:37] timxzz commented on #1129
This problem still exists with version: 0.10.18

[2021-02-10 13:43] trigal commented on #1700
i'd say, more than nice :-P

[2021-02-10 18:18] EricCousineau-TRI commented on #1129
Aye, confirmed. Updated min-repro above

@ariG23498 Can we re-open this?

[2021-02-10 18:49] vanpelt commented on #1824
Hey @chisarie, currently `wandb.log` is not thread safe.  We'll leave this ticket open as we may eventually make it thread safe.

[2021-02-11 01:28] ariG23498 commented on #580
Hey folks,
We do not support `watch` with models with `ScriptModules`.
We are looking forward to add support for this in the later runs.
Will update the thread as soon as this is supported.

[2021-02-11 07:06] aadityachapagain opened #1826 "Able to continue adding data in same Text Table [Feature]"
Consider, I have long running Program, which produce billions of logs every day, Its impossible to create table with all data  and feed it to wandb dashboard.

Currently , when I create and log text table in wandb using following methods ,
[code]

**It will create New table every time I log, rather than continue adding data on already existed table.**

**If we have a functionality of adding data i

[2021-02-11 09:21] chisarie commented on #1824
All right, thank you :)

[2021-02-11 12:44] kwanUm opened #1827 "[Q] Is there a way to create a confusion matrix that looks like a 2D table?"
I find the confusion_matrix() plot at wandb pretty limiting, as it flattens the results and print them as a table (that can be hard to read if there are many classes.

Is there any functionality to get something more like this https://www.machinecurve.com/wp-content/uploads/2020/05/rcf_matrix.png

Thanks!

[2021-02-11 12:48] #1827 closed

[2021-02-11 12:53] kwanUm commented on #1827
Sorry, haven't looked at the Custom Charts section

[2021-02-11 12:58] kwanUm opened #1828 "Creating a confusion metric creates a custom chart without a title string"
I created a confusion matrix with 20 different categorical labels, and than looked inside the custom charts section.

The relevant confusion matrix was there, but I did not see the label string that I gave for the confusion matrix there - https://ibb.co/5kXjmJr

This makes it hard to understand which confusion matrix relates to which label. In make case I log this matrix after every epoch, so I se

[2021-02-11 13:51] carloalbertobarbano commented on #597
Same request, this would be very useful

[2021-02-11 18:29] ethanabrooks commented on #1793
Hi @KyleGoyette. Thank you for your thoughtful response. I was able to get partway through your instructions but ran into some issues:

Each run evaluates on multiple lengths, so a length corresponds to a metric, not a separate run (see image below).

This is what I have right now:
![image](https://user-images.githubusercontent.com/10344742/107681237-ce662300-6c6c-11eb-938b-437feb8251f8.png)
I add

[2021-02-11 20:19] kargarisaac opened #1831 "UI: Fix SVG exporting to remove black regions"
**Is your feature request related to a problem? Please describe.**
At the moment I export svg and try to use other applications to convert it to pdf. But the svg file has some black parts.

**Describe the solution you'd like**
It would be great to be able to export a high-quality image of plots. At the moment, the report and png exports are not good enough to put it on paper.

[2021-02-11 20:21] kargarisaac opened #1832 "Be able to change the location of legend in plots"
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

It would be great to be able to change the location of the legend in plots. Putting it on top of plots takes space and sometimes in papers, for example, it can help to save space.

[2021-02-11 20:38] KyleGoyette commented on #1793
Hi Ethan,

Please try out the spec I created below:
[code]

[2021-02-11 20:59] ethanabrooks commented on #1793
Kyle, thanks so much for your help on this. The chart doesn't compile due to some slight differences in my data, but I think it's enough to get me going. I'll post back on here as soon as I have the solution.

[2021-02-12 05:28] KyleGoyette commented on #1793
Great, thanks Ethan. I believe as long as you can query for your architecture (say in a config for a run), you should be able use that as your category field mapping.

[2021-02-12 15:01] tyomhak commented on #1832
Hey @kargarisaac , is there another spot on the plot that you'd prefer to have as an option to be used for the legend?

[2021-02-12 15:04] tyomhak commented on #1831
Hey @kargarisaac , sorry to hear that the current resolution is not satisfactory.
I'm afraid the only option to control the resolution of your exported charts is this menu:
<img width="623" alt="Screen Shot 2021-02-12 at 7 03 50 PM" src="https://user-images.githubusercontent.com/16812535/107784633-1ec0ac00-6d65-11eb-9403-ee39abc6fc72.png">

I'm bringing this issue up with the team. What resolution

[2021-02-12 15:18] tyomhak commented on #1826
Hi @aadityachapagain , thank you for the request. I'm sharing this request with the team. Also I'll let you know if we have a workaround for this.

[2021-02-12 15:27] ingambe opened #1834 "[Feature] Workspace: Specify sections for charts from wandb.log()"
**Is your feature request related to a problem? Please describe.**
Every logs metrics is plotted in the "Charts" section of WandB.
If you have a lot of metrics of different types it can soon be messy.

For example, in one of my projects, I have more than 5 timers.
It is super convenient to add them into the same section.
This needs to be done manually for the moment. A way to do it programmaticall

[2021-02-12 15:53] cvphelps commented on #1834
Hi there, you can add a `prefix/` to the beginning of your metric name to sort into a specific section programmatically.

[2021-02-12 15:55] ingambe commented on #1834
Thank you, I've asked on Slack and I was told it was not possible.
Thanks a lot :)
Is it in the doc?

[2021-02-12 16:45] borisdayma commented on #1507
Working on a better fix #5931

[2021-02-12 17:12] tyomhak commented on #1752
Sorry for the delay. Unfortunately no updates yet, but we're currently looking into this issue. It's one of the top priorities for us right now.

[2021-02-12 17:22] cvphelps commented on #1823
Hi there, sure you can set the environment variable `os.environ["WANDB_SILENT"]="true"` to silence the wandb printout

[2021-02-12 17:35] cvphelps commented on #1819
Hi! It looks like you've only logged 5 steps. You can pass `log_freq=1` to watch if you're only logging 5 steps. By default this is `1000` because these histograms are very weighty, and will very much slow down performance for model training (because computing gradients is expensive).

[2021-02-12 17:35] cvphelps commented on #1819
For the wandb forum, I'm sorry to hear that the link isn't working! Here's a new link for you: http://wandb.me/slack

[2021-02-12 17:41] cvphelps commented on #1816
@hw-kim-ivan could you please specify frames per second, for example fps=1

`wandb.log({"video": wandb.Video(numpy_array_or_path_to_video, fps=4, format="gif")})`

[2021-02-12 17:41] #1816 closed

[2021-02-12 20:40] cvphelps commented on #1826
Hi there, we can't support adding new rows to existing tables that you've already logged, but here are two approaches:

1. Keep the wandb.Table locally and add new rows to it. Once you've got all the rows in, call wandb.log
2. Keep logging the same table at each step, and just add new rows to it. the final table you log will have all the rows you want, and you'll be able to see the latest table lo

[2021-02-13 04:09] kargarisaac commented on #1831
Putting PNG format in PDF doesn't sound good, especially when zooming. By using the way you suggested, I think the text size would be small and not readable in picture. I export svg and use Figma to remove black parts and customize everything there. In Figma there is a black color that by setting its value to 0% it removes the black parts (Under the curve from start to end) I mentioned in the ques

[2021-02-13 04:11] kargarisaac commented on #1832
It depends on curves. Sometimes under curves inside figure. Some times some other places. like these in matplotlib:

![image](https://user-images.githubusercontent.com/24753756/107841262-26626e00-6dc2-11eb-989f-50665db1b777.png)

![image](https://user-images.githubusercontent.com/24753756/107841263-2e221280-6dc2-11eb-8b93-33058154f34a.png)

![image](https://user-images.githubusercontent.com/247537

[2021-02-13 09:01] lewtun commented on #1823
Thanks a lot @cvphelps! Sorry I didn't spot this in the FAQ (I was looking in the Jupyter integration docs): https://docs.wandb.ai/library/technical-faq#how-do-i-stop-wandb-from-writing-to-my-terminal-or-my-jupyter-notebook-output

[2021-02-13 09:01] #1823 closed

[2021-02-13 11:02] ingambe opened #1836 "[Feature] Simple moving average"
**Is your feature request related to a problem? Please describe.**
There is currently a smoothing option using an exponential moving average, but not a simple moving average.

**Describe the solution you'd like**
An additional option in the smoothing one to select the smoothing algorithm we want to use and if we use a simple moving average, select the horizon (i.e., the subset size to compute the

[2021-02-14 00:39] sunshineatnoon opened #1838 "Cannot login or verify email address"
Thanks for this awesome tool! I met the following bug when login and would be appreciate if someone gives a hand.

**Describe the bug**
I forgot to verify my email address when registering and after a week of using wandb, I cannot login to the web app and got the following error:

<img width="710" alt="Screen Shot 2021-02-13 at 4 35 11 PM" src="https://user-images.githubusercontent.com/7546747/107

[2021-02-14 05:17] Severac commented on #1838
I have the same problem
Workaround is to open a private window and login again with Google account

[2021-02-14 16:11] sunshineatnoon commented on #1838
I login this morning and found I can resend a confirm email. Now I can successfully login

[2021-02-14 16:11] #1838 closed

[2021-02-15 04:17] maria-korosteleva commented on #1167
The problem is still there

[2021-02-15 10:48] aj7tesh opened #1843 "[Q]Can we use wandb with tensorboard log file (log_dir) directly?"
Currently,I am using tensorboard logging for one of my MT work.
 I directly launch tensorboard logging using below cli
tensorboard --logdir='runs/logs' --port=8080

I wish to use the same logdir with wandb. Can I use it somehow.
I dont wish to make changes in my training script(train.py) and integrate wandb there.

[2021-02-15 11:11] aj7tesh commented on #1782
same issue. Anyone could find a solution to it

[2021-02-15 11:30] ariG23498 commented on #1782
Hey folks,
Just a heads up, and we’re going to emphasize this in the docs, but you have to create the `file_writers` after calling `wandb.init`

Let us know if this helped! 😄

[2021-02-15 11:43] bensums commented on #1745
Same request here. Would have thought this would be a very basic feature of any API. In my case, I have a huge number of runs (with associated data that's taking up a lot of space) and only want to keep a few of them (which I can identify programmatically).

[2021-02-15 11:46] sff1019 commented on #1782
@ariG23498 Thank you for the info! This seems to work! 😄

[2021-02-15 11:48] ariG23498 commented on #1843
Hey @aj7tesh
You can take a look at our [tensorboard integration](https://docs.wandb.ai/integrations/tensorboard).
Let us know if this helped!

[2021-02-15 11:49] ariG23498 commented on #1836
Hey @ingambe
Thanks for the feature request!

[2021-02-15 12:08] aj7tesh commented on #1843
I checked that,
The thing is I dont want to make change in my original train funtion.
I wanted to know can I use this log_dir runs/logs in wandb.

[2021-02-15 12:14] aj7tesh commented on #1782
@sff1019 could you explain

[2021-02-15 12:18] raubitsj commented on #1745
@bensums @HaoLiuHust
We added support for deleting runs in the API in version 0.10.18

simply use the delete() on the run object returned by the export api:
[code]

[2021-02-15 12:18] #1745 closed

[2021-02-15 12:29] ariG23498 commented on #1782
In this training script I have modified the following:
[code]

I am closing this issue for the time being. Please let us know if the problem persists! :smile:

[2021-02-15 12:29] #1782 closed

[2021-02-15 13:07] aadityachapagain commented on #1826
Its more like a data Collections over span of certain time ( and yehh it could go over billions of log per week ) , we both have numeric and text data ( numeric as in metrics ). Both are disjointed , so, we can could also log numeric on wandb and text data locally, But since wandb already provide us with nice dashboard. I thought aforementioned feature would be really nice for us .
Thats all.
So,

[2021-02-15 13:51] aj7tesh commented on #1051
""Could not sync with existing tensorboard event files wandb/client#1051""
Above feature is not yet there,right ?

[2021-02-15 14:01] piraka9011 commented on #1817
Reporting that this still occurs in 0.10.19 :/

If there's a beta/branch that has the fix, happy to test.

[2021-02-15 14:58] ethanabrooks commented on #1793
Kyle, I was able to get your implementation to run. I just had to follow your instructions a little more closely 🤦‍♂️ The graph does not quite look right because `instruction length` is aggregated across multiple runs, not logged separately for each run and as a result it does not properly differentiate among them. Maybe that is something I will change in my code. Anyway, this is enough to get me

[2021-02-15 14:58] #1793 closed

[2021-02-15 16:59] AshCher51 opened #1845 "[Q] Logging Metrics for Previous Runs"
I have a project that has multiple runs in it. I have logged certain statistics for the most recent run, but I wanted to see if I could log statistics that I calculated for a previous one. Is there a way for me to log statistics for a run that is not the most recent one?

[2021-02-15 17:47] awsaf49 opened #1846 "UI Runs Table: Show the max/min of summary metrics in the table"
When we group some runs we can only see their `mean` or `average` of any particular column, It would be really if we can also see `min`, `max` or `std` of the grouped runs

[2021-02-16 00:43] kaiwenw opened #1847 "[App] "group by" results in error rendering"
**Describe the bug**
When I try to group by common_input...policy_regularization...weight, it shows an error: "There was a problem rendering these panels."
If I group by another field (like common_input...algo), it does work as expected.

**To Reproduce**
1. Go to https://wandb.ai/kaiwenw/CartPole-v0/sweeps/2hoqa0oe?workspace=user-kaiwenw.
2. Group by common_input...policy_regularization...weight

[2021-02-16 01:13] nitbix commented on #1757
Another way to reproduce this is to use PuTTY in windows, then run the above minimal script inside a GNU screen session. (the screen session may not even be necessary).

[2021-02-16 01:13] vanpelt commented on #1167
Hey @maria-korosteleva we had to revert our fix for this due to server performance issues.  We're looking into a new fix for this.

[2021-02-16 02:07] vanpelt commented on #1847
Hey @kaiwenw this is a server error likely due to the dots in the metric name.  We'll look into how we can handle this better.

[2021-02-16 06:44] ariG23498 commented on #1846
If I am getting you correctly, you would want to see the `min`, `max` and `std` with the grouping of runs.
![image](https://user-images.githubusercontent.com/36856589/108027543-5d4db380-7050-11eb-91cf-8514f1b93fff.png)
With the plotted graphs we can indeed do this as shown.

Let us know if this helps you.

[2021-02-16 06:46] ariG23498 commented on #1845
Hey @AshCher51
Could you elaborate on your use case some more?

If you want to log something after the run, you can probably look into this: [API Guide](https://docs.wandb.ai/library/public-api-guide)

[2021-02-16 06:47] Yura32000 opened #1849 "[CLI] Running wandb to download dataset (stored as artifact) from W&B failed."
Running wandb to download dataset (stored as artifact) from W&B failed.

[code]
- Environment: Jupyter Lab (Ubuntu 20.04)
- Python Version: [eg. 3.8.7]

[2021-02-16 06:51] ariG23498 commented on #1828
Hey @kwanUm
Thanks for the ticket
We will look into it. 😄

[2021-02-16 06:54] ariG23498 commented on #1849
Hey @Yura32000
Can you get us a code snippet and the artifact that you are downloading. This would let us reproducing the error better.

[2021-02-16 08:16] awsaf49 commented on #1846
![image](https://user-images.githubusercontent.com/36858976/108035612-58453000-7061-11eb-87d4-c0018be30550.png)
As you can see all the grouped runs are aggregated by `mean` I want to aggregate them by `min` or `max` or `std`

[2021-02-16 08:41] Yura32000 commented on #1849
wandb artifact get percepto/itasca/Itasca:v6

while it worked before.

[2021-02-16 09:04] Yura32000 commented on #1849
I found the bug. Sincve W&B dataset is just links to aws s3 ral files and when one of them is deleted from s3 then wand artifact get faild with this strange message. Please fix it or at least warn me and continue to download

[2021-02-16 09:25] timxzz commented on #1129
The root cause is indeed as @EricCousineau-TRI said can be PyYAML. Here is a link from stackoverflow addressing an workaround: https://stackoverflow.com/questions/30458977/yaml-loads-5e-6-as-string-and-not-a-number

[2021-02-16 10:44] ariG23498 commented on #1849
Got it!
Thanks for the update! 😄

[2021-02-16 12:56] SylvainLan commented on #1503
Hi !
I'm new to wandb and got this warning as well, even after installed it through github and not pip.
The flagged file was `wandb/vendor/watchdog/utils/bricks.py:175`, do you want me to run a small PR ? I can take a look at the merged PR from above

[2021-02-16 16:46] talesa commented on #1700
Also, heads up, if you try to fix it manually like this
[code]
you get
`wandb: WARNING Config item 'swept_parameter' was locked by 'sweep' (ignored update).`

[2021-02-16 16:54] kaiwenw commented on #1847
@vanpelt, thanks! is there a hacky fix for now?
And do you have an ETA for when the UI would work?

[2021-02-16 17:28] vanpelt commented on #1847
@kaiwenw unfortunately there's no hacky fix currently.  My colleague @annirudh is working on this issue this week.  We'll hopefully have a fix by the end of the fix.

[2021-02-16 17:38] tyomhak commented on #1846
Hey @awsaf49 , to make sure we're on the same page: you wish to have more control over the resulting value for metrics in the run table after the runs are grouped — to be able to set it to be one of the mean/min/max/std of the grouped runs values. Does that sound right?

[2021-02-16 18:09] davidwallacejackson commented on #1843
@aj7tesh We have an experimental version of the client with support for syncing a tensorboard logdir after a run, per https://docs.wandb.ai/integrations/tensorboard#syncing-previous-tensorboard-runs -- would this work for you? We're actively working to get this into a proper release.

As far as syncing tfevents files: we patch the tensorboard library in place when you call `wandb.init(sync_tensorb

[2021-02-16 21:16] lavanyashukla commented on #1819
@vadimkantorov sorry your slack link didn't work. Where did you get the link from?

[2021-02-16 22:14] AshCher51 commented on #1845
Thanks for the guide @ariG23498. I don't know how I missed it.

[2021-02-16 22:14] #1845 closed

[2021-02-16 22:17] awsaf49 commented on #1846
yes

On Tue, Feb 16, 2021, 11:38 PM Artyom Hakobyan <notifications@github.com>
wrote:

[2021-02-16 22:32] MohammedAljahdali opened #1851 "Logging Error"
**Description**
I am facing a problem that causes logs to not being uploaded, a logging error appears at the start of training script, then everything continues just fine.
**Wandb features**
I am using pytorch lightning, wandb, and hydra

**How to reproduce**
My project is quite messy and large and it's hard to reproduce, but I think the cause of it may be related to  hydra DictConfig not supporte

[2021-02-16 23:12] vadimkantorov commented on #1819
Maybe the link at GH Readme: `If you have any questions, please don't hesitate to ask in our Slack community.`

I don't remember anymore :(

[2021-02-16 23:14] vadimkantorov commented on #1819
Thanks! I'll check smaller `log_freq`. But if it indeed support DataParallel, it would be good to have an official example

[2021-02-17 00:08] Spandan-Madan commented on #1409
Can confirm that the issue still persists. Here's a google colab where I run into the issue. I also found that the error does not show up if I run wandb.init() at the beginning of the colab notebook, but does show up after I have run some significant amount of code above it.

https://drive.google.com/file/d/1ogzN4UTezknK6vlITzHet4JljNGaWqB6/view?usp=sharing

I'm making an assignment for a class I

[2021-02-17 05:38] vanpelt commented on #1409
Hey @Spandan-Madan we're looking into this and will get back to you ASAP.

[2021-02-17 05:48] vanpelt commented on #1409
Hey @Spandan-Madan I'm trying to reproduce the error you are seeing.  The class assumes I have a directory with training data in it.  How do I get that training data into my drive so I can reproduce the issue?

[2021-02-17 11:49] MohammedAljahdali commented on #1851
By removing the Arabic letters from the decoder in the config dict the issue resolved.

[2021-02-17 12:41] ariG23498 commented on #1851
Hey @MohammedAljahdali
Thanks for the ticket and the detail
We will look into this!

[2021-02-17 15:29] Spandan-Madan commented on #1409
Hi @vanpelt Thanks for taking a look at this! To help reproduce the error, I'm sharing a google drive folder with you. It should work out of the box - https://drive.google.com/drive/folders/1-5i4-i59jmO4OIbEmOYCnN3g0CFo1ruS?usp=sharing

The file I'm working with is located at Harvard_BAI/assignment_2/Assignment2.ipynb. If you open this as a colab notebook the error should pop up.

I noticed that i

[2021-02-17 16:26] KyleGoyette commented on #1828
Hi @kwanUm can you share a snippet of the code used to create the confusion matrix?

[2021-02-17 16:46] sunshineatnoon commented on #1383
Hi, is there any update on this issue? Thanks

[2021-02-17 16:51] sunshineatnoon opened #1855 "Is it possible to only delete media files in each project?"
**Is your feature request related to a problem? Please describe.**
It seems there's no way to only delete the media files in each run after it finishes. The media usually consumes the largest storage yet the least useful. So is there any way to just delete all images uploaded to the run?

**Describe the solution you'd like**
A way to delete all images or media uploaded.

**Describe alternatives yo

[2021-02-17 17:01] ashleve opened #1856 "[Feature] Wandb sweeper for hydra"
**Is your feature request related to a problem? Please describe.**
Currently wandb sweeps can be used alongside [Hydra](https://hydra.cc) but it's not very convenient.
Most of the times I would like to overwrite only certain parameters in hydra config, by downloading them from wandb sweep server. This is possible, but requires me to manage the overriding logic by myself.

**Describe the solution y

[2021-02-17 19:46] w4zir commented on #1693
I am getting this error on you example code
https://colab.research.google.com/github/wandb/examples/blob/master/colabs/intro/Intro_to_Weights_%26_Biases.ipynb#scrollTo=-VE3MabfZAcx

[2021-02-18 01:52] sunshineatnoon commented on #1855
Found the feature on the web app

[2021-02-18 01:52] #1855 closed

[2021-02-18 05:53] #1252 closed

[2021-02-18 05:56] ariG23498 commented on #1693
Hey @w4zir
I do not get any issue while running the colab

Could you send us a screenshot of what you are seeing right now? Thanks!

[2021-02-18 07:57] tulasiram58827 opened #1859 "wandb sweeps and agent bug"
**Configuration File Used**:

[code]

After that I ran `wandb sweep sweep.yaml`

**Output**:

[code]

After than I ran `wandb agent m2su4as`

This is the error

[code]

It seems some project name is missing but I already added project name in YAML file.

@ariG23498

[2021-02-18 09:19] ariG23498 commented on #1859
Hey @tulasiram58827
I tried reproducing your issue.
These are the steps that I followed 👇
### train.py
[code]

### sweep.yaml
[code]
1. Providing the command `wandb sweep sweep.yaml` gives out the following console output
[code]
2. Copying the whole command from the output is a must. Here I copied the command `wandb agent repro/information_extraction/0dtitg6z` and tried running this.
3. The sweep

[2021-02-18 09:22] ariG23498 commented on #1856
Hey @hobogalaxy
Thanks for the feature request
We will look into this!

[2021-02-18 09:55] ariG23498 commented on #531
Hey @noklam
Does the `--id` help you to overcome this issue?
In the [documentation](https://docs.wandb.ai/ref/cli#wandb-sync) we have provided with all the options there are to be used with the `sync` CLI. The issue here particularly pertains to duplication. If we provide the `--id` of the run, the sync attaches to the run we mention.

On the other hand, if we want to resume a run here is the [doc

[2021-02-18 10:03] ariG23498 commented on #642
Hey @surya-narayanan
Does the issue with the error message still persist?

[2021-02-18 10:35] ariG23498 commented on #663
Hey Folks
We would like to know whether the problem still persists!
As for resuming, we have a complete guide for the same: https://docs.wandb.ai/library/resuming

[2021-02-18 10:38] ariG23498 commented on #673
Hey @karenc3
Do you still notice this error?

[2021-02-18 10:47] noklam commented on #531
sorry I cannot confirm on this, I have not used it in a while.

[2021-02-18 10:49] tulasiram58827 commented on #1859
Instead of copying the entire path I just used agent id. Thanks, @ariG23498 Problem solved.

[2021-02-18 10:49] #1859 closed

[2021-02-18 11:05] ariG23498 commented on #702
With version of `0.10.18+`
we could do something like this
[code]
to delete runs from the API.

[2021-02-18 11:05] #702 closed

[2021-02-18 11:07] ariG23498 commented on #736
I am a little confused with the thread
The initial ticket was raised for a lack of feature that could help us with finding the `min` or `max` of an experiment from the UI.
We indeed have a solution of sorting the table in an ascending or descending order of any chosen metric from the UI.
![image](https://user-images.githubusercontent.com/36856589/108347302-5e284600-7206-11eb-914b-3d0ef75864f5.png)

[2021-02-18 11:11] #531 closed

[2021-02-18 11:12] depthwise commented on #736
Metrics don't always improve, and columns show the _last_ value, not the _best_ one (AKA the only one the researcher actually cares about).

[2021-02-18 12:13] ariG23498 commented on #736
Got it thanks! 😄

[2021-02-18 12:40] w4zir commented on #1693
Working fine now. Ty

[2021-02-18 19:15] MohammedAljahdali commented on #1856
hey @hobogalaxy, I am currently trying to use hydra sweeps with wandb, but I am facing an issue where when a new run in the sweep starts and the id of the wandb run changes (I do that using the hydra:job.num) , and a new wandb object gets created with this new id, the version attribute  of wandb get set  to the same id as the first run in the sweep and does not change. Thus making it impossible to

[2021-02-18 19:49] hobogalaxy commented on #1856
Hi @MohammedAljahdali, I don't really see a reason for setting id of the wandb run to hydra job number? Why not just stay with random ids?
If you want to keep it organized, I usually just come up with different name for each hydra sweep and set it to wandb "group" parameter (so it's easier filter it in UI).
Something like: `python train.py  +experiment=experiment_name --multirun model.lr=0.01,0.00

[2021-02-18 20:25] MohammedAljahdali commented on #1856
I found a solution to my issue which is calling `wandb.finish`. As for naming the run, I actually use meaningful name, but also concat the job number at the end to separate the sweep runs from each other. Also, using the group name is great idea. Thank you a lot 🙏🏻

[2021-02-19 01:24] EricCousineau-TRI commented on #1137
Confirmed that it works!
https://github.com/EricCousineau-TRI/repro/commit/583acd21

[2021-02-19 07:32] talesa opened #1861 "UI: Cross-panel highlight broken on scatter plot and parallel coordinates"
**Describe the bug**
[apologies for a clumsy title of this issue]
When running sweeps I create a new scatter plot, a "Distortion vs Rate" plot in an image compression setting (top left on the screenshots below).
(side note: the "Plot running maximum y values" works really well to draw a pareto frontier in such multi-objective optimization settings 🙏 )

Then I would like to investigate my logs, thi

[2021-02-19 08:03] maria-korosteleva opened #1862 "[CLI] Runs end with: RuntimeError: dictionary changed size during iteration"
**Description**
This error happens after the end of the training script in about 50% of my runs. All files & artifacts seem to be uploaded correctly by that moment, but something goes wrong and wandb crashes.

[code]

**Wandb features**
I'm using run initialization, metrics logging (wandb.init(), wandb.log()), save files to run dir, upload artifacts. Some important points that could be related to

[2021-02-19 08:49] talesa opened #1863 "[Feature] Sweep config: Specify parameter combinations as categorical"
**Is your feature request related to a problem? Please describe.**
Imagine a setting where you want to train a fully connected network but you have some space constraints - simplifying let's say you only want to train networks within some particular range of total number of hidden units (`hidden_units_min <= hidden_units <= hidden_units_max`).
`hidden_units` depends on `num_layers` and `layer_size

[2021-02-19 14:07] ashleve opened #1869 "[CLI] Sometimes FileNotFoundError randomly crashes runs"
**Description**
I'm using Windows + PyTorch Lightning + Hydra. Sometimes runs just crash with:
`FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\X\\AppData\\Local\\Temp\\tmpgv0qht61wandb-media\\ai5vmd11.graph.json'`
This happens after run is already succesfully initialized.
Full stack trace:
[code]

**Wandb features**
PyTorch Lightning WandbLogger.

**How to reproduce**
Unfortun

[2021-02-19 14:10] kwanUm commented on #452
Following as well

[2021-02-19 14:19] hobogalaxy commented on #1869
Here is debug-internal.log:
[code]

[2021-02-19 14:23] ariG23498 commented on #1869
Hey @hobogalaxy
Thanks for reporting this
@borisdayma Would you like to take a look at this one?

[2021-02-19 14:53] prash-p commented on #675
This would be very helpful still.
Is this possible with the new ui?

[2021-02-19 15:03] ariG23498 commented on #821
Hey guys
I am closing this ticket due to the inactivity of the ticket and that we have a perfectly working scenario with custom charts for this.

[2021-02-19 15:03] #821 closed

[2021-02-19 16:56] mwalton commented on #1421
I'm having this issue as well. It's not hard to address once you catch it, but I think it's worth looking into as it's easy to miss when configuring large sweeps and breaks many optimisation tasks which are naturally defined this way. Two public sweeps illustrating this:

Demonstration of the issue: [int cast issue sweep](https://wandb.ai/mwalton/solver_sandbox/sweeps/vynkplxk) which occurs when u

[2021-02-19 18:16] cvphelps commented on #881
Just got flagged on this one! Here's the documentation on Custom Charts: https://docs.wandb.ai/app/features/custom-charts

Here's a live example in a [hosted notebook →](https://colab.research.google.com/drive/1uXLKDmsYg7QMRVFyjUAlg-eZH2MW8yWH?usp=sharing)

[2021-02-19 18:27] #881 closed

[2021-02-19 18:47] cvphelps commented on #1863
Hey Adam thanks for the thoughtful suggestion. The hacky workaround looks right, and when we come back to Sweeps and prioritize new features, we will include this feature request in the list!

[2021-02-19 18:54] cvphelps commented on #1861
@talesa thanks! Could you please share a link to a page where you're seeing this?
Here's an example from my own workspace, and the scatter plot seems to highlight the runs on the parallel coordinates chart correctly for me:
https://wandb.ai/carey/pytorch-sweep/sweeps/n8uyjli8?workspace=user-carey

![2021-02-19 10 51 17](https://user-images.githubusercontent.com/6355078/108548517-c88dc480-72a0-11eb

[2021-02-19 21:33] kaiwenw commented on #1847
Hi @vanpelt, any update on this? the UI is still broken for me unfortunately :/
It'd be great if there's a hacky fix since I need this group by result by next Tuesday (02/23).

[2021-02-20 17:33] ruotianluo opened #1873 "pudb ui when using wandb"
**Describe the bug**

I use pudb to debug my code. Currently, when I use wandb, it will affect the pudb UI.
Usually pudb should fill the whole terminal window, whereas now it becomes fixed sized and very small.

Also reported here: https://github.com/CompVis/taming-transformers/blob/master/main.py#L441

Any clue why that happens?
**To Reproduce**

**Expected behavior**
Using wandb should not affec

[2021-02-20 18:51] EricCousineau-TRI opened #1874 "CLI: Import wandb writes files, which should only happen on an explicit function call"
**Describe the bug**
We use Bazel for development and CI. I upgraded from `wandb==0.9.4` to `wandb==0.10.19`.
In CI, due to how Bazel is configured via sandboxing, any tests that try to write outside of their sandbox fail.
However, `import wandb` triggers a write to the home directory, thus causing the test to fail.

Workaround would be to change whatever environment variable to lie to `wandb` (ri

[2021-02-20 18:53] EricCousineau-TRI commented on #1874
(FWIW All the implicit patching done by `wandb.init` does make it more usable, but at least the user has clear control of it at that point.)

[2021-02-21 21:24] talesa commented on #1861
Thanks @cvphelps!

In the workspace you've shared do the following to replicate:
1. Create a new scatter plot: "accuracy v. loss"
![image](https://user-images.githubusercontent.com/6434262/108639160-077f6e00-748b-11eb-86c1-c3287f674dec.png)
2. Select a range of values on "accuracy v. loss"
![image](https://user-images.githubusercontent.com/6434262/108639149-e4ed5500-748a-11eb-8166-aac5cc36a44d.png

[2021-02-22 02:31] sergeyk commented on #1660
Facing this issue too @vanpelt.

See top two rows here:
<img width="1920" alt="CleanShot 2021-02-21 at 18 26 47@2x" src="https://user-images.githubusercontent.com/4881/108649791-e3b02e00-7472-11eb-8e8b-8450a625dd59.png">

https://wandb.ai/sergeyk/fsdl-text-recognizer-2021-training/sweeps/twpvro2d/table?workspace=user-sergeyk

[code]

[2021-02-22 09:58] coloss commented on #1075
It appears to me that the feature of adding to existing report does not work. When I want add stuff to an existing report, the drop down menu does not list any of my reports but only offers the option to create a new report.

[2021-02-22 12:36] ariG23498 commented on #1075
Hey @coloss
We have recently updated the editor for our reports. Could you check if you could go into an existing report of yours and then manually add a panel to that report? This would help you add a section to an existing report!
Let us know if this helped. Thanks! 😄

[2021-02-22 12:41] ariG23498 commented on #1873
Hey @ruotianluo
Would you be able to attach some screenshots of what is happening here?

[2021-02-22 12:46] ariG23498 commented on #1862
Hey @maria-korosteleva
Thanks for the ticket we will be looking at this one.
In the meantime could you also upgrade the version for `wandb` and check whether the issue persists?

[2021-02-22 12:59] #663 closed

[2021-02-22 13:00] #673 closed

[2021-02-22 13:02] ariG23498 commented on #780
Hey folk the thread has gone stale
It would be awesome to know whether this issue still persists for you?

[2021-02-22 13:17] ariG23498 commented on #887
Closing this as @vanpelt has already mentioned a workaround for the ticket.

[2021-02-22 13:17] #887 closed

[2021-02-22 14:23] fcampagne commented on #780
Since there was no update on this ticket, I did not try with bayes recently.

[2021-02-22 14:47] ariG23498 commented on #954
Hey @dreamflasher
We have updated the "reports" editor. You can indeed share the panels as shown here 👇
![image](https://user-images.githubusercontent.com/36856589/108723583-6f48be00-754a-11eb-8271-435fcc2bb854.png)

Here you will be sharing the panels in the form of a report that is time-stamped for you. Would this suffice the feature that you are looking for?

[2021-02-22 14:56] ariG23498 commented on #956
Hey Folks
Could you check whether this still persists with the latest iteration of our version? Thanks

[2021-02-22 14:58] #993 closed

[2021-02-22 15:09] davidcian commented on #1206
I've also had the same problem. I think the issue might be that if you log a NumPy array with a certain key, then start logging a scalar value with the *same* key, wandb doesn't automatically start plotting it on the dashboard as if it had been a scalar from the very beginning. As mentioned above, adding the graph manually works.

[2021-02-22 15:24] #844 closed

[2021-02-22 15:30] ariG23498 commented on #1206
Closing this issue as the workaround suggested by @cvphelps works in these scenarios!

[2021-02-22 15:30] #1206 closed

[2021-02-22 15:30] #1064 closed

[2021-02-22 15:32] #1026 closed

[2021-02-22 15:34] ariG23498 commented on #1007
Hey folks
Could you check if this issue still persists with the current version of wandb?

[2021-02-22 15:56] ariG23498 commented on #1040
Hey @saswatac
I have tried reproducing this ticket and have found that the resume feature does line up the steps.
To reproduce:
[code]
This executes a `Ctrl+C` at step 10. Later I run the same code again and this is the visualization that I see 👇
![image](https://user-images.githubusercontent.com/36856589/108733378-770d6000-7554-11eb-870f-1d8daed585f6.png)
We need to log the metrics keeping in min

[2021-02-22 15:56] #1040 closed

[2021-02-22 17:31] #862 closed

[2021-02-22 17:32] vanpelt commented on #1660
Hey @sergeyk, just to be really clear on what you're seeing.  In the example above we searched the same set of parameters twice in your sweep and you would expect us to treat this search like a grid and never attempt the same combination of parameters more than once.  In addition, the sweep should finish once all combinations have been attempted.

If this sounds right, we'll reproduce on our end a

[2021-02-22 18:06] #839 closed

[2021-02-22 19:21] sergeyk commented on #1660
That's right. Seeing this behavior in `random` mode also:
https://wandb.ai/sergeyk/fsdl-text-recognizer-2021-training/sweeps/iyckisfz/table?workspace=user-sergeyk

(I manually killed one of the runs below -- they both launched at the same time.)
<img width="1554" alt="CleanShot 2021-02-22 at 11 20 24@2x" src="https://user-images.githubusercontent.com/4881/108758563-1b18ec00-7500-11eb-89c6-419f0e38

[2021-02-22 22:46] kaiwenw opened #1879 "[Q] Mechanism for rerunning failed runs in a sweep?"
Is it possible for wandb agent's to rerun failed runs in a sweep? Currently what I do is I just create a new sweep, but then I would have to rerun the successful runs as well if I want to compare.

[2021-02-23 04:05] maria-korosteleva commented on #1862
Hey @ariG23498
Thank you for your consideration. I will upgrade and try, but this might take a while -- as I said, the issue is not stably reproducible =(

One more thing that I missed in the original post is that I run the core from within Visual Studio Code. Might be helpful. (I will update the above description)

[2021-02-23 07:28] cr0wley-zz opened #1882 "[Windows] Issue with Wandb console"
**Describe the bug**
I don't have `.netrc` file for my authorization. While initializing wandb in a directory, the console asks for my authorization key from `[the Authorization page](https://wandb.ai/authorize)`. I copy my key but when I try to paste it to the console and press enter, the console throws an error.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a virtual env
2

[2021-02-23 07:37] nialloh23 commented on #1596
Confirming that I'm still having this problem on OSX Big Sur - PyCharm

[2021-02-23 07:49] ariG23498 commented on #1596
Hey @nialloh23
Did the workaround provided above help?

[2021-02-23 07:57] nialloh23 opened #1883 "Error while calling W&B API: Sweep user not valid (<Response [400]>)"
**Description**
I'm trying to setup my first sweep run. When I run `wandb sweep training/sweep.yaml` I get prompted to enter my API key (doesn't seem to pick up from my machine). It then tries to create a sweep but throws an error that the sweep user is not valid. My API key works for my normal wandb logging.

**Step 1: I'm prompted to enter my API Key**
[code]
**Step 2: Get the following error me

[2021-02-23 10:05] nialloh23 commented on #1596
@ariG23498 This workaround of manually logging in from the terminal worked for me.
This got a little frustrating after a while as you end up having to do it quite often.
I found a better fix which involved using the API to explicitly login at the start of my script.
Some context: this issue started affecting my runs around Dec and I just got it sorted with this solution today.
Not sure if it is li

[2021-02-23 16:06] ariG23498 commented on #1883
Hey @nialloh23
A few questions:
1. Does your training script `run_sweep.py` run normally without the sweep?
2. Is the `sweep.yml` file on the same level as that of the `run_sweep.py`?
3. Could you try the steps outside of PyCharm, and in the terminal?

[2021-02-23 16:15] ariG23498 commented on #1879
Hey @kaiwenw
We do not support this for all the sweep types, but for the Grid search, a broken run when deleted will be reattempted. Here is the doc link to help you with this: https://docs.wandb.ai/sweeps/faq#rerun-grid-search

[2021-02-23 16:44] jbmorgado opened #1884 "[Q] Hyperband badly documented. `min_iter` doesn't do what is expected"
I am trying to run a sweep with `hyperband` but I am facing two issues. First, the documentation on wandb is quite lacking. Nowhere it says what the 4 parameters are supposed to mean (it does direct you to the paper, but it's complex to understand those even from there).

Second, the `min_iter` parameter for `hyperband`, should specify the minimum iteration before stopping? If so it's not working,

[2021-02-23 17:54] vanpelt commented on #1882
Hey @cr0wley-zz you can [set the environment variable](https://superuser.com/questions/79612/setting-and-getting-windows-environment-variables-from-the-command-prompt) `WANDB_API_KEY=XXXX` where XXX is your api key from the authorize page to get past this issue.

We're unable to reproduce this specific error from calling `wandb login`.  If you paste what you copied from the browser into a an appli

[2021-02-23 17:56] cr0wley-zz commented on #1882
Hello @vanpelt , thank you for looking into this. Yes, if I come out of the console, the key is visible anywhere I try to paste it. Only in the console it gets registered as a 1 digit input.

[2021-02-23 18:59] hongliny commented on #780
The issue still persists on my side

[2021-02-24 00:53] #1873 closed

[2021-02-24 05:58] kanybekasanbekov commented on #452
Can't wait when WANDB will natively support distributed training

[2021-02-24 09:20] nialloh23 commented on #1883
Hi @adrnswanberg Thanks for the tips. When I went digging a bit further I ended up finding a problem with my run_sweep.py file. Thanks for your help figuring it out.

[2021-02-24 09:20] #1883 closed

[2021-02-24 13:31] zliangak opened #1893 "wandb: ERROR Error while calling W&B API: Error 1062: Duplicate entry '224579-yzgdojv7' for key 'PRIMARY' (<Response [409]>)"
**Description**
I run multiple python experiment with different hyper-parameters and get the error:
[code]

In every experiment, I use
[code]

I notice that there are similar issues in
https://github.com/ultralytics/yolov3/issues/1650
and
https://github.com/ultralytics/yolov5/issues/1878.

Thx

[2021-02-24 15:09] vrodriguezf opened #1894 "[CLI] api.sweep broken for large sweeps (read timeout)"
**Description**
When running `api.sweep` with "large" sweeps (actually not that large, just around 180 runs), this error appears:
[code]

I've realized that it also crashes when pressing the download icon in the wandb app, in the table view.

**Wandb features**
Just using the Python wanb api.

**How to reproduce**
2 ways:
- execute `sweep = api.sweep("stardust-r/deep-learning-space-weather-forecas

[2021-02-24 15:19] coloss commented on #1075
@ariG23498 , it seems to work now. :-) Thanks a lot.

[2021-02-24 16:56] vanpelt commented on #1893
Are you specifying WANDB_RUN_ID or ever setting the `id` attribute when calling wandb.init?  Can you provide us with a self contained example or colab that consistently causes this to happen?

[2021-02-24 16:57] vanpelt commented on #1893
It seems like this is the underlying cause of the id issue: https://github.com/ultralytics/yolov5/pull/1852/files

Are you using a version of yolo that has this fix applied to it?

[2021-02-24 17:41] vanpelt commented on #452
Hey @kwanUm, @joshlk, @kanybekasanbekov apologies for the delay in response here.  wandb does support distributed training natively.  This thread is about more complex distributed cases.  When training in a distributed manner, you will likely want to use [grouping](https://docs.wandb.ai/library/grouping) to view many different "runs" as a single experiment in the wandb UI.

If you can describe you

[2021-02-24 17:49] aligholami commented on #1893
Hey I'm having the same issue on a different project. For some reason I get the following every single minute (even when I'm not running anything the terminal shows this). Seems like a zombie process somewhere throwing this into the terminal:
`
wandb: ERROR Error while calling W&B API: Error 1062: Duplicate entry '222274-17r7r20k' for key 'PRIMARY' (<Response [409]>)
`

[2021-02-25 03:01] ZhicongLiang commented on #1893
I did not specifying the WANDB_RUN_ID or set the ID in any other mean.

I don't know how to reproduce the problem. Yesterday, I wrote a bash file to run my main.py every 3 seconds for different hyper-parameters. At the end of the training, I encounter this error.  I think it is caused by my frequent invoking of wandb. After I cancel all the python experiment, I keep getting this error in my termin

[2021-02-25 03:01] ZhicongLiang commented on #1893
I did not use yolo.

[2021-02-25 03:11] MKorablyov commented on #1817
I am experiencing the same issue. Seems meaningful to have it such that even when the run crashes all previous data points  logs could be still  reported (except the one interrupted)

[2021-02-25 09:29] Yura32000 opened #1897 "[CLI] Synchronyzing artifact dataset with amazon S3 sometime fails"
We are using W&B artifact as dataset of links to S3 real data.
However, sometime doing the following command fails to update artifact with links to S3

wandb init -e XXX -p YYY
 wandb artifact put -n YYY -t dataset  s3://bucketyname/YYY

I see that dataset artifact is cretaed correctly but its links are missing

[2021-02-25 11:39] HaoLiuHust opened #1898 "[Q]can wandb dashboard display Chinese?"
I wonder can wandb web UI display Chinese

[2021-02-25 12:09] agrinh opened #1899 "Avoid returning None on init"
It's a bit inconvenient that that init may return `None`, especially since I have to manually check before using `with` when using mypy. Looks like the following TODO is an intended fix for that, considering how easy of a fix it'd be I'd love to see it happen.

https://github.com/wandb/client/blob/7cc4dd311f3cdba8a740be0dc8903075250a914e/wandb/sdk/wandb_init.py#L742

[2021-02-25 12:44] awsaf49 opened #1900 "wandb.plots.ROC for multilabel classification"
Is there any way to plot `roc curve` for `multilabel classification` using `wandb.plots.ROC` ?
format:
[code]

[2021-02-25 15:53] cvcore commented on #1639
Hi @cvphelps I also had this issue but setting a lower `log_freq` did solve my problem. As this seems to be a common problem among users, IMHO it's a better option to log the gradients already in the first iteration, instead of first waiting for `log_freq` iterations.

[2021-02-25 16:05] lukas commented on #1898
Yes - it should display Chinese anywhere - if you find somewhere that doesn't work please let us know.  We've had a couple unicode issues in the past but I believe they are resolved.

![image](https://user-images.githubusercontent.com/29/109180768-13e02100-7740-11eb-8d3e-0f771c3ed9a8.png)

[2021-02-25 16:05] #1898 closed

[2021-02-25 17:34] tyomhak commented on #938
Hey @dreamflasher , sorry for the late response. I've updated our internal tickets for infinite/lazy scrolling and a 100 row pagination option, to increase the priority for them. Thanks for your requests! Will keep you updated.

[2021-02-25 19:12] drozzy opened #1902 "[App] Stdev grouping does not work with a single point"
If I have just a single point plotted from each run within a group, the switching from min/max to stdev range does nothing.
![Screenshot from 2021-02-25 14-10-11](https://user-images.githubusercontent.com/140710/109204416-4d7e4f80-7773-11eb-8bce-0e3701694610.png)

[2021-02-25 19:17] drozzy commented on #1902
Nevermind, using a barchart instead fixes this.

[2021-02-25 19:17] #1902 closed

[2021-02-25 22:08] lukas commented on #1884
Sorry - I will do a pass on the docs at https://docs.wandb.ai/sweeps/configuration#stopping-criteria and add some examples.   You should only define min_iter or max_iter and this will define the bands where a run might stop. So if you set eta to 3 (default), max_iter to 19 and s to 2 you will get brackets at floor(19/3)=6 and floor(19/3^2)=2.

Does this make sense? This is a little hard to explain

[2021-02-26 01:30] HaoLiuHust commented on #1898
What I mean is the menu in wandb, such as "charts" in your image

[2021-02-26 01:52] lukas commented on #1660
In random mode we sample with replacement and we should sample without replacement by default, I can get out a fix for this.

I believe what's happening in both of the bayes cases is that there are a small number of possible values and the gaussian process has some a small uncertaintly still on the hyperparameters where there is an observed value so it thinks that the most promising set of hyperpa

[2021-02-26 01:59] lukas commented on #1234
Sorry - I totally missed this and it really should compare the snapshot - let me take a look.

The mean or a smoothed option seems like a good idea, although maybe simpler and more flexible is to let the user do the aggregation. Thanks @leopd.

[2021-02-26 02:49] lukas commented on #1898
If you click on the three dots on the right you can change the label charts.  We haven't internationalized the app so that everything is automatically translated into Chinese although we are considering it - would that help you?

![image](https://user-images.githubusercontent.com/29/109248122-153e3780-779a-11eb-8f1f-97434914c828.png)

[2021-02-26 02:51] sergeyk commented on #1660
Makes sense, thanks for your attention!

Cheers,
Sergey

On Thu, Feb 25, 2021 at 5:53 PM Lukas Biewald <notifications@github.com>
wrote:

[2021-02-26 08:11] SamPruden commented on #1234
I'm glad this is being looked at! Giving the user control of the aggregation sounds great if there's a sensible default too. Implementing and tuning a custom "minimum of smoothed" might be slightly fiddly as a user, so it would be nice if there were a utility provided to make that simple. Perhaps if the smoothing amount were parameterised the same way as the smoothing in the UI, it would be easy t

[2021-02-26 10:48] FraPochetti commented on #1320
Hi @sneakyPad have you been able to figure this out?
I am stumbling upon the same issue. The train loss is not logged. Everything else is, on the contrary.

@borisdayma the link to the docs you provide is broken.
What were you referring to when you mentioned the following?

Thanks eveybody for the help!

[2021-02-26 11:55] sneakyPad commented on #1320
Hi @FraPochetti!
Sorry @borisdayma for not getting back at this. I remember that I tried `self.log` but at that time I was logging a lot, and if I recall correctly, I was only able to log a single variable with it? (Not quite sure)

@FraPochetti I ended up with the following:

[code]

I think the `loss` in the return statement never got logged and I was just a bit careless. I think the trick was u

[2021-02-26 12:29] emilemathieu opened #1904 "CLI Clarification: How wandb handles the queue, writing to disk, and network requests"
**Is your feature request related to a problem? Please describe.**
Logging can be expensive in read / write. Would like to be able to write to disk / send to network `every_n_steps`.

**Describe the solution you'd like**
Tensorboard's `SummaryWriter` has a `max_queue` parameter that is `Size of the queue for pending events and summaries before one of the 'add' calls forces a flush to disk.`

**Des

[2021-02-26 12:53] FraPochetti commented on #1320
Thanks a lot!

[2021-02-26 13:22] itssimon commented on #1771
I'm also encountering the issue of processes not stopping. Is there a workaround for this? Currently it prevents us from running training on more than one GPU.

_W&B Technical FAQ:_

[2021-02-26 14:39] borisdayma commented on #1320
I'm not sure which version you use but the pattern for logging is now with `self.log` (see [the docs](https://pytorch-lightning.readthedocs.io/en/stable/extensions/logging.html#automatic-logging))

[2021-02-26 15:14] tyomhak commented on #1894
Hey @vrodriguezf , thanks for reporting the issue. I'm trying to reproduce it through the UI right now, but it's downloading just fine for me. You're talking about this download button, and then exporting it as csv, right?
<img width="283" alt="Screen Shot 2021-02-26 at 7 11 37 PM" src="https://user-images.githubusercontent.com/16812535/109317889-a37fef80-7866-11eb-976e-ff6a5c2e4a3f.png">

I visua

[2021-02-26 15:18] tyomhak commented on #1899
Hey @agrinh , thanks for the request. I'm bringing this up with the team, to see if we could include a fix for this in the upcoming release.

[2021-02-26 15:21] tyomhak commented on #1900
Hey @awsaf49 , I'm not quite sure. Let me check with the team regarding this.

[2021-02-26 15:48] vrodriguezf commented on #1894
Thank you for your help @tyomhak . I'm just interested in the run id column, but when I press the download button it takes ages. It's weird that it works for you! I'm not using a VPN, if I take sweeps with less runs it works good.

[2021-02-26 16:05] kouroshHakha opened #1905 "[Q] How do I silence terminal outputs from wandb?"
Hi,

since the upgrade to 0.10.20, wandb operations print stuff like what follows. Is there any way to suppress these (maybe with an ENV variable)?

[code]

[2021-02-26 16:28] tssweeney commented on #1900
Hi @awsaf49, currently, the `wandb.plots.roc_curve(y_true, y_pred)` expects the following format:
- `y_true` is a sequence of length N, where each entry is a class index
- `y_pred` is a sequence of shape NxC where each row is the class probabilities for each class.

A simple example would be:
[code]

Since this format does not support multi-class classification today, a workaround would be to simp

[2021-02-26 16:46] cvphelps commented on #1905
Good morning! Sure, you can set the environment variable `os.environ["WANDB_SILENT"] = "true"`

[2021-02-26 17:10] lucmos commented on #1314
Unfortunately, I'm encountering the same problem, and the joblib launcher does not avoid the issue.

[2021-02-26 17:19] cvphelps commented on #1904
Hi there, could you tell me more about what perf issues you're seeing? Behind the scenes we do use a queue and communicate to a separate process that does the upload.

[2021-02-26 17:25] emilemathieu commented on #1904
Hi @cvphelps, we're using wandb over a NFS, and recently we've had big write requests, perhaps not from wandb, but generally we were trying to avoid writing to much, and hence not flush the loggers at every step.
Good news is that is already implemented behind the scene. Could you tell a bit more on that? Are the logs written on the disc or only uploaded?

[2021-02-26 17:34] cvphelps commented on #1884
Hi @jbmorgado could you please share a link to the page you were looking at previously that didn't have good examples?

[2021-02-26 17:38] cvphelps commented on #1874
Hi Eric, thanks for reporting this. We're prioritizing and will address in a future release.

[2021-02-26 18:04] cvphelps commented on #1904
Sure, thanks for the clarification. @vanpelt could you share a little more of the details here on how we handle writes.

[2021-02-26 18:20] vanpelt commented on #1904
Hey @emilemathieu we queue in memory but also [write the events to disk](https://github.com/wandb/client/blob/7cc4dd311f3cdba8a740be0dc8903075250a914e/wandb/sdk/internal/datastore.py) asynchronously to handle failures and for the `WANDB_MODE=offline` case where you can sync the data after it's been logged.

In your terminal, you can see a path to the local run directory.  This directory will conta

[2021-02-26 19:11] kouroshHakha commented on #1905
No this is not exactly what I was looking for. This will silent everything including the initial wandb.init() information, for example if there is a newer version or the other stuff that it prints .etc. Those are still useful. These specific things that I pasted in the issue appeared after I updated to 0.10.20, they didn’t exist before.

[2021-02-26 19:35] MartinHahner opened #1906 "[CLI] I do not get wandb login to work on AWS at launch"
I can run `wandb login` without any issues when I manually start an EC2 instance in the AWS console and execute this command.
However, when I want to execute it automatically at launch, it does not work.

[code]
Here is the beginning of my `user-data` that gets executed whenever I launch an instance via the `aws` CLI:

[code]

This is the error message I extracted from `/var/log/cloud-init-output.

[2021-02-26 20:24] vanpelt commented on #1314
Hey @lucmos with the most recent release of wandb, can you try setting the `WANDB_START_METHOD` environment variable to "thread" and see if you're still having the same issue?

We're also doing some work on multiprocessing and calling wandb.init in both a parent and child process that could be relevant here.  If you could provide us with a colab or code snippet to reproduce the issue it would real

[2021-02-26 20:27] vanpelt commented on #1905
Hey @kouroshHakha we're looking into the root cause, but it seems like in your case its related to python logging.  A quick fix should be to add the following to your script until we find what's causing this:

[code]

[2021-02-26 20:33] lucmos commented on #1314
Hello @vanpelt,

Good news, with `WANDB_START_METHOD=thread` the minimum working example I prepared works.
(in case of further problems on production code that uses lightning I'll post again here)

You can find the mwe [here](https://gist.github.com/lucmos/534c14a3ed7fd6ed651962a41680ccc7)

Are there any contraindications in using always `WANDB_START_METHOD=thread`?

[2021-02-26 20:36] tyomhak commented on #1897
Hey @Yura32000 , thanks for reporting this. We're looking into it.

[2021-02-26 21:28] vanpelt commented on #1906
@MartinHahner `wandb login` requires a TTY, as it will prompt you to input the key.  If you want to configure the api key without requiring input you have 2 options:

1. `wandb login XXXXXXX` where XXXXXXX is the api key you want to configure.
2. Just setting the WANDB_API_KEY environment variable to one of your api keys.

Chris

[2021-02-26 21:28] #1906 closed

[2021-02-26 21:35] vanpelt commented on #1314
Hey @lucmos we just added this start method so we're still evaluating performance around it.  The default start method is spawn which has better semantics / logic seperation but can interact poorly especially if your code is leveraging multiprocessing as well.  We're planning to atleast detect this case and automatically use `thread` when appropriate.

[2021-02-27 01:08] leopd commented on #1234
@SamPruden I think some kind of smoothing criterion makes sense - without a rigorous analysis, intuitively it should reduce variance in the quality of tuning.  It's essentially impossible to know what distribution the noise looks like, so we should just assume normal, in which case using the mean is probably the best smoother.  Over what range?  I'd say only the most recent band.  If you take the

[2021-02-27 02:28] MartinHahner commented on #1906
Oh man, how obvious... :man_facepalming:
Thanks a lot!

I have `export WANDB_API_KEY XXXXXXX` in my `.bashrc` but that does not get sourced in my `user-data.txt`.

[2021-02-27 02:37] tyomhak commented on #1894
I have tried again, and now it's definitely not "snappy" for me either. We'll look into this, and see if we can improve the performance. Thanks for reporting! :) will let you know if we have updates.

[2021-02-27 08:05] SamPruden commented on #1234
My thought on exposing aggregation options was that it would be nice to have that power **if there are some sensible defaults**, but I completely agree that this shouldn't have to be a hyperparameter that most users need to tune, or spend time researching or thinking about.

My instinct is that "minimum of lowpass" would be a good option. It should deal with noise problems, but not be sensitive to

[2021-02-27 08:28] SamPruden commented on #1234
To motivate the idea that customisation may be good, different training scenarios may have different ideas of "best".

For example, if you take a fairly standard setup, then this may heavily depend on batch size. At one extreme, you may have many tiny batches and would want heavy smoothing. At the other extreme, you may have only a single large batch, and might want no smoothing at all - only a si

[2021-02-27 10:59] vrodriguezf commented on #1894
Thanks! We've been recommended to log less things in each run, we'll try that as well to see if it alleviates the issue

[2021-03-01 01:44] Spandan-Madan opened #1909 "[App] UI bug - unable to change size of column with run names in the workspace tab"
**Bug Description**
Run names for experiments can often be long and so it's useful to change the size of the column displaying run names. When in the workspace tab i.e. with all the charts, the size of this column doesn't change when dragging on the separator between columns. My current workaround is switching to the table tab, changing the column size and switching back to workspace mode.

Not a

[2021-03-01 05:58] ariG23498 commented on #1909
Hey @Spandan-Madan
Thanks for the ticket, but I think we already implement the functionality as shown 👇
https://www.loom.com/share/6865b14efe094a8baa9b7bed22226ee0

Hope this helps! 😄

[2021-03-01 07:04] ariG23498 commented on #912
Hey folks
I tried reproducing this ticket with `wandb 0.10.20`
## Code
**Creating a run**
[code]
This gets me the config dictionary `{'epochs': 50, 'loss': 'mse', 'opt': 'adam'}`

**Resuming the previous run with a different config**
[code]
This runs and prints the following config dictionary `{'epochs': 100, 'opt': 'adam', 'loss': 'mse'}`

Closing this ticket. Please feel free to comment in the t

[2021-03-01 07:04] #912 closed

[2021-03-01 07:07] #954 closed

[2021-03-01 09:06] Jie-Yuan opened #1911 "[Q]How to avoid login"
![image](https://user-images.githubusercontent.com/20265321/109475159-51320f00-7ab0-11eb-99e2-d58f7741e492.png)

[2021-03-01 09:07] Jie-Yuan commented on #1911
Login by default through a certain configuration

[2021-03-01 12:29] ornithos opened #1912 "[CLI] can't specify the artifact cache directory"
**Description**

The [documentation suggests](https://docs.wandb.ai/ref/run/init) that one can specify the artifact cache directory when initializing the run (i.e. `run.init(dir=...)`).

However, it appears to me that the artifact directory is hardcoded to `./artifacts`, and the specified `dir` only changes the run metadata directory.

A quick flick through the codebase for me suggested the [`get_

[2021-03-01 16:12] fwilliams opened #1913 "[CLI] wandb init from yaml file fails"
**Description**
When I run
[code]
I get an error
[code]
at
`sdk/lib/sdk/lib/config_util.py:114`

I believe the line `data[k] = v["value"]` should be `data[k] = v`.

**Wandb features**

[code]

**How to reproduce**
Create `test.yaml` as:
[code]
Run:
[code]

**Environment**
- OS: Ubuntu 20.04
- Environment: Conda
- Python Version: Python 3.7.9
- Wandb version: 0.10.20

[2021-03-01 17:07] vanpelt commented on #1911
Hey @Jie-Yuan you can set the `WANDB_API_KEY=XXXX` [environment variable](https://docs.wandb.ai/library/environment-variables#optional-environment-variables) to avoid logging in manually.

[2021-03-01 17:07] #1911 closed

[2021-03-01 17:09] vanpelt commented on #1912
Hey @ornithos you can use the `WANDB_CACHE_DIR` environment variable to specify where the artifact data is cached.  By default it will be stored in `~/.cache/wandb`.

[2021-03-01 17:12] vanpelt commented on #1913
Hey @fwilliams when using our config loading logic you must format your config file as follows:

[code]

I'm going to keep this ticket open as we should have a much better error message here / potentially support the none value / desc approach to config in a future release.

[2021-03-01 17:13] ornithos commented on #1912
Thanks @vanpelt. I did see this in the code, but this is at variance to the documentation (as above), which suggests this is possible natively using the python client kwargs. If environment variables are the only option at present, can I then propose that the documentation is updated accordingly?

[2021-03-01 17:22] vanpelt commented on #1912
@ornithos absolutely, that's why I'm not closing this issue.  We're doing a large overhaul of the logic we use to manage settings for all features of wandb.  We'll be sure this is properly documented in that project.

[2021-03-01 19:02] MartinHahner commented on #1371
Hi @cvphelps, is this still "best" practice?
I don't see why it's not allowed to add additional metrics later on. :thinking:
As far as I understand, I can not show the content of artifacts in the table view of my runs, or can I?
That would be what I want.

[2021-03-01 19:48] erolm-a opened #1915 "[Feature] Inject HTML/Markdown in tables for better visual clues"
**Is your feature request related to a problem? Please describe.**
I am working on BERT-based models and it's nice to perform a bit of debugging to see how things are translated from a token prediction head. It is customary to create input rows with properly highlighted spans that show how [MASK] tokens are translated. It would be nice to highlight certain tokens in the translation and provide an

[2021-03-01 20:00] vanpelt commented on #1915
Hey @erolm-a you can actually use HTML in the wandb table.  Currently you can only do this for artifact tables.  Here's an example:

[code]

[2021-03-01 20:01] vanpelt commented on #1915
More details on dataset and prediction visualization [here](https://docs.wandb.ai/datasets-and-predictions).

[2021-03-01 21:07] erolm-a commented on #1915
Great .Noted
Are there specific reasons why this is only available for artifacts?
Also, beginner question, I assume that artifacts are only available when the run ends, am I right?

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, 1 March 2021 20:01, Chris Van Pelt <notifications@github.com> wrote:

[2021-03-01 23:03] vanpelt commented on #1915
Hey @erolm-a we're slowly converting all media logging into artifacts, eventually calling `wandb.log` with a table will create an artifact.

Artifacts are available once you've called `log_artifact(...)`, so you can use them much like you would tables logged with `wandb.log`.

[2021-03-01 23:05] erolm-a commented on #1915
Thank you!

[2021-03-01 23:05] #1915 closed

[2021-03-02 03:16] timxzz commented on #1345
I encountered similar issue with wandb version 0.10.12, Ubuntu 16.04. And similar behaviour as mentioned by OP:

[2021-03-02 09:26] MartinHahner opened #1917 "[Feature] protect run from being deleted"
**Is your feature request related to a problem? Please describe.**
I want to protect my best runs from being accidentally deleted.

**Describe the solution you'd like**
It would be nice if I could put a lock on a run so that I can't accidentally delete it when I am cleaning my wandb run table at a later point in time.

[2021-03-02 10:33] ariG23498 commented on #1917
Hey @MartinHahner
Thanks for the feature.
😄

[2021-03-02 10:40] #1909 closed

[2021-03-02 10:49] ariG23498 commented on #1904
Hey @emilemathieu
I am closing this ticket as it seems that CVP has already answered your question. Please feel free to comment on this thread if you wanted to know anything more. 😄

[2021-03-02 10:49] #1904 closed

[2021-03-02 11:18] ariG23498 commented on #1893
Hey @ZhicongLiang
If I am getting you correctly, you have written a bash script that runs the main.py every 3 seconds with different hyper-parameters. I think it would be better for you to use our `sweep feature`. This is a hyper-parameter tuning tool that we provide off the top. Here you can specify a `yaml` folder that holds all the configuration details about your hyper-parameters and that is i

[2021-03-02 11:33] ariG23498 commented on #994
Hey @ThisIsIsaac
Could you check if the issue still persists with a newer wandb version?

[2021-03-02 11:36] #1007 closed

[2021-03-02 11:40] ariG23498 commented on #1080
Hey @MartSlaaf
We have come up with [Custom Charts](https://docs.wandb.ai/app/features/custom-charts) that can help you with your feature request. Would you like to dive into them and share your feedback on this? 😄

[2021-03-02 12:06] ZhicongLiang commented on #1893
Thx for your suggestion! I will try that.
And my bash is:

[code]

[2021-03-02 14:03] borisdayma commented on #1118
Does it still happen with latest version of wandb?

For info there is a PR to upload models as artifacts: https://github.com/PyTorchLightning/pytorch-lightning/pull/6231

[2021-03-02 15:18] #1089 closed

[2021-03-02 15:18] farizrahman4u commented on #1089
Should be working on wandb/client now.

[2021-03-02 17:30] kouroshHakha commented on #1905
I did it after importing `wandb` and it still prints stuff. This is really annoying when I'm in pdb mode. It constantly keeps informing me about any exchange of information that happens in the backend with the server.

[2021-03-02 17:55] vanpelt commented on #1905
Hey @kouroshHakha understand this is really annoying.  We can’t reproduce this on our end.  Can you share a minimal amount of code and details about your environment so we can reproduce / offer a hot fix?

[2021-03-02 21:30] laurelrr commented on #805
This is an issue for me.  I am on Windows 10 - wsl2 running Ubuntu 18.04
python version 3.8.5
wandb, version 0.10.21

The very first time I tried running yolov5 with wandb, it worked.  But it has not worked again since then.  I've run the
`wandb login --relogin`
and the key is appeneded to the netrc file.

I'm training custom data with the following command (output follows):

`$ python train.py --

[2021-03-02 21:34] laurelrr commented on #805
Here's the debug.log file

`$ cat wandb/debug.log`
2021-03-02 13:17:36,088 INFO    MainThread:30017 [wandb_setup.py:_flush():69] setting env: {}
2021-03-02 13:17:36,088 INFO    MainThread:30017 [wandb_setup.py:_flush():69] setting login settings: {}
2021-03-02 13:17:36,089 INFO    MainThread:30017 [wandb_init.py:_log_setup():334] Logging user logs to /mnt/c/users/Laurel/Documents/GitHub/yolov5/wan

[2021-03-02 22:33] vanpelt commented on #805
Hey @siarez the instance your running this on either can't communicate with the internet, or is behind a proxy that making the SSL handshake fail.  You can run the script in offline mode and later sync the data to a wandb server from a machine that has functioning internet.  Just set the `WANDB_MODE=offline` environment variable or specify `mode="offline"` in your call to `wandb.init`

[2021-03-03 00:03] ThisIsIsaac commented on #994
@ariG23498 Not sure because it's been too long.

[2021-03-03 07:42] omerferhatt commented on #1153
Bug still exists. It gives warning message in python console.

[2021-03-03 07:49] MartinHahner commented on #1371
This feature solved it for me:
https://docs.wandb.ai/library/resuming

[2021-03-03 07:49] #1371 closed

[2021-03-03 09:40] karthi0804 commented on #1213
Hi,
I have a doubt. I am using Wandb local and I find that the local runs and the W&B dashboard are not synchronized. Then to which place in the local filesystem, the dashboard is pointing to? or that is uploaded to the cloud? Please help me @cvphelps

[2021-03-03 15:56] rjbruin commented on #1252
I have the same issue with version `0.10.18`.

[2021-03-03 17:09] vanpelt commented on #1213
Hey @karthi0804 when you're using wandb/local you need to either set WANDB_BASE_URL to the address of your local installation or run `wandb login --host=http://YOUR_LOCAL_IP_ADDRESS:AND_PORT`

[2021-03-03 19:06] erolm-a commented on #1915
@vanpelt just to know, which versions of wandb support this? I have tried with 0.10.20 but it does not seem to be working.

[2021-03-03 21:13] karthi0804 commented on #1213
Hi, i did that. I can see syncing works when a new run is created. But during deletion, i don't see the proper sync.

[2021-03-04 13:51] Anjum48 commented on #1846
Hi @tyomhak, it would also be good to have the aggregations independent of the group agg. For example, if you were tracking AUC of 5 folds, you would want to get the max AUC per fold and then take the mean:
![image](https://user-images.githubusercontent.com/13783303/109973804-bd9b5100-7cf0-11eb-83dc-b10a7d207b31.png)

[2021-03-05 04:43] Div99 commented on #1905
Seeing the same issue using Python 3.7 on a Mac

[2021-03-05 07:36] frederikschubert opened #1925 "Textures missing for Object3D Babylon.js visualisation [App]"
**Describe the bug**
When logging an `.obj` file, the texture `.mtl` and `.png` files are uploaded but not visible in the Babylon.js visualisation in the dashboard.

**To Reproduce**
Steps to reproduce the behavior:
1. call `wandb.Object3D("./path/to/model.obj")`
2. open files section of run
2. see `model.obj`, `model.mtl` and `texture.png` in `files/objects`
2. open dashboard
3. see visualisation

[2021-03-05 17:16] cvphelps commented on #1912
@ornithos I'd like to fix the docs in the meantime, could you please share where you found it? I'm not seeing this feature on the wandb.init page https://docs.wandb.ai/ref/run/init

[2021-03-05 18:13] ornithos commented on #1912
Thanks @cvphelps! Perhaps it's easiest to reference the line in the docstring: see [`wandb_init.py#L646`](https://github.com/wandb/client/blob/a8bc4f6f186c40caa3c708f6371d29edcf4c6b17/wandb/sdk/wandb_init.py#L646).

[2021-03-05 20:10] cvphelps commented on #1925
@frederikschubert thanks for the feature request, this is a good idea and touches a few different places in the app. We won't be able to fix this quickly, but we're tracking internally as a request on Object 3D and will increase priority as more requests come in.

[2021-03-05 22:43] ShreeshaN commented on #1905
Facing the same issue.

System specifics:

- Macbook | BigSur
- Python version: 3.7
- wandb version: 0.10.21
- Logging module version: 0.5.1.2
- Torch version: 1.5.0

I get this warning message in the beginning `WARNING: Logging before flag parsing goes to stderr.`
And then the console gets flooded with:

Please fix this!

[2021-03-06 13:50] ethanabrooks opened #1926 "Launch sweeps and agents using API [Feature]"
I currently use a bash script to launch `wandb` sweeps and associated agents:
[code]
Parsing strings with bash is awkward and prone to error. I would like to rewrite my script in python using the `wandb` API. In the documentation, I see options for querying runs and sweeps and for creating an individual run, but not for creating a sweep or spawning agents for an existing sweep.

Ideally I would li

[2021-03-06 17:20] samsamoa opened #1927 "[CLI] Wandb causes hang at exit if run in a python subprocess"
**Description**
The following script will hang indefinitely:
[code]

**How to reproduce**
1. Run the script above
2. Observe that the script never exits

**Environment**
- OS: Observed on MacOS 11.2 and Linux/Ubuntu 18.04
- Python Version: 3.8.5

[2021-03-06 17:28] samsamoa commented on #1927
This seems to be related to the fact that `atexit` doesn't work in subprocesses: https://stackoverflow.com/questions/34506638/how-to-register-atexit-function-in-pythons-multiprocessing-subprocess

[2021-03-06 17:50] samsamoa commented on #1927
My current solution is to manually run the `atexit` functions if my Process exits:
[code]

[2021-03-07 08:50] ganitps opened #1929 "Resuming sweep returns wrong config."
**Describe the bug**
Hi, I'm trying to resume a sweep  run with resume = "PreviousRun.id" but the `wandb.config` I read after `wandb.init` are not always the interrupted run parameters

**To Reproduce**
- create sweep
- start an agent (write `run.id` to file)
- read `wandb.cofig` (save wandb.config)
- start another agent(write `run.id` to file)
- stop first agent
- new run(wandb.init) with resume=

[2021-03-07 10:43] kielnino opened #1930 "[App] Missing bounding boxes in images in fullscreen/expanded mode"
**Describe the bug**
I do log some images and add bounding_boxes to them with code like:

[code]

In the web app the images and bounding boxes are rendered fine, but when I click on one image to see it in detail, the boundin boxes are not rendered at all.
However if I click on the download-button on an image (top right corner), the bounding boxes are rendered on the saved image.

**To Reproduce**

[2021-03-07 13:34] arvindchandel opened #1931 "[Q] HTTPError: HTTP Error 403: Forbidden while running Simple_PyTorch_Integration.ipynb in Colab"
After running through all the cell, once we are executing the cell with below:

# Build, train and analyze the model with the pipeline
model = model_pipeline(config)

I am getting HTTP error. Any solution for this?

[2021-03-08 02:00] rodrigo-castellon opened #1933 "[Feature] Web client: extend "What makes this run special?" to multiple runs, or simply a "notepad""
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I'm constrained by the W&B web client to write a note for each specific run (i.e. the "What makes this run special?" editable text field). This is far too time-consuming if I want to keep a reminder for myself like "runs 1 to 11 were mainly for debugging purposes, before I had implemented XYZ technique" o

[2021-03-08 02:54] borisdayma commented on #1626
This was fixed with #5931.
You can now just log at any time with `self.log('my_metric', my_value)` and you won't have any dropped value.
Just choose your x-axis appropriately in the UI (whether `global_step` or just the auto-incremented `step`).

[2021-03-08 02:56] borisdayma commented on #1507
This was fixed with https://github.com/PyTorchLightning/pytorch-lightning/pull/5931.
You can now just log at any time with `self.log('my_metric', my_value)` and you won't have any dropped value.
Just choose your x-axis appropriately in the UI (whether `global_step` or just the auto-incremented `step`).

[2021-03-08 03:02] maria-korosteleva opened #1934 "[CLI] [Bug] KeyError when adding a new dictionary as statistic to existing run"
**Description**
I'm adding a new summary to the existing run following the docs https://docs.wandb.ai/library/public-api-guide.
If a new summary is a scalar value, everything works fine, but if it's a dictionary, I get the following:

[code]

**Wandb features**
`run.summary.update()` according to the docs https://docs.wandb.ai/library/public-api-guide.

**How to reproduce**
This is the minimum scr

[2021-03-08 03:33] vanpelt commented on #1934
Hey @maria-korosteleva we'll look into the root cause.  Until then you should be able to do the following:

[code]

[2021-03-08 04:13] alek5k commented on #1817
I am having this issue, tested on version 0.10.21

[2021-03-08 09:43] dragoon opened #1935 "[CLI] Invalid sweep config: AttributeError: 'list' object has no attribute 'keys'"
**Description**
Error while creating a sweep is from config:
[code]

**Wandb features**
wandb.sweep()

**How to reproduce**
Just trying to create a sweep config:
[code]
**Environment**
- OS: Linux
- Environment: AWS Sagemaker notebook
- Python Version: 3.6

[2021-03-08 09:46] dragoon commented on #1935
Sorry was missing "values" inside the parameters dict, but the error could be more informative.

[2021-03-08 09:46] #1935 closed

[2021-03-08 12:02] ariG23498 commented on #1933
Hey @rodrigo-castellon
The main motive for a `notes` sections in run, is to attach a small description to the run on the fly.
I think the best option for you would be our [Reports](https://docs.wandb.ai/reports). Here you can jot down points at your free will and also put up panels that you find insightful.
Hope this solves your problem 😄

[2021-03-08 12:03] ariG23498 commented on #1931
Hey @arvindchandel
Could you share the colab link or the code snippet where you are facing this error?

[2021-03-08 12:06] ariG23498 commented on #1930
Hey @kielnino
Thanks for the ticket. We are tracking it internally.