[2019-09-16 23:23] vanpelt commented on #555
Because it's using the requests library under the hood.  You should be able to configure a proxy by setting the HTTPS_PROXY header in your environment, can you try that?

[code]

https://2.python-requests.org/en/master/user/advanced/#proxies

[2019-09-16 23:43] vanpelt commented on #549
Yep, this is a great suggestion.  Will file.

[2019-09-16 23:45] vanpelt commented on #547
We write a .gitignore file if you call wandb init in the directory.  We put it in the wandb dir because we wanted it close to the runs.  We need to refactor logging in general, we'll address this ticket in the refactor.

[2019-09-16 23:47] vanpelt commented on #546
This one looks like it was blowing up in your training script:
[code]
Looks like g.logger can be Null sometimes.  We should make stacktraces prettier because this looks like we caused it.

[2019-09-16 23:52] yaroslavvb commented on #547
My script directory is automatically synced to dropbox, google drive and rsynced to all of my AWS instances. This is influenced by Google where modifications in . are automatically uploaded (citc filesystem)

[2019-09-17 00:01] yaroslavvb commented on #546
That's because you did cause it :)

The stacktrace shows exception in wandb, my code intercepted this exception, and then crashed with its own error

https://github.com/cybertronai/transformer-xl/blob/github-saturday/train.py#L836

My guess was that this crash is connected to ~/.netrc containing someone else's credentials (different from WANDB_API_KEY), have not seen this since deleting this file.

[2019-09-17 00:01] #546 closed

[2019-09-17 00:18] raubitsj commented on #554
Thank you for sample, I have reproduced this in a notebook environment and am working on a solution.

[2019-09-17 16:13] Ierezell opened #557 "wandb init hasn't been called"
* Weights and Biases version: 0.8.10
* Python version: 3.7.4
* Operating System: Windows

### Description
Trying to launch training code in pytorch.
Launching code as recommended with` wandb run python train.py`
I have a` wandb.init(...)` at the begining of my code.

This code works perfectly fine on linux.

### What I Did
Put all my code in a` if __name__ == "__main__"` because windows needs it t

[2019-09-17 17:58] vanpelt commented on #557
This looks like the real error is from os privileges.  It tried to create a symlink and got permission denied.  Can you try running it from an admin console?

[2019-09-18 07:47] alberduris commented on #557
Same problem here. I can only configure the run with the command:

[code]
but then you can only set the `username` and `project-name`.

No matter what, when the model starts running always throw the warning that _"wandb init hasn't been called"_ which makes impossible to correctly set up a run. By the way, the rest of the features runs perfectly fine.

[2019-09-18 18:31] Ierezell commented on #557
@vanpelt Tried in an admin console and get the same result.

**Update** :

- With `wandb.save(Path_to_my_weights)` i'm running into this issue.

- Without `wandb.save(Path_to_my_weights)` the code runs but the init is not correctly done (the name and the id are set by default with fancy name but not mine) at least I get scalar logged.
During training I receive the message `wandb: ERROR wandb.init

[2019-09-18 18:43] raubitsj commented on #557
@Ierezell
I just reproduced your issue with wandb.save() on a windows VM.
The message is coming from wand.save() as you noticed and it is something we will fix in a later release.

If you want to configure your run parameters on windows, please use the environment variables or the command line.  for setting the name of your run you can set:
WANDB_NAME=
or you can run:
wandb run --name=myname pytho

[2019-09-18 20:11] MbProg opened #560 "wandb: ERROR To use wandb on Windows, you need to run the command "wandb run python <your_train_script>.py""
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.10
* Python version: 3.6.4
* Operating System: Windows 8

### Description
I want first at all run the sample file: https://github.com/wandb/tutorial/blob/master/tutorial.py, but it fails when running code line: wandb.init(project="sample-project")

### What I Did
I installed the packages for wandb. And then I run the

[2019-09-18 20:14] raubitsj commented on #560
What happens when you run:
```wandb run python tutorial.py```

That is the only supported way to use wandb with windows.

[2019-09-19 07:28] alberduris opened #562 "Can't save model, h5py returned error: Not JSON serializable"
* Weights and Biases version: 0.8.10
* Python version: 3.6.1
* Operating System: Windows 10

### Description

I was running a training script with wandb integration on Windows with the `python train.py` command instead of the required `wand run python train.py` (this is because while developing on Pycharm, the run option just executes that command).

I expect wandb to do nothing more than displayi

[2019-09-19 07:58] alberduris commented on #557
Hey @raubitsj,

A couple of questions;

1. With the command line, the options are very limited, to the extent that you can not configure the project, which is vital.

[code]
2. The environment variables seem to have no effect.

I am trying to run the `tutorial.py` script on Windows and storing it under a custom project. To that end, and following your instructions, I have updated these lines of co

[2019-09-19 10:21] MbProg commented on #560
I get the following error message:
[code]

But why cannot run wandb in Windows?

[2019-09-19 13:36] kdmcdrm opened #563 "Plotly conversion fails for multiple subplots"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.10
* Python version: 3.6.5
* Operating System: Linux

### Description
I export a number of figures at the end of training showing a variety of metrics by threshold, etc. I tried doing this with the standard logging syntax but I found that most plots that were complicated resulted in plotly UserWarnings indicating tha

[2019-09-19 14:04] raubitsj commented on #557
Thank you for pointing out that project is missing from the command line.  I think the reasoning is that you can set the project name with the `wandb init` command before running `wandb run`

The environment variables should work but you need to set them before you run `wandb run` as this is when the run is actually created.

It is unfortunate that the windows workflow is different but the way win

[2019-09-19 16:32] alberduris commented on #557
Thank you for your explanations.

Unfortunately, the constraints of the Windows version make the product almost useless for me, and that's a shame, as you have a really great software.

This is about saving time while experimenting, so automation is a must. I'm afraid that if I have to i) Set the project with `wandb init` (which opens a user prompt) and ii) Change the environment variables before

[2019-09-19 17:18] Ierezell commented on #557
@alberduris I know it's only a patch but you can use `Popen` from subprocesses in python to automate launching commands with arguments...

@raubitsj Thanks a lot for the precisions. I'm a linux power user and the unix wandb is amazing but unfornutaltely my lab granted me acces to a really powerfull Gpu.... on windows.....

I wanted the name of my run to be linked to parameters (like Arch_8_0.0001

[2019-09-20 19:59] prash-p opened #568 "Smoothing displays double lines; does not change line opacity"
* Weights and Biases version: 0.8.9
* Python version: 3.5.3
* Operating System: Linux-4.9.0-9-amd64-x86_64-with-debian-9.9

### Description

On my run page, my smoothed plots show up as double lines because wandb doesn't change the opacity of the original lines. Only happens on run page, project page smoothing works as expected. Example:

![image](https://user-images.githubusercontent.com/5707552/

[2019-09-22 18:55] ankeshanand opened #569 "stdout suppressed, some charts not being displayed"
* Weights and Biases version: 0.8.12
* Python version: 3.6
* Operating System: Linux

I am seeing a strange issue, after the W&B process has started I can't see any stdout on my screen. Further most charts are not being displayed (even though their summary metrics are being logged). Here's a run with the issue: https://app.wandb.ai/abs-world-models/awm/runs/l1eetxul?workspace=user-ankeshanand

Any

[2019-09-22 20:02] vanpelt commented on #569
Strange, was everything working fine for you with a previous release.  If you can try pip install wandb==0.8.9 and see if the screen issue still happens that would help.

For the run you linked to, it looks like all 7 charts are present corresponding to the 7 summary metrics.  Am I missing something?

[2019-09-22 20:37] ankeshanand commented on #569
Oops sorry that was false alarm! Seems the issue was from my end, and a browser extension was to blame. I still can't see stdout but I am able to see the logs on the W&B run dashboard which suffices.

[2019-09-22 20:37] #569 closed

[2019-09-23 07:16] vanpelt commented on #569
I'm still concerned about stdout not showing up in your terminal.  Was it working before?

[2019-09-24 09:58] Danmou opened #571 "wandb.log called without a step keyword argument"
* Weights and Biases version: 0.8.12
* Python version: 3.6.9
* Operating System: Debian 10

### Description
Creating a `tf.summary.FileWriter` with a graph makes wandb give a warning about a missing step argument. Graphs are typically not associated with a specific step, so wandb should IMO not give a warning in this case.

### What I Did
Python script:
[code]

Output:
[code]

[2019-09-24 11:03] Danmou opened #572 "Logging gifs is not working"
* Weights and Biases version: 0.8.12
* Python version: 3.6.9
* Operating System: Debian 10

### Description
I'm using wandb with an existing codebase that uses tensorflow. The code saves gif summaries through a `tf.summary.FileWriter`. Judging by [this line](https://github.com/wandb/client/blob/6417dd926abe76dbb7c56e7017d2ee7d1c918eb5/wandb/tensorboard/__init__.py#L226) in the wandb code this shou

[2019-09-24 12:23] vanpelt commented on #571
Good catch, we'll fix this in the next release.

[2019-09-24 12:48] Danmou commented on #572
That works, thanks for the quick fix!

[2019-09-24 14:40] mlmu opened #574 "Save Visualisations/Plots"
Hi, thanks a lot for the great work!

I have one question regarding the plots, namely:
Is it possible to save the visualisations from dashboard in a good quality?
Now it seems to very compressed...

Many thanks in advance!

[2019-09-24 14:46] vanpelt commented on #574
With the latest version of the library images are saved as png’s which shouldn’t have any quality loss.  Can you link me to a specific example of poor quality images?

[2019-09-24 21:21] umgupta opened #575 "wandb pull not working"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.9
* Python version: 3.7
* Operating System: Linux

### Description
I was trying to pull an experiment by ID and project.

### What I Did
I ran `wandb pull <ID> -p <project_name> `
and this happend.
[code]

I went ahead and further looked into the code... it seems that the error is in `apis/internal.py, line 905`. It

[2019-09-24 21:38] raubitsj commented on #575
Please set your "entity" with the -e argument.  if you do that you will find that the command will work.

You are correct that the error message is not helpful and should be improved.

[2019-09-24 21:40] umgupta commented on #575
I am sorry but what is entity? I am not sure what it means so I left empty.

[2019-09-24 21:42] umgupta commented on #575
Oh! nevermind. I found it here: https://docs.wandb.com/wandb/init

If anyone stumbles on this issues... here is the relevant information.

entity — the team posting this run (default: your username or your default team)

[2019-09-24 21:42] #575 closed

[2019-09-25 08:19] mlmu commented on #574
Hi! Thanks a lot for the fast response!
I use the latest version of wandb as well, however PNGs seem to be blurred if downloaded.
Please, see the attached file.

![W B Chart 9_25_2019, 9_57_52 AM](https://user-images.githubusercontent.com/45629113/65581238-6af62b00-df7b-11e9-92c9-7c5d75425a8c.png)

[2019-09-26 15:54] cvphelps commented on #519
@borisdayma could you take a look at this please?

[2019-09-26 16:01] borisdayma commented on #519
@austinmw do you have a coffee sample I can look at?
The callback tries to guess the type of problem (classification, segmentation...) based on the type of input/output seen.
This case is probably not handled and it would be good to see in which category of problems the callback is classifying it.

[2019-09-26 16:07] austinmw commented on #519
Hmm I'm not familiar with what a coffee sample is. The category of problem is a CNN classifier that is multilabel. So, each image can have between 0 and 4 labels, and each output value uses a sigmoid activation, so they don't sum to 1. My fastai databunch is created using `.label_from_df(label_delim=' ')`.

[2019-09-26 16:16] borisdayma commented on #519
Sorry I had a typo.
What is the shape of output tensor?
Is it (batch_size, 4) with each value representing probability of a class?

A simple example may make it easier to debug if possible. Maybe you are even adapting one of fastai notebooks that I can look at?

[2019-09-26 16:21] austinmw commented on #519
Yes that's the output shape. It's difficult for me to create a minimum reproducible example, because my code is currently completely intertwined with aws sagemaker. However, a good example of an almost identical problem (fastai, cnn, multilabel) fastai's course example using the planets dataset: https://nbviewer.jupyter.org/github/fastai/course-v3/blob/master/nbs/dl1/lesson3-planet.ipynb

[2019-09-26 22:26] altay opened #577 "wandb: ERROR Unable to log event No module named 'PIL'"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.12
* Python version: 3.7.4
* Operating System: Linux

### Description

Trying to instrument https://github.com/wandb/transformer

### What I Did

Ran the script

[code]

[2019-09-26 23:08] raubitsj commented on #577
Try:
pip install pillow

On Thu, Sep 26, 2019 at 3:26 PM issue-label-bot[bot] <
notifications@github.com> wrote:

[2019-09-27 05:16] yaroslavvb opened #578 "wrong run getting shown"
I just started a new run. The "logs" section is are correct, showing it on first epoch, but the graphs show 500 minutes worth of data, wondering where this metrics are coming from.

There's an earlier run with same name, but I didn't think this should matter

https://app.wandb.ai/yaroslavvb/Transformer-XL%20source%20code/runs/mn6ancca?workspace=user-yaroslavvb

<img width="894" alt="Screenshot 201

[2019-09-27 15:31] borisdayma commented on #519
Ok the issue is that multi-classification problems are not automatically detected yet. Let me look a bit more into it.

[2019-09-27 15:33] yaroslavvb commented on #578
The graphs seems to have refreshed and are now showing correct metrics for this run

[2019-09-28 07:26] yaroslavvb commented on #578
It's happening again, just launched a fresh run, and the graphs are showing 500 minutes worth of data which are definitely not generated by this run. Checked in incognito window, showing same thing.

https://app.wandb.ai/yaroslavvb/Transformer-XL%20source%20code/runs/1twzi1oq?workspace=user-yaroslavvb

<img width="942" alt="Screenshot 2019-09-28 00 23 11" src="https://user-images.githubusercontent

[2019-09-28 07:29] yaroslavvb commented on #578
Oh....it's "Time" switching from seconds to Minutes, it wasn't actually 500 minutes worth of data

[2019-09-28 07:29] #578 closed

[2019-09-28 16:48] truskovskiyk opened #580 "wandb.watch does not work with torch/jit/ScriptModules"
Hi, first of all, I would like to say huge thank you for a great tool, I really like wandb and it helps me a lot.

Here is a problem, which I get while working with wandb

* Weights and Biases version: wandb, version 0.8.12
* Python version: Python 3.6.1
* Operating System: Darwin

### Description

wandb.watch does not work with any models, which contains layer with ScriptModules

### What I Did

[2019-09-30 02:49] shawnlewis opened #581 "Test, please ignore"
Testing issue syncing.

[2019-09-30 02:53] shawnlewis commented on #581
test

[2019-09-30 02:54] #581 closed

[2019-09-30 02:54] shawnlewis opened #582 "Test2, please ignore"
Testing issue syncing again.

[2019-09-30 02:57] #582 closed

[2019-09-30 02:57] shawnlewis opened #583 "Test3, please ignore"
Testing issue sync

[2019-09-30 03:03] #583 closed

[2019-09-30 11:03] dreamflasher opened #584 "RuntimeError: threads can only be started once"
wandb, version 0.8.12
Python 3.7.4
Linux

### Description
Code to reproduce:

[code]

yields: `RuntimeError: threads can only be started once`

[2019-09-30 22:39] nacef-labidi opened #586 "Ray integration yaml serialization error"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.12
* Python version: 3.7.3
* Operating System: Linux

### Description

Tried to use the wandb Ray tune integration. Training fails when serializing config with following error:
yaml.representer.RepresenterError: cannot represent an object: <function main.<locals>.<lambda> at 0x7fd0fc4bfbf8>

### What I Did

1. Starte

[2019-10-01 14:44] PBarde opened #587 "Cannot change wand.init save_dir on Windows 10"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.12
* Python version: 3.7.3
* Operating System: Win 10

### Description

I cannot overwrite the default wandb save location './wandb/' nor the name of the run, here is a small script showing this:

### What I Did
[code]

I tried the following both in the Git-Bash and in the Command prompt
[code]
main.py is located at

[2019-10-01 20:37] exalate-issue-sync[bot] opened #589 "wandb.save fails silently if the file doesn't exist"
If I call wandb.save("filename") and filename doesn't exist, I would expect it to give me a warning.

[2019-10-02 22:37] yaroslavvb opened #592 "new wandb requires interactive prompt"
After upgrading wandb I found a bunch of my distributed workers hanging at the following prompt. Is there some python arg to get the old behavior? (ignore missing credentials with a warning)

[code]

[2019-10-02 22:41] vanpelt commented on #592
Ugg, didn’t think about that scenario.  If you set WANDB_MODE=dryrun on those machines we shouldn’t prompt.  Do you think the right behavior in this case is to wait for N seconds and default to dryrun if no input was received?

[2019-10-02 22:50] yaroslavvb commented on #592
I see, `WANDB_MODE=dryrun` seems like a good work-around. Waiting "N seconds" seems like a bad idea, people would not realize why wandb makes their distributed runs take "N seconds" longer to start

[2019-10-02 22:50] #592 closed

[2019-10-03 05:29] prash-p commented on #568
This also happens on wandb 0.8.12 and python 3.6.3

[2019-10-03 12:14] itssimon commented on #460
I think you can now filter by a specific tag, but it would be great to be able to filter by tagged (any tag) or the inverse, not tagged.

[2019-10-03 12:56] exalate-issue-sync[bot] opened #594 "passing PATH object to wandb.save in python3.7 to save a folder is failing, it only accepts a string"
don't know if its important or not, but it took me some time to figure it out while saving a folder. I had to convert PATH object to string.

[2019-10-03 16:33] lukas commented on #568
Could you post a link to the page where this is happening?

[2019-10-03 18:53] prash-p commented on #568
It's a private project. Is there a way I could add only you as a member to the run/project?

[2019-10-03 20:06] cvphelps commented on #594
Thanks! This is good to know.

[2019-10-03 20:06] cvphelps commented on #589
Good idea, thank you!

[2019-10-03 20:07] cvphelps commented on #587
Thanks for letting me know about this! I'll go over this issue in our weekly meeting.

[2019-10-03 20:08] cvphelps commented on #586
Thanks for letting me know about this! I'll go over this issue in our weekly meeting.

[2019-10-03 20:13] cvphelps commented on #584
Thanks for reporting this! We'll look at it in our weekly meeting.

[2019-10-03 20:13] cvphelps commented on #580
Thanks for reporting this! We'll look at it in our weekly meeting.

[2019-10-03 20:42] yaroslavvb opened #595 "Files window limited to 20 scrolls?"
Is there a limit to files window?

I'm missing some files in this list
https://app.wandb.ai/yaroslavvb/Transformer-XL%20source%20code/runs/g6u4zz20/files

[2019-10-03 23:57] adrnswanberg commented on #568
Thanks for reporting this. I was able to reproduce and have a PR out to fix it. Should hopefully be gone by tomorrow!

[2019-10-04 10:14] danmou opened #597 "Parallel sweep"
* Weights and Biases version: 0.8.12
* Python version: 3.6.9
* Operating System: Debian 10

### Description

I'm running multiple `wandb agent`s in order to parallelize my grid search, and for each of them I have to set `CUDA_VISIBLE_DEVICES` to make them run on different GPUs. It would be really nice if there was a built-in feature to distribute agents over multiple GPUs.

There also seems to be

[2019-10-04 11:09] Danmou opened #598 "Improved hyperparameter sweep UI"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.12
* Python version: 3.6.9
* Operating System: Debian 10

### Description
Currently when you open a sweep in W&B, no useful visualizations are created by default. You have to manually create plots to visualize what's going on, and the parameters that you are actually varying are not suggested first so this is a rathe

[2019-10-04 20:02] #595 closed

[2019-10-04 20:07] yaroslavvb commented on #595
Uhm ... the files are still missing :P

[2019-10-04 20:08] #568 closed

[2019-10-04 20:26] adrnswanberg commented on #595
Apologies! This automerged when I merged a fixing PR in our private repo. We'll get a deploy out shortly, and then your missing files will be back.

[2019-10-07 10:53] Danmou opened #599 "GIFs are tiny and don't react to zoom"
My model saves gif summaries of size 640x128. In the web interface they look like this:
![image](https://user-images.githubusercontent.com/7031745/66306082-16e73100-e901-11e9-8feb-9acb4be421bf.png)

and changing the zoom setting has no effect. Images of the same size work fine.

[2019-10-07 17:42] cvphelps commented on #599
Hi! Thanks for reporting this issue. We'll take a look.

[2019-10-07 17:43] cvphelps commented on #598
Thanks for these ideas and suggestions! I'll share them with the team.

[2019-10-07 17:43] cvphelps commented on #597
Thanks for reporting these sweeps issues!

[2019-10-07 19:22] exalate-issue-sync[bot] opened #600 "Windows run bugs"
colin.cooke@duke.edu

 I think I’ve hit a bug in the windows version by the way, pretty small but should be easy to reproduce:

Start a run “wandb run python main.py”
Cancel the run (“ctrl-c”)
Cancel the sync (“ctrl-c”)
Wandb hangs
Pretty easy to avoid but for someone who mashes ctrl-c when I find an issue this is a bit annoying.

Start a run “wandb run python main.py”
Cancel the run (“ctrl-c”)
Ca

[2019-10-07 19:55] exalate-issue-sync[bot] opened #601 "Match the name of the experiment with the run directory on local stroage"
I'd also like to ask if there is an option to match the name of the experiment in the app with the run directory on local storage? For example: a run has set up name major-flower-16 in the app but in the directory it is named /run-20191004_153526-jnhxw865.

---
created by Kenna Zilis in Intercom

[2019-10-09 00:28] yaroslavvb commented on #504
Just got reminded of this when trying to view this run
https://app.wandb.ai/yaroslavvb/train_ciresan/runs/m7blvhmo?workspace=user-yaroslavvb

It's currently timing out with "Deadline exceeded"

[2019-10-09 21:36] yaroslavvb opened #602 "MIME encoding inconsistency for some files"
Most of text files in my Files list open in browser, but occasionally a file will trigger a download. I suspect it's something to do with how the server reports Mime type which is inconstent for some reason

IE, this file `sample-uncond-6500step.txt` triggers a download
https://app.wandb.ai/yaroslavvb/Transformer-XL%20source%20code/runs/c81802pd/files

<img width="417" alt="Screenshot 2019-10-09 1

[2019-10-10 01:11] borisdayma commented on #519
I think this can now be handled correclty with commit https://github.com/borisdayma/client/commit/5f43f7dac4068bc0bfe4a91d13469f8a0b36649c

I just need to do some more testing to ensure it does not affect other types of problems.

Feel free to test it in the meantime.

Here is a [sample run](https://app.wandb.ai/borisd13/course-v3-nbs_dl1/runs/kabv3wiv?workspace=user-borisd13).

[2019-10-10 03:47] yaroslavvb opened #605 "save content of auto-visualizations searchbox in workspace"
I think things typed inside "AUTO VISUALIZATIONS" box should be saved in workspace. I recently wanted to share the view below, and there was no easy way

https://app.wandb.ai/yaroslavvb/train_ciresan/runs/zsbxp84k?workspace=default

<img width="1111" alt="Screenshot 2019-10-09 20 41 48" src="https://user-images.githubusercontent.com/23068/66537478-6bdba080-ead5-11e9-9340-1faa3f547508.png">

[2019-10-10 08:40] vadapalliravikumar commented on #554
I am also seeing the same issue

[2019-10-10 10:21] Danmou commented on #507
Note that you need to take the natural logarithm, so 1e-8 actually becomes -18.42. This is highly unintuitive!

[2019-10-10 11:02] psinger commented on #554
This is indeed a major bug to me that needs to be fixed asap. Any updates on it?

[2019-10-10 23:03] vanpelt commented on #554
@psinger @raubitsj is looking into this.  Apologies for the delay, we'll get a patch out ASAP.

[2019-10-11 17:59] vanpelt commented on #554
Hey @psinger @vadapalliravikumar the long term fix is a bit more involved but we better understand the underlying issue.  The problem is we use the `step` argument to decide when to push metrics to the server (only when it increases).  Unfortunately in jupyter we don't handle the final step properly and this also creates a delay in metrics being pushed until the step increases.  The quick fix is t

[2019-10-12 04:27] cvphelps commented on #605
Good idea, thank you Yaroslav!

[2019-10-12 04:48] cvphelps commented on #600
Thanks Colin! We'll take a look at this bug.

[2019-10-14 01:07] TKassis commented on #560
Does that mean we cannot use it along with Jupyter notebooks in Windows?

[2019-10-14 09:14] vanpelt commented on #560
Hey @TKassis it should work fine in jupyter.  @MbProg we're going to push a new version of the cli this week that removes the requirement for `wandb run` on windows and fixes the error above.  If you would like to try it now you can install with `pip install --upgrade git+git://github.com/wandb/client.git@feature/windows_no_run#egg=wandb`

[2019-10-14 17:45] TKassis opened #610 "Fails when using Keras fit_generator with validation_split"
* Weights and Biases version: 0.8.12
* Python version: 3.6.7
* Operating System: Windows 10

### Description
I'm using tf.Keras ImageDataGenerator with a validation_split along with both training and validation generators. For fitting, I use Keras' fit_generator which I provide both the training and validation generators. Everything runs normally if I don't initialize wandb, but when I do I get:

[2019-10-14 19:48] TKassis commented on #610
Turns out I just have to use the WandbCallback(). Adding it as a callback solved the issue.

[2019-10-14 19:48] #610 closed

[2019-10-14 20:00] TKassis commented on #560
Can't install this branch for some reason:

`(tf) D:\>pip install --upgrade git+git://github.com/wandb/client.git@feature/windows_no_run#egg=wandb
Collecting wandb from git+git://github.com/wandb/client.git@feature/windows_no_run#egg=wandb
  Cloning git://github.com/wandb/client.git (to revision feature/windows_no_run) to c:\users\timothy\appdata\local\temp\pip-install-sbpybyu1\wandb
  Running com

[2019-10-14 21:06] TKassis opened #612 "Sweep does not work on Windows"
* Weights and Biases version: 0.8.12
* Python version: 3.6.7
* Operating System: Windows 10

### Description
When I run `wandb agent [sweep ID]` on Windows I get:
`wandb: ERROR Agent is not supported on Windows`

Does the Windows client not support the sweep functionality?

[2019-10-14 23:31] vanpelt commented on #612
@TKassis Thanks for the documentation contribution.  I have a branch that supports sweeps that we're planning to push to 0.8.13 this week.  You can try it with `pip install --upgrade git+git://github.com/wandb/client.git@feature/windows-no-run#egg=wandb`

[2019-10-14 23:32] vanpelt commented on #600
We're pushing fixes this week, you can try them now with: `pip install --upgrade git+git://github.com/wandb/client.git@windows-no-run#egg=wandb`

[2019-10-14 23:32] vanpelt commented on #587
We're pushing a fix this week, you can install with `pip install --upgrade git+git://github.com/wandb/client.git@windows-no-run#egg=wandb`

[2019-10-14 23:32] TKassis commented on #612
Ah, sounds great! I can't install the branch for some reason. I'll wait for the 0.8.13 release.

[2019-10-14 23:32] #612 closed

[2019-10-15 07:49] Danmou opened #613 "Step deleted in patched tensorboard log"
When a summary is added through the patched tensorboard summary writer, the step is always removed before calling `wandb.log`. This results in the following warning:
[code]
The warning only gets printed once, so I originally thought the warning was only due to logging the graph without a step, see #571, but in fact the step passed to `tf_writer.add_summary()` is always ignored.

I tracked down the

[2019-10-15 16:38] vanpelt commented on #613
Hey @danmou, I have a branch that removes this warning we’ll be releasing soon.  There are a few reasons we keep our own step counter

1. A run can have multiple tfevent files with different global_steps
2. If a user sets sync_tensorboard=True and also wants to call wandb.log to send custom artifacts this makes it simpler.
3. Tensorboard steps can go backwards, currently our step counter must incr

[2019-10-16 00:41] TKassis opened #618 "AttributeError: module 'os' has no attribute 'setpgrp'`"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.13
* Python version: 3.6.7
* Operating System: Windows 10

### Description

When I run a sweep using `wandb agent [sweepID]` I get the following error:

`AttributeError: module 'os' has no attribute 'setpgrp'``

Full traceback below:

`2019-10-15 20:39:25,932 - wandb.wandb_agent - INFO - Running runs: []
2019-10-15 2

[2019-10-16 01:05] raubitsj commented on #618
Windows support was improved with 0.8.13 but `wandb agent` still has a dependency on unix specific process handling.  We will look into a windows workaround for this path.

[2019-10-16 01:14] raubitsj commented on #618
Looks like we can likely implement this in windows with:
https://docs.python.org/3/library/subprocess.html#subprocess.CREATE_NEW_PROCESS_GROUP

The change shouldn't be too complex, we will just need to test it with:https://docs.wandb.com/library/sweeps/configuration#stopping-criteria

Since this stopping criteria will send a signal to the process group.

[2019-10-16 19:24] WaGGstoun commented on #560
I have an identical error.

[2019-10-16 19:58] TKassis commented on #560
They released version 0.8.13 already, but the sweep functionality still doesn't work with Windows.

[2019-10-16 20:45] vanpelt commented on #560
Yeah, we’re working on the sweep functionality.  0.8.13 does remove the need for `wandb run` which is a big improvement.  I’ll update the thread once we have an update.

[2019-10-16 23:48] WaGGstoun commented on #560
I just solved the issue this way: https://docs.wandb.com/library/advanced/environment-variables. Maybe it will help you. Although this is a bit strange.

[2019-10-16 23:52] raubitsj commented on #560
@WaGGstoun , which issue did you solve? what environment did you set?

[2019-10-17 00:19] yaroslavvb opened #619 "wandb loses "global_step" in PyTorch event_writer"
There doesn't seem to be a correspondence between `global_step` and `step` in my graphs. I'm using wandb through eventwriter API in PyTorch. Debugging a bit, it seems

`step` gets converted to `global_step` here
https://github.com/wandb/client/blob/6417dd926abe76dbb7c56e7017d2ee7d1c918eb5/wandb/tensorboard/__init__.py#L205

Then `wandb.log` gets called with this dict, it doesn't see `step` so it a

[2019-10-17 00:23] yaroslavvb commented on #619
For consistency with TensorBoard I think it should keep `step` value as `step` instead of renaming to `global_step` in `tf_summary_to_dict`

[2019-10-17 02:08] vanpelt commented on #619
Hey @yaroslavvb we did this intentionally.  To make the graphs lineup you can set the x-axis in the wandb interface to be global_step instead of our step.  There's a global "x-axis" button in the vix panel, and you can set them individually in a custom vis chart.

The reason we did this is that a single tensorboard folder might have multiple tfevent files with different steps such as train, val, o

[2019-10-17 03:25] yaroslavvb commented on #619
Ah, I see, didn't realize there are now custom X-axis fields. I see "learning rate" and "Train accuracy" in there as well.

I think it's reasonable to assume that most TensorBoard user set their `step` values manually -- the front-end only allows one kind of step and if you don't set it the training accuracy graphs get collapsed into one point

[2019-10-17 04:14] vanpelt commented on #619
Yeah, we look for any metrics that are monotonically increasing and make them available as x-axis options.  MLFlow, Tensorboard, and others allow you to go back in time during training and we don't.  By putting the step in metrics we're punting the missing feature by allowing users to log historic steps at the cost of using them as an x-axis (but still being able to export via the python ap).  The

[2019-10-17 22:30] vwxyzjn opened #621 "Significant Performance Drop at the Lastest Version"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.13
* Python version: 3.7
* Operating System: Linux

### Description

After I installed the latest version of `wandb==0.8.13`, there is a significant performance drop compared to the previous version `wandb==0.8.1`. I was running it on a docker container `vwxyzjn/code-server:latest`, but in my local machine, such perf

[2019-10-18 03:05] raubitsj commented on #621
@vwxyzjn, Thanks for the code sample!

I tried to reproduce but I have not been successful.  Here are my two runs:
0.8.1: https://app.wandb.ai/jeffr/cleanrl.benchmark/runs/93zrfwxx/overview
0.8.13: https://app.wandb.ai/jeffr/cleanrl.benchmark/runs/sl4s2tk6/overview

They both finished all 30000 steps in 33 and 39 seconds respectively

Can you post your wandb run URLs so I can look closer into what

[2019-10-18 05:59] vanpelt commented on #621
If you can send us the Dockerfile that would help.  My gut says there’s an
unoptimized json or yaml library installed in the environment as that’s the
only meaningful operation we do in the user script.

On Thu, Oct 17, 2019 at 8:05 PM Jeff <notifications@github.com> wrote:

[2019-10-18 16:42] yaroslavvb opened #622 ""Export as report" turns single chart with multiple series into multiple charts"
workspace: https://app.wandb.ai/yaroslavvb/train_ciresan/runs/2xo28nk2?workspace=default
report: https://app.wandb.ai/yaroslavvb/train_ciresan/reports?view=yaroslavvb%2Fregret-ratios

Workspace
<img width="629" alt="Screenshot 2019-10-18 09 39 40" src="https://user-images.githubusercontent.com/23068/67112065-37c64680-f18b-11e9-8c3e-ce98350bab4e.png">

becomes

<img width="640" alt="Screenshot 2019

[2019-10-18 16:45] yaroslavvb opened #623 "UI bug in a chart with multiple series"
Trying to select a region around step 1M makes all the lines disappear, in this workspace https://app.wandb.ai/yaroslavvb/train_ciresan/runs/2xo28nk2?workspace=default

<img width="640" alt="Screenshot 2019-10-18 09 43 41" src="https://user-images.githubusercontent.com/23068/67112373-e9fe0e00-f18b-11e9-8bab-8af8c6860111.png">

<img width="529" alt="Screenshot 2019-10-18 09 43 48" src="https://user

[2019-10-18 18:32] vwxyzjn commented on #621
Hi,

Upon further investigation, there actually wasn't a performance drop, but for some reasons the charts don't display all the y-axis, thus creating an illusion of performance drop. See

`# pip install wandb==0.8.1`
https://app.wandb.ai/costa-huang/cleanrl.benchmark/runs/jpq1pdx5?workspace=user-costa-huang
`# pip install wandb --upgrade`
https://app.wandb.ai/costa-huang/cleanrl.benchmark/runs/ne

[2019-10-18 19:02] vanpelt commented on #621
I see what's going, we changed the way we log tensorboard events in 0.8.10.  Before we were storing the global_step in the default x-axis.  In the new release we store it in a custom x-axis named "global_step".  If you click the "X" icon next to the search bar you can change the x-axis to "global_step" and both charts will look the same.  We're discussing internally if this is something we want to

[2019-10-18 19:05] vwxyzjn commented on #621
I see. That fixes it. Perhaps remove one or the other, otherwise, two steps axis are kind of confusing. Thanks for the support.

[2019-10-18 19:05] #621 closed

[2019-10-18 20:13] WaGGstoun opened #624 "AttributeError: module 'tensorflow.python.data.ops.dataset_ops' has no attribute 'DatasetV1'"
* Weights and Biases version: 0.8.13
* TensorFlow version: 2.0
* Python version: 3.5
* Operating System: Windows 10 Pro --- Version: 1903

### Description

When submitting data for validation to "validation_data" or through "validation_split" in the class "tf.keras.Sequential" function "fit". It turns out an error. Without "wandb.keras.WandbCallback()" everything works fine. But also without "vali

[2019-10-18 21:09] vanpelt commented on #624
Hey @WaGGstoun, that's so strange we've been testing on the latest versions of tensorflow and didn't see this.  I've created a branch that should address this issue.  You can access try it now by running:  `pip install --upgrade git+git://github.com/wandb/client.git@feature/fix-tf2#egg=wandb`.  Let me know if that doesn't fix the issue for you.  We'll target a new official release for early next w

[2019-10-18 21:32] WaGGstoun commented on #624
Hi @vanpelt, thank you for your prompt response. If I understand everything correctly. The error still remained, but changed from this:
[code]
, on this:
[code]
### Terminal output
[code]

[2019-10-18 22:07] cvphelps commented on #623
Hi Yaroslav, thank you for reporting this!

[2019-10-18 22:08] cvphelps commented on #622
Hello Yaroslav! At the moment, only the run page supports a single chart with multiple metrics on it. We're hoping to fix this soon!

[2019-10-19 00:19] tshrjn opened #626 "Watching multiple instances of same model class"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.13
* Python version: 3.7.4
* Operating System: Linux

### Description

Trying to watch multiple model instances of the same model class. For example:
[code]
And getting the following error on the line watching `model2`:
[code]

This looks like is happening because `layer1.0` already exists. The gradients should also

[2019-10-19 00:30] raubitsj commented on #626
@tshrjn: thank you for this bug report we just added the ability to call wandb.watch multiple times in a run and it looks like there is an issue with namespaces.  If you use the old behavior of running:
[code]

Then your program will not crash

[2019-10-19 00:44] tshrjn commented on #626
Thanks a ton for your quick response.

That did the trick! 👍

Also, In my opinion having a name argument would for [`watch`](https://github.com/wandb/client/blob/master/wandb/__init__.py#L107) function would be a good idea since anyway, `add_log_hooks_to_pytorch_module` in [wandb_torch.py], which [called](https://github.com/wandb/client/blob/master/wandb/__init__.py#L142) for
 this purpose, (https

[2019-10-19 04:55] vanpelt commented on #624
Ahh, I see what’s happening.  Instead of importing keras in your script, you should do `from tensorflow import keras`.  I’ll fix this case tomorrow, but tf2 now includes a special version of keras.

[2019-10-19 04:58] vanpelt commented on #624
Whoops, just pushed a new version that should fix this!

[2019-10-19 09:34] WaGGstoun commented on #560
Hi @raubitsj, I simple added an environment variable to my code, and thus, synchronization starts automatically, and not through `wandb run python`. Since an error occurs when starting through `wandb run python`.

### Terminal output { when starting through `wandb run python`}
[code]

[2019-10-21 02:10] amrish7 opened #627 ""No validation_data set, pass a generator to the callback" warning on using ImageDataGenerator"
[code]

### Error
`wandb: WARNING No validation_data set, pass a generator to the callback.`

I am trying to use `wandb` with `model.fit_generator` API

### What I Did
Here is the model I am using
[code]
And it outputs the warning `wandb: WARNING No validation_data set, pass a generator to the callback.` and no history data is pushed to wandb
[code]

I looked at the code in [__init__.py](https://g

[2019-10-21 02:22] vanpelt commented on #627
Are you doing `import keras` or `from tensorflow import keras`.  The latter should work automatically.  For the former you’ll need to pass the same generator you’re passing to keras as the generator argument of the WandbCallback

[2019-10-21 02:35] amrish7 commented on #627
It worked!

Adding the code snippet for any future reference
[code]

[2019-10-21 02:35] #627 closed

[2019-10-22 12:26] WaGGstoun commented on #624
Thanks @vanpelt , everyone is working.

[2019-10-22 12:26] #624 closed

[2019-10-22 16:33] yaroslavvb commented on #619
Thanks for the info, closing it as duplicate of https://github.com/wandb/client/issues/613

[2019-10-22 16:33] #619 closed

[2019-10-23 22:42] DNGros opened #632 "Feature Request: Bar charts or tables in reports"
Hello!

I'm new to wandb and have been exploring it and other experiment logging solutions to see what makes the most sense for my needs. A more unique feature of wandb that I really like is the reports feature, which seems like a convenient way summarize key results to share with others on the team (or just keep organized for your own sanity).

However, currently the kinds of visualizations avail

[2019-10-25 07:46] bradyz opened #634 "wandb.Video usage with np.uint8"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.13
* Python version: 3.7.4
* Operating System: Linux

### Description

I'm trying to use wandb's Video object with np.uint8 -
should this following example work properly?

Because I couldn't get it to work without deleting these two lines in the wandb data_types file.
[https://github.com/wandb/client/blob/master/wand

[2019-10-25 17:06] lukas commented on #632
Hi - I definitely think we could support this better.  We do support tables of data, for example check out https://app.wandb.ai/qualcomm/scikit-dec4?workspace=user-l2k2 and we will visualize bar charts across multiple runs (but you confusingly need to select line plot right now which is a bug).

[2019-10-26 16:56] lukas commented on #101
I think we've moved everything to wandb.termlog at this point.  Feel free to reopen if this is still an issue.

[2019-10-26 16:56] #101 closed

[2019-10-26 16:57] lukas commented on #182
This is fixed.

[2019-10-26 16:57] #182 closed

[2019-10-26 17:27] mboratko opened #637 "Lost run: wandb/settings source contains parsing errors"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.13
* Python version: 3.7.4
* Operating System: Linux

### Description

When running multiple simultaneous jobs on a cluster it seems as though the wandb/settings file can become corrupted. In particular, I believe the cluster I was working on uses NFS storage, and different wandb processes (on different machines) wer

[2019-10-26 20:49] lukas commented on #634
Thanks for flagging this.  It's a bug.  Should be fixed by https://github.com/wandb/client/pull/639.

[2019-10-26 21:21] lukas commented on #594
Thanks for the note.  I added a check to clarify this.

[2019-10-26 21:21] #594 closed

[2019-10-28 12:53] seilna opened #642 "Error when using wandb sweep & agent"
* Weights and Biases version: 0.8.13
* Python version: 3.7.4
* Operating System: Linux

### Description
I tried to use sweep, and write following code (`search.yaml`) the define hyperparameter search space
[code]
and executed sweep command for this file as follows:
[code]

The output of this command is:
[code]

Finally, I executed agent as follows:
[code]

But this failed and I can see error messa

[2019-10-28 13:10] seilna commented on #642
I just found that why this kind of errors occurs.
Because I set the minimum / maximum value of `--decay_ratio` in `search.yaml`, it seems that there is no possible runs satisfying this condition.
I think it is better that `wandb sweep` command shows the error messages about wrong value written in .yaml file.

[2019-10-28 16:57] cvphelps commented on #637
Hello mboratko, thank you for reporting this issue!

[2019-10-28 16:58] cvphelps commented on #642
Hello Seilna, thank you for reporting this issue with sweeps!

[2019-10-28 16:59] cvphelps commented on #602
Thank you for letting us know Yaroslav!

[2019-10-28 17:19] lukas commented on #642
Thanks this is really helpful.

[2019-10-28 17:49] lukas commented on #587
This should be fixed now - could you verify?

[2019-10-28 23:02] mboratko opened #648 "Web Interface "Stop run" does not work"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.13
* Python version: 3.7.4
* Operating System: Linux

### Description

Stop an in-progress run

### What I Did
I ran the following demo script:
[code]

I saw the project appear in the wandb web app, but when I selected "Stop run" under the context menu (using the three dots to the left of the run name) nothing happen

[2019-10-28 23:10] vanpelt commented on #648
Hey @mboratko we're aware of the issue and have a branch pending to fix it.  You can install it now by running `pip install --upgrade git+git://github.com/wandb/client.git@fix_stoprun#egg=wandb`.  We're hoping to push a new release this week.

[2019-10-28 23:27] mboratko commented on #648
Thanks, I tried it out and it does fix the issue!

[2019-10-28 23:27] #648 closed

[2019-10-29 00:53] DNGros commented on #632
Hi Lukas, thanks for your reply.

I haven't been able to recreate the chart in the link you shared in my own separate project (not sure if it is only enabled in certain projects), and even within that linked project, the UI does seem rather buggy as you mentioned.

Still looks exciting to see that such charts are somehow possible or might be eventually.

(also, if this feature request exists somew

[2019-10-29 04:10] mboratko commented on #507
In addition, it changes the interpreted value of the parameter simply by changing the distribution, which is very strange. For example, if I have a script expecting `learning_rate` then changing a sweep script with
[code]
to
[code]
would require me to change my training program.

[2019-10-29 06:33] dennisc1 commented on #580
@cvphelps do you an update on this? I’m running into the same problem.

[2019-10-30 21:03] vict0rsch opened #650 "missing uploaded images"
* Weights and Biases version: 0.8.13
* Python version:  3.6.4
* Operating System: Darwin

### Description

Testing the image upload functionality I can't understand why I only get 19 uploaded images, for some reason the last image is not on the run's page

### What I Did

[code]

This happens consistently: last image never uploaded

[2019-10-30 22:55] vanpelt commented on #650
This is a bug in Jupyter.  We’re working on a fix.  For now you can call wandb.log({}) once outside of your forloop to push the final image.

[2019-10-31 18:50] raubitsj commented on #642
@seilna Thanks, we are adding validation in a future release, I will update this when validation is deployed.

[2019-10-31 20:08] aidangomez opened #652 "Support Google Storage Buckets as output directory"
* Weights and Biases version: 0.8.13
* Python version: 3.7
* Operating System: Debian

### Description

On Google Cloud, gs:// buckets are not recognised by `wandb.init(..., dir="gs://etc/etc")`

Reading and writing to buckets requires doing something like this: https://cloud.google.com/appengine/docs/standard/python/googlecloudstorageclient/read-write-to-cloud-storage#writing_to_cloud_storage

Or

[2019-10-31 21:29] vanpelt commented on #652
This would be a great feature, I'm concerned implementing it this way will be rather involved.  W&B uses the local filesystem to listen for events and trigger api calls.  What's the exact environment you're using the TPU's from?  I want to mess around and see if there's a creative solution.

[2019-11-01 14:38] Danmou opened #655 "There should be an easier way to get default entity and project from Python"
`wandb.init()` reads the entity and project from the `wandb/settings` file if they are not specified. However, when using `wandb.Api()`, the functions fail if you don't specify the entity and project. It would be more intuitive if they would use the same default settings. Also, there is no documented way to get the default settings. I found a way, but it's not very elegant:
[code]

[2019-11-01 15:51] Danmou opened #656 "wandb.restore doesn't respect root argument"
The `root` argument for `wandb.restore` is described as follows:

However when `wandb.init` has been called, it *always* uses the run directory, so the `root` argument has no effect.

[2019-11-01 16:17] aidangomez commented on #652
Glad you agree it's an important feature!

The environment is just the default Debian gcloud CPU instance, create a bucket on Google Storage, try running `wandb.init(dir="gs://your-bucket")` and have a look at `wandb.run.dir`

[2019-11-01 18:57] lukas commented on #655
That's a good point.  Seems like we should make wandb.Api look at the settings file for defaults.  @vanpelt do you have an opinion?

[2019-11-01 19:52] #656 closed

[2019-11-01 22:32] vanpelt commented on #637
Hey @mboratko I believe this is an issue with the shared filesystem.  We're working on a fix, until then you can get around this by adding the following to your wandb.init calls:

[code]

[2019-11-01 22:33] vanpelt commented on #634
Just released 0.8.14 with the fix.

[2019-11-01 22:33] #634 closed

[2019-11-01 22:34] vanpelt commented on #626
Hey @tshrjn we just released 0.8.14 which fixes the case of calling wandb.watch() multiple times.  We didn't add a name propery yet, but likely will in a future release.

[2019-11-01 22:34] #626 closed

[2019-11-01 22:35] vanpelt commented on #618
0.8.14 now has sweep support on Windows!

[2019-11-01 22:35] #618 closed

[2019-11-01 22:36] vanpelt commented on #613
We made some quick fixes in 0.8.14 and this message will no longer be displayed.

[2019-11-01 22:36] #613 closed

[2019-11-01 22:37] vanpelt commented on #600
This is live in 0.8.14

[2019-11-01 22:37] #600 closed

[2019-11-01 22:37] #587 closed

[2019-11-01 22:38] vanpelt commented on #655
Yeah, we'll add this in the next release.

[2019-11-01 22:41] vanpelt opened #660 "Intermittent socket timeouts"
This happens rarely but we should likely catch the timeout.

[code]

[2019-11-04 10:37] Danmou opened #663 "Resuming specific run fails with no error"
* Weights and Biases version: 0.8.14
* Python version: 3.6.9
* Operating System: Debian 10

### Description
When I try to resume a specific run like this:
[code]
The init call returns, but a moment later a `KeyboardInterrupt` is raised, which I guess means an exception happened somewhere in a different thread. Resuming a different run in the same way works fine. There is no error output and lookin

[2019-11-05 00:28] tshrjn opened #664 "Web App AutoViz creates New Names based on time & hostname"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.14
* Python version: 3.7.5
* Operating System: Linux

The auto viz tool on the web app is making a new chart each time with date & hostname, & isn't plotting on the same section.

Also, if multiple sections are open, I'm unable to scroll down on the webpage.

[2019-11-05 01:46] vanpelt commented on #664
Hey @tshrjn can you add a link to the page you’re seeing this on?

[2019-11-05 07:15] vanpelt commented on #584
Hey @dreamflasher we may have fixed this in the latest release.  We just tried to reproduce the code you sent and couldn't.  Can you try again?

[2019-11-05 14:15] dreamflasher commented on #584
Yes, fixed, thank you!

[2019-11-05 14:15] #584 closed

[2019-11-05 17:02] tshrjn commented on #664
Hi this issue is on: https://app.wandb.ai/al_nlu/al_data_acquistion

[2019-11-05 17:16] vanpelt commented on #664
Hey @tshrjn, how are you logging your metrics?  Those metrics names are defined by the keys in your calls to `wandb.log`.  Are you calling wandb.log manually or using a callback?

[2019-11-05 17:26] exalate-issue-sync[bot] opened #667 "Opening a FileHandler after wandb.init crashes"
Report by a user in intercom

---
created by Nicholas Bardy in Intercom

[2019-11-05 18:43] tshrjn commented on #664
Using `sync_tensorboard` at init and logging via `torch.utils.tensorboard`.

It was because of import order, import wandb before torch resolved it.

[2019-11-05 18:55] vanpelt commented on #664
Good to know, I think it was namespacing your runs by the logdir which had a date in it.  When you change the order are you still seeing all the metrics you're logging to tboard?

[2019-11-07 06:40] phucnsp opened #672 "WandbCallback fastai failed to show prediction images on wandb app"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.15
* Python version: 3.6
* Operating System: Linux (google colab)

Hi,
I was using `wandb.fastai.WandbCallback` with setting `input_type="images"` to send prediction images after each epoch to wandb app. It did send prediction images to wandb app but it did not show anything in _AUTO VISUALIZATION/MEDIA/Prediction Sa

[2019-11-07 07:55] bamal opened #673 "Error while calling W&B API: permission denied"
Hello,

I am training a model on a remote server and I got this error after running on the terminal `wandb login` and running the training script itself.

[code]
Do you have an idea how to solve this please ?

[2019-11-10 05:00] prash-p opened #675 "Edit plot properties before exporting"
It would be nice to be able to edit plot properties such as font size and line thicknesses on the project page before saving as .png or .svg

[2019-11-11 10:21] aidangomez commented on #652
@vanpelt any updates? Does it fail for you too?

[2019-11-11 19:50] vanpelt commented on #652
Hey @aidangomez it will definitely not work when specifying gs:// as a directory.  We may be adding this functionality in the future, but it is fairly low on our list of priorities.  You should still be able to write to a local directory on the gcloud instance and all files written to it will be synced to our managed google cloud storage bucket.  Is this not working for you?

As a stop gap, you co

[2019-11-12 11:01] MasterScrat commented on #330
I am not sure if my question relates to the same problem, but when I use a group in my config (eg `group: run001`), I don't see how I can use this group as a filter from the UI.

I do not see a "Filter" criterion on the Filter menu on the left in the project page.

However, I see that from my profile page, some of the runs specify that they are grouped runs (eg "(6 runs)") and when I click them I

[2019-11-12 13:03] aidangomez commented on #652
So when using TF w/ TPUs you actually can't read or write data + checkpoints locally, it's all done with gs:// (there isn't an alternative).

So we could transfer checkpoints and summaries from the bucket to the local machine and then sync with wandb, but if I have a model with 5GB checkpoint files I don't want to have to pause training to perform that large of a sync, so we'll need to write logic

[2019-11-12 16:48] vanpelt commented on #330
Hey @MasterScrat on a project page you can configure grouping in the table:

![Screen Shot 2019-11-11 at 5 12 18 PM](https://user-images.githubusercontent.com/17/68691750-19086500-0529-11ea-9ab1-444d2efca7d7.png)

This will make all rows in the table grouped, and clicking on a row will take you to the group page you mentioned.  Does that make sense?

[2019-11-12 22:03] MasterScrat commented on #330
Thanks @vanpelt this is useful!
However, I used the `group` argument of `wandb.init()` when initializing my training session, and I don't see this group showing up in this list?
Is this maybe because, as you said earlier in this thread, this parameter in supposed to be an integer? I'm using the format "run001".

I realise I could use a custom `config` key-value pair but I want to make sure I'm doi

[2019-11-13 01:10] vanpelt commented on #330
This ticket is actually about the group parameter to wandb.Image which is different than run level grouping.  If you specified group in in your call to init, you should see "group" as an option in the group by dropdown.  Can you link me to the project where you're not seeing it?

[2019-11-13 20:47] lemonad opened #676 "Traceback when running mnist example (using plaidml/keras)"
* Weights and Biases version: 0.8.15
* Python version: 3.7.4
* Keras version: 2.2.4
* Plaidml version: 0.6.4
* Operating System: Darwin

### Description

I'm trying to run the example at <https://docs.wandb.com/library/example-projects/keras> with the addition of

[code]

before the example code (I need it to use Radeon VII on OSX).

### What I Did
Running the code, I get a traceback

[code]

[2019-11-13 21:27] tomginsberg opened #677 "Error 3143: Invalid JSON path expression. The error is around character position 62."
wandb, version 0.8.15
Python 3.7.4
Mac OS Darwin

### Description

I logged several runs in a project that appear to have some errors in them (I'm really not sure what specifically). But now when I view project runs I get the error message
![image](https://user-images.githubusercontent.com/10860163/68805661-8d93ee80-0664-11ea-8888-21a7b7237adb.png)

### What I Did

There's nothing that I can reall

[2019-11-13 23:53] tsholmes commented on #677
hey @tomginsberg thanks for the report. this should be fixed now.

[2019-11-13 23:55] #677 closed

[2019-11-14 15:28] ajay340 opened #678 "Logging results to Weights & Biases. Couldn't load entity due to error: Can't connect to network to query entity from API key"
* Weights and Biases version: 0.8.15
* Python version: 3.7.4
* Operating System: Windows 10

### Description

I updated the library and logged into wandb successfully through cli.
I tried importing this snippet of code:
[code]

into my jupyter notebook and when I run all of my cells sequentially, I get this error:

[code]

### What I Did

[code]

[2019-11-14 16:00] vwxyzjn opened #679 "Feature request: upload file once"
`wandb --version && python --version && uname`

wandb, version 0.8.13
Python 3.7.4
Linux

### Description

The file save function only supports "live" and "end" policies, but I was wondering if "once" policy could be added. Where the when `wandb.save("test.txt", policy="once")` is called, "test.txt" is uploaded once and it happens immediately with no future tracking or updates on this file.

**Use

[2019-11-15 15:28] T3hlo commented on #678
Have the same problem have you found out what is causing it?

[2019-11-15 16:25] ajay340 commented on #678
A workaround I did was run the weights and biases in a normal python script and then run it again in the notebook and then it started working.

[2019-11-16 02:59] cvphelps commented on #676
Thanks for reporting this lemonad!

[2019-11-16 09:57] lemonad commented on #676
I've previously run into other backend/computation graph problems using PlaidML, not related to wandb, so I would not be surprised if this is a problem based in the PlaidML backend differing from e.g. how the tensorflow backend works.

[2019-11-16 20:27] ajay340 commented on #678
Nevermind this workaround is no longer working.

[2019-11-17 00:18] vanpelt commented on #678
@ajay340 set enitity to your username when you call wandb.init

[2019-11-17 01:47] ajay340 commented on #678
Thanks it started working when I set the entity in my wandb.init

[2019-11-17 02:15] vanpelt commented on #678
Cool, we’ll have a fix for the root cause in the next release!

[2019-11-19 08:45] seilna opened #683 "wandb.log information does not appear in wandb app when I initiate the engine with `wandb.init(reinit=True)`"
### Environment
* Weights and Biases version: 0.8.15
* Python version: 3.7.4
* Operating System: Linux

### Description
I used `wandb.init(project='my project', reinit=True)`, because I want to launch multiple runs in single process. Then, I wrote the code so that each run logs its test performance as follows:
[code]
But I can't see any performance logged in my wandb app. It just shows some hyperp

[2019-11-20 05:14] vanpelt commented on #683
Hey @seilna if you run `wandb.join()` at the end of the loop it should work.  We're working on improvements to this scenario.

[2019-11-20 07:41] vanpelt commented on #679
Sorry for the delay, this is a great feature request.  I think the easiest implementation is to add a "once" policy.  I like the sync api idea, we'll target that for 1.0.  As an immediate fix for your usecase you can copy the file to `wandb.run.dir` then call `wandb.save("filename")` to apply the "live" policy to it.  Then just don't copy the file when you modify the original.

[2019-11-20 07:43] vanpelt commented on #675
Hey @prash-p thanks for the feature request, we're tracking it.

[2019-11-20 07:44] vanpelt commented on #673
Hey @bamal it looks like you're trying to launch runs into the "wandb" team.  The quickest fix is to set entity="bamal" (or your wandb username) when you call wandb.init

[2019-11-20 07:51] vanpelt commented on #672
Hey @phucnsp, sorry for the delay.  Can you point me to a run url this was happening for you in?  I think it may be fixed now.

[2019-11-20 07:53] vanpelt commented on #663
Strange, can you send me a link to the run this was happening in?

[2019-11-20 08:24] Danmou commented on #663
@vanpelt I've sent you an email with the link.

[2019-11-21 02:40] YahngSungho opened #687 "%%wandb doen't work in PyCharm"
`wandb --version && python --version && uname`

* Weights and Biases version: latest
* Python version: 3.7
* Operating System: Windows7

![2019-11-21 11 34 39 dlProject  C__Users_Administrator_PycharmProjects_dlProject  -  _trySomething_wandb ipynb - PyCharm (Administrator)](https://user-images.githubusercontent.com/29212791/69299171-3d63f000-0c53-11ea-9fbc-7c3bb37eac7e.png)

The error 'Failed to

[2019-11-21 03:19] vanpelt commented on #687
Setting the WANDB_NOTEBOOK_NAME is optional.  You should set it to whatever your notebook is named, i.e. "My Notebook.ipynb".  The error you're seeing isn't related though.  If you rerun the cell in pycharm does it show up?

[2019-11-21 05:27] YahngSungho commented on #687
@vanpelt
The error message disappeared so there's difference, but still doesn't work

![2019-11-21 14 24 50 dlProject  C__Users_Administrator_PycharmProjects_dlProject  -  _trySomething_wandb ipynb - PyCharm (Administrator)](https://user-images.githubusercontent.com/29212791/69306491-fc77d580-0c6a-11ea-947f-df8d30346f20.png)

[2019-11-21 10:51] T3hlo opened #688 "GitCommandError - fatal: bad object HEAD"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.14
* Python version: 3.7.4
* Operating System: Linux

### Description

When running wandb.init in a jupyter notebook, which previously worked wandb crashes with the following error:

### What I Did

[code]

[2019-11-22 10:48] T3hlo commented on #688
It seems to have been temporary

[2019-11-22 10:48] #688 closed

[2019-11-22 23:06] tshrjn commented on #452
Has there been any update on this issue?

[2019-11-22 23:57] vanpelt commented on #452
@tshrjn This likely won't be addressed this quarter.  What's the most important part of this discussion for your workflows?

[2019-11-23 08:48] tshrjn commented on #452
Thanks for your quick reply, for now, I'm just doing:

[code]

[2019-11-24 17:39] yaroslavvb commented on #452
I eventually settled on following logic.

1. Use a global "globals.py" module to keep track of global step and global settings. This simplifies things when training/initialization logic is split across several modules.
2. Use wandb through EventWriter writer interface/monkeypatching, otherwise `wandb.log` crashes in workers that didn't call init.

[code]

The downside is that a small fraction of t

[2019-11-25 18:25] gfepfl opened #690 "%%wandb not loaded before calling wandb.init() at least once"
`wandb version 0.8.16`

The jupyter wandb magic does not work until `wandb.init()` was at least called once.
I have the following setup:

[code]

This gives the error:
[code]

Loading the extension explicitly with `%load_ext wandb` did not help either.
Is there a way to load the magic without creating a new run?

[2019-11-25 19:23] vanpelt commented on #690
Hey @gfepfl you can do it manually as so:

[code]

I'll keep this open as we could do this on import of wandb.

[2019-11-25 19:42] gfepfl commented on #690
Thanks, this loads indeed the magic, but now I get an error when I actually want to use it:

[code]

[2019-11-25 20:16] vanpelt commented on #690
Ahh that makes sense.  You can do the following to display inside of your train_model function after calling `wandb.init` and just don't use the magic.

[code]

[2019-11-25 22:24] ReinforcedMan opened #691 "Compatibility with tensorflow 2.0"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.16
* Python version: 3.7.4
* Operating System: Win 10

### Description

I try to log my custom losses using tensorboard. It seems wandb isn't compatible with the @tf.function decorator, and it would mean that using wandb would slow down the code considerably. Is tf.function supported ?

### What I Did

[code]
Error:

[2019-11-25 22:26] vanpelt commented on #691
A quick fix would be to just use tensorboard logging then call `wandb.init(sync_tensorboard=True)`.  I'll look into to supporting @tf.function but it's unlikely to be a quick fix.

[2019-11-26 00:34] cvphelps commented on #209
I think this is fixed by the newer versions of wandb.

[2019-11-26 00:34] #209 closed

[2019-11-26 00:39] cvphelps commented on #271
I think this is fixed with the more recent versions of wandb. Let's reopen it if the problem comes up again.

[2019-11-26 00:39] #271 closed

[2019-11-26 00:39] cvphelps commented on #286
I think this is fixed with the more recent versions of wandb. Let's reopen it if the problem comes up again.

[2019-11-26 00:39] #286 closed

[2019-11-26 07:57] gfepfl commented on #690
Thanks! Works like a charm.

[2019-11-26 14:44] Danmou commented on #691
@vanpelt I'm using `wandb.init(sync_tensorboard=True)` with TF 2.0 and I'm running into a different problem. Whenever a summary is written wandb spits out the following error:
[code]
The error comes from [this place in the code](https://github.com/wandb/client/blob/b4ad2680d3415ee599c18d2974c144d1112ba7ec/wandb/run_manager.py#L1184-L1210). I checked it out in the debugger and the actual error is:

[2019-11-26 16:42] vanpelt commented on #691
Hmm, very strange.  Can you send me the output of `pip freeze` in your conda env?  One thing to try after generating the frozen output is running `pip install tensorboard --upgrade`

[2019-11-27 08:20] Danmou commented on #691
[code]

Same problem with tensorboard 2.0.2 from pip.

[2019-11-27 08:28] Danmou commented on #691
Minimal example:
[code]

[2019-11-27 20:09] vanpelt commented on #691
Thanks, I'll try to reproduce over the holiday.

[2019-12-02 14:04] ayushkovskiy opened #692 "wandb 0.8.16 is incompatible with graphql-core==0.3.0"
Error: version conflict, wandb cannot start with `graphql-core==0.3.0`:
[code]

`wandb --version && python --version && uname`

* Weights and Biases version:
[code]

* Python version:
[code]

* Operating System:
[code]
### Description

Dependencies:
`wandb` requires `gql` requires `graphql-core`:
[code]

Note, `wandb==0.8.16` works well together with `gql==0.1.0` and `graphql-core==2.2.1`.

## Sol

[2019-12-02 18:16] vanpelt commented on #692
Thanks for reporting!  We saw this as well over the weekend.  We have a new release that should go out today or tomorrow, you can install with: `pip install --upgrade git+git://github.com/wandb/client.git@task/pin_graphql#egg=wandb`

[2019-12-02 21:16] vanpelt commented on #692
We just pushed a fix for this in 0.8.17.

[2019-12-02 21:18] #692 closed

[2019-12-02 22:50] vanpelt commented on #691
@Danmou we have a fix, you can install with: `pip install --upgrade git+git://github.com/wandb/client.git@fix/tensorboard-import-issue#egg=wandb`

[2019-12-03 16:24] Danmou commented on #691
The minimal example from above still gives me the same result with the fix.

[2019-12-03 19:30] raubitsj commented on #691
@Danmou, the branch should be fixed now, there was an issue how the "pip install ...#egg=wandb" command was messing with the python environment.

Please try the:
`pip install --upgrade git+git://github.com/wandb/client.git@fix/tensorboard-import-issue#egg=wandb`
command again.  you might want to `pip uninstall wandb` first just to make sure it grabs a new version.

[2019-12-04 11:05] Danmou commented on #691
Thanks, now it works.

[2019-12-04 13:16] sirtris opened #698 "Sweep stop"
* Weights and Biases version: 0.8.17
* Python version: 3.7.1
* Operating System: Linux-5.2.9-arch1-1-ARCH-x86_64-with-debian-buster-sid

### Description

Sweep stops without interuption:
[code]

### What I Did

When I run a sweep it runs for one to three sweeps and the stops with the message above.
I did not stop the runs in the webapp.
Sweeps are started with:

[code]

In the train function I hav

[2019-12-04 14:41] sirtris opened #699 "GitCommandError"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.17
* Python version: 3.7.1
* Operating System: Linux-5.2.9-arch

### Description

I was running a normal run with code I have run before

### What I Did
In `wandb.init(project="MY_PROJECT")` I get this error:
[code]

[2019-12-04 14:48] raubitsj commented on #698
Can you post your sweep or run url? if you want to keep that private, you can direct message me at: http://bit.ly/wandb-forum

[2019-12-04 16:41] vanpelt commented on #699
It looks like you have a corrupt git repository.  Try running `git gc` from the terminal in your git repo.  If you still have the error, you can disable our git tracking by setting the **WANDB_DISABLE_CODE** environment variable to "true" before calling `wandb.init`

[2019-12-04 16:41] raubitsj commented on #698
It looks like the python sweep api is not working with early_terminate/hyperband,  for now the workarounds are one of the following:
- use the sweep command line (wandb sweep sweep.yaml, wandb agent SWEEP_ID)
- disable early_terminate from the sweep yaml for now

[2019-12-05 11:48] BenedictWilkinsAI opened #702 "Feature Request: Deleting runs via API"
I am not sure where to post feature requests, I will move this request to the proper place if required.

It would be useful for me to be able to delete a (non-local) run from within python. So far I have not found a way to do this (please let me know if there is one!). The typical use case is if my program encounters a run-time error, it may invalidate the run. In this case I want to remove the ru

[2019-12-05 23:27] cvphelps commented on #702
Hi Benedict! Thanks for the feature request, this is a great idea. I'll add it to our internal tracker.

[2019-12-05 23:29] #690 closed

[2019-12-05 23:35] #683 closed

[2019-12-06 10:35] yonathansantosa commented on #683
Somehow I still get the following error after the first loop using `wandb.join()`

[code]

[2019-12-09 20:12] #446 closed

[2019-12-10 01:28] HansPinckaers opened #708 "Failed to launch process without WANDB_DISABLE_CODE=true"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.18
* Python version: 3.7.1
* Operating System: Ubuntu docker

### Description

wandb.init() crashes with the following error: process did not respond.

Adding WANDB_DISABLE_CODE=True works, found during NeurIPS debugging session with @vanpelt. It seems to timeout on the git code and not recover.

So, something weird

[2019-12-10 05:01] raubitsj commented on #708
Yes, by default it grabs a diff which is helpful to see what changed in your repository between training runs.

I think for this bug we should do one or more of the following:
- try and make code collection asynchronous -- maybe snapshot the git last commit synchronously and the rest can be done later (not at startup)
- put limits on the size of the diff? or amount of time?
- extend the timer and

[2019-12-10 21:45] giacaglia opened #709 "Initializing client with sync_tensorboard=True crashes"
`wandb --version && python --version && uname`

* Weights and Biases version:  0.8.18
* Python version: Python 3.5.3
* Operating System: Linux

### Description

Trying to syncronize tensorboard to weights and biases client, and the program keeps crashing with the following log:

[code]

The following are the libraries installed in our machine:
[code]

### What I Did

Just running a simple training

[2019-12-11 23:12] seangtkelley opened #711 "Run summary does not include tables"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.18
* Python version: 3.6.9
* Operating System: Linux (Google Colab)

### Description

I want to do an analysis of data that was added to tables in my run summary. However, when I try to retrieve the data tables using the Python API, I get empty dictionaries.

### What I Did

[code]

[2019-12-12 10:35] sirtris commented on #699
Thanks `git gc` seems to have solved the problem

[2019-12-12 10:35] #699 closed

[2019-12-13 19:53] nbardy commented on #599
@Danmou This has been fixed and deployed.

[2019-12-13 19:53] #599 closed

[2019-12-13 21:36] charan223 opened #713 "error: could not create '/ai/apps/x86_64/python/3.7/lib/python3.7/site-packages/nvidia_smi.py': Read-only file system"
`wandb --version && python --version && uname`

* Weights and Biases version: No version as it is not installed
* Python version: 3.7.4
* Operating System: Linux

I have tried to run ```pip install --upgrade wandb``` in my conda environment, it throwing below error
[code]

I dont have sudo access and I am using conda environment, I want to install wandb.

[2019-12-13 21:41] charan223 commented on #713
Sometimes I get below installation errors:
Error1:
[code]

Error2:
[code]

[2019-12-14 22:43] borisdayma opened #714 "cannot set dir with wandb.init"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.18
* Python version: 3.6.8
* Operating System: Linux

### Description

I am trying to use a custom directory for wandb.

### What I Did

I cannot use `wandb.init(dir="my_custom_dir")`

Here is the trackeback reported:
[code]

[2019-12-16 01:27] borisdayma commented on #714
Intended behavior is to use a directory already existing. I'll close this issue.

[2019-12-16 01:27] #714 closed

[2019-12-16 03:58] bguisard opened #716 "Support parallel sweeps with local controller"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.18
* Python version: 3.7.4
* Operating System: Linux-4.4.0-1090-aws-x86_64-with-debian-stretch-sid

### Description

I was trying to run multiple sweeps in parallel using a local controller. The documentation isn't very clear, so I thought it was supported, with the only caveat that the controller would only schedule

[2019-12-18 17:57] kushalarora opened #724 "AttributeError: 'NoneType' object has no attribute 'items' in wandb_config."
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.18
* Python version: 3.7
* Operating System: Linux

### Description
My wandb run randomly crashes for a few runs (Traceback included). This doesn't happen all the time but randomly like 1 out of 3 time a script is run. If this helps, I am running my code on compute nodes which do not have access to internet. I plan t

[2019-12-18 20:17] vanpelt commented on #724
This might be caused by large git api calls that are timing out.  Can you try running with `WANDB_DISABLE_CODE=true`

[2019-12-20 19:07] exalate-issue-sync[bot] opened #729 "Getting a lot of "cannot import name 'introspection_query'" errors"
I've been getting a lot of these errors when running Jupyter notebooks intermittently - across colab, jupyterlab and kaggle:

{code:python}
ImportError: cannot import name 'introspection_query'
{code}

Running the cell again seems to fix the error most time. Sometimes I need to refresh the cell a few times.

[2019-12-20 20:12] kushalarora commented on #724
Thanks @vanpelt .

 I'll try it out.

I just wanted to ascertain that AttributeError is happening due to socket timing out.

[2019-12-20 23:03] vanpelt commented on #724
Yeah, the error is really mis leading.  I'll look into the attributeerror bug, but I think the root cause is something else.

[2019-12-26 17:07] lukas commented on #716
@raubitsj could you take a look at this?

[2019-12-26 17:10] lukas commented on #713
Did you try pip install --user wandb

[2019-12-26 17:17] lukas commented on #711
I'm having trouble replicating - if your project is public or can be made public could you post a link to it?

[2019-12-26 19:54] raubitsj commented on #716
Parallel sweeps do not work yet with the local controller.  There are a few
changes required but it should be something we can enable in an upcoming
release.

On Thu, Dec 26, 2019, 9:07 AM Lukas Biewald <notifications@github.com>
wrote:

[2019-12-30 08:47] YanickSchraner opened #731 "TF 2 sync tensorboard fix summary_iterator import"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.19
* Python version: 3.6.8
* Operating System: Linux (Ubuntu 18.04)

### Description

I tried to sync existing TB logs to wandb. It failed due to a TF 2 incompatible import of the summary_iterator.

### What I Did

[code]
### Fix
Change tensorflow/__init__.py file like this:
Add the summary_iterator import:
[code]
On

[2020-01-03 07:10] bluesky314 opened #734 "Initialising error"
`wandb --version && python --version && uname`

* Weights and Biases version: Latest
* Python version: 3
* Operating System:Linux

### Description

Not initialising

### What I Did

[code]

Traceback (most recent call last):
  File "disentangleNetDIMBlock.py", line 51, in <module>
    wandb.init(project="matting-disEntangleRes34DIM")
  File "/opt/anaconda3/lib/python3.7/site-packages/wandb/__init_

[2020-01-03 19:21] vanpelt commented on #734
Hey @bluesky314 thanks for reporting.  I created a branch that fixes this.  You can try it by running `pip install --upgrade git+git://github.com/wandb/client.git@master#egg=wandb`, we should get it out in the next release next week.

[2020-01-03 22:37] yaroslavvb commented on #474
I think this needs to get piped through the front-end as well, it's currently not showing under system metrics page

[2020-01-04 01:15] depthwise opened #736 "Feature request: min/max values for logged metrics"
Thank you for developing such a useful service.

As a practitioner I care disproportionately about the _peak_ metrics in any given run. I.e. max mAP50 for object detection (and min classification/localization losses) or peak mIoU for segmentation. I rarely, if ever, care what the metrics are at the last step of the training run, per se. Things begin to overfit by then anyway.

W&B doesn't seem to

[2020-01-04 02:06] yaroslavvb opened #737 ""failed to launch""
My training run crashes with the following
[code]

This is on a fresh p3.16xlarge instance, using "Deep Learning AMI (Ubuntu 18.04) Version 26.0" and pytorch_p36 environment.

Some logs below. Is there some way to have this failure be a warning and not crash my main Python process?

[code]
debug.log

[code]

[2020-01-04 03:28] yaroslavvb commented on #737
Somehow this seems connected to directory I'm launching the script from, in one directory wandb.init() works, but when running from another directory it crashes. Deleting ./wandb didn't make difference.

[2020-01-04 05:51] vanpelt commented on #737
I think it’s related to git.  Can you run git status from each directory and see if one hangs for a while?

[2020-01-04 06:26] yaroslavvb commented on #737
Aha, that's it.

After deleting .git directory, it works as expected. "git status" doesn't hang, but it does take longer than usual (5 seconds)

[2020-01-04 20:17] vanpelt commented on #737
Yeah, we already handle some hanging git commands, but we're clearly missing something.  If you can send me a zip of the folder with the .git directory in it that causes it we can ensure we just handle this case.  If the code is sensitive, we can probably reproduce manually.

[2020-01-06 03:27] exalate-issue-sync[bot] opened #738 "Performance: opening group in table is slow"
From Clemens Winter:

When I set runs to be grouped and then click on one of the arrows to expand a grouping of runs to the full list, the arrow will spin for ~1 second before the full list of runs is displayed. I strongly suspect there is a way of making this happen instantaneously instead.

Project: https://app.wandb.ai/cswinter/deep-codecraft/workspace?workspace=user-carey

Conversation: https:

[2020-01-06 18:17] exalate-issue-sync[bot] opened #739 "Better capture of non python launch commands"
Our cli is designed to capture the command for `python ...`, but often fails to capture the proper calls in more complex dev setup.

This particular ticket was created from an issue with a horovod interaction.

---
created by Nicholas Bardy in Intercom

[2020-01-06 18:20] #739 closed

[2020-01-06 18:25] vanpelt commented on #736
Hey @depthwise, thanks for the feature request.  One thing you can do immediately is log a separate metric that only updates when your metric increases or decreases, i.e. "min_loss".  What framework are you currently using?

[2020-01-06 22:40] yaroslavvb commented on #737
I deleted the folder, however I imagine it could've been in a bad state -- I rsync .git folder from local machine where I do the code editing to remote machine where I do the running, so this could've been a one-off error of .git folder being corrupted

[2020-01-07 01:11] yaroslavvb commented on #737
Got another failing issue like this, will send .git in email

[2020-01-07 01:12] yaroslavvb commented on #737
Couldn't find work email, sent it to vanpelt gmail

[2020-01-07 01:28] vanpelt commented on #737
Thanks! vanpelt@wandb.com works for next time.

[2020-01-07 09:53] bluesky314 commented on #734
@vanpelt  Am still getting exact same error. Could there be some other cause of this?

[2020-01-07 19:54] vanpelt commented on #734
@bluesky314 my appologies, I gave you the wrong git branch.  This branch fixes it:  `pip install --upgrade git+git://github.com/wandb/client.git@bug/bad_io#egg=wandb`

[2020-01-08 12:27] BigBadBurrow opened #741 "Error when debugging in Visual Studio Code"
I've been using W&B v0.6.34 successfully for a few months, and I could debug within Visual Studio Code, but I'd get a warning that W&B wouldn't log anything because it hadn't been executed via this:

`wandb run python <script>`

Warning given was:

That was fine, as I didn't want to log out when I was debugging anyway, but now after updating to v0.8 I get an error when I try to debug:

[code]

Am

[2020-01-08 21:57] jwiszowata commented on #531
I have a very similar issue, I try to work on two projects. One of them is a team project, and the other one is my private one. Every time I try to run a private one, the app creates a new project for the team. I tried to create a project in the right place, I put setting that new project should be created under my private account but it didn't help.
I work on:
Linux Mint 19.2 Tina 64-bit
Python 3

[2020-01-09 02:30] yaroslavvb commented on #737
Another instance I saw recently.
[code]

Tried deleting `wandb`, `.git` and `../.git`, still fails. Tried 15 minutes later, it works again.

[2020-01-09 02:57] seangtkelley commented on #711
Here is the link to the run we were attempting to retrieve the table from: https://app.wandb.ai/bertandernie/CodeSearchNet/runs/0d49hj25

However, it appears that W&B won't allow me to make it public.

[2020-01-09 10:02] DanieleMarchei opened #748 "ufunc 'isfinite' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''"
* wandb, version 0.8.19
* Python 3.6.9
* Linux

### Description

I am using wandb on Google Colab to log some scatter plots. When I call wandb.log() there is an error in the numpy histogram apparently.
This is the code that gives me the error

### Code

[code]

The following one gives no error insted. This code is in another colab notebook and I use it just for testing the wandb package.

[code]

[2020-01-09 12:57] DanieleMarchei commented on #748
There is an update. I discovered that this code "works"
[code]
But produces this empty plot
![error](https://user-images.githubusercontent.com/6474669/72068872-dd4a0b80-32dd-11ea-81e9-041c46dbebaa.png)
Apparently this graphical issue is only present if nn >= 33.

This code instead gives the "ufunc 'isfinite' not supported" error I mentioned above.
[code]
Yet again, the error arises only if nn >= 3

[2020-01-09 16:49] mathemakitten opened #749 "Sweep is launching runs as individual runs instead of attaching them to sweep"
* Weights and Biases version: 0.8.19
* Python version: 3.6.9
* Operating System: Linux

### Description

I'm attempting to run a sweep over hyperparameters but the jobs are launching as individual runs instead of as part of the sweep. Can you describe what conditions must hold for jobs to run as part of a sweep?

### What I Did

The approximate structure of my workflow is this:

**train.py:**
* `s

[2020-01-09 17:00] raubitsj commented on #749
The sweep context should be set automatically for any wandb.init call after being initiated by an agent.  Let me look into this and give some theories of what might be happening.  Is your train_sweep function spawning a new process to train the model?

Fyi:
The config=config_defaults is only needed if you want to run the same code without being started by a sweep

[2020-01-09 17:04] mathemakitten commented on #749
Essentially yes, train_sweep is launching a new process to train a model on a TPU, and model artifacts get synced from gcloud buckets to my instance.

Thanks for the note re: config_defaults, that's good to know.

[2020-01-09 17:08] jwanga commented on #678
Hi. Im still experiencing this issue with version 0.8.19.
I'm not sure what is meant by:

Can you post an example?
Thank you.

[2020-01-09 17:13] mathemakitten commented on #749
Oh I should mention, I'm getting this in the logs looping over and over again with different IDs, it looks like it's spawning a single run and then trying to do sweeps but the sweeps just aren't working.

2020-01-09 17:11:06,122 - wandb.wandb_agent - INFO - Agent received command: run
INFO:wandb.wandb_agent:Agent received command: run
2020-01-09 17:11:06,122 - wandb.wandb_agent - INFO - Agent star

[2020-01-09 17:44] mathemakitten commented on #749
I have also tried the following workflow which results in the same behaviour:

**main.py:**
sweep_id = wandb.sweep(sweep_config)
wandb.agent(sweep_id, function=train_sweep(hparams, model, train_dataset_fn, eval_dataset_fn))

where train_sweep() looks like:
[code]

[2020-01-09 17:46] raubitsj commented on #749
I think the issue is with:

[code]

function argument to wandb.agent() expects a function so unless train_sweep is returning a function you might want to do:

[code]

[2020-01-09 17:58] rahulvigneswaran commented on #574
@mlmu One easy workaround for the time being is to download the `.csv` for that specific graph and port it to [plotly](https://chart-studio.plot.ly/create/).

[2020-01-09 19:09] mathemakitten commented on #749
Thanks! I added the lambda and it's no longer returning a single run, but the sweep still doesn't seem to work. Here's what I get:

[code]
...

[code]

It *looks* like it's running correctly, but it just outputs this repeatedly:
[code]

[2020-01-09 20:04] mathemakitten commented on #749
Actually, do you have any examples of using W+B with workflows where sweeps get started up and launch a run on a new TPU? I think I'm having issues between the W+B sweep agent context and the way I'm connecting to the TPU (i.e. with TF functions like `tf.config.experimental_connect_to_cluster`). For some reason it works OK in single-run mode though.

[2020-01-09 20:49] exalate-issue-sync[bot] opened #751 "sync tensorboard visualizations from previous project"
You can do this, but I guess there is a better script for it?

I recall Chris Van Pelt had created a script to do this, I don't know what the status is of it though.  We should productize it though.

20d · Note

Hey, if each experiment is in it's own directory you can call, wandb sync dirname to import the tfevent files into wandb.  We're working on an improved import script, but that should get t

[2020-01-09 22:26] vanpelt commented on #711
Thanks for the response!  I was able to reproduce the bug.  If you call `run.summary_metrcs['table name']` the data is returned, we'll look into the root cause and get a fix in the next release.

[2020-01-09 22:30] vanpelt commented on #748
I think what's happening is by default we turn any numpy arrays greater than a length of 32 into a histograms.  The quick fix would be to turn the "x" and "y" values into lists instead of numpy arrays.  I'll look into a more robust solution on our end.

[2020-01-10 02:31] jwanga commented on #678
Nevermind my comment above. I sorted out that I need to do:
`wandb.init(project="project-name", entity="username")`
However, I'm still receiving:
`KeyError: 'notebook'`

[2020-01-10 15:18] bluesky314 commented on #734
@vanpelt Ok that error has disappeared but now nothing is getting logged. When I go to the project link provided I see the page :"Not Found: We couldnt find what you were looking for".
The project does not appear on my project dashboard as well.

[2020-01-10 16:44] vanpelt commented on #734
Can you share the links that are being logged?

[2020-01-10 17:03] bluesky314 commented on #734
Sure here is the one it gave me on the python terminal:
https://app.wandb.ai/bluesky314/XResNetDisentagleNet/runs/n3frcyzw

On Fri, Jan 10, 2020 at 10:14 PM Chris Van Pelt <notifications@github.com>
wrote:

[2020-01-10 17:20] bluesky314 commented on #734
The page generated by the run: https://app.wandb.ai/bluesky314/XResNetDisentagleNet also has the same error

[2020-01-10 18:13] exalate-issue-sync[bot] opened #753 "Allow renaming groups of completed runs"
Is there any way to move a 'run' to another 'group' or changing the name of 'group'? I mistakenly set wrong group name for a run but couldn't find how to fix it!

[2020-01-10 18:15] bluesky314 commented on #734
@vanpelt My bad it is working, I was logged out on my browser. Maybe there should be a page saying please log in or no acess to make the situation a bit more clear.

[2020-01-10 19:19] rjdoubleu opened #754 "Wandb across multiple notebooks"
* wandb, version 0.8.19
* Python 3.6.9
* Linux (Google Colab)

### Description

I am trying to use the wandb.log function across multiple notebooks. I have already [modified](https://medium.com/@ryanwalden/how-to-use-papermill-in-google-colab-9f83df1dcb70) my Google Colab notebooks such that they will work with papermill and scrapbook.

### What I Did
The way that seemed clearest to do this was to

[2020-01-10 19:19] vanpelt commented on #678
Hey @jwanga can you share the full stacktrace for the KeyError you're seeing?

[2020-01-10 19:31] vanpelt commented on #754
Hey @rjdoubleu I need to understand more about what each notebook is doing.  Are you actually resuming from a checkpoint in the other notebook?  The multiple run directories is actually intentional, they still should report metrics to the same run in the wandb backend.

`resume=True` likely won't work correctly in a notebook context.  It writes a file with the current run_id and removes it when a

[2020-01-10 19:34] vanpelt commented on #734
I see, yeah we display a 404 to avoid leaking the existence of private usernames / projects.  We should make the 404 page say if you own this project please login.

[2020-01-10 20:02] #734 closed

[2020-01-10 21:27] rjdoubleu commented on #754
In simplest terms, I would like to log new data to the same run with different notebooks. Setting the id in Notebook 1 and passing it to Notebook 2, using it to initialize wandb, resulted in the same new directory issue. My specific use case is the following:

 I have a driver notebook I want to initialize the wandb run with, then a feature engineering notebook which I want to log a plot from to t

[2020-01-11 06:20] jwanga commented on #678
@vanpelt
`
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/usr/local/lib/python3.7/site-packages/wandb/meta.py in setup(self)
     46             import __main__
---> 47             self.data["program"] = __main__.__file__
     48         except (ImportError, AttributeError):

AttributeError: m

[2020-01-12 22:57] #738 closed

[2020-01-12 23:09] cvphelps commented on #623
Looks like this is fixed! ([link](https://app.wandb.ai/yaroslavvb/train_ciresan/runs/2xo28nk2?workspace=default))
![bug fix - zooming](https://user-images.githubusercontent.com/6355078/72227111-8b0f2180-354d-11ea-8c6c-3da0949b80a3.gif)

[2020-01-12 23:09] #623 closed

[2020-01-14 02:55] depthwise opened #762 "Wandb tries (and fails) to import non-existent fastai when running under Tox"
`wandb --version && python --version && uname`

 * wandb, version 0.8.20
 * Python 3.6.9
 * Linux

### Description

Test imports wandb when running under Tox. Doesn't call anything in it, does not initialize, simply imports. I get an error because it seems to try to import fastai (which is not installed). If I install fastai, it fails on trying to import something else, which is also not installed

[2020-01-14 03:20] vanpelt commented on #762
Weird, we actually don’t use tox.  We should probably remove tox.ini.  To run tests, run pip install -r requirements_dev.txt then run pytest

[2020-01-14 07:33] 1e100 commented on #762
Tox is actually used in _our_ repo. We merely import wandb into our code.

[2020-01-14 07:51] vanpelt commented on #762
Ahh, I see.   What specific calls or imports are you making from the wandb library in your code?  Can you provide a simple example of a test that triggers this exception?

[2020-01-14 10:55] haimat commented on #729
I have the same issue here - any news on this bug?

[2020-01-14 16:59] mathemakitten opened #764 "Is there a way to turn off Weights and Biases without code changes?"
* Weights and Biases version: 0.8.19
* Python version: 3.7
* Operating System: Linux

Is there a way to totally turn off W&B without having to build if-logic? I know I can do WANDB_MODE="dryrun" but I want to turn it completely off (i.e. ignore Wandb.init(), ignore wand.save, don't even write files).

[2020-01-14 17:15] vanpelt commented on #729
I think this is an issue with the python graphql library version.  The most recent version of wandb should have addressed this.  @haimat what version are you using?

[2020-01-14 17:53] mathemakitten commented on #764
Also, is there a way to turn off W&B warnings?

[2020-01-14 19:27] vanpelt commented on #764
Hey @mathemakitten currently you can't completely turn off wandb.init but it's a feature we should add.  You can turn off all messages from wandb by setting `WANDB_SILENT=true`

[2020-01-14 20:33] rjdoubleu commented on #754
I've actually found the Grouping method to work very well for my use case, thanks for the assistance

[2020-01-14 20:33] #754 closed

[2020-01-14 21:49] haimat commented on #729
@vanpelt I solved it as [described here](https://github.com/wandb/client/issues/454).

[2020-01-15 17:22] ogvalt opened #768 "Recursive creation of link to run folder in itself"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.20
* Python version: 3.7
* Operating System: Ubuntu Linux 19.10

### Description

I'm using catalyst integration of wandb. When program stores info on disk it creates inside itself link to itself like :
[code]

In the result it fails to exit application normally and sent
```ERROR Error uploading...```

### What I Did

[2020-01-15 17:55] exalate-issue-sync[bot] opened #769 "Name groups or custom name lines"
Filip at OpenAI and other want to name the lines in their graph when grouping is on.

Hey hey!

Apologies, I had a colleague breathing down my neck when I messaged you :)

hey, quick feature query: it would be great if I have report, and I could name some of my runs so they show under the name of "cool experiment from Filip" on the graph, rather than "some_tag:123"

right now I can do that if I do

[2020-01-15 18:50] lukas commented on #769
Oops this is a frontend issue

[2020-01-15 18:50] #769 closed

[2020-01-16 18:07] tshrjn opened #776 "Tags in Custom vizualization"
Hi there,

I was trying to add tags as legends, but an option for such doesn't show up.
What am I missing?

[2020-01-17 07:33] raubitsj commented on #741
We did make windows work more like Linux/macos so you no longer need to do wandb run and can start your program with python directly.

The error you are seeing might be caused by a few things.  Can you try again with 0.8.21 and if it fails send us your debug.log file.  One possibly is there are too many untracked files in your git directory and we are timing out after 30 seconds.  We will fix this

[2020-01-17 07:35] raubitsj commented on #698
Early terminate was fixed with the python agent api.  Marking this closed.

[2020-01-17 07:36] #698 closed

[2020-01-17 07:40] raubitsj commented on #598
We have added auto visualizations for sweeps in the ui over the past couple of weeks!  Please give it a try and let us know what you think.

You can rename and delete sweeps also.

[2020-01-17 07:44] raubitsj commented on #560
Sweeps are functional in windows with the latest versions of the wandb client.

Windows users no longer need to use wandb run to start the training script.

Closing this issue. Please reopen it if there is still an issue.

[2020-01-17 07:45] #560 closed

[2020-01-17 07:49] raubitsj commented on #557
We now support windows with the same interface as Linux/Mac.

You can start your script with python and use all the parameters to wandb.init()

Marking closed. Please reopen if you have any issues with the improved windows support.

[2020-01-17 07:49] #557 closed

[2020-01-17 17:20] rsomani95 opened #777 "AttributeError: 'Learner' object has no attribute 'predictions' with fastai callback"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.21
* Python version: 3.7.4
* Operating System: Ubuntu 18.04

### Description

When trying to use the `wandb.fastai.WandbCallback` as such:
[code]

I face an `Attribute Error: 'Learner' object has no attribute 'predictions'`. Here's the full error message:
[code]

Can't seem to figure out if the error is with the `Wid

[2020-01-17 18:28] raubitsj commented on #474
We have added this to the cli 0.8.20 and the frontend displays it in the system metrics.

[2020-01-17 18:29] #474 closed

[2020-01-17 22:26] intermx-rwalden opened #778 "Plotly Ignores Colors"
* Weights and Biases version: '0.8.21'
* Python version: 3.5.3
* Operating System: GCP AI Notebook with Tensorflow 2.0 Environment Jupyter Lab

### Description

If I create a bar plot using matplotlib.pyplot and pass in a set of colors to use for each bar, it displays the plot correctly with the corresponding colors. When I log this plot to wandb, the plot displayed in wandb shows the correct bars

[2020-01-17 23:09] intermx-rwalden commented on #778
In addition, when I use plotly directly, it displays perfectly in Jupyter Lab but logs a blank graph to wandb.

[code]

[2020-01-18 03:26] borisdayma commented on #777
@rsomani95 can you confirm which version of fastai you are using?

[2020-01-18 04:14] rsomani95 commented on #777
@borisdayma Sorry this was a false alarm, I'm not sure what exactly was causing the issue but after restarting my notebook, this didn't give me any issues.

I'm using `fastai=1.0.61.dev0`

[2020-01-18 13:25] #777 closed

[2020-01-18 13:44] richardyy1188 opened #780 "Read timed out when many parameters assigned to sweep"
`wandb --version && python --version && uname`

wandb, version 0.8.21
Python 3.6.9
Linux

### What I Did

[code]
where `sweep_params` is
[code]
and get timeout
[code]
but after I cut a lot parameters, with the same code, it works.
Is this a limit in client or  wandb server?

[2020-01-19 08:07] richardyy1188 commented on #780
I found it is not specific parameter nor the number of paramters cause the problem, cuz I have tried some ablation and adding many constant paramters. The total number of  combination of possible values is the problem.  When the number of combination exceed 14~15 million, I get the error.

[2020-01-19 08:13] richardyy1188 commented on #780
For the reason why I want to do so many runs is because I am trying to do a preliminary exploration in large search space by tiny scale experiments (1~2 mins/run), to rule out some possibilities first.
I really like sweep, hope you guys can fix this problem.

[2020-01-19 15:30] raubitsj commented on #780
Thanks for the report. We will look into this and figure out ifwe can handle this size of combinations or if we have to set some limits.

[2020-01-20 02:16] jwanga commented on #678
@vanpelt created a PR to address the issue I was seeing. Its partially a bug in the Jupiter instance that ships with VSCode. So I added some code to handle it gracefully.

https://github.com/wandb/client/pull/782

[2020-01-20 20:37] lukas opened #783 "fastai callback fails with images in gan example"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.21
* Python version: 3.7.4
* Operating System: linux

### Description

[code]
causes
[code]

[example.zip](https://github.com/wandb/client/files/4087747/example.zip)

[2020-01-20 23:32] borisdayma commented on #783
The callback depends on learn_critic.predict which does not seem to be supported with this type of data.

[code]

However `pred_batch` is supported

[code]

I'm gonna see if we can use this method instead as a workaround.

[2020-01-21 00:53] lukas commented on #778
I think the first issue is a plotly issue.

If I do:
'''
import numpy as np
import matplotlib.pyplot as plt, mpld3
import seaborn as sns
import plotly.tools

lengths = [1,2,3,4]
modes = [1,2,3,4]
pal = list(sns.color_palette("hls", len(lengths)))
fig ,ax = plt.subplots()
ax.bar(lengths[1:], modes[1:], color=pal)
fig.xlabel('Visit Lengths')
fig.ylabel('Frequency')
plotly = plotly.tools.mpl_to_plotl

[2020-01-21 00:55] lukas commented on #778
https://github.com/mpld3/mpld3 seems to handle this case correctly - maybe we should switch @vanpelt - do you have any opinion?

[2020-01-21 01:00] lukas commented on #778
the second code snippet worked great for me - I filled in some values:

[code]

https://app.wandb.ai/l2k2/course-v3-nbs_dl1/runs/pru2s82n?workspace=user-l2k2

[2020-01-21 21:16] borisdayma commented on #783
This is actually difficult to implement as several methods from fastai are involved in the prediction and it's not fully supported (with `show` functions) for all data types.
Should we just add a "try" block and log a warning when it's not supported?

[2020-01-21 21:33] vanpelt commented on #783
If we can capture a class of errors smaller than Exception that's ideal

On Tue, Jan 21, 2020 at 4:16 PM Boris Dayma <notifications@github.com>
wrote:

[2020-01-22 11:31] stathius commented on #660
Hi, just started using wandb and I am also getting this problem when using remote nodes and it is not rare at all. Around 1/3 of my jobs end like that. Not sure what is happening but this is leads me to drop wandb for now. Is there a workaround for this?

[2020-01-22 11:58] stathius commented on #366
I am also getting the same error. It seems random, most of my jobs work well. Others fails with timeouts. My debug log is 26mb unfortunately and can't find anything informative in there.
[code]

[2020-01-22 12:03] stathius opened #785 "LaunchError: W&B process failed to launch"
I get the following error. It seems random. I sent a couple of jobs to a cluster and 3 of the 24 failed like this so it's not an isolated issue. Some others timed out (see: https://github.com/wandb/client/issues/660). Python 3.7,  CentOS Linux release 7.7.1908
[code]

[debug.log](https://github.com/wandb/client/files/4097085/debug.log)

[2020-01-22 14:35] intermx-rwalden commented on #778
I've narrowed down the issue: the cell fails when ```lengths``` and ```modes``` are initialized as numpy arrays. If I cast them into list types the plot will display correctly on the Wandb client window. Oddly enough, I can use numpy arrays and successfully display the plot in my notebook. Therefore, this likely has something to do with the way Wandb logs plots, possibly expecting only list data.

[2020-01-22 16:08] vanpelt commented on #778
Thanks @intermx-rwalden when we serialize to json we convert numpy arrays to histograms, but I thought I had made sure that didn't happen for plotly JSON.  We clearly missed something here.

[2020-01-22 16:18] vanpelt commented on #785
Hey @stathius we would love to get to the bottom of this.  In the past we've seen this happen with large git repos, but your debug.log doesn't seem to indicate that's happening.  One thing to try would be to set the "WANDB_DISABLE_CODE" environment variable to "true".

Are you running multiple process on the same machine?  Is this running directly on the linux host or within Docker?  If we can get

[2020-01-22 19:45] stathius commented on #785
Hi @vanpelt. More than glad to try this but it is hard even to know how to replicate the problem. I run the code on a cluster node directly (no docker). Not sure if multiple processes run on the same machine. It also depends on what you mean by machine, the cluster itself manages the virtual nodes so I don't have much visibility on that.

Will give it a try to do what you told me and come back to

[2020-01-22 22:14] vanpelt commented on #785
Thanks @stathius what I meant by machine was multiple processes in the same OS.  It could also have something to do with a shared drive if multiple machines are writing to the same underlying filesystem.  Thanks for being open to reproduce, I don't want to waste your time so we're trying to reproduce on our end too.  If it would help to do a screenshare I would be happy to pair.

[2020-01-23 01:00] vanpelt commented on #778
I have a branch that fixes this, you can use with: `pip install --upgrade git+git://github.com/wandb/client.git@bug/plotly_np#egg=wandb` we'll get this out in the next release.

[2020-01-23 01:28] xanderdunn commented on #281
@vanpelt In my runs I am still seeing checkpoint files uploaded only at the end of a run.  Not using tfevents. The link to the docs there doesn't work anymore, and I don't see mention of saving during the run in the [wandb.save](https://docs.wandb.com/library/python/save) doc page.

[2020-01-23 02:23] raubitsj commented on #281
The the wandb.save() doc page says:
[code]
So if you are using wandb.save() files will be synced while the run is executing.  If you have some sample code and a link to a run that isn't being synced we can look into it:

[2020-01-23 02:53] #783 closed

[2020-01-23 14:06] stathius commented on #785
Tried to run the code you sent me locally first and gives this error:
[code]
Is this expected? should I try and send the script to the nodes?

[2020-01-23 20:10] xanderdunn commented on #281
@raubitsj Thanks, I missed that.  This is my line of code:
[code]

Maybe my mistake is the wildcard, I'm not sure what lead me to think that was valid.

[2020-01-23 20:29] vanpelt commented on #785
Whoops, sorry about that.  You can change the config line to: `wandb.config.update({"hang": False}, allow_val_change=True)`

[2020-01-23 22:24] cvphelps commented on #776
Hi @tshrjn, we don't support tags in legends right now, but that's a great idea. I'll add it to our internal feature tracker.

[2020-01-23 22:27] cvphelps commented on #768
@raubitsj could you take a look at this?

[2020-01-23 22:28] cvphelps commented on #731
Thanks for the PR

[2020-01-23 22:28] #731 closed

[2020-01-23 22:28] #751 closed

[2020-01-23 23:12] cvphelps commented on #338
This looks solved to me:
![image](https://user-images.githubusercontent.com/6355078/73032025-cf32d980-3e0b-11ea-8c80-ed3ea9ed7607.png)

[2020-01-23 23:12] #338 closed

[2020-01-24 01:02] raubitsj commented on #691
This fix was released.

[2020-01-24 01:02] #691 closed

[2020-01-24 12:54] stathius commented on #785
The script runs fine. I've sent 6 jobs with WANDB_DISABLE_CODE=True and another 6 with False and they all finished ok.

[2020-01-24 16:57] vanpelt commented on #785
It's likely something specific to your integration.  Is the code that's failing something you could share with us so we could try to reproduce?

[2020-01-25 00:36] seungjaeryanlee opened #798 "Logged video not showing on browser"
* Weights and Biases version: 0.8.21
* Python version: 3.7.4
* Operating System: Linux

### Description

I was trying to log videos. I am not using `monitor_gym` because it did not work when I used two environments (train and eval envs). Instead, I am using `wandb.Video(filepath)` on videos generated by OpenAI Gym Monitor.

I only see the evaluation video and not the training video. Instead of the

[2020-01-25 18:34] eliasjacob opened #800 "wandb_torch.py causing random crashes"
Hi,
I am facing crashes when using wandb and fastai.
Can anyone cast some light on this?
Thanks

* Weights and Biases version: 0.8.22
* Python version: 3.6.9
* Operating System : Linux

[code]

### Description

I am training a fastai text classifier (ulmfit), and get random crashes from the wandb client.

### What I Did
Here's my model definition:
[code]
I was running this:

[code]

and, after a r

[2020-01-25 18:45] raubitsj commented on #800
Looks like the gradient had an infinite value. We currently have trouble with logging that information but we will work on a fix

For now as a temporary workaround please add log=None(or possibly log="parameters" to the WandbCallback.

[2020-01-25 22:55] ajay340 commented on #678
Just wanted to update that my issue still persists despite that I have added the entity parameter in the wandb.init function.

[2020-01-25 23:42] jwanga commented on #678
@ajay340 try upgrading to v0.8.22. It includes my PR that fixed the issue for me.

[2020-01-25 23:45] ajay340 commented on #678
@jwanga I have upgraded to 0.8.22 and the issue still persists.

[2020-01-25 23:47] jwanga commented on #678
@ajay340 can you post your newest stack trace again?

[2020-01-25 23:50] ajay340 commented on #678
@jwanga Sorry about that. I had updated my wandb package but not jupyter. So I updated and restarted jupyter and now it is working.

[2020-01-26 14:18] hartikainen opened #801 "[tune/WandbLogger] tune.WandbLogger could use the tune.run name as the default run display name"
* Weights and Biases version: 0.8.22
* Python version: 3.7.5
* Operating System: Darwin

### Description
It would be nice if `tune.WandbLogger` would use the `tune.run` name as the run display name by default. Currently, when run with something like:
[code]
the display name gets randomly chosen (e.g. fanciful-wildflower-3). I was expecting the `tune.run` name to get picked up by the logger and be

[2020-01-26 14:49] hartikainen commented on #801
Unfortunately, the experiment name doesn't seem to be exposed to the logger, which currently makes this impossible to implement on wandb side.

If tune exposed the name in the config, this could also be done by using `tune.sample_from` to fill the value in the wandb config:
[code]

For now, I'll just manually write the name in both places. FYI @richardliaw.

[2020-01-26 15:23] hartikainen opened #802 "[tune/WandbLogger] Multi-trial runs are displayed incorrectly in the ui"
- Weights and Biases version: 0.8.22
- Python version: 3.7.5
- Operating System: Darwin

I'm actually not sure if this is a bug or if I'm assuming something wrong or using wandb incorrectly.

### Description
When running multiple trials per run using tune, the results come out incorrectly when viewing them at the wandb web ui. Wandb somehow interprets the data from individual trials belonging toge

[2020-01-26 15:36] hartikainen opened #803 "[tune/WandbLogger] Trial failure causes subsequent logs to not get synced"
- Weights and Biases version: 0.8.22
- Python version: 3.7.5
- Operating System: Darwin

### Description
When a trial fails in a tune run, the `WandbLogger` stops syncing any of the subsequent data in that run. I would expect the logger to be able to correctly handle the non-failured trials. Note that tune correctly reports the rest of the results despite the failing trial.

Here's what I see from

[2020-01-27 19:40] stathius commented on #785
Hey, yes I could do you have an email?
I was thinking that it might be due to the cluster but truth is that my code without wandb runs fine everytime on it.

[2020-01-27 19:46] vanpelt commented on #785
Sure, my email is vanpelt@wandb.com.  If you're running from a git repo, if you could give me a tarball of the whole git repo as it would exist in your cluster that would help as well.

[2020-01-28 21:00] siarez opened #805 "wandb: Network error (TransientException), entering retry loop."
wandb, version 0.8.22
Python 3.6.8
Ubuntu 18

### Description

W&B was working fine until one day I started getting these error messages. I'm using W&B normally as far as I can tell. I'm not using sweeps or anything fancy. I "init" and then "log":
[code]

### What I Did
Nothing

The `debug.log` was too large to fit in "pastebin". But here are the first 140 lines: https://hastebin.com/ixonizoyal.sq

[2020-01-29 10:21] catta202000 commented on #663
I got the same error trying to resume with:
`WANDB_RESUME=must WANDB_RUN_ID=eew5hyxh python main.py`

The process just stops after few seconds with KeyboardInterrupt error.

[2020-01-29 15:10] sitic opened #808 "wandb.restore doesn't respect root argument without wandb.init call"
* Weights and Biases version: `0.8.22`
* Python version: `3.7.5`
* Operating System: Linux

### Description

The documentation describes the `root` argument of `wandb.restore()` as

However the `root` argument has no affect if there was no previous `wandb.init` call:

### Test Code

[code]
prints
[code]
It works as expected with an additional `wandb.init()` call.

[2020-01-30 10:19] Allezxandre opened #809 "PyYaml does not get installed with Wandb"
* Weights and Biases version: `wandb, version 0.8.22`
* Python version: `Python 3.7.4`
* Operating System: `Linux`

### Description

Installing WandB on a new Conda environment, and then importing `wandb` in Python fails with an import error for `Yaml`.

Installing `PyYaml` afterwards fixes this, but it should have been installed with the first `pip` command.

### What I Did

[code]

[2020-01-30 10:39] SpirinEgor opened #810 "Removing points from run"
* Weights and Biases version: wandb, version 0.8.22
* Python version: Python 3.7.6
* Operating System: Linux

### Description

How can I manually remove some points from the run?

### What I Did

In [documentaion](https://docs.wandb.com/library/api) said, that I can modify `run.history`, but, as far as I know, `history` does not attribute, it's a method, so I can't set a new value to it.

[2020-01-30 23:36] vanpelt commented on #809
I noticed this yesterday, @raubitsj it looks like whatever was pulling in
pyyaml in <3.7 isn’t happening in 3.7.  Let’s get a fix in the next release.

On Thu, Jan 30, 2020 at 5:19 AM Alexandre <notifications@github.com> wrote:

[2020-01-31 07:30] wsjeon commented on #660
I got the exact same issue.

[2020-01-31 10:17] ogvalt commented on #768
it seems, that with 0.8.21 wandb this issue fixed

[2020-01-31 10:17] #768 closed

[2020-01-31 19:04] vanpelt commented on #660
We're looking into this now.  One thing to try is to set WANDB_DISABLE_CODE=true to see if the timeout still occurs.  @wsjeon if you can provide any more details about your environment that would help us debug.

[2020-01-31 19:14] wsjeon commented on #660
@vanpelt Hi, I think what my problem is. In my compute nodes, the internet connection is blocked, and my code includes the `wandb.restore` from the wandb server. I think this is my fault. Thanks for your concern.

[2020-01-31 19:36] raubitsj commented on #660
Looks like there is a condition where if we take too long (>30 seconds) to parse your git repo we could hit this condition.  I am going to try and improve this codepath and improve the logging so we can get more information if there is something else hiding.

[2020-02-01 01:53] raubitsj commented on #809
https://github.com/wandb/client/pull/814

Will be fixed in next release.  If you cant wait:
pip install --upgrade git+git://github.com/wandb/client.git@fix/add-back-yaml-depends#egg=wandb

[2020-02-01 13:13] BenedictWilkinsAI opened #817 "plaintext git password saved in run summary"
`wandb --version  0.8.22

### Description

In the run summary there is a field called "Git repository", when cloning a private repository with https the command has the following structure:

`git clone https://USERNAME:PASSWORD@github.com/REPO.git`

wandb will save this command including the PASSWORD in plain text, if the run is public... you see the issue.

[2020-02-01 16:32] raubitsj commented on #817
Thanks for pointing this out, this is certainly not good.
I think it makes sense for us to to regex this situation and mask user and password.

Right now if you want to avoid this behavior you can set an environment variable to disable saving information about your git repo:
WANDB_DISABLE_CODE=True python train.py

[2020-02-01 23:51] prash-p opened #821 "Plot histograms instead of heatmaps for wandb.Histogram"
Would it be possible to implement histogram plots instead of bin heatmaps for histogram objects? It's much more intuitive to read these. It also seems a histogram is already plotted when you hover over the heatmap:
![image](https://user-images.githubusercontent.com/5707552/73600824-c4163280-450a-11ea-840e-2d8f251322fa.png)

[2020-02-01 23:56] prash-p opened #822 "Include 50% percentile in summary metrics"
For array/tensor summary metrics, 10, 25, 75, 90% percentiles and mean/variances are calculated, but the median should also be presented as this is an important descriptive measure of the data.

[2020-02-02 00:40] #808 closed

[2020-02-02 18:01] prash-p opened #823 "Sweep agent unable to call W&B API"
wandb, version 0.8.22
Python 3.6.5
Linux

### Description

I'm running a hyperparameter sweep, and launched an agent which completed 10 runs (I can see them logged successfuly on the sweep page). After the 10 runs the agent started giving the following error:

[code]

I stopped the agent and started another one but had the same issue, this time it wasn't able to complete any runs.

[2020-02-02 18:11] raubitsj commented on #823
Sorry about that. We are improving the robustness to bad inputs. If you paste the sweep url I can help you diagnose the problem. We should have an update this week or next that better handles whatever you ran into

[2020-02-02 18:52] prash-p commented on #823
https://app.wandb.ai/prashant-pand3y/pytorch-unet/sweeps/u3a6gyi8?workspace=user-prashant-pand3y
Thanks

[2020-02-02 19:08] raubitsj commented on #823
The problem is that you had a run which didnt log the metric:
https://app.wandb.ai/prashant-pand3y/pytorch-unet/runs/zqew8o9g

We documented this but we intend on fixing it in an upcoming release:
https://docs.wandb.com/sweeps/common-issues

To workaround the issue, make sure you always log the metric you are optimizing when you use bayes search.   You can delete the runs that didn't log the metri

[2020-02-02 19:59] prash-p commented on #823
Hm, that's weird. I don't understand why one of my runs wouldn't log the optimization metric when the previous 8-9 logged them without a problem. Whether that metrics gets logged isn't dependent on any of the hyperparameter choices.

[2020-02-02 20:02] #823 closed

[2020-02-03 17:54] cvphelps commented on #822
@prash-p calculated metrics are a great idea. When you say these percentiles are calculated, where are you seeing this?

[2020-02-03 19:05] prash-p commented on #822
@cvphelps On a run page, I click overview, then go to 'Summary' on the right side of the screen, then I click 'Raw' which shows the descriptive metrics:
![image](https://user-images.githubusercontent.com/5707552/73682357-18d5bc80-4675-11ea-9fda-1dd98b7fe579.png)

[2020-02-03 20:22] kennazilis commented on #821
Hello! Thanks for writing in. That's a great feature request! I've added to our internal tracker.

[2020-02-04 15:19] R41D3R opened #832 "pytorch wandb.watch(model) leads to ValueError"
* Weights and Biases version: >=0.8.23
* Python version: 3.6.5
* Operating System: CentOS Linux release 7.4.1708 (Core)

### Description

I try to run a pytorch model on our Jupyter Server and with the new wandb version (>= 0.8.23) I get the following error when `wandb.watch(model)` is enabled. With wandb version 0.8.22 everything works fine.

### What I Did
I started training and called before in

[2020-02-04 17:09] toosyou opened #833 "Being not able to deepcopy wandb.config causes issue with Lambda layer in Keras when model saving"
* Weights and Biases version: 0.8.24
* Python version: 3.6.8
* Operating System: Linux Ubuntu 18.04.3 LTS
* Keras version: 2.2.5
* Tensorflow version: 1.14.0

### Description

I know the version of Keras/Tensorflow is kinda out of date, but it is necessary for the project I have been working on.
I believe the problem is that putting wandb.config inside a Lambda layer will cause a wandb.config `cop

[2020-02-04 18:40] raubitsj commented on #832
Thank you for this bug report.  We accidentally broke wandb.watch() when running under notebooks.  We will get a release out soon that fixes this.   for now you can workaround this issue with:

import os
os.environ["WANDB_DISABLE_CODE"] = "True"
wandb.init()

[2020-02-04 21:26] raubitsj commented on #833
The issue is that config is a managed object so it really can't cleanly be deepcopy'ed.
A recommendation is that if you passing around your config object, you can pass it as a readonly variant.
We will add a convenient to get a read only config in a future release.   For now here is a workaround:

[code]

And you can do:
[code]

Now you can freely pass around the `config` object

[2020-02-04 21:30] raubitsj commented on #832
Another workaround is to log anything before calling `wandb.watch()`
So:
[code]

[2020-02-04 21:51] ecatkins opened #834 "fastai callback - > ValueError: signal only works in main thread"
`wandb --version && python --version && uname`

* Weights and Biases version: 8.24
* Python version: 3.7.4
* Operating System: Debian Stretch

### Description

Using the `wandb.fastai.wandCallback` as described in the [fast.ai tutorial](https://docs.wandb.com/library/frameworks/fastai)  e.g.

[code]

produces the error below in my Jupyter lab:

[code]

### Full Traceback

[code]

[2020-02-04 22:35] lukas commented on #834
@borisdayma could you take a look at this?

[2020-02-04 23:28] raubitsj commented on #834
Same root cause as:
https://github.com/wandb/client/issues/832

Workaround is to do a summary write before model forward pass is
executed when user has run wandb.watch() with jupyter notebooks

On Tue, Feb 4, 2020 at 2:35 PM Lukas Biewald <notifications@github.com>
wrote:

[2020-02-05 00:09] timothybrooks commented on #660
I find `socket.timeout: timed out` in ~half of my runs, even when I set `WANDB_DISABLE_CODE=true`.

[code]

[2020-02-05 00:31] raubitsj commented on #660
@timothybrooks , what version of wandb were you using. We fixed a race in 0.8.23.

[2020-02-05 00:43] timothybrooks commented on #660
0.8.24

[code]

[2020-02-05 00:46] raubitsj commented on #660
Can you post the corresponding wandb/debug.log
We added some more debugging in that version which might help us track this down.

[2020-02-05 01:39] timothybrooks commented on #660
Sure. Thanks for the help!
[code]

[2020-02-05 04:39] eugeneware opened #838 "If you throw an exception logging, you keep throwing errors for each jupyter cell executed"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.25
* Python version: 3.8.1
* Operating System: Linux 16.04.6 LTS (Xenial Xerus)

### Description

I'm using jupyter notebooks.

As soon as wandb throws an error (usually when calling `wandb.log` with something that it doesn't like), then any subsequent cell execution throws an error `RuntimeError: cannot join thread

[2020-02-05 18:27] raubitsj commented on #834
This is fixed in 0.8.25

[2020-02-05 18:27] #834 closed

[2020-02-05 18:28] raubitsj commented on #832
This is fixed in 0.8.25

[2020-02-05 18:28] #832 closed

[2020-02-05 18:28] raubitsj commented on #809
This is fixed in 0.8.24

[2020-02-05 18:28] #809 closed

[2020-02-05 19:16] raubitsj opened #839 "W&B process failed to launch"
* Weights and Biases version: 0.8.25
* Python version: Any
* Operating System: ?

### Description

When calling `wandb.init()`, a new process is spawned which performs the metric synchronization with the server.  When the synchronization process takes too long to start (30 seconds) you can see this message:

[code]

### Status

As of 0.8.25, there are workarounds in place for non jupyter / non win

[2020-02-05 19:18] raubitsj commented on #737
In 0.8.25 we have added some protections that should prevent this.  The most common case is that the git repo either has many untracked files (usually when the training set is in the same location), or there is other .git corruption.

Currently these protections are for non-windows and non-jupyter environments.  Closing this bug by duping it to a catchall issue regarding launch errors.  If you sti

[2020-02-05 19:21] raubitsj commented on #737
Duplicate of #839

[2020-02-05 19:21] #737 closed

[2020-02-06 07:34] timothybrooks opened #843 "No way to display torch.Tensor images without normalization."
* Weights and Biases version: 0.8.25
* Python version: 3.7.6
* Operating System: Linux

### Description

I am trying to compare images

### What I Did

[code]

When passing a torch.Tensor, this calls wandb/data_types.py, line 762, in `__init__`
[code]

While normalization can be useful, it is preventing us from comparing images and features on an absolute scale, which is often important as well. H

[2020-02-06 09:33] eugeneware opened #844 "bestmodel.pth size shrank while it was being uploaded"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.25
* Python version: 3.7.6
* Operating System: Linux

### Description

While running a fastai callback to train a model in jupyter notebook by doing something like:

[code]

In the results that get written out to the notebook I often see errors such as:

![image](https://user-images.githubusercontent.com/38154/739238

[2020-02-06 16:02] stathius commented on #785
@vanpelt email sent

[2020-02-06 16:24] AGKhalil commented on #586
Any update on this? I'm facing similar issues.

[2020-02-06 18:11] ankitkv opened #845 "[Feature request] Filter runs based on steps"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.21
* Python version: 3.7.2
* Operating System: Linux

### Description

I am trying to filter my runs based on the number of steps (similar to the duration filter, but on steps instead of time), but this feature does not exist. It would be nice to be able to filter runs based on steps to see which runs have run long e

[2020-02-06 22:06] exalate-issue-sync[bot] opened #846 "AttributeError when trying to update a run using the public Run API"
repro:
[code]
The error is: `AttributeError: '<Run entity/project/run (running)>' object has no attribute 'display_name'`

It also seems like the specified run id is not used to name the run -- which might be related if it's something we need to replace with display_name.

[2020-02-07 00:04] timothybrooks commented on #843
Sounds good!

[2020-02-07 07:04] timothybrooks opened #847 "wandb.watch(model) fails when using torch.nn.DataParallel(model)"
* Weights and Biases version: 0.8.25
* Python version: 3.7.6
* Operating System: Linux

### Description

I am trying to call `wandb.watch(model)` to monitor the model, and also use `torch.nn.DataParallel(model)` for multi-GPU training. However, the two seem to be incompatible.

### What I Did

I have tried the following:
[code]
[code]
[code]

And all of them raise the same error, shown in the trac

[2020-02-07 19:13] kennazilis commented on #845
Hi Ankit,
Thank you for the feature request! We really appreciate the feedback. I have added it to our internal tracker.

[2020-02-07 19:16] kennazilis commented on #844
Hello! Thank you for letting us know about this error. We will take a look and get back to you as soon as we can.

[2020-02-07 19:21] kennazilis commented on #798
Hello! I just asked one of our engineers @nbardy to see if he can help!

[2020-02-07 19:25] nbardy commented on #798
Hey, can you provide a link to the run where this failing

[2020-02-07 19:32] borisdayma commented on #844
Can you try to add the callback to the learner instead of at the fit step?

[2020-02-07 19:43] borisdayma commented on #844
Also if you want to save as a separate run, you can just add a `wandb.join()` in between to close the previous run.

[2020-02-07 22:48] kennazilis commented on #838
Thank you for pointing this out!! We we will take a look!

[2020-02-07 23:36] raubitsj commented on #847
Sorry this is caused by a regression with how we were recording the model graph.

Temporary workaround:
 `pip install wandb==0.8.22`

Will have a development fix soon, and we will have a release early next week at the latest.

[2020-02-08 00:03] raubitsj commented on #847
An experimental pip is available with this command:
pip install --upgrade git+git://github.com/wandb/client.git@fix/pytorch-watch-parallel#egg=wandb

[2020-02-08 01:56] timothybrooks commented on #847
Thank you!

[2020-02-08 04:45] ahyunSeo commented on #366
I'm getting this error now.
Any updates?

[2020-02-08 05:07] raubitsj commented on #366
Are you using 0.8.25. what Os/environment?

Windows? Jupyter notebook?

[2020-02-08 06:13] ahyunSeo commented on #366
For me it was the connection issue. Thanks

[2020-02-08 08:52] timothybrooks commented on #847
Just tried out the experimental pip version. It indeed allows for watching the model, so thanks for the fix.

However, in the model tab, the table listing Name/Type/# Parameters/Output Shape shows multiple entries for each submodule (one for each GPU). So if I train on 8 GPUs, I will see 8 copies of each submodule, which makes it quite confusing and cluttered to read. This even happens when I call

[2020-02-08 20:39] cvphelps commented on #845
Hi Ankit, you can filter runs based on steps in the table like so:
![image](https://user-images.githubusercontent.com/6355078/74091761-ffb37e00-4a6f-11ea-942a-7aa71d606ae0.png)

Is this what you were looking for?

[2020-02-09 18:21] deepaks4077 commented on #839
Hi @raubitsj :

An attempt to connect to compute note socket on compute canada, by the wandb process timed out:

wandb: Dry run mode, not syncing to the cloud.
wandb: Tracking run with wandb version **0.8.16**
Traceback (most recent call last):
  File "main.py", line 282, in <module>
    main()
  File "main.py", line 139, in main
    wandb.init(**wandb_args)
  File "/home/**/python3.7/site-package

[2020-02-09 18:25] deepaks4077 commented on #839
@raubitsj, Update on 0.8.25:

wandb: Dry run mode, not syncing to the cloud.
wandb: Tracking run with wandb version **0.8.25**

Traceback (most recent call last):
  File "main.py", line 282, in <module>
    main()
  File "main.py", line 139, in main
    wandb.init(**wandb_args)
  File "/home/**/python3.7/site-packages/wandb/__init__.py", line 1086, in init
    _init_headless(run, False)
  File "/h

[2020-02-10 14:58] raubitsj commented on #839
@deepaks4077 Thanks for the report, looks like our recent fixes didnt improve your environment, Can you send the debug.log from one of these failing runs? (attach here, paste in the app support window, or email jeff (at) wandb (dot) com)

[2020-02-10 15:10] dreamflasher opened #855 "Feature Request: Sweep config: Probabilities for categorical distribution"
`wandb --version && python --version && uname`

wandb, version 0.8.24
Python 3.7.5
Linux

### Description

I want to run a sweep with the following config:

[code]
But let the value True happen in 10% of the cases, and False in 90% of the cases.

Would be great if you could add this, thanks a lot!

[2020-02-10 17:38] harritaylor commented on #847
Hit the same problem half an hour ago, thanks for the fix!

[2020-02-10 17:39] deepaks4077 commented on #839
2020-02-09 20:36:32,779 DEBUG   MainThread:213683 [wandb_config.py:_load_defaults():111] no defaults not found in config-defaults.yaml
2020-02-09 20:36:32,799 DEBUG   MainThread:213683 [meta.py:setup():94] code probe starting
2020-02-09 20:36:32,803 DEBUG   MainThread:213683 [meta.py:_setup_code_git():49] probe for git information
2020-02-09 20:36:32,809 DEBUG   MainThread:213683 [cmd.py:execute()

[2020-02-10 18:28] raubitsj commented on #839
By default debug.log is only for the last run.  The debug.log attached appears to be for a successful run.
I will let you know later today how to get unique debug logs for your slurm usecase.

[2020-02-10 19:52] raubitsj commented on #847
Fixed in 0.8.26.

[2020-02-10 19:52] #847 closed

[2020-02-10 19:56] raubitsj commented on #847
@timothybrooks, I noticed the duplicate layer logging (which was consistent with the earlier releases) but I wanted to get the failure fixed asap.  Feel free to file another issue for the duplicate layer logging so that you can be informed when we fix it.

[2020-02-10 20:33] timothybrooks opened #856 "Duplicate layer logging with torch.nn.DataParallel(model)"
* Weights and Biases version: 0.8.26
* Python version: 3.7.6
* Operating System: Linux

### Description

In the model tab, the table listing Name/Type/# Parameters/Output Shape shows multiple entries for each submodule (one for each GPU). So if I train on 8 GPUs, I will see 8 copies of each submodule, which makes it quite confusing and cluttered to read. This even happens when I call watch on the

[2020-02-10 20:33] timothybrooks commented on #847
Thanks for the fix! Just made a new issue for the duplicate logs:
https://github.com/wandb/client/issues/856

[2020-02-10 20:47] #846 closed

[2020-02-10 23:39] Kashu7100 commented on #388
I do not see a delete button for a sample project (or example project).

[2020-02-11 02:45] raubitsj commented on #839
@deepaks4077
Can you use different wandb sync directories for all your runs so we can track down what might be going on.  Here is a code snippet that will create a new directory for each process:

[code]

[2020-02-11 04:30] exalate-issue-sync[bot] opened #857 "wandb/data_types.py opens a file without closing it"
A user on intercom reported a ResourceWarning around an unclosed file that seems to be stemming from wandb/data_types.py:165. See linked conversation.

---
created by Adrian Swanberg in Intercom

[2020-02-11 09:00] raubitsj opened #858 "No module named 'six.moves.collections_abc'"
This seems to happen on google colab.
The problem is that it is ignoring the dependency requirement for six >= 1.13.0

Example:
[code]
[code]

and a wandb.init() results in:
[code]

Similarly, if you omit the "%tensorflow_version 2.0" directive, you get:
[code]

So looks like six>=1.13.0 is too bleeding edge for the rest of the world.   We will likely need a new release to workaround these issues

[2020-02-11 14:47] ecatkins opened #859 "Resume with tensorboard"
* Weights and Biases version: 0.8.25
* Python version: 3.5.3
* Operating System: Debian Stretch

### Description

I have been using Weights and Biases to import the Tensorboard results while I train a model using the standard Tensorflow Object detection library. This has worked effectively for me my placing the `init` function at the top of the [model_main.py](https://github.com/tensorflow/models/

[2020-02-11 19:32] raubitsj commented on #858
Fixed in 0.8.27

[2020-02-11 19:32] #858 closed

[2020-02-11 23:11] ankitkv commented on #845
Yes @cvphelps , that is what I was looking for. Thanks!

[2020-02-11 23:11] #845 closed

[2020-02-12 00:40] raubitsj commented on #833
We have released a new version of wandb which includes a static config object that should be serializable.

[code]

[2020-02-12 00:40] #833 closed

[2020-02-12 00:41] raubitsj commented on #833
Needs documentation

[2020-02-12 07:53] lukas commented on #778
This should be fixed now - thanks for the bug report!

[2020-02-12 07:53] #778 closed

[2020-02-12 18:52] #857 closed

[2020-02-12 20:01] vanpelt opened #862 "wandb.init(reinit=True) doesn't work in Windows"
The command crashes with the following error:

[code]

Currently the only work around is to not use reinit and instead call your training script in it's own sub process:

[code]

The underlying cause is the way Windows handles file descriptors and inheritance.  We're currently working on a major refactor that will change the ways in which file descriptors are used.  If you're hitting this issue, p

[2020-02-13 02:10] fwilliams opened #863 "Point Clouds not Rendering"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.27
* Python version: 3.7.5
* Operating System: Linux

### Description

I am calling `wandb.log({"key": wandb.Object3D(pts)})` where `pts` is a numpy array with shape `(8192, 3)` of 3D points. The call succeeds, however in the browser, I see a blank square:

![Screenshot_2020-02-12_19-51-16](https://user-images.github

[2020-02-13 12:09] BigBadBurrow commented on #741
I've just tried updating to latest version of W&B and it seems to work fine now.  So not entirely sure what the issue was, but all's good now.  Thanks.

[2020-02-13 12:09] #741 closed

[2020-02-13 17:15] lukas commented on #855
Good idea - I will file a ticket.  One hacky workaround now would be to copy "False" 9 times.

[2020-02-13 17:16] lukas commented on #863
Do you know if the points were saved locally?  Is it possible to post a public link to your run in here?

[2020-02-13 18:45] dreamflasher commented on #855
@lukas that's how I ended up doing it, but it felt very hacky to me indeed :D Also I wasn't sure how Bayesian Optimization would deal with it – would it treat the strings as different values or as the same?

[2020-02-13 20:04] intermx-rwalden opened #864 "Error: "There was a problem rendering this workspace""
* Weights and Biases version: 0.8.27
* Python version: Python 3.5.3
* Operating System: Linux

### Description

I logged a plotly of a correlation matrix size 36x36 and it seems to have been logged fine. The issue is when I use the browser to pin the chart. Even if the dash is empty, I receive the title error.

### What I Did

[code]

[2020-02-13 22:05] shawnlewis commented on #864
Can you send us a link to the broken page?

[2020-02-14 02:38] DuaneNielsen opened #865 "Sweeps documentation: custom command substitution variables"
`wandb --version && python --version && uname`

* Weights and Biases version:wandb version 0.8.27
* Python version: 3.6
* Operating System: Ubuntu 18.04

### Description

Run a sweep with a custom command

### What I Did

[code]
Couldn't find documentation for the magic substitutions, specifically the ${args} substitution.  Which seems really important.  In the end I got it by a wild guess.

If it

[2020-02-14 17:10] fwilliams commented on #863
Unfortunately, I can't share the run publicly at the moment. It appears to be working now (I didn't change anything on my end!). I'm closing the issue.

[2020-02-14 17:10] #863 closed

[2020-02-15 18:23] cvphelps commented on #865
Hi Duane, thanks for commenting on this. Great idea, I'll add it to the docs.

[2020-02-15 18:24] cvphelps commented on #865
Added here: https://docs.wandb.com/sweeps/common-issues#sweep-with-custom-commands
![image](https://user-images.githubusercontent.com/6355078/74593161-56bfd280-4fdd-11ea-9fb3-76dce7fe617f.png)

[2020-02-15 18:24] #865 closed

[2020-02-15 18:25] cvphelps commented on #862
Thanks for making a note on this one Chris

[2020-02-15 18:26] cvphelps commented on #859
Hi Edward, thanks for the question. @vanpelt do you think wandb resuming doesn't support TensorBoard at the moment?

[2020-02-15 18:27] cvphelps commented on #856
Hi Timothy, it looks like we're having some issues with PyTorch DataParallel. Thanks for reporting this. @raubitsj is working on improving this integration.

[2020-02-15 18:28] cvphelps commented on #810
Hi Egor, we don't really support updating run data after it's been logged, as this might affect reproducibility. Could you tell us a little more about your use case for updating run data after the experiment has finished?

[2020-02-15 19:30] vanpelt commented on #859
The charts being shown here are actually from 2 separate runs, so it looks like an error with actually resuming the run.  We'll need to reproduce on our end to see what's going on under the hood.  @ecatkins heads up that resume=True will only work if the initial run exits unsuccessfully and the resumed run is started from the same machine.

[2020-02-16 15:56] intermx-rwalden commented on #864
https://app.wandb.ai/intermx/visit-anomaly-detection/groups/28915-vfa-mae

[2020-02-16 15:57] intermx-rwalden commented on #864
Sorry didn't mean to close the issue
https://app.wandb.ai/intermx/visit-anomaly-detection/groups/28915-vfa-mae

[2020-02-16 15:57] intermx-rwalden commented on #864
Sorry didn't mean to close the issue
https://app.wandb.ai/intermx/visit-anomaly-detection/groups/28915-vfa-mae

[2020-02-17 16:27] shawnlewis commented on #859
@ecatkins, you need to set `resume=True` and `id=<A_UNIQUE_ID_FOR_THIS_RUN>`. Use the same ID to reserve the run that you previously had that ID for.

[2020-02-17 19:13] SpirinEgor commented on #810
I'm training nn and it failed, for example, at step 150, but I have a checkpoint for step 100. So, I want to resume training in the existing run, but in this case, my graphics will be scattered, which I don't want. Because of it, I'm wondering, how I can remove some points to continue working in same run instead of creating new.

[2020-02-17 19:33] shawnlewis commented on #810
The best thing for now might be to create a whole new run. You can download the data from the previous run using our data API, and replay it, before logging new data. The timestamps will be wrong but the chart will be correct with step as the x-axis. https://docs.wandb.com/library/api

[2020-02-18 15:57] SpirinEgor commented on #810
Okay, I got it.
Thanks!

[2020-02-18 15:57] #810 closed

[2020-02-18 18:48] DuaneNielsen commented on #865
Sorry Carey, I don't see a reference to ${args} or any of the other substitutions there.  That looks exactly the same as the old doc.  Perhaps the edit didn't get saved properly?

[2020-02-18 19:00] fwilliams opened #867 "Frontend bug when plotting 3D meshes with `step=`"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.27
* Python version: 3.7.5
* Operating System: Linux

### Description

I am trying to plot 3D models using the code:
[code]

This worked fine until I added the `step=` argument (so I could see the evolution of the meshes over time). I've checked that the steps are monotonically increasing between calls with the same

[2020-02-18 22:49] fwilliams commented on #867
Here's a public run: If you open it now and wait a bit for the plots to update you'll see the bug.

https://app.wandb.ai/fwilliams/voronoinet?workspace=user-fwilliams

[2020-02-19 03:12] YantianZha opened #869 "Wandb has OpenSSL/cryptography issues when used with PyCharm"
`wandb --0.8.27 && python --2.7.12 && 16.04.1`

* Weights and Biases version: 0.8.27
* Python version: 2.7.12
* Operating System: Ubuntu 16.04.1

### Description

I can use wandb in Ubuntu terminal without any problem. However, when I use wandb in pycharm, I got the follow error:
...
  File "/home/local/ASUAD/yzha3/yumi_ws/src/kair_algorithms_draft/scripts/algorithms/sac/agent.py", line 17, in <mo

[2020-02-20 03:41] exalate-issue-sync[bot] opened #870 "Option to remove logging graph in Keras Callback"
User wants to turn off logging the keras graph

---
created by Lukas Biewald in Intercom

[2020-02-20 04:03] rmst opened #871 "Network error resolved but then hangs indefinetly"
* Weights and Biases version: Whatever version was published through Pypi two weeks ago
* Python version: 3.7
* Operating System: Linux

### Description

Running experiments on an cluster as usual but after a while I'm getting these error messages and the job halts indefinetly (most recently for 9 days until I killed it today).

[code]

It happened multiple times this month. The most recent job wh

[2020-02-20 04:06] rmst commented on #871
Okay, I just realized that this is probably just my own code hanging and the background wandb process having temporary but benign network issues.

[2020-02-20 04:06] #871 closed

[2020-02-20 09:07] eugeneware commented on #844
Thanks @borisdayma - I've been using a single learner and freezing and fine tuning it, so it's not that I'm during different runs, but the same model with multiple fine-tuning passes. But adding the callback at the learner level does seem to help the problem. I haven't seen the error once I've done that.

If I call `wandb.join()` after each fine tuning pass will that create a brand new run? I'm no

[2020-02-20 09:19] eugeneware commented on #844
Actually I'm still getting the issue, it's just happening on the `wandb.join()` that I've added at the bottom of my jupyter notebook. It doesn't seem to occur at any other place though. This is the literally the last line in my notebook:

![image](https://user-images.githubusercontent.com/38154/74919141-444efa00-541e-11ea-9528-cf387a3cb64d.png)

The error message is:

[code]

[2020-02-20 15:11] borisdayma commented on #844
If you have it as a single run, you should just add the callback to the learner and you should not need any join at all but you could have one at the end

If you save it as multiple runs, you should add it to the training loop "fit" and you will add a join after each loop.

Let me know if you still have that issue.

[2020-02-22 15:38] Yumin-Sun-00 commented on #660
I got the same error today. This is already 2nd project I run with wandb.

I run the project both locally and on a remote server. Locally it is fine, remotely it has time out issue.

I think the problem could because the remote computer spends time assigning tasks, that nearly require 2 minutes or even longer. And maybe this is the reason why wandb return time out error. Could you help to solve th

[2020-02-22 18:11] shamoons opened #876 "Does WANDB save the architecture and weights?"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.27
* Python version: 3.6.10+
* Operating System: MacOS

### Description
Pretty much as stated

[2020-02-22 19:57] zplizzi opened #877 "Stopping a run from the Wandb UI doesn't work in Docker"
* Weights and Biases version: 0.8.13
* Python version: 3.6.8
* Operating System: Ubuntu 16.04

### Description

I would like to stop a run from the Wandb UI, where there is an option to "stop run" on the run overview page. This works for experiments started from the command line. But when I have an experiment running in a docker container, it doesn't work.

I have started an experiment in the cont

[2020-02-22 21:36] raubitsj commented on #877
Thanks for the report, we will try to reproduce using your instructions.
We should be sending a signal from a spawned process back to the parent process (your experiment module) but perhaps we will need to do something slightly different in the environment you created.

[2020-02-24 16:50] mfts commented on #876
Hi @shamoons,

the python package `wandb` can save your model file, log anything you'd like to save (like loss or accuracy numbers) and optionally also the hyperparameters you chose for a particular run.

1. Add wandb initializer at the beginning of your training script.
[code]

2. if you would like to save your hyperparameters, just add them to the wandb configuration, eg:
[code]
3. Inside the tr

[2020-02-25 05:34] vanpelt opened #879 "wandb.save not uploading files immediately outside of Jupyter"
As reported by: https://twitter.com/stormtroper1721/status/1232166518642753536?s=12

[2020-02-25 05:55] vanpelt commented on #879
I was able to create a simple script that does work:

[code]

After running this I verified the chkpt files were uploaded immediately.

[2020-02-25 18:29] lukas commented on #879
example code from the reporter

[code]

[2020-02-26 12:26] itssimon opened #881 "Support for logging Altair plots"
Is there any chance that Altair plots will be supported for logging with wandb?

[2020-02-26 18:49] vanpelt commented on #881
Hey @itssimon we do support rendering Vega, but haven't added formal support Altair.  Can you tell us a little more about what you're wanting to log specifically and give us an example usecase?

[2020-02-27 00:29] itssimon commented on #881
I would like to add some charts to wandb showing things like model calibration. I have an existing library that produces these sorts of charts for a fitted model in Altair. Being able to simply write them to the wandb summary would be fantastic.

If rendering Vega is already supported it sounds like adding Altair support should be fairly straightforward. Given Altair's rise in popularity this woul

[2020-02-27 02:22] marii-moe opened #884 "Threads can only be started once, when"
* Weights and Biases version: wandb, version 0.8.28
* Python version: Python 3.6.10 :: Anaconda, Inc.
* Operating System: Linux

### Description

I was trying to run a model across two separate GPUs. Minimal example is included. I am running this in docker and inside of a jupyter notebook. Lines of "------" denote different cells.

### What I Did

[code]

[2020-02-27 02:23] marii-moe commented on #884
This is an intermittent error, but for me happens more times than not.

[2020-02-27 07:49] piyush-bagad commented on #546
Tried deleting `~/.netrc` and logging back in. Still facing the same issue.

[2020-02-28 17:31] cvphelps commented on #884
Hi Marii, thanks for reporting this! It looks like your init call is in a separate cell from the rest of your script, so it might not get called every time you run your model. Could you please try putting wandb.init inside the cell that trains the model? I'm cc'ing my colleague @vanpelt who might have other debugging ideas.

[2020-02-28 17:33] cvphelps commented on #881
@shawnlewis could you comment? It looks like Altair is built on top of Vega: https://altair-viz.github.io/

[2020-02-28 17:39] cvphelps commented on #877
@zplizzi it looks like you're on a version of wandb from last year— you're on 0.8.13 and we're on 0.8.28. Could you please run `pip install --upgrade wandb` to get the latest version, then try stopping from the UI?

[2020-02-28 20:09] bshikin opened #887 "Issue with running TF 2.1.0 with `validation_data` tuple present"
* Weights and Biases version: wandb, version 0.8.28
* Python version: Python 3.7.2
* Operating System: Darwin

### Description

I am not able to train TF models when passing `validation_data` on TF 2.1.0.

### What I Did

[code]

Results in:
[code]

**Note 1:** I am using `tensorflow==2.1.0`.

**Note 2:** The issue does not occur if I remove `validation_data`

[2020-02-28 23:02] marii-moe commented on #884
Thank you! That got it working in the minimal example, and in my full project. I never had to have wandb.init() in the same cell previously, so this is a surprise to me.

[2020-03-03 15:22] HansPinckaers commented on #663
I have this issue too, I think it only happens with runs where i 'killed' the run from the website.

[2020-03-03 18:50] noncuro opened #892 "Issue using agent with PyTorch+cuda"
* Weights and Biases version: 0.8.28
* Python version: Python 3.6.9
* Operating System: Linux (Colab)

### Description

I'm trying to run a sweep in Colab. My model is in PyTorch and requires a GPU. It seems that the use of multiprocessing isn't compatible with PyTorch. I've created the below toy example to reproduce the bug. Any advice?

### What I Did

[code]

Stacktrace:
[code]

[2020-03-03 21:58] raubitsj commented on #892
I tried your example on colab (enabling GPU fin the runtime) and I wasnt able to reproduce the failure you saw with your example posted.

I do understand the failure and we are working on better mechanisms to run sweeps in notebook environments that should address this issue.   I will leave this bug open until we have a beta of the new client code that should address this.

[2020-03-04 10:17] noncuro commented on #892
Apologies! Try this code instead. The issue only occurs if you interact with cuda outside of the training loop, even if just to check if cuda is available

[code]

[2020-03-04 18:53] vanpelt commented on #892
Yeah,

I believe this is the same as tensorflow.  Cuda isn't fork safe so once you connect to the GPU in a process you can't fork.  If you only connect to cuda in a forked process everything should work.  Is it possible for you to refactor your colab code to only access cuda in the train function?

[2020-03-05 15:15] rahulvigneswaran opened #896 "Expanding groups in the table breaks after deleting runs"
**How to replicate :**
- Have multiple runs under various filters.
- Open Table view.
- Expand a specific run's branch of the tree fully.
- Delete that run.

**Issue :** If you try to expand some other branch now, it does expand and also doesn't show any other runs.

**Temporary fix:** Refresh the Webpage.

[2020-03-05 20:50] fwilliams commented on #867
Any updates on this issue? It makes it quite difficult to use 3D plotting with W&B.

[2020-03-05 20:56] alsuhr-c opened #899 "Captions are not showing up for videos in UI?"
`wandb --version && python --version && uname`

* Weights and Biases version: wandb, version 0.8.28
* Python version: Python 3.7.6
* Operating System: Linux

### Description

I'm trying to put captions on videos in the Weights and Biases UI. When creating a video, I create it like: `wandb.Video(data, caption="caption here")`. But the captions aren't showing up in the UI under the videos.

### What

[2020-03-05 21:32] vanpelt commented on #867
Hey @fwilliams, my colleague @nbardy will take a look at this.

[2020-03-05 21:38] vanpelt commented on #899
Hey @alsuhr-c can you send me a link to a run where this is happening for you.  We can dig into the root cause.

[2020-03-05 21:40] alsuhr-c commented on #899
Sure, this is a link to a run where it is happening: https://app.wandb.ai/lil/cereal_bar/runs/w6nx08ya?workspace=user-alsuhr

Under custom visualizations, the tab "predictions/plans" should have captions under the five videos.

Thanks!

[2020-03-05 21:42] vanpelt commented on #899
Great!  We're working on a fix now.  We'll keep you posted.

[2020-03-05 22:39] zplizzi commented on #877
Ah yeah that's probably the issue then, I guess I'm on whatever version was live when I built the container. I'm going to close this issue assuming that was the problem, but will reopen if I get around to updating+testing and it still doesn't work.

[2020-03-05 22:39] #877 closed

[2020-03-06 08:25] andrijazz opened #901 "wandb config with nested dictionaries"
* Weights and Biases version: 0.8.28
* Python version: 3.6.9
* Operating System: Linux

### Description

I'm not sure if this is a bug ...

I would expect that when passing config with nested dictionaries all nested dictionaries should be flattened recursively.

### What I Did
[code]

[2020-03-06 15:42] fwilliams commented on #867
Thanks a lot @nbardy for looking into this! I really like W&B as a product and I hope to keep using it in the future :smile:

Some comments if you're working on a new 3D renderer:
1. It would be really nice to have some control on the shading both from the Python side (in `wandb.log`) and in the plot on the webpage
2. Right now the only way to upload a 3D model is to save a mesh file (.obj, .stl,

[2020-03-06 15:45] fwilliams commented on #867
Also I'm still seeing the issue with multiple 3D plots. Has your fix been pushed to production yet?

[2020-03-06 18:44] vanpelt commented on #901
Yeah, this is currently as designed and is a bit unfortunate.  Any nested dictionaries must be accessed with the `["key"]` syntax instead of the attribute syntax.  We'll keep this open as we should be able to allow the attribute syntax for nested keys.

[2020-03-06 19:59] nbardy commented on #867
The fix will be deployed today. I'll let you know when it's live.

Are you interested in writing your own custom shader code? e.g. GLSL. Or something more along the lines of options for controlling lighting position, intensity, type ettc?

Great request, I'll add this to the roadmap.

We also support passing `StringIO` objects to media files so you can build your obj file in memory.

I created a n

[2020-03-06 23:49] nbardy commented on #867
@fwilliams The frontend fix is deployed

[2020-03-07 00:05] Yumin-Sun-00 opened #903 "socket timeout"
* Weights and Biases version: 0.8.21
* Python version: 3.6.9
* Operating System: Ubuntu 1804

### What I did

I run my script and got time out error on socket. This happened once before, and it recovered itself. Today, I got the same problem.

### error log
[code]

[2020-03-07 00:25] raubitsj commented on #903
Can you update to a more recent version, we have made some fixes that address some of the socket issues similar to what you described.

[2020-03-07 01:23] ZiyunZhao commented on #660
I also got the same error. It works perfectly fine on local but breaks every time when I run on a remote server. Can anyone help please? Really appreciate it!!
<img width="552" alt="Screen Shot 2020-03-06 at 5 18 25 PM" src="https://user-images.githubusercontent.com/42633187/76133830-054ca700-5fcf-11ea-9602-dd168004c537.png">

[2020-03-07 01:52] vanpelt commented on #660
@ZiyunZhao @Yumin-Sun-00 My colleague @raubitsj is working on a rewrite of our python client that will address this issue for good.  If you're open to trying it, we should have a beta version next week.

I'm also happy to do a quick screen share and see if we can live debug the remote environments to get to the root cause.  We've had trouble reproducing this.

Have either of you tried setting WAND

[2020-03-07 05:30] ZiyunZhao commented on #660
@vanpelt Thank you for the response! I have tried to set WANDB_DISABLE_CODE=true but still not working. I can definitely try the beta version next week and also the live debug.

[2020-03-07 10:07] Yumin-Sun-00 commented on #660
I can also help for the live debug.

[2020-03-07 10:20] Yumin-Sun-00 commented on #903
I update the version `wandb-0.8.29`, but I think this is hard to have conclusions. Because the errors happen somehow like randomly.

[2020-03-07 17:54] LuposX opened #905 "Pytorch-lighning: W&B process failed to launch"
### Description

I am trying to get weights and bias working with PyTorch-lightning. I didn't know if this is an issue of lightning or Wandb. But I think it's from wandb. When trying to start the run I get the error message:
`wandb.run_manager.LaunchError: W&B process failed to launch, see: wandb\debug.log`

**Stacktrace:**
[code]

**Debug log:**
[code]

### What I Did

[code]

### My Enviroment

[2020-03-07 18:48] Yumin-Sun-00 opened #906 "Sweeps with slurm: config-default.yaml will be overwritten if task is inside waiting list"
### Description

I work with `slurm` that will recieve my training task and execute it. But, since my collegues are using the slurm at the same time, each person will have a maximal submits. This means, some tasks are submitted, but go into waiting list, until resources are released.

I am using the config-default.yaml to register all my hyperparams, but once the task goes to waiting list, if I ov

[2020-03-09 16:31] hartikainen commented on #802
Any updates on this one? I'd be interested in using wandb but this one is currently blocking me pretty badly. I might even be interested in contributing a fix to this if the error is on the client side and fixable with reasonable effort.

[2020-03-09 16:51] vanpelt commented on #802
Hey @hartikainen apologies for not responding sooner.  This use case should be supported.  Each call to `wandb.init` should create a seperate run in our backend.  Can you send me a link to your project?

[2020-03-09 17:15] hartikainen commented on #802
Thanks for the quick reply @vanpelt! Here's the run for this particular issue: https://app.wandb.ai/hartikainen/my-project-name/runs/wt8zx700.

[2020-03-09 19:27] cvphelps commented on #896
Hi Rahul, thanks for letting me know about this table issue. @tsholmes could you please take a look.

[2020-03-09 19:29] cvphelps commented on #906
Hi Yumin, thanks for reporting this. @raubitsj could you please take a look.

[2020-03-09 19:31] cvphelps commented on #905
Thanks for reporting this issue! @borisdayma could you take a look?

[2020-03-09 19:37] cvphelps commented on #887
Thanks for reporting this! @raubitsj could you please take a look.

[2020-03-09 19:44] cvphelps commented on #876
@mfts Thanks for the amazing answer :)

[2020-03-09 19:47] #870 closed

[2020-03-09 19:47] borisdayma commented on #905
@LuposX I cannot reproduce your bug. Do you have a reproducible example?

[2020-03-09 19:47] cvphelps commented on #869
Thanks for reporting this! @vanpelt could you please take a look.

[2020-03-09 19:48] cvphelps commented on #884
@raubitsj what do you think? Should we keep this open?

[2020-03-09 20:09] raubitsj commented on #884
I am glad you found that the workaround works for you right now.  I am going to close this issue since you have a workaround but it is being tagged so we will notify this issue when we have improved the jupyter integration so you won't have to be as careful about how you initialize the run in jupyter.

Please feel free to reopen if you continue to have trouble in jupyter.

[2020-03-09 20:09] #884 closed

[2020-03-09 20:34] rivasd commented on #905
Hi! I am having a _similar_ problem although I am not using Pytorch Lightning. I get the **exact same** stack trace and error (save for user name obviously). I cannot wrap my head around what happens at the line `stderr_read_file = os.fdopen(stderr_read_fd, 'rb')` inside your `run_manager.py`

I have managed to reproduce this bug only with a specific combination of factors:

1. While **Debugging**

[2020-03-09 20:46] shawnlewis commented on #881
Hi, we are refining our Vega feature now. You're right, supporting Altair plots should be straightforward. I'll post an update later this week about the Vega feature.

[2020-03-09 21:00] nbardy commented on #899
Hey @alsuhr-c. Sorry for the late follow up.

I pushed a patch out for this a few days, ago. Enjoy!

[2020-03-09 21:03] alsuhr-c commented on #899
Looks great!! Thank you!

[2020-03-09 21:03] #899 closed

[2020-03-09 21:58] tsholmes commented on #896
@rahulvigneswaran this should be fixed now

[2020-03-09 22:04] fwilliams commented on #867
Hey @nbardy thanks for the fix and for answering my questions!

I'm not particularly interested in writing my own shader code. I'd like to control lighting parameters, and maybe have some prebuild shading styles (using per-face vs. per-vertex normals when rendering a mesh).

One gripe I have right now with the current point cloud renderer is that I can't figure out if there's a way to control the

[2020-03-09 22:06] fwilliams commented on #867
Also camera options in the 3D viewer (e.g. Near/Far planes, FOV, Orthographic) would be nice!

[2020-03-10 05:48] rahulvigneswaran commented on #896
@tsholmes Thank you :)

[2020-03-10 05:48] #896 closed

[2020-03-10 13:42] LuposX commented on #905
When you tried my code did you used the newest version of pytorch-lighning `0.7.1` and the newest version of wb.

[2020-03-10 15:32] borisdayma commented on #905
@LuposX I could not try it as it's missing the definition of data, CNN, etc.
Can you send a copy of the full file?

[2020-03-10 15:51] fwilliams commented on #867
Here's a [gist](https://gist.github.com/fwilliams/b448583fdeb7ba6b61e79bf2b16ce774) with a function to generate an OBJ string from V, F, N arrays or lists. Feel free to integrate it into the wandb client.

[2020-03-10 17:06] LuposX commented on #905
@borisdayma this should be a minimal example of an MNIST classifier:
[code]

[2020-03-10 17:09] LuposX commented on #905
Also maybe you should consider adding PyTorch-lightning to the [framework-doc](https://docs.wandb.com/library/frameworks). Since it's far more popular than its counterpart(PyTorch-ignite) you listed there.

[2020-03-11 12:55] Yumin-Sun-00 opened #907 "Why wandb can only show the first step log after second step?"
### Description
I log the loss, metrics and video every epoch step.

I found that wandb will not show up the first step log immediately, it always show up after the second step. This makes the debug process longer, cause I always need to wait two epochs.

[2020-03-12 00:17] Yumin-Sun-00 opened #908 "log files miss part of content"
`wandb --0.8.29 && python --3.6.9 `

* Operating System: Ubuntu

### Description
The log on wandb missed some part of print.

### What I Did
I run task on slurm and found that the log on wandb does not always as same as my local log files or error files. There are some part missing on wandb.

### Here is the comparison:

## local log files start with this messages:
[code]

## wandb log messages st

[2020-03-12 10:54] rahulvigneswaran opened #911 "Expanding groups in Table resets the scroll bar"
Whenever I expand something in the Table the scroll bar goes to the top. It gets quite annoying when there are too many groups and runs. Kindly take a look at it.

[2020-03-12 16:24] cvphelps commented on #907
Hi Yumin, thanks for letting me know about this. How have you instrumented your code? Could you share a sample script so we can reproduce this behavior?

[2020-03-12 16:25] cvphelps commented on #908
Hi Yumin, are you printing out a lot of lines at once? We have a rate limit on the number of lines we send.  @vanpelt could you remind me what the rate limit for log lines is?

[2020-03-12 16:26] cvphelps commented on #911
Hi Rahul thanks for letting me know about this!

[2020-03-12 16:33] cvphelps commented on #911
@rahulvigneswaran could you share a few more details— is this on a report page or a project page? What browser and operating system are you using?

[2020-03-12 17:26] Yumin-Sun-00 commented on #907
[code]

[2020-03-12 17:26] Yumin-Sun-00 commented on #908
Thank you, I see.

[2020-03-12 17:40] vanpelt commented on #907
Hey @Yumin-Sun-00, you can add `commit=True` to your last call to `wandb.log`.  By default we only commit the data when the step changes.  By specifying commit, you're saying you're not going to add anymore keys to that step.

[2020-03-12 17:42] vanpelt commented on #908
We should push all logs eventually (30-60seconds).  If the logs are truly missing, that indicates the program crashed in a way we couldn't recover from.  Are you able to reproduce this behaviour?

[2020-03-12 17:48] LuposX commented on #905
@borisdayma any news? Is this a problem of `wandb `or should I report it to `PyTorch-lightning`?

[2020-03-12 18:17] Yumin-Sun-00 commented on #908
No, the program didn't crash, it just misses some lines. I was shocked first as the print is not what I desired, so I thought I probably have a bug, but then I open the local slurm log files, I see the print content is different to online. It is okay for me, not a big deal. I just want to share some noise to you :)

[2020-03-12 19:15] vanpelt commented on #905
Hey @LuposX, this is an issue with wandb on Windows.  It should work in linux.  We're currently in the process of writing a new version of the python library that works well with Windows.  My colleague @raubitsj can get you on the beta list.  In the mean time, are you able to run training in a linux docker image on your windows machine?

[2020-03-13 06:36] LuposX commented on #905
I would love to try the beta version. If it doesn't work I will wait for a Windows release. :) Thanks for the help

[2020-03-13 06:47] rahulvigneswaran commented on #911
@cvphelps I am using Windows 10 with Google Chrome. This happens in the project page -> Table -> Tree View of the Runs.

[2020-03-13 17:53] stathius opened #912 "Config gets overwritten on resume by id"
`wandb --version && python --version && uname`

* wandb, version 0.8.29
* Python 3.7.5
* Linux

### Description

I am trying to resume a run by using `wandb.init(resume='someid')` but this overwrites the config params.

[2020-03-13 18:57] vanpelt commented on #912
Hey @stathius, are you calling `wandb.config.update(...newconfig)`?  We should restore the previous values of config, and only update values that you manually set.

[2020-03-14 14:33] stathius commented on #912
No, I'm not calling anything other than wand.init(resume='id'). Isn't the expected behavior that the run keeps it's previous config values?

[2020-03-14 18:09] vanpelt commented on #912
Yep, that should be the case.  Can you share a code snippet so we can reproduce?

[2020-03-15 12:06] ninastijepovic opened #914 "wandb and conda environment, pynvml issue"
* Weights and Biases version:0.8.29
* Python version: 3.7
* Operating System: CentOS Linux 7

### Description

I am trying to login in my wandb account within my condo environment however I am getting this print error. It seems that something is wrong with pynvml?
Anu suggestions?
Thank you!

### What I Did
[code]

[2020-03-15 13:26] tryptofanik opened #915 "Writing to wandb-summary.json."
* Weights and Biases version: 0.8.29
* Python version: 3.6.9
* Operating System: Linux

### Description

I am trying to run neural network training on computational cluster. Because of some limitation I can submit my job via srun, so it is not possible to pass in web token when wandb.init is executed. So wandb outputs me:

[code]
But unfortunately after my model is created and starts training and

[2020-03-16 06:52] asanakoy commented on #473
Also find it unnecessary to log all bunch of stats. Especailly on the machines with multiple GPUs when you run a job merely on a single GPU. The web-client eatas a lot of RAM and starts to lag.

[2020-03-16 16:00] #914 closed

[2020-03-16 17:31] vanpelt commented on #915
Hey @tryptofanik What is srun?  Can you send me a link to it?  You can pass the API key using the env variable WANDB_API_KEY.

[2020-03-16 17:36] tryptofanik commented on #915
srun is a command for submitting commands to computational nodes:
https://slurm.schedmd.com/srun.html
Actually, now it is working. Maybe that was a problem with disc sync or something...

And thanks for answering second question it solves my problem anyway :)

[2020-03-16 17:36] #915 closed

[2020-03-17 10:45] drozzy commented on #586
Having the same bug just now - this is specific to multi agent training in rllib only.

The issue here is that the config contains a lambda. Your parser should probably just skip it.

The relevant part is:

[code]

See the docs here:
https://ray.readthedocs.io/en/latest/rllib-env.html#multi-agent-and-hierarchical

and search for `policy_mapping_fn`.

[2020-03-17 10:54] drozzy commented on #586
FYI: This should be fixed in next version of  PyYAML 5.1.
https://github.com/yaml/pyyaml/issues/222

You guys are using an old version 4. Seems like they have released PyYAML 5.3:
https://pypi.org/project/PyYAML/5.3/

But there were some issues with 5.1 being backward compatible. So yeah...

[2020-03-17 12:44] StephanHeijl opened #917 "Anaconda 400 error when running sweep with wandb agent"
* Weights and Biases version: 0.8.29
* Python version: Python 3.6.9
* Operating System: Linux

### Description
I tried to initialize a new sweep, this created no problems in the previous days, so I used the previous sweep configuration as a template. When running the sweep with the wandb agent command, copied directly from the sweep page, the first run finishes and syncs. After syncing the anacond

[2020-03-17 17:05] stathius commented on #912
[code]

[2020-03-17 19:59] vanpelt commented on #912
This should work if the run is launched in a new process, but there may be a bug when re-launched from the same process.  We'll try to reproduce.

[2020-03-18 00:44] bknyaz opened #919 "[slurm] wandb hangs at the end of jobs in dryrun mode"
`wandb --version && python --version && uname`

* Weights and Biases version:  0.8.21
* Python version: Python 3.6.8 :: Anaconda, Inc.
* Operating System: CentOS Linux release 7.7.1908 (Core)

### Description

I'm using wandb on the GPU cluster with slurm to run jobs.
After the script finishes, wandb prints the following:

[code]

The problem is that the slurm scheduler doesn't quit this job and o

[2020-03-18 13:10] Yumin-Sun-00 opened #920 "wandb clock has 1 hour difference"
### Description

As I understood, each run will be save inside wandb/ folder with name run-DATE-CLOCK-identifier/.

But I found that the clock is always 1 hours beyond my clock. Since my models are saved with the similar naming manner, it makes hard for me to identify my model folder-wandb folder pairs.

I think you forget the clock in europe is a bit different, here we change the clock in summer

[2020-03-18 18:47] tjiagoM commented on #800
I would like to add that I am getting a similar error but when a gradient is `NaN` (so, not just infinte):

[code]

* Weights and Biases version: version 0.8.29
* Python version: 3.7.5
* Operating System: Linux

[2020-03-18 21:22] kennazilis commented on #917
Hi Stephan,
One common reason for this is that the metric your are optimizing in your configuration YAML file is not a metric that you are logging. For example, you could be optimizing the metric f1, but logging validation_f1. Double check that you're logging the exact metric name that you're optimizing.

If that doesn't help, please let me know and we can look deeper into this.

[2020-03-18 22:35] cvphelps commented on #920
Hi @Yumin-Sun-00, thanks for your message!

Local wandb folders are meant to be temporary. The goal is to have everything sync'd to our web interface so you can use the web app or the API to get any files. The folders that are saved locally are just there in case we lose internet connection so your run data will still be saved, but you can delete the temporary folders after the run finishes syncin

[2020-03-18 22:54] cvphelps commented on #919
Thanks for reporting this! @raubitsj could you please take a look

[2020-03-18 23:29] vanpelt commented on #920
@Yumin-Sun-00 the local paths are named with UTC time and only there to provide a reasonable sort order when listing them.  There is a command `wandb gc` to remove old run caches.

[2020-03-19 07:55] StephanHeijl commented on #917
Hi @kennazilis,

That was indeed the issue, I renamed my loss in the logging code but not in the YAML file.
Making sure they conformed fixed my issue.

Thanks for your help!

[2020-03-19 07:55] #917 closed

[2020-03-19 13:17] braindotai opened #923 "wandb: ERROR W&B process (PID 18228) did not respond (in windows)"
`wandb --version && python --version && uname`

wandb, version 0.8.29
Python 3.7.5
MINGW64_NT-10.0-18363,

* Weights and Biases version: 3.7.5
* Python version: 0.8.29
* Operating System: Windows

### Description
I'm using wandb first time and I am initializing a project using `wandb.init()` in a python script.
### What I Did
I am running -
[code]
Its showing
[code]

[2020-03-19 13:21] braindotai commented on #905
@vanpelt how soon would windows version be ready(at least stable)?

[2020-03-20 03:21] TomPyonsuke opened #926 "Multiple wandb runs cause steps from different runs to be out of sync"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.30
* Python version: 3.5.2
* Operating System: Ubuntu 16.04

### Description

I was trying to create multiple wandb runs and switch back and forth between them to make the updates.

### What I Did

[code]
The expected output above should be 0, 0, 0, 1 but I am getting 0, 0, 0, 2 here. If I increase the number of the

[2020-03-20 07:36] todpole3 commented on #366
Experienced this issue w/ wandb==0.8.13 (was running seven experiments on GCP), fixed after upgrading to version 0.8.25.

[2020-03-23 12:22] itssimon commented on #881
@shawnlewis any update on this?

[2020-03-24 08:54] ayushjaiswal commented on #926
Probably related but when I resume an experiment run and wandb is initialized with resume=True, the _step value does not reflect the expected step index. In my code, I am using wandb.log({'epoch': epoch, 'metric': metric}). In the wandb message I see epoch values being uploaded correctly but the epoch value and the _step value do not match. When I try to visualize on the wandb web UI, there is a c

[2020-03-24 09:06] ayushjaiswal commented on #736
Yes, this feature would be very helpful! The parallel coordinate and parameter importance plots do not make much sense if "best" values are not used to generate them. So, it would be nice to have or be able to generate simple derived metrics like min, mean, max, etc.

[2020-03-24 14:59] dreamflasher opened #937 "Feature Request: Add option to delete local run data after finished run"
`wandb --version && python --version && uname`

wandb, version 0.8.30
Python 3.8.2
Linux

### Description

I do extensive hyperparameter search, then my hard disk runs out of space. Expected behaviour: wandb be less hd intensive/clean up old run configs.

Suggested solution:

Add on option either as ENV or in init() that deletes the local run data after upload.

[2020-03-24 15:05] dreamflasher opened #938 "Web UI: Show all runs instead of pagination"
Currently in the table view I see 10 runs and have to click page by page. This makes it hard to compare more than 10 runs, and mouse clicks are annoying. Please consider loading all runs and allowing normal scrolling (if there are too many runs you could do lazy loading).

[2020-03-24 15:16] vanpelt commented on #938
@dreamflasher You can choose to show upto 50 runs with the pagination selector:
![image](https://user-images.githubusercontent.com/17/77442628-c5940680-6da7-11ea-9b3a-9b15013e24c3.png)

[2020-03-24 15:25] dreamflasher opened #939 "Feature request: support multiple runs per parameter choice with grouping (monte carlo cross validation support)"
wandb, version 0.8.30
Python 3.8.2
Linux

### Description

When doing hyperparameter search for deep learning, individual runs tend to have some variance, that's why one usually does monte carlo cross validation (run multiple runs with the same config, and then average over the results). Please add support for having multiple runs per parameter choice within one group – and have the shown results

[2020-03-24 15:32] dreamflasher commented on #938
@vanpelt Oh wow, thank you! This feature is so hidden, it practically does not exist. This should belong in the menu bar alongside the other view options. Also could you add an option for 100 rows?

[2020-03-24 20:10] kennazilis commented on #926
Hi Tom & Ayush,
Thank you both for reporting these issues! I have added them to our internal tracker and are taking a look!

[2020-03-25 07:53] msalvaris opened #940 "Logging Unicode"
* Weights and Biases version: 0.8.30
* Python version: 3.6.8
* Operating System: Linux

### Description
My training scripts logs unicode characters to my log, different emojis.
When using weights and biases I get the following error:
requests.exceptions.HTTPError: 400 Client Error: Bad Request for url: https://api.wandb.ai/files/irobot/project/16sno1k6/file_stream

After removing the unicode chara

[2020-03-25 18:48] lukas commented on #940
No we want to support this, we will look into it.

[2020-03-25 22:33] cvphelps commented on #923
Hey there, thanks for reporting this— for anyone else who was encountering this issue, make sure you're doing `wandb login` on the command line where you're running your training script so that your machine is authenticated.

[2020-03-25 22:33] #923 closed

[2020-03-26 08:30] harpone opened #942 "TPU utilization with support for torch-xla"
Would be nice to be able to see TPU utilization on W&B.

I'm now using Google's `capture_tpu_profile` by ssh:ing to the main VM and running it there.

The output seems to be just byte strings to stdout, so it should be fairly simple to catch that.

[2020-03-26 08:37] dreamflasher opened #943 "`wandb gc` → ValueError: time data 'in' does not match format '%Y%m%d_%H%M%S'"
wandb, version 0.8.30
Python 3.8.2
Linux

[code]

Traceback:

[code]

[2020-03-27 03:50] ktobah commented on #780
Any updates on this issue because I am getting it to.
I actually can see from the docker log that my runs finish just fine, and they reach this point:

[code]
When I check the debug.log, I see the same errors as above.

[2020-03-27 05:37] sff1019 opened #945 "Filtering results using `summary.*` returns a HTTP.Error"
* Weights and Biases version: 0.8.29
* Python version: 3.7.3
* Operating System: Linux

### Description

I have been enjoying using Weight and Biases, and started using it daily!

However, I have bumped into some problems. After training a series of deep learning models, I am now trying to get one of the best results via python. Through this API (https://docs.wandb.com/library/reference/wandb_api#

[2020-03-27 06:27] sff1019 commented on #945
I might have figured this out.
Instead of specifying the summary elements as `summary.*`, we might have to use `summary_metrics.*`. This to worked out for me.
However, this is different from the API document, so it would make sense to fix it.

[2020-03-27 16:34] tumbleintoyourheart commented on #923
This doesn't help. The launch error has been like forever and it hasn't been fixed even though there are multiples issues reported on it.

[2020-03-27 17:00] vanpelt commented on #923
@tumbleintoyourheart are you seeing this in issue in Windows?  We're working hard on a new CLI to put this issue to bed for good.  Shoot me an email at vanpelt@wandb.com with any specifics about your environment and we'll see if we can come up with a quick fix.

[2020-03-27 19:18] raubitsj commented on #923
@tumbleintoyourheart
There is an early access release of a new CLI which was refactored to focus on better windows support.  If you are willing to try it out, it is available at:
https://pypi.org/project/wandb-ng/
We will have a more functional release of this code next week but we are hoping it addresses the issues you have been seeing with startup.
If you find any issues with this release (there

[2020-03-28 05:44] tumbleintoyourheart commented on #923
Thanks for such quick responses.

I know it's always a whole different story for Windows users and actually I'm facing the issue on an Azure *Ubuntu* VM. Though it's not on Windows like the title, feel free to move these to anywhere more suitable.

Reproduce steps:
* `pip install wandb`
* In Python:
[code]

What I did:
* I did ensure to `wandb login`

What I tried but did not solve the problem:
*

[2020-03-31 03:59] kojimano opened #946 "Weights and Bias is super slow with Chrome and sometimes crushes the browser"
* Weights and Biases version: 0.8.28
* Python version: 3.7 (Anaconda Distribution)
* Operating System: Linux
* Running Browser: Chrome (version: 80.0.3987.149), Safari (version: 12.0.2 (14606.3.4))

### Description
Hi it comes to my attention that Weights and Bias crushes or is extremely slow when I try to open a experiments table UI with Chrome (the version specified above) but open in a reasonab

[2020-03-31 05:21] drozzy commented on #586
This is kind of required to log from rllib for more advanced scenarios...

[2020-03-31 06:55] dreamflasher opened #947 "After nan in BO objective all agents fail with: "TypeError: '>' not supported between instances of 'float' and 'str'"
wandb, version 0.8.31
Python 3.8.2
Linux

### Description

When using `method: bayes` after some time all my agents stop with a repeated error message of `wandb: ERROR  (<Response [500]>)
wandb: ERROR Error while calling W&B API: anaconda 400 error: {"code":400,"message":"TypeError: '>' not supported between instances of 'float' and 'str'"
}`.

After further investigation I am fairly confident tha

[2020-03-31 07:09] dreamflasher opened #948 "Store layout across sweeps per project"
wandb, version 0.8.31
Python 3.8.2
Linux

### Description

As a user I can customize which columns are shown (and in which order) in the sweep view.
But this configuration is not saved between individual sweeps.
By now in my project there are hundreds of columns shown by default, from all previous runs, out of which I need maybe 10. I don't want to select these columns at every new sweep.
I don't

[2020-03-31 07:19] dreamflasher opened #949 "wandb init ignoring project parameter"
wandb, version 0.8.31
Python 3.8.2
Linux

### Description

When I initialize a project with `wandb.init(project=wandb_project)` I expect the project to be `wandb_project`.
Instead it is `path-to-script`.
This changed in one of the recent versions. Now the only way for me to have the correct project is to run wandb init in all directories in which I have scripts, which is unfeasible.
The project pa

[2020-03-31 14:12] alsuhr-c commented on #946
I'm in the same boat as @kojimano , the UI seems to be responding slowly in the last few days, with varying speeds in Chrome, Safari, and Firefox. My chrome version is the same, the Firefox is 72.0.2 (64-bit) (Firefox was not too slow last night, but this morning very slow). I mostly use the "graph view" summarizing  multiple experiments, and the UI is responding slowly to, e.g., hovering over are

[2020-03-31 15:29] shawnlewis commented on #946
For people experiencing this, can you please try the "disable hardware acceleration" in the Chrome settings?

[2020-03-31 18:41] kojimano commented on #946
Works great to me! Thanks!

[2020-03-31 23:26] alsuhr-c commented on #946
It was working well for me after disabling hardware acceleration, but I came back to my computer after 1 hour and now my workspace is not loading at all in any browsers. After a few minutes of the dashboard loading (spinning circle) I get a "context deadline exceeded -- an application error occurred" box.

[2020-03-31 23:48] cvphelps commented on #949
Hi there, thanks for your message. I'm trying to reproduce your issue, and wandb.init(project="project-name") is working for me.

Here's the project page: https://app.wandb.ai/carey/dream-flasher-test?workspace=user-carey
Here's the google colab: https://colab.research.google.com/drive/1LceLkfVjZDPUNbxcBJuSRe1ANIodUAdZ

Do you think you could help me reproduce your issue?

[2020-04-01 03:47] vwxyzjn opened #950 "Wandb Tensorboard logging takes 300-400% more time"
`wandb --version && python --version && uname`

[code]

### Description

Hope you guys are having a good day.

I am using wandb to manage my reinforcement learning experiments through Tensorboard. It is a brilliant tool, but it's slowing the program down significantly. In the `What I Did section`, I experimented with a script running for 861 episodes, so the following code is called for 861 times.

[2020-04-01 04:09] vwxyzjn commented on #950
However, on another machine with AMD CPU and Manjaro Arch Linux, wandb doesn't add much overhead at all. See https://app.wandb.ai/cleanrl/cleanRL/runs/c3bqqji1/overview?workspace=user-costa-huang

[2020-04-01 04:26] vwxyzjn commented on #950
I did a profile between those two following machines (let's call the first one Manjaro and second one Ubuntu)
[code]

[code]

When running the script on Manjaro, the profile shows no overhead for the tensorboard writer
[code]

But the profile on the Ubuntu machine shows significant overhead from wandb-patched tensorboard writer

[code]

[2020-04-01 05:12] vwxyzjn commented on #950
Further investigation suggests it was something like `os.fsync(f.fileno())` that's slowing things down significantly. Maybe because the Ubuntu machine has a slow disk?
[code]

[2020-04-01 05:45] vwxyzjn commented on #950
Ok, interestingly, moving the script under the `/dev/shm` folder significantly speed up the program. There is no overhead anymore.

[code]

[2020-04-01 12:55] #946 closed

[2020-04-01 16:31] vanpelt commented on #950
Hey @vwxyzjn by default our integration buffers updates to disk before streaming them to the cloud.  We're working on a total overhaul of our library found [here](https://github.com/wandb/client-ng).  I'm not sure the next generation currently supports tensorboard syncing, @raubitsj can chime in.  The current version, the only way to reduce flushing to disk with tensorboard is setting rate_limit_s

[2020-04-01 17:59] kennazilis commented on #948
Hello! That is a great feature request. I've added it to our internal ticket tracker and shared it with the rest of the team.

Thank you for the suggestion!

[2020-04-01 18:22] cvphelps commented on #948
Hi Marcel, it sounds like you're opening the sweep workspace for each individual sweep, which gives you a separate layout. If you'd like to see the same set of columns and graphs but with different sweeps, I'd recommend using the project page and using the filter in the sidebar to switch between different sweeps.

[2020-04-01 18:24] cvphelps commented on #937
Thanks Marcel, this is a good feature request.

[2020-04-02 02:17] richardyy1188 opened #951 "[Help] I can't finish any runs if my program is stiil running (even for none-wandb-related things)."
* Weights and Biases version: 0.8.31
* Python version:  3.6.9
* Operating System: Linux

### Description

When I run many runs sequentially, I can see on the website that state of past runs keeps showing `running`, runtime keeps increasing too, and only when my program is stopped runs will show `finished`.

- Is that mean I am running many many runs simultaneously during the running of my program

[2020-04-02 03:19] vwxyzjn commented on #950
Hi, the share memory approach works great for me actually. The execution time went from 5 days (https://app.wandb.ai/cleanrl/cleanrl.ddpg.noise/runs/3xrbmmwb?workspace=user-costa-huang) to
7 hours (https://app.wandb.ai/cleanrl/cleanrl.benchmark/runs/mxt28qkd)

The idea is to move the code to `/dev/shm` and run everything from there. Looking forward to a more direct fix.

[2020-04-02 03:19] #950 closed

[2020-04-02 03:57] braindotai commented on #923
@tumbleintoyourheart just quick sanity check, make sure you are logging by pasting your api (wandb login <your api key>). I was logging in without my api key and that's when I got that error logs, after correctly logging everything is working as expected.

[2020-04-02 17:58] borisdayma opened #952 "Cannot log a slice as config parameter"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.31
* Python version: 3.8.1
* Operating System: Linux

### Description

I cannot log a slice as config parameter.

### What I Did

[code]

Error

[code]

[2020-04-03 23:11] adrnswanberg commented on #947
This should be fixed as of 2 days ago. Please re-open if you see this error agian.

[2020-04-03 23:11] #947 closed

[2020-04-07 00:21] itssimon commented on #881
While the official Altair support is still in development, are you guys able to guide me on how to use the existing Vega feature? I can't find anything in the docs.

[2020-04-07 10:44] dreamflasher opened #954 "Make views sharable by passing GET url parameters"
### Description

I'd like to be able to share views (eg. a table of runs) with colleagues. These tables are configured by filters, group and sorting. It would be great if you pass filters, gouping and sorting as url get parameters, so that one can easily share such a URL and others will have that same view.

[2020-04-07 12:13] dreamflasher opened #955 "RuntimeError: range of [nan, nan] is not finite"
`wandb --version && python --version && uname`

wandb, version 0.8.31
Python 3.8.2
Linux

### Description

When running sweeps, for several runs I get this error:

[code]

There are plenty of runs in the same sweep where there's no error at all and everything runs smoothly. It also does not occur consistently for certain configurations.

[2020-04-07 15:26] Pavlov228 opened #956 "AttributeError: Can't get attribute 'train' on <module '__main__' (built-in)>"
`wandb --version && python --version && uname`

* Weights and Biases version: wandb, version 0.8.31
* Python version: Python 3.6.7
* Operating System: Windows 10

### Description

Running tutorial example fails. Link to the tutorial:
https://colab.research.google.com/drive/181GCGp36_75C2zm7WLxr9U2QjMXXoibt

### What I Did

Running tutorial example fails. Link to the tutorial:
https://colab.researc

[2020-04-07 17:32] raubitsj commented on #949
There are a few reasons why this might be happening:
1) you are running a sweep (we ignore wandb.init() specified project because it needs to be in the same project as the sweep, use the sweep command line or yaml to specify your project)
2) you set an environment variable WANDB_PROJECT
3) you configured your work directory with a project using `wandb init` command line (if you didnt want this, yo

[2020-04-07 20:03] vanpelt commented on #956
Hey @Pavlov228 this is due to the `train` function not being defined.  Did you run the cell that defined `train` before calling `wandb.agent`?

[2020-04-07 23:19] lisadunlap opened #957 "Experiment wont log unless wandb.init called every time you log"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.31
* Python version: 3.6
* Operating System: Mac

### Description

I am running some hyper parameter tuning experiments with a run for each configuration. I also have a run which tracks some experiment level metrics of how each configuration compares to others etc. However, when I try to log the experiment level metr

[2020-04-07 23:41] vanpelt commented on #957
Hey @lisadunlap, you should only call wandb.init once per python process.  Also, the id must be different for each experiment.  You should only use the same id if you're resuming a previous experiment.

By specifying `commit=False` this means the data will not be logged to W&B until the process finishes or another call to log occurs.

Calling wandb.log will flush metrics to disk so if there are lo

[2020-04-08 01:08] lisadunlap commented on #957
No dice :( TrialExecutor is a class that handles the execution of trials, which are different hyper parameter configurations.
[debug.log](https://github.com/wandb/client/files/4447672/debug.log)

[2020-04-08 01:37] vanpelt commented on #957
I believe what's happening is you're not calling wandb.init in the same process that is actually doing the training.  I would try printing `os.pid` in different places in the code to see what's going on.  You need to call `wandb.init` in the same python process as the one calling wandb.log.  Perhaps you could instrument whatever is returned from `get_trainable_cls`.

[2020-04-08 09:03] Pavlov228 commented on #956
@vanpelt This is a really good question, good engineering approach. I definitely ran the cell with `train` function, and `globals()['train']` returns me `<function __main__.train()>`. I hope it is a correct way of checking. Though its a function, not attribute as `pickle` expects.

[2020-04-08 19:10] chrisdonahue opened #958 "Timeout error"
`wandb --version && python --version && uname`

* Weights and Biases version: `0.8.31`
* Python version: `3.7.3
* Operating System: `Linux`

### Description

Running a bunch of jobs where some of them proceed as normal and some of them display `ValueError: 'timeout' must be a non-negative number` which appears to crash the entire job.

The relevant line of code is [here](https://github.com/wandb/c

[2020-04-08 20:08] vanpelt commented on #956
Hey @Pavlov228 can you share your colab notebook with vanpelt@wandb.com so I can reproduce?

[2020-04-08 20:14] vanpelt commented on #956
Actually, @Pavlov228 I was able to run the notebook and got an error with the tensorflow version.  Which can be fixed by using the colab magic `%tensorflow_version 1.x` before importing tensorflow.

[2020-04-08 21:36] bkkaggle opened #959 "Allow `wandb pull` with the experiment name instead of only with run_id"
### Description

Hi,

Right now, if you want to download saved files with the cli you have to do something like
[code]
It would be nice to be able to use the shortcut name (e.g. vibrant-eon-807) so you don't have to look up the run_id which is only visible in the URL (https://app.wandb.ai/[username]/[project_name]/runs/[run_id]/overview).

Something like this would be a lot more user-friendly:
[co

[2020-04-08 22:44] raubitsj commented on #958
Thanks, we have some fixes for this problem that we are working on deploying in an upcoming release.   We will update this issue when we can give a more precise schedule and close it when it is released

[2020-04-09 02:21] lisadunlap commented on #957
Thank you for the quick reply! I printed out the process ids and they do match in the places where I call init and where I call log. One thing that I forgot to mention though is that I commonly get these two errors:
`ERROR Error while calling W&B API: Error 1213: Deadlock found when trying to get lock; try restarting transaction (<Response [500]>)`
and
`requests.exceptions.HTTPError: 400 Client Er

[2020-04-09 07:40] dreamflasher commented on #949
@raubitsj Thank you!

This behaviour seems to be new. I am indeed running a sweep (1), and this used to work. I tried to look up in your documentation on how to configure the project in the yaml, but there is no info on that: https://docs.wandb.com/sweeps/configuration

Would you be so kind as to update the documentation/explain here how to do this?

[2020-04-10 16:54] rohitgr7 opened #960 "Why login is required in offline mode?"
* Weights and Biases version: 0.8.31
* Python version: 3.6.6
* Operating System: Linux

### Description

I need to run wandb in offline mode on Kaggle kernels with no internet access. But whenever I run `wandb.init()` it asks for login key. Why would I need to login in offline mode? I just want the log files. Even if I put a key, it requires the internet to authenticate which is not possible with

[2020-04-10 18:06] vanpelt commented on #960
You can call `wandb.login(key=“X”*40)` or set the WANDB_API_KEY env variable to a 40 character string.  We'll implement a fix to not assert auth when in jupyter / dryrun mode.  You should also specify your username with the `entity` keyword in `wandb.init`, i.e. `wandb.init(entity="my_username", project="my_project")`