[2020-07-27 22:41] vanpelt commented on #1175
That error is really strange.  The save method for the run object is [here](https://github.com/wandb/client/blob/master/wandb/wandb_run.py#L411).  There is no `path` argument to the `save` method.  I think you're using one of the release candidate builds for the new client library.  Try running `pip install wandb-ng`, then `pip install wandb==0.9.4`.

[2020-07-27 23:46] niloch commented on #1175
Wow that was it! Both these errors, were my fault!  So my setup.py had `wandb>=0.9.4` and my Pipfile had `allow_prereleases = true` to install black and it installed a release candidate 0.10.0rc1.

Everything works now!  Thanks for the help!

[2020-07-27 23:49] sullivancolin commented on #1175
Wow that did it!  Both errors were my fault.  I had setup.py with `wandb>=0.9.4` and my Pipfile with `allow_prereleases = true` which installed the release candidate.

Everything works great now.  Thank you for all the help.

[2020-07-27 23:49] #1175 closed

[2020-07-28 14:35] vwxyzjn opened #1177 "Display Launch Command in The Dashboard"
### Description

Currently the launch command is private even though the project is public, as shown below.

<img width="1792" alt="image" src="https://user-images.githubusercontent.com/5555347/88679925-f53c7d80-d0bd-11ea-9a1e-63d00db608b9.png">

But sometimes showing the launch command is actually crucial to help others reproduce the results. I was wondering if it is possible to have the options

[2020-07-28 15:43] yukw777 commented on #1173
@vanpelt I've tried two combinations: (pl==0.8.5, wandb==0.9.4) and (pl==0.8.5, wandb==0.10.0rc1) both without setting `save_dir`, `log_model` or `name` (basically all the default values for `WandbLogger`). I only see the error I posted above with `0.10.0rc1`, which suggests to me that the behavior has changed on the wandb side. I think it's b/c `wandb.init()` no longer generates a project name au

[2020-07-28 15:45] yukw777 commented on #1173
I just tried again with (pl==0.8.5, wandb==0.10.0rc1) (this time I manually set the name parameter to get around the error I posted above), and the issue still persists.

[2020-07-28 16:17] yukw777 commented on #1173
Alright, upon further investigation, this is what I've found:

1. The SIGINT handling issue is indeed fixed in 0.10.0rc1!
1. `run.project_name()` always returns `None` on 0.10.0rc1. On 0.9.4 and 0.9.3, it was autogenerated if not set.

[2020-07-28 19:32] vanpelt commented on #1173
Thanks for this analysis!  We'll fix the project_name issue ASAP.

[2020-07-28 21:21] cvphelps commented on #1177
Hi there, this is a good suggestion thanks Costa. I'll see if we can fix this soon.

[2020-07-28 21:22] #1168 closed

[2020-07-28 21:23] #1162 closed

[2020-07-29 13:05] numpee opened #1178 "Segmentation mask logging issue in wandb.Image"
`wandb --version && python --version && uname`
Wandb version: 0.9.2
Python version: 3.5.2
OS: Linux

* Weights and Biases version: 0.9.2
* Python version: 3.5.2
* Operating System: Linux

### Description

There is a bug in the segmentation mask logging code. Specifically, [here](https://github.com/wandb/client/blob/master/wandb/data_types.py#L1264).
The code is supposed to validate whether mask is

[2020-07-29 13:23] pierreelliott opened #1179 "Metric present but marked as <null> (Parallel Coordinates)"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.4
* Python version: 3.6.9
* Operating System: Linux (Ubuntu 18.04.2)

### Description

Eventhough I have values for my `accuracy` metric (the graph is not empty), the **Parallel Coordinates** graph doesn't show the final value (all runs are marked as `<null>`).
![image](https://user-images.githubusercontent.com/16095

[2020-07-29 15:10] tyomhak commented on #1178
Hey there! Thank you very much for reporting, and a special thanks for pointing out the problematic line!

[2020-07-29 15:49] tyomhak commented on #1179
Hey there, trying to figure this out. Could you share the link to the project? If you want to you could send it to my mail: artyom@wandb.com

[2020-07-29 16:14] pierreelliott commented on #1179
Link sent!

[2020-07-29 18:07] garrettbingham opened #1180 "Artifacts: use_artifact throws graphql error"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.4
* Python version: 3.7.6
* Operating System: Linux

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

I've produced an artifact from a training run using run.log_artifact().  I see the artifact in the web interface and I am able to m

[2020-07-29 20:26] raubitsj commented on #1173
run.project_name() is fixed in 0.10.0rc2

Install update with:
pip install --upgrade --pre wandb

[2020-07-30 02:49] cvphelps commented on #1180
Hi Garrett, thanks for reporting this. @annirudh could you take a look?

[2020-07-30 05:30] annirudh commented on #1180
Hi Garrett,

Thanks for reporting this issue! Really sorry for the trouble. I can confirm this is an issue in v0.9.4 and I have a patch with a fix. We will get this in the next CLI release.

In the meantime, you can run `wandb init` from your shell and specifying which team and project you want to use. Your scripts should work from that point on.

[2020-07-30 16:58] tyomhak commented on #1179
Honestly so far I'm not successful in recreating this issue— could you share some code to reproduce this?

[2020-08-01 14:52] tyomhak commented on #1179
That would be great!

[2020-08-01 15:40] syorami commented on #805
Sorry for the late reply. I'm now not using the latest version but 0.9.18 and it works fine.

[2020-08-03 02:31] noklam commented on #862
Will this be fixed soon?

[2020-08-03 03:30] noklam commented on #862
[code]

This issue seems to make this snippet fail on Windows too

[2020-08-03 12:15] toosyou opened #1184 "Passing a numpy array with a single value to wandb.config will convert it to a string"
* Weights and Biases version: 0.9.4
* Python version: 3.6.9
* Operating System: Linux

### Description

I was trying to pass a numpy array with a single value to `wandb.config`,
and was surprised that it's automatically converted to a `str`.
However, I am not quite sure whether it's a bug or not, feel free to close this if it's intentional.

### What I Did

[code]
will output:
[code]

[2020-08-03 14:37] tyomhak commented on #1179
Hey @pierreelliott , do the names of your metrics contain special characters like / or .  ?

[2020-08-03 16:07] vanpelt commented on #862
We're working on improvements to the windows experiments in our next generation CLI:  https://github.com/wandb/client-ng  You can try the next generation by running `pip install -U --pre wandb`.  We're still pushing improvements actively and it's not quit feature parity with the official version.  @noklam let us know if you're still seeing issue with the new cli.

[2020-08-03 22:32] #1178 closed

[2020-08-04 10:35] pierreelliott commented on #1179
Hi @tyomhak , there are some (which should come from Tensorboard), like `train/keras` or `train/global_step`.

I've finally written a smaller version that you can find in [this gist](https://gist.github.com/pierreelliott/64a261ff382ea0b5994615e53c7156eb), however I can't reproduce my problem.
My real code is mostly like this and the `accuracy` metric is correctly logged as `0` for most steps excep

[2020-08-04 13:12] avi-jit commented on #1138
I'm sorry, is there a fix/workaround for this? @vanpelt 's unittest.mock didn't work for me :/

[2020-08-04 14:37] tcapelle commented on #1153
Me 2

[2020-08-04 14:46] FordUniver opened #1185 "Network error (ReadTimeout), entering retry loop during sweep"
* Weights and Biases version: 0.9.1
* Python version: 3.7.7
* Operating System: MacOS X / Debian

### Description

I started a wandb sweep grid search and I am getting a lot of `Network error (ReadTimeout), entering retry loop.` from various kinds of machines within different kind of networks (i.e. this happens both at home on my laptop and on larger remote computers). Sometimes runs get through a

[2020-08-04 16:59] vanpelt commented on #1138
@avi-jit what error are you seeing when you attempt to use MagicMock?

[2020-08-05 05:41] avi-jit commented on #1138
The same: [Errno 29] Illegal seek

Here's the traceback:
[code]

Note that this fails when I call trainer.fit() but doesn't fail if I merely instantiate a wandb_logger, or even a Trainer with the wandb_logger.

[2020-08-05 06:21] vanpelt commented on #1138
Can you share where / how you're setting `wandb.run` to MagicMock and what version of wandb you're using?

[2020-08-05 06:38] avi-jit commented on #1138
Wandb version is 0.9.4. Here's the minimal code to get the error:
[code]
The same works when I do this outside of pytest.

[2020-08-05 08:54] ydcjeff opened #1186 "AttributeError: partially initialized module 'wandb' has no attribute 'Api' (most likely due to a circular import)"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.4
* Python version: 3.8
* Operating System: Ubuntu

### Description

`wandb` has no attribute `Api` when trying to run on my laptop and github actions.

Error message on local (macOS 10.15.6): `AttributeError: module 'wandb' has no attribute 'Api'`

Error message on github actions: `AttributeError: partially initiali

[2020-08-05 09:09] tyomhak commented on #1186
Thank you for reporting! Looking into this.

[2020-08-05 11:58] tyomhak commented on #1186
hey @ydcjeff can you please rename the file from wandb.py to something else, and make sure there is no file named wandb.py in the directory, and try running the code again?

[2020-08-05 12:11] ydcjeff commented on #1186
@tyomhak It's working
Really sorry for the inconvenience 🙏

[2020-08-05 12:11] #1186 closed

[2020-08-05 15:51] vanpelt commented on #1138
It's so odd this isn't working.  One thing to try would be to set `wandb_logger._experiment = MagicMock()` in your test_minimal.  The other option is to install our next generation client with `pip install wandb -U --pre` and set `os.environ["WANDB_MODE"] = "noop"` in your test.

[2020-08-05 16:05] karenc3 commented on #673
Hi,

I'm still getting the error. I've included my username in the `wandb.init()` call. Please find the error displayed on the command line below(I've replaced my username).

[code]

In the code I'm just trying to build a classification model and a regression model and log the metrics and plot the classifier/regressor.

[2020-08-05 16:14] karenc3 commented on #673
Hi,

I'm still getting the error. I've included the username and also successfully executed the  `wandb login` command from the command line. I'm running the code on windows.

[code]

In the code I'm trying to run a regression model and a classification model and log the model and metric for both of them.

[2020-08-05 20:52] tyomhak commented on #1184
Hi, thanks for reporting.
@vanpelt do we support passing lists to config?

[2020-08-05 20:53] tyomhak commented on #1185
Hi there, thanks for reporting! We're looking into this. In the meantime could  you please try updating to the latest wandb version, and checking if the issue persists?

[2020-08-06 08:06] noklam commented on #557
I hit the same issue with wandb==0.9.2 and wandb==0.9.4, tried run as admin as well.

[2020-08-06 09:10] avi-jit commented on #1138
This worked, thanks!

[2020-08-06 11:48] raubitsj commented on #557
Please do not use `wandb run` any more (This command will likely be removed in future releases)

Example python:
[code]

Then run with:
`python train.py`

[2020-08-06 12:17] noklam commented on #557
ops sorry, I came in this issue as I hit the os.symbolic link issue on Window.

in my case, it is due to wandb.save()

[2020-08-06 14:53] tyomhak commented on #1179
Thank you very much!

[2020-08-07 19:57] karanpathak opened #1188 "Error getting url of the run"
* Weights and Biases version: 0.9.4
* Python version: 3.8.3
* Operating System: Windows 10

### Description

I wanted to get the url of the current run

### What I Did

I called the `get_url` function of the current run.

### Traceback

File "D:\KP\anaconda3\envs\torchenv\lib\site-packages\wandb\wandb_run.py", line 670, in get_url
    self._load_entity(api, network)
  File "D:\KP\anaconda3\envs\to

[2020-08-07 22:48] cvphelps commented on #1188
Hi @karanpathak thanks for reporting. @raubitsj could you take a look

[2020-08-09 06:35] jjkindergarten commented on #202
hi, i met the same issue. do you know how to solve it?

thanks!

[2020-08-10 09:37] tom-andersson commented on #1159
Thanks for the responses guys and sorry for the delay.

It wouldn't be useful for me to share my whole script due to custom code, but I can share the relevant opening lines below (imports included in case someone can spot a potential package issue).

I'm now also finding that attempting to overwrite default hyperparam values using command line entries has no effect. Is this expected behaviour? I t

[2020-08-11 10:20] Kimonili opened #1190 "ModuleNotFoundError in wandb hyperparameter tuning using sweep"
* Weights and Biases version: 0.9.4
* Python version: 3.8.5
* Operating System: Windows

### Description

I am trying to do hyperparameter tuning for a reinforcement learning project. I use sweep for that, I created a yalm file as suggested in the website and everything seemed to work as expected. (an ID was created, I can see the dashboard of the hyperparams etc).

Although it seems that there is

[2020-08-11 16:58] vanpelt commented on #1190
Hey Kimonili, this is likely due to the agent using the wrong python on your system.  By default we call `/usr/bin/env python`  You can override the `command` section of your sweep config to use the appropriate python: https://docs.wandb.com/sweeps/configuration#command

[2020-08-11 17:44] Kimonili commented on #1190
I specified the appropriate python to use but I keep getting the same error. I think that there is something wrong with the environments.

I have installed all the packages needed to a virtual environment exclusively and not "globally" in my machine. Might that be the case that I need to specify the virtual environment in which the libraries used in the script are installed? Although I run the com

[2020-08-11 18:00] vanpelt commented on #1190
Sometimes the virtual env does weird things to the shell environment that might not get picked up by sub procs.  The sure fire way to get this working is to explicitly set the path to the virtual environments python.  There may be some other tricks we could use to better handle venvs so I'm going to keep this ticket open.  Let me know if you're still stuck.

[2020-08-11 20:44] cvphelps commented on #1188
Hi @karanpathak it sounds like this might be a Windows issue. Would you be up for trying our new RC for the updated version of our client library? You can try installing it with the command `pip install wandb --upgrade --pre`

[2020-08-12 01:10] fgvbrt opened #1192 "Create wandb run with run name that was previously deleted"
`wandb --version && python --version && uname`

* Weights and Biases version: version  0.8.31 (I also had same issue on 0.9.4)
* Python version: 3.7.3
* Operating System: Linux

### Description
I deleted one run in wandb web interface.
Then I tried to create new run with the same name as deleted run, but I got error (see below).
I often find useful to experiment with wandb logging before using it

[2020-08-12 05:14] aiyolo commented on #1192
I have the same issue, wish it can be enhanced.

[2020-08-12 08:41] pascal-hwky commented on #1160
Hi @tyomhak, do you have any update on this issue? Were you able to reproduce it?

[2020-08-12 09:07] Kimonili commented on #1190
By that you mean I should set the path of my python interpreter in the pycharm project that I am working on? Something like this:

`command:`
  `- ${env}`
  `- C:\Users\PycharmProjects\myproject\venv\Scripts\python.exe`
  `- ${program}`
  `- ${args}`

I have already specified program and args in the yalm file. Should I set something to ` ${env}` as well?

[2020-08-12 12:49] tyomhak commented on #1192
Hi there! I'm checking this issue out, will keep you updated!

[2020-08-12 12:55] tyomhak commented on #1192
Can you please update your wandb version, and try again?
I just deleted a run, and successfully made a new one with an identical name.
Although wandb does not support re-using unique IDs, wandb supports having multiple runs with the same name, so this should not be an issue either.

[2020-08-12 13:02] tyomhak commented on #1185
Hey @FordUniver , are you still experiencing this issue?

[2020-08-12 13:30] FordUniver commented on #1185
@tyomhak Hey, yes I am still experiencing it even with the updated version of wandb. It is very unpredictable though though, so for some sweeps it occurs a lot and for others barely.

[2020-08-12 15:12] vanpelt commented on #1190
Yep, that should work.  You don't need `env` in this case.

[2020-08-12 17:45] kushalj001 commented on #943
Is there a fix for this?

[2020-08-12 18:54] raubitsj commented on #943
I am working on this now.  We are making it easier to set preferences on how much data to keep around so you don't have to remember to run `wandb gc`.

[2020-08-12 20:55] vanpelt commented on #943
The fix for now would be to run `ls wandb` and manually removing any folders that don't match the pattern `run-%Y%m%d_%H%M%S` pattern.  Can you share any folders that stand out?

[2020-08-13 03:13] maria-korosteleva opened #1193 "artifacts do not clean .cache after upload"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.4
* Python version: 3.6.10
* Operating System: Win 10

### Description

Artifacts upload in wandb runs doesn't seem to clean up cache files after itself properly.

As I work with my ML experiments, the `C:\Users\<Username>\.cache\wandb\artifacts`  folder grows up to the point that it exhausts all the free space on my

[2020-08-13 07:42] noklam opened #1194 "Artifact Issue"
wandb --version == 0.9.3

* Weights and Biases version:
* Python version:
* Operating System:

### Description
Artifact.add_file(path)

path does not support pathlib.Path() object, currently need to manually use str(path).
![image](https://user-images.githubusercontent.com/18221871/90107591-a0665b80-dd7b-11ea-99b3-0f54679f5619.png)

[2020-08-13 10:14] tyomhak commented on #1040
Hey @saswatac  can you send us the log file from this run?

[2020-08-13 14:03] tyomhak commented on #1193
Thanks for reporting! @annirudh  can you please take a look?

[2020-08-13 14:04] tyomhak commented on #1194
Hi, thanks for reporting! @annirudh  can you please take a look at this?

[2020-08-14 17:55] ajay340 opened #1197 "Agent hang up on sweep"
* Weights and Biases version: 0.9.4
* Python version: Python 3.7.7
* Operating System: Ubuntu 18.04.4 LTS

### Description

Sweeping parameters hangs up and does not throw any errors or traceback.

### What I Did
In my Jupyter notebook
[code]
[code]
The sweep is then created the agent says it started running, however, it does not actually run and hangs up. No metrics are recorded on the web interf

[2020-08-14 22:20] shawnlewis commented on #1193
You're right, the artifacts cache grows forever right now. You can feel free to remove the folder at any time. Artifacts will redownload files it needs.

We'll work on smarter cache management strategies over the next few months.

[2020-08-14 22:32] shawnlewis commented on #1192
Hi, are you setting WANDB_RUN_ID? Do you need to do that? We suggest you use WANDB_NAME instead, to set the display name.

[2020-08-14 23:05] jramapuram commented on #1192
Just to clarify: doesn't the ID need to match to support resuming?

[2020-08-14 23:19] jramapuram opened #1198 "Images not POST-ing but exist locally for Wandb local"
wandb, version 0.9.4 (running the local version)
Python 3.7.8
Linux

debug.log: https://gist.github.com/jramapuram/d2feb0bb57321c29a0038db289f77e5b

### Description

Images are not posting to remote server, but exist locally.

- Scalars appear fine, but images do not.
- The images are appropriately specified with the channel dimension in the correct place.  - The images exist on (local) disk do no

[2020-08-14 23:48] fgvbrt commented on #1192
Hey, I am using WANDB_RUN_ID, the reason for this is to support resuming and I think I didn't use WANDB_NAME to avoid additional code complexity.  I will try WANDB_NAME and manage resuming separately

[2020-08-15 14:07] jramapuram commented on #1198
Ok I resolved this, I had to update the Frontend Host to match my `/etc/hosts` name for the local machine.
![image](https://user-images.githubusercontent.com/8204807/90314094-6202a500-df11-11ea-84cf-56bed9bfb9bb.png)

[2020-08-15 14:07] #1198 closed

[2020-08-16 02:44] jramapuram opened #1199 "Deleted project / deleted run does not delete local files"
wandb, version 0.9.4
Python 3.7.8
Linux

(running docker local version)

### Description

After deleting everything from the frontend there are still files present in the minio directory:

<img width="1282" alt="image" src="https://user-images.githubusercontent.com/8204807/90325356-e4737f00-df7a-11ea-88e1-72e48aa5ff43.png">

<img width="370" alt="image" src="https://user-images.githubusercontent.c

[2020-08-16 04:57] THSWind commented on #580
Hello,
     Could you tell me if the problem has been solved?

[2020-08-16 17:08] jramapuram opened #1200 "Inconsistent image display with WandB frontend"
wandb, version 0.9.4
Python 3.7.8
Linux

### Description

When uploading media from many different runs with different iterations / sec images are inconsistent.
Images are only shown with a browser refresh.

### What I Did

  - Have many runs going simultaneously with different iters/run.
  - Goto project page.
  - Images don't show up.
  - Set slider to first or second step --> no images shown.

[2020-08-16 17:12] jramapuram opened #1201 "[Feature Request] Ability to tie images to graph x-axis"
### Description

Currently the slider for images is decoupled from the x-axis for graphs.
It would be great to just slide over the graphs and get the corresponding images to update as well.

[2020-08-16 17:33] lukas commented on #1201
That's a great suggestion, I'll take a look if this is possible.

[2020-08-17 04:46] maria-korosteleva commented on #1193
@shawnlewis thank you for the workaround tip!

[2020-08-17 12:16] jramapuram commented on #1200
To add on to this, from a different run it looks like the files are present on the server:
![image](https://user-images.githubusercontent.com/8204807/90394990-f8f76a80-e093-11ea-9240-adbfbd2230eb.png)
but not all are present in the web artifacts UI:
![image](https://user-images.githubusercontent.com/8204807/90395042-13314880-e094-11ea-9a90-717ae15f7729.png)

There seems to be a disparity between r

[2020-08-17 16:27] vanpelt commented on #1200
@jramapuram there may have been a persistence issue with our queueing logic.  For production deploys, we configure an external bucket and a persistent queue implementation.  In the trial version of wandb/local we run Redis to queue file events and if the instance gets shutdown before all files are processed they will not be present in the UI.  Let's confirm you're actually missing file records.  F

[2020-08-17 16:33] jramapuram commented on #1200
Hi @vanpelt ,

So looks like the files did finally appear, but took quite a while to properly propagate:

[code]

![image](https://user-images.githubusercontent.com/8204807/90420260-01619c80-e0b8-11ea-8d56-635ddb835e9f.png)

Is this to be expected? With Visdom I see results instantly propagated.

[2020-08-17 16:37] vanpelt commented on #1200
They should be showing up within seconds unless the instance is overloaded or under provisioned.  Can you check the system load inside the docker container next time you're running runs?  How much RAM / CPU does the instance have?  The suggested minimum is 4 CPU's and 8GB of RAM.

[2020-08-17 16:41] jramapuram commented on #1200
I'm currently running it on a 12core system with 80Gb of RAM and the file-system is backed with a Raid-0 SSD. `htop` reveals no major CPU / RAM usage issues.
![image](https://user-images.githubusercontent.com/8204807/90420991-08d57580-e0b9-11ea-8528-afa14b47147e.png)

[2020-08-17 16:54] vanpelt commented on #1200
How many images are you logging per second in the run?  Within the instance we can see them getting processed in the log: `/var/log/gorilla-filemeta.log`.  The python process asks our api for an upload url, then uploads the file to the Minio instance running in the VM.  Minio then sends an event to a redis queue and the gorilla-filemeta process consumes events from this queue and writes them to th

[2020-08-17 17:03] jramapuram commented on #1200
I tried running around 8 experiments simultaneously with each logging around 12 images per 10-20s. I wouldn't expect that to saturate the network or disk IO.

The logs you requested ( I didn't see anything obviously wrong there; I didn't a log-rotate version of these logs either ) :
https://gist.githubusercontent.com/jramapuram/fb081343b32ef993e0074af619098fcd/raw/775847ff969ecee49f602d84c414b99da

[2020-08-17 17:14] andrecavalcante commented on #580
Hi, I am now using the client wandb-ng on windows. For this client, there is no problem. However I don't know if the original "wandb" client still breaks on windows when using Pytorch.

[2020-08-17 18:26] jramapuram opened #1204 "Logging metrics at different rates drops metrics / has inconsistent results."
wandb, version 0.9.4
Python 3.7.8
Linux

### Description

As far as I can tell it is not possible to log metrics at different rates. My use case is as follows (but I'm sure you can contrive of a simpler use case):

- Generate metrics at every epoch
- At every  `% K` epochs request an async calculation of a time consuming metric (eg: Frechet Inception Distance such as here: https://github.com/jrama

[2020-08-17 18:35] vanpelt commented on #1200
Strange.  If you can send a simple script the reproduces the issue we can debug on our end and see what's going on.

[2020-08-17 19:56] vanpelt commented on #580
@THSWind you can get the latest RC by running `pip install wandb -U --pre`

[2020-08-17 19:58] vanpelt commented on #1204
The argument you pass to `step` must always increase.  If you have other steps you want to use a x-axis to plot metrics against you can add them to the dictionary.  I.E. `wandb.log({"acc": 1, "batch": 120})`.  This will enable you to choose a custom x-axis in the ui and plot "acc" against "batch" as an x-axis instead of the default "step".

[2020-08-17 20:19] jramapuram commented on #1200
I'll try to setup a minimal reproducible sample when I get some time and post back here.

[2020-08-17 20:24] jramapuram commented on #1204
@vanpelt : thanks, seems like a reasonable workaround. Is it possible to join two plots with this though? ie:

- plot1: (x, y)
- plot2: (x2, y2)

Ideally you want to be able to join on x here (especially in most ML cases where the step is either batch or epoch). In the FID case above the x-axis on both plots is the same (epoch), but it is just not possible to post to the FID graph at a later time

[2020-08-17 20:36] lukas commented on #1204
Yes - our system is designed to make this work

[2020-08-17 20:37] jramapuram commented on #1204
Ok then, closing this, thanks!

[2020-08-17 20:44] ajay340 commented on #1197
I switched from my cpu architecture to using gpus and switch back but it still hasn't solved this issue.

If anyone else having this issue?

[2020-08-17 20:51] ajay340 commented on #1197
Retried notebook without making difference and it seems to work. Perhaps the api endpoint was down?

[2020-08-17 20:51] #1197 closed

[2020-08-17 21:43] ajay340 commented on #1197
Reopening because the issue because it is still recurring. When I run my notebook sometimes wandb records the model's metrics and other times it hangs up.

[2020-08-17 23:04] jramapuram commented on #1204
I tested this solution but it doesnt work as expected. My async callback is:

[code]

This results in:

[code]

However even with `epoch` set as the x-axis the plot generated later does not update to the correct epoch and instead reflects the step it was posted at (~step 54 above):
<img width="1514" alt="image" src="https://user-images.githubusercontent.com/8204807/90452341-338df100-e0ee-11ea-8473

[2020-08-18 11:29] Kimonili opened #1206 "Selected runs are not logging media for the key: score per update, but instead are logging type"
* Weights and Biases version: 0.9.5
* Python version:  3.8.5
* Operating System: Windows 10

### Description

I was trying to log some values using `wandb.log()` but got one of the windows of my logs said this instead as shown in the attached file.
![error](https://user-images.githubusercontent.com/59944048/90507212-30cae480-e15e-11ea-8080-5c9abb2a71ee.png)
The other logs seems to work fine except

[2020-08-18 14:48] Tachionstrahl commented on #939
Hi, any updates? I'm also interested in having the possibility to group multiple runs (one per k in k-fold cross validation) in Sweeps.

[2020-08-18 15:21] ajay340 opened #1207 "Logging Precision Recall Multiclass Labeling issue"
* Weights and Biases version: 0.9.5
* Python version: 3.7.7
* Operating System: Ubuntu

### Description

My multiclass classification model produces a matrix with 3 columns to which it I put three items as its labels. However, when I try to log the model's precision and recall I receive an error saying the labels are mismatched.

### What I Did

[code]

and I receive this traceback

[code]

[2020-08-18 16:58] vanpelt commented on #1204
Hey @jramapuram can you share a link to the run in question and the specific metric you're looking at?

[2020-08-18 17:02] vanpelt commented on #1206
Can you try calling `np.mean(total_score_per_update).item()`, I think it's logging an array of values.

[2020-08-18 17:14] jramapuram commented on #1204
http://neuralnetworkart.com:8080/jramapuram/kpp3d_devbox/runs/3v7ef099/overview?workspace=user-jramapuram

[2020-08-18 17:27] vanpelt commented on #1207
Hey @ajay340 you're specifying 3 labels but your y_probas only has two.  Changing it to `wandb.log({'pr': wandb.plots.precision_recall(y_test, y_probas, labels=["label1", "label2"])})` should work.

[2020-08-18 17:43] ajay340 commented on #1207
Here is what my y_test looks like:
[code]
and here is what my y_probas looks like:
[code]
Both of them have 3 columns yet its saying there is a mismatch

[2020-08-18 18:19] ajay340 commented on #1207
@vanpelt Also just tried switching to two labels and I am getting the same issue with the same traceback.

[2020-08-18 18:36] ajay340 commented on #1207
@vanpelt Here is a full example of this error happening:

[code]

[2020-08-18 21:33] vanpelt commented on #1204
Hey @jramapuram I took a look at the raw data using the api with the following commands:

[code]

This returns:

[code]

It looks like your code isn't actually calling `wandb.log` with train_fid before epoch 54.

[2020-08-18 22:19] jramapuram commented on #1204
Hey @vanpelt ,

Thanks for looking into this; your time is appreciated! I added even more logging to check if it is on my side and I don't believe it is. Here is the dict recorded at each call:

[code]

The data written into the internal database seems incorrect, so querying it will produce the results you see.  But I guess this eliminates the issue being on the frontend.

Here is the run with mor

[2020-08-18 22:37] jramapuram commented on #1204
Here is a simplified example example that seems to not work as expected:

[code]

Here is the [result](http://neuralnetworkart.com:8080/jramapuram/async_tests/runs/ksd9xt59?workspace=user-jramapuram)

The `async_metric` should only exist between epoch 0 and 10, and the normal_metric between to 30, however async metric seems to extend all the way to 20:
![image](https://user-images.githubuserconten

[2020-08-19 08:27] THSWind commented on #580
@vanpelt  okay, I'll try it, thank you very much

[2020-08-19 08:59] Kimonili commented on #1206
I did that, but still the same message occurs. I do not know if it is helpful, but `type(np.mean(total_score_per_update).item())` returns float, so probably the type of the logged variable is not the cause of the problem.

Might this happen because `np.mean(total_score_per_update)` is calculated outiside the nested for loop (for every `update`), although the `score` (for every `self.step`) is appe

[2020-08-19 12:49] tyomhak commented on #1199
hey @jramapuram , thanks for reporting. Checking on this with the engineering team.

[2020-08-19 16:02] dniku opened #1208 ""CommError, Whoa, you found a bug." when uploading files to misconfigured wandb local"
* Weights and Biases version: 0.9.5
* Python version: 3.7.8
* Operating System: Linux

### Description

I am trying to set up `wandb local`. I entered the machine's address on the admin page (in the format `http://<ip>:8080`), but now due to network topology I am trying to log to that instance using an `ssh` tunnel: the machine where I am running training code has its local port 8080 forwarded to

[2020-08-19 16:48] tyomhak commented on #1199
Hey @jramapuram , this is in fact intentional to support undeleting of runs. We'll have support for actual deletion in upcoming weeks.

[2020-08-19 17:20] vanpelt commented on #1206
Can you send me a link to a run where this is happening?

[2020-08-19 18:03] vanpelt commented on #1197
Hey @ajay340 This is likely due to your notebook attaching to the gpu before you run the sweep.  PyTorch / Tensorflow don't play nice with GPU's and multiprocessing.  If you move all of your imports into your train function this will work.  See: https://docs.wandb.com/sweeps/python-api#wandb-agent

[2020-08-19 20:41] vanpelt commented on #1208
Thanks @dniku we're working on a new SDK release with better error messages.  Should be out in a couple weeks.  The local hostname issue is something we're tracking and hope to address soon as well.  I'll keep this ticket open and update once we've addressed both issues.

[2020-08-20 08:10] jd730 opened #1210 "Segmentation Fault with the newest opencv-python (4.4.0.42)"
`wandb --version && python --version && uname`

* wandb, version 0.9.5
* Python 3.7.0
* Linux

### Description

Segmentation Fault with the newest opencv-python (4.4.0.42)

### What I Did

![image](https://user-images.githubusercontent.com/9247850/90733379-6bbc4c00-e307-11ea-82d4-dc414949d2bb.png)

When I downgrade `opencv-python` to `4.3.0.36`, it worked well.

[2020-08-20 08:58] tyomhak commented on #1210
Hey @jd730 , I can't reproduce this. Can you please share a simple script to reproduce this error?

[2020-08-20 09:27] jd730 commented on #1210
Hi @tyomhak, I even got an error from just below command.
[code]

[2020-08-20 10:52] tyomhak commented on #1210
I tested this code in Ubuntu, Mac Catalina and Win10, and it worked everywhere. Can you please try reinstalling both opencv and wandb, and see if that fixes the issue?

[2020-08-20 10:52] tyomhak commented on #1210
@vanpelt do you know what could have caused this error?

[2020-08-20 11:02] tyomhak commented on #1194
@shawnlewis do I file a request ticket for this or is this a bug?

[2020-08-20 11:04] tyomhak commented on #1157
Hey @Michael-Tanzer , this should be fixed now. Please let us know if it reoccurs for you.

[2020-08-20 11:47] jd730 commented on #1210
I tested on my mac with new conda env and it worked but when I tested on my Linux server (AWS) with a new conda env, the error still occurred.

Specifically, there are below package is installed a new env on Linux

[code]
and the `opencv_python` is from `opencv_python-4.4.0.42-cp37-cp37m-manylinux2014_x86_64.whl`

The environment install is used by below script:

[code]

[2020-08-20 17:04] Kimonili commented on #1206
Yes sure! Here you go: https://app.wandb.ai/k_ili/multiagent-particle-envs/runs/3thu4nzq?workspace=user-k_ili

[2020-08-20 18:00] #1157 closed

[2020-08-20 20:13] vanpelt commented on #1206
Hey @Kimonili, it looks like originally that chart got added as a "Media Panel" likely because it was logging an array.  You can reset your workspace (by clicking this [link](https://app.wandb.ai/k_ili/multiagent-particle-envs/runs/3thu4nzq?workspace=empty)) which will pickup the "score per update" chart, or manually add a new chart and choose "score per update" as the y-axis.

[2020-08-21 00:12] lavanyashukla commented on #1207
Hi Ajay,

PR curves are usually used to analyze results from binary classification problems.

In order to extend it to a multi-class problem, please binarize the output first. You can read more about how to do so in the [scikit docs](https://scikit-learn.org/stable/auto_examples/model_selection/plot_precision_recall.html).

Let me know if have more questions!

[2020-08-21 11:18] LordOfLuck opened #1211 "Logging histgram does not work"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.4
* Python version: 3.6.9
* Operating System: Ubuntu

### Description

I am trying to log a histogram into wandb. The run appears on wandb, but the histogram is not there.
Other stuff such as scalars or Images is logged properly. What is wrong?

### What I Did
`
import wandb
import numpy as np

wandb.init(entity="MyE

[2020-08-22 22:11] UTUnex opened #1212 "Using Wandb Sweep with Skorch Failed: Need Guide"
### Description

I tried to use wandb sweep to tune the hyperparameters in skorch and perform the visulization but I didn't get any result.

### What I Did
My code is :
[code]
### Problem:
This code didn't display anything to wandb.

### Please help me on:
1. This is my first time to combine wandb and skorch and I do have no experience, please help check where the problem is in my code;
2. I guess

[2020-08-23 23:20] raubitsj commented on #1212
Hello, i tried to reproduce any issue and used your code exactly as you put it into the bug and I ran it (on a mac):

The W&B sweep url
https://app.wandb.ai/jeffr/bug_1212/sweeps/b4u5e8nf

And an excerpt from running the script:

<img width="903" alt="Screen Shot 2020-08-23 at 4 14 19 PM" src="https://user-images.githubusercontent.com/1832511/90991202-3e1c1080-e55c-11ea-917a-3e28cccf5db7.png">

If

[2020-08-24 02:31] yukw777 commented on #1173
@raubitsj Thanks! I'll file an issue on the github.com/wandb/client-ng side. I was wondering where the RCs were being tagged haha

[2020-08-24 09:38] UTUnex commented on #1212
Thank you for your reply and now I can add more information:
### More information
wandb version:  0.9.5
system: windows10 64 bit
platform: Jupter notebook embedded in vscode

### Problem
After run this code :''wandb.agent(sweep_id,train)''
it displayed wandb: ''Agent Starting Run: yl5esssz with config:
	max_epochs: 10''
and keeps running but no more updates after that..
The notebook just displayed

[2020-08-24 13:46] LordOfLuck commented on #1211
Hi, updating to version 0.9.5 solved the issue. Thanks :)

[2020-08-24 13:46] #1211 closed

[2020-08-24 14:57] UTUnex commented on #1212
Can you offer an detailed example for wandb_sweep using in scikit learn? I didn't find any example in your github. As skorch has a sklearn API format, so I think a sklearn example will help.

[2020-08-24 16:42] rebekah-west commented on #821
This would be very helpful!

[2020-08-24 17:28] Tachionstrahl commented on #939
Thank you for putting these examples together! Looking forward to the more integrated solution.

[2020-08-25 19:13] cvphelps commented on #821
Hi folks, we have a new beta feature for custom visualizations that will support these histograms, would you please message me at carey@wandb.com so I can help you try it out and get your feedback

[2020-08-26 05:13] surya-narayanan commented on #642
Similar errors,
wandb: ERROR Error while calling W&B API: anaconda 400 error: {"code":400,"message":"TypeError: '>' not supported between instances of 'list' and 'float'"}

and

Error while calling W&B API: anaconda 400 error: {"code":400,"message":"TypeError: must be real number, not list"}

I realized my "validation_loss" metric was a list, not a float. However, the message highlights "TypeError

[2020-08-26 05:13] surya-narayanan commented on #642
Similar errors,
wandb: ERROR Error while calling W&B API: anaconda 400 error: {"code":400,"message":"TypeError: '>' not supported between instances of 'list' and 'float'"}

and

Error while calling W&B API: anaconda 400 error: {"code":400,"message":"TypeError: must be real number, not list"}

I realized my "validation_loss" metric was a list, not a float. However, the message highlights "TypeError

[2020-08-26 05:13] surya-narayanan commented on #642
Similar errors,
wandb: ERROR Error while calling W&B API: anaconda 400 error: {"code":400,"message":"TypeError: '>' not supported between instances of 'list' and 'float'"}

and

Error while calling W&B API: anaconda 400 error: {"code":400,"message":"TypeError: must be real number, not list"}

I realized my "validation_loss" metric was a list, not a float. However, the message highlights "TypeError

[2020-08-26 14:05] jh-yi opened #1213 "How to delete locally saved files"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.5
* Python version:3.7.6
* Operating System: Ubuntu 18.04

### Description

It seems that locally saved files and synchronized files in the cloud are separated, right? Deleting a run in W&B Dashboard will not automatically delete its corresponding local files and vice versa. And the command "$ wandb gc" only shows "n

[2020-08-26 15:01] raubitsj commented on #1213
@jh-yi we are working on tools to help you manage your local files.. We do have an option to specify how your directories are named.  I will update this bug when the feature is available in a release candidate.

[2020-08-26 15:59] DMells opened #1214 "WandB incorrectly recognising transformers import as PyTorch (should be dynamic to PT or TF)"
* Weights and Biases version: 0.9.5
* Python version: 3.6
* Operating System: MacOS

### Description
Using colab, I was trying to run a sweep on a tf.keras model, the embeddings for which were created using huggingface's transformers tokenizer.

However, on import of transformers, WandB by default assumes you want to run a PyTorch model (checked by calling `wandb.config.as_dict()`, and so when run

[2020-08-26 16:35] raubitsj commented on #1214
FYI: the _wandb structure in the config dictionary is just for internal telemetry and no actions of the script or library should be taken based on its values.   We use a very simple heuristic right now to determine framework and will be enhancing it soon to better reflect the "primary" framework used, rather than just what modules are loaded.

I am not sure about the behavior in the huggingface in

[2020-08-26 16:58] jh-yi commented on #1213
Thanks a lot for your quick reply.

Btw, I also wonder if we can move one run from A project to B project?

[2020-08-26 17:48] vanpelt commented on #1214
@borisdayma any ideas on what might be happening here?

[2020-08-26 18:36] DMells commented on #1214
@raubitsj thanks that would explain why when trying to manually amend the config dictionary 'framework' value there was no effect.

[2020-08-27 02:40] borisdayma commented on #1214
`transformers` detects the presence of `wandb` and will automatically logs runs if you use `Trainer` or `TfTrainer`.

You can disable this functionality with `os.environ['WANDB_DISABLED']="true"` (which should be suggested to you in the print output). This will desactivate it only for `transformers`.

@raubitsj @vanpelt The issue may be related to the `transformers` library automatically calling `

[2020-08-28 04:57] alexmirrington opened #1216 "Web client artifact file view error: 'Cannot query field "defaultCloudRegion" on type "ServerInfo"'"
* Weights and Biases version: 0.9.5
* Python version: 3.8.5
* Operating System: Arch Linux
* Kernel: 5.8.3-arch1-1

### Description

Artifact is accessible via `wandb.Artifact.download()` but trying to view files tab in the browser yields the following error:

![20200828-144623](https://user-images.githubusercontent.com/34053287/91522447-975db880-e93d-11ea-8834-a0b596084dec.png)

### What I Did

A

[2020-08-28 05:02] cvphelps commented on #1216
Hi, thanks for letting us know. @annirudh could you take a look

[2020-08-28 08:48] jramapuram commented on #844
I see a similar error with images:

[code]

[2020-08-28 08:54] jramapuram commented on #1208
I also ran into this error, but for a different reason: the storage on the server had been exhausted.

[2020-08-28 16:37] annirudh commented on #1216
Apologies for the inconvenience. This issue was caused by an out of order deploy. It should be resolved now.

[2020-08-28 16:38] #1216 closed

[2020-08-28 20:58] cgebbe commented on #454
Thanks @umgupta . For me, I could simply downgrade graphql-core to 2.0 even after wandb was already installed.

[2020-08-28 22:10] vanpelt commented on #844
Hey guys, can you try our new client library.  We're about a week away from official release, but the errors you're seeing should be fixed.  You can install with: `pip install wandb -U --pre`

[2020-08-28 22:18] cgebbe opened #1219 "wandb local - endless "change password" loop"
wandb, version 0.9.4 (installed via conda)
Python 3.7.7
Linux

### Description

- Setup wandb according to quickstart
- wandb local
- Opened http://localhost:8080/home
- The screen pops up with "Change Password: Enter a new password for the account associated with local@wandb.com"
- I enter a password
- The same "Change Password" screen appears again...

### What I Did

- I can actually just ignor

[2020-08-28 22:19] cvphelps commented on #1213
Sure, you can move them in the UI: https://docs.wandb.com/app/features/sidebar#move-runs-between-projects

[2020-08-28 22:54] cvphelps commented on #1219
Thanks for reporting this, adding to our eng backlog to examine further

[2020-08-29 00:12] vanpelt commented on #1219
Hey @cgebbe when the instance boots we prompt you to create an admin account.  I think the issue is you've created an admin account with the email `local@wandb.com` which is a reserved name.  The easiest fix would be to create a new admin account and remove the `local@wandb.com` from the user management UI.  It would be easiest for me to hop on a screenshare to fix with you.  Can you email at vanp

[2020-08-29 16:51] #1063 closed

[2020-08-30 09:07] JiayuMaoReal opened #1220 "Error uploading 'xxxx.xx' : CommError, Whoa, you found a bug. ——Data can be uploaded successfully but files can not."
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.6
* Python version: 3.7.3
* Operating System: linux

### Description
use my computer as a server
use another computer with wandb as normal, wandb.log works but code cannot be saved and there is one error for one file to be uploaded.
wandb: ERROR Error uploading "config.yaml": CommError, Whoa, you found a bug.
wandb:

[2020-08-30 20:16] jh-yi commented on #1213
Thanks!

[2020-08-30 20:16] #1213 closed

[2020-08-30 21:01] vanpelt commented on #1220
Hey @JiayuMaoReal it looks like you're running `wandb/local` and we're unable to upload files to the server.  Can you share the `wandb/debug.log` file as well as the version of `wandb/local` you're using?

[2020-08-31 12:24] cgebbe commented on #1219
Hi @vanpelt , sorry for the late reply. I believe I simply left the email empty at the beginning, so your guessed cause seems very likely. I'll check this evening and report back if I can't fix it myself.

[2020-08-31 14:21] HansPinckaers commented on #1016
I have never seen this again, closing this issue now.

[2020-08-31 14:21] #1016 closed

[2020-08-31 14:31] aclifton314 opened #1221 "Setting proxy to run wandb sync"
## System Info
wandb: 0.9.6
python: 3.7.6
OS: Pop!_OS 20.04 LTS

## Description
I am trying to run `wandb` behind a proxy and I was wondering how to set the proxy for `wandb`. I added the following to my `bashrc` file:
[code]

but I still get the following error while running `wandb sync`:
[code]

I tried entering those `export` explicitly into the command line and still got the same error.

[2020-08-31 14:43] aclifton314 opened #1222 "Viewing wandb offline"
## System Info
wandb: 0.9.6
python: 3.7.6
OS: Pop!_OS 20.04 LTS

## Question
I trained a model offline and set `WANDB_MODE="dryrun"`. Is it possible to view the results of what `wandb` records after training without needing an internet connection?

[2020-08-31 16:24] vanpelt commented on #1221
@aclifton314 we'll use the HTTPS_PROXY variable.  The error your getting is the machine was unable to verify the SSL certificate returned from your proxy.  If you can share one of the stack traces in `wandb/debug.log` we can see the specific SSL issue.

[2020-08-31 16:25] vanpelt commented on #1222
You can run a wandb server locally: https://docs.wandb.com/self-hosted/local  This would allow you to sync dryrun jobs to this local instance instead of over the internet.

[2020-08-31 16:35] aclifton314 commented on #1221
@vanpelt Sure no problem. Here you go:
[code]

[2020-08-31 16:42] aclifton314 commented on #1222
@vanpelt I get the following error:
[code]

[2020-08-31 16:43] aclifton314 commented on #1222
I went to the wandb directory that was created when I trained the model and ran `wandb local`. Just to give some more context.

[2020-08-31 17:05] vanpelt commented on #1222
You need to either run this as root, or configure your machine to allow non-root users to launch docker instances: https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user

[2020-08-31 17:11] vanpelt commented on #1221
Yep, this means that whatever SSL certificate you're proxy is returning can't be verified.  You could try setting the HTTPS_PROXY to just regular http, i.e. `HTTPS_PROXY=http://my_proxy.com:port`, or you can override the CA certificate bundle we use to include the certificate being returned from the proxy with: `export REQUESTS_CA_BUNDLE=/etc/ssl/certs/my-custom-certificates.crt`

[2020-08-31 19:50] aclifton314 commented on #1221
Is there a way to set ssl verify to false? It looks like my nominal environment variable is set to the only cert file I have:
[code]

[2020-08-31 19:53] aclifton314 commented on #1222
Looks like I'm getting weird docker proxy issues. I'll work on getting those sorted out and come back to this issue.

[2020-08-31 23:05] vanpelt commented on #1221
There's a thread here, we don't support it explicitly because it's really insecure.  Your api key will be transmitted over the internet which exposes you to a man in the middle attack.  We use the python `requests` library under the hood, so you could use the patch mentioned here to do it: https://stackoverflow.com/questions/15445981/how-do-i-disable-the-security-certificate-check-in-python-reques

[2020-09-01 00:42] aclifton314 commented on #1221
@vanpelt thanks for your response. I'll check out the link and close this for now.

[2020-09-01 00:42] #1221 closed

[2020-09-01 00:46] aclifton314 commented on #1222
I think ultimately my issue is stemming from docker since `wandb local` gives:
[code]

but also ` docker run hello-world` gives:
[code]
I know this is more of a docker issue and not a wandb issue, but if anyone has any recommendations I could try I would appreciate it very much. Otherwise, I'll close out this issue while I resolve the docker errors.

[2020-09-01 05:43] maria-korosteleva opened #1223 "Web-UI: List of run output artifacts cannot display >500 elements"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.5
* Python version: 3.6.10
* Operating System: Win10
* Browser: Google Chrome v.84.0.4147.135

### Description

I use artifacts to track the checkpoint files (the artifact version is updated on every epoch) and for some other run-related info. When the number of epochs goes above 500, I run into troubles:

on the "Ou

[2020-09-01 07:14] cvphelps commented on #1223
Hi Maria, thanks for your message. I've emailed you — let's get on a quick call to talk about how you're using artifacts

[2020-09-01 12:31] crystina-z opened #1224 "OSError: out of pty devices"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.6
* Python version: Python 3.6.3
* Operating System: Linux

### Description
A simple `wandb_init` call would yield the following error on slurm while it's fine locally
[code]
Traceback (most recent call last):
  File "etx/run.py", line 113, in <module>
    main()
  File "etx/run.py", line 94, in main
    wandb, run =

[2020-09-01 17:48] vanpelt commented on #1224
This should fixed in the new version of our library.  We're planning to officially release it at the end of this week.  You can try it now with `pip install wandb -U --pre`.  Let us know if you're still seeing this issue with this library.

[2020-09-01 18:04] vanpelt commented on #1222
Hey @aclifton314 this is the same error regarding the SSL verification through the proxy.  Can you share some more information about the proxy you're using?  We should be able to configure the system to have the proxies certificate in it's authentication chain.

[2020-09-01 18:19] aclifton314 commented on #1222
@vanpelt I might be able to. It's the proxy that my company uses. I'm not sure what information I would be able to provide, but we can always try!

[2020-09-01 19:35] vanpelt commented on #1222
In that case, I would ask someone in your company about how to add the certificate being served from your proxy to your local certificate authority.

[2020-09-01 20:11] onoderat commented on #1081
Are there any updates on this issue? Does the "running" status create performance issues, and is there a temporary hack to induce say the "crash" status instead?

PS: Thanks for creating this wonderful software!

[2020-09-01 20:53] raubitsj commented on #1081
FYI: This is fixed in our pre-release (soon to be released) version:
`%pip install --upgrade --pre wandb`

[2020-09-01 20:56] raubitsj commented on #1081
The preferred syntax for the loop would be:
[code]

or:
[code]

[2020-09-01 21:03] ktobah commented on #1160
Any updates on this issue? I have it with tensorflow 2.3.0 too.

[2020-09-01 21:19] onoderat commented on #1081
@raubitsj Thanks a tonne for the update - just confirmed that it is working.

[2020-09-01 23:12] vanpelt commented on #1160
Apologies for the delay.  The issue is being caused by `sys.path` issue messing up our ability to import tensorboard.  We've fixed this in our latest library.  You can install it with `pip install wandb -U --pre`.  I've verified this works in the example docker image provided.

[2020-09-02 06:46] Qnlp commented on #539
@aclifton314 @borisdayma @vanpelt hi，
How can I solve this problem as follows?  The installed wandb can not be used normally, and other different versions of wandb have been tried. I also have try 0.9.5 version or oldest version and I have search in stackoverflow and baidu search engine.

`  File "finetune.py", line 399, in <module>
    main(args)
  File "finetune.py", line 373, in main
    logger

[2020-09-02 09:11] crystina-z commented on #1224
yes i think this one works, thx!

[2020-09-02 14:55] jh-yi opened #1226 "How to check my storage"
### Description

Hi, I know that for personal account there is a limitation of 200GB data storage. Then where can I check my used/available memory and memory of each run. Besides, is it possible to delete e.g. media/ or checkpoint under "Files" on dashboard?

Thanks a lot in advance!

[2020-09-02 17:51] vanpelt commented on #539
Hey @Qnlp this is really strange.  Can you print what `experiment.config` is after you've initialized the WandbLogger?  A quick thing to try is our prerelease library.  You can install with `pip install wandb -U --pre`.

[2020-09-02 17:52] vanpelt commented on #1226
Hey @jh-yi we're actively working on this.  We'll update this ticket once it's been released.

[2020-09-02 18:07] jh-yi commented on #1226
Thanks for your quick reply. I also found it would be nice to delete some columns in "Table" instead of hiding them, as sometimes I stored all the args in the beginning but later on some of them turned out to be useless (especially when I log all the args from different implementations, and when I want to recover a column among too many hidden columns). Anyways thanks a lot for this powerful tool.

[2020-09-02 18:08] jh-yi commented on #1226
@vanpelt Thanks for your quick reply. I also found it would be nice to delete some columns in "Table" instead of hiding them, as sometimes I stored all the args in the beginning but later on some of them turned out to be useless (especially when I log all the args from different implementations, and when I want to recover a column among too many hidden columns). Anyways thanks a lot for this power

[2020-09-02 18:08] #1226 closed

[2020-09-03 05:48] Shubhamai opened #1227 "TypeError: cannot pickle '_thread.lock' object"
* Weights and Biases version: 0.9.6
* Python version: Python 3.8.3
* Operating System: Windows 10

### Description

I am trying to run sweeps in `Tensorflow 2.3.0` and `Keras 2.4.0`, here  is my complete code

# Code
[code]

### What I Did

But when running `wandb.agent(sweep_id, train)` i am getting this error

[code]

[2020-09-03 07:02] cvphelps commented on #1227
Hi there, thanks for reporting this sweeps issue. Could you please try this same thing with our new version of the client library by installing:
```pip install wandb --upgrade --pre```

[2020-09-03 07:20] Shubhamai commented on #1227
Hi @cvphelps , thanks for reply 🙂. Just tried that, now my wandb version is showing `0.10.0rc5` but i still got the same error

[2020-09-03 09:07] JiayuMaoReal commented on #1220
"2020-09-03 16:56:01,520 DEBUG   MainThread:32210 [wandb_config.py:_load_defaults():154] no defaults not found in config-defaults.yaml
2020-09-03 16:56:01,547 DEBUG   MainThread:32210 [git_repo.py:repo():30] git repository is invalid
2020-09-03 16:56:01,555 DEBUG   MainThread:32210 [run_manager.py:__init__():547] Initialized sync for 1_10_4_FULL_latest_data_upload____test/28jwqfcq
2020-09-03 16:56

[2020-09-03 10:21] Shubhamai commented on #1227
Also @cvphelps , that i was running the whole code in a local jupyter notebook, and in the terminal, i got this error

[code]

[2020-09-04 00:47] Qnlp commented on #539
@vanpelt thank you for your tips, I have try your command `pip install wandb -U --pre`, and runing, I have a trouble as follows, which means I need connect internet during training ?
`
Network error (SSLError), entering retry loop. See TODO_refactor.txt for full traceback.
wandb: Network error (SSLError), entering retry loop. See TODO_refactor.txt for full traceback.
wandb: (1) Create a W&B accoun

[2020-09-04 06:33] maria-korosteleva opened #1228 "Artifacts: Run outputting many versions causes page to hang and then crash"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.5
* Python version: 3.6.10
* Operating System: Win10
* Browser: Google Chrome v.85.0.4183.83

### Description

For some of my runs, the artifacts page refuses to load. It hangs and eventually crashes with memory error e.g.
https://app.wandb.ai/maria_korosteleva/Garments-Reconstruction/runs/veeany7a/artifacts?workspac

[2020-09-04 06:34] cvphelps commented on #1228
Hi Maria, thanks for filing this. @annirudh could you take a look

[2020-09-04 06:36] cvphelps commented on #1228
@maria-korosteleva thanks for sharing a link to a page that is working correctly. Could you please share a link to a page that crashes?

[2020-09-04 06:51] maria-korosteleva commented on #1228
@cvphelps, the very first link is the one with the problem. Does it open correctly for you?

[2020-09-04 07:58] annirudh commented on #1228
Hi @maria-korosteleva, thanks for the detailed bug report! I have a fix for the issue that we'll deploy ASAP. Once the fix is live, I'll circle back with you here.

[2020-09-04 18:46] annirudh commented on #1228
@maria-korosteleva The issue should be fixed now. Sorry for any inconvenience this caused!

[2020-09-04 18:46] #1228 closed

[2020-09-05 14:14] honnibal opened #1229 "Allow setting executable via environment variable"
Hey :)

In `_init_headless` there are some comments about using `sys.executable` to execute the subprocess: https://github.com/wandb/client/blob/master/wandb/__init__.py#L305 . It's extremely difficult to cover all the edge-cases with virtualenvs etc, and in fact `sys.executable` isn't always entirely correct.

The particular edge-case I'm hitting is that I containerise my experiments as executabl

[2020-09-06 06:47] #1224 closed

[2020-09-06 11:18] pacifictoy commented on #454
For those using conda, pls check this URL for graphql-core version 2.x
https://anaconda.org/conda-forge/graphql-core
For me, I had to use this one:
conda install -c conda-forge/label/cf201901 graphql-core

So I uninstall the one that came when I install wandb by doing 'conda remove graphql-core'
then I had to re-install wandb, and it still uses ver 2.x and it worked

[2020-09-07 11:39] alessandroscoppio commented on #1210
I am also getting a segmentation fault error, but without openCV. I am using many different libraries for my project and I can't really figure out which one is in conflict, I just realized that removing wandb related code (init, watch, save) solved the segmentation fault error and allows me to train again.

Interestingly, on a gcp compute instance with the same packages installed the error does no

[2020-09-08 11:23] karanpathak commented on #1188
Thanks @cvphelps . I will try it out and post the outcome.

[2020-09-08 15:56] vanpelt commented on #1210
@alessandroscoppio can you provide a stack trace of what you're seeing when it seg faults?  Can you also try our prerelease library by running `pip install -U -pre wandb`?

[2020-09-08 20:21] cvphelps commented on #1223
Hi Maria! @annirudh and @laxels helped fix this issue, and it should be resolved in production. Could you please take a look?

[2020-09-08 21:46] cvphelps commented on #1229
Hi there, this is a good feature request for the client. We've added it to the backlog.

[2020-09-08 23:25] jramapuram commented on #1200
I just had this happen with just 1 running experiment in local mode.
![image](https://user-images.githubusercontent.com/8204807/92536617-6c773c80-f23a-11ea-8148-bd8bdf5ddb24.png)

[code]

[2020-09-09 01:30] maria-korosteleva commented on #1223
It's working like a charm, I can see all of the outputs now =)
Thank you all very much!

[2020-09-09 01:30] #1223 closed

[2020-09-09 09:18] alessandroscoppio commented on #1210
The only output line is:
`[1]    11764 segmentation fault (core dumped)  python3 train.py configs/config.yaml
`
After installing prerelease library ( wandb-0.10.0rc6 ) I have the same trace, looks like what changes is just the PID.

`[1]    12236 segmentation fault (core dumped)  python3 train.py configs/config.yaml
`
The libraries used in my project are the ones you can expect from a Deep Learnin

[2020-09-11 06:34] varun19299 opened #1233 "Support OmegaConf configs"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.6
* Python version: 3.8
* Operating System: MacOS Catalina

### Description

Can [OmegaConf](https://omegaconf.readthedocs.io/en/latest/#) objects be supported in addition to dictionaries?

Presently, OmegaConf configs donot get unrolled (or unpacked?) properly.

<img width="726" alt="image" src="https://user-images.

[2020-09-11 09:21] adambielski commented on #943
@raubitsj For me the problem is cause by this line:
https://github.com/wandb/client/blob/63f3d7806669d2dd8d459134c2f88d6e341a797e/wandb/cli.py#L927
[code]
The date is searched for by spliting the path using '-' sign and taking the second element; however, my project path has '-' sign in it, e.g. ~/project/my-name-of-the-project/ , it searches for the data in "name"

Changing the line to:
[code]
ma

[2020-09-11 15:45] huyvnphan commented on #473
Any updates on this ?

[2020-09-11 16:33] leopd opened #1234 "Hyperband stopping criterion too permissive with noisy metrics"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.7
* Python version: 3.7.9
* Operating System: Ubuntu 18.04LTS

### Description

Running a sweep using Hyperband (HB) early stopping criterion.  The metric I use to evaluate model quality is somewhat noisy.  The current hyperband stopping criterion considers the run's minimum (best) [(code)](https://github.com/wandb/c

[2020-09-11 21:06] raubitsj commented on #473
We just released an update that has a way to turn off system metrics (but it isn't fully supported yet -- the full fix will be out in the next week or so)

To use the experimental feature make sure you are on wandb==0.10.0
[code]

In later versions we will rename this flag and give you more ways to configure this as a default

[2020-09-11 22:15] cvphelps commented on #1234
Hi there, thanks for the feedback on the hyperband implementation! We based it on the original hyperband paper — if you have any ideas on what we could improve here to make our algorithm more robust to noisy metrics, definitely interested in making this better for you :)

[2020-09-11 22:23] cvphelps commented on #1233
Hi there, this is an interesting feature request thank you for filing

[2020-09-11 22:29] #475 closed

[2020-09-12 01:20] leopd commented on #1234
That [original paper](https://arxiv.org/abs/1603.06560) is a monster, weighing in at 33 pages before appendices and references.  It's long on proofs and short on practicalities.  So I certainly sympathize with anybody trying to build software based on it -- it is far from a model for clarity, even though the key ideas they propose are brilliant in their simplicity.  Given that wandb exposes the id

[2020-09-12 06:38] kaixin96 commented on #452
In some cases, collecting logs from each worker is pretty useful. For example, when training RL agents, wandb allows collecting metrics from each actor and learner. So users do not need to write code for retrieving metrics from remotes to the chief worker. Also, actor-specific metrics can stay on remotes, avoiding communication cost.

[2020-09-13 17:59] raubitsj commented on #452
@kaixin96 We just released a new library that *will* soon be much easier to support parallel runs (distributed training) much better

We will update this bug when the parallel runs are implemented,tested, and documented.

[2020-09-14 09:36] dHonerkamp commented on #912
I'm seeing something similar since I've updated to version 10.0:

[code]

leads to `run.config == {}` and 'wandb.config == {}` instead of using the restored config.

It seemed to work fine on version 9.8. Any idea what changed? (I experimented with the id and resume arguments, but can't seem to find any combination that works)

[2020-09-14 11:10] JunhaoWang opened #1236 "ERROR: Abnormal program exit"
`wandb --0.10.0 && python --3.6.12`

* Weights and Biases version: 0.10.0
* Python version: 3.6
* Operating System: Linux Ubuntu 18.06

### Description

Cannot run wandb.init()

### What I Did

[code]

[2020-09-14 14:32] leopd commented on #1234
Sorry - I realize a mistake I made in the original bug report.  I shouldn't have referred to human judgement, because that implies that the algorithm is doing something silly that an expert wouldn't - this isn't the problem.  The algorithm as implemented is objectively incorrect.

At its core, the problem is that it's making an unfair comparison - a single metric vs the min of a series of metrics.

[2020-09-14 16:34] aclifton314 commented on #1222
I got `wandb local` (and `docker run hello-world`) working through the company proxy. Thanks for walking me through that. In the directory that I ran my training there is a `wandb` directory. I ran `wandb local` and signed in successfully, but the metrics aren't showing up. I get taken to a page to get started with Weights and Biases:
[code]
I then went into the `~/project/dir/wandb` directory and

[2020-09-14 16:49] vanpelt commented on #1236
There should be an `internal-debug.log` in your wandb directory.  Can you share that with us?

[2020-09-14 17:09] vanpelt commented on #1222
@aclifton314 by default our library will connect to our hosted service running at https://api.wandb.ai.  You can run your own server by running `wandb local`.  This server will only be accessible on the machine your running the container on at http://localhost:8080.  Once the server is running you can run jobs in "online" mode instead of the "dryrun", or "offline" mode that you are running with.

[2020-09-14 17:41] vanpelt commented on #912
We're tracking this and will cut a new release asap with a fix.  It should go out in 10.0.1 within the next couple days.

[2020-09-14 18:02] aclifton314 commented on #1222
@vanpelt Yes it does make sense. However, I'm not sure what's going on now. I ran `wandb local` then:
[code]
going to `http://localhost:8080` asks me to login. I login but the credentials aren't accepted. I clicked Reset Password but no email was sent.

[2020-09-14 19:31] leopd opened #1237 "Hyperband band indexes are off by one"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.7
* Python version: 3.7.9
* Operating System: Ubuntu 18.04LTS

### Description

Using the hyperband early termination criterion for sweeps, you must specify where the "bands" are, which is how many iterations of the objective metric get reported before the algorithm considers whether or not to stop the run.  They are

[2020-09-14 20:52] fcampagne commented on #780
I was facing the same issue with bayes optimization and a large number of combinations.  I switched to random reasoning that random should require constant compute to select the next configuration and do not seem to see timeouts. I have not done a ton of tests so far, but random seems to not have the issue.
I will try to use random in large search spaces and seed the next sweep with the results wh

[2020-09-14 21:56] vanpelt commented on #1222
@aclifton314 looks like you're trying to sync a directory that was logged with 0.9.X with version 0.10.0 of the library.  Try installing wandb with `pip install wandb==0.9.7` and running sync.

For the credentials, you can reset your password manually by running the following command:

`docker run -it wandb-local /usr/local/bin/local password YOUREMAIL@ADDRESS.COM`

[2020-09-15 00:17] aclifton314 commented on #1222
@vanpelt roger that. I uninstalled `wandb` and ran `pip install wandb==0.9.7`. I ran the following and got an error:
[code]

Here is the log:
[code]

[2020-09-15 03:35] vanpelt commented on #1222
That means we can't connect to wandb/local.   Are you running `wandb sync` from the same machine as you're running wandb/local?  Can you access the wandb interface at http://localhost:8080?

[2020-09-15 14:59] hossein20s commented on #1236
I have the same issue. Tried the tutorial example with 2 separate accounts and got the same problem
`(ml) developer@db97178ac511:/opt/host/tutorial$ python tutorial.py
2020-09-15 14:53:05.491180: I tensorflow/stream_executor/platform/default/dso_loader.cc:48] Successfully opened dynamic library libcudart.so.10.1
wandb: Currently logged in as: hosseinakhlaghpour (use `wandb login --relogin` to forc

[2020-09-15 15:10] aclifton314 commented on #1222
@vanpelt, thanks for your patience while working through this.

Here are the commands that I am running:
[code]

Going to `http://localhost:8080/` I am sent to a webpage that says "Developer tools for deep learning." I click the login button and enter my credentials. I am prompted that the credentials are incorrect. However, going to wwww.wandb.com and logging in with the same credentials works.

[2020-09-15 15:21] vanpelt commented on #1222
When you first started `wandb local` you should have been prompted to create an account inside on the instance.  If you can't login to http://localhost:8080, run the following to change your password manually:

`docker run -it wandb-local /usr/local/bin/local password YOUR_EMAIL@DOMAIN.com`

Then you can run wandb login with the api key shown at http://localhost:8080/authorize

[2020-09-15 16:11] aclifton314 commented on #1222
Here is what I ran:
[code]

After running `wandb local` the only prompt I got was what is listed above.

[2020-09-15 17:14] timoklein commented on #1233
I was running into the same issue using [hydra](https://https://hydra.cc/). Would be cool if you guys could support this!

[2020-09-15 18:07] vanpelt commented on #1222
Apologies, it's `docker exec` not `docker run`.

[2020-09-15 18:32] aclifton314 commented on #1222
No worries. That seemed to change the password but I'm still getting an "incorrect credentials" error when I try to `wandb login`.
[code]
My browser gets launched after `wandb login` and takes me to a login page `http://localhost:8080/login`. That page does not approve my credentials. going to `http://localhost:8080/authorize` redirects me to `http://localhost:8080/login`.

[2020-09-15 21:53] vanpelt commented on #1222
You need to be able to login to `http://localhost:8080/login`.  Are you sure you're putting the same email / password as you're setting with the manual command?  Did you try clicking "Forgot password" to have the instance send you an email?  If none of these techniques work you can start with a fresh local installation and you'll be prompted to create a user on first boot.  NOTE: this will delete

[2020-09-15 22:04] cpoptic commented on #1236
+ 1 Same here

Python 3.7.9
wandb 0.10.0
OS: Windows 10

Running wandb locally via `wandb local`
Can confirm the local server is running at `http://localhost:8080/home`

[2020-09-15 23:53] aclifton314 commented on #1222
@vanpelt that worked! I started with a fresh instance and was able to sync the dry runs. Thank you for all your help and patience!

[2020-09-15 23:53] #1222 closed

[2020-09-16 00:29] cvphelps commented on #1185
Hi @FordUniver, I'm taking a look at this issue. We just released a new client on Friday — 0.10.0, which should improve retry problems. Could you try it and see if it reduces the network error noise?

[2020-09-16 02:55] varun19299 commented on #1233
Here's a workaround I'm presently using: converting the `DictConfig` explicitly to `dict`.

[code]
That said, it would be better to integrate with the attributes `wandb` explicitly accesses: since `DictConfigs` have [more or less all methods](https://github.com/omry/omegaconf/blob/master/omegaconf/dictconfig.py) of the `dict` class.

[2020-09-16 02:58] varun19299 commented on #1233
Since we're also talking of hydra, here's another issue (I should probably open a separate issue thread for this):

Supporting hyperparam sweeps via hydra.

@timoklein: Do you use wandb or hydra's hyper parameter sweeping, and if so, what's your workflow like?

[2020-09-16 06:37] omry commented on #1233
If you want to convert OmegaConf containers to primitive containers, use `OmegaConf.to_container(cfg, resolve=True)`.
See the [docs of OmegaConf](https://omegaconf.readthedocs.io/en/latest/usage.html#omegaconf-to-container).

There is no need to create your own (broken, sorry) implementation :).

[2020-09-16 06:39] cvphelps commented on #1051
Hi @vincentwen1995 I believe this issue is fixed in the latest version of our library, 0.10.0. Could you please try it and reopen the issue if it's still not working?

[2020-09-16 06:39] #1051 closed

[2020-09-16 06:40] varun19299 commented on #1233
Ah that's much better.

Yes, mine was just a hackish fix :).

[2020-09-16 06:45] vincentwen1995 commented on #1051
Sure, thank you!

[2020-09-16 06:50] omry commented on #1233
I agree with you that the best solution is to just accept DictConfig as a valid mapping.
A good way to do that is to use MutableMapping in the isisntance check:
[code]

[2020-09-16 07:27] cvphelps commented on #993
Hi @Juanvulcano , could you please try this with the latest version of our Python library and let me know if you see these issues.

[2020-09-16 13:50] alexmirrington opened #1238 "Artifact successfully uploaded but cannot be downloaded by client."
* Weights and Biases version: `0.10.0`,`0.9.7`
* Python version: `3.8.5`
* Operating System: Arch Linux x86_64 (5.8.8-arch1-1)

### Description

Creating an artifact on one machine (`wandb` version `0.10.0`)  over an SSH session with VPN connection allowed the artifact to be uploaded to the cloud, and a training run could be started on that machine from the newly synced artifact. Trying to start a

[2020-09-16 15:16] timoklein commented on #1233
Sorry, haven't used either of them. In my limited experience they don't work well together (yet).

[2020-09-16 15:27] aclifton314 opened #1239 "wandb sync not logging in while running wandb local"
## System Info
wandb: 0.9.7
python: 3.7.6
OS: Pop!_OS 20.04 LTS

## Description
I installed wandb 0.9.7, ran `wandb local`, navigated to http://localhost:8080, the webpage gave me a "Application Error" page. I clicked the refresh button provided on the page, created an account, it then asked me to change my password. When I entered in my new password, the page reloads and asks me repeatedly to cha

[2020-09-16 16:36] vanpelt commented on #1239
@aclifton314 what email address did you use for your account?  Can you try logging in to the local instance from an incognito window?

[2020-09-16 17:15] michelkok commented on #1236
To me downgrading wandb to 0.9.7 solved the problem. It seems to be a problem with the newest version only.

[2020-09-16 19:12] annirudh commented on #1238
Hi @alexmirrington, thanks so much reporting this issue. I've been able to reproduce the issue and have a line on the fix. The issue will be resolved in the next CLI release.

Really sorry for the inconvenience.

[2020-09-16 23:05] timothybrooks opened #1240 "Support lists in config UI"
### Description

In the wandb web app, the overview page of a wandb run shows logged config fields. These commonly include hyperparameters such as learning rate or number of hidden layers. While the structure of config values is typically key-value pairs, it sometimes makes sense to use a list when the number of entries is variable, for example when a list of validation datasets may be provided to

[2020-09-17 00:18] aclifton314 commented on #1239
I used the same email address as in #1222. I'm not sure if that would be causing a conflict. Either way it is a gmail address. I used firefox to open a private window (not sure if that is the same as incognito) and went to the local instance. I was taken to a page that says "Developer tools for deep learning" and clicked the login button. I get prompted to enter my email and password, and that sen

[2020-09-17 00:37] cvphelps commented on #1240
Hi @timothybrooks, interesting request. For this example, could you describe a little more about how you want this to be rendered?

[2020-09-17 00:38] cvphelps commented on #1237
Hi @leopd thanks for reporting this off by one error, good catch. I'll track this internally.

[2020-09-17 02:03] vanpelt commented on #1239
Does your api key start with `local-XXXXXX`?  You can see what is currently set for localhost running `cat /home/user/.netrc` and looking at the password under `machine localhost`.  If it does contain local and it's the same as the one you see when you goto `http://localhost:8080/authorize`, then the library may be trying to connect to https://api.wandb.ai with the local api key.  Can you paste th

[2020-09-17 06:45] ahmedcs commented on #1192
I have the same issue, my wandb version is 0.8.35 and i can not use later versions as it is conflicting with eventlet library, is there a solution or workaround to this issue? I tried deleting the local folders but no luck

[2020-09-17 15:46] aclifton314 commented on #1239
Yes, the api key starts with `local` and is the same one when I go to `http://localhost:8080/authorize`. Here are the contents of `wandb/debug.log`:
[code]
I am indeed using wandb 0.9.7

[2020-09-17 16:38] vanpelt commented on #1192
Hey @ahmedcs can you try running `pip install wandb --upgrade` and share any errors you're seeing.  Our latest release doesn't depend on eventlet and should work.  Regarding the issue of reusing WANDB_RUN_ID's we're currently fixing this in our backend and hope to have a release next week.  In the meantime you'll need to append a new unique character to the end of your id for starting new runs wit

[2020-09-17 18:11] cpoptic opened #1242 "wandb mistakes integers and dictionaries as DataFrames?"
`wandb --version && python --version && uname`
I'm running Wandb locally via  `wandb local`
It is running successfully on localhost:8080

* Weights and Biases version: wandb, version 0.9.7
* Python version:  Python 3.7.9
* Operating System:  Windows 10

### Description

Describe what you were trying to get done.
Just simple config logging of hyperparameters.

I set `wandb.config.verbosity = 3` and

[2020-09-17 20:17] isaacmg opened #1243 "Wandb sweep hanging on Google Colab"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.10.1
* Python version: Python 3.6.9
* Operating System: Google Colab

### Description

Trying to run a sweep on Google Colab.

### What I Did

So there is no error the sweep just hangs indefinitely after the first run.

[code]

wandb: Ctrl-c pressed. Waiting for runs to end. Press ctrl-c again to terminate them.
Proces

[2020-09-17 21:44] vanpelt commented on #1243
Hey @isaacmg we're aware of the issue.  With 0.10.1 you can use an experimental agent by replacing `wandb.agent` with `wandb_secretagent` which should fix the stalling issue.

[2020-09-17 21:47] annirudh commented on #1238
This issue has been resolved in CLI 0.10.1. Upgrading to the latest CLI should allow you to download artifacts successfully.

[2020-09-17 21:47] #1238 closed

[2020-09-17 22:05] vanpelt commented on #1239
@aclifton314 I'm at a loss for what's happening.  You either have an incorrect api_key configured, or the entity / project you're trying to log to doesn't belong to the user you created.  You can also try running your script with an api key set in your environment.  Goto http://localhost:8080/settings and copy your api key.  Then run your script with:

`WANDB_API_KEY=YOUR_API_KEY_HERE python your_

[2020-09-17 23:35] aclifton314 commented on #1239
@vanpelt The dryrun I created was actually created on another computing cluster that has wandb but not docker. I wasn't able to view the wandb results because it doesn't have docker installed. So I moved the dryrun folder to my local machine to view the results. Do you think this could have something to do with it? The fact that the dryrun was created on one machine (with one certain api key) and

[2020-09-18 00:25] vanpelt commented on #1239
It could be looking at the `wandb/settings` file and trying to log to the wrong entity.  Can you share the content of that file?

[2020-09-18 00:41] aclifton314 commented on #1239
It just says `[default]`.

[2020-09-18 02:22] vanpelt commented on #1239
The only files wandb writes are `~/.netrc`, `~/.config/wandb/settings`, and `./wandb/settings`.  There's a chance a different entity is set in your home directories config, or in your terminal environment.  One thing to try would be opening a python console on your local machine and confirm you can log to your local server with:

[code]

[2020-09-18 03:03] aclifton314 commented on #1239
Ok. Here is what is in my `~/.config/wandb/settings`:
[code]

Also, here is the result of the python console commands:
[code]

[2020-09-18 03:24] isaacmg commented on #1243
Thanks. BTW for those wondering what the import statement looks like it is `from wandb.jupyteragent import jupyteragent as _secretagent`

[2020-09-18 03:24] #1243 closed

[2020-09-18 06:46] vanpelt commented on #1239
That error means we can't connect to `http://localhost:8080` are you able to access `http://localhost:8080` via a web browser running on that machine?  You can run `docker ps` on that machine to see if our container is running.  If you're running the docker container on a different machine than your python console you would need to open your firewall and connect to the IP address of the machine it

[2020-09-18 07:47] aclifton314 commented on #1239
On the same machine that has the container running, I did the following:
[code]
and was able to access `http://localhost:8080` via a web browser running on the same machine that is running the container. The web browser takes me to the home page that says "Get started with Weights and Biases".

[2020-09-18 07:52] GIS-PuppetMaster opened #1244 "[Bug] Sync tensorboard doesn't work on CentOS7"
`wandb --0.10.0 & 0.10.1 && python --3.7 && uname`

* Weights and Biases version: 0.10.0 & 0.10.1
* Python version:3.7
* Operating System:CentOS7

### Description

The same code works normally on Win10 with administrator privileges, I can see the tensorboard scalar in wandb web, but when I run the code on CentOS7, there is no tensorboard scalar curve and after I kill the program, the web may show

[2020-09-18 07:55] zkx741481546 commented on #1244
It suddenly works normally, maybe because of network problem?

[2020-09-18 09:37] davisj147 opened #1245 "Predicted bounding boxs overwritten by ground truth boxes when images passed as a list"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.10.1
* Python version: 3.7.3
* Operating System: Linux

### Description

I am attempting to log a row (one batch) of images with corresponding ground truth and predicted bounding boxes.
However, when passing the images in as a list to wandb.log, the predicted bounding boxes are overwritten by the ground truth boxes, de

[2020-09-18 12:58] jd730 commented on #1210
Hi @tyomhak,
I could gather the verbose log before `segmentation fault` when I run some jobs.
Although I am already logged in, it printed login option and then killed itself.

It also resolved when I downgraded `opencv-python` version to `4.3.0.36`

[code]

[2020-09-18 15:21] rahular opened #1246 "wandb.restore not respecting run_path"
* Weights and Biases version: 0.10.1
* Python version: 3.7.7
* Operating System: Linux-3.10.0

### Description

I am trying to restore a previously trained model from a different run by specifying the `run_path`. But it still seems to be ignoring it and searching in the current run's folder.

### What I Did

[code]

[2020-09-18 16:40] vanpelt commented on #1239
From the same terminal you were running your python session in, can you run `curl -v http://localhost:8080` and make sure it says `< HTTP/1.1 200 OK` in the output?  Once that's confirmed, run `python` and try the three lines of python I sent.

[2020-09-18 18:14] leopd opened #1247 "GPU memory leak while running sweeps"
`wandb --version && python --version && uname`

Weights and Biases version: 0.9.7
Python version: 3.7.9
Operating System: Ubuntu 18.04LTS

### Description

I'm running sweeps, and I notice that every so often one of the GPUs doesn't reclaim all its memory after a training job goes away.  It ends up in this horrible CUDA-bug state where `nvidia-smi` reports that the memory is used in the top half,

[2020-09-18 20:12] cpoptic commented on #1242
Okay it gets weirder:  now any time I print out ANY variable involving wandb.config, it gives the error:

EXAMPLES:
`type(Path(wandb.config.output_directory, 'leaderboard.csv'))`

[2020-09-18 20:57] yooceii opened #1248 "New version doesn't support save_code as a parameter in init function."
`wandb --version && python --version && uname`

* Weights and Biases version: 0.10.0 and 0.10.1
* Python version: 3.6.10
* Operating System: Ubuntu 18.04.4 LTS

### Description

The save_code parameter is not in the init function anymore.

### What I Did

[code]
I don't know if it is intended, but the doc still shows the "save_code" as one accepted parameter for the init function.

[2020-09-18 21:06] raubitsj commented on #1248
@yooceii , thanks for the report, this was an oversight and it will be fixed in the 0.10.2 release which we are working on now.

[2020-09-18 23:29] vanpelt commented on #1242
This looks very strange.  We'll try to reproduce over the weekend.  Until we push a fix you should downgrade to the 0.9.x series by running `pip install wandb==0.9.7`

[2020-09-19 08:35] kaixin96 opened #1249 "Fail to load file-based configs"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.10.1
* Python version: 3.7.7
* Operating System: Ubuntu 16.04.5 LTS (Xenial Xerus)

### Description

Fail to load file-based configs (either with `config-defaults.yaml` or using command line argument `--configs special-configs.yaml`. Configurations within yaml file are not loaded into `wandb.config` nor logged to `run_

[2020-09-19 13:56] alexmirrington commented on #1237
Hi @cvphelps, any ideas on the schedule for this bug and whether sprcifying the `max_iter` field in the sweep config also yields incorrect results?

[2020-09-20 00:19] Llannelongue opened #1250 "Bug with Sweep when upgrading from 0.9.3 to 0.10.1"
* wandb, version 0.10.1
* Python 3.7.3
* Linux

### Description

When trying to run a sweep, a code that used to work well on v0.9.3 now breaks (v0.10.1) with the following (cryptic) error.

[code]

I have created a minimal example that reproduces the bug:
[code]

[2020-09-20 01:27] raubitsj commented on #1250
A quick workaround:
[code]

We will look into why mutiprocessing fork? or forkserver? method is not working with the python based sweep agent.

[2020-09-20 15:59] cpoptic commented on #1242
Thanks Chris.  I'm actually running wandb 0.9.7.  I had downgraded from
0.10.1 because `wandb local` was giving an error on that version.

On Fri, Sep 18, 2020 at 7:29 PM Chris Van Pelt <notifications@github.com>
wrote:

[2020-09-21 14:07] aclifton314 commented on #1239
@vanpelt As always, thank you for your patience and cooperation working through this. Here is the output of that curl command:
[code]

[2020-09-21 15:47] vanpelt commented on #1242
@cpoptic can you share a simple script that reproduces this?  My guess is there's something inside of `get_hyperparameter_config` that is triggering this behavior.

[2020-09-21 15:51] vanpelt commented on #1239
It looks like you can't connect to localhost due to firewall or networking configuration issues.  If you can connect via your browser it may be that the browser has a proper proxy configuration that allows it.  You can use the HTTP_PROXY variable if you do indeed need to connect to localhost through a proxy, but that's unlikely.

[2020-09-21 18:37] aclifton314 commented on #1239
I have the HTTP_PROXY (and http_proxy) env variable set in my bashrc. Maybe it's not being read properly? I spoke with someone on my team familiar with docker and he suggested setting the `--network host` flag on the docker command. Does this sound like a reasonable solution? If so, how do I go about setting that flag?

[2020-09-21 19:05] vanpelt commented on #1239
You can run the docker command manually instead of using `wandb local`:

[code]

[2020-09-21 19:15] aclifton314 commented on #1239
Does `--network host` need to be `--network localhost`?

[2020-09-21 19:47] vanpelt commented on #1239
Nope, I believe the "host" network is the default so I doubt this will fix it.  The mystery is how can you're browser connect to http://localhost:8080 but your shell can't.

[2020-09-21 20:27] aclifton314 commented on #1239
Made some progress, but I don't know how, hahaha.

- I checked `localhost:8080/user_name' and there was no project uploaded.
- I ran `docker run --rm -d -v wandb:/vol -p 8080:8080 --network host --name wandb-local wandb/local`. I only got the following warning followed by a long random alphanumeric string: `WARNING: Published ports are discarded when using host network mode`
- I went to the direct

[2020-09-21 21:59] vanpelt commented on #1239
Thanks goodness!  Looks like it was actually the `--network host` flag.  Good to know!

[2020-09-21 22:40] aclifton314 commented on #1239
Just curious, does that `--network host` flag need to go into future versions of `wandb local`? If so I can file an official bug report or provide whatever information is needed.

[2020-09-21 23:05] cvphelps commented on #1237
Hi @alexmirrington thanks for your message. We will be including this in our first fixes for sweeps features after we finish the Client improvements this month. We'll be moving the client code from the [client-ng](https://github.com/wandb/client-ng) repo in the next week or so.

For `max_iter`: if you've logged a metric 3 times it's a `max_iter` of 3 — there's a separation of iterations and steps,

[2020-09-22 09:34] timothybrooks opened #1252 "Invalid cross-device link error preventing logging of images"
wandb, version 0.10.2
Python 3.7.8
Linux

### Description

When trying to log images with W&B, I am getting an error that prevents the temp image file from being copied, which prevents logging and causes the job to crash.

### What I Did
Calling ``wandb.log(...)` on an `wandb.Image(...)` object, I get the following error:

[code]

[2020-09-22 09:43] timothybrooks commented on #1240
I think ideally the config UI would support hierarchical drop down menus for nested dictionaries and lists. That way if I log many config params with the same prefix, (e.g. dataset.path, dataset.name, dataset.size) they can be neatly collapsed or expanded. Similarly, for lists it would be great to have the list elements live under a drop down menu. That way in my example above, I could click on va

[2020-09-22 10:05] pascal-hwky commented on #1160
Can confirm this is fixed in version 0.10.2.

[2020-09-22 10:05] #1160 closed

[2020-09-22 12:30] tyomhak commented on #1247
Thanks for reporting! We're looking into this.

[2020-09-22 12:31] tyomhak commented on #1249
Hi @kaixin96 , can you please update wandb, and see if the issue persists?

[2020-09-22 13:09] tyomhak commented on #1252
Hey @timothybrooks, thanks for reporting. @vanpelt can you please help here?

[2020-09-22 13:10] tyomhak commented on #1245
Hi @davisj147, thank you for reporting. We are currently looking into this.

[2020-09-22 14:32] kantholtz opened #1253 "IPython not working after wandb import"
* Weights and Biases version: 0.10.2
* Python version: 3.8.5
* Operating System: Linux

### Description

After importing wandb, IPython can no longer be embedded. Without `import wandb` everything works fine.

### What I Did
[code]

[2020-09-22 15:47] kaixin96 commented on #1249
Hi @tyomhak , the issue persists under wandb 0.10.2. Though I found explicitly specifying `WANDB_CONFIG_PATHS` works. But one new issue is that wandb does not support yaml files containing complex python tags.

Initially I thought the user-specified yaml config file would be directly merged into `run_folder/files/config.yaml`. However, it seems wandb also use json to serialize config object, which

[2020-09-22 17:32] vanpelt commented on #1252
Hey @timothybrooks `wandb.Image` writes the data to your system temp directory and links them to your folder if symlinks are supported.  Your system is unable to link between the underlying storage on /tmp vs your home directory.  The simplest solution is to put your `wandb` directory into your system temp directory.  You can do this by setting the `dir` argument of `wandb.init` to `/tmp`.

[2020-09-22 18:17] eyaler commented on #1248
still seeing this on 0.10.2

[2020-09-22 18:28] timothybrooks commented on #1252
Hmm I see. I had been using it fine in prior versions of wandb with my system, and other applications seem to be copying from /tmp successfully, although its possible that something changed on the side of our cluster. Oddly, it occasionally works for the first few images before throwing this error. Do you know why that might occur?

I would prefer to not store my logs on /tmp since those eventuall

[2020-09-22 18:49] timothybrooks commented on #1252
Here is a full stack trace in case this helps. Perhaps there was an issue writing the image into /tmp in the first place?

[code]

[2020-09-22 19:22] timothybrooks commented on #1252
I've downgraded W&B to 0.9.7 and the problem resolved. So perhaps there is a regression in writing or copying images?

[2020-09-22 19:31] vanpelt commented on #1248
Unfortunately this didn't make the 0.10.2 release, it will definitely be in 0.10.3 which should be released in the next few days.  In the meantime you should be able to set `os.environ['WANDB_SAVE_CODE'] = "true"` to have the same behavior as setting this via wandb.init.

[2020-09-22 19:43] vanpelt commented on #1252
Yep, looks like it, we'll try to reproduce.

[2020-09-22 21:08] cvphelps commented on #1253
Hi @kantholtz thanks for reporting this. @raubitsj could you please take a look

[2020-09-22 21:10] cvphelps commented on #1244
HI @zkx741481546 thanks for reporting this, could you please try the latest version of the CLI 0.10.2?

[2020-09-22 21:29] raubitsj commented on #1253
@kantholtz , thanks for reporting this issue.

Because of a library we are including we use an old version of prompt_toolkit which is vendored at: `wandb/vendor/prompt_toolkit/`

I am guessing that causing an issue with IPythons preferred prompt_toolkit version.  We will look into a solution to prevent our vendored version from impacting the system library dependancies.

[2020-09-22 22:16] sgummidipundi opened #1254 "W&B data tranmission"
### Description

Not so much a problem, but more of a question. I get the following warning message:

wandb: WARNING W&B installed but not logged in.  Run `wandb login` or set the WANDB_API_KEY env variable.

I wanted to make sure that although I'm not logged or set any project, that no data is actually transmitted to W&B. If I did specify an API key, would the only thing that are sent is hyperpar

[2020-09-22 23:28] vanpelt commented on #1254
You can set `WANDB_MODE=offline` to ensure data is only synced to your local filesystem.  You can also run a local server to ensure no data leaves your network:  https://docs.wandb.com/self-hosted/local

When you call `wandb.init` in your script we capture metadata about the system such as os version, python dependencies, the original command that was run, and git repo metadata.  We can also save

[2020-09-22 23:28] #1254 closed

[2020-09-22 23:32] sgummidipundi commented on #1254
Just to provide some context, I am using https://github.com/ThilinaRajapakse/simpletransformers, which popped up something on the integration.

So unless an API or project is specified using the wand.init(), no data could be transmitted?

[2020-09-23 06:43] kantholtz commented on #1253
Alright, thank you very much for your quick replies!

[2020-09-23 12:29] tyomhak commented on #1249
@raubitsj can you please help here?

[2020-09-23 13:29] tyomhak commented on #1239
@vanpelt ?

[2020-09-23 17:02] #1081 closed

[2020-09-24 00:20] timothybrooks opened #1265 "Logging shows progress bar at each update"
The Logs page under a W&B run shows a separate line for each update of a tqdm progress bar. This makes it challenging to find desired logs in the mix, since the number of updates to a progress bar is often equal to the number of training batches, which can reach millions. Since progress bars are commonly used in deep learning libraries (e.g. Pytorch Lightning) to track training, it would be great

[2020-09-24 07:02] michaelmyc opened #1268 "Silent Mode Not Working in Terminal"
## Issue:
Silent mode doesn't seem to work in terminal. There are still lines with `wandb:` polluting terminal outputs. This is interfering with outputs of `tqdm` making my terminal logs unreadable.

## Environment:
- python: 3.8.5
- wandb: 0.10.2
- tqdm: 4.48.2

## Reproduce:
[code]

## Comments:
I noticed #457 mentioned that a fix was supposed to address this by August, did the fix not make it t

[2020-09-24 07:16] vanpelt commented on #1265
@timothybrooks thanks for reporting, we're working on a fix ASAP.

[2020-09-24 12:49] FelipeAdachi commented on #1238
Hi! for both 0.10.1 and 0.10.2 the issue remains for me. I'm unable to download artifacts with CLI or in Python.

[2020-09-24 14:55] vanpelt commented on #1238
@FelipeAdachi can you share the error you're seeing?

[2020-09-24 15:47] collinmccarthy opened #1269 "Group by run name doesn't handle run name updates"
Hi,

Sorry I don't have an example for this but it should be easy to verify. This is what I did:
- Run some experiments, create a custom line plot (not sure if that matters) and group by run name
- Change some of the run names via the API
- Refresh the page to update the plot

After I change the run names I can't get the plot to group by the new names. It still has some of the old names being used

[2020-09-24 16:19] ecatkins opened #1272 "Sync tensorboard stops working in upgrade from 0.9.7 to 0.10.2"
I had been using [sync_tensorboard ](https://docs.wandb.com/library/integrations/tensorboard)with the [Tensorflow Object Detection API](https://github.com/tensorflow/models/tree/master/research/object_detection) (`tensorflow==1.15.2`), but when upgrading to version `0.10.2` metrics are no longer logged to the wandb dashboard.

I have confirmed when downgrading to `0.9.7` the logging begins working

[2020-09-24 17:57] raubitsj commented on #1272
@ecatkins , Thanks for reporting this issue.  Can you tell us what version of tensorboard you were using?

In the new version of the library we improved support for tensorflow 2.x and the latest pytorch but this might have inadvertently broken something with tensorflow 1.x support.

Are you manually loggging to a summarywriter or is this something that the tensorflow object detection api is doing?

[2020-09-24 18:31] FelipeAdachi commented on #1238
@vanpelt,  Sure!

The error I'm getting is:

[code]

wandb version: 10.0.2
python: 3.6

I'm running it on Colab, with the following commands:
`!pip install wandb`
`import wandb`
`run = wandb.init(project='simpletransformers_ner', job_type='consumer')`
`artifact = run.use_artifact('train-test-dataset:latest')`
`artifact_dir = artifact.download()`

Thank you for your attention!
And wandb is amazing!

[2020-09-24 18:49] annirudh commented on #1238
@FelipeAdachi Would you mind trying your colab on our dev branch for `10.0.3`?

`!pip install -qq -U git+git://github.com/wandb/client.git@master#egg=wandb`

There's a fox for an issue with the download URLs becoming stale that's included in the branch. We're aiming to ship this fix in the next release.

[2020-09-24 19:09] ecatkins commented on #1272
`tensorboard==1.15.0`

And no, nothing manual. I was just using the events that the tensorflow object detection api logs OOTB

[2020-09-24 19:35] FelipeAdachi commented on #1238
I tried with dev branch for 10.0.3, but the same error persists.

Let me know if there is anything else I can do.

[2020-09-24 19:57] annirudh commented on #1238
I'm able to reproduce the issue. So sorry, looks like there's a separate issue that needs to be fixed. I have patch, and I'll make sure it makes it into the official `10.0.3` release.

[2020-09-25 09:48] sowmen opened #1280 "Failed or Offline run stuck indefinitely while syncing"
I had a gpu lost error and even in offline mode wandb is stuck at syncing and exiting. Happened more than once, I had to close the terminal entirely each time to stop the process.

Exception in thread Thread-4:
Traceback (most recent call last):
  File "/usr/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/usr/lib/python3.6/threading.py", line 864, in run
    self

[2020-09-25 20:24] cvphelps commented on #1254
@sgummidipundi yes that's right, no data will be sent to an account if you don't login or specify and API key

[2020-09-25 22:15] cvphelps commented on #1280
Hi there, it sounds like this might be an issue with your system, as it says the GPU is running out of memory

[2020-09-25 22:19] charlesfrye commented on #1280
It looks like this might be due to power/heat issues: https://forums.developer.nvidia.com/t/gpu-loss/51674/2

If you're logging system metrics to W&B, you might be able to detect the temperature problem. Otherwise, I'd recommend running `watch -n 1 nvidia-smi` in a separate terminal.

[2020-09-25 22:23] cvphelps commented on #1269
Hi @collinmccarthy thanks for being so patient to wait overnight for this feature to work. We'll take a look.

[2020-09-26 18:54] louiskirsch commented on #1248
By the way, are there any other breaking changes when upgrading from `0.9.7` to `0.10.x` ? Is there an api changelog somewhere?

[2020-09-26 22:48] koulanurag commented on #1272
Facing same issue. Tensorboard events are no longer being logged in the wandb api.

[2020-09-27 01:48] samarth4149 opened #1287 "Couldn't communicate with backend after 15 seconds"
Hi,

My run exited with the error message in the title. What could this be from?
Is it probably just a network error? In that case, I don't think wandb should crash the entire run with no notification.

Here's the full trace
[code]

[2020-09-27 02:13] raubitsj commented on #1272
@koulanurag, This is fixed now and will be in the next release: 0.10.3.  If you want to try it now use:
[code]

@ecatkins, we are still looking into your issue as I believe it is different but the fixes we did might address your problem if you were writing your tensorboard log to cloud storage (s3).

[2020-09-27 06:05] MrRace commented on #201
@adrianbg By the way, why `wandb.log({'examples': gen_imgs})` will also print message like：
[code]
I want to know how the above message come from. It seems not each time calling the `wandb.log`  the `Run summary` happen？

[2020-09-27 07:30] MrRace opened #1291 "what _step mean?"
I set my save step and other parameter,therefore the global_step in the figure is meeting my expectation. However I am confused about the red arrow's `_step` 437.  I can not guess how it been calculated and its meaning？
![image](https://user-images.githubusercontent.com/10300313/94358751-acad3a80-00d5-11eb-80b7-0da912d4eebe.png)

Thanks a lot!

[2020-09-27 22:43] aiwithsap opened #1292 "Wandb throws API and Network errors during login"
Hi

I recently installed Weights and Biases (wandb) for recording the metrics of my machine learning projects. Everything worked fine when connected to wandb cloud instance or when I used a local docker image. Now, when I tried to access my local wandb instance from over the network, I started to get API error messages. However, I also noticed that wandb was trying to access my server using port 8

[2020-09-28 08:59] Dewald928 commented on #1249
Same here. Since version 10, my `config-defaults.yaml` isn't being read.

[2020-09-28 15:15] saahiluppal opened #1293 "unspecified error"
Hey,
I'm encountering this particular error
[code]
Here, i'm using wandb logger with pytorch lightning.
and here's insight
[code]

[2020-09-28 18:00] tyomhak commented on #1293
Hi there! Thanks for reporting. We're looking into this.

[2020-09-28 18:06] tyomhak commented on #1292
Hi @aiwithsap , thanks for reporting. @raubitsj can you help here?

[2020-09-28 18:08] tyomhak commented on #1291
Hi @MrRace , let me check and get back to you on this.

[2020-09-28 18:17] tyomhak commented on #1287
Hi @samarth4149, looks like this was a network issue on your side. You could try adding resume=True argument to your wandb.init function, to be able to resume the failed/crashed run.

or alternatively you could run it in dry-run mode, and then sync it separately.

@raubitsj do you have a better solution for this issue?

[2020-09-28 18:36] samarth4149 commented on #1287
Thanks, I will do that if I believe network could be unstable (I have not really had the problem with the server I was working on).
As a feature request, maybe wandb can handle this case better? So it does not need to crash the main program?

[2020-09-28 18:42] tyomhak commented on #1291
It is our internal counter of the number of logged (and committed) items. If you have your own step you can ignore ours.
We will remove that from the summary in the future.

[2020-09-28 18:43] tyomhak commented on #1287
Will certainly look into it! Thanks for flagging this issue.

[2020-09-28 18:45] tyomhak commented on #1268
Hey @6etacat , thanks for flagging this. We're looking into it.

[2020-09-28 19:07] #1291 closed

[2020-09-28 19:08] #1280 closed

[2020-09-29 04:31] RyleeThompson opened #1297 "Download and sync offline runs in progress"
Is it possible to add functionality that would allow you to download and sync an offline run while it is executing? It would be nice to be able to get periodic updates on how a run is performing in a convenient form. When I try to sync an executing offline run on version 0.10.2 I get:

Exception in thread Thread-1:
Traceback (most recent call last):
  File "/cvmfs/soft.computecanada.ca/easybuild/s

[2020-09-29 22:23] fteufel opened #1302 "UnicodeEncodeError: 'latin-1' codec can't encode characters when logging multiple runs"
I am trying to log multiple runs from a single script, as described in the API docs using `wandb.init(reinit=True)` and `run.finish()`.
It gives a strange error that I do not understand, it seems to be output related, but it only appears at the 2nd iteration of the following loop. The first run is logged correctly to w&b and is also closed without an error.

[code]

[code]

[2020-09-30 14:47] fjhheras opened #1308 "How to use API in offline mode?"
I would like to use the wandb API at the end of the training process to output results, trainign arguments and history. Because the Run object in wandb_logger.experiment is missing some information, I need to use the API to load the Run object after training (See https://github.com/PyTorchLightning/pytorch-lightning/issues/3493)

If I am connected (wandb on), after training I can do:

[code]

And

[2020-09-30 20:56] vanpelt commented on #1248
Our changelog is available here: https://github.com/wandb/client/blob/master/CHANGELOG.md

[2020-09-30 22:00] raubitsj commented on #1250
Reproduce on linux with python 3.6.4:
[code]

Result:
[code]

This PR fixes the problem so we might want to go with that:
https://github.com/wandb/client/pull/1285

[2020-10-01 05:31] alexmirrington commented on #1237
@cvphelps Cheers for the explanation :) For now, I'll just log a validation step at the start of the run to account for the index offset until the issue is fixed :)

[2020-10-02 04:18] kaixin96 commented on #1297
+1 for syncing an offline run while it is executing

[2020-10-02 09:55] tyomhak commented on #1308
Hey @fjhheras , I'm not quite sure. @annirudh can you please help here?

[2020-10-02 10:06] tyomhak commented on #1302
Hey @fteufel , can you please update wandb, and check if the error persists?

[2020-10-02 10:07] tyomhak commented on #1297
That's a nice idea! Filing an internal ticket for it. Will keep you updated.

[2020-10-02 12:27] tadej-redstone opened #1314 "Logging error on Hydra multiruns using Pytorch lightning"
When I do a multirun on Hydra (with my model using Pytorch lightning), the program always crashes after (at the end of) the second run.
The problem seems to be Wandb closing a logger prematurely - if I remove Wandb Logger the problem dissapears.

I don't have a simple reproducible example (however I can provide more info if necessary), but my main file is very simple:
[code]

Here's the error log:

[2020-10-02 12:30] fteufel commented on #1302
Hi @tyomhak , yes, persists in 0.10.4

minimal example:
[code]

[2020-10-02 13:11] tyomhak commented on #1302
Thanks, we're looking into this issue.

[2020-10-02 14:31] shawnlewis commented on #1292
Hi @aiwithsap, can you please try 0.10.4?

[2020-10-02 15:22] shawnlewis commented on #1292
You can also do rm ~/.netrc, or delete the relevant lines from that file. And rm ~/.config/wandb/settings

[2020-10-02 21:30] cvphelps commented on #1293
Hi @saahiluppal, what version of the client were you using? Please upgrade to see if this is still happening.

[2020-10-02 21:33] cvphelps commented on #1287
Hi @samarth4149 could you please use 0.10.4 — it looks like this is should be fixed when the network error happens in the 15 seconds after login, we used to fail, but now we do not

[2020-10-03 01:01] samarth4149 commented on #1287
Thanks

[2020-10-03 11:11] saahiluppal commented on #1293
I can confirm that i haven't encountered this issue today. WandbLogger is working perfectly fine with pytorch lightning

[2020-10-03 11:11] #1293 closed

[2020-10-03 16:49] RyleeThompson commented on #1297
Also, maybe a way to make it so that syncing is still able to be done if the program doesn't exit properly? Right now if I kill an offline job through slurm (or the job runs out of memory) it's unable to sync.

[2020-10-03 22:59] raubitsj commented on #1297
@RyleeThompson: can you tell me more about that problem.  Runs that exit improperly should be able to sync.   If you are experiencing this problem with wandb>=0.10.4, please open a bug and we will fix it.

[2020-10-03 23:05] raubitsj commented on #1297
Also, If you can share the commandline you used to sync the run.  The exception should only happen if the file was corrupted.
If you can share the entire .wandb file that would be helpful, but for this bug it looks like all we need is the first few bytes. can you run:
```dd if=run-2vd85rzy.wandb bs=1k count=1 | od -t x1 | head```

[2020-10-03 23:40] RyleeThompson commented on #1297
@raubitsj I'm on version 0.10.2 so that might be the issue. I'll test it this week/see if I can recreate it on 0.10.2 and 0.10.4 and get back to you.

[2020-10-05 03:27] aiwithsap commented on #1292
Thanks. Upgrading and deleting the settings file solved the issue.

[2020-10-05 06:54] jliu opened #1319 "bug with matplotlib subplots"
The following example does not work with wandb:
[code]
and gives error message:

Traceback (most recent call last):
  File "wandb_broken_example.py", line 9, in <module>
    wandb.log({'figure': wandb.Image(plt)}, step=0)
  File "/h/jyliu/miniconda3/envs/geom/lib/python3.8/site-packages/wandb/data_types.py", line 887, in __init__
    util.ensure_matplotlib_figure(data).savefig(buf)
  File "/h/jyli

[2020-10-05 09:38] tyomhak commented on #1314
Hi @tadej-redstone , thanks for flagging this issue. We're looking into this.

[2020-10-05 09:42] tyomhak commented on #1319
Hi @jliu, thank you for reporting this. We're looking into this.

[2020-10-05 09:44] willprice commented on #1253
Any news on this @raubitsj ? I just wanted to try out wandb but could not due to this issue breaking `ipdb`.

[2020-10-05 18:54] sneakyPad opened #1320 "Training loss is not being logged for pytorch-lightning version greater 0.8.5"
Hi,
when using wandb with pytorch-lightning I experienced that the training loss is not automatically logged anymore. I tried the versions > 0.8.5. The test loss is still being fetched. Since this problem also affects other logging integrations, e.g. Neptune.ai (verified), I am not sure on which side the logging is failing.

Tried code:
[code]
Happened to anyone else?

[2020-10-05 23:42] KyleGoyette commented on #1246
Hi @rahular, it looks like the run in question used wandb version 0.10.1, so the file isn't saved to `rahular/nlp/o9yf2jxr`. It could be saved to your next run which seems to be have been run in parallel, but it will exist on your machine in the `wandb/run-*-o9yf2jxr/files` directory, under your project.

You did find an issue in our messaging for cases where restoring a file failed. Thank you for

[2020-10-06 00:51] vanpelt opened #1321 "TeeHandler has no close method"
[code]

[2020-10-06 13:18] MichalMalyska commented on #1321
I am running into the exact same bug using the 0.10.4 version on Linux. I posted on the WandB slack and I think they are working on a solution.

[2020-10-06 21:27] emigre459 opened #1323 "Sweeps erroring out after first run with Anaconda 400 and Graphql 500 codes"
I've seen a lot of issues related to variants of this problem, but none of those with answers fixed my problem. Here's what I'm doing:

1. `wandb sweep lstm_wandb_sweep.yml`
2. `wandb agent <SWEEPID>`
3. Errors out after first run is finished

Here's the traceback I'm seeing:

[code]

It then essentially keeps repeating those same 400-then-500 error messages until it just locks up (keyboard interr

[2020-10-06 21:36] raubitsj commented on #1323
@emigre459:
I have a theory it has to do with how you logged the parameter "bidirectional" but if you post the URL to the broken sweep I can confirm... The sweep should have a single finished run in it based on your description.

[2020-10-06 22:25] emigre459 commented on #1323
Good point @raubitsj ! [Here's the link.](https://wandb.ai/emigre459/diu_datascience-src_models_rnn-testing/sweeps/6bykzp76/). Let me know if you're able to view it (not sure about the viewer settings, but I can open it up if it's not accessible).

[2020-10-06 23:40] raubitsj commented on #1323
@emigre459:
This was indeed the problem,  if you go to the overview tab of the run that finished and click on the Raw config you can see it in json form:
[code]

Notice that `false` is not in quotes, this means it is the boolean value false.   yet your sweep config is using the string "false".

I think this is a side effect of either your script or the pytorch lightning integration overwriting the

[2020-10-06 23:42] raubitsj commented on #1323
And sorry about the poor error message, it is very cryptic because it is wrapped in several other errors and not unwrapped properly.  But the message gives a hint of the problem: "ValueError: False is not in list"

[2020-10-07 00:46] emigre459 commented on #1323
Thanks for the hints Jeff! I'm not sure if this will solve the issue though, as I intentionally put the values in the sweep config as strings. Please see my attached training script. I seem to be doing with `argparse` roughly what you're suggesting using the `str2bool` function, but don't I need to pass strings then from the config YAML so that it works properly? Or is there something already conv

[2020-10-07 01:55] emigre459 commented on #1323
You nailed it @raubitsj! I switched it up in the config YAML as you proposed and now it's on the second run of the sweep. Thank you! I'm going to close this now, but please add a comment if you can regarding why these bools should be passed in the YAML not as explicit strings, even though argparse needs them that way. Maybe something to do with how the YAML itself gets interpreted by python?

[2020-10-07 01:55] #1323 closed

[2020-10-07 08:00] omry commented on #1314
Hi guys,
I can add a try block around the flush there to suppress the error but I would like to see a minimal repro first.
Anything unusual going on with the logging in PL or the wandb logger than can shed some light on what's happening here?

[2020-10-07 09:27] laxels commented on #1269
Hey there @collinmccarthy. I just tried reproducing the issue but couldn't. [Here's](https://youtu.be/nXIkOWBtvks) a video of my attempt. Can you take a look to see if I misunderstood your issue?

If these exact steps don't work for you, the issue may only be present on an old version of the client. Which version of the client are you using?

[2020-10-07 10:45] alexmirrington commented on #1265
As a side note, the same occurs for lines printed to `stdout` that end in a return character instead of a newline character, _e.g._ `print(f"loss: {loss.item()}", end="\r")`. I am mainly reporting this because as far as I am aware, `tqdm` prints to `stderr`.

[2020-10-07 15:08] #1321 closed

[2020-10-07 15:50] raubitsj commented on #1321
FYI: This will be in the 0.10.5 release

[2020-10-08 10:21] tyomhak commented on #1320
Hi @sneakyPad , thanks for flagging this issue. We're looking into this.

[2020-10-08 12:04] nemanja-rakicevic opened #1338 "wandb init on VM causes syntax error"
Hi, I tried running wandb on a Azure VM. I use the same conda environment as on the local machine, with same version of wandb==0.10.4 and python==3.5.6.

However, when I try to run `wandb login` on the VM to continue the sweep, I get:

[code]
 Any ideas what is causing this?

[2020-10-08 15:33] vanpelt commented on #1338
This is due to the version of python not supporting our type definitions.  Are you able to run in a python environment version 3.6 or higher?

[2020-10-08 16:08] raubitsj commented on #1338
The type annotation issue appears to be with the "parso" package, I think
you can avoid this failure by doing:
`pip install -U parso==0.7.1`
0.7.1 is the last release that supports python2

On Thu, Oct 8, 2020 at 8:33 AM Chris Van Pelt <notifications@github.com>
wrote:

[2020-10-08 20:21] nemanja-rakicevic commented on #1338
Amazing, thanks @raubitsj this solved my issue!

[2020-10-08 20:21] #1338 closed

[2020-10-08 22:06] kevinkwshin commented on #1139
Any progress here? I have the same problem with erap129.

[2020-10-09 00:03] VasudevGupta7 opened #1343 "issue in wandb.init"
When I am running wandb.init(project=..., name=..., config=....) in colab, Its showing this error:

[code]

Please help me out.
Thanks

[2020-10-09 00:08] vanpelt commented on #1343
Hey @VasudevGupta7 this was a temporary error in our backend.  We just rolled back the bad deploy, if you try again it should be working now, sorry about that.  If you're still seeing an error please let us know.

[2020-10-09 00:08] #1343 closed

[2020-10-09 00:08] VasudevGupta7 commented on #1343
Its fine now. Thankyou

[2020-10-09 10:54] nemanja-rakicevic opened #1344 "Running sweep got Error: Variable "entityName" has invalid value null."
`wandb --version && python --version && uname`

- wandb, version 0.10.5
- Python 3.5.6 :: Anaconda, Inc.
- Linux

### Description

I am trying to run a sweep using the following config file `wandb_sweep.yaml`:

[code]
And within my code `main_training_wandb.py` I use wandb as:
[code]

This works when running individual tests with wandb `python main_training_wandb.py`, and I managed to run the same

[2020-10-09 12:37] ingambe commented on #1344
Same error on my side, the problem seems to come from the server response

[2020-10-09 12:59] DomagojKorais opened #1345 "Sync with server is extremely slow"
`wandb --version && python --version && uname`
* wandb, version 0.10.5
* Python, version 3.7.6
* Linux Ubuntu 20.04

Python script to reproduce:
[code]
The script takes more than 10 minutes to finish, it get stuck at sync phase. On another machine with the same configuration it works, I am not able to pinpoint the problem.
The beginning of debug.log is the following:
[code]
debug files:
[debug.log

[2020-10-09 15:12] JonBoyleCoding commented on #1344
I'm having the same issue, was working fine yesterday but suddenly having issues. Creating a sweep via the website appears to be working still.

[2020-10-09 15:43] nemanja-rakicevic commented on #1344
I can confirm the sweeps work when initialised using the website.

[2020-10-09 17:25] leopd commented on #1344
Seems you can workaround the problem by specifying the "entity" on the CLI like:

[code]

It seems that "entity" means your username in wandb-land, as in the URL often includes `?workspace=user-my_user_name`

[2020-10-09 17:41] #1344 closed

[2020-10-09 17:55] annirudh commented on #1344
This issue should be resolved, really sorry for the trouble this caused. We recently upgraded our backend's GraphQL library, which includes some stricter request validation. When making a sweep, the CLI was making an invalid request that the old version of the library used to allow, but the new one rejects.

We've patched the backend, so you should be able to create sweeps without issue now. Pleas

[2020-10-09 20:11] cvphelps commented on #1345
Hi @DomagojKorais thanks for reporting, this looks like it might be a network problem. @raubitsj is taking a look as well

[2020-10-10 00:28] evincent-lyft opened #1347 "Track edit history for reports"
It would be much appreciated to keep track of edit history for reports, to allow reverting accidental changes, attributing changes to each collaborator, etc. Currently there doesn't seem to be any functionality like this.

Example of an especially hazardous case: if you forget to clone another person's report before editing it, not only is there no way to revert these changes, but there is no way

[2020-10-11 12:32] alexmirrington opened #1348 "Incorrect bounding box placement in dashboard display and downloaded files"
**System:**

- OS: `Arch Linux x86_64`
- Kernel: `5.8.14-arch1-1`
- Python: `3.8.6`
- wandb: `0.10.4`

**Description:**

Some image samples have incorrectly displayed bounding boxes, as displayed in the images below:

Correct bounding boxes, drawn using using `PIL` and `ImageDraw` and uploaded to `wandb`:

![media_images_vis_custom_0_9](https://user-images.githubusercontent.com/34053287/95678389-1

[2020-10-11 12:44] alexmirrington opened #1349 "GraphQL-related server error when starting an agent for a sweep with prior runs"
**System:**

- OS: `Arch Linux x86_64`
- Kernel: `5.8.14-arch1-1`
- Python: `3.8.6`
- wandb: `0.10.4` for agent, multiple for prior runs.

**Description:**

When starting an agent from the CLI for a sweep with prior runs (created from the dashboard), a GraphQL error is raised. The error only seems to occur when these runs are standalone runs, _i.e._ not from another sweep.

**Steps to reproduce:**

[2020-10-11 22:56] tadejsv commented on #1314
Hey @omry, here's a minimal repository that reproduces the error:
[https://github.com/tadejsv/wandb-log-bug](https://github.com/tadejsv/wandb-log-bug)

[2020-10-11 23:07] omry commented on #1314
@tadejsv, thanks.
By minimal repro I meant something without external dependencies.

looking at the [PL Wandb logger](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/loggers/wandb.py) I am not seeing anything related to logging.

Can you try to repro without PL involvement? (using the wandb API directly).

[2020-10-12 07:16] omry commented on #1314
I filed [this](https://github.com/facebookresearch/hydra/issues/1053), but it would be great if you can help isolate the root cause.

[2020-10-12 07:30] DomagojKorais commented on #1345
Thank you. I don't have any other network issue, but if you think that it's the case can you advice me on how to check for that
I can provide additional information about my system's configuration if needed.

[2020-10-12 08:05] tyomhak commented on #1347
Hi @evincent-lyft , thank you for the feedback. That makes  a lot of sense. I'm filing an internal ticket for this.

[2020-10-12 09:02] DomagojKorais commented on #1345
If it can help I get this kind of error messages if I kill the process, maybe it's related to the killing itself, don't really know:
`/home/dkorais/.pyenv/versions/3.7.6/lib/python3.7/multiprocessing/semaphore_tracker.py:144: UserWarning: semaphore_tracker: There appear to be 6 leaked semaphores to clean up at shutdown
`

[2020-10-12 09:45] tadejsv commented on #1314
Thanks for taking a look at it. I've already answered under hydra issue, but I'll do it here too since the bug is probably on wandb's side:

I've [isolated](https://github.com/tadejsv/wandb-log-bug) the error, and it seems to be caused by the `reinit=True` option in `wandb.init()` (this is what PL does by default). Setting it to `False` removes the error.

[2020-10-12 16:47] tyomhak commented on #1348
Hi @alexmirrington , thanks for flagging this issue. We're looking into this.

[2020-10-12 16:49] tyomhak commented on #1349
Hey @alexmirrington , thanks for reporting! Trying to reproduce this. Will keep you updated.

[2020-10-12 17:08] annirudh commented on #1308
Currently, accessing the summary, history, or config of a run requires an internet connection because this information is retrieved using our public API. In theory, it would be possible to fetch this information from the logs, but this would require us to make significant changes to our client as the logs aren't easy to query.

Having an internet connection is fundamental to the way we designed AP

[2020-10-12 17:09] omry commented on #1314
Great. From the Hydra side I will turn exceptions during flushing of the loggers into a warning, but it does suggest an underlying problem in which might cause logging issues in the next run when doing multirun with the basic launcher.

[2020-10-12 18:59] vanpelt commented on #1308
@fjhheras you may want to look at our Self-Hosted server offering: https://docs.wandb.com/self-hosted

[2020-10-12 19:21] berlino opened #1351 "Legend does not work for user's attributes"
Hi, there

  I found that the legend for plotting does not work for user's attributes, and only works for pre-defined attributes like name, id, datecreated. Here is the screenshot of the issue, where I try to use the attribute 'args.dropout' as the legend, but it didn't show up.

  I'm wondering if it's a bug or it's not supported yet. Thanks!

![Screenshot 2020-10-12 at 20 16 54](https://user-ima

[2020-10-12 21:13] borisdayma commented on #1320
@sneakyPad Do you have a W&B run you can share?

Recently the logging in pytorch lightning has changed where they don't use a dict anymore but directly call `self.log`.
See [the documentation](https://pytorch-lightning.readthedocs.io/en/stable/logging.html#logging-from-a-lightningmodule).

It should have printed a warning in your console mentioning this deprecation, unless your problem is related

[2020-10-12 22:37] borisdayma commented on #1314
`reinit` is used to ensure we start a new W&B run. Otherwise it could be a noop when there is already an active W&B run (which typically closes automatically at the end of the script). In those cases, `reinit` will first close the active run (if present) and then create a new one.

I tried manually calling `wandb.finish()` at the end of the run and it solves the issue. Here is a [minimal example](

[2020-10-12 22:38] omry commented on #1314
The intent is to flush all loggers, not stdout.

[2020-10-13 07:17] alexmirrington opened #1354 "Setting init directory still creates wandb folder on init"
**System:**

- OS: `MacOS 10.15.5`
- Python: `3.8.5`
- wandb: `0.10.5`

**Steps to reproduce:**

1. Initialise a project from a python file with a changed root directory like so:

[code]

A `wandb` folder will still be created at the top level of the project despite the changed directory.

As a side note, a `wandb` folder is also created inside the `results` folder. It is likely this is intended,

[2020-10-13 09:48] 51616 opened #1355 "[Feature request] Plot each individual run as grouping options"
It would be nice if we can plot each individual run in, say, a transparent or dotted line and showing the mean of the group with a thick line (just like how grouping works now).

[2020-10-13 13:27] tyomhak commented on #1351
Hey @berlino , I think it should work for configs that are not multileveled, meaning that if your config was not 'args.dropout', but just 'dropout' it should work.

I'm filing an internal ticket to support your case too.

[2020-10-13 13:36] alsuhr-c opened #1356 "How to specify project for "wandb sync"?"
I accidentally ran some experiments in dryrun mode, and would like to sync them online. I have a few projects (A, B, C) and ran my experiments in project B. However, when I run "wandb sync", they are sent to project A in the web interface. How can I specify that I want them to sync to project B instead?

Note: in the web interface I can move runs from one project to another, which solves this to s

[2020-10-13 13:40] nsidn98 opened #1357 "Logs not syncing when wandb-history.jsonl is quite large."
When I run `wandb sync wandb/my_run` the history metrics are not uploaded to the wandboard. It just stays like that till I kill the command with Ctrl+C.

The folder `wandb/my_run` contains the following contents:
[code]

The output I get after running `wandb sync wandb/my_run`:
[code]
and after that it does not progress.

Does wandb sync have limits in upload sizes.

[2020-10-13 14:05] tyomhak commented on #1354
Hey @alexmirrington , thanks for flagging this. We're looking into it.

[2020-10-13 14:19] tyomhak commented on #1356
Hey @alsuhr-c , the runs log to project A, even if you set the project=B in your init() function?

[2020-10-13 14:25] tyomhak commented on #1357
Hey @nsidn98 , are you sure that it's stuck? or maybe it just takes a long time to upload the data?

@shawnlewis are there size limits?

[2020-10-13 14:27] tyomhak commented on #1356
I see, can you check which wandb version you are using? also which OS is this happening on?
I'd like to try to reproduce this.

[2020-10-13 14:39] nsidn98 commented on #1357
I kept it running for an hour or so and it still did not work. But if I remove the 62MB `wandb-history.jsonl` file and sync it, then it happens almost instantaneously. So I guess the latency is because of the 62MB file.

[2020-10-13 16:20] vanpelt commented on #1356
@alsuhr-c when you call `wandb sync` from the command line you can specify `-p` or `--project` to sync runs to that specific project.

[2020-10-13 16:20] #1356 closed

[2020-10-13 16:24] vanpelt commented on #1357
You're running a rather old version of the library.  In the latest version we store all data in a much more efficient format.  Unfortunately you can not sync old run directories with this new version.  I believe we added some performance fixes to `wandb sync` in the later version of the 0.9.x series.  What version are you currently using (wandb --version)?  If it's less than `0.9.7` you can sync t

[2020-10-13 16:32] nsidn98 commented on #1357
My current wandb version is `0.9.6`. Do you mean that I need to upgrade my wandb first to `0.9.7` and then sync my directories. And then possibly try to upgrade to the latest version(0.10.x) for future experiments?

[2020-10-13 16:59] alsuhr-c commented on #1356
Thanks!

[2020-10-13 18:38] vanpelt commented on #1357
Correct, although I think 0.9.6 had the performance fix I mentioned so I'm not sure 0.9.7 will fix the sync issue.  A sure fire way to fix the sync issue is to remove histograms or other large structures from `wandb-history.jsonl`.  You can use a program named [jq](https://stedolan.github.io/jq/download/) to do this.  The example below takes all history rows with "gradients/" in the name and remov

[2020-10-13 19:08] aclifton314 opened #1358 "StopIteration Error when running wandb sync with wandb local"
**System Info**
- Python: 3.7.6
- wandb: 0.9.7

I'm getting the following error when running `wandb sync` from `wandb local`:
[code]
Here are the commands I issued:
[code]
Any thoughts about how to resolve this error?

[2020-10-13 19:14] nsidn98 commented on #1357
Although it worked with `jq`, is it possible to not remove the "gradients/" row from the logs and sync them?

[2020-10-13 19:36] vanpelt commented on #1357
I think if you run the sync with all the data it will eventually finish, just might take 5-10 minutes assuming you have enough ram.  For runs logged with 0.10.x and greater, this shouldn't be an issue.

[2020-10-13 19:59] nsidn98 commented on #1357
The sync did not finish even after running the sync command for an hour or so. It just stops at `wandb: Updating run and uploading files` without moving forward to the progress bar for the uploads.

[2020-10-13 20:47] vanpelt commented on #1357
Bummer, I've confirmed the "fix" I had for uploading large files was added in 0.9.5.  The relevant code that's causing issue is here:

https://github.com/wandb/client/blob/v0.9.7/wandb/apis/file_stream.py#L251

You could modify your local installation of wandb to see what's going on there.  Another thing to try would be just hard-coding the lines_per_request to something like 2 or 10.  The root ca

[2020-10-13 22:29] aclifton314 commented on #1358
The issue was because not enough iterations had happened to log anything. I am using the huggingface integration. I let my training run for longer and everything is now showing up in wandb. Closing this issue!

[2020-10-13 22:29] #1358 closed

[2020-10-14 09:22] tadej-redstone commented on #1314
@borisdayma I think PL should call `wandb.finish()` after the end of training. It's either that (with the user performing end of run logging in `on_train_end` callback method),
or
documenting that the user has to manually call `wandb.finish()` (which is not even the "correct" way of doing it, since the user would need to extract the wandb run from the `Trainer` object) in his script.

[2020-10-14 15:07] samarth4149 commented on #1287
Hi @cvphelps @tyomhak, I am on version 0.10.4 of the client and I faced a similar error which I'm guessing is network error. It happened on one of the multiple similar runs.

From what I can tell, it seems something went wrong with login/init. Can the client circumvent this without crashing? Something simple I can think about this is just allowing the user to increase the timeout, so the client ju

[2020-10-14 17:39] omry commented on #1314
@borisdayma, can you explain the interaction the wandb client has with python logging?
1. What is it achieving?
2. When does it initialize? when does it un-initialize?

The use case with Hydra is that two different jobs are running in serial in the same process (There are launcher plugins that allows them to run in parallel in different processes, but the default is serial in the same process).
Th

[2020-10-14 22:34] nsidn98 commented on #1357
The problem still persists even after upgrading wandb to 0.10.5. The command is stuck with the following output:
`Syncing: https://wandb.ai/usr_name/project_name/runs/wcq98 ...`

My system has 8GB RAM and I rand the same experiment as earlier with the latest version of wandb.

[2020-10-15 00:04] vanpelt commented on #1357
Can you share one of the problem run directories with us?  My email is vanpelt@wandb.com if it's easier to send a zip or tarball there.

[2020-10-15 00:43] borisdayma commented on #1314
Thanks @omry for the clarifications. It makes sense.
We're looking into a workaround that would not require closing the run. cc @raubitsj

[2020-10-15 06:38] zoeyuchao commented on #1247
hello, i meet the same error while using sweep module. The program can not free the GPU memory by itself, i have to clean up the GPU memory after that. And seems i can not kill the program using ctrl+c, it will print a wandb logbinfo "ctrl+c pressed" and run as normal. If I press ctrl+c twice, then the program is killed with leaked GPU memory. Any solutions on this issue? Thanks a lot.

[2020-10-15 10:21] nsidn98 commented on #1357
Have sent the folder as a google drive link on your email id.

[2020-10-15 11:09] moskomule commented on #1345
Hi, I got the same problem with 0.10.5.
When downgrading to 0.10.4, the problem disappears.

[2020-10-15 11:57] DomagojKorais commented on #1345
@moskomule could you upload the `debug.log` file, in order to compare it with mine?
Thanks

[2020-10-15 17:52] adrnswanberg commented on #1345
Hi @DomagojKorais -- does this problem also occur for you on 0.10.4? That could help narrow it down.

[2020-10-16 00:51] #1246 closed

[2020-10-16 07:23] maria-korosteleva opened #1368 "[Feature request] Treating run duration as a summary metric"
I'd like to be able to treat run duration like any other final metric, produces by the run (e.g. like a loss that I record)

Use-case example:

I'm currently running a sweep (on a single machine) over my hyperparameters. Looking at the parameter importance table w.r.t. losses makes me feel that some parameters that influence the runtime significantly are not actually of much importance to loss val

[2020-10-16 07:32] maria-korosteleva opened #1369 "[Feature request] filtering runs by summary metrics"
It would be great to extend the filtering in the run table\dashboard and allow summary metrics to be keys in filters.

Use-case:
I'm running a sweep, and want to take a closer look at the runs that perform better than a certain loss threshold.  I don't see any easy way to filter those runs only right now. (If such a way exists, my apologies, please, point it out to me!).

[2020-10-16 08:31] maria-korosteleva opened #1370 "wandb 10.x creates symlinks, which require administrator privileges on Windows"
wandb version: 10.7
Python version: 3.8.5
OS: Win 10

## Problem
Since the upgrade to wandb10.x it started to create symlinks. This is inconvenient for Windows users, as requires to run my IDE (VS Code) with administrator privileges -- few more clicks to do so.

## Traceback
[code]

## Additional comment

I'm not entirely sure, but I have a suspicion that those symlinks are related to another issu

[2020-10-16 09:58] MartinHahner opened #1371 "Can't add evaluation logs to a finished run"
It seems to be impossible to log to a run once it has been marked "_finished_".
Shouldn't it be possible to run further evaluations on a _finished_ training run?!

snipped from `eval.py`:
[code]

resulting error message:
[code]

Note:
I also encountered another issue:
                 `step = int(accumulated_iter)  # accumulated_iter sometimes is a String and WAND currently can't handle that`

[2020-10-16 10:49] gismo07 opened #1372 "overrride files with wandb.save"
During training, we are saving a snapshot of the best model and upload the snapshot to wandb.

[code]

However, only the first generated snapshot is available on wandb. I assume that wandb checks if this file already exists and does not overwrite it.

Is there any option to enable overriding?

[2020-10-16 10:58] gismo07 commented on #1372
I've tested it with a simple txt file.
It seems, that the content of the file is updated on wandb like expected, only the timestamp is not updated

[2020-10-16 11:44] janvainer opened #1373 "Missing GPU metrics after moving to another server"
Hi, we have recently moved our entire filesystem to a new provider. When we try to log our experiments with wandb, everything gets displayed correctly except for the GPU stats. Only the GPU power usage gets displayed but the rest is empty. Our GPUs have changed from Nvidia V100s to Nvidia T4s. We use wandb 0.10.7, python 3.6.9. Could you give advice on how to make this feature work? We tried reins

[2020-10-16 14:53] habichta opened #1374 "Wrong rendering of line plots on the Web Interface (missing values)"
**Environment:**
- wandb 0.10.4
- tensorflow 2.1.0
- keras 2.2.4
- Keras WandbCallback
- We are using the metrics as provided by Keras

**Issue:**
We noticed that the line plots on the W&B Web interface behave erratically, sometimes missing certain values. I have attached two pictures to show the problem. In the first picture, one can see the downward spike of val_true_negatives to almost 0 betwee

[2020-10-16 16:05] vanpelt commented on #1369
Hey @maria-korosteleva summary metrics should be available in the table filters.  After clicking the "filter" icon you can choose either hyper-parameters or summary-metrics as filters as long as the values are scalars, dates, or strings:

![image](https://user-images.githubusercontent.com/17/96281827-bd432900-0f8e-11eb-8c36-ef8a7d886281.png)

If you have a workspace where this doesn't seem to be w

[2020-10-16 16:30] #1319 closed

[2020-10-16 17:59] Zhylkaaa opened #1375 "add custom JSONEncoder"
Hi,
is it possible to add argument to enable using custom encoder to enable logging non-serializable objects?

Currently I am using simpletransformers and I am getting error when I am trying to use custom dataset passed in model parameters.

[2020-10-16 18:13] vanpelt commented on #1374
@habichta if you send us a link to the run in question we can debug the root cause.  My guess is you're actually logging NaN values where we render zeros in the chart.  You can see the raw data by using our public api to access all the data points: https://docs.wandb.com/library/api/examples#export-metrics-from-a-large-single-run-without-sampling

[2020-10-16 20:18] cvphelps commented on #1371
Hi @MartinHahner, it's best practice to use [Artifacts](https://docs.wandb.com/artifacts) to link your evaluation run to your training run. Could you use this approach to link your evaluation metrics?

[2020-10-16 20:20] vanpelt commented on #1370
A quick fix is to write the file a file directly into `wandb.run.dir` and then call save which will bypass the symlink.  In a future release we'll switch to copying instead of symlinking.

[2020-10-16 22:52] lukas commented on #1355
Hi @51616 - I implemented this for you, under grouping range pick "Samples"

![image](https://user-images.githubusercontent.com/29/96320561-9228fb80-0fc7-11eb-9a51-2377a75c084b.png)

[2020-10-16 22:52] #1355 closed

[2020-10-17 00:01] cbames commented on #1180
I'm running into a similar problem.

**Versions**
wandb, version 0.10.7
Python 3.7.9
Linux

[code]

I've tried running `wandb init` for the directory as a workaround, it did not resolve the issue.

[2020-10-17 00:17] cbames commented on #1180
after a bit more sleuthing i found a work around by changing the name of the artifact. I'm not certain why this fixed anything, but I think it might have something to do with v0 of the original artifact being the same as another artifact.

[2020-10-17 01:26] cbames commented on #1180
My workaround lasted for about an hour, and then it began to fail again, this makes me think that there is a server issue. @annirudh

[2020-10-17 06:42] rsomani95 opened #1378 "Add Native Support for Fastai Tensor Types"
[fastai](https://github.com/fastai/fastai) extends PyTorch's tensors to have custom data types like `TensorCategory`, etc. I'm not sure how exactly the WandbCallback for fastai works but I assume it converts them to PyTorch tensors when passing it to Wandb's JSONEncoders.

Do you think it makes sense to add native support for this? It would require modifying `wandb/util.py` like so:
[code]

[2020-10-17 08:46] alexmirrington opened #1379 "Sweeps grid search repeats same run config indefinitely when calling wandb.config.update"
**Known Affected Version(s):**

`0.10.7`

**Details:**
Running a grid search repeats runs with the same config indefinitely. Here is the exact config used:

[code]

Since I used enums for the dataset fields in `argparse`, I was told I should set `allow_val_change=True` in `config.update`, since the sweep was receiving the string `orl` but `config.update` was receiving `Dataset.ORL` as a value inst

[2020-10-17 15:26] JDE65 commented on #764
I tried both directly and with os.environ... it doesn't work :-(
Is there no other way ?
THX

[2020-10-17 17:37] vanpelt commented on #764
We just released wandb 0.10.7 which has support for the `WANDB_SILENT` environment variable.  You can set it in code before calling wandb.init with `os.environ['WANDB_SILENT']="true"`.

[2020-10-17 17:39] JDE65 commented on #764
Great, I'll immediately update it :-)

[2020-10-17 19:11] arunraja-hub commented on #887
I used model.fit as well. I am not getting the attribute error mentioned above. However, when I run the training with model.fit, the training metrics are logged at all. The training process is taken care by Tf+Keras without any issues but no live-logging/logging is available under the Chart tab in the WandB page. Please advise

[2020-10-17 20:28] vanpelt commented on #887
If you use the `WandbCallback` in your `fit` function you can pass `validation_data` directly to the `WandbCallback` as a keyword argument.  In older version of keras we picked this up for you automatically.  We'll look into the root cause and do this automatically for you, but until then just pass the same validation_data to the WandbCallback.

[2020-10-19 01:40] maria-korosteleva commented on #1369
Hi @vanpelt, thank you for your reply!
Indeed, I found summary metrics in filters! They were not showing in the initial list of available keys but started to show up when I  started typing something in the field. This solves my problem!
But should not summary metrics be showing up in the initial list as well?

Here is the dashboard I'm working with
https://wandb.ai/maria_korosteleva/Garments-Recon

[2020-10-19 05:18] JDE65 commented on #764
I tried and I stll get all warnings and unuseful messages :-(

And I run the same code several times in a row, I also get trouble with the conflict between init and login

[2020-10-19 07:10] GarrettLee opened #1380 "Add richer aggregation method for the table, parallel coordinates, etc."
Usually, I use the function `wandb.log` to log metrics for each step. At the end, I have a list of numbers corresponding to the metric at each step. For example:

| step | Test Accuray |
| :-----| ----: |
|0|0.1|
|1|0.3|
|2|0.4|
|3|0.45|
|4|0.43|
|5|0.4|

So, when I am trying to compare test accuracies of different runs using the various tools in wandb like table, parallel coordinates, I care most

[2020-10-19 07:22] DomagojKorais commented on #1345
Yes, I confirm it happens with 0.10.4, I just created a clean virtualenv with only wandb installed and the problem persists.

[2020-10-19 09:21] Soptq opened #1381 "Execute `wandb sync --sync-all` error"
Execute `wandb sync --sync-all` error

[code]

[2020-10-19 10:58] toshas opened #1382 "Trainer terminated with OS disk quota error - wandb hangs forever"
In an environment with limited amount of files allowed in a partition, if the trainer process terminates with an OS disk quota error, then wandb process hangs forever waiting for the trainer process. It would be great to add a wait timeout so a GPU can be released as soon as the trainer terminates, for whatever reason.
wandb client version 0.10.5 for Linux

[2020-10-19 11:06] toshas opened #1383 "Each added image is stored as a separate file to disk"
Cluster environments often restrict the number of inodes per account/mount point. For example, the cluster of my organization has a limit of 1M files that can be stored in the partition for experiment artifacts. While the tensorboard client writes all resources (such as images upon `add_image`) to pb files, wandb client seems to store every image as a separate file to disk. This implementation cau

[2020-10-19 13:25] tyomhak commented on #1373
Hey there @LordOfLuck , we're looking into this issue.

[2020-10-19 13:33] tyomhak commented on #1247
hey @zoeyuchao , is this happening to you in an older version wandb, or the latest one?

[2020-10-19 16:09] nsidn98 commented on #1357
Any update on this? I have been uploading my runs without the gradient and weight parameters using `jq` to monitor the training but I need them to debug the training procedure.

[2020-10-19 16:28] vanpelt commented on #1357
Hey @nsidn98 I haven't had a chance to look at the historic run.  Have you switched to using the latest release of wandb (0.10.7) for new training?  I *believe this issue is only present for runs logged with the 0.9.x series.  Also, why are you running sync after training, is there a specific reason you can't have the runs just log directly to the wandb server during training?

[2020-10-19 17:11] annirudh commented on #1180
Hi @cbames, I was able to reproduce your issue. It looks like the issue is that the run that published the artifact was deleted. We'll add safeguards in place to you can't delete a run before deleting the artifacts it produced, but in the meantime I'll fix up your artifact so you don't run into this issue.

Sorry about that!

[2020-10-19 17:48] nsidn98 commented on #1357
The logs I sent you were with wandb 0.10.5. The reason for running sync after training is that the cluster on which I am running my experiments on gets disconnected from the internet while running jobs for safety purposes. And hence I have to `scp` them to my local machine and then sync the runs.

[2020-10-19 19:39] vanpelt commented on #1357
Great, I've got meeting all afternoon, but I'll look at this tonight and get back to you.

[2020-10-19 21:07] cbames commented on #1180
Thanks!

[2020-10-19 22:02] annirudh commented on #1349
I think this issue is the same as: https://github.com/wandb/client/issues/1344.

@alexmirrington Could you please confirm whether or not you're still seeing the issue? We pushed a fix last week that should hopefully address this problem.

[2020-10-19 23:01] moizsajid commented on #1272
I was also facing this same problem even in version ```0.10.7.dev1```. Everything is working fine now after downgrading to version ```0.9.7``` as suggested by @ecatkins.

[2020-10-20 00:42] adrnswanberg commented on #1345
Did you also say this problem only occurs on one machine, and that you were unable to repro on another machine with the same OS/version?

The only thing that looks weird in your debug output is that, as you point out, sync takes a really long time. But the thing that takes long isn't communication with our server -- it's file uploads to directly to storage.googleapis.com. Could this machine be som

[2020-10-20 01:51] vanpelt commented on #1272
@moizsajid can you provide an example script and the versions of tensorflow / tensorboard you're using.  sync_tensorboard should be fixed for all version of tensorflow >= 1.15 in 0.10.3 so if you're still seeing it we need to address the bug.

[2020-10-20 03:21] vanpelt commented on #1357
Hey @nsidn98 I was able to finally sync the run.  The issue seemed to be due to a very large number of lines with carriage returns.  My current fix is not without issues.  For reasons not yet clear to me the single histogram that was logged to this run is not getting synced.  You can install from my branch with:

[code]

This will at least get the bulk of the data synced.  I'll keep investigating

[2020-10-20 04:57] annirudh commented on #1180
Your artifacts should work as expected now. Thanks for reporting this issue! We've taken steps to ensure users can't get into this state again.

[2020-10-20 04:57] #1180 closed

[2020-10-20 05:31] faberf commented on #563
Im having the same problem. Wandb makes some mistakes when converting from matplotlib to plotly. For example the subplot titles are missing.

[2020-10-20 07:50] DomagojKorais commented on #1345
The machine where it works runs **Ubuntu 16.04.6 LTS**, the machine were doesn't work runs **Ubuntu 20.04**.

To the best of my knowledge it shouldn't. How can I check, in order to be absolutely sure?
Thanks

[2020-10-20 16:18] vanpelt commented on #563
Currently there are 3 options if matplotlib to plotly conversion isn't working for you.

1. User our new custom charts functionality:
     https://docs.wandb.com/library/log#custom-charts
     https://docs.wandb.com/app/features/custom-charts/walkthrough
2. Convert your plots to Plotly charts explicitly and log them with `wandb.Plotly`.
3. Convert the matplotlib objects to images with `wandb.Image

[2020-10-20 16:52] vanpelt commented on #1369
Hmm, going to file a ticket for this one, we should have an infinite scroll that would make this show up in the initial list.

[2020-10-20 16:54] vanpelt commented on #764
Can you share a few examples of message you're seeing?  `WANDB_SILENT` should disable any lines beginning with **wandb: **.  You need to set this env variable before any calls to wandb api's in your script.

[2020-10-20 16:55] vanpelt commented on #1381
We have a fix for this coming in the next release.

[2020-10-20 20:33] fgvbrt opened #1395 "Overwriting old history"
Is it possible to overwrite old history with wandb. I have use-case, when my experiment diverged and I lowered learning rate and used older checkpoint to restart experiment, but wandb doesn’t overwrite history and shows me this warning:
```WARNING Adding to old History rows isn't currently supported.```

I was wondering maybe there is flag to overwrite old history (didn't find in documentation)? I

[2020-10-20 22:18] vanpelt commented on #1395
Hey @fgvbrt unfortunately the fundamental design of our current history store is immutable.  We're currently working on a new history implementation that should support this use case but it's not likely to be completed until early next year.  In the meantime, you can update the final value of any metrics logs with:

[code]

[2020-10-21 03:44] zoeyuchao commented on #1247
I tried the older versions and the latest one, still get the same issue.

[2020-10-21 10:21] tyomhak commented on #1383
Hey @toshas, that makes a lot of sense. We're looking into possible solutions for this.

[2020-10-21 10:28] tyomhak commented on #1382
Thanks for flagging this issue. We're looking into it. I would also suggest upgrading wandb to 0.10.7

[2020-10-21 10:29] tyomhak commented on #1378
@vanpelt can you please take a look here?

[2020-10-21 10:43] tyomhak commented on #1375
Not sure if it's possible right now. Asking the engineers about this.

[2020-10-21 10:51] tyomhak commented on #1379
Hey @alexmirrington ! thanks for reporting! we're aware of this issue, and we're looking into better ways of handling this.

cc @raubitsj

[2020-10-21 10:56] tyomhak commented on #1247
I see, thanks for following up. We're looking into fixing this issue.

[2020-10-21 12:05] prasannapkr opened #1398 "Wandb throws up error ""Function not implemented: wandb-metadata.json""
Hi,

I'm getting the below exception when i use wandb version 0.9.7. Basically this error shows and the training job i'm running doesn't exit and gives the following output forever

[code]

[code]

ps: I chose to install version 0.9.7 since i couldn't run with the latest version - i got the error below:
[code]

I looked for online resources but i couldn't find anything - any help is appreciated.

[2020-10-21 14:19] vanpelt commented on #1378
@borisdayma is this something we can add easily?

[2020-10-21 14:20] vanpelt commented on #1375
The next release will automatically convert any callable non-json serializable objects: https://github.com/wandb/client/pull/1384/files

[2020-10-21 14:41] borisdayma commented on #1378
Probably!

@rsomani95 The fastai tensors are not converted to Pytorch tensors but could be logged in my tests.
Are you trying to log images or something else? Do you have a colab so I understand better the issue you are having?

Also should we try to close the related fastai issue first?

[2020-10-21 15:50] Zhylkaaa commented on #1375
Looks nice 😁
Thanks, for your work ❤️

[2020-10-21 15:50] #1375 closed

[2020-10-21 18:43] rsomani95 commented on #1378
@borisdayma I was actually only trying to use the standard W&B callback with the PyTorch 1.8 nightly version. Not trying to log anything extra.

After making the changes mentioned in the related fastai issue -- specifically commenting out `_patch_tb()` [here](https://github.com/fastai/fastai/blob/8f8c629bd2da69a5d4b0d2dbb053ce5c0aa29180/fastai/torch_core.py#L324), I ran into the tensor type conver

[2020-10-21 19:36] lminer commented on #1272
I'm having this issue with tensorflow 2.3.1. Works fine if I save my tensorboard logs locally, but breaks when I log to s3.

[2020-10-22 05:55] JacobARose commented on #690
@vanpelt Your suggested solution actually demonstrates the issue I have with the docs for the jupyter extension. Neither your answer nor the docs ever mention what display() actually is, nor how to import it. Is it a wandb function? Or a jupyter function?

I'd like to try it that way since Im currently just getting a blank white rectangle instead of any wandb widgets when using

`wandb.init()`
the

[2020-10-22 07:49] Soptq commented on #1381
Thanks very much.

[2020-10-22 07:49] #1381 closed

[2020-10-22 16:17] cvphelps commented on #1398
Hi, thanks for writing in. Could you please update to 0.10.7 and see if the issue persists?

[2020-10-22 16:32] vanpelt commented on #690
Hey @JacobARose, display is a jupyter function.  You can run `from IPython.display import display`.  You shouldn't need to use this method if you're calling `wandb.init` in a cell previous to a cell decorated with the `%%wandb` magic.  If you want to call `wandb.init` later in your notebook and just display live updating stats in an earlier cell, you can do the following:

[code]

Then later in yo

[2020-10-22 16:38] kouroshHakha opened #1403 "why does wandb.restore() need a wandb.init()"
Hi, suppose I want to just download a pre-trained model for inference purposes without creating a new run via a separate script. Why do I have to create a `wandb.init()` to avoid the following error?

`wandb.errors.error.Error: You must call wandb.init() before wandb.restore()`

[2020-10-22 17:01] cvphelps commented on #1380
Hi @GarrettLee, instead of creating a new summary `max_test_acc`, you can set the value of your existing summary key `test_acc`. This is by default the last value from history, but you can overwrite it to be the max value instead.

[2020-10-22 21:02] kouroshHakha commented on #386
I also have this issue.

[2020-10-23 02:43] JacobARose opened #1407 "wandb: ERROR Error while calling W&B API: conflict detected for file digest <random number here>, rebase required (<Response [409]>)"
Hi all,

I've been seeing this warning numerous times while running experiments, but haven't been able to find any documentation of it occurring elsewhere. It doesn't crash the run, but I am concerned about potentially missed silent errors.

I feel like it could have something to do with conflicts from other runs, but as far as I can tell everything is fairly well separated by directory upon any n

[2020-10-23 02:48] JacobARose commented on #690
@vanpelt Thanks, that would explain it. My intuition said it was probably an ipython-specific function, but Ive rarely worked directly with that code so I didnt feel comfortable testing it out myself.

I believe I am doing everything you instructed but still getting this white rectangle error, is it possible I havent installed the right jupyter library? This is in jupyterlab on ubuntu.
![image](ht

[2020-10-23 12:04] Odrec opened #1408 "Sweeps with wandb 0.10.8 keyerror"
After running around 3 or 4 sweeps with some models from simpletransformers I am getting this error

[code]

[2020-10-23 12:57] samarth4149 opened #1409 "Error communicating with backend"
Hi,

Sorry for creating this as a new issue, but technically it is. I added a comment to #1287 about this, but since it is a different problem, I thought it would be best to track it in a new issue. Copying the comment from the previous thread:

I am on version 0.10.4 of the client and I faced a similar error which I'm guessing is network error. It happened on one of the multiple similar runs.

Fr

[2020-10-23 14:56] berlino opened #1410 "(Web Interface) Aggregation of bar chart does not work"
hi, there:

  I found that the aggregation option of bar chart seems not work for me. Below is a screenshot
![image](https://user-images.githubusercontent.com/2403596/97018943-a2048a80-1547-11eb-972d-003d506036e3.png)

Changing Agg to mean/min/max does not make any difference. I guess wandb is only loading the metric from the final step. But in some cases (my previous plots weeks ago), the option

[2020-10-23 15:51] stef-stripe opened #1411 "Custom Charts: Slow performance when using ROC curve preset"
A common use case I'd like to use wandb for is to store accuracy metrics across a number of experimental conditions and training bootstraps, and then compare those metrics faceted by experimental conditions, aggregating bootstraps as variance in the model performance.

I implemented a small demo of that [in this dashboard](https://wandb.ai/stef-stripe/binary-classification-2?workspace=user-stef-st

[2020-10-23 17:27] cvphelps commented on #1411
Hi Stef, thanks for reaching out and sharing an example page. I'll circulate this internally and see if we can find a good performance improvement for you.

[2020-10-23 17:53] EdwardBurgin commented on #597
Came with the same question in mind, any update or resolution for us to this?

[2020-10-23 18:28] jdanbrown commented on #1411
+1 I'm a teammate of @stef-stripe at Stripe. Our ML org at Stripe is evaluating wandb and comet.ml to complement some of our internal model training and evaluation tooling, and our first impressions of wandb are very positive in terms of feature set, functionality, and especially viz customizability, except for this very-slow-UI issue. Currently it looks like a total blocker for us proceeding with

[2020-10-23 18:30] jdanbrown commented on #1411
Another observation: loading this page pegs ~100% of a core (2019 Macbook Pro) in both Chrome and Firefox. That seems likely a bug on its own? Hopefully easier to investigate and potentially fix than "general slowness".
- https://wandb.ai/stef-stripe/binary-classification-2?workspace=user-stef-stripe

[2020-10-23 18:59] cvphelps commented on #1411
Hi @jdanbrown @stef-stripe, could we hop on a call on Monday? Would love to get this working well for you — my email is carey@wandb.com

[2020-10-23 19:03] #1354 closed

[2020-10-23 20:14] cvphelps commented on #1409
Hi Samarth, could you help us reproduce this? Could you share info about your OS, environment where you're running the script, and a sample script we can use? If you have any other debug files that would be helpful as well.

[2020-10-23 20:16] cvphelps commented on #1408
Thanks for reporting this. My colleague @farizrahman4u is taking a look

[2020-10-23 20:19] cvphelps commented on #1407
Hi there, I've never seen this error, could you share your debug.log and debug_internal.log from the wandb directory?

[2020-10-23 20:19] cvphelps commented on #1407
May I ask, what integrations from W&B are you using? Are you using a framework integration? Artifacts?

[2020-10-23 20:22] cvphelps commented on #1403
Hi there, it normally shouldn't require wandb.init(), thanks for reporting this. Could you share a code snippet or more info so we can repro?

[2020-10-23 20:27] annirudh commented on #1407
This error occurs if the following sequence of steps occurs:

- Run 1 is committing to artifact `A` a file `file.txt` with digest `ABC`.
- Run 2 is committing to artifact `A` the same file `file.txt` with a different digest `DEF`.
- Run 1 commits
- Run 2 commits, but there's a conflict since it's trying to overwrite `file.txt` without being aware of Run 1's commit.

Our plan was to have the CLI au

[2020-10-23 20:34] lukas commented on #1403
The command line wandb restore is an easy way to get a pretrained model but your point is valid we should not require wandb.init() before wandb.restore(). @vanpelt actually has a todo from three months ago to fix this.

[2020-10-23 20:34] cvphelps commented on #1379
Hi there, what's going wrong is that you're changing a sweep parameter, so our plan for this is to lock all sweep parameters so they can't be accidentally overwritten. We'll change the error message to say "You can't change this config parameter because it's part of the sweep. If you want to save a new copy you need to use a new key in config"

[2020-10-23 22:06] shawnlewis commented on #1411
Hi folks, we just pushed a fix that improves the page behavior. Custom charts are new, there was an over-zealous rendering bug. There's plenty more to optimize beyond this.

Can you try refreshing the pages and let us know if this first improvement helps?

As Carey said, we've love to talk on Monday.

[2020-10-23 22:15] cvphelps commented on #1410
Hi there, it looks like grouping isn't on for these bar charts. The aggregation works across summary metrics, so summary values from multiple different runs. It doesn't work for aggregating values across a time series for a metric from a single run. Is that what you were expecting?

[2020-10-23 23:06] stef-stripe commented on #1411
I definitely see an improvement, load times and interface elements on the page are more responsive (say ~1s latency vs ~5s latency on scrolling, hovering, clicking) much better but still very delayed and noticeable. I'm still seeing CPU usage for the tab at 100%.

[2020-10-23 23:14] cvphelps commented on #1411
Thanks @stef-stripe, could you please shoot me an email at carey@wandb.com so we can talk next week?

[2020-10-23 23:23] vanpelt commented on #1403
I have a fix for this in: https://github.com/wandb/client/pull/1413

[2020-10-23 23:28] jdanbrown commented on #1411
🎉 Awesome, thank you!!

@shawnlewis Are you able to repro @stef-stripe's 100% cpu behavior on your end? That seems like a (fixable) bug that hopefully is at the root of stef's "but still very delayed and noticeable" observation.

[2020-10-24 00:20] shawnlewis commented on #1411
I don't see 100% cpu usage, it spikes up to 50% every few seconds. But there is plenty more that we'll fix here to make this fast. You can turn off "auto refresh" if you click your profile picture, that should get rid of the pegged cpu issue for now.

[2020-10-24 03:52] alexmirrington commented on #1379
Hi @cvphelps, that change sounds good, as I found it a little misleading given `wandb.config.update` works well for regular runs but not sweeps. Cheers for the help!

[2020-10-24 11:04] berlino commented on #1410
Hi, @cvphelps Thanks for the response!

[2020-10-24 11:25] sheffier opened #1420 "Sweep configurations"
Hi I have two questions regarding sweeps:

**1. Is it possible to re-configure a sweep?**

Consider the following simple example:

- I have a single hyperparameter - `learning_rate`.
- I create the following sweep configuration YAML file (named `wandb_conf.yaml`):
[code]
- I create a new sweep using the following command: `wandb sweep wandb_conf.yaml`
- New sweep is created with ID `SWEEP_EXAMPLE_

[2020-10-25 01:34] xukai92 commented on #1302
I also meet the same issue.

[2020-10-25 11:37] carloalbertobarbano opened #1421 "Wrong int cast for min and max values of parameters"
I have the following yaml configuration for some parameters:

[code]

However, when generating a new sweep with the wandb CLI they are casted to int. From the web interface I can see

[code]

And so the values are sampled from an integer distribution, instead of a float uniform. Is this a bug or am I missing something?

[2020-10-25 17:36] vanpelt commented on #1302
This is an issue with your terminal not supporting UTF8 characters in our output.  We should detect this case, but in the meantime, setting the following in your terminal should fix this:

[code]

You can add this to your `~/.profile` or `~/.bash_rc` if you're on linux or mac.  What OS are you guys using?

[2020-10-25 18:09] fteufel commented on #1302
hi @vanpelt ,
Thanks for figuring out the problem!
Had this error on Scientific Linux 7.7 (Nitrogen). Will give the workaround a try next time I need it.

[2020-10-25 18:59] SinclairHudson opened #1424 "`wand on` and `wandb off` fail with TypeError"
I've set weights and biases off with `wandb off`, but coming back to it now I can't turn it back on. It seems I can't run any wandb commands from the CLI.
Setup:
Python 3.8.5
Ubuntu 20.04
wandb-0.10.7
In a conda environment with conda 4.9.0

![image](https://user-images.githubusercontent.com/30478652/97116259-69dd8300-16d2-11eb-979c-0b2ed66763e1.png)

[2020-10-26 06:12] alexmirrington opened #1426 "Custom Charts: Dropdowns only contain fields from the first of multiple SummaryTables."
**Summary:**

When querying multiple SummaryTables in custom charts, only the keys for the first table in the query are displayed in the drop-down menu.

**Context:**

I am creating a graph of node and edge connections to visualize attention weights in my graph attention model. Given the graph has _n_ nodes, it is well known that it could have up to _O(n^2)_ edges. It is therefore very inefficient

[2020-10-26 11:43] tyomhak commented on #1420
Hey @sheffier ! Thanks for using the sweeps!

Regarding your first question:
As far as I know you can't reconfigure a sweep that has already been started.
You can reconfigure it if you have set an incorrect configuration, but have not run agents yet.

@raubitsj can you please help with the second question.

[2020-10-26 11:49] tyomhak commented on #1421
hey @carloalbertobarbano, I think this might be a bug. Can you share the link to this sweep? My mail is artyom@wandb.com

meanwhile as a workaround you could manually set the distribution to be float uniform, as described in the docs [here](https://docs.wandb.com/sweeps/configuration#parameters).

[2020-10-26 11:51] tyomhak commented on #1424
Hey @SinclairHudson , thanks for reporting.

@raubitsj @vanpelt can you please take a look?

[2020-10-26 13:02] carloalbertobarbano commented on #1421
Unfortunately it is a private project, but it should be easily reproducible. Meanwhile, I will explicitly specify the distribution type, thanks for the feedback!

[2020-10-26 13:26] tadej-redstone opened #1427 "Support Hydra in sweeps"
It would be great if applications configured to run with hydra could be used in sweeps. Right now the problems is that when expanding `args`, wandb prepends double dashes, as stated in documentation

Hydra would require the expansion to be

I think this could be easily added as an option in sweep configuration.

[2020-10-26 14:28] tyomhak commented on #1426
Hey @alexmirrington, thanks for flagging this. We're looking into it.

cc @shawnlewis

[2020-10-26 14:40] jgsimard commented on #1297
Any update on this?

[2020-10-26 16:56] vanpelt commented on #1297
Hey @jgsimard can you share a little more about your use-case?  By default we sync metrics in real time.  Running in offline mode is intended for situations where you don't have network access or when you want to push metrics into a wandb server on completion.  What specific issue are you hitting currently?

[2020-10-26 17:03] vanpelt commented on #1427
Hey @tadej-redstone you can do this with the current release, you'll want to specify a custom `cmd` in your sweep yaml as described here: https://docs.wandb.com/sweeps/configuration#command.  You can replace `${args}` in the default command with `${args_no_hyphens}`.

[2020-10-26 17:04] #1427 closed

[2020-10-26 18:03] jgsimard commented on #1297
@vanpelt My use case : I am running jobs on a cluster using slurm, and the computing nodes don't have internet access. What I do now is run the jobs on the computing nodes offline, wait for it to finish and then upload the results using a node that has internet access. If I could sync from the node that has internet access while the computing node is writing to the logs it would be great!

[2020-10-26 18:48] borisdayma commented on #1139
Hi,

Here are some examples for running sweeps:
- with a script: [lightning-kitti](https://github.com/borisdayma/lightning-kitti)
- with a colab or jupyter notebook: see at the end of [this colab](https://colab.research.google.com/drive/16d1uctGaw2y9KhGBlINNTsWpmlXdJwRW?usp=sharing)

[2020-10-26 18:52] borisdayma commented on #1059
Hi,

These issues should now be solved.

Here are some examples for running sweeps with pytorch-lightning:
- with a script: [lightning-kitti](https://github.com/borisdayma/lightning-kitti)
- with a colab or jupyter notebook: see at the end of [this colab](https://colab.research.google.com/drive/16d1uctGaw2y9KhGBlINNTsWpmlXdJwRW?usp=sharing)

Let me know if you still run into any issue.

[2020-10-26 18:54] tadej-redstone commented on #1427
Thanks! Don't know how I missed that 🙃

[2020-10-27 02:10] alsuhr-c opened #1431 "Suppressing the run summary generated when a wandb process finishes?"
Hi,

I have to write my code to handle both multiprocessing (ray) and without multiprocessing, and I believe the easiest way to use wandb for this is to wrap all calls that use wandb in a context manager, e.g.,

[code]

However, every time the context ends, wandb prints the run summary, with a huge number of metrics printed to the console. Can I suppress this summary in some way?

[2020-10-27 02:19] alsuhr-c commented on #1431
Actually, even this doesn't work for what I am trying to do. It creates a new run in the wandb client for every call to wandb.init. Is there any way for me to log to a single run using this approach?

[2020-10-27 12:09] Masum06 commented on #1053
This solved for me. Thanks @borisdayma!

[2020-10-27 17:59] vanpelt commented on #1431
Hey @alsuhr-c yep, setting your own globally unique run id with `wandb.util.generate_id()` or just storing the result of your first wandb.init call will allow you to start the second run by setting `wandb.init(id=stored_id, resume="allow")`.  Assuming these scripts run serially and not in parallel.  To suppress output of summary information set the environment variable WANDB_SILENT=true

https://d

[2020-10-27 18:01] vanpelt commented on #1053
The error in this thread seems to be connected to "removing the wandb director".  @borisdayma what error were you referring to here?  Is this still an issue?

[2020-10-27 18:09] lukas commented on #358
I think this a perfect use case for our custom vega plots

[2020-10-27 18:09] #358 closed

[2020-10-27 19:11] pclucas14 opened #1433 "feature request : debug mode"
Hi,

I'm a big fan of your library! It would be even better if there was a way to completely bypass wandb when I'm debugging. More specifically, sometimes I'm trying stuff that **I know I will not want to upload later**. If there was a way to avoid the `wandb` overhead by essentially doing as if I had commented out all wandb lines, that would be great! Hope this makes sense.

Thanks,
Lucas

[2020-10-27 19:43] borisdayma commented on #1053
I've not seen it anymore with the latest wandb version.
I think it can be closed.

@minhtriet can you confirm this doesn't happen anymore for you as well?

[2020-10-27 20:38] lukas commented on #1433
Thanks! Does the command wandb off or equivalently setting WANDB_MODE=dryrun not work for you?

[2020-10-27 20:45] pclucas14 commented on #1433
so `wandb off` works well! The issue is if I say `ctrl-c` my current debugging session, instead of the program terminating directly, wandb takes some extra time to terminate (to save some results and gracefully exit I assume), which is annoying when you are repeatedly running and cancelling jobs.

This is a very "diva" request, as the added overhead is `~3 sec` . But it would be even better if the

[2020-10-27 23:25] vanpelt commented on #1433
Hey @pclucas14 `wandb off` still syncs all metrics locally.  In the next release we're going to have `wandb disabled` which will completely disable wandb which sounds more like what you would want here.

[2020-10-27 23:55] pclucas14 commented on #1433
Great! looking forward to it :)

[2020-10-27 23:55] #1433 closed

[2020-10-28 10:05] berlino commented on #1410
I figured it out that I need to write the info using wandb.run.summary.

[2020-10-28 10:05] #1410 closed

[2020-10-28 11:59] alexmirrington commented on #1420
To add to the answer to the first question, you can also create a second sweep from the web UI that uses runs from other sweeps as "prior runs". The parameter search method (grid, Bayesian, etc.) will use these runs when determining which parameter configurations to use next.

[2020-10-28 16:05] alsuhr-c commented on #1431
Is `resume="allow"` necessary for this? It seems like I can get the same behavior without this flag -- just want to make sure it is necessary?

On the answer to my other question -- thanks!

[2020-10-28 16:33] vanpelt commented on #1431
Resume will ensure future calls to `wandb.log` have the appropriate "step" associated with it.  Without it, calls to `wandb.log` will begin at 0.

[2020-10-28 18:55] shawnlewis commented on #1411
@stef-stripe We just deployed a handful of other improvements. The cpu usage issue is fixed, and there are a bunch of other improvements.

Your Vega charts each take about 2s of cpu time to render. There's no low-hanging fruit for reducing that render time. But now we'll only render them once when needed, which makes the UI much more usable.

Can you take a look at let us know how you feel?

[2020-10-28 20:55] alsuhr-c commented on #1431
Ah I see, thanks. I am explicitly setting the step index whenever I log to wandb, so this is why it has worked.

[2020-10-28 20:55] #1431 closed

[2020-10-28 23:33] evincent-lyft opened #1437 "Unexpected behavior when discarding draft edits to report"
When I start to edit a report, and thus create a "draft" with my WIP edits, then I discard the draft, the following unexpected behavior occurs:

1. the report URL is modified (the report ID at the end of the URL, specifically) -- this breaks any links I have shared to the report previously, even though the report content is unchanged
2. I am redirected to the project folder, not to the published c

[2020-10-29 00:26] adrnswanberg commented on #1345
Hi again, apologies for the delay. If you don't have any content hosted with google cloud storage yourself, you could try using our API to download a file from a previous run onto the affected machine (here's an example of how to do that: https://docs.wandb.com/library/api/examples#download-a-file-from-a-run). Of course, that won't exactly tell us about any upload issues, but it's a start.

[2020-10-29 00:38] cvphelps commented on #1437
Hi there Eric, thanks for reaching out about this. I'm cc'ing my colleague @Xyzrr who can help talk you through this interaction — getting the wrong link is definitely not our intention.

![create and discard a draft](https://user-images.githubusercontent.com/6355078/97511455-60f3e800-1944-11eb-9590-7f1415b28c7e.gif)

[2020-10-29 01:02] evincent-lyft commented on #1437
Ah I just tried to reproduce this and also found that the URL was not updated. I think I misunderstood the behavior for item 1: I didn't realize that draft reports had different URLs than the main report, so I think I shared a link to a draft (minus the "/edit" part of the URL), which later broke when I deleted the draft.
* side note: going to the URL of a draft without the "/edit" part of the URL

[2020-10-29 01:30] cvphelps commented on #1368
Hi Maria, thanks for sharing this feature request. To clarify, the specific feature you'd like is to be able to select the run duration as a target metric in the parameter importance panel. Is that right?

[2020-10-29 06:20] cvphelps commented on #1437
Thanks Eric, that's very reasonable. Appreciate the suggestions here on making reports more clear

[2020-10-29 12:17] thomasjo opened #1439 "Implement a tag management user interface"
_NOTE: I'm opening this feature request here as requested by @lukas after a brief interaction on Twitter._

## Description

The tag feature currently implemented on [wandb.ai](https://wandb.ai) is very useful for keeping lots of experiment runs organized. I personally use this for tracking which datasets, partitioning schemes, and similar were used for individual runs. The type of information that

[2020-10-29 18:09] cvphelps commented on #1439
Hi Thomas, thanks for the thoughtful and well-documented feature request. This is a good idea for an enhancement. It sounds like the key requirements are:
- Delete a tag from the list, removing it from all related runs
- Rename a tag, updating it everywhere
- Change the color of a tag manually

[2020-10-29 18:50] thomasjo commented on #1439
@cvphelps Thanks for summarizing my feature request as a list of actionable items. Your summary is perfect.

[2020-10-30 01:51] maria-korosteleva commented on #1368
Hi @cvphelps!
No, what I wanted is the other way around:

1. Select duration as a target metric
2. See how my hyperparameters have an effect on this metric (e.g. larger number of Conv layers -> longer training?)

Something like this. But your understanding also sounds interesting, actually 🤔

[2020-10-30 08:44] mohamedr002 commented on #1370
I have a similar problem can you please clarify more about this fix of wandb.run.dir

[2020-10-30 08:51] Shreeyak opened #1443 "If a run is deleted in the web dashboard while its running, run hangs without exiting"
I deleted a run while it was still running (from the web dashboard). I expected a kill cmd to be sent to the process, or for the process to discover that the server-side run had been deleted and hence exit. However, it just printed an error and got stuck, not progressing. Here are my logs:

[code]

I had to attach to my process and give SIGINT ( ctrl+c ) for the process to exit. At this point, it

[2020-10-30 08:54] cvphelps commented on #1443
Hi Shreeyak, thanks for reporting this. I suggest pressing the "stop" button in the project page sidebar run menu.

## Project page sidebar run menu
![image](https://user-images.githubusercontent.com/6355078/97679697-d3eb8480-1a52-11eb-821d-1e09cfe756c8.png)

[2020-10-30 08:57] cvphelps commented on #1443
Thanks for reporting this, we should not hang forever.

To stop a run from the UI, click the "stop" button on the run overview tab
![image](https://user-images.githubusercontent.com/6355078/97679964-32186780-1a53-11eb-8d8b-75e8e46dec9f.png)

[2020-10-30 09:02] Shreeyak commented on #1443
Thanks for the tip! I did click on the stop button, but it was taking too long. So I just deleted the run, thinking it'll shut down on its own as a consequence.

[2020-10-30 15:29] vanpelt commented on #1370
Hey @mohamedr002 we'll be releasing a version of the library on Tuesday of next week that fixes this issue in windows.  Regarding wandb.run.dir:

[code]

Will copy a file to the wandb directory which is automatically synced and would bypass he symlink issue.

[2020-10-30 20:20] cvphelps commented on #1424
Hi Sinclair, could you share more about your environment setup? This is working properly for me, if you could share a backtrace then maybe we can figure this out

[2020-10-31 03:54] alexmirrington opened #1446 "Custom Charts: Export Panel Feature"
**Description:**

I would love to see the ability to export custom charts from the web UI.

**Details:**

I imagine the implementation would be similar to the export functionality of existing charts. At the very least, I would like to see PNG exports at various resolutions. Currently, I have to take a screenshot of the chart at its native browser resolution in order to put it in a latex report. If

[2020-10-31 17:23] alsuhr-c opened #1447 "wandb is leaking file pointers?"
In my code, I am creating and closing wandb loggers to different projects (I have multiple training pipelines running at the same time). I noticed that wandb seems to be leaking open files. This is causing problems with my code because at a certain point there are too many open files so the job is killed.

Here is a script which replicates this problem:

[code]

If I run with `WANDB_SILENT=true py

[2020-10-31 17:54] alsuhr-c commented on #1447
I think the problem is that in the `finish` function for a run (here: https://github.com/wandb/client/blob/7a374ef36a6e22e0de198b4812afe9fc3b286110/wandb/sdk/wandb_run.py#L1012), while the handlers are removed from the logger (one of the teardown hooks, set here: https://github.com/wandb/client/blob/7a374ef36a6e22e0de198b4812afe9fc3b286110/wandb/sdk/wandb_init.py#L191), the handler is not actually

[2020-11-01 00:28] SinclairHudson commented on #1424
Ok. I did some more digging. If I run
[code]
Then I get the error pictured above. However, if I instead install `wandb` with `pip`, `pip3 install wandb`, it works fine.
So the good news is that I'm unblocked, and I hope this can be a helpful clue. If you need any specific environment setup information, I'm still happy to provide it.

[2020-11-02 08:24] tyomhak commented on #1447
Hey @alsuhr-c , thanks for reporting and looking into it!
@vanpelt  @raubitsj can you please check this out?

[2020-11-02 08:32] tyomhak commented on #1446
Hey @alexmirrington , thanks for the feature request! I'm filing an internal ticket for this feature.

[2020-11-02 16:05] miraodasilva opened #1450 "Overwriting sessions"
Hi,

I would like to experiment with my code, running it multiple times in a row while debugging/tuning it  without creating a single session for every run, instead having one session that keeps getting overwritten every time, to avoid spamming the project with lots of sessions.

I used to do this on visdom easily by always using the same name for my env and clearing it in the code automatically.

[2020-11-02 17:18] vanpelt commented on #1447
@alsuhr-c a PR would be great.  We can just add the handler.close before removing the handler in the existing hook.  Be sure to run `make test` after changing the files so that we properly generate `wandb_init.py` in the `sdk_py27` directory.

[2020-11-02 17:24] vanpelt commented on #1450
Hey @miraodasilva we're working on a "disabled" mode that can be used for debugging scenarios where you don't actually want to create a new run in wandb each time.  That should be released later this week.  If you really do want to create a run in wandb during debugging, I suggest setting a unique id via an environment variable and using it in your calls to wandb.init.  i.e.

[code]

[2020-11-02 21:55] jsrozner commented on #493
I believe I am having a similar problem.

`wandb.init(project="my_project", dir=./save/, sync_tensorboard=True)`
tensorboard summary is also written to the same dir. I am using `tensorboardx.summarywriter`

Tensorboard when run locally shows all the metrics.

But metrics do not appear on wandb for any runs.

torch 1.7.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensoboardX==2.1

[2020-11-03 03:28] 6etacat opened #1453 "[BUG] Data Loss in Visualization"
Data loss happens when graphs get updated. A hacky fix is to click the edit button and it may be refreshed. However, this fix does not work when the run is finished. This seems to be more likely when more data is logged.

Example:
![image](https://user-images.githubusercontent.com/15188392/97942195-229a6680-1d52-11eb-9292-79377f6e417e.png)

[2020-11-03 16:14] tyomhak commented on #1453
Hey @6etacat , thanks for reporting. We're looking into this.

[2020-11-03 16:30] vanpelt commented on #1453
Hey @6etacat for performance reasons we randomly sample more than 5k data points to 5k data points in the UI.  The data is still stored and the full resolution data can be accessed via our api with the `scan_history` method: https://docs.wandb.com/library/api/examples#export-metrics-from-a-large-single-run-without-sampling

[2020-11-03 16:30] #1453 closed

[2020-11-04 06:32] maria-korosteleva opened #1456 "Model description is not fully displayed on the Model tab in run pages"
wandb version: 10.0.7
OS: Win 10
Python: 3.8
DL Library: PyTorch

In the table representation of a model on the Model tab in Run web-interface, values in Type and #Parameters columns are cut and not fully visible (at least when a simple table view of the model is used).

Sometimes I need to refer to some specific settings in the model definition used in a run, and this Tab could be very useful.. w

[2020-11-04 06:40] cvphelps commented on #1456
Hi Maria, good point and thanks for the example link! We can make this more obvious but for the moment, if you hover the mouse over the `...` you can see a tooltip with the full list.

<img width="1378" alt="Screen Shot 2020-11-03 at 10 39 27 PM" src="https://user-images.githubusercontent.com/6355078/98077682-8cd00b80-1e25-11eb-921b-c48f7f0fe4ab.png">

[2020-11-04 07:48] parasj opened #1457 "On wandb 0.10.8, wandb sweep agent returns JSON TypeError"
Operating System: Ubuntu 18.04.4 LTS
Kernel: Linux 5.4.0-40-generic
wandb version: 0.10.8
Python version: Python 3.8.6

Problem: When launching the wandb sweep agent, I receive a JSON TypeError. I do not receive this error in wandb client version 0.10.7.
[code]

[2020-11-04 11:02] pauli31 commented on #660
Any solution?

[2020-11-04 11:20] maria-korosteleva commented on #1456
Hi @cvphelps!

Yes, I know the trick too! But some text does not fit into hover-over either (try with feature_extactot + Type cell). I once had to look into the page source to get to the value I wanted to check xD

[2020-11-04 13:40] samarth4149 commented on #1409
Hi I'm sorry I have been quite busy to gather these. It has happened on multiple linux machines randomly and even on version 0.10.8 of the client.

I might be able to find consistent scenarios under which this occurs later, but for now the stack trace I provided above is all there is to it.

[2020-11-04 15:53] Hyper5phere commented on #753
I think this would be a very useful thing to have. It would be absurd to request the user the rerun his/her multiple days long training session just to get the grouping right. Some people want to keep things well organised, which is likely the very reason they started using wandb in the first place.

[2020-11-04 16:05] vanpelt commented on #660
Hey @pauli31 this should be fixed in the 0.10.x series of the library.  What version of the library are you using and what specific error are you seeing?

[2020-11-04 16:20] pauli31 commented on #660
I'm using 0.9.6
this is the error I'm getting : socket.timeout: timed out

Traceback (most recent call last):
    .............
    wandb.init(project="XXXX",name=args.config_name, config=vars(args), reinit=True)
  File "XXXXX/lib/python3.7/site-packages/wandb/__init__.py", line 1280, in init
    _init_headless(run)
  File "XXXXX/lib/python3.7/site-packages/wandb/__init__.py", line 313, in _init_h

[2020-11-04 16:21] pauli31 commented on #660
I'll try to update the version

[2020-11-04 17:15] hal-314 opened #1458 "Wandb creates unwanted cell outputs in jupyterlab"
Hi

I notice that when I using wandb client in jupyter lab, I get cell outputs that I don't want, are quite big and I can't remove them. They make reading notebooks difficult. I get this behaviour with `wandb.init()` and `wandb.run.finish()` as you can see:

![Screenshot 2020-11-04 at 18 05 23](https://user-images.githubusercontent.com/22135069/98142893-b68e3e80-1ec8-11eb-90bb-e20dbd0f5c9c.png)

!

[2020-11-04 17:17] cvphelps commented on #1458
Hi there @hal-314 thanks for reporting this! Great point, there should be a feature for silencing W&B output coming soon 👍

[2020-11-04 17:20] alsuhr-c commented on #1447
I can create a PR for this but I found another issue where something similar is happening. I am getting an error that too many files are open for this call (this has happened consistently across several runs):

https://github.com/wandb/client/blob/e9b843e0e2da88b5edf9e4d54a347eceff0489ff/wandb/sdk/backend/backend.py#L81

It is specifically crashing on this line in the multiprocessing library, whic

[2020-11-04 18:11] 6etacat commented on #1453
I'm wondering how I will be able to visualize things normally? This happens to data charts that have very few data points as well. I can't work with a graph like this, and I have no way to make it look normal again. Sure I can extract the data and visualize it with matplotlib or some other tool, but then what's the point of using wandb anymore?

![image](https://user-images.githubusercontent.com/1

[2020-11-04 21:27] alsuhr-c commented on #1447
I'm not sure if this is related, but I am getting an error where when I kill my own process, it gives me an error in the traceback:

[code]

[2020-11-05 00:15] lminer opened #1461 "wandb python not syncing when tensboard logging to s3"
I'm only getting learning rate information logged when using wandb with tensorboard, when I'm logging to an s3 bucket. I'm not getting any of my metrics or losses.

I'm running an EC2 ubuntu 18.04 deep learning instance with TF 2.3.1 and wandb 0.10.8. Works fine when I log locally.

[2020-11-05 06:07] Yannik1337 opened #1465 "Suggesting keras callback to handle tf.Dataset"
I currently use a TF dataset.
If I want to log gradients, I have to supply training data to the WandbCallback() in (x, y) tuples. I thus save (some) batches of my training set prior to the run as a numpy array to file, and load them "into" the callback.

As an easier solution, I suggest the callback to accept a tf.Dataset as input for training data.

[2020-11-05 18:34] MrCull opened #1466 "The README file in this repo has some bad links - [404:NotFound]"
The README file in this repo has some bad links - [404:NotFound]

The markup version of the readme that is displayed for the main page in this repo contains the following links:
Status code [404:NotFound] - Link: https://docs.wandb.com/frameworks/keras
Status code [404:NotFound] - Link: https://docs.wandb.com/frameworks/pytorch
Status code [404:NotFound] - Link: https://docs.wandb.com/frameworks/t

[2020-11-05 19:35] miraodasilva commented on #1450
I see, does this mean that I should use the same ID every time? If so, I am fairly confident that this does not overwite the session correctly. If I use the same ID nothing is logged to the previously created session with the same ID. Ideally, I would like to clear it and see the new datapoints. Thanks a lot for your time.

[2020-11-05 23:04] vanpelt commented on #1450
Specifying the the RUN_ID will use the existing ID and not create a new "run" in the system.  Do you have an example of this not happening?

[2020-11-05 23:10] miraodasilva commented on #1450
Indeed, a new run is not created but I cannot visualize any of the new data points on the plots. I apologize if I am not being clear in my explanation.

Basically, code run A creates wandb run with ID 1 and I can visualize the new loss in the plots as it is updated in the code. When I run it again, I start code run B with the same ID (1). No new wandb run is created, but in run 1 I can only see th

[2020-11-05 23:13] vanpelt commented on #1450
Ah I see, it's because of the `step` counter in your log calls.  What you actually want to do here is set `resume="allow"` and then we'll append any new metrics to the old run.  We don't support overwriting existing metrics currently, only appending.  In a future release we may support overwriting old data.

[2020-11-05 23:18] miraodasilva commented on #1450
I see, thanks a lot for your answer. As I thought, there does not appear to be a way to do this. There is no way to delete runs from API yet, right? I saw an issue about it but it never gained any traction from what I can gather https://github.com/wandb/client/issues/702 . If there was a way to do this, I could just use the env var as a counter, which would keep track of the ID of the previous run

[2020-11-06 01:42] bahrkd commented on #1409
I get into this problem as well while using DDP with pytorch lightning

[code]

[2020-11-06 03:04] lim0606 commented on #1297
Any update on this? (the same usage case of @jgsimard)

[2020-11-06 04:42] maria-korosteleva opened #1469 "New Artifact display page: versions of the current artifact are hard to access"
This change seemed to happen during the last few days.
On the artifact page, in the column that used to contain the list of versions of the current artifact, there is a list of ALL artifacts of the same type. The currently opened artifact is not highlighted and could as well be on the bottom of the page (the new ones are at the end of the list).

![image](https://user-images.githubusercontent.com/

[2020-11-06 05:35] cvphelps commented on #1469
Hi Maria, great point thank you! We'll flip the order these are sorted by

[2020-11-06 09:25] hechmik commented on #1409
Hi, I just experienced the same issue described by @samarth4149 and @bahrkd after upgrading wandb from 0.10.8 to 0.10.9 on a Machine with `Ubuntu 18.04.4 LTS (GNU/Linux 4.15.0-118-generic x86_64)` .
It happens just after launching the init instruction, even using something simple as:
 `wandb.init(name='test', project='my_proj')`
Simply downgrading it using `!pip install --upgrade wandb==0.10.8` so

[2020-11-06 09:31] maria-korosteleva commented on #1469
@cvphelps Thank you!
This will help in many cases, but it's not a perfect solution either. Imagine I choose to open the artifact from the middle of the list -- then it will still be hard to figure out where to look for versions.
Why was the previous solution given up on?

[2020-11-06 14:17] stathius opened #1471 "Weights are not logged when model is watched"
The gradients of the model are indeed logged but not the parameters.

Using:
pytorch-lightning==1.0.4
torch==1.7.0
torchvision==0.8.1
wandb==0.10.9

mac os x 10.15.7

[code]

[2020-11-06 14:20] tyomhak commented on #1457
Hey @parasj , can you update wandb to latest version, and check if this error persists?

[2020-11-06 14:21] tyomhak commented on #1461
Hey @lminer , can you please update to latest wandb version, and check if the issue persists?