[2021-08-02 09:28] diegoquintanav commented on #1912
Hi @vanpelt, please check #2486. In any case, from the functionality described, I think that OP was referring to the artifacts folder and not the cache folder (at `~/.cache/wandb` for example). That folder has only md5 files as I see.  Moreover, if I specify root in download(), I won't have the same folder structure that I get _without_ specifying root. I think the functionality could use some wor

[2021-08-02 15:20] AyushExel commented on #2482
@besbesmany YOLOv5 has built-in support for W&B sweeps. Follow the instructions [here](https://github.com/ultralytics/yolov5/issues/607), once [this PR](https://github.com/ultralytics/yolov5/pull/4276) is merged.

Also, for better visibility, it is recommended that you ask YOLOv5 related questions on Ultralytics github so I can bring in the maintainers of the repo to answer questions/address featu

[2021-08-02 15:39] vanpelt commented on #2484
Very strange.  It's almost like we're losing your credentials for the second call to `wandb.init`.  Are you able to share your code or psuedo code so we can reproduce.  Can you also try running `pip install --force wandb==0.11.0` and see if the error still persists?

[2021-08-02 15:45] vanpelt commented on #2472
Hey @maxhuettenrauch we "batch" up the calls automatically for you.  When you call `wandb.log` we add an event to a queue which our process (which is independent from yours) processes and batches up api calls to our servers every N seconds.

[2021-08-02 15:54] maxhuettenrauch commented on #2472
I see, thanks. The reason why I thought I should take care of this myself is the following output in my log files

[code]

But maybe that's caused by the system my code is running on instead of wandb?

[2021-08-03 06:13] cvphelps commented on #2382
@nero1342 I actually think this is a great case for our new feature, Tables, which allows you to log rows of examples with columns for sample - prediction - ground_truth

Tables Docs: https://docs.wandb.ai/guides/data-vis

Sample screenshot:
![image](https://user-images.githubusercontent.com/6355078/127966805-04ce8a64-2395-4af0-a872-bf6efa868c74.png)

[2021-08-03 06:13] #2382 closed

[2021-08-03 06:23] maxhuettenrauch commented on #2472
Yeah, I do have many running in parallel. Trying to keep it at below rate limit levels :)

[2021-08-03 10:49] alexus37 opened #2489 "[CLI] Cannot unmarshal string into Go value of type map[string]interface. Program does not terminate"
**Description**
With the newest version of wandb (0.11.2), the process is getting stuck after the training is finished with the following error message.

[code]

**Wandb features**
I am using this [template](https://github.com/ashleve/lightning-hydra-template) with artifacts and log calls.

**Environment**
- OS: ubuntu 20
- Environment: python script
- Python Version: 3.7.10

[2021-08-03 12:57] stathius opened #2491 "[CLI] Syncing fails with 1062"
I have deleted a previous run and try to resync it from my local folder but get the following error:
[code]

I've seen in other answers that with the API you can use the `resume=allow` flag, but how can you do that in CLI?

[2021-08-03 14:02] yaroslavvb opened #2492 "[Feature] Network usage graphs"
Could you add a way to monitor network usage to system metrics? (assuming this hasn't yet been done)

(our old project had to hack around it by [grepping](https://github.com/cybertronai/imagenet18/blob/dev/training/meter.py#L66) /proc/net/dev)

[2021-08-03 16:40] #2477 closed

[2021-08-03 17:58] KyleGoyette commented on #2372
At this time, there's no way to filter tables by columns for our custom chart plots. I've made an internal ticket for a feature request for this.

[2021-08-03 18:27] besbesmany commented on #2482
thank you sir for your help

[2021-08-03 18:38] vanpelt commented on #2491
Hey @stathius you'll need to specify a new id when syncing the run.

[code]

[2021-08-03 18:38] #2491 closed

[2021-08-03 18:38] dannygoldstein commented on #2489
Hi @alexus37, just to confirm: are you only seeing this in 0.11.2? Do you not see it with earlier versions such as 0.11.0?

[2021-08-03 19:21] besbesmany commented on #2482
hello sir
I run
`python train.py --epochs 10 --data coco128.yaml --weights yolov5s.pt --cache --evolve `
this will get best value of `hyp.scratch.yaml `file, right?

1- how to change genetic operators values( crossover, mutation)
2- how to use the best result of hyperparameters, should I run again train.py or what

3- after that should I change hyperparameters limit in `data/hyps/sweep.yaml`, righ

[2021-08-03 19:27] besbesmany commented on #2468
@AyushExel hello sir, I want pr curve for several runs on same chart please

[2021-08-03 20:17] tyomhak commented on #2492
Hi @yaroslavvb , I believe we do provide network usage by default. You should be able to find it in the _Settings_ panel section, though you might have to scroll through the pages in the section.
<img width="817" alt="Screen Shot 2021-08-04 at 12 16 10 AM" src="https://user-images.githubusercontent.com/16812535/128080360-e1ddb774-b75f-48d7-8f81-ec7f5bef1539.png">

[2021-08-03 20:44] AyushExel commented on #2482
For sweeps:
* Set the hyperparameter limits in `utils/logging/wandb/sweep.yaml` and define dataset path and search strategy.
* run `wandb sweep utils/loggers/wandb/sweep.yaml` . You can optionally pass `--project name` and `--count max_run_count`
* The above command will output an id. Start the sweep with `wandb agent sweep_id`. This will start W&B sweep over the defined search space in `sweep.yam

[2021-08-03 20:48] AyushExel commented on #2468
@besbesmany This feature request has been noted. But we likely won't be able to get to it this week. We're in the middle of revamping the entire W&B section in YOLOv5 among other smaller updates. I'll get this into the repo once I have a bit a bandwidth

[2021-08-03 21:14] besbesmany commented on #2468
ok , waiting you sir
thank you

[2021-08-03 21:20] besbesmany commented on #2482
in Set the hyperparameter limits in utils/logging/wandb/sweep.yaml and define dataset path and search strategy.
where to define dataset path

![2](https://user-images.githubusercontent.com/35992924/128087608-5874431f-0316-43b4-8194-96d618ba5d5a.png)
is search strategy means min/max values? is that according to the resulting file `yolov5/runs/evolve/hyp_evolved.yaml `?

[2021-08-03 21:39] AyushExel commented on #2482
* The search strategy means how want to search the hyper-parameter space( in `method: random`). I'd say stick to random because if you change that, you'll have to change the distribution of values to support that. (More on this in wandb Sweeps doc)
* Dataset path can be set by modifying line 26 in the above screenshot. set `value="your_dataset_path"`

[2021-08-03 21:45] vanpelt commented on #2489
@alexus37 the backend error is being caused by invalid metadata in an `Artifact`.  It's been double encoded for some reason.  Are you manually constructing any artifacts in your code?

[2021-08-04 00:11] michaelwooley opened #2495 "[Feature] Containerized notebook environment still using v0.8.1 (breaking changes encountered)"
**Is your feature request related to a problem? Please describe.**

Decided to give this a try. Once installed I started up the containerized notebook environment:

[code]

Created a notebook then tried to run a basic data upload as described [here](https://docs.wandb.ai/guides/artifacts/artifacts-core-concepts#terminology). However, got a very basic error.

Here is a minimum reproducible example:

[2021-08-04 02:08] anmolmann commented on #2486
Hey @diegoquintanav, `artifact.file()` downloads a single file artifact to dir specified by the <root>. If root is not specified, then it defaults to `./artifacts/<self.name>/`. For your use case: you can do `artifact.file("/content/wandb_sample_data_b")` to avoid a copy in `/contents/artifacts`.
Hope this helps.

[2021-08-04 06:32] karl-joan opened #2497 "[CLI] `KeyError` with `wandb.plot.confusion_matrix()`"
**Description**
When using `wandb.plot.confusion_matrix()` on the outputs of my model, I get a `KeyError` with the message `tensor(0)`.

[code]

**Wandb features**
When using `wandb.plot.confusion_matrix()`  inside `wandb.log`.

**How to reproduce**
[code]

**How to fix**
The pytorch tensors should be first converted to a numpy array to fix the `KeyError`. For example, the [plot function](https://

[2021-08-04 07:54] besbesmany opened #2498 "[Q]I have error when run YOLOv5 Tutorial"
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.26.0 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.

![5](https://user-images.githubuse

[2021-08-04 08:06] besbesmany commented on #2482
- how to change genetic operators values( crossover, mutation)?
- should I run
run wandb sweep utils/loggers/wandb/sweep.yaml . You can optionally pass --project name and --count max_run_count
before `train.py `

- The above command will output an id. Start the sweep with wandb agent sweep_id. This will start W&B sweep over the defined search space in sweep.yaml
can not understand last line

[2021-08-04 08:34] AyushExel commented on #2482
* Cannot use genetic mutation with sweeps, it can be used in evolve. That's different
* You don't have to call train.py manually, the sweeps command will take care of that
* the above command will output an id. then you just have to run `wandb agent {sweep_id}`

[2021-08-04 08:38] maria-korosteleva opened #2499 "[Feature] Public sharing of datasets with DOI"
**Is your feature request related to a problem? Please describe.**
I work with wandb artifacts to manage my data for some time now. I highly appreciate efficient work with large datasets (x10Gbs), API access, versioning support, multiple artifacts per project, connection to my ML experiments, and the online interface for browsing files.

Now that my work is coming to the publication stage, I reali

[2021-08-04 08:41] besbesmany commented on #2482
how to change crossover , and mutation in evolve
![6](https://user-images.githubusercontent.com/35992924/128150553-7ea69f0d-1617-49f3-aeea-31a001b5d3f8.png)

[2021-08-04 08:41] alexus37 commented on #2489
Hi,
yes, I am and I am even using metadata.
here is my code snippet that uses it.

[code]

@dannygoldstein  I am using the wandb version 0.11.2. I didn't test any earlier versions.

[2021-08-04 08:47] AyushExel commented on #2482
@besbesmany you should ask that in the same thread in YOLOv5. Sweeps and evolve operations are independent, so you likely want to use them separately

[2021-08-04 08:56] besbesmany commented on #2482
where I can find the generated id

[2021-08-04 09:01] AyushExel commented on #2482
When you run the 2nd step here, you'll find a generated ID

[2021-08-04 16:49] anmolmann commented on #2497
HI @karl-joan, the test set labels and test set predicted labels should be of type `arr`. You can read more about the confusion matrix plot [here](https://docs.wandb.ai/guides/integrations/scikit#confusion-matrix). Hope this helps.

[2021-08-04 16:50] #2497 closed

[2021-08-04 17:26] vanpelt commented on #2495
Thanks for reporting this @michaelwooley.  We'll update the base image to have the most recent wandb lib.

[2021-08-04 17:29] vanpelt commented on #2498
You can safely ignore those errors.  Everything will still work.

[2021-08-04 17:32] vanpelt commented on #2489
@alexus37 can you try specifying `metadata` as an argument to `wandb.Artifact` and see if that works?  I would also verify `isinstance(self.meta_data, dict)`.

[2021-08-04 17:58] besbesmany commented on #2498
ok I rerun again and it works

[2021-08-04 21:40] anmolmann commented on #2391
Hi @MatthewGleeson, so sorry about this. For a bit more context, there is a logfile (the debug logs) that will give us details about the root cause.  Do you still have access to the filesystems any of these failed runs happen on?

[2021-08-05 01:31] hyeseung-of-dable commented on #1226
Hi. I want to delete some columns in Table, too.

Could you share how to delete some columns?

[2021-08-05 15:47] ZhekaHauska opened #2504 "[Q] How to switch off image smoothing by default?"
Hello everyone!
I used to log tiny(10x10 pixels or so) images into runs and they just enlarged in wandb, so I could see everything fine. However, recently, images and gifs have started to appear smoothed and I don't see how to switch it off. As a solution, I can load pictures of normal size, but, I think, I can save a lot of space by logging small images.

Example of smoothed image:
![изображение]

[2021-08-05 21:13] anmolmann commented on #2478
Hey @prash-p , to clarify do you want to do this through the script or if they are willing to create the chart through the UI?
Through the api, something like is doable: `wandb.plot.histogram(tables=[tableA, tableB])`. Please let us know if this helps.

[2021-08-06 02:01] wingvortex opened #2508 "[Q]How to start wandb locally on a Redhat with podman instead of docker"
Hi,

Because the Docker is not supported by RedHat 8, the Podman is installed instead. I can pull the latest Docker, run the container, and log in at http://X.X.X.X/:8080/

However, the Wandb can not be started locally. After 'wandb local' command,  I get this 'Error: Docker not installed, install it from https://docker.com'

I also try this, wandb login --host=http://X.X.X.X/:8080/,  and paste th

[2021-08-06 06:07] wingvortex commented on #2508
It seems it fails because of a typo.  Sorry for that. The following works:
wandb login --host=http://X.X.X.X:8080/

I'll close the issue.

[2021-08-06 06:07] #2508 closed

[2021-08-06 07:32] 89douner opened #2509 "[Q] Sweep three errors (forward () missing, _global_run_stack, shutdown)"
[System]
OS: Window
IDE: Visual Studio Code
DL Framework: Pytorch

When I run the below code, I have some error messages.

[code]

[Error message1]
Traceback (most recent call last):
  File "C:\Users\MI2RL\anaconda3\lib\site-packages\wandb\agents\pyagent.py", line 303, in _run_job
    self._function()
  File "C:\Users\MI2RL\anaconda3\lib\site-packages\torch\nn\modules\module.py", line 722, in _cal

[2021-08-06 08:08] 89douner commented on #2509
When I changed the above code, I remove the errors.

[code]

But, I had a different error message.

wandb: WARNING Calling wandb.login() after wandb.init() has no effect.
2021-08-06 17:04:48,977 - wandb.wandb_agent - INFO - Running runs: []
2021-08-06 17:04:49,296 - wandb.wandb_agent - INFO - Agent received command: run
2021-08-06 17:04:49,296 - wandb.wandb_agent - INFO - Agent starting run with c

[2021-08-06 08:36] rubencart commented on #2449
This might be related. I did not get any errors, but if I run `wandb_logger.experiment.define_metric(metric, summary='max')` (using pytorch-lightning, but `wandb_logger.experiment` returns the current run, so should be the same as `wandb.run.define_metric`), where `metric` is for instance `'Avg_Precision_IoU=0.50:0.95_area=all_maxDets=100'`, the statement seems to have no effect at all (the last v

[2021-08-06 08:39] rubencart commented on #1395
I have a similar use case: I'd like to add new metrics or rename old ones in the histories of my runs, so I can make plots and charts of these metrics. Still not possible?

[2021-08-06 10:58] ivanovitchm opened #2510 "[CLI] wandb.restore() does not work for sweep runs v0.11.2"
**Description**
It is not possible to restore a model (or any other file) using version 0.11.2 when considered "runs" executed in a Sweep:

wandb.restore('file', run_path="user/project/hash")

This only works if run_path is related to a "run" that was executed without a Sweep.

I had tested the same procedure with version 0.10.17 and it worked. Apparently, it is problem in version 0.11.2.

[2021-08-06 16:27] vanpelt commented on #2495
Hey @michaelwooley we just updated the images.  Can you try again?

[2021-08-06 16:27] #2495 closed

[2021-08-06 16:37] vanpelt commented on #2509
Hey @89douner not sure what code you changed.  The stacktrace in your most recent error is coming from a vscode extension "pydevd" that's trying to open a file that doesn't exist.  Can you try running this directly from a terminal and see if there are any errors?

[2021-08-06 16:39] vanpelt commented on #2449
Yeah, that seems likely.  @rubencart can you try `wandb_logger.experiment.define_metric("Avg_Precision_IoU*", summary="max")` and see if that works?

[2021-08-06 16:40] vanpelt commented on #1395
You can add metrics to history by resuming a run, but modifying historic metrics in history still isn't officially supported.

[2021-08-06 16:41] vanpelt commented on #2510
@ivanovitchm this is really strange.  Can you share a `run_path` for a run that works in 0.11.2 and one that doesn't?

[2021-08-06 17:50] ivanovitchm commented on #2510
This `run_path`is one come from without sweep: **ivanovitchm/wandb_restore_evaluation/3nsyl2os** it works!!!

On the other hand, this `run_path`come from sweep: **ivanovitchm/wandb_restore_evaluation/01catu9s** it doesn`t work.

[2021-08-06 18:06] adrnswanberg commented on #2281
Looks like this has since been fixed. Closing..

[2021-08-06 18:06] #2281 closed

[2021-08-06 18:12] vanpelt commented on #2510
Hey @ivanovitchm are you seeing an error when this happens, or it's just not downloading any file?  Also, what file specifically are you attempting to restore?

[2021-08-06 18:16] ivanovitchm commented on #2510
I got an error, the log is below.

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
/usr/local/lib/python3.7/dist-packages/wandb/apis/normalize.py in wrapper(*args, **kwargs)
     23         try:
---> 24             return func(*args, **kwargs)
     25         except requests.HTTPError as err:

1

[2021-08-06 18:17] vanpelt commented on #1226
Hey @hyeseung-of-dable you can't currently delete columns, but you can toggle their visiblity.  Click the 3 vertical dots and choose "Hide Column".

[2021-08-06 18:18] adrnswanberg commented on #2190
Closing due to inactivity.

[2021-08-06 18:18] #2190 closed

[2021-08-06 18:24] vanpelt commented on #2510
Hey @ivanovitchm I believe I just fixed the bug.  This should go out in the next official release.  If you want to try using it now, you can run:

[code]

[2021-08-06 18:31] ivanovitchm commented on #2510
Thanks a lot @vanpelt , I will finish the notebook for my class now :-)

[2021-08-06 18:33] besbesmany commented on #2449
where I can run this line in yolov5 is it before train.py or put it inside code train.py

`wandb_logger.experiment.define_metric("Avg_Precision_IoU*", summary="max")`

[2021-08-06 19:27] aidanjdonohue commented on #2499
Thank you so much for the thoughtful and thorough feature request! I'll pass this along to our product team :)

[2021-08-06 20:06] tyomhak commented on #2504
Hi @ZhekaHauska , thanks for reporting this. Would you be able to share a link for a run page with an example of this issue?

[2021-08-06 20:14] vanpelt commented on #2449
@besbesmany it would have to be in train.py after the WandbLogger was initialized.

[2021-08-06 21:32] anmolmann commented on #2351
Hi @alexandrehsd , thanks for reporting this. We do have an internal ticket already filed for this. We'll keep you posted once there's any progress.

[2021-08-07 05:44] ZhekaHauska commented on #2504
Hi @tyomhak, thanks for your response. [Here](https://wandb.ai/hauska/test/runs/22oohx7f?workspace=user-hauska) it is.

[2021-08-07 09:55] adizhol opened #2514 "[Q] Does Wandb replicate images in logs?"
Hi,
I've just started to explore Wandb (*local setup*), and I want to create a table artifact with images or/and videos.
These images/videos exist in a test dataset, logged in wandb.
In the examples I read, when creating a table with images, the actual numpy arrays are logged.
These seems like a huge redundant storage consumption.
Can wandb show images in a table without actually saving a copy of

[2021-08-07 13:40] sayan0506 opened #2515 "[App] It becomes a horrible experience that, sometimes it keeps on reloading the collab while logginf wandb, or session crashed, and the wandb backend shutdown, I am utterly dissapointed into these, it's becoming worse day by day, and also can't log transfer learning model, and session crashed then even though model weights are not logged, please help me to fix that frequent issue"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Operating System**
 - OS: [e.g. iOS]

[2021-08-07 14:56] jsbroks commented on #2504
Hey @ZhekaHauska could you also share what browser you are using? I opened the example in chrome and it does not have the smoothing effect.

[2021-08-07 15:02] besbesmany commented on #2449
which parameters we also have like
Avg_Precision_IoU
metrics/mAP_0.5
metrics/recall
metrics/precision

[2021-08-07 15:04] vanpelt commented on #2515
@sayan0506 can you share an example colab where this is happening for you?

[2021-08-07 15:27] ZhekaHauska commented on #2504
Hi @jsbroks! That's interesting, I didn't think the issue may be connected with the browser. I am using Mozilla Firefox 90.0.2 (64-bit).

[2021-08-07 19:13] prash-p commented on #2478
I would like to do this via the UI online if it's possible.

[2021-08-08 04:46] dannygoldstein commented on #2357
Done.

Closing this as the original issue has now been addressed. @VirajBagal I am moving your latest question to a separate issue.

[2021-08-08 04:46] #2357 closed

[2021-08-08 04:49] dannygoldstein opened #2518 "Command arguments in sweep config do not render properly in subprocess invocation"
Hi Danny,

I tried with full path and it is working for me but there is one peculiarity!

When I use the following sweep.yaml, it works normally:

[code]

But when I use the following sweep.yaml with arguments, I get error:

[code]

The error:

[code]

How can I fix it?

The argument parser in my main.py file is the following:

[code]

Thank you in advance.

_Originally posted by @VirajBagal in ht

[2021-08-08 04:53] dannygoldstein commented on #2518
@VirajBagal, please try splitting your command line arguments so that  each value is on a separate line, e.g.,

[code]

[2021-08-08 05:08] ashok-arjun commented on #2240
Thank you for the suggestion @vanpelt.

[2021-08-08 05:08] #2240 closed

[2021-08-08 23:13] vkostyuk commented on #2484
My bad: the username was misspelled in my `.env`. Doh!

When I just ran `wandb.init()` at the beginning of a script, it ran prior to loading the `.env` into the environment -- hence everything was fine. Running it after produced the above error due to the misspelling.

[2021-08-08 23:13] #2484 closed

[2021-08-09 02:49] hjzhang1018 opened #2519 "[Q]How do we define the metric name in swep.config?"
Hi I'm a newbie in using wandb. When I looked into the tutorials, I'm a bit confused about this metric name definition.
For example here,
[code]
I saw some people use metric name "train_loss", some use "val_loss", some use "loss". So I wonder if there's a dictionary where we could select the name from? What's the difference when we pass the metric name "val_loss" and "loss"?
If I want to optimize

[2021-08-09 06:02] khawar512 opened #2520 "[Q] Change the axis color light gray to black"
Hi,

I would like to change the x-axis and y-axis line colour. How we can do it?

Regards,
Khawar

[2021-08-09 18:21] vanpelt commented on #2514
Hey @adizhol wandb.Artifacts are content aware.  We automatically capture the md5 of every piece of binary data added to a wandb.Table.  This includes Images, Audio, HTML, etc.  We will never store the same data twice for an individual artifact.  For example:

1. You log a table that has images A, B, and C
2. You log another version of this artifact with a table that has images A, B, and D

In the

[2021-08-09 18:21] #2514 closed

[2021-08-09 18:36] vanpelt commented on #2519
Hey @hjzhang1018 the metric will need to be one that you're logging with wandb.  You [log metrics](https://docs.wandb.ai/ref/python/log) in wandb by calling `wandb.log({"my_metric": X})`.  Certain integrations will automatically log metrics for you.  You can see what metrics are being logged for a run by looking at the "Summary" section of your run from the "Overview" section.

![image](https://us

[2021-08-09 18:37] #2519 closed

[2021-08-09 18:39] vanpelt commented on #2520
@khawar512 we only color the lines being plotted in our native line plots.  If you want to customize the look and feel of the chart itself you can [create custom charts](https://docs.wandb.ai/ref/app/features/custom-charts).

[2021-08-09 18:39] #2520 closed

[2021-08-09 18:55] adizhol commented on #2514
@vanpelt Thanks for the clear answer.
Could you suggest a way, in a local wandb setup, to log artifacts (images, checkpoints) that already exist on the hard-drive, while consuming minimal storage?
Is the custom HTML the only option?

[2021-08-09 19:26] vanpelt commented on #2514
@adizhol you should checkout [Artifact References](https://docs.wandb.ai/guides/artifacts/references).  This allows you to store pointers to files on your local filesystem or an S3 bucket.  It's important to note we won't be able to render reference artifacts in our UI's and there's nothing we can do to prevent someone from deleting or misplacing the references that were logged.

[2021-08-10 13:37] elgalu commented on #2492
@tyomhak I think the issue with the current Network Traffic usage is that it's cumulative. What would be more useful is to have MBytes/s over time.

[2021-08-10 14:08] elgalu commented on #2492
Thanks a lot for sharing meter.py under a permissive license @yaroslavvb ! You may want to not only filter the loopback network interface `line.startswith('lo')` but also bond or you'll see double the real bandwidth in some systems, e.g. `INTERFACE_FILTER = re.compile('^(lo|face|bond.+|.+\.\d+)$')`

[2021-08-10 18:20] #2504 closed

[2021-08-10 18:39] MohammadJavadD opened #2529 "agent cannot handle Linux environment variables [CLI]"
**Description**
when I tried to pass a local environment variable to the program, it cannot interpret the variable.
`command:
  - ${env}
  - python3
  - '-m'
  - ${program}
  - '--data_dir=$SLURM_TMPDIR'
  - '--algorithm=ERM'
  - '--test_env=3'
  - ${args}`
 it shout run as `/usr/bin/env python3 -m scripts.train --data_dir=/home/local.scratch/*/ --algorithm=ERM  --test_env=3` but it runs `/usr/bin

[2021-08-10 18:50] tyomhak commented on #2529
Hey @MohammadJavadD , thanks for reporting this. Can you confirm that this is the behavior with the latest wandb version (0.12.0) ?

[2021-08-10 18:57] MohammadJavadD commented on #2529
@tyomhak I run with wandb version 0.11.2. should I update to 0.12.0?

[2021-08-10 19:37] lukas commented on #1832
Would it be enough to be able to move the legend to top/bottom/left/right or do you want more fine grained control?

[2021-08-10 19:55] tyomhak commented on #2529
Thanks! We're looking into this issue.

[2021-08-11 02:50] clarkbab commented on #1193
Hi @maria-korosteleva,

I had the same problem and was able to change the cache directory to another drive available to me. If that's an option for you, look into setting the environment variable `WANDB_CACHE_DIR` (see code [here](https://github.com/wandb/client/blob/d1286556836a25d68f21816e5340596515af773a/wandb/env.py#L257)).
The env var name has changed to  `CACHE_DIR` in recent versions of `wa

[2021-08-11 02:52] hjzhang1018 commented on #2519
Thank you @vanpelt! I used this `wandb.log({"my_metric": X})`, but it showed that

I'm not very clear when I can call this `wandb.log` function. Is it after all the trainings ? But I need to set up my metric name in sweep_id before the hyperparameter screening. Could you explain a bit more in details? Thank you very much!

[2021-08-11 04:00] vanpelt commented on #2519
@hjzhang1018 X was meant to mean a variable.  When you train an ML model you generally have a loop that measures the performance of the model by calculating a performance metric like accuracy.  You would replace the X in my example with the calculated metric you care about.

You can find examples in various frameworks here: https://GitHub.com/wandb/examples

[2021-08-11 11:52] LisburnLad opened #2533 "Run not found"
It appears that wandb has stopped working in Jupyter notebooks when trying to display the results of a run in a notebook cell.
This was working fine until a couple of days ago, but now always produces the "Run not found" error.

This happens for me in notebooks that are running in both Kaggle and Colab, and all other wandb notebooks I've looked at in Kaggle that previously displayed the wandb grap

[2021-08-11 12:11] yaroslavvb commented on #2492
Indeed, the cumulative usage in current wandb is not directly useful -- instead it should show MB/sec rather than total MB, MB/sec graph can tell if you you are being bottlenecked by network performance.

[2021-08-11 13:58] jan-petrak opened #2536 "[Feature] The order of the bars in the bar plot when using runs-grouping"
**Is your feature request related to a problem? Please describe.**
In the online dashboard, when creating a Bar plot and applying "Group by" to runs, the bars are often not being sorted in any order.

E.g., when plotting the mean "score" of the runs, grouped by the metric "A" (with the domain { 0, 1, 2 }), the resulting bar plot looks as follows, and I can't find any option to change the order of

[2021-08-11 14:18] jan-petrak opened #2537 "[Feature] An option to specify the bin size for the "Group by" metric"
**Is your feature request related to a problem? Please describe.**
When creating a plot and using Runs-grouping by some parameter "A" (e.g., with the domain [1; 100]), there is no way to group the runs by some specific bin size into e.g., only 10 groups with the parameter A in [1..10], [11..20], .... ,[91, 100].

**Describe the solution you'd like**
An option to specify the bin size

**Describe al

[2021-08-11 17:20] vanpelt commented on #2533
Hey @LisburnLad we're aware of the issue and are working on a fix.  We'll update this ticket once it's been resolved.

[2021-08-11 22:33] anmolmann commented on #2478
Hey @prash-p, this should be possible by querying for multiple tables I think. If you can provide more details about your use-case we can brainstorm a solution.

[2021-08-11 23:01] prash-p commented on #2478
Here is my project: https://wandb.ai/prashant-pand3y/uncertainty-bone-seg/workspace?workspace=user-prashant-pand3y

Here is an example of trying to query multiple tables, and unfortunately I cannot enter multiple keys in the 'Value field':
![image](https://user-images.githubusercontent.com/5707552/129114432-6934f486-9f13-41c5-bf51-d8914a34bd79.png)

[2021-08-12 14:54] marinone94 commented on #2239
Hi @versae , did you try .plot by any chance?
I had problems with using string labels.

[2021-08-12 17:19] kanishk-aidash commented on #2465
@vanpelt  Doesn't seem to be fixing the issue:

Changed the call
`wandb.init()` to `wandb.init(group="test-poject")` but still getting the same error
<img width="1356" alt="Screenshot 2021-08-12 at 10 48 56 PM" src="https://user-images.githubusercontent.com/77284268/129240310-9eb14ec9-22ae-4b8a-828e-f709c62fdb7d.png">

[2021-08-13 07:17] savvaki opened #2540 "[CLI] Service worker produces 403 Error in sweep whereas user API Key doesn't"
**Description**
I am running a complicated cloud set up for sweeps on Google Cloud Platform. To summarise:
- All configuration of W&B is happening through environment vars, for example: WANDB_API_KEY, WANDB_ENTITY, WANDB_USERNAME, WANDB_PROJECT are set in the environment
- When I use a **service worker API key**, it is unauthorized to upload logs for the sweep runs. I get the following error:  `dr

[2021-08-13 12:08] versae commented on #2239
HI, @marinone94. No, unfortunately I have not yet tried with `.plot()`.

[2021-08-13 15:06] vanpelt commented on #2540
Hey @savvaki is the service account in the {TEAM_NAME} you're logging to?

[2021-08-13 16:19] anmolmann commented on #2478
Hey @prash-p , you can import multiple tables by adding a new query row like shown in the snippet. Then, the spec needs some information to split these boxes on the x-axis. Eg. you would need to specify an x-axis scale that has a domain of the width of the plot, and a range of the run names.
Now, to add multiple values, we don't support putting multiple for each of these mapped values. However, yo

[2021-08-13 16:50] annirudh commented on #2446
Hi @sachinruk, when modifying the filters as suggested above do you still see error?

[2021-08-13 18:14] vanpelt commented on #2533
Hey @LisburnLad this has been fixed!  You may have to logout of wandb and then log back in for it to work in your browser.

[2021-08-13 18:14] #2533 closed

[2021-08-13 20:21] prash-p commented on #2478
How exactly do you do both of these in the spec? Could you give an example for my use case?

[2021-08-13 22:38] lukas commented on #1832
You can now move the legend location to top, bottom, left, right - if this isn't sufficient please reopen and suggest what else you would need.

[2021-08-13 22:38] #1832 closed

[2021-08-14 10:24] richardrl commented on #2315
Hi, the problem is I (and I imagine many others) need to do this dozens of time per day, manipulating the report to do it is too time consuming.

[2021-08-14 11:43] savvaki commented on #2540
Yes, when I navigate to my team name and click _Team Settings_ the service account appears there alongside the other members.

[2021-08-14 14:15] soheeyang commented on #1252
I had the same issue as @rjbruin with version `0.12.0`. I managed to solve this issue by changing the location of the root directory of `tempfile` to somewhere on the same shared storage as the wandb directory. This can be done by setting the value of the environment variable `TMPDIR` like `export TMPDIR=somewhere_on_the_same_shared_storage_where_wandb_dir_is_located`. (https://docs.python.org/3/l

[2021-08-15 04:32] soheeyang commented on #1252
I finally resolved the issue by setting `wandb.init(dir=tempfile.gettemdir())`.

[2021-08-15 06:03] lukekenworthy commented on #919
I am having this problem as well. Has anyone ever figured this out?

[2021-08-15 09:28] PiotrDabkowski opened #2544 "[App] Logged audio not in sync in the app."
**Describe the bug**

I am logging a pair of audio files via `[wandb.Audio(..., caption="original"),  wandb.Audio(..., caption="reconstructed")]`, in the app I would expect that the left and right audios are always shown in sync (they come from the same time step), but sometimes this is not the case when I slide between time steps. Also the step sliders sometimes are not updated correctly when swi

[2021-08-15 09:36] PiotrDabkowski opened #2545 "[App] Graphs not rendering in macOS Safari."
**Describe the bug**
Graphs are not rendering in macOS Safari (they were rendered correctly a few months ago when I last tried).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://wandb.ai/piter/trans?workspace=user-piter'
2. See empty graphs when using macOS Safari.

**Screenshots**
![No graphs](https://i2.paste.pics/184be589a3334c3843ded499279ba74a.png)

**Operating System**
 -

[2021-08-16 19:34] laxels commented on #2545
Hey there @PiotrDabkowski. Sorry about that! Can you upgrade your Safari and see if the problem persists? I'm on 14.1.2 and all the graphs are working properly on that page.

[2021-08-16 19:50] yuvalgrossman commented on #982
Any news on this issue? A nested config in sweep would be really useful

[2021-08-16 19:59] lukas commented on #2329
Added the legend back to the bar plot - thanks so much for reporting this.

[2021-08-16 19:59] #2329 closed

[2021-08-16 21:42] vanpelt commented on #919
@lukekenworthy can you provide an example script?  If you're using multiprocessing in your scripts you may need to explicity call `wandb.finish()` in the process that called wandb.init once processing as completed.

[2021-08-17 08:18] santelelle commented on #2363
Hi, any news on this?

[2021-08-17 12:28] loicsacre commented on #2384
Hi @vanpelt, sorry for coming back to this issue a bit later. I understand the way you handle it. However, wouldn't it be better not to sample randomly if all points have the same abscissa ? It would be more convenient for both visualising and reporting. It think it would be useful for others too. I have noticed that the problem does not occur when using the default `step` metric. Maybe we are doi

[2021-08-17 12:41] loicsacre opened #2551 "[App] Hidden legend when viewing the graphs"
**Describe the bug**
Sometimes, the legend is hidden when visualising the graphs (see the screenshot)

**Expected behavior**
Being able to always see the complete legend without having to display the graph in full screen

**Screenshots**

![Screen Shot 2021-08-17 at 12 09 05](https://user-images.githubusercontent.com/32166486/129727007-8bd081d2-1d4b-4de2-8d0e-7fe7a7566bd6.png)

**Operating System*

[2021-08-17 12:54] loicsacre commented on #2384
I think this problem is linked too. When visualising according to default `step` metric, everything is ok and all the points are displayed. Nevertheless, when switching to the `training step` metric, the number of points is reduced and therefore it is difficult to compare the graphs. We clearly see that the look of the graph is no longer the same.

![Screenshot 2021-08-17 at 14 48 53](https://user

[2021-08-17 18:47] JordanMakesMaps commented on #2371
@vanpelt this worked for me. @bmabir17 my data generator is of class `keras.utils.Sequence`, and the callback for me looks like:

[code]

[2021-08-17 18:56] vanpelt commented on #2540
Very odd.  I just ran an experiment with a service account with a sweep and it executed fine.  Are you able to see the console output when the script executes?  One of the first lines should look like:

[code]

The service account should say you're logged in as {TEAM_NAME}.  Are the runs themselves showing up in the UI?

[2021-08-17 18:56] vanpelt commented on #2540
I tested this with the most recent version of `wandb` can you also be sure you're using 0.12.0 by running `pip install wandb --upgrade`?

[2021-08-17 19:52] savvaki commented on #2540
@vanpelt I have attached more logs, the team name does appear as you stated above for both the User API key and the Service account API key. You can also see here that a sweep is designated as well as a run. The Conda env exception there can be ignored (it occurs with the User API key as well yet those runs work). Each package should default to the latest `wandb` but let me check specifically for

[2021-08-17 21:56] annirudh commented on #2363
Hi @santelelle, we're currently working on a fix for the issue. Apologies for the delay here, but we need to redo how deletion works so that artifacts are cleaned up in the background instead of immediately when the run is deleted. This is a fairly big change, but we're hoping to have a fix with the next week or two.

I will follow up here when we release a fix for the issue. We sincerely apprecia

[2021-08-18 04:04] richardrl commented on #1206
This scenario happens a lot. When we are adding a new metric, it might be accidentally logged as a list and show up as Media Panel. Is there any way to automatically reset the workspace? Or have some UI element? I forget this trick of workspace=empty

[2021-08-18 06:53] elgalu commented on #2492
I took Yaroslav's code and created the [iometrics](https://github.com/elgalu/iometrics#iometrics) pip package.

The easiest way to have MB/sec network/disk metrics end up in WandB is to use PyTorch-Lightning callbacks integration:

[code]

<img id="png_recv_MB_per_sec" width="450" src="https://github.com/elgalu/iometrics/raw/main/docs/img/metrics/network_recv_MB_per_sec.png" />

WandB folks: feel

[2021-08-18 16:19] tyomhak commented on #2536
Hi @jan-petrak , thank you for the feature request! I believe we have an internal ticket for this, I'll bump up the priority for it.

[2021-08-18 17:17] tyomhak commented on #2537
Hi @jan-petrak , we actually have an internal ticket for this as well. Bumping the priority for it right now :)

[2021-08-18 17:20] vanpelt commented on #2492
Thanks @elgalu this is really cool!  We'll look into integrating it directly.

[2021-08-18 17:29] lukas commented on #2545
This should be fixed now - reopen if you still see it.

[2021-08-18 17:29] #2545 closed

[2021-08-18 18:35] PiotrDabkowski commented on #2545
Thanks a lot, I confirm it works now.

[2021-08-18 18:44] vanpelt commented on #2384
@loicsacre unfortunately this is due to the way we need to sample metrics to avoid too much data being rendered in the browser.   Because your steps have such a large span across 1.5 million training_steps we're sampling more aggressively then when you're only looking at a span of 25 steps.

[2021-08-19 00:27] vanpelt commented on #2540
Are you able to access a `debug-internal.log` file from one of the failing runs?  If you could sent that to vanpelt@wandb.com that would help us find the root cause.

[2021-08-19 03:55] Taitai6521 opened #2558 "[Q]AttributeError: 'NoneType' object has no attribute '_global_run_stack'"
wandb --version && python --version && uname

Explanation:

This error appeared while I was building and training a model using efficientnet via timm.
It happened when I built an array like [0], a string in the scheduler.
By the way,
I had no problem with the hyperparameters, which are just numbers.

Does it not support anything other than numbers?
Or is there a way to do something like these as w

[2021-08-19 15:05] Ierezell commented on #2141
Hi, hope the team is doing well.

Any update about this issue?
If a client is too much, it can also be documentation of the API.

Have a great day

[2021-08-19 15:55] vanpelt commented on #2540
Can you also try setting the WANDB_ENTITY environment variable to your team or username?

[2021-08-19 16:06] savvaki commented on #2540
The WANDB_ENTITY is set to the team name that the service account falls under. Let me try and see if I can access a ```debug-internal.log```

[2021-08-19 17:04] tyomhak commented on #2551
Hey @loicsacre , thanks for reporting this.

[2021-08-19 17:19] sophiaas opened #2559 "WARNING:root:Only 108 Image will be uploaded."
I am attempting to log images of kernel filters during training. My logging dictionary looks like this:

`log_dict = {'epoch': 0, 'U': [list of wandb.Image objects], 'V': [list of wandb.Image objects], 'W': [list of wandb.Image objects]}`

There are 256 images per variable. When I call `wandb.log(log_dict)`, I get the following error:

`WARNING:root:Only 108 Image will be uploaded.`
`WARNING:root:

[2021-08-19 17:39] JayThibs commented on #2074
Just ran into this issue myself. Using wandb.login(key=key) worked.

[2021-08-20 02:14] vanpelt commented on #2559
Hey @sophiaas we enforce a limit of 108 images per key when logged as lists.  It would likely be better to just log these images as a table:

[code]

[2021-08-20 02:14] #2559 closed

[2021-08-20 04:07] vanpelt commented on #2558
The actual error here is your GPU using all memory.  It also looks like you have multiple versions of wandb in your environment.  The current version of wandb is 0.12.0, 0.8.18 is over a year old.  You should upgrade with `pip install wandb --upgrade`

[2021-08-20 04:07] #2558 closed

[2021-08-20 04:17] vanpelt commented on #2141
The graphql api is self documenting, you can use an extension like [ChromiQL](https://chrome.google.com/webstore/detail/chromeiql/fkkiamalmpiidkljmicmjfbieiclmeij?hl=en) to explore it.  Just set the endpoint to https://api.wandb.ai/graphql

You can also see examples of making API requests in our [public api](https://github.com/wandb/client/blob/master/wandb/apis/public.py) and find examples of usi

[2021-08-20 04:17] #2141 closed

[2021-08-20 05:56] jihwan-jeong opened #2564 "[Q] A few missing default parameters when doing Sweep"
Hello.

Recently, I've learned to use the Sweep function of W&B, which I found to be really cool.
My codebase uses `Hydra` to handle various configurations and hyperparameters, while `wandb` logs the progress of learning of various components in my model. On top of that, I've written the following `sweep-halfcheetah-pets.yaml` file for sweeping various hyperparameters (currently, I'm simply using

[2021-08-20 06:03] dannygoldstein commented on #2564
Hi @jihwan-jeong ,

I'm sorry you ran into this issue. This was a bug on our side caused by a recent change in our backend that caused constant parameters to be improperly handled in grid search sweeps. The bug was fixed at 10:43AM PT this morning, 8/19/2021. Your config should work as expected now in production. I just tried it against our cloud service and saw that it correctly passed the value

[2021-08-20 06:03] #2564 closed

[2021-08-20 06:05] jihwan-jeong commented on #2564
Thank you so much for such an immediate response! Very impressive :)
Okay, I'll give it another shot and come back should the problem persists.

Thanks!

[2021-08-20 08:09] karthi0804 opened #2565 "[CLI] artifact download from wandb local"
**Description**
I am using wandb local and storing artifacts in one PC. It works fine. When I want to download the artifact dataset and train in another PC, the specified `artifact.download` is downloading but it throws the below error at the end. The same behaviour is observed using `wandb artifact get`. Please help me. I could find the files are downloaded in the filesystem.

[code]

**Environme

[2021-08-20 09:26] jihwan-jeong opened #2566 "[Q] The metric graph in Sweep not rendering correctly"
Hi.

In the Sweep Workspace where summary plots are shown, I see a graph titled `my_metric v. created` which is supposed to show the obtained metric values from all runs against the time the results were created. However, as you can see from the screenshot below, I can only see a single point (when there are more than 100 finished runs).

![image](https://user-images.githubusercontent.com/51473118

[2021-08-20 14:20] loicsacre opened #2567 "[App] Undesired interpolation of points"
**Describe the bug**

Let me introduce the problem with screenshots. In screenshot (1), showing run 1 only, 10 random values are logged (a seed is set for them). The point 7 corresponds to 0.7887. In screenshot (2), showing run 1 and 2 , the same random points are plotted except that the step is set initially to 10. As you can see, the point 7 is replaced by a 6.5. In screenshot (3), showing run 1

[2021-08-20 14:20] loicsacre commented on #2384
Yes but there is not millions of points, the training_step is just a label. We only log 1 value every N training_steps, resulting in only 25 points per curve.

Maybe the condition that is used to trigger the bucketing logic should look at the number of points to render instead of the value of the span of the abscissa?

[2021-08-20 17:51] sophiaas commented on #2559
Thanks for the quick response! It would be nice to have note of this restriction in the documentation so the error is not mysterious when it comes up.

[2021-08-20 23:16] vanpelt commented on #2565
In your local instance, have you updated the Frontend Host in your system-settings?  You can find it at "http://YOUR_URL/system-admin".

[2021-08-20 23:17] vanpelt commented on #2566
Hey Jihwan, can you share a link to the sweep workspace where you're seeing this behaviour?

[2021-08-20 23:20] jihwan-jeong commented on #2566
https://wandb.ai/jhjeong/offline_mbrl/sweeps/4f4uc92k?workspace=user-jhjeong

Here it is :)

[2021-08-20 23:39] vanpelt commented on #2566
Ahh, you'll need to "Un-Group" your runs to see them individually, by clicking the "X" next to the group setting:

![image](https://user-images.githubusercontent.com/17/130302851-ceefe14b-0d6e-4c5f-84f4-a44968a2d1d5.png)

[2021-08-20 23:39] #2566 closed

[2021-08-21 00:32] karthi0804 commented on #2565
Thanks for your suggestion. it is solved.

[2021-08-21 00:32] #2565 closed

[2021-08-21 07:22] jihwan-jeong commented on #2566
Hi Chris,

Thanks! That worked :)

[2021-08-21 15:27] roboserg opened #2571 "Failed to detect the name of this notebook + The `IPython.html` package has been deprecated"
Having 3 issues while running the following lines using jupyter notebook in the VS Code IDE:
[code]

1. Failed to detect the name of this notebook, you can set it manually with the WANDB_NOTEBOOK_NAME environment variable to enable code saving.
2. ShimWarning: `The `IPython.html` package has been deprecated since IPython 4.0. You should import from `notebook` instead. `IPython.html.widgets` has mo

[2021-08-21 20:03] vanpelt commented on #2571
Hey @roboserg unfortunately because of the way vscode notebooks works we're unable to extract the notebook information which is what the first warning is about.

We'll look into to detecting the Ipython version and address the deprecation warning.

We may be able to enable run viewing in vscode, but you would have to login.  Until then, just make sure the last item in your cell is not an unbounded

[2021-08-22 08:55] sandylaker opened #2573 "[Q]Network traffic in offline mode"
I run an experiment in offline mode, and then synchronized the wandb log after the experiment finished. However, I found that the network traffic was the same as in the online mode. So I would like to ask why the network traffic is so large even in offline mode, and how we can avoid it.

<img width="614" alt="Screen Shot 2021-08-22 at 10 50 00" src="https://user-images.githubusercontent.com/302650

[2021-08-22 13:26] sudarshanregmi opened #2574 "Sweep: different seed in every run for bayesian search of hyperparams [Q]"
In my code, I run each experiment with a random seed generated from random.choice(range(n)). Does having different seed for each run affect the hyperparameter search using bayesian searching technique? Should I be using the same seed across all the runs created by the sweep?

[2021-08-22 13:45] lijiaqi opened #2575 "[Feature] Any way to only synchronize successful runs?"
**Is your feature request related to a problem? Please describe.**
Is it possible to only synchronize **successful runs** when using ```wandb sync --sync-all``` in ```offline``` mode. Generally, we have many directories like ```./wandb/offline-run-xxx```, some are successful runs who return a ```successful``` flag by wandb. However, others are failed runs due to various reasons with returning a ``

[2021-08-22 15:59] soheeyang commented on #1439
Hi, any update on this? I'm looking for a way to rename and/or delete tags, but I can't find a way to do so.

[2021-08-22 16:23] soheeyang opened #2576 "[Feature] A way to rename and delete tags"
**Is your feature request related to a problem? Please describe.**
Hi, I'm a great fan of Weights & Biases. Thank you for developing this amazing system.
I found one not-yet-supported feature which would make Weights & Biases even better: a way to rename and delete tags.
Tags can currently only be created but they cannot be renamed or deleted. Because of this, the list of tags gets really messy as

[2021-08-23 00:03] roboserg commented on #2571
@vanpelt Thanks. Using "run=" help to remove the empty white box in VS Code.
However on Kaggle it prints too much information and on Kaggle I can't  even manually remove the cell output!
![chrome_DAgUAIZRes](https://user-images.githubusercontent.com/4758917/130373323-d6adb0ab-4abe-41db-b344-b3f708cc58f8.png)

And after training when I want to train again, I press "run all", so obviously all cells

[2021-08-23 00:31] vanpelt commented on #2571
Sure, you can pass the following to wandb.init:

`settings=wandb.Settings(silent=True)`

[2021-08-23 01:09] roboserg commented on #2571
Thanks, but getting an error `TypeError: Settings field silent: True is not a boolean`
[code]
https://i.imgur.com/6AmFFnq.png
Using wandb ver. 0.12

[2021-08-23 04:21] vanpelt commented on #2573
Hey @sandylaker we just monitor all network traffic on the machine while the process is running.  The network traffic you're seeing could be from any process on the machine or a network attached filesystem.

[2021-08-23 04:21] #2573 closed

[2021-08-23 04:46] vanpelt commented on #2575
Hey @lijiaqi this is a great feature request.  We'll continue tracking it here, but I don't think we'll be able to implement it in the near future.  A workaround would be a little script that iterated through the run directories and removed any of them that weren't in the state you want by looking at the "wandb-metadata.json" file in the `files` directory.  Here's some sudo code that I haven't tes

[2021-08-23 04:48] vanpelt commented on #2576
Hey @soheeyang this is a great feature request we hope to implement.  if you give me a project and the list of tags you would like to remove or rename I can do it manually.  Feel free to email vanpelt@wandb.com

[2021-08-23 04:59] vanpelt commented on #2571
Whoops, sorry, `settings=wandb.Settings(silent="True")`

[2021-08-23 05:02] lukas commented on #2574
Using a different seed will be fine for Bayesian search.

I would recommend logging the seed so that your runs are reproducible.

[2021-08-23 05:02] #2574 closed

[2021-08-23 07:00] richardrl commented on #2315
Is there any update here? Still hurting for this feature. Very hard to compare new runs with key old runs unless I do a bunch of unnecessary tagging. I should be able to see how the "currently running" runs compare with a few select old runs, without generating a bunch of unnecesssary tags.

[2021-08-23 13:53] lijiaqi commented on #2575
Thank you for providing an alternative solution. Hope this feature will be implemented in the future.

[2021-08-23 14:48] gabriel-vanzandycke opened #2578 "[CLI] CondaEnvException since v0.12.0"
**Description**
When using `wandb`, I get a `CondaEnvException`:

[code]

**Wandb features**
`wandb.init()` is enough to reproduce the bug but it occurs also on more complex codes.

**How to reproduce**
[code]

**Environment**
- OS: Mac OS BigSur 11.3.1
- Environment: Conda environment
- Python Version: [eg. 3.8.5]

[2021-08-23 14:53] roboserg commented on #2571
Thanks! Setting it to silent helps, the output is tighter in the Kaggle notebook now.
However, in VS Code the output is still to big, using unnecessary empty lines.
Is there a way to completely reduce the output of wandb? Ideally I'd need only 1-2 lines:

`Syncing run kind-glitter-19 to Weights & Biases (Link to the run).`

[2021-08-23 16:28] vanpelt commented on #2578
You just need to activate a conda environment before running the python code: https://conda.io/projects/conda/en/latest/user-guide/tasks/manage-environments.html#activating-an-environment

[2021-08-23 16:30] vanpelt commented on #2571
You need to pass settings into `wandb.init`, i.e. `wandb.init(project="Kaggle = Amazon Forest", settings=wandb.Settings(silent="True")`.  We'll also look into making the experience better directly in VSCode as we've yet to optimize that environment.

[2021-08-23 17:25] dannygoldstein commented on #2518
@virajbagal did this fix your issue?

[2021-08-23 19:03] gabriel-vanzandycke commented on #2578
Is it not allowed to use in the root environement? :O

[2021-08-23 19:19] vanpelt commented on #2578
Our library detects if we're running in conda and attempts to save the current conda environment by running `conda env export` which is likely causing this error.  You can prevent us from attempting to save the environment by adding the following to `wandb.init`, but I would suggest leveraging formal conda environments for reproducability.

[code]

[2021-08-23 19:20] vanpelt commented on #2578
I'll go ahead and re-open this issue so we catch this error and print a warning instead of raising the exception.

[2021-08-23 20:25] drozzy opened #2581 "[Feature] tianshou logger"
Please implement a [logger](https://tianshou.readthedocs.io/en/master/_modules/tianshou/utils/log_tools.html#BaseLogger) for tianshou RL framework.

This is my hacky version I use right now:

[code]

[2021-08-23 23:43] roboserg commented on #2571
That worked, thanks! Should I open separate issues about "Failed to detect the name of this notebook" and package deprecation or is it already in your to-do list?

[2021-08-24 03:37] lijiaqi commented on #2575
@vanpelt BTW, I found that the auto-detection of "synced" and "non-synced" is not accurate and will fail sometimes. If I don't delete the already synced runs and try to sync the results of the new runs after some new experiments, ```wandb sync --sync-all``` will still try to sync the already synced directories, which will waste time.

[2021-08-24 05:41] vanpelt commented on #2575
Hey @lijiaqi how specifically does it fail?  By default when we've synced a directory we write a file named `.synced` in the directory.  We'll not attempt to re-sync these directories unless you tell us to with the `--include-synced` flag.  Maybe there's a specific run that is failing to sync and therefore isn't getting the `.synced` file written.  We would need the specific error to debug the iss

[2021-08-24 10:03] alikaz3mi opened #2585 "[Q] hyperparameter tuning with multiple metrics"
Hello, is it possible to use more than one metric for sweep config?
i.e. maximizing accuracy and minimizing error rate at the same time?

[2021-08-24 16:04] lukas commented on #2585
It's not directly supported but that's because it's really easy to set up - just log a third metric and compute it for each run from accuracy and error rate.

[2021-08-24 16:04] #2585 closed

[2021-08-24 17:22] lijiaqi commented on #2575
Hi @vanpelt
It seems it never success since I installed ```wandb```... And it seems no ```.synced``` files were written after ```wandb sync --sync-all```.

Here is a testing case:
Environment:  wandb=0.12.0   python=3.7.0

In Picture 1, if I run ```wandb sync```, it shows I have 302 files unsynced. Then I run ```wandb sync --sync-all``` to sync these files, then we get the displays in Picture 2.

[2021-08-24 18:13] vanpelt commented on #2575
Hmm, it could be that those runs never "finished" according to our logic.  We check to see that the process exited cleanly to allow someone to sync runs that are currently in progress.  [Here's the logic](https://github.com/wandb/client/blob/master/wandb/sync/sync.py#L290), `finished` will be true if the run itself called `wandb.finish()` or the process that called `wandb.init()` exited.  What is

[2021-08-24 18:28] sudarshanregmi opened #2586 "[Q] Wandb sweep: seeding previous runs"
Is there any criteria for seeding previous runs? I'm currently trying bayesian hyperparamters search for a dataset but I do have previous runs on different but similar dataset and the optimization is to be done with respect to accuracy similar to what was done previously. Accuracy metric for different datasets might be different.

So, does seeding previous runs help in this case?

[2021-08-24 18:45] lijiaqi commented on #2575
yeah, ```wandb/offline-run-20210823_185436-5kgf1tp8/files/wandb-metadata.json``` exactly showa ```  "state": "running"```.

It is so weird, since I did call ```wandb.finish()``` after all the logging processes, but it still showed ```running```.

[2021-08-24 19:24] sophiaas opened #2588 "[CLI] AttributeError: Can't pickle local object 'TorchGraph.create_forward_hook.<locals>.after_forward_hook'"
I am trying to save a model in PyTorch. I am using `wandb.watch()` on the model with `log_graph=True`
When I call `torch.save(model, PATH)`, I get the following error:

`AttributeError: Can't pickle local object 'TorchGraph.create_forward_hook.<locals>.after_forward_hook'`

This only happens when `log_graph=True`, so I believe it is about the wandb callback. Is there a way to remove the callback f

[2021-08-25 00:59] sudarshanregmi commented on #2586
Another question I would like to add is, could I run a sweep optimizing with respect to accuracy for different dataset, dataset being categorical value in sweep.yaml file. My concern is achievable accuracy might be different for different datasets. Would that work or do I need to create different sweeps for different dataset given that architecture is exactly same is all cases?

[2021-08-25 15:25] santelelle opened #2593 "[Feature] Image slider with iterations instead of step"
**Describe the solution you'd like**
I would like to have the option to slide through my logged images using a custom slider (that depends on a the variable logged togheter with the image, in my case the total training iterations counter). Now it's only possible using the **step**.

**Additional context**
This would be usefull because different trainings end up logging the same image at a differen

[2021-08-26 12:36] Arij-Aladel opened #2597 "rate limit exceeded"
I have many experiments in parallel and I am using wandb to track experiments, but suddenly on wandb all processes crashed but experiments on my server are still in progress. What should I do to get the control again without interrupting my processes?
from wandb log file
"rate limit exceeded, retrying in 2.040469904300563 seconds), retrying request "

[2021-08-26 16:55] kevinbro96 opened #2600 "AttributeError: 'Logger' object has no attribute 'encoding'"
**Description**
Traceback (most recent call last):
  File "/opt/conda/lib/python3.8/site-packages/wandb/sdk/wandb_init.py", line 775, in init
    run = wi.init()
  File "/opt/conda/lib/python3.8/site-packages/wandb/sdk/wandb_init.py", line 562, in init
    run._on_start()
  File "/opt/conda/lib/python3.8/site-packages/wandb/sdk/wandb_run.py", line 1618, in _on_start
    self._display_run()
  File

[2021-08-27 07:22] wmkai opened #2603 "[Q]how to remove useless agent when using sweep?"
I want to remove some useless agents when using sweep, but I don't know how do do.

[2021-08-27 07:49] alex-petrenko opened #2605 "Unable to resume the run when the process restarts itself with os.execv()"
**Description**
If wandb is active (wandb.init() was called), any call to os.execv() crashes the process.
If wandb.finish() is called before os.execv() the process resets successfully, although subsequent resume=True is ignored, instead, wandb starts a new run with the same name.

**How to reproduce**
Use this script to reproduce. This exact version crashes on os.execv(). If wandb.run.finish() lin

[2021-08-27 16:33] roboserg opened #2606 ""wandb version 0.12.1 is available!" message despite having 0.12.1 installed"
The image below shows exactly what I mean. I already have 0.12.1 installed, yet get this message every time running wandb.init

![chrome_xVpoBhz8hI](https://user-images.githubusercontent.com/4758917/131159648-82845e0e-ea22-4ac6-b39b-d9f40532679f.png)

My custom function does the **wandb.init()** https://i.imgur.com/suIDEop.png

[2021-08-27 21:15] #2606 closed, assigned to nobody

[2021-08-27 23:34] Chen-Cai-OSU commented on #716
I also need this feature to run several jobs (each one has low gpu utilization) within one sweep. It will be a very nice feature if wandb can include it.

[2021-08-28 03:28] drozzy opened #2609 "[Feature] Export Table to CSV"
It would be super nice if we could EXPORT the `Table` that we logged to wandb (just like we can export the graphs).

My use case is I'm logging table-data to wandb across runs, and I would like to download the full concatanated table as a csv.

![Screenshot from 2021-08-27 23-26-14](https://user-images.githubusercontent.com/140710/131204868-11cbde82-3e92-4965-a833-d02ab4255be8.png)

[2021-08-28 05:30] savvaki commented on #1372
@vanpelt I will investigate using the "now" policy. It is quite a common use case to resume runs and update the logged files on wandb accordingly. Thank you

[2021-08-28 09:57] mil-ad commented on #2387
I'm also having the same issue when using sweeps. Catching exceptions in my training script and printing the stack does fix the problem.

Is this going to be fixed anytime soon?

[2021-08-28 19:41] Tzoulio commented on #2571
@vanpelt Hello, after importing wandb and running wandb.init I also get the same IPython problem. When starting training and checking the wandb website i am able to see the project running and graphs about my cpu/gpu usage. However, I cannot see important metrics such as percission, mAP, loss etc... When I open the charts tab it says **"No metrics logged yet"**. Any ideas?

[2021-08-28 23:26] PiotrDabkowski commented on #2544
Thanks a lot, really cool tool, just this single bug is making debugging audio synthesis a bit painful :)

[2021-08-30 00:52] yifanwu2828 commented on #2073
@vanpelt @nzw0301 Is it possible to make a simple tutorial for using optuna with wandb? I really like the plot_parallel_coordinate(study) and plot_param_importances(study). Is there a way to upload the results of optuna in wandb dashboard?

[2021-08-30 02:46] jmuchovej opened #2611 "[CLI] Sweep launches multiple runs of the same parameter(s)"
**Description**
Running multiple agents in parallel creates lots of repeated work, even hours after the configuration has been searched.

**Wandb features**
`wandb sweep` and `wandb agent`

**How to reproduce**
I’m not entirely sure how to guarantee a reproduction… 😕 I’ve been running the agents on a HPC.
1. The script’s I’m using are for ongoing research, which I’m willing to privately share, but

[2021-08-30 03:09] alex-petrenko commented on #2605
@vanpelt I can confirm, when I replace `wandb.run.finish()` with `wandb.run.finish(exit_code=1)` I get the exact same behavior. A new run is being created for each call to wandb.init().
Thank you for the UNIQUE_ID suggestion, I will try that!

The code that uses `execv()` belongs to the system for decentralized Population Based Training.
Whenever training processes discover that they've fallen beh

[2021-08-30 04:37] vanpelt commented on #2609
When a table is viewed within a run workspace there should be a "download" button in the upper right.  Are you able to see this?

![image](https://user-images.githubusercontent.com/17/131285777-b8999a51-9859-4eeb-a9bd-5b4d6cddd15a.png)

[2021-08-30 05:16] drozzy commented on #2609
No, all I see are these controls:
<img width="241" alt="Screen Shot 2021-08-30 at 1 15 28 AM" src="https://user-images.githubusercontent.com/140710/131288680-aada342a-108d-4e32-b5de-820eb454fba4.png">

[2021-08-30 05:53] dannygoldstein commented on #2611
Hi @jmuchovej, I understand that you can't share your training scripts, but could you share a example sweep config so we can attempt to reproduce?

[2021-08-30 13:33] jmuchovej commented on #2611
[code]

[2021-08-30 14:13] jmuchovej commented on #2611
Here's a screenshot of one of the worst "offenders" (9 repeated runs for `seed=57`).
![image](https://user-images.githubusercontent.com/5000729/131352875-0ad579ea-7050-4a31-a581-f4109d737046.png)

[2021-08-30 14:14] jmuchovej commented on #2611
I've managed to pull the logs from the HPC environment, so let me know if having those would be helpful. 🙂

[2021-08-30 18:51] AlessioQuercia opened #2612 "[Feature] Add unwatch() function to wandb.Run"
**Is your feature request related to a problem? Please describe.**
I am using wandb together with Pytorch Lightning and I found out that there is no `Run.unwatch(model)`. In fact I get the following error when trying to unwatch the model from the Run (`logger.experiment.unwatch(model)` in PL):

**Describe the solution you'd like**
Even if it should be working by calling `wandb.unwatch(model)`, sin

[2021-08-30 19:16] avijit9 opened #2613 "[Q] How to add histograms as a column in a table?"
Hi,

Let's say, I have 10 validation samples. For each of them, I would like to plot predictions scores as histograms. All the plots should one column of a table. Is it possible to do that?

TIA

[2021-08-30 19:28] andyp05 opened #2614 "[CLI] Permission Denied Error in middle of run"
**Description**

Running a fast.ai learn.fit() script in VScode. Running 2 epochs. After about 10-15 minutes, I get the following error:

[code]

The file: wandb-summary.json is created and has information stored in it.

Last couple lines in debug file:

[code]

If I log into wanb.ai, the run is there and says crashed.

**How to reproduce**
1. Link to a reproducible script we can run to see the bu

[2021-08-30 21:43] vanpelt commented on #2614
Hey @andyp05 this could be related to logging data to a network syncing `OneDrive` path.  Can you try changing the directory to a non-networked path?  i.e. `wandb.init(dir="C:\Windows\TEMP")`

[2021-08-30 21:49] vanpelt commented on #2613
@avijit9 sure, you can [log a table](https://docs.wandb.ai/guides/data-vis/log-tables):

[code]

The above assumes scores are arrays of numbers that you want to convert to histograms.  Our table functionality will also automatically create histograms if you just log scalars and then [group by any values](https://docs.wandb.ai/guides/data-vis/tables#group) in the cells.

[2021-08-30 22:29] andyp05 commented on #2614
That was it. Thanks for the quick response.

[2021-08-30 22:29] #2614 closed

[2021-08-31 00:03] dannygoldstein commented on #2611
Hi @jmuchovej,

I looked into this, and I don't think the repetition of parameter values is indicative of an underlying issue with the sweeps logic here. There are a few things to keep in mind:

1. You are using `method=bayes`, which to zeroth order, finds local optima in `loss/total` and, after running for some time, may  tend to concentrate suggestions around those optima. In a case like the one

[2021-08-31 01:11] tobiascz opened #2615 "[CLI] local controller error"
**Description**
Running my sweep with a local controller creates the following error

`Violation 1. Additional properties are not allowed ('controller' was unexpected)`

**Wandb features**
https://gitbook-docs.wandb.ai/guides/sweeps/advanced-sweeps/local-controller

I run the sweep with `--controller` flag
`wandb sweep --controller sweep-config.yaml
`

**Environment**
- Ubuntu 18
- wandb version 0

[2021-08-31 01:34] dannygoldstein commented on #2615
Hi @tobiascz, can you please share your sweep config?

I tried this with 0.12.1 with the following config, and can't reproduce:

[code]

I also tried this without the controller section and it also worked fine.

On Mon, Aug 30, 2021 at 6:11 PM tobiascz ***@***.***> wrote:

--
Danny Goldstein
http://astro.caltech.edu/~danny

[2021-08-31 01:44] tobiascz commented on #2615
`program: /data/tobicz/opera/train_sample_fe.py
command:
  - /home/tobicz/.conda/envs/torch/bin/python
  - ${program}

project: test_project
method: grid #bayes
metric:
  goal: maximize
  name: max_metric
parameters:
  test_param:
    distribution: categorical
    values:
      - 64
      - 128
      - 512
      - 2048
`

[2021-08-31 01:50] dannygoldstein commented on #2615
Hi @tobiascz,

I can't reproduce:

[code]

How did you install the library? From pip, or from the git repository?

[2021-08-31 02:12] tobiascz commented on #2615
simply using pip
[code]

[2021-08-31 02:21] dannygoldstein commented on #2615
Hi @tobiascz, I just tried running against local v0.9.42 and was able to reproduce. Please upgrade to v0.9.43. That will fix it for you.

[2021-08-31 02:21] #2615 closed

[2021-08-31 07:27] JeremySMorgan commented on #2603
There's no way to stop an agent directly in the web ui.

A trick however - What you can do is stop the sweep, then cancel the run that the agent you want to stop is doing, and then the agent should stop. Then you can resume the sweep

 Also - Not quite sure what you mean by useless. Could you be more specific?

[2021-08-31 07:39] JeremySMorgan opened #2617 "[Feature] Add documentation to the wandb sweep page on gitbook-docs"
**Is your feature request related to a problem? Please describe.**
I can't figure out how to use the `wandb sweep` cli tool to update a running sweep.

**Describe the solution you'd like**
I would like the documentation for `wandb sweep` to be filled out so that I can find out how to use the update function

**Describe alternatives you've considered**
I have tried to call the `wandb sweep <sweep_i

[2021-08-31 14:36] shehryar-malik opened #2618 "[Feature] Sort plots alphabetically"
**Is your feature request related to a problem? Please describe.**
I often log my metrics into different sections (e.g., Train, Val). Each of these section usually contains several metrics. An example is below
![metrics](https://user-images.githubusercontent.com/28758711/131522218-c1df70e9-2286-4fc9-9cd1-d3f032d52f44.png)

The metrics are sorted alphabetically here, and so all metrics correspondin

[2021-08-31 17:02] AndreaPi opened #2619 "[CLI] wand.Api.artifact.verify doesn't work"
**Description**
After downloading an artifact to a folder `data_dir`, `wand.Api.artifact.verify(data_dir)` returns `None`, even though based on the signature of the function one would expect it to return `True`:
https://github.com/wandb/client/blob/849b2a9279dc2fa8e814fa83f999c0e5650ee06c/wandb/sdk/interface/artifacts.py#L620

**Wandb features**
`wandb.Api.artifact`, `artifact.download` and `artif

[2021-08-31 18:45] anmolmann commented on #2567
Hey @loicsacre, when runs (which don't have x-axis that line up exactly) are grouped, we create buckets or windows across the group of runs to show values in the same "bucket" and points are downsampled. These windows are evenly sized and within each window all points are averaged. This average value is used as a value of that metric. This is why value `6.5` is displayed in screenshot [3] because

[2021-08-31 19:40] jmusiel opened #2621 "Is there a way to make plots of intermittently logged media? [Q]"
I am training a model with some intermittent steps that get logged by wandb but do not contain certain data, so that media is set to "None" in python when it gets logged during those steps. This causes the entire plot on the wandb.ai webapp to display the message

`Selected runs are not logging media for the key: parent_energy, but instead are logging type`

here is an example printout of the pare

[2021-08-31 19:53] vanpelt commented on #2621
@jmusiel can you share a link to a run that exhibits this behavior?

[2021-08-31 20:00] vanpelt commented on #2619
Hey @AndreaPi this is a lapse on our part.  Currently `verify` will return None on success.  If it finds an invalid file or digest it will raise a `ValueError` exception.

[2021-08-31 20:00] #2619 closed

[2021-08-31 20:07] AndreaPi commented on #2619
Good to know! I'll modify my code accordingly, thanks!

[2021-08-31 20:31] jmusiel commented on #2621
Well this is very odd.

I went to go do as you asked and found a run that seems to behave this way:

https://wandb.ai/ulissi-group/train_on_points_0_and_2/runs/1r5ad4m1

However when I open that link while logged out of my wandb account, it appears to display the plots I am interested in the way I want them (parent_energy being the main one). It fails to display the plots when I am logged in howev

[2021-08-31 23:22] jmuchovej commented on #2611
Hi @dannygoldstein, thanks for clarifying! This all makes more sense.

In hindsight, I should have realized this, but I think it _might_ make sense to add a note of this sort of behavior to the [docs][sweep-docs].

[sweep-docs]: https://docs.wandb.ai/guides/sweeps/configuration#method

[2021-08-31 23:22] #2611 closed

[2021-08-31 23:55] vanpelt commented on #2617
@JeremySMorgan we'll update the docs, but until then the easiest way to resolve this error is to provide the entire sweep path, i.e. "USERNAME/PROJECTNAME/SWEEPID"

[2021-09-01 00:13] drozzy opened #2623 "Sweeps double-log the command-line arguments as command_line"
Sweeps logs all arguments again, using lowercase. So if I have a command line argument `batch-size` sweep will log both `batch-size` and `batch_size` (underscore).

![Screenshot from 2021-08-31 20-10-54](https://user-images.githubusercontent.com/140710/131591726-897e975b-76e0-4578-b612-7bafbc51febf.png)

# To reproduce

If I have a script, that uses command line args as follows:

[code]

Here is m

[2021-09-01 00:59] drozzy commented on #2609
It would be really nice to have this feature, because it's not possible to replace it with anything else.
I can't log an artifact from multiple runs, nor can I join data from multiple runs from the GUI.

[2021-09-01 02:46] dannygoldstein commented on #2588
@borisdayma

[2021-09-01 03:02] borisdayma commented on #2588
Hey @sophiaas
Try calling `wandb.unwatch()` or `wandb.unwatch(model)` before saving your model.

[2021-09-01 05:14] jihwanp opened #2625 "[Q]Wandb seems not logging the gradient for parameters that updated in optimizer during training"
Hi, I recently work on transfer learning so I dynamically update the optimizer to unfreeze the model parameters.
What I found was that the parameters that I unfreeze compute gradients and were updated but it seems that wandb does not log those parameters' gradients. Is it a bug or can it be fixed by calling ` wandb.watch(model)` later during the training ?

I have some doubts about this situation

[2021-09-01 12:19] armanhar commented on #2623
Hey Andriy, thanks for reporting this. The team is looking into this.

[2021-09-01 12:56] MendelXu opened #2626 "[View-only report will still expose whole project to others]"
**Is your feature request related to a problem? Please describe.**

I  am working on a private project and I have to show some results to others. For some reason, I would like only the report visible to others instead of the whole project. Is there any way to perform such an operation?

**Describe the solution you'd like**

Select which part of a project to be visible only.

**Describe alternative

[2021-09-01 13:10] armanhar commented on #2626
Hey there, you can create a report for a private project and share a view-only link to it. Here is the [link](https://docs.wandb.ai/guides/reports#view-only-report-links) to the docs

[2021-09-01 13:19] MendelXu commented on #2626
It is not enough. For example, I create a view-only link [here](https://wandb.ai/mendelxu/astro/reports/Untitled-Report--Vmlldzo5ODQyOTc?accessToken=do7j1kq5fn08mqgsgdt00nboxtzmqtdmke89s1trvhl8hlc5ouk5cxt514v7qd29). However, by clicking on the project name in the navigator, you can still see all of my experiments in the project name.

[2021-09-01 13:23] armanhar commented on #2586
Hey Sudarshan, I'll need to double-check with the team and get back to you.

[2021-09-01 13:28] MendelXu commented on #2626
I have to close it now as it may expose my github token....

[2021-09-01 14:22] armanhar commented on #2618
Hey there, you can already sort panels alphabetically by clicking on the 3 dots at the top of a section
<img width="311" alt="Screen Shot 2021-09-01 at 18 21 50" src="https://user-images.githubusercontent.com/89597668/131688447-ad48aa87-ff20-4cf1-857c-4a2b58d60f1c.png">
<img width="286" alt="Screen Shot 2021-09-01 at 18 21 57" src="https://user-images.githubusercontent.com/89597668/131688449-ae9c2

[2021-09-01 15:14] armanhar commented on #2626
I see, I am opening a ticket so that the team can look into this. Will keep you updated.

[2021-09-01 18:29] shehryar-malik commented on #2618
Thanks a lot.

[2021-09-01 18:29] #2618 closed

[2021-09-01 19:37] anmolmann commented on #2625
Hi @jihwanp, the gradients come for calling `wandb.watch` which has a `log_freq` parameter telling us how often to log the gradients.
To log gradients and store the network topology, you can call `.watch` on your model. Then use `.log` for anything else you might need to track.

[2021-09-01 20:16] dannygoldstein commented on #2617
Docs updated. Working on the error message now.

[2021-09-01 21:01] #2617 closed

[2021-09-02 00:27] dannygoldstein commented on #2623
Hi @drozzy,

This is happening because of how you have your argument parser set up in your example. The arg parser stores

[code]

as

[code]

and when you do

[code]

wandb will see that your config has a new variable called `batch_size`.

You actually dont need to manually include the argparse lines above, the sweep already passes the parameters to `wandb.config` and they are all accessible in `

[2021-09-02 00:28] JayThibs commented on #1236
I'm having this issue in Colab. I was able to pass the login with wandb.login(key=key) (otherwise Colab crashes), but wandb.init() gives me an error.

I'll be downgrading to 0.9.7 from 0.12.1.

[2021-09-02 04:42] JeremySMorgan commented on #2617
@vanpelt @dannygoldstein Thanks for the quick follow up on this. Ya, it's not clear that the `SWEEP_ID` in `CONFIG_YAML_OR_SWEEP_ID` refers to `USERNAME/PROJECTNAME/SWEEPID` instead of `xk2thesj` (for example).

Side note - are you really supposed to pass your entire yaml file in as the argument to the `wandb sweep`? (Assuming that's what the `CONFIG_YAML_` is in reference to?

Also - it looks lik

[2021-09-02 13:12] al967 opened #2630 "How to perform a sweep?[Q]"
I have a model setup up where I pass arguments through a .sh file, and the wandb arguments to log the metrics are in a .py file.

The arguments in the .py file are as follows:

[code]

Most of the tutorial on using sweep in wandb involve .py files, but could the setup described above still be used to perform a sweep?

[2021-09-02 14:04] drozzy commented on #2623
Ok that's great to know.
You may want to update your docs then - because I took my example from there pretty much:
https://gitbook-docs.wandb.ai/guides/track/config#argparse-namespace
<img width="752" alt="Screen Shot 2021-09-02 at 10 04 11 AM" src="https://user-images.githubusercontent.com/140710/131857963-d63ceb55-e147-4f88-82c3-52a2030b15ee.png">

[2021-09-02 15:17] armanhar commented on #2626
Hey there, the issue should be fixed now. Thanks for reporting this.

[2021-09-02 17:34] vanpelt commented on #2617
`CONFIG_YAML_` refers to a file path that resolves to a YAML config file.  I thought @dannygoldstein updated the docs so it may just not be merged into master yet.

[2021-09-02 17:39] vanpelt commented on #2630
Yep that should work fine.  You will want to move `wandb.tensorboard.patch` before your call to `wandb.init` and you could just set `config=args` in your `init` call as well, but config.update works.  In your sweep config you'll specify a program that you want our agent to run.  In your case that program should be the `.sh` file which will call your python script.  Given the following example:

[c

[2021-09-02 17:39] #2630 closed

[2021-09-02 17:52] vanpelt commented on #2586
@sudarshanregmi the bayes search will look at your configuration and account for any previous runs that are part of the search space.  For a run to be considered a part of the search space a few conditions will need to be met:

1. The hyperparemeters will need to exist and have values within the ranges specified in your config.
2. The metric your optimizing in your sweep will need to exist and hav

[2021-09-02 17:57] vanpelt commented on #1236
@JayThibs we're looking into this.  I've noticed that if the authentication is invalid we'll crash.  Would you be able to share a colab with me that causes this issue for you?  My email is vanpelt@wandb.com

[2021-09-02 18:08] dannygoldstein commented on #2617
Sorry wasn’t merged yet, just merged now.
________________________________
From: Chris Van Pelt ***@***.***>
Sent: Thursday, September 2, 2021 10:34:24 AM
To: wandb/client ***@***.***>
Cc: Danny Goldstein ***@***.***>; Mention ***@***.***>
Subject: Re: [wandb/client] [Feature] Add documentation to the wandb sweep page on gitbook-docs (#2617)

CONFIG_YAML_ refers to a file path that resolves to a Y

[2021-09-03 06:35] MendelXu commented on #2626
I see. Thanks for your hard work.

[2021-09-03 06:35] #2626 closed

[2021-09-03 16:12] tezer opened #2638 "[Q] How can I get current sweep run name?"
I want to store best models locally and use the current sweep run name (or id) as part of the model's name.
Is there anything like `wandb.sweep.name` to get the name of the current run (configuration)?

[2021-09-03 18:05] tezer commented on #2638
I found it
Just in case someone will be looking for it:
[code]

[https://docs.wandb.ai/guides/track/launch](https://docs.wandb.ai/guides/track/launch)

[2021-09-03 18:05] #2638 closed

[2021-09-04 15:23] lorinczszabolcs commented on #778
Hi! I was facing a similar issue, when I created a seaborn scatter plot. When logging as a wandb.Image, it showed the colors, but when I logged the figure directly, the colors were not shown on the legend, only on the actual points in the scatter plot.

Example:

[code]
For info:

plotly==5.3.1
matplotlib==3.3.4
seaborn==0.11.2

[2021-09-05 20:30] maxwass opened #2641 "[CLI] wandb: WARNING Config item 'hyperparam_name' was locked by 'sweep' (ignored update)"
**Description**
When running basic hyper parameter search (following this [tutorial](https://colab.research.google.com/github/wandb/examples/blob/master/colabs/pytorch/Organizing_Hyperparameter_Sweeps_in_PyTorch_with_W%26B.ipynb#scrollTo=rHpan13W6UZD) very closely) I get:
`wandb: WARNING Config item 'hyperparam_name' was locked by 'sweep' (ignored update).`
for many, but not all, of my hyper param

[2021-09-06 04:16] StepNeverStop opened #2642 "[Q] How to log data with custom x-axis flexible and convenient？"
For some training tasks, we usually log some data in `epoch` and others in `step` of the x-axis.

If I write code like:

[code]

then it doesn't work:

[code]

One promising way is calling `.log` like this:

[code]

but this way needs to select the x-axis of `x` to `x_step` and `y` to `y_step` manually on the website, which is so inconvenient.

Is there any better way to deal with situations like

[2021-09-06 13:02] rbracco opened #2643 "Null metrics in sweep table results, but not in charts[App]"
**Describe the bug**
In my sweeps, most of the metrics in the sweep table are shown as '-' but the metric data in the charts is complete and correct.

**Expected behavior**
Barring an error, I expect the sweeps table to show the metrics for easy comparison

**Screenshots**
Sweep tables are missing data:
![image](https://user-images.githubusercontent.com/47190785/132221099-6515200a-1855-41fd-abab-3

[2021-09-06 17:44] crizCraig opened #2644 "[CLI] wandb.watch leaks system memory (i.e. not gpu memory)"
**Description**
System memory is stable during training, but large 1GB chunks are utilized shortly after taking checkpoints. When I comment out `wandb.watch(model)`, the issue goes away.

**Wandb features**
`init` `watch` `log` `lightning`

**How to reproduce**
1. I can share the private repo if you want to reproduce

**Environment**
- OS: Ubuntu 18.04.5 LTS
- Environment: Anaconda
- Python Versio

[2021-09-06 18:31] vanpelt commented on #2644
Hey @crizCraig `wandb.watch` pulls down histograms of all gradients in your network and copies them from GPU to CPU.  We would expect memory to increase while logging these histograms, but it should be released immediately.  If you can share a private repo we can determine if this is a bug.

[2021-09-06 18:43] Dencher92 opened #2645 "[CLI] Crash when making a request to localhost/graphql during initialization"
**Description**
During the initialization of wandb the error occurs while it is trying to make a request to localhost/graphql:

The installation is local.

Full trace:

**Wandb features**
I run the script from console like this:
`WANDB_API_KEY=$MY_API_KEY WANDB_BASE_URL="http://localhost:11112/" python test_wandb.py`
The script itself is very basic:
[code]
as can be seen from the trace, init() fun

[2021-09-06 19:41] vanpelt commented on #2645
@Dencher92 there could be a couple things going on here.  Can you try the following:

[code]

The trailing slash in `WANDB_BASE_URL` in your example may have caused an issue.  Calling `wandb login --host=http://localhost:11112` will configure your machine to always connect to that local server so you don't need to pass environment variables.  If this doesn't work, can you got to http://localhost:1

[2021-09-06 20:39] dasayan05 opened #2646 "[Q] How to change the default camera angle of `wandb.Object3D` panel in web interface ?"
I am writing a pointclouds in `np.ndarray` (specifically of `[x,y,z,c]` [style](https://docs.wandb.ai/ref/python/data-types/object3d)). However, all my 3D clouds are actually 2D (i.e. `z=0`). So, I need to visualize them along z axis from above.

The default camera angle in the panel in not very good. I need to rotate them with mouse all the time. I have a lot of such pointclouds so its infeasible

[2021-09-06 21:08] vanpelt commented on #2641
Hey @maxwass are you calling `wandb.config.update(...)` anywhere in your code?  The pytorch lightning integration calls config.update which would be triggering the error.  In this case you should be able to ignore the error because `wandb.run.config` will be prepopulated with the appropriate config.  We can look into fixing this in the integration in a future release.

[2021-09-06 21:14] vanpelt commented on #2642
Hey @StepNeverStop if you want to log multiple x-axis values you'll need to use the second approach.  You can assign custom axis to charts programmatically by calling [define_metric](https://docs.wandb.ai/ref/python/run#define_metric), i.e.

[code]

[2021-09-06 21:14] #2642 closed

[2021-09-06 21:15] vanpelt commented on #2643
@rbracco can you share a link to the sweep where this is happening for you?

[2021-09-06 23:10] rbracco commented on #2643
https://wandb.ai/madeupmasters/thunder_train-train_scripts/sweeps/vc3m8mrn but it's set to private. Is there a way I can either share logs or grant you access without making it fully public?

[2021-09-06 23:28] maxwass commented on #2641
Nope not calling `wandb.config.update()` , all the methods called using wandb are shown.

So just to be clear, even though pytorch lightning calls `wand.update` causing these warnings, everything should be working as expected?

[2021-09-07 01:11] dasayan05 opened #2649 "[Q] How to log a list of matplotlib axes so that I can use the "example index" slider"
I want to log a list of matplotlib axes via `.log()` call. The way I currently do is create a subplot of all axes and log the whole figure using
[code]
However, this doesn't treat individual axis as "one example" in the panel. I tried creating multiple plots
[code]
but ened up in an error saying
[code]
What is the right way to do it ?

[2021-09-07 05:03] Dencher92 commented on #2645
@vanpelt removing the trailing slash did the trick. Thank you for your support!

[2021-09-07 10:17] gabriel-vanzandycke commented on #2578
Any update on this issue? Is it hard to fix?

[2021-09-07 14:07] armanhar commented on #1733
@Syzygianinfern0 You'll need to contact support. If you tell me your username i can delete the account for you.

[2021-09-07 14:08] Syzygianinfern0 commented on #1733
Thanks! This is my username: `syzygianinfern0`.

[2021-09-07 14:31] armanhar commented on #1733
The account has been deleted.

[2021-09-07 14:40] Syzygianinfern0 commented on #1733
@armanhar wait, now I cannot create an account with the same Mail ID once more? I just wanted to start over.

![](https://i.imgur.com/MzYENtO.png)

[2021-09-07 17:55] vanpelt commented on #2641
Yep, everything should still work.

[2021-09-07 17:59] vanpelt commented on #2649
If you wrap each fig in a `wandb.Plotly(fig1)` or a `wandb.Image(fig1)` it should work.

[2021-09-07 18:25] #2641 closed

[2021-09-07 19:22] dasayan05 commented on #2649
Thank you @vanpelt , the `wandb.Image(..)` is indeed working but not `wandb.Plotly(..)`. With `Plotly`, it isn't logging anything for the specific panel.

Even though its fine for the time being but I would love to keep the figures interactive rather than rasterized.

[2021-09-07 20:46] vanpelt commented on #2649
Ahh, that's too bad.  `wandb.Plotly` will convert the matplotlib figures into interactive json but we don't currently support logging lists of interactive plots.  For now the best compromise is logging each figure at a different key:

[code]

[2021-09-07 20:48] vanpelt commented on #2649
If you call the above example multiple times in the same script, you'll get the slider.  In your case it may make more sense to run:

[code]

[2021-09-07 20:57] vanpelt commented on #2578
@gabriel-vanzandycke were you not able to fix this with the settings update?  We will not be able to save the conda environment if you're not running in one.  The fix on our end would be to catch this exception and not save the environment.  If you want to capture a reproducible environment you'll need to activate one before running your script.

[2021-09-07 22:10] jmusiel commented on #2621
Switching to the default workspace (bottom left hand corner of the workspace page) and back seems to have solved my issue

[2021-09-07 22:10] #2621 closed

[2021-09-08 01:44] sophiaas commented on #1869
Hi - I am having a similar error when I use multiprocessing to spin up multiple agents for wandb sweeps. The error looks something like

`FileNotFoundError: [Errno 2] No such file or directory: '/tmp/tmpqk8yfsrewandb-media/22jc9qcw.png'`

and it halts my runs.

Would be awesome to have this fixed. I have a strong preference for using the multiprocessing module over other approaches to parallelizin

[2021-09-08 02:59] alex-petrenko commented on #2605
I can confirm the UNIQUE_ID solution works!

I am using the following code to initialize wandb:

[code]

Note `resume=True` even on the first initialization when the run does not exist yet, WandB seems to be handling this case correctly.

Before I restart my process I call:
[code]

I think the case can be closed, thank you for helping!

[2021-09-08 02:59] #2605 closed

[2021-09-08 07:07] samiede commented on #702
I often get a "Bad Request" from this, and the runs are also not deleteable in the web interface, does anyone know what I could be doing wrong?

[2021-09-08 09:51] bernatGene commented on #2005
Also Seconding this feature request. The workaround of re-nesting the parameters flattened by the sweep is very ugly and tedious.

[2021-09-08 14:07] armanhar commented on #2005
Hey @bernatGene, thanks for writing in. We have a ticket for this feature, I'll bump up its priority and let you know once there are updates

[2021-09-08 14:20] armanhar commented on #702
@samiede can you tell me which wandb version are you using? Also are you getting an error when deleting a run in the UI?

[2021-09-08 15:04] samiede commented on #702
I'm using version 0.12.1.
Yeah, it also times out on those runs and I'm not able to delete them there!

[2021-09-09 11:36] magehrig opened #2653 "[Feature, App] Move runs to different group"
I created a run under a certain group. Afterward, I would like to have the opportunity to move this run to a different group. Currently, this is not possible, which means that my initial assignment to a group is permanent.

[2021-09-09 13:50] armanhar commented on #2653
Hey Mathias, thanks for writing in. We already have an internal ticket for changing the group of a run. I'll bump up its priority and let you know once the feature is available.

[2021-09-09 13:51] #2653 closed

[2021-09-09 17:08] bradgrimm commented on #1700
+1 For this feature request.

[2021-09-09 18:09] vanpelt commented on #2649
Can you share a link to the run where this isn't working for you?

[2021-09-09 19:46] #2645 closed

[2021-09-10 02:54] NumberChiffre opened #2656 "[App] Bar chart using box plot full screen display issue"
Hello Everyone,

Earlier this week I noticed a UI problem when displaying bar chart in full screen using box plot vertically on wandb.com. The full chart would continuously spread across vertically and will not be stopped unless the full screen is closed. I ran this both on latest safari on Mac and on chrome on ubuntu with the same outcome. Only happens if I use full screen.

Thanks!

[2021-09-10 03:21] drozzy commented on #881
Altair is definitely more readable than vega json spec :-)

[code]

[2021-09-10 06:46] bluch commented on #1700
+1 for the feature request

[2021-09-10 13:08] optimass opened #2657 "Having trouble with wandb local"
**Description**
Hello. I was using `wandb local` just fine and now I'm having some issues with it.
It might be related to the fact that i'm relogin into wandb with my original account (seems like I needed to create a new one the first time I launch `wandb local`

Anyhow, here is the error
[code]

**Environment**
- OS: Linux 5.4.0-1055-aws x86_64
- Python Version: 3.8

[2021-09-10 13:20] optimass commented on #2657
If I don't login prior to launching `wandb local`, then http://localhost:8080/authorize brings me here:
![image](https://user-images.githubusercontent.com/26232819/132859332-970d781d-156a-43b9-ac44-0d8fcf537295.png)
Where my both WandB accounts credential do not work, and neither does the one suggested here https://docs.wandb.ai/guides/self-hosted/local#authentication

[2021-09-10 15:51] optimass commented on #2657
If I login with my original WandB account, then run `wandb local`, here's what I will see at  http://localhost:8080/
![image](https://user-images.githubusercontent.com/26232819/132881366-adc1ddf0-2452-4d9a-b827-5285cbf844dc.png).

[2021-09-10 19:00] #2005 closed

[2021-09-10 19:05] #2603 closed

[2021-09-10 21:30] vanpelt commented on #2657
@optimass you'll need to login with the account you originally created for the local instance.  If you can't remember that password you can reset it by shelling into the container.

[code]

Then you should be able to login and get the appropriate api key to authenticate.

[2021-09-10 21:30] #2657 closed

[2021-09-10 21:36] anmolmann commented on #2656
Hey @NumberChiffre , thanks so much for flagging this. This does seem like a bug. I've filed an internal bug report for this one. We've keep you posted once we've a fix for this.

[2021-09-12 14:16] JayThibs commented on #1236
@vanpelt Ok, thanks for the response. Just saw this. Will email with a notebook soon.

[2021-09-12 15:44] richardrl opened #2659 "[Feature] Trash can for runs"
We need to delete hundreds of runs a day. This is very common. However, the current method for deletion is extremely dangerous - it is easy to accidentally delete a _valid_ run that took 100 hours to run and $xxxx cost.

You should add a trash can that stores the runs after deletion for 30 days. This way, we can still delete runs to keep our main workspace organized, but there's no risk of serious

[2021-09-12 19:06] magehrig opened #2660 "[CLI] Cannot delete artifact with only one version"
**Description**
When an artifact of a wandb run has only one version, it cannot be deleted successfully (tested with the Python API).

**Wandb features**
I am using [wandb.apis.public.Api](https://docs.wandb.ai/ref/python/public-api/api) to delete artifacts.

**How to reproduce**
1. Create a run with an artifact that has only one version. The same holds if a run has multiple artifacts with only on

[2021-09-12 23:08] vanpelt commented on #2659
Hey @richardrl deletion is already implemented this way, we always soft-delete your runs.  We don't currently expose the un-delete functionality in our UI but we can manually un-delete runs if you need us to.  I'll leave this ticket open as we eventually plan to support un-delete in the UI.

[2021-09-13 00:11] MatthewGleeson opened #2661 "[App] Unable to display values in bar chart legend without hover"
I'm trying to modify the legend of the bar chart that gets displayed, and can do so perfectly well with variables in the run's configuration( for example, using `${config:objective_function_name}`.

However I am unable to add the actual value of the variable that is getting displayed in the bar chart. I want it to show something like:
"objective_function:erm test_error:.00005"

So, my legend templ

[2021-09-13 12:38] armanhar commented on #1700
Hey everyone, i've bumped up the priority for this feature request.

[2021-09-13 12:54] optimass commented on #2657
Ok thanks that worked!

[2021-09-13 12:58] optimass opened #2662 "[Q] Is there a way to combine runs from different `wandb local` into a single one?"
Hello,

I'm trying to aggregate the runs I collected with different `wandb local` instances into a single one, so that I can look at all my runs simultaneously.

Is there a simple way to do that? Also, could I run wandb in an offline mode and then somehow add up the collected runs in a folder and then run `wandb local` on it?

[2021-09-13 14:44] shrijan00 opened #2663 "[Q] Not able to log Image"
Hi,
I tried to log before in a similar fashion and it worked. But now when I was trying to log an image, it just throws an error:

![image](https://user-images.githubusercontent.com/4169231/133104789-754d75aa-9f2a-49d8-a197-2646eefbae7d.png)

Any idea what could be the issue?

[2021-09-13 18:11] vanpelt commented on #2662
Hey @optimass we do not support merging multiple instances of `wandb local`.  It's meant for trying out the service, we would suggest configuring a production install by obtaining a license and configuring an external MySQL and object store.

You can sync local run folders to any wandb server.  Just make sure you're logged in to the appropriate server with `wandb login --host=http://localhost:8080

[2021-09-13 18:11] #2662 closed

[2021-09-13 18:18] vanpelt commented on #2663
@shrijan00 it looks like pytorch lightning doesn't like the `wandb.Image`.  You can likely log it manually using the core wandb api's.  `wandb.log({"CM", wandb.Image(fig1)})`.

[2021-09-13 19:42] drozzy commented on #2609
You probably missunderstood me, what I meant was the _table_ from the "Tables" pane, where we log data manually:
![Screenshot from 2021-09-13 15-41-12](https://user-images.githubusercontent.com/140710/133146326-3fd3c036-2bfd-410d-b8b9-ddcab6a2d41f.png)

[2021-09-13 21:54] aidanjdonohue commented on #2660
Hi @magehrig looking into this for you. Could you let me know which version of `wandb` you're using?

[2021-09-13 22:07] NumberChiffre commented on #2656
@anmolmann thanks for the update, and yes this issue is still happening as of today, definitely looking forward to see this fixed!

[2021-09-13 22:28] XiaomoWu opened #2665 "[Feature] Add distribution type of "range" for grid method"
Currently, if I want to try out 5 random seeds, then I have to specify in the config.yaml file like this (suppose I'm using grid search):

[code]
However, the key `values` become useless when the number of trials is large. For example, if I want to try every integer random seed from 0 to 1000, it just doesn't make too much sense to write out all the candidates.

Is it possible to add something lik

[2021-09-14 00:15] vanpelt commented on #2609
Ahh I see.  Adding a CSV export to tables is definitely on the road map.  Until then you can export the data programmatically:

[code]

[2021-09-14 00:20] vanpelt commented on #2665
Hey @XiaomoWu you should be able to do this today with:

[code]

You'll need to change the method to "random" instead of grid but the system should explore all values between 0 and 1000 in that case.  I'll keep this open as we may want to add support to grid search supporting bounded distributions like this.

[2021-09-14 00:28] XiaomoWu commented on #2665
Thanks for the response! Just a few things to confirm:

- If I use "random", then I have to manually set the total count of runs or otherwise, wandb will run forever?

- Will wandb resample the same set of hparams before it exhausts all the possible combinations, i.e., does it sample with replacement (suppose I have many other hparams)?

[2021-09-14 03:42] drozzy commented on #2609
What I meant is I want the data for all the runs (the resulting concatenated table).

The reason this is useful is because during a sweep I can have multiple workers log to the *same* table, at the *same* time, and after my sweep is done I can get a concatenated table.

[2021-09-14 06:02] magehrig commented on #2660
0.12.1

[2021-09-14 07:41] shrijan00 commented on #2663
I tried this but it says:
![image](https://user-images.githubusercontent.com/4169231/133216145-1fe061e3-663c-4617-92b2-c1eaa5f4cb54.png)
Do I need to create byte object?

[2021-09-14 12:50] optimass commented on #2662
Great, that worked!

Some extra notes if someone else is switching between standard and self-hosted `wandb` and gets here:

after `wandb local`, maybe `wandb login --host=http://localhost:8080` will work fine but `wandb sync` will throw :
[code]
in this case, run `wandb login --relogin --host=http://localhost:8080` and paste the API key of your local account

[2021-09-14 13:05] sydholl commented on #1733
@Syzygianinfern0 apologies for the delay, you should now be able to sign up again using the same email.

[2021-09-14 13:05] #1733 closed

[2021-09-14 14:38] shrijan00 commented on #2663
I have fixed the issue.
Changed the wandb version from 0.12.1 to 0.10.29
matplotlib version from 3.4.2 to 3.3.3
Pytorch_lightning version from 1.4.6 to 1.3.1

[2021-09-14 16:37] aidanjdonohue commented on #2646
Hi @dasayan05 it sounds like using a [custom scatter plot](https://wandb.ai/wandb/plots/reports/Custom-Scatter-Plots--VmlldzoyNjk5NDQ) would be more appropriate for this use case.

[2021-09-14 18:25] savvaki commented on #2540
I am going to close this issue since I have not had time to get to it. I will reopen one day if need be.

[2021-09-14 18:25] #2540 closed

[2021-09-15 06:12] harveenchadha opened #2670 "[Feature] Manually add columns in tables"
**Is your feature request related to a problem? Please describe.**
I am using wandb for kaggle trainings now but the problem is that I am not able to update test set score for a particular model in tables tab.

**Describe the solution you'd like**
Give add, delete, edit, update option in columns of tables

**Describe alternatives you've considered**
Writing in reports but can't compare in the tabl

[2021-09-15 12:22] dalgaard opened #2671 "Binary sklearn LogisticRegression and feature importance"
Hi wandb team,

I am trying to plot the feature importance of a LogisticRegression model for binary classification problem. Then
`model.coef_.shape == (1, n_features)`
and this check fails :
https://github.com/wandb/client/blob/63a5dd08e72fc20d3fe0eb5d441843870b0ed7f5/wandb/sklearn/__init__.py#L646
(unless we have n_features == 1)

I believe we should (at least) squeeze `importance` before the che

[2021-09-15 16:33] harveenchadha opened #2672 "WandbCallback fails on TPU[CLI]"
**Description**
Adding Keras WandbCallback fails and throws an error.

![Screenshot from 2021-09-15 21-32-25](https://user-images.githubusercontent.com/30959215/133473247-265d5805-22d0-4933-81e8-35f4c1f2382a.png)

[2021-09-15 17:44] vanpelt commented on #2672
@harveenchadha can you confirm what version of wandb you're using by running `wandb --version`?

[2021-09-15 18:15] mehraveh2016 commented on #580
hi, I have the same problem, I am working with BART (which is a transformer model ), could you please tell me what is the solution? noting worked for me
thank you

[2021-09-15 18:22] jayelm commented on #2407
This is super useful, and would love to see this in the documentation e.g. as a FAQ! I imagine it's a fairly common use case to want to visualize how custom charts progress over time.

[2021-09-15 18:57] sophiaas opened #2673 "[CLI] wandb: ERROR Dropped streaming file chunk"
**Describe the bug**
I'm running a sweep. I started 6 agents in parallel with that sweep id. All going fine. Then I started another 6 agents with the same sweep id in a different parallel process. Working fine at start, but after a while, I started seeing the following error on every log step:

`wandb: ERROR Dropped streaming file chunk (see wandb/debug-internal.log)
ERROR:root:dropped chunk 404 C

[2021-09-15 19:15] aidanjdonohue commented on #2671
Hi @dalgaard this seems reasonable. Let me look into this and get back to you.

[2021-09-15 19:18] aidanjdonohue commented on #2670
Hi @harveenchadha can you please post a screenshot of the table you're trying to update? It seems like this could be better achieved by joining two tables but I'd like to understand your use case more.

[2021-09-15 19:58] anmolmann commented on #2673
Hey @sophiaas , thanks for reporting the issue. Could you please share the wandb version you're using? This was a known issue in a previous wandb version, hence, my reason for asking.
Also, can you try syncing the runs, using` wandb sync` and check if this resolves the issue? As it seems like wandb tried to upload a file that wasn’t there/available. To get to the root cause as to why this is happe

[2021-09-15 20:21] harveenchadha commented on #2672
I am on the latest version:

0.12.2

[2021-09-15 20:24] harveenchadha commented on #2670
For example if I want to add a new column here in which I can save the test set results. There is no way to do it and hence I cannot track parameters outside of my model training.

![Screenshot from 2021-09-16 01-53-03](https://user-images.githubusercontent.com/30959215/133504146-0c108c31-c9da-4842-8c0c-fc9702c46bd2.png)

[2021-09-15 23:59] vanpelt commented on #580
@mehraveh2016 you'll need to set the environment variable `WANDB_WATCH=false` to disable gradient logging until we're able to support custom Jit models.

[2021-09-16 00:03] vanpelt commented on #2673
@sophiaas when you start your agent be sure to specify the fully qualified sweep name, i.e. USERNAME/PROJECT/SWEEP_ID that's my best guess as to what might be going wrong.

[2021-09-16 00:05] vanpelt commented on #2672
@harveenchadha if you're able to share a colab that can reproduce this that would really help us get to the bottom of it.  We think it's because the summary is too large for us to sync in the current time we allow.  The next release of the library should increase this timeout, but if we can reproduce ourselves before than we can likely get you a workaround.

[2021-09-16 00:05] vanpelt commented on #2672
My email is vanpelt@wandb.com if you want to share a private colab.

[2021-09-16 01:54] harveenchadha commented on #2672
I can give you a public kaggle [kernel](https://www.kaggle.com/harveenchadha/chaii-tpu-train-nfold-xlm-hf-tf-data-extra?scriptVersionId=74865075)

Here you will find the error.

If something is wrong with my code structure, do let me know!

[2021-09-16 09:11] davidleejy opened #2674 "[Q] Recording multiple models/runs in single script"
Hello WandB community. Is there a way to record multiple runs in a single script? Looked around for answers but could not find any. I would like to do something like:

[code]

Some possibilities that might work?
- Use a combination of wandb resumes.
- Manually log e.g. `wandb.log({"acc":acc, "loss":loss})`
- Groups? https://docs.wandb.ai/guides/track/advanced/grouping

[2021-09-16 10:05] davidleejy commented on #2674
I think I found out how:

[code]

[2021-09-16 10:26] davidleejy commented on #2674
Alright with closing issue :)

[2021-09-16 11:44] Mo-youssef commented on #2363
Hi, any updates or workarounds?
My space usage is preventing me from running experiments

[2021-09-16 12:51] armanhar commented on #2659
Hey Richard, at the moment you can undelete all the runs that have been deleted for the past 7 days. The option is in the overview section of a project
<img width="303" alt="Screen Shot 2021-09-16 at 16 48 47" src="https://user-images.githubusercontent.com/89597668/133614842-c1cbfd94-8cfb-4878-82bd-2ce273fee139.png">

[2021-09-16 13:40] #2674 closed

[2021-09-16 16:56] miguelvalente opened #2675 "[Q] Is it possible that: On the same run, and on under the same metric to have multiple graphs?"
The questions pretty much sums up the issue.

In my training script I train a classifier multiple times. I would like to be able to make new graphs under the same metric every time I train a classifier from scratch. [Example of my Issue](https://wandb.ai/mvalente/Zero_Flow_CUB/reports/Shared-panel-21-09-16-18-09-00--VmlldzoxMDI5Mzky?highlightShare) .

[What I would like to happen](https://wandb.ai

[2021-09-16 17:38] vanpelt commented on #2363
hey @Mo-youssef how is your space usage preventing you from running experiments?  Are you running out of disk space on your local machine?  This specific issue when deleting runs with lots of artifacts from the system should be fixed soon, but it currently doesn't prevent you running new experiments.

[2021-09-16 18:39] Mo-youssef commented on #2363
Sorry, I didn't clarify enough. I meant I can't log more experiments on wandb. It is great to know that this issue will be fixed soon.

[2021-09-16 20:32] JayThibs commented on #1856
Commenting to express interest in this feature as well. :)

[2021-09-16 22:18] thunderock commented on #965
I use both Catboost and wandb pretty heavilly in my daily life, would've liked to have wandb support this !

[2021-09-16 22:34] vanpelt commented on #2672
Hey @harveenchadha we'll need to look into a fix for this ahead of the next release.  Until then, I think the simplest solution would be to use the keras Tensorboard callback and just add `sync_tensorboard=True` to `wandb.init`.

[2021-09-16 23:53] vanpelt commented on #965
@thunderock we used to have this in the mainline, but it got dropped as we were upgrading the library.  We'll try to get it back in, but you take the old code and add it to your own library until it makes it back in:

https://github.com/wandb/client/blob/v0.9.5/wandb/catboost

[2021-09-17 11:31] Godofnothing opened #2677 "[App] Cannot create account on wandb.ai"
I am trying to create an account on the wandb.ai, and I have encountered the following issue:

1) I fill the name, organization and the user name in the fields

<img width="393" alt="Снимок экрана 2021-09-17 в 14 24 26" src="https://user-images.githubusercontent.com/29793750/133775184-90e0a406-3719-447c-9522-5be6a196b3e6.png">

2) On the next page I receive an error message

<img width="713" alt="

[2021-09-17 16:08] cvphelps commented on #2677
@Godofnothing thank you for reporting this concerning issue! Could you please message support@wandb.com with your username from the email associated with your GitHub account? We want to get this fixed for you asap.

[2021-09-17 16:33] cvphelps commented on #2677
@Godofnothing talking to the team internally, this error means you already have an account associated with that email address. Have you previously signed up using an email+password or a Google login rather than GitHub?

[2021-09-17 18:01] Godofnothing commented on #2677
@cvphelps  Yeah, seems like probably I've logged in via email. I've tried to log in via email and I have this window:
<img width="313" alt="Снимок экрана 2021-09-17 в 20 59 26" src="https://user-images.githubusercontent.com/29793750/133833326-fba9ee1f-640d-4840-ae73-463d9a546f54.png">

But after clicking on this windows I am again redirected to the create account page, where I receive the same err

[2021-09-17 23:04] JayThibs commented on #892
I'm having this issue as well, but I'm not sure how to refactor my code to make the sweep work? Here's my PyTorch Lightning model and the sweep code I'm using:

[code]
Sweep code:

[code]

[2021-09-18 00:02] sophiaas opened #2680 "[Feature] [App] Group by multiple params in charts"
**Is your feature request related to a problem? Please describe.**
When generating sweeps over multiple hyperparameters, I often want to group by multiple params in the charts in the app. For example, if I'm sweeping through learning rate, optimizer, and random seed, I often want to collapse across seed for error bars, but keep different learning_rate + optimizer combos as distinct lines.

**Descr

[2021-09-18 03:23] Chuyun-Shen commented on #2673
I met the same ERROR. When I accidentally deleted the runs on webpage, I get the same ERROR in CLI "ERROR:root:dropped chunk 404 Client Error: Not Found for url", and I can't stop it by CTRL C. My wandb version is 0.11.2.

[2021-09-18 10:12] Godofnothing commented on #2677
@cvphelps  seems like something was fixed and now I can enter the page. Thanks for support!

[2021-09-18 10:12] #2677 closed

[2021-09-18 23:02] samuela opened #2682 "[CLI] `ImportError: cannot import name '_get_mock_module' from 'pytest_mock'`"
**Description**
The pytest test suite fails with
[code]
when using pytest-mock v3.6.1.

**Wandb features**
n/a

**How to reproduce**
Build this nix derivation:
<details>
  <summary>source</summary>

[code]
</details>

**Environment**
- OS: NixOS
- Environment: n/a
- Python Version: 3.9

[2021-09-18 23:24] samuela opened #2683 "[App] Text box expands every time I type"
**Describe the bug**
See https://user-images.githubusercontent.com/226872/133910942-1b1ea85d-0569-4249-b103-af95d2f2d51d.mov

**To Reproduce**
Unclear exactly how to reproduce this but I saw the effect in the plot detail modal.

**Expected behavior**
The text box to stay in one place.

**Screenshots**
n/a

**Operating System**
 - OS: macOS 11.5.2
 - Browser Firefox 92.0

**Additional context**
n/a

[2021-09-19 06:35] sumalatha8280 opened #2685 "AttributeError: partially initialized module 'wandb' has no attribute 'data_types' (most likely due to a circular import)"
I am trying to extract a sentence from keywords and I have installed keytotext in anaconda prompt using pip command (pip install keytotext). now, when I have used the below line of import command, i am getting attribute error.

from keytotext import pipeline
nlp = pipeline("k2t-base")  #loading the pre-trained model
params = {"do_sample":True, "num_beams":4, "no_repeat_ngram_size":3, "early_stoppi

[2021-09-19 20:23] vanpelt commented on #2685
Can you try adding import wandb at the top of your file?  If that doesn't work, please provide a traceback.

[2021-09-20 03:32] roboserg opened #2686 "[CLI] ModuleNotFoundError: No module named 'wandb.integration'; 'wandb' is not a package"
Code from the Basic Example from here https://gitbook-docs.wandb.ai/guides/integrations/other/stable-baselines-3

[code]

If I comment out the 6th line (so only import wandb), still an error:

[code]

[2021-09-20 13:50] #2659 closed

[2021-09-20 17:11] vanpelt commented on #2686
The error is being caused by the python import system thinking that you want to import the `wandb.py` file when you run `import wandb`.  Just change the name of your script from `wandb.py` to `train.py` or `main.py` anything other than `wandb.py`.

[2021-09-20 17:11] #2686 closed

[2021-09-20 17:38] vanpelt commented on #2682
Hey @samuela our dev environment currently requires [pytest-mock<=3.2.0](https://github.com/wandb/client/blob/master/tox.ini#L14).  Are you able to install 3.2.0?

[2021-09-20 19:03] #2370 closed

[2021-09-20 20:05] anmolmann commented on #2567
Hey @loicsacre , we wanted to follow up with you regarding your support request as we have not heard back from you. Please let us know if we can be of further assistance or if your issue has been resolved.

[2021-09-20 20:22] roboserg commented on #2686
@vanpelt Thanks, this was shameful :)
Another issue I am having is that wandb doesn't upload tensorboard logs  to wandb. I only see "gradients" and "system" in wandb, image - https://i.imgur.com/TeqGHKN.png
I am using your example code:

[code]

[2021-09-20 21:11] anmolmann commented on #2683
Hey @samuela, thanks for reporting the bug. This looks like a frontend bug to me, I'm filing a bug report for this one.

[2021-09-20 21:11] vanpelt commented on #2686
Hey @roboserg not shameful, it's happened to me a few times and always makes me scratch my head.

For the tensorboard sync issue, can you share a link to a run that was created by this code?  I want to confirm if the tensorboard files are getting uploaded to wandb.

This shouldn't make a difference but you can scope our tensorboard syncing to a specific logdir.  This would only matter if you were

[2021-09-20 21:27] samuela commented on #2682
Unfortunately no, at least not easily. Nixpkgs tries to avoid supporting outdated releases of packages unless absolutely necessary.

[2021-09-20 22:10] sophiaas commented on #2680
Thanks for the suggestion @aidanjdonohue. I haven't yet, but will now.

I do think there's a case to be made for adding this feature natively rather than having the user spin up a custom method -- I suspect that the majority of folks using wandb will be running many runs with different random seeds, and it's a minor edit to the existing infrastructure.

[2021-09-21 18:29] dlangerm opened #2690 "[CLI] ~/.cache directory unbounded in size"
**Description**
wandb apparently keeps a folder for caching objects at ~/.cache/wandb. When running a ton of sweeps, some of which may fail, the size of this directory can be pretty huge since the objects aren't cleaned up. For example, mine was ~400GB. This obviously needs to be cleaned up automatically somehow or at least monitored to warn the user that this is happening.

**Wandb features**
Swe

[2021-09-21 18:42] vanpelt commented on #2690
Hey @dlangerm we have plans to automatically cleanup this cache.  Until then we do provide a command.  You can run the following:

[code]

This will remove the most stale objects from the cache keeping only 10GB of the most recently accessed objects.

[2021-09-21 18:44] dlangerm commented on #2690
@vanpelt Thanks!

I have an automation tool I'm building around the CLI, is this command going to have guaranteed support going forward or is it just a temporary fix?

[2021-09-21 19:10] vanpelt commented on #2690
It's officially supported!

[2021-09-21 19:59] vanpelt commented on #2682
@samuela I just cut a new branch that should handle the newer pytest-mock versions.  You can try it now with:

[code]

It should go out in the official release next week.

[2021-09-21 21:19] #2690 closed

[2021-09-21 21:58] sophiaas opened #2692 "[Feature] Resume sweeps"
**Is your feature request related to a problem? Please describe.**
In the [documentation on resuming runs](https://docs.wandb.ai/guides/track/advanced/resuming), there is a note that says:

`Note that resuming a run which was executed as part of a Sweep is not supported.`

I often want to resume runs that I executed during a sweep -- for example, to train for longer if they haven't finished conver

[2021-09-21 22:00] sophiaas commented on #2673
@vanpelt I think this was my issue. I'm making sure to provide all of those details now and am no longer running into the error. Thanks!

[2021-09-21 22:00] #2673 closed

[2021-09-21 22:12] cvphelps commented on #2675
@miguelvalente thanks for writing in to ask about this! It sounds like you want to log a line plot at every step of training and then scrub across the run to see how it changes.

One approach I might recommend here is to call wandb.init() every time you train a new classifier. Could you describe why you're putting all these charts into a single run instead of having one run for each instance of tr

[2021-09-21 22:15] cvphelps commented on #2661
@MatthewGleeson thanks for reporting this, I'll need to reproduce the issue to dig in here. Would you be able to generate a report link for me here (or email support@wandb.com) to show a case where this is happening?

[2021-09-22 02:46] thunderock commented on #965
@vanpelt  sure makes sense :+1:   Do let me know in case you want me to ramp up and pick this up.

[2021-09-22 07:58] karolpiczak commented on #2388
Unstale

[2021-09-22 09:59] MoritzTaylor commented on #1817
Got similar problem like @maximilianreimer. Run is crashed in the dashboard but is actually still running. After wandb sync of those "crashed" runs I also got this error. Furthermore, the config.yaml of the run is completely erased by the sync.

[2021-09-22 11:24] miguelvalente commented on #2675
@cvphelps Hey thanks for answering,

I'm training a generative NN and running a classifier on the generated results every _N_ epochs, so its the same instance of a generator NN but different classifiers. The classifiers training is part of the training loop of the generator. Maybe a feature to implement!

I can always just change the graph. The simplest way would be to change the line graph to poi

[2021-09-22 13:09] bablf opened #2693 "[App] I can not create a team because the organization hasn't any private teams left"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
I click on Invite your team. Enter a name and an error occurs.
The Error says
`organization does not have any private teams left

An application error occurred.

Click to refresh the page.`

**Expected behavior**
I should be able to create a team.

**Screenshots**
If applicab

[2021-09-22 13:54] armanhar commented on #2693
Hey there, can you tell me your organization name?

[2021-09-22 16:06] bablf commented on #2693
Hi, it's lary tech. As you might notice a colleague of mine was able to create a new team (Lary Tech GmbH). So I don't have the problem any more. But maybe this helps you find the error on your end :sweat_smile:

[2021-09-22 16:34] aidanjdonohue commented on #2612
Hi @AlessioQuercia I'll pass this along to the client team.

[2021-09-22 16:57] vanpelt commented on #1817
@MoritzTaylor what version of wandb are you using `wandb --version`?

[2021-09-22 17:40] tom-andersson commented on #2420
Thanks again @vanpelt and apologies for the delay while I've not been working on this. I just tried the `export` commands and it seems to have worked, but I've run into a new issue where `wandb agent` is saying I'm not logged in, despite running `wandb login <api-key>` beforehand. Here is my [log.txt](https://github.com/wandb/client/files/7212726/sweep.txt)

[2021-09-22 17:45] vanpelt commented on #2420
Hey @tom-andersson `wandb login API_KEY` writes the credentials to the current users home directory.  If the `wandb agent` is being run as a different user it can't pick up these creds.  The simplest fix is likely to specify the API_KEY as an environment variable:  `WANDB_API_KEY=<api-key> wandb agent <username/project/agent-id>`

[2021-09-22 17:50] tom-andersson commented on #2420
Hey @vanpelt, I tried that (replacing `wandb login` with `export WANDB_API_KEY=...` in the slurm script just before the agent command) just as you replied and........... it did the trick!!!! Amazing. So great to be able combine wandb sweeps with slurm. Thanks again.

[2021-09-22 17:50] #2420 closed

[2021-09-22 20:23] #2675 closed

[2021-09-22 20:43] aidanjdonohue commented on #2593
Hi @santelelle this seems like a very reasonable request. I'll file something for it on our end.

[2021-09-22 21:13] anmolmann commented on #2396
We are closing this for lack of activity.

[2021-09-22 21:13] #2396 closed

[2021-09-22 23:35] ngocminhbui commented on #1700
+1

[2021-09-23 03:12] roboserg commented on #2686
The issue is resolved. Running the terminal as admin solves it. Is there a way to force the new Windows terminal to start as "admin"?

[2021-09-23 10:07] loicsacre commented on #2567
Hello, yes the explanation you gave is what I have observed. However if it is how the logic behind Wandb works and it cannot be changed then the issue can be closed. I was just surprised that the bucket logic is always applied even if all the points can be easily displayed.

I will let a small hack for those who will see the issue later: create a "mock" group with a run where you have all the poin

[2021-09-23 14:27] maxwass opened #2696 "[CLI] Rate limiting on HP Sweep"
**Description**
Running hyperparameter sweep  with ~7 agents across ~5 machines (I am simply executing the same function `python my_sweep.py` each time to start up a new agent - is this the correct way to do this?). Using the wandb Pytorch lightning callback, I am logging ~100 scalars (no images, audio, etc) every 2-10 seconds for each machine run (could be ~3 runs on a given machine).

Most of my

[2021-09-23 14:53] aidanjdonohue commented on #2680
That seems reasonable. We'll take a look at this more on our end.

[2021-09-23 15:05] aidanjdonohue commented on #2670
So if you logged something during the run or even added something to the run summary post run using the API, then you should be able to visualize that value as a column in your runs table. My two suggestions would be to 1). update the run summary using the API to include the test set results or 2). create new runs with job_type="testing" that take in the model artifacts and testing set as inputs.

[2021-09-23 15:50] chyphen7 opened #2697 "Roll back from local to cloud"
I had wandb working on cloud.  Then I switched to local, and got "Retry attempt failed:" error.  I tried to switch back from local to cloud, but it seems that my system got stuck at wandb/local model.  Trying to "docker stop wandb/local", and ran the code again.  I am still getting the error:

TensorBoard: Start with 'tensorboard --logdir yolov5', view at http://localhost:6006/
wandb: Network erro

[2021-09-23 16:35] chyphen7 commented on #2697
Ok.  The problem seems to have been resolved by setting
WANDB_BASE_URL="https://api.wandb.ai"

[2021-09-23 17:15] anmolmann commented on #2696
Hi @maxwass , sorry for your performance issues. This is an area we really care about and we recently rolled out a new fix for such issues. Answers to some of the questions below would be very helpful for us to debug what's happening.
Firstly, I see that you're only logging scalars, in this case, would I be correctly assuming that your runs might be shorter?
But still there might be a moderate amo

[2021-09-23 17:44] sophiaas commented on #2692
Thanks!

[2021-09-23 17:44] sophiaas commented on #2680
Thank you!

[2021-09-23 20:35] elgalu opened #2698 "[Feature] See final GPU usage average in summary"
I couldn't find a way to see a final global number representing the average GPU usage for the experiments, without having to include something like https://pytorch-lightning.readthedocs.io/en/latest/extensions/generated/pytorch_lightning.callbacks.GPUStatsMonitor.html

[2021-09-23 21:07] maxwass commented on #2696
Yes, my runs are not super long (anywhere from a few minutes for pruned runs, or 1-2 hours for successful runs. Not more than a few hundred runs in total thus far though.

I have only tried random. I would like to do a grid/bayes search for some things as well, but I have not been able to get an answer on the forum/here on how to properly spawn multiple agents for a hp sweep (can I simply execute

[2021-09-23 22:59] vanpelt commented on #2697
Yep!  @chyphen7 you can also run `wandb login --cloud` to configure the whole machine to use https://api.wandb.ai.  If you then want to switch back to your local instance you would run `wandb login --host=http://localhost:6006`.

[2021-09-23 22:59] #2697 closed

[2021-09-24 13:59] chyphen7 commented on #2697
Hi, Chris:
Thanks for useful tips.

On Thu, Sep 23, 2021 at 6:00 PM Chris Van Pelt ***@***.***>
wrote:

[2021-09-24 15:35] sdmengxiangyu commented on #1994
I also have this error when using tqdm on my pytorch dataloader

[2021-09-24 16:01] armanhar commented on #2698
Hey Leo, thanks for writing in. I'll open up an internal ticket so that the team can consider adding average GPU usage metric in the run summary

[2021-09-24 16:14] cvphelps commented on #2536
@jan-petrak we dug in on this and it turns out all you need to do is click the "sort" button on the top left, in the runs sidebar:
![image](https://user-images.githubusercontent.com/6355078/134707478-b7bbeb4b-c4aa-43de-84fe-d934ef9e0f8c.png)

When you apply sorting it will affect both the table and the bar chart. ✅

[2021-09-24 16:14] #2536 closed

[2021-09-24 16:59] abaisero opened #2699 "[Q] Python API runs, filter by tags"
Hello,

I'm using the python API to download the data associated with my runs (using `wandb.Api().runs(...)`, so that I can make my own custom plots.  The examples I've found have covered how to filter based on config values, but I found nothing explaining how to filter based on tag values (or if it is even possible), like it is possible in the dashboard UI.  For the time being, I will proceed by

[2021-09-24 17:54] vanpelt commented on #1817
@MoritzTaylor can you provide a `debug-internal.log` from a run that's failing to sync?  If you could also share the `.wandb` file that would help us reproduce and debug this.  You can send it to vanpelt@wandb.com

[2021-09-24 18:11] cvphelps commented on #2661
@MatthewGleeson could you share a link to a bar chart where you're having this issue?

[2021-09-24 19:02] vanpelt commented on #2699
`runs = api.runs("username/project", filters={"tags": {"$in": ["best"]}})`

[2021-09-24 19:02] #2699 closed

[2021-09-24 19:56] abaisero commented on #2699
Seems like I was just not familiar enough with the MongoDB query language;  thank you!

[2021-09-24 21:13] vanpelt commented on #2699
You bet!  Yeah, we can do a better job documenting examples and have plans to make a more intuitive python helper to construct filters.

[2021-09-25 11:10] nshepperd commented on #966
I have the same question and don't see anything obvious in the (new) UI that would accomplish this. Could this be reopened?

[2021-09-25 15:32] Alex-ley opened #2700 "[Feature] Docs: add minimum set of s3 permissions needed to use artifact references with wandb[aws]"
**Is your feature request related to a problem? Please describe.**
Not a big problem - I just wasn't sure exactly what operations wandb would be doing with boto3 behind the scenes to download model artifacts etc. and so I wasn't exactly sure what (minimum set of) permissions I needed to give a machine user / service role when using wandb[aws] to store and retrieve my models.

**Describe the soluti

[2021-09-25 16:12] maxwass commented on #834
I am getting this on Google Colab when using Pytorch Lightning with W&B for a hyperparameter sweep. It fails with:
`wandb: ERROR Run epy7uvj0 errored: ValueError('signal only works in main thread')`. This does not fail on other platforms (my local Mac machine and Ubuntu AWS environment), but simply prints `signal only works in main thread`.

In fact on Colab itself, if performing a single run outs

[2021-09-25 19:18] maxwass commented on #1883
Can we request some better error reporting here? I also had a bug in my file, and the current reported `ERROR Error while calling W&B API: Sweep user not valid (<Response [400]>)` tells us nothing.

Maybe at least print the stack trace?

[2021-09-26 11:21] cssb opened #2701 "[CLI] With WANDB_MODE=offline python client still try to sync results"
**Description**
I use W&B on a server without an Internet connection.
For working with W&B, I set WANDB_MODE=offline then sync my runs from another machine with an Internet connection.
All work fine until I update to wandb version 0.12.2.
With version 0.12.2 when the program ends, I get the message:
"... wandb: Network error (ConnectTimeout), entering retry loop."
and the program cannot terminate.

[2021-09-27 06:25] p4perf4ce opened #2702 "[Q] How to get wandb to work with multiple run slurm multi-tasks/multi-node?"
**What I am trying to do**

I'm trying to run multiple configurations of my model using wandb (via Pytorch Lightning `WandbLogger`). It's working fine until I try to add more parallelism using the slurm task because my HPC cluster imposes a policy for a maximum submission with a maximum of 4 jobs. So, it's a waste to run 1 job with only 1 configuration.
The problem arises, if I try to do n nodes m

[2021-09-27 07:43] p4perf4ce commented on #2702
I tried this on 2 nodes, 2 tasks per node

[code]

I get [(2, 0), (2, 1), (2,2), (2,3)]

It seems that this problem comes from pytorch-lightning `WandbLogger` itself where find SLURM ProcId for `rank_zero_experiment` decorator. So it's just skip logging even I set reinit=True.

Closing this since it's coming from pytorch-lightning.

[2021-09-27 07:43] #2702 closed

[2021-09-27 14:11] bablf commented on #2551
Would love this as well!

[2021-09-27 16:11] dangne commented on #1700
+1

[2021-09-27 16:53] donlaiq commented on #2701
Hello cssb,

Maybe, I am not a good reference at all (I've installed wandb just a few minutes ago), but I've run exactly the same code you are mentioning in the post, and it runs flawlessly.
Just for your reference, I've created a brand new virtual environment with Python 3.7.3, where I'm installing just numpy, pandas and wandb (just the required libraries), and my OS is Debian 10.

`wandb: Waitin

[2021-09-27 17:12] cssb commented on #2701
Hello donlaiq, are you running this code on the offline machine (without connection to the Internet)?

[2021-09-27 17:18] donlaiq commented on #2701
Oh, boy! No I wasn't. In that case, you are right, I'm running in the same issue.

[2021-09-27 20:24] aidanjdonohue commented on #2700
Hey Alex, thanks for the request. Looking into it.

[2021-09-28 09:34] cfierro94 commented on #2039
I'm also experiencing this issue with
wandb, version 0.12.2
Python 3.6.8
Linux

[2021-09-28 10:29] raoulraft commented on #2039
I think they are experiencing some server problems. I'm having the same issue since this morning
wandb version 0.10.12
Python 3.7
Windows

[2021-09-28 10:32] vanpelt commented on #2039
@raoulraft @cfierro94 we did experience some degraded performance for about 30 minutes starting an hour ago, but we've mostly recovered.  If you're still seeing errors like this, can you please share the `debug-internal.log` from within the run directory (usually under ./wandb relative to your script).

[2021-09-28 10:36] raoulraft commented on #2039
Sure! I've tried several runs this morning. This is one of them:

2021-09-15 10:36:14,549 INFO    MainThread:12420 [internal.py:wandb_internal():63] W&B internal server running at pid: 12420
2021-09-15 10:36:14,550 INFO    WriterThread:12420 [datastore.py:open_for_write():76] open: C:\Users\raoul\PycharmProjects\tnsm_extension\wandb\run-20210915_103613-33uw46uz\run-33uw46uz.wandb
2021-09-15 10:36:

[2021-09-28 11:21] PardoAlejo commented on #2039
Same happening from my side.
`wandb: Network error (ReadTimeout), entering retry loop.`

Within the debug-internal.log I found this:
`2021-09-28 14:15:03,221 WARNING FileStreamThread:28812 [file_stream.py:request_with_retry():466] requests_with_retry encountered retryable exception: 500 Server Error: Internal Server Error for url: https://api.wandb.ai/files/pardoalejo/moviecuts/3vazk81l/file_strea

[2021-09-28 11:23] cfierro94 commented on #2039
it still happening for me, here's the debug-internal.log

[code]

[2021-09-28 11:32] jingyng commented on #2039
Same problem here.
Error from debug-internal.log:
[code]

[2021-09-28 11:58] PardoAlejo commented on #2039
Working fine now. It seems that it was on their end.

[2021-09-28 23:08] anmolmann commented on #2656
Hi @NumberChiffre , this issue has been fixed. Please let us know if you still encounter it.

[2021-09-28 23:08] #2656 closed

[2021-09-28 23:10] anmolmann commented on #2683
Hey @samuela , this issue has been fixed. Please let us know if you still encounter it.

[2021-09-28 23:10] #2683 closed

[2021-09-29 00:44] stevenwalton commented on #1639
I don't want this issue to go stale because I have been facing this too. When I include the watch in my model sometimes nothing logs. And I mean like media and charts don't work. Every once in awhile I can see some parts in the project overview and then several minutes later it _might_ update the project but even when I get lucky and this happens I still never get the gradient logging. I've left r

[2021-09-29 06:16] adrnswanberg commented on #1639
Hi Steven, can you link us to any runs where all media / metrics failed to log? If you don't want to post the link here you can reach me directly at aswanberg@wandb.com

[2021-09-29 07:19] EdwardYGLi commented on #1639
@vanpelt Hey Chris, sorry about the super late reply. Didn't see it until today when @stevenwalton commented. Take a look at the series of runs in this project. https://wandb.ai/production/2ff677a71/liyaguang/conv_auto_encoder. I am using `wandb.watch()` to watch my model and logging through tensorboard for my metrics and stuff. Mostly this bug is related to the gradients not logging properly, eve

[2021-09-29 10:17] raoulraft commented on #280
I am getting the same error (a lot) this morning, even though logging to wandb seems to be working fine

[2021-09-29 11:09] AllaVinner opened #2705 "Image upload for nested metric not working[App]"
**Describe the bug**
I want to log a list of images in a nested dictionary i.e. {'triain': {'images': image_list}}, however when I go to the app I get the message:
`'This run didn't log images for key 'train.image' step 0 index 0`
Note that the images do exist in the app folder: Files/media/images/image_list_x_y

**To Reproduce**
Code:
[code]

In App:
1. Go to 'wandb images'
2. Scroll down to 'Med

[2021-09-29 15:17] armanhar commented on #2693
Hey there, just wanted to confirm that you were able to create a team and that the issue is resolved.

[2021-09-29 15:23] vanpelt commented on #280
@raoulraft can you share a debug-internal.log file from the run that's causing these errors?

[2021-09-29 15:27] vanpelt commented on #2705
Hey @AllaVinner can you share a link to a run that's exhibiting this behavior?  If it's a private run only our support staff will be able to access it assuming you give us permission to investigate.

[2021-09-29 15:29] TOsborn commented on #1639
@EdwardYGLi Hi Edward, would you mind sharing more about how you're using W&B in your repo, including any calls to `wandb.init()` and `wandb.log()`?

[2021-09-29 15:47] #2693 closed

[2021-09-29 16:50] bilelomrani1 opened #2707 "[Feature] Add threshold column to PR Curve and ROC"
When reading a PR curve or a ROC, I want to be able to see the decision threshold achieving a specific precision/recall or TPR/FPR. Unfortunately, the value of the threshold is not logged in the corresponding table.

I would like `wandb.plot.pr_curve` and `wandb.plot.roc_curve` to log an additional column `threshold` that gets displayed when hovering the curve.

[2021-09-29 20:27] armanhar commented on #2707
Hey Bilel, we have an internal ticket for your request. I'll bump up its priority and keep you updated.

[2021-09-29 21:35] anmolmann commented on #966
Hi @nshepperd ,
1. To compare multiple tables/columns/models in a table - you can go through [our docs](https://docs.wandb.ai/guides/data-vis/tables) for detailed answers. Also, [here's a report](https://wandb.ai/stacey/xtable/reports/How-to-Compare-Tables-in-Workspaces--Vmlldzo4MTc0MTA) on comparing tables in workspaces as well. Also, [side-by-side](https://wandb.ai/wandb/examples/reports/-WIP-Me

[2021-09-30 02:01] huangwl18 commented on #2183
Is there any update to this? I'm also experiencing this issue with only ~500 runs in a sweep. Would greatly appreciate it if there is a fix soon!

[2021-09-30 06:41] AllaVinner commented on #2705
Ofcourse, I link the toy-example which I described:
[Link](https://wandb.ai/joelottosson/MyProject?workspace)

[2021-09-30 10:52] stefanalgopolis opened #2710 "[sweeps] No module named 'wandb.sweeps'"
I wanted to run HyperOpt sweeps in wandb, as it is described in your documentation: https://docs.wandb.ai/guides/sweeps/advanced-sweeps/ray-tune

Unfortunately, I'm not able to import wandb.sweeps module:

[code]
What may be the reason for that? I'm using the latest version of wandb library

[2021-09-30 11:37] harpone opened #2712 "[Q] Trying to get GPU utilization etc with `wandb.Api()`"
Looking at `run.history()` I can only see the logs for things that I've explicitly logged... is there a way to get also the GPU utilization and other system metrics with the wandb API?

[2021-09-30 13:10] armanhar commented on #2712
Hey Heikki, you can download the system metrics like this:
`import wandb
api = wandb.Api()

run = api.run("<entity>/<project>/<run_id>")
system_metrics = run.history(stream="events")`

[2021-09-30 13:23] harpone commented on #2712
Oh yeah that works great, thanks!! I guess I missed the "events" kwarg somehow. Problem solved, thanks @armanhar!

[2021-09-30 13:23] #2712 closed

[2021-09-30 18:30] alvarobartt opened #2713 "[Feature] List uploaded artifacts (models) based on the metadata"
**Describe the solution you'd like**

Like in e.g. MLFlow, it'd be cool if `wandb` allowed to list all the artifacts in the current project ("experiment") so as to download the best one based on e.g. the eval_accuracy stored as metadata of that run. This would imply a much cleaner and automated MVC (Model Version Control).

I think this could be a nice feature for `wandb` also to somehow "compete"

[2021-09-30 18:32] alvarobartt commented on #2710
Hi @stefanalgopolis, try installing `wandb` as it follows:

[code]

I think that should work! 🎉

[2021-09-30 21:23] stroypet opened #2714 "[Q] What is gorilla?"
Sorry, I'm new to wandb development. What are all of the env vars related to "GORILLA_*" for? I've never heard of gorilla, can't find what it is referencing.

Thanks.

[2021-09-30 21:25] cvphelps commented on #2714
Hi Stanley, you can ignore those environment variables. Those are internal use for our backend.

[2021-09-30 21:51] cvphelps commented on #2714
May I ask @stroypet where were you seeing these env vars?

[2021-09-30 21:51] cvphelps commented on #2714
Here's the list of user-facing environment variables: https://docs.wandb.ai/guides/track/advanced/environment-variables

[2021-09-30 23:34] vanpelt commented on #2713
Hey @alvarobartt we can definitely improve this interface, but this is something you can do today:

[code]

[2021-09-30 23:35] vanpelt commented on #2713
Here are some more examples: https://docs.wandb.ai/guides/track/public-api-guide

[2021-10-01 08:39] stefanalgopolis commented on #2710
Hi @alvarobartt , thanks for your reply! I did as you suggested, wandb.sweeps is now possible to import but I received another error, regarding tune method:

[code]

I've checked content of `wandb/sweeps/config/__init__.py` and there is no tune method to import:
[code]

[2021-10-01 08:56] alvarobartt commented on #2710
You're right @stefanalgopolis, can you try with `pip install wandb[sweeps]==0.10.24`?

[2021-10-01 08:59] alvarobartt commented on #2713
WOW, cool! Thanks a lot @vanpelt I'll check that, but at least there's a workaround!

Anyway, I think that an easier way to manage the artifacts would be a HUGE improvement :tada:

[2021-10-01 09:06] alvarobartt commented on #2710
Anyway, should this be considered a bug @vanpelt? Maybe some more tests should be included so as to properly test this, since AFAIK it hasn't been working for the last couple of releases 😕

[2021-10-01 09:12] jihwanp opened #2716 "[Q] extend teminal logging characters"
HI I have a question about terminal logging.

I log terminal values on wandb, but the following message appears and the latter part is not written.

**(line truncated to 1000 characters)**

Where can I modified the maximum character length?

[2021-10-01 10:16] stroypet commented on #2714
Ah I see, okay. Thanks for the list. I was testing out the dockerized version for a potential use case, ended up poking around inside the docker image and got curious.

[2021-10-01 10:16] #2714 closed

[2021-10-01 10:19] stefanalgopolis commented on #2710
@alvarobartt It works with `pip install wandb[sweeps]==0.10.24`

Thanks for your help!

[2021-10-01 10:19] #2710 closed

[2021-10-01 15:13] vanpelt commented on #2716
Hey @jihwanp we have a limit for max line length but it's much larger than 1000 characters.  Can you share the exact output your seeing in your terminal?  Also, the version of the wandb library would be helpful.  I searched our code base for the message "line truncated" and couldn't find any instances of it.

[2021-10-01 17:25] vanpelt commented on #2705
Hey @AllaVinner this looks a bug in the client library, we likely won't be able to fix out for a couple weeks.  In the meantime, the best solution is to flatten the dict into individual keys, i.e.

[code]

[2021-10-01 18:58] dannygoldstein commented on #2710
Hi @stefanalgopolis, @alvarobartt, we removed ray/tune and hyperopt sweeps in 0.11.1 during a refactor of our sweeps engine due to low usage. We'll update the documentation and examples to reflect this.

[2021-10-01 21:12] AllaVinner commented on #2705
Great!

That works,

 thank you

[2021-10-01 21:12] #2705 closed

[2021-10-02 11:48] jihwan-jeong opened #2719 "[Q] wandb keeps complaining "Network error (ConnectTimeout), entering retry loop""
Hello,

I didn't have a problem until yesterday, but I keep getting the connection error recently when I call wandb.init() from the computing server that I use. I can initialize wandb without a problem on my local machine and from an instance on GCP. But really the issue only occurs when I try wandb.init() on the specific server.

I really need to run a lot of sweeps and runs right now on the serv

[2021-10-02 12:14] jihwan-jeong commented on #2719
I actually have realized that the internet connection is disabled when a run is started on the compute server that I referred to. I think the only option is to use the offline mode, and then sync the resulting files afterward.

[2021-10-02 12:14] #2719 closed

[2021-10-03 18:25] Rami-Ismael opened #2720 "[App] The WandB backend shutdown running a sweep in google colab"
**Describe the bug**

** Wandb Feature**
- wandb.init()

**To Reproduce**
1. There is the notebook
2. Run all celss
3. It crashed after the first sweep run

**Expected behavior**
Run all 5 sweep

**Screenshots**
![Screenshot from 2021-10-03 13-23-56](https://user-images.githubusercontent.com/39520903/135766651-11d14260-d02d-478c-a4b2-3186be3271b0.png)

**Operating System**
 - OS: google  colab
 -

[2021-10-04 07:07] shaibagon opened #2722 "[CLI] Some images logged via `wand.Image` are completely balck"
**Description**
When logging images using `wandb.log({'img':wandb.Image(...)})` some of the logged images are black (all zeros). Some images are logged correctly, while others are simply black.

**Wandb features**
The problematic lines are:
`wandb.log` combined with `wandb.Image`. I log a batch of images (inputs as well as predicted/generated output images):
`wandb.log({'train/input': [wandb.Image

[2021-10-04 08:54] tomgreen66 commented on #2701
Hitting same issue whilst supporting a HPC cluster where compute nodes do not have access to Internet.  With 0.21 the user reported success so definitely a regression in latest version.  Tried chasing where the regression slipped in - but hopefully someone more familiar with the code will chase it.

[2021-10-04 09:13] gabriel-vanzandycke opened #2723 "[Feature] Is it possible to log additional values once a run is finished?"
I would like to log a new evaluation metric for all steps of a finished run (based on the checkpoints that I can reload and use to compute the new metric). Is it possible?
I've been through the doc and didn't find a way to do it. I can either modify the summary of a finished run with the `wandb.apis.public.Run` API, or log data on new runs with the `wandb.wandb_run.Run` API.

**Edit:**
Using the `

[2021-10-04 09:20] tomgreen66 commented on #2701
Having just done a `git bisect` looks like #2513 is a possible first culprit.

[code]

[2021-10-04 12:15] Tim-Chard commented on #2701
I have also hit this issue on a HPC cluster with 0.12.2 and 0.12.3 but 0.12.1 works fine.

[2021-10-04 13:06] segonzal commented on #1179
**TL;DR**: Make sure you didn't disable wandb when running sweeps.

Had the same problem. When I runned my code without the sweep everything worked. While coding and testing I had by default the `wandb.init` mode as _disabled_. Because it was a default it stayed disabled when running the sweep.
No errors jumped while running but then I looked at the _sweep table_ and all the runs were marked as **

[2021-10-04 13:21] Tobblatzius opened #2724 "[App] Function of agent in sweep results in an empty config if function is given input"
Today I tried using the sweep functionality of wandb for the first time. In my main function I load some data which I want the train function to takes as argument. However, for the sweep to work, the function in wandb.agent(sweep_id, function) can not take any arguments. If it does, the wandb.config will be an empty dictionary. Is this a bug or a design choice? If it is the later, it seems very co

[2021-10-04 16:58] armanhar commented on #2724
Hey Tobias, can you specify the wandb version you are using?

[2021-10-04 17:12] Tobblatzius commented on #2724
0.12.3

[2021-10-04 17:37] danielgordon10 opened #2725 "[App] Images fail to show when using Pytorch Lightning LearningRateMonitor"
**Describe the bug**
Running the code below has a very odd issue. When using the LearningRateMonitor, images fail to be shown in the dashboard. https://wandb.ai/danielgordon10/mnist_example_bug?workspace=user-danielgordon10
<img width="1395" alt="Screen Shot 2021-10-04 at 10 34 26 AM" src="https://user-images.githubusercontent.com/7245472/135897847-301a5888-f90e-405a-ae49-8932000bd1a6.png">

Howev

[2021-10-04 17:53] vanpelt commented on #2701
Thanks for the report, we're tracking this and will get a fix in the next release.  Until then please use 0.12.1 on nodes without internet and `WANDB_MODE=offline`.

[2021-10-04 21:16] aidanjdonohue commented on #2723
Hi Gabriel, we probably won't allow for non-incremental step logging for the reasons you identified. Those "workarounds" are actually the intended use so we might need to do a better job of documenting this.

[2021-10-04 21:18] aidanjdonohue commented on #2720
Hi @Rami-Ismael, could you post the error log files so I can see exactly what's going on? Alternatively you can email them to support@wandb.com

[2021-10-04 23:24] aidanjdonohue commented on #2725
Thanks for reporting Daniel. Will try to reproduce on my end and keep you updated.

[2021-10-05 02:11] samuela commented on #2682
Unfortunately I'm still seeing the same error as of 0.12.3 (latest at the time of writing). Here's the full nix derivation: https://gist.github.com/samuela/f7aa10ba81c0571c74e45284c9d3ee19. Error is
[code]

[2021-10-05 11:10] stefanalgopolis opened #2732 "[CLI] not able to run hyperopt sweep"
I've just created a hyperopt sweep config file and tried to run it using `wandb sweep` CLI command. Unfortunately, I got a following error:

[code]
The same error appears when I try to create a sweep through wandb web app. I'm using **0.10.24** wanb version (newer version had hyperopt implementation removed).

[2021-10-05 13:18] NumberChiffre commented on #2656
@anmolmann I can confirm this issue has been fixed, thanks a lot for the update!

[2021-10-05 14:30] raubitsj commented on #2701
Thank you for the report and tracking down the commit!
We have released a fix in 0.12.4
https://github.com/wandb/client/releases/tag/v0.12.4

[2021-10-05 16:15] stefanistrate opened #2734 "[Feature] Add ability to delete or rename group for a given run"
**Is your feature request related to a problem? Please describe.**

I made some mistakes in the past by passing the wrong group to some runs. I'd like to be able to rename or even remove those groups from the runs.

**Describe the solution you'd like**

Similarly to how tags can be added or removed, I'd like to be able to do the same with the group name.

**Describe alternatives you've considered*

[2021-10-05 16:22] dennisushi opened #2735 "[CLI] VSCode Notebook can't login WandB"
**Description**
Can't login from within VSCode notebooks. Tried both `!wandb login` and python version.

**Wandb features**

`wandb.login()`, returns False

**How to reproduce**

`wandb.login()` from a local VSCode jupyter notebook (not on Jupyter Server)

**Environment**
- OS: [Linux 18.04]
- Environment: [VSCode Jupyter]
- Python Version: [3.8.7]

[2021-10-05 17:33] jpcenteno80 commented on #2486
Related to the discussion, I'm not sure if `dir` inside `wandb.init()` is working as expected. The doc string for `dir` in `wandb.init()` is the following:
[code]
I can see that metadata is being stored there (in `dir`), but when running `artifact.download()`, inside a `with wandb.init()` statement, `dir` does not control the download location. Only `root`, inside `artifact.download()` governs tha

[2021-10-05 17:48] ianbenlolo opened #2736 "[Feature] Early terminate gracefully"
Early terminating is an awesome feature but I'd like a way to, within my run, check if Wandb will early terminate so I can end gracefully (ie calculate my summary statistics).

I'd like to have a way, say `wandb.run.early_terminate` which returns a boolean value representing whether the run will early terminate in the next step or something.

An alternative would be to not use wandb's early termin

[2021-10-05 18:09] ABD-01 opened #2737 "[CLI] ModuleNotFoundError: No module named 'pwd'"
**Description**
Wandb is unable to login as 'pwd' module is  not found. However this module is for UNIX like os, but I am using windows

**Wandb features**
Both `wandb.login()` and `!wandb login` show the same error

**Environment**
- OS: Windows 11 Home
- Environment: Jupyter Notebook
- Python Version: 3.9.7

[2021-10-05 20:16] vanpelt commented on #2735
Hey @dennisushi you can always login by specifying your api key in the environment, i.e.

[code]

You should be able to run `wandb login` from a regular terminal on that same machine and your vscode kernel will pickup the credentials.  I tried to reproduce and I was able to login fine.  Can you share what messages or output you're seeing?  Also, can you run `!wandb --version` to verify what versio

[2021-10-05 20:23] vanpelt commented on #2737
Hey @ABD-01 can you share the exact error message / traceback you're seeing?

[2021-10-05 20:37] aidanjdonohue commented on #2732
Hi Stefan! Sorry you're encountering this issue. Could you share the error.log files (should be in your wandb directory)? If you don't want to post them here you can alternatively send them to support@wandb.com

[2021-10-05 22:12] vanpelt commented on #2682
@samuela apologies, this didn't make it into the last release.  It will make it into the next one.  Until then you can install from the branch as mentioned above.

[2021-10-06 00:42] #2351 closed

[2021-10-06 01:04] copperwiring commented on #673
@vanpelt `viewmaker` is the code repo from which I am running it so I am assuming it takes it as the team. Username is sulphur so  entity=sulphur? If yes, how to edit it?

[2021-10-06 01:17] vanpelt commented on #673
@copperwiring correct, entity should be set to "sulphur" or you can just remove the entity argument altogether and it should default to "sulphur".  The stacktrace shows that `scripts/run_image.py` is calling `wandb.init(project='image', entity='viewmaker', ...)` on line 67.

[2021-10-06 05:32] shaibagon commented on #2722
@vanpelt thank you for your reply.
I'll make sure my images are **strictly** in the right range, and see if this resolves the issue.

I am working with float-type images that should be in the range of [0, 1]. It may happen, occasionally, that the values slightly exceed these limits, e.g., when using bicubic interpolation. Wouldn't it be better if you were a little bit more "relax" when deciding if

[2021-10-06 07:56] Tobblatzius commented on #2724
Thanks for your reply @vanpelt , that did the trick. I have not encountered this type of issue before and think it might be helpful to add something to https://docs.wandb.ai/ref/python/agent. Regarding the constraints on the function argument.

[2021-10-06 08:22] #2735 closed, assigned to nobody

[2021-10-06 14:07] armanhar commented on #2734
Hey Stefan, thanks for the suggestion. We already have a ticket for the option to change the groupings for runs. I'll bump up its priority and let you know once the feature is available.

[2021-10-06 14:20] #2737 closed

[2021-10-06 14:27] stefanalgopolis commented on #2732
Hello @aidanjdonohue! Thanks for your reply, I tried to run it on cloud wandb version - is it possible to access error.log there?

[2021-10-07 16:38] vanpelt commented on #2723
Hey @gabriel-vanzandycke we're actively working on the ability to overwrite existing data especially for usecases like resuming from checkpoints.  We plan to have these interfaces available within the next month or so.

[2021-10-07 18:04] MauricioSalazare opened #2743 "[CLI] Video logging issues with OpenAI Gym"
**Description**
The .mp4 videos recorded by the VideoRecorder() objects in OpenAI do not show up on the wandb.ai dashboard.

**Wandb features**
I am using wandb for a single run.

**How to reproduce**
This is the minimum code to reproduce
[code]

**Environment**
- OS: Windows 10 (20H2)
- Environment: conda 4.10.3
- Python Version: 3.8.10
-gym==0.19.0
-wandb==0.12.1

**Workaround**
After some diggi

[2021-10-07 21:33] vanpelt commented on #2743
Thanks @MauricioSalazare this is actual a limitation of [Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=54036).  Likely due to licensing issues.  In the future it's possible we could run a transcoding server to convert videos logged in non-web friendly formats but it's not currently a priority on our roadmap.  I'll keep this issue open as it will definitely be helpful to other users

[2021-10-08 00:30] anmolmann commented on #834
Linking the GitHub [discussion thread](https://github.com/PyTorchLightning/pytorch-lightning/discussions/9589) where the conversation was continued.

[2021-10-08 01:12] anmolmann commented on #1883
Hi @maxwass, The generated error suggests that we need to know which entity the sweep belongs to.
Could you please try setting `entity` and `project` in your [wandb.sweep()](https://docs.wandb.ai/ref/python/sweep) method invocation?
On the other hand, if you're opening a new terminal on a new machine and specifies: `wandb agent sweep_id`, then try running `wandb agent entity_name/project_name/swee

[2021-10-08 08:32] mineshmathew opened #2745 "[Q] How to remove wandb account information from a machine"
I earlier  logged into wandb from a Unix machine in my lab . Upon  `wandb login` it signs into my account. I want to logout/remove my account information from the machine. How do I do it

[2021-10-08 13:28] emanuelevivoli commented on #2408
hi @vanpelt ,
sorry for the late answer, but I shifted on another project and I totaly forgot about this issue.
From what I remember, I had something like 7k runs in a sweep, with grid search.
I close the issue because it is from 3 months ago.
Thanks anyway.

[2021-10-09 03:04] #2745 closed

[2021-10-09 04:39] anmolmann commented on #2351
Hey @alexandrehsd , just wanted to follow-up here. We deployed a fix for this issue.

[2021-10-09 13:23] Sun-Rider opened #2749 "wandb.watch() produce nothing [CLI]"
**Description**

I'm working on encoder-decoder like architecture, with multi-models (i.e., e_1, d_1, e_2, d_2, and e_3, d_3). At the moment, I'm only interested in the gradients flow of the e_3 and d_3, so that I call the wandb.watch() with the following command:
[code]
before the training start.

However, I cannot find the "gradients" section in the board.
![image](https://user-images.githubuser

[2021-10-09 23:04] samuela commented on #2682
I just tested this on 0.12.4, and it's still broken with the same error.

[2021-10-10 04:55] #2749 closed

[2021-10-10 20:48] billray0259 commented on #507
Has any progress been made on this issue?

[2021-10-11 00:11] #2467 closed

[2021-10-11 16:45] Ademord opened #2750 "[Q] How to Log multiple times per second?"
Hello
I am using `wandb.log({k: v})` multiple times per second -> I have ran into the warning you give in your docs:

What can I do to upload aggregated logs to wandb? I can aggregate them in a `list of dicts`  on my side, but
1.  how will this keep the order of "publishment"? running `wandb.log` keeps the temporal order of when the logs were published
2.  I can't find anywhere in the docs how to

[2021-10-11 23:06] aidanjdonohue commented on #2720
@Rami-Ismael just following up on this thread

[2021-10-12 16:07] dlangerm opened #2755 "[App] Plotly from seaborn violinplot looks nothing like the original"
**Describe the bug**
I have a graph that I regrettably cannot show in a public forum, but it's a dual-series violin plot from [seaborn (on top of matplotlib)](https://seaborn.pydata.org/generated/seaborn.violinplot.html?highlight=boxplot).

The resultant in wandb not only looks nothing like the original plot, but it's also not tracking the series correctly. I have two series of data, but they are

[2021-10-12 16:34] bzamecnik opened #2756 "[CLI] Keras WandbCallback logs summary of last epoch instead of best"
**Description**

WandbCallback docs:

step, where "best" is defined by the `monitor` and `mode` attribues [sic, typo].

But in practice the summary metrics are values from the last epoch, except for extra `best_<monitored_metric>`.

**Wandb features**

`wandb.integration.keras.keras.WandbCallback`

**How to reproduce**
1. Link to a reproducible script we can run to see the bug
2. Describe what we

[2021-10-13 00:45] adamoyoung opened #2758 "[Q] Which operations communicate with server?"
I am trying to reduce the frequency with which I get "rate limit exceeded" errors on hyperparameter sweeps. I am wondering which operations cause a communication with the wandb server. Am I right in assuming that it is only the functions that explicitly involve communication, like: `wandb.log`, `wandb.init`, `wandb.save`, and `wandb.restore`, or is it possible that there is some background communi

[2021-10-13 04:43] yorard123 opened #2760 "[Q] Is there anyway to solve the issue : Error while calling W&B API: Invalid artifact name without re-running the experiment again?"
Hi, When I am trying to sync an experiment that I run it previously in offline mode I found that I am having issues to do it. The error that I get is this one:

`wandb: ERROR Error while calling W&B API: invalid artifact name run-test_64_128_test_64_aggr_max_twobranch_512_predv1_b1global_none_b2global_none_01-Test_new_testbewnethodresultswiththresh04, must be 128 characters or less (<Response [400

[2021-10-13 14:20] prash-p opened #2763 "[App] Project page table not showing any columns and width not adjustable"
**Describe the bug**
The table on my [project's overview page](https://wandb.ai/prashant-pand3y/uncertainty-bone-seg?workspace=user-prashant-pand3y) is not showing any columns, despite having selected all columns to show. The width of the table is also not adjustable as it used to be, which is causing all my plots to be squished in the right pane.

Does not seem to be an issue for my other project

[2021-10-13 19:38] dlangerm commented on #2755
Right, I understand that is a workaround, but as I mentioned

The data in these charts is a bit unwieldy and is more meaningful if it can be zoomed/sliced as one can with plotly charts. Unfortunately, uploading images only partially solves my issue.

[2021-10-14 00:28] pkuderov commented on #1529
I have exactly the same problem. Any progress on it or a workaround?

[2021-10-14 00:31] anmolmann commented on #2486
@jpcenteno80 if you don't specify `root` inside `artifact.download()`, what's your download location in this case? Is it the one you specified in `wandb.init(dir='...')`?

[2021-10-14 07:54] scho97 opened #2766 "[Q] How to reproduce values sampled by Bayesian method?"
Hello,

I am using W&B Sweeps to optimize hyperparameters for my neural network. I noticed that when I run my code several times with random seed fixed, I get different results, and this seems to be caused by different hyperparameter values sampled by the Bayesian method.

[code]

I was wondering if there is any way to seed the Bayesian sampler provided by W&B. Or is there any other way encouraged

[2021-10-14 12:33] armanhar commented on #2758
Hey Adam, I'll need double-check with the team on this. What I'd recommend as a workaround is to run your experiments offline and sync them with wandb sync

[2021-10-14 16:10] aidanjdonohue commented on #2763
Hi @prash-p could you share a link the your project page where this is happening so I can take a look?

[2021-10-14 17:15] prash-p commented on #2763
@aidanjdonohue I recorded a video to show how I am not able to adjust the name column or table width whether the table is expanded or not. I then show that I can do it in another project.

https://drive.google.com/file/d/1hUGa0e8lnkuxd9ghi8Em9VQzbPCQesxA/view?usp=sharing

[2021-10-14 17:23] #2763 closed, assigned to nobody

[2021-10-14 22:04] bruce-willis opened #2768 "[App] Table is not updating when logging the same table with new rows"
**Describe the bug**
When adding new rows to the same table (to track performance during training) and logging it, the new version of the table isn't shown in the web app.

**To Reproduce**
Minimal reproducible example:
[code]

[wandb project link](https://wandb.ai/bruce-willis/wandb-table-update?workspace=user-bruce-willis)

**Expected behavior**
New rows are added to the same table during `for`

[2021-10-14 22:45] xli4217 opened #2770 "wandb login permission denied[Q]"
Hi, I'm trying to run `wandb login` on the server where I don't have write access to `/tmp`. I get the error `Permission denied: '/tmp/debug-cli.log'`. I tried setting WANDB_DIR but didn't work. Help would be appreciated.

[2021-10-15 01:26] scho97 commented on #2766
Hi Leslie,

Thank you for your reply. Your suggestions make sense. I'll look into them.

All the best,
SungJun

[2021-10-15 01:39] xli4217 commented on #2770
That worked. Thanks a lot!

On Thu, Oct 14, 2021 at 9:26 PM Chris Van Pelt ***@***.***>
wrote:

[2021-10-15 02:52] scho97 opened #2771 "[Q] Clarification on the implementation of hyperband algorithm in Sweeps"
Hello,

I was reading the [documentation](https://docs.wandb.ai/guides/sweeps/configuration#hyperband) about the Hyperband algorithm in Sweeps. In the original paper, each bracket refers to an implementation of Successive Halving Algorithm (SHA). However, in the documentation, it says that a bracket is one pre-set iteration counts. I am confused what the iteration is referring to and how the Hyper

[2021-10-15 04:24] Programmer-RD-AI opened #2772 "[CLI] Doesnt log tensorboard with wandb"
**Description**
Doesn't log tensorboard with wandb,
[00.zip](https://github.com/wandb/client/files/7350884/00.zip)
The above is the link for the jupyter lab notebook.

I have checked the issue a few times but it seems not to log the logs to tensorboard.

And it doesn't when I use
wandb.init(project=PROJECT_NAME,name=NAME,sync_tensorboard=True)
it doesn't sync.

**Wandb features**
What lines of wan

[2021-10-16 02:36] scho97 commented on #2578
Hi, I am having a same problem in a `Docker` container. I have tried
[code]
but it requires me to do `conda init` and then close and restart my shell. However, I cannot do this because I am in my Docker container. I am hesitant to set the `_save_requirements=False` because I want to ensure reproducibility. Is there any suggestion or work arounds to solve this problem?

[2021-10-16 09:33] yllgl opened #2777 "[CLI] Can't Syncing Previous TensorBoard Runs"
**Description**
here is my tensorboard log file, and I use `wandb sync ./` to sync tensorboard file.
But nothing was imported.
However, I could see the log in my tensorboard client.

[2021-10-16-14-41-34.zip](https://github.com/wandb/client/files/7357304/2021-10-16-14-41-34.zip)

**Environment**
- OS: Win 10
- Python Version: 3.7.9
- wandb, version 0.10.31

[2021-10-16 11:42] Wilann opened #2778 "[App] `wandb.log` and `run.log_artifact(...)` not showing in browser"
**Describe the bug**
When using `wandb.log` and `run.log_artifact(...`), nothing is being logged in the browser.

**To Reproduce**
Steps to reproduce the behavior:
[code]

[code]

**Expected behavior**
Expecting UI to display chart of `i` and `./logs`

**Screenshots**
![Screenshot from 2021-10-16 07-41-38](https://user-images.githubusercontent.com/40744757/137585953-31783f13-c72d-458b-98f5-8d1a803

[2021-10-16 15:36] jambran opened #2779 "[CLI]"
**Description**
It seems I'm getting an issue when trying to run distributed training on Sagemaker.

I've taken a look at the [documentation](https://docs.wandb.ai/guides/track/advanced/distributed-training) regarding distributed training, and I'm trying to get the second approach to work, `wandb.init()` on all processes.

The training job fails with the exception
[code]

I've created a repository

[2021-10-16 18:05] ashok-arjun opened #2780 "[Feature] Better Line Colours in Line Series Plots"
**Is your feature request related to a problem? Please describe.**

I'm trying to plot the metric of different datasets in the same plot. I've got the code figured out, and I've plotted it, but it is very difficult to make sense of the plot.

**Describe the solution you'd like**

1. Plot all of them with different colors, like how the plots are shown when the y-axis contains multiple items.
2. Giv

[2021-10-17 07:57] Programmer-RD-AI commented on #2772
hi @vanpelt

I checked and I found that detectron2 logs the metrics to a output/metrics.json file

so I load the json and log that metrics.json

I don't think that this is a fix for the problem but my detectron2 problem is resolved.

I will keep this issue open so if anyone wants to go through this.

And also my wandb version is '0.10.0'

WIth best regards,
Ranuga

[2021-10-17 15:12] #2780 closed, assigned to nobody

[2021-10-17 19:06] Ademord commented on #2750
@vanpelt : I tried what you mentioned with `commit=False` and interestingly my `wand.finish` outputs
[code]
and my plots look like this
![image](https://user-images.githubusercontent.com/4501464/137641261-1a4cfeaf-d610-4739-83bc-7afcd3949a32.png)

instead of like this
![image](https://user-images.githubusercontent.com/4501464/137641286-b34e1402-11f6-4aa7-94c1-28fa4326d224.png)

i assume `wandb.log

[2021-10-18 04:13] Qcactus opened #2783 "[Q] How to start a new sweep of grid search without repeating prior runs"
Hi everyone. When a sweep of grid search finishes, I often want to start a new grid search that might have some overlaps with the previous one. For example, the previous sweep might configure the parameter a in {0.01, 0.001} and b in {0.01, 0.001}, and next I want a new sweep with a in {0.1, 0.01} and b in {0.1, 0.01}. But by selecting prior runs and starting a new sweep, the "--a=0.01 --b=0.01" w

[2021-10-18 13:36] rogelioamancisidor commented on #1493
@vanpelt  Did the release that you mentioned support lists as inputs for sweep? I have some input parameters that are lists and I pass them to `argparse` using the `nargs='+'` in my python code. However, in my `sweep.yaml` I needed to pass strings and convert them to lists as @nsfabina did for tuples.

[2021-10-18 14:38] Wilann opened #2784 "[Q] Difference between `wandb.define_metric('loss', summary='min')` and `wandb.run.summary["loss"] = loss`"
Hi wandb team,

I've gone through the docs (specifically the [Summary Metrics](https://docs.wandb.ai/guides/track/log) section), and am wondering what's the difference between `wandb.define_metric('loss', sumary='min')` and something like:
[code]

Do they not both track the lowest loss?

[2021-10-18 15:21] Wilann commented on #2778
For some reason, after leaving the system open overnight, it works now. Not sure what the issue was.
Can anyone shed some light on why this was the case?

[2021-10-18 15:23] Wilann opened #2785 "[App] `wandb.plot.bar(...)` and `wandb.plot.scatter(...)` plots table instead of bar chart"
**Describe the bug**
`wandb.plot.bar(...)` plots table instead of bar chart

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Expecting a bar chart - not a table

**Screenshots**
N/A

**Operating System**
- OS: Pop!_OS 20.04 LTS
- Browser: Chrome
- Version 94.0.4606.61 (Official Build) (64-bit)

**Additional context**
N/A

[2021-10-18 15:35] armanhar commented on #2609
@drozzy we have created an internal ticket for this feature. I'll notify you once this is possible.

[2021-10-18 17:28] #2770 closed, assigned to nobody

[2021-10-18 17:37] Wilann opened #2787 "[Feature] Automatically delete empty artifact folders"
**Is your feature request related to a problem? Please describe.**
It's tidious to manually delete folders of empty artifacts in the "Artifacts" tab.

**Describe the solution you'd like**
It would be nice if these folders were deleted automatically.

**Describe alternatives you've considered**
N/A

**Additional context**
Please see this screenshot where all subsequent runs, after the first run, ar

[2021-10-18 18:06] #1493 closed

[2021-10-18 18:33] #2784 closed, assigned to nobody

[2021-10-18 18:53] Wilann opened #2788 "[Feature] Delete Hidden Columns"
**Is your feature request related to a problem? Please describe.**
After changing which parameters are being tracked many times, eventually the "Hidden Columns" section of "Runs" gets quite cluttered.

**Describe the solution you'd like**
If would be nice if we could remove unused columns.

**Describe alternatives you've considered**
N/A

**Additional context**
See this screenshot how there are 92

[2021-10-18 19:04] Wilann opened #2789 "[Feature] Ability to re-size tables"
**Is your feature request related to a problem? Please describe.**
In tables when the logged string is long, it takes up a lot of screen space. This makes it so that on smaller screens, it's difficult to see columns that proceed it.

**Describe the solution you'd like**
I'd be nice if we could re-size the columns, or shrink them so that strings span more than one line in order to fit all columns o

[2021-10-18 21:19] Wilann opened #2790 "[CLI] OSError: [Errno 18] Invalid cross-device link:"
**Description**
When logging multiple tables with relatively long names in the UI,  only the first table is logged and I get an error message.

**Wandb features**
[code]

Error Message:
[code]

**How to reproduce**
N/A

**Environment**
- OS: Pop! OS 20_04
- Environment: Conda Env + Python scripts
- Python Version: 3.8.11

[2021-10-18 21:20] Wilann commented on #2790
Related to #1252 - issue still persists in wandb version `0.12.4`

[2021-10-18 21:35] vanpelt commented on #2790
@Wilann we cache all data in your home directory by default.  The error is coming from windows mounting the tmp directory on a different drive than the cache directory.  You can override the cache directory to be on the same device as your tmp directory by setting the `WANDB_CACHE_DIR` environment variable.  If you want to maintain the cache you can copy `~/.cache/wandb` into the directory you set

[2021-10-18 22:20] Wilann commented on #2778
Currently the last outputs in the terminal are:
[code]

I assume this means its still uploading, despite saying "success"?

There's no artifact yet in the UI, but at least the folder is there:
![Screenshot from 2021-10-18 18-19-04](https://user-images.githubusercontent.com/40744757/137814405-2c3746d4-d93c-4c13-be2a-b58816829be6.png)

[2021-10-18 23:54] anmolmann commented on #1199
Hey @MartFire & @stathius , files can be deleted using our API as mentioned [here](https://docs.wandb.ai/guides/track/public-api-guide#delete-all-files-with-a-given-extension-from-a-run). For instance:
[code]

[2021-10-19 02:21] scho97 opened #2793 "[Q] How does parallel sweep work in the Bayesian search?"
Hello,

I am running multiple `wandb agent`s on different GPUs to parallelize my Bayesian search as in [#597](https://github.com/wandb/client/issues/597):

[code]

I had a question on how initiation of multiple agents works in the Bayesian search strategy, as it requires the results of previous sampling to decide the next hyperparameter values.

I know that a few other frameworks uses Constant Lia

[2021-10-19 07:29] scho97 commented on #1197
Hi. I am reopening this issue, because I have a similar problem in a non-Jupyter environment. When you said "move all of your imports into your train function", do you mean putting `import <LIBRARY>` within my train function?

[2021-10-19 09:12] scho97 opened #2797 "[CLI] Agents hanging up in Sweeps - Linux"
**Description**
Sweep agent hangs up without throwing errors or traceback

**Wandb features**
`wandb.init()`, `wandb.watch()`, `wandb.log()`

**How to reproduce**
I am running two Sweeps on separate GPUs. The first Sweep is working well, but the other one is hanging for a few hours after 66 runs.

I read [#1197](https://github.com/wandb/client/issues/1197) and [#1168](https://github.com/wandb/clie

[2021-10-19 09:56] Wilann commented on #2778
Hey @vanpelt, looks great. Everything got uploaded. As a suggestion, maybe print the percentage uploaded during the upload so that there's an ETA of sorts?

[2021-10-19 10:51] THU-syh opened #2798 "Got wandb network(ssl error) error even when I run wandb in offline mode"
I Got wandb network(ssl error) error even when running in the offline mode.
I really don't know why this bug can occur!

[2021-10-19 11:42] Wilann opened #2799 "[Q] How to ignore folders when saving code artifact (similar to `.gitignore`)?"
Hi,

I'm trying to save my training code with something like:
[code]

How can I ignore certain folders, like system-generated folders?
Ex. `__pycache__`

[2021-10-19 12:48] Wilann commented on #2799
Hi @armanhar,

I set `os.environ['WANDB_IGNORE_GLOBS'] = '*.pyc'` and it's still uploading the `.pyc` files in `__pycache__/`

[2021-10-19 13:07] Wilann opened #2800 "[Q] How to associate run with already uploaded dataset?"
Hi,

I'd like to associate a new run with a dataset that's already been uploaded.

When initializing a run and adding my dataset artifact, it takes quite a long time since its ~50 GB. Also, my dataset hasn't changed from the one on your servers. Is there a way to point a run to that dataset (and its version), so that this association is displayed on the graph view?

[2021-10-19 13:11] armanhar commented on #2800
Hey Wilson, when you call [use_artifact](https://docs.wandb.ai/guides/artifacts/api#3-use-an-artifact) W&B will find that artifact and mark it as input to the run.

[2021-10-19 13:13] armanhar commented on #2788
Hey there, thanks for the suggestion. I'll create an internal ticket so that the team can consider adding this option in a future release.

[2021-10-19 13:34] Wilann commented on #2788
Hey @armanhar, thank you for taking this into consideration. Really appreciate it.

[2021-10-19 13:43] #2800 closed, assigned to nobody

[2021-10-19 13:43] #2788 closed, assigned to nobody

[2021-10-19 13:55] #2778 closed

[2021-10-19 13:58] Wilann opened #2801 "[CLI] os.symlink(abs_path, wandb_path) PermissionError: [Errno 1] Operation not permitted:"
**Description**
Saving model via `wandb.save` not working

**Wandb features**
When trying to save my model with `wandb.save(save_model_path)` I'm getting error:
[code]

**How to reproduce**
N/A

**Environment**
- OS: Pop! OS 20_04
- Environment: Conda Env + Python scripts
- ython Version: 3.8.11

May be related to #2790?

[2021-10-19 15:08] Wilann opened #2802 "[CLI] Sweep - wandb: ERROR Problem finishing run"
**Description**
Running a sweep with a dictionary config has an issue "finishing run"

**Wandb features**
[code]

Error:
[code]

This is the associated `debug-internal.log` file:
[debug-internal.log](https://github.com/wandb/client/files/7374429/debug-internal.log)

**How to reproduce**
N/A

**Environment**
- OS: Pop! OS 20_04
- Environment: Conda Env + Python scripts
- Python Version: 3.8.11

[2021-10-19 18:57] #2801 closed, assigned to nobody

[2021-10-19 21:00] #2789 closed, assigned to nobody

[2021-10-19 23:06] #2793 closed

[2021-10-19 23:10] vanpelt commented on #2801
The permission error is either being caused by cross link issues, or perhaps in this case it's actually caused by windows not allowing symlinks in your terminal session.  I think if you run your code in a terminal that's been opened [as an administrator](https://superuser.com/questions/1560049/open-windows-terminal-as-admin-with-winr) it should work.

[2021-10-19 23:13] vanpelt commented on #2797
If you're running in Docker, you should likely use our command line agent.  The import trick is only for jupyter environments that will execute your code in the same python context.  You can run:

[code]

And then the agent will run whatever "program" you specified in your sweep config.  That's much simpler in the docker context and will mean you don't need to worry about shuffling your imports.

[2021-10-20 00:09] tssweeney commented on #2768
Hi @bruce-willis - thank you for the bug report. I'd like to add some color here:
1. You are correct that this statement from the docs is incorrect: `Each time a table is logged to the same key, a new version of the table is created and stored in the backend.`. In fact, the current implementation will create a pointer to the original logged table for each successive log. A very reasonable fix is t

[2021-10-20 07:07] #2384 closed

[2021-10-20 08:14] purplexed commented on #2779
Hey @vanpelt , could you please share some details/links on the newly introduced functionality you mentioned above?
Thanks!

[2021-10-20 10:47] Wilann commented on #2799
Can confirm `os.environ['WANDB_IGNORE_GLOBS'] = '__pycache__/'` also doesn't work

[2021-10-20 12:36] yllgl commented on #2777
There is no `wandb/debug-internal.log` file. I just download my tensorboard file and run `wandb sync`. And now I found that its output `wandb: ERROR Nothing to sync.`. But I could view my plot in tensorboard using `tensorboard --logdir=./`

[2021-10-20 17:06] bruce-willis commented on #2768
Hey @tssweeney, thank you for such a detailed response!

1. > A very reasonable fix is to mark the local table as "dirty" when it has been modified and truly log a new version.

Yeah, I think this is quite a logical fix. Btw, maybe not only tables are affected by this issue?
2. Expression editor is a very cool feature, didn't know it was possible!

Please let me know if you require any further inf

[2021-10-20 20:26] anmolmann commented on #2387
@mil-ad , thanks for the prompt update.
Ironing out these types of issues (ex: displaying elaborated/pin-pointed error messages) is at the top of our Q4 priorities so hopefully you wouldn't have to wait much longer than that.

[2021-10-20 22:57] #2783 closed

[2021-10-20 23:11] vanpelt commented on #2779
Hey @purplexed it's very early with our multiprocessing support, but you can see an example specific to pytorch-lightning and DDP [here](https://github.com/wandb/client/blob/master/functional_tests/lightning/train-ddp.py#L75).  With the latest release of wandb (0.12.5), you can now opt-in to our experimental multi process support by calling the following before calling `wandb.init`:

[code]

Note,

[2021-10-21 02:08] JayThibs commented on #2720
@Rami-Ismael Which version wandb are you using? You may want to upgrade to +0.12.3.

[2021-10-21 02:47] clarkbab opened #2805 "No runs older than 24 hours found [CLI]"
**Description**
Hi, I'm trying to clean up synced runs using the command line `wandb sync --clean`. I have old runs that have synced to the web app and finished more than 24 hours ago. However, I'm getting the message "No runs older than 24 hours found". Any ideas?

**Wandb features**
`wandb sync --clean`

**How to reproduce**
1. Saved wandb runs in custom folder, (setting `dir` keyword in `wandb.

[2021-10-21 02:48] JayThibs opened #2806 "[CLI] max_epochs in Lightning no longer works during sweep? Model keeps training indefinitely."
**Description**
When I train a single model (without hyperparameter sweep), my model trains normally and stops at `max_epochs`. However, when I try to do a sweep, the model trains indefinitely. I thought maybe I wasn't passing the hyperparameters in properly, but I put a few print statements in my model and it seems that the `max_epochs` I defined in the config is loaded (the model doesn't use the

[2021-10-21 02:48] #2805 closed

[2021-10-21 02:49] clarkbab commented on #2805
FYI, needed to navigate to parent directory and perform `wandb sync --clean`.

[2021-10-21 05:20] jingxixu opened #2808 "[Q] where to find wandb/setting"
I want to configure wandb so that it does not record the output.log (which I guess can save training time) and I think the way to do it is: https://docs.wandb.ai/guides/track/advanced/save-restore#how-do-i-ignore-files. But where can I find the wandb/setting to edit?

[2021-10-21 05:46] jingxixu opened #2809 "[Q] wandb.save(file_path) creates the whole recursive path"
I am calling `wandb.save(file_path)` to save a log file. However, when I check the saved files in the cloud GUI, I noticed that this file is saved using the exact `file_path`. For example, if `file_path` is `dir1/dir2/file.txt`, then `dir1` and `dir2` are created accordingly in Files in the GUI even though I just want to save `file.txt`. Any suggestions?

[2021-10-21 12:19] DavidSlayback opened #2810 "[Q] HP sweep (grid search) with offline logging on an HPC"
I'm a PhD student studying RL. I've really loved using wandb, and I particularly find the sweep API to be a convenient way to setup runs. I've run into a problem recently when I tried to scale up.

I'm logging a fair amount of data on many agent processes, but I'm using tensorboard and the "offline" mode on an HPC cluster. Given that I'm using grid search with no early stopping, I'm thinking that

[2021-10-21 17:06] #2660 closed

[2021-10-21 18:28] vanpelt commented on #2798
I would also check if you have a proxy configured that doesn't have trusted SSL certificates.  You can check for proxy configuration by running `env | grep PROXY` to see if any PROXY environment variables are set.

[2021-10-21 19:12] Wilann opened #2812 "[CLI] Hyperparameter tuning with Optuna - wandb: WARNING Step must only increase in log calls. Step 1 < 3; dropping"
**Description**
When using Optuna for hyperparameter tuning, on the 2nd run (and I assume all subsequent runs as well) logging and specifying step gives a warning, thereby dropping the log

Unsure if this is an Optuna issue or wandb issue.

**Wandb features**
`wandb.log(..., step=epoch)` gives warning:
[code]

**How to reproduce**
[code]

Output:
[code]

**Environment**
- OS: Pop!_OS 20.04 LTS
- E

[2021-10-21 19:48] dlangerm opened #2813 "[CLI] cannot import name `introspection_query` from `graphql`"
**Description**
I'm attempting to integrate weights and biases, pytorch lightning, and [kedro](https://kedro.readthedocs.io/en/0.17.5/index.html), which requires graphql>3.1.0 to function. The weights and biases package appears to have a vendor copy of graphql which is pretty old, but when `graphql` is imported in the vendor package it doesn't use the weights&biases included version and instead us

[2021-10-21 23:49] vanpelt commented on #2797
Hangs should generally only happen if a single python process launches multiple training jobs.  By running it from the command line each training job is guarenteed to be a new process.

[2021-10-21 23:55] vanpelt commented on #2806
In the example above, in your call to `wandb.init` you should be specifying the default values for your hyperparameters, not the `sweep_config`.

[2021-10-21 23:58] vanpelt commented on #2809
Hey @jingxixu you can use the `base_path` argument, i.e. `wandb.save("dir1/dir2/file.txt", base_path="dir1/dir2")` should save a file named `file.txt` in the gui.

[2021-10-21 23:58] #2809 closed

[2021-10-22 02:41] THU-syh commented on #2798
I upgrade wandb to 0.12.5 version. And, there is indeed an error when curl -v https://api.wandb.ai/graphql:
![image](https://user-images.githubusercontent.com/37439814/138384062-25874c5c-8c0f-4e64-9f43-b4b79e61e2bd.png)

I have checked that no PROXY environment variables are set.

[2021-10-22 04:17] #2806 closed, assigned to nobody

[2021-10-22 13:19] Wilann opened #2817 "[CLI] `wandb.tags` doesn't work for adding tags"
**Description**
After having initialized the run, adding tags afterwards doesn't work

Not sure if bug or feature request

**Wandb features**
`wandb.init` and `wandb.tags`

**How to reproduce**
Following the [Tags Documentation](https://docs.wandb.ai/ref/app/features/tags) (sort of)
[code]

**Environment**
- OS: Pop! OS 20_04
- Environment: Conda Env + Python scripts
- Python Version: 3.8.11
- wan

[2021-10-22 14:26] Wilann opened #2818 "[Feature] Diff view for dataset artifact"
**Is your feature request related to a problem? Please describe.**
When uploading a datset, I understand that the wandb system already checks for the difference in files, and therefore only stores the files that have changed. I notice that in the UI, there's no way to check what changed between veresions. Instead, there's a "Notes" tab for each version which has "What changed in this revision?" in

[2021-10-22 14:33] rjbruin opened #2819 "[CLI] Runs filters don't work with config names that contain periods"
**Description**
When the logged config keys contain a period (e.g. `config.model.type`), any filters in `wandb.api.runs(filters={...})` seem to be ignored.

**Wandb features**
I am using `wandb.Api().runs()` only.

**How to reproduce**
1. Link to a reproducible script we can run to see the bug
2. Describe what we have to do in order to trigger the issue
3. Add a zip file with the run folder

Repro

[2021-10-22 17:29] zplizzi opened #2821 "[CLI] Wandb crashes when trying to launch a pytorch-lightning experiment"
I get this error:

[code]

when trying to run this code:

[code]

using the current newest versions of wandb (0.12.5) and pytorch lighting ('1.4.9'), on pytorch 1.8.1.

[2021-10-22 22:27] #2812 closed, assigned to nobody

[2021-10-23 00:02] Wilann commented on #2817
Hi Leslie,

Thank you for getting back to me. I just tried your code and it works, although I had to get the run ID separately. Works as expected, but would be great in the future to add a tag via `wandb.tags` or something of the sort. Just a small feature that'd be handy, but I'm glad your code works as expected.

[2021-10-23 00:02] #2817 closed, assigned to nobody

[2021-10-23 01:19] richardbaihe opened #2824 "[Q]Is there a way to stop wandb manually?"
My training job will return -1 to stop itself and resubmit a resuming job when the left time is not enough. (I am using slurm, and there is a maximum time limit for each job)

However, I find sometimes wandb keep entering retry loop which keeps my job there without any computation.
I am using wandb offline mode.
Do you have any idea why wandb makes my program there after a -1 has been returned in

[2021-10-23 07:15] sarmientoj24 opened #2825 "OSError Too many open files: /tmp/tmphv67gzd0wandb-media"
I have been using yolov5's wandb and it is giving me this error

[code]

when doing Genetic Algorithm for hyperparameter evolution. Any idea on why wandb is doing this?

[2021-10-23 14:04] #2818 closed, assigned to nobody

[2021-10-24 11:33] Wilann opened #2828 "[Q] How to rename artifact version?"
I've currently kept each of my dataset versions on wandb, such that I have a sequence of versions: v0, v1, v2. I deleted v2 as I noticed there was a problem with it, and re-uploaded the dataset. The new dataset shows up as v3, so I now have: v0, v1, v3. How can I rename v3 to v2?

[2021-10-24 17:28] ogoid opened #2829 "[CLI] Metaflow integration requires torch, sklearn and pandas to be installed"
**Description**
The Metaflow integration raises a NameError exception in this line if the torch library (referred by `nn.Module`) is not installed:

https://github.com/wandb/client/blob/3172f6f8eae8305ba0f75d130bbd1f6a4895ae08/wandb/integration/metaflow/metaflow.py#L128-L130

I suppose the same error will happen with the other method declarations with references to `nn.Module` and `sklearn.base.Ba

[2021-10-25 21:47] #2828 closed, assigned to nobody

[2021-10-26 20:52] javadbayazi opened #2833 "Same ID for differnt jobs[CLI]"
**Description**
I deleted several jobs and after that, I was getting an error `"wandb: ERROR Error while calling W&B API: Error 1062: Duplicate entry"`. I tried many different things to solve this error! None worked! Then I signed up for a new account but it keeps generating the same ID for different runs!

**Wandb features**
 wandb.init()

**Environment**
- OS: Ubuntu server
- Environment: Termin

[2021-10-27 04:19] #2833 closed, assigned to nobody

[2021-10-27 13:22] Boyden opened #2837 "ResourceWarning when call wandb.log"
https://github.com/wandb/client/blob/6530fa5e839e3eb1e4f151c133801654a5db6af6/wandb/sdk/data_types.py#L1249
When I call the wandb.log function in my code as follows:
`wandb.log({tag: wandb.Image(image, masks=segms_dict)}, commit=False)`
It will raise the ResourceWarning in the wandb/sdk/data_types.py#1249 which execute the code
`codecs.open(tmp_path, "w", encoding="utf-8")` without close the tmp f

[2021-10-27 17:32] tom-andersson opened #2839 "[CLI] WandbCallback AttributeError: 'NoneType' object has no attribute 'item'"
**Description**

I'm getting a temperamental (i.e. doesn't consistently occur) `AttrributeError` from the keras `WandbCallback`with `wandb` 0.12.1 after calling `model.fit` in a train script:

[code]

The strangest thing is the inconsistency. With no changes to the script, this error will pop up on a couple attempts and then it will run fine just five minutes later.

I'm not really sure where to s

[2021-10-28 05:14] jstmn opened #2843 "[CLI] Can't delete artifacts, and getting an uninformative error message as to why"
**Description**

I'm unable to delete uploaded artifacts. Here's the code i'm running and the error i'm seeing:

[code]

[code]

**Wandb features**
What lines of wandb code are you using? `artifact.delete()`

**How to reproduce**
1. Link to a reproducible script we can run to see the bug
2. Describe what we have to do in order to trigger the issue
3. Add a zip file with the run folder

Run this fi

[2021-10-28 13:04] rjbruin opened #2844 "[Feature] Categorical variables in scatterplots"
When I run experiments I often want to compare categorical values for certain variables, for example the effect of using different network architectures. However, in scatterplots I can only use scalar variables on the X, Y and Z axis. It would be awesome if I could use categorical values here as well, either by specifying an ordered set of values, or by the dashboard automatically assuming one.

[2021-10-28 18:55] #2824 closed, assigned to nobody

[2021-10-28 19:31] martenlienen opened #2845 "[CLI] race condition with multiple users using wandb on the same machine"
**Description**

If a user starts a new project without a `wandb` directory in the project root, `wandb` will log to `/tmp/debug-cli.log` as set in the following lines.

https://github.com/wandb/client/blob/1d623ac04139d5a72c9f7691e18517e4950849b7/wandb/cli/cli.py#L47-L49

In our university environment we have many students using `wandb` on the same server. The first student creates the temp loggi

[2021-10-28 19:34] #2785 closed, assigned to nobody

[2021-10-28 21:52] ianbenlolo opened #2848 "[Feature] Run grid sweep in random order"
Running a sweeps in grid search is great but when single runs take long, id like it to run in a random order so that i can get a clearer image of the final results earlier on during the runs.
ie. if my grid search has
[code]
I'd like to get a sense of how each model performs early on, rather than having a full look of the first model, then second, ...

I'd like the grid method to have an option of

[2021-10-28 22:50] #2843 closed, assigned to nobody

[2021-10-29 01:19] #2755 closed, assigned to nobody

[2021-10-29 08:31] MScherbela opened #2850 "[App] Renaming projects only accepts lower-case names"
**Describe the bug**
When creating a project (either in Web App or through API) its name can be arbitrary, but when renaming a project, the web-app only accepts lower-case letters.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Project Overview'
2. Click on '.... next to a Project' and click rename
3. The current project name is prefilled in the input-field, containing also uppercase