[2020-04-10 18:21] rohitgr7 commented on #960
Thanks!! Working now.

[2020-04-10 18:21] #960 closed

[2020-04-12 15:29] usama13o opened #961 "Fastai learner export error while using callback"
`wandb --version && python --version && uname`

* Weights and Biases version:0.8.31

* Python version:3.6.8

* Operating System: Linux-3.10.0-1062.4.3.el7.x86_64-x86_64-with-centos-7.7.1908-Core

### Description

I was using the Wandb callback in Fastai library, everything executed well and all logs uploaded fine, but when I tried to export the learner I got a pickle error.

### What I Did
[code]

[2020-04-12 21:27] vanpelt commented on #961
@borisdayma have you seen this error before?

[2020-04-12 22:06] borisdayma commented on #961
Hi, which version of fastai and pytorch are you using?

Also do you need to export or just save your model: see [here](https://docs.fast.ai/basic_train.html#Saving-and-loading-models)
When saving, you just have to recreate your learner and load back the model instead of saving full learner state.

If you really want to export your model, try to use `wandb.unwatch(learn.model)` prior to exporting y

[2020-04-12 22:22] borisdayma commented on #955
As a quick fix, try to use `WandbCallback(log=None)`

[2020-04-13 20:47] usama13o commented on #961
Hi

that works fine.

but when I try `wandb.unwatchh(learn.model)` I get this

###
[code]

I even tried passing the modules, since I am using a dynamic Unet

[code]

[2020-04-13 21:02] usama13o commented on #961
Am using fastai version: 1.0.61.dev0

PyTorch version :1.4.0

[2020-04-13 21:34] borisdayma commented on #961
I was not able to recreate the issue.
See [my notebook](https://gist.github.com/borisdayma/0ffa2550dbf45010623f29eb15c3b1e7)

[2020-04-14 15:21] neomatrix369 opened #965 "[Enhancement] CatBoost support in W&B"
`wandb --version && python --version && uname`

* Weights and Biases version: wandb, version 0.8.31
* Python version: Python 3.7.2
* Operating System: MacOS Sierra

### Description

I have successfully implemented W&B to capture parameters and save and upload my models to the cloud.

Although there is no callbacks support (via a named param) in [Catboost](https://catboost.ai/docs/).

If it's trivi

[2020-04-14 15:28] neomatrix369 commented on #965
Actually looking closer into the code it seems there is `callback` support, see https://github.com/catboost/catboost/search?q=fit+callback&unscoped_q=fit+callback, although their docs don't mention it at all.

[2020-04-14 15:30] djstrong commented on #660
0.8.30 worked for 100 experiments, but now it aborts runs on `wandb.init` with `timed out`. I guess it is Internet connection problem. Should I catch this exception and continue an experiment without wandb?

[2020-04-14 16:44] neomatrix369 commented on #965
PS: apart from this I'm really really enjoying the current GUI on my dashboard, of course there are many more goodies to play with and would love to know how to enable them. (Working my way thru the docs).

[2020-04-14 23:26] radoye commented on #673
@vanpelt This indeed solves the problem. It is a bit confusing when the `sample-project` instructions fail, though. Maybe mention this there?

[2020-04-14 23:32] shawnlewis commented on #673
Where did you get the sample project instructions? From the UI? Can you paste what you're seeing?

It looks like that run was from an old version of wandb, 0.8.15. The latest version shouldn't have this issue.

[2020-04-14 23:37] radoye commented on #673
Sure, here's the output

[code]

Notes:
- Installed ~10 mins ago
- My TF environment is in a singularity container (so `pip install --user` was used)
- C-c C-v the instructions from the `sample-project` page under my Projects on wandb

[2020-04-15 00:44] bml1g12 opened #966 "Compare Tabular Data between runs"
`wandb --version && python --version && uname`

* Weights and Biases version: -0.8.31
* Python version: 3.7
* Operating System: Win 10 64 bit

### Description

I have uploaded a lot of tabular data as part of my runs using wandb Tables.

`table = wandb.Table(columns=["Text", "Result1", "Result2"])`

I would like to compute metrics based on this tabular data (e.g. column 1 row 1 + column 2 row 2) a

[2020-04-15 08:05] braindotai opened #969 "Feature request: Renaming project name, runs, and deleting them using code."
Is it possible to rename project name, runs and also deleting them within our code itself instead of doing that using the UI?

I don't know if its possible right now but haven't found any documentation regarding that.

Thanks.

[2020-04-15 11:57] jeroenbe opened #970 "Opaque restoring of local copy over cloud copies."
* Weights and Biases version: 0.8.31
* Python version: 3.7.6
* Operating System: Darwin --> macOS Catalina (10.15.3)
* Framework: Pytorch (1.4.0)

### Description

I want to load a model from a previous run, but loaded local copy from a different run instead. This caught my attention as I changed model architecture between these runs, causing a Pytorch error. After this I realised I had wrongly lo

[2020-04-15 16:42] vanpelt commented on #673
Hey @radoye that's a permission error.  You're trying to save results to `entity="wandb", project="set-run-name-to-id"` which you don't have permission to.  In your call to init, add `entity="YOUR_USERNAME"` and try again.

[2020-04-15 16:46] cvphelps commented on #945
Hi @sff1019, thanks for reporting this! @vanpelt could you take a look.

[2020-04-15 16:47] vanpelt commented on #969
You can rename runs using the public api.  Project renaming and deletion is not currently supported via the Python API.  You can do bulk deletion via our UI by expanding the run table and selecting the check boxes.

[2020-04-15 16:51] vanpelt commented on #970
Calling `wandb.restore` will download the data from cloud storage at the `run_path` specified.  replace=True will just overwrite a local file if it exists.  Any time you call `wandb.init` we create a new local directory.  Does that make sense?

[2020-04-15 17:57] neomatrix369 opened #971 "[Feedback/Enhancement] Unable to render key "xxxx" of type "string"... message in the Dashboard"
* Weights and Biases version: 0.8.31
* Python version: 3.7.2
* Operating System: MacOS High Sierra

### Description

Using the `wandb.log()` call, I have been sending data for param tracking of the models I'm currently working on, and I get this in the Dashboard:
![Screen Shot 2020-04-14 at 22 01 29](https://user-images.githubusercontent.com/1570917/79370192-28f9fa00-7f4a-11ea-9ab5-90877e95ebdc.pn

[2020-04-15 18:12] neomatrix369 commented on #965
While I was at it, I wrote a small snippet of code to read the _CatBoost_ logs and send the relevant metrics to W&B and got these:
![Screen Shot 2020-04-15 at 19 01 04](https://user-images.githubusercontent.com/1570917/79371007-8e9ab600-7f4b-11ea-91fd-b8e8e0e68a6d.png)
![Screen Shot 2020-04-15 at 19 01 14](https://user-images.githubusercontent.com/1570917/79371011-8fcbe300-7f4b-11ea-910c-cf5a1f25c

[2020-04-15 18:14] neomatrix369 commented on #965
The `catboost_info` folder looks like this:
[code]
I only enabled one flag (`allow_writing_files=True`) to record training logs, other metrics generation options open to be explored.

My code snippet looks like the below, which may not be W&B `callbacks` idiomatic but it does the job in a native fashion - if you have suggestions on top of this please let me know:

[code]
The file with all metrics

[2020-04-15 20:18] neomatrix369 opened #972 "[Question] How to backfit missing config info into past runs"
### Description

Often when beginning to track params and metrics for experiments, we end up with more variables/params to track than when we started.

How can I backfit config info (something we usually do via `wandb.config`) into my past runs?

I don't want to delete those runs and re-run the experiments but simply apply the static values they need to be set with so all my runs are consistent.

[2020-04-15 20:45] vanpelt commented on #972
Hey @neomatrix369 you can use the public api to update existing runs:

https://docs.wandb.com/library/api/examples#update-config-in-a-run

[2020-04-15 20:45] #972 closed

[2020-04-16 01:45] b0hd4n opened #973 "Web App, report: Scatter Plot selection affects only first run set on other plots"
`wandb --version && python --version && uname`

setup 1:
wandb, version 0.8.31
Python 3.6.9
Linux

setup 2:
wandb, version 0.8.30
Python 3.6.8
Linux
### Description

As I noticed, selecting points on Scatter Plot or range on coordinate on Parallel Coordinates leads to disappearing all unselected runs from other Line Plots or Bar Charts on the page or at the report. Which is quite a cool feature, e

[2020-04-16 02:29] shawnlewis commented on #973
Yes, this is definitely a feature! When you select on a scatter plot or parallel coordinates plot, your actually adding range selections that say something like "select all points where learning rate is less than 0.9 and greater than 0.8". It's not super clear what to do with multiple run sets. I suppose we could just add the range selection to all of them.

[2020-04-16 02:46] braindotai commented on #969
An example would be really helpful, cuz I couldn't find it in the documentation.

Thanks

[2020-04-16 02:59] vanpelt commented on #969
[code]

[2020-04-16 02:59] #969 closed

[2020-04-16 04:03] braindotai commented on #969
Oh thanks, that was helpful.

[2020-04-16 10:24] braindotai opened #974 "Suggestions for logging experiments with different runs and versions."
First of all absolutely loving wandb, thanks to the community and all the contributors to make it happen.

Now here's my doubt. Wandb for each project (or experiment in my case) provides logging different runs of a model, so that let's say if we wanna compare some metric for different learning rate, then it's indeed possible.
And here the map of the project looks like-

**Project ->**
- Run 1,
- R

[2020-04-16 12:22] neomatrix369 commented on #972
Thanks I'll give it a go.

[2020-04-16 14:09] neomatrix369 commented on #974
....

Have you tried using `wandb.save(model_filename)`, it saves your model for upload, versioned with your experiments. You can do this at the end of each experiment. The elaborate steps are:

[code]

I hope this helps and what you have been looking for.

[2020-04-16 14:10] neomatrix369 commented on #974
I add an additional versioning to the model but embedding the model filename with meta-data that makes it easy for me to link the code, the data and experiments but this is optional and may not be required in your case.

[2020-04-16 14:44] braindotai commented on #974
@neomatrix369 Thanks for your response, I tried saving model using dill as `dill.dump(model, open('Classifier.model', 'wb'))`,
and then saving using wandb as `wandb.save('Classifier.model')` but got error - `OSError: symbolic link privilege not held`.

[2020-04-16 14:46] braindotai commented on #974
I also tried saving only model's state_dict as I'm using pytorch, still got same error.

[2020-04-16 14:46] neomatrix369 commented on #974
Wow, not sure about that, not sure if it is something to do with wandb - did you google the error, its a OS level error. See this https://github.com/explosion/spaCy/issues/895#issuecomment-287781342

Are you running your commands in administrator mode on Windows?

[2020-04-16 14:55] neomatrix369 commented on #974
Which explains its not `wandb` client error.

[2020-04-16 14:57] braindotai commented on #974
Thanks again, yes running my vscode as administration made wandb able to save without that `OSError`. But still I wonder cuz I can't see anything on the wandb's project ui related to that saved model. So how can I actually use that saved file anyway.

Sorry I'm very noob to wandb.

[2020-04-16 15:04] shawnlewis commented on #974
Hi braindotai, you can click on an individual run's name to get to it's "run page". From there you can click on the files tab to see and download the files you saved.

Going back to your original question, I would suggest storing more information about each model in the wandb config: https://docs.wandb.com/library/config

It would make sense to have a config key called "model_type", that you can f

[2020-04-16 15:12] braindotai commented on #974
Thanks to @neomatrix369 and @shawnlewis for solving my issue.
So now I know how to save model's states or better whole model as a pickle file and also filtering the runs based on model name stored in the config file, that was a great obvious idea btw, should have thought in the first place already :)

This does solve my issue 99%.

Thanks again.

[2020-04-16 15:12] #974 closed

[2020-04-16 15:29] neomatrix369 commented on #974
@shawnlewis did a lot more professional job than me, I learnt from his suggestion. Currently, I store model type differently, will revisit docs to improve my implementation.

[2020-04-16 17:03] tyomhak commented on #959
Thank you for your feedback and feature request. I have added it to our tickets for discussion for the future updates.

[2020-04-16 17:08] vanpelt commented on #959
Currently you can use `wandb pull -e username projectname/vibrant-eon-807` or `WANDB_ENTITY=username wandb pull projectname/vibrant-eon-807`.  We'll keep this open to provide full path support

[2020-04-16 17:41] tyomhak commented on #952
Hi Boris, thank you very much for your contribution. We'll have to review it before we can pull it.

[2020-04-16 19:12] borisdayma commented on #952
If you don't think it will be very useful you can just ignore it.
I'm building it into the AI frameworks directly so no need to integrate it if it does not affect other people.

[2020-04-16 21:13] jeroenbe commented on #970
So for every run there should be a different local file, right?

If this is the case, I am not sure why above behaviour is happening. I will go through some more code; when I find something I will report here.

[2020-04-16 22:34] ayushjaiswal commented on #736
@vanpelt is there a plan to add this to the UI? Like I previously said, this would be extremely helpful and make parallel coordinate and importance plots more meaningful

[2020-04-16 22:40] ayushjaiswal commented on #926
@kennazilis is there any update on this issue? I log `epoch` and `metric` but find that the wandb `_step` does not match with my `epoch` values .

[2020-04-16 23:42] vanpelt commented on #736
Hey @ayushjaiswal we have plans for derived metrics but I want to make sure we understand your use case as it relates to parallel coordinates or importance.  Could you link us to an example workspace and describe how you would want it to work specifically?

Again, in the meantime you can update the summary of a run to achieve this today:  https://docs.wandb.com/library/api/examples#update-metrics-

[2020-04-16 23:44] vanpelt commented on #926
@ayushjaiswal step will always increment monotonically if it's not specified in `wandb.log`.  You can change any chart to use your custom epoch or other values as x-axis instead of the default _step.

[2020-04-17 00:04] ayushjaiswal commented on #926
@vanpelt I am doing that currently. The problem arises when epochs don't get logged in a monotonically increasing fashion. The line plots get messed up as they sort data using the default `_step` instead of `epoch`. Perhaps an additional argument indicating that a particular key (such as `epoch`) is the user's custom `step` variable would be useful? Or maybe having an option on the UI to sort by t

[2020-04-17 00:07] chrka opened #975 "Pre-binned histograms corrupted"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.32
* Python version: Python 3.6.9 :: Anaconda, Inc.
* Operating System: Linux (Ubuntu 18.04) and macOS (10.15.4)

### Description

Converted data to a histogram using `np.histogram` and logged a a `wandb.Histogram` object from the pre-binned data with `np_histogram`.

The histogram did not show up correctly in the wo

[2020-04-17 01:16] b0hd4n commented on #973
That would be really awesome:) This seems to be the most intuitive way how to deal with run selections and multiple run sets.

Revisiting the documentation I've noticed there is something related to the issue in [cross-project reports:](https://docs.wandb.com/app/pages/reports#cross-project-reports)

However, in the current case it does not matter if the first run set is checked or not. But it may

[2020-04-17 02:25] surajpaib opened #977 "Possible overlay bug with binary segmentation masks"
* Weights and Biases version: wandb, version 0.8.32

* Python version: Python 3.6.8

* Operating System: Linux

### Description

Semantic Segmentation usecase for binary image masks feature for 3D volumes in grayscale

### What I Did
Here's the code to reproduce:

Malfunctioning code:
The dashboard shows overlays only for class with label 0.

[code]
Changing the masks to have values from 0 to 2 an

[2020-04-17 17:07] cvphelps commented on #975
Hi Christoffer, thanks for reporting this. @raubitsj is going to take a look.

[2020-04-17 17:07] cvphelps commented on #977
Hi there, it looks like a couple of your overlays are turned off— could you please try clicking background and nodule2?

[2020-04-17 17:09] cvphelps commented on #977
Hi Suraj, thanks for your message! @nbardy could you please take a look at this

[2020-04-17 17:17] cvphelps commented on #971
Hi @neomatrix369, this is a very reasonable request. @altay will some of this be solved by panelbank?

[2020-04-17 17:22] cvphelps commented on #965
Hi @neomatrix369, this is awesome! Thanks for taking a look at how to integrate W&B with Catboost. @borisdayma could you chat with Mani about this?

[2020-04-17 17:29] vanpelt commented on #970
Yeah, each new run should have a fresh local directory.  Let us know what you find, happy to hop on a quick screenshare if that would help.

[2020-04-17 17:30] cvphelps commented on #957
Thanks for the additional info Lisa! @raubitsj is going to take a look.

[2020-04-17 17:33] cvphelps commented on #955
Thanks Marcel. @adrnswanberg could you take a look?

[2020-04-17 17:36] cvphelps commented on #954
Hi Marcel, this is a great idea for a feature request. For the moment, you can click "Export to report" in the lower right corner of the page and then save the state of your tables, grouping, sorting, filters, etc. in that report so collaborators can see the snapshot of your workspace.

[2020-04-17 17:36] raubitsj commented on #951
This should work if you add `reinit=True` to your wandb.init() call

[2020-04-17 17:38] raubitsj commented on #951
Or alternatively you can do:
[code]

[2020-04-17 17:39] #951 closed

[2020-04-17 17:41] borisdayma commented on #965
I see there are tfevents files. If they sync metrics through Tensorboard you can easily log everything by using `wandb.init(sync_tensorboard=True)`.
Let me know if that works!

[2020-04-17 17:42] cvphelps commented on #943
Hi Marcel, it sounds like this happens when there is something in the wandb directory that does not match what the garbage collector is expecting. We'd like to include this fix in our next generation of the CLI.

[2020-04-17 17:43] raubitsj commented on #942
This is a great feature to add, I have flagged it to be included with an experimental wandb client, I will update when it is included

[2020-04-17 17:44] cvphelps commented on #939
Hi Marcel, this is a good feature request. @adrnswanberg let's talk about including this in the run queue tool.

[2020-04-17 20:38] tshrjn commented on #410
Each metric has a separate counter in tensorboard. A possible use case example:
[code]

However, when using sync_tensorboard, there is only 1 single counter wandb's dashboard & the plots become super difficult to understand. Am I missing something?

[2020-04-17 20:44] vanpelt commented on #410
@tshrjn for tensorboard each summary writer has it's own global step.  In the UI you can choose a different x-axis for charts either globally or at the chart level.  If you link me to one of your runs I can look into this specific case.

![image](https://user-images.githubusercontent.com/17/79612415-80ff4080-80b1-11ea-9bc8-83afc5410e7c.png)

[2020-04-17 22:09] bsridatta opened #980 "Question - Plotting 3D graphs (scatter plot/lines)"
I am trying to log 3D plots using scatter plot and line, to get something like in the image below. I have looked at the 3D object type which already exists that take snl, obj and other format data which requires vertices faces and lot more than what 3D lines have.
I was able to plot just the points by passing [x y z]'s but I mainly want to plot the lines.

It would be great if I can get some point

[2020-04-17 22:50] #519 closed

[2020-04-17 22:51] #952 closed

[2020-04-17 22:51] #975 closed

[2020-04-17 23:43] tshrjn commented on #410
Hi, thanks for the quick response. I did choose step but it chooses some other global step.
I created a demo showing this [here](https://app.wandb.ai/tshrjn/demo-steps/workspace?workspace=user-tshrjn).

The code for it is as follows:

import wandb
from torch.utils.tensorboard import SummaryWriter

[code]

The epochs step should only be from 1 to 100. Here y=x & I can choose `epoch` to be the  x-ax

[2020-04-19 01:46] ktobah commented on #844
@borisdayma
I am having the same issue with two different scenarios:
1. I use a sweep, it was working just fine. Then suddenly, it stopped syncing and started showing the same error message. I checked the debug.log in my docker container and found:

[code]

2. I don't use a sweep, but I am trying to use Optuna for hyper-parameter optimization and log with wandb. Optuna will use 32 CPU cores, so mu

[2020-04-19 12:39] neomatrix369 commented on #965
It's a pleasure, I'll give @borisdayma's suggestion a try and loop back.

[2020-04-19 12:40] neomatrix369 commented on #965
Would `wandb` to look into the `catboost_info` folder or will it trap the `tf events` as they occur via the TensorFlow (while experiments are in play)?

[2020-04-19 13:18] neomatrix369 commented on #965
Just tried this and didn't see anything appear in the W&B Dashboard, hence my previous question.

[2020-04-19 13:47] neomatrix369 opened #981 "[Question] How to enable a Feature importance table/graph in W&B Dashboard for custom models/algorithms"
### Description

When using scikit-learn models with W&B, we can get access to the Feature Importance list as mentioned here https://docs.wandb.com/library/frameworks/scikit#feature-importances, how can I do that for native/custom runs i.e. CatBoost (on the back of the previous issue raised #965).

Is it possible to send such a list via the `wandb.log()` command in a way that it receives the whole

[2020-04-19 14:45] bsridatta commented on #980
I have also tried to plot using mayavi to export to obj but it works only if there is 1 element in the .obj. In the sense, multiple groups are not being detected. And also mtl code. Any clue on how to overcome this?

[2020-04-19 16:40] AakashMallik commented on #457
@vanpelt I am using W&B in my own pytorch pipeline and I am very particular with the output on my stdout. I really need to suppress all terminal outputs from W&B. Is there a kwarg or a global settings for the functions to suppress this?? Really need it.

[2020-04-19 17:09] vanpelt commented on #457
Hey @AakashMallik are you running in Windows or Unix?  Also are you always running python from the command line or within a jupyter kernel?  If it's unix and the command line, you can disable stdout mirroing by adding this before your call to wandb.init:

[code]

If it's one of the other scenarios, let me know and I'll share some code.

[2020-04-19 17:14] AakashMallik commented on #457
Silly me. Just found this thread https://github.com/wandb/client/issues/337
Now I am setting the env variable from the pipeline itself. All good now. Thanks for your reply.

[2020-04-20 10:21] nhabbash commented on #956
I've encountered the same error using:

- wandb, version 0.8.32
- Python 3.7.4 (Anaconda)
- Windows 10

I found out that the issue was with Jupyter Notebook (what I was using) not fully supporting multiprocessing. Haven't dug out the details, but a fix that made sweeps work was putting the `train` function definition in an outside .py file, and after that importing it into the notebook.

[2020-04-20 13:49] jeroenbe commented on #970
Great, I will close for now. When/should I find something I will reopen. Thanks!

[2020-04-20 13:49] #970 closed

[2020-04-20 15:55] Jgfrausing opened #982 "Issue with sweeping variables in nested dictionary in config"
Something seems wrong with nested parameters. The docs states, that dot is used to define nested variables in config.

This means that defining the following default config:

[code]
It should be possible to set inner_a to 'inner_a_from_sweep by the sweep:
[code]

But running this:
[code]

Outputs:
[code]

It seems like there is an issue with converting dot-variables back to dictionaries.
I have fi

[2020-04-20 23:24] surajpaib commented on #977
Hi @cvphelps, Thanks!

I seem to be having a lot of trouble with using the image masks, there seem to be render issues when I try to upload multiple ( 16 images each step and over 17 steps).

The first few steps look alright, but when I reach the 12th step the masks are shifted in the wandb dashboard although they are fine when downloaded.  I've reverted to using multiple images for masks for now.

[2020-04-21 00:33] nbardy commented on #977
Hey @surajpaib thanks for reporting these bugs. I want to get both of these fixed for you.

I've got a PR up to fix the binary image masks issue #985. I'm looking the other issue and I'll get a fix out this week.

[2020-04-21 00:35] nbardy commented on #977
Could you provide me with a link to the run with the shifted mask issue?

[2020-04-21 08:30] shailesh-agarwal opened #986 "wandb crashes randomly after running some iterations"
`wandb --0.8.32 && python --3.7 && Shailesh`

* Weights and Biases version:0.8.32
* Python version:3.7
* Operating System:macOS

### Description
I am training an ALBERT model of simple transformers. After running a few iterations, wand crashes randomly and shows RuntimeError: view size is not compatible with input tensor's size and stride (at least one dimension spans across two contiguous subspac

[2020-04-21 14:24] AljoSt opened #987 "re-instantiate wandb logger"
* Weights and Biases version: 0.8.21
* Python version: 3.7
* Operating System: Ubuntu 18.04

I would like to do two different training runs in a script. When I do that currently, it get the error  `wandb.wandb_config.ConfigError: Attempted to change value of key "experiment_name" from test_01 to test_02`. I've looked into the code and online API, but I could not find anything about terminating/re-

[2020-04-21 16:50] tshrjn commented on #410
Is there an update on this?
Looking at the code above & then graphs, it'd be immediately clear that there's some issue with the x-axis steps for epochs.

[2020-04-21 16:59] tshrjn opened #988 "Issue with individual metric steps with sync_tensorboard"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.32
* Python version: 3.6.7
* Operating System: Linux

### Description

Each metric has a separate counter in tensorboard. A possible use case example:
[code]

However, when using `sync_tensorboard`, that counter isn't being used & a max of all counters is being used, perhaps that becomes the global counter. Also, the

[2020-04-21 19:31] surajpaib commented on #977
It's not public atm, would like me to make it public before I share?

[2020-04-21 20:26] nbardy commented on #977
If you forward the link to my email we won't need to make it public for me to debug.
nick@wandb.com

[2020-04-21 20:37] vanpelt commented on #410
Hey @tshrjn the issue you're seeing is caused by having two different global steps.  If you change your example to always use your batch idx as the tensorboard global_step and log the epoch along with it you'll be able to choose between "global_step" and "epoch" as your x-axis in the wandb ui.  You can't choose global_step currently because it's not monotonically increasing.

[code]

[2020-04-22 08:42] tshrjn commented on #410
Hi @vanpelt, thanks for the suggestion. Though I feel it's more of a workaround and not the desired behaviour. This is a simplified example & there might be a lot of situations where we actually want local counters instead of 1 global one.

If you check the tensorboard for the above example, you will see it maintains separate counter/step for each metric (here scalars) & that's the behaviour which

[2020-04-22 15:48] vanpelt commented on #410
@tshrjn Let me clarify.  The tensorboard integration takes calls like`add_scalar(key, value, global_step)` and converts them into `wandb.log({"key": value, "global_step": global_step})` calls.  This enables us to "rollup" multiple calls to `add_scalar` with the same global_step so the final `wandb.log` call would contain all keys for the same step, i.e. `wandb.log({"key1": value1, "key2": value2,

[2020-04-22 15:57] vanpelt commented on #410
Also, circling back to you mentioning an option for a local step.  If any of the keys that get rolled up into the `wandb.log` calls are monotonically increasing during training you can use them as x-axis in wandb essentially making them local steps.  So if you use a universal global_step  that is always increasing you could run the following:

[code]

This would enable you to plot "batch_acc" and

[2020-04-22 21:31] cvphelps commented on #955
@adrnswanberg thanks for fixing this!

[2020-04-22 21:31] #955 closed

[2020-04-22 22:36] raubitsj commented on #949
I added documentation for setting entity and project at:
https://docs.wandb.com/sweeps/configuration
and
https://docs.wandb.com/sweeps/python-api

Reopen if this is still not working for you.

[2020-04-22 22:36] #949 closed

[2020-04-23 06:04] neomatrix369 opened #991 "LightGBM wandb_lightgbm_callbacks() does not show/report any metrics in the dashboard"
* Weights and Biases version:  0.8.32
* Python version: 3.7.2
* Operating System: MacOS

### Description

I have implemented W&B callback for LightGBM (`wandb_lightgbm_callbacks()`) is just like shown in the docs: https://docs.wandb.com/library/frameworks/lightgbm

But do not see any metrics or anything reported in the dashboard, other than the config and metrics sent via the `wandb.config` and `w

[2020-04-23 07:07] neomatrix369 commented on #991
Closing this issue, as I have fixed the implementation on my end. Apologies for raising this as an issue, works perfect in the dashboard.

[2020-04-23 07:07] #991 closed

[2020-04-23 10:33] neomatrix369 commented on #981
With regards to #965 I would like to also add, that `catboost` generates a Feature Importance list at the end of each run and it would be great to pass this along to W&B and display the FI list in the dashboard like the natively available `plot_feature_importance()` (for scikitlearn models) would do.

[2020-04-23 10:40] neomatrix369 opened #992 "Feature Importance not supported for certain Scikit-Learn model types"
* Weights and Biases version: 0.8.32
* Python version: 3.7.2
* Operating System:  MacOS

### Description

I tried to use `plot_feature_importances()` as described in https://docs.wandb.com/library/frameworks/scikit#feature-importances and found that it wouldn't work, the console logs show this message:
[code]

It's possible you are specifically looking for the attribute `feature_importances_` on t

[2020-04-23 13:06] dreamflasher commented on #949
@raubitsj Thank you for adding the documentation. Unfortunately, I can't reopen the ticket.

It would be great if it were possible to specify the project just via python code and not needing to have it fixed in the sweep config – this used to work before.

In your comment it's the first time I hear about `entity` – what is this? The documentation is lacking an explanation, `entity` is such a gener

[2020-04-23 14:18] Juanvulcano opened #993 "wandb: ERROR W&B process (PID 4388) did not respond on Windows."
* Weights and Biases version: 0.8.32
* Python version: 3.6.10
* Operating System: Windows 10

### Description

I'm training a model using Tensorflow's Object detection API and I'm using wandb.init() to log the process of the job on the wandb console. All was working well but now I'm getting a Windows fatal exception error. `Windows fatal exception: code 0x80320012`. When running the script where I

[2020-04-23 14:19] Juanvulcano commented on #993
Changed formatting

[2020-04-23 20:40] neomatrix369 commented on #971
I'll like to send a list of single values or list of tuples with `wandb.log()` for e.g.:

[code]
or

[code]

Will it or can the above be used to plot these values in the dashboard as a visualisation?

[2020-04-23 20:42] neomatrix369 commented on #981
Also wanted to add this idea I mentioned on the other issue #971: https://github.com/wandb/client/issues/971#issuecomment-618656302

[2020-04-23 22:34] vanpelt commented on #971
Hey @neomatrix369 how would you like to plot the array values?  For the nested dictionary keys, that should work and the keys would be `level_1.level2.etc`.

[2020-04-24 08:18] neomatrix369 commented on #971
The nested dictionary is fine workaround.

With wrt plotting array values, it would be great to see them as bar, stacked-bar or line graphs - would this work. Showing the delta of change in the values can also be useful.

I can do this manually via the dashboard with a bunch of workarounds but its much smoother to do it via giving it values like this and the system figuring out how to show it.

_(

[2020-04-24 08:23] neomatrix369 commented on #981
Just for argument sake would this be a good way to track feature importance lists:

[code]
How would/could we tell w&b that now using the main dictionary to plot a bar graph, which could lool like this (I'm showing in text form):

[code]

[2020-04-24 08:36] neomatrix369 commented on #971
I also found Histogram under this https://docs.wandb.com/library/log#rich-media - this might solve a part of my usage above, but seeing a line or a stacked bar chart would be awesome.

[2020-04-24 08:37] RoyHirsch opened #994 "Sweep fails because of Permission denied, trying to run on remote linux server"
`wandb -0.8.32 && python 3.7 &&  Ubuntu 18.04.4`

Hi,
While trying to run sweep over my GPUs server I encounter a permission issue.
This happens while executing the following command:
util.mkdir_exists_ok(os.path.join(self.out_dir, "code", os.path.dirname(relative_path)))

I am running the sweep over a Linux server. Is that a permission issue with the server? I am working with sudo user or am I do

[2020-04-24 17:07] vukovicnikola commented on #961
I have the same problem.
The TorchHistory class inside the WandB callback causes an error when trying to save a PyTorch model via pickle.
The lambdas should be converted to regular functions for pickle export to work.

[2020-04-24 17:15] borisdayma commented on #961
Do you have a reproducible example?
From my notebook [above](https://github.com/wandb/client/issues/961#issuecomment-613109478), I could not reproduce the issue.

[2020-04-24 17:27] vukovicnikola commented on #961
Hi Boris. I don't have a notebook, unfortunately, but it's well documented that Python (and torch.save by consequence) won't pickle lambda functions (such as the ones in TorchHistory), which is what causes the errors. Converting the two lines in the wandb TorchHistory class to use a simple function instead of lambda should solve the issue.

From https://docs.python.org/3/library/pickle.html:

[cod

[2020-04-24 17:27] neomatrix369 opened #995 "wandb.save() may not be working as expected, not framework models are supported"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.32
* Python version: 3.7.2
* Operating System: MacOS High Sierra

### Description

After each training step, I want to save my model and upload it to W&B. As per the docs on https://docs.wandb.com/library/save I tried different approaches and found they didn't have any effect. And found no model uploaded to the W&B r

[2020-04-24 22:20] cvphelps commented on #994
Thanks for reporting this! @vanpelt could you please take a look

[2020-04-24 22:54] vanpelt commented on #994
Hey @RoyHirsch the permission error is on your file system.  When we launch we're attempting to write to your file system and it's seems we're unable to.  Can you try setting the wandb directory to "/tmp" and see if the error occurs again?  You can do so in your call to wandb.init, i.e. `wandb.init(project="li_with_zsl", dir="/tmp")`

[2020-04-24 22:54] cvphelps commented on #987
Thanks for your message. Here's a link to the docs for how to launch multiple runs from the same script: https://docs.wandb.com/library/init#how-do-i-launch-multiple-runs-from-one-script

[2020-04-25 15:30] Bargsteen commented on #780
Any updates on this issue? I am encountering the same problem.

[2020-04-25 15:51] dkloving commented on #749
I am having the same issue. The script works fine when it's allowed to create its own sweep_id via

[code]

but when it is given a sweep_id that's already been created it has the above described behavior. This prevents me from running more than 1 agent at a time.

[2020-04-25 16:02] zkx741481546 opened #999 "Web app can't show plotly figure or html"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.33
* Python version: 3.7
* Operating System: win10

### Description

When I log a plotly.Figure object, the web just keep loading media and finally shows `This run didn't log tables for key "episode", step 0, index 0. Docs →`
And if I log a html generated by plotly, I got `{"error":"file 7cr24d2r/media/html/test_27_1

[2020-04-25 16:06] zkx741481546 commented on #999
I also tried `wandb.log({"episode": fig})`, same problem too

[2020-04-25 17:00] mathemakitten commented on #749
@dkloving Are you using multiprocessing? It seems that wandb launches sweeps with multiprocessing which was conflicting with my TPU connector, which also uses multiprocessing.

[2020-04-25 17:13] zkx741481546 commented on #999
it seems that after my program exit, I can see the media in web app. And if I manually stop the program in pycharm, it will show that html not found error. Is there any way to show html while the program running?

[2020-04-25 19:47] dkloving commented on #749
Actually I just discovered that I get the problem when running on a Tesla V100 (p3 instance on EC2) but when running on my local (CPU) machine, both cases with a docker image.

[2020-04-25 20:21] dkloving commented on #749
Okay I figured out the problem- I was running out of memory! I had used the default 2GB config but needed substantially more. To figure this out I had to disable the wandb agent code and just run it as a normal single job.

I suggest improving the error handling for agents.

[2020-04-25 23:10] surajpaib commented on #977
@nbardy Tested the binary masks and works perfectly, haven't been able to check on the other issue yet since it happens when I run consecutive inferences. I'll keep you updated on that! Thanks

[2020-04-26 02:31] zkx741481546 commented on #999
this is the test code I mentioned on the forum
`import wandb
wandb.init(project='temp')
for i in range(0,100):
    wandb.log({'test':wandb.Html(open('E:\运行结果\TRPO\TRPO\\test\episode_'+str(i)+'.html'))},sync=False)
    if i == 20:
        wandb.join()
        while True:
            pass
`

[2020-04-26 07:03] neomatrix369 commented on #992
We have this feature now, closing issue, thanks @vanpelt

[2020-04-26 07:03] #992 closed

[2020-04-26 09:58] zkx741481546 commented on #957
similar problem here, `2020-04-26 17:47:56,938 ERROR   Thread-21 :20672 [internal.py:execute():113] 400 response executing GraphQL.
2020-04-26 17:47:56,938 ERROR   Thread-21 :20672 [internal.py:execute():114] {"errors":[{"message":"entityName required for project query","path":["project"]}],"data":{"project":null}}
2020-04-26 17:47:56,938 ERROR   Thread-21 :20672 [run_manager.py:check_status():469

[2020-04-26 18:39] RoyHirsch commented on #994
Hi, @vanpelt thanks for reaching out!
I've tried to rerun sweep with this configuration and got the same error

[2020-04-27 00:10] vanpelt commented on #999
This is likely caused by the UTF-8 characters in your figures.  We'll take a look this week and hopefully get a fix together.

[2020-04-27 01:32] qixiong-wang opened #1001 "Network error (TransientException), entering retry loop."
* Weights and Biases version:wandb-0.8.33
* Python version:python -3.6.5
* Operating System:Ubuntu 18

### Description
I was using wandb with Jupyter notebook, and it successfully connected to my account. But it failed to upload file.

wandb: Network error (TransientException), entering retry loop. See /home/wangqx/qixiong's/EO/wandb/debug.log for full traceback.
wandb: ERROR Error uploading "requ

[2020-04-27 03:50] vanpelt commented on #994
Are you able to write to "/tmp"?  Perhaps try setting dir to "/home/royhir".  If that doesn't work, you can set WANDB_DISABLE_CODE in your environment to prevent us from saving your code which is likely causing the permission error.

[2020-04-28 02:15] Billy1900 opened #1003 "ERROR Error while calling W&B API: permission denied (<Response [403]>)"
`wandb --version && python --version && uname`

* Weights and Biases version: wandb-0.8.33-py2.py3-none-any.whl
* Python version: 3.7
* Operating System: Windows

### Description

When I run the tutorial.py, the error occurred,
<pre>
wandb: ERROR Install the win32api library with `pip install pypiwin32`
wandb: Tracking run with wandb version 0.8.33
wandb: Run data is saved locally in wandb\run-202

[2020-04-28 03:27] vanpelt commented on #1003
There's likely a settings file in your directory pointing to the "wandb" project.  You can update the script to post to your own username with `wandb.init(entity="YOUR_USERNAME", project="tutorial:")`.  Where did you find `tutorial.py`?  We will update it.

[2020-04-28 05:43] Billy1900 commented on #1003
ok, I have already made it.

[2020-04-28 05:43] #1003 closed

[2020-04-28 06:07] kenhktsui commented on #663
I also got the same issue that KeyboardInterrupt was raised after a while when I specified run_id in `init`
[code]
May I know if there is any update? Thanks.

[2020-04-28 14:17] hadyelsahar opened #1005 "Failed to connect to W&B servers after 10 seconds "SIGWINCH handler was not None" error"
[code]

### Description
While using jupyer notebooks  I always get this message while the cell execution halts.

![image](https://user-images.githubusercontent.com/1453243/80497276-82aaed00-896a-11ea-9327-d8fd906a394c.png)

### What I Did

This seems not to be an connection problem since the run entry gets created in the wandb web interface.
![image](https://user-images.githubusercontent.com/14532

[2020-04-28 17:51] Italosayan opened #1006 "Wandb in jenkins pipeline"
wandb, version 0.8.32
Python 3.7.3
Darwin

### Description
Use weights and biases init statement during Jenkins pipeline.

### What I Did
I tried adding Jenkins to the sudoers file but that didn't fix it.
https://www.edureka.co/community/8365/permission-denied-error-while-running-simple-job-in-jenkins

[code]

[2020-04-28 21:13] vanpelt commented on #1006
This is trying to write a file to the users home directory which in your case is "/" and you don't have permission to write there.  Either start your process with a user that has a home directory, or set the environment variable to `WANDB_CONFIG_DIR=/tmp` or some other directory you have write access to.

[2020-04-29 05:29] Italosayan commented on #1006
Worked like a charm. I added WANDB_CONFIG_DIR and WANDB_API_KEY to the environment variables inside Global properties in Jenkins.

[2020-04-29 05:29] #1006 closed

[2020-04-29 06:42] WHCer opened #1007 "Offline no chart"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.34
* Python version: 3.7
* Operating System: win10 & ubuntu

### Description
run PyTorch mnist demo with the offline guild. Uploaded project contains no chart

### What I Did
[code]

[code]

[2020-04-29 14:13] mbmccoy opened #1008 "AttributeError: 'PyDevTerminalInteractiveShell' object has no attribute 'kernel'"
wandb, version 0.8.34
Python 3.7.4
Linux

### Description

Using `wandb` with PyCharm in the interactive terminal. It seems that `wandb` is detecting the interactive terminal as a `jupyter` environment. PyCharm uses the pydev console, which is kinda like Jupyter, but not 100% compatible.

Happened upon upgrade from `0.8.33` -> `0.8.34`.

[code]

[2020-04-29 17:00] vanpelt commented on #1008
Ahh, thanks for letting us know.  We'll work on a new release that handles the PyCharm shell.

[2020-04-29 17:34] vanpelt commented on #1008
I just made a branch that fixes this, you can install with `pip install --no-cache-dir --upgrade https://github.com/wandb/client/archive/bug/ipython.zip`.  We should be releasing 0.8.35 in the next couple days.

[2020-04-29 18:21] XefPatterson commented on #580
I aslo have this problem. Wish it was working. Great tool.

[2020-04-30 14:03] mbmccoy commented on #1008
Works great. Note that I did get one warning:

[code]

Otherwise, it seems to work just fine.

[2020-04-30 22:13] rubenhorn opened #1010 "wandb sync --id myRun syncs other runs as well"
* Weights and Biases version: 0.8.33
* Python version: 3.7.0
* Operating System: Windows 10 Home 64bit

When I run `wand sync --id myRun -e myUser -p myProject` I just want to upload the latest dryrun.
But it crashes with HTTP 400, because some runs have been deleted.
Why does it try to sync all runs?

[2020-04-30 23:02] vanpelt commented on #1010
`wandb sync` will sync all runs in the current directory.  If you want to sync a specific run you can run `wandb sync path_to_run_directory`

[2020-04-30 23:04] #1010 closed

[2020-05-01 00:38] #1008 closed

[2020-05-02 08:04] kcajf opened #1012 "Run.history(keys=list) doesn't behave as expected"
`wandb --version && python --version && uname`

wandb, version 0.8.35
Python 3.7.6
Linux

### Description
I'm querying a `Run` object's history, using `run.history()`.
With the `keys` argument set to `None`, it returns a dataframe with all the metrics as columns. When I set the `keys` argument to a list of strings, all of which are valid metric names, it returns a pandas Series of dictionaries ins

[2020-05-02 12:13] numpee commented on #554
Hi, any updates on this? I seem to be running into the same issue (using wandb version 0.8.32)

[2020-05-02 17:30] vanpelt commented on #554
We made some improvements to the jupyter integration in 0.8.35.  @numpee can you provide us with an example notebook exhibiting the behavour you're seeing?  I just created a [colab](https://colab.research.google.com/drive/13yktq4kmYlbOQ7txvWYy04VO5hLV1DBY?usp=sharing) that asserts all metrics are being logged in the simple case.

[2020-05-03 08:58] numpee commented on #554
@vanpelt Here's a simple code that I tried on my jupyter:
[code]
When I run the last cell repeatedly while increasing the value of i (by 1), the log only appears after I've run a few extra increments - no matter how long I wait. I've attached a screenshot of my jupyter code & output below:
![image](https://user-images.githubusercontent.com/29429992/80909675-131b7000-8d65-11ea-9b8a-8b5b353ce5ac.png

[2020-05-03 17:32] vanpelt commented on #554
Please try this again with 0.8.35 we made some big changes to the Jupyter integration that *should fix your issues.

[2020-05-04 11:30] dreamflasher opened #1014 "Feature Request: Automatic updates"
wandb, version 0.8.35
Python 3.8.2
Linux

### Description

wandb already informs about a new library version, you update wandb very often (that's great, thank you for that!), how about you add the possibility that on new version detected you just update?
Of course add an option to turn it off, or only for minor version, so that nothing breaks. Thank you!

[2020-05-04 19:31] vanpelt commented on #1014
This is a little tricky as certain environments will need sudo access to install the library.  I've never seen any other libraries do this, do you have any examples in mind?  For the `gcloud` CLI for instance they provide a command `gcloud components update` command.  What's the specific issue you're trying to address with auto-upgrades?

[2020-05-04 19:58] neomatrix369 opened #1015 "[Feedback/Error] JSON serialisation issue when trying to log a metric of variable type set"
* Weights and Biases version: 0.8.32
* Python version: 3.7.2
* Operating System: Linux/MacOS

### Description

I was logging a variable/value that is of type `set` this caused JSON serialisation issues, similar to the error reported here https://stackoverflow.com/questions/8230315/how-to-json-serialize-sets (JSON serialisation failing when handling data with set data types).

Although the way `pyt

[2020-05-05 02:59] ayushjaiswal commented on #736
@vanpelt is there any update on this?

[2020-05-05 03:00] ayushjaiswal commented on #926
@vanpelt is there any update on this?

[2020-05-05 11:12] HansPinckaers opened #1016 "wandb hangs experiment (10 min+): Internal Server Error for url: https://api.wandb.ai/graphql"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.35
* Python version: 3.7
* Operating System: Linux

### Description

For a few days, I noticed experiments hanging on wandb logging. Sometimes I even saw crashes.

So far, downgrading to 0.8.33 seems to help. Will report if the problem arises again.

### What I Did
[code]

[2020-05-05 19:24] vanpelt commented on #1016
@HansPinckaers our retry logic should do a rolling backoff and resume normal operation in the case of outages.  None of that logic should have changed between 0.8.33 and 35.  We're currently looking into a brief nightly outage caused by automatic database maintenance.  We'll confirm the retry logic is working appropriately and are looking for solutions to the DB maintenance issue.  Are you running

[2020-05-06 08:39] pokey commented on #956
I believe this issue is due to https://github.com/ipython/ipython/issues/10894, which suggests the same workaround as @nhabbash used.

May be a newbie question, but could we run this thing without multiprocessing?  I was hoping not to have to define the `train` function in an outside module because it uses all the variables captured in its closure.

[2020-05-06 18:36] alsuhr-c opened #1018 "Can wandb work with ray (or other multiprocessing)?"
`wandb --version && python --version && uname`

* Weights and Biases version: wandb, version 0.8.35
* Python version: Python 3.7.6
* Operating System: Linux

### Description

I'm trying to run wandb with ray (https://github.com/ray-project/ray), where I am training two models at once, one as a `ray.remote` process. I want to have two wandb experiments for each model, rather than using the same exp

[2020-05-06 21:34] silent567 commented on #555
Hi, I am also wondering how to use proxy with wandb. Is there any successful solution? Thanks!

[2020-05-06 21:45] jotterbach opened #1019 "wandb.watch incompatible with non-contiguous tensors"
`wandb --version && python --version && uname`

* Weights and Biases version: wandb, version 0.8.31
* Python version: Python 3.7.3
* Operating System: Linux

### Description

I'm running a  complex distributed model, where controlling the contiguity of all tensors at all times is difficult. This seems to be incompatible with the `wandb.watch` which uses `view`s to change the tensor layouts.

### W

[2020-05-06 23:04] vanpelt commented on #555
Have you tried setting the HTTPS_PROXY environment variable?

[2020-05-07 01:41] vanpelt commented on #1019
We just fixed this in master and should be releasing a new version tomorrow.  For now, you can install off master with:

[code]

[2020-05-07 01:43] lukas commented on #986
This is fixed in the upcoming release - thanks for reporting.

[2020-05-07 01:43] #986 closed

[2020-05-07 05:30] silent567 commented on #555
Haven't yet. We need administrators ' permission before any changes. I am not sure if this global configuration will affect other users...

[2020-05-07 15:10] vanpelt commented on #555
You can configure the PROXY in your python script before calling wandb.init:

`os.environ["HTTPS_PROXY"] = "XXX"` to have it only effect your training process.

[2020-05-07 23:28] silent567 commented on #555
Great, I will try it when necessary. Currently, the administrators have made some configurations of the internet to support my usage of wandb. So problem solved in another way. Thanks!

[2020-05-08 00:01] ninastijepovic opened #1022 "There's no data for the selected runs. Try a different X axis setting."
`wandb, version 0.8.17 && Python 3.7.6 && uname`

* Weights and Biases version:version 0.8.17
* Python version:Python 3.7.6
* Operating System:CentOS

### Description
Hello,
I have been trying to add plots to my wandb project, however, I have been receiving the following error:
There's no data for the selected runs.
Try a different X axis setting.
Current X axis: _step

### What I Did
Here is the

[2020-05-08 06:24] braindotai opened #1023 "Please delete this issue, it's falsely created."
Sorry

[2020-05-08 09:42] Liangtaiwan opened #1024 "MPI_INIT failed when calling wandb.init()"
* Weights and Biases version: 0.8.34
* Python version: 3.8.1
* Operating System: Arch Linux (kernel 5.5.7.arch-1)

### Description

When using slurm to init wandb, it seems that it fail to init mpi.
Maybe the error is due to wandb try to init mpi again when calling wandb.init().

Here is the related issue
https://github.com/open-mpi/ompi/issues/7025#issuecomment-536826728

### What I Did

[code]

[2020-05-08 14:09] alsuhr-c commented on #1018
Hi,

Just wondering if there is any update on this issue. It's blocking my research right now; I've had to resort to text-based logging in order to get the results for intermediate training.

I tried using the suggestions here: https://docs.wandb.com/library/init#how-do-i-launch-multiple-runs-from-one-script but it seems this still doesn't support multiple runs at the same time (besides, the MWE a

[2020-05-08 14:26] alsuhr-c commented on #1018
For now, I found a workaround: calling both functions as `ray.remote` functions rather than having one exist in the main process and another in the process initiated by `ray`. Ideally, though, having the ability to log to multiple runs would be very useful (kind of how python's `logging` allows you to log to multiple loggers in one process).

Thanks!

[2020-05-08 14:26] #1018 closed

[2020-05-08 17:54] #1023 closed

[2020-05-08 18:16] HansPinckaers commented on #1016
It seems more likely that it is the outage then, the 0.8.33 version 'working' could just be a coincidence. This is running in a regular python process (PyTorch multiprocessing though). We had some hiccups with our storage system as well, so that could have played a role too. However, in some cases this exception was the last thing my python process logged before hanging or crashing.

[2020-05-08 18:32] bknyaz opened #1025 "Manual wandb sync opens manifest.json and does not sync"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.35
* Python version: 3.6.8 :: Anaconda, Inc.
* Operating System: Linux

### Description

I'm trying to manually sync the project, because for some reasons it does not sync it automatically.
I run `wandb sync path_to_the_project`, then in my terminal I see this window (attached), which I can't exit or do anything with

[2020-05-08 19:28] vanpelt commented on #1025
Your machine likely isn't logged in to wandb so it's taking you through the auth flow and your terminal is configured to use the lynx browser.  Goto your settings page at https://app.wandb.ai/settings and copy an api key.  Then run `wandb login YOUR_API_KEY`.  After this wandb sync should work properly.

[2020-05-08 20:23] bknyaz commented on #1025
Thanks, I already tried that, but it didn't help. Then I removed .netrc and logged in again and it helped. Perhaps, somehow my .netrc got corrupted.

[2020-05-08 20:23] #1025 closed

[2020-05-09 18:30] cduguet opened #1026 "Silent mode not working!"
* Weights and Biases version: 0.8.35
* Python version: Python 3.6.10 :: Anaconda, Inc.
* Operating System: Linux

### Description
Doing the despite enabling silent mode I'm still getting log messages in jupyter lab.

### What I Did

![image](https://user-images.githubusercontent.com/1536515/81481947-e1f2e200-9233-11ea-93ff-6c261f91ffe5.png)

[2020-05-10 15:36] w2sv opened #1027 "Compatibility issue with python 3.7 on ubuntu"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.35
* Python version: 3.7.6
* Operating System: Ubuntu 18.04

### Description

After mounting wandb into my conda environment by means of a pip install the package seems to be improperly installed, leading to neither the login, nor a package import to work due to an alleged missing of gql, although it was confirmedly

[2020-05-10 23:28] vanpelt commented on #1026
Hey @cduguet we're working on an overhaul of the library that will fix these output issues once and for all.  Until then, the following should turn them off in jupyter:

[code]

[2020-05-10 23:40] vanpelt commented on #1027
This looks like an issue with your virtual environment.  Some packages are in `./.local/lib/python3.7/site-packages` while others are in `/home/janek/miniconda3/lib/python3.7/site-packages/`.  How are you activating the miniconda environment?  I would try blowing away the `./local/lib/python3.7` directory and re-installing.  I've verified the install works on a fresh ubuntu 18.4 install with:

`do

[2020-05-11 03:22] zbpjlc commented on #1010
wandb: Syncing wandb/run-20200510_013904-sicd31eq to:
wandb: floral-dawn-104 https://app.wandb.ai/zbpjlc/temporal-shift-module/runs/2a0aiv6z
is therer any bug?

[2020-05-11 11:46] cduguet commented on #1026
thank you!!

[2020-05-11 13:33] AdvancingMind commented on #366
I'm facing the same issue on version 0.8.35.
WandB works fine in jupyter. But I get this error message when I am running the same program in anaconda powershell with the same virtual environment where jupyter was working.
[debug.log](https://github.com/wandb/client/files/4609864/debug.log)

[2020-05-11 13:43] AdvancingMind commented on #366
Here is the traceback:
`2020-05-11 18:56:36.684344: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library cudart64_101.dll
wandb: Tracking run with wandb version 0.8.35
Traceback (most recent call last):
  File "D:\anaconda3\envs\beat2\lib\site-packages\wandb\internal_cli.py", line 106, in <module>
    main()
  File "C:\anaconda3\envs\beat2\lib\site-pa

[2020-05-11 17:53] alsuhr-c opened #1029 "Looking for advice on evaluating model in separate process"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.35
* Python version: 3.7.5
* Operating System: Linux

### Description

I'm looking for some advice on how to interface with wandb when I want to evaluate my model periodically in a separate process.

I usually evaluate my models periodically (e.g., every epoch) on a validation set and get a set of metrics averaged ov

[2020-05-11 18:17] vanpelt commented on #1029
Hey @alsuhr-c this is the perfect use case for [grouping](https://docs.wandb.com/library/advanced/grouping).  Both your training and eval processes can be specify a shared unique GROUP ID.  If the eval script is passed the same global step state it can log metrics using the same `step` keyword argument and plot them on the same charts.

[2020-05-11 18:46] tomginsberg opened #1030 "Issue with logging multiple confusion matricies"
wandb, version 0.8.35
Python 3.7.7
Linux

### Description

I'm trying to log a confusion matrix after each epoch using
`wandb.sklearn.plot_confusion_matrix(all_predictions, all_labels, class_labels,
                                            title=f'Confusion Matrix: Epoch {epoch}', normalize=True)`.

My expected behaviour would be multiple confusion matrices getting logged each with the appropri

[2020-05-11 19:06] cvphelps commented on #1030
Hi @tomginsberg thanks for your issue. @lavanyashukla could you take a look

[2020-05-11 19:10] cvphelps commented on #1024
Hi there, thanks for your issue report. @raubitsj is working on a rewrite of our CLI that will hopefully solve this and other issues

[2020-05-11 19:11] lavanyashukla commented on #1030
Hi @tomginsberg thanks for reporting this! Yup, we don't currently support confusion matrices across runs, but will have a fix out soon. We'll reach out to you when we ship it :)

[2020-05-11 19:12] cvphelps commented on #1022
Hi @ninastijepovic thanks for reporting this. Could you share a link to the project where you're seeing this issue with nothing showing up? It looks like you're logging masks to overlay with images. @nbardy could you follow up

[2020-05-11 19:14] cvphelps commented on #1015
Hi, thanks for reporting this issue, @raubitsj is working on a good CLI rewrite that should improve error messages like this one

[2020-05-11 19:17] nbardy commented on #1022
Hey @ninastijepovic it looks like you are using Plotly or possibly matplotlib to log image masks. We recently released support for images masks natively which contains more features and requires less setup to log.

You can try it out here:
https://docs.wandb.com/library/log#images-and-overlays

[2020-05-11 19:20] tomginsberg commented on #1030
Thanks, guys. I'll probably implement a temporary solution myself and share it here for anyone with the same issue.

[2020-05-11 19:37] cvphelps commented on #1007
Hi there, did the local wandb folder show up with data?

[2020-05-11 19:38] cvphelps commented on #1012
Hi, thanks for flagging this. My colleague @raubitsj is working on a CLI rewrite which should clean up issues like this

[2020-05-11 19:39] cvphelps commented on #1005
Hi Hady, I was having some trouble reproducing this issue— do you have any other tips for how I can recreate this behavior?

[2020-05-11 19:40] cvphelps commented on #1001
Hi there, is it possible this was happening on flaky internet?

[2020-05-11 19:42] cvphelps commented on #995
Hi there, looks like the model was uploaded correctly but the feature we're using to show visualizations of the model graph doesn't work in this case. You can still download the file with the download button on the right side.

[2020-05-11 19:45] cvphelps commented on #993
Hi there, thanks for reporting this issue— may I ask what version of TensorFlow you're using?

[2020-05-11 19:47] cvphelps commented on #988
Hi there, thanks for your report— I'm asking my colleagues @raubitsj and @vanpelt for help wtih this

[2020-05-11 19:48] cvphelps commented on #982
Hi there, thanks for this detailed report— agreed that this is gnarly. My colleague @raubitsj is working on a CLI rewrite that should really improve problems like this

[2020-05-11 20:01] cvphelps commented on #993
It looks like this is an issue with how we work with Windows. My colleague @raubitsj is working on a new version of our CLI that will address these issues

[2020-05-11 20:53] nbardy commented on #977
@surajpaib I'm going to close this issue. Feel free to open a new ticket if you find the other issue causing problems.

[2020-05-11 20:53] #977 closed

[2020-05-11 21:20] raubitsj commented on #1012
This is the public api so it is independent of the CLI rewrite.

[2020-05-11 21:28] raubitsj commented on #982
We currently do not support nested values in sweeps but it is something we are planning on supporting in the near future.  We will update this with more details when it is available in beta.

[2020-05-11 21:41] vanpelt commented on #1024
This specific issue is being caused by the file system not being writable at "/home/username/wandb".  You can override the directory wandb uses to write temporary files by setting the WANDB_DIR env variable to something like /tmp

[2020-05-11 21:47] vanpelt commented on #988
The step passed into add_scalar get's set to "global_step" in wandb. You can modify the x-axis in the UI to render metrics with this x-axis instead of the default "step".

[2020-05-11 22:10] tomginsberg commented on #1030
Here's a good termporary fix

[code]
Unfortunately plot labels don't appear (maybe there's a way to do this), but the most recent plot will be first on the media panel.

![](https://i.imgur.com/OkWdBof.png)

[2020-05-12 00:32] alsuhr-c commented on #1029
Great, I didn't know this existed, it seems like it would be really useful for my case! Thanks!

[2020-05-12 00:32] #1029 closed

[2020-05-12 03:10] WHCer commented on #1007
Yes, It contains all files the same as the online version.
The public project running offline: https://app.wandb.ai/whcer/uncategorized/runs/28xkypdv/overview?workspace=user-whcer

The public project running online:
https://app.wandb.ai/whcer/uncategorized/runs/373u5l0c/overview?workspace=user-whcer

[2020-05-12 06:58] neomatrix369 commented on #1015
Thanks for the response, and great to hear about the re-write, looking forward to it. A re-write is always good, I like Fred George's practise about re-writing it multiple times.

[2020-05-12 07:03] neomatrix369 commented on #995
Thanks @cvphelps, although it would help if the suggestions I make above are applied, will bring clarity to everyone.

The API knows which models it can parse and which it can't, so clicking on it should show some nice message and not use CPU flops to try to parse it for long and then do nothing.

Docs, user's UI/debug logs and console can show warnings/messages that the model is not recognised, w

[2020-05-12 07:05] neomatrix369 commented on #965
@borisdayma any feedback for me from the above, I didn't get any progress trying out the above you suggested.

[2020-05-12 08:26] Liangtaiwan commented on #1024
@cvphelps  Thanks for your reply.
@vanpelt  It seems that the problem this not cause by the WANDB_DIR

I got the same issue after given the WANDB_DIR env variable.

[code]

[2020-05-12 18:24] w2sv commented on #1027
Removing both the cached pip wheels located under `~/janek/.cache/pip/wheels`
and the  `~/.local/lib/python3.7/site-packages` dir into a re-installation did the job for me, thank you for your help.

[2020-05-13 01:27] borisdayma commented on #965
@cvphelps How does wandb find tensorboard checkpoints when we use `sync_tensorboard`?
I'm thinking that they may not be found as they are in a different folder.

[2020-05-13 08:31] #1027 closed

[2020-05-13 18:36] chrka opened #1033 "Multiple runs in notebook cells are not properly synced (wrong "state" for all but last)"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.36
* Python version: Python 3.6.9 :: Anaconda, Inc.
* Operating System: Linux (Ubuntu 18.04) and macOS (10.15.4)

### Description

I'm trying to execute several runs from a single cell in a Jupyter Notebook (for example, doing cross-validation with each split as a separate run.)

All runs execute and their results ar

[2020-05-13 18:56] mojesty opened #1034 "Interdependent hyperparameters in sweeps"
`wandb --version && python --version && uname`

wandb, version 0.8.35
Python 3.7.6
Linux

### Description
I have an experiment where some config parameters control presense / absense of other hyperparameters. The simplest case is when we have "flag" parameter that controls what kind of layer we use, and hyperparameter set for each layer is different, e. g. num_channels and num_filters for CNN, inp

[2020-05-14 11:41] Liangtaiwan commented on #1024
@cvphelps, @vanpelt
I found a error message in my journal, maybe it's helpful for you.
[code]

[2020-05-14 12:26] bluesky314 opened #1035 "Segmentation Mask Tracker"
* Weights and Biases version: 0.8.36
* Python version: 3.6
* Operating System: Linux

### Description

Am having a really hard time getting segmentation view to work like in the image. I want to track a paticular image as my network trains and see its changing mask. It is shown in https://t.co/1VzIVSA4yf?amp=1. See image:
![Screen Shot 2020-05-14 at 4 48 17 PM](https://user-images.githubuserconten

[2020-05-14 16:41] vanpelt commented on #1024
@Liangtaiwan The error isn't telling us what's causing the crash.  I did notice from your output that the environment your calling wandb.init in doesn't have credentials.  Can you ensure the environment variable WANDB_API_KEY is set to your API key in the slurm environment?  Also, if you're able to access the file system the experiment was run on there's a `wandb/debug.log` that would be helpful t

[2020-05-14 17:19] Liangtaiwan commented on #1024
@vanpelt There is no different if I pass the api_key in the slurm enviroment. (I tried it.)
and I cannot found any debug.log under the wandb directory.

[2020-05-14 17:44] Liangtaiwan commented on #1024
@vanpelt I'm not sure this issue is related to tensorflow or not.
When import tensorflow, it will call MPI_INIT() and do some MPI related operation.

I found that in wandb/client, you import tensorflow in the module for some reason.

[2020-05-14 18:15] nbardy commented on #1035
Hey @bluesky314

Could you provide a link to the run you are having issues with?

You can click the gear in the top right to access the image slider.

[2020-05-15 02:06] umgupta opened #1038 "wandb-cli run command not showing all runs in a project"
* Weights and Biases version: 0.8.36
* Python version: 3.6.9
* Operating System: Linux

### Description
Trying to list all projects in a run

### What I Did

[code]
The command was successful but listed only the first 10 projects in the run. Ideally, I would expect to list all runs or have a parameter to configure how many runs I want to see.

[2020-05-15 04:31] umgupta opened #1039 "wandb-cli pull command crashes if entity is not specified with wrong error message"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.36
* Python version: 3.6.9
* Operating System: Linux

### Description

Trying to download run files using `wandb pull` command

### What I Did

`
wandb pull <run_id> -p <project-name>
`

GIves error `Error: 'NoneType' object is not subscriptable`

Note that I did not specify the entity option. The error message does

[2020-05-15 09:24] pohanchi commented on #1024
I meet the same issue on wandb in slurm environment. I think import tensorflow in the wandb.init() might be a big reason to cause this error.

[2020-05-15 09:26] pohanchi commented on #1024
hope this issue can be solved as soon as possible @vanpelt

[2020-05-15 18:19] saswatac opened #1040 "metrics of a resumed run does not line up"
`wandb --version && python --version && uname`

* Weights and Biases version: wandb, version 0.8.36
* Python version: Python 3.6.10 :: Anaconda, Inc.
* Operating System: Linux

* Tensorflow version: 2.1.0

### Description

When I resume a run which was earlier killed, the metrics from the run do not line up correctly with previously emitted metrics.

State of metrics at the time the job was killed

[2020-05-15 18:28] neomatrix369 commented on #1015
@cvphelps can this issue be marked as a bug pls thnx

[2020-05-15 18:37] raubitsj commented on #1015
As of cling 0.0.22, an exception is thrown that sets are not handled:
[code]

[2020-05-16 06:34] neomatrix369 commented on #1015
One small feedback on this one functionality, when running in non-verbose mode it's best to only show a small section of the stack trace and hide the rest with the message "See full trace in wandb's debug.logs. While in verbose mode it's okay to show the whole stack trace and log it.

[2020-05-16 06:34] neomatrix369 commented on #1015
Can we close this issue now, since it's ready for the next release when the CLI tool will be released?

[2020-05-16 13:33] neomatrix369 commented on #1015
@raubitsj I found another one to do with passing a lambda function as key:value pair i.e. `{'value': lambda: some_function()}`. Would it also report the error in the same fashion as above?

What would also help, if it mentioned the name of the key(s) where there are conversion issues.

[2020-05-17 13:21] free-soellingeraj commented on #84
I have a situation where wandb is being called twice.
<img width="732" alt="Screen Shot 2020-05-17 at 3 19 13 PM" src="https://user-images.githubusercontent.com/44525375/82148023-1416cc00-9852-11ea-8771-a437d656f2cd.png">
Wondering if this issue has been resolved.

[2020-05-17 19:45] noncuro opened #1044 "Feature request: let users send label predictions and choose metric to plot later"
Hi, I'm a big fan of Weights and Biases. I was just hoping to suggest a feature that would be hugely valuable to myself and my colleagues! I use various classification/regression metrics to monitor models as they train, mainly from sklearn.metrics, but I never know which will be the most useful when I start training. It's really annoying to have to log _every_ metric I can think of with every poss

[2020-05-18 04:05] vanpelt commented on #84
@free-soellingeraj can you share you're whole notebook with us?  You can add `reinit=False` to your call to wandb.init to ensure it won't reinitialize if called multiple times in the same jupyter context.

[2020-05-18 13:30] dreamflasher commented on #1014
The specific issue is the one I describe above: At least once a week you recommend upgrade the software, so I figured it would be nice if it could do that itself. Might be difficult with python packages, but there's a lot of software out there with auto-updaters.

[2020-05-18 13:34] dreamflasher opened #1045 "Better visualization of histograms"
Not wandb client related, but the website itself (is there an issue tracker for that?)

### Description

I'd like to visualize histograms. In your UI it's not possible to see much. The color idea across epochs is nice, but I'd appreciate to see more variants to pick the one that works best for the particular case.
Tensorboard does that very nicely: https://jhui.github.io/2017/03/12/TensorBoard-vis

[2020-05-18 16:03] tyomhak commented on #1033
Hi. Thank you for the feedback, we will make sure to take a look at the issue.

[2020-05-18 16:07] tyomhak commented on #1034
Hello! thanks for the question!
@raubitsj could you please take a look?

[2020-05-18 16:09] tyomhak commented on #1040
Hi, thanks for the feedback, we will take a look at this!

[2020-05-18 16:14] tyomhak commented on #1044
Hi there! Thank you very much for the feedback! We will definitely consider to add that feature!

[2020-05-18 16:39] tyomhak commented on #1045
Thank you for the feedback! We will add these as feature requests and take an in depth look at them!

[2020-05-18 22:39] cvphelps commented on #1045
Hi there, could you tell me a little more about why you like the tensorboard style? If you hover over our histograms it will show the underlying distribution cross section in a tooltip.

[2020-05-18 22:45] cvphelps commented on #1044
Hi there, thanks for this suggestion. We do have computed columns in our roadmap— letting you calculate new column values based on columns you log to your runs.

[2020-05-18 22:48] cvphelps commented on #1039
Hi there Umang, if you run `wandb init` in the directory you won't need to specify your entity.

[2020-05-18 22:49] cvphelps commented on #1038
Hi there Umang, here's the API for querying multiple runs: https://docs.wandb.com/library/api#querying-multiple-runs

[2020-05-18 22:51] cvphelps commented on #1034
Thanks, this is definitely a good feature request that we're tracking as part of sweeps.

[2020-05-18 22:54] vanpelt commented on #1024
Hey @pohanchi @Liangtaiwan we're spinning up our own Slurm environment to reproduce this.  In the mean time, can one or both of you try our new CLI which should work better in these environments?  You can find it here:  https://github.com/wandb/client-ng

[code]

[2020-05-19 00:28] umgupta commented on #1038
@cvphelps Yes, I can use api for that. But wouldn't it be better to just provide a parameter (`-n` for example) to let user query last `n` runs. Writing python code for just querying runs is a bit too much, isn't it? Also, documentation is a bit confusing on this as it doesn't say it would only list the last 10 runs.

Perhaps this is not a bug but consider this as a feature request. If this is som

[2020-05-19 00:30] umgupta commented on #1039
Yes, but it would be nice to print the right error message.

I also have a small request to make this command more flexible. I keep pulling into a directory and then have to move to another directory for proper organization. It would be nice to let user specify a folder and pull into that folder?

[2020-05-19 04:25] andrewjong commented on #673
I also encountered this error in the sample-project. The sample-project shows up the first time the user views https://app.wandb.ai/home. The instructions do not specify you need to add entity="YOUR_USERNAME" to `tutorial.py`. I agree with radoye that this instruction should be added.

[2020-05-19 08:37] free-soellingeraj commented on #84
it's here
https://github.com/free-soellingeraj/course-v3/blob/soellingeraj/emotions/nbs/dl1/emotions-RAF_Face_Database_basic.ipynb

[2020-05-19 08:48] free-soellingeraj opened #1046 "Should I commit wandb files?"
`wandb --version && python --version && uname`

wandb, version 0.8.36
Python 3.6.9 :: Anaconda, Inc.
Linux

### Description

This is a documentation request.  Or maybe just point me to docs.

Is it best practices to commit the wandb files?  What are the options for these files?

<img width="486" alt="Screen Shot 2020-05-19 at 10 40 05 AM" src="https://user-images.githubusercontent.com/44525375/823

[2020-05-19 09:03] Liangtaiwan commented on #1024
@vanpelt I encounter the same error as before.

[2020-05-19 09:55] pohanchi commented on #1024
the debug.log is below
![image](https://user-images.githubusercontent.com/34079344/82312646-f1271c00-99f9-11ea-8f4e-3468beeee218.png)

[2020-05-19 16:08] vanpelt commented on #673
Yep, we'll update the tutorial.

[2020-05-19 16:11] vanpelt commented on #84
Ahh, I believe if you remove the `callback_fns=WandbCallback` to the cnn_learner it will only use the the callback passed to fit_one_cycle.  The original author @borisdayma may have more input here.

[2020-05-19 16:14] cvphelps commented on #673
Here's the updated tutorial, settings file removed so runs aren't going to the wandb entity: https://github.com/wandb/tutorial

[2020-05-19 16:16] vanpelt commented on #1046
Hey @free-soellingeraj you should not be committing them.  You can commit a settings file.  If you call `wandb init` in your nbs/dll directory we'll add a ".gitignore" for you.  If you want to write one yourself you can add the following to `nbs/dll/wandb/.gitignore`:

[code]

[2020-05-19 16:16] #1046 closed

[2020-05-19 16:17] vanpelt commented on #1024
Ok, thanks for trying.  I'm trying to reproduce and will hopefully have an answer in the next few days.

[2020-05-19 16:25] borisdayma commented on #84
That is correct.

You either use the callback in the learner or in the training loop.

The main difference is whether you want separate runs per training loop (for example after you unfreeze your model) or if you want to keep the entire logging in one run.

[2020-05-19 17:03] free-soellingeraj commented on #84
It’s funny you say that.  I just started separating my training runs this way.  Thanks!

[2020-05-19 17:26] dreamflasher opened #1047 "Add option for blocking wandb.save() call to immediately save"
wandb, version 0.8.36
Python 3.8.2
Linux

### Description

I am trying to save a file with `wandb.save(filename)`. I am deleting the file after calling `wandb.save()`. Unfortunately, this leads to wandb not saving the file, because it does lazy saving/uploading. I need to delete the file, so it's not an option to keep the file around.

Thus it would be great if you add an option to call save that

[2020-05-19 18:06] vanpelt commented on #1024
Ok sorry guys, I failed to realize we already have a special wrapper for this case.  You can use the following example code to run a sweep with MPI:

https://github.com/wandb/examples/blob/master/sweeps-mpi-wrappers/README.md

This should work with the mainline "wandb" library or the "wandb-ng" library, I suggest "wandb" for now.  Please let us know if the instructions don't make sense, or you're

[2020-05-19 18:17] dreamflasher commented on #1047
Workaround I found:

[code]

[2020-05-19 20:36] raubitsj commented on #1047
That is a creative workaround,  I would like the blocking behavior to be the default,  I think it is already working this way in the experimental library.  We will verify this and close this when the experimental library is released as the standard library.

[2020-05-20 02:36] ky66111 opened #1048 "wandb: Network Error when running and the charts page remains empty"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.36
* Python version: 3.6.9
* Operating System: Linux

### Description
I have encountered several problems at the same time:
1. During running my python script, wandb keeps drop out error
`wandb: Network error resolved after 0:00:15.405201, resuming normal operation.`
And the script still continues running.

2. The ch

[2020-05-20 07:15] free-soellingeraj opened #1049 "[pytest] TypeError: attrs() got an unexpected keyword argument 'eq'"
`wandb --version && python --version && uname`

wandb, version 0.8.36
Python 3.6.9 :: Anaconda, Inc.
Linux

### Description

Describe what you were trying to get done.
Trying to run the pytest in client.

I expected that the tests would run.

### What I Did

[code]

[code]

[2020-05-20 07:17] free-soellingeraj commented on #1049
Solved this by  running `pip install hypothesis --upgrade`

[code]

[2020-05-20 07:17] #1049 closed

[2020-05-20 09:30] pohanchi commented on #1024
[code]

The error message is above.  My train.py is just a program
[code]

I just run the command ``` python wrap_mpi_outer.py```
@vanpelt

[2020-05-20 13:45] free-soellingeraj commented on #586
I have another one similar sounding error.

wandb, version 0.8.36
Python 3.6.9 :: Anaconda, Inc.
Linux

initializing like this, inside a KFold loop:
[code]
getting
[code]

[2020-05-20 14:47] free-soellingeraj commented on #586
I figured out the problem for me was that I was trying to add the model to the wandb.config attribute.
[code]
So I converted it to a string from the function name and it worked.
[code]

[2020-05-20 16:12] vanpelt commented on #1024
@pohanchi can you try with the mainline wandb library?  Run the following:

[code]

[2020-05-20 17:09] tyomhak commented on #1048
Hi, we're looking into this. Sorry for the delay.

[2020-05-20 19:15] rmrao opened #1050 "File download should not auto-open as text file"
Right now, the file download API automatically opens the downloaded file in read-only mode (see [here](https://github.com/wandb/client/blob/eb8dd5c56d88454d443102d871d81cc6b5992f52/wandb/apis/public.py#L1202)). It would be better to return the filename (instead of opening a potentially unnecessary file descriptor) or to at least allow the user to specify the open mode (e.g. if I have saved a model

[2020-05-20 22:18] vincentwen1995 opened #1051 "Could not sync with existing tensorboard event files"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.36
* Python version: Python 3.7.6
* Operating System: MSYS_NT-10.0-18362

### Description

Describe what you were trying to get done.
Tell us what happened, what went wrong, and what you expected to happen.

I am using Anaconda to manage my Python environment and I installed required dependencies for wandb and also p

[2020-05-21 03:38] ky66111 commented on #1048
Hi, I found the run somehow works and normally prints charts. Maybe the internet connection issue. Thanks a lot!

[2020-05-21 03:40] #1048 closed

[2020-05-21 06:27] kengz opened #1052 "request for alternative argparse format in sweep"
`wandb --version && python --version && uname`

* Weights and Biases version: wandb, version 0.8.36
* Python version: Python 3.8.2
* Operating System: Darwin

### Description

Sweep config file will format the hyperparams into the form of `--foo=bar` [doc here](https://docs.wandb.com/sweeps/configuration) and [code responsible](https://github.com/wandb/client/blob/6a0b23dc3f07f61267757c3cc5d5d2100

[2020-05-21 08:03] dreamflasher commented on #1045
I find the tensorboard style easier to understand/interpret. With the blue color scheme it's unclear what the maximum is. Maybe a Black → White grading would be easier to read. The hover histograms are too small to see anything, if they would replace/overlay the whole image and have axis titles I think that would work nicely! Then one can move the mouse pointer from left to right and see a develop

[2020-05-21 12:35] minhtriet opened #1053 "Cannot use training_args.logging_steps of Hugging Face Trainer"
* Weights and Biases version: version 0.8.35
* Python version: 3.7.6
* Operating System: Linux

### Description
I wanted to use Pytorch Trainer, this works
[code]
This does not, I received `You can only call wandb.watch once per model`
[code]

[2020-05-21 14:49] vanpelt commented on #1052
Hey @kengz you can [customize](https://docs.wandb.com/sweeps/configuration#command) how your program is called and optionally omitting arguments.  In this examples args is still prepended with "--", we should expose the ability to change the prefix in this config so I'll keep this ticket open.  In the meantime you can have the sweep execute a wrapper script that modifies the parameters before call

[2020-05-21 14:55] borisdayma commented on #1053
Can you try to restart your kernel?
Also maybe remove the wandb folder created. I think it's due to the importing of wandb which tries to look into this unrelated folder sometimes.

Let me know if that solves it and we can look into a permanent fix.

[2020-05-21 14:58] vanpelt commented on #1053
You can also set `os.environ["WANDB_WATCH"] = "false"` before instantiating your trainer to disable the watching functionality.

[2020-05-21 15:23] stalkermustang opened #1054 "Cannot get api key after run local WANDB"
Weights and Biases version: version 0.8.36
Python version: 3.7.5
Operating System: Linux

### Description
I'm running wandb localy:
```wandb local --upgrade --port 8892```

Then i get in console:
`wandb: You can find your API key in your browser here: http://localhost:8892/authorize
wandb: Paste an API key from your profile and hit enter:`

And when i go to page, i see
![image](https://user-images

[2020-05-21 17:29] hokmund commented on #1054
Got the same problem today after upgrading wandb-local with `wandb local --upgrade`

[2020-05-21 17:52] kengz commented on #1052
This works in the meantime, thanks! Will keep an eye out for the support.

[2020-05-21 18:08] kengz opened #1055 "request for grid plot support for sweep"
`wandb --version && python --version && uname`

* Weights and Biases version:
* Python version:
* Operating System:

### Description

The parallel plot for sweep is useful for visualizing hyperparameters but it can be hard to choose the best hyperparameters from it, because the plots are sometimes too crowded so it can be hard to tell, and there's no natural ordering by the best param value. A mor

[2020-05-21 18:33] vanpelt commented on #1054
This looks like the migration failed on restart.  Can you run the following and attach the input.

[code]

You can also attempt manual restarting, and share the logs from first boot:

[code]

[2020-05-21 18:36] vanpelt commented on #1054
@stalkermustang your migration failed at version 8 which is suspect.  CAn you also run:

[code]

From within the mysql shell?  There should be an "agent_id" column.  Assuming there is, you can run the following from the mysql shell:

[code]

Then restart the instance to have new migrations applied.

[2020-05-21 19:21] stalkermustang commented on #1054
Thanks, it's working! But...then don't, and i `docker rmi` image, then rebuild from zero and start new local wand, but there's old admin (with simimllar nickname, lol).
Can you tell me pls, how to delete all users or restore to default? Where's stored mysql-db, which contains info? How i can clear it? Simly drop table?

[2020-05-21 19:23] stalkermustang commented on #1054
also i cannot delete users from
`http://localhost:8080/admin/users`
tab :/

[2020-05-21 19:55] stalkermustang commented on #1054
so i'm remove image, stop and remove container, then rm volume wandb from docker. Also i clear wandb file on my local server (with log and settings).
Then i typo "wandb local", docker pull image, build and start. But at this point CLI don't tell me /authorize link and dont want from me api-key (why?)

`SELECT * FROM schema_migrations ` show dirty=1 and version 6 (different from 8 previos, lol)
but

[2020-05-21 19:55] stalkermustang commented on #1054
Now log be like:
[code]

[2020-05-21 20:11] stalkermustang commented on #1054
Another detailed try:

1) stop container
2) remove container
3) rm image
4) rm volume
5) rm folder (and remake it) on local server
--
6) wandb local
wait for pull image

[code]

^- at this point i don't see /authorize link like first time

7) docker logs wandb-local
[code]
- wandb running, but with problems as i can see

8) go into container:
[code]
and output is:
[code]
(version 24 what???)

9) `

[2020-05-21 20:11] stalkermustang commented on #1054
have no idea what is going...

[2020-05-21 20:26] vanpelt commented on #1054
@stalkermustang when the container boots it will run migrations.  If you kill or stop the container during the running of these migrations you'll end up with the database in an invalid state.  We need to get to the bottom of why your migration is failing.  Can you run the following?

[code]

Once this is up and running you can see the migration progress in the vm by querying the database:

[code]

[2020-05-21 20:28] vanpelt commented on #1054
@stalkermustang the data exists in a docker managed volume named "wandb" which I removed above by running `docker volume rm wandb`

[2020-05-22 00:48] #1054 closed

[2020-05-22 07:29] hokmund opened #1056 "Cannot add user to local wandb"
Weights and Biases version: version 0.8.36
Python version: 3.6.9
Operating System: Ubuntu 16.04

### Description

After setting up local wandb I go to `http://<host>:8080/admin/users` and try to add another user via "Add user" button.
I expect it to generate an invitation link for a new user.

### What I Did

When I press submit button, I get an error message:
[code]
There are two users in the tab

[2020-05-22 07:43] umgupta opened #1057 "Load config.json before syncing the run"
https://github.com/wandb/client/blob/eb8dd5c56d88454d443102d871d81cc6b5992f52/wandb/wandb_run.py#L354

Currently syncing a run that has `config.json` gives the following error. The issue is due to the `user_config` variable being a file name instead of JSON dict in the referenced code. It needs to be loaded before calling `.items`
[code]

[2020-05-22 12:53] SamPruden commented on #1033
I'm seeing something similar, but I'm just trying wandb for the first time and may be doing something wrong.

I'm running multiple runs in a loop, something like:
[code]

Only the last run gets marked as finished. I've tried replacing the init with `with wandb.init(reinit = True, project = "Meta-Q", name = setup.get_name()) as run:` but the behaviour seems identical. From my experimentation, `wand

[2020-05-22 13:09] evfro opened #1058 "early stopping envelope seem to have no effect"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.36
* Python version: 3.8.2
* Operating System: Ubuntu 18.04.3 LTS

### Description
We have configured wandb to perform early stoppin. However, even after 80 runs nothing was early-stopped.

### What I Did
Our config file `config.yml` contains the following lines:
[code]
It seem to have no effect on runs. Is it suppor

[2020-05-22 15:04] braaannigan opened #1059 "Sweeps not initializing properly with PyTorch Lightening"
`wandb --version && python --version && uname`
wandb, version 0.8.36
Python 3.7.6
Linux

### Description
I'm trying to initialize a sweep using the WandB Logger for PyTorch Lightening. I'm following the keras example in 'Intro to Hyperparameter Sweeps with W&B.ipynb'. I'm running it in jupyter on my own machine.

Basic problem: nothing gets loggeed to wandb when I run the sweep.
Notable feature: w

[2020-05-22 15:17] vanpelt commented on #1056
You can open the Chrome developer console and run the following command to get admin access.  We're working on a new release to fix this that should go out in the next couple days:

[code]

[2020-05-23 15:52] lukas commented on #940
This is fixed now - thanks for raising it.  Please reopen if the issue is still there for you.

[2020-05-23 15:52] #940 closed

[2020-05-23 18:57] WP-LKL commented on #366
As for @AdvancingMind I was only able to replicate through **Anaconda Prompt.**

It can also be bypassed through **jupyter notebook**

I suspect the issue to stem from how A-prompt handles http requests.

[2020-05-23 19:28] minhtriet commented on #1053
Hi, restarting kernel does not helps with the `training_args.logging_steps=2` parameters. However, it seems to  be compulsory to restarts kernel after every `trainer.train()`.

Removing the wandb folder gives the following error
[code]

[2020-05-23 20:17] samarth4149 opened #1060 "wandb on/off does not seem to change WANDB_MODE"
`wandb --version && python --version && uname`

* Weights and Biases version : 0.8.36
* Python version : 3.7.4
* Operating System : Ubuntu 16.04

### Description

wandb on/off not working.

### What I Did
I noticed wandb on/off was not working so I tried setting the environment variable 'WANDB_MODE' manually and found that it worked as expected. Then I tried using 'wandb on/off' and found that it

[2020-05-23 20:33] vanpelt commented on #1060
Hey @samarth4149 `wandb off` updates the file `wandb/settings` relative to where it's run.  The library automatically reads this file.  You can always set the WANDB_MODE environment variable manually to set the run mode.

[2020-05-23 20:33] #1060 closed

[2020-05-23 22:08] borisdayma commented on #1053
Do you have a reproducible example?
It may be an edge case we've not seen yet.

[2020-05-24 04:36] ShaneSmiskol opened #1062 "When stopping or restarting a run with PyCharm, shell refuses to close"
* Weights and Biases version: 0.8.36
* Python version: Python 3.7.5
* Operating System: CYGWIN_NT-10.0

### Description

There's no real error, but it's an annoying issue I run into when I use wandb with PyCharm all the time. When I'm done with a run that I don't care about, or don't need the run synced (or I forget I'm using wandb with this issue and just restart anyway), if I click the restart o

[2020-05-24 06:16] pohanchi commented on #1024
![image](https://user-images.githubusercontent.com/34079344/82747148-69783f00-9d64-11ea-917f-287512d76b0d.png)

I get the error above. My storage is still sufficient, so it is not the problem about insufficient storage.

[2020-05-25 06:29] hokmund commented on #1056
Thanks!
It worked for me.

I guess, I shouldn't close the issue though, so you will be able to link the fix.

[2020-05-25 09:30] noklam commented on #1054
I am getting simliar problem, may I know how can I fix it?

[2020-05-25 12:24] minhtriet commented on #1053
Since this is on Kaggle, I would share the notebook [here](https://www.kaggle.com/minhtriet/test-toxic). In the Settings menu on the right panel, please (1) Enable Internet for the kernel and (2) Use the lastest enviroment as seen in screenshot below
![screenshot](https://user-images.githubusercontent.com/2603847/82812430-48fad280-9e93-11ea-9337-909023f133f8.png)

[2020-05-25 18:54] stalkermustang commented on #1054
I waited an hour until my migration ended (I expected the process to be much faster).

at this point i go to /authorize page and ... done!

[2020-05-26 00:01] vanpelt commented on #1024
@pohanchi This error is due file permissions.  We're attempting to write to "/tmp/wandb" but the user running the process does not write permission to that directory.  Can you change the "WANDB_DIR" environment variable to a directory that is writable?

[2020-05-26 00:06] vanpelt commented on #1054
This is likely due to the docker file system driver.  @noklam @stalkermustang what OS are you running docker from?  Switching to the "overlay" filesystem would likely make this run much faster.

[2020-05-26 00:09] noklam commented on #1054
I am running from Window.

[2020-05-26 00:11] vanpelt commented on #1054
Can you run `docker info` and paste the output here.

[2020-05-26 01:27] noklam commented on #1054
[code]

[2020-05-26 14:48] seungjaeryanlee opened #1063 "Is it possible to have two runs concurrently in one script?"
### Description

I want to have two runs from two projects in one script. Is this supported, or do you have any viable alternatives for this?

This is different from [this commonly asked question](https://docs.wandb.com/library/init#how-do-i-launch-multiple-runs-from-one-script) in that I also want another run outside the loop.

### What I Did

[code]

[2020-05-26 16:18] vanpelt commented on #1063
It's not currently possible.  Only one run can be tracked concurrently in a single process.  Is it possible to run the meta loop in a separate process?  Can you provide more details around your specific usecase?

[2020-05-26 23:42] concretevitamin opened #1064 "Git diff & code saving not working for Ray Tune"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.36
* Python version: 3.7.7
* Operating System: Ubuntu

### Description

My app uses Ray Tune's `tune.run_experiments()` and `tune.Trainable` to launch everything.  In particular `wandb.init()` is called inside `Trainable._setup()`.

Expected behavior: I'd expect Git SHA, code diff saved with respect to my app (`~/app

[2020-05-27 00:29] vanpelt commented on #1064
Currently when `wandb.init` is called we use `os.getcwd` to determine where to look for the git repo.  Because ray is running from the workers directory we're not finding the repo.  We should add a new environment variable that allows you to override for this case.

[2020-05-27 05:36] noklam opened #1066 "wandb local incomplete sync"
wandb, version 0.8.36
Python 3.7.4
Window 10

### Description
**Incomplete sync**
I am running the wandb Docker in local with `wandb local`. When I use `wandb sync`, it only sync parts of the experiment(config), but system metric, and charts are not sync (empty). I can see those metrics logged in local JSON file.

When I try to export the data to see if the metrics are sync properly, I get the err

[2020-05-27 16:42] seungjaeryanlee commented on #1063
I am trying to reproduce [double descent](https://arxiv.org/abs/1812.11118). For example, In Figure 9, they plot the test loss (y-axis) with the number of hidden units (x-axis). This corresponds to the meta loop. I also want to plot the test loss with the epoch for each number of hidden units, which is the training loop.

I am not too familiar with subprocesses, so I don't know how I could run it

[2020-05-27 17:56] concretevitamin commented on #1064
Thanks @vanpelt; yep, I believe that'd resolve this.

[2020-05-27 22:32] cvphelps commented on #1066
It looks like your local system is configured to speak to the local backend over SSL which is causing it to fail.  Can you try running `WANDB_BASE_URL=http://localhost:8080 wandb sync` and see if you're getting the same error.  When you run `wandb local` we write a settings file to your home directory with the base url and it may be set to https instead of http.  Can you show me the contents of `~

[2020-05-27 22:35] cvphelps commented on #1063
In this case you should be able to log all metrics in the same run.  If you add your hidden units to your calls to wandb.log you'll be able to choose that as an x-axis in the UI and plot your test loss against it.

[2020-05-27 22:37] cvphelps commented on #1062
ccing @raubitsj — we're working on a new beta of the Weights & Biases client that improves support for environments like Windows. Would you be interested in giving it a try?

1. [Join the Slack forum](http://bit.ly/wandb-forum) and go to the wandb-cling channel.
2. [Install CLI-NG](https://github.com/wandb/client-ng) following directions from the GitHub repo.
3. Try tracking a model with the new c

[2020-05-27 22:39] cvphelps commented on #1059
Hi there, could you try specifying the entity and project in wandb.init to match your sweep config:
`wandb.init(project="your-project-name", entity="your-username")`

Could you share a link to a sweep where you're seeing this issue.

[2020-05-27 22:41] cvphelps commented on #1058
For early stopping, you need to specify a metric that you're logging to wandb.
https://docs.wandb.com/sweeps/configuration#stopping-criteria

[2020-05-27 22:43] cvphelps commented on #1057
Thanks for this bug report, we'll work on a fix for the next release

[2020-05-27 22:44] cvphelps commented on #1056
Fixed in wandb/local:0.9.16

[2020-05-27 22:44] #1056 closed

[2020-05-27 22:45] cvphelps commented on #1055
Thanks for this feature request, we have more complex plot support in our roadmap.

[2020-05-27 22:49] cvphelps commented on #1051
Hi there, thanks for letting us know about this issue. We'd like to fix syncing problems in the new version of our client, and I'll check with my colleague @raubitsj to see if this case is supported.

ccing @raubitsj — we're working on a new beta of the Weights & Biases client that improves support for environments like Windows. Would you be interested in giving it a try?

1. [Join the Slack forum

[2020-05-27 22:55] cvphelps commented on #1050
Thanks for the feedback. We're going to be releasing Artifacts soon which will be the new preferred way to handle files and will not return open files. If you call .name on the file object we return, you can open it in any mode you want.

[2020-05-28 00:05] noklam commented on #1066
You are right. I fixed the https issue and wandb sync run successfully but the issue of incomplete sync is still here,  it fails to sync the run history..

[2020-05-28 00:17] vanpelt commented on #1066
Can you email a tar ball or zip of the local run directory to vanpelt@wandb.com so I can try to reproduce?

[2020-05-28 01:33] noklam commented on #1066
@vanpelt  please check email

[2020-05-28 02:59] evfro commented on #1058
We do have metric specified in the configuration.

Unfortunately, the links you provided describe only Hyperband early-stopping algorithm. I can't find any text on how it is connected to the Envelope early-stopping. Could you please elaborate more on it?

Also there's no information on which parameters does envelope algorithm take as input, could you also provide it with examples how to set them?

[2020-05-28 04:10] seungjaeryanlee commented on #1063
@cvphelps, like this?
[code]

This solution does not work for me since I can't plot the individual runs separately. These are the plots I get:

![image](https://user-images.githubusercontent.com/6107926/83098037-80ac8900-a0e4-11ea-84ec-068d424700d7.png)

Is there a way to plot each individual run separately?

By the way, thank you for your swift responses! You are awesome 😄

[2020-05-28 05:59] ShaneSmiskol commented on #1062
Excellent! `wandb-ng` works as expected within PyCharm compared to the normal build. It takes a few seconds to restart or stop once I press either button, but I'm guessing it's syncing the run in the background and waiting for it to complete. Much nicer response than not allowing me to close the shell at all and throwing an error. Thanks!

[2020-05-28 06:21] Merlin55 opened #1067 "SWEEP error"
**Hi, I am new to wandb. I am trying sweep to do hyperparameter searching. After I typed the command "wandb agent ID", there is only one set of hyperparameter run. When it comes to the second set, it raised the following error:**

- 2020-05-28 02:12:37,337 INFO    MainThread:7173 [wandb_agent.py:run():194] Running runs: []
2020-05-28 02:12:37,555 INFO    MainThread:7173 [wandb_agent.py:_process_co

[2020-05-28 15:55] vanpelt commented on #1066
Hey @noklam I was ably to sync the run to wandb and all metrics synced:

![image](https://user-images.githubusercontent.com/17/83164172-c2c3d380-a0c0-11ea-92c5-89dc12f05941.png)

Can you try running `wandb sync run-20200523_054348-23h9haz8` on the specific directory?  If your still seeing missing metrics can you give me examples of the specific metrics that are missing?

[2020-05-28 16:10] vanpelt commented on #1063
@seungjaeryanlee if your n_units actually correspond to different models you can start 3 different runs:

[code]

[2020-05-28 16:17] vanpelt commented on #1067
Can you share your sweep config / sweep.yaml file?

[2020-05-28 16:19] noklam commented on #1066
@vanpelt  I try sync it on my local docker and app.wandb.ai, but I get empty metrics.
![image](https://user-images.githubusercontent.com/18221871/83166635-ccd9e680-a141-11ea-85b4-13823d34bb9b.png)

[2020-05-28 16:28] neomatrix369 commented on #1063
@seungjaeryanlee thanks for asking this question.

@vanpelt I have question around the same realm as the above,  I was wondering how would we do multiple models in one run? I'll can make sure the metric names are unique and model-specific (model name in their prefix).

Would something like work?

[code]

[2020-05-28 16:39] vanpelt commented on #1066
I was able to sync it successfully on both cloud and onprem with the following command:

`wandb sync -p sync_test run-20200523_054348-23h9haz8`.

Can you run `wandb --version` to see what client library you're using.  I'm on 0.8.36

[2020-05-28 16:43] vanpelt commented on #1063
@neomatrix369 that would work, you would likely want to align the metrics on steps by passing the `step` keyword to your log calls.  You can also log nested dictionaries:

`wandb.log({'model_1": {"loss": 1, "acc": 1}, "model_2": {"loss": 2, "acc": 2}}, step=epoch)`

There's no `sync` method.  If you call `wandb.init` multiple times in the same process you may want to call `wandb.join` but we autom

[2020-05-28 16:55] noklam commented on #1066
`wandb, version 0.8.36`
Window 10
I run it on both cloud and local docker, result are the same.

[2020-05-28 17:03] neomatrix369 commented on #1063
Thanks that helps a lot.

PS: I meant `wandb.join` thnx for confirming

[2020-05-28 17:13] noklam commented on #1066
@vanpelt  Hi, I did some more digging. I use WSL and run `wandb sync` and now I can see the metrics, I guess something wrong with Window, I am not sure what is wrong as no error message was thrown.

[2020-05-28 23:58] vanpelt commented on #1066
Ahh, good to know.  This should be fixed in our [new client library](https://github.com/wandb/client-ng) which has much better support for Windows.

[2020-05-28 23:58] #1066 closed

[2020-05-29 00:18] Merlin55 commented on #1067
The experiment is "pytorch-cnn-mnist" in the example folder. Here is the sweep config:

method: bayes
metric:
  goal: minimize
  name: graph_0
parameters:
  lr:
    distribution: uniform
    max: 0.037289897112918954
    min: 0.002536465250558708
program: main.py

Thank you!

[2020-05-29 01:59] noklam commented on #1066
@vanpelt  Is this new client library working? or it will be released in coming releases?

[2020-05-29 02:01] noklam commented on #1066
FYI, I checked when I run  `wandb sync`, the response from the stream API are all success `Response [200]`, I will use WSL as a temp solution for now, thx.

[2020-05-29 04:17] pochtar opened #1070 "Python version issue"
`wandb --version && python --version && uname`

wandb, version 0.8.36
Python 2.7.16
Darwin (MacOS 10.15.5)

### Description

When I run `wandb agent my-sweep-id`, it fails.
The problem seems to be that it tries to use `python` (which is 2.7), and I want to use `python3`:
[code]

How can I specify the correct python version so that it uses python3 instead of python?

[2020-05-29 08:41] ameliatqy opened #1071 "Local wandb not letting me add back user I have deleted"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.36
* Python version: 3.6.9
* Operating System: Linux (Ubuntu 18.04)

### Description

I have some trouble adding users in the local version of wandb (i.e. wandb local). It seems that it is not letting me re-add a user that I have deleted from the system. It tells me that their email address still exists in the system

[2020-05-29 17:35] davidwallacejackson commented on #1071
Hi! Re-adding deleted users is a case we haven't addressed -- sorry about that. In the meantime, this should do for a workaround:

[code]

Invite emails aren't currently sent automatically when users are added -- you can send an invite email or copy a new invite link from a user's actions menu in `/admin/users`:

![image](https://user-images.githubusercontent.com/1735971/83288367-1523f380-a198-11e

[2020-05-29 17:57] vanpelt commented on #1066
@noklam we're currently catching up to feature equivalence to our core library, but it's functional today.  The next release will include new and improved sync support and should be released first thing next week.

[2020-05-29 18:40] jarednielsen opened #1072 "Unable to use TensorBoard"
* Weights and Biases version: 0.8.36
* Python version: 3.7
* Operating System: Ubuntu 18.04
* TensorFlow: 2.1.1
* TensorBoard: 2.1.1

### Description

[code]

results in

[code]

[2020-05-29 18:51] jarednielsen commented on #691
Still having the same issue with TF 2.1.1 and TensorBoard 2.1.1. I run

[code]

[2020-05-29 19:03] cvphelps commented on #1072
Hey there, could you please install tensorboard on your machine?

[code]

[2020-05-29 19:05] jarednielsen commented on #1072
Yep, I've done that. I have tensorboard==2.1.1.

[2020-05-29 19:07] cvphelps commented on #1070
Hi there, please specify python3 in your sweep YAML file:
https://docs.wandb.com/sweeps/faq#sweep-with-custom-commands

[2020-05-29 19:07] #1070 closed

[2020-05-29 23:14] ameliatqy commented on #1071
Thank you for your help! The workaround you suggested worked for me. Just to let you know, when I click "Send Invite Email", it works as expected. However, when I click "Copy invite link", I get the error "Error retrieving invite link." Not a big issue as I can the link via "Send Invite Email", just to let you know that this issue exists.

[2020-05-29 23:14] #1071 closed

[2020-05-29 23:39] jarednielsen opened #1073 "Broken link on website dashboard"
When I click on a specific run on the web dashboard, it links me to a page with `undefined` in the URL, which doesn't exist. Here's an annotated image of how to replicate.

<img width="579" alt="Screen Shot 2020-05-29 at 4 35 10 PM" src="https://user-images.githubusercontent.com/4564897/83313411-ed9a4e80-a1ca-11ea-9cc8-2aee9f97ac1f.png">

[2020-05-30 08:45] noklam commented on #1066
Good to know, looking forward to the new release.  Appreciate your help!

[2020-05-30 14:41] seungjaeryanlee commented on #1063
Is it possible to plot a line plot (test loss vs N) in this case?

[2020-05-30 19:18] vanpelt commented on #1063
You can use a bar plot to compare the different runs, or use the the line label template syntax to plot multiple runs against eachother and include n_units in the legend.  Does that make sense?

[2020-05-31 04:08] tyoc213 commented on #762
having this issue with 0.8.36

![image](https://user-images.githubusercontent.com/506234/83344301-692ef500-a2ca-11ea-8fb7-0423f96a64d3.png)

installed with `pip install --upgrade wandb`.

[2020-05-31 05:51] vanpelt commented on #762
You need to have the fastai python package installed if you import the wandb fastai callback.  Did you do `pip install fastai`?

[2020-05-31 05:53] vanpelt commented on #762
We will only attempt to load fastai if you import from wandb.fastai.  Are your tests importing the fastai WandbCallback?

[2020-05-31 18:18] tshrjn opened #1074 "Unable to log grad & params with pt-lightning"
### Description

When using `WandbLogger` with `pytorch-lightning`, the gradients and parameters are not being logged.

### Code Demo
Please refer the simple demo code file [here](https://app.wandb.ai/tshrjn/demo/runs/3riz322l/files/code/demo_wandb_log.py) and the logs [here](https://app.wandb.ai/tshrjn/demo)

Also, there's more information in the run info in the above demo logging. Please help re

[2020-05-31 18:34] tyomhak commented on #1073
Thank you for reporting! We'll investigate, and get back to you once we have something!

[2020-05-31 18:36] tyomhak commented on #1074
Thank you very much for reporting!

[2020-05-31 19:44] tyomhak commented on #1073
This seems like a bug, I'm filing a ticket.

[2020-05-31 22:11] tshrjn opened #1075 "Improving sections export to reports"
### Description

I enjoy using W&B as it makes experiment tracking is so much better.
A feature I really really want to use a lot is **Reports**. However, I have faced way too much friction, stated below, to properly use it. Assuming others have also faced similar issues, resolving them would greatly be beneficial to the community.

<img width="1361" alt="Screen Shot 2020-05-31 at 6 09 28 PM" src=

[2020-06-01 02:17] mpds opened #1076 "unable to use wandb.plots.ROC"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.35
* Python version: 3.7.6
* Operating System: Linux

### Description

I'm trying to use `wandb.plots.ROC` to plot a ROC curve for a two-class classification problem.
I'm executing it just like in this example:

[code]

### What I Did

In my case, `y_true` has shape (n, ) and `y_probas` also has shape (n, ).

Each el

[2020-06-01 02:25] sayakpaul commented on #1075
I can share my workflow.

- After I am done with running all the experiments, I start with a blank report.
- I then fill it with the section placeholders to give it a skeleton.
- I then add plots, summary statistics, basically all the good stuff specific to a section.
- If any filtering is required in the Run Set, I do that as well. If a run set has way too many runs (which is likely the case almo

[2020-06-01 03:21] tshrjn commented on #1075
Hi, @sayakpaul thanks for sharing your workflow.
I still feel there's a need for better operability between reports & UI workspace.

For example, I've project ongoing for which the number of experiments in the hundreds, therefore, a better reporting mechanism where a smaller set of experiments can be easily logged & analysed would still be useful. Currently, I'm using screenshots to avoid the whol

[2020-06-01 03:29] sayakpaul commented on #1075
There's a capability that allows you to group runs in a better way and which is something you might be looking for. @cvphelps can comment more on this.

[2020-06-01 04:43] tshrjn commented on #1075
Yes, but grouping doesn't work with `pytorch-lightning` as far as I know.

[2020-06-01 05:04] cvphelps commented on #1076
Thanks for letting us know. @lavanyashukla could you take a look.

[2020-06-01 05:42] cvphelps commented on #1075
Hi there @tshrjn thanks for your suggestions
1. **Export to existing report**: Great idea, we should add this asap.
2. **Select run set to export**: On the project page, this currently pulls from the set of visible runs, and those are the runs that are set to visible in the run set for your report. Are you not seeing this behavior? If you're exporting from the run page instead of the project page,

[2020-06-01 06:23] lavanyashukla commented on #1076
Hi, sorry the docs aren't clear! This is the expected format –

[code]

I also added a [complete working example](https://github.com/wandb/examples/blob/master/scikit-classification/binary_classification.py) for you.

[2020-06-01 09:58] seungjaeryanlee commented on #1063
@vanpelt I understood the bar plot. Could you point me to a documentation or an example of the line label template syntax? I wasn't able to figure it out.

[2020-06-01 13:06] vanpelt commented on #1063
When editing a chart you can edit the legend section:

![image](https://user-images.githubusercontent.com/17/83411833-d8d9d880-a3cd-11ea-9eba-3d5b93a1401c.png)

The expressions section has some more examples of variables.

[2020-06-01 13:11] sash-a commented on #702
Any update on this? It would be quite a useful feature.

[2020-06-01 14:47] mpds commented on #1076
I get it now, thank you very much for the clarification and the example!! :+1:

[2020-06-01 14:47] #1076 closed

[2020-06-01 16:05] vanpelt commented on #1075
@tshrjn The pytorch lightening logger has a "group" keyword argument for grouping.  You can also set the "WANDB_JOB_TYPE" environment variable to assign sub groups.

[2020-06-01 18:14] tyoc213 commented on #762
I see, no, I installed fastai2 from github as http://dev.fast.ai/#Installing

[2020-06-01 18:50] vanpelt commented on #762
fastai2 has the callback builtin to the library.  No need to import the wandb callback from our library.  https://github.com/fastai/fastai2/blob/master/fastai2/callback/wandb.py

[2020-06-01 19:37] tyoc213 commented on #762
Indeed, I saw after check a post on the forums... but at first just followed the instructions on the project page that was confusing.

[2020-06-02 10:15] tshrjn commented on #1075
@vanpelt Thanks. Yes, indeed now there's a group arg & I didn't know about `WANDB_JOB_TYPE`.

Apparently it isn't listed in the [env variables docs](https://docs.wandb.com/library/advanced/environment-variables).  Also, similarly, the `WANDB_RUN_GROUP` is only listed in the [grouping doc](https://docs.wandb.com/library/advanced/grouping) but not in the [env var doc](https://docs.wandb.com/library/

[2020-06-02 18:05] borisdayma commented on #1074
I see weights and gradients in your run. Click on the tabs at the bottom.
![run_grad_param](https://user-images.githubusercontent.com/715491/83554033-c0eb7d00-a4d1-11ea-91bd-159ec8ce3ba6.png)

[2020-06-02 18:43] tshrjn commented on #1074
Oh, right I only see them inside each run but not if I'm the workspace. Is this the expected behavior?

<img width="1680" alt="Screen Shot 2020-06-02 at 2 41 58 PM" src="https://user-images.githubusercontent.com/8372098/83557197-3a3d9c80-a4df-11ea-9c57-b0ec02d2472a.png">

[2020-06-02 18:57] borisdayma commented on #1074
I never try to use it in the workspace as I feel it would be difficult to represent for several runs.

You can add custom graphs by selecting the "+" on the top right where you can select manually some parameters/gradients.

@cvphelps do you have anything to add?

[2020-06-02 19:03] borisdayma commented on #1053
Can you confirm which dataset to use?

@vanpelt I actually get the same problem on huggingtweets which is why I make people restart the kernel after one training iteration.
Should we put this issue on hold for a little bit and try to close it with the upcoming CLI?

[2020-06-02 19:14] sebastian-sosa opened #1078 "[CLI] wandb sync --id=3ry7a3m2 syncs all experiments instead of the provided one"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.36
* Python version: 3.7.6
* Operating System: Debian 9.0

### Description

I modified `wandb-summary.json` locally and want to upload my changes. I'm probably missing something from the CLI docs, but no matter what command combination I try, I keep uploading all the runs instead of just the provided one.

Docs from

[2020-06-02 21:08] vanpelt commented on #1078
We iterate over all directories by default.  You can pass the individual directory to sync only that one.  i.e. `wandb sync wandb/run-XXXXX-3ry7a3m2`

[2020-06-03 04:27] MartSlaaf opened #1080 "Feature request: aggregating metrics inside epochs"
* Weights and Biases version: 0.8.36
* Python version: 3.7.3
* Operating System: Linux

### Description
Situation:
I want to see the train and test metric on the same plot because it's good for model understanding. Although, two choices I see: (i) aggregate metric by epochs instead of steps, (ii) see on plots by steps, having them disjoint (for each step I can have either train or test metric poin

[2020-06-03 10:46] richarddwang opened #1081 "runs in loop don't finish"
* Weights and Biases version: 0.8.36
* Python version: 3.7
* Operating System: Ubuntu 16.04.6

The problem is if I run many runs in a loop, every runs will last to the end of program but not the beginning of its next run.

according to the advice of #951, I tried
[code]
But still I got this
![image](https://user-images.githubusercontent.com/17963619/83626267-c1663f80-a5c7-11ea-9ad1-091b27cfd225.pn

[2020-06-03 13:48] braaannigan commented on #1059
Hi @cvphelps

Apologies for the delay. That still hasn't worked. I've put together a minimal example here with a simple autoencoder.

[code]

In this case the model again intialises twice (i.e. two Run Page links are generated)
and then errors out with error message
[code]

[2020-06-03 16:49] dreamflasher opened #1082 "BO and random search not exploring search space"
wandb, version 0.8.36
Python 3.8.2
Linux

### Description

I am doing a wandb sweep. The sweep config has only discrete values and a low space size of about 30 unique configurations.

Expectation: All 30 configurations are tested after each other.

Actually: A few configurations are tested multiple times, while others are not run at all.

I observe this both with BO and random search.

[2020-06-03 22:17] heitorrapela commented on #821
Any news about that feature? :)

[2020-06-03 23:45] szeitlin commented on #821
+1 this would be more useful for me too.

[2020-06-05 04:06] kengz commented on #507
One suggestion/feature request: for all the distributions with (natural) log, can we please add the log10 version? Currently they would be:
- `log10_uniform`
- `log10_normal`
- `q_log10_uniform`
- `q_log10_normal`

For reference, I dug up the [source code](https://github.com/wandb/client-ng/blob/4dbce5afe41624abc3a187b2d005cba5678ea672/wandb/sweeps/params.py#L181) where the log distributions are i

[2020-06-05 04:43] sooheon commented on #1008
I'm getting the same warning, and wandb attempts to print an ipython HTML object to the console.

[2020-06-05 04:43] sooheon commented on #1008
Also seeing `SIGWINCH handler was not None: <Handlers.SIG_DFL: 0>`

[2020-06-05 09:36] parmarsuraj99 opened #1085 "Error in continuing training with HuggingFace Trainer on TPU"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.36
* Python version: 3.6.9
* Operating System: Linux

### Description

While training Model using HuggingFace Trainer on Colab with TPU, Once an epoch is complete and  a run finishes successfully. When started training again from checkpoints it gives this error.

### What I Did

[code]

[2020-06-05 17:38] vanpelt commented on #1085
Good to know.  A quick fix is to set `os.environ["WANDB_WATCH"] = "false"` we'll look into the root cause.

[2020-06-05 17:57] borisdayma commented on #1085
@parmarsuraj99 do you have a colab to share to ensure we propose a good fix?

[2020-06-05 18:58] tyomhak commented on #1081
Hi, I believe you need to add wandb.join() at the end of the loop.
You can find more information about that in our docs, [here](https://docs.wandb.com/library/init#how-do-i-launch-multiple-runs-from-one-script).

[2020-06-05 19:21] parmarsuraj99 commented on #1085
`os.environ["WANDB_WATCH"] = "false" ` this worked.
 I think it's a problem with pytorch-xla or Transformers with TPU. Logging while training seems to freeze everything.

[2020-06-05 19:21] #1085 closed

[2020-06-05 22:05] jarednielsen commented on #764
Is there a timeline for adding this feature? I have a use case where wandb is cluttering up my filesystem even if WANDB_SILENT=true; I would like an environment variable that makes wandb act as a no-op.

[2020-06-05 22:08] jarednielsen opened #1086 "wandb.log() should fail silently if not logged in"
The code should still function if not logged in (no `WANDB_API_KEY` or `wandb login`) is set. Currently it throws an error if you attempt to log.

Related to https://github.com/wandb/client/issues/764; I would like to distribute my code to users who do not have wandb enabled.

[2020-06-06 00:08] raubitsj commented on #764
@jarednielsen : This is a feature of a new experimental client library:
https://github.com/wandb/client-ng

We are working out the timeline for getting these changes into the released library.  But starting next week we will have a noop mode.

The trick to the noop mode is that all the wandb methods and objects have to behave sanely so that your code execution still works like:
run = wandb.init()

[2020-06-06 00:28] vanpelt commented on #1086
@jarednielsen you can specify `anonymous="allow"` in your call to wandb.init() to not enforce login and instead create an anonymous account that only the user running the code can access.  Otherwise you'll need to put wandb logging behind a feature flag that users can turn on or off.

[2020-06-06 04:54] drozzy commented on #1059
I am retrieving my experiment like this (this avoids the call to wandb.init):
`run = wandb_logger.experiment`

Of course, the problem with this is I can't pass the parameters I'm using to be logged into `wandb.init`.

[2020-06-06 16:48] msalvaris commented on #736
@vanpelt Bump as well

[2020-06-06 17:45] vanpelt commented on #736
Hey Guys, sorry for not responding to this sooner.   The simplest way to address this today is to log a metric that only gets updated if it improves, i.e.:

[code]

We still have plans to add computed metrics in a future release, this would enable you to define new metrics using expressions like this after the fact.

[2020-06-06 20:35] borisdayma commented on #1059
Actually you can log hyper-parameters with this object through `run.config.update(dict)`.

[2020-06-07 01:43] vanpelt commented on #1059
Is this happening from within Jupyter or when run via python?

[2020-06-07 16:10] Xeratec opened #1087 "Config wrong session history path"
### Versions
* Weights and Biases version: 0.9.0
* Python version: 3.7.7
* Operating System: Windows 10 Home
* Jupyter Lab:
jupyter-client: 6.1.3
jupyter-console: 6.1.0
jupyter-core: 4.6.3
jupiter: 1.0.0
jupyterlab-server: 1.1.4
jupyterlab: 1.2.6

### Description
I am working with Jupyter Lab. I enabled code saving in my personal account and it does upload the code successfully to the _code_ folde

[2020-06-08 03:41] Twsschx commented on #1024
I am running the wand-ng and it appears 'Enter api key'. How to get the api key ?

[2020-06-08 09:07] zkx741481546 opened #1089 "W&B process failed to launch, see: wandb\debug.log"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.0
* Python version:3.7
* Operating System:win10

### Description

I run my program in pycharm 2020 and init wandb with this code:`wandb.init(project="future_trade_test", sync_tensorboard=True)`,
and it show this error:
[code]

The wired thing is if I run it with debug mode, wandb init normally. And I can also run ano

[2020-06-08 13:01] richardyy1188 commented on #1081
Hi, sorry for the late reply.
I tried the code in the doc:
[code]
and even
[code]

Both get me the same result
![image](https://user-images.githubusercontent.com/17963619/84033142-fceb7a00-a9ca-11ea-95c2-8313033febd0.png)
Only the last run will finish, and othe run even keep accumulate running time after the program stops.

[2020-06-08 16:31] vanpelt commented on #1089
We have an experimental version of our library that should work much better in Windows and address this issue.

You can install it with `pip install wandb-ng`, more information can be found here: https://github.com/wandb/client-ng

[2020-06-08 16:32] vanpelt commented on #1081
@richardyy1188 I just want to confirm you're running this inside of a jupyter notebook?  We're aware of an issue with status reporting in Jupyter and are are working on a fix.

[2020-06-08 23:58] richardyy1188 commented on #1081
Hi, @vanpelt , thanks for your reply.

Yes I did do it in a jupyter notebook, is there an issue I can follow to know when it is solved ?

[2020-06-09 12:41] vwxyzjn opened #1091 "Video logging missing"
`wandb --version && python --version && uname`
* Weights and Biases version: 0.9.0
* Python version: 3.7
* Operating System: Linux

### Description
For some reasons, the videos of my experiments are somehow not logged correctly. Please see the following link as an example, where are the file and code section of the panel contains nothing.

https://app.wandb.ai/cleanrl/cleanrl.benchmark/runs/2wioc6

[2020-06-09 15:12] vanpelt commented on #1081
We'll follow up here when it's fixed.

[2020-06-09 15:47] vanpelt commented on #1091
@vwxyzjn we're looking into the root cause, it's likely something that regressed with the latest release.  You can downgrade to 0.8.36 with `pip install wandb==0.8.36`.  We'll update here once we've root caused the issue.

[2020-06-09 23:23] vanpelt commented on #1091
@vwxyzjn we just released 0.9.1 of the library with fixes for this issue.  Thanks for reporting and sorry for the inconvenience.  The bug resulted in all files being uploaded to the newest run when many runs were executing in parallel.

[2020-06-09 23:23] #1091 closed

[2020-06-10 07:49] tshrjn opened #1093 "Media Panel: custom x-axis options"
### Description
The step counter for [custom plots](https://docs.wandb.com/library/log#custom-plots) doesn’t have other `x-axis` option except for `step`.
And the Legend doesn’t work properly with custom plots. [The color doesn’t show up here.]
Also, the title set up in matplotlib cuts off.

<img width="1565" alt="Screen Shot 2020-06-10 at 3 40 36 AM" src="https://user-images.githubusercontent.com

[2020-06-10 22:57] lavanyashukla commented on #801
+1 to this

[2020-06-10 23:06] #586 closed

[2020-06-10 23:06] hartikainen commented on #801
@lavanyashukla, here are examples of tune `Trainable` and `RayTrialExecutor`, which should make wandb work with Ray. `WandbTrainable` enables trial-level logging and `WandbExecutor` enables experiment-level logging. These are modified versions of the scripts @richardliaw gave me.

[code]

[code]

[2020-06-10 23:10] #798 closed

[2020-06-10 23:10] #678 closed

[2020-06-11 03:02] tshrjn commented on #1093
Is there a way to use the step slider with Plotly charts?

Also, a use case for step-slider is similar to that of the x-axis available in the workspace for instance, epoch instead of a step.

[2020-06-11 03:52] vanpelt commented on #1093
Yep, if you call wandb.log multiple times the step slider will be available for plotly charts.  We'll add a +1 to custom x-axis for media panels.

[2020-06-11 08:00] tshrjn commented on #1093
Btw, How can we send plotly charts to `wandb.log()`? Is there an example? I couldn't find any on the [docs](https://docs.wandb.com/library/log#custom-plots)

[2020-06-11 08:08] itssimon opened #1094 "Error Message: wandb.Api().runs() throws TypeError"
* Weights and Biases version: 0.9.1
* Python version: 3.7
* Operating System: Linux

[code]

[code]

[2020-06-11 15:03] vanpelt commented on #1093
Sorry about that, we'll update the docs.  You can pass in a Plotly figure object to wandb.log.  Any of the examples here: https://plotly.com/python/line-charts/ would work by replacing `fig.show()` with `wandb.log({"plotly_chart": fig})`

[2020-06-11 15:04] vanpelt commented on #1094
@itssimon we'll get a fix for the underlying bug, but wanted to let you know this means there are no runs for the given team/project that you're querying.

[2020-06-11 15:10] itssimon commented on #1094
Thanks @vanpelt. There's definitely runs. I've downgraded wandb to 0.8.36 and the runs are now showing.

[2020-06-11 16:26] cpoptic commented on #1046
I just added `wandb/` to my `.gitignore` file and that worked fine.   The wandb run folders can get numerous and large, so I'd think best practice is to not include them in your commits.

[2020-06-11 16:41] jwallat opened #1095 "Permission denied on wandb.init()"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.1
* Python version: 3.7.3
* Operating System: Linux

### Description

I am trying to use wandb on a computing cluster.

### What I Did

I use this small script to see if I can login and log some arbitrary values.
Since I am unable to do wandb login, I am setting the api key.
[code]

This is the output:
[code]

Can an

[2020-06-11 20:22] vanpelt commented on #1095
This looks like a file system permission error.  Are you sure `/home/wallat/wandb_mnist_test/` exists and is writeble by the user you're running the script as?

[2020-06-11 20:23] vanpelt commented on #1095
There are likely more details in `wandb/debug.log`

[2020-06-11 20:39] jwallat commented on #1095
Yes, it should not be an permission problem. Every run creates a new run-folder in `/home/wallat/wandb_mnist_test/wandb/`. The debug.log is empty though...
My guess was that the cluster's job manager is not letting me spawn more subprocesses, since it is crashing on that line. But I tried and spawning subprocesses seems not the be the problem either.

[2020-06-11 23:54] Avuerro commented on #380
Hey, I stumbled on this issue because I was experiencing the same problems as the creator of this issue. The new project instructions  do not mention anything about the entity setting. The project was created under the wrong team even though I had set the "default location to create teams". Adding the entity parameter to the init call fixed it for me.

[2020-06-12 00:52] EricCousineau-TRI commented on #709
I've found that it works if:

1. `import wandb.tensorboard` explicitly, or
2. Use `wandb.tensorboard.patch(...)` directly

Smells like a weird "on demand" thing with module access, possibly a PEP dynamic `getattr` on a module (like PEP 562 -- but this is on Python 3.6, before it was implemented, I think?0.

Example bash thing on Ubuntu of (1):
[code]

[2020-06-12 01:00] EricCousineau-TRI opened #1097 "requirements: Should indicate `tensorboardX>=1.5`"
* Weights and Biases version: 0.9.1
* Python version: 3.6.9
* Operating System: Linux

### Description

If I try to to use `wandb.init(..., sync_tensorboard=True)` with `tensorboardX==1.4`, it doesn't work.

If I use `tensorboardX==1.5`, it does.

### What I Did

[code]

Output: from `tensorboardX==1.4`:
[code]

[2020-06-12 01:03] EricCousineau-TRI commented on #1097
Relates #709 - in that I ran across it while debugging this :(

[2020-06-12 02:24] vanpelt commented on #1095
This is really strange.  If debug.log is empty that indicates we weren't able to write to that file.  What are the permissions on it?  `ls -al wandb`

[2020-06-12 02:28] vanpelt commented on #380
Hey @Avuerro what's your wandb username, we can check the settings on the server.  It should send data to your default entity set on your settings page here:  https://app.wandb.ai/settings  Assuming you're using an API key on that page.

[2020-06-12 02:31] #1097 closed

[2020-06-12 02:32] vanpelt commented on #1097
Thanks for debugging, just merged.

[2020-06-12 11:07] neomatrix369 opened #1099 "[bug] wandb client asks user to install latest version of client after it has been installed Kaggle"
* Weights and Biases version:  0.9.1
* Python version: 3.7.6
* Operating System: Linux

### Description

Importing and logging into `wandb` via a Kaggle kernel.

### What I Did

[code]
resulted in:

[code]
[code]
[code]

In the notebook cell:

[code]

results:

[code]

But we just upgraded it and its all good to go.

[2020-06-12 12:18] jwallat commented on #1095
I managed to figure out what was causing the problem. The job-manager of my cluster was starting the script from a private dir. This caused the `os.getcwd()` and `sys.executable` to direct to some dir like `/var/lib/condor/execute/dir_25945` (the cluster is using ht condor).
When `wandb.init()` tried to open the subprocess like this:
[code]
it had no permission to access the executable in that fol

[2020-06-12 12:18] #1095 closed

[2020-06-12 15:02] EricCousineau-TRI commented on #709
It looks like this was triggered by the change in 72b8ef982d2, using `util.get_module("wandb.tensorboard")`, which very aggressively eats import errors:
https://github.com/wandb/client/blob/4c46d8d093eb3a52748fb28bb1d7386efd9375e3/wandb/util.py#L122-L126

However, probably *most* relevant, @giacaglia, is I saw `tensorboardX==1.1` in your freeze output.
I can reproduce your error with `tensorboardX

[2020-06-12 15:42] EricCousineau-TRI opened #1101 "sync_tensorboard: Import warnings from `pkg_resources` under given environment?"
* Weights and Biases version: 0.9.1
* Python version: 3.6.9
* Operating System: Linux

### Description

Putting `wandb` under a unittest in using [Bazel](https://bazel.build/).

Relates #709 - if I don't explicitly import `wandb.tensorboard` before calling `wandb.init(..., sync_tensorboard=True)`, I get a whole bunch of crufty warnings about `pkg_resources`, imports, and unclosed streams.

I can w

[2020-06-12 16:25] vanpelt commented on #1099
I just attempted this and was unable to reproduce.  If you previously imported wandb into your session before installing you'll need to restart your session after upgrading.

![image](https://user-images.githubusercontent.com/17/84524313-9f874f80-ac8e-11ea-99aa-eac42a1a7003.png)

[2020-06-12 16:26] vanpelt commented on #1095
Good to know, we can provide a better error message in this case.

[2020-06-13 00:22] Avuerro commented on #380
hey @vanpelt , my wandb username is "whydoihavetoregister" which is a indeed a bit peculiar username. However at the time of registering, because I was invited by a group member, I had no idea what wandb was.

Anyway, I have two teams A and B and initially A was the default location to create new projects. Whenever I would initialize a project it would appear under project A. I deleted the newly c

[2020-06-13 15:24] andrecavalcante commented on #580
I have a similar issue: importing torch breaks wandb. Simple code such as

import torch
import wandb
if __name__ == '__main__':
   wandb.init(project="project", dir="C:/Users/andre/Documents/wandb/")

generates the error:
 File "C:\Users\andre\Anaconda3\lib\site-packages\wandb\__init__.py", line 1125, in init
    _init_headless(run)
  File "C:\Users\andre\Anaconda3\lib\site-packages\wandb\__init__

[2020-06-13 20:38] vanpelt commented on #580
@andrecavalcante this is a Windows related issue.  We have a new version of the client library optimized for Windows here:  https://github.com/wandb/client-ng You can install with `pip install wandb-ng`

[2020-06-14 18:35] hosnaa commented on #366
I've the same issue as @AdvancingMind with Windows, through Anaconda prompt, the wandb version==0.9.1, It did work earlier but on a different CNN model and now it gives this error.

[code]

[2020-06-15 01:13] vanpelt commented on #366
For anyone hitting this error on windows.  Try our new Windows optimized version at: https://github.com/wandb/client-ng You can use it by running `pip install wandb-ng`

[2020-06-15 19:33] hosnaa commented on #366
Oh!! thanks a lot, it works now after installing this version and without changing anything in my code. Thanks!

[2020-06-16 13:25] zkx741481546 commented on #1089
Thanks for your reply. I installed wandb-ng, but when I trying to use command `wandb login`, this error occured
`(base) C:\Users\zkx74>wandb login
Traceback (most recent call last):
  File "c:\users\zkx74\anaconda3\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "c:\users\zkx74\anaconda3\lib\runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "C:\Us

[2020-06-16 15:53] zkx741481546 commented on #1089
And I noticed that the wandb-ng version has "No tensorboard_sync option, no from wandb import magic", how should I do to see my tensorboard in wandb-ng

[2020-06-16 16:37] vanpelt commented on #1089
We're actively working on bringing the new version to feature parity to the current.  tensorboard_sync should be coming in the next week or 2.

[2020-06-16 17:34] Hzzone commented on #452
After a long time to try, I found a fast way to combine ddp with wandb, that is re-write `torch.distributed.launch` like below:

[code]

The id of different processes is supposed to same, and you could modify it for your own need. Note that we should add a `--id` and `--device-ids` to your script like `--local-rank` in `torch.distributed.launch`.

[2020-06-16 20:28] sebastian-sosa opened #1103 "Frontend: View exact date in Created At column"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.8.36
* Python version: 3.7.6
* Operating System: Linux

### Description

On the web UI, when visualizing all the runs under a project there's a column called Created, which says when the run was made. It shows the relative time from the present (ie `7h ago` or `1d ago`), and if you hover the mouse on top of the label,

[2020-06-17 06:58] xiaozhoujian commented on #660
I got the exact same issue. I guess the issue is caused by the remote server spends time assigning tasks, in my case, that nearly require 5 minutes or even longer. And maybe this is the reason why wandb return time out error. Since I used the dry run mode of wandb, I just modify the 239 line of __init__.py under the site-packages/wandb as follows:
`# success, _ = server.listen(30)
  success = True

[2020-06-17 09:03] noklam opened #1104 "confusing confusion matrix plot"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.1
* Python version: 3.6.4
* Operating System: Window 10

### Description
* The x/y axis is unconventional and confusing, x-axis should be predicted value, and y-axis should be actual

# Code Snippets
![image](https://user-images.githubusercontent.com/18221871/84879308-a0b8e200-b0bd-11ea-9398-0516d8d90a19.png)

## Exp

[2020-06-17 14:16] vanpelt commented on #660
This issues should be fixed in our next generation cli.  You can try it by running `pip install wandb-ng`, more information here: https://github.com/wandb/client-ng

[2020-06-17 17:26] tyomhak commented on #1104
Thank you very much for pointing it out. We filed a ticket for it.

[2020-06-17 22:27] dr-aheydari opened #1105 "Running W&B Locally on an EC2 Instance (trying to bind to a different address)"
Hello,
### Description
I would like to run `wandb local` on an EC2 instance, but I would like to have access to the reports from different machines, i.e. viewing the app not through `localhost`.

Is it possible to bind the `wandb` app to a different address (e.g. http://0.0.0.0) so that the page could be viewed form different machines ?

* Operating System: Linux-Ubuntu (on an EC2 instance)

Thank

[2020-06-17 23:46] vanpelt commented on #1105
The wandb local command simply runs the following docker command under the hood:

[code]

This binds to 0.0.0.0:8080 by default.  You'll need to open up whatever port you on the EC2 instance to make it available.  More info [here](https://docs.wandb.com/self-hosted/setup#ec2).

[2020-06-18 00:44] umgupta opened #1107 ""null" not working when filtering the runs"
This issue is related to W&B UI.

When some config option is logged as null (or none in python), the table filtering does not work with it properly. For example, no matter what filter you set on that property, you won't be able to see the runs with "null" value of that config option.

[2020-06-18 01:21] dr-aheydari commented on #1105
Thank you for your response, I assumed since it said `localhost` it would always bind to `127.0.0.1`. This answered my question!

[2020-06-18 01:21] #1105 closed

[2020-06-18 17:03] vanpelt commented on #1107
Hey @umgupta this should be supported.  Can you link us to a project where you're unable to do this currently?  Are the values actual null values or the string "null"?

[2020-06-20 20:09] kaglowka opened #1110 "Log content is erased in silent mode"
* Weights and Biases version: 0.9.1
* Python version: 3.8.2
* Operating System: Ubuntu 20.04

### Description

I ran `wandb` in my simulations and wanted to be in control of wandb output, so it wouldn't mix with the output I printed myself.

### What I Did

I set silent mode (as below), and set up `watchdog` handler to listen to changes appearing in `debug.log`, so I could print them at the right

[2020-06-21 05:48] drozzy opened #1111 "Bad Request for url: https://api.wandb.ai/graphql"
Oddly this happens only if I run it from a script.py file. It works just fine in jupyter notebook...

When I try to do this with pytorch-lightning logger :

[code]

it fails right on the `user_artifact` call with:

[code]

[2020-06-21 14:17] AGKhalil commented on #586
I ran across this issue myself when trying to run `ray` with `wandb`. The `yaml` `SafeDumper` can't dump the `callbacks` object and `Dumper` tries to reconstruct the object, but fails.

My solution is a little tacky but it works. I edited `wandb/wandb_config.py`, specifically the `__str__()` function under the `Config` class. It looks like this:
[code]
Basically, I found the `callbacks` object and

[2020-06-21 14:34] AGKhalil commented on #586
Actually found a better way:
[code]
This looks through the dictionary of `config` objects we wish to upload to `wandb`. If an object is a `class` instance, I replace the value with a string of the instance.

[2020-06-21 14:49] AGKhalil commented on #586
Found related [commit](https://github.com/wandb/client/commit/59fb9a5e500a29367fb2aa0766265a5453ccfdfa). It is 4 behind master though. So for anyone looking, until this is fully merged, my solution and the commit's solution should work.

[2020-06-22 13:02] Nintorac opened #1112 "Simultaneously started runs are too similarly coloured"
wandb, version 0.9.1
Python 3.6.10 :: Anaconda, Inc.
Linux

### Description

Starting multiple runs simultaneously results in very similar colours in the web front end

![Screenshot_2020-06-22 Weights Biases](https://user-images.githubusercontent.com/24326299/85290412-4d3efd80-b4dc-11ea-9266-f3f8d79b1638.png)

The bottom 4 runs in the screen capture were started simultaneously

### What I Did
Usin

[2020-06-23 01:32] shawnlewis commented on #1111
This PR fixes it (not yet merged): https://github.com/wandb/client/pull/1108

[2020-06-23 10:22] Xemnas0 commented on #660
I tried this and now get the following error

[code]

[2020-06-23 23:25] fellhorn commented on #691
I had the same issue when using TF and TensorBoard from the global site packages. When I switched to a venv on the machine it worked though.

[2020-06-25 03:11] HHousen opened #1118 "AttributeError: 'FilePusher' object has no attribute 'rename_file'"
`wandb --version && python --version && uname`:

* Weights and Biases version: wandb, version 0.9.1
* Python version: Python 3.6.9
* Operating System: Linux

### Description

I am using `pytorch_lightning` and am trying to upload my saved models as they are written to the logging directory. Everything works as intended except that the first saved checkpoint produces an error and is not saved. I am

[2020-06-26 01:54] vukovicnikola commented on #366
I was having the same issue with code that ran perfectly on Google Colab and Mac, but failed on Windows. Chris's suggestion fixed it for me. However, this version of wandb complains when specifying save dir location, or resuming parameter:
[WARNING] currently unsupported wandb.init() arg: dir
[WARNING] currently unsupported wandb.init() arg: resume

I can live without the latter, but the former is

[2020-06-26 12:39] jqueguiner opened #1120 "[BUG][SCRIPT]Artifact download not working in script mode : ERROR 'graphql: got null for non-null'"
`wandb --version && python --version && uname`

* Weights and Biases version: wandb, version 0.9.1
* Python version: Python 3.6.9 :: Anaconda, Inc.
* Operating System: Linux

### Description

Unable to download artifacts using Python3 script while it’s working on jupyter notebook

### What I Did
This code works in jupyter notebook
[code]

But in python script I get:

[code]

[2020-06-26 13:59] jqueguiner commented on #1120
In the meantime for anyone trying to find a workaround the API itself works great : [https://docs.wandb.com/library/reference/wandb_api#artifact](https://docs.wandb.com/library/reference/wandb_api#artifact)

Doing the same thing will be
[code]

[2020-06-26 14:28] pyyush commented on #660
Same issue @vanpelt
`wandb: Tracking run with wandb version 0.9.1
Traceback (most recent call last):
  File "main.py", line 52, in <module>
    wandb.init(project="TransformerTransducer", config=hyperparams) # adds all of the arguments as config variables
  File "/N/u/piyush/Carbonate/.local/lib/python3.7/site-packages/wandb/__init__.py", line 1125, in init
    _init_headless(run)
  File "/N/u/piy

[2020-06-27 01:12] vanpelt commented on #1120
Nice @jqueguiner we've fixed this issue in master.  We're targeting a new release first thing next week!

[2020-06-27 05:50] douglasrizzo commented on #1051
I also have this problem. My TensorBoard event files were created with PyTorch. I am on Linux.

Manjaro Linux 20.0.3 Lysia
Python 3.7.7
tensorboard 2.2.2
tensorflow 2.2.0
torch 1.5.0

[code]

[2020-06-28 05:06] douglasrizzo opened #1122 "wandb.watch doesn't work with modules that return dicts"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.1
* Python version: 3.7.7
* Operating System: Manjaro Linux 20.0.3

### Description

When I use `wandb.watch(model)` in a model of mine, I get a `StopIteration` message and my program crashes. When I comment that line out, everything works fine.

Two things my model does that could be considered non-standard are the

[2020-06-29 23:59] aced125 commented on #452
I'm experiencing this issue! Of wandb spawning multiple runs when doing ddp training.

Will do the rank zero thing to avoid for now.

[2020-06-30 04:14] douglasrizzo commented on #1051
@vincentwen1995 maybe the discussion in https://github.com/wandb/client-ng/issues/23#issuecomment-651258932 could clarify some things to you.

[2020-07-01 02:56] maria-korosteleva opened #1128 "Images: logging an image that is already saved to the wandb directory doesn't resize properly"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.1
* Python version: 3.6
* Operating System: Win 10

### Description

I'm logging png images to wandb run with wandb.log(). The overall process seems to go fine, but only a part of each image is displayed in web-interface (Media charts): they seem to have been cropped to a square size somewhere on the way.
Is there a

[2020-07-01 06:03] EricCousineau-TRI opened #1129 "sweep: Parameter value written w/ scientific notation gets converted to str?"
`wandb --version && python --version && uname`

* Weights and Biases version: wandb, version 0.9.1
* Python version: Python 3.6.9
* Operating System: Linux (Ubuntu 18.04)

### Description

I get the following error when attempting to launch a local sweep:
[code]

### What I Did

I wrote a `sweep.yaml` file, following the documentation:
https://docs.wandb.com/sweeps/configuration#parameters

I laun

[2020-07-01 06:05] EricCousineau-TRI commented on #1129
FTR, in the same `virtualenv`, `pyyaml` parses this correctly:
[code]

[2020-07-01 07:03] jqueguiner commented on #1120
associated PR : https://github.com/wandb/client/pull/1125

[2020-07-01 07:06] itssimon commented on #821
I'd love to see this too. And the ability to compare histograms across runs would be amazing.

[2020-07-01 07:37] jqueguiner commented on #1120
Works like a charm ! thanks

[2020-07-01 16:14] paulomann opened #1132 "Reset previous log and create new section when logging"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.1
* Python version: 3.7.3
* Operating System: Linux Ubuntu 16.04.5 LTS (Xenial Xerus)

### Description

Hi, I am new to this framework, but I can't find a place to answer my two questions, so here I am:

**1.** I would like to know if there is an option to overwrite the log. For example, in **Training 1** I run many

[2020-07-01 17:50] vanpelt commented on #1132
Hey @paulomann, anytime you call `wandb.init` we create a new run in wandb.  Subsequent calls to wandb.log will be associated with that run.  Each section of a report has a Run Set associated with it.  These Run Sets can be filtered by tags, config, or any metrics passed to log.  So you could do something like the following to achieve what you want.

[code]

Then you could configure the RunSets in

[2020-07-01 20:33] coolalexzb opened #1133 "System metrics: customize logging frequency"
`wandb --version && python --version && uname`

* Weights and Biases version: version 0.9.1
* Python version: Python 3.7.4
* Operating System: MAC OS

### Description

Hi there! From the documentation, I find that default metrics will be averaged every 30 seconds. I want to ask if we have any approach to change the time interval. I hope that users can have the option to choose by themselves. For e

[2020-07-01 21:56] concretevitamin commented on #1064
@lavanyashukla @vanpelt do you mind re-opening this to track?  This issue isn't resolved.

[2020-07-02 01:29] vanpelt commented on #1064
@concretevitamin sorry about that, just reopened.

[2020-07-02 03:53] EricCousineau-TRI commented on #982
I hit this as well, looking forward to this feature!

Here's a slightly more general of Jgfrausing's code w/ a unittest:
https://github.com/EricCousineau-TRI/repro/commit/12136fcefe0472e4867f7722a02ee60dc57f6f84

[2020-07-02 05:37] indigoviolet commented on #1122
Confirmed. This also happens with Detectron2, which returns a custom `Instances` object. Here's a stacktrace for that: https://gist.github.com/indigoviolet/ea3eb79b9493abc4b31a4c0a91519b92 , which can be reproed using the Detectron2 colab tutorial. I can share my Colab notebook if that's useful.

[2020-07-02 05:52] vanpelt commented on #1122
@indigoviolet a colab would be really useful.  You can share it with `vanpelt@wandb.com`

[2020-07-02 07:14] douglasrizzo commented on #1122
I made two colabs with stuff that was originally in my model (the one that failed). Unfortunately, I couldn't reproduce the error I had, as in both of them, `wandb.watch()` worked correctly.

- In [this one](https://gist.github.com/douglasrizzo/81b9b2a190cf5ad3125e929df919e98d), I tested a simple network that outputs a dictionary and another one that has a fork in the architecture (2 final fully-c

[2020-07-02 12:12] aiyolo opened #1135 "wandb won't automatically do `git commit`"
Every time when I run an experiment, I wish wandb will automatically do the commit work for me, but it isn't like that, I wonder what's the purpose for this design?

[2020-07-02 13:00] paulomann commented on #1132
Thanks @vanpelt , it helped a lot!

[2020-07-02 13:00] #1132 closed

[2020-07-02 14:27] #1120 closed

[2020-07-02 16:36] vanpelt commented on #1135
Hey @aiyolo can you clarify what you mean be "commit work".  Do you want wandb to automatically run `git commit` for you?  Would you want it to commit directly to the current branch?  What would you want the commit message to be?

We do automatically save a patch file of any uncommitted changes so you can get back to the exact state that your git repo was in for any given run by running `wandb res

[2020-07-02 16:43] vanpelt commented on #1133
Hey @coolalexzb we're currently not exposing these dynamic settings in the UI.  The relevant code is here: https://github.com/wandb/client/blob/master/wandb/stats.py#L81  As a quick workaround you could override this method.  In the next release of our python library we plan to expose this in the UI, this release is planned for late July.

[2020-07-02 16:45] vanpelt commented on #1129
Thanks for reporting @EricCousineau-TRI we're digging into the root cause.

[2020-07-02 16:46] vanpelt commented on #1128
Hey @maria-korosteleva we shouldn't be cropping images.  Can you link to an example run that's been affected.  Also if you can provide a sample image that you're trying to log that would help us reproduce.

[2020-07-02 16:47] vanpelt commented on #1118
Thanks for reporting @HHousen we're targeting a fix for the next release.

[2020-07-02 16:48] vanpelt commented on #1112
Hey @Nintorac this is currently by design.  You can change the colors in the UI by clicking on the circles.  We'll sync internally about the best thing to do in this case.

[2020-07-02 16:48] #1111 closed

[2020-07-02 16:50] vanpelt commented on #1110
Thanks for filing we'll work on a fix for the next release.

[2020-07-02 16:51] vanpelt commented on #1103
Thanks for the feature request, we're tracking this internally.

[2020-07-02 16:52] vanpelt commented on #1101
Thanks for reporting.  We're targeting a new release of our library that should simplify dependencies / this specific case by the end of July.

[2020-07-02 16:53] vanpelt commented on #1087
Thanks @Xeratec this should be fixed in our new cli library `wandb-ng`.  If you'd like to try it now you can do `pip install wandb-ng` you can find more information here:  https://github.com/wandb/client-ng

[2020-07-02 18:04] wiseyoungbuck commented on #1135
As of today, I am receiving the error: when I attempt to log_and artifact.
`wandb: Wandb version 0.9.2 is available!  To upgrade, please run:
wandb:  $ pip install wandb --upgrade
400 response executing GraphQL.
{"errors":[{"message":"cannot use artifact QXJ0aWZhY3Q6NDc2Nw== as it has not committed","path":["useArtifact"]}],"data":{"useArtifact":null}}
wandb: ERROR Error while calling W&B API: can

[2020-07-02 22:00] coolalexzb commented on #1133
@vanpelt That sounds great. I will try to override the method you mentioned. I decide to add `set_sample_rate_seconds` and `set_samples_to_average` functions to help users to set these two values. Can you show me where users might call these two functions to set time intervals after I add these functions?

[2020-07-02 22:13] annirudh commented on #1135
@wiseyoungbuck Would you mind sharing at a high level what pattern you're using to log an artifact? Our database indicates that `QXJ0aWZhY3Q6NDc2Nw==` was never committed, which can happen if a file failed to upload. If you try reuploading the artifact, subsequent calls to `use_artifact` should work.

I just ran some tests in 0.9.1 using `log_artifact` and `use_artifact` and both seemed to work as

[2020-07-02 22:28] vanpelt commented on #1133
We don't want to add these methods to the library itself.  We'll eventually expose this setting in our UI hence the current logic to look at "dynamic_settings".

[2020-07-03 00:32] aiyolo commented on #1135
yes, I mean 'git commit', I wish wandb can commit directly to the current branch or create a new branch, the commit message would be wandb.name or something related to the current experiment.

[2020-07-03 01:03] aiyolo commented on #1135
To the best of my knowledge, the patch file only contains the changes to the current executive file, e.g. `train.py` , so if we change another file 'lib.py',  the changes of 'lib.py' won't be recorded, so `wandb restore` will never restore the old version of 'lib.py'

[2020-07-03 01:07] maria-korosteleva commented on #1128
Sure
This the view on the dashboard: https://app.wandb.ai/maria_korosteleva/Test-Garments-Reconstruction/runs/4d9v8l8x?workspace=user-maria_korosteleva

This is how I expect the image to be shown: https://app.wandb.ai/maria_korosteleva/Test-Garments-Reconstruction/runs/4d9v8l8x/files/intermediate_preds/skirt_4_panels_WZFFG4GTDC/skirt_4_panels_WZFFG4GTDC_predicted__pattern.png

[2020-07-03 01:35] indigoviolet commented on #1122
@vanpelt : Here's the [colab](https://colab.research.google.com/drive/1thq6pzM-FDMzHaY5gSxmT_jaT3KcEaSA?usp=sharing).

The error happens in the `Train on a custom dataset > Train!` section, you'll have to execute the `Install Detectron2` section to install required packages.

[2020-07-03 10:10] #1087 closed

[2020-07-03 14:53] dHonerkamp commented on #877
I seem to have the same problem with docker and wandb 0.9.2

[2020-07-03 19:55] vanpelt commented on #1135
Hey @aiyolo the patch file is generated by running `git diff` so it should capture all files currently tracked by git in your repo.

[2020-07-03 19:59] vanpelt commented on #1128
Hey Maria, how are you passing the images to `wandb.log`.  Looking at your project, I see the files are being stored in `intermediate_preds`.  We automatically do some pre-processing and store images in `/media/images` when you're passing raw data to `wandb.Image`.  If you pass a path to `wandb.Image` we do that preprocessing if the path is outside of the current `wandb.run.dir`.  I imagine you're

[2020-07-03 20:02] vanpelt commented on #877
Hey @dHonerkamp what issue are you seeing?  Can share the specific commands you ran and any output to your terminal?

[2020-07-03 22:16] EricCousineau-TRI commented on #1135
I've also found myself running training, uploading to wandb, without committing.
The patch file sounds great, but I still may have some info that I want to capture in my commit (beyond just a patch) that I'd like to force myself to write down.

One potential workaround (that I may put in my own code) is to add an `argparse` command like `source_tree_mode={strict,devel}`, where `strict` will just e

[2020-07-03 22:35] EricCousineau-TRI commented on #1101
Thanks!
And sorry for the late update, but I don't think we're seeing this, since we now have the correct version of `tensorboardX` per this comment:
https://github.com/wandb/client/issues/709#issuecomment-643321055

Closing for now, but please feel free to reopen if you think it may impact others!

[2020-07-03 22:38] EricCousineau-TRI commented on #1101
Er, sorry, nvm. I see in the repro above that it has the correct `tensorboardX` version... We haven't been seeing this as of late, though, and I've forgotten what the relevant change was. Will reopen, since the repro code is still relevant (sorry for the noise!).

[2020-07-03 23:38] EricCousineau-TRI commented on #1101
Confirmed that we still see the warnings with correct version of `tensorboardX`, but without the `import wandb.tensorboard` workaround:
[code]

Will see if I can eventually reproduce it separate from larger codebase. Currently, can't :(
https://github.com/EricCousineau-TRI/repro/tree/1c18ac306b359876d9d08757e8fa6553e1cc0733/python/wandb_examples#wandb-and-pkg_resources

[2020-07-03 23:40] EricCousineau-TRI opened #1137 "`wandb.init` does not play well under `bazel test`"
* Weights and Biases version: `wandb, version 0.9.1`
* Python version: Python 3.6.9
* Operating System: Linux

### Description

Just trying to put our usages of `wandb.init` under `bazel test`.

However, when we do that, we get the following:

[code]

### What I Did

See this `repro/.../README` section:
https://github.com/EricCousineau-TRI/repro/tree/3cc6aa5ba70e306b3b1a1660f3f59c07b1eca12d/python

[2020-07-04 07:12] syorami commented on #805
I'm having the same problem. Did you figure out the solution?

[2020-07-04 19:13] vanpelt commented on #805
@syorami you may be getting rate limited.  Can you share the file `wandb/debug.log` and what version of the python library you're using?

[2020-07-05 02:04] syorami commented on #805
I'm using python=3.6.8 wandb=0.9.2. The log file is large and here is part of it:

[code]

`wandb sync` gives this error:

[code]

[2020-07-05 02:06] syorami commented on #805
@vanpelt Actually I found that this uploading file is requesting the minio service at port 9000. So I ran `wandb local -p 9000` and uploading works.

[2020-07-05 05:19] awaelchli opened #1138 "wandb in pytest causes OSError: [Errno 29] Illegal seek"
* Weights and Biases version: 0.9.2
* Python version: 3.7.6
* Operating System: Linux

### Description

Tried to use wanb in pytest here in this PR
https://github.com/PyTorchLightning/pytorch-lightning/pull/2502
The error occurs locally and in the CI on Linux.
On Mac, the CI is simply timing out.

### What I Did

[code]

[2020-07-05 08:04] dHonerkamp commented on #877
Basically I've just been using `wandb-docker-run -d myImage` to run a few runs with wandb.
But when trying to stop one of them through the web interface, the container never seemed to receive this stop signal and simply continued with the run without any indication in the logs.

[2020-07-06 01:26] maria-korosteleva commented on #1128
Yes, you are right, I use an image that is already in the `wandb.run.dir` (sorry, I guess, I oversimplified the original example)

There is one thing I noticed that might be helpful: it looks like the cropping problem is happening purely in the web-page interface. When I right-click on the image and then "Open image in new tab", it shows the full image

If I look at the page code, I can see the bl

[2020-07-06 14:30] erap129 opened #1139 "sweep+pytorch lightning hangs"
`wandb --version 0.9.2 python --version 3.8`

* Weights and Biases version: 0.9.2
* Python version: 3.8
* Operating System: Windows

### Description

Hello, when I try to run a sweep with a model built with Pytorch lightning it always hangs. It never runs even the first configuration.

### What I Did

a minimal working example is in this notebook: [https://github.com/AyushExel/COVID19WB/blob/maste

[2020-07-06 16:14] vanpelt commented on #1128
Hey @maria-korosteleva the sizing error is because of the image already being in the run directory.  We'll look into a fix for this case, but until then if you either pass raw data or a path from outside of wandb.run.dir to `wandb.Image` it should work.

[2020-07-06 16:17] vanpelt commented on #1137
@EricCousineau-TRI it looks like the bazel build is calling `wandb.init` many times, so many times that it's consuming all pty devices.  Do you know how many calls to `wandb.init` end up happening when you run bazel build?

[2020-07-06 16:20] vanpelt commented on #805
What version of `wandb/local` are you running, you can find out at `/system-admin`?  `wandb/local:0.9.19` should have a fix for this issue.

[2020-07-06 16:22] vanpelt commented on #1138
This looks like an error with the generator that's being passed into your trainer.  Is there anything special about the data loader you're using?

[2020-07-06 16:27] vanpelt commented on #1139
Hey @erap129 using sweeps with jupyter notebooks can interact poorly with CUDA / accessing the GPU and hang if any previous code in the notebook attempts to connect to the GPU before calling wandb.agent: https://docs.wandb.com/sweeps/python-api#wandb-agent

We're working on improvements for the case and expect to have a version that addresses this issue by the end of the month.  Until then you can

[2020-07-06 16:29] awaelchli commented on #1138
I don't think so, it should be a regular torch DataLoader. Does wandb inspect the dataloaders? How would it find them? The only thing I can think of is that we use a profiler iterable that wraps the dataloader iterable when looping over it.
https://github.com/PyTorchLightning/pytorch-lightning/blob/9924c76faa7789294811a27c392ba6b33e07f3f1/pytorch_lightning/trainer/training_loop.py#L439

[2020-07-06 16:37] vanpelt commented on #1138
If you run your code without the wandb logger do you get any errors?  This specific piece of code in the stack trace doesn't seem directly related to any code I'm aware of wandb hooking into.

[2020-07-06 16:41] awaelchli commented on #1138
it only happens in pytest when we involve wandb.
if we skip the tests that involve wandb, everything works.
outside of pytest, wandb works very well with pytorch lightning.

so it is really just pytest. I already looked through your pytests here in this repo but could not find any special setting that needs to be triggered. maybe a special env var needs to be set?

[2020-07-06 17:16] awaelchli commented on #1138
@vanpelt
I'm now able to provide a minimal example
[code]
running it with pytest test_wandb.py will throw the OSError

[2020-07-06 17:17] vanpelt commented on #1138
You can try setting `WANDB_DISABLED=true` to make calling `wandb.init` a noop, but future calls to `wandb.log` will likely fail.  I'll try to reproduce today and see if we can do anything else to make this work.

[2020-07-06 18:21] EricCousineau-TRI commented on #1137
Ah, sorry - this code is only meant to test one call to `wandb.init`; the `if SHOW_ERROR` statement is to show the case where it fails (no mocking of `_init_headless`), but should only be called once per process:
https://github.com/EricCousineau-TRI/repro/blob/3cc6aa5ba70e306b3b1a1660f3f59c07b1eca12d/python/wandb_examples/test/wandb_stub_test.py#L56-L57

If I the section here, `wandb.init` should

[2020-07-06 18:28] EricCousineau-TRI commented on #1137
I've added this commit which concretely shows that `wandb.init` is only called once per run of `bazel test`:
https://github.com/EricCousineau-TRI/repro/commit/de29bf3845c6372fcb374ef0e1023f8b7e96d14f

Each time, it prints out `Num calls: 1`.
I think the issue has to do deal with how `bazel test` redirects I/O (for logging), and `wandb`s expectations of having a pty?

[2020-07-06 20:54] MohsenSharifi1991 commented on #1139
I have a similar issue with wandb and sweep. I even tried to run this code my https://github.com/AyushExel/COVID19WB/blob/master/main.ipynb on my windows CPU. Keep getting below error. Appreciate it if you can give feedback on how to resolve this issue.

2020-07-06 14:48:06,322 - wandb.wandb_agent - ERROR - Exception while processing command: {'args': {'learning_rate': {'value': 0.1}, 'model': {'v

[2020-07-06 22:51] vwxyzjn opened #1141 "Issues with gym video logging"
`wandb --version && python --version && uname`
wandb, version 0.9.1
Python 3.7.4
Linux

### Description

There are two issues with the current support for gym logging.

**1) Inconsistent slider steps for the video panel**: The media slider does not allow to use a custom x-axix, resulting in drastic different scale of x-axis for value-based methods vs policy gradient methods. Here are some examples

[2020-07-07 00:42] cvphelps commented on #1141
Hi Costa, thanks for the awesome detailed bug report, and solid suggestion on the solution here.

[2020-07-07 01:03] vwxyzjn commented on #1141
@cvphelps Thanks for the kind words. I am still trying to work on my project on Open RL Benchmark (https://app.wandb.ai/cleanrl/cleanrl.benchmark/reports/benchmark--Vmlldzo0MDcxOA). I hope I will have a major release soon so that I could submit it for potentially being featured in the wandb gallery :)

[2020-07-07 01:54] maria-korosteleva commented on #1128
Great, thank you for the tip!

вт, 7 июл. 2020 г. в 01:15, Chris Van Pelt <notifications@github.com>:

[2020-07-07 04:22] numpee opened #1142 "Issue using step argument in wandb.log()"
* Weights and Biases version: 0.9.2
* Python version: 3.5.2
* Operating System: Linux

### Description

Metric logging is always delayed by 1 step when using the `step=` argument in `wandb.log()`.
I realize this was an issue in Jupyter notebooks, but it still an issue in ordinary Python scripts.
I guess the current workaround is to not set the `step` at all, and log a custom step value, but I stil

[2020-07-07 04:31] vanpelt commented on #1142
Hey @numpee, step is used to determine when to "commit" a step.  We should be commiting the final step when the process exits, it looks like that may be a bug.  If you want the step to "commit" you can pass `commit=True` to your call to wandb.log.  You should only do this if you don't intend to add another metrics to the current step, which in your example looks to be the case.

[2020-07-07 04:53] numpee commented on #1142
@vanpelt Great!
I didn't know there was a `commit=True` argument.
What I can do now is call all the `wandb.log()` for the current step, then pass an empty dictionary and commit the results. This seems to work now :)

For reference, the changed code would be:

[code]

[2020-07-07 04:53] #1142 closed

[2020-07-07 13:14] yoks commented on #1137
To fix pty issue under bazel, you can use `--spawn_strategy=processwrapper-sandbox` flag

[2020-07-07 15:13] awaelchli commented on #1138
`WANDB_DISABLED=true` is not an option for us because we want to test that our wand-wrapper creates the correct file structure

[2020-07-07 15:13] vanpelt commented on #1137
@yoks thanks for the trick!  @EricCousineau-TRI does this work for you?

[2020-07-07 15:29] vanpelt commented on #1138
Ok, for testing we can mock out our run object which should make the tests pass:

[code]

[2020-07-07 21:41] #1138 closed

[2020-07-07 21:41] #1137 closed

[2020-07-07 21:45] cvphelps commented on #1135
Thanks Eric, this is a good suggestion for a helpful function to enforce good git hygiene

[2020-07-07 21:45] #1135 closed

[2020-07-07 21:51] #1112 closed

[2020-07-07 21:54] cvphelps commented on #1104
Hey there, thanks for your message. I don't think we'll be able to switch this for a little while but we're building a better solution for custom graphs which will allow you to customize this behavior.

[2020-07-07 21:54] #1104 closed

[2020-07-07 21:57] #1099 closed

[2020-07-07 21:59] cvphelps commented on #1141
Great, thanks again. Closing this as a duplicate of this ticket: https://github.com/wandb/client/issues/1093

[2020-07-07 21:59] #1141 closed

[2020-07-08 00:33] Nintorac commented on #1112
Just a bit of a pain to manually change multiples of runs but must be done otherwise the runs cannot be visually distinguished. Might make more sense to try and base colours on hyper params but might be tricky to implement.

[2020-07-08 02:05] awaelchli commented on #1138
Thanks @vanpelt, that works!

[2020-07-08 06:43] maria-korosteleva opened #1143 "artifact.download() creates directory with invalid name for Windows [NotADirectoryError]"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.2
* Python version: 3.6.10
* Operating System: Win 10

### Description

The default directory name for downloading an artifact contains colon (e.g. '.\\artifacts\\PointNetpp-on-sampled_1hp1mlx9_checkpoint:v1'), and thus cannot be created on Win, see [Win Naming Conventions](https://docs.microsoft.com/en-us/windows/wi

[2020-07-08 07:44] jarednielsen commented on #1073
Fixed, thank you!

[2020-07-08 07:44] #1073 closed

[2020-07-08 07:46] jarednielsen opened #1144 "Website table displays columns which have no data"
Here's my use case: I accidentally add a faulty field to the config when logging a wandb run. I realize the error, remove the field from my Python config, and delete the run which contained the faulty field. However, the field (which exists in no runs) persists in the table. Is there a way to "refresh" the table so it only loads columns which contain data?

<img width="1200" alt="Screen Shot 2020-

[2020-07-08 22:38] vanpelt commented on #1144
Hey @jarednielsen in upper right hand corner of the table theres a "Magic Wand" icon.  Clicking that should remove all columns that don't contain any information.  I'll keep this open as we should just remove them from the column options when no existing runs contain them.  Let me know if the "Magic Wand" trick doesnt work for your project.

[2020-07-09 02:08] maria-korosteleva opened #1147 "HTTPErrors when accessing & downloading artifacts from wandb.Api()"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.2
* Python version: 3.6.10
* Operating System: Windows 10

### Description
I'm trying to download an artifact using Api().

1. I get an error "Bad Request for url: https://api.wandb.ai/graphql" upon getting artifact object when using API without parameters. This problem seems to be similar to https://github.com/wandb

[2020-07-09 02:47] dicicch opened #1149 "`wandb.agent` generates many runs with 0s runtime"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.1
* Python version: 3.7.6
* Operating System: Windows 10 Build 19041

### Description

Hello. This is my first time using W&B for one of my projects.

I was trying to set up a Sweep for a Scikit-Learn model, `sklearn.svm.SVC` in a Jupyter notebook on JupyterLab.
`jupyter lab --version`: 2.1.4

I set my routine up acc

[2020-07-09 07:28] maria-korosteleva commented on #1128
Hi @vanpelt
I have tried your suggestion to log image with the path from outside the run directory (to `./wandb/intermediate_preds/` to be specific, while run dirs are in `./wandb/<run_dir_name>`)

In the web-interface, I can see that logged images are copied to `/media/images` (so they should have gone through the pre-processing step that you mentioned). But _the visualization is still cropped_ t

[2020-07-09 08:17] SpirinEgor commented on #1118
Hi @HHousen!
I have the same issue. For now, I add this function into main `LightningModule`:
[code]
It will break the `save_top_k` parameter for `ModelCheckpoint`, but at least it uploads files during the training.

Maybe someone from wandb team will tell, how properly sync files on disk with cloud.

[2020-07-09 12:25] tyomhak commented on #1147
Thank you very much for reporting! We'll try to recreate.

[2020-07-09 21:01] vanpelt commented on #1147
We should have a fix in the next release.  The temporary workaround is to include your username in the artifact path. i.e.:

[code]

[2020-07-09 22:14] vukovicnikola commented on #1089
Have there been any updates on this issue in the main client? Or should people experiencing this error continue using wandb-ng?

[2020-07-10 00:55] nbardy commented on #1128
@maria-korosteleva Thanks for reporting the bug. There was an issue with correctly picking up metadata. I've patched the client library so this won't happen in the future.

https://github.com/wandb/client/pull/1152

I'm also going to add a patch the UI to handle the images you've already logged without metadata so they get cropped to a square.

[2020-07-10 01:02] maria-korosteleva commented on #1147
Hi @vanpelt, thanks for the tip.

I've tried your suggestion and just wanted to let you know that I still get the 404 error when I do `artifact.download('./wandb/test-dwld')`: the URL still has None instead of the username. Just in case, I tried with both ways I initialize wandb.API() object  -- with or without parameters -- error is the same.

[2020-07-10 01:09] maria-korosteleva commented on #1128
@nbardy thank you so much! Looking forward to the fix!

[2020-07-10 02:34] tshmak commented on #457
Hi, I have the same problem, and I'm running on ipython. I suppose it's the same as jupyter. I tried setting `os.environ['WANDB_SILENT'] = 'true'`, but that did not work either. @vanpelt, you have some code to share that may solve the problem?

[2020-07-10 02:46] tshmak opened #1153 "Failed to query for notebook name"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.2
* Python version: 3.6.10 :: Anaconda, Inc.
* Operating System: Linux

### Description
According to https://docs.wandb.com/library/integrations/jupyter#notebook-name, you can get rid of the error message

by setting
[code]
However, this did not work when I ran `wandb.init()` after `import torch`.

### What I Did

[c

[2020-07-10 03:56] tshmak commented on #457
Actually, I found that the info can be suppressed following the instructions here: https://docs.wandb.com/library/integrations/jupyter#disable-info-messages-from-wandb-in-jupyter

[2020-07-10 04:49] ThisIsIsaac commented on #994
@vanpelt getting the same error:

[code]

The user I've logged in with has permission to write to '/home/isaac/miniconda3/envs/high_res_stereo'.

I've tried setting `dir=/tmp` and setting `WANDB_DISABLE_CODE`, but I get the same error message.

[2020-07-10 17:52] tyomhak commented on #1149
Hi there, we'll try to recreate and let you know when we find the issue. Meanwhile I would recommend updating your wandb version.

[2020-07-10 18:03] vanpelt commented on #1153
Hey @tshmak if you set WANDB_NOTEBOOK_NAME you should set it to the same as your jupyter notebook.  Since you're not running in a jupyter notebook context and instead directly in ipython you'll always receive the error.  We should be able to detect this case and not dump logs to your console so we'll keep this open.  You can safely ignore the error, everything should *just work without it.  We do

[2020-07-10 18:04] vanpelt commented on #457
We're working on a big new release that will address this issue for good.  It's due out at the end of the month!

[2020-07-10 18:54] vanpelt commented on #994
Can you run `ls -al /home/isaac/miniconda3/envs/high_res_stereo` and paste the output?

[2020-07-10 19:16] tyomhak commented on #1143
Hey Maria, thank you very much for reporting. Filing an internal ticket for this.

[2020-07-10 19:20] cvphelps commented on #1080
Hi! Great news, we're starting to work on a new feature that will make custom plots like what you describe possible. Thanks for this good feature requst

[2020-07-11 08:07] ThisIsIsaac commented on #994
[code]

[2020-07-11 21:50] dicicch commented on #1149
I must also add that if I choose a crashed run from the sweep that I referenced and check the logs they appear to be empty.
![image](https://user-images.githubusercontent.com/29761354/87234445-02a7f700-c39f-11ea-92c0-add7d9cf21c5.png)

[2020-07-13 11:30] sooheon opened #1155 "Repeatedly logging confusion matrix results in overlapping numbers"
`wandb --version && python --version && uname`

* Weights and Biases version: wandb, version 0.9.3
* Python version: Python 3.7.6
* Operating System: Linux

### Description

What I want: log confusion matrix for multiclass predictions on the validation set after every epoch, and have them logged separately so I can flip through them

What happened: The numbers come up overlapped on a single plot:

[2020-07-13 18:50] brentschroeter opened #1156 "CLI `login` command incorrectly triggers interactive prompt"
* Weights and Biases version: 0.9.3
* Python version: 3.6.9, 3.7.8
* Operating System: Ubuntu 18.04, macOS 10.15.3

### Description

From a fresh install, attempting to log in via the command line using `wandb login <valid API key>` should succeed without requiring interactive input. Instead, it prompts for an API key interactively (see below).

The cause can be traced back to the addition of `pub

[2020-07-14 00:24] sooheon commented on #1155
Found a timely post: https://app.wandb.ai/mathisfederico/wandb_features/reports/Visualizing-Confusion-Matrices-with-W%26B--VmlldzoxMzE5ODk

Here the author uses a plotly plot rather than the built in confusion matrix.

[2020-07-14 00:37] lavanyashukla commented on #1155
Hi Sooheon, logging confusion matrices across steps isn't support natively yet. The plotly way recommended by [Mathïs](https://app.wandb.ai/mathisfederico/wandb_features/reports/Visualizing-Confusion-Matrices-with-W%26B--VmlldzoxMzE5ODk) is the recommended way to log them across steps right now.

[2020-07-14 01:36] sooheon commented on #1155
Sounds good.

[2020-07-14 01:36] #1155 closed

[2020-07-14 12:40] Michael-Tanzer opened #1157 "UI makes it impossible to edit 1-line markdown cells without resizing"
Problem related to the *reports'* UI.

### Description

How to reproduce:
 - Create a report
 - Add a markdown cell
 - Resize it to be 1 line tall
 - Try to edit the text

Expected behaviour: clicking the cell should open the editor and allow the user to type on the cell

Observed behaviour: when hovering on the cell the clickable text appears ("_Add images by dragging & dropping or pasting, use $

[2020-07-14 17:20] tyomhak commented on #1156
Thank you very much for reporting! We have filed a ticket for this.
Sorry for the inconvenience.

[2020-07-14 18:16] tyomhak commented on #1157
Hi Michael, thank you very much for reporting. We have filed an internal ticket for this issue.

[2020-07-14 21:38] vanpelt commented on #1147
Hey @maria-korosteleva with the release of wandb 0.9.3 are you still seeing this issue?

[2020-07-14 21:39] vanpelt commented on #1143
This was fixed in version 0.9.3, let us know if you still see this.

[2020-07-14 21:39] #1143 closed

[2020-07-14 22:05] wiseyoungbuck commented on #1153
I also still have this issue using JupyterLab. Seeting the OS environment variable does not fix it either.

[2020-07-15 02:09] maria-korosteleva commented on #1147
@vanpelt the problems are gone in the new release. Thank you very much!

[2020-07-15 02:09] #1147 closed

[2020-07-15 23:03] hongliny commented on #805
Is wandb/local also subject to rate limits?

[2020-07-15 23:47] EricCousineau-TRI commented on #1137
Thanks!
However, I'm not sure how I feel about this as a workaround that I want to either infect other tests with, or add specific filtering logic for.
When I search for `processwrapper-sandbox`, I don't really get any public documentation about it, so I don't know how this stacks against the default spawn strategy of `sandboxed`:
https://docs.bazel.build/versions/master/user-manual.html#strategy-

[2020-07-15 23:57] vanpelt commented on #805
There are default limits implemented in local to avoid overwhelming the server.  They are very high, I believe 200 requests per API key, per second.

[2020-07-16 00:00] vanpelt commented on #1137
We're targeting a big release of our library for next week.  It will include a "noop" mode which will do exactly what you want here.

[2020-07-16 00:05] EricCousineau-TRI commented on #1137
Sweet, thank you!

[2020-07-16 09:34] noklam commented on #531
any update on this issue?

I guess the current `wandb sync` is more like `wandb upload` instead. Sometimes my wandb uploading process is broken, but the local file is intact, so I want to run `wandb sync` to recover full history, but it will create a new experiment instead.

[2020-07-16 11:01] tom-andersson opened #1159 "Passing allow_val_change=True to wandb.init() prevents sweeps from changing hyperparameters"
I'm not sure if this is strictly a bug, but it's certainly not what I would expect.

* Weights and Biases version: 0.9.3
* Python version: 3.7.6
* Operating System: Linux

### Description

Passing `allow_val_change=True` to `wandb.init()` clamps the `config` values to their defaults when running a sweep, and thus no new values are used. The command line inputs introduced by `wandb` seem to be igno

[2020-07-16 12:53] pascal-hwky opened #1160 "TensorFlow 2: TensorBoard import error"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.3
* Python version: 3.6.9
* Operating System: Linux

### Description

I am trying to sync the client with TensorBoard in a Docker container with the TF2.2 base image. However, the client is unable to import TensorBoard, although I can import this package just fine. [Related issue](https://github.com/wandb/client/issu

[2020-07-16 23:15] cvphelps commented on #1139
@borisdayma could you take a look

[2020-07-17 13:36] tyomhak commented on #1159
Hey Tom, thank you very much for reporting!
Filing a ticket for this.

[2020-07-17 18:59] lcannell commented on #1033
I have the same identical issue as SamPruden...any update on this?

[2020-07-17 19:33] tyomhak commented on #1160
Hi there, thank you for reporting. I'm filing an internal ticket for this. We'll look into this and get back to you.

[2020-07-17 22:28] cvphelps commented on #1159
HI there Tom, it sounds like you're passing config values to wandb.init()— could you share your script so we can reproduce this issue?

[2020-07-18 23:47] drozzy opened #1161 "requests.exceptions.ConnectionError"
`wandb, version 0.9.2
Python 3.7.6
Linux`

### Description
Running my usual taining now produces a Connection reset by peer` error. Started happening a week ago or so. I tried version wanbd `0.9.3` and still the same error.

[code]

looking into debug.log I get more stack trace:
[code]

This happens when I run my script from a slurm machine, however, it seems to work on my home machine.
What could

[2020-07-19 17:40] vanpelt commented on #1161
This is either a network or SSL issue on the slurm machine.  Can you try running `curl -v https://api.wandb.ai/healthz` you should see something like:

[code]

[2020-07-19 18:20] abdulsam opened #1162 "Jupyter Notebook— use wandb.login() instead of !wandb login"
I'm using google colab.
![wandb](https://user-images.githubusercontent.com/11463868/87881944-64f59d00-ca1a-11ea-81b4-96e3e2528aab.JPG)

Why is it asking API key for 2 times even after pasting the same key?

[2020-07-19 19:30] vanpelt commented on #1162
Hey @abdulsam what version of the wandb library are you using?  `wandb --version`

[2020-07-20 01:36] drozzy commented on #1161
[code]

[2020-07-20 03:50] abdulsam commented on #1162
version 0.9.3
Which version should I use?

[2020-07-20 04:56] vanpelt commented on #1162
That’s the latest version.  We’ll reproduce and get a fix in.

On Sun, Jul 19, 2020 at 8:50 PM Abdus Samad <notifications@github.com>
wrote:

[2020-07-20 16:16] vanpelt commented on #1161
This looks like an SSL error where the machine doesn't support TLSv1.2.  More information here: https://unix.stackexchange.com/questions/280548/curl-doesnt-connect-to-https-while-wget-does-nss-error-12286/310696#310696 You can likely fix with `apt-get install nss` or `yum update nss`

[2020-07-20 16:50] tyomhak commented on #1033
This is a bug, that we're working on. Running the same code in a script through a cmd should work just fine, but there seems to be an issue with running experiments in a loop in a notebook. Sorry for the inconvenience.

Also, I would suggest upgrading your wandb. The latest version is 0.9.3

[2020-07-21 04:29] vanpelt commented on #1162
In colab, you should be running `wandb.login()` from python instead of starting a shell with `!`.  I just verified that works correctly.  We'll look into the command line case as well.

[2020-07-21 13:54] pedrocolon93 opened #1164 "wandb.watch(model): unwatch and rewatch models with new parameters, using Hugging Face"
`wandb --version && python --version && uname`

wandb, version 0.9.3
Python 3.6.8 :: Anaconda, Inc.
Darwin

### Description

I was trying to unwatch models and rewatch them with new parameters.  I am using the huggingface library which uses wandb.

### What I Did
[code]

self._setup_wandb() is defined basically as:
[code]

Now, looking into unwatch/unhook in the wandb code:
[code]
This is wrong, i

[2020-07-21 17:33] bibbygoodwin opened #1165 "Sweeps: how to run agents using qsub job scheduling"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.1
* Python version: 3.7.7
* Operating System: Centos 6.5

### Description

Trying to run a sweep with `wandb agent`, but through `qsub` on a server. `wandb` command line interface works from login node but is not found by the executed job. Using the workaround https://github.com/lukas/ml-class/issues/24 (using `/path

[2020-07-21 21:36] cvphelps commented on #1165
Hi Walter, thanks for writing in. This is a good question, and it sounds like a complex environment issue. I'm not experienced with `qsub` myself, but I'm cc'ing my colleague @vanpelt who might be able to share some guidance.

[2020-07-21 21:39] cvphelps commented on #1164
Hi Pedro, thanks for diving in to the `wandb.watch()` code, @borisdayma could you take a look?

As for un-watching and re-watching a model, it sounds like you're editing the model during training, is that right? I'd recommend calling wandb.init() to start a new run each time you want to watch a model with new parameters

[2020-07-21 21:42] #1161 closed

[2020-07-21 21:44] vanpelt commented on #1165
Hey @bibbygoodwin you can override the entrypoint in a couple ways.

1.  Instead of running `wandb agent` you can specify the full path to your env:  `/users/me/miniconda3/envs/my_env/bin/wandb agent`
2. The agent itself will use `/usr/bin/env python` to launch the sub process by default.  You can override this in your sweep config if that doesn't work: https://docs.wandb.com/sweeps/configuration#

[2020-07-21 21:59] borisdayma commented on #1164
I can confirm issues with `wandb.unwatch` method. Maybe we should wait for the new CLI?

[2020-07-21 22:33] bibbygoodwin commented on #1165
@vanpelt , thanks so much for that explanation, and it makes a lot of sense. If there's one thing that might be worth looking at (and I don't think this is necessary by any means, as now I've been pointed there, your docs are very clear!) it would be to have `wandb agent` use, by default, the Python in which is is installed/from which it is called. It is somewhat surprising to call:
`/users/me/min

[2020-07-21 23:38] pedrocolon93 commented on #1164
Hi there, the fixed code I think solved the problem (no longer a missing get), but as you said, there needs to be another `init` or else an exception is thrown that the watcher should be reinitialized with a copy.  Is there any reason that you couldn't just add a watch to the new parameters? I am sure there are some internal logistics with references etc.  What I am doing is just changing the `req

[2020-07-22 00:58] hongliny commented on #780
Same problem here: "wandb: Network error (ReadTimeout), entering retry loop."

[2020-07-22 05:07] maria-korosteleva opened #1167 "No file extension when downloading files from artifacts web-interface"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.3
* Python version: 3.6.10
* Operating System: Win10
* Browser: Chrome

### Description

When I try to download a file from artifacts web-interface to my computer, it gets loaded with some hash instead of a name with no file extension, e.g. "dc9067a141a0788057af18ba7033cb39".
This means that I need to do an extra ste

[2020-07-22 08:26] galvinator opened #1168 "Google Colab GPUs and Sweeps"
Hi I'm new to Wandb and I was using it to optimize the hyperparameters of my deep learning model (the library is `simpletransformers`). I'm running the fine-tuning on Google colab.

The following is my code:
[code]

I received the following output

[code]

However, it remains as such even after 1 hour... is sweep meant to take this long? Should I wait longer - and how long?
I'm expecting to see mo

[2020-07-22 15:31] vanpelt commented on #1167
Hey @maria-korosteleva we're working on improvements to the storage layer of artifacts that will address this issue.  We're currently storing the data as content addressable which is the file name you're seeing.  As mentioned in python we're able to rename the file after downloading we'll look into doing this in the UI as well.

[2020-07-22 18:21] vanpelt commented on #1168
This is likely being triggered by the space in your project name.  Can you try running the sweep in a project without a space in the name?

[2020-07-22 18:22] vanpelt commented on #1168
Actually, this is being caused by transformers trying to access the GPU outside of the train function.  If you move your imports into the train function the process should not hang and you'll see multiple trials happening in the output.

[2020-07-22 18:50] galvinator commented on #1168
I tried both of your suggestions but the problem still occurs.

[2020-07-22 20:50] vanpelt commented on #1168
You may have to restart your kernel.  If any code tries to connect to the gpu outside of the `train` function the notebook will hang.  The other alternative is to shell out and call `!wandb agent` and have the code execute a python script instead of a functon.  More details here: https://docs.wandb.com/sweeps/python-api#wandb-agent

[2020-07-22 22:40] yon606 commented on #1168
You need to pass in the sweep ID you created.
You can try to call wandb.agent(sweep_id, train) in a different cell and pass in the sweep_id
e.g.  wandb.agent('9cn721yr', train)

[2020-07-23 21:05] yukw777 opened #1173 "SIGINT handling when used with PyTorch Lightning."
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.3
* Python version: 3.8.2
* Operating System: Darwin

### Description

I'm using PyTorch Lightning with WandB. PyTorch Lightning's training loop catches SIGINT (and others) and gracefully shuts off, allowing the script to continue its execution. This is quite useful b/c you can stop your training in the middle and st

[2020-07-24 18:08] RyleeThompson commented on #1007
Same issue here.

[2020-07-24 22:13] cvphelps commented on #1173
Thanks for reporting. @borisdayma could you take a look?

[2020-07-24 23:52] cvphelps commented on #1173
Hi there, Boris suggests that you try the new version of our client. @raubitsj what would be the recommended way for @yukw777 to try the new CLI?

[2020-07-25 01:53] raubitsj commented on #1173
The new version of the client is available by running the following command:
[code]

[2020-07-26 02:13] sullivancolin opened #1175 "Log markdown for a run to Notes field or similar?"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.2
* Python version: 3.7.7
* Operating System: Darwin

### Description

#### Feature Request

I'd like the ability to programmatically log some markdown for a run.  Preferably, I'd like a way to log markdown information with the run as a whole, instead of associated with a step or other x-axis unit.   Notes are only a

[2020-07-26 02:45] vanpelt commented on #1175
@sullivancolin the notes field accepts valid markdown.  You can pass it to `wandb.init` with the `notes` attribute.  Or you can run this after calling `wandb.init`:

[code]

[2020-07-26 05:50] ZeroCool940711 opened #1176 "Wandb 0.9.x OSError: [Errno 95] Operation not supported"
`wandb --version && python --version && uname`

* Weights and Biases version: 0.9.1, 0.9.2, 0.9.3, 0.9.4, 0.10.0rc1
* Wandb-ng version: 0.0.33, 0.0.36
* Python version: 3.6.9, 3.8.2, 3.8.3
* Operating System: Linux (Ubuntu 18.04, Ubuntu 20.04)

### Description
When trying to run a script that is on a network mounted folder like a Windows share or also from a symbolic link all Wandb versions that a

[2020-07-26 06:07] raubitsj commented on #1176
Thanks for the detailed report.  We have seen a similar issue when using symlinks on windows  so the newer versions (experimental 0.0.33, 0.0.36 and 0.10.0rc1) have a new setting to disable symlinks.

[code]

Please give this a try.  We will try to automatically handle this better in the future.

[2020-07-26 06:18] ZeroCool940711 commented on #1176
@raubitsj thanks for the reply it works now after adding the `settings=wandb.Settings(symlink=False)` to `wandb.init()` , really appreciate the help, :)

I will close this issue as the problem has been solved.

[2020-07-26 06:18] #1176 closed

[2020-07-26 13:13] sullivancolin commented on #1175
I've tried this work around, but keep running into
[code]
 when I get access the run object

[code]

[2020-07-26 17:51] vanpelt commented on #1175
Have you run `wandb login` from the command line?

[2020-07-27 16:33] vanpelt commented on #1175
We fixed the double login command for `wandb login` in version 0.9.4, you should be able to get it by upgrading.  Calling login should write a file to your home directory `~/.netrc` with your credentials which wandb will then read.  If you're able to provide a simple example script that reproduces this issue that would help on our end.  This is really odd, if you're able to log metrics to the clou

[2020-07-27 17:54] yukw777 commented on #1173
with the pre-release (0.10.0rc1) I see this error:
[code]

The issue persists on 0.9.4.

[2020-07-27 18:50] sullivancolin commented on #1175
I found the reason for the error accessing the run object.  It is a collision between the variable name `run` and the `run` command when using Pdb or iPdb debugger.  Changing the variable name of the run object, prevents that spurious error.

Upgrading to 0.9.4 solved the repeated login issue, thanks very much.

However `run.save()` throws an error
[code]
I've can't find any documentation on that

[2020-07-27 22:30] vanpelt commented on #1173
Hey @yukw777 the error looks to be in pytorch lightning itself [here](https://github.com/PyTorchLightning/pytorch-lightning/blob/master/pytorch_lightning/callbacks/model_checkpoint.py#L256).  Are you specifying `save_dir` or `log_model=True` in your instance of WandbLogger?  It might also be caused by not having a name for the logger, I would also try passing `name` to the WandbLogger.  Looking at